@{
    ViewBag.Title = "Disbursement Entry.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/loan-authorization.css" rel="stylesheet" />
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>  
                        <div class="widget-body">
                            <div class="row">
                                    <div class="col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="search-container" style="float:right">
                                            <i class="fa fa-search searchIcon"></i>
                                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                                        </div>
                                    </div>
                                </div>
                            <main-table />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
<script src="~/Scripts/mofJS/loan-disbursement.js?ts = @DateTime.Now.Ticks.ToString()"></script>
<view-dialog-actions />
<view-dialog />
<script>
        loadMainData({
            caller: 'Confirm',
            actionStatus: 'Confirmed in Loan Disbursement',
            rejectionStatus: 'Rejected in Loan Disbursement Entry',
            dataUrl: '@Url.Action("GetLoanApplications", "LoanDisbursement")',
            actionsUrl: '@Url.Action("ActionsLoanDisbursement", "LoanDisbursement")',
            getStatus: {
                status1: 'Legal Reviewed',
                status2: 'Rejected by Loan Disbursement Approver',
                status3: 'Partial Disbursed',
                status4: 'Waiting for Down Payment'
            },
            remarksUrl: '@Url.Action("GetLoanRemarks", "LoanAuthorization")',
            motorRegUrl: '@Url.Action("RegisterMotorVehicleLoanDis", "LoanDisbursement")',
            AmendBenUrl: '@Url.Action("EntryLoanDisbursement", "LoanDisbursement")',
            allAttachmentsUrl: '@Url.Action("GetAllAttachments", "LoanAuthorization")',
            level: 'Loan Disbursement Entry',
            ViewUrl: '@Url.Action("ViewLoanDetails", "ViewLoanApplication")'
        });

    var dt_view_attachments = $('#dt_view_attachments').dataTable()
    $("#dt_view_attachments_wrapper .dt-toolbar").remove();

    var dt_attach = $('#dt_attach').dataTable()
    $("#dt_attach_wrapper .dt-toolbar").remove();

    $("#saveLoader1").toggle(false)

    var dt_view_remarks = $("#dt_view_remarks").dataTable();
    $("#dt_view_remarks_wrapper .dt-toolbar").remove();
</script>
}
