@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Motor Registration</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Application No
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <div class="name-input-container">
                                                        <input type="text" disabled id="ApplicationNo" style="width:300px"
                                                               value="@ViewBag.Loan.ApplicationNo"
                                                               />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Reg. No
                                                <i class="fa fa-times" style="color:white" id="MotorRegNo_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text"  id="MotorRegNo" style="width:300px"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Motor Vehicle Card
                                                <i class="fa fa-times" style="color:white" id="MotorVehicleCard_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="file" id="MotorVehicleCard" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Description
                                                <i class="fa fa-times" style="color:white" id="MotorDesc_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <textarea type="text" id="MotorDesc" style="width:300px" rows="2"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-lg-6 col-sm-12" style="padding-left:6%">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Capacity
                                                <i class="fa fa-times" style="color:white" id="MotorCapacity_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" id="MotorCapacity" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Reg. Date
                                                <i class="fa fa-times" style="color:white" id="MotorRegDate_1"></i>
                                            </td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:262px;padding-left:10px;border:none"
                                                           autocomplete="off" id="MotorRegDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Chasis No.
                                                <i class="fa fa-times" style="color:white" id="MotorChasisNo_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" id="MotorChasisNo" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Brand
                                                <i class="fa fa-times" style="color:white" id="MotorBrand_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="MotorBrand" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <table class="table table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Motor Reg. No</th>
                                        <th>Motor Desc</th>
                                        <th>Motor Capacity</th>
                                        <th>Motor Reg. Date</th>
                                        <th>MotorChasisNo.</th>
                                        <th>MotorBrand</th>
                                        <th>Card</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ 
                                        var i = 0;
                                    }
                                    @foreach (var m in ViewBag.MotorVehicles)
                                    {
                                        i += 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>@m.MotorRegNo</td>
                                            <td>@m.MotorDesc</td>
                                            <td>@m.MotorCapacity</td>
                                            <td>@m.MotorRegDate</td>
                                            <td>@m.MotorChasisNo</td>
                                            <td>@m.MotorBrand</td>
                                            <td>
                                                <a href="/Content/uploads/@m.MotorVehicleCard" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                            </td>
                                            <td><a href="#" onclick="remove(@m.MotorRegistrationId)">Remove</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <hr />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <a class="btn btn-info" href='@Url.Action("ListLoanDisbursement", "LoanDisbursement")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" onclick="saveForm()" id="saveForm">
                                        <i class="fa fa-save"></i>Save
                                        <img src="~/Content/img/loading.gif" id="saveLoader" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>
        var dt_zoom = $('#dt_zoom').dataTable();

        $("#dt_zoom_wrapper .dt-toolbar").remove();

        function zoomLoans() {
            $("#zoomModal").modal("show");
        }
        $("#saveLoader").toggle(false);

        function saveForm() {
            if (formIsValid()) {
                var formData  = new FormData()
                formData.append('MotorRegNo', $("#MotorRegNo").val())
                formData.append('MotorDesc', $("#MotorDesc").val())
                formData.append('MotorCapacity', $("#MotorCapacity").val())
                formData.append('MotorRegDate', $("#MotorRegDate").val())
                formData.append('MotorChasisNo', $("#MotorChasisNo").val())
                formData.append('MotorBrand', $("#MotorBrand").val())
                formData.append('LoanAppId', '@ViewBag.Id')
                formData.append('MotorVehicleCard', $("#MotorVehicleCard")[0].files[0]);
                
                postFormData(formData);
            }
        }

        function postFormData(formData) {
            $("#saveForm").prop('disabled', true);
            $("#saveLoader").toggle(true);
            var url = '@Url.Action("CreateMotorVehicle", "LoanDisbursement")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#saveForm").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Saved Successfully!",{ icon: "success" })
                            .then((m) => {
                               window.location.reload()
                            });
                    } else {
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }

        function formIsValid() {

            var isNotValid = validateInputs([
                '#MotorRegNo',
                '#MotorDesc',
                '#MotorCapacity',
                '#MotorRegDate',
                '#MotorChasisNo',
                '#MotorBrand',
                '#MotorVehicleCard'
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }

            return true
        }

        function validateInputs(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        function remove(Id){
            swal({
                title:'Remove this Item ?',
                buttons: [
                  'NO',
                  'YES'
                ],
                dangerMode: true,
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    removeConfirmed(Id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }


        function removeConfirmed(Id) {
            var url = '@Url.Action("RemoveMotorVehicle", "LoanDisbursement")';
            $.ajax({
                url: url,
                data: {Id},
                type: 'POST',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#saveForm").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Removed Successfully!",{ icon: "success" })
                            .then((m) => {
                                window.location.reload()
                            });
                    } else {
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }


    </script>
}


