@model IFMIS.Areas.IFMISTZ.Models.BudgetDetail



<!-- MAIN CONTENT -->
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @*<div class="col-sm-12"><div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                 <div class="well">*@
                        <div class="col-sm-12">
                            <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">

                                <header>
                                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                    <h2>New Budget Entry </h2>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        @*<div class="col-lg-6 col-sm-6 col-xs-12">*@
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <div class="widget">

                                                <div class="widget-body">
                                                    <div id="registration-form">
                                                        <div class="row">
                                                            <div class="form-group"></div>
                                                            </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">Budget ID </label>
                                                                    @*  @Html.LabelFor(model => model.GlAccount, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                    <div class="col-md-5">
                                                                        @Html.DropDownList("BudgetSummaryId", null, htmlAttributes: new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.BudgetSummaryId, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">Legal Number </label>
                                                                    <div class="col-md-5">
                                                                        @* @Html.DropDownList("LegalNumber", null, htmlAttributes: new { @class = "form-control" })*@
                                                                        @Html.EditorFor(model => model.LegalNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.LegalNumber, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">SubBudgetClass </label>
                                                                    @*  @Html.LabelFor(model => model.GlAccount, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                    <div class="col-md-5">
                                                                        @Html.DropDownList("SubBudgetClass", null, htmlAttributes: new { @class = "form-control" })
                                                                        @Html.ValidationMessageFor(model => model.SubBudgetClass, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">Apply Date </label>
                                                                    @*  @Html.LabelFor(model => model.GlAccount, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                    <div class="col-md-5">
                                                                        <i class="icon-append fa fa-calendar"></i>
                                                                        @Html.EditorFor(model => model.ApplyDate, new { htmlAttributes = new { @class = "form-control", @name = "finishdate", @id = "finishdate" } })
                                                                        @*@Html.EditorFor(model => model.ApplyDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                        @Html.ValidationMessageFor(model => model.ApplyDate, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">GlAccount </label>
                                                                    @*  @Html.LabelFor(model => model.GlAccount, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                    <div class="col-md-5">
                                                                        @Html.EditorFor(model => model.GlAccount, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.GlAccount, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">GlAccountDesc </label>
                                                                    @*  @Html.LabelFor(model => model.GlAccount, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                    <div class="col-md-5">
                                                                        @Html.EditorFor(model => model.GlAccountDesc, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.GlAccountDesc, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">Amount </label>
                                                                    @*@Html.LabelFor(model => model.OperationalAmount, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                    <div class="col-md-5">
                                                                        @Html.EditorFor(model => model.OperationalAmount, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.OperationalAmount, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5">Currency </label>
                                                                    @*<div class="col-md-12">*@
                                                                    <div class="col-md-5">
                                                                        @Html.EditorFor(model => model.OperationalCurrency, new { htmlAttributes = new { @class = "form-control" } })
                                                                        @Html.ValidationMessageFor(model => model.OperationalCurrency, "", new { @class = "text-danger" })
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-5"> </label>
                                                                    <span class="input-icon icon-right">
                                                                        <input type="submit" value="Save Details" name="Save" class="btn btn-default" />
                                                                    </span>
                                                                </div>
                                                            </div>

                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*</div>*@
                                        @*<form id="order-form" class="smart-form" novalidate="novalidate">
                                            <header>
                                                Order services
                                            </header>

                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            @Html.DropDownList("BudgetSummaryId", null, htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.BudgetSummaryId, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            @Html.EditorFor(model => model.ApplyDate, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.ApplyDate, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-envelope-o"></i>
                                                            @Html.DropDownList("SubBudgetClass", null, htmlAttributes: new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(model => model.SubBudgetClass, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-phone"></i>
                                                           @Html.EditorFor(model => model.GlAccount, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.GlAccount, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="select">
                                                            <select name="interested">
                                                                <option value="0" selected="" disabled="">Interested in</option>
                                                                <option value="1">design</option>
                                                                <option value="1">development</option>
                                                                <option value="2">illustration</option>
                                                                <option value="2">branding</option>
                                                                <option value="3">video</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="select">
                                                            <select name="budget">
                                                                <option value="0" selected="" disabled="">Budget</option>
                                                                <option value="1">less than 5000$</option>
                                                                <option value="2">5000$ - 10000$</option>
                                                                <option value="3">10000$ - 20000$</option>
                                                                <option value="4">more than 20000$</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            @Html.EditorFor(model => model.GlAccount, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.GlAccount, "", new { @class = "text-danger" })
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" name="finishdate" id="finishdate" placeholder="Expected finish date">
                                                        </label>
                                                    </section>
                                                </div>

                                                <section>
                                                    <div class="input input-file">
                                                        <span class="button"><input id="file2" type="file" name="file2" onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input type="text" placeholder="Include some files" readonly="">
                                                    </div>
                                                </section>

                                                <section>
                                                    <label class="textarea">
                                                        <i class="icon-append fa fa-comment"></i>
                                                        <textarea rows="5" name="comment" placeholder="Tell us about your project"></textarea>
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Validate Form
                                                </button>
                                            </footer>
                                        </form>*@

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <!-- Button trigger modal -->
                                    <input type="submit" value="Add New" class="btn btn-success pull-right " />
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    @*<div class="row">

                        <div class="col-sm-12">
                            <div class="well">

                                <div class="row">
                                    <div class="jarviswidget jarviswidget-color-blue" id="wid-id-3" data-widget-editbutton="false">

                                        <header>
                                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                            <h2>Budgeted Line Items</h2>

                                        </header>

                                        <!-- widget div-->
                                        <div>

                                            <!-- widget edit box -->
                                            <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->

                                            </div>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body no-padding">

                                                <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th data-hide="phone">ID</th>
                                                            <th data-class="expand">Cost Centre</th>
                                                            <th>Cost Centre Desc</th>
                                                            <th data-hide="phone">GLAccount</th>
                                                            <th data-hide="phone,tablet">Account Description</th>
                                                            <th data-hide="phone,tablet">Amount</th>
                                                            <th data-hide="phone,tablet">Currency</th>
                                                            <th data-hide="phone,tablet">Comfirm ALL</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.)
                                                        {
                                                            <tr>
                                                                <td>1</td>
                                                                <td>@Html.DisplayFor(modelItem => item.CostCentre)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.CostCentreDesc)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.GlAccount)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.GlAccountDesc)</td>
                                                                <td align="right">@Html.DisplayFor(modelItem => item.OperationalAmount)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.OperationalCurrency)</td>
                                                                <td><input type="checkbox" id="chkcomfirm"/></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                            <!-- end widget content -->

                                        </div>
                                        <!-- end widget div -->

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>*@

                    <!-- end row -->

</section>
    <!-- end widget grid -->
   
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            // PAGE RELATED SCRIPTS

            // switch style change
            $('input[name="checkbox-style"]').change(function () {
                //alert($(this).val())
                var $this = $(this);

                if ($this.attr('value') === "switch-1") {
                    $("#switch-1").show();
                    $("#switch-2").hide();
                } else if ($this.attr('value') === "switch-2") {
                    $("#switch-1").hide();
                    $("#switch-2").show();
                }

            });

            // tab - pills toggle
            $('#show-tabs').click(function () {
                var $this = $(this);
                if ($this.prop('checked')) {
                    $("#widget-tab-1").removeClass("nav-pills").addClass("nav-tabs");
                } else {
                    $("#widget-tab-1").removeClass("nav-tabs").addClass("nav-pills");
                }

            });

        });

    </script>
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        /* // DOM Position key index //

        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class

        Also see: http://legacy.datatables.net/usage/features
        */

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $('#dt_basic').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            }
        });

        /* END BASIC */

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            //"bFilter": false,
            //"bInfo": false,
            //"bLengthChange": false
            //"bAutoWidth": false,
            //"bPaginate": false,
            //"bStateSave": true // saves sort state using localStorage
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_fixed_column) {
                    responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_fixed_column.respond();
            }

        });

        // custom toolbar
        $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();

        });
        /* END COLUMN FILTER */

        /* COLUMN SHOW - HIDE */
        $('#datatable_col_reorder').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_col_reorder) {
                    responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_col_reorder.respond();
            }
        });

        /* END COLUMN SHOW - HIDE */

        /* TABLETOOLS */
        $('#datatable_tabletools').dataTable({

            // Tabletools options:
            //   https://datatables.net/extensions/tabletools/button_options
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "oTableTools": {
                "aButtons": [
                "copy",
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "SmartAdmin PDF Export",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_tabletools) {
                    responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_tabletools.respond();
            }
        });
        var $orderForm = $("#order-form").validate({
            // Rules for form validation
            rules: {
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true
                },
                interested: {
                    required: true
                },
                budget: {
                    required: true
                }
            },

            // Messages for form validation
            messages: {
                name: {
                    required: 'Please enter your name'
                },
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                phone: {
                    required: 'Please enter your phone number'
                },
                interested: {
                    required: 'Please select interested service'
                },
                budget: {
                    required: 'Please select your budget'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

        // START AND FINISH DATE
        $('#startdate').datepicker({
            dateFormat: 'dd.mm.yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#finishdate').datepicker('option', 'minDate', selectedDate);
            }
        });

        $('#finishdate').datepicker({
            dateFormat: 'dd.mm.yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#startdate').datepicker('option', 'maxDate', selectedDate);
            }
        });

        /* END TABLETOOLS */

    })

    </script>
}