@model IFMIS.Areas.IFMISTZ.Models.BudgetDetail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .searchContainer {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .searchIcon {
        padding: 0.5rem;
    }

    .searchBox {
        border: 0;
        padding: 0.5rem 0.5rem 0.5rem 0;
        padding: 8px;
        flex: 1;
    }

    .searchButton {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 0.5rem;
        padding: 8px;
        border-radius: 0;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .action-btn {
        width: 100px;
        background-color:#2196F3;
        color: white;
    }

    .action-btn2 {
        border-radius: 10px;
    }

    .swal-button--confirm {
        background-color: #4CAF50 !important;
    }

    .swal-button--cancel {
        background-color: #F44336 !important;
        color: #fff !important;
    }

    .swal-title {
        font-size: 20px !important;
    }

    .swal-text {
        font-size: 15px !important;
    }

    .swal-icon {
        width: 66px !important;
        height: 70px !important;
    }*/
      .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Edit Budget Line</h2>
                    </header>
                    <div>
                        @using (Html.BeginForm())

                        {
                            @Html.AntiForgeryToken()

                            <div class="widget-body " style="padding-top:10px">
                                @if (ViewBag.Error != null)
                                {
                                    <div class="well form-horizontal">
                                        <div class="form-group">
                                             <h3 style="color:red">@ViewBag.Error</h3> 
                                        </div>
                                    </div>
                                }
                                <table class="table table-striped">
                                    <tr>
                                        <td colspan="1">
                                            
                                            <fieldset>
                                                <div class="well form-horizontal">
                                                    @Html.HiddenFor(model => model.BudgetDetailId)
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Budget Type</label>
                                                        <div class="col-md-5">
                                                            @Html.DropDownList("JournalType", null,  new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.JournalType, "", new { @class = "text-danger" })
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Apply Date</label>
                                                        <div class="col-md-5">
                                                            @Html.EditorFor(model => model.ApplyDate, "_ShortDateTime", new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                                            @Html.ValidationMessageFor(model => model.ApplyDate, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Sub Budget Class</label>
                                                        <div class="col-md-5">
                                                            @Html.DropDownList("SubBudgetClass", null, new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.SubBudgetClass, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Amount</label>
                                                        <div class="col-md-5">
                                                                @Html.EditorFor(model => model.OperationalAmount, null, new { @class = "form-control", @required = "required", @style = "width:255px" })
                                                                @Html.ValidationMessageFor(model => model.OperationalAmount, "", new { @class = "text-danger" })
                                                           
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Currency</label>
                                                        <div class="col-md-5">
                                                                @Html.DropDownList("OperationalCurrency", null, new { @class = "form-control", @required = "required" })
                                                                @Html.ValidationMessageFor(model => model.OperationalCurrency, "", new { @class = "text-danger" })
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                        <td colspan="1">

                                            <fieldset>
                                                <div class="well form-horizontal">

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Cost Centre </label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("CostCentre", null, new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.CostCentre, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Activity </label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("Activity", null, new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">
                                                            <a class="submit-btn" onclick="SearchGLaccount()" href="#">
                                                                <i class="fa fa-search searchIcon"></i>
                                                                Search GL Account
                                                            </a>
                                                        </label>
                                                        <div class="col-md-6">
                                                            @Html.EditorFor(model => model.GlAccount, null, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                                                            @Html.ValidationMessageFor(model => model.GlAccount, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">GL Account Description</label>
                                                        <div class="col-md-6">
                                                            @Html.EditorFor(model => model.GlAccountDesc, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = "readonly" } })
                                                            @Html.ValidationMessageFor(model => model.GlAccountDesc, "", new { @class = "text-danger" })


                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-actions">
                                    <div class="row">
                                        <div clss="col-md-4">

                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-info" id="back" style="float:left; margin-right:5px">
                                                <i class="glyphicon glyphicon-arrow-left"></i>@Html.ActionLink("Back", "BudgetDetailsList", "budgetdetails", new { area = "ifmistz" }, null)
                                            </button>
                                            <button type="submit" class="btn btn-info" id="form_submision" style="float:left">
                                                <i class="fa fa-save"></i>Save
                                            </button>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        }
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>
<!----------- Search Glaccounts ----------------->
<div class="modal fade" id="GlaccountModal" style="left:4%">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content panel-info">


            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search GLAccount</h3>

            </div>
            <div class="modal-body">

                <table class="table" id="dt_search_glaccount" style="width:50%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>DrGfsCode</th>
                            <th>DrCoa</th>
                            <th>DrCoaDesc</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-150" data-dismiss="modal">
                    Dismiss
                </button>
            </div>
        </div>
    </div>
</div>

<!--------MODAL ERROR-->
<div class="modal fade" id="FormError" style="left:4%">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content panel-info">


            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Form Error </h3>

            </div>
            <div class="modal-body">

                <table class="table" id="dt_search_glaccount" style="width:50%;">
                    <tr>
                        <td>
                            <h3 style="color:red">@ViewBag.Error</h3> 
                        </td>
                    </tr>
                    
                </table>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-150" data-dismiss="modal">
                    Dismiss
                </button>
            </div>
        </div>
    </div>
</div>
<!--- HIDDEN SECTION -->

@section pagespecific {
    <script type="text/javascript">
      
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        //$('#OperationalAmount').autoNumeric('init');

        $(document).ready(function () {
            $("#Book").attr('value', 'BUDGET');
            //var opamount = document.getElementById("OperationalAmount").value;
            //var OperationAmount = opamount.replace(/\,/g, '');
            //document.getElementById("OperationalAmount").value = OperationAmount;
            $("#OperationalAmount").autoNumeric({ aNeg: "-" }).trigger("change");
        });

        $('#ApplyDate').datepicker({
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#ApplyDate').datepicker('option', 'minDate', selectedDate);
            }
        });
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        function SearchGLaccount() {
            $('#GlaccountModal').modal('show');
        }
        function showFormError() {
            $('#FormError').modal('show');
        }
        

        // ============= SEARCH GLACCOUNT ===========

    
        var dt_search_payee = $('#dt_search_glaccount').dataTable({
            "autoWidth": true,
            "searching": true,
            "bPaginate": false,
            "info": true,
        });
        $.ajax({
            type: "get",
            url: '@Url.Action("GetGLAccount", "BudgetDetails")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                console.log(response);
                var data = response;
                //dt_search_glaccount.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_search_glaccount.fnAddData([i,
                       data[i]["DrGfsCode"],
                       data[i]["DrCoa"],
                       data[i]["DrCoaDesc"],

                       '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'

                    ]);
                }
            }
        });



        function payeeClicked(rowId) {
            var data = dt_search_payee.DataTable().rows().data();
            var row = data.rows(rowId).data()[0];
            console.log(row[2]);

            $("#glAccount").attr('value', row[2]);
            $("#glAccountdesc").attr('value', row[3]);
            $("#GlaccountModal").modal("hide");
        }



    </script>
}