
@{
    ViewBag.Title = "Create PY15 Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td class="form-label">
                                                Agency Code:
                                                <i class="fa fa-times" style="color:white" id="agencycode1"></i>
                                            </td>
                                            <td>

                                                <input type="text" id="AgencyCode" class="form-control" />

                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                TIN Number:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="TinNumber" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payment Month:
                                                <i class="fa fa-times" style="color:white" id="paymentMonth1"></i>
                                            </td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:262px;padding-left:10px;border:none"
                                                           id="paymentMonth">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                Percentage:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="percentage" class="form-control" disabled />
                                            </td>
                                        </tr>


                                        @*<tr>
                                                <td class="form-label">
                                                    Sub Budget Class From
                                                    <i class="fa fa-asterisk" style="color:white;" id="errorBudgetClassfrom"></i>
                                                </td>
                                                <td>
                                                    <select id="SubBudgetClass" style="width:300px">
                                                        <option value="Please choose sub budget class" selected="selected">Please choose sub budget class</option>
                                                        @foreach (var subBudgetClass in ViewBag.subBudgetClassList)
                                                        {
                                                            <option value='@subBudgetClass.SubBudgetClass'>
                                                                @subBudgetClass.SubBudgetClassSubBudgetClassDesc
                                                            </option>

                                                        }
                                                    </select>
                                                </td>
                                            </tr>*@

                                        <tr>
                                            <td class="form-label">
                                                Payment Description:
                                                <i class="fa fa-times" style="color:white" id="PaymentDescription_1"></i>
                                            </td>
                                            <td>
                                                <textarea rows="2" id="PaymentDescription" style="width:300px;" maxlength="80"></textarea><br />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Apply Date:
                                                <i class="fa fa-times" style="color:white" id="applyDate1"></i>
                                            </td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:262px;padding-left:10px;border:none"
                                                           id="applyDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="col-lg-6 col-sm-12 ">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Agency Description:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="AgencyDescription" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Expenditure Account:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="ExpenditureAccount" class="form-control" disabled />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Total Deduction:
                                                <i class="fa fa-times" style="color:white" id="ded1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="TotalDeduction" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                Agency Fee:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="agencyfee" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payment Amount:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="paymentAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="btn btn-info" href='@Url.Action("Py15PaymentList", "PY15Payment")' style="margin-right:5px">
                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                        </a>
                                        <button type="submit" class="btn btn-info" id="btnSave">
                                            <i class="fa fa-save"></i>Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>



@section pagespecific{
    <script>
        $(document).ready(function () {
            var url = '@Url.Action("GetAgency", "PY15Payment")';
            debugger;
            $("#AgencyCode").select2({
                minimumInputLength: 2,
                width: 'resolve',
                ajax: {
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: function (searchQuery) {
                        return {
                            searchQuery: searchQuery,
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data.agency
                        };
                    }
                }
            });
        });

        $("#AgencyCode").change(function () {
            debugger;
            var id = $(this).val();

            $.ajax({
                type: "get",
                url: '@Url.Action("GetAgencyDetails", "PY15Payment")' + "/?id=" + id,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    debugger;
                    console.log(data);
                    $("#AgencyDescription").val(data.AgencyDesc);
                    $("#TinNumber").val(data.AgencyTinNo);
                    $("#ExpenditureAccount").val(data.ExpenditureGLAccount);
                },

                error: function (response) {
                    swal(response);
                    return false;
                }

            });

        });

        $("#paymentMonth").change(function () {
            debugger;
            var month = $(this).val();
            var agencycode = $("#AgencyCode").val();
            if (agencycode == '') {

                swal("The Agency Code is required", { icon: "warning" }).then((e) => {
                });
                return false;
            }
            $.ajax({
                type: "get",
                url: '@Url.Action("GetAgencypaymentdetails", "PY15Payment")' + "/?tarehe=" + month + "&&agencycode=" + agencycode,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    debugger
                    if (response.response == "Success") {
                        debugger
                        console.log(response.data)
                        data = response.data;
                        $("#percentage").val(data.PercentageFee);
                        $("#TotalDeduction").val(data.SumAgcyDeducts.toLocaleString());
                        $("#agencyfee").val(data.AgencyFee.toLocaleString());
                        $("#paymentAmount").val(data.PaymentAmount.toLocaleString());
                        //$("#paymentMonth").val(data.PaymentMonth);

                    } else {
                        swal(response, { icon: "warning" }).then((e) => {
                        });
                    }

                },

                error: function (response) {
                    swal(response);
                    return false;
                }

            });

        });



        $("#btnSave").click(function () {
            debugger
            var agencycode = $("#AgencyCode").val();
            var agencydesc = $("#AgencyDescription").val();
            var tinnumber = $("#TinNumber").val();
            var expAccount = $("#ExpenditureAccount").val();
            var percentage = $("#percentage").val();
            var totaldeduction = $("#TotalDeduction").val();
            var agencyfee = $("#agencyfee").val();
            var paymentamount = $("#paymentAmount").val();
            //var sbc = $("#SubBudgetClass").val();
            var applyDate = $("#applyDate").val();
            var paymentdesc = $("#PaymentDescription").val();

            if (agencycode == '') {
                swal("Agency Code is Required")
                    .then((j) => {
                        $("#AgencyCode").focus();
                        $("#AgencyCode").css({ 'border-color': 'red' });
                    });
            } else if (agencydesc == '') {
                swal("Agency Description is Required")
                    .then((j) => {
                        $("#AgencyDescription").focus();
                        $("#AgencyDescription").css({ 'border-color': 'red' });
                    });
            } else if (tinnumber == '') {
                swal("TIN Number is Required")
                    .then((j) => {
                        $("#TinNumber").focus();
                        $("#TinNumber").css({ 'border-color': 'red' });
                    });
            } else if (expAccount == '') {
                swal("Expenditure Account is Required")
                    .then((j) => {
                        $("#ExpenditureAccount").focus();
                        $("#ExpenditureAccount").css({ 'border-color': 'red' });
                    });
            } else if (paymentdesc == '') {
                swal("PaymentDescription is Required")
                    .then((j) => {
                        $("#PaymentDescription").focus();
                        $("#PaymentDescription").css({ 'border-color': 'red' });
                    });
            }
            else if (applyDate == '') {
                swal("Apply Date is Required")
                    .then((j) => {
                        $("#applyDate").focus();
                        $("#applyDate").css({ 'border-color': 'red' });
                    });
            }
            else {

                $("#AgencyCode").css({ 'border-color': '' });
                $("#AgencyDescription").css({ 'border-color': '' });
                $("#TinNumber").css({ 'border-color': '' });
                $("#ExpenditureAccount").css({ 'border-color': '' });
                $("#PaymentDescription").css({ 'border-color': '' });
                $("#percentage").css({ 'border-color': '' });
                $("#TotalDeduction").css({ 'border-color': '' });
                $("#agencyfee").css({ 'border-color': '' });
                $("#applyDate").css({ 'border-color': '' });

                var form_data = {

                    "AgencyId": $("#AgencyCode").val(),
                    "AgencyDesc":$("#AgencyDescription").val(),
                    "AgencyTinNo":$("#TinNumber").val(),
                    "ExpenditureGLAccount":$("#ExpenditureAccount").val(),
                    "AgencyPercentage":$("#percentage").val(),
                    "SumAgcyDeducts":$("#TotalDeduction").val(),
                    "AgencyFee":$("#agencyfee").val(),
                    "PaymentAmount": $("#paymentAmount").val(),
                    "SubBudgetClass":$("#SubBudgetClass").val(),
                    "ApplyDate": $("#applyDate").val(),
                    "PaymentMonth": $("#paymentMonth").val(),
                    "PaymentDescription":$("#PaymentDescription").val(),
                }

                var url = '@Url.Action("CreatePY15Payment", "PY15Payment")';
                var urlList = '@Url.Action("Py15PaymentList", "PY15Payment")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { vm: form_data },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        } else {
                            swal(response, { icon: "warning" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }

                    },
                    failure: function (error) {

                        swal(error);
                    }
                });
            }

        });




    </script>
}


