
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail";
}
<link href="~/Content/css/exemption-request.css" rel="stylesheet" />
<link href="~/Content/css/custome-tabs.css" rel="stylesheet" />
<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        min-width: 200px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div style="border:1px solid #ccc;background-color:white">
            <div class="widget-body">
                <div class="tab row-align">
                    <div style="width:100%">
                        <button class="tablinks" onclick="switchTab(event, 'DebtInfo')" id="defaultOpen" style="width:100%">Information</button>
                    </div>
                    <div style="width:100%">
                        <button class="tablinks" onclick="switchTab(event, '_Remarks')" style="width:100%">Remarks</button>
                    </div>
                </div>
                <div style="height:2px;background-color:#2196F3"></div>
                <div id="DebtInfo" class="tabcontent">
                    <div class="detail-section">
                        <div class="row-align">
                            <div style="max-width:500px">
                                <table>
                                    <tr>
                                        <td class="sect-label">Transaction Number:</td>
                                        <td>@ViewBag.payment.TransactionNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Agency Code:</td>
                                        <td>@ViewBag.payment.AgencyCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Percentage Fee:</td>
                                        <td>@ViewBag.payment.AgencyPercentage</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payment Amount:</td>
                                        <td>@string.Format("{0:#,0.00}", ViewBag.payment.PaymentAmount)</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Apply Date:</td>
                                        <td>@ViewBag.payment.ApplyDateFormatted</td>
                                    </tr>




                                    <tr>
                                        <td class="sect-label">Payee Code:</td>
                                        <td>@ViewBag.payment.PayeeCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Bank Account:</td>
                                        <td>@ViewBag.payment.PayeeBankAccount</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee BIC:</td>
                                        <td>@ViewBag.payment.PayeeBIC</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payment Description:</td>
                                        <td>@ViewBag.payment.PaymentDescription</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">SubBudgetClass:</td>
                                        <td>@ViewBag.payment.SubBudgetClass</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Expenditure Account:</td>
                                        <td>@ViewBag.payment.ExpenditureGlAccount</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payable Account:</td>
                                        <td>@ViewBag.payment.PayableGlAccount</td>
                                    </tr>


                                </table>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="sect-label">Agency Name:</td>
                                        <td>@ViewBag.payment.AgencyName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">TIN Number:</td>
                                        <td>@ViewBag.payment.AgencyTinNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Total Deduction:</td>
                                        <td>@string.Format("{0:#,0.00}", ViewBag.payment.TotalDeduction)</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Retained Amount:</td>
                                        <td>@string.Format("{0:#,0.00}", ViewBag.payment.RetainedAmount)</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payment Month:</td>
                                        <td>@ViewBag.payment.PaymentMonthFormatted</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payee Name:</td>
                                        <td>@ViewBag.payment.Payeename</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Bank Name:</td>
                                        <td>@ViewBag.payment.PayeeBankName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">OverallStatus:</td>
                                        <td>@ViewBag.payment.OverallStatus</td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="_Remarks" class="tabcontent">
                    <div class="detail-section">
                        <div class="section-content">
                            <div class="chat-list">

                                @foreach (var item in ViewBag.Remarks)
                                {
                                    @*<div class="row">
                                        <div class="col-sm-2">
                                            <div style="float:right">
                                                <div style="font-weight:900;color:#2196F3">@item.CreatedBy</div>
                                                <div> <span style="font-weight:900">Level:</span> @item.RemarkLevel</div>

                                                <div>
                                                    <span style="font-weight:900">Status:</span>
                                                    @if (item.Status.Contains("Reject"))
                                                    {
                                                        <strong style="color:red">Rejected</strong> }
                                                    else
                                                    {
                                                        <strong style="color:#2196F3">Confirmed</strong>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="speech-bubble col-sm-8" style="font-size:medium;color:#000">
                                            @item.Remark
                                            <br />
                                            <div style="display:flex;justify-content:space-between">
                                                <div>
                                                    @if (item.AttachmentRef != null)
                                                    {
                                                        <a href="~/Content/uploads/@item.AttachmentRef" target="_blank">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                            @item.AttachmentName
                                                        </a>
                                                    }
                                                </div>
                                                <div>
                                                    <i><span style="float:right;font-size:13px">~ @item.CreatedAt.ToString("dd/MM/yyyy")</span></i>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-2"></div>
                                    </div>*@
                                    /////////////////------------------------------/////////////
                                    


                                    //////////////////////---------------------//////

                                    <div class="row" style="width: 100.3%; border-bottom: 1px solid #d2cece; margin-right: -14px; margin-left: -1px;">

                                        <div class="col-md-4" style="width: 36%;">
                                            <div class="userProfil" style="margin-left: 9px; margin-top: 12px;">
                                                @*<img src="~/Images/" class="img-circle" style="width: 46px; height: 53px; border: 1px solid #bcb8b8;" />*@
                                                <a href="#" style="margin-left: 5px; font-weight: bold; font-size: 13px;"> @item.CreatedBy </a>
                                                @*<div> <span style="font-weight:900">Le:</span> @item.RemarkLevel</div>*@

                                                <div>
                                                    <span style="font-weight:900">Action:</span>
                                                    @if (item.Status.Contains("Reject"))
                                                    {
                                                        <strong style="color:red">Rejected</strong> }
                                                    else
                                                    {
                                                        <strong style="color:#2196F3">Confirmed</strong>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-7" style="width: 32%;">
                                            <div class="commentDetails">
                                                <p style="margin-top: 27px; font-size: 13px; color: #9c9898;"> @item.Remark </p>
                                            </div>
                                        </div>

                                        <div class="col-md-1" style="width: 32%;">
                                            <div class="commentDetails">
                                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                                <time class="timeago" style="margin-top: 27px; font-size: 13px; color: #9c9898;  margin-left: 4px;" datetime="@item.CreatedAt">@item.CreatedAt</time>

                                            </div>
                                        </div>

                                    </div>



                                    <br />
                                }


                            </div>
                                </div>
                    </div>
                </div>
               
            </div>
            <hr />
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <a class="btn btn-info btn-size" style="margin-right:5px" onclick="window.history.back()">
                        <i class="glyphicon glyphicon-arrow-left ico"></i>Back
                    </a>
                    @if (ViewBag.actionLabel == "Confirm")
                    {
                        @*<a class="btn btn-info btn-size" style="margin-right:5px" onclick="_cancel('@ViewBag.payment.PaymentId')">
                            <i class="fa fa-times ico"></i>Cancel
                        </a>*@
                        @*<a class="btn btn-info  btn-size" style="margin-right:5px" onclick="_edit('@ViewBag.payment.PaymentId')">
                            <i class="fa fa-edit ico"></i>Edit
                        </a>*@
                    }
                    else
                    {
                        <a class="btn btn-info btn-size" style="margin-right:5px" onclick="_reject('@ViewBag.payment.PaymentId','Rejected')">
                            <i class="fa fa-times ico"></i>Reject
                        </a>
                    }
                    @if (ViewBag.actionLabel == "Confirm")
                    {
                        <a class="btn btn-info" onclick="_confirm('@ViewBag.payment.PaymentId','Confirmed')">
                            <i class="fa fa-check"></i>@ViewBag.actionLabel
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-info" onclick="_approve('@ViewBag.payment.PaymentId','Approved')">
                            <i class="fa fa-check"></i>@ViewBag.actionLabel
                        </a>
                    }

                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="viewActionModal" style="left:4%;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Comment</h3>
            </div>
            <div class="modal-body">

                <div class="widget-body ">

                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <textarea type="text" id="Remarks" style="width:300px" rows="2" maxlength="350" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Attachment
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="confirmSave()">

                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">

                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/mofJS/custome-tabs.js"></script>

@section pagespecific {
    <script>

        $(function () {
            document.getElementById("defaultOpen").click();
            $("#saveLoader").toggle(false);
        })



     var selectedItemId = 0
     var ation = ""

     function _confirm(Id,a) {
         selectedItemId = Id
         actionType = "Confirm"
         action = a
         $('#viewActionModal').modal('show');
        }

        function _approve(Id, a) {
            selectedItemId = Id
            actionType = "Approve"
            action = a
            $('#viewActionModal').modal('show');
        }

     function _reject(Id, a) {
         selectedItemId = Id
         actionType = "Reject"
         action = a
         $('#viewActionModal').modal('show');
     }
        function _cancel(Id) {
         debugger
         selectedItemId = Id
         actionType = "Cancel"
         action = "Cancelled"
         $('#viewActionModal').modal('show');
     }

     function confirmSave() {
         if ($("#Remarks").val() == '') {
             $("#Remarks").attr("style", "border-color: red;");
         } else {
             swal({
                 title: 'Are you sure you want to ' + actionType + ' this Payment?',
                 icon: 'warning',
                 buttons: ['NO', 'YES'],
                 dangerMode: true,
             }).then(function (isConfirmed) {
                 if (isConfirmed) {
                     confirmPost()
                 } else {
                     swal("Cancelled", "No change was made", { icon: "warning" });
                 }
             });
         }
     }

        function confirmPost(Ids) {
         debugger
         $.ajax({
             type: "POST",
             url: '@Url.Action("py15Status", "PY15Payment")',
             data: CreateForm({
                 id: selectedItemId,
                 status: action,
                 level: '@ViewBag.level',
                 remarks: $("#Remarks").val(),
                 file: $("#RemarkAttachment")[0].files[0]
             }),
             contentType: false,
             processData: false,
             success: function (response) {
                 if (response == "Success") {
                     swal("Saved Successfully!", { icon: "success" })
                         .then((e) => window.location.href = '@ViewBag.redirectUrl');
                 }
                 else {
                     swal(response);
                 }
             },
             failure: function (error) {
                 swal(error);
             }
         });
     }


        function CreateForm(form) {
            debugger
            let _form = new FormData();
            for (let key in form) {
                _form.append(key, form[key])
            }
            return _form
        }

    </script>
}