@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " Detail";
}

<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        min-width: 200px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div style="border:1px solid #ccc;background-color:white">
            <div class="widget-body">
                <div style="width:100%">
                    <div style="width:100%;height:50px;text-align:center;padding-top:15px;">PY15Payment Information</div>
                </div>
                <div style="height:2px;background-color:#2196F3"></div>
                <div id="DebtInfo" class="tabcontent">
                    <div class="detail-section">
                        <div class="row-align">
                            <div style="max-width:500px">
                                <table>
                                    <tr>
                                        <td class="sect-label">Transaction Number:</td>
                                        <td>@ViewBag.payment.TransactionNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Agency Code:</td>
                                        <td>@ViewBag.payment.AgencyCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Percentage Fee:</td>
                                        <td>@ViewBag.payment.AgencyPercentage</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payment Amount:</td>
                                        <td>@string.Format("{0:#,0.00}", ViewBag.payment.PaymentAmount)</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Apply Date:</td>
                                        <td>@ViewBag.payment.ApplyDateFormatted</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payee Code:</td>
                                        <td>@ViewBag.payment.PayeeCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Bank Account:</td>
                                        <td>@ViewBag.payment.PayeeBankAccount</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee BIC:</td>
                                        <td>@ViewBag.payment.PayeeBIC</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payment Description:</td>
                                        <td>@ViewBag.payment.PaymentDescription</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">SubBudgetClass:</td>
                                        <td>@ViewBag.payment.SubBudgetClass</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Expenditure Account:</td>
                                        <td>@ViewBag.payment.ExpenditureGlAccount</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payable Account:</td>
                                        <td>@ViewBag.payment.PayableGlAccount</td>
                                    </tr>


                                </table>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="sect-label">Agency Name:</td>
                                        <td>@ViewBag.payment.AgencyName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">TIN Number:</td>
                                        <td>@ViewBag.payment.AgencyTinNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Total Deduction:</td>
                                        <td>@string.Format("{0:#,0.00}", ViewBag.payment.TotalDeduction)</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Retained Amount:</td>
                                        <td>@string.Format("{0:#,0.00}", ViewBag.payment.RetainedAmount)</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payment Month:</td>
                                        <td>@ViewBag.payment.PaymentMonthFormatted</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payee Name:</td>
                                        <td>@ViewBag.payment.Payeename</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Bank Name:</td>
                                        <td>@ViewBag.payment.PayeeBankName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">OverallStatus:</td>
                                        <td>@ViewBag.payment.OverallStatus</td>
                                    </tr>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <hr />
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <a class="btn btn-info btn-size" style="margin-right:5px" onclick="window.history.back()">
                        <i class="glyphicon glyphicon-arrow-left ico"></i>Back
                    </a>
                    
                </div>
            </div>
        </div>
    </section>
</div>


@section pagespecific {
    <script>

     

    </script>
}