
@{
    ViewBag.Title = "Muse Institution sp List";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 150px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .wh-holding {
        color: #008636;
        font-size: 10px;
    }

    .bubble-w {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: plum;
        border: 1px solid red;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-info" href='@Url.Action("CreateMuseInstitutionSp", "MuseInstitutionMuseSP")'>
                                        <i class="glyphicon glyphicon-plus"></i> Add New
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_config_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Institution Code</th>
                                        <th>Institution Name</th>

                                        <th>SpCode</th>
                                        <th>SpName</th>
                                        <th>NewSpCode</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Institution Configuration</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="payee-entry">
                            <div class="entry-label">Configuration Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1. Institution Name: </th>
                                                <td id="_InstitutionName"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Config Name:</th>
                                                <td id="_ConfigName"></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>3. Config Value: </th>
                                                <td id="_ConfigValue"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Config Flag:</th>
                                                <td id="_ConfigFlag"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>5. Created by:</th>
                                                <td id="_CreatedBy"></td>
                                            </tr>
                                     
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <br />

                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section pagespecific{

    <script>
        // ============ INIT DATA TABLES START =====================

        var dt_config_listing = $('#dt_config_listing').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_config_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_config_listing.DataTable().search(this.value).draw();
        });

        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("PendingList", "MuseInstitutionMuseSP")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;

                dt_config_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_config_listing.fnAddData([i + 1,
                       data[i]["InstitutionCode"],
                       data[i]["InstitutionName"],
                        data[i]["SpCode"],
                        data[i]["SpName"],
                        data[i]["NewSpCode"],
                      '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                               <li><a href="@Url.Action("EditMuseInstitutionSp", "MuseInstitutionMuseSP")/?MuseInstitutionMuseSpId=' + data[i]["MuseInstitutionMuseSpId"] + '"><i class="glyphicon glyphicon-pencil"></i>Edit</a></li>\
                                <li><a href="#" onclick="Delete(' + i + ')"><i class="glyphicon glyphicon-trash"></i>Cancel</a></li>\
                            </ul>\
                        </div>\ '
                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });


        function Delete(i) {
            if (i == 'x');
            swal({
                title: "Are you sure?",
                text: "Once Cancelled, you will not be able to recover this !",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {

                    deleteConfirmed(data[i]["MuseInstitutionMuseSpId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }


        function deleteConfirmed(Id) {
            debugger
            var url = '@Url.Action("Delete", "MuseInstitutionMuseSP")';
            $.ajax({
                type: "post",
                url: url,
                data: { "id": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Cancelled Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function openViewDialog(i) {
            globalPayeeId = i;
            $("#_InstitutionName").text(data[i]["InstitutionName"]);
            $("#_ConfigName").text(data[i]["ConfigName"]);
            $("#_ConfigValue").text(data[i]["ConfigValue"]);
            $("#_ConfigFlag").text(data[i]["ConfigFlag"]);
            $("#_CreatedBy").text(data[i]["CreatedBy"]);
            $("#_CreatedAtFormatted").text(data[i]["CreatedAtFormatted"]);


            $('#confirmModal').modal('show');

        }
        // *************** END SHOW VIEW DIALOG ********************

    </script>
}

