@{
    ViewBag.Title = "Asset Register Approval List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <hr class="simple" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Keywords..." id="searchbox">
                                        <button style="background-color:#2196F3;color:white" onclick="searchPayment()">Search</button>
                                    </div>
                                </div>
                            </div>
                            <table id="dt_Statement_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reference</th>
                                        <th>Mode of Sale</th>
                                        <th>Total Number of Asset</th>
                                        <th>Total Amount</th>
                                        <th>OverallStatus</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>



<div class="modal fade" id="ApprovalModal" style="left:4%">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Comment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="AssetRegisterSummaryId" id="AssetRegisterSummaryId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="remarks1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <textarea style="width:300px" rows="2" id="remarks" maxlength="350"></textarea><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Attachment
                                    <i class="fa fa-times" style="color:white" id="attachment1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" id="attachment" class="input" style="width:300px" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="ApproveForm()" id="approveform">
                        <i class="fa fa-times"></i>Approve
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RejectModal" style="left:4%">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Comment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="AssetRegisterSummaryId" id="AssetRegisterSummaryId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="remarks2"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <textarea style="width:300px" rows="2" id="remarksr" maxlength="350"></textarea><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Attachment
                                    <i class="fa fa-times" style="color:white" id="attachment1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" id="attachmentr" class="input" style="width:300px" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="RejectedForm()" id="rejectform">
                        <i class="fa fa-times"></i>Reject
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<!----------- Statement Details View ----------------->
<div class="modal fade" id="StatementDetailsModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Asset Register Details</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="payee-entry">
                            <div class="entry-label">Asset Summary</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1.Reference: </th>
                                                <td id="reference"></td>
                                            </tr>
                                            <tr>
                                                <th>3.Total Amount:</th>
                                                <td id="totalAmount"></td>
                                            </tr>
                                            <tr>
                                                <th>5.Overall Status:</th>
                                                <td id="overallstatus"></td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>2.Total Number of Asset:</th>
                                                <td id="totalAsset"></td>
                                            </tr>
                                            <tr>
                                                <th>4.Mode Of Sales:</th>
                                                <td id="modeofsale"></td>
                                            </tr>
                                         
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="search-container" style="float:right">
                                    <i class="fa fa-search searchIcon"></i>
                                    <input type="search" name="search" placeholder="Search..." id="searchboxView">
                                </div>
                            </div>
                        </div>
                        <br />
                        <table id="dt_BankStatement_detail" class="table table-striped table-bordered table-hover table-condensed table-view-details" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Lot Number</th>
                                    <th>Registration No</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                    <th>Origin</th>
                                    <th>Account Officer</th>
                                    <th>OverallStatus</th>     

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{

    <script>

        var dt_Statement_listing = $('#dt_Statement_listing').dataTable();
        $("#dt_Statement_listing_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_Statement_listing.DataTable().search(this.value).draw();
        });

        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("getRegisterApproval", "ALSAssetRegister")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                console.log(response);
                data = response.data;
                dt_Statement_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_Statement_listing.fnAddData([i + 1,
                       data[i]["Reference"],
                       data[i]["ModeOfSale"],
                       data[i]["TotalNumberofAsset"],
                       toLabel(data[i]["TotalAmount"]),
                       data[i]["OverallStatus"],
                         '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="#" onclick="ViewStatementDetails(' + i + ')">Details</a></li>\
                                <li><a href="#" onclick="StatementReject(' + i + ')">Reject</a></li>\
                                <li><a href="#" onclick="StatementApproval(' + i + ')">Approve</a></li>\
                            </ul>\
                        </div>'
                    ]);
                    }

                if (data.length == 0) {
                    $("#loader").text("No matching records found")
                }
            },
            failure: function (error) {
                swal(error);
            }
        });

     // =============== Bank Statement Approval Start ==================
        function StatementApproval(i) {
            $("#AssetRegisterSummaryId").text(data[i]["AssetRegisterSummaryId"]);
            document.getElementById("AssetRegisterSummaryId").value = data[i]["AssetRegisterSummaryId"];
            $('#ApprovalModal').modal('show');
        }

        $(".saveLoader").toggle(false);
        function ApproveForm() {
            debugger
            var AssetRegisterSummaryId = $("#AssetRegisterSummaryId").val();
            var remarks = $("#remarks").val();
            var attachment = $("#attachment").val();

            if (AssetRegisterSummaryId == '' || remarks == '') {
                var url = '@Url.Action("ApprovalAsset", "ALSAssetRegister")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (attachment != '') {

                var file = document.querySelector("#attachment");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }

            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('AssetRegisterSummaryId', AssetRegisterSummaryId);
            formData.append('ApprovalRemark', remarks);
            formData.append('Attachment', $("#attachment")[0].files[0]);
            postStatementApprove(formData);
        }

        function postStatementApprove(formData) {
            $(".loadingImg").show();
            $("#approveform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("AssetRegisterApproval", "ALSAssetRegister")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#approveform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Approved Successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });

                    } else {
                        $("#approveform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response)
                    }
                },
                failure: function (error) {
                    $("#approveform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }
        // =============== End Bank Statement Approval ===============
        // =============== Bank Statement Rejection Start ==================
        function StatementReject(i) {
            $("#AssetRegisterSummaryId").text(data[i]["AssetRegisterSummaryId"]);
            document.getElementById("AssetRegisterSummaryId").value = data[i]["AssetRegisterSummaryId"];
            $('#RejectModal').modal('show');
        }

        $(".saveLoader").toggle(false);
        function RejectedForm() {
            debugger
            var AssetRegisterSummaryId = $("#AssetRegisterSummaryId").val();
            var remarks = $("#remarksr").val();
            var attachment = $("#attachmentr").val();

            if (AssetRegisterSummaryId == '' || remarks == '') {
                var url = '@Url.Action("ApprovalAsset", "ALSAssetRegister")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (attachment != '') {

                var file = document.querySelector("#attachmentr");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }

            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('AssetRegisterSummaryId', AssetRegisterSummaryId);
            formData.append('RejectedRemark', remarks);
            formData.append('Attachment', $("#attachmentr")[0].files[0]);
            postStatementRejection(formData);
        }

        function postStatementRejection(formData) {
            $(".loadingImg").show();
            $("#rejectform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("AssetRejection", "ALSAssetRegister")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#rejectform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Rejected successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });

                    } else {
                        $("#rejectform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response)
                    }
                },
                failure: function (error) {
                    $("#rejectform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }
        // =============== End Bank Statement Rejection ===============

        // =============== Bank Statement Details Start ==================
        /**
        * Show Bank Statement Details
        */
      
        var dt_BankStatement_detail = $('#dt_BankStatement_detail').dataTable();
        $("#searchboxView").on("keyup search input paste cut", function () {
            dt_BankStatement_detail.DataTable().search(this.value).draw();
        });
        $("#dt_BankStatement_detail_wrapper .dt-toolbar").remove();

        function ViewStatementDetails(i) {
            $("#reference").text(data[i]["Reference"]);
            $("#totalAsset").text(data[i]["TotalNumberofAsset"]);
            $("#totalAmount").text(toLabel(data[i]["TotalAmount"]));
            $("#overallstatus").text(data[i]["OverallStatus"]);
            $("#modeofsale").text(data[i]["ModeOfSale"]);

            $.ajax({
                type: "get",
                url: '@Url.Action("GetAssetDetails", "ALSAssetRegister")' + "/?summaryid=" + data[i]["AssetRegisterSummaryId"],
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    var _data = response.data2;
                    dt_BankStatement_detail.fnClearTable();
                    for (var i = 0; i < _data.length; i++) {
                        dt_BankStatement_detail.fnAddData([i + 1,
                           _data[i]["AssetType"],
                           _data[i]["AssetLotNo"],
                           _data[i]["AssetRegNo"],
                           _data[i]["AssetDesc"],
                           _data[i]["AssetQuantity"],
                           toLabel(_data[i]["AssetUnitPrice"]),
                           toLabel(_data[i]["AssetTotalPrice"]),
                           _data[i]["AssetOrigin"],
                           _data[i]["AssetAccOfficer"],
                           _data[i]["OverallStatus"],
                        ]);
                    }
                    if (_data.length == 0) {
                        $("#loader").text("No matching records found")
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });

            $('#StatementDetailsModal').modal('show');
        }

        // =============== END Bank Statement Detail ===============




    </script>
}
