@model IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM
@{
    ViewBag.Title = "Preview Local Purchase Order";
}
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Local Purchase Order Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Legal Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SupplierName)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Description&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderDesc)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Currency Used&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Currency)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Type&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ShortDesc)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Sub Budget Class&nbsp;:</strong>&nbsp; @Html.DisplayFor(model => model.SubBudgetClass)-@Html.DisplayFor(model => model.SegmentDesc)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Apply Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>
    @if (Model.ProjectNumber != null)
    {
    <div class="row"> <div class="col-sm-8 col-md-8 col-lg-8"><strong>Force Account Project Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ProjectNumber) </div></div>
    }
    @if (Model.ParentInstitutionCode != null)
    {
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Parent Institution:</strong>&nbsp;@Html.DisplayFor(model => model.ParentInstitutionCode) - @Html.DisplayFor(model => model.ParentInstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>SubWarant:</strong>&nbsp;@Html.DisplayFor(model => model.SubWarrantCode) - @Html.DisplayFor(model => model.SubWarrantDescription)</div></div>
    }

</fieldset>

<div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

    <header>
        <h2><strong></strong> <i></i></h2>

        <ul id="widget-tab-1" class="nav nav-tabs pull-right">

            <li class="active">

                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.PrePaymentDetails.Count()</span></span> </a>

            </li>
            <li>

                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> GL Account(s)<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.PrePaymentCoas.Count()</span></span> </a>

            </li>
        </ul>

    </header>

    <div>


        <div class="jarviswidget-editbox">

        </div>

        <div class="widget-body no-padding">


            <div class="tab-content padding-10">
                <div class="tab-pane fade in active" id="hr1">
                    <div class="widget-body no-padding">

                        <br />




                        <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                            @if (Model.PrePaymentDetails.Count() > 0)
                            {
                            <table align="center" class="table table-bordered  table-condensed" style="width:97%">
                                
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:left">Item</th>
                                    <th style="text-align:left">Category</th>
                                    <th style="text-align:left">Class</th>
                                    <th style="text-align:left">UOM</th>
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:right">Unit Price (@Html.DisplayFor(model => model.Currency))</th>
                                    <th style="text-align:right">Total (@Html.DisplayFor(model => model.Currency))</th>

                                </tr>
                         

                                    <tbody>

                                        @{var i = 0;
                                            decimal grandTotal = 0;
                                            decimal item_total = 0;}
                                        @foreach (var item in Model.PrePaymentDetails)
                                        {
                                            grandTotal = grandTotal + Convert.ToDecimal(item.TotalAmount);
                                            item_total = item_total + (decimal)item.Quantity;
                                            i++;
                                        <tr>
                                            <td style="text-align:center">
                                                @i
                                            </td>
                                            <td style="text-align:left">
                                                @Html.DisplayFor(modelItem => item.ItemDesc)
                                            </td>
                                            <td style="text-align:left">
                                                @Html.DisplayFor(modelItem => item.ItemClassification.ItemCategory)
                                            </td>
                                            <td style="text-align:left">
                                                @Html.DisplayFor(modelItem => item.ItemClassification.ClassificationDesc)
                                            </td>
                                            <td style="text-align:left">
                                                @Html.DisplayFor(modelItem => item.UOM)
                                            </td>
                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td style="text-align:right">

                                                @Html.DisplayFor(modelItem => item.UnitPrice)

                                            </td>
                                            <td style="text-align:right">

                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>


                                        </tr>

                                        }
                                    <tr>
                                        <td colspan="5" style="text-align:right"><strong>Total</strong></td>
                                        <td style="text-align:center"><strong>@Convert.ToDecimal(Model.PrePaymentDetails.Select(a => a.Quantity).DefaultIfEmpty(0).Sum())</strong></td>
                                        <td></td>
                                        <td style="text-align:right"><strong>@Convert.ToDecimal(Model.PrePaymentDetails.Select(a => a.TotalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                    </tr>
                                    </tbody>
                            </table>
                            }



                        </div>



                    </div>

                </div>
                <div class="tab-pane fade in" id="hr2">
                    <div class="widget-body no-padding">

                        <br />




                        <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                            @if (Model.PrePaymentCoas.Count() > 0)
                            {
                            <table class="table table-bordered table-hover table-condensed" id="items_charge" style="width:100%">
                                    <tr>
                                        <th>#</th>
                                        <th style="text-align:left">GL Account</th>
                                        <th style="text-align:left">GL Account Desc</th>
                                        <th style="text-align:left">Funding Reference</th>
                                        <th style="text-align:right">Amount</th>
                                    </tr>
                                <tbody>
                                    @{var j = 0;}
                                    @foreach (var item in Model.PrePaymentCoas)
                                        {

                                            j++;
                                    <tr>
                                        <td style="text-align:center">@j</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GlAccount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GlAccountDesc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FundingReference)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.OperationalAmount)
                                        </td>

                                    </tr>
                                        }
                                    <tr>
                                        <td colspan="4" style="text-align:right"><strong>Total</strong></td>
                                        <td style="text-align:right"><strong>@Convert.ToDecimal(Model.PrePaymentCoas.Select(a => a.OperationalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                    </tr>

                                </tbody>
                            </table>
                            }

                        </div>



                    </div>

                </div>

            </div>


        </div>

    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>
