@model IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM
@{
   ViewBag.Title = "Preview";
}
<style>
    .searchContainer {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        /*padding-top:10px;*/
        /*text-align: center;*/
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 200px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }

    /*  //tunkete.mwamsojo@hazina.go.tz;*/

</style>


<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Receiving Attachments</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div class="payee-entry">
                                <div class="entry-label">Pre Payment Details</div>
                                <table>
                                    @if (Model.EOfficePaymentReference != null)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.EOfficePaymentReference)</th>
                                            <td><a href="@Url.Action("eofficedetails","dfundapprovals",new { id=@Model.EOfficeApprovalId })" title="Click to View " data-toggle="tooltip" target="_parent"><b>@Html.DisplayFor(model => model.EOfficePaymentReference)</b></a></td>
                                            <th>@Html.DisplayNameFor(model => model.EOfficeTitle)</th>
                                            <td>@Html.DisplayFor(model => model.EOfficeTitle)</td>
                                        </tr>
                                    }
                                    @if (Model.DFundPaymentReference != null)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.DFundPaymentReference)</th>
                                            <td><a href="@Url.Action("eofficedetails", "dfundapprovals" , new { id=@Model.DfundApprovalId })" title="Click to View " data-toggle="tooltip" target="_parent"><b>@Html.DisplayFor(model => model.DFundPaymentReference)</b></a></td>
                                            <th>@Html.DisplayNameFor(model => model.DfundTitle)</th>
                                            <td>@Html.DisplayFor(model => model.DfundTitle)</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.PurchaseOrderNo): </th>
                                        <td>@Html.DisplayFor(model => model.PurchaseOrderNo)</td>
                                        <th>@Html.DisplayNameFor(model => model.SupplierName): </th>
                                        <td>@Html.DisplayFor(model => model.SupplierName)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.PurchaseOrderDesc)</th>
                                        <td>@Html.DisplayFor(model => model.PurchaseOrderDesc)</td>
                                        <th>@Html.DisplayNameFor(model => model.PayeeCode): </th>
                                        <td>@Html.DisplayFor(model => model.PayeeCode)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.SubBudgetClass): </th>
                                        <td>@Html.DisplayFor(model => model.SubBudgetClass)</td>
                                        <th>@Html.DisplayNameFor(model => model.PayerBankAccount)</th>
                                        <td>@Html.DisplayFor(model => model.PayerBankAccount)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.TransactionAmount): </th>
                                        <td>@Html.DisplayFor(model => model.TransactionAmount) @Html.DisplayFor(model => model.EOfficeCurrency)</td>
                                        <th>@Html.DisplayNameFor(model => model.TransactionExchangeRate)</th>
                                        <td>@Html.DisplayFor(model => model.TransactionExchangeRate)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.OperationalAmount): </th>
                                        <td>@Html.DisplayFor(model => model.OperationalAmount) @Html.DisplayFor(model => model.OperationalCurrency)</td>
                                        <th>@Html.DisplayNameFor(model => model.OperationalExchangeRate)</th>
                                        <td>@Html.DisplayFor(model => model.OperationalExchangeRate)</td>
                                    </tr>

                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ApplyDate): </th>
                                        <td>@Html.DisplayFor(model => model.ApplyDate)</td>
                                        <th>@Html.DisplayNameFor(model => model.OverallStatus)</th>
                                        <td>@Html.DisplayFor(model => model.OverallStatus)</td>
                                    </tr>
                                    @if (Model.ProjectNumber != null)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.ProjectNumber): </th>
                                            <td colspan="3">@Html.DisplayFor(model => model.ProjectNumber)</td>
                                        </tr>
                                    }
                                    @if (Model.ParentInstitutionCode != null)
                                    {
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.ParentInstitutionCode): </th>
                                            <td>@Html.DisplayFor(model => model.ParentInstitutionCode) - @Html.DisplayFor(model => model.ParentInstitutionName)</td>
                                            <th>@Html.DisplayNameFor(model => model.SubWarrantCode)</th>
                                            <td>@Html.DisplayFor(model => model.SubWarrantCode) - @Html.DisplayFor(model => model.SubWarrantDescription)</td>
                                        </tr>
                                    }
                                    @if (Model.OverallStatus == "Rejected" || Model.Rejecter == "Payment Office")
                                    {
                                        if (Model.RejectionReason != null)
                                        {
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Rejecter): </th>
                                                <td>@Html.DisplayFor(model => model.Rejecter)</td>
                                                <th>@Html.DisplayNameFor(model => model.RejectionSolution)</th>
                                                <td>@Html.DisplayFor(model => model.RejectionSolution)</td>
                                            </tr>
                                        }
                                    }
                                    @if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                                    {
                                        if (Model.RejectionSolution != null)
                                        {
                                            <tr>
                                                @if (Model.RejectionReason != null)
                                                {
                                                    <th>@Html.DisplayNameFor(model => model.RejectionReason): </th>
                                                    <td>@Html.DisplayFor(model => model.RejectionReason)</td>
                                                }
                                                @if (Model.RejectionSolution != null)
                                                {
                                                    <th>@Html.DisplayNameFor(model => model.RejectionSolution)</th>
                                                    <td>@Html.DisplayFor(model => model.RejectionSolution)</td>
                                                }
                                            </tr>
                                        }
                                    }
                                    @if (Model.OverallStatus.ToUpper() == "EXAMINED")
                                    {

                                        if (Model.Rejecter == "Approver")
                                        {
                                            <tr>
                                                @if (Model.RejectionReason != null)
                                                {
                                                    <th>@Html.DisplayNameFor(model => model.RejectionReason): </th>
                                                    <td>@Html.DisplayFor(model => model.RejectionReason)</td>
                                                }
                                                @if (Model.RejectionSolution != null)
                                                {
                                                    <th>@Html.DisplayNameFor(model => model.RejectionSolution)</th>
                                                    <td>@Html.DisplayFor(model => model.RejectionSolution)</td>
                                                }
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ShortDesc)</th>
                                        <td>@Html.DisplayFor(model => model.ShortDesc)</td>
                                    </tr>

                                </table>

                            </div>

                            <br />
                            <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                                <header>
                                    <h2><strong></strong> <i></i></h2>

                                    <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                        <li class="active">

                                            <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.PrePaymentDetails.Count()</span></span> </a>

                                        </li>
                                        <li>

                                            <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> GL Account(s)<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.PrePaymentCoas.Count()</span></span> </a>

                                        </li>
                                    </ul>

                                </header>

                                <div>


                                    <div class="jarviswidget-editbox">

                                    </div>

                                    <div class="widget-body no-padding">


                                        <div class="tab-content padding-10">
                                            <div class="tab-pane fade in active" id="hr1">
                                                <div class="widget-body no-padding">

                                                    <br />




                                                    <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                                                        @if (Model.PrePaymentDetails.Count() > 0)
                            {
                                                        <table align="center" class="table table-bordered  table-condensed" style="width:97%">

                                                            <tr>
                                                                <th style="text-align:center">#</th>
                                                                <th style="text-align:left">Item</th>
                                                                <th style="text-align:left">Category</th>
                                                                <th style="text-align:left">Class</th>
                                                                <th style="text-align:left">UOM</th>
                                                                <th style="text-align:center">Quantity</th>
                                                                <th style="text-align:right">Unit Price (@Html.DisplayFor(model => model.Currency))</th>
                                                                <th style="text-align:right">Total (@Html.DisplayFor(model => model.Currency))</th>

                                                            </tr>


                                                            <tbody>

                                                                @{var i = 0;
                                    decimal grandTotal = 0;
                                    decimal item_total = 0;}
                                                                @foreach (var item in Model.PrePaymentDetails)
                                    {
                                    grandTotal = grandTotal + Convert.ToDecimal(item.TotalAmount);
                                    item_total = item_total + (decimal)item.Quantity;
                                    i++;
                                                                <tr>
                                                                    <td style="text-align:center">
                                                                        @i
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.ItemClassification.ItemCategory)
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.ItemClassification.ClassificationDesc)
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.UOM)
                                                                    </td>
                                                                    <td style="text-align:center">
                                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                                    </td>
                                                                    <td style="text-align:right">

                                                                        @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                    </td>
                                                                    <td style="text-align:right">

                                                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                                                    </td>


                                                                </tr>

                                    }
                                                                <tr>
                                                                    <td colspan="5" style="text-align:right"><strong>Total</strong></td>
                                                                    <td style="text-align:center"><strong>@Convert.ToDecimal(Model.PrePaymentDetails.Select(a => a.Quantity).DefaultIfEmpty(0).Sum())</strong></td>
                                                                    <td></td>
                                                                    <td style="text-align:right"><strong>@Convert.ToDecimal(Model.PrePaymentDetails.Select(a => a.TotalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                            }



                                                    </div>



                                                </div>

                                            </div>
                                            <div class="tab-pane fade in" id="hr2">
                                                <div class="widget-body no-padding">

                                                    <br />




                                                    <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                                                        @if (Model.PrePaymentCoas.Count() > 0)
                            {
                                                        <table class="table table-bordered table-hover table-condensed" id="items_charge" style="width:100%">
                                                            <tr>
                                                                <th>#</th>
                                                                <th style="text-align:left">GL Account</th>
                                                                <th style="text-align:left">GL Account Desc</th>
                                                                <th style="text-align:left">Funding Reference</th>
                                                                <th style="text-align:right">Amount</th>
                                                            </tr>
                                                            <tbody>
                                                                @{var j = 0;}
                                                                @foreach (var item in Model.PrePaymentCoas)
                                    {

                                    j++;
                                                                <tr>
                                                                    <td style="text-align:center">@j</td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.GlAccount)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.GlAccountDesc)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.FundingReference)
                                                                    </td>
                                                                    <td style="text-align:right">
                                                                        @Html.DisplayFor(modelItem => item.OperationalAmount)
                                                                    </td>

                                                                </tr>
                                    }
                                                                <tr>
                                                                    <td colspan="4" style="text-align:right"><strong>Total</strong></td>
                                                                    <td style="text-align:right"><strong>@Convert.ToDecimal(Model.PrePaymentCoas.Select(a => a.OperationalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                            }

                                                    </div>



                                                </div>

                                            </div>

                                        </div>


                                    </div>

                                </div>


                            </div>




                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1">
                                        @if (Model.OverallStatus.ToUpper() == "PENDING" || Model.OverallStatus == "Rejected")
                                        {
                                        <a href="@Url.Action("PrePayments","PrePayment")" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                           }
                                           else if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                                           {

                                        <a href="@Url.Action("PrePaymentExamine","PrePayment")" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                           }
                                           else if (Model.OverallStatus.ToUpper() == "EXAMINED")
                                           {
                                        <a href="@Url.Action("PrePaymentApprove","PrePayment")" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                           }
                                           else
                                           {
                                        <a href="@Request.UrlReferrer" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                       }
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>
            </article>

        </div>
    </section>

</div>









