@model IFMIS.Areas.IFMISTZ.Models.InventoryIssuing
@{
    var j = 0;
}
<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Inventory Issuing Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Legal Number&nbsp;:</strong>@Html.DisplayFor(model => model.LegalNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Inventory Code&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryDetail.InventoryCode)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong> Item Name&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryDetail.ItemName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>@Html.DisplayFor(model => model.SubVote)-@Html.DisplayFor(model => model.SubVoteName)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Quantity&nbsp;:</strong>@Html.DisplayFor(model => model.IssuedQuantity) @Html.DisplayFor(model => model.InventoryDetail.UOM)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Unit Price&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryDetail.UnitPrice) @Html.DisplayFor(model => model.Currency)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Total Value&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryValue) @Html.DisplayFor(model => model.Currency)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>@Html.DisplayFor(model => model.OverallStatus)</div></div>
    <div class="row">
        @if (Model.RejectReason != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>@Html.DisplayFor(model => model.RejectReason)</div>

        }
        @if (Model.SolutionTaken != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>@Html.DisplayFor(model => model.SolutionTaken)</div>
        }
    </div>
    @if (Model.ParentInstitutionCode != null)
    {
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Parent Institution Code:</strong>@Html.DisplayFor(model => model.ParentInstitutionCode) </div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Parent Institution Name:</strong>@Html.DisplayFor(model => model.ParentInstitutionName)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>SubWarant Code:</strong>@Html.DisplayFor(model => model.SubWarrantCode) </div><div class="col-sm-6 col-md-6 col-lg-6"><strong>SubWarant Name:</strong>@Html.DisplayFor(model => model.SubWarrantDescription)</div></div>

    }
    @if (Model.SourceRefenceNo != null)
    {
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Source:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceModule) </div>
            @if (Model.InventoryDetail.SourceModule == "LPO")
            {
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Number:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceLegalNumber)</div>
            }
            else if (Model.InventoryDetail.SourceModule == "Contract")
            {
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceLegalNumber)</div>
            }
            else if (Model.InventoryDetail.SourceModule == "Prepayment")
            {
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Prepayment Number:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceLegalNumber)</div>
            }
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Voucher Number:</strong>@Html.DisplayFor(model => model.SourceRefenceNo) </div>

        </div>

    }
    else
    {
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Source:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceModule) @Html.DisplayFor(model => model.InventoryDetail.ReceivingSummaryId) </div>
            @if (Model.InventoryDetail.SourceModule == "LPO")
            {
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Number:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceLegalNumber)</div>
            }
            else if (Model.InventoryDetail.SourceModule == "Contract")
            {
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceLegalNumber)</div>
            }
            else if (Model.InventoryDetail.SourceModule == "Prepayment")
            {
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Prepayment Number:</strong>@Html.DisplayFor(model => model.InventoryDetail.SourceLegalNumber)</div>
            }
        </div>

    }
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Apply Date&nbsp;:</strong>@Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")</div>
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Requested By&nbsp;:</strong>@Html.DisplayFor(model => model.CreatedBy) <strong>At</strong> @Html.DisplayFor(model => model.CreatedAt)</div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Original Quantity&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryDetail.Quantity)</div>
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Balance&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryDetail.BalanceQuantity)</div>
    </div>
</fieldset>

@if (Model.AssociateWithAsset == "YES")
{
    <fieldset class="scheduler-border" id="contract_details">
        <legend class="scheduler-border">Asset to which issued inventory will be used</legend>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class&nbsp;:</strong>@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Number&nbsp;:</strong>@Html.DisplayFor(model => model.InventoryDistribution.AssetDetail.AssetNo)</div></div>
    </fieldset>
}
    @if (Model.IssuingCoas.Count() > 0)
                                {

<table class="table table-bordered table-hover table-condensed" style="width:100%">
    <thead>
        <tr style="width:5%">
            <th>#</th>
            <th style="text-align:left">GL Account</th>
            <th style="text-align:left">GL Desc</th>
            <th style="text-align:left">Funding Ref</th>
            <th style="text-align:left"> Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IssuingCoas)
        {
            j++;
            <tr>
                <td style="text-align:center">@j</td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLAccountDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FundingReference)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.OperationalAmount)
                </td>
            </tr>
        }
    <tr>
        <td colspan="4" style="text-align:right">Total</td>

        <td style="text-align:right"><strong>@Convert.ToDecimal(Model.IssuingCoas.Select(a => a.OperationalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></td>

    </tr>
    </tbody>
</table>

                                }
<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>
