
@model IFMIS.Areas.IFMISTZ.Models.InventoryIssuingBulkVM
@{
    var j = 0;
}
<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Inventory Issuing Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Request Number&nbsp;:</strong>@Html.DisplayFor(model => model.LegalNumber)</div> </div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Number of transaction&nbsp;:</strong>@Html.DisplayFor(model => model.Inventories)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Batch status&nbsp;:</strong>@Html.DisplayFor(model => model.OverallStatus) </div> </div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>@Html.DisplayFor(model => model.SubVoteName)</div></div>
    @if (Model.RejectReason != null)
    {
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>@Html.DisplayFor(model => model.RejectReason)</div></div>
    }
</fieldset>

@if (Model.InventoryIssuing.Count() > 0)
{
    <legend class="scheduler-border">Inventories List</legend>
    <table class="table table-bordered table-hover table-condensed" style="width:100%">
        <thead>
            <tr style="width:5%">
                <th>#</th>
                <th style="text-align:center">Item Req No</th>
                <th style="text-align:left">Item Name</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:right">Unity Price</th>
                <th style="text-align:right">Total Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InventoryIssuing)
            {
                j++;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.LegalNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InventoryDetail.ItemName)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.IssuedQuantity)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.InventoryDetail.UnitPrice) @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.InventoryValue) @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" style="text-align:right">Total</th>
                <th style="text-align:center">@Convert.ToDecimal(Model.InventoryIssuing.Select(a => a.IssuedQuantity).DefaultIfEmpty(0).Sum()).ToString("0.00")</th>
                <th></th>
                <th style="text-align:right">@Convert.ToDecimal(Model.InventoryIssuing.Select(a => a.InventoryValue).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=") @Model.InventoryIssuing.Select(a => a.Currency).FirstOrDefault()</th>

            </tr>
        </tfoot>
    </table>

}
<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>
