@model IFMIS.Areas.IFMISTZ.Models.InventoryIssuingBulkVM
@{
    ViewBag.Title = "Add more Inventories";

    var j = 0;
    
}
<style>

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>


<div id="divLoader"></div>

<div id="content" style="margin: 5px; padding-top: 30px">



    <!-- widget grid -->
    <br />
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <div class="item_card">
                                            @Html.LabelFor(model => model.ItemCard, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon" onclick="SearchInventoryCard(@Model.SourceId)"><i class="fa fa-search"></i></span>
                                                    <input type="text" id="ItemCard" name="ItemCard" class="form-control" , placeholder="Search" onclick="SearchInventoryCard(@Model.SourceId)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="loadinventories"></div>

                                </div>
                            }
                            <hr />
                    
                                <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Request Number&nbsp;:</strong>@Html.DisplayFor(model => model.LegalNumber)</div> </div>
                                <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Number of transaction&nbsp;:</strong>@Html.DisplayFor(model => model.Inventories)</div></div>
                                <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>@Html.DisplayFor(model => model.SubVoteName)</div></div>

                            @if (Model.InventoryIssuing.Count() > 0)
                            {
                                <table class="table table-bordered table-hover table-condensed" style="width:100%">
                                    <caption style="text-align:center"><H3>Selected Inventories List</H3></caption>
                                    <thead>
                                        <tr style="width:5%">
                                            <th>#</th>
                                             <th style="text-align:center">Item Req No</th>
                                            <th style="text-align:left">Item Name</th>
                                            <th style="text-align:center">Quantity</th>
                                            <th style="text-align:right">Unity Price</th>
                                            <th style="text-align:right">Total Value</th>
                                            <th style="text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.InventoryIssuing)
                                        {
                                            j++;
                                            <tr>
                                                <td style="text-align:center">@j</td>    
                                                   <td style="text-align:center">
                                                       @Html.DisplayFor(modelItem => item.LegalNumber)
                                                   </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InventoryDetail.ItemName)
                                                </td>
                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => item.IssuedQuantity)
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => item.InventoryDetail.UnitPrice) @Html.DisplayFor(modelItem => item.Currency)
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => item.InventoryValue) @Html.DisplayFor(modelItem => item.Currency)
                                                </td>
                                                <td style="text-align:center">

                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">

                                                            @*<li>
                                            <a href="#" onclick="previewIssuing(@item.InventoryIssuingId)"> <i class="fa fa-search-minus"></i>  Details</a>
                                        </li>*@
                                                            <li><a href="#" onclick="cancelEntry(@item.InventoryIssuingId,'@item.InventoryDetail.ItemName')" class="btn-xs edit"><i class="fa fa-edit"></i> Cancel</a></li>
                                                            @*<li><a href="#" onclick="rejectedEntry(@item.InventoryIssuingId,'@item.LegalNumber')" class="btn-xs edit"><i class="fa fa-edit"></i> Reject</a></li>*@

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="3" style="text-align:right">Total</th>
                                            <th style="text-align:center">@Convert.ToDecimal(Model.InventoryIssuing.Select(a => a.IssuedQuantity).DefaultIfEmpty(0).Sum()).ToString("0.00")</th>
                                            <th></th>
                                            <th style="text-align:right">@Convert.ToDecimal(Model.InventoryIssuing.Select(a => a.InventoryValue).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=") @Model.InventoryIssuing.Select(a => a.Currency).FirstOrDefault()</th>

                                        </tr>
                                    </tfoot>
                                </table>

                            }
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PendingRequisition","InventoriesIssuing")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

<!----------- Search  Item Card----------------->
<div class="modal fade" id="search_item_card" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Item Card</h3>
            </div>
            <div class="modal-body">

                <div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search1" placeholder="Search..." id="searchbox1">
                            </div>
                        </div>
                    </div>
                    <table id="dt_search_item_card" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>InventoryItemCardId</th>
                                <th>Item Card</th>
                                <th>Description</th>
                                <th>UOM</th>
                                <th style="text-align:center">Reorder Level</th>
                                <th style="text-align:center">Available Quantity</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- Search  inventory----------------->
<div class="modal fade" id="search_inventories" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Inventory</h3>
            </div>
            <div class="modal-body">

                <div>

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search2" placeholder="Search..." id="searchbox2">
                            </div>
                        </div>
                    </div>

                    <table id="dt_inventories" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="text-align:right;width:7%">#</th>
                                <th>InventoryDetailId</th>
                                <th>BalanceQuantity</th>
                                <th>UnitPrice</th>
                                <th>Currency</th>
                                <th>Stored</th>
                                <th>Inventory Code</th>
                                <th>Item Name</th>
                                <th style="text-align:center">Available Quantity</th>
                                <th style="text-align:center">Unit Price</th>
                                <th>Source</th>
                                <th>Store</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- Search  Asset----------------->
<div class="modal fade" id="search_asset" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Asset</h3>
            </div>
            <div class="modal-body">

                <div>

                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search3" placeholder="Search..." id="searchbox3">
                            </div>
                        </div>
                    </div>

                    <div align="center">
                        <img src="/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                    </div>
                    <table id="dt_assets" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="text-align:right;width:7%">#</th>
                                <th>Asset ID</th>
                                <th>Asset Number</th>
                                <th>Asset Name</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div width="90%" class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">
                    Preview
                </h4>
            </div>
            <div class="modal-body" id="divModalBody">

            </div>

            <div id="divPaymentStatusLoader" style="text-align:center; display:none">
                <img src="~/assets/img/avatars/ajax_loader.gif" />
            </div>
        </div>
    </div>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

             $("#ApplyDate")
            .wrap('<div class="input-group">')
            .datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonImage: '@Url.Content("~/Content/img/calendar.gif")',
                maxDate: "+0D"
            })
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Select Date",
                text: false
            })
            .addClass("btn btn-default")
            .wrap('<span class="input-group-btn">')
            .find('.ui-button-text')
            .css({
                'visibility': 'hidden',
                'display': 'inline'
            });

        var uom = "";
        var availableQuantity = 0;

        var dt_search_item_card = $('#dt_search_item_card').dataTable(
        {
        "aoColumnDefs": [{ "bVisible": false, "aTargets": [1] }],
            });

        $("#dt_search_item_card_wrapper .dt-toolbar").remove();

        $("#searchbox1").on("keyup search input paste cut", function () {
                dt_search_item_card.DataTable().search(this.value).draw();
           });

        var dt_inventories = $('#dt_inventories').dataTable(
           {
        "aoColumnDefs": [{ "bVisible": false, "aTargets": [1,2,3,4,5] }],
            }
        );
          $("#dt_inventories_wrapper .dt-toolbar").remove();

           $("#searchbox2").on("keyup search input paste cut", function () {
                dt_inventories.DataTable().search(this.value).draw();
           });

        var dt_assets = $('#dt_assets').dataTable(
        {
        "aoColumnDefs": [{ "bVisible": false, "aTargets": [1] }],
            }
        );
        $("#dt_assets_wrapper .dt-toolbar").remove();

          $("#searchbox3").on("keyup search input paste cut", function () {
                if (!this.value) {
                    dt_assets.fnClearTable();
                } else {
                    searchAssetUpdate(this.value);
                }
         });


                //$("#dt_search_item_card_wrapper .dt-toolbar").remove();
        var bId = 0;
        function SearchInventoryCard(id) {
            bId = id;
                    $('#search_item_card').modal('show');
                      dt_search_item_card.fnClearTable();
                      SearchItemCards();
                }

        function SearchItemCards() {
                 var url = '@Url.Action("GetItemCards", "InventoriesIssuing")';
                    $.ajax({
                        type: "get",
                        url: url,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                           if (response == "DbException") {
                              swal("Db Exception,Please contact technical supporter ");
                            }
                            else {
                                data = response.data;
                               dt_search_item_card.fnClearTable();
                               if (data.length == 0) {
                                   swal("No any inventory available for issuing in any Item Card");
                                   return;
                                  }
                               for (var i = 0; i < data.length; i++) {

                                   dt_search_item_card.fnAddData([i + 1,
                                    data[i]["InventoryItemCardId"],
                                    data[i]["ItemCard"],
                                    data[i]["ItemDescription"],
                                    data[i]["UOM"],
                                    '<div align="center"><span class="badge">'+data[i]["OrderLevel"]+'</span></div>',
                                    '<div align="center"><span class="badge">'+data[i]["AvailableQuantity"]+'</span></div>',
                                    '<div align="center"><a href="#" onclick="ItemCardClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a></div>'
                                    ]);

                                }
                            }
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
                        }
        function ItemCardClicked(rowId) {
                    var data = dt_search_item_card.DataTable().rows().data();
                    var row = data[rowId];
            $("#search_item_card").modal("hide");
            $("#ItemCard").val(row[2]);
            inventoriesByItemCard(row[1]);
        }
        function inventoriesByItemCard(id) {
            var url = '@Url.Action("InventoriesByItemCard", "InventoriesIssuing")';
            $("#loadinventories").load(url, { id: id, bId: bId }, function (response, status, xhr) {
                if (status == "error") {
                    $("#loadinventories").html("Error on accessing this details, contact system support.");
                }
            });
        }
       function SearchInventory() {
            var item_card_id = $("#InventoryItemCardId").val();
            if (item_card_id) {
                $('#search_inventories').modal('show');
            }
            else {
                swal("Please select Item Card first !");
           }
            dt_inventories.fnClearTable();
           InventoriesByItemCard(item_card_id);
        }
            function InventoriesByItemCard(id) {
                 var formData = { "id": id };
                 var url = '@Url.Action("GetInventories", "InventoriesIssuing")';
                    $.ajax({
                        type: "get",
                        url: url,
                        data: formData,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                           if (response == "DbException") {
                               swal("Db Exception,Please contact technical supporter ");
                           }
                           else {
                                data = response.data;
                               for (var i = 0; i < data.length; i++) {

                                   dt_inventories.fnAddData([i + 1,
                                       data[i]["InventoryDetailId"],
                                       data[i]["BalanceQuantity"],
                                       data[i]["UnitPrice"],
                                       data[i]["Currency"],
                                       data[i]["Stored"],
                                       data[i]["InventoryCode"],
                                       data[i]["ItemName"],
                                      '<div align="center">' + data[i]["BalanceQuantity"] + '</div>',
                                        '<span style="float:right">' + toLabel(data[i]["UnitPrice"]) + ' '+data[i]["Currency"]+'</span>',
                                       data[i]["SourceModule"],
                                       data[i]["StoreName"],
                                         '<div align="center"><a href="#" onclick="InventoryClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a></div>'

                                     ]);



                                }
                            }
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
        }

              function InventoryClicked(rowId) {
              var data = dt_inventories.DataTable().rows().data();
                  var row = data[rowId];
                  //if (row[5] == "Yes") {
                  //    $("#store").show();
                  //} else {
                  //    $("#store").hide();
                  //}
                  $(".selected_inventory").show();
                  $("#search_inventories").modal("hide");
                  $("#InventoryDetailId").val(row[1]);
                  $("#InventoryCode").val(row[6]);
                  $("#ItemName").val(row[7]);
                  $("#BalanceQuantity").val(row[2]);
                  $("#UnitPrice").val(row[3].toLocaleString('en'));
                  $(".currencyDisp").text(row[4]);
                  availableQuantity = row[2];
               }


            $(document).ready(function () {




                        });

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });


        $("#UseInAsset").change(function (e) {
           $("#AssociateWithAsset").val(e.target.checked ? "YES" : "NO");
            if ($(this).is(":checked")) {
        $(".asset").show();
            } else {
           $(".asset").hide();
            }
        });
        $("#IssuingType").change(function (e) {
            var type = $(this).val();
            if (type =="BySource") {
                $(".legal_number").show();
                $(".item_card").hide();
                $("#loadinventories").empty();
            } else {
                $(".legal_number").hide();
                $(".item_card").show();
                $("#loadinventories").empty();
                $("#ItemCard").val("");
            }
        });
        $("#Source").change(function (e) {
            var source = $(this).val();
            var fyId = $("#FyId").val();
            if (fyId) {
                if (source) {
                    fetchLegalNumber(fyId, source);
                }
            }
        });
        $("#FyId").change(function (e) {
            var fyId = $(this).val();
            var source = $("#Source").val();
            if (fyId) {
                if (source) {
                    fetchLegalNumber(fyId, source);
                }
            }
        });
        function fetchLegalNumber(fyId, source) {
           $("#SourceId").prop('selectedIndex', 0);
           $("#SourceId").empty();
           var url = '@Url.Action("GetLegalNumber", "InventoriesIssuing")';
            $.ajax({
                type: "POST",
                url: url,
                data: { fyId: fyId, source: source },
                success: function (response) {
                    $("#SourceId").append(response);
                }
            })

        }
        $("#SourceId").change(function (e) {
            var sourceId = $(this).val();
            var source = $("#Source").val();
            if (sourceId) {
                if (source) {
                    fetchInventories(sourceId, source);
                }
            }
        });
        function fetchInventories(id, source) {
              var url = '@Url.Action("LoadInventories", "InventoriesIssuing")';
            $("#loadinventories").load(url, { id: id, source: source }, function (response, status, xhr) {
                if (status == "error") {
                    $("#loadinventories").html("Error on accessing this details, contact system support.");
                }
            });
        }
        function SubmitIssuing(formData) {
            var apply_date = $("#ApplyDate").val();
            if (!apply_date) {
                swal("Please Select Apply Date");
                return false;
            }

                $("#save_button").prop('disabled', true);
            var url = '@Url.Action("SaveIssuing", "InventoriesIssuing")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                 $("#save_button").prop('disabled', false);
                  if (response == "Success") {
                 swal("Data saved successfully", { icon: "success" })
                            .then((value) => {
                              var url = '@Url.Action("PendingIssuing", "InventoriesIssuing")';
                                        window.location.replace(url);
                            });
                                        }
           else {
               swal(response);
                }
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }

        $(function () { // this will be called when the DOM is ready
            $("#Quantity").keyup(function () {
                if (availableQuantity > 0) {
                    var quantity = parseFloat($("#Quantity").val().split(",").join(""));
                    if (quantity > availableQuantity) {
                        $("#Quantity").val("");
                        $("#InventoryValue").val("");
                        swal("Please issuing Quantity can not exceed Available Quantity");
                    }
                    else {
                        var unit_price = parseFloat($("#UnitPrice").val().split(",").join(""));
                        var total_amount = quantity * unit_price;
                     /*   total_amount = total_amount.toFixed(2);*/
                        $("#InventoryValue").val(total_amount.toLocaleString('en'));
                    }

                } else {
                    $("#Quantity").val("");
                    $("#InventoryValue").val("");
                    swal("Please first select Inventory from Item Card");
                }

            });

        });

        $(function () {

            var url = '@Url.Action("GetAssets", "InventoriesIssuing")';

            $("#AssetId").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (term) {
                        return {
                            term: term
                        };
                    },
                    results: function (data, page) {
                        return { results: data.assets }; // data.assets returning json data from Controlle
                    }
                }
            });

        });


        $("#InventoryValue").autoNumeric('init');
        function GetSubWarantData(id) {
                  var url = '@Url.Action("GetSubwarant", "InventoriesIssuing")';
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: {id:id },
                                success: function (result) {
                                    if (result.response == "subwarant") {
                                        $(".isStPayment").show();
                                        $("#department").hide();
                                        $("#ParentInstitutionCode").val(result.parent_code);
                                        $("#SubWarrantCode").val(result.subwarant_code);
                                        $("#ParentInstitutionName").val(result.parent_name);
                                        $("#SubWarrantDescription").val(result.subwarant_name);
                                    } else if (result.response == "Notsubwarant") {
                                        $(".isStPayment").hide();
                                        $("#department").show();
                                     }
                                    else {
                                        $(".isStPayment").hide();
                                        $("#department").show();
                                        swal(result.response);
                                       }


                                }
                            })
        }


        var cancelEntry = function (id,itemName) {

                    swal({
                        title: 'Confirmation',
                        text: "Do you what to cancel item   " + itemName + " ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                          var url = '@Url.Action("CancelEntry", "InventoriesIssuing")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id },
                    success: function (response) {
                        if (response == "Success") {

                            swal("Cancelled successfully", { icon: "success" })
                                      .then((value) => {
                                          location.reload();
                                      });


                        }
                        else {

                            swal(response);
                        }
                    },
                    error: function (xhr) {
                        swal(error);
                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });
        };

           var previewIssuing = function (id) {
          var url = '@Url.Action("PreviewEntry", "InventoriesIssuing")';
          $("#divModalBody").load(url, { id: id }, function (response, status, xhr) {
              if (status == "error") {
                  $("#divModalBody").html("Error on accessing this details, contact system support.");
              }
              $("#divModal").modal("show");
          });
      };

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });

    </script>
}












