@model IFMIS.Areas.IFMISTZ.Models.BudgetReallocationrequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BudgetReallocationrequest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Institution.VoteCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Institution.VoteCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BudgetID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BudgetID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinancialYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaustationId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaustationId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequestType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RequestType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubBudgetClass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GLAccountFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GLAccountFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GLAccountTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GLAccountTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AmountFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AmountFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AmountTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AmountTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExchangeRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExchangeRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequestDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RequestDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReallocationStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReallocationStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HoldFlag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HoldFlag)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
