@{
    ViewBag.Title = "Dashbaord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loadingImg {
        display: none;
    }
    .redStar {
        color: red;
        font-size: 15px;
    }
    .card-box {
        background-color: #fff;
        border: 1px solid #ededed;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        padding: 20px;
    }

    .dash-widget-icon {
        background-color: #eee;
        border-radius: 100%;
        color: blue;
        display: inline-block;
        float: left;
        font-size: 30px;
        height: 60px;
        line-height: 60px;
        margin-right: 10px;
        text-align: center;
        width: 60px;
    }

    .dash-widget-info {
        text-align: right;
    }
    .numbers {
        font-weight: bold;
        font-size: 45px;
    }
    .textSpan {
        color: white;
        font-weight: bold;
    }
</style>
<div id="content" style="margin: 5px;">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-dashboard"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-lg-3">
                                    <div class="dash-widget clearfix card-box" style="background-color: #4CAF50">
                                        <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
                                        <div class="dash-widget-info">
                                            <h3 class="numbers"  data-count="@ViewBag.NoOfRegisteredClient"> 0</h3>
                                            <span class="textSpan"> Registered Clients</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3">
                                    <div class="dash-widget clearfix card-box" style="background-color: #03A9F4">
                                        <span class="dash-widget-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                        <div class="dash-widget-info">
                                            <h3 class="numbers"  data-count="@ViewBag.NoOfClientOnProgress"> 0</h3>
                                            <span class="textSpan">Clients On Progress</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3">
                                    <div class="dash-widget clearfix card-box" style="background-color: #999999">
                                        <span class="dash-widget-icon"><i class="fa fa-bank"></i></span>
                                        <div class="dash-widget-info">
                                            <h3 class="numbers"  data-count="@ViewBag.NoOfAuditedClient">0</h3>
                                            <span class="textSpan">Audited Clients</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3">
                                    <div class="dash-widget clearfix card-box"  style="background-color: #4CAF50">
                                        <span class="dash-widget-icon"><i class="fa fa-building-o" aria-hidden="true"></i></span>
                                        <div class="dash-widget-info">
                                            <h3 class="numbers"  data-count="@ViewBag.NoOfClientSubmittedFinStatement"> 0</h3>
                                            <span class="textSpan"> Client Submitted Financial Statement</span>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="col-md-6 col-sm-6 col-lg-3">
                                    <div class="dash-widget clearfix card-box" style="background-color: #F44336">
                                        <span class="dash-widget-icon"><i class="fa fa-cogs" aria-hidden="true"></i></span>
                                        <div class="dash-widget-info">
                                            <h3 class="numbers"  data-count="">0</h3>
                                            <span class="textSpan">Number of Client Due Date per Quarter</span>
                                        </div>
                                    </div>
                                </div>*@

                            </div>

                            </div>

                    </div>
                </div>
            </article>

        </div>
    </section>
</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        const counters = document.querySelectorAll('.numbers');

        // iterate through all the counter elements
        counters.forEach(counter => {
            // function to increment the counter
            function updateCount() {
                const target = +counter.getAttribute('data-count');
                const count = +counter.innerHTML;

                const inc = Math.floor((target - count) / 100);

                if (count < target && inc > 0) {
                    counter.innerHTML = (count + inc);
                    // repeat the function
                    setTimeout(updateCount, 1);
                }
                // if the count not equal to target, then add remaining count
                else {
                    counter.innerHTML = target;
                }
            }
            updateCount();
        });

    </script>
}




