                    <!--Start of Account Payable-->

<li class="@Html.RouteIf("element", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">Account Payable</span></a>
    <ul>
        <li class="
							@Html.RouteIf("PendingLoan", "active") ||
							@Html.RouteIf("ConfirmLoan", "active") ||
							@Html.RouteIf("ApproveLoan", "active") ||
							@Html.RouteIf("ApprovedLoan", "active")
							">
            <a href="#">Loan Management</a>
            <ul>
                <li class="
									@Html.RouteIf("PendingLoan", "active") ||
									@Html.RouteIf("ConfirmLoan", "active") ||
									@Html.RouteIf("ApproveLoan", "active") ||
									@Html.RouteIf("ApprovedLoan", "active")
									">
                    <a href="#"><i class="fa fa-external-link"></i> Loan Issue</a>
                    <ul>
                        @if (User.IsInRole("Loan Issue Entry"))
                        {
                            <li class="@Html.RouteIf("PendingLoan", "active")">
                                <a href="@Url.Action("PendingLoan", "Loan", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("Loan Issue Examine"))
                        {
                            <li class="@Html.RouteIf("ExamineLoan", "active")">
                                <a href="@Url.Action("ExamineLoan", "Loan", new { area = "IFMISTZ" })">Examine</a>
                            </li>
                        }
                        @if (User.IsInRole("Loan Issue Approval"))
                        {
                            <li class="@Html.RouteIf("ApproveLoan", "active")">
                                <a href="@Url.Action("ApproveLoan", "Loan", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                            <li class="@Html.RouteIf("ApprovedLoan", "active")">
                                <a href="@Url.Action("ApprovedLoan", "Loan", new { area = "IFMISTZ" })">Approved</a>
                            </li>
                        }
                        @if (User.IsInRole("Loan Issue Entry"))
                        {
                            <li class="@Html.RouteIf("PendingDisbursement", "active")">
                                <a href="@Url.Action("PendingDisbursement", "LoanDisbursement", new { area = "IFMISTZ" })">Disbursement</a>
                            </li>
                        }

                    </ul>
                </li>

                <li class="
									@Html.RouteIf("loanrecoverieslist", "active") ||
									@Html.RouteIf("ConfirmLoan", "active") ||
									@Html.RouteIf("ApproveLoan", "active") ||
									@Html.RouteIf("ApprovedLoan", "active")
									">
                    <a href="#"><i class="fa fa-external-link"></i> Loan Recovery</a>
                    <ul>
                        @if (User.IsInRole("Loan Recovery Entry"))
                        {
                            <li class="@Html.RouteIf("loanrecoverieslist", "active") || @Html.RouteIf("LoanReceivingItems", "active") || @Html.RouteIf("PreviewLoan", "active")">
                                <a href="@Url.Action("loanrecoverieslist", "LoanRecoveries", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("Loan Recovery Examine"))
                        {
                            <li class="@Html.RouteIf("RExamineLoan", "active")">
                                <a href="@Url.Action("RExamineLoan", "LoanRecoveries", new { area = "IFMISTZ" })">Examine</a>
                            </li>
                        }
                        @if (User.IsInRole("Loan Recovery Approval"))
                        {
                            <li class="@Html.RouteIf("RApproveLoan", "active")">
                                <a href="@Url.Action("RApproveLoan", "LoanRecoveries", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                            <li class="@Html.RouteIf("RApprovedLoan", "active")">
                                <a href="@Url.Action("RApprovedLoan", "LoanRecoveries", new { area = "IFMISTZ" })">Approved</a>
                            </li>
                        }

                    </ul>
                </li>
                <li class="@Html.RouteIf("LoanTrackerList", "active")">
                    <a href="@Url.Action("LoanTrackerList", "LoanTracker", new { area = "IFMISTZ" })">Tracker</a>
                </li>

            </ul>
        </li>
        <li class="@Html.RouteIf("icons", "active")">
            <a href="#">Imprest Management</a>
            <ul>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Imprest Issue</a>
                    <ul>
                        @if (User.IsInRole("Imprest Entry"))
                        {
                            <li class="@Html.RouteIf("PendingImprest", "active")">
                                <a href="@Url.Action("PendingImprest", "Imprest", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("Imprest Examination"))
                        {
                            <li class="@Html.RouteIf("ExamineImprest", "Imprest")">
                                <a href="@Url.Action("ExamineImprest", "Imprest", new { area = "IFMISTZ" })">Examination</a>
                            </li>
                        }
                        @if (User.IsInRole("Imprest Approval"))
                        {
                            <li class="@Html.RouteIf("ApproveImprest", "active")">
                                <a href="@Url.Action("ApproveImprest", "Imprest", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }

                        @if (User.IsInRole("Imprest Tracker"))
                        {

                            <li class="@Html.RouteIf("ImprestTrackerList", "active")">
                                <a href="@Url.Action("ImprestTrackerList", "Imprest", new { area = "IFMISTZ" })">Imprest Tracker</a>
                            </li>
                        }

                        @*<li class="@Html.RouteIf("Reports", "active")">
                                <a href="@Url.Action("Reports", "Imprest", new { area = "IFMISTZ" })">Reports</a>
                            </li>*@
                    </ul>
                </li>
                <li class="@Html.RouteIf("glyphicons", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Imprest Retirement</a>
                    <ul>
                        @if (User.IsInRole("Imprest Retirement Entry"))
                        {
                            <li class="@Html.RouteIf("PendingImprestRetirement", "active")">
                                <a href="@Url.Action("PendingImprestRetirement", "ImprestRetirement", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("Imprest Retirement Examination"))
                        {
                            <li class="@Html.RouteIf("ExamineRetiredImprest", "active")">
                                <a href="@Url.Action("ExamineRetiredImprest", "ImprestRetirement", new { area = "IFMISTZ" })">Examination</a>
                            </li>
                        }
                        @if (User.IsInRole("Imprest Retirement Approval"))
                        {
                            <li class="@Html.RouteIf("ApproveRetiredImprest", "active")">
                                <a href="@Url.Action("ApproveRetiredImprest", "ImprestRetirement", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }
                        <li class="@Html.RouteIf("RetirementTrackerList", "active")">
                            <a href="@Url.Action("RetirementTrackerList", "ImprestRetirement", new { area = "IFMISTZ" })">Retirement Tracker</a>
                        </li>
                        @*<li class="@Html.RouteIf("ImprestRetirementList", "active")">
                                <a href="@Url.Action("ImprestRetirementList", "ImprestRetirement", new { area = "IFMISTZ" })">Retirement List</a>
                            </li>*@
                        @*<li class="@Html.RouteIf("Reports", "active")">
                                <a href="@Url.Action("Reports", "PaymentVoucher", new { area = "IFMISTZ" })">Reports</a>
                            </li>*@
                    </ul>
                </li>
            </ul>
        </li>
        @Html.Partial("_SpecialImprest")
        <li class="@Html.RouteIf("icons", "active")">
            <a href="#">Debt Management</a>

            <ul>

                <li class="@Html.RouteIf("PendingDebt", "active")">
                    <a href="@Url.Action("PendingDebt", "MeridianVouchers", new { area = "IFMISTZ" })">Pending</a>
                </li>

                <li class="@Html.RouteIf("RemittanceSubmission", "active")">
                    <a href="@Url.Action("RemittanceSubmission", "PaymentTracker", new { area = "IFMISTZ" })">Remitance Submission</a>
                </li>

                @if (!User.IsInRole("Remittance Submission"))

                {
                    <li class="@Html.RouteIf("RemittanceSubmission", "active")">
                        <a href="@Url.Action("RemittanceSubmission", "PaymentTracker", new { area = "IFMISTZ" })">Remitance Submission</a>
                    </li>
                }
                @if (User.IsInRole("Payment Voucher Tracker"))

                {

                    <li class="@Html.RouteIf("MeridianVoucherTrackerList", "active")">

                        <a href="@Url.Action("MeridianVoucherTrackerList", "PaymentTracker", new { area = "IFMISTZ" })">Tracker</a>

                    </li>

                }
            </ul>
        </li>
        @*<li class="@Html.RouteIf("icons", "active")">
                <a href="#">Advance
            </a>
                <ul>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="@Url.Action("fontawesome", "icons")"><i class="fa fa-external-link"></i> Advance Issue</a>
                    </li>
                    <li class="@Html.RouteIf("glyphicons", "active")">
                        <a href="@Url.Action("glyphicons", "icons")"><i class="fa fa-external-link"></i> Advance expence /Receiving</a>
                    </li>
                    <li class="@Html.RouteIf("flags", "active")">
                        <a href="@Url.Action("flags", "icons")"><i class="fa fa-external-link"></i> Advance Approvals</a>
                    </li>
                </ul>
            </li>*@
        @{ Html.RenderPartial("_NetSalaryAside"); }
        @{ Html.RenderPartial("_SalaryDeductions"); }
        @{ Html.RenderPartial("_AtSourcePayment"); }
        @{ Html.RenderPartial("_SalaryAnamolies"); }
        @{ Html.RenderPartial("_FacilityRevenueTransfer"); }
        <li class="@Html.RouteIf("PaymentVoucher", "active")">
            <a href="#"> Payment Voucher</a>
            <ul>

                @if (User.IsInRole("Voucher Entry"))
                {
                    <li class="@Html.RouteIf("PendingVoucher", "active")">
                        <a href="@Url.Action("PendingVoucher", "PaymentVoucher", new { area = "IFMISTZ" })">Entry</a>
                    </li>
                }
                @if (User.IsInRole("Voucher Entry"))
                {
                    <li class="@Html.RouteIf("PendingAccrualVoucher", "active")">
                        <a href="@Url.Action("PendingAccrualVoucher", "PaymentVoucher", new { area = "IFMISTZ" })">Accrual</a>
                    </li>
                }
                @if (User.IsInRole("Voucher Examination"))
                {
                    <li class="@Html.RouteIf("ExamineVoucher", "active")">
                        <a href="@Url.Action("ExamineVoucher", "PaymentVoucher", new { area = "IFMISTZ" })">Examination</a>
                    </li>
                }
                @if (User.IsInRole("Voucher Approval"))
                {
                    <li class="@Html.RouteIf("ApproveVoucher", "active")">
                        <a href="@Url.Action("ApproveVoucher", "PaymentVoucher", new { area = "IFMISTZ" })">Voucher Approval</a>
                    </li>
                }
                @if (User.IsInRole("Payment Generation"))
                {
                    <li class="@Html.RouteIf("GeneratePayment", "active")">
                        <a href="@Url.Action("GeneratePayment", "PaymentVoucher", new { area = "IFMISTZ" })">Generate</a>
                    </li>
                }
                @if (User.IsInRole("Payment Approval"))
                {
                    <li class="@Html.RouteIf("ApprovePayment", "active")">
                        <a href="@Url.Action("ApprovePayment", "PaymentVoucher", new { area = "IFMISTZ" })">Payment Approval</a>
                    </li>
                }
                @if (User.IsInRole("PaymentSlip Submission"))
                {
                    <li class="@Html.RouteIf("PaymentSubmission", "active")">
                        <a href="@Url.Action("PaymentSubmission", "PaymentVoucher", new { area = "IFMISTZ" })">Payment Submission</a>
                    </li>
                }
                @if (User.IsInRole("Payment Reports"))
                {
                    <li class="@Html.RouteIf("Reports", "active")">
                        <a href="@Url.Action("Reports", "PaymentVoucher", new { area = "IFMISTZ" })">Reports</a>
                    </li>
                }
                @if (User.IsInRole("Payment Voucher Tracker"))
                {
                    <li class="@Html.RouteIf("PaymentTrackerList", "active")">
                        <a href="@Url.Action("PaymentTrackerList", "PaymentTracker", new { area = "IFMISTZ" })">Payment Tracker</a>
                    </li>
                }
                @if (User.IsInRole("Payment Voucher Tracker"))

                {

                    <li class="@Html.RouteIf("VoucherTrackerList", "active")">

                        <a href="@Url.Action("VoucherTrackerList", "PaymentTracker", new { area = "IFMISTZ" })">Voucher Tracker</a>

                    </li>

                }
            </ul>
        </li>

        <li class="@Html.RouteIf("BackLog", "active")">
            <a href="#"> BackLog</a>
            <ul>
                <li class="@Html.RouteIf("BackLog", "active")">
                    <a href="#">Payments</a>
                    <ul>
                        @if (User.IsInRole("BackLog Entry"))
                        {
                            <li class="@Html.RouteIf("BackLogList", "active")">
                                <a href="@Url.Action("BackLogList", "BackLog", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("BackLog Approve"))
                        {
                            <li class="@Html.RouteIf("BackLogApprove", "active")">
                                <a href="@Url.Action("BackLogApprove", "BackLog", new { area = "IFMISTZ" })">Approve</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@Html.RouteIf("BackLogOpeningBalance", "active")">
                    <a href="#">Opening Balance</a>
                    <ul>
                        @if (User.IsInRole("BackLogOB Entry"))
                        {
                            <li class="@Html.RouteIf("BackLogOBList", "active")">
                                <a href="@Url.Action("BackLogOBList", "BackLogOpeningBalance", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("BackLogOB Approve"))
                        {
                            <li class="@Html.RouteIf("BackLogOBApprove", "active")">
                                <a href="@Url.Action("BackLogOBApprove", "BackLogOpeningBalance", new { area = "IFMISTZ" })">Approve</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@Html.RouteIf("BackLogFFT", "active")">
                    <a href="#">FFT</a>
                    <ul>
                        @if (User.IsInRole("BackLogOB Entry"))
                        {
                            <li class="@Html.RouteIf("BackLogOBList", "active")">
                                <a href="@Url.Action("BackLogOBList", "BackLogFFT", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("BackLogOB Approve"))
                        {
                            <li class="@Html.RouteIf("BackLogOBApprove", "active")">
                                <a href="@Url.Action("BackLogOBApprove", "BackLogFFT", new { area = "IFMISTZ" })">Approve</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </li>

        <li class="@Html.RouteIf("WithHolding", "active")">
            <a href="#"> WithHolding Tax</a>
            <ul>

                @if (User.IsInRole("WithHolding Entry"))
                {
                    @*<li class="@Html.RouteIf("WithHoldingEntry", "active")">
                            <a href="@Url.Action("Create", "WithHolding", new { area = "IFMISTZ" })">Entry</a>
                        </li>*@
                    <li class="@Html.RouteIf("RequestControlNumber", "active")">
                        <a href="@Url.Action("RequestControlNumber", "WithHolding", new { area = "IFMISTZ" })">Entry(Request Control No)</a>
                    </li>

                    <li class="@Html.RouteIf("WithHoldingSummary", "active")">
                        <a href="@Url.Action("WithHoldingSummary", "WithHolding", new { area = "IFMISTZ" })">Confirm</a>
                    </li>
                }
                @if (User.IsInRole("WithHolding Examination"))
                {
                    <li class="@Html.RouteIf("ExamineWithHolding", "active")">
                        <a href="@Url.Action("ExamineWithHolding", "WithHolding", new { area = "IFMISTZ" })">Examination</a>
                    </li>
                }
                @if (User.IsInRole("WithHolding Approval"))
                {
                    <li class="@Html.RouteIf("ApproveWithHolding", "active")">
                        <a href="@Url.Action("ApproveWithHolding", "WithHolding", new { area = "IFMISTZ" })">Voucher Approval</a>
                    </li>
                }

                @*@if (User.IsInRole("WithHolding Reports"))
                    {
                        <li class="@Html.RouteIf("Reports", "active")">
                            <a href="@Url.Action("Reports", "PaymentVoucher", new { area = "IFMISTZ" })">Reports</a>
                        </li>
                    }*@
                <li class="@Html.RouteIf("WithHoldingTrackerList", "active")">
                    <a href="@Url.Action("WithHoldingTrackerList", "WithHoldingTracker", new { area = "IFMISTZ" })">WithHolding Tracker</a>
                </li>

            </ul>
        </li>

        <li class="@Html.RouteIf("EndOfYearAccrualPending", "active")
       || @Html.RouteIf("EndOfYearAccrualApprove", "active")">
            <a href="#">EOY Accrual</a>
            <ul>
                @if (User.IsInRole("Voucher Entry"))
                {
                    <li class="@Html.RouteIf("EndOfYearAccrualPending", "active")">
                        <a href="@Url.Action("EndOfYearAccrualPending", "PaymentVoucher", new { area = "IFMISTZ" })">Confirm</a>
                    </li>
                }
                @if (User.IsInRole("Voucher Approval"))
                {
                    <li class="@Html.RouteIf("EndOfYearAccrualApprove", "active")">
                        <a href="@Url.Action("EndOfYearAccrualApprove", "PaymentVoucher", new { area = "IFMISTZ" })">Approve</a>
                    </li>
                }
            </ul>
        </li>
        @*<li class="@Html.RouteIf("PayeeList", "active")">
            <a href="#">Payee Management</a>
            <ul>
                @if (User.IsInRole("Payee Entry"))
                {
                    <li class="@Html.RouteIf("PayeeList", "active")">
                        <a href="@Url.Action("PayeeList", "Payees", new { area = "IFMISTZ" })">Entry</a>
                    </li>
                }@if (User.IsInRole("Payee Approval"))
                {
                    <li class="@Html.RouteIf("ApprovePayee", "active")">
                        <a href="@Url.Action("ApprovePayee", "Payees", new { area = "IFMISTZ" })">Approve</a>
                    </li>
                }
                <li class="@Html.RouteIf("PayeeStatus", "active")">
                    <a href="@Url.Action("PayeeStatus", "Payees", new { area = "IFMISTZ" })">Payee Status</a>
                </li>
                @*<li class="@Html.RouteIf("TrackPayee", "active")">
                        <a href="@Url.Action("PayeeTracker", "Payees", new { area = "IFMISTZ" })">Payee Tracker</a>
                    </li>*@
        @*<li class="@Html.RouteIf("PayeeTracker", "active")">
                    <a href="@Url.Action("PayeeTracker", "Payees", new { area = "IFMISTZ" })">Payee Tracker</a>
                </li>
                <li class="@Html.RouteIf("PayeePaymentTrackerList", "active")">
                    <a href="@Url.Action("PayeePaymentTrackerList", "PayeePaymentTracker", new { area = "IFMISTZ" })">Payee Payment Tracker</a>
                </li>
                <li class="@Html.RouteIf("PayeeTracker", "active")">
                    <a href="@Url.Action("PayeeTransctionList", "Payees", new { area = "IFMISTZ" })">Payee Transactions</a>
                </li>
            </ul>*@
        @*</li>*@
        <li class="@Html.RouteIf("icons", "active")">
            <a href="#">Payee Management</a>
            <ul>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Payee Information</a>
                    <ul>
                        @if (User.IsInRole("Payee Entry"))
                        {
                            <li class="@Html.RouteIf("PayeeList", "active")">
                                <a href="@Url.Action("PayeeList", "Payees", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("Payee Approval"))
                        {
                            <li class="@Html.RouteIf("ApprovePayee", "active")">
                                <a href="@Url.Action("ApprovePayee", "Payees", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }

                    </ul>
                </li>

                <li class="@Html.RouteIf("glyphicons", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Payee Accounts/Details</a>
                    <ul>
                        <li class="@Html.RouteIf("ApprovedPayees", "active")">
                            <a href="@Url.Action("ApprovedPayees", "Payees", new { area = "IFMISTZ" })">All Approved Payees</a>
                        </li>
                        @if (User.IsInRole("Payee Entry"))
                        {
                            <li class="@Html.RouteIf("PayeeAccountList", "active")">
                                <a href="@Url.Action("PayeeAccountList", "Payees", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }

                        @if (User.IsInRole("Payee Approval"))
                        {
                            <li class="@Html.RouteIf("PayeeAccountApproval", "active")">
                                <a href="@Url.Action("PayeeAccountApproval", "Payees", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }
                        <li class="@Html.RouteIf("AllPayeeStatus", "active")">
                            <a href="@Url.Action("AllPayeeStatus", "Payees", new { area = "IFMISTZ" })">All Payee Status</a>
                        </li>

                    </ul>
                </li>
                <li class="@Html.RouteIf("glyphicons", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Verified Payees</a>
                    <ul>
                        <li class="@Html.RouteIf("VerifiedPayee", "active")">
                            <a href="@Url.Action("VerifiedPayee", "Payees", new { area = "IFMISTZ" })">Approval</a>
                        </li>
                    </ul>
                </li>
                @*<li class="@Html.RouteIf("glyphicons", "active")">
                        <a href="#"><i class="fa fa-external-link"></i> Verified Accounts</a>
                        <ul>
                            <li class="@Html.RouteIf("VerifiedAccount", "active")">
                                <a href="@Url.Action("VerifiedAccount", "Payees", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        </ul>
                    </li>*@
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Independent Payees</a>
                    <ul>
                        @if (User.IsInRole("Upload Ngome Payee"))
                        {
                            <li class="@Html.RouteIf("NgomePayeeList", "active")">
                                <a href="@Url.Action("NgomePayeeList", "Payees", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        }
                        @if (User.IsInRole("Upload Ngome Payee"))
                        {
                            <li class="@Html.RouteIf("NgomePayeeList", "active")">
                                <a href="@Url.Action("ApproveNgomePayee", "Payees", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>TRA Payees</a>
                    <ul>
                        @if (User.IsInRole("Upload TRA Payee"))
                        {
                            <li class="@Html.RouteIf("TraPayeeList", "active")">
                                <a href="@Url.Action("TraPayeeList", "TraPayees", new { area = "IFMISTZ" })">TRA Payees</a>
                            </li>
                        }
                    </ul>
                </li>

                <li class="@Html.RouteIf("glyphicons", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Withholding Payees</a>
                    <ul>
                        <li class="@Html.RouteIf("Withholding Payees", "active")">
                            <a href="@Url.Action("InstitutionPayeeList", "InstitutionPayeeConfig", new { area = "IFMISTZ" })">Entry</a>
                        </li>
                    </ul>
                </li>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Tracker</a>
                    <ul>
                        <li class="@Html.RouteIf("PayeeTracker", "active")">
                            <a href="@Url.Action("PayeeTracker", "Payees", new { area = "IFMISTZ" })">Payee Tracker</a>
                        </li>
                        <li class="@Html.RouteIf("PayeeTracker", "active")">
                            <a href="@Url.Action("PayeeTransctionList", "Payees", new { area = "IFMISTZ" })">Payee Transactions</a>
                        </li>
                        @*<li class="@Html.RouteIf("PayeeStatus", "active")">
                                <a href="@Url.Action("PayeeStatus", "Payees", new { area = "IFMISTZ" })">Payee Status</a>
                            </li>*@
                        <li class="@Html.RouteIf("PayeePaymentTrackerList", "active")">
                            <a href="@Url.Action("PayeePaymentTrackerList", "PayeePaymentTracker", new { area = "IFMISTZ" })">Payee Payment Tracker</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("appviews", "active")">
            <a href="#"><span class="menu-item-parent">Payment Office</span></a>
            <ul>
                <li class="@Html.RouteIf("Confirmation", "active")">
                    <a href="#">Payment</a>
                    <ul>
                        @if (User.IsInRole("Payment Office Verification"))
                        {
                            <li class="@Html.RouteIf("VerifyPaymentFile", "active")">
                                <a href="@Url.Action("VerifyPaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">Verification</a>
                            </li>
                        }
                        @if (User.IsInRole("Payment Office Approval"))
                        {
                            <li class="@Html.RouteIf("ApprovePaymentFile", "active")">
                                <a href="@Url.Action("ApprovePaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }

                        @if (User.IsInRole("Payment File Generation"))
                        {
                            <li class="@Html.RouteIf("GeneratePaymentFile", "active")">
                                <a href="@Url.Action("GeneratePaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">File Generation</a>
                            </li>
                        }

                        else if (User.IsInRole("Payment Office Submission"))
                        {
                            <li class="@Html.RouteIf("SubmitPaymentFile", "active")">
                                <a href="@Url.Action("SubmitPaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">Submission</a>
                            </li>
                            <li class="@Html.RouteIf("SettledMobilePayment", "active")">
                                <a href="@Url.Action("SettledMobilePayment", "BulkPayments", new { area = "IFMISTZ" })">Mobile Payment</a>
                            </li>
                        }

                        @if (User.IsInRole("Payment Office Reports"))
                        {
                            <li class="@Html.RouteIf("PaymentStatus", "active")">
                                <a href="@Url.Action("PaymentStatus", "PaymentOffice", new { area = "IFMISTZ" })">Payment Status</a>
                            </li>
                            <li class="@Html.RouteIf("SearchPaymentFile", "active")">
                                <a href="@Url.Action("SearchPaymentFile", "PaymentOfficeTracker", new { area = "IFMISTZ" })">Search Payment</a>
                            </li>
                        }

                        @if (User.IsInRole("Payment Office Tracker"))
                        {
                            <li class="@Html.RouteIf("PaymentOfficeTrackerList", "active")">
                                <a href="@Url.Action("PaymentOfficeTrackerList", "PaymentOfficeTracker", new { area = "IFMISTZ" })">Payment Tracker</a>
                            </li>
                            <li class="@Html.RouteIf("PaymentOfficeTrackerList", "active")">
                                <a href="@Url.Action("PaymentOfficeTrackerList", "PaymentOfficeTracker", new { area = "IFMISTZ" })">Payment Tracker</a>
                            </li>
                        }
                        @if (User.IsInRole("PaymentOfficeSubmissionStatus"))
                        {
                            <li class="@Html.RouteIf("paymentofficelist", "active")">
                                <a href="@Url.Action("paymentofficelist", "PaymentOfficeSubmissionStatus", new { area = "IFMISTZ" })">PO Submission Status</a>
                            </li>
                            <li class="@Html.RouteIf("PaymentOfficeAccountList", "active")">
                                <a href="@Url.Action("PaymentOfficeAccountList", "PaymentOfficeSubmissionStatus", new { area = "IFMISTZ" })">
                                    Account Submission Status
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@Html.RouteIf("appviews", "active")">
                    <a href="#"><span class="menu-item-parent">Cheque</span></a>
                    <ul>
                        <li class="@Html.RouteIf("StandardChequeRPTv", "active")">
                            @Html.ActionLink("Print Standard Cheque", "StandardChequeRPTv", "Report", new { area = "IFMISTZ" }, null)
                        </li>
                        <li class="@Html.RouteIf("ReprintStandardChequeRPTv", "active")">
                            @Html.ActionLink("Reprint Standard Cheque", "ReprintStandardChequeRPTv", "Report", new { area = "IFMISTZ" }, null)
                        </li>
                        <li class="@Html.RouteIf("Chequelist", "active")">
                            <a href="@Url.Action("Chequelist", "PaymentOffice", new { area = "IFMISTZ" })">Approve</a>
                        </li>
                    </ul>
                </li>
                <li class="@Html.RouteIf("Confirmation", "active")">
                    <a href="#">Bulky Payment</a>
                    <ul>
                        @if (User.IsInRole("Payment Office Verification"))
                        {
                            <li class="@Html.RouteIf("Verification", "active")">
                                <a href="@Url.Action("Verification", "PaymentBatches", new { area = "IFMISTZ" })">Verification</a>
                            </li>
                        }
                        @if (User.IsInRole("Payment Office Approval"))
                        {
                            <li class="@Html.RouteIf("Approval", "active")">
                                <a href="@Url.Action("Approval", "PaymentBatches", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        }

                        @if (User.IsInRole("Payment Office Submission"))
                        {
                            <li class="@Html.RouteIf("Submission", "active")">
                                <a href="@Url.Action("Submission", "PaymentBatches", new { area = "IFMISTZ" })">Submission</a>
                            </li>
                        }

                        @if (User.IsInRole("Payment Office Bulk Payment Tracker"))
                        {
                            <li class="@Html.RouteIf("PaymentBatchTrackerList", "active")">
                                <a href="@Url.Action("PaymentBatchTrackerList", "BulkPaymentTracker", new { area = "IFMISTZ" })">Payment Status</a>
                            </li>
                        }

                    </ul>
                </li>


            </ul>
        </li>

        <li class="@Html.RouteIf("appviews", "active")">
            <a href="#"><span class="menu-item-parent">Unapplied Management</span></a>
            <ul>

                @if (User.IsInRole("Unapplied Confirmation"))
                {
                    <li class="@Html.RouteIf("UnappliedList", "active")">
                        <a href="@Url.Action("UnappliedList", "Unapplieds", new { area = "IFMISTZ" })">Entry</a>
                    </li>
                }
                @if (User.IsInRole("Approve Unapplied Withdrawal"))
                {
                    <li class="@Html.RouteIf("UnappliedWithdrawalList", "active")">
                        <a href="@Url.Action("UnappliedWithdrawalList", "Unapplieds", new { area = "IFMISTZ" })">Approve Withdrawal</a>
                    </li>
                }

                <li class="@Html.RouteIf("UnappliedTracker", "active")">
                    <a href="@Url.Action("UnappliedTracker", "Unapplieds", new { area = "IFMISTZ" })">Unapplied Tracker</a>
                </li>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i> Previous Year Unapplied</a>
                    <ul>
                        @if (User.IsInRole("Upload Previous Year Unapplied"))
                        {
                            <li class="@Html.RouteIf("PreviousYearUnappliedList", "active")">
                                <a href="@Url.Action("PreviousYearUnappliedList", "Unapplieds", new { area = "IFMISTZ" })">Upload</a>
                            </li>
                        }
                        @if (User.IsInRole("Confirm Previous Year Unapplied"))
                        {
                            <li class="@Html.RouteIf("MdaUnappliedList", "active")">
                                <a href="@Url.Action("MdaUnappliedList", "Unapplieds", new { area = "IFMISTZ" })">Confirmation</a>
                            </li>
                        }
                        @if (User.IsInRole("View All Unapplied"))
                        {
                            <li class="@Html.RouteIf("AllUnapplieds", "active")">
                                <a href="@Url.Action("AllUnapplieds", "Unapplieds", new { area = "IFMISTZ" })">All Unapplieds</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </li>

        <li class="@Html.RouteIf("PrePayments", "active")">
            <a href="#"> Prepayment</a>
            <ul>
                <li class="@Html.RouteIf("prepayments", "active")">
                    <a href="#">Issue</a>
                    <ul>
                        @if (User.IsInRole("Prepayment Entry"))
                        {
                            <li class="@Html.RouteIf("PrePayments", "active") || @Html.RouteIf("CreatePrepayment", "active") || @Html.RouteIf("EditPrepayment", "active") || @Html.RouteIf("PreviewPrepayment", "active")">
                                <a href="@Url.Action("PrePayments", "PrePayment", new { area = "IFMISTZ" })">Entry</a>
                            </li>

                        }

                        @if (User.IsInRole("Prepayment Examine"))
                        {
                            <li class="@Html.RouteIf("PrePaymentExamine", "active")">
                                <a href="@Url.Action("PrePaymentExamine", "PrePayment", new { area = "IFMISTZ" })">Examine</a>
                            </li>
                        }

                        @if (User.IsInRole("Prepayment Approval"))
                        {

                            <li class="@Html.RouteIf("PrePaymentApprove", "active")">
                                <a href="@Url.Action("PrePaymentApprove", "PrePayment", new { area = "IFMISTZ" })">Approve</a>
                            </li>

                            <li class="@Html.RouteIf("ApprovedPrePayment", "active")">
                                <a href="@Url.Action("ApprovedPrePayment", "PrePayment", new { area = "IFMISTZ" })"> Approved</a>
                            </li>
                        }

                    </ul>
                </li>

                <li class="@Html.RouteIf("prepaymentreceivinglist", "active")">
                    <a href="#">Prepayment Receiving</a>
                    <ul>
                        @if (User.IsInRole("Prepayment Receiving Entry"))
                        {
                            <li class="@Html.RouteIf("PrePaymentreceivinglist", "active") || @Html.RouteIf("ReceivingItems", "active")">
                                <a href="@Url.Action("PrePaymentreceivinglist", "PrePayment", new { area = "IFMISTZ" })">Receiving Entry</a>
                            </li>

                        }
                        @if (User.IsInRole("Prepayment Receiving Examine"))
                        {
                            <li class="@Html.RouteIf("PrepaymentExamineReceivings", "active")">
                                <a href="@Url.Action("PrepaymentExamineReceivings", "PrePayment", new { area = "IFMISTZ" })">Examine</a>
                            </li>

                        }
                        @if (User.IsInRole("Prepayment Receiving Approval"))
                        {

                            <li class="@Html.RouteIf("PrePaymentApproveReceivings", "active")">
                                <a href="@Url.Action("PrePaymentApproveReceivings", "PrePayment", new { area = "IFMISTZ" })">Approve</a>
                            </li>
                            <li class="@Html.RouteIf("PrePaymentApprovedReceivings", "active")">
                                <a href="@Url.Action("PrePaymentApprovedReceivings", "PrePayment", new { area = "IFMISTZ" })"> Approved</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="@Html.RouteIf("PrepaymentTrackerList", "active")">
                    <a href="@Url.Action("PrepaymentTrackerList", "PrepaymentTracker", new { area = "IFMISTZ" })">Tracker</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("", "active")">

            <a href="#">Bulk Payment</a>
            <ul>
                @if (User.IsInRole("Bulk Payment Entry"))
                {
                    <li class="@Html.RouteIf("PaymentBatchList", "active")">
                        <a href="@Url.Action("PaymentBatchList", "PaymentBatches", new { area = "IFMISTZ" })">Entry</a>
                    </li>

                    @*<li class="@Html.RouteIf("UnappliedBatchList", "active")">
                            <a href="@Url.Action("UnappliedBatchList", "UnappliedBatches", new { area = "IFMISTZ" })">Unapplied List</a>
                        </li>*@

                    @*<li class="@Html.RouteIf("UploadPayments", "active")">
                            <a href="@Url.Action("UploadPayments", "BulkPayments", new { area = "IFMISTZ" })">Upload Payment</a>
                        </li>

                        <li class="@Html.RouteIf("PaymentConfirmation", "active")">
                            <a href="@Url.Action("PaymentConfirmation", "PaymentBatches", new { area = "IFMISTZ" })">Confirmation</a>
                        </li>*@
                }
                @if (User.IsInRole("Bulk Payment Verification"))
                {
                    <li class="@Html.RouteIf("PaymentBatchVerification", "active")">
                        <a href="@Url.Action("PaymentBatchVerification", "PaymentBatches", new { area = "IFMISTZ" })">Verification</a>
                    </li>
                }
                @if (User.IsInRole("Bulk Payment Approval"))
                {
                    <li class="@Html.RouteIf("PaymentBatchApproval", "active")">
                        <a href="@Url.Action("PaymentBatchApproval", "PaymentBatches", new { area = "IFMISTZ" })">Approval</a>
                    </li>

                }
                @if (User.IsInRole("Bulk Payment Submission"))
                {
                    <li class="@Html.RouteIf("SubmissionPaymentOffice", "active")">
                        <a href="@Url.Action("SubmissionPaymentOffice", "PaymentBatches", new { area = "IFMISTZ" })">Submission</a>
                    </li>
                    <li class="@Html.RouteIf("SentToPaymentList", "active")">
                        <a href="@Url.Action("SentToPaymentList", "PaymentBatches", new { area = "IFMISTZ" })">Sent To Payment List</a>
                    </li>
                }



                @if (User.IsInRole("Bulk Payment Tracker"))
                {
                    <li class="@Html.RouteIf("BulkPaymentTrackerList", "active")">
                        <a href="@Url.Action("BulkPaymentTrackerList", "BulkPaymentTracker", new { area = "IFMISTZ" })">Bulk Payment Tracker</a>
                    </li>
                }

            </ul>
        </li>
    </ul>
</li>

<!--End of Account Payable-->