<li class="#">
    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">Loan</span></a>
    <ul>
        @if (User.IsInRole("Loan Settings"))
        {
            <li class="#">
                <a href="#">Loan Settings</a>
                <ul>
                    <li class="@Html.RouteIf("LoanSecurityList", "active") || @Html.RouteIf("CreateLoanSecurity", "active") || @Html.RouteIf("EditLoanSecurity", "active")">
                        <a href="@Url.Action("LoanSecurityList", "Setting", new { area = "LoanMod" })">Loan Security</a>
                    </li>

                    <li class="@Html.RouteIf("CustomerTypeList", "active") || @Html.RouteIf("CreateCustomerType", "active") || @Html.RouteIf("EditCustomerType", "active")">
                        <a href="@Url.Action("CustomerTypeList", "Setting", new { area = "LoanMod" })">Customer Type</a>
                    </li>

                    <li class="@Html.RouteIf("LoanProductList", "active") || @Html.RouteIf("CreateLoanProduct", "active") || @Html.RouteIf("EditLoanProduct", "active") || @Html.RouteIf("LoanProductDetails", "active")">
                        <a href="@Url.Action("LoanProductList", "Setting", new { area = "LoanMod" })">Loan Product</a>
                    </li>

                    <li class="@Html.RouteIf("LoanSubProductList", "active") || @Html.RouteIf("CreateLoanSubProduct", "active") || @Html.RouteIf("LoanSubProductDetails", "active") || @Html.RouteIf("EditLoanSubProduct", "active")">
                        <a href="@Url.Action("LoanSubProductList", "Setting", new { area = "LoanMod" })">Loan Sub Product</a>
                    </li>
                    <li class="@Html.RouteIf("CollateralTypeList", "active") || @Html.RouteIf("CreateCollateralType", "active") || @Html.RouteIf("EditCollateralType", "active")">
                        <a href="@Url.Action("CollateralTypeList", "Setting", new { area = "LoanMod" })">Collateral Type</a>
                    </li>
                    <li class="@Html.RouteIf("CollateralUsageList", "active") || @Html.RouteIf("CreateCollateralUsage", "active") || @Html.RouteIf("EditCollateralUsage", "active")">
                        <a href="@Url.Action("CollateralUsageList", "Setting", new { area = "LoanMod" })">Collateral Usage</a>
                    </li>

                    @*<li class="@Html.RouteIf("LoanScoreList", "active") || @Html.RouteIf("CreateLoanScore", "active") || @Html.RouteIf("EditLoanScore", "active")">
                            <a href="@Url.Action("LoanScoreList", "Setting", new { area = "LoanMod" })">Loan Score</a>
                        </li>*@

                    <li class="@Html.RouteIf("ScoreGradeList", "active") || @Html.RouteIf("CreateScoreGrade", "active") || @Html.RouteIf("EditScoreGrade", "active")">
                        <a href="@Url.Action("ScoreGradeList", "Setting", new { area = "LoanMod" })">Score Grade</a>
                    </li>

                    <li class="@Html.RouteIf("ScoreCardList", "active") || @Html.RouteIf("CreateScoreCard", "active") || @Html.RouteIf("EditScoreCard", "active")">
                        <a href="@Url.Action("ScoreCardList", "Setting", new { area = "LoanMod" })">Score card</a>
                    </li>

                    <li class="@Html.RouteIf("ScoreCardDetailList", "active") || @Html.RouteIf("CreateScoreCardDetail", "active") || @Html.RouteIf("EditScoreCardDetail", "active")">
                        <a href="@Url.Action("ScoreCardDetailList", "Setting", new { area = "LoanMod" })">Score card Detail</a>
                    </li>

                    <li class="@Html.RouteIf("CustomerProductDepositList", "active") || @Html.RouteIf("CreateCustomerProductDeposit", "active") || @Html.RouteIf("EditCustomerProductDeposit", "active")">
                        <a href="@Url.Action("CustomerProductDepositList", "Setting", new { area = "LoanMod" })">Customer Product Deposit</a>
                    </li>

                    @*<li class="#">
                            <a href="@Url.Action("LoanChargeList", "Setting", new { area = "LoanMod" })">Loan Charge</a>
                        </li>*@

                    <li class="@Html.RouteIf("AgentList", "active") || @Html.RouteIf("CreateAgent", "active") || @Html.RouteIf("EditAgent", "active")">
                        <a href="@Url.Action("AgentList", "Setting", new { area = "LoanMod" })">Agent</a>
                    </li>

                    <li class="@Html.RouteIf("LoanAccessorList", "active") || @Html.RouteIf("CreateLoanAccessor", "active") || @Html.RouteIf("EditLoanAccessor", "active")">
                        <a href="@Url.Action("LoanAccessorList", "Setting", new { area = "LoanMod" })">Loan Appraiser</a>
                    </li>

                    <li class="@Html.RouteIf("LiquidationCategoryList", "active") || @Html.RouteIf("CreateLiquidationCategory", "active") || @Html.RouteIf("EditLiquidationCategory", "active")">
                        <a href="@Url.Action("LiquidationCategoryList", "Setting", new { area = "LoanMod" })">Liquidation Category</a>
                    </li>

                    <li class="@Html.RouteIf("LoanApprovalLevelList", "active") || @Html.RouteIf("CreateLoanApprovalLevel", "active") || @Html.RouteIf("EditLoanApprovalLevel", "active")">
                        <a href="@Url.Action("LoanApprovalLevelList", "Setting", new { area = "LoanMod" })">Loan Approval Level</a>
                    </li>

                    <li class="@Html.RouteIf("AttachmentTypeList", "active") || @Html.RouteIf("CreateAttachmentType", "active") || @Html.RouteIf("EditAttachmentType", "active")">
                        <a href="@Url.Action("AttachmentTypeList", "Setting", new { area = "LoanMod" })">General Attachments</a>
                    </li>



                    <li class="@Html.RouteIf("CollateralAttachmentList", "active") || @Html.RouteIf("CreateCollateralAttachment", "active") || @Html.RouteIf("EditCollateralAttachment", "active")">
                        <a href="@Url.Action("CollateralAttachmentList", "Setting", new { area = "LoanMod" })">Collateral Attachments</a>
                    </li>
                    <li class="@Html.RouteIf("CustomerTypeAttachmentList", "active") || @Html.RouteIf("CreateCustomerTypeAttachment", "active") || @Html.RouteIf("EditCustomerTypeAttachment", "active")">
                        <a href="@Url.Action("CustomerTypeAttachmentList", "Setting", new { area = "LoanMod" })">Customer Type Attachments</a>
                    </li>

                    <li class="@Html.RouteIf("LoanProductAttachmentList", "active") || @Html.RouteIf("CreateLoanProductAttachment", "active") || @Html.RouteIf("EditLoanProductAttachment", "active")">
                        <a href="@Url.Action("LoanProductAttachmentList", "Setting", new { area = "LoanMod" })">Loan Product Attachments</a>
                    </li>

                    <li class="@Html.RouteIf("LoanSubProductAttachmentList", "active") || @Html.RouteIf("CreateLoanSubProductAttachment", "active") || @Html.RouteIf("EditLoanSubProductAttachment", "active")">
                        <a href="@Url.Action("LoanSubProductAttachmentList", "Setting", new { area = "LoanMod" })">Loan Sub Product Attachments</a>
                    </li>
                    <li class="@Html.RouteIf("LoanLegalReviewAttachmentEntry", "active") || @Html.RouteIf("LoanLegalReviewAttachmentCreate", "active")">
                        <a href="@Url.Action("LoanLegalReviewAttachmentEntry", "LoanLegalReviewAttachment", new { area = "LoanMod" })">LegalReview Attachments</a>
                    </li>


                    <li class="@Html.RouteIf("PendingCustomerBackList", "active")">
                        <a href="@Url.Action("PendingCustomerBackList", "CustomerBackList", new { area = "LoanMod" })">Pending Customer BackList</a>
                    </li>
                    <li class="@Html.RouteIf("ConfirmedCustomerBackList", "active")">
                        <a href="@Url.Action("ConfirmedCustomerBackList", "CustomerBackList", new { area = "LoanMod" })">Confirmed Customer BackList</a>
                    </li>



                </ul>
            </li>
        }
        @if (User.IsInRole("Loan Application Entry") || User.IsInRole("Loan Application Examine") || User.IsInRole("Loan Application Approval") || User.IsInRole("Loan Application Assign"))
        {
            <li class="#">
                <a href="#">Loan Application</a>
                <ul>
                    @if (User.IsInRole("Loan Application Entry"))
                    {
                        <li class="@Html.RouteIf("LoanApplicationList", "active") || @Html.RouteIf("CreateLoanApplication", "active") || @Html.RouteIf("EditLoanApplication", "active") || @Html.RouteIf("EditEndorsement", "active") || @Html.RouteIf("View", "active")">
                            <a href="@Url.Action("LoanApplicationList", "LoanApplication", new { area = "LoanMod" })">Entry</a>
                        </li>
                    }
                    @if (User.IsInRole("Loan Application Examine"))
                    {
                        <li class="@Html.RouteIf("LoanExaminationList", "active")">
                            <a href="@Url.Action("LoanExaminationList", "LoanApplication", new { area = "LoanMod" })">Examine</a>
                        </li>
                    }
                    @if (User.IsInRole("Loan Application Approval"))
                    {
                        <li class="@Html.RouteIf("LoanApprovalList", "active") || @Html.RouteIf("AssignLoanOfficer", "active")">
                            <a href="@Url.Action("LoanApprovalList", "LoanApplication", new { area = "LoanMod" })">Approve</a>
                        </li>
                    }
                    @if (User.IsInRole("Loan Application Assign"))
                    {
                        <li class="@Html.RouteIf("LoanOfficerAssignmentList", "active")">
                            <a href="@Url.Action("LoanOfficerAssignmentList", "LoanApplication", new { area = "LoanMod" })">Assign Loan Officer</a>
                        </li>
                        <li class="@Html.RouteIf("LoanAccessorAssignedList", "active")">
                            <a href="@Url.Action("LoanAccessorAssignedList", "LoanApplication", new { area = "LoanMod" })">Appraiser List</a>
                        </li>
                    }

                    @*<li class="@Html.RouteIf("LoanApplicationTrackerList", "active")">
                            <a href="@Url.Action("LoanApplicationTrackerList", "LoanApplicationTracker", new { area = "LoanMod" })">Loan Application Tracker</a>
                        </li>*@
                </ul>
            </li>
        }

        <li class="#">
            <a href="#">Loan Tracker</a>
            <ul>
                <li class="@Html.RouteIf("LoanApplicationTrackerList", "active")">
                    <a href="@Url.Action("LoanApplicationTrackerList", "LoanApplicationTracker", new { area = "LoanMod" })">Loan Tracker</a>
                </li>
                <li class="@Html.RouteIf("TrackRecoveries", "active")">
                    <a href="@Url.Action("TrackRecoveries", "LoanApplicationTracker", new { area = "LoanMod" })">Track Recoveries</a>
                </li>
            </ul>
        </li>

        @if (User.IsInRole("Loan Appraisal Entry") || User.IsInRole("Loan Appraisal Examine") || User.IsInRole("Loan Appraisal Approval") || User.IsInRole("Loan Appraisal Assign"))
        {
            <li class="#">
                <a href="#">Loan Appraisal</a>
                <ul>
                    @if (User.IsInRole("Loan Appraisal Entry"))
                    {
                        <li class="@Html.RouteIf("AssignedAssessmentList", "active") || @Html.RouteIf("CreateLoanAppraisalDetails", "active") || @Html.RouteIf("EditLoanAppraisalDetails", "active") || @Html.RouteIf("AssignLoanOfficerAppraisal", "active")">
                            <a href="@Url.Action("AssignedAssessmentList", "LoanAppraisal", new { area = "LoanMod" })">Entry</a>
                        </li>
                    }
                    @if (User.IsInRole("Loan Appraisal Examine"))
                    {
                        <li class="@Html.RouteIf("ExamineLoanAppraisal", "active")">
                            <a href="@Url.Action("ExamineLoanAppraisal", "LoanAppraisal", new { area = "LoanMod" })">Examine</a>
                        </li>

                    }
                    @if (User.IsInRole("Loan Appraisal Approval"))
                    {
                        <li class="@Html.RouteIf("ApproveLoanAppraisal", "active")">
                            <a href="@Url.Action("ApproveLoanAppraisal", "LoanAppraisal", new { area = "LoanMod" })">Approve</a>
                        </li>
                        <li class="@Html.RouteIf("ApprovalLoanAppraisal", "active")">
                            <a href="@Url.Action("ApprovalLoanAppraisal", "LoanAppraisal", new { area = "LoanMod" })">Approval Lists</a>
                        </li>
                    }
                    @if (User.IsInRole("Loan Appraisal Assign"))
                    {
                        <li class="@Html.RouteIf("LoanAppraisalOfficerAssignmentList", "active")">
                            <a href="@Url.Action("LoanAppraisalOfficerAssignmentList", "LoanAppraisal", new { area = "LoanMod" })">Assign Loan Officer</a>
                        </li>
                    }

                </ul>
            </li>
        }


        <li class="#">
            <a href="#">Loan BackLog</a>
            <ul>
                @if (User.IsInRole("Loan Application Entry"))
                {
                    <li class="@Html.RouteIf("CreateLoanCustomerInfo", "active")">
                        <a href="@Url.Action("CreateLoanCustomerInfo", "LoanBackLog", new { area = "LoanMod" })">Loan Info</a>
                    </li>

                    <li class="@Html.RouteIf("CreateLoanCollateralInfo", "active")">
                        <a href="@Url.Action("CreateLoanCollateralInfo", "LoanBackLog", new { area = "LoanMod" })">Collateral Info</a>
                    </li>
                }

                <li class="@Html.RouteIf("UploadRepaymentSchedule", "active")">
                    <a href="@Url.Action("UploadRepaymentSchedule", "BackLogRepaymentSchedule", new { area = "LoanMod" })">Repayment Schedule</a>
                </li>

                <li class="@Html.RouteIf("UploadFee", "active")">
                    <a href="@Url.Action("UploadFee", "BackLogRepaymentSchedule", new { area = "LoanMod" })">Fee</a>
                </li>

                <li class="@Html.RouteIf("UploadMotorRegistration", "active")">
                    <a href="@Url.Action("UploadMotorRegistration", "BackLogRepaymentSchedule", new { area = "LoanMod" })">Motor Registration</a>
                </li>

            </ul>
        </li>
        @{ Html.RenderPartial("_LoanAside"); }

    </ul>
</li>
