<li class="@Html.RouteIf("", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">Assistance</span></a>
    <ul>
        <li class="@Html.RouteIf("ask", "active") || @Html.RouteIf("ask", "active")">
            <a href="@Url.Action("askMe", "Ask", new { area = "AI" })"> How to Use MUSE </a>
        </li>
        @*<li class="@Html.RouteIf("reconcile", "active") || @Html.RouteIf("ask", "active")">
            <a href="@Url.Action("reconcile", "Recon", new { area = "AI" })">Recon</a>
        </li>*@
        <li class="@Html.RouteIf(" element", "active")">
            <a href="#"> Reconciliation </a>
            <ul>
                @if (!User.IsInRole("Match"))
                {
                    <li class="@Html.RouteIf("reconcile", "active") || @Html.RouteIf("ask", "active")">
                        <a href="@Url.Action("reconcile", "Recon", new { area = "AI" })">Matching</a>
                    </li>
                }

                @if (!User.IsInRole("Unmatch"))
                {
                    <li class="@Html.RouteIf("unmatch", "active") || @Html.RouteIf("ask", "active")">
                        <a href="@Url.Action("unmatch", "Recon", new { area = "AI" })">Unmatch</a>
                    </li>
                }
                @*@if (!User.IsInRole("Unmatch"))
                {
                    <li class="@Html.RouteIf("Insights", "active") || @Html.RouteIf("ask", "active")">
                        <a href="@Url.Action("Insights", "Recon", new { area = "AI" })">Insights</a>
                    </li>
                }*@
            </ul>
        </li>
    </ul>
</li>