<li class="@Html.RouteIf("Report", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Reports</span></a>
    <ul>
        
        <!--PORTAL REPORTS-->
        @if (User.IsInRole("Fund Allocation Reports"))
        {
            <li class="@Html.RouteIf("ALS_PortalUserDetailRptv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i>Portal Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_PortalUserDetailRptv", "active" )">
                        @Html.ActionLink("Portal User Detail", "ALS_PortalUserDetailRptv", "Reports", new { area = "ALS" }, null)
                    </li>
                </ul>
            </li>

        }
        <!--ALLOCATION REPORTS-->
        @if (User.IsInRole("Fund Allocation Reports"))
        {
            <li class="@Html.RouteIf("ALS_FundAllocationRPTv", "active" )
                      ||@Html.RouteIf("ALS_FundAllocSummaryRPTv", "active" )
                      ||@Html.RouteIf("ALS_FundBalanceRPTv", "active" )
                      ||@Html.RouteIf("ALS_FundReallocationRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i>Fund Allocation Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_FundAllocationRPTv", "active" )">
                        @Html.ActionLink("Fund Allocation Detail", "ALS_FundAllocationRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_FundAllocSummaryRPTv", "active" )">
                        @Html.ActionLink("Fund Allocation Summary", "ALS_FundAllocSummaryRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_FundBalanceRPTv", "active" )">
                        @Html.ActionLink("Fund Utilization", "ALS_FundBalanceRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_FundReallocationRPTv", "active" )">
                        @Html.ActionLink("Fund Reallocation", "ALS_FundReallocationRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                </ul>
            </li>

        }
        <!--LOAN REPORTS-->
        @if (User.IsInRole("Loan Reports"))
        {
            <li class="@Html.RouteIf("ALS_loanRepayScheduleRPTv", "active" )
                ||@Html.RouteIf("ALS_loanPaymentDtlRPTv", "active")
                ||@Html.RouteIf("ALS_loanLedgerEmployee", "active")
                ||@Html.RouteIf("ALS_DetailedLoanAppRPTv", "active")
                ||@Html.RouteIf("ALS_SummaryLoanAppRPTv", "active")
                ||@Html.RouteIf("ALS_DetailedLoanApplicationAgingRPTv", "active")
                ||@Html.RouteIf("ALS_ProtectionServiceChargeRPTv", "active")
                ||@Html.RouteIf("ALS_BatchPaymentRPTv", "active")
                ||@Html.RouteIf("ALS_LoanLedgerAgeRPTv", "active")
                 ||@Html.RouteIf("ALS_IndividualLoanhcmisRPTv", "active")
                ||@Html.RouteIf("ALS_LoanDefaultersRPTv", "active")">
                <a href="#"><i class="fa fa-external-link"></i>Loan Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_loanRepayScheduleRPTv", "active" )">
                        @Html.ActionLink("Loan Repayment Schedule", "ALS_loanRepayScheduleRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_loanLedgerEmployee", "active" )">
                        @Html.ActionLink("Debtors Ledger", "ALS_loanLedgerEmployee", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_loanPaymentDtlRPTv", "active" )">
                        @Html.ActionLink("Loan Paid", "ALS_loanPaymentDtlRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_DetailedLoanAppRPTv", "active" )">
                        @Html.ActionLink("Detailed Loan Application", "ALS_DetailedLoanAppRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_SummaryLoanAppRPTv", "active" )">
                        @Html.ActionLink("Summary Loan Application", "ALS_SummaryLoanAppRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_DetailedLoanApplicationAgingRPTv", "active" )">
                        @Html.ActionLink("Detailed Loan Aging Analysis", "ALS_DetailedLoanApplicationAgingRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_ProtectionServiceChargeRPTv", "active" )">
                        @Html.ActionLink("Loan Charges", "ALS_ProtectionServiceChargeRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_BatchPaymentRPTv", "active" )">
                        @Html.ActionLink("Submitted Batch", "ALS_BatchPaymentRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_LoanLedgerAgeRPTv", "active" )">
                        @Html.ActionLink("Loan recovery status by age ", "ALS_LoanLedgerAgeRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_LoanDefaultersRPTv", "active" )">
                        @Html.ActionLink("Loan Defaulters", "ALS_LoanDefaultersRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_IndividualLoanhcmisRPTv", "active" )">
                        @Html.ActionLink("Loan to individual not in HCMIS", "ALS_IndividualLoanhcmisRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                </ul>
            </li>
        }
        <!--RECOVERIES REPORTS-->
        @if (User.IsInRole("Recoveries Reports"))
        {
            <li class="@Html.RouteIf("ALS_DetailedLoanRecoveryRPTv", "active")
                      ||@Html.RouteIf("ALS_LoanClearanceByCashRPTv", "active")
                      ||@Html.RouteIf("ALS_SummaryLoanRecoveryRPTv", "active")
                      ||@Html.RouteIf("ALS_loanClearanceRPTv", "active")
                      ||@Html.RouteIf("ALS_LoanClearByCashSummaryRPTv", "active")
                      ||@Html.RouteIf("ALS_DetailedLoanCompletedRPTv", "active")">
                <a href="#"><i class="fa fa-external-link"></i>Recoveries Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_DetailedLoanRecoveryRPTv", "active" )">
                        @Html.ActionLink("Detailed Loan Recovery", "ALS_DetailedLoanRecoveryRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_SummaryLoanRecoveryRPTv", "active" )">
                        @Html.ActionLink("Loan Recovery Summary", "ALS_SummaryLoanRecoveryRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_DetailedLoanCompletedRPTv", "active" )">
                        @Html.ActionLink("List of Completed Loan", "ALS_DetailedLoanCompletedRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_loanClearanceRPTv", "active" )">
                        @Html.ActionLink("Loan Clearance Letter", "ALS_loanClearanceRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_LoanClearanceByCashRPTv", "active" )">
                        @Html.ActionLink("Loan Recovery detailed by Cash", "ALS_LoanClearanceByCashRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_LoanClearByCashSummaryRPTv", "active" )">
                        @Html.ActionLink("Loan Recovery Summary by Cash ", "ALS_LoanClearByCashSummaryRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                </ul>
            </li>

        }

        <!--FINANCILAL INSTITUTION REPORTS-->
        @if (User.IsInRole("Financial Institution Reports"))
        {
            <li class="@Html.RouteIf("ALS_py15agencyFeedtlRPTv", "active")
                ||@Html.RouteIf("ALS_py15agencyDeductiondtlRPTv", "active")
                ||@Html.RouteIf("ALS_py15AgencyTransferRPTv", "active")
                 ||@Html.RouteIf("ALS_py15agencyFeeRPTv", "active")
                ||@Html.RouteIf("ALS_py15FinancialInstFeeRPTv", "active")
                ||@Html.RouteIf("ALS_DeductionSummaryByVoteRPTv", "active")
                ||@Html.RouteIf("ALS_FundDisbursementStopPayRPTv", "active")
                ||@Html.RouteIf("ALS_InstitutionPaidFundRPTv", "active")
                ||@Html.RouteIf("ALS_InstitutionUnpaidFundRPTv", "active")">
                <a href="#"><i class="fa fa-external-link"></i>Financial Institution Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_py15AgencyTransferRPTv", "active")">
                        @Html.ActionLink("Agency Fee and Transfer Amount Summary", "ALS_py15AgencyTransferRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_py15agencyFeeRPTv", "active")">
                        @Html.ActionLink("Agency Fee", "ALS_py15agencyFeeRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_py15agencyFeedtlRPTv", "active")">
                        @Html.ActionLink("AT-Source Collection By Vote", "ALS_py15agencyFeedtlRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_py15FinancialInstFeeRPTv", "active")">
                        @Html.ActionLink("AT-Source Collection By Financial Institution", "ALS_py15FinancialInstFeeRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_py15agencyDeductiondtlRPTv", "active")">
                        @Html.ActionLink("Detailed Deduction", "ALS_py15agencyDeductiondtlRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_DeductionSummaryByVoteRPTv", "active")">
                        @Html.ActionLink("Deduction Summary By Code", "ALS_DeductionSummaryByVoteRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_FundDisbursementStopPayRPTv", "active")">
                        @Html.ActionLink("Fund Disbursement Stop Pay", "ALS_FundDisbursementStopPayRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_InstitutionPaidFundRPTv", "active")">
                        @Html.ActionLink("Fund Disbursement to Financial Institution", "ALS_InstitutionPaidFundRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_InstitutionUnpaidFundRPTv", "active")">
                        @Html.ActionLink("Financial Institution Unpaid Fund", "ALS_InstitutionUnpaidFundRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                </ul>
            </li>
        }

        <!--ASSET SALES REPORTS-->
        @if (User.IsInRole("Asset Sales Reports"))
        {
            <li class="@Html.RouteIf("ALS_SalesofGovernmentassetRPTv", "active")
                      ||@Html.RouteIf("ALS_OutrightLetterTraRPTv", "active")
                      ||@Html.RouteIf("ALS_OutrightLetterRPTv", "active")
                      ||@Html.RouteIf("ALS_CertificateofAllocationRPTv", "active")">
                <a href="#"><i class="fa fa-external-link"></i>Asset Sales Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_SalesofGovernmentassetRPTv", "active" )">
                        @Html.ActionLink("Sales of Government Asset", "ALS_SalesofGovernmentassetRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_CertificateofAllocationRPTv", "active" )">
                        @Html.ActionLink("Certificate of Allocation", "ALS_CertificateofAllocationRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_loanOutrightDtlRPTv", "active" )">
                        @Html.ActionLink("Outright Payment List", "ALS_loanOutrightDtlRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_OutrightLetterTraRPTv", "active" )">
                        @Html.ActionLink("TRA Outright Letter", "ALS_OutrightLetterTraRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_OutrightLetterRPTv", "active" )">
                        @Html.ActionLink("Outright Release Letter", "ALS_OutrightLetterRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_TraReleaseLetterRPTv", "active" )">
                        @Html.ActionLink("Letter Loan Release ", "ALS_TraReleaseLetterRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_TraPurchaseLetterRPTv", "active" )">
                        @Html.ActionLink("Letter Outright Release", "ALS_TraPurchaseLetterRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    
                </ul>
            </li>
        }
        <!--OTHER REPORTS-->
        @if (User.IsInRole("Other Reports"))
        {
            <li class="@Html.RouteIf("ALS_LoanDedStartRPTv", "active")
                      ||@Html.RouteIf("ALS_loanClearanceListRPTv", "active")
                      ||@Html.RouteIf("ALS_loanClearanceByListRPTv", "active")
                      ||@Html.RouteIf("ALS_LoanDedStopRPTv", "active")">
                <a href="#"><i class="fa fa-external-link"></i>Other Reports</a>
                <ul>
                    <li class="@Html.RouteIf("ALS_LoanDedStartRPTv", "active" )">
                        @Html.ActionLink("Deduction Initiation Letter", "ALS_LoanDedStartRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_loanClearanceListRPTv", "active" )">
                        @Html.ActionLink("Loan Clearance List", "ALS_loanClearanceListRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_loanClearanceByListRPTv", "active" )">
                        @Html.ActionLink("Loan Clearance", "ALS_loanClearanceByListRPTv", "Reports", new { area = "ALS" }, null)
                    </li>
                    <li class="@Html.RouteIf("ALS_LoanDedStopRPTv", "active" )">
                        @Html.ActionLink("Stop Loan Deduction", "ALS_LoanDedStopRPTv", "Reports", new { area = "ALS" }, null)
                    </li>

                </ul>
            </li>
        }
    </ul>
</li>