<li class="@Html.RouteIf("", "active")">
    @*<a href="#" title="ALS"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">ALS</span></a>*@
    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">ALS</span></a>
    <ul>
        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="Loan Application"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Loan Application</span></a>
            <ul>

                @if (User.IsInRole("Loan Application Assign"))
                {
                    <li class="@Html.RouteIf("LoanReceivedList", "active")">
                        <a href="@Url.Action("LoanReceivedList", "ALSLoanAssignment", new { area = "ALS" })">Loan Assignment</a>
                    </li>

                    <li class="@Html.RouteIf("ReAssignLoanApplication", "active")">
                        <a href="@Url.Action("ReAssignLoanApplication", "ALSLoanAssignment", new { area = "ALS" })">Loan Re-Assignment</a>
                    </li>
                }

                @if (User.IsInRole("ALS Entry"))
                {
                    <li class="@Html.RouteIf("ALSLoanEntry", "active")
                    || @Html.RouteIf("ALSLoanCreate", "active")
                    || @Html.RouteIf("ALSLoanEdit", "active")">
                        <a href="@Url.Action("ALSLoanEntry", "ALSLoanApp", new { area = "ALS" })">Entry</a>
                    </li>
                }

                @if (User.IsInRole("ALS Verification"))
                {
                    <li class="@Html.RouteIf("ALSLoanVerification", "active")">
                        <a href="@Url.Action("ALSLoanVerification", "ALSLoanApp", new { area = "ALS" })">Verification</a>
                    </li>
                }

                @if (User.IsInRole("ALS Approval"))
                {
                    <li class="@Html.RouteIf("ALSLoanAppApprove", "active")">
                        <a href="@Url.Action("ALSLoanAppApprove", "ALSLoanApp", new { area = "ALS" })">Approval</a>
                    </li>
                }

                @if (User.IsInRole("ALS Confirmation"))
                {
                    <li class="@Html.RouteIf("ALSLoanConfirm", "active")">
                        <a href="@Url.Action("ALSLoanConfirm", "ALSLoanApp", new { area = "ALS" })">Confirmation</a>
                    </li>
                }

                @if (User.IsInRole("ALS Loan Review"))
                {
                    <li class="@Html.RouteIf("ALSReviewLoanApp", "active")">
                        <a href="@Url.Action("ALSReviewLoanApp", "ALSLoanApp", new { area = "ALS" })">Loan Review</a>
                    </li>
                }
                @if (User.IsInRole("ALS Pre Authorization"))
                {
                    <li class="@Html.RouteIf("SeekingAuthorazation", "active")">
                        <a href="@Url.Action("SeekingAuthorazation", "ALSLoanApp", new { area = "ALS" })">Pre Authorization</a>
                    </li>
                }

                @if (User.IsInRole("ALS Authorization"))
                {
                    <li class="@Html.RouteIf("ALSLoanAppAuthorize", "active")">
                        <a href="@Url.Action("ALSLoanAppAuthorize", "ALSLoanApp", new { area = "ALS" })">Authorization</a>
                    </li>
                }

                <li class="@Html.RouteIf("ALSLoanTracker", "active")">
                    <a href="@Url.Action("ALSLoanTracker", "ALSLoanApp", new { area = "ALS" })">Loan Tracker</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("fundallocationlist", "active") || " @Html.RouteIf("ConfirmedFundAllocatinList", "active") " ||
            " @Html.RouteIf("ApprovedFundAllocationList", "active") " || " @Html.RouteIf("VerifiedFundAllocatinList", "active") "|| " @Html.RouteIf("FundAllocationDetails", "active") " >
            <a href="#" title="Fund Allocation"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent">Fund Allocation</span></a>
            <ul>

                @if (User.IsInRole("ALS Fund Allocation Entry"))
                {
                    <li class="@Html.RouteIf("fundallocationlist", "active")">
                        <a href="@Url.Action("FundAllocationList", "FundAllocation", new { area = "ALS" })">Entry</a>
                    </li>
                }
                @if (User.IsInRole("ALS Fund Allocation Verify"))
                {
                    <li class="@Html.RouteIf("ConfirmedFundAllocatinList", "active")">
                        <a href="@Url.Action("ConfirmedFundAllocatinList", "FundAllocation", new { area = "ALS" })">Verification</a>
                    </li>
                }
                @if (User.IsInRole("ALS Fund Allocation Approve"))
                {
                    <li class="@Html.RouteIf("VerifiedFundAllocatinList", "active")">
                        <a href="@Url.Action("VerifiedFundAllocatinList", "FundAllocation", new { area = "ALS" })">Approval</a>
                    </li>

                }

                @if (User.IsInRole("ALS Fund Allocation Review"))
                {
                    <li class="@Html.RouteIf("ApprovedFundAllocatinList", "active")">
                        <a href="@Url.Action("ApprovedFundAllocatinList", "FundAllocation", new { area = "ALS" })">Review</a>
                    </li>
                }


                @if (User.IsInRole("ALS Fund Allocation Authorization"))
                {
                    <li class="@Html.RouteIf("ReviewedFundAllocatinList", "active")">
                        <a href="@Url.Action("ReviewedFundAllocatinList", "FundAllocation", new { area = "ALS" })">Authorization</a>
                    </li>
                }

                @if (User.IsInRole("ALS Fund Allocation Approve") || User.IsInRole("ALS Fund Allocation Entry"))
                {
                    <li class="@Html.RouteIf("AuthorizedFundAllocatioList", "active")">
                        <a href="@Url.Action("AuthorizedFundAllocatioList", "FundAllocation", new { area = "ALS" })">Authorized Fund Allocation List</a>
                    </li>
                }
                <li class="@Html.RouteIf("TrackerFundAllocation", "active")">
                    <a href="@Url.Action("TrackerFundAllocation", "FundAllocation", new { area = "ALS" })">Tracker</a>
                </li>
            </ul>
        </li>


        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="OutRight Purchase"><i class="fa fa-lg fa-puzzle-piece"></i> <span class="menu-item-parent"> OutRight Sales </span></a>
            <ul>
                @*@if (User.IsInRole("ALS Entry"))
        {*@
                <li class="@Html.RouteIf("ReceivedCertificates", "active")">
                    <a href="@Url.Action("ReceivedCertificates", "OutRightPurchase", new { area = "ALS" })">Assignment</a>
                </li>

                <li class="@Html.RouteIf("ReAssignCertificates", "active")">
                    <a href="@Url.Action("ReAssignCertificates", "OutRightPurchase", new { area = "ALS" })">Re-Assignment</a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Verification"))
        {*@
                <li class="@Html.RouteIf("AssignedCertificates", "active")">
                    <a href="@Url.Action("AssignedCertificates", "OutRightPurchase", new { area = "ALS" })">Confirmation</a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Approval"))
        {*@
                <li class="@Html.RouteIf("RequestedCOntrolNum", "active")">
                    <a href="@Url.Action("RequestedCOntrolNum", "OutRightPurchase", new { area = "ALS" })">Sent to Muse </a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Confirmation"))
        {*@
                <li class="@Html.RouteIf("PaidCertificates", "active")">
                    <a href="@Url.Action("PaidCertificates", "OutRightPurchase", new { area = "ALS" })">Verification</a>
                </li>
                @*}*@
                @*@if (User.IsInRole("ALS Authorization"))
        <li class="@Html.RouteIf("CertificatesApproval", "active")">
            <a href="@Url.Action("CertificatesApproval", "OutRightPurchase", new { area = "ALS" })">Approval</a>
        </li>
        @*}*@

                @*@if (User.IsInRole("ALS Authorization"))
        {*@
                <li class="@Html.RouteIf("CertificatesAuthorization", "active")">
                    <a href="@Url.Action("CertificatesAuthorization", "OutRightPurchase", new { area = "ALS" })">Authorization</a>
                </li>
                @*}*@

                <li class="@Html.RouteIf("CertificatesTracker", "active")">
                    <a href="@Url.Action("CertificatesTracker", "OutRightPurchase", new { area = "ALS" })">Tracker</a>
                </li>

            </ul>
        </li>


        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="OutRight Purchase"><i class="fa fa-lg fa-puzzle-piece"></i> <span class="menu-item-parent"> Auction Sales </span></a>
            <ul>
                @*@if (User.IsInRole("ALS Entry"))
                {*@
                <li class="@Html.RouteIf("RequestedAuctionControlNum", "active")">
                    <a href="@Url.Action("RequestedAuctionControlNum", "OutRightPurchase", new { area = "ALS" })"> Received </a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Entry"))
                {*@
                <li class="@Html.RouteIf("AuctionTracker", "active")">
                    <a href="@Url.Action("AuctionTracker", "OutRightPurchase", new { area = "ALS" })"> Tracker </a>
                </li>
                @*}*@

            </ul>
        </li>





        <li class="@Html.RouteIf("icons", "active")">
            @*<a href="#"></a>*@
            <a href="#" title=""><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent">PY15 Payment</span></a>
            <ul>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Financial Inst.</a>
                    <ul>
                        @if (User.IsInRole("Agency Entry"))
                        {
                            <li class="@Html.RouteIf("FinancialInstitutionList", "active")">
                                <a href="@Url.Action("FinancialInstitutionList", "FinancialInstitution", new { area = "ALS" })">Entry</a>
                            </li>
                        }

                        @if (User.IsInRole("Agency Approval"))
                        {
                            <li class="@Html.RouteIf("AgencyApproval", "active")">
                                <a href="@Url.Action("AgencyApproval", "FinancialInstitution", new { area = "ALS" })">Approval</a>
                            </li>

                            <li class="@Html.RouteIf("FinancialApprovedInstitutionList", "active")">
                                <a href="@Url.Action("FinancialApprovedInstitutionList", "FinancialInstitution", new { area = "ALS" })">Approved Institution List</a>
                            </li>
                        }


                    </ul>
                </li>
                <li class="@Html.RouteIf("glyphicons", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Payment</a>
                    <ul>
                        @if (User.IsInRole("PY15Payment Entry"))
                        {
                            @*<li class="@Html.RouteIf("Py15PaymentList", "active")">
                             <a href="@Url.Action("Py15PaymentList", "PY15Payment", new { area = "ALS" })">Entry</a>
                            </li>*@

                            <li class="@Html.RouteIf("PY15PaymentPending", "active")">
                                <a href="@Url.Action("PY15PaymentPending", "ALSPY15PaymentSumary", new { area = "ALS" })">Entry</a>
                            </li>
                        }

                        @if (User.IsInRole("PY15Payment Approval"))
                        {
                            <li class="@Html.RouteIf("ApprovalPY15payment", "active")">
                                <a href="@Url.Action("ApprovalPY15payment", "PY15Payment", new { area = "ALS" })">Approval</a>
                            </li>
                        }

                    </ul>
                </li>
            </ul>
        </li>

        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="OutRight Purchase"><i class="fa fa-lg fa-puzzle-piece"></i> <span class="menu-item-parent"> OutRight Sales </span></a>
            <ul>
                @*@if (User.IsInRole("ALS Entry"))
                {*@
                <li class="@Html.RouteIf("ReceivedCertificates", "active")">
                    <a href="@Url.Action("ReceivedCertificates", "OutRightPurchase", new { area = "ALS" })">Assignment</a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Verification"))
                {*@
                <li class="@Html.RouteIf("AssignedCertificates", "active")">
                    <a href="@Url.Action("AssignedCertificates", "OutRightPurchase", new { area = "ALS" })">Confirmation</a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Approval"))
                {*@
                <li class="@Html.RouteIf("RequestedCOntrolNum", "active")">
                    <a href="@Url.Action("RequestedCOntrolNum", "OutRightPurchase", new { area = "ALS" })">Sent to Muse </a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Confirmation"))
                {*@
                <li class="@Html.RouteIf("PaidCertificates", "active")">
                    <a href="@Url.Action("PaidCertificates", "OutRightPurchase", new { area = "ALS" })">Verification</a>
                </li>
                @*}*@
                @*@if (User.IsInRole("ALS Authorization"))
                <li class="@Html.RouteIf("CertificatesApproval", "active")">
                    <a href="@Url.Action("CertificatesApproval", "OutRightPurchase", new { area = "ALS" })">Approval</a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Authorization"))
                {*@
                <li class="@Html.RouteIf("CertificatesAuthorization", "active")">
                    <a href="@Url.Action("CertificatesAuthorization", "OutRightPurchase", new { area = "ALS" })">Authorization</a>
                </li>
                @*}*@

                <li class="@Html.RouteIf("CertificatesTracker", "active")">
                    <a href="@Url.Action("CertificatesTracker", "OutRightPurchase", new { area = "ALS" })">Tracker</a>
                </li>

            </ul>
        </li>


        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="OutRight Purchase"><i class="fa fa-lg fa-puzzle-piece"></i> <span class="menu-item-parent"> Auction Sales </span></a>
            <ul>
                @*@if (User.IsInRole("ALS Entry"))
                {*@
                <li class="@Html.RouteIf("RequestedAuctionControlNum", "active")">
                    <a href="@Url.Action("RequestedAuctionControlNum", "OutRightPurchase", new { area = "ALS" })"> Received </a>
                </li>
                @*}*@

                @*@if (User.IsInRole("ALS Entry"))
                {*@
                <li class="@Html.RouteIf("AuctionTracker", "active")">
                    <a href="@Url.Action("AuctionTracker", "OutRightPurchase", new { area = "ALS" })"> Tracker </a>
                </li>
                @*}*@

            </ul>
        </li>



        <li class="@Html.RouteIf("FundWithdrawList", "active") || @Html.RouteIf("FundPendingWithdrawList", "active")
            || @Html.RouteIf("ConfirmedFundWithdrawList", "active") || @Html.RouteIf("ApprovedFundWithdrawList", "active")  || @Html.RouteIf("CreateFundWithdraw", "active")">
            <a href="#" title="Fund Withdraw"><i class="fa fa-lg fa-fw fa-usd"></i> <span class="menu-item-parent">Fund Withdraw</span></a>
            <ul>
                @*<li class="@Html.RouteIf("FundWithdrawList", "active")"|| @Html.RouteIf("fundvotewithdrawdetails","active")">
                    <a href="@Url.Action("FundWithdrawList", "FundWithdraw", new { area = "ALS" })">Entry</a>
                </li>*@
                @if (User.IsInRole("ALS Fund Withdraw Entry"))
                {
                    <li class="@Html.RouteIf("FundPendingWithdrawList", "active") || @Html.RouteIf("FundWithdrawList", "active")
                    || @Html.RouteIf("CreateFundWithdraw", "active")">
                        <a href="@Url.Action("FundPendingWithdrawList", "FundWithdraw", new { area = "ALS" })">Pending</a>
                    </li>
                }
                @if (User.IsInRole("ALS Fund Withdraw Verify"))
                {
                    <li class="@Html.RouteIf("ConfirmedFundWithdrawList", "active")">
                        <a href="@Url.Action("ConfirmedFundWithdrawList", "FundWithdraw", new { area = "ALS" })">Verification</a>
                    </li>
                }
                @if (User.IsInRole("ALS Fund Withdraw Approve"))
                {
                    <li class="@Html.RouteIf("ApprovedFundWithdrawList", "active")">
                        <a href="@Url.Action("ApprovedFundWithdrawList", "FundWithdraw", new { area = "ALS" })">Approval</a>
                    </li>
                }

                <li class="@Html.RouteIf("TrackerFundWithdraw", "active")">
                    <a href="@Url.Action("TrackerFundWithdraw", "FundWithdraw", new { area = "ALS" })">Tracker</a>
                </li>
            </ul>
        </li>

        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="Loan Application"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">Loan Clearance</span></a>
            <ul>
                <li class="@Html.RouteIf("PendingClearances", "active") || @Html.RouteIf("ClearanceEntry", "active")">
                    <a href="@Url.Action("PendingClearances", "LoanClearances", new { area = "ALS" })">Entry</a>
                </li>
                <li class="@Html.RouteIf("ApproveClearances", "active")">
                    <a href="@Url.Action("ApproveClearances", "LoanClearances", new { area = "ALS" })">Approve</a>
                </li>
                <li class="@Html.RouteIf("TrackClearances", "active")">
                    <a href="@Url.Action("TrackClearances", "LoanClearances", new { area = "ALS" })">Tracker</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("", "active")">
            <a href="#" title="Loan Application"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">Void Loan</span></a>
            <ul>
                <li class="@Html.RouteIf("PendingVoid", "active") || @Html.RouteIf("VoidEntry", "active")">
                    <a href="@Url.Action("PendingVoid", "VoidLoan", new { area = "ALS" })">Entry</a>
                </li>
                <li class="@Html.RouteIf("ApproveVoid", "active")">
                    <a href="@Url.Action("ApproveVoid", "VoidLoan", new { area = "ALS" })">Approve</a>
                </li>
                <li class="@Html.RouteIf("TrackVoid", "active")">
                    <a href="@Url.Action("TrackVoid", "VoidLoan", new { area = "ALS" })">Tracker</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("", "active")">
            <a href="#" title=""><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">Asset Importation</span></a>
            <ul>
                <li class="@Html.RouteIf("AssetRegisterList", "active")">
                    <a href="@Url.Action("AssetRegisterList", "ALSAssetRegister", new { area = "ALS" })">Entry</a>
                </li>
                <li class="@Html.RouteIf("ApprovalAsset", "active")">
                    <a href="@Url.Action("ApprovalAsset", "ALSAssetRegister", new { area = "ALS" })">Approve</a>
                </li>

            </ul>
        </li>
        @if (User.IsInRole("PY15Payment Entry") || User.IsInRole("PY15Payment Approval"))
        {
            <li class="@Html.RouteIf("fontawesome", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-credit-card"></i>Reconciliation</a>
                <ul>
                    @if (User.IsInRole("PY15Payment Approval"))
                    {
                        <li class="@Html.RouteIf("AgenciesClaims", "active") || @Html.RouteIf("AgencyClaimDetail", "active")">
                            <a href="@Url.Action("AgenciesClaims", "ALSReconciliation", new { area = "ALS" })">Agencies Claims</a>
                        </li>
                    }
                    @if (User.IsInRole("PY15Payment Entry"))
                    {

                        <li class="@Html.RouteIf("AssignedClaims", "active") || @Html.RouteIf("AgencyClaimDetail", "active")">
                            <a href="@Url.Action("AssignedClaims", "ALSReconciliation", new { area = "ALS" })">Assigned Claims</a>
                        </li>
                        <li class="@Html.RouteIf("ReconciledList", "active") || @Html.RouteIf("ReconciledDetail", "active")">
                            <a href="@Url.Action("ReconciledList", "ALSReconciliation", new { area = "ALS" })">Reconciled</a>
                        </li>
                        <li class="@Html.RouteIf("RepostDeductions", "active") || @Html.RouteIf("ReconciledDetail", "active")">
                            <a href="@Url.Action("RepostDeductions", "ALSReconciliation", new { area = "ALS" })">Repost Deductions</a>
                        </li>
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#">UnReconciled</a>
                            <ul>
                                <li class="@Html.RouteIf("UnreconciledSummary", "active") || @Html.RouteIf("ReconciledDetail", "active")">
                                    <a href="@Url.Action("UnreconciledSummary", "ALSReconciliation", new { area = "ALS" })">InitiatePayment</a>
                                </li>
                                <li class="@Html.RouteIf("UnReconciledPayment", "active") || @Html.RouteIf("ReconciledDetail", "active")">
                                    <a href="@Url.Action("UnReconciledPayment", "ALSReconciliation", new { area = "ALS" })">Pending</a>
                                </li>
                                @if (User.IsInRole("PY15Payment Approval"))
                                {
                                    <li class="@Html.RouteIf("UnReconciledPaymentApproval", "active") || @Html.RouteIf("ReconciledDetail", "active")">
                                        <a href="@Url.Action("UnReconciledPaymentApproval", "ALSReconciliation", new { area = "ALS" })">Approval</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>

            </li>
        }
        @if (User.IsInRole("PY15Payment Entry") || User.IsInRole("PY15Payment Approval"))
        {
            <li class="@Html.RouteIf("fontawesome", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-credit-card"></i>Loan Recovery</a>
                <ul>
                    @if (User.IsInRole("PY15Payment Entry"))
                    {

                        <li class="@Html.RouteIf("LoanDefaulters", "active") || @Html.RouteIf("CreateDefaulter", "active") || @Html.RouteIf("DefaulterDetail", "active")">
                            <a href="@Url.Action("LoanDefaulters", "LoanRecovery", new { area = "ALS" })">Defaulters</a>
                        </li>
                    }
                    @if (User.IsInRole("PY15Payment Entry"))
                    {

                        <li class="@Html.RouteIf("PendingRecoveryByPF", "active") || @Html.RouteIf("RecoveryByPFDetail", "active")">
                            <a href="@Url.Action("PendingRecoveryByPF", "LoanRecovery", new { area = "ALS" })">Pending</a>
                        </li>
                    }
                    @if (User.IsInRole("PY15Payment Approval"))
                    {
                        <li class="@Html.RouteIf("ApproveRecoveryByPF", "active") || @Html.RouteIf("RecoveryByPFDetail", "active")">
                            <a href="@Url.Action("ApproveRecoveryByPF", "LoanRecovery", new { area = "ALS" })">Approval</a>
                        </li>
                    }

                </ul>

            </li>
        }

        @{ Html.RenderPartial("_ALSReportsMenu"); }


        <li class="@Html.RouteIf("icons", "active")">
            @*<a href="#">Settings</a>*@
            <a href="#" title="Settings"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Settings</span></a>
            <ul>
                @*<li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Vendor</a>
                    <ul>

                        <li class="@Html.RouteIf("VendorList", "active")">
                            <a href="@Url.Action("VendorList", "ALS_Vendor", new { area = "ALS" })">Entry</a>
                        </li>
                        <li class="@Html.RouteIf("ApprovePayee", "active")">
                            <a href="@Url.Action("ApprovePayee", "Payees", new { area = "ALS" })">Approval</a>
                        </li>
                    </ul>

                </li>*@

                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Vendor</a>
                    <ul>

                        @if (User.IsInRole("SalaryScale Entry"))
                        {
                            <li class="@Html.RouteIf("EmployeeList", "active")">
                                <a href="@Url.Action("EmployeeList", "ALS_Vendor", new { area = "ALS" })">Entry</a>
                            </li>

                        }
                        @if (User.IsInRole("SalaryScale Approval"))
                        {
                            <li class="@Html.RouteIf("ApprovalEmployeeList", "active")">
                                <a href="@Url.Action("ApprovalEmployeeList", "ALS_Vendor", new { area = "ALS" })">Approval</a>
                            </li>

                        }

                    </ul>

                </li>

                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Loan Type</a>
                    <ul>

                        <li class="@Html.RouteIf("LoanTypeList", "active")">
                            <a href="@Url.Action("LoanTypeList", "ALS_LoanTypes", new { area = "ALS" })">Entry</a>
                        </li>
                        <li class="@Html.RouteIf("ApproveLoanType", "active")">
                            <a href="@Url.Action("ApproveLoanType", "ALS_LoanTypes", new { area = "ALS" })">Approval</a>
                        </li>
                    </ul>

                </li>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Loan Charges</a>
                    <ul>

                        <li class="@Html.RouteIf("LoanChargeList", "active")">
                            <a href="@Url.Action("LoanChargeList", "ALSLoanCharges", new { area = "ALS" })">Entry</a>
                        </li>
                        <li class="@Html.RouteIf("ApprovePayee", "active")">
                            <a href="@Url.Action("ApproveLoanCharge", "ALSLoanCharges", new { area = "ALS" })">Approval</a>
                        </li>
                    </ul>

                </li>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>Loan Salary Scale</a>
                    <ul>

                        <li class="@Html.RouteIf("LoanChargeList", "active")">
                            <a href="@Url.Action("SalaryScaleList", "LoanSalaryScale", new { area = "ALS" })">Entry</a>
                        </li>
                        <li class="@Html.RouteIf("ApproveSalaryScale", "active")">
                            <a href="@Url.Action("ApproveSalaryScale", "LoanSalaryScale", new { area = "ALS" })">Approve</a>
                        </li>
                    </ul>

                </li>
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"><i class="fa fa-external-link"></i>PY15 Votes</a>
                    <ul>

                        <li class="@Html.RouteIf("PY15VoteList", "active")">
                            <a href="@Url.Action("PY15VoteList", "PY15Vote", new { area = "ALS" })">Entry</a>
                        </li>
                        <li class="@Html.RouteIf("ApproveVote", "active")">
                            <a href="@Url.Action("ApproveVote", "PY15Vote", new { area = "ALS" })">Approve</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </li>
    </ul>
</li>
