    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                <ul>
                    <li class="@Html.RouteIf("index", "active")">
                        <a href="@Url.Action("index", "home")" title="Dashboard"><span class="menu-item-parent">Analytics Dashboard</span></a>
                    </li>
                    <li class="@Html.RouteIf("social", "active")">
                        <a href="@Url.Action("social", "home")" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent"> Budgeting </span></a>
                <ul>
                    <li>
                        <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent"> Ceiling </span></a>
                        <ul>
                            <li class="@Html.RouteIf("", "")">
                                <a href="@Html.RouteIf("", "active")">Entry</a>
                            </li>
                            <li class="@Url.Action("index", "home")">
                                <a href="@Html.RouteIf("Users", "active")">Confirmation</a>
                            </li>
                            <li class="@Html.RouteIf("AddLawsonUser","active")">
                                <a href="@Html.RouteIf("AddMiscUser", "active")">Approval</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent"> Detail Budget </span></a>
                        <ul>
                            <li class="@Html.RouteIf("UserDetails", "active")">
                                <a href="@Html.RouteIf("EditUser", "active")">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("AdminResetPassword", "active")">
                                <a href="@Url.Action("Users", "Manage")">Confirmation</a>
                            </li>

                            <li class="@Html.RouteIf("ApplicationRoles", "active")">
                                <a href="@Url.Action("ApplicationRoles", "ApplicationRoles")">Approval</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("", "")">
                        <a href="@Html.RouteIf("", "")">Importation</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent"> Funding </span></a>
                <ul>
                    <li class="@Html.RouteIf("", "active") || @Url.Action("", "icons")">
                        @Html.RouteIf("glyphicons", "active")
                    </li>
                    <li class="@Url.Action("glyphicons", "icons") || @Html.RouteIf("flags", "active")">
                        @Url.Action("flags", "icons")
                    </li>
                    <li class="@Html.RouteIf("flags", "active") || @Url.Action("flags", "icons")">
                        @Html.RouteIf("flags", "active")
                    </li>
                    <li class="@Url.Action("flags", "icons") || @Html.RouteIf("", "")">
                        @Html.RouteIf("PendingReceipts", "active")
                    </li>
                    <li class="@Html.RouteIf("CreateReceipt","active") || @Url.Action("PendingReceipts", "Receipts", new { area = "IFMISTZ" })">
                        @Html.RouteIf("glyphicons", "active")
                    </li>
                    <li class="@Url.Action("glyphicons", "icons")">
                        <a href="#"><i class="fa fa-folder-open"></i>Fund Transfer</a>
                        <ul>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Create Transfer</a>
                            </li>
                            <li class="@Html.RouteIf("icons", "active")">
                                <a href="@Html.RouteIf("fontawesome", "active")">Confirm Transfer</a>
                            </li>
                            <li class="@Url.Action("fontawesome", "icons")">
                                <a href="@Html.RouteIf("glyphicons", "active")">Transfer Approval</a>
                            </li>

                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("icons", "active")">Transfer Submission </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-folder-open"></i> <span class="menu-item-parent">System Setup </span></a>
                <ul>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="@Url.Action("fontawesome", "icons")"><i class="fa fa-comments"></i>FINANCIAL YEAR</a>
                    </li>
                    <li class="@Html.RouteIf("glyphicons", "active")">
                        <a href="@Url.Action("glyphicons", "icons")"><i class="fa fa-comments"></i>ACCOUNTS</a>
                    </li>
                    <li class="@Html.RouteIf("flags", "active")">
                        <a href="@Url.Action("flags", "icons")"><i class="fa fa-comments"></i>COUNTRY</a>
                    </li>
                    <li class="@Html.RouteIf("element", "active")">
                        <a href="@Html.RouteIf("icons", "active")"><i class="fa fa-comments"></i>COSTING</a>
                    </li>
                    <li class="@Html.RouteIf("", "active")">
                        <a href="@Url.Action("", "icons")"><i class="fa fa-comments"></i>SUBCOSTING</a>
                    </li>
                    <li class="@Html.RouteIf("glyphicons", "active")">
                        <a href="@Url.Action("glyphicons", "icons")"><i class="fa fa-comments"></i>CURRENCY</a>
                    </li>
                    <li class="@Html.RouteIf("flags", "active")">
                        <a href="@Url.Action("flags", "icons")"><i class="fa fa-comments"></i>ITEM CATEGORY</a>
                    </li>
                    <li class="@Html.RouteIf("", "active")">
                        <a href="@Html.RouteIf("fontawesome", "active")"><i class="fa fa-comments"></i>PAYEE TYPE</a>
                    </li>
                    <li class="@Url.Action("fontawesome", "icons")">
                        <a href="#"><i class="fa fa-comments"></i>INSTITUTION</a>
                        <ul>
                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")">Sector</a>
                            </li>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Sub Sector</a>
                            </li>
                            <li class="@Html.RouteIf("icons", "active")">
                                <a href="@Html.RouteIf("fontawesome", "active")">List</a>
                            </li>
                            <li class="@Url.Action("fontawesome", "icons")">
                                <a href="@Html.RouteIf("glyphicons", "active")">Exchange Rate</a>
                            </li>
                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("flags", "active")">Institution Account</a>
                            </li>
                            <li class="@Url.Action("flags", "icons")">
                                <a href="@Html.RouteIf("icons", "active")">Institution SubLevels</a>
                            </li>

                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"><i class="fa fa-comments"></i>CREATE COA</a>
                        <ul>
                            <li class="@Url.Action("fontawesome", "icons")">
                                <a href="@Html.RouteIf("glyphicons", "active")">COA Version</a>
                            </li>
                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("flags", "active")">COA Segment</a>
                            </li>
                            <li class="@Url.Action("flags", "icons")">
                                <a href="@Html.RouteIf("element", "active")">COA</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-comments"></i>IMPORT COA</a>
                        <ul>
                            <li class="@Html.RouteIf("icons", "active")">
                                <a href="@Html.RouteIf("fontawesome", "active")">Import Segment</a>
                            </li>
                            <li class="@Url.Action("fontawesome", "icons")">
                                <a href="@Html.RouteIf("glyphicons", "active")">Import COA</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li class="@Url.Action("glyphicons", "icons")">
                <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">Procurement</span></a>
                <ul>
                    <li class="@Html.RouteIf("flags", "active")|| @Url.Action("flags", "icons")|| @Html.RouteIf("icons", "active")  || @Html.RouteIf("fontawesome", "active") || @Url.Action("fontawesome", "icons")|| @Html.RouteIf("glyphicons", "active") ">
                        <a href="#"><i class="fa fa-comments"></i>Local Purchase Order</a>
                        <ul>

                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("flags", "active")">LPO Entry</a>
                            </li>
                            <li class="@Url.Action("flags", "icons")">
                                <a href="@Html.RouteIf("icons", "active")">LPO Approve</a>
                            </li>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")">Approved LPO</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("glyphicons", "active")|| @Url.Action("glyphicons", "icons")|| @Html.RouteIf("flags", "active")">

                        <a href="#"><i class="fa fa-comments"></i>LPO Receiving</a>
                        <ul>

                            <li class="@Url.Action("flags", "icons")">
                                <a href="@Html.RouteIf("icons", "active")"> Entry</a>
                            </li>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")">Approve</a>
                            </li>
                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")">Approved</a>
                            </li>

                        </ul>
                    </li>

                    <li class="@Html.RouteIf("flags", "active")|| @Url.Action("flags", "icons")|| @Html.RouteIf("fontawesome", "active")  || @Url.Action("fontawesome", "icons") || @Html.RouteIf("glyphicons", "active")|| @Url.Action("glyphicons", "icons") ">
                        <a href="#"><i class="fa fa-comments"></i>Contract</a>
                        <ul>

                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")"> Approve </a>
                            </li>
                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")">Approved </a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("flags", "active")|| @Url.Action("flags", "icons")|| @Html.RouteIf("element", "active")">

                        <a href="#"><i class="fa fa-comments"></i>Inventories</a>
                        <ul>

                            <li class="@Html.RouteIf("icons", "active")">
                                <a href="@Html.RouteIf("CustomerList", "active")"> Pending</a>
                            </li>
                            <li class="@Url.Action("CustomerList", "Customers", new { })">
                                <a href="@Html.RouteIf("glyphicons", "active")">Approve</a>
                            </li>
                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("flags", "active")">Approved</a>
                            </li>

                        </ul>
                    </li>
                    <li class="@Url.Action("flags", "icons")|| @Html.RouteIf("element", "active")|| @Html.RouteIf("icons", "active")">

                        <a href="#"><i class="fa fa-comments"></i>Assets</a>
                        <ul>

                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")"> Pending</a>
                            </li>
                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")">Approve</a>
                            </li>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Approved</a>
                            </li>

                        </ul>
                    </li>

                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="@Url.Action("fontawesome", "icons")"><i class="fa fa-group"></i> Frameworks</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("glyphicons", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent">Payment</span></a>
                <ul>

                    <li class="@Url.Action("glyphicons", "icons")">
                        <a href="#"><i class="fa fa-circle"></i>Payment Voucher</a>
                        <ul>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")">Examination</a>
                            </li>
                            <li class="@Html.RouteIf("icons", "active")">
                                <a href="@Html.RouteIf("fontawesome", "active")">Voucher Approval</a>
                            </li>
                            <li class="@Url.Action("fontawesome", "icons")">
                                <a href="@Html.RouteIf("glyphicons", "active")">Generate</a>
                            </li>
                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("glyphicons", "active")">Payment Approval</a>
                            </li>
                            <li class="@Url.Action("glyphicons", "icons")">
                                <a href="@Html.RouteIf("icons", "active")">Reports</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"><i class="fa fa-circle"></i>Transaction Adjustment</a>
                            <ul>
                                <li class="@Url.Action("fontawesome", "icons")">
                                    <a href="@Html.RouteIf("glyphicons", "active")">Reverse Transaction</a>
                                </li>
                            </ul>
                        </li>
                    <li class="@Url.Action("glyphicons", "icons")">
                        <a href="#"><i class="fa fa-circle"></i>Imprest Issue</a>
                        <ul>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("element", "active")">
                                <a href="@Html.RouteIf("icons", "active")">Examination</a>
                            </li>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")">Approval</a>
                            </li>

                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")">Reports</a>
                            </li>
                        </ul>
                    </li>

                   
                    @*<li class="@Html.RouteIf("PendingLPO", "active")">
                            <a href="#"><i class="fa fa-circle"></i>Imprest Retirement</a>
                            <ul>
                                <li class="@Html.RouteIf("ImprestRetirementList", "active")">
                                    <a href="@Url.Action("ImprestRetirementList", "Imprests", new { area = "IFMISTZ" })">Entry</a>
                                </li>
                                <li class="@Html.RouteIf("ImprestExamination", "active")">
                                    <a href="@Url.Action("RetirementList", "ImprestRetirements", new { area = "IFMISTZ" })">Examination</a>
                                </li>
                                <li class="@Html.RouteIf("ExaminedImprests", "active")">
                                    <a href="@Url.Action("ApproveImprestRetirement", "ImprestRetirements", new { area = "IFMISTZ" })">Approval</a>
                                </li>
                                <li class="@Html.RouteIf("Reports", "active")">
                                    <a href="@Url.Action("Reports", "PaymentVoucher", new { area = "IFMISTZ" })">Reports</a>
                                </li>
                            </ul>
                        </li>*@
                    <li class="@Html.RouteIf("flags", "active")">
                        <a href="#"><i class="fa fa-circle"></i>Imprest Retirement</a>
                        <ul>
                            <li class="@Url.Action("flags", "icons")">
                                <a href="@Html.RouteIf("icons", "active")">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("fontawesome", "active")">
                                <a href="@Url.Action("fontawesome", "icons")">Examination</a>
                            </li>
                            <li class="@Html.RouteIf("glyphicons", "active")">
                                <a href="@Url.Action("glyphicons", "icons")">Approval</a>
                            </li>
                            <li class="@Html.RouteIf("flags", "active")">
                                <a href="@Url.Action("flags", "icons")">Reports</a>
                            </li>
                        </ul>
                    </li> 


                    <li class="@Html.RouteIf("icons", "active")|| @Html.RouteIf("fontawesome", "active")|| @Url.Action("fontawesome", "icons")  || @Html.RouteIf("glyphicons", "active") || @Url.Action("glyphicons", "icons")|| @Html.RouteIf("flags", "active") ">
                        <a href="#"><i class="fa fa-comments"></i>Pre Payment Issue</a>
                        <ul>

                            <li class="@Url.Action("flags", "icons")">
                                <a href="@Url.Action("PrePayments", "PrePayment", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("PrePaymentApprove", "active")">
                                <a href="@Url.Action("PrePaymentApprove", "PrePayment", new { area = "IFMISTZ" })">Approve</a>
                            </li>
                            <li class="@Html.RouteIf("ApprovedPrePayment", "active")">
                                <a href="@Url.Action("ApprovedPrePayment", "PrePayment",new { area = "IFMISTZ" })">Approved</a>
                            </li>
                        </ul>
                    </li>

                    @*<li class="@Html.RouteIf("PrePayment", "active")">
                        <a href="#"><i class="fa fa-circle"></i>Pre Payment Issuex</a>
                        <ul>
                            <li class="@Html.RouteIf("PendingPrePayment", "active")">
                                <a href="@Url.Action("PendingPrePayment", "PrePayment", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                            <li class="@Html.RouteIf("ExaminePrePayment", "active")">
                                <a href="@Url.Action("ExaminePrePayment", "PrePayment", new { area = "IFMISTZ" })">Examination</a>
                            </li>
                            <li class="@Html.RouteIf("ApprovePrePayment", "active")">
                                <a href="@Url.Action("ApprovePrePayment", "PrePayment", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                        </ul>
                    </li>*@
                </ul>
            </li>
            <li class="@Html.RouteIf("appviews", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent">Payment Office</span></a>
                <ul>
                    <li class="@Html.RouteIf("Confirmation", "active")">
                        <a href="#"><i class="fa fa-circle"></i>Payment</a>
                        <ul>
                            <li class="@Html.RouteIf("ConfirmPaymentFile", "active")">
                                <a href="@Url.Action("ConfirmPaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">Confirmation</a>
                            </li>
                            <li class="@Html.RouteIf("ApprovePaymentFile", "active")">
                                <a href="@Url.Action("ApprovePaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">Approval</a>
                            </li>
                            <li class="@Html.RouteIf("SubmitPaymentFile", "active")">
                                <a href="@Url.Action("SubmitPaymentFile", "PaymentOffice", new { area = "IFMISTZ" })">Submission</a>
                            </li>
                            <li class="@Html.RouteIf("PaymentStatus", "active")">
                                <a href="@Url.Action("PaymentStatus", "PaymentOffice", new { area = "IFMISTZ" })">Payment Status</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("PendingLPO", "active")">
                        <a href="#"><i class="fa fa-circle"></i>Transfer</a>
                        <ul>
                            <li class="@Html.RouteIf("ImprestList", "active")">
                                <a href="@Url.Action("ImprestList", "Imprests", new { area = "IFMISTZ" })">Entry</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("appviews", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">Reconcilliation</span></a>
                <ul>
                    <li class="@Html.RouteIf("Reconcilliationstatus","active")">
                        @Html.ActionLink("Reconcilliation Status", "Reconcilliationstatus", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("SearchReconciliationOutStanding","active")">
                        @Html.ActionLink("GL to Bank Matching", "SearchReconciliationOutStanding", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>

                    <li class="@Html.RouteIf("SearchBanktoBank","active")">
                        @Html.ActionLink("Bank to Bank Matching", "SearchBanktoBank", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>

                    <li class="@Html.RouteIf("SearchGLtoGL","active")">
                        @Html.ActionLink("GL to GL Matching", "SearchGLtoGL", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>

                    <li class="@Html.RouteIf("SearchReconciliation","active")">
                        @Html.ActionLink("Confirmation", "SearchReconciliation", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>

                    <li class="@Html.RouteIf("ConfirmationList","active")">
                        @Html.ActionLink("Confirmed Reconcilliation", "ConfirmationList", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>

                    <li class="@Html.RouteIf("ApprovalList","active")">
                        @Html.ActionLink("Approval", "ApprovalList", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>

                    <li class="@Html.RouteIf("ApprovedReconcilliation","active")">
                        @Html.ActionLink("Approved Reconcilliation", "ApprovedReconcilliation", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("UploadStatement","active")">
                        @Html.ActionLink("Import Bank Statement", "UploadStatement", "Reconcilliation", new { area = "IFMISTZ" }, null)
                    </li>
               

                </ul>
            </li>
            <li class="@Html.RouteIf("appviews", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">Revenue</span></a>
                <ul>
                    <li class="@Html.RouteIf("Bills", "active")">
                        <a href="#"><i class="fa fa-comments"></i>Bills</a>
                        <ul>
                            <li class="@Html.RouteIf("pendingbills", "active") || @Html.RouteIf("createbill", "active") || @Html.RouteIf("editbill", "active")">
                                <a href="@Url.Action("pendingbills", "billings", new { area = "IFMISTZ" })">Pending Bills</a>
                            </li>
                            <li class="@Html.RouteIf("unpaidbills", "active")">
                                <a href="@Url.Action("unpaidbills", "billings", new { area = "IFMISTZ" })">Unpaid Bills</a>
                            </li>
                            <li class="@Html.RouteIf("paidbills", "active")">
                                <a href="@Url.Action("paidbills", "billings", new { area = "IFMISTZ" })">Paid Bills</a>
                            </li>
                            <li class="@Html.RouteIf("invalidbills", "active")">
                                <a href="@Url.Action("invalidbills", "billings", new { area = "IFMISTZ" })">Invalid Bills</a>
                            </li>
                            <li class="@Html.RouteIf("customerlist", "active")">
                                <a href="@Url.Action("customerlist", "customers", new { area = "IFMISTZ" })">Customers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("", "")">
                        <a href="#"><i class="fa fa-comments"></i>Receipts</a>
                        <ul>
                            <li class="@Html.RouteIf("pendingreceipts", "active")">
                                <a href="@Url.Action("pendingreceipts", "receipts", new { area = "IFMISTZ" })">Pending Receipts</a>
                            </li>
                            <li class="@Html.RouteIf("confirmedreceipts", "active")">
                                <a href="@Url.Action("confirmedreceipts", "receipts", new { area = "IFMISTZ" })">Confirmed Receipts</a>
                            </li>
                            <li class="@Html.RouteIf("approvedreceipts", "active")">
                                <a href="@Url.Action("approvedreceipts", "receipts", new { area = "IFMISTZ" })">Approved Receipts</a>
                            </li>
                            <li class="@Html.RouteIf("postedreceipts", "active")">
                                <a href="@Url.Action("postedreceipts", "receipts", new { area = "IFMISTZ" })">Posted Receipts</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--REPORTS MODULE-->
            <li class="@Html.RouteIf("Report", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Reports</span></a>
                <ul>
                    <!--OPERATIONAL REPORTS-->
                    <li class="@Html.RouteIf("FundReleaseWHv", "active")
                            || @Html.RouteIf("FundReleasedDetailsRPTv", "active")
                            || @Html.RouteIf("FundDistributionWHv", "active")
                            || @Html.RouteIf("FundsDistributionDetailsRPTv", "active")
                            || @Html.RouteIf("FundAllocationWHv", "active")
                            || @Html.RouteIf("UnallocatedFundRPTv", "active")
                            || @Html.RouteIf("StatementComcWHv", "active")
                            || @Html.RouteIf("PaymentVoucherWHv", "active")
                            || @Html.RouteIf("PurchaseOrderWHv", "active")
                            || @Html.RouteIf("GoodsReceiptNoteRPTv", "active")
                            || @Html.RouteIf("VoucherListRPTv", "active")
                            || @Html.RouteIf("PaymentSummaryRPTv", "active")
                            || @Html.RouteIf("CashBookRPTv", "active")
                            || @Html.RouteIf("GeneraLedgerRPTv", "active")
                            || @Html.RouteIf("BillRevenueRPTv", "active")
                            || @Html.RouteIf("ImprestIssueRPTv", "active")
                            || @Html.RouteIf("OutStandingImprestRPTv", "active")
                            || @Html.RouteIf("FundTransferRPTv", "active")">
                        <a href="#"><i class="fa fa-comments"></i>Operational Reports</a>
                        <ul>
                            <li class="@Html.RouteIf("FundReleaseWHv", "active")">
                                @Html.ActionLink("Fund Received", "FundReleaseWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FundReleasedDetailsRPTv", "active")">
                                @Html.ActionLink("Fund Released Details", "FundReleasedDetailsRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FundDistributionWHv", "active")">
                                @Html.ActionLink("Fund Distribution", "FundDistributionWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FundsDistributionDetailsRPTv", "active")">
                                @Html.ActionLink("Fund Distribution Details", "FundsDistributionDetailsRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FundAllocationWHv", "active")">
                                @Html.ActionLink("Fund Allocation", "FundAllocationWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("UnallocatedFundRPTv", "active")">
                                @Html.ActionLink("Unallocated Fund", "UnallocatedFundRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("StatementComcWHv", "active")">
                                @Html.ActionLink("Statement of Comc by Account", "StatementComcWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("PaymentVoucherWHv", "active")">
                                @Html.ActionLink("Payment Voucher", "PaymentVoucherWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("PurchaseOrderWHv", "active")">
                                @Html.ActionLink("Purchase Order", "PurchaseOrderWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li><li class="@Html.RouteIf("GoodsReceiptNoteRPTv", "active")">
                                @Html.ActionLink("Goods Receipt Note", "GoodsReceiptNoteRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("VoucherListRPTv", "active")">
                                @Html.ActionLink("Voucher List", "VoucherListRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("PaymentSummaryRPTv", "active")">
                                @Html.ActionLink("Payment Summary", "PaymentSummaryRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("CashBookRPTv", "active")">
                                @Html.ActionLink("Memorandum Cash Book", "CashBookRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("GeneraLedgerRPTv", "active")">
                                @Html.ActionLink("General Ledger", "GeneraLedgerRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("BillRevenueRPTv", "active")">
                                @Html.ActionLink("Bill Revenue", "BillRevenueRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("ImprestIssueRPTv", "active")">
                                @Html.ActionLink("Imprest Issue", "ImprestIssueRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li><li class="@Html.RouteIf("OutStandingImprestRPTv", "active")">
                                @Html.ActionLink("OutStanding Imprest", "OutStandingImprestRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FundTransferRPTv", "active")">
                                @Html.ActionLink("Fund Transfer", "FundTransferRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                        </ul>
                    </li>
                    <!--ANALYTICAL REPORTS-->
                    <li class="@Html.RouteIf("ItemizedComcWHv", "active")
                            || @Html.RouteIf("ItemizedRevenueStatementWHv", "active")
                            || @Html.RouteIf("ItemizedComcWHvSeg", "active")">
                        <a href="#"><i class="fa fa-lg fa-fw fa-comments"></i> Analytical Reports</a>
                        <ul>
                            <li class="@Html.RouteIf("ItemizedComcWHv", "active")">
                                @Html.ActionLink("Itemized Comc Exp", "ItemizedComcWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("ItemizedRevenueStatementWHv", "active")">
                                @Html.ActionLink("Itemized Revenue Statement", "ItemizedRevenueStatementWHv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("ItemizedComcWHvSeg", "active")">
                                @Html.ActionLink("Itemized Comc Exp by Segment", "ItemizedComcWHvSeg", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                        </ul>
                    </li>
                    <!--RECONCILIATION REPORTS-->
                    <li class="@Html.RouteIf("GOTCashBookRPTv", "active")
                            || @Html.RouteIf("BankAccountRPTv", "active")
                            || @Html.RouteIf("DraftReconciliationRPTv", "active")
                            || @Html.RouteIf("BankOutStandingRPTv", "active")
                            || @Html.RouteIf("GLOutStandingRPTv", "active")
                            || @Html.RouteIf("ReconciledTransactionRPTv", "active")">
                        <a href="#"><i class="fa fa-lg fa-fw fa-comments"></i> Reconciliation Reports</a>
                        <ul>
                            <li class="@Html.RouteIf("GOTCashBookRPTv", "active")">
                                @Html.ActionLink("Cash Book", "GOTCashBookRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("BankAccountRPTv", "active")">
                                @Html.ActionLink("Statement of Account", "BankAccountRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("DraftReconciliationRPTv", "active")">
                                @Html.ActionLink("Reconciliation Statement", "DraftReconciliationRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("BankOutStandingRPTv", "active")">
                                @Html.ActionLink("Bank OutStanding", "BankOutStandingRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("GLOutStandingRPTv", "active")">
                                @Html.ActionLink("Cash Book OutStanding", "GLOutStandingRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("ReconciledTransactionRPTv", "active")">
                                @Html.ActionLink("Reconciled Transactions", "ReconciledTransactionRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                        </ul>
                    </li>
                    <!--FINAL ACCOUNT REPORTS-->
                    <li class="@Html.RouteIf("FinancialPerformanceRPTv", "active")
                            || @Html.RouteIf("FinancialPositionRPTv", "active")
                            || @Html.RouteIf("FinancialCashFlowRPTv", "active")
                            || @Html.RouteIf("FinancialBudgetActualRPTv", "active")
                            || @Html.RouteIf("FinancialEquityRPTv", "active")
                            || @Html.RouteIf("FinancialNotesRPTv", "active")">
                        <a href="#"><i class="fa fa-lg fa-fw fa-comments"></i> Final Account Reports</a>
                        <ul>
                            <li class="@Html.RouteIf("FinancialPerformanceRPTv", "active")">
                                @Html.ActionLink("Financial Performance", "FinancialPerformanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FinancialPositionRPTv", "active")">
                                @Html.ActionLink("Financial Position", "FinancialPositionRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FinancialCashFlowRPTv", "active")">
                                @Html.ActionLink("Cash Flow", "FinancialCashFlowRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FinancialBudgetActualRPTv", "active")">
                                @Html.ActionLink("Statement Budget vs Actual", "FinancialBudgetActualRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FinancialEquityRPTv", "active")">
                                @Html.ActionLink("Statement Changes Net Asset/Equity", "FinancialEquityRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("FinancialNotesRPTv", "active")">
                                @Html.ActionLink("Notes Financial Statement", "FinancialNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("userprofile", "active") || @Html.RouteIf("changepassword", "active") || @Html.RouteIf("indexpage", "active")">
                <a href="@Url.Action("userprofile", "manage", new { area = ""}, null)"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">My Profile</span></a>
            </li>
            <li class="@Html.RouteIf("", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Settings</span></a>
                <ul>
                    <li class="@Html.RouteIf("institutionlist", "active")">
                        <a href="@Url.Action("institutionlist", "institutions", new { area = "ifmistz" }, null)" title="Dashboard"> <span class="menu-item-parent">Institutions</span></a>
                    </li>
                    <li class="@Html.RouteIf("paystationlist", "active")">
                        <a href="@Url.Action("paystationlist", "paystations", new { area = "ifmistz"}, null)" title="Dashboard"> <span class="menu-item-parent">Pay Stations</span></a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("intel", "active" )">
                <a href="#"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">User Managements</span></a>
                <ul>
                    <li class="@Html.RouteIf("users", "active") || @Html.RouteIf("userdetails", "active") || @Html.RouteIf("edituser", "active")">
                        <a href="@Url.Action("users", "manage", new { area = ""}, null)" title="Dashboard"><span class="menu-item-parent">Users</span></a>
                    </li>
                    <li class="@Html.RouteIf("applicationroles", "active")">
                        <a href="@Url.Action("applicationroles", "applicationroles", new { area = ""}, null)" title="Dashboard"><span class="menu-item-parent">Roles</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->