@if ((User.IsInRole("At Source Payment Entry")) || (User.IsInRole("At Source Payment Approval")))
{
    <li class="@Html.RouteIf("AtSourcePaymentLists", "active") || @Html.RouteIf("AtSourcePaymentApprovalLists", "active")  || @Html.RouteIf("AtSourcePaymentDetails", "active") ">
        <a href="#">At Source Payment</a>
        <ul>
            @if (User.IsInRole("At Source Payment Entry"))
            {
                <li class="@Html.RouteIf("AtSourcePaymentLists", "active" ) || @Html.RouteIf("UploadAtSourcePayment", "active" )">
                    <a href="@Url.Action("AtSourcePaymentLists", "AtSourcePayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                </li>
            }

            @if (User.IsInRole("At Source Payment Approval"))
            {

                <li class="@Html.RouteIf("AtSourcePaymentApprovalLists", "active" )">
                    <a href="@Url.Action("AtSourcePaymentApprovalLists", "AtSourcePayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                </li>
            }
            <li class="@Html.RouteIf("AtSourcePaymentTracker", "active" )">
                <a href="@Url.Action("AtSourcePaymentTracker", "GroupPayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
            </li>

            @if ((User.IsInRole("At Source Payment Entry")) || (User.IsInRole("At Source Payment Approval")))
            {
                <li class="@Html.RouteIf("fontawesome", "active")">
                    <a href="#"> Unapplied</a>
                    <ul>
                        @if ((User.IsInRole("At Source Payment Entry")))
                        {

                            <li class="@Html.RouteIf("PendingUnappliedAS", "active") || @Html.RouteIf("EditUnapplied", "active" )">
                                <a href="@Url.Action("PendingUnappliedAS", "AtSourcePaymentUnapplied" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Pending</a>
                            </li>
                            <li class="@Html.RouteIf("PrintUnapplied", "active")">
                                <a href="@Url.Action("PrintUnapplied", "AtSourcePaymentUnapplied" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Print</a>
                            </li>

                        }
                        @if (User.IsInRole("At Source Payment Approval"))
                        {

                            <li class="@Html.RouteIf("ApproveUnappliedAS", "active" )">
                                <a href="@Url.Action("ApproveUnappliedAS", "AtSourcePaymentUnapplied" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                            </li>
                        }


                    </ul>
                </li>
            }



        </ul>
    </li>
}