@if(User.IsInRole("Bulk Transfer Entry") || User.IsInRole("Bulk Transfer Approval"))
{
    <li class="@Html.RouteIf("", "")">

        <a href="#">Bulky Transfer</a>
        <ul>
            @if(User.IsInRole("Bulk Transfer Entry"))
            {
                <li class="@Html.RouteIf("RenderTemplatePager", "active")">
                    <a href="@Url.Action("RenderTemplatePager", "BulkyTransfer", new { area = "IFMISTZ" })">
                        <i class="fa fa-external-link"></i> Entry
                    </a>
                </li>
            }

            @if(User.IsInRole("Bulk Transfer Approval"))
            {
                <li class="@Html.RouteIf("FundTransfersApproval", "active")">
                    <a href="@Url.Action("FundTransfersApproval", "BulkyTransfer", new { area = "IFMISTZ" })">
                        <i class="fa fa-external-link"></i> Approval
                    </a>
                </li>
            }

            <li class="@Html.RouteIf("RejectedFundTransfers", "active")">
                <a href="@Url.Action("RejectedFundTransfers", "BulkyTransfer", new { area = "IFMISTZ" })">
                    <i class="fa fa-external-link"></i> Rejected
                </a>
            </li>

        </ul>

    </li>
}