                    <!--Start of Cash Management-->
<li class="@Html.RouteIf("", "")">
    <a href="#"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Cash Management</span></a>
    <ul>
        <li class="@Html.RouteIf("", "")">
            @if (User.IsInRole("Funding entry"))
            {
                <a href="#">Funding Entry</a>
                <ul>

                    <li class="@Html.RouteIf("FundReceiving", "active")">
                        <a href="@Url.Action("FundReceiving", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Receiving</a>
                    </li>
                    <li class="@Html.RouteIf("funddistribution", "active")">
                        <a href="@Url.Action("funddistribution", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Distribution</a>
                    </li>
                    @*<li class="@Html.RouteIf("FundDistributionConfirmation", "active")">
                        <a href="@Url.Action("FundDistributionConfirmation", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Confirm Distribution </a>
                    </li>*@

                    <li class="@Html.RouteIf("AllocatedFunds", "active")">
                        <a href="@Url.Action("AllocatedFunds", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Allocation</a>
                    </li>
                    @if (User.IsInRole("Accruall Allocation Entry"))
                    {
                        <li class="@Html.RouteIf("AccruallAllocatedFunds", "active")">
                            <a href="@Url.Action("AccruallAllocatedFunds", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Accrual Allocation</a>
                        </li>
                    }
                    @*<li class="@Html.RouteIf("FundAllocationConfirmation", "active")">
                        <a href="@Url.Action("FundAllocationConfirmation", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Confirm Allocation </a>
                    </li>*@
                </ul>
            }
        </li>

        <li class="@Html.RouteIf("", "")">
            @if (User.IsInRole("Funding Approval"))
            {
                <a href="#">Funding Approval</a>
                <ul>
                    <li class="@Html.RouteIf("FundDistributionApproval", "active")">
                        <a href="@Url.Action("FundDistributionApproval", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Distribution Approval</a>
                    </li>

                    <li class="@Html.RouteIf("FundAllocationApproval", "active")">
                        <a href="@Url.Action("FundAllocationApproval", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Allocation Approval</a>
                    </li>

                </ul>
            }
        </li>

        @Html.Partial("_BulkyTransfer")
        @Html.Partial("_ExchequerMenu")

        <li class="@Html.RouteIf("", "")">

            <a href="#">Fund Withdraw</a>
            <ul>
                @if (User.IsInRole("Funding entry"))
                {
                    <li class="@Html.RouteIf("CreateWithDraw", "active")">
                        <a href="@Url.Action("CreateWithDraw", "FundWithDraws", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Distribution WithDraw </a>
                    </li>
                    <li class="@Html.RouteIf("WithDrawDistributionConfirmation", "active")">
                        <a href="@Url.Action("WithDrawDistributionConfirmation", "FundWithDraws", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Confirm Distribution WithDraw </a>
                    </li>

                    <li class="@Html.RouteIf("AllocationWithDraw2", "active")">
                        <a href="@Url.Action("AllocationWithDraw2", "FundWithDraws", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Allocation WithDraw </a>
                    </li>
                    <li class="@Html.RouteIf("WithDrawAllocationConfirmation", "active")">
                        <a href="@Url.Action("WithDrawAllocationConfirmation", "FundWithDraws", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Confirm Allocation WithDraw </a>
                    </li>
                }
                @if (User.IsInRole("Funding Approval"))
                {
                    <li class="@Html.RouteIf("WithDrawDistributionApproval", "active")">
                        <a href="@Url.Action("WithDrawDistributionApproval", "FundWithDraws", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve Distribution WithDraw </a>
                    </li>

                    <li class="@Html.RouteIf("WithDrawAllocationApproval", "active")">
                        <a href="@Url.Action("WithDrawAllocationApproval", "FundWithDraws", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve Allocation WithDraw </a>
                    </li>
                }

            </ul>

        </li>

        <li class="@Html.RouteIf("icons", "active")">
            @if (User.IsInRole("Funding Own Source Entry"))
            {
                <a href="#">Own Source Entry</a>
                <ul>
                    @*<li class="@Html.RouteIf("CreateOwnSource", "active")">
                        <a href="@Url.Action("CreateOwnSource", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry </a>
                    </li>*@
                    <li class="@Html.RouteIf("PendingImported", "active")">
                        <a href="@Url.Action("PendingImported", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry </a>
                    </li>

                    <li class="@Html.RouteIf("ConfirmOwnSourceTransfer", "active")">
                        <a href="@Url.Action("ConfirmOwnSourceTransfer", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Transfer </a>
                    </li>
                </ul>
            }
        </li>

        <li>
            @if (User.IsInRole("Funding Own Source Approval"))
            {
                <a href="#">Own Source Approval</a>
                <ul>
                    @*<li class="@Html.RouteIf("ApprovalOwnSource", "active")">
                        <a href="@Url.Action("ApprovalOwnSource", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval </a>
                    </li>*@
                    <li class="@Html.RouteIf("ImportedApproval", "active")">
                        <a href="@Url.Action("ImportedApproval", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval </a>
                    </li>
                    <li class="@Html.RouteIf("ApprovalFundTransfer", "active")">
                        <a href="@Url.Action("ApprovalFundTransfer", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Transfer Approval  </a>
                    </li>
                    <li class="@Html.RouteIf("SubmitOwnSourceTransfer", "active")">
                        <a href="@Url.Action("SubmitOwnSourceTransfer", "OwnSources", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Transfer Submission </a>
                    </li>

                    }
                </ul>
            }
        </li>

        <li class="@Html.RouteIf("", "")">

            <a href="#">Funding Trackers</a>
            <ul>

                <li class="@Html.RouteIf("DistributionTracker", "active")">
                    <a href="@Url.Action("DistributionTracker", "FundingTracker", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Distribution Tracker </a>
                </li>
                <li class="@Html.RouteIf("AllocationTracker", "active")">
                    <a href="@Url.Action("AllocationTracker", "FundingTracker", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Allocation Tracker </a>
                </li>
                <li class="@Html.RouteIf("TransferTracker", "active")">
                    <a href="@Url.Action("TransferTracker", "FundingTracker", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Transfer Tracker </a>
                </li>

                @if (User.IsInRole("Deposit Transfer Approval") || User.IsInRole("Deposit Transfer Entry") || User.IsInRole("Deposit Transfer Submission"))
                {
                    <li class="@Html.RouteIf("DepositTransferTracker", "active")">
                        <a href="@Url.Action("DepositTransferTracker", "FundingTracker", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Deposit Transfer Tracker </a>
                    </li>
                }

                @*<li class="@Html.RouteIf("AllocatedFunds", "active")">
                    <a href="@Url.Action("AllocatedFunds", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Allocation</a>
                </li>

                <li class="@Html.RouteIf("FundAllocationConfirmation", "active")">
                    <a href="@Url.Action("FundAllocationConfirmation", "FundAllocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Confirm Allocation </a>
                </li>*@


            </ul>

        </li>

        @if (User.IsInRole("WithHeld Entry") 
            || User.IsInRole("WithHeld Examine") 
            || User.IsInRole("WithHeld Approve") 
            || User.IsInRole("WithdrawExchequer Entry") 
            || User.IsInRole("WithdrawExchequer Approval"))
        {
            <li>
                <a href="#" title="Exchequer"><span class="menu-item-parent">Exchequer</span></a>
                <ul>
                    <li class="">
                        <a href="#"><span class="menu-item-parent">Withheld Allocation</span></a>
                        <ul>
                            @if (User.IsInRole("WithHeld Entry"))
                            {
                                <li class="@Html.RouteIf("withheldinstructionlist", "active") || @Html.RouteIf("CreateWithheldInstruction", "active") || @Html.RouteIf("EditWithheldInstruction", "active")">
                                    <a href="@Url.Action("WithHeldInstructionList", "Exchequer", new { area = "IFMISTZ" })" title="Withheld Instruction and Budget"><span class="menu-item-parent">Entry</span></a>
                                </li>
                            }

                            @if (User.IsInRole("WithHeld Approve"))
                            {
                                <li class="@Html.RouteIf("WithHeldExaminedList", "active") ">
                                    <a href="@Url.Action("WithHeldExaminedList", "Exchequer", new { area = "IFMISTZ" })" title="Approve Withheld Instruction and Budget"><span class="menu-item-parent">Approval</span></a>
                                </li>

                                <li class="@Html.RouteIf("WithHeldExchequerList", "active") ">
                                    <a href="@Url.Action("WithHeldExchequerList", "Exchequer", new { area = "IFMISTZ" })" title="Released of WithHeld Exchequer"><span class="menu-item-parent">Released List</span></a>
                                </li>

                                <li class="@Html.RouteIf("WithHeldExchequerWithdrawalList", "active") ">
                                    <a href="@Url.Action("WithHeldExchequerWithdrawalList", "Exchequer", new { area = "IFMISTZ" })" title="Confirmation of  Withdrawal of WithHeld Exchequer"><span class="menu-item-parent">Withdrawal List</span></a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="menu-item-parent">Reports</span></a>
                        <ul>
                            <li class="@Html.RouteIf("WithheldExchequerListRptv", "active")">
                                @Html.ActionLink("Withheld Exchequers", "WithheldExchequerListRptv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("WithheldExchequerAllocationListRptv", "active")">
                                @Html.ActionLink("Withheld Exchequers Allocation", "WithheldExchequerAllocationListRptv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                            <li class="@Html.RouteIf("WithheldExchequerDetailRptv", "active")">
                                @Html.ActionLink("Withheld Exchequers Detail", "WithheldExchequerDetailRptv", "Report", new { area = "IFMISTZ" }, null)
                            </li>
                        </ul>
                    </li>

                    @if (User.IsInRole("WithdrawExchequer Entry") || User.IsInRole("WithdrawExchequer Approval"))
                    {
                        <li class="@Html.RouteIf("ExchequerWithdrawDetails", "active")">
                            <a href="#"><span class="menu-item-parent">Exchequer Withdraw</span></a>
                            <ul>
                                @if (User.IsInRole("WithdrawExchequer Entry"))
                                {
                                    <li class="@Html.RouteIf("WithdrawExchequerList", "active") || @Html.RouteIf("ExchequerWithdrawForm", "active") ">
                                        <a href="@Url.Action("WithdrawExchequerList", "ExchequerWithdraw", new { area = "IFMISTZ" })" title="Exchequer Withdraw Entry"><span class="menu-item-parent">Entry</span></a>
                                    </li>
                                }
                                @if (User.IsInRole("WithdrawExchequer Approval"))
                                {
                                    <li class="@Html.RouteIf("ApprovedWithdrawExchequerList", "active") ">
                                        <a href="@Url.Action("ApprovedWithdrawExchequerList", "ExchequerWithdraw", new { area = "IFMISTZ" })" title="Exchequer Withdraw Approval"><span class="menu-item-parent">Approval</span></a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }

        @{ Html.RenderPartial("_CashReceiptMenu"); }

        @{ Html.RenderPartial("_DirectFundMenu"); }

        @{ Html.RenderPartial("_DummyPaymentMenu"); }

        @{ Html.RenderPartial("_DummySalaryMenu"); }

        @{ Html.RenderPartial("_DummyExchequerMenu"); }

        @{ Html.RenderPartial("_FundTransferMenu"); }

        <li class="@Html.RouteIf("icons", "active")">
            @if (User.IsInRole("Funding Request Entry"))
            {
                <a href="#">Fund Request Entry</a>
                <ul>
                    <li class="@Html.RouteIf("FundManualReceiving", "active")">
                        <a href="@Url.Action("FundManualReceiving", "FundRequest", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry </a>
                    </li>


                    <li class="@Html.RouteIf("FundRequestConfirm", "active")">
                        <a href="@Url.Action("FundRequestConfirm", "FundRequest", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Confirm </a>
                    </li>

                </ul>
            }
        </li>

        <li class="@Html.RouteIf("icons", "active")">
            @if (User.IsInRole("Funding Request Approval"))
            {
                <a href="#">Fund Request Approval</a>
                <ul>

                    <li class="@Html.RouteIf("FundRequestApproval", "active")">
                        <a href="@Url.Action("FundRequestApproval", "FundRequest", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval </a>
                    </li>

                </ul>
            }
        </li>

        @*<li class="@Html.RouteIf("icons", "active")">
            <a href="#">Bank Statement</a>
            <ul>

                @if (User.IsInRole("Bank Statement Entry"))
                {
                    <li class="@Html.RouteIf("BankstatementList", "active")">
                        <a href="@Url.Action("BankstatementList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Import Bank Statement</a>
                    </li>

                    <li class="@Html.RouteIf("RemoveStatement", "active")">
                        <a href="@Url.Action("RemoveStatement", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Remove Bank Statement</a>
                    </li>

                    <li class="@Html.RouteIf("BankStatementAnalysisList", "active")">
                        <a href="@Url.Action("BankStatementAnalysisList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Analyse Bank Statement</a>
                    </li>

                    <li class="@Html.RouteIf("RequestBankStatement", "active")">
                        <a href="@Url.Action("RequestBankStatement", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Request Bank Statement</a>
                    </li>

                    <li class="@Html.RouteIf("RequestAllBankStatement", "active")">
                        <a href="@Url.Action("RequestAllBankStatement", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Request All Missing  Bank Statement</a>
                    </li>

                    <li class="@Html.RouteIf("BankStatementBalanceList", "active")">
                        <a href="@Url.Action("BankStatementBalanceList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Bank Statement Balances</a>
                    </li>

                    <li class="@Html.RouteIf("AbnormalBankStatementList", "active")">
                        <a href="@Url.Action("AbnormalBankStatementList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Abnormal Bank StatementList</a>
                    </li>

                }
                @if (User.IsInRole("Bank Statement Approval"))
                {
                    <li class="@Html.RouteIf("StatementApproval", "active")">
                        <a href="@Url.Action("StatementApproval", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Approval</a>
                    </li>

                }

            </ul>
        </li>

        @if (User.IsInRole("Reconciliation"))
        {
            <li class="@Html.RouteIf("icons", "active")">
                <a href="#">Reconciliation</a>
                <ul>

                    @if (User.IsInRole("Reconciliation Entry"))
                    {

                        <li class="@Html.RouteIf("Reconcilliationstatus", "active")">
                            <a href="@Url.Action("Reconcilliationstatus", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Reconciliation Process</a>
                        </li>

                        <li class="@Html.RouteIf("SearchMatched", "active")">
                            <a href="@Url.Action("SearchMatched", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Unmatching</a>
                        </li>

                        <li class="@Html.RouteIf("TransactionStatus", "active")">
                            <a href="@Url.Action("TransactionStatus", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Transaction Status</a>
                        </li>


                        <li class="@Html.RouteIf("SearchReconciliation", "active")">
                            <a href="@Url.Action("SearchReconciliation", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Confirmation</a>
                        </li>


                        <li class="@Html.RouteIf("ConfirmationList", "active")">
                            <a href="@Url.Action("ConfirmationList", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Confirmed List</a>
                        </li>

                    }
                    @if (User.IsInRole("Reconciliation Approval"))
                    {
                        <li class="@Html.RouteIf("ApprovalList", "active")">
                            <a href="@Url.Action("ApprovalList", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Approval</a>
                        </li>

                        <li class="@Html.RouteIf("ReverseApprovedReconciliation", "active")">
                            <a href="@Url.Action("ReverseApprovedReconciliation", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Reverse Approved Reconciliation</a>
                        </li>

                        <li class="@Html.RouteIf("ApprovedReconcilliation", "active")">
                            <a href="@Url.Action("ApprovedReconcilliation", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Approved List</a>
                        </li>
                    }




                </ul>
            </li>
        }*@

        @{ Html.RenderPartial("_DFundMenu"); }

        @Html.Partial("_ReconcilliationMenu")

        <li class="@Html.RouteIf("icons", "active")">
            @if (User.IsInRole("Exchange Rate Entry"))
            {
                <a href="#">Exchange Rate Entry</a>
                <ul>
                    <li class="@Html.RouteIf("ExchangeRate", "active")">
                        <a href="@Url.Action("ExchangeRate", "InstitutionExchangeRates", new { area = "IFMISTZ" })">Exchange Rate Entry</a>
                    </li>

                </ul>
            }
        </li>
        @{ Html.RenderPartial("_GovernmentAccountMenu"); }
        @{ Html.RenderPartial("_StandingImprestMenu"); }
        @{ Html.RenderPartial("_ForecastMenu"); }
        @{ Html.RenderPartial("_PaymentApprovalMenu"); }
        @{ Html.RenderPartial("_CMReportsMenu"); }
    </ul>
</li>
<!--End of Cash Management-->