<li class="@Html.RouteIf("", "")">
    <a href="#">Cash Receipts</a>
    <ul>
        @if (User.IsInRole("Receipt Entry"))
        {
            <li class="@Html.RouteIf("PendingDummyReceipts", "active") || @Html.RouteIf("CreateDummyReceipt", "active") || @Html.RouteIf("EditDummyReceipt", "active") || @Html.RouteIf("CreateEmbassyReceipt", "active")">
                <a href="@Url.Action("PendingDummyReceipts", "DummyReceipts", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
            </li>
        }
        @if (User.IsInRole("Receipt Approval"))
        {
            <li class="@Html.RouteIf("ConfirmedDummyReceipts", "active")">
                <a href="@Url.Action("ConfirmedDummyReceipts", "DummyReceipts", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
            </li>
        }
        @if (User.IsInRole("Receipt Entry") || User.IsInRole("Receipt Approval"))
        {
            <li class="@Html.RouteIf("TrackDummyReceipt", "active")">
                <a href="@Url.Action("TrackDummyReceipt", "DummyReceipts", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
            </li>
        }
    </ul>
</li>

<li class="@Html.RouteIf("", "")">
    <a href="#">Receipt Withdraw</a>
    <ul>
        @if (User.IsInRole("Receipt Entry"))
        {
            <li class="@Html.RouteIf("WithdrawDummyReceipts", "active")">
                <a href="@Url.Action("WithdrawDummyReceipts", "DummyReceipts", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
            </li>
        }
    </ul>
</li>

