
@if (User.IsInRole("Cash Management Report Menu"))
{


   <li class="@Html.RouteIf("", "")">
       <a href="#">Cash mgt Report</a>
    @*<a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Cash mgt Report</span></a>*@
   <ul>

       <li class="@Html.RouteIf("Cash_BankStatementRPTv", "active")
                        ||@Html.RouteIf("Cash_OpenAccountRPTv", "active")
                        ||@Html.RouteIf("CM_ComercialStatementRTv", "active")
                        ||@Html.RouteIf("CM_RevenueTransferRTv", "active").
                        ||@Html.RouteIf("CM_EmbassyAccountPermitRPTv", "active")
                        ||@Html.RouteIf("CM_CashFlowRPTv", "active")
                        ||@Html.RouteIf("Cash_StandingImprestRPTv", "active")
                        ||@Html.RouteIf("CMMonthlyDeficientRPTv", "active")
                        ||@Html.RouteIf("CM_GovPositionRTv", "active")
                        ||@Html.RouteIf("CM_BankBalanceTransferRTv", "active")
                        ||@Html.RouteIf("CM_BOTDailyBankCastRPTv", "active")
                        ||@Html.RouteIf("CM_GovernmentAccountListRPTv", "active")
                        ||@Html.RouteIf("CM_RevenueExpenditureRPTv", "active")
                        ||@Html.RouteIf("CM_RevenueExpenditureTo12MonthRPTv", "active")
                        ||@Html.RouteIf("CM_RevenueProjectionRPTv", "active")
                        ||@Html.RouteIf("CM_TransactioncostSummaryRPTv", "active")
                        ||@Html.RouteIf("CM_GovernmentPositiondtlRTv", "active")">

           <a href="#"><i class="fa fa-external-link"></i> Cash Management Reports</a>
           <ul>
               <li class="@Html.RouteIf("Cash_BankStatementRPTv", "active")">
                   @Html.ActionLink("Bank Transaction Cost Detail", "Cash_BankStatementRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_TransactioncostSummaryRPTv", "active")">
                   @Html.ActionLink("Bank Transaction Cost Summary", "CM_TransactioncostSummaryRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("Cash_OpenAccountRPTv", "active")">
                   @Html.ActionLink("Opened and Closed Account", "Cash_OpenAccountRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_ComercialStatementRTv", "active")">
                   @Html.ActionLink("Public Money from Commercial", "CM_ComercialStatementRTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_RevenueTransferRTv", "active")">
                   @Html.ActionLink("Revenue Transfer", "CM_RevenueTransferRTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_EmbassyAccountPermitRPTv", "active")">
                   @Html.ActionLink("Embassy Account Permit", "CM_EmbassyAccountPermitRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_CashFlowRPTv", "active")">
                   @Html.ActionLink("CashFlow  ", "CM_CashFlowRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("Cash_StandingImprestRPTv", "active")">
                   @Html.ActionLink("Standing Imprest", "Cash_StandingImprestRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CMMonthlyDeficientRPTv", "active")">
                   @Html.ActionLink("Monthly Deficit", "CMMonthlyDeficientRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_GovPositionRTv", "active")">
                   @Html.ActionLink("Government Position", "CM_GovPositionRTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_BankBalanceTransferRTv", "active")">
                   @Html.ActionLink("GePG Transfer to BoT", "CM_BankBalanceTransferRTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_BOTDailyBankCastRPTv", "active")">
                   @Html.ActionLink("Public Money in BOT", "CM_BOTDailyBankCastRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_GovernmentAccountListRPTv", "active")">
                   @Html.ActionLink("Government Account Register", "CM_GovernmentAccountListRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_RevenueExpenditureRPTv", "active")">
                   @Html.ActionLink("Expenditure", "CM_RevenueExpenditureRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_RevenueExpenditureTo12MonthRPTv", "active")">
                   @Html.ActionLink(" Projection Revenue & Expenditure", "CM_RevenueExpenditureTo12MonthRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_RevenueProjectionRPTv", "active")">
                   @Html.ActionLink("Revenue", "CM_RevenueProjectionRPTv", "Reports", new { area = "CashManagement" }, null)
               </li>
               <li class="@Html.RouteIf("CM_GovernmentPositiondtlRTv", "active")">
                   @Html.ActionLink("Bank Cast", "CM_GovernmentPositiondtlRTv", "Reports", new { area = "CashManagement" }, null)
               </li>



           </ul>
       </li>


   </ul>
</li>
 }