@if (!(User.IsInRole("Coadmis Engagement")))
{
    <li class="@Html.RouteIf(" fontawesome", "active" )">
        <a href="#" title="Engagement"><i class="fa fa-lg fa-fw  fa-th-large"></i> <span class="menu-item-parent">Engagement</span></a>
        <ul>
            <li class="@Html.RouteIf("EngagementList", "active" ) || @Html.RouteIf("createengagement", "active") || 
                 @Html.RouteIf("EngagementAssignment", "active")  || @Html.RouteIf("EditEngagement", "active") || @Html.RouteIf("EngagementDetails","active")">
                <a href="@Url.Action("EngagementList", "Engagement" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Initiation Phase</a>
            </li>
            @*@if (User.IsInRole("Team Leader"))
            {

            }*@
            <li class="@Html.RouteIf("MemberDecrationList", "active" ) || @Html.RouteIf("EngagementDeclaration", "active")">
                <a href="@Url.Action("MemberDecrationList", "Engagement" , new { area="Coadmis"})"><i class="fa fa-external-link"></i>Member Declaration</a>
            </li>
            
            <li class="@Html.RouteIf("EngagementHandoverList", "active" ) || @Html.RouteIf("EngagementHandoverList", "active")|| @Html.RouteIf("CreateHandoverEngagement", "active")">
                <a href="@Url.Action("EngagementHandoverList", "Engagement" , new { area="Coadmis"})"><i class="fa fa-external-link"></i>Engagement Handover</a>
            </li>
            <li class="@Html.RouteIf("HandoverHistoryList", "active" ) || @Html.RouteIf("HandoverHistoryList", "active")">
                <a href="@Url.Action("HandoverHistoryList", "Engagement" , new { area="Coadmis"})"><i class="fa fa-external-link"></i>Handover History</a>
            </li>
            
        </ul>
    </li>

    <li class="@Html.RouteIf(" fontawesome", "active" )">
        <a href="#" title="Engagement"><i class="fa fa-lg fa-fw  fa-renren"></i> <span class="menu-item-parent">Planning</span></a>
        <ul>
            <li class="@Html.RouteIf("PlanningEngagementList", "active" ) || @Html.RouteIf("CreatePlanning", "active")
                     || @Html.RouteIf("EditePlanningEngamenet", "active") || @Html.RouteIf("createplanningengagement", "active")
                     || @Html.RouteIf("RiskIdentificationProcess", "active")">
                <a href="@Url.Action("PlanningEngagementList", "PlanningEngagement" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Entry</a>
            </li>
            @*@if (User.IsInRole("Coadmis Engagement Planning Reviewer"))
            {*@
                <li class="@Html.RouteIf("ReviewPlanningEngagementList", "active" )">
                    <a href="@Url.Action("ReviewPlanningEngagementList", "PlanningEngagement" , new { area="Coadmis"})"><i class="fa fa-external-link"></i>Review</a>
                </li>
            @*}*@


            <li class="@Html.RouteIf("ApprovedPlanningEngagementList", "active" )">
                <a href="@Url.Action("ApprovedPlanningEngagementList", "PlanningEngagement" , new { area="Coadmis"})"><i class="fa fa-external-link"></i>Tracker</a>
            </li>
        </ul>
    </li>
 }

