@*@if ((User.IsInRole("Coadmis Setup")))
    {*@
<li class="@Html.RouteIf("fontawesome", "active" )">
    <a href="#" title="System Management"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Setup</span></a>
    <ul>
        @*<li class="@Html.RouteIf("PendingItems", "active" )">
            <a href="@Url.Action("PendingItems", "LookupSetups" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Account Estimate Items </a>
        </li>*@
        <li class="@Html.RouteIf("PendingTypeService", "active" )">
            <a href="@Url.Action("PendingTypeService", "LookupSetups" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Type of Service </a>
        </li>
        <li class="@Html.RouteIf("AuditPrograms", "active" ) || @Html.RouteIf("auditprogramdetails", "active" )">
            <a href="@Url.Action("AuditPrograms", "LookupSetups" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Audit Programs </a>
        </li>
        <li class="@Html.RouteIf("ClientTypesList", "active" ) || @Html.RouteIf("CreateClient", "active" ) || @Html.RouteIf("EditClientType", "active" )">
            <a href="@Url.Action("ClientTypesList", "ClientTypes" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Client Type</a>
        </li>
        <li class="@Html.RouteIf("ClientCategoriesList", "active" ) || @Html.RouteIf("CreateClientInformation", "active" )">
            <a href="@Url.Action("ClientCategoriesList", "ClientCategories" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Client Category</a>
        </li>
        @*<li class="@Html.RouteIf("AccountingFinancialYearList", "active" ) || @Html.RouteIf("CreateAccountingFinancialYearList", "active" ) || @Html.RouteIf("EditAccountingFinancialYearList", "active" )">
            <a href="@Url.Action("AccountingFinancialYearList", "AccountingFinancialYear" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Accounting Financial Year</a>
        </li>*@
        <li class="@Html.RouteIf("PositionList", "active" ) || @Html.RouteIf("CreatePosition", "active" ) || @Html.RouteIf("EditPosition", "active" )">
            <a href="@Url.Action("PositionList", "Position" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Position</a>
        </li>
        <li class="@Html.RouteIf("ProfesionalList", "active" ) || @Html.RouteIf("CreateProfesional", "active" ) || @Html.RouteIf("EditProfesional", "active" )">
            <a href="@Url.Action("ProfesionalList", "Profesional" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Profesional</a>
        </li>
        <li class="@Html.RouteIf("AuditorList", "active" ) || @Html.RouteIf("Auditor", "active" )">
            <a href="@Url.Action("AuditorList", "Auditor" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Auditor</a>
        </li>
        <li class="@Html.RouteIf("BusinessAreaList", "active" ) || @Html.RouteIf("BusinessArea", "active" )">
            <a href="@Url.Action("BusinessAreaList", "BusinessArea" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Business Area</a>
        </li>
        <li class="@Html.RouteIf("AuditableAreaList", "active" ) || @Html.RouteIf("AuditableArea", "active" )">
            <a href="@Url.Action("AuditableAreaList", "AuditableArea" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Auditable Area </a>
        </li>
        <li class="@Html.RouteIf("AuditableAreaItemList", "active" ) || @Html.RouteIf("AuditableAreaItem", "active" )">
            <a href="@Url.Action("AuditableAreaItemList", "AuditableAreaItem" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Auditable Area Item</a>
        </li>
        <li class="@Html.RouteIf("AuditableAreaAssignmentList", "active" ) || @Html.RouteIf("AuditableAreaAssignmentList", "active" ) || @Html.RouteIf("CreateAuditableAreaAssign", "active" ) || @Html.RouteIf("EditAuditableAreaAssign", "active" )">
            <a href="@Url.Action("AuditableAreaAssignmentList", "AuditableAreaAssignment" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Auditable Area Assignment</a>
        </li>
        <li class="@Html.RouteIf("AttachmentTypeList", "active" ) || @Html.RouteIf("create", "active" )">
            <a href="@Url.Action("AttachmentTypeList", "AttachmentType" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Attachment Type</a>
        </li>
        <li class="@Html.RouteIf("CategoryTypeList", "active" ) || @Html.RouteIf("CategoryType", "active" )">
            <a href="@Url.Action("CategoryTypeList", "CategoryType" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Category Type</a>
        </li>
        @*<li class="@Html.RouteIf("KeyPersonnelList", "active" ) || @Html.RouteIf("KeyPersonnel", "active" )" || @Html.RouteIf("Details", "active" )">
            <a href="@Url.Action("KeyPersonnelList", "KeyPersonnel" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Key Personnel</a>
        </li>*@
        <li class="@Html.RouteIf("LegalFrameworkList", "active" ) || @Html.RouteIf("LegalFramework", "active" )">
            <a href="@Url.Action("LegalFrameworkList", "LegalFramework" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Legal Framework</a>
        </li>
        @*<li class="@Html.RouteIf("AuditAssignmentList", "active" ) || @Html.RouteIf("AuditAssignment", "active" )">
            <a href="@Url.Action("AuditAssignmentList", "AuditAssignment" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Audit Assignment</a>
        </li>*@
        <li class="@Html.RouteIf("AreaOfAccountList", "active" ) || @Html.RouteIf("AreaOfAccount", "active" )">
            <a href="@Url.Action("AreaOfAccountList", "AreaOfAccount" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Area of Account</a>
        </li>
        <li class="@Html.RouteIf("AttachmentTypeList", "active" ) || @Html.RouteIf("EditAttachment", "active" )">
            <a href="@Url.Action("AttachmentTypeList", "AttachmentType" , new { area="Coadmis" })"><i class="fa fa-external-link"></i> Attachment Type</a>
        </li>
        <li class="@Html.RouteIf("EngagementRoleList", "active" ) || @Html.RouteIf("EngagementRoles", "active" )">
            <a href="@Url.Action("EngagementRoleList", "EngagementRoles" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Engagement Role</a>
        </li>
        @*<li class="@Html.RouteIf("FinancialYearsList", "active" ) || @Html.RouteIf("FinancialYearsList", "active" )">
            <a href="@Url.Action("FinancialYearsList", "FinancialYears" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Client Financial Year</a>
        </li>*@
        <li class="@Html.RouteIf("FinancialYearsList", "active" ) || @Html.RouteIf("FinancialYearsList", "active" )">
            <a href="@Url.Action("FinancialYearsList", "FinancialYears" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Client Financial Year</a>
        </li>
        <li class="@Html.RouteIf("ClientReportList", "active" ) || @Html.RouteIf("ReportContentList", "active" )">
            <a href="@Url.Action("ClientReportList", "ReportConfiguration" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Report Configurations</a>
        </li>
        <li class="@Html.RouteIf("fontawesome", "active")">
            <a href="#" title="Questionnair Configuration"><i class="fa fa-external-link"></i><span class="menu-item-parent">Questionnaire</span></a>
            <ul>
                <li class="@Html.RouteIf("QuestionnairType", "active" ) || @Html.RouteIf("CreateQuestionnairType", "active")">
                    <a href="@Url.Action("QuestionnairType", "Questionnairs" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Questionnaire Type</a>
                </li>

                <li class="@Html.RouteIf("QuestionnairTitleGrp", "active" ) || @Html.RouteIf("EditQuestionnairTitleGrp", "active") || @Html.RouteIf("EditQuestions", "active")">
                    <a href="@Url.Action("QuestionnairTitleGrp", "Questionnairs" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Questionnaire Group</a>
                </li>

                @*<li class="@Html.RouteIf("MainQuestions", "active" ) || @Html.RouteIf("CreateMainQuestions", "active")">
                    <a href="@Url.Action("MainQuestions", "Questionnairs" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Main Questions</a>
                </li>*@
                <li class="@Html.RouteIf("QuestionnairAssignList", "active" ) || @Html.RouteIf("CreateQuestionnairAssign", "active") || @Html.RouteIf("EditQuestionnairAssign", "active")">
                    <a href="@Url.Action("QuestionnairAssignList", "Questionnairs" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Questionnaire Assign</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("MaterialityConfifurationList", "active" ) || @Html.RouteIf("CreateMaterialityConf", "active" )">
            <a href="@Url.Action("MaterialityConfifurationList", "MaterialityConfiguration" , new { area="Coadmis" })"><i class="fa fa-external-link"></i>Materiality Configuration</a>
        </li>
    </ul>
</li>
@*}*@

