<li class="@Html.RouteIf("Report", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Auditing </span></a>
    <ul>
        <li class="@Html.RouteIf("DashBoard", "active" )">
            <a href="@Url.Action("DashBoard", "CoadmisDashboard" , new { area="Coadmis" })"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>

        <li class="@Html.RouteIf("SystemDocumentList", "active")">
            <a href="@Url.Action("SystemDocumentList", "CoadmisSystemDocument", new { area = "Coadmis" })"><i class="fa fa-folder-open"></i>Document Lists</a>
        </li>

        <li class="@Html.RouteIf("ClientInformationList", "active" ) || @Html.RouteIf("CreateClientInformation", "active" ) || @Html.RouteIf("DetailsClientInformation", "active" ) || @Html.RouteIf("EditClientInformation", "active" )">
            <a href="@Url.Action("ClientInformationList", "ClientInformations" , new { area="Coadmis" })"><i class="fa fa-user"></i>Client Information</a>
        </li>
        <li class="@Html.RouteIf("PermanentFileList", "active" ) || @Html.RouteIf("Details","active" )">
            <a href="@Url.Action("PermanentFileList", "PermanentFile" , new { area="Coadmis" })"><i class="fa fa-folder"></i>  Permanent File</a>
        </li>
        @{ Html.RenderPartial("_CoadmisPreliminaryAnalysis"); }
        @{ Html.RenderPartial("_CoadmisEngagementMenu"); }
        @{ Html.RenderPartial("_CoadmisExecution"); }
        @{ Html.RenderPartial("_CoadmisCompletion"); }
        @{ Html.RenderPartial("_CoadmisReportsMenu"); }
        @{ Html.RenderPartial("_CoadmisSetup"); }


    </ul>
</li>
