<li class="@Html.RouteIf("Report", "active")">
    <a href="#"><i class=""></i> <span class="menu-item-parent">Reports</span></a>
    <ul>

        <!-- COMUNNITY REPORTS-->
        @if (User.IsInRole("CHW Reports"))
        {
            <li>
                <a href="#"><i class="fa fa-external-link"></i>Funding</a>
                <ul>
                    <li class="@Html.RouteIf("CHWFundReleaseWHRptv", "active" )">
                        @Html.ActionLink("Fund Received", "CHWFundReleaseWHRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWDepositBalanceRptv", "active" )">
                        @Html.ActionLink("Fund Balance by Donor", "CHWDepositBalanceRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-external-link"></i>Payment</a>
                <ul>
                    <li class="@Html.RouteIf("CHWpaymentListRptv", "active" )">
                        @Html.ActionLink("Payment List", "CHWpaymentListRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWMobilePaymentListRptv", "active" )">
                        @Html.ActionLink("Mobile Payment List", "CHWMobilePaymentListRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWunappliedListRptv", "active")">
                        @Html.ActionLink("Unapplied List", "CHWunappliedListRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWpaymenTimerRptv", "active" )">
                        @Html.ActionLink("Payment Turnaround Time", "CHWpaymenTimerRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWpaymentBatchRptv", "active" )">
                        @Html.ActionLink("Payment Batch Summary", "CHWpaymentBatchRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWFacilityPaymentSumRptv", "active" )">
                        @Html.ActionLink("Facility Payment Summary", "CHWFacilityPaymentSumRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-external-link"></i>Cash Book</a>
                <ul>
                    <li class="@Html.RouteIf("CHWCashBookRPTv", "active" )">
                        @Html.ActionLink("Memorandum CashBook", "CHWCashBookRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("CHWbankReferenceRptv", "active" )">
                        @Html.ActionLink("Bank Reference", "CHWbankReferenceRptv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
        }
    </ul>
</li> 