@if ((User.IsInRole("Consolidation Data Entry")) || (User.IsInRole("Consolidation Data Approval")))
{
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Trial Balance</a>
        <ul>
            @if ((User.IsInRole("Consolidation Data Entry")))
            {
                <li class="@Html.RouteIf("PendingTB", "active")
                   || @Html.RouteIf("DataEntry", "active")
                   || @Html.RouteIf("PendingNotes", "active")
                   || @Html.RouteIf("Importation", "active")
                   || @Html.RouteIf("TransactionDetails", "active")
                   || @Html.RouteIf("GacsAssetMovementDetailTrx", "active")">

                    <a href="@Url.Action("PendingTB", "ConsoTransactions", new { area = "Consolidation" })"><i class="fa fa-external-link"></i> Pending </a>
                </li>
            }
            @if ((User.IsInRole("Consolidation Data Approval")))
            {
                <li class="@Html.RouteIf("TBSubmission", "active")
                || @Html.RouteIf("NotesDetail", "active")">
                    <a href="@Url.Action("TBSubmission", "ConsoTransactions", new { area = "Consolidation" })"><i class="fa fa-external-link"></i>Submission </a>
                </li>
                <li class="@Html.RouteIf("SubmittedTB", "active")
                       || @Html.RouteIf("NotesDetail", "active")">
                    <a href="@Url.Action("SubmittedTB", "ConsoTransactions", new { area = "Consolidation" })"><i class="fa fa-external-link"></i>Submitted </a>
                </li>
            }
        </ul>


    </li>
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Budget Entry</a>
        <ul>
            @if ((User.IsInRole("Consolidation Data Entry")))
            {
                <li class="@Html.RouteIf("PendingBudget", "active")
                   || @Html.RouteIf("BudgetImport", "active")
                   || @Html.RouteIf("ImportationDetails", "active")">

                    <a href="@Url.Action("PendingBudget", "ConsoBudget", new { area = "Consolidation" })"><i class="fa fa-external-link"></i> Pending </a>
                </li>
            }
            @if ((User.IsInRole("Consolidation Data Approval")))
            {
                <li class="@Html.RouteIf("BudgetApproval", "active")
                   || @Html.RouteIf("BudgetDetail", "active")">
                    <a href="@Url.Action("BudgetApproval", "ConsoBudget", new { area = "Consolidation" })"><i class="fa fa-external-link"></i>Approval </a>
                </li>
            }
        </ul>


    </li>

}