@if ((User.IsInRole("Consolidation Data Entry")) || (User.IsInRole("Consolidation Data Approval")))
{
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Disclosures</a>
        <ul>
            @if ((User.IsInRole("Consolidation Data Entry")))
            {
                <li class="@Html.RouteIf("PendingDisclosures", "active")
                   || @Html.RouteIf("Biological", "active")
                   || @Html.RouteIf("Currency", "active")
                   || @Html.RouteIf("Aging", "active")
                   || @Html.RouteIf("Movement", "active")">

                    <a href="@Url.Action("PendingDisclosures", "ConsolidationDisclosures", new { area = "Consolidation" })"><i class="fa fa-external-link"></i> Pending </a>
                </li>
            }
            @if ((User.IsInRole("Consolidation Data Approval")))
            {
                <li class="@Html.RouteIf("ApprovedDisclosures", "active")
                      || @Html.RouteIf("BiologicalDetails", "active")
                      || @Html.RouteIf("CurrencyDetails", "active")
                      || @Html.RouteIf("AgingDetails", "active")
                      || @Html.RouteIf("MovementDetails", "active")">

                    <a href="@Url.Action("ApprovedDisclosures", "ConsolidationDisclosures", new { area = "Consolidation" })"><i class="fa fa-external-link"></i> Approved </a>
                </li>
            }
     
        </ul>


    </li>
    
}