<li class="@Html.RouteIf("Report", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Reports</span></a>
    <ul>
        <!--CONSOLIDATION REPORTS-->
        @if (User.IsInRole("Consolidation Reports"))
        {
            <li class="@Html.RouteIf(" ConsoFinancialNotesRPTv", "active" )
            ||@Html.RouteIf("ConsoFinancialPerformanceRPTv", "active" )
            ||@Html.RouteIf("ConsoFinancialPositionRPTv", "active" )
            ||@Html.RouteIf("ConsoStdTrialBalanceRPTv", "active" )
            ||@Html.RouteIf("ConsoEliminTrialBalanceRPTv", "active" ) 
            ||@Html.RouteIf("ConsoFACashFlowRPTv", "active" )
            ||@Html.RouteIf("ConsoFinancialCashFlowReconRPTv", "active" )
            ||@Html.RouteIf("ConsoEnhancedFANotesRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityEliminDisclosureRPTv", "active" ) 
            ||@Html.RouteIf("ConsoMuseAssetMovementRPTv", "active" )
            ||@Html.RouteIf("ConsoMuseAssetMovementDetailRPTv", "active" )
            ||@Html.RouteIf("ConsoBiologicalAssetRPTv", "active" )
            ||@Html.RouteIf("ConsoMuseAgeAnalysisRPTv", "active" )
            ||@Html.RouteIf("ConsoMuseRiskAnalysisRPTv", "active" )  
            ||@Html.RouteIf("ConsoPayablesMovementRTv", "active" )
            ||@Html.RouteIf("ConsoFABudgetActualRPTv", "active" )
            ||@Html.RouteIf("ConsoBVAFrameworkRPTv", "active" )
            ||@Html.RouteIf("ConsoFAEquityRPTv", "active" )
            ||@Html.RouteIf("ConsoSegCashflowRPTv", "active" )
            ||@Html.RouteIf("ConsoSegPerformanceRPTv", "active" )
            ||@Html.RouteIf("ConsoSegPositionRPTv", "active" )
            ||@Html.RouteIf("ConsoBorrowingPDRPTv", "active" )
            ||@Html.RouteIf("ConsoGovernmentSecurityRPTv", "active" )
            ||@Html.RouteIf("ConsoLoanReceivablePDRPTv", "active" )
            ||@Html.RouteIf("ConsoProvisionRPTv", "active" )
            ||@Html.RouteIf("ConsoSubsidieriesMovtRPTv", "active" )
            ||@Html.RouteIf("ConsoInvestmentAssociateRPTv", "active" )
            ||@Html.RouteIf("ConsoEquityInvestmentRPTv", "active" )
            ||@Html.RouteIf("ConsoMuseCurrencyMovementRPTv", "active" )
            ||@Html.RouteIf("ConsoMuseInventoryMovementRTv", "active" )
            ||@Html.RouteIf("ConsoEliminationTrialBalanceRPTv", "active" )
            ||@Html.RouteIf("ConsoEliminationComparisonRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i>Consolidation Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" ConsoFinancialPerformanceRPTv", "active" )">
                        @Html.ActionLink("Financial Performance", "ConsoFinancialPerformanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoFinancialPositionRPTv", "active" )">
                        @Html.ActionLink("Consolidated Financial Position", "ConsoFinancialPositionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoFinancialNotesRPTv", "active" )">
                        @Html.ActionLink("Consolidated Notes Financial Statement", "ConsoFinancialNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoStdTrialBalanceRPTv", "active" )">
                        @Html.ActionLink("Consolidated Trial Balance", "ConsoStdTrialBalanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEliminTrialBalanceRPTv", "active" )">
                        @Html.ActionLink("TrialBalance with Elimination", "ConsoEliminTrialBalanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoFACashFlowRPTv", "active" )">
                        @Html.ActionLink("Consolidated Cash Flow", "ConsoFACashFlowRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoFinancialCashFlowReconRPTv", "active" )">
                        @Html.ActionLink("Consolidated CashFlow Reconciliation", "ConsoFinancialCashFlowReconRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    @*<li class="@Html.RouteIf(" ConsoEnhancedFANotesRPTv", "active" )">
                        @Html.ActionLink("Consolidated Enhanced Notes", "ConsoEnhancedFANotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>*@
                    <li class="@Html.RouteIf(" ConsoFABudgetActualRPTv", "active" )">
                        @Html.ActionLink("Consolidated BVA", "ConsoFABudgetActualRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoBVAFrameworkRPTv", "active" )">
                        @Html.ActionLink("BVA Framework", "ConsoBVAFrameworkRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityEliminDisclosureRPTv", "active" )">
                        @Html.ActionLink("Elimination Disclosure", "ConsoEntityEliminDisclosureRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoFAEquityRPTv", "active" )">
                        @Html.ActionLink("Consolidated Change in Equity", "ConsoFAEquityRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoMuseAssetMovementRPTv", "active" )">
                        @Html.ActionLink("Consolidated Asset MovementByClass", "ConsoMuseAssetMovementRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoMuseAssetMovementDetailRPTv", "active" )">
                        @Html.ActionLink("Consolidated Asset MovementDetail", "ConsoMuseAssetMovementDetailRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoBiologicalAssetRPTv", "active" )">
                        @Html.ActionLink("Consolidated Biological Asset", "ConsoBiologicalAssetRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoMuseAgeAnalysisRPTv", "active" )">
                        @Html.ActionLink("Consolidated Age Analysis", "ConsoMuseAgeAnalysisRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoMuseRiskAnalysisRPTv", "active" )">
                        @Html.ActionLink("Consolidated Risk Analysis", "ConsoMuseRiskAnalysisRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    @*<li class="@Html.RouteIf(" ConsoPayablesMovementRTv", "active" )">
                        @Html.ActionLink("Consolidated Payables Details", "ConsoPayablesMovementRTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>*@
                    <li class="@Html.RouteIf(" ConsoSegCashflowRPTv", "active" )">
                        @Html.ActionLink("Segmented CashFlow", "ConsoSegCashflowRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSegPerformanceRPTv", "active" )">
                        @Html.ActionLink("Segmented Performance", "ConsoSegPerformanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSegPositionRPTv", "active" )">
                        @Html.ActionLink("Segmented Position", "ConsoSegPositionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoBorrowingPDRPTv", "active" )">
                        @Html.ActionLink("Borrowings ", "ConsoBorrowingPDRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoGovernmentSecurityRPTv", "active" )">
                        @Html.ActionLink("Government Security", "ConsoGovernmentSecurityRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoLoanReceivablePDRPTv", "active" )">
                        @Html.ActionLink("Loan Receivables", "ConsoLoanReceivablePDRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoProvisionRPTv", "active" )">
                        @Html.ActionLink("Provision", "ConsoProvisionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSubsidieriesMovtRPTv", "active" )">
                        @Html.ActionLink("Subsidieries", "ConsoSubsidieriesMovtRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoInvestmentAssociateRPTv", "active" )">
                        @Html.ActionLink("Investment of Associate", "ConsoInvestmentAssociateRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEquityInvestmentRPTv", "active" )">
                        @Html.ActionLink("Equity Investment", "ConsoEquityInvestmentRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    @*<li class="@Html.RouteIf(" ConsoEliminationTrialBalanceRPTv", "active" )">
                        @Html.ActionLink("Elimination TrialBalance", "ConsoEliminationTrialBalanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>*@
                    <li class="@Html.RouteIf(" ConsoEliminationComparisonRPTv", "active" )">
                        @Html.ActionLink("Elimination Comparison", "ConsoEliminationComparisonRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoMuseCurrencyMovementRPTv", "active" )">
                        @Html.ActionLink("Currency Movement", "ConsoMuseCurrencyMovementRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoMuseInventoryMovementRTv", "active" )">
                        @Html.ActionLink("Inventory Movement", "ConsoMuseInventoryMovementRTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
        }
        <!--FINAL ACCOUNT REPORTS-->
        @if (User.IsInRole("Consolidation Reports"))
        {
            <li class="@Html.RouteIf(" FinancialPerformanceRPTv", "active" )
            ||@Html.RouteIf("FinancialPositionRPTv", "active" )
            ||@Html.RouteIf("FinancialCashFlowRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityFACashFlowReconRPTv", "active" )
            ||@Html.RouteIf("FinancialBudgetActualRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityFAEquityRPTv", "active" )
            ||@Html.RouteIf("FinancialPerformanceFunctRPTv", "active" )
            ||@Html.RouteIf("InvestmentPropertyRTv", "active" )
            ||@Html.RouteIf("IntangibleAssetRTv", "active" )
            ||@Html.RouteIf("DeferredIncomeMovtRTv", "active" )
            ||@Html.RouteIf("PayablesMovementRTv", "active" )
            ||@Html.RouteIf("InventoryPrepRTv", "active" )
            ||@Html.RouteIf("FinancialNotesRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityEliminDisclosureRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityMuseAssetMovementRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityAgeAnalysisRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityEnhancedNotesRPTv", "active" )
            ||@Html.RouteIf("EquityInvestmentMovementScheduleRPTv", "active" )
            ||@Html.RouteIf("ReceivableImpairmentRptv", "active" )
            ||@Html.RouteIf("ConsoEntityBiologicalAssetRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityInvestmentAssociateRPTv", "active" )
            ||@Html.RouteIf("ConsoEntitySubsidieriesMovtRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityEquityInvestmentRPTv", "active" )
            ||@Html.RouteIf("EntityStdTrialBalanceRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityFABudgetActualRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityProvisionRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityLoanReceivablePDRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityGovernmentSecurityRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityBorrowingPDRPTv", "active" )
            ||@Html.RouteIf("MuseCurrencyMovementRPTv", "active" )
            ||@Html.RouteIf("MuseInventoryMovementRTv", "active" )
            ||@Html.RouteIf("FinancialProfitLossRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i> Individual Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" EntityStdTrialBalanceRPTv", "active" )">
                        @Html.ActionLink("Trial Balance", "EntityStdTrialBalanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityFinancialPerformanceRPTv", "active" )">
                        @Html.ActionLink("Financial Performance", "ConsoEntityFinancialPerformanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityFinancialPositionRPTv", "active" )">
                        @Html.ActionLink("Financial Position", "ConsoEntityFinancialPositionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsolidationEntityCashFlowRPTv", "active" )">
                        @Html.ActionLink("Cash Flow", "ConsolidationEntityCashFlowRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityFACashFlowReconRPTv", "active" )">
                        @Html.ActionLink("Cash Flow Reconciliation", "ConsoEntityFACashFlowReconRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityFABudgetActualRPTv", "active" )">
                        @Html.ActionLink("Statement Budget vs Actual", "ConsoEntityFABudgetActualRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityMuseAssetMovementRPTv", "active" )">
                        @Html.ActionLink("Asset Movement", "ConsoEntityMuseAssetMovementRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityFAEquityRPTv", "active" )">
                        @Html.ActionLink("Statement Changes Net Asset/Equity", "ConsoEntityFAEquityRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityFinancialNotesRPTv", "active" )">
                        @Html.ActionLink("Notes Financial Statement", "ConsoEntityFinancialNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityEliminDisclosureRPTv", "active" )">
                        @Html.ActionLink("Elimination Disclosure", "ConsoEntityEliminDisclosureRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityEnhancedNotesRPTv", "active" )">
                        @Html.ActionLink("Enhanced Notes Financial Statement", "ConsoEntityEnhancedNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityAgeAnalysisRPTv", "active" )">
                        @Html.ActionLink("Age Analysis", "ConsoEntityAgeAnalysisRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityMuseRiskAnalysisRPTv", "active" )">
                        @Html.ActionLink("Risk Analysis", "ConsoEntityMuseRiskAnalysisRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityPayablesMovementRTv", "active" )">
                        @Html.ActionLink("Payables Details", "ConsoEntityPayablesMovementRTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityBiologicalAssetRPTv", "active" )">
                        @Html.ActionLink("Biological Asset", "ConsoEntityBiologicalAssetRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityInvestmentAssociateRPTv", "active" )">
                        @Html.ActionLink("Investmnet of Associate", "ConsoEntityInvestmentAssociateRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntitySubsidieriesMovtRPTv", "active" )">
                        @Html.ActionLink("Subsidieries Movement", "ConsoEntitySubsidieriesMovtRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityEquityInvestmentRPTv", "active" )">
                        @Html.ActionLink("Equity Investment", "ConsoEntityEquityInvestmentRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityProvisionRPTv", "active" )">
                        @Html.ActionLink("Provision", "ConsoEntityProvisionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityGovernmentSecurityRPTv", "active" )">
                        @Html.ActionLink("Government Security", "ConsoEntityGovernmentSecurityRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityLoanReceivablePDRPTv", "active" )">
                        @Html.ActionLink("Loan Receivable", "ConsoEntityLoanReceivablePDRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityBorrowingPDRPTv", "active" )">
                        @Html.ActionLink("Borrowing Public Dept", "ConsoEntityBorrowingPDRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("MuseCurrencyMovementRPTv", "active")">
                        @Html.ActionLink("Currency Disclosure", "MuseCurrencyMovementRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf("MuseInventoryMovementRTv", "active")">
                        @Html.ActionLink("Inventory Movement", "MuseInventoryMovementRTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
        }

        @if (User.IsInRole("Consolidation Reports"))
        {
            <li class="@Html.RouteIf(" ConsoSummaryTrialBalanceRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryPerformanceRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryPositionRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryNotesRPTv", "active" )
             ||@Html.RouteIf("ConsoEnhancedFinancialSummaryNotesRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryEquityRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryCashFlowRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryCashFlowReconRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryBudgetActualRPTv", "active" )
            ||@Html.RouteIf("ConsoSegSummaryPositionRPTv", "active" )
            ||@Html.RouteIf("ConsoSegSummaryCashFlowRPTv", "active" )
            ||@Html.RouteIf("ConsoSegSummaryPerformanceRPTv", "active" )
            ||@Html.RouteIf("ConsoSummaryNoteTrackerRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i>Financial Summary Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" ConsoSummaryTrialBalanceRPTv", "active" )">
                        @Html.ActionLink("Trial Balance Summary", "ConsoSummaryTrialBalanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryPerformanceRPTv", "active" )">
                        @Html.ActionLink("Financial Performance Summary", "ConsoSummaryPerformanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryPositionRPTv", "active" )">
                        @Html.ActionLink("Financial Position Summary", "ConsoSummaryPositionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryCashFlowRPTv", "active" )">
                        @Html.ActionLink("Cash Flow Summary", "ConsoSummaryCashFlowRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryCashFlowReconRPTv", "active" )">
                        @Html.ActionLink("CashFlow Recon Summary", "ConsoSummaryCashFlowReconRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryBudgetActualRPTv", "active" )">
                        @Html.ActionLink("Budget Actual Summary", "ConsoSummaryBudgetActualRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryNotesRPTv", "active" )">
                        @Html.ActionLink("Financial Note Summary ", "ConsoSummaryNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    @*<li class="@Html.RouteIf(" ConsoEnhancedFinancialSummaryNotesRPTv", "active" )">
                        @Html.ActionLink("Enhanced Note Summary ", "ConsoEnhancedFinancialSummaryNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>*@
                    <li class="@Html.RouteIf(" ConsoSummaryEquityRPTv", "active" )">
                        @Html.ActionLink("Equity Summary", "ConsoSummaryEquityRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSegSummaryPositionRPTv", "active" )">
                        @Html.ActionLink("Segment Position Summary", "ConsoSegSummaryPositionRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSegSummaryPerformanceRPTv", "active" )">
                        @Html.ActionLink("Segment Performance Summary", "ConsoSegSummaryPerformanceRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSegSummaryCashFlowRPTv", "active" )">
                        @Html.ActionLink("Segment CashFlow Summary", "ConsoSegSummaryCashFlowRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSummaryNoteTrackerRPTv", "active" )">
                        @Html.ActionLink("Note Tracker Summary", "ConsoSummaryNoteTrackerRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
        }

        @if (User.IsInRole("Consolidation Executive Reports"))
        {
            <li class="@Html.RouteIf(" ConsolidatedInstitutionTBStatusRPTv", "active" )
            ||@Html.RouteIf("ConsolidatedSubmittedInstitutionStatusRPTv", "active" )
            ||@Html.RouteIf("ConsolidatedValidationTypeStatusRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i>Consolidated Status Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" ConsolidatedValidationTypeStatusRPTv", "active" )">
                        @Html.ActionLink("Consolidated ValidationType Status", "ConsolidatedValidationTypeStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsolidatedSubmittedInstitutionStatusRPTv", "active" )">
                        @Html.ActionLink("Consolidated Submitted Institution Status", "ConsolidatedSubmittedInstitutionStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsolidatedInstitutionTBStatusRPTv", "active" )">
                        @Html.ActionLink("Consolidated InstitutionTB Status", "ConsolidatedInstitutionTBStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
        }

        @if (User.IsInRole("Consolidation Executive Reports"))
        {
            <li class="@Html.RouteIf(" ConsoIstitutionStatusRPTv", "active" )
            ||@Html.RouteIf("ConsoValidIstitutionStatusRPTv", "active" )
            ||@Html.RouteIf("ConsoSubmissionIstitutionStatusRPTv", "active" )
            ||@Html.RouteIf("ConsoValidationTypeStatusRPTv", "active" )
            ||@Html.RouteIf("ConsolidatedIstitutionStatusRPTv", "active" )
            ||@Html.RouteIf("ConsoEntityItemizedBudget", "active" )
            ||@Html.RouteIf("ConsoGotItemizedBudget", "active" )
            ||@Html.RouteIf("ConsoItemValidationRPTv", "active" )
            ||@Html.RouteIf("ConsoIstitutionTrackerStatusRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i>Analysis Status Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" ConsoIstitutionStatusRPTv", "active" )">
                        @Html.ActionLink("Institutions Status", "ConsoIstitutionStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoValidIstitutionStatusRPTv", "active" )">
                        @Html.ActionLink("Ammended Validation Status", "ConsoValidIstitutionStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoSubmissionIstitutionStatusRPTv","active" )">
                        @Html.ActionLink("Submitted Institutions Status", "ConsoSubmissionIstitutionStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoValidationTypeStatusRPTv","active" )">
                        @Html.ActionLink("ValidationType Status", "ConsoValidationTypeStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsolidatedIstitutionStatusRPTv", "active" )">
                        @Html.ActionLink("Consolidated Institutions Status", "ConsolidatedIstitutionStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoIstitutionTrackerStatusRPTv", "active" )">
                        @Html.ActionLink("Institution Validation Tracker", "ConsoIstitutionTrackerStatusRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoItemValidationRPTv", "active" )">
                        @Html.ActionLink("Items Validation", "ConsoItemValidationRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEntityItemizedBudget", "active" )">
                        @Html.ActionLink("Conso Entity Itemized Budget", "ConsoEntityItemizedBudget", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoGotItemizedBudget", "active" )">
                        @Html.ActionLink("Consolidated Itemized Budget", "ConsoGotItemizedBudget", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEnhancedFANotesRPTv", "active" )">
                        @Html.ActionLink("Consolidated Enhanced Notes", "ConsoEnhancedFANotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoEnhancedFinancialSummaryNotesRPTv", "active" )">
                        @Html.ActionLink("Enhanced Note Summary ", "ConsoEnhancedFinancialSummaryNotesRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                </ul>
            </li>
        }
        @if (User.IsInRole("Adjustment Reports"))
        {
            <li class="@Html.RouteIf(" ConsoAdjustmentRPTv", "active" )
                  ||@Html.RouteIf("ConsoJournalAdjustRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i> Adjustment Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" ConsoAdjustmentRPTv", "active" )">
                        @Html.ActionLink("Transaction Adjustments", "ConsoAdjustmentRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoJournalAdjustRPTv", "active" )">
                        @Html.ActionLink("Journal Adjustments", "ConsoJournalAdjustRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>

                </ul>
            </li>
        }
        @if (User.IsInRole("Consolidation Reports"))
        {
            <li class="@Html.RouteIf(" ConsoNoteTrackerRPTv", "active" )
                ||@Html.RouteIf("ConsoNoteItemsTrackerRPTv", "active" )
                ||@Html.RouteIf("ConsoAdjustmentRPTv", "active" )">
                <a href="#"><i class="fa fa-external-link"></i> Tracker Reports</a>
                <ul>
                    <li class="@Html.RouteIf(" ConsoNoteTrackerRPTv", "active" )">
                        @Html.ActionLink("Note Contributors", "ConsoNoteTrackerRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    <li class="@Html.RouteIf(" ConsoNoteItemsTrackerRPTv", "active" )">
                        @Html.ActionLink("Note Tracker by Items", "ConsoNoteItemsTrackerRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>
                    @*<li class="@Html.RouteIf(" ConsoAdjustmentRPTv", "active" )">
                        @Html.ActionLink("Transaction Adjustments", "ConsoAdjustmentRPTv", "Report", new { area = "IFMISTZ" }, null)
                    </li>*@

                </ul>
            </li>
        }

    </ul>
</li>