
<li class="@Html.RouteIf("", "Active")">
    <a href="#"><i class="fa fa-external-link"></i>Elimination</a>
    <ul>
        <li class="@Html.RouteIf("PendingElimination", "active")
            ||@Html.RouteIf("updateelimination", "active")
            ||@Html.RouteIf("updateelimination", "active")
            ||@Html.RouteIf("updateentityelimination", "active")">

            <a href="@Url.Action("PendingElimination", "ConsoElimination", new { area = "Consolidation" })">Pending </a>
        </li>
        <li class="@Html.RouteIf("ConfirmedElimination", "active")">
            <a href="@Url.Action("ConfirmedElimination", "ConsoElimination", new { area = "Consolidation" })">Submission</a>
        </li>
        <li class="@Html.RouteIf("EliminationTracker", "active")">
            <a href="@Url.Action("EliminationTracker", "ConsoElimination", new { area = "Consolidation" })">Tracker </a>
        </li>
        @*<li class="@Html.RouteIf("ConsoEliminationTracker", "active")">
            <a href="@Url.Action("ConsoEliminationTracker", "ConsoElimination", new { area = "Consolidation" })">Conso El Tracker </a>
        </li>*@
    </ul>
</li>

