<li class="@Html.RouteIf("Report", "active" )">
    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Consolidation </span></a>
    <ul>

        @if (User.IsInRole("Consolidation Gate Entry"))
        {
            <li class="@Html.RouteIf("ConsolidationGateDashBoard", "active" )">
                <a href="@Url.Action("ConsolidationGateDashBoard", "ConsolidationGate" , new { area="Consolidation" }, null)"><i class="fa fa-external-link"></i>Consolidation Gate Entry</a>
            </li>
        }

        @if (User.IsInRole("Consolidation Gate Entry"))
        {
            <li class="@Html.RouteIf("PendingConsolidationRequestList", "active" )">
                <a href="@Url.Action("PendingConsolidationRequestList", "ConsolidationRequests" , new { area="Consolidation" }, null)"><i class="fa fa-external-link"></i>Consolidation Request Entry</a>
            </li>
        }
        <li class="@Html.RouteIf("DisclosuresStatus", "active" ) || @Html.RouteIf("DisclosuresStatusDetail", "active" )">
            <a href="@Url.Action("DisclosuresStatus", "ConsolidationDisclosures" , new { area="Consolidation" }, null)"><i class="fa fa-external-link"></i>Disclosure Status</a>
        </li>
        <li class="@Html.RouteIf("EliminationProccess", "active" )">
            <a href="@Url.Action("EliminationProccess", "ConsoElimination" , new { area="Consolidation" }, null)">
                <i class="fa fa-external-link"></i>Elimination Proccess
            </a>
        </li>
        <li class="@Html.RouteIf("PostedElimination", "active" )">
            <a href="@Url.Action("PostedElimination", "ConsoElimination" , new { area="Consolidation" }, null)">
                <i class="fa fa-external-link"></i>Posted Elimination
            </a>
        </li>
        @{ Html.RenderPartial("_EliminationMapping"); }
        @if (User.IsInRole("Transaction Adjustment Entry") || User.IsInRole("Transaction Adjustment Approval"))
        {
            <li class="@Html.RouteIf("ConsoAdjustment", "active")">

                <a href="#"><i class="fa fa-external-link"></i>Transaction Adjustment</a>

                <ul>
                    @if (User.IsInRole("Transaction Adjustment Entry"))
                    {
                        <li class="@Html.RouteIf("PendingAdjustment", "active") || @Html.RouteIf("AdjustmentTransaction", "active")">

                            <a href="@Url.Action("PendingAdjustment", "ConsoAdjustment", new { area = "Consolidation" })">Pending</a>

                        </li>
                    }
                    @if (User.IsInRole("Transaction Adjustment Approval"))
                    {
                        <li class="@Html.RouteIf("ApprovalAdjustment", "active")">

                            <a href="@Url.Action("ApprovalAdjustment", "ConsoAdjustment", new { area = "Consolidation" })">Approval</a>

                        </li>
                    }
                    @if (User.IsInRole("Transaction Adjustment Entry") || User.IsInRole("Transaction Adjustment Approval"))
                    {
                        <li class="@Html.RouteIf("TrackerAdjustment", "active")">

                            <a href="@Url.Action("TrackerAdjustment", "ConsoAdjustment", new { area = "Consolidation" })">Tracker</a>

                        </li>

                    }
                </ul>

            </li>
        }
        <li class="@Html.RouteIf("AdjustmentReason", "active" ) || @Html.RouteIf("CreateAdjustmentReason", "active" ) || @Html.RouteIf("EditAdjustmentReason", "active" )">
            <a href="@Url.Action("AdjustmentReason", "AdjustmentReasonSetup" , new { area="Consolidation" }, null)"><i class="fa fa-external-link"></i>Adjustment Category Setup</a>
        </li>
        @{ Html.RenderPartial("_ConsoReportsMenu"); }


    </ul>


</li>
