@{
    <option value="">-- Select Currency --</option>
    if (Enumerable.Count(ViewBag.report) != 0)
    {
        foreach (var item in ViewBag.report)
        {
            if (@item.Value != "TZS")
            {
                <option value="@item.Value"> @item.Text </option>
                <option value="TZS"> TZS - Base Currency </option>
            }
            else
            {
                <option value="@item.Value"> @item.Text </option>
            }

        }

    }
    else
    {
        <option value="TZS"> TZS - Base Currency </option>
    }
}

