<li class="@Html.RouteIf("", "")">
    <a href="#">Direct Funds</a>
    <ul>
        <li class="@Html.RouteIf("DfundExpenditureList", "active")">
            <a href="@Url.Action("DfundExpenditureList", "DfundExpenditures", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Details</a>
        </li>
        <li class="@Html.RouteIf("DfundExpenditureSummaries", "active")">
            <a href="@Url.Action("DfundExpenditureSummaries", "DfundExpenditureSummaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Summary</a>
        </li>
        <li class="@Html.RouteIf("ExchequerRequests", "active")">
            <a href="@Url.Action("ExchequerRequests", "ExchequerRequests", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Exchequer</a>
        </li>
        <li class="@Html.RouteIf("TrackDummySalary", "active")">
            <a href="@Url.Action("TrackDummySalary", "DummySalaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Reallocation</a>
        </li>
    </ul>
</li>

