<li class="@Html.RouteIf("", "")">
    <a href="#">Dummy Receipts & Payments</a>
    <ul>
        @if (User.IsInRole("Direct Fund Entry"))
        {
            <li class="@Html.RouteIf("PendingDirectFunds", "active") || @Html.RouteIf("CreateDirectFund", "active") || @Html.RouteIf("EditDirectFund", "active") || @Html.RouteIf("DirectFundItems", "active")  || @Html.RouteIf("CreateOpeningBalance", "active")">
                <a href="@Url.Action("PendingDirectFunds", "DirectFunds", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
            </li>
        }
        @if (User.IsInRole("Direct Fund Approval"))
        {
            <li class="@Html.RouteIf("ConfirmedDirectFunds", "active")">
                <a href="@Url.Action("ConfirmedDirectFunds", "DirectFunds", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
            </li>
        }
        @if (User.IsInRole("Direct Fund Entry") || User.IsInRole("Direct Fund Approval"))
        {
            <li class="@Html.RouteIf("TrackDirectFund", "active")">
                <a href="@Url.Action("TrackDirectFund", "DirectFunds", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
            </li>
        }
    </ul>
</li>
