<li class="@Html.RouteIf("","")">
    <a href="#">Direct Funds</a>
    <ul>
        <li class="@Html.RouteIf("DfundExpenditureList", "active" )">
            <a href="@Url.Action("DfundExpenditureList", "DfundExpenditures" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Details</a>
        </li>
        <li class="@Html.RouteIf("DfundExpenditureSummaries", "active" )">
            <a href="@Url.Action("DfundExpenditureSummaries", "DfundExpenditureSummaries" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Summary</a>
        </li>
        <li class="@Html.RouteIf("ExchequerRequestList", "active" ) || @Html.RouteIf("ExchequerRequestsDetails", "active" )">
            <a href="@Url.Action("ExchequerRequestList", "ExchequerRequests" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Exchequer</a>
        </li>
        <li class="@Html.RouteIf("SubmittedExchequerRequests", "active" ) || @Html.RouteIf("ExchequerRequestsDetails", "active" )">
            <a href="@Url.Action("SubmittedExchequerRequests", "ExchequerRequests" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Submitted Exchequer</a>
        </li>
        <li class="@Html.RouteIf("Reallocations", "active" )">
            <a href="@Url.Action("Reallocations", "ExchequerRequests" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Reallocations</a>
        </li>
    </ul>
</li>

