<li class="@Html.RouteIf("", "")">
    <a href="#">Dummy Exchequer</a>
    <ul>
        @if (User.IsInRole("Dummy Exchequer Entry"))
        {
            <li class="@Html.RouteIf("PendingDummyExchequers", "active") || @Html.RouteIf("CreateDummyExchequer", "active") || @Html.RouteIf("DummyExchequerDetails", "active")">
                <a href="@Url.Action("PendingDummyExchequers", "DummyExchequers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
            </li>
        }

        @if (User.IsInRole("Dummy Exchequer Approval"))
        {
            <li class="@Html.RouteIf("ConfirmedDummyExchequers", "active")">
                <a href="@Url.Action("ConfirmedDummyExchequers", "DummyExchequers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
            </li>
        }

        @if (User.IsInRole("Dummy Exchequer Entry"))
        {
            <li class="@Html.RouteIf("WithdrawnDummyExchequers", "active")">
                <a href="@Url.Action("WithdrawnDummyExchequers", "DummyExchequers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Confirm Dummy Exchequer Withdraws </a>
            </li>
        }

        @if (User.IsInRole("Dummy Exchequer Approval"))
        {
            <li class="@Html.RouteIf("ConfirmedDummyExchequerWithdraws", "active")">
                <a href="@Url.Action("ConfirmedDummyExchequerWithdraws", "DummyExchequers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approve Dummy Exchequer Withdraws </a>
            </li>
        }

        <li class="@Html.RouteIf("TrackDummyExchequer", "active")">
            <a href="@Url.Action("TrackDummyExchequer", "DummyExchequers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
        </li>
    </ul>
</li>
