<li class="@Html.RouteIf("", "")">
    <a href="#">Dummy Salary</a>
    <ul>
        <li class="@Html.RouteIf("PendingDummySalaries", "active") || @Html.RouteIf("CreateDummySalary", "active")">
            <a href="@Url.Action("PendingDummySalaries", "DummySalaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
        </li>
        <li class="@Html.RouteIf("ConfirmedDummySalary", "active")">
            <a href="@Url.Action("ConfirmedDummySalary", "DummySalaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
        </li>
        <li class="@Html.RouteIf("ExaminedDummySalary", "active")">
            <a href="@Url.Action("ExaminedDummySalary", "DummySalaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
        </li>
        <li class="@Html.RouteIf("TrackDummySalary", "active")">
            <a href="@Url.Action("TrackDummySalary", "DummySalaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
        </li>
    </ul>
</li>
