<li class="@Html.RouteIf("", "")">
    <a href="#">Dummy Payments</a>
    <ul>
        @if (User.IsInRole("Dummy Payment Entry"))
        {
            <li class="@Html.RouteIf("PendingDummyPayments", "active") || @Html.RouteIf("CreateDummyPayment", "active") || @Html.RouteIf("EditDummyPayment", "active") || @Html.RouteIf("DummyPaymentItems", "active") ">
                <a href="@Url.Action("PendingDummyPayments", "DummyPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
            </li>
        }
        @if (User.IsInRole("Dummy Payment Approval"))
        {
            <li class="@Html.RouteIf("ConfirmedDummyPayments", "active")">
                <a href="@Url.Action("ConfirmedDummyPayments", "DummyPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
            </li>
        }
        @if (User.IsInRole("Dummy Payment Entry") || User.IsInRole("Dummy Payment Approval"))
        {
            <li class="@Html.RouteIf("TrackDummyPayment", "active")">
                <a href="@Url.Action("TrackDummyPayment", "DummyPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
            </li>
        }
    </ul>
</li>
