<li class="@Html.RouteIf("icons", "active")">
    @*@if (User.IsInRole("EFT Entry") || User.IsInRole("EFT Verify") || User.IsInRole("EFT Authorize") || User.IsInRole("EFT Submission"))
        {*@
    <a href="#"> <i class="fa fa-money fa-fw fa-money"></i> <span class="menu-item-parent">EFT</span> </a>
    <ul>
        @* @if (User.IsInRole("EFT Entry")){*@
        <li class="@Html.RouteIf("PaymentBatchesList", "active") || @Html.RouteIf("CreatePaymentBatch", "active") || @Html.RouteIf("EditPaymentBatch", "active")">
            <a href="@Url.Action("PaymentBatchesList", "EFTPayments", new { area = "RecurrentPayment" })"><i class="fa fa-external-link"></i> Entry </a>
        </li>
        <li class="@Html.RouteIf("UnappliedPaymentBatchesList", "active") || @Html.RouteIf("CreateUnappliedPaymentBatch", "active") || @Html.RouteIf("EditUnappliedPaymentBatch", "active")">
            <a href="@Url.Action("UnappliedPaymentBatchesList", "EFTPayments", new { area = "RecurrentPayment" })"><i class="fa fa-external-link"></i> Unapplied </a>
        </li>
        @*}*@

        @*@if (User.IsInRole("EFT Verify")){*@
        <li class="@Html.RouteIf("PaymentVerificationList", "active")">
            <a href="@Url.Action("PaymentVerificationList", "EFTPayments", new { area = "RecurrentPayment" })"><i class="fa fa-external-link"></i> Verification </a>
        </li>
        @*}*@

        @*@if (User.IsInRole("EFT Authorize")){*@
        <li class="@Html.RouteIf("PaymentAuthorizationList", "active")">
            <a href="@Url.Action("PaymentAuthorizationList", "EFTPayments", new { area = "RecurrentPayment" })"><i class="fa fa-external-link"></i> Authorization </a>
        </li>
        @*}*@

        @*if (User.IsInRole("EFT Submission")){*@
        <li class="@Html.RouteIf("PaymentSubmissionList", "active")">
            <a href="@Url.Action("PaymentSubmissionList", "EFTPayments", new { area = "RecurrentPayment" })"><i class="fa fa-external-link"></i> Submission </a>
        </li>
        @*}*@

        @*@if (User.IsInRole("EFT Submission")){*@
        <li class="@Html.RouteIf("PaymentBatchesStatusList", "active")">
            <a href="@Url.Action("PaymentBatchesStatusList", "EFTPayments", new { area = "RecurrentPayment" })"><i class="fa fa-external-link"></i> Payment Status </a>
        </li>
        @* }*@
    </ul>
    @*}*@
</li>
