<li class="@Html.RouteIf("icons","active") 
    || @Html.RouteIf("ExchequerSummaryDetails","active") 
    || @Html.RouteIf("ExchequerDetails","active") 
    || @Html.RouteIf("ExchequerComponentDetails","active")">
    @if (User.IsInRole("Exchequer Warrant Entry") 
        || User.IsInRole("Exchequer Warrant Verify")
        || User.IsInRole("Exchequer Warrant Approve"))
    {
        <a href="#"> Exchequer Warrant </a>
        <ul>
            @if (User.IsInRole("Exchequer Warrant Entry"))
            {
                <li class="@Html.RouteIf("PendingExchequerList","active")">
                    <a href="@Url.Action("PendingExchequerList","ExchequerSummaries",new { area="Geras" })"><i class="fa fa-external-link"></i> Entry </a>
                </li>
            }

            @if (User.IsInRole("Exchequer Warrant Verify"))
            {
                <li class="@Html.RouteIf("VerifyExchequerList","active")">
                    <a href="@Url.Action("VerifyExchequerList","ExchequerSummaries",new { area="Geras" })"><i class="fa fa-external-link"></i> Verified </a>
                </li>
            }

            @if (User.IsInRole("Exchequer Warrant Approve"))
            {
                <li class="@Html.RouteIf("ApprovedExchequerList", "active" )">
                    <a href="@Url.Action("ApprovedExchequerList", "ExchequerSummaries" , new { area="Geras" })"><i class="fa fa-external-link"></i> Authorized </a>
                </li>
                <li class="@Html.RouteIf("PendingExchequerWarrantList", "active" )">
                    <a href="@Url.Action("PendingExchequerWarrantList", "ExchequerSummaries" , new { area="Geras" })"><i class="fa fa-external-link"></i> Pending </a>
                </li>
                <li class="@Html.RouteIf("ProcessedExchequerWarrantList", "active" )">
                    <a href="@Url.Action("ProcessedExchequerWarrantList", "ExchequerSummaries" , new { area="Geras" })"><i class="fa fa-external-link"></i> Processed </a>
                </li>
            }
        </ul>
    }
</li>
