
@if (User.IsInRole("Community Payment Verification")
                   || User.IsInRole("Community Payment Approval")
                   || User.IsInRole("Community Payment Submission")
                   || User.IsInRole("Facility Payment Entry")
                   || User.IsInRole("Facility Payment Approval")
                   || User.IsInRole("Administrator")
                   || User.IsInRole("Community Payment Office Verification")
                   || User.IsInRole("Community Payment Office Approval")
                   || User.IsInRole("Community Payment Office Submission")
                   || User.IsInRole("Community Payment Tracker")
                   )
{
    <li class="@Html.RouteIf(" element", "active")">
        <a href="#"> <i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Facility & Community </span></a>
        <ul>
            <li>
                <a href="#" title="Manage"> Community </a>
                <ul>
                    @if (User.IsInRole("Community Receipt Entry")
                                      || User.IsInRole("Community Receipt Approval")
                                      || User.IsInRole("Administrator")
                                     )
                    {
                        <li class="@Html.RouteIf(" element", "active")">
                            <a href="#"> Cash Receipts </a>
                            <ul>
                                @if (User.IsInRole("Community Receipt Entry"))
                                {
                                    <li class="@Html.RouteIf("PaymentBatchConfirmation", "active") || @Html.RouteIf("AddGLitems", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("PaymentBatchConfirmation", "externalpayment", new { area = "IFMISTZ" })">Entry</a>
                                    </li>
                                }

                                @if (User.IsInRole("Community Receipt Approval"))
                                {
                                    <li class="@Html.RouteIf("PaymentBatchVerifications", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("PaymentBatchVerifications", "externalpayment", new { area = "IFMISTZ" })">Verification</a>
                                    </li>
                                }

                            </ul>
                        </li>

                    }


                    @if (User.IsInRole("Community Payment Entry")
                                || User.IsInRole("Community Payment Verification")
                                 || User.IsInRole("Community Payment Approval")
                                 || User.IsInRole("Community Payment Submission")
                                 || User.IsInRole("Community Payment Tracker")
                                 || User.IsInRole("Administrator")
                                )
                    {
                        <li class="@Html.RouteIf(" element", "active")">
                            <a href="#"> Bulk Payment</a>
                            <ul>
                                @if (User.IsInRole("Community Payment Entry"))
                                {
                                    <li class="@Html.RouteIf("PaymentBatchConfirmation", "active") || @Html.RouteIf("AddGLitems", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("PaymentBatchConfirmation", "externalpayment", new { area = "IFMISTZ" })">Entry</a>
                                    </li>
                                }

                                @if (User.IsInRole("Community Payment Verification"))
                                {
                                    <li class="@Html.RouteIf("PaymentBatchVerifications", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("PaymentBatchVerifications", "externalpayment", new { area = "IFMISTZ" })">Verification</a>
                                    </li>
                                }

                                @if (User.IsInRole("Community Payment Approval"))
                                {
                                    <li class="@Html.RouteIf("PaymentBatchApprovals", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("PaymentBatchApprovals", "externalpayment", new { area = "IFMISTZ" })">Approval</a>
                                    </li>
                                }
                                @if (User.IsInRole("Community Payment Submission"))
                                {
                                    <li class="@Html.RouteIf("PaymentBatchSubmission", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("PaymentBatchSubmission", "externalpayment", new { area = "IFMISTZ" })">Submission</a>
                                    </li>
                                }
                                @if (User.IsInRole("Community Payment Tracker"))
                                {
                                    <li class="@Html.RouteIf("CommunityBulkPaymentTracker", "active") || @Html.RouteIf("PaymentBatchDetails", "active")">
                                        <a href="@Url.Action("CommunityBulkPaymentTracker", "externalpayment", new { area = "IFMISTZ" })">Tracker</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Community Deposit Receipts Entry")
                    || User.IsInRole("Community Deposit Receipts Approval")
                        || User.IsInRole("Administrator"))
                    {
                        <li class="@Html.RouteIf(" element", "active")">
                            <a href="#"> Deposit Receipts </a>
                            <ul>
                                @if (User.IsInRole("Community Deposit Receipts Entry"))
                                {
                                    <li class="@Html.RouteIf("PendingCHWReceipt", "active")">
                                        <a href="@Url.Action("PendingCHWReceipt", "CommunityDepositReceipts", new { area = "IFMISTZ" })">Entry</a>
                                    </li>
                                }
                                @if (User.IsInRole("Community Deposit Receipts Approval"))
                                {
                                    <li class="@Html.RouteIf("ConfirmedDepositReceipts", "active")">
                                        <a href="@Url.Action("ConfirmedDepositReceipts", "CommunityDepositReceipts", new { area = "IFMISTZ" })">Approval</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="@Html.RouteIf(" element", "active")">
                        <a href="#"> Payment Voucher </a>
                        <ul>
                            @if (User.IsInRole("Community Payment Voucher Entry")
                            || User.IsInRole("Community Payment Voucher Examination")
                            || User.IsInRole("Community Payment Voucher Approval")
                            || User.IsInRole("Community Payment Voucher Submission")
                            || User.IsInRole("Community Payment Voucher Tracker")
                            || User.IsInRole("Administrator"))
                            {

                                if (User.IsInRole("Community Payment Voucher Entry"))
                                {
                                    <li class="@Html.RouteIf("PendingCHWVoucher", "active")">
                                        <a href="@Url.Action("PendingCHWVoucher", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Entry</a>
                                    </li>
                                }
                                if (User.IsInRole("Community Payment Voucher Entry"))
                                {
                                    <li class="@Html.RouteIf("ExamineCHWVoucher", "active")">
                                        <a href="@Url.Action("ExamineCHWVoucher", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Examination</a>
                                    </li>
                                }
                                if (User.IsInRole("Community Payment Voucher Approval"))
                                {
                                    <li class="@Html.RouteIf("ApproveCHWVoucher", "active")">
                                        <a href="@Url.Action("ApproveCHWVoucher", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Approval</a>
                                    </li>
                                }
                                if (User.IsInRole("Community Payment Voucher Approval"))
                                {
                                    <li class="@Html.RouteIf("GenerateCHWVoucher", "active")">
                                        <a href="@Url.Action("GenerateCHWVoucher", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Generation</a>
                                    </li>
                                }
                                if (User.IsInRole("Community Payment Voucher Approval"))
                                {
                                    <li class="@Html.RouteIf("ApproveCHWPayment", "active")">
                                        <a href="@Url.Action("ApproveCHWPayment", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Payment Approval</a>
                                    </li>
                                }
                                if (User.IsInRole("Community Payment Voucher Approval"))
                                {
                                    <li class="@Html.RouteIf("SubmitCHWVoucher", "active")">
                                        <a href="@Url.Action("SubmitCHWVoucher", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Submission</a>
                                    </li>
                                }
                                if (User.IsInRole("Community Payment Voucher Tracker"))
                                {
                                    <li class="@Html.RouteIf("CommunityPaymentBatchTrackerList", "active")">
                                        <a href="@Url.Action("CommunityPaymentBatchTrackerList", "BulkPaymentTracker", new { area = "IFMISTZ" })">Voucher Tracker</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("element", "active")">
                        <a href="#"> Payment Office </a>
                        <ul>
                            <li>
                                <a href="#">Bulky Payment</a>
                                <ul>
                                    @if (User.IsInRole("Community Payment Office Verification")
                                    || User.IsInRole("Community Payment Office Approval")
                                    || User.IsInRole("Community Payment Office Submission")
                                    || User.IsInRole("Administrator"))
                                    {

                                        if (User.IsInRole("Community Payment Office Verification"))
                                        {
                                            <li class="@Html.RouteIf("VerifyBatch", "active")">
                                                <a href="@Url.Action("VerifyBatch", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Verification</a>
                                            </li>
                                        }

                                        if (User.IsInRole("Community Payment Office Approval"))
                                        {
                                            <li class="@Html.RouteIf("ApproveBatch", "active")">
                                                <a href="@Url.Action("ApproveBatch", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Approval</a>
                                            </li>
                                        }
                                        if (User.IsInRole("Community Payment Office Submission"))
                                        {
                                            <li class="@Html.RouteIf("SubmitBatch", "active")">
                                                <a href="@Url.Action("SubmitBatch", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Submission</a>
                                            </li>

                                            <li class="@Html.RouteIf("SettledMobilePayment", "active")">
                                                <a href="@Url.Action("SettledMobilePayment", "Externalpayment", new { area = "IFMISTZ" })">Mobile Payment</a>
                                            </li>
                                        }
                                        if (User.IsInRole("Community Payment Office Tracker"))
                                        {
                                            @*<li class="@Html.RouteIf("CommunityPaymentBatchTrackerList", "active")">
                    <a href="@Url.Action("CommunityPaymentBatchTrackerList", "BulkPaymentTracker", new { area = "IFMISTZ" })">Payment Tracker</a>
                </li>*@

                                            <li class="@Html.RouteIf("CommunityBulkPaymentTracker", "active")">
                                                <a href="@Url.Action("CommunityBulkPaymentTracker", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Payment Tracker</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>

                            <li>
                                <a href="#">Payment Voucher</a>
                                <ul>
                                    @if (User.IsInRole("Community Payment Office Verification")
                                    || User.IsInRole("Community Payment Office Approval")
                                    || User.IsInRole("Community Payment Office Submission")
                                    || User.IsInRole("Administrator"))
                                    {

                                        if (User.IsInRole("Community Payment Office Verification"))
                                        {
                                            <li class="@Html.RouteIf("VerifyCHWVoucherPO", "active")">
                                                <a href="@Url.Action("VerifyCHWVoucherPO", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Verify</a>
                                            </li>
                                        }
                                        if (User.IsInRole("Community Payment Office Approval"))
                                        {
                                            <li class="@Html.RouteIf("ApproveCHWVoucherPO", "active")">
                                                <a href="@Url.Action("ApproveCHWVoucherPO", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Approve</a>
                                            </li>
                                        }
                                        if (User.IsInRole("Community Payment Office Submission"))
                                        {
                                            <li class="@Html.RouteIf("GenerateCHWVoucherPO", "active")">
                                                <a href="@Url.Action("GenerateCHWVoucherPO", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Generate</a>
                                            </li>
                                        }
                                        if (User.IsInRole("Community Payment Office Submission"))
                                        {
                                            <li class="@Html.RouteIf("SubmitCHWVoucherPO", "active")">
                                                <a href="@Url.Action("SubmitCHWVoucherPO", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Submission</a>
                                            </li>
                                        }
                                        @*if (User.IsInRole("Community Payment Office Tracker"))
                                        {
                                            <li class="@Html.RouteIf("CommunityBulkPaymentTracker", "active")">
                                                <a href="@Url.Action("CommunityBulkPaymentTracker", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Payment Tracker</a>
                                            </li>
                                        }*@
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>

                    @*<li class="@Html.RouteIf(" element", "active")">
                            <a href="#"> Payment Office </a>
                            <ul>
                                @if (User.IsInRole("Community Payment Office Verification")
                          || User.IsInRole("Community Payment Office Approval")
                          || User.IsInRole("Community Payment Office Submission")
                          || User.IsInRole("Administrator"))
                                {

                                    if (User.IsInRole("Community Payment Office Verification"))
                                    {
                                        <li class="@Html.RouteIf("VerifyBatch", "active")">
                                            <a href="@Url.Action("VerifyBatch", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Verification</a>
                                        </li>
                                    }

                                    if (User.IsInRole("Community Payment Office Approval"))
                                    {
                                        <li class="@Html.RouteIf("ApproveBatch", "active")">
                                            <a href="@Url.Action("ApproveBatch", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Approval</a>
                                        </li>
                                    }
                                    if (User.IsInRole("Community Payment Office Submission"))
                                    {
                                        <li class="@Html.RouteIf("SubmitBatch", "active")">
                                            <a href="@Url.Action("SubmitBatch", "CommunityPaymentBatch", new { area = "IFMISTZ" })">Submission</a>
                                        </li>
                                    }
                                    if (User.IsInRole("Community Payment Office Tracker"))
                                    {
                                        <li class="@Html.RouteIf("CommunityPaymentBatchTrackerList", "active")">
                                            <a href="@Url.Action("CommunityPaymentBatchTrackerList", "BulkPaymentTracker", new { area = "IFMISTZ" })">Payment Tracker</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>*@
                    @{ Html.RenderPartial("_CommunityReportsMenu"); }
                </ul>
            </li>
            <li>
                <a href="#" title="Manage"> Facility </a>

                <ul>
                    @if (User.IsInRole("Facility Payment Entry"))
                    {
                        <li class="@Html.RouteIf("pendingexternalpayment", "active")">
                            <a href="@Url.Action("pendingexternalpayment", "externalpayment", new { area = "ifmistz" })"> Confirmation </a>
                        </li>
                    }
                    @if (User.IsInRole("Facility Payment Approval"))
                    {
                        <li class="@Html.RouteIf("submitextpaymentfile", "active")">
                            <a href="@Url.Action("submitextpaymentfile", "externalpayment", new { area = "ifmistz" })"> Submission </a>
                        </li>
                    }
                </ul>

            </li>
        </ul>
    </li>
}
