@if ((User.IsInRole("Revenue Transfer Confirmation")) || (User.IsInRole("Create Facility Setup")))
                           {
<li class="@Html.RouteIf("", "active")">
    <a href="#">Revenue Transfer</a>
    <ul>
        @if (User.IsInRole("Revenue Transfer Confirmation"))
        {
        <li class="@Html.RouteIf("PendingTransfer", "active" ) || @Html.RouteIf("RevenueDetail", "active" )">
            <a href="@Url.Action("PendingTransfer", "RevenueTransfer" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Pending</a>
        </li>
        }

        @if (User.IsInRole("Create Facility Setup"))
        {
        <li class="@Html.RouteIf("FacilitiesList", "active" ) || @Html.RouteIf("CreateFacility", "active" )  || @Html.RouteIf("EditFacility", "active" )  || @Html.RouteIf("FacilityDetail", "active" )">
            <a href="@Url.Action("FacilitiesList", "RevenueTransfer" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Facilities List</a>
        </li>
        }

    </ul>
</li>
                           }