@*@if (User.IsInRole("Forecast Menu"))
    {*@
<li class="@Html.RouteIf("", "")">
    <a href="#">Forecast</a>
    <ul>
        @*@if (User.IsInRole("Standing Imprest Entry"))
            {*@
        <li class="@Html.RouteIf("", "")">
            <a href="#">Setup</a>
            <ul>
                @*@if (User.IsInRole("Standing Imprest Entry"))
                    {*@
                <li class="@Html.RouteIf("FundFlowCategoryList", "active") || @Html.RouteIf("CreateForecast", "active") || @Html.RouteIf("EditForecast", "active") ">
                    <a href="@Url.Action("FundFlowCategoryList", "FundFlowCategories", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Fund Flow Category</a>
                </li>
                <li class="@Html.RouteIf("FundFlowSubCategoryList", "active") || @Html.RouteIf("CreateFundFlowSubCategory", "active") || @Html.RouteIf("EditFundFlowSubCategory", "active") ">
                    <a href="@Url.Action("FundFlowSubCategoryList", "FundFlowSubCategories", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Fund Flow Sub Category</a>
                </li>
                @*}*@
            </ul>
        </li>
        <li class="@Html.RouteIf("PendingForecast", "active") || @Html.RouteIf("CreateForecast", "active") || @Html.RouteIf("EditForecast", "active") ">
            <a href="@Url.Action("PendingForecast", "Forecasts", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Projections</a>
        </li>
        <li class="@Html.RouteIf("ConfirmedForecast", "active") ">
            <a href="@Url.Action("ConfirmedForecast", "Forecasts", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Actuals</a>
        </li>
        @*}*@
    </ul>
</li>
@*}*@
