@if (User.IsInRole("Funding Category Entry") || User.IsInRole("Funding Category Approval"))
{
    <li class="@Html.RouteIf("", "")">
        <a href="#"> Funding Category  </a>
        <ul>
            @if (User.IsInRole("Funding Category Entry"))
            {
                <li class="@Html.RouteIf("PendingCategories", "active") ">
                    <a href="@Url.Action("PendingCategories", "FundingCategories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                </li>
            }
            @*@if (User.IsInRole("Funding Category Approval"))
            {
                <li class="@Html.RouteIf("ConfirmedCategories", "active")">
                    <a href="@Url.Action("ConfirmedCategories", "FundingCategories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
                </li>
            }*@

        </ul>
    </li>
}