<li class="@Html.RouteIf("icons", "active")">
    @if (User.IsInRole("Funding Transfer Entry") || User.IsInRole("Deposit Transfer Entry") || User.IsInRole("ST Transfer Entry"))
    {
        <a href="#">Transfer Entry</a>
        <ul>
            @if (User.IsInRole("Funding Transfer Entry"))
            {
                <li class="@Html.RouteIf("PendingTransfers", "active")">
                    <a href="@Url.Action("PendingTransfers", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Fund Transfer </a>
                </li>
            }

            @if (User.IsInRole("Deposit Transfer Entry"))

            {
                <li class="@Html.RouteIf("PendingDepositTransfers", "active")">
                    <a href="@Url.Action("PendingDepositTransfers", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Deposit Transfer </a>
                </li>
            }

            @if (User.IsInRole("ST Transfer Entry"))
            {
                <li class="@Html.RouteIf("PendingStTransfers", "active") || @Html.RouteIf("CreateSubTreasuryTransfer", "active")">
                    <a href="@Url.Action("PendingStTransfers", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> ST Transfer </a>
                </li>
            }

            @if (User.IsInRole("HQ Transfer Entry"))
            {
                <li class="@Html.RouteIf("PendingTransfersHQ", "active")">
                    <a href="@Url.Action("PendingTransfersHQ", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> HQ Transfer </a>
                </li>
            }

        </ul>
    }
</li>

<li class="@Html.RouteIf("icons", "active")">
    @if (User.IsInRole("Funding Transfer Approval") || User.IsInRole("Deposit Transfer Approval") || User.IsInRole("Deposit Transfer Submission") || User.IsInRole("HQ Funding Transfer Approval"))
    {
    <a href="#">Transfer Approval</a>
    <ul>
        @if (User.IsInRole("Funding Transfer Approval"))
        {
            <li class="@Html.RouteIf("ApprovalFundTransfer", "active")">
                <a href="@Url.Action("ApprovalFundTransfer", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Fund transfer Approval  </a>
            </li>

            <li class="@Html.RouteIf("SubmitFundTransfer", "active")">
                <a href="@Url.Action("SubmitFundTransfer", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Transfer Submission </a>
            </li>
        }

        @if (User.IsInRole("Deposit Transfer Approval"))
        {
            <li class="@Html.RouteIf("ApprovalDepositTransfer", "active")">
                <a href="@Url.Action("ApprovalDepositTransfer", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>  Deposit transfer Approval  </a>
            </li>
        }

        @if (User.IsInRole("Deposit Transfer Submission"))
        {
            <li class="@Html.RouteIf("SubmitDepositTransfer", "active")">
                <a href="@Url.Action("SubmitDepositTransfer", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Deposit Transfer Submission </a>
            </li>
        }

        @if (User.IsInRole("HQ Funding Transfer Approval"))
        {
            <li class="@Html.RouteIf("ApprovalFundTransferHQ", "active")">
                <a href="@Url.Action("ApprovalFundTransferHQ", "FundTransfers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> HQ transfer Approval  </a>
            </li>
        }
    </ul>
    }
</li>