@if (User.IsInRole("Sub Admin") || User.IsInRole("Super Admin") || User.IsInRole("Implementing Agent"))
{
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Implementing Agent</a>
        <ul>
            <li class="@Html.RouteIf("DataEntry", "active")
                   || @Html.RouteIf("TrxDetails", "active")
                   || @Html.RouteIf("GacsContributorTrx", "active")
                   || @Html.RouteIf("GacsAssetMovementDetailTrx", "active")
                   || @Html.RouteIf("GacsAssetBiologicalTrx", "active")
                   || @Html.RouteIf("GacsCurrencyTrx", "active")
                   || @Html.RouteIf("GacsEliminationTrx", "active")
                   || @Html.RouteIf("GacsBudgetTrx", "active")
                   || @Html.RouteIf("GacsImpairementTrx", "active")
                   || @Html.RouteIf("GacsEquityMovementTrx", "active")
                   || @Html.RouteIf("GacsNonCurrentLiabilityTrx", "active")">

                <a href="@Url.Action("DataEntry", "GacsTransactions", new { area = "GACS" })"><i class="fa fa-external-link"></i> Data Entry</a>
            </li>

            <li class="@Html.RouteIf("PendingNotes", "active")">
                <a href="@Url.Action("PendingNotes", "GacsAuthorization", new { area = "GACS" })"><i class="fa fa-external-link"></i> Data Confirmation</a>
            </li>

            @if (User.IsInRole("Elimination Entry"))
            {

                <li class="@Html.RouteIf("EliminationPendingList", "active")">
                    <a href="@Url.Action("EliminationPendingList", "Eliminations", new { area = "GACS" })"><i class="fa fa-external-link"></i>Elimination Entry</a>
                </li>

            }

        </ul>


    </li>
}