@if ((User.IsInRole("Gacs Setup")))
{
    <li class="@Html.RouteIf(" fontawesome", "active" )">
        <a href="#" title="System Management"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Setup</span></a>
        <ul>


            <li class="@Html.RouteIf("GlobalPeriodList", "active" ) || @Html.RouteIf("NewGlobalPerid", "active" )">
                <a href="@Url.Action("GlobalPeriodList", "GlobalPeriods" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Global Period</a>
            </li>
            <li class="@Html.RouteIf("GfsList", "active" )">
                <a href="@Url.Action("GfsList", "GfsManagement" , new { area="Gacs" })"><i class="fa fa-external-link"></i>GFS Management</a>
            </li>
            <li class="@Html.RouteIf("EntitiesList", "active" )">
                <a href="@Url.Action("EntitiesList", "EntitiesManagement" , new { area="Gacs"})"><i class="fa fa-external-link"></i>Entity Management</a>
            </li>
            <li class="@Html.RouteIf("NotesList", "active" )">
                <a href="@Url.Action("NotesList", "Notes" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Notes</a>
            </li>
            <li class="@Html.RouteIf("NoteItemsList", "active" )">
                <a href="@Url.Action("NoteItemsList", "NoteItems" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Note Items</a>
            </li>
            <li class="@Html.RouteIf("ContributorsList", "active" )">
                <a href="@Url.Action("ContributorsList", "Contributors" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Contributors</a>
            </li>
            <li class="@Html.RouteIf("CurrenciesList", "active" )">
                <a href="@Url.Action("CurrenciesList", "Currencies" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Currency</a>
            </li>
            <li class="@Html.RouteIf("EliminationItemsList", "active" )">
                <a href="@Url.Action("EliminationItemsList", "EliminationItems" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Elimination Mapping Setup</a>
            </li>
            <li class="@Html.RouteIf("SelectOptions", "active" )">
                <a href="@Url.Action("SelectOptions", "TemplateGenerator" , new { area="Gacs" })"><i class="fa fa-external-link"></i>Template Generator</a>
            </li>
        </ul>
    </li>
}

