@if (User.IsInRole("Sub Admin") || User.IsInRole("Super Admin") || User.IsInRole("Gacs Reports") || User.IsInRole("Auditor"))
{
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Reports</a>
        <ul>
            <li class="@Html.RouteIf("ReportsManager", "active")">
                <a href="@Url.Action("ReportsManager", "IntelReports", new { area = "" })"><i class="fa fa-external-link"></i> Adv Search</a>
            </li>
            <li class="@Html.RouteIf("QuickReport", "active")">
                <a href="@Url.Action("QuickReport", "IntelReports", new { area = "" })"><i class="fa fa-external-link"></i> Quick Search</a>
            </li>
    
        </ul>   
    </li>
 }