@if (User.IsInRole("Sub Admin") || User.IsInRole("Super Admin") || User.IsInRole("Consolidation"))
{
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Consolidation</a>
        <ul>
            <li class="@Html.RouteIf("Confirmation", "active")">
                <a href="@Url.Action("NoteList", "gac_note_explorer_summary_Vw", new { area = "GACS" })"><i class="fa fa-external-link"></i> Note Review - Entity</a>
            </li>

            <li class="@Html.RouteIf("EntityExplorerSummary", "active") || @Html.RouteIf("EntityExplorerSubSummary", "active")">
                <a href="@Url.Action("EntityExplorerSummary", "EntityExplorerSummaries", new { area = "GACS" })"><i class="fa fa-external-link"></i> Note Review - Item</a>
            </li>

            <li class="@Html.RouteIf("Approval", "active")">
                <a href="@Url.Action("ConsolidationList", "gac_data_trx_v", new { area = "GACS" })"><i class="fa fa-external-link"></i>Consolidation status</a>
            </li>

            <li class="@Html.RouteIf("ConfirmedNotes", "active")">
                <a href="@Url.Action("ConfirmedNotes", "GacsAuthorization", new { area = "GACS" })"><i class="fa fa-external-link"></i> Data Approval</a>
            </li>
            <li class="@Html.RouteIf("GacsGlEntry", "active")">
                <a href="@Url.Action("GacsGlEntry", "GacsGlApi", new { area="Gacs" })"><i class="fa fa-external-link"></i>Data Retrieval</a>
            </li>


            @if (User.IsInRole("Elimination Approval"))
            {
                <li class="@Html.RouteIf("PostEliminationList", "active")">
                    <a href="@Url.Action("PostEliminationList", "Eliminations", new { area = "GACS" })"><i class="fa fa-external-link"></i>Post Elimination</a>
                </li>

                <li class="@Html.RouteIf("PostEliminationList", "active")">
                    <a href="@Url.Action("unpostingEliminationList", "Eliminations", new { area = "GACS" })"><i class="fa fa-external-link"></i>UnPost Elimination</a>
                </li>

            }

        </ul>
    </li>
}