<li class="@Html.RouteIf("element", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">General Ledger</span></a>
    <ul>
        @if (User.IsInRole("System Setup") || User.IsInRole("Create Chart of Accounts (COA)"))
        {
            <li class="@Html.RouteIf("icons", "active")">
                <a href="#">Setup</a>
                <ul>

                    <li class="@Html.RouteIf("CoaVersionList", "active")">
                        <a href="@Url.Action("CoaVersionList", "CoaVersions", new { area = "IFMISTZ" })">COA Version</a>
                    </li>

                    <li class="@Html.RouteIf("CoaSegmentList", "active")">
                        <a href="@Url.Action("CoaSegmentList", "CoaSegments", new { area = "IFMISTZ" })">COA Segment</a>
                    </li>

                    @if (User.IsInRole("Coa Entry"))
                    {

                        <li class="@Html.RouteIf("uploadcoa", "active")">
                            <a href="@Url.Action("PendingCoaList", "COAs", new { area = "IFMISTZ" })">Entry</a>
                        </li>
                    }
                    @if (User.IsInRole("Coa Approval"))
                    {
                        <li class="@Html.RouteIf("uploadcoa", "active")">
                            <a href="@Url.Action("ConfirmedCoaList", "COAs", new { area = "IFMISTZ" })">Approval</a>
                        </li>
                    }
                    @if (User.IsInRole("Coa Entry") || User.IsInRole("Coa Approval"))
                    {
                        <li class="@Html.RouteIf("CoaList", "active")">
                            <a href="@Url.Action("CoaList", "COAs", new { area = "IFMISTZ" })">All Active COA List</a>
                        </li>
                    }

                    <li class="@Html.RouteIf("CoaList", "active")">
                        <a href="@Url.Action("CoaList", "COAs", new { area = "IFMISTZ" })">COA List</a>
                    </li>

                    <li class="@Html.RouteIf("uploadcoa", "active")">
                        <a href="@Url.Action("uploadcoa", "COAs", new { area = "IFMISTZ" })">Import COA</a>
                    </li>


                    @if (User.IsInRole("Final Account Ranges Entry"))
                    {
                        <li class="@Html.RouteIf("FinalAccount", "active")">
                            <a href="@Url.Action("FinalAccount", "FinalAccountItemranges", new { area = "IFMISTZ" })"> FinalAccount ItemRange</a>
                        </li>
                    }

                    @if (User.IsInRole("Adjust Journal Type"))
                    {
                        <li class="@Html.RouteIf("AdjJornalTypelist", "active") || @Html.RouteIf("JornalTypeCreate", "active") || @Html.RouteIf("JornalTypeEdit", "active")">
                            <a href="@Url.Action("AdjJornalTypelist", "AdjustmentsJournalTypes", new { area = "IFMISTZ" })">Adjust Journal Type</a>
                        </li>
                    }


                    @if (User.IsInRole("System Setup"))
                    {
                        <li class="@Html.RouteIf("JornalTypelist", "active")">
                            <a href="@Url.Action("JornalTypelist", "JournalTypes", new { area = "IFMISTZ" })"> Journal Type Setup</a>
                        </li>
                        <li class="@Html.RouteIf("DFundSourcelist", "active")">
                            <a href="@Url.Action("DFundSourcelist", "DFundSources", new { area = "IFMISTZ" })"> DFund Sources</a>
                        </li>
                    }
                </ul>
            </li>
        }
        @{ Html.RenderPartial("_BudgetMenu"); }
        <li class="@Html.RouteIf("TrxAdjustment", "active")">
            <a href="#">Transaction Adjustment</a>
            <ul>
                @if (User.IsInRole("Transaction Adjustment Entry"))
                {
                    <li class="@Html.RouteIf("PendingReversal", "active")">
                        <a href="@Url.Action("PendingReversal", "TransactionAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                    </li>
                }
                @if (User.IsInRole("Transaction Adjustment Approval"))
                {
                    <li class="@Html.RouteIf("ApproveTransationAdjustment", "active")">
                        <a href="@Url.Action("ApproveTransationAdjustment", "TransactionAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
                    </li>
                }
                <li class="@Html.RouteIf("TransactionAdjustmentTrackerList", "active")">
                    <a href="@Url.Action("TransactionAdjustmentTrackerList", "TransactionAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                </li>
                <li class="@Html.RouteIf("WrongLegalNumberList", "active")">
                    <a href="@Url.Action("WrongGlLegalNumberList", "GeneralLedgers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Wrong Legal Number List</a>
                </li>
                @if (User.IsInRole("Unbalanced Legal Number Entry"))
                {
                    <li class="@Html.RouteIf("GeneralLedgerList", "active")">
                        <a href="@Url.Action("AdjustedList", "GeneralLedgers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Adjusted List</a>
                    </li>
                }
                @if (User.IsInRole("Unbalanced Legal Number Approval"))
                {
                    <li class="@Html.RouteIf("ApproveAdjustmentList", "active")">
                        <a href="@Url.Action("ApproveAdjustmentList", "GeneralLedgers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approve Adjusted List</a>
                    </li>
                }
            </ul>
        </li>
        @if (User.IsInRole("Final Acc. Submission"))
        {
            <li class="@Html.RouteIf("GacsGlEntry", "active")">
                <a href="@Url.Action("GacsGlEntry", "GacsGlApi", new { area = "Gacs" })">Final Acc. Submission</a>
            </li>
        }
        @{ Html.RenderPartial("_ToolsMenu"); }
    </ul>
</li>
