@if (User.IsInRole("Sub Admin") || User.IsInRole("Super Admin") || User.IsInRole("GFS Code Entry") || User.IsInRole("GFS Code Approval"))
{
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i> GFS Management </a>
        <ul>
            @if (User.IsInRole("GFS Code Entry"))
            {
                <li class="@Html.RouteIf("PendingGFS", "active")">

                    <a href="@Url.Action("PendingGFS", "GFSCodes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry </a>
                </li>

            }
            
            @if (User.IsInRole("GFS Code Approval"))
            {
                <li class="@Html.RouteIf("ConfirmedGFS", "active")">

                    <a href="@Url.Action("ConfirmedGFS", "GFSCodes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval </a>
                </li>
            }

            @*@if (User.IsInRole("Elimination Entry"))
                {*@

            @*<li class="@Html.RouteIf("EliminationPendingList", "active")">
                    <a href="@Url.Action("EliminationPendingList", "Eliminations", new { area = "GACS" })"><i class="fa fa-external-link"></i>Elimination Entry</a>
                </li>*@

            @*}*@

        </ul>


    </li>
}