@if (User.IsInRole("Government Account Menu"))
{
    <li class="@Html.RouteIf(" ", " ")">
        <a href="#">Opening Account</a>
        <ul>
            @if (User.IsInRole("Opening Account Entry"))
            {
                <li class="@Html.RouteIf("OpeningAccountsList", "active" ) ">
                    <a href="@Url.Action("OpeningAccountsList", "OpeningAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
                </li>
            }

            <li class="@Html.RouteIf("OpeningAccountInboxAsync", "active" )">
                <a href="@Url.Action("OpeningAccountInbox", "OpeningAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Inbox</a>
            </li>
            <li class="@Html.RouteIf("OpeningAccountOutboxAsync", "active" )">
                <a href="@Url.Action("OpeningAccountOutbox", "OpeningAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Outbox</a>
            </li>

            @if (User.IsInRole("Opening Account CMU Directives"))
            {
                <li class="@Html.RouteIf("SubmissionOpeningAccount", "active" )">
                    <a href="@Url.Action("SubmissionOpeningAccount", "OpeningAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Submission</a>
                </li>
            }

            <li class="@Html.RouteIf("TrackerOpeningAccount", "active" )">
                <a href="@Url.Action("TrackerOpeningAccount", "OpeningAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Tracker</a>
            </li>
        </ul>

    </li>

    <li class="@Html.RouteIf(" ", " ")">
        <a href="#">Opening A/C Permit</a>
        <ul>
            @if (User.IsInRole("Opening Account Entry"))
            {
                <li class="@Html.RouteIf("OpeningAccountsPermitList", "active" ) ">
                    <a href="@Url.Action("OpeningAccountsPermitList", "OpeningAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
                </li>
            }

            <li class="@Html.RouteIf("OpeningAccountPermitInboxAsync", "active" )">
                <a href="@Url.Action("OpeningAccountPermitInbox", "OpeningAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Inbox</a>
            </li>
            <li class="@Html.RouteIf("OpeningAccountPermitOutboxAsync", "active" )">
                <a href="@Url.Action("OpeningAccountPermitOutbox", "OpeningAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Outbox</a>
            </li>

            <li class="@Html.RouteIf("ApprovedOpeningAccountPermit", "active" )">
                <a href="@Url.Action("ApprovedOpeningAccountPermit", "OpeningAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Approved</a>
            </li>

            <li class="@Html.RouteIf("TrackerOpeningAccountPermit", "active" )">
                <a href="@Url.Action("TrackerOpeningAccountPermit", "OpeningAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Tracker</a>
            </li>
        </ul>

    </li>

    <li class="@Html.RouteIf(" ", " ")">
        <a href="#">Closing Acccount</a>
        <ul>
            @if (User.IsInRole("Closing Account Entry"))
            {
                <li class="@Html.RouteIf("ClosingAccountList", "active" ) ">
                    <a href="@Url.Action("ClosingAccountsList", "AccountOperations" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
                </li>
            }
            <li class="@Html.RouteIf("ClosingAccountInboxAsync", "active" )">
                <a href="@Url.Action("ClosingAccountInbox", "AccountOperations" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Inbox</a>
            </li>
            <li class="@Html.RouteIf("ClosingAccountOutboxAsync", "active" )">
                <a href="@Url.Action("ClosingAccountOutbox", "AccountOperations" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Outbox</a>
            </li>

            @if (User.IsInRole("Closing Account CMU Directives"))
            {
                <li class="@Html.RouteIf("SubmissionClosingAccount", "active")">
                    <a href="@Url.Action("SubmissionClosingAccount", "AccountOperations", new { area = "CashManagement" })"><i class="fa fa-external-link"></i>Submission</a>
                </li>
            }
            <li class="@Html.RouteIf("TrackerClosingAccount", "active" )">
                <a href="@Url.Action("TrackerClosingAccount", "AccountOperations" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Tracker</a>
            </li>
        </ul>
    </li>

    <li class="@Html.RouteIf(" ", " ")">
        <a href="#">Closing A/C Permit</a>
        <ul>
            @if (User.IsInRole("Closing Account Entry"))
            {
                <li class="@Html.RouteIf("ClosingAccountPermitList", "active" ) ">
                    <a href="@Url.Action("ClosingAccountsPermitList", "ClosingAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
                </li>
            }
            <li class="@Html.RouteIf("ClosingAccountPermitInboxAsync", "active" )">
                <a href="@Url.Action("ClosingAccountPermitInbox", "ClosingAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Inbox</a>
            </li>
            <li class="@Html.RouteIf("ClosingAccountPermitOutboxAsync", "active" )">
                <a href="@Url.Action("ClosingAccountPermitOutbox", "ClosingAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Outbox</a>
            </li>
            <li class="@Html.RouteIf("ApprovedClosingAccountPermit", "active" )">
                <a href="@Url.Action("ApprovedClosingAccountPermit", "ClosingAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Approved</a>
            </li>
            <li class="@Html.RouteIf("TrackerClosingAccountPermit", "active" )">
                <a href="@Url.Action("TrackerClosingAccountPermit", "ClosingAccountPermits" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Tracker</a>
            </li>
        </ul>
    </li>




    <li class="@Html.RouteIf(" ", " ")">
        <a href="#">Account Maintainance</a>
        <ul>
            @if (User.IsInRole("Account Maintenance Entry"))
            {
                <li class="@Html.RouteIf("AccountMaintenancesList", "active" ) ">
                    <a href="@Url.Action("AccountMaintenancesList", "AccountMaintenances2" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
                </li>
            }
            <li class="@Html.RouteIf("AccountMaintainanceInboxAsync", "active" ) ">
                <a href="@Url.Action("AccountMaintainanceInbox", "AccountMaintenances2" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Inbox</a>
            </li>

            <li class="@Html.RouteIf("AccountMaintainanceOutboxAsync", "active" )">
                <a href="@Url.Action("AccountMaintainanceOutbox", "AccountMaintenances2" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Outbox</a>
            </li>

            @if (User.IsInRole("Account Maintenance CMU Directives"))
            {
                <li class="@Html.RouteIf("SubmissionAccountMaintainance", "active" )">
                    <a href="@Url.Action("SubmissionAccountMaintainance", "AccountMaintenances2" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Submission</a>
                </li>
            }
            <li class="@Html.RouteIf("TrackerAccountMaintainance", "active" )">
                <a href="@Url.Action("TrackerAccountMaintainance", "AccountMaintenances2" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Tracker</a>
            </li>

        </ul>
    </li>

    <li class="@Html.RouteIf(" "," ")">
        <a href="#">Account Status</a>
        <ul>
            @if (User.IsInRole("Opening Account CMU Directives"))
            {
                @*<li class="@Html.RouteIf("BankAccountStatus", "active" )">
                    <a href="@Url.Action("BankAccountStatus","GovernmentAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Account Status</a>
                </li>*@

                <li class="@Html.RouteIf("BankAccountStatus", "active" )">
                    <a href="@Url.Action("BankAccountStatus","OpeningAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Opening Account Status Bulk</a>
                </li>

                <li class="@Html.RouteIf("BankAccountStatus", "active" )">
                    <a href="@Url.Action("BankAccountStatus","AccountOperations" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Closing Account Status Bulk</a>
                </li>
            }
        </ul>
    </li>

    <li class="@Html.RouteIf(" "," ")">
        <a href="#">Bank Charge</a>
        <ul>
            <li class="@Html.RouteIf("BankChargesList", "active" )">
                <a href="@Url.Action("BankChargesList","BankCharges" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
            </li>
        </ul>
    </li>

}

<li class="@Html.RouteIf(" "," ")">
    <a href="#">Account Back Log</a>
    <ul>
        <li class="@Html.RouteIf("UpdateAccountInformation", "active" ) ">
            <a href="@Url.Action("UpdateAccountInformation", "GovernmentAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Update Account Info</a>
        </li>

        @*@if (User.IsInRole("Opening Account Entry"))
            {*@
        <li class="@Html.RouteIf("backlogAccountList", "active" ) ">
            <a href="@Url.Action("backlogAccountList", "GovernmentAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Entry</a>
        </li>
        @*}*@

        <li class="@Html.RouteIf("BacklogAccountConfirmedList", "active" )">
            <a href="@Url.Action("BacklogAccountConfirmedList", "GovernmentAccounts" , new { area="CashManagement" })"><i class="fa fa-external-link"></i>Approval</a>
        </li>
    </ul>
</li>