<li class="@Html.RouteIf("appviews", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">Helpdesk</span></a>
    <ul>
        @if (User.IsInRole("Helpdesk Supervisor List"))
        {
            <li class="@Html.RouteIf("SupervisorList", "active") || @Html.RouteIf("EditSupervisor", "active") || @Html.RouteIf("CreateSupervisor", "active")">
                <a href="@Url.Action("SupervisorList", "SupportTeam", new { area = "IFMISTZ" })"> Supervisors </a>
            </li>
        }

        @if (User.IsInRole("Helpdesk SupportTeam List"))
        {
            <li class="@Html.RouteIf("SupportTeamList", "active") || @Html.RouteIf("CreateSupportTeam", "active") || @Html.RouteIf("EditSupportTeam", "active")">
                <a href="@Url.Action("SupportTeamList", "SupportTeam", new { area = "IFMISTZ" })">Support Team </a>
            </li>
        }

        @if (User.IsInRole("Helpdesk Managerial List"))
        {
            <li class="@Html.RouteIf("ManagerialNotificationList", "active") || @Html.RouteIf("CreateManagerial", "active") || @Html.RouteIf("EditManagerialNotification", "active")">
                <a href="@Url.Action("ManagerialNotificationList", "ManagerialNotification", new { area = "IFMISTZ" })">Managerial Notification </a>
            </li>
        }

        @if (User.IsInRole("Helpdesk Assignment Automation"))
        {
            <li class="@Html.RouteIf("TicketAutomationsList", "active") || @Html.RouteIf("CreateAssignee", "active")">
                <a href="@Url.Action("TicketAutomationsList", "TicketAutomations", new { area = "IFMISTZ" })">Ticket Automation </a>
            </li>
        }

        @if (User.IsInRole("Helpdesk Ticket List"))
        {
            <li class="@Html.RouteIf("TicketsList", "active")">
                <a href="@Url.Action("TicketsList", "Tickets", new { area = "IFMISTZ" })">All Pending Tickets</a>
            </li>
        }

        @if (User.IsInRole("Helpdesk Ticket Assignee"))
        {
            <li class="@Html.RouteIf("AssigneeTicketsList", "active")">
                <a href="@Url.Action("AssigneeTicketsList", "Tickets", new { area = "IFMISTZ" })">Assignee</a>
            </li>
        }

        <li class="@Html.RouteIf("RegisterTickets", "active") || @Html.RouteIf("CreateTickets", "active") || @Html.RouteIf("Edit", "active")">
            <a href="@Url.Action("RegisterTickets", "Tickets", new { area = "IFMISTZ" })"><span class="pull-right badge" id="returnedData"></span><i class="fa fa-envelope" style="color:black"></i> <span>Register Ticket</span></a>
        </li>

        @if (User.IsInRole("Helpdesk Assigned Tickets"))
        {
            <li class="@Html.RouteIf("MyTicketList", "active")">
                <a href="@Url.Action("MyTicketList", "Tickets", new { area = "IFMISTZ" })"><span class="pull-right badge" id="returnedData"></span><i class="fa fa-folder-open"></i> <span>Assigned Tickets</span></a>
            </li>
        }

        <li class="@Html.RouteIf("TicketTrackerList", "active")">
            <a href="@Url.Action("TicketTrackerList", "TicketTracker", new { area = "IFMISTZ" })">Tracker</a>
        </li>

    </ul>
</li>
