<option value="">--Select --</option>
@if (ViewBag.ItemsClassification != null)
{
    foreach (var item in ViewBag.ItemsClassification)
    {
        <option value="@item.Value">@item.Text</option>
    }
}


@*@if (Enumerable.Count(ViewBag.ItemsClassification) > 1)
{
    <option value="">-- Select Inventory Class --</option>
    <option value="17">ALL</option>
    foreach (var item in ViewBag.report)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}

else
{
    <option value="">-- Select Select Inventory Class --</option>
    if (ViewBag.report != null)
    {
        foreach (var item in ViewBag.ItemsClassification)
        {
            <option value="@item.Value"> @item.Text </option>
        }

    }
}*@
