<li class="@Html.RouteIf("LoanAuthorization", "active")">
    <a href="#">Loan Authorization</a>
    <ul>
        @if (User.IsInRole("Loan Authorization Batching"))
        {
            <li class="@Html.RouteIf("Batching", "active")">
                <a href="@Url.Action("Batching", "LoanAuthorization", new { area = "LoanMod" })">Batching</a>
            </li>
            <li class="@Html.RouteIf("BatchInfo", "active")">
                <a href="@Url.Action("BatchInfo", "LoanAuthorization", new { area = "LoanMod" })">Batch Info</a>
            </li>
        }
        @if (User.IsInRole("Loan Authorization Entry"))
        {
            <li class="@Html.RouteIf("ListLoanAuthorization", "active")">
                <a href="@Url.Action("ListLoanAuthorization", "LoanAuthorization", new { area = "LoanMod" })">Entry</a>
            </li>
        }

        @if (User.IsInRole("Loan Authorization Examine"))
        {
            <li class="@Html.RouteIf("ExamineLoanAuthorization", "active")">
                <a href="@Url.Action("ExamineLoanAuthorization", "LoanAuthorization", new { area = "LoanMod" })">Examine</a>
            </li>
        }
        @if (User.IsInRole("Loan Authorization Approve"))
        {
            <li class="@Html.RouteIf("ApproveLoanAuthorization", "active")">
                <a href="@Url.Action("ApproveLoanAuthorization", "LoanAuthorization", new { area = "LoanMod" })">Approve</a>
            </li>
        }

        @if (User.IsInRole("Loan Authorization Legal Review"))
        {
            <li class="@Html.RouteIf("CreditAssignment", "active")">
                <a href="@Url.Action("CreditAssignment", "LoanAuthorization", new { area = "LoanMod" })">Legal Review</a>
            </li>
        }
    </ul>
</li>

<li class="@Html.RouteIf("LoanDisbursement", "active")">
    <a href="#">Loan Disbursement</a>
    <ul>
        @if (User.IsInRole("Loan Disbursement Entry"))
        {
            <li class="@Html.RouteIf("ListLoanDisbursement", "active")">
                <a href="@Url.Action("ListLoanDisbursement", "LoanDisbursement", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("Loan Disbursement Approve"))
        {
            <li class="@Html.RouteIf("ApprovalLoanDisbursement", "active")">
                <a href="@Url.Action("ApprovalLoanDisbursement", "LoanDisbursement", new { area = "LoanMod" })">Approve</a>
            </li>
        }

        @*<li class="@Html.RouteIf("GenerateVoucherLoanDisbursement", "active")">
                <a href="@Url.Action("GenerateVoucherLoanDisbursement", "LoanDisbursement", new { area = "LoanMod" })">Generate</a>
            </li>*@
        @*<li class="@Html.RouteIf("GenerateRepaymentSchedule", "active")">
                <a href="@Url.Action("GenerateRepaymentSchedule", "LoanDisbursement", new { area = "LoanMod" })">Repayment</a>
            </li>*@
    </ul>
</li>

<li class="@Html.RouteIf("Fee Payment", "active")">
    <a href="#">Fee Payment</a>
    <ul>
        @if (User.IsInRole("Fee Payment Entry"))
        {
            <li class="@Html.RouteIf("PaymentList", "active")">
                <a href="@Url.Action("PaymentList", "LoanPayments", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("Fee Payment Examine"))
        {
            <li class="@Html.RouteIf("ExamineList", "active")">
                <a href="@Url.Action("ExamineList", "LoanPayments", new { area = "LoanMod" })">Examine</a>
            </li>
        }
        @if (User.IsInRole("Fee Payment Approval"))
        {
            <li class="@Html.RouteIf("ApprovalList", "active")">
                <a href="@Url.Action("ApprovalList", "LoanPayments", new { area = "LoanMod" })">Approve</a>
            </li>
        }
    </ul>
</li>

<li>
    <a href="#">Payment</a>
    <ul>
        @if (User.IsInRole("Loan Payment Entry"))
        {
            <li class="@Html.RouteIf("LoanPaymentEntry", "active")">
                <a href="@Url.Action("LoanPaymentEntry", "LoanDisbursement", new { area = "LoanMod" })">Entry</a>
            </li>
        }


        @*<li class="@Html.RouteIf("LoanPaymentApproval", "active")">
                <a href="@Url.Action("LoanPaymentApproval", "LoanDisbursement", new { area = "LoanMod" })">Approve</a>
            </li>*@
    </ul>
</li>


<li class="@Html.RouteIf("DebtCollection", "active")">
    <a href="#">Manual Collection</a>
    <ul>
        @if (User.IsInRole("DebtCollection Entry"))
        {
            <li class="@Html.RouteIf("DebtCollectionEntry", "active")">
                <a href="@Url.Action("DebtCollectionEntry", "DebtCollection", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("DebtCollection Approval"))
        {
            <li class="@Html.RouteIf("DebtCollectionApproval", "active")">
                <a href="@Url.Action("DebtCollectionApproval", "DebtCollection", new { area = "LoanMod" })">Approve</a>
            </li>
        }
    </ul>
</li>

<li class="@Html.RouteIf("LoanMonitoring", "active")">
    <a href="#">Loan Monitoring</a>
    <ul>
        @if (User.IsInRole("Loan Monitoring Entry"))
        {
            <li class="@Html.RouteIf("LoanMonitoringList", "active")">
                <a href="@Url.Action("LoanMonitoringList", "LoanMonitoring", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("Loan Monitoring Examine"))
        {
            <li class="@Html.RouteIf("ChangeStatusVerification", "active")">
                <a href="@Url.Action("ChangeStatusVerification", "LoanMonitoring", new { area = "LoanMod" })">Examine</a>
            </li>
        }
        @if (User.IsInRole("Loan Monitoring Approval"))
        {
            <li class="@Html.RouteIf("ChangeStatusApproval", "active")">
                <a href="@Url.Action("ChangeStatusApproval", "LoanMonitoring", new { area = "LoanMod" })">Approve</a>
            </li>
        }


        @if (User.IsInRole("Loan Monitoring Assignment"))
        {
            <li class="@Html.RouteIf("LoanMonitoringAssignmentList", "active")">
                <a href="@Url.Action("LoanMonitoringAssignmentList", "LoanMonitoring", new { area = "LoanMod" })">Assign Loan Officer</a>
            </li>
        }

        @*@if (User.IsInRole("Loan Monitoring Entry"))
        {
            <li class="@Html.RouteIf("LoanMonitoring", "active")">
                <a href="#">Monitoring Status</a>
                <ul>
                    <li class="@Html.RouteIf("AuctionList", "active")">
                        <a href="@Url.Action("AuctionList", "Auctions", new { area = "LoanMod" })"><i class="fa fa-external-link"></i>Auction</a>
                    </li>

                    <li class="@Html.RouteIf("DebtCollectorList", "active")">
                        <a href="@Url.Action("DebtCollectorList", "DebtCollectors", new { area = "LoanMod" })"><i class="fa fa-external-link"></i> Debt Collector</a>
                    </li>
                </ul>

            </li>
        }*@
    </ul>
</li>

<li class="@Html.RouteIf("AgitfLoanReposting", "active")">
    <a href="#">Loan Reposting</a>
    <ul>
        <li class="@Html.RouteIf("ListLoanReposting", "active") 
            || @Html.RouteIf("CreateLoanReposting", "active")">
            <a href="@Url.Action("ListLoanReposting", "AgitfLoanReposting", new { area = "LoanMod" })">Pending</a>
        </li>
        <li class="@Html.RouteIf("ApproveLoanReposting", "active")">
            <a href="@Url.Action("ApproveLoanReposting", "AgitfLoanReposting", new { area = "LoanMod" })">Approve</a>
        </li>
    </ul>
</li>

<li class="@Html.RouteIf("Auction", "active")">
    <a href="#">Auction</a>
    <ul>
        @if (User.IsInRole("Loan Monitoring Entry"))
        {
            <li class="@Html.RouteIf("AuctionList", "active")">
                <a href="@Url.Action("AuctionList", "Auctions", new { area = "LoanMod" })">Entry</a>
            </li>

        }

    </ul>
</li>


<li class="@Html.RouteIf("DebtCollector", "active")">
    <a href="#">Debt Collector</a>
    <ul>
        @if (User.IsInRole("Loan Monitoring Entry"))
        {
        <li class="@Html.RouteIf("DebtCollectorList", "active")">
            <a href="@Url.Action("DebtCollectorList", "DebtCollectors", new { area = "LoanMod" })">Entry</a>
        </li>
        }
   
    </ul>
</li>



<li class="@Html.RouteIf("CaseManagement", "active")">
    <a href="#">Case Management</a>
    <ul>
        @if (User.IsInRole("Case Manangement Entry"))
        {
            <li class="@Html.RouteIf("CaseList", "active")">
                <a href="@Url.Action("CaseList", "LoanCases", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("Case Manangement Approval"))
        {
            <li class="@Html.RouteIf("ApproveCaseList", "active")">
                <a href="@Url.Action("ApproveCaseList", "LoanCases", new { area = "LoanMod" })">Approve</a>
            </li>
        }
    </ul>
</li>


<li class="@Html.RouteIf("Liquidation", "active")">
    <a href="#">Liquidation</a>
    <ul>
        @if (User.IsInRole("Loan Liquidation Entry"))
        {
            <li class="@Html.RouteIf("LiquidationList", "active")">
                <a href="@Url.Action("LiquidationList", "LoanLiquidations", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("Loan Liquidation Examine"))
        {
            <li class="@Html.RouteIf("ExamineLiquidationList", "active")">
                <a href="@Url.Action("ExamineList", "LoanLiquidations", new { area = "LoanMod" })">Examine</a>
            </li>
        }
        @if (User.IsInRole("Loan Liquidation Approval"))
        {
            <li class="@Html.RouteIf("ApproveList", "active")">
                <a href="@Url.Action("ApproveList", "LoanLiquidations", new { area = "LoanMod" })">Approve</a>
            </li>
        }
        @if (User.IsInRole("Loan Liquidation Authorize"))
        {
            <li class="@Html.RouteIf("AuthorizationList", "active")">
                <a href="@Url.Action("AuthorizationList", "LoanLiquidations", new { area = "LoanMod" })">Authorization</a>
            </li>
        }
    </ul>
</li>


<li class="@Html.RouteIf("TitleDischarge", "active")">
    <a href="#">Title Discharge</a>
    <ul>
        @if (User.IsInRole("Title Discharge Entry"))
        {
            <li class="@Html.RouteIf("TitleDischargeList", "active")">
                <a href="@Url.Action("TitleDischargeList", "TitleDischarges", new { area = "LoanMod" })">Entry</a>
            </li>
        }
        @if (User.IsInRole("Title Discharge Examine"))
        {
            <li class="@Html.RouteIf("ExamineDischargeList", "active")">
                <a href="@Url.Action("ExamineList", "TitleDischarges", new { area = "LoanMod" })">Verify</a>
            </li>
        }
        @if (User.IsInRole("Title Discharge Approval"))
        {
            <li class="@Html.RouteIf("ApproveList", "active")">
                <a href="@Url.Action("ApproveList", "TitleDischarges", new { area = "LoanMod" })">Approve</a>
            </li>
        }
    </ul>
</li>



<li class="@Html.RouteIf("LoanReport", "active")">
    <a href="#">Loan Reports</a>
    <ul>
        <li>
            <a href="#">Loan Application</a>
            <ul>
                <li class="@Html.RouteIf("LoanApplicantsListRptv", "active")">
                    @Html.ActionLink("Applications List", "LoanApplicantsListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Loan Appraisal</a>
            <ul>
                <li class="@Html.RouteIf("LoanSiteVisitAnalysisCardRptv", "active")">
                    @Html.ActionLink("Site Visit Form", "LoanSiteVisitAnalysisCardRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanAppraisalListRptv", "active")">
                    @Html.ActionLink("Appraisal List", "LoanAppraisalListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanCommiteeApprovalRptv", "active")">
                    @Html.ActionLink("Loan Commitee Form", "LoanCommiteeApprovalRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Loan Authorization</a>
            <ul>
                <li class="@Html.RouteIf("LoanAuthorizationListRptv", "active")">
                    @Html.ActionLink("Authorization List", "LoanAuthorizationListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanOfferLetterRptv", "active")">
                    @Html.ActionLink("Loan Offer Letter", "LoanOfferLetterRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Loan Disbursement</a>
            <ul>
                <li class="@Html.RouteIf("LoanDisbursmentApprovalRptv", "active")">
                    @Html.ActionLink("Loan Disbursment Approval", "LoanDisbursmentApprovalRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanDisbursmentListRptv", "active")">
                    @Html.ActionLink("Disbursement List", "LoanDisbursmentListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Loan Monitoring</a>
            <ul>
                <li class="@Html.RouteIf("LoanMonitoringListRptv", "active")">
                    @Html.ActionLink("Monitoring List", "LoanMonitoringListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanRepaymentScheduleRpt", "active")">
                    @Html.ActionLink("Loan Repayment Schedule", "LoanRepaymentScheduleRpt", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("ClientStatementRptv", "active")">
                    @Html.ActionLink("Client Statement", "ClientStatementRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanRepaymentListRptv", "active")">
                    @Html.ActionLink("Repayment List", "LoanRepaymentListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanPortfolioListRptv", "active")">
                    @Html.ActionLink("Portfolio List", "LoanPortfolioListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanLegalListRptv", "active")">
                    @Html.ActionLink("Legal List", "LoanLegalListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanArrearsListRptv", "active")">
                    @Html.ActionLink("Arrears List", "LoanArrearsListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Case Management</a>
            <ul>
                <li class="@Html.RouteIf("LoanCaseRegisterRptv", "active")">
                    @Html.ActionLink("Case Register", "LoanCaseRegisterRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
                <li class="@Html.RouteIf("LoanCaseManagementRptv", "active")">
                    @Html.ActionLink("Case Management", "LoanCaseManagementRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Liquidation</a>
            <ul>
                <li class="@Html.RouteIf("LoanLiquidationListRptv", "active")">
                    @Html.ActionLink("Liquidation List", "LoanLiquidationListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Title Discharge</a>
            <ul>
                <li class="@Html.RouteIf("LoanTitleDischargeListRptv", "active")">
                    @Html.ActionLink("Discharge List", "LoanTitleDischargeListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Credit Agreements</a>
            <ul>
                <li class="@Html.RouteIf("LoanCreditAgreementListRptv", "active")">
                    @Html.ActionLink("Credit Agreement", "LoanCreditAgreementListRptv", "LoanReport", new { area = "LoanMod" }, null)
                </li>
            </ul>
        </li>
    </ul>
</li>
