@if (User.IsInRole("Net Salary"))
{
    <li>
        <a href="#" title="Net Salary"><span class="menu-item-parent">Net Salary</span></a>
        <ul>
            @if (User.IsInRole("Net Salary Pre Funding"))
            {
                <li>
                    <a href="#" title="Net Salary"><span class="menu-item-parent">Pre Funding</span></a>
                    <ul>
                        @if (User.IsInRole("Net Salary Pre Funding Confirm"))
                        {
                            <li class="@Html.RouteIf("ConfirmNetSalary", "active")">
                                <a href="@Url.Action("ConfirmNetSalary", "NetSalary", new { area = "IFMISTZ" })"><span class="menu-item-parent">Confirm</span></a>
                            </li>
                        }
                        @if (User.IsInRole("Net Salary Pre Funding Approve"))
                        {
                            <li class="@Html.RouteIf("ApproveNetSalary", "active") ">
                                <a href="@Url.Action("ApproveNetSalary", "NetSalary", new { area = "IFMISTZ" })"><span class="menu-item-parent">Approval</span></a>
                            </li>
                        }
                    </ul>
                </li>
            }
            @if (User.IsInRole("Net Salary Net Paylist"))
            {
                <li>
                    <a href="#" title="Net Salary"><span class="menu-item-parent">Net Paylist</span></a>
                    <ul>
                        @if (User.IsInRole("Net Salary Net Paylist Verify"))
                        {
                            <li class="@Html.RouteIf("VerifyNetSalary", "active") ">
                                <a href="@Url.Action("VerifyNetSalary", "NetSalary", new { area = "IFMISTZ" })"><span class="menu-item-parent">Verification</span></a>
                            </li>
                        }
                        @if (User.IsInRole("Net Salary Net Paylist Approve"))
                        {
                            <li class="@Html.RouteIf("ApproveNetPaylist", "active")">
                                <a href="@Url.Action("ApproveNetPaylist", "NetSalary", new { area = "IFMISTZ" })"><span class="menu-item-parent">Approval</span></a>
                            </li>
                        }
                        @if (User.IsInRole("Net Salary Net Paylist Submit"))
                        {
                            <li class="@Html.RouteIf("SubmissionNetSalary", "active")">
                                <a href="@Url.Action("SubmissionNetSalary", "NetSalary", new { area = "IFMISTZ" })"><span class="menu-item-parent">Submission</span></a>
                            </li>
                        }
                    </ul>
                </li>
            }

            <li class="@Html.RouteIf("MissingNetSalary", "active") ">
                <a href="@Url.Action("MissingNetSalary", "NetSalary", new { area = "IFMISTZ" })"><span class="menu-item-parent">Missing</span></a>
            </li>
        </ul>
    </li>
}