@if (User.IsInRole("Payroll Processing") || true)
{
<li class="@Html.RouteIf("", "active")">

    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">Payroll</span></a>
    <ul>
        <li class="@Html.RouteIf(" ", " active")">
            <a href="#">Wagebill</a>
            <ul>
                @if (!User.IsInRole("Process Payroll"))
                {
                    <li class="@Html.RouteIf("WagebillSummaryList", "active" )">
                        <a href="@Url.Action("WagebillSummaryList", "WageBill" , new { area="PAYROLLS" })">Wagebill Summary</a>
                    </li>
                }
                <li class="@Html.RouteIf("WagebillFundRequisition", "active" )">
                    <a href="@Url.Action("WagebillFundRequisition","WageBill" , new { area="PAYROLLS" })">Fund Requisition</a>
                </li>
                <li class="@Html.RouteIf("WagebillFundRequisitionTracker", "active" )">
                    <a href="@Url.Action("WagebillFundRequisitionTracker","WageBill" , new { area="PAYROLLS" })">Fund Requisition Tracker</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf(" ", " active")">
            @*<a href="#" title="Wagebill"><i class="fa fa-lg fa-fw fa-usd"></i> <span class="menu-item-parent">Paylist</span></a>*@
            <a href="#">PayList</a>
            <ul>
                @if (!User.IsInRole("Process Payroll"))
                {
                <li class="@Html.RouteIf("PaylistSummary", "active" )">
                    <a href="@Url.Action("PaylistSummary", "WageBill" , new { area="PAYROLLS" })">Paylist Summary</a>
                </li>
                }
            </ul>
        </li>
        <li class="@Html.RouteIf(" ", " active")">
            <a href="#">Deductions</a>
            <ul>

                @if (!User.IsInRole("Process Payroll"))
                {
                <li class="@Html.RouteIf("DeductionSummary", "active" )">
                    <a href="@Url.Action("DeductionSummary", "WageBill" , new { area="PAYROLLS" })">Deduction Summary</a>
                </li>
                }
            </ul>
        </li>


        <li class="@Html.RouteIf(" ", " active")">
            <a href="#">Unpaid Salary</a>
            <ul>

                @if (!User.IsInRole("Process Payroll"))
                {
                <li class="@Html.RouteIf("UnpaidPaymentSummaryList", "active" )">
                    <a href="@Url.Action("UnpaidPaymentSummaryList", "UnpaidPaymentSummary" , new { area="IFMISTZ" })">Entry</a>
                </li>
                }

                @if (!User.IsInRole("Process Payroll"))
                {
                <li class="@Html.RouteIf("UnpaidSalaryConfirmationList","active" )">
                    <a href="@Url.Action("UnpaidSalaryConfirmationList", "UnpaidPaymentSummary" , new { area="IFMISTZ" })">Sent To Acgen</a>
                </li>
                }

                @if (!User.IsInRole("Process Payroll"))
                {
                <li class="@Html.RouteIf("UnpaidPaymentSummaryTrackerList","active" )">
                    <a href="@Url.Action("UnpaidPaymentSummaryTrackerList", "UnpaidPaymentSummaryTracker" , new { area="IFMISTZ" })">Tracker</a>
                </li>
                }

                @if (User.IsInRole("Unpaid Salary Transfer"))
                {
                <li class="@Html.RouteIf("TranferUnpaid", "active" ) || @Html.RouteIf("UploadAtSourcePayment", "active" )">
                    <a href="@Url.Action("TranferUnpaid", "UnpaidSalary" , new { area="IFMISTZ" })">Transfer Fund</a>
                </li>
                }
            </ul>
        </li>




        <li class="@Html.RouteIf(" ", " active")">
            <a href="#">Reports</a>
            <ul>

                @if (!User.IsInRole("Process Payroll"))
                {
                <li class="@Html.RouteIf(" StatutorySummary", "active" )">
                    <a href="@Url.Action(" StatutorySummary", "Reports" , new { area="PAYROLLS" })">Statutory Summary</a>
                </li>

                <li class="@Html.RouteIf(" StatutoryDetail", "active" )">
                    <a href="@Url.Action(" StatutoryDetail", "Reports" , new { area="PAYROLLS" })">Statutory Detail</a>
                </li>

                <li class="@Html.RouteIf(" PSAFSummaryByVote", "active" )">
                    <a href="@Url.Action(" PSAFSummaryByVote", "Reports" , new { area="PAYROLLS" })">PSAF Summary By Vote</a>
                </li>

                <li class="@Html.RouteIf(" DeductionsSummaryByVote", "active" )">
                    <a href="@Url.Action(" DeductionsSummaryByVote", "Reports" , new { area="PAYROLLS" })">Deduction Summary By Vote</a>
                </li>

                <li class="@Html.RouteIf(" StatutorySubTreasuryGrossBalance", "active" )">
                    <a href="@Url.Action(" StatutorySubTreasuryGrossBalance", "Reports" , new { area="PAYROLLS" })">Statutory Gross Balance</a>
                </li>

                <li class="@Html.RouteIf(" StatutorySubTreasuryCouncilBalance", "active" )">
                    <a href="@Url.Action(" StatutorySubTreasuryCouncilBalance", "Reports" , new { area="PAYROLLS" })">Statutory Council Balance</a>
                </li>

                <li class="@Html.RouteIf(" PAYESummary", "active" )">
                    <a href="@Url.Action(" PAYESummary", "Reports" , new { area="PAYROLLS" })">PAYE Summary</a>
                </li>

                <li class="@Html.RouteIf(" ExchequerDetailReport", "active" )">
                    <a href="@Url.Action(" ExchequerDetailReport", "Reports" , new { area="PAYROLLS" })">Exchequer Detail</a>
                </li>

                <li class="@Html.RouteIf(" ExchequerDetailReportIndPara", "active" )">
                    <a href="@Url.Action(" ExchequerDetailReportIndPara", "Reports" , new { area="PAYROLLS" })">Exchequer Independent Parastatal</a>
                </li>

                <li class="@Html.RouteIf(" ExchequerDetailReportMinPara", "active" )">
                    <a href="@Url.Action(" ExchequerDetailReportMinPara", "Reports" , new { area="PAYROLLS" })">Exchequer Ministry Parastatal</a>
                </li>

                <li class="@Html.RouteIf(" ExchequerDetailReportCouncil", "active" )">
                    <a href="@Url.Action(" ExchequerDetailReportCouncil", "Reports" , new { area="PAYROLLS" })">Exchequer Council</a>
                </li>

                <li class="@Html.RouteIf(" PayrollExchequerBalanceRPTv", "active" )">
                    <a href="@Url.Action(" PayrollExchequerBalanceRPTv", "Reports" , new { area="PAYROLLS" })">Payroll Exchequer Balance</a>
                </li>

                }
            </ul>
        </li>
    </ul>
</li>
}
