@*<option>--Select Payment Category--</option>
@if (ViewBag.sourceModuleList != null)
{
    foreach (var item in ViewBag.sourceModuleList)
    {
        <option value="@item.Value.ToUpper()">@item.Text.ToUpper()</option>
    }
    <option>ALL</option>
}*@


@if (Enumerable.Count(ViewBag.report) > 1)
{
<option value="">-- Select Payment Category --</option>
    <option value="ALL">ALL</option>
    foreach (var item in ViewBag.report)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}

else
{
<option value="">-- Select Payment Category --</option>
    if (ViewBag.report != null)
    {
        foreach (var item in ViewBag.report)
        {
            <option value="@item.Value"> @item.Text </option>
        }

    }
}