             
<li class="@Html.RouteIf("element", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">Payroll Management</span></a>
    <ul>
        <li>
            @if (!User.IsInRole("Data Settings") || !User.IsInRole("Administrator"))
            {
            <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent"> System Settings </span></a>
            <ul>
                <li class="@Html.RouteIf("CompanyList", "active")">
                    <a href="@Url.Action("CompanyList", "Companies", new { area = "PayrollManagement" })"> Company </a>
                </li>
                <li class="@Html.RouteIf("DepartmentList", "active") || @Html.RouteIf("CreateDepartment", "active") || @Html.RouteIf("DepartmentDetails", "active") || @Html.RouteIf("EditDepartment", "active")">
                    <a href="@Url.Action("DepartmentList", "Departments", new { area = "PayrollManagement" })"> Department </a>
                </li>
                <li class="@Html.RouteIf("PaymentCodeList", "active") || @Html.RouteIf("CreatePaymentCode", "active") || @Html.RouteIf("PaymentCodeDetails", "active") || @Html.RouteIf("EditPaymentCode", "active")">
                    <a href="@Url.Action("PaymentCodeList", "PaymentCodes", new { area = "PayrollManagement" })"> Allowance </a>
                </li>
                <li class="@Html.RouteIf("PositionList", "active") || @Html.RouteIf("CreatePosition", "active") || @Html.RouteIf("PositionDetails", "active") || @Html.RouteIf("EditPosition", "active")">
                    <a href="@Url.Action("PositionList", "Positions", new { area = "PayrollManagement" })"> Position </a>
                </li>
                <li class="@Html.RouteIf("DeductionCodeList", "active") || @Html.RouteIf("CreateDeductionCode", "active") || @Html.RouteIf("DeductionCodeDetails", "active") || @Html.RouteIf("EditDeductionCode", "active")">
                    <a href="@Url.Action("DeductionCodeList", "DeductionCodes", new { area = "PayrollManagement" })"> Deduction Code </a>
                </li>
                <li class="@Html.RouteIf("JobCodeList", "active") || @Html.RouteIf("CreateJobCode", "active") || @Html.RouteIf("JobCodeDetails", "active") || @Html.RouteIf("EditJobCode", "active")">
                    <a href="@Url.Action("JobCodeList", "JobCodes", new { area = "PayrollManagement" })"> Job Code </a>
                </li>
                <li class="@Html.RouteIf("SalaryScaleList", "active") || @Html.RouteIf("CreateSalaryScale", "active") || @Html.RouteIf("SalaryScaleDetails", "active") || @Html.RouteIf("EditSalaryScale", "active")">
                    <a href="@Url.Action("SalaryScaleList", "SalaryScales", new { area = "PayrollManagement" })"> Salary Scale </a>
                </li>
                <li class="@Html.RouteIf("TaxTableList", "active")">
                    <a href="@Url.Action("TaxTableList", "TaxTable", new { area = "PayrollManagement" })"> Tax Table </a>
                </li>
                <li class="@Html.RouteIf("WorkStationList", "active") || @Html.RouteIf("Workstationedit", "active")">
                    <a href="@Url.Action("WorkStationList", "WorkStation", new { area = "PayrollManagement" })"> WorkStation </a>
                </li>
                <li class="@Html.RouteIf("PayStatusList", "active") || @Html.RouteIf("Paystatusentry", "active")">
                    <a href="@Url.Action("PayStatusList", "PayStatus", new { area = "PayrollManagement" })">Pay Status</a>
                </li>
                <li class="@Html.RouteIf("JobSalaryList", "active") || @Html.RouteIf("JobSalaryEntry", "active")">
                    <a href="@Url.Action("JobSalaryList", "JobSalary" , new { area = "PayrollManagement" })">Job Salary</a>
                </li>
                @*<li class="@Html.RouteIf("EducationalLevelList", "active")">
                    <a href="@Url.Action("EducationalLevelList", "EducationalLevel" , new { area = "PayrollManagement" })">Education Level</a>
                </li>
                <li class="@Html.RouteIf("EducationSubLevelList", "active") || @Html.RouteIf("educationsublevelentry", "active") || @Html.RouteIf("educationsubleveledit", "active")">
                    <a href="@Url.Action("EducationSubLevelList", "EducationSubLevel", new { area = "PayrollManagement" })">Education Sub Level</a>
                </li>*@
                <li class="@Html.RouteIf("JobCodePaymentCodeList", "active") || @Html.RouteIf("CreateJobCodePaymentCode", "active") || @Html.RouteIf("editjobcodepaymentcode", "active") ">
                    <a href="@Url.Action("JobCodePaymentCodeList", "EarningJobCodeMaps", new { area = "PayrollManagement" })">Allowance Amount</a>
                </li>
                @*<li class="@Html.RouteIf("JobCodePaymentCodeManualList", "active") || @Html.RouteIf("JobCodePaymentCodeManual", "active") || @Html.RouteIf("editjobcodepaymentcodemanual", "active")">
                    <a href="@Url.Action("JobCodePaymentCodeManualList", "EarningJobCodeMaps", new { area = "PayrollManagement" })">Job-Code Payment-Code Manual</a>
                </li>*@
                <li class="@Html.RouteIf("VendorList", "active") || @Html.RouteIf("VendorDetails", "active") || @Html.RouteIf("", "active")">
                    <a href="@Url.Action("VendorList", "Vendors", new { area = "PayrollManagement" })">Vendor</a>
                </li>
            </ul>
           }
        </li>
        @if (!User.IsInRole("Data Entry") || !User.IsInRole("Administrator"))
                {
        <li class="@Html.RouteIf("Countries", "")">
            <a href="#"><i class="fa fa-lg fa-fw fa-plus-square"></i> <span class="menu-item-parent"> Data Entry </span></a>
            <ul>
                @if (!User.IsInRole("Create Employee"))
                {
                    <li class="@Html.RouteIf("NewEmployeeList", "active") || @Html.RouteIf("newemployee", "active") || @Html.RouteIf("employeedetails", "active") || @Html.RouteIf("editemployee", "active")">
                        <a href="@Url.Action("NewEmployeeList", "Employees", new { area = "PayrollManagement" })"> New Hire </a>
                    </li>
                }
                @if (!User.IsInRole("Create Earnings"))
                {
                    <li class="@Html.RouteIf("AutomaticEarningsNewList", "active") || @Html.RouteIf("createemployeeallowance", "active") || @Html.RouteIf("editearningentry", "active")">
                        <a href="@Url.Action("AutomaticEarningsNewList", "AutomaticEarnings",new { area = "PayrollManagement" })"> Earnings </a>
                    </li>
                }
                @if (!User.IsInRole("Create Deduction"))
                {
                    <li class="@Html.RouteIf("DeductionList", "active") || @Html.RouteIf("editdeduction", "active") ||   @Html.RouteIf("creatededuction", "active")">
                        <a href="@Url.Action("DeductionList", "Deduction",new { area = "PayrollManagement" })"> Deduction </a>
                    </li>
                }
                @if (!User.IsInRole("Amend Employee"))
                {
                    <li class="@Html.RouteIf("EmployeeAmendNewList", "active")  || @Html.RouteIf("amendemployee", "active") " style="background:#ffffff">
                        <a href="@Url.Action("EmployeeAmendNewList", "Employees",new { area = "PayrollManagement" })"> Amend Employee </a>
     
                    </li>
                }
                @if (!User.IsInRole("Amend Earning"))
                {
                    <li class="@Html.RouteIf("EarningsList", "active") || @Html.RouteIf("EarningEntryAmend", "active") || @Html.RouteIf("EmployeeEarningsAmendEdit", "active")">
                        <a href="@Url.Action("EarningsList", "AutomaticEarnings",new { area = "PayrollManagement" })">Amend Earning</a>
                    </li>
                }
                @if (!User.IsInRole("Amend Deduction"))
                {
                    <li class="@Html.RouteIf("AmendDeductionsNew2", "active")">
                        <a href="@Url.Action("AmendDeductionsNew2", "Deduction",new { area = "PayrollManagement" })">Amend Deduction</a>
                    </li>
                }
                @if (!User.IsInRole("Amend Deduction"))
                {
                    <li class="@Html.RouteIf("ArreasList", "active")">
                        <a href="@Url.Action("ArreasList", "Arreas",new { area = "PayrollManagement" })"> Arreas </a>
                    </li>
                }
                @if (!User.IsInRole(""))
                {
                    <li>
                        <a href="#"><span class="menu-item-parent"> Parsonel Action </span></a>
                        <ul>
                            @if (!User.IsInRole("Change Status"))
                            {
                                <li class="@Html.RouteIf("EmployeeList", "active")">
                                    <a href="@Url.Action("PersonelEmployeList", "Employees",new { area = "PayrollManagement" })"> Change Status </a>
                                </li>
                            }
                            @if (!User.IsInRole("Change CheckNumber"))
                            {
                                <li class="@Html.RouteIf("EmployeeList", "active")">
                                    <a href="@Url.Action("PersonelEmployeList", "Employees",new { area = "PayrollManagement" })"> Change CheckNumber </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
        }
        @if (!User.IsInRole("Data Approval") || !User.IsInRole("Administrator"))
        {
        <li class="@Html.RouteIf("zone", "")">
            <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-thumbs-up"></i><span class="menu-item-parent">Data Approval</span></a>
            <ul>
                @if (!User.IsInRole("Approve Employees"))
                {
                <li>
                    <a href="#"><span class="menu-item-parent">New Hire</span></a>
                    <ul>
                        <li class="@Html.RouteIf("EmployeeConfirmedNewList", "active") || @Html.RouteIf("EmployeeConfirmDetails", "active")" style="background:#ffffff">
                            <a href="@Url.Action("EmployeeConfirmedNewList", "Employees",new { area = "PayrollManagement" })">Confirmed</a>
                        </li>
                        <li class="@Html.RouteIf("EmployeeApprovedNewList", "active") || @Html.RouteIf("EmployeeApproveDetails", "active")" style="background:#ffffff">
                            <a href="@Url.Action("EmployeeApprovedNewList", "Employees",new { area = "PayrollManagement" })">Approved</a>
                        </li>
                    </ul>
                </li>
                }
                @if (!User.IsInRole("Approve Earnings"))
                {
                <li>
                    <a href="#"><span class="menu-item-parent">Eanings</span></a>
                    <ul>
                        <li class="@Html.RouteIf("AutomaticEmployeeEarningsConfirmedList", "active") || @Html.RouteIf("AutomaticEmployeeEarningsConfirmedList", "active")">
                            <a href="@Url.Action("AutomaticEmployeeEarningsConfirmedList", "AutomaticEarnings")">Confirmed</a>
                        </li>
                        <li class="@Html.RouteIf("AutomaticEmployeeEarningsApprovalNewList", "active")">
                            <a href="@Url.Action("AutomaticEmployeeEarningsApprovalNewList", "AutomaticEarnings")">Approved</a>
                        </li>
                    </ul>
                </li>
                 }
                @if (!User.IsInRole("Approve Deduction"))
                {
                <li>
                    <a href="#"><span class="menu-item-parent">Deduction</span></a>
                    <ul>
                        <li class="@Html.RouteIf("ConfirmedDeductionList", "active")">
                            <a href="@Url.Action("ConfirmedDeductionList", "Deduction",new { area = "PayrollManagement" })">Confirmed</a>
                        </li>
                        
                        <li class="@Html.RouteIf("ApproveDeduction", "active")">
                            <a href="@Url.Action("ConfirmedDeductionList", "Deduction",new { area = "PayrollManagement" })">Approved</a>
                        </li>
                    </ul>
                </li>
                }
                 @if (!User.IsInRole("Approve Amend Employee"))
                {
                <li>
                    <a href="#"><span class="menu-item-parent"> Amend Employee </span></a>
                    <ul>
                        <li class="@Html.RouteIf("AmendEmployeeApprovalNewList", "active") || @Html.RouteIf("AmendEmployeeApprovalNewList", "active")">
                            <a href="@Url.Action("AmendEmployeeApprovalNewList", "Employees")">Confirmed</a>
                        </li>
                        <li class="@Html.RouteIf("AmendEmployeeApprovedNewList", "active")">
                            <a href="@Url.Action("AmendEmployeeApprovedNewList", "Employees")">Approved</a>
                        </li>
                    </ul>
                </li>
                }
                @if (!User.IsInRole("Approve Amend Earning"))
                {
                 <li>
                    <a href="#"><span class="menu-item-parent"> Amend Earning </span></a>
                    <ul>
                        <li class="@Html.RouteIf("EarningsAmendConfirmedList", "active") || @Html.RouteIf("EarningsAmendConfirmedList", "active")">
                            <a href="@Url.Action("EarningsAmendConfirmedList", "AutomaticEarnings")">Confirmed</a>
                        </li>
                        <li class="@Html.RouteIf("EmployeeEarningsAmendApprovalList", "active")">
                            <a href="@Url.Action("EmployeeEarningsAmendApprovalList", "AutomaticEarnings")">Approved</a>
                        </li>
                    </ul>
                 </li>
                }
                @if (!User.IsInRole("Approve Amend Deduction"))
                {
                <li>
                    <a href="#"><span class="menu-item-parent">Amend Deduction</span></a>
                    <ul>
                        <li class="@Html.RouteIf("ConfirmedAmendDeductionList", "active") || @Html.RouteIf("ConfirmedAmendDeductionList", "active")">
                            <a href="@Url.Action("ConfirmedAmendDeductionList", "Deduction")">Confirmed</a>
                        </li>
                        <li class="@Html.RouteIf("ApproveAmendDeduction", "active")">
                            <a href="@Url.Action("ApproveAmendDeduction", "Deduction")">Approved</a>
                        </li>
                    </ul>
                </li>
                }
                @if (!User.IsInRole("Approve Amend Earning"))
                {
                <li>
                    <a href="#"><span class="menu-item-parent">Arrears </span></a>
                    <ul>
                        <li class="@Html.RouteIf("EmployeeArrearsConfirmedList", "active") || @Html.RouteIf("EmployeeArrearsConfirmedList", "active")">
                            <a href="@Url.Action("EmployeeArrearsConfirmedList", "Arreas")">Confirmed</a>
                        </li>
                        <li class="@Html.RouteIf("EmployeeArrearsApprovedList", "active")">
                            <a href="@Url.Action("EmployeeArrearsApprovedList", "Arreas")">Approved</a>
                        </li>
                    </ul>
                </li>
             }
            </ul>
        </li>
       }
        @if (!User.IsInRole("Payroll Processing") || !User.IsInRole("Administrator"))
                {
        <li class="@Html.RouteIf("dolar", "")">
            <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Payroll Process</span></a>
            <ul>
                <li class="@Html.RouteIf("CreateJob", "active")" style="background:#ffffff">
                    <a href="@Url.Action("Createjob","PayrollJobs", new { area="PayrollManagement" })"> Processing</a>
                </li>
                <li class="@Html.RouteIf("PayrollSummary", "active")" style="background:#ffffff">
                    <a href="@Url.Action("PayrollSummary","PayrollJobs", new { area="PayrollManagement" })"> Confirmation</a>
                </li>
                <li class="@Html.RouteIf("PaymentBatch", "active" ) || @Html.RouteIf("PaymentBatchVerificationDetails", "active" )" style="background:#ffffff">
                    <a href="@Url.Action("PaymentBatch","PayrollJobs", new { area="PayrollManagement" })"> Submission </a>
                </li>
                
            </ul>
        </li>
        }
        @if (!User.IsInRole("Payroll Submission") || !User.IsInRole("Administrator"))
        {
            <li class="@Html.RouteIf("dolar", "")">
            <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Deduction Pay </span></a>
            <ul>
                <li class="@Html.RouteIf("DeductionLoanSummary", "active" ) || @Html.RouteIf("DeductionLoanDetail", "active" )" style="background:#ffffff">
                    <a href="@Url.Action("DeductionLoanSummary","Deduction", new { area="PayrollManagement" })">Pending</a>
                </li>
                <li class="@Html.RouteIf("SubmittedDeductionSummary", "active" ) || @Html.RouteIf("DeductionLoanDetail", "active" )" style="background:#ffffff">
                    <a href="@Url.Action("SubmittedDeductionSummary","Deduction", new { area="PayrollManagement" })">Submitted </a>
                </li>
            </ul>
            </li>
        }
        @if (!User.IsInRole("Reports") || !User.IsInRole("Administrator"))
        {
        <li class="@Html.RouteIf("Reports", "Active")">
            <a href="#" title="Payroll Reports"><i class="fa fa-lg fa-fw fa-folder"></i><span class="menu-item-parent"> Payroll Reports </span></a>
            <ul>
                @if (!User.IsInRole("Monthly WageBill Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("MonthlyWageBillRpt", "active")">
                        <a href="@Url.Action("MonthlyWageBillRpt", "Reports")">Wage Bill</a>
                    </li>
                }
                @if (!User.IsInRole("Monthly Payment Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("MonthlyPaymentRpt", "active")">
                        <a href="@Url.Action("MonthlyPaymentRpt", "Reports")">Geftp List</a>
                    </li>
                }
                @if (!User.IsInRole("Cash Pay List Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("CashPayListRpt", "active")">
                        <a href="@Url.Action("CashPayListRpt", "Reports")">Cash Pay List</a>
                    </li>
                }
                @if (!User.IsInRole("Bank Pay List Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("BankPayListRpt", "active")">
                        <a href="@Url.Action("BankPayListRpt", "Reports")">Bank Pay List</a>
                    </li>
                }
                @if (!User.IsInRole("Deductions Detail Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("DeductionsDetailListRpt", "active")">
                        <a href="@Url.Action("DeductionsDetailListRpt", "Reports")">Deductions Details</a>
                    </li>
                }
                @if (!User.IsInRole("Deductions Summary Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("DeductionsSummaryListRpt", "active")">
                        <a href="@Url.Action("DeductionsSummaryListRpt", "Reports")">Deductions Summary</a>
                    </li>
                }
                @if (!User.IsInRole("Pay Slip Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("PaySlipRpt", "active")">
                        <a href="@Url.Action("PaySlipRpt", "Reports")">Pay Slip</a>
                    </li>
                }
                @if (!User.IsInRole("Pay Slip List Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("PaySlipListRpt", "active")">
                        <a href="@Url.Action("PaySlipListRpt", "Reports")">Pay Slip List</a>
                    </li>
                }
                @if (!User.IsInRole("Monthly Pay List Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("MonthlyPayListRpt", "active")">
                        <a href="@Url.Action("MonthlyPayListRpt", "Reports")">Monthly Payroll</a>
                    </li>
                }
                @if (!User.IsInRole("Vendor Statement Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("VendorStatementRpt", "active")">
                        <a href="@Url.Action("VendorStatementRpt", "Reports")">Vendor Statement</a>
                    </li>
                }
                @if (!User.IsInRole("Payroll Summary By Job Code Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("PayrollSummaryByJobCodeRpt", "active")">
                        <a href="@Url.Action("PayrollSummaryByJobCodeRpt", "Reports")">Payroll Summary By Job Code </a>
                    </li>
                    <li class="@Html.RouteIf("PayrollDetailByJobCodeRpt", "active")">
                        <a href="@Url.Action("PayrollDetailByJobCodeRpt", "Reports")">Payroll Detail By Job Code </a>
                    </li>
                }
                @if (!User.IsInRole("Employee Education Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("EmployeeEducationListRpt", "active")">
                        <a href="@Url.Action("EmployeeEducationListRpt", "Reports")">Employee Education Report </a>
                    </li>
                }

                @if (!User.IsInRole("Employment Status Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("EmployeeStatusRpt", "active")">
                        <a href="@Url.Action("EmployeeStatusRpt", "Reports")">Employment Status Report </a>
                    </li>
                }
                @*@if (!User.IsInRole("Employment Status Report") || !User.IsInRole("Administrator"))
                {
                    <li class="@Html.RouteIf("EmployersGratuityRptv", "active" )">
                        @Html.ActionLink("Employers Gratuity", "EmployersGratuityRptv", "Reports", new { area = "PAYROLLS" }, null)
                    </li>
                    <li class="@Html.RouteIf("EmployersContributionRptv", "active" )">
                        @Html.ActionLink("Employers Contribution", "EmployersContributionRptv", "Reports", new { area = "PAYROLLS" }, null)
                    </li>
                    <li class="@Html.RouteIf("EmployersContributionReconRptv", "active" )">
                        @Html.ActionLink("Employers Contribution Recon", "EmployersContributionReconRptv", "Reports", new { area = "PAYROLLS" }, null)
                    </li>
                    <li class="@Html.RouteIf("EmployersContributionReconSummaryRptv", "active" )">
                        @Html.ActionLink("Employers Contribution Recon Summary", "EmployersContributionReconSummaryRptv", "Reports", new { area = "PAYROLLS" }, null)
                    </li>
                }*@
            </ul>
        </li>
       }
        @if (!User.IsInRole("User Manager") || !User.IsInRole("Administrator"))
       {
        <li class="@Html.RouteIf("Manage", "")">
            <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">User Management</span></a>
            <ul style="background-color: #fff">
                <li class="@Html.RouteIf("Users", "active") || @Html.RouteIf("UserDetails", "active") || @Html.RouteIf("EditUser", "active") || @Html.RouteIf("AdminResetPassword", "active")">
                    @Html.ActionLink("Users", "Users", "Manage")
                </li>
                <li class="@Html.RouteIf("ApplicationRoles", "active")">
                    @Html.ActionLink("Roles", "ApplicationRoles", "ApplicationRoles")
                </li>
            </ul>
        </li>
      }
        @if (!User.IsInRole("User") || !User.IsInRole("Administrato"))
        {
        <li class="@Html.RouteIf("Manage", "")">
            <a href="#" title="Manage"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Preview</span></a>
            <ul style="background-color: #fff">
                <li class="@Html.RouteIf("EmployeeMasterDetails", "active")">
                    @Html.ActionLink("EmployeeMasterDetails", "EmployeeMasterDetails", "Employees")
                </li>
            </ul>
        </li>
        }
    </ul>
</li>
