<li class="@Html.RouteIf("", "")">
    <a href="#">Payment Approvals</a>
    <ul>
        @*@if (User.IsInRole("Direct Fund Entry"))
            {*@
        <li class="@Html.RouteIf("EOffice", "active") || @Html.RouteIf("EOfficeDetails", "active")">
            <a href="@Url.Action("EOffice", "DfundApprovals", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> All</a>
        </li>
        @*}
            @if (User.IsInRole("Direct Fund Approval"))
            {*@
        @*<li class="@Html.RouteIf("DFund", "active")">
                <a href="@Url.Action("DFund", "DfundApprovals", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> D-Fund</a>
            </li>*@
        @*}*@
    </ul>
</li>

