@model IFMIS.Areas.IFMISTZ.Models.PostingTrackerReportVM

<link href="@Server.MapPath("~/Content/css/bootstrap.min.css")" rel="stylesheet" />

<style>
    table {
        border-collapse: collapse;
    }

    table, thead, tr, th, tbody, td, tfoot {
        border: 1px solid black;
    }
</style>

<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px">
    <div style="border-bottom: 1px dotted black; text-align: center">
        <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="100" height="100" />

        <div style="padding-top: 20px">
            United Republic of Tanzania
        </div>
        <div style="padding-top: 10px">
            <b>Posting Tracker Report for @Model.ServerName Server</b>
        </div>
        <div style="padding-top:10px; padding-bottom: 20px">
            From @Html.DisplayFor(model => model.FyStartDate, "_ShortDateTime") to @DateTime.Now.ToString("dd MMM yyyy")
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-12">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Institution Code</th>
                        <th>Institution Name</th>
                        <th>Debit Trxs</th>
                        <th>Credit Trxs</th>
                        <th>Debit Operation Amount</th>
                        <th>Credit Operation Amount</th>
                        <th>Difference Operation Amount</th>
                        <th>Debit Base Amount</th>
                        <th>Credit Base Amount</th>
                        <th>Difference Base Amount</th>
                    </tr>
                </thead>

                @{
                    int i = 0;
                }
                <tbody>
                    @foreach (var item in Model.PostingTrackerVMs.OrderByDescending(a => a.TotalDiffOperationalAmount))
                    {
                        i++;
                        <tr style="page-break-inside: avoid">
                            <td>@i</td>
                            <td>@item.InstitutionCode</td>
                            <td>@item.InstitutionName</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.DebitTrx, "_IntThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.CreditTrx, "_IntThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.DebitOperationalAmount, "_DecimalThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.CreditOperationalAmount, "_DecimalThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.TotalDiffOperationalAmount, "_DecimalThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.DebitBaseAmount, "_DecimalThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.CreditBaseAmount, "_DecimalThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.TotalDiffBaseAmount, "_DecimalThousands")</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-12" style="text-align: center">
            Mfumo wa Uhasibu Serikalini © @DateTime.Now.Year All Rights Reserved (MUSE)
        </div>
    </div>
</div>
