@if ((User.IsInRole("Local Purchase Entry")) || (User.IsInRole("Local Purchase Examiner")) || (User.IsInRole("Local Purchase Approval")) || (User.IsInRole("Contract Entry")) || (User.IsInRole("Contract Examiner")) || (User.IsInRole("Contract Approval")) || (User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")) || (User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")) || (User.IsInRole("Inventory Info Entry")) || (User.IsInRole("Inventory Info Approval")) || (User.IsInRole("Inventory Issuing")) || (User.IsInRole("Inventory Issuing Approval")) || (User.IsInRole("Asset Info Entry")) || (User.IsInRole("Asset Info Approval")) || (User.IsInRole("Asset Distribute")) || (User.IsInRole("Asset Distribute Approval")) || (User.IsInRole("Contract Ceiling Entry")) || (User.IsInRole("Contract Ceiling Approval")))
                {
    //Purchase
<li class="@Html.RouteIf("element", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">Purchasing</span></a>
    <ul>
        @if ((User.IsInRole("Local Purchase Entry")) || (User.IsInRole("Local Purchase Examiner")) || (User.IsInRole("Local Purchase Approval")))
        {
            <li class="@Html.RouteIf("CreatePurchaseOrder", "active")|| @Html.RouteIf("PurchaseOrders", "active")|| @Html.RouteIf("LPOExamination", "active")|| @Html.RouteIf("PreviewLPO", "active")|| @Html.RouteIf("PreviewPurchaseOrder", "active")  || @Html.RouteIf("LPOApprove", "active") || @Html.RouteIf("ApprovedLPO", "active")|| @Html.RouteIf("Items", "active")|| @Html.RouteIf("EditPurchaseOrder", "active")|| @Html.RouteIf("ReceavingItems", "active")|| @Html.RouteIf("ReceivingList", "active")|| @Html.RouteIf("ApproveReceivings", "active") || @Html.RouteIf("PreviewReceiving", "active")|| @Html.RouteIf("TrackLPO", "active") || @Html.RouteIf("ReceivingTracker", "active")">
                <a href="#">Local Purchase Order</a>
                <ul>

                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Issuing</a>
                        <ul>
                            @if (User.IsInRole("Local Purchase Entry"))
                            {

                                <li class="@Html.RouteIf("PurchaseOrders", "active") || @Html.RouteIf("CreatePurchaseOrder", "active") || @Html.RouteIf("EditPurchaseOrder", "active")
                                    || @Html.RouteIf("PurchaseItems", "active") || @Html.RouteIf("AssignGLAccount", "active") || @Html.RouteIf("AttachmentEntry", "active")">
                                    <a href="@Url.Action("PurchaseOrders", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                                </li>

                            }
                            @if (User.IsInRole("Local Purchase Examiner"))
                            {
                                <li class="@Html.RouteIf("LPOExamination", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("LPOExamination", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
                                </li>
                            }

                            @if (User.IsInRole("Local Purchase Approval"))
                            {

                                <li class="@Html.RouteIf("LPOApprove", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("LPOApprove", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approve</a>
                                </li>
                                <li class="@Html.RouteIf("ApprovedLPO", "active") || @Html.RouteIf("AttachmentView", "active") || @Html.RouteIf("PurchaseOrderModuleRpTv", "active")">
                                    <a href="@Url.Action("ApprovedLPO", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approved</a>
                                </li>

                            }
                            @if (User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Examiner") || User.IsInRole("Local Purchase Approval"))
                            {
                                <li class="@Html.RouteIf("TrackLPO", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("TrackLPO", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> LPO Tracker</a>
                                </li>

                            }
                            @if (User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Examiner") || User.IsInRole("Local Purchase Approval"))
                            {
                                <li class="@Html.RouteIf("TrackSingleLPO", "active")">
                                    <a href="@Url.Action("TrackSingleLPO", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> LPO Details</a>
                                </li>

                            }
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Terminate</a>
                        <ul>
                            @if (User.IsInRole("Local Purchase Entry"))
                            {

                                <li class="@Html.RouteIf("TerminateLPO", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("TerminateLPO", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> LPOList</a>
                                </li>


                            }

                            @if (User.IsInRole("Local Purchase Approval"))
                            {

                                <li class="@Html.RouteIf("ApproveTermination", "active") || @Html.RouteIf("AttachmentView", "active") || @Html.RouteIf("PurchaseOrderModuleRpTv", "active")">
                                    <a href="@Url.Action("ApproveTermination", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approve</a>
                                </li>

                            }
                        </ul>
                    </li>

                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Receiving</a>
                        <ul>
                            @if (User.IsInRole("Local Purchase Entry"))
                            {

                                <li class="@Html.RouteIf("ReceivingList", "active") || @Html.RouteIf("ReceiveItems", "active") || @Html.RouteIf("AddInformation", "active") || @Html.RouteIf("AddInformation", "active") || @Html.RouteIf("EditInformation", "active")">
                                    <a href="@Url.Action("ReceivingList", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                                </li>


                            }
                            @if (User.IsInRole("Local Purchase Approval"))
                            {


                                <li class="@Html.RouteIf("ApproveReceivings", "active")|| @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("ApproveReceivings", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval </a>
                                </li>

                            }

                            @if (User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Examiner") || User.IsInRole("Local Purchase Approval"))
                            {
                                <li class="@Html.RouteIf("ReceivingTracker", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("ReceivingTracker", "Procurement", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>

                            }

                        </ul>
                    </li>


                </ul>
            </li>
        }
        @if ((User.IsInRole("Contract Entry")) || (User.IsInRole("Contract Examiner")) || (User.IsInRole("Contract Approval")) || (User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")) || (User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")) || (User.IsInRole("Contract Ceiling Entry")) || (User.IsInRole("Contract Ceiling Approval")))
        {
            <li class="@Html.RouteIf("CreateContract", "active")|| @Html.RouteIf("PendingContract", "active") || @Html.RouteIf("ExamineReceiving", "active") || @Html.RouteIf("ApproveContract", "active") || @Html.RouteIf("ApprovedContract", "active") || @Html.RouteIf("TrackContract", "active") || @Html.RouteIf("ContractVariation", "active") || @Html.RouteIf("PreviewContract", "active")|| @Html.RouteIf("PendingReceiving", "active") || @Html.RouteIf("ReceivingApproval", "active")|| @Html.RouteIf("ReceivingTracker", "active")|| @Html.RouteIf("ContractReceiving", "active") || @Html.RouteIf("ReceivingAttachment", "active") || @Html.RouteIf("ApproveVariation", "active") || @Html.RouteIf("PendingList", "active")|| @Html.RouteIf("ExamineList", "active") || @Html.RouteIf("AdvancePaymentApproval", "active") || @Html.RouteIf("AdvancePaymentTracker", "active")">
                <a href="#">Contract</a>
                <ul>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Registration</a>
                        <ul>
                            @if (User.IsInRole("Contract Entry"))
                            {
                                <li class="@Html.RouteIf("PendingContract", "active") || @Html.RouteIf("CreateContract", "active") || @Html.RouteIf("CreateContract", "active")|| @Html.RouteIf("PaymentSchedules", "active") || @Html.RouteIf("ContractItems", "active") || @Html.RouteIf("EditContract", "active") || @Html.RouteIf("AttachmentEntry", "active")">
                                    <a href="@Url.Action("PendingContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                                </li>
                            }
                            @if (User.IsInRole("Contract Examiner"))
                            {
                                <li class="@Html.RouteIf("ExamineContract", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("ExamineContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
                                </li>
                            }

                            @if (User.IsInRole("Contract Approval"))
                            {
                                <li class="@Html.RouteIf("ApproveContract", "active") || @Html.RouteIf("PreviewContract", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("ApproveContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve</a>
                                </li>
                                <li class="@Html.RouteIf("ApprovedContract", "active") || @Html.RouteIf("PreviewContract", "active") || @Html.RouteIf("AttachmentView", "active") || @Html.RouteIf("ContractSummaryModuleRptv", "active")">
                                    <a href="@Url.Action("ApprovedContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approved</a>
                                </li>
                            }

                            @if (User.IsInRole("Contract Entry") || User.IsInRole("Contract Examiner") || User.IsInRole("Contract Approval"))
                            {
                                <li class="@Html.RouteIf("TrackContract", "active") || @Html.RouteIf("PreviewContract", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("TrackContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>

                            }

                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Add New Account</a>
                        <ul>
                            @if (User.IsInRole("Contract Entry"))
                            {
                                <li class="@Html.RouteIf("ContractModification", "active") || @Html.RouteIf("AddNewAccount", "active")">
                                    <a href="@Url.Action("ContractModification", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                                </li>
                            }

                            @if (User.IsInRole("Contract Approval"))
                            {
                                <li class="@Html.RouteIf("ApproveModification", "active")">
                                    <a href="@Url.Action("ApproveModification", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve</a>
                                </li>

                            }
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Terminate</a>
                        <ul>
                            @if (User.IsInRole("Contract Entry"))
                            {
                                <li class="@Html.RouteIf("TerminateContract", "active") || @Html.RouteIf("PreviewContract", "active") || @Html.RouteIf("AttachmentEntry", "active")">
                                    <a href="@Url.Action("TerminateContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> List</a>
                                </li>
                            }

                            @if (User.IsInRole("Contract Approval"))
                            {
                                <li class="@Html.RouteIf("TerminationApproval", "active") || @Html.RouteIf("PreviewContract", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("TerminationApproval", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve</a>
                                </li>

                            }
                        </ul>
                    </li>

                    @*<li class="@Html.RouteIf("CertificateTermination", "active")">
            <a href="#"> Terminate</a>
            <ul>
                @if (User.IsInRole("Contract Entry"))
                {
                    <li class="@Html.RouteIf("PendingTermination", "active")) || @Html.RouteIf("AttachmentView", "active")">
                        <a href="@Url.Action("PendingTermination", "CertificateTermination", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                    </li>
                }

                @if (User.IsInRole("Contract Approval"))
                {
                    <li class="@Html.RouteIf("ApproveTermination", "active") || @Html.RouteIf("AttachmentView", "active")">
                        <a href="@Url.Action("ApproveTermination", "CertificateTermination", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve</a>
                    </li>
                }
                <li class="@Html.RouteIf("ContractTerminationTracker", "active") || @Html.RouteIf("AttachmentView", "active")">
                    <a href="@Url.Action("ContractTerminationTracker", "CertificateTermination", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
                </li>
            </ul>
        </li>*@



                    @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")) || (User.IsInRole("Contract Examiner")) || (User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"> Advance Payment</a>
                            <ul>
                                @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")))
                                {

                                    <li class="@Html.RouteIf("PendingList", "active" ) || @Html.RouteIf("Create", "active" ) || @Html.RouteIf("Edit", "active" ) || @Html.RouteIf("AttachmentEntry", "active" )">
                                        <a href="@Url.Action("PendingList", "AdvancePayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                                    </li>


                                }
                                @if (User.IsInRole("Contract Examiner"))
                                {
                                    <li class="@Html.RouteIf("ExamineList", "active" ) || @Html.RouteIf("AttachmentView", "active" )">
                                        <a href="@Url.Action("ExamineList", "AdvancePayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
                                    </li>
                                }
                                @if ((User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")))
                                {

                                    <li class="@Html.RouteIf("AdvancePaymentApproval", "active" ) || @Html.RouteIf("AttachmentView", "active" )">
                                        <a href="@Url.Action("AdvancePaymentApproval", "AdvancePayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                    </li>
                                    <li class="@Html.RouteIf("SetupList", "active" )">
                                        <a href="@Url.Action("SetupList", "AdvancePaymentSetups" , new { area="IFMISTZ" })"> Pct Setup</a>
                                    </li>

                                }
                                <li class="@Html.RouteIf("AdvancePaymentTracker", "active" ) || @Html.RouteIf("AttachmentView", "active" )">
                                    <a href="@Url.Action("AdvancePaymentTracker", "AdvancePayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>

                            </ul>
                        </li>
                    }
                    @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")) || (User.IsInRole("Contract Examiner")) || (User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"> Receiving</a>
                            <ul>
                                @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")))
                                {

                                    <li class="@Html.RouteIf("PendingReceiving", "active") || @Html.RouteIf("ReceivingEntry", "active") || @Html.RouteIf("SubContractReceiving", "active") || @Html.RouteIf("AddInformation", "active") || @Html.RouteIf("EditInformation", "active") || @Html.RouteIf("EditReceiving", "active")">
                                        <a href="@Url.Action("PendingReceiving", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                                    </li>

                                }
                                @if (User.IsInRole("Contract Examiner"))
                                {
                                    <li class="@Html.RouteIf("ExamineReceiving", "active") || @Html.RouteIf("AttachmentView", "active")">
                                        <a href="@Url.Action("ExamineReceiving", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
                                    </li>
                                }
                                @if ((User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")))
                                {

                                    <li class="@Html.RouteIf("ReceivingApproval", "active") || @Html.RouteIf("AttachmentView", "active")">
                                        <a href="@Url.Action("ReceivingApproval", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                    </li>

                                }

                                <li class="@Html.RouteIf("ReceivingTracker", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("ReceivingTracker", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>
                                <li class="@Html.RouteIf("TraceContract", "active")">
                                    <a href="@Url.Action("TraceContract", "Contract", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Trace</a>
                                </li>
                                <li class="@Html.RouteIf("TraceLD", "active")">
                                    <a href="@Url.Action("TraceLD", "LDPosting", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>LD Posting</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")) || (User.IsInRole("Contract Examiner")) || (User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"> Retention</a>
                            <ul>
                                @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")))
                                {

                                    <li class="@Html.RouteIf("PendingRetention", "active") || @Html.RouteIf("PaymentEntry", "active")">
                                        <a href="@Url.Action("PendingRetention", "Retention", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                                    </li>
                                }
                                @if (User.IsInRole("Contract Examiner"))
                                {
                                    <li class="@Html.RouteIf("ExamineRetention", "active") || @Html.RouteIf("AttachmentView", "active")">
                                        <a href="@Url.Action("ExamineRetention", "Retention", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
                                    </li>
                                }
                                @if ((User.IsInRole("Works Only Receiving Approval")) || (User.IsInRole("Except Works Receiving Approval")) || (User.IsInRole("All Contract Type Receiving Approval")))
                                {

                                    <li class="@Html.RouteIf("RetentionApproval", "active") || @Html.RouteIf("AttachmentView", "active")">
                                        <a href="@Url.Action("RetentionApproval", "Retention", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                    </li>

                                }
                                @if ((User.IsInRole("Works Only Receiving Entry")) || (User.IsInRole("Except Works Receiving Entry")) || (User.IsInRole("All Contract Type Receiving Entry")))
                                {
                                    <li class="@Html.RouteIf("RetentionPosting", "active")">
                                        <a href="@Url.Action("RetentionPosting", "Retention", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Posting</a>
                                    </li>

                                }
                                <li class="@Html.RouteIf("TrackPayments", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("TrackPayments", "Retention", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>
                                <li class="@Html.RouteIf("TraceRetention", "active")">
                                    <a href="@Url.Action("TraceRetention", "Retention", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Trace</a>
                                </li>

                                <li class="@Html.RouteIf("fontawesome", "active")">
                                    <a href="#">Payee</a>
                                    <ul>
                                        <li class="@Html.RouteIf("PendingRetentionPayee", "active") || @Html.RouteIf("AddPayee", "active") || @Html.RouteIf("ApprovalRetentionPayee", "active") ">
                                            <a href="@Url.Action("PendingRetentionPayee", "ChangeRetentionPayee", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>

                                        </li>

                                        <li class="@Html.RouteIf("ApprovalRetentionPayee", "active") || @Html.RouteIf("AddPayee", "active")">
                                            <a href="@Url.Action("ApprovalRetentionPayee", "ChangeRetentionPayee", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>

                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    }
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Variation</a>
                        <ul>
                            @if (User.IsInRole("Contract Entry"))
                            {
                                <li class="@Html.RouteIf("PendingVariation", "active") || @Html.RouteIf("VariationEntry", "active") || @Html.RouteIf("ByIncreasingAmount", "active") || @Html.RouteIf("ByDecreasingAmount", "active") || @Html.RouteIf("AttachmentEntry", "active") || @Html.RouteIf("VariationPreview", "active")">
                                    <a href="@Url.Action("PendingVariation", "ContractVariation", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                                </li>
                            }
                            @if ((User.IsInRole("Contract Approval")))
                            {

                                <li class="@Html.RouteIf("ApproveVariation", "active") || @Html.RouteIf("VariationPreview", "active") || @Html.RouteIf("AttachmentView", "active")">
                                    <a href="@Url.Action("ApproveVariation", "ContractVariation", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                </li>
                            }
                            <li class="@Html.RouteIf("TrackVariation", "active")">
                                <a href="@Url.Action("TrackVariation", "ContractVariation", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
                            </li>
                        </ul>
                    </li>
                    @if ((User.IsInRole("Contract Ceiling Entry")) || (User.IsInRole("Contract Ceiling Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#">Ceiling</a>
                            <ul>
                                @if (User.IsInRole("Contract Ceiling Entry"))
                                {
                                    <li class="@Html.RouteIf("PendingCeiling", "active") || @Html.RouteIf("AllocateCeiling", "active") || @Html.RouteIf("Upload", "active") || @Html.RouteIf("NewCeilingDetails", "active") || @Html.RouteIf("EditCeiling", "active") || @Html.RouteIf("Getsamplefile", "active")">
                                        <a href="@Url.Action("PendingCeiling", "ContractCeiling", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                                    </li>
                                }


                                @if (User.IsInRole("Contract Ceiling Entry"))
                                {
                                    <li class="@Html.RouteIf("AdjustmentCeilings", "active") || @Html.RouteIf("Adjust", "active") ">
                                        <a href="@Url.Action("AdjustmentCeilings", "ContractCeiling", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Adjustment</a>
                                    </li>
                                }

                                @if (User.IsInRole("Contract Ceiling Entry"))
                                {
                                    <li class="@Html.RouteIf("TransferCeiling", "active") || @Html.RouteIf("Newtransfer", "active")">
                                        <a href="@Url.Action("TransferCeiling", "ContractCeiling", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Transfer</a>
                                    </li>
                                }

                                @if (User.IsInRole("Contract Ceiling Approval"))
                                {
                                    <li class="@Html.RouteIf("ApproveCeiling", "active") || @Html.RouteIf("Details", "active")">
                                        <a href="@Url.Action("ApproveCeiling", "ContractCeiling", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approve</a>
                                    </li>

                                }

                                @*@if (User.IsInRole("Contract Entry"))
                    {
                        <li class="@Html.RouteIf("PendingCeiling", "active") || @Html.RouteIf("CreateCeiling", "active") || @Html.RouteIf("EditCeiling", "active")||@Html.RouteIf("ViewCeiling", "active")">
                            <a href="@Url.Action("PendingCeiling", "ContractCeiling", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Ceiling Tracker</a>
                        </li>
                    }*@
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
        @if ((User.IsInRole("Inventory Info Entry")) || (User.IsInRole("Inventory Info Approval")) || (User.IsInRole("Inventory Issuing")) || (User.IsInRole("Inventory Issuing Approval")))
        {
            <li class="@Html.RouteIf("PendingInventories", "active")|| @Html.RouteIf("ApproveInventories", "active")|| @Html.RouteIf("PreviewInventory", "active")  || @Html.RouteIf("EditInventory", "active") || @Html.RouteIf("IssueInventories", "active") || @Html.RouteIf("StockTaking", "active") || @Html.RouteIf("StockTakingApproval", "active") || @Html.RouteIf("IssuingApproval", "active")  || @Html.RouteIf("WriteOffApproval", "active") || @Html.RouteIf("WriteOffEntry", "active") || @Html.RouteIf("TrackInventories", "active") ">
                <a href="#">Inventory Management</a>
                <ul>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">New Inventories</a>
                        <ul>
                            @if ((User.IsInRole("Inventory Info Entry")))
                            {
                                <li class="@Html.RouteIf("PendingInventories", "active") || @Html.RouteIf("CreateInventory", "active") || @Html.RouteIf("EditEnteredInventory", "active") || @Html.RouteIf("EditInventory", "active") || @Html.RouteIf("PreviewInventory", "active")">
                                    <a href="@Url.Action("PendingInventories", "Inventories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Pending</a>
                                </li>
                            }
                            @if ((User.IsInRole("Inventory Info Approval")))
                            {
                                <li class="@Html.RouteIf("ApproveInventories", "active") || @Html.RouteIf("PreviewInventory", "active")">
                                    <a href="@Url.Action("ApproveInventories", "Inventories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                </li>


                            }

                        </ul>
                    </li>
                    @if ((User.IsInRole("Inventory Requisition Entry")) || (User.IsInRole("Inventory Requisition Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"> Requisition</a>
                            <ul>
                                @if ((User.IsInRole("Inventory Requisition Entry")))
                                {

                                    <li class="@Html.RouteIf("PendingRequisition", "active") || @Html.RouteIf("RequestEntry", "active") || @Html.RouteIf("AddMore", "active")">
                                        <a href="@Url.Action("PendingRequisition", "InventoriesIssuing", new { area = "IFMISTZ" })"> <i class="fa fa-external-link"></i>Pending</a>
                                    </li>

                                }
                                @if ((User.IsInRole("Inventory Requisition Approval")))
                                {

                                    <li class="@Html.RouteIf("ApproveRequisition", "active")">
                                        <a href="@Url.Action("ApproveRequisition", "InventoriesIssuing", new { area = "IFMISTZ" })"> <i class="fa fa-external-link"></i>Approve</a>
                                    </li>

                                }
                                <li class="@Html.RouteIf("RejectedRequisition", "active")">
                                    <a href="@Url.Action("RejectedRequisition", "InventoriesIssuing", new { area = "IFMISTZ" })"> <i class="fa fa-external-link"></i>Rejected</a>
                                </li>
                            </ul>
                        </li>

                    }
                    @if ((User.IsInRole("Inventory Issuing")) || (User.IsInRole("Inventory Issuing Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"> Issuing</a>
                            <ul>
                                @if ((User.IsInRole("Inventory Issuing")))
                                {

                                    <li class="@Html.RouteIf("PendingIssuing", "active")">
                                        <a href="@Url.Action("PendingIssuing", "InventoriesIssuing", new { area = "IFMISTZ" })"> <i class="fa fa-external-link"></i>Entry</a>
                                    </li>

                                }
                                @if ((User.IsInRole("Inventory Issuing Approval")))
                                {

                                    <li class="@Html.RouteIf("IssuingApproval", "active")">
                                        <a href="@Url.Action("IssuingApproval", "InventoriesIssuing", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                    </li>

                                }

                                <li class="@Html.RouteIf("IssuingTracker", "active")">
                                    <a href="@Url.Action("IssuingTracker", "InventoriesIssuing", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>
                            </ul>
                        </li>

                    }
                    @*<li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Write Off</a>
                        <ul>
                            @if ((User.IsInRole("Inventory Info Entry")))
                            {

                                <li class="@Html.RouteIf("WriteOffEntry", "active")">
                                    <a href="@Url.Action("WriteOffEntry", "Inventories", new { area = "IFMISTZ" })"> <i class="fa fa-external-link"></i>Entry</a>
                                </li>

                            }
                            @if ((User.IsInRole("Inventory Info Approval")))
                            {

                                <li class="@Html.RouteIf("WriteOffApproval", "active")">
                                    <a href="@Url.Action("WriteOffApproval", "Inventories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                </li>
                            }

                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#"> Stock Taking</a>
                        <ul>
                            @if ((User.IsInRole("Inventory Info Entry")))
                            {

                                <li class="@Html.RouteIf("PendingStockTaking", "active")">
                                    <a href="@Url.Action("PendingStockTaking", "Inventories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                                </li>



                            }
                            @if ((User.IsInRole("Inventory Info Approval")))
                            {

                                <li class="@Html.RouteIf("StockTakingApproval", "active")">
                                    <a href="@Url.Action("StockTakingApproval", "Inventories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                </li>

                            }

                        </ul>
                    </li>*@

                    @if ((User.IsInRole("Inventory Info Entry")) || (User.IsInRole("Inventory Issuing")) || (User.IsInRole("Inventory Info Approval")) || (User.IsInRole("Inventory Issuing Approval")))
                    {
                        <li class="@Html.RouteIf("Tracker", "active")">
                            <a href="@Url.Action("Tracker", "Inventories", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                        </li>
                    }


                    <li class="@Html.RouteIf("icons", "active")">
                        <a href="#">Setup</a>
                        <ul>
                            <li class="@Html.RouteIf("ItemCardsList", "active") || @Html.RouteIf("CreateItemCard", "active") || @Html.RouteIf("EditItemCard", "active")">
                                <a href="@Url.Action("ItemCardsList", "ItemCards", new { area = "IFMISTZ" })">Item Cards</a>
                            </li>
                            <li class="@Html.RouteIf("StoreList", "active")">
                                <a href="@Url.Action("StoreList", "Store", new { area = "IFMISTZ" })">Store</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </li>
        }
        @if ((User.IsInRole("Asset Info Entry")) || (User.IsInRole("Asset Info Approval")) || (User.IsInRole("Asset Distribute")) || (User.IsInRole("Asset Distribute Approval")))
        {
            <li class="@Html.RouteIf("PendingAssets", "active")|| @Html.RouteIf("ApproveAssets", "active")|| @Html.RouteIf("EditAssets", "active") || @Html.RouteIf("ModifyAssets", "active")  || @Url.Action("EditMotorsMachinery", "active") || @Url.Action("ModifyMotorsMachinery", "active") || @Html.RouteIf("Distribute", "active")|| @Html.RouteIf("PreviewAssets", "active")|| @Html.RouteIf("PreviewMotorsMachinery", "active")|| @Html.RouteIf("DistributeApproval", "active") || @Html.RouteIf("TrackAssets", "active") || @Html.RouteIf("AssetDisposal", "active") || @Html.RouteIf("AssetTransfer", "active")">
                <a href="#">Asset Management</a>
                <ul>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">Work In Progress</a>
                        <ul>
                            <li class="@Html.RouteIf("PendingWorkInProgress", "active") || @Html.RouteIf("Details", "active") || @Html.RouteIf("ApprovalWorkInProgress", "active") ">
                                <a href="@Url.Action("PendingWorkInProgress", "WorkInProgress", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Pendings</a>

                            </li>

                            <li class="@Html.RouteIf("PendingWorkInProgress", "active") || @Html.RouteIf("Details", "active") || @Html.RouteIf("ApprovalWorkInProgress", "active") ">
                                <a href="@Url.Action("ApprovalWorkInProgress", "WorkInProgress", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>

                            </li>
                        </ul>
                    </li>

                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">Asset Register</a>
                        <ul>

                            @if ((User.IsInRole("Asset Info Entry")) || (User.IsInRole("Asset Distribute")))
                            {
                                <li class="@Html.RouteIf("PendingAssets", "active")">
                                    <a href="@Url.Action("PendingAssets", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                                </li>

                            }
                            @if ((User.IsInRole("Asset Info Approval")) || (User.IsInRole("Asset Distribute Approval")))
                            {
                                <li class="@Html.RouteIf("ApproveAssets", "active")">
                                    <a href="@Url.Action("ApproveAssets", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
                                </li>


                            }
                            @if ((User.IsInRole("Asset Info Entry")))
                            {
                                <li class="@Html.RouteIf("SendToGamis", "active")">
                                    <a href="@Url.Action("SendToGamis", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Resubmit</a>
                                </li>

                            }
                            @if ((User.IsInRole("Asset Info Entry")))
                            {
                                <li class="@Html.RouteIf("GamisAssets", "active")">
                                    <a href="@Url.Action("GamisAssets", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> From Gamis</a>
                                </li>

                            }
                            @if ((User.IsInRole("Asset Info Entry")) || (User.IsInRole("Asset Distribute")) || (User.IsInRole("Asset Info Approval")) || (User.IsInRole("Asset Distribute Approval")))
                            {

                                <li class="@Html.RouteIf("TrackAssets", "active")">
                                    <a href="@Url.Action("TrackAssets","Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">Asset Transfer</a>
                        <ul>

                            @if ((User.IsInRole("Asset Info Entry") || (User.IsInRole("Asset Info Approval"))))
                            {
                                <li class="@Html.RouteIf("AssetTranfers", "active")">
                                    <a href="@Url.Action("AssetTranfers", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                                </li>

                            }

                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">Asset Disposal</a>
                        <ul>

                            @if ((User.IsInRole("Asset Info Entry")) || (User.IsInRole("Asset Info Approval")))
                            {
                                <li class="@Html.RouteIf("AssetsDisposal", "active")">
                                    <a href="@Url.Action("AssetsDisposal", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                                </li>

                            }

                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">Asset Depreciation</a>
                        <ul>

                            @if ((User.IsInRole("Asset Info Entry")))
                            {
                                <li class="@Html.RouteIf("DepreciationsList", "active")">
                                    <a href="@Url.Action("DepreciationsList", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                                </li>

                            }

                        </ul>
                    </li>
                    <li class="@Html.RouteIf("fontawesome", "active")">
                        <a href="#">Asset Losses</a>
                        <ul>

                            @if ((User.IsInRole("Asset Info Entry")))
                            {
                                <li class="@Html.RouteIf("LossesList", "active")">
                                    <a href="@Url.Action("LossesList", "Assets", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                                </li>

                            }

                        </ul>
                    </li>
                </ul>
            </li>
        }
        @if ((User.IsInRole("Contract Entry")) || (User.IsInRole("Contract Approval")) || User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Approval"))
        {
            <li class="@Html.RouteIf("PendingAccountChange", "active")|| @Html.RouteIf("AccountChangeApproval", "active") || @Html.RouteIf("AccountChangeTracker", "active")">
                <a href="#">Change Payee</a>
                <ul>
                    @if (User.IsInRole("Contract Entry") || User.IsInRole("Local Purchase Entry"))
                    {
                        <li class="@Html.RouteIf("PendingAccountChange", "active")">
                            <a href="@Url.Action("PendingAccountChange", "ChangePayee", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                        </li>

                    }

                    @if (User.IsInRole("Contract Approval") || User.IsInRole("Local Purchase Approval"))
                    {
                        <li class="@Html.RouteIf("AccountChangeApproval", "active")">
                            <a href="@Url.Action("AccountChangeApproval", "ChangePayee", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
                        </li>

                    }

                    @if (User.IsInRole("Contract Entry") || User.IsInRole("Contract Approval") || User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Approval"))
                    {
                        <li class="@Html.RouteIf("AccountChangeTracker", "active")">
                            <a href="@Url.Action("AccountChangeTracker", "ChangePayee", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
                        </li>

                    }

                </ul>
            </li>
        }

        @if ((User.IsInRole("Contract Entry")) || (User.IsInRole("Contract Approval")) || User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Approval"))
        {
            <li class="@Html.RouteIf("PendingAccountChange", "active")|| @Html.RouteIf("AccountChangeApproval", "active") || @Html.RouteIf("AccountChangeTracker", "active")">
                <a href="#">Force Account</a>
                <ul>
                    @if (User.IsInRole("Contract Entry") || User.IsInRole("Local Purchase Entry"))
                    {
                        <li class="@Html.RouteIf("List", "active") || @Html.RouteIf("Entry", "active") || @Html.RouteIf("Edit", "active")  || @Html.RouteIf("Details", "active")">
                            <a href="@Url.Action("List", "ForceAccountPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                        </li>

                    }

                    @if (User.IsInRole("Contract Approval") || User.IsInRole("Local Purchase Approval"))
                    {
                        <li class="@Html.RouteIf("Approve", "active") || @Html.RouteIf("Details", "active")">
                            <a href="@Url.Action("Approve", "ForceAccountPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Approval</a>
                        </li>

                    }

                    @if (User.IsInRole("Contract Entry") || User.IsInRole("Contract Approval") || User.IsInRole("Local Purchase Entry") || User.IsInRole("Local Purchase Approval"))
                    {
                        <li class="@Html.RouteIf("Tracker", "active")">
                            <a href="@Url.Action("Tracker", "ForceAccountPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Tracker</a>
                        </li>

                    }

                </ul>
            </li>
        }
        <li class="@Html.RouteIf("StoreList", "active")">
            <a href="@Url.Action("StoreList", "Store", new { area = "IFMISTZ" })">Store</a>
        </li>
    </ul>
</li>
                }