
@if (User.IsInRole("Revenue Bill Entry"))
{
    <li class="@Html.RouteIf("Employee", "active" )">
        <a href="#"><i class="fa fa-lg fa-fw fa-dollar"></i><span class="menu-item-parent">Recurrent Payment</span></a>
        <ul>
            <li class="@Html.RouteIf(" ", " active")">
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <a href="#"><i class="fa fa-circle-o"></i> Data Entry</a>
                    <ul style="background-color: #fff">
                        <li class="@Html.RouteIf("EmployeeList", "active" ) || @Html.RouteIf("CreateEmployee", "active" ) || @Html.RouteIf("EditEmployee", "active" )">
                            <a href="@Url.Action("EmployeeList","Employee", new { area="RecurrentPayment" })">Beneficiary</a>
                        </li>
                        <li class="@Html.RouteIf("BeneficiaryAllowanceList", "active" ) || @Html.RouteIf("CreateBeneficiaryAllowance", "active" ) || @Html.RouteIf("EditBeneficiaryAllowance", "active" ) || @Html.RouteIf("BeneficiaryAllowanceDetails", "active" )">
                            <a href="@Url.Action("BeneficiaryAllowanceList","BeneficiaryAllowances", new { area="RecurrentPayment" })">Beneficiary Allowance</a>
                        </li>
                        <li class="@Html.RouteIf("DeductionList", "active" ) || @Html.RouteIf("CreateDeduction", "active" ) || @Html.RouteIf("EditDeduction", "active" )">
                            <a href="@Url.Action("DeductionList","Deductions", new { area="RecurrentPayment" })">Beneficiary Deductions</a>
                        </li>
                        <li class="@Html.RouteIf("AllowanceList", "active" ) || @Html.RouteIf("AllowanceListDetails", "active" ) || @Html.RouteIf("EditAllowanceList", "active" ) || @Html.RouteIf("CreateAllowanceList", "active" )">
                            <a href="@Url.Action("AllowanceList","AllowanceLists", new { area="RecurrentPayment" })">Allowance</a>
                        </li>
                        <li class="@Html.RouteIf("DeductionCodeList", "active" ) || @Html.RouteIf("CreateDeductionCode", "active" ) || @Html.RouteIf("EditDeductionCode", "active" ) || @Html.RouteIf("DeleteDeductionCode", "active" )">
                            <a href="@Url.Action("DeductionCodeList", "DeductionCodes" , new { area="RecurrentPayment" } )">Deduction Code</a>
                        </li>
                        <li class="@Html.RouteIf("PaylistCurrentBungeList", "active" )">
                            <a href="@Url.Action("PaylistCurrentBungeList", "PaylistCurrentBunges" , new { area="RecurrentPayment" })">Paylist</a>
                        </li>
                        <li class="@Html.RouteIf("DeductionCurrrentList", "active" )">
                            <a href="@Url.Action("DeductionCurrrentList","DeductionCurrents", new { area="RecurrentPayment" })">HCMIS Deductions</a>
                        </li>
                        <li class="@Html.RouteIf("MinisterList", "active" ) || @Html.RouteIf("CreateMinister", "active" )">
                            <a href="@Url.Action("MinisterList","Ministers", new { area="RecurrentPayment" })">Ministers Setup</a>
                        </li>
                    </ul>
                }
            </li>
            @if (User.IsInRole("Revenue Bill Entry"))
            {
                <li class="@Html.RouteIf(" DeductionCodes", "active" )">
                    <a href="#"><i class="fa fa-circle-o"></i> Data Approval</a>
                    <ul style="background-color: #fff">
                        <li class="@Html.RouteIf("ConfirmAllowanceList", "active" )">
                            <a href="@Url.Action("ConfirmAllowanceList","AllowanceLists", new { area = "RecurrentPayment" })">Allowance</a>
                        </li>
                        <li class="@Html.RouteIf("ConfirmEmployee", "active" )">
                            <a href="@Url.Action("ConfirmEmployee","Employee",  new { area = "RecurrentPayment" })">Beneficiary</a>
                        </li>
                        <li class="@Html.RouteIf("ApproveBeneficiaryAllowance", "active" )">
                            <a href="@Url.Action("ApproveBeneficiaryAllowance","BeneficiaryAllowances",  new { area = "RecurrentPayment" })">Beneficiary Allowances</a>
                        </li>
                        <li class="@Html.RouteIf("ConfirmDeduction", "active" )">
                            <a href="@Url.Action("ConfirmDeduction","Deductions", new { area = "RecurrentPayment" })">Beneficiary Deductions</a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Revenue Bill Entry"))
            {
                <li class="@Html.RouteIf(" ", " active")">
                    <a href="#"><i class="fa fa-circle-o"></i> Salary Processing</a>
                    <ul>
                        @if (User.IsInRole("Revenue Bill Entry"))
                        {
                            <li class="@Html.RouteIf("PayrollList", "active" ) || @Html.RouteIf("PayrollSummary", "active" ) || @Html.RouteIf("PayrollBeneficiaries", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PayrollList","Payrolls", new { area="RecurrentPayment" })"> Run Payroll </a>
                            </li>
                        }
                        @if (User.IsInRole("Revenue Bill Entry"))
                        {
                            <li class="@Html.RouteIf("ConfirmPayrollList", "active" ) || @Html.RouteIf("ConfirmPayroll", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("ConfirmPayrollList","Payrolls", new { area="RecurrentPayment" })"> Confirm Payroll </a>
                            </li>
                        }
                        @if (User.IsInRole("Revenue Bill Entry"))
                        {
                            <li class="@Html.RouteIf("PaymentBatch", "active" ) || @Html.RouteIf("PaymentBatchVerificationDetails", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PaymentBatch","Payrolls", new { area="RecurrentPayment" })"> Payment Submission </a>
                            </li>
                        }
                        @if (User.IsInRole("Revenue Bill Entry"))
                        {
                            <li class="@Html.RouteIf("AcceptedPaymentBatch", "active" ) || @Html.RouteIf("PaymentBatchVerificationDetails", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("AcceptedPaymentBatch","Payrolls", new { area="RecurrentPayment" })"> Payment Status </a>
                            </li>
                        }
                        @if (User.IsInRole("Revenue Bill Entry"))
                        {
                            <li class="@Html.RouteIf(" ClosePayroll", " active" ) || @Html.RouteIf("ClosePayrollList", " active" )
                                    || @Html.RouteIf("PayrollDetails", " active" )" style="background:#ffffff">
                                <a href="@Url.Action("ClosePayrollList","Payrolls", new { area="RecurrentPayment" })">Close Payroll</a>
                            </li>
                        }
                    </ul>
                </li>
            }
            <li class="@Html.RouteIf(" ", " active")">
                <a href="#"><i class="fa fa-circle-o"></i> Unapplied</a>
                <ul>
                    <li class="@Html.RouteIf("PendingUnappliedList", "active" )">
                        <a href="@Url.Action("PendingUnappliedList", "Payments", new { area="RecurrentPayment" })">Pending List</a> @*@Html.ActionLink("Pending Unapplied List", "PendingUnappliedListRecurrent", "Payments")*@
                    </li>
                    <li class="@Html.RouteIf("PaymentEntryList", "active" ) || @Html.RouteIf("CreatePaymentBatch", "active" ) || @Html.RouteIf("EditPaymentBatch", "active" ) || @Html.RouteIf("PaymentBatchDetails", "active" )">
                        <a href="@Url.Action("PaymentEntryList", "PaymentBatches", new { area="RecurrentPayment" })"> Payment Entry</a>
                    </li>
                </ul>
            </li>

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf(" ", " active")">
                        <a href="#"><i class="fa fa-circle-o"></i> Reports</a>
                        <ul>
                            <li class="@Html.RouteIf("PaymentsReport", "active" ) || @Html.RouteIf("PaymentReportDetails", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PaymentsReport","PaymentBatches", new { area="RecurrentPayment" })">Payments Report</a>
                            </li>
                            <li class="@Html.RouteIf("BeneficiaryReport", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("BeneficiaryReport","ReportRecurrent", new { area="RecurrentPayment" })">Beneficiary Report</a>
                            </li>

                            <li class="@Html.RouteIf("DeductionLoanDetail", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("DeductionLoanDetail","ReportRecurrent", new { area="RecurrentPayment" })">Loan Balance</a>
                            </li>

                            @*<li class="@Html.RouteIf("DeductionLoanSummary", "active" )" style="background:#ffffff">
                            <a href="@Url.Action("DeductionLoanSummary","ReportRecurrent", new { area="RecurrentPayment" })">Pay Deduction</a>

                        </li>*@

                            <li class="@Html.RouteIf("MissingBenefeciary", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("MissingBenefeciary","ReportRecurrent", new { area="RecurrentPayment" })">Missing Beneficiary</a>
                            </li>

                            <li class="@Html.RouteIf("WagebillSummary", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("WagebillSummary","ReportRecurrent", new { area="RecurrentPayment" })">Wagebill Summary</a>
                            </li>

                            <li class="@Html.RouteIf("AllowanceDetails", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("AllowanceDetails","ReportRecurrent", new { area="RecurrentPayment" })">Allowance</a>
                            </li>

                            <li class="@Html.RouteIf("PaymentByDateRange", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PaymentByDateRange","ReportRecurrent", new { area="RecurrentPayment" })">EFT Payment Date Range</a>
                            </li>

                            <li class="@Html.RouteIf("PaymentDetail", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PaymentDetail","ReportsAdded", new { area="RecurrentPayment" })">Salary Payment Detail</a>
                            </li>

                            <li class="@Html.RouteIf("DeductionDetail", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("DeductionDetail","ReportsAdded", new { area="RecurrentPayment" })">Deductions Detail</a>
                            </li>

                            <li class="@Html.RouteIf("DeductionDetailByDedCode", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("DeductionDetailByDedCode","ReportsAdded", new { area="RecurrentPayment" })">Deductions By DedCode</a>
                            </li>

                            <li class="@Html.RouteIf("PayDeductionLoanSummary", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PayDeductionLoanSummary","CrystallReports", new { area="RecurrentPayment" })">Loan Balance Summary</a>
                            </li>

                            <li class="@Html.RouteIf("PayDeductionLoanDetail", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("PayDeductionLoanDetail","CrystallReports", new { area="RecurrentPayment" })">Loan Balance Detail</a>
                            </li>

                            <li class="@Html.RouteIf("SalarySlipReport", "active" )" style="background:#ffffff">
                                <a href="@Url.Action("SalarySlipReport","SalarySlips", new { area="RecurrentPayment" })">Salary Slip</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
        }



