
<li class="@Html.RouteIf("icons", "active")">
    <a href="#">Bank Statement</a>
    <ul>

        @if (User.IsInRole("Bank Statement Entry"))
        {

            <li class="@Html.RouteIf("BankstatementList", "active")">
                <a href="@Url.Action("BankstatementList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Import Statement</a>
            </li>

            <li class="@Html.RouteIf("RemoveStatement", "active")">
                <a href="@Url.Action("RemoveStatement", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Remove Statement</a>
            </li>

            <li class="@Html.RouteIf("BankStatementAnalysisList", "active")">
                <a href="@Url.Action("BankStatementAnalysisList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Analyse Statement</a>
            </li>

            <li class="@Html.RouteIf("RequestBankStatement", "active")">
                <a href="@Url.Action("RequestBankStatement", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Request Statement</a>
            </li>

            <li class="@Html.RouteIf("BankStatementBalanceList", "active")">
                <a href="@Url.Action("BankStatementBalanceList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Statement Balances</a>
            </li>

            <li class="@Html.RouteIf("AbnormalBankStatementList", "active")">
                <a href="@Url.Action("AbnormalBankStatementList", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Failed Statements </a>
            </li>
        }

        @if (User.IsInRole("Request All Missing Bank Statement"))
        {
            <li class="@Html.RouteIf("RequestAllBankStatement", "active")">
                <a href="@Url.Action("RequestAllBankStatement", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i>Request All Missing Bank Statement</a>
            </li>
        }

        @if (User.IsInRole("Bank Statement Approval"))
        {
            <li class="@Html.RouteIf("StatementApproval", "active")">
                <a href="@Url.Action("StatementApproval", "Bankstatements", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Approval</a>
            </li>
        }
    </ul>
</li>


@if (User.IsInRole("Reconciliation"))
{
<li class="@Html.RouteIf("icons", "active")">
    <a href="#">Reconciliation</a>
    <ul>
     @if (User.IsInRole("Reconciliation Entry"))
      {

        <li class="@Html.RouteIf("Reconcilliationstatus", "active")">
            <a href="@Url.Action("Reconcilliationstatus", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Reconciliation Process</a>
        </li>

        <li class="@Html.RouteIf("SearchMatched", "active")">
            <a href="@Url.Action("SearchMatched", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Unmatching</a>
        </li>

        <li class="@Html.RouteIf("TransactionStatus", "active")">
            <a href="@Url.Action("TransactionStatus", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Transaction Status</a>
        </li>


        <li class="@Html.RouteIf("SearchReconciliation", "active")">
            <a href="@Url.Action("SearchReconciliation", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Confirmation</a>
        </li>


        <li class="@Html.RouteIf("ConfirmationList", "active")">
            <a href="@Url.Action("ConfirmationList", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Confirmed List</a>
        </li>

        }
        @if (User.IsInRole("Reconciliation Approval"))
        {
        <li class="@Html.RouteIf("ApprovalList", "active")">
            <a href="@Url.Action("ApprovalList", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Approval</a>
        </li>

        <li class="@Html.RouteIf("ReverseApprovedReconciliation", "active")">
            <a href="@Url.Action("ReverseApprovedReconciliation", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Reverse Approved Reconciliation</a>
        </li>

        <li class="@Html.RouteIf("ApprovedReconcilliation", "active")">
            <a href="@Url.Action("ApprovedReconcilliation", "Reconcilliation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Approved List</a>
        </li>
     }

    </ul>
</li>
}