@model IFMIS.Areas.IFMISTZ.Models.RejectReasonVM

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formReject" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OverallStatus)

        <div class="form-group">
            @Html.LabelFor(model => model.Remark, "Rejection Reason", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.TextAreaFor(model => model.Remark, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

}
