@if (Enumerable.Count(ViewBag.report) > 1)
{
<option value="">-- Select Withheld Type --</option>
    <option value="ALL">ALL</option>
    foreach (var item in ViewBag.report)
    {
        if (item.Text == "APPROVED")
        {
            <option value="@item.Value"> INSTRUCTION </option>
        }

        else
        {
            <option value="@item.Value"> @item.Text </option>
        }
    }
}

else
{
<option value="">-- Select Withheld Type --</option>
    if (ViewBag.report != null)
    {
        foreach (var item in ViewBag.report)
        {
            if (item.Text == "APPROVED")
            {
                <option value="@item.Value"> INSTRUCTION</option>
            }

            else
            {
                <option value="@item.Value"> @item.Text </option>
            }
        }

    }
}


