<li class="@Html.RouteIf("element", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-car"></i> <span class="menu-item-parent">Account Receivable</span></a>
    <ul>
        @if (User.IsInRole("Revenue Bill Entry"))
        {
            <li class="@Html.RouteIf("icons", "active")">
                <a href="#">Setup</a>
                <ul>
                    <li class="@Html.RouteIf("Costing", "active")">
                        <a href="@Url.Action("Costing", "Costings", new { area = "IFMISTZ" })" title="Dashboard"><span>Costing</span></a>
                    </li>
                    <li class="@Html.RouteIf("SubCosting", "active")">
                        <a href="@Url.Action("SubCosting", "SubCostings", new { area = "IFMISTZ" })" title="Dashboard"><span>Sub Costing</span></a>
                    </li>
                    <li class="@Html.RouteIf("InstitutionReceivableList", "active")">
                        <a href="@Url.Action("InstitutionReceivableList", "InstitutionReceivableSetup", new { area = "IFMISTZ" })" title="Dashboard"><span>Bill Receivable</span></a>
                    </li>
                </ul>
            </li>
        }

        <li class="@Html.RouteIf("icons", "active")">
            <a href="#">Revenue</a>
            <ul>
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("PendingBills", "active") || @Html.RouteIf("CreateBill", "active") || @Html.RouteIf("EditBill", "active")">
                        <a href="@Url.Action("PendingBills", "Billings", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry</a>
                    </li>
                }
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("UnpaidBills", "active")">
                        <a href="@Url.Action("UnpaidBills", "Billings", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Unpaid Invoices</a>
                    </li>
                }
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("PaidBills", "active")">
                        <a href="@Url.Action("PaidBills", "Billings", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Paid Invoices</a>
                    </li>
                }
                @if (User.IsInRole("Revenue Bill Entry") || User.IsInRole("Revenue Bill Approval"))
                {
                    <li class="@Html.RouteIf("CancelledBills", "active")">
                        <a href="@Url.Action("CancelledBills", "Billings", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Cancelled Invoices</a>
                    </li>
                }
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("ExpiredBills", "active")">
                        <a href="@Url.Action("ExpiredBills", "Billings", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Expired Control Numbers</a>
                    </li>
                }
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("ReconcTrxInfList", "active")">
                        <a href="@Url.Action("ReconcTrxInfList", "ReconcTrxInfs", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Reconcilliation</a>
                    </li>
                }
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("CustomerList", "active") || @Html.RouteIf("CreateCustomer", "active") || @Html.RouteIf("EditCustomer", "active")">
                        <a href="@Url.Action("CustomerList", "Customers", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Customer Management</a>
                    </li>
                }
            </ul>
        </li>

        <li class="@Html.RouteIf("icons", "active")">
            <a href="#">Receivable</a>
            <ul>
                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("ApprovedBills", "active")">
                        <a href="@Url.Action("ApprovedBills", "GepgBillNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> All GePG Bills </a>
                    </li>
                }

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("FailedBills", "active")">
                        <a href="@Url.Action("FailedBills", "GepgBillNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Failed GePG Bills </a>
                    </li>
                }

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("CancelledGepgBills", "active")">
                        <a href="@Url.Action("CancelledGepgBills", "GepgBillNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Cancelled GePG Bills </a>
                    </li>
                }

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("ExpiredGepgBills", "active")">
                        <a href="@Url.Action("ExpiredGepgBills", "GepgBillNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Expired GePG Bills </a>
                    </li>
                }

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("TodayPayments", "active")">
                        <a href="@Url.Action("TodayPayments", "GepgPmtNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> All GePG Payments </a>
                    </li>
                }

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("PendingPayments", "active")">
                        <a href="@Url.Action("PendingPayments", "GepgPmtNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Failed GePG Payments </a>
                    </li>
                }

                @if (User.IsInRole("Revenue Bill Entry"))
                {
                    <li class="@Html.RouteIf("TraRevenue", "active")">
                        <a href="@Url.Action("TraRevenue", "GepgPmtNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> TRA Revenue </a>
                    </li>
                }
            </ul>
        </li>

        <li class="@Html.RouteIf("icons", "active")">
            <a href="#">Net Vat Pay</a>
            <ul>
                @if (User.IsInRole("VATNetPayEntry"))
                {
                    <li class="@Html.RouteIf("VatEntry", "active")">
                        <a href="@Url.Action("VatEntry", "NetVatPay", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                    </li>
                }
                @if (User.IsInRole("VATNetPayEntry"))
                {
                    <li class="@Html.RouteIf("VatPending", "active")">
                        <a href="@Url.Action("VatPending", "NetVatPay", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Pending</a>
                    </li>
                }
                @if (User.IsInRole("VATNetPayExamination"))
                {
                    <li class="@Html.RouteIf("VatExamine", "active")">
                        <a href="@Url.Action("VatExamine", "NetVatPay", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Examine</a>
                    </li>
                }
                @if (User.IsInRole("VATNetPayApproval"))
                {
                    <li class="@Html.RouteIf("VatApproval", "active")">
                        <a href="@Url.Action("VatApproval", "NetVatPay", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</li>

<li class="@Html.RouteIf("element", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-keyboard-o"></i> <span class="menu-item-parent">Amortization</span></a>
    <ul>
        @if (User.IsInRole("Revenue Bill Entry"))
        {
            <li class="@Html.RouteIf("AmortizeRevenue", "active")">
                <a href="@Url.Action("AmortizeRevenue", "GepgPmtNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Entry </a>
            </li>
        }
    </ul>
</li>
