@if ((User.IsInRole("NetPay Info Entry")) || (User.IsInRole("NetPay Examiner")) || (User.IsInRole("NetPay Approval")) || (User.IsInRole("At Source Payment Entry")) || (User.IsInRole("At Source Payment Approval")))
{
    <li class="@Html.RouteIf("element", "active")">
        <a href="#"><i class="fa fa-lg fa-fw fa fa-briefcase"></i> <span class="menu-item-parent">Salary</span></a>
        <ul>
            @if ((User.IsInRole("NetPay Info Entry")) || (User.IsInRole("NetPay Examiner")) || (User.IsInRole("NetPay Approval")))
            {
                <li class="@Html.RouteIf("PendingNetPayments", "active") || @Html.RouteIf("NetPaymentsAssignGLs", "active") || @Html.RouteIf("EditAssignGLs", "active") || @Html.RouteIf("PreviewNetPayments", "active") || @Html.RouteIf("NetPaymentsExamination", "active") || @Html.RouteIf("NetPaymentsApproval", "active") || @Html.RouteIf("NetPaymentsTracker", "active")">
                    <a href="#">Net Salary</a>
                    <ul>
                        @if (User.IsInRole("NetPay Info Entry"))
                        {
                            <li class="@Html.RouteIf("PendingNetPayments", "active") || @Html.RouteIf("NetPaymentsAssignGLs", "active") || @Html.RouteIf("EditAssignGLs", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                                <a href="@Url.Action("PendingNetPayments", "NetPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                            </li>


                        }

                        @if (User.IsInRole("NetPay Examiner"))
                        {
                            <li class="@Html.RouteIf("NetPaymentsExamination", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                                <a href="@Url.Action("NetPaymentsExamination", "NetPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Examination</a>
                            </li>
                        }

                        @if (User.IsInRole("NetPay Approval"))
                        {

                            <li class="@Html.RouteIf("NetPaymentsApproval", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                                <a href="@Url.Action("NetPaymentsApproval", "NetPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                            </li>

                        }
                        @if (User.IsInRole("NetPay Info Entry") || User.IsInRole("NetPay Examiner") || User.IsInRole("NetPay Approval"))
                        {
                            <li class="@Html.RouteIf("NetPaymentsTracker", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                                <a href="@Url.Action("NetPaymentsTracker", "NetPayments", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                            </li>

                        }



                    </ul>
                </li>
            }

            @if ((User.IsInRole("At Source Payment Entry")) || (User.IsInRole("At Source Payment Approval")))
            {
                <li class="@Html.RouteIf("AtSourcePaymentLists", "active") || @Html.RouteIf("AtSourcePaymentApprovalLists", "active")  || @Html.RouteIf("AtSourcePaymentDetails", "active") || @Html.RouteIf("UnpaidSalaryDetail", "active") || @Html.RouteIf("UnpaidSalaryDetails", "active") ">
                    <a href="#">At Source Payment</a>
                    <ul>
                        @if (User.IsInRole("At Source Payment Entry"))
                        {
                            <li class="@Html.RouteIf("AtSourcePaymentLists", "active") || @Html.RouteIf("UploadAtSourcePayment", "active")">
                                <a href="@Url.Action("AtSourcePaymentLists", "AtSourcePayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                            </li>
                        }

                        @if (User.IsInRole("At Source Payment Approval"))
                        {

                            <li class="@Html.RouteIf("AtSourcePaymentApprovalLists", "active")">
                                <a href="@Url.Action("AtSourcePaymentApprovalLists", "AtSourcePayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                            </li>
                        }

                        <li class="@Html.RouteIf("UnpaidSalaryLists", "active")">
                            <a href="@Url.Action("UnpaidSalaryLists", "UnpaidSalary", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Unpaid salary List</a>
                        </li>

                        <li class="@Html.RouteIf("UnpaidSalaryApprovalLists", "active")">
                            <a href="@Url.Action("UnpaidSalaryApprovalLists", "UnpaidSalary", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Unpaid salary Approval</a>
                        </li>
                    </ul>
                </li>
            }
            @*@if ((User.IsInRole("NetPay Info Entry")) || (User.IsInRole("NetPay Examiner")) || (User.IsInRole("NetPay Approval")))
                {*@
            <li class="@Html.RouteIf("PendingNetPayments", "active") || @Html.RouteIf("NetPaymentsAssignGLs", "active") || @Html.RouteIf("EditAssignGLs", "active") || @Html.RouteIf("PreviewNetPayments", "active") || @Html.RouteIf("NetPaymentsExamination", "active") || @Html.RouteIf("NetPaymentsApproval", "active") || @Html.RouteIf("NetPaymentsTracker", "active")">
                <a href="#">Deduction Payment</a>
                <ul>
                    @*@if (User.IsInRole("NetPay Info Entry"))
                        {*@
                    <li class="@Html.RouteIf("PendingDeduction", "active") || @Html.RouteIf("NetPaymentsAssignGLs", "active") || @Html.RouteIf("EditAssignGLs", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                        <a href="@Url.Action("PendingDeduction", "SalaryDeductionPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Pending</a>
                    </li>


                    @*}*@

                    @*@if (User.IsInRole("NetPay Approval"))
                        {*@

                    <li class="@Html.RouteIf("ApproveDeduction", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                        <a href="@Url.Action("ApproveDeduction", "SalaryDeductionPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                    </li>

                    @*}*@
                    @if (User.IsInRole("NetPay Info Entry") || User.IsInRole("NetPay Examiner") || User.IsInRole("NetPay Approval"))
                    {
                        <li class="@Html.RouteIf("NetPaymentsTracker", "active") || @Html.RouteIf("PreviewNetPayments", "active")">
                            <a href="@Url.Action("NetPaymPendingDeductionentsTracker", "SalaryDeductionPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                        </li>

                    }

                </ul>
            </li>
            @*}*@
        </ul>
    </li>
}
