
@if ((User.IsInRole("Salary Anomalies Verification")) || (User.IsInRole("Salary Anomalies Approval")))
{
<li class="@Html.RouteIf("", "active")">
    <a href="#">Salary Anomalies</a>

    <ul>
        @*@Html.Partial("_SalaryAnomaliesMenu")*@

        @if (User.IsInRole("Salary Anomalies Verification"))
        {
            <li class="@Html.RouteIf("MatchTransactions", "active")">
                <a href="@Url.Action("MatchTransactions", "SalaryAnomaliesPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> MatchTransactions</a>
            </li>


        }

        @if (User.IsInRole("Salary Anomalies Verification"))
        {
            <li class="@Html.RouteIf("ValidTransactions", "active")">
                <a href="@Url.Action("ValidTransactions", "SalaryAnomaliesPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> ValidTransactions</a>
            </li>


        }
        @if (User.IsInRole("Salary Anomalies Verification"))
        {
            <li class="@Html.RouteIf("InvalidTransactions", "active")">
                <a href="@Url.Action("InvalidTransactions", "SalaryAnomaliesPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> InvalidTransactions</a>
            </li>


        }

        @if (User.IsInRole("Salary Anomalies Approval"))
        {

            <li class="@Html.RouteIf("PaymentApproval", "active")">
                <a href="@Url.Action("PaymentApproval", "SalaryAnomaliesPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
            </li>

        }
        @if (User.IsInRole("Salary Anomalies Verification") || (User.IsInRole("Salary Anomalies Approval")))
        {

            <li class="@Html.RouteIf("PaymentAnalysis", "active")">
                <a href="@Url.Action("PaymentAnalysis", "SalaryAnomaliesPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>MissingAccHistory</a>
            </li>

        }
        @if (User.IsInRole("Salary Anomalies Verification") || (User.IsInRole("Salary Anomalies Approval")))
        {

            <li class="@Html.RouteIf("PaymentAnalysis", "active")">
                <a href="@Url.Action("PaymentAnalysis", "SalaryAnomaliesPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>UnappliedHistory</a>
            </li>

        }
        @if (User.IsInRole("Salary Anomalies Verification") || User.IsInRole("Salary Anomalies Approval"))
                    {
        <li class="@Html.RouteIf("DeductionTracker", "active")">
            <a href="@Url.Action("DeductionTracker", "SalaryDeductionPayment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
        </li>

                    }


    </ul>
</li>
        }

