
@if ((User.IsInRole("Salary Deductions Verification")) || (User.IsInRole("Salary Deductions Approval")))
{
    <li class="@Html.RouteIf("", "active")">
        <a href="#">Salary Deductions</a>
        <ul>
            <li class="@Html.RouteIf(" ", " active")">
                @if (User.IsInRole("CFS Salary Deductions"))
                {
                    <a href="#">CFS</a>
                }
                else if (User.IsInRole("Advance Section"))
                {
                    <a href="#">Advance Section</a>
                }
                else
                {
                    <a href="#">HQ SubTreasury</a>
                }
                <ul>
                    @if (User.IsInRole("Salary Deductions Verification"))
                    {
                        <li class="@Html.RouteIf("PendingDeduction", "active" )">
                            <a href="@Url.Action("PendingDeduction", "SalaryDeductionPayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Verification</a>
                        </li>


                    }

                    @if (User.IsInRole("Salary Deductions Approval"))
                    {

                        <li class="@Html.RouteIf("ApproveDeduction", "active" )">
                            <a href="@Url.Action("ApproveDeduction", "SalaryDeductionPayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                        </li>

                    }
                    @if (User.IsInRole("Salary Deductions Verification") || User.IsInRole("Salary Deductions Approval"))
                    {
                        <li class="@Html.RouteIf("DeductionTracker", "active" )">
                            <a href="@Url.Action("DeductionTracker", "GroupPayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Tracker</a>
                        </li>

                    }

                    @if ((User.IsInRole("Salary Deductions Verification")) || (User.IsInRole("Salary Deductions Approval")))
                    {
                        <li class="@Html.RouteIf("fontawesome", "active")">
                            <a href="#"> Unapplied</a>
                            <ul>
                                @if ((User.IsInRole("Salary Deductions Verification")))
                                {

                                    <li class="@Html.RouteIf("PendingUnapplied", "active") || @Html.RouteIf("EditUnapplied", "active" )">
                                        <a href="@Url.Action("PendingUnapplied", "SalaryDeductionUnapplied" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Pending</a>
                                    </li>
                                }
                                @if (User.IsInRole("Salary Deductions Approval"))
                                {

                                    <li class="@Html.RouteIf("ApproveUnapplied", "active" )">
                                        <a href="@Url.Action("ApproveUnapplied", "SalaryDeductionUnapplied" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                                    </li>
                                }


                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Salary Deductions Verification"))
                    {
                        <li class="@Html.RouteIf("VotesList", "active" )">
                            <a href="@Url.Action("VotesList", "SalaryDeductionPayment" , new { area="IFMISTZ" })"><i class="fa fa-external-link"></i> Votes</a>
                        </li>


                    }
                </ul>
            </li>
        </ul>
    </li>
}

