@if (User.IsInRole("System Setup"))
{
    <li class="@Html.RouteIf("ServiceProviderList", "active") || @Html.RouteIf("CreateServiceProvider", "active") ||  || @Html.RouteIf("EditServiceProvider", "active")">
        <a href="@Url.Action("ServiceProviderList", "MuseServiceProviders", new { area = "IFMISTZ" })">Service Provider</a>
    </li>
    <li class="@Html.RouteIf("SubServiceProviderList", "active") || @Html.RouteIf("CreateSubServiceProvider", "active") ||  || @Html.RouteIf("EditSubServiceProvider", "active")">
        <a href="@Url.Action("SubServiceProviderList", "MuseSubServiceProviders", new { area = "IFMISTZ" })">Sub Service Provider</a>
    </li>
    <li class="@Html.RouteIf("InstitutionSps", "active") || @Html.RouteIf("CreateInstitutionSp", "active") || @Html.RouteIf("EditInstitutionSp", "active")">
        <a href="@Url.Action("InstitutionSps", "MuseInstitutionMuseSps", new { area = "IFMISTZ" })"><span> Institution SPs</span></a>
    </li>
}
