<li class="@Html.RouteIf("icons", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Simulation</span></a>
    <ul>

        @*if (Properties.Settings.Default.HostingEnvironment != "Live")
            {*@
        @if (User.IsInRole("Payment Simulation"))
        {
            <li class="@Html.RouteIf("SendPayment", "active")">
                <a href="@Url.Action("SendPayment", "PaymentSimulation", new { area = "" }, null)">
                    <i class="fa fa-external-link"></i> ControlNo Payment
                </a>
            </li>
        }

        @if (User.IsInRole("Statement Simulation"))
        {
            <li class="@Html.RouteIf("GenerateBankStatement", "active")">
                <a href="@Url.Action("GenerateBankStatement", "Simulation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Generate Bank Statement </a>
            </li>
        }
        @if (User.IsInRole("Clear Data"))
        {
            <li class="@Html.RouteIf("ClearInstitutionData", "active")">
                <a href="@Url.Action("ClearInstitutionData", "Simulation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Clear Institution Data</a>
            </li>

        }

        @if (User.IsInRole("Generate Unapplied"))
        {
            <li class="@Html.RouteIf("GenerateUnapplied", "active")">
                <a href="@Url.Action("GenerateUnapplied", "Simulation", new { area = "IFMISTZ" }, null)"><i class="fa fa-external-link"></i> Generate Unapplied</a>
            </li>

        }

        @*}*@

    </ul>
</li>
