<li class="@Html.RouteIf("icons", "active")">
    <a href="#"> Special Imprest Mngt</a>
    <ul>
        @if (User.IsInRole("Special Imprest Entry"))
        {
            <li class="@Html.RouteIf("Pending", "active") || @Html.RouteIf("Pendingdetails", "active")">
                <a href="@Url.Action("Pending", "SpecialImprest", new { area = "IFMISTZ" })">Pending</a>
            </li>
        }
        @if (User.IsInRole("Special Imprest Approval"))
        {
            <li class="@Html.RouteIf("Approval", "active")">
                <a href="@Url.Action("Approval", "SpecialImprest", new { area = "IFMISTZ" })">Approval</a>
            </li>
        }
        @if (User.IsInRole("Special Imprest Entry"))
        {
            <li class="@Html.RouteIf("Approved", "active")">
                <a href="@Url.Action("Approved", "SpecialImprest", new { area = "IFMISTZ" })">Approved</a>
            </li>

            <li class="@Html.RouteIf("SpecialimprestApprovedRPTv", "active")">
                <a href="@Url.Action("SpecialimprestApprovedRPTv", "Report", new { area = "IFMISTZ" })">Print Imprest Slip</a>
            </li>
        }

    </ul>
</li>

