@if (User.IsInRole("Standing Imprest Menu"))
{
    <li class="@Html.RouteIf("", "")">
        <a href="#">Imprest Request</a>
        <ul>
            @if (User.IsInRole("Standing Imprest Entry"))
            {
                <li class="@Html.RouteIf("PendingStandingImprests", "active") || @Html.RouteIf("CreateStandingImprest", "active") || @Html.RouteIf("EditStandingImprest", "active") ">
                    <a href="@Url.Action("PendingStandingImprests", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Entry</a>
                </li>
            }
            <li class="@Html.RouteIf("StandingImprestInboxAsync", "active")">
                <a href="@Url.Action("StandingImprestInbox", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Inbox</a>
            </li>
            <li class="@Html.RouteIf("StandingImprestOutboxAsync", "active")">
                <a href="@Url.Action("StandingImprestOutbox", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Outbox</a>
            </li>
            <li class="@Html.RouteIf("ApprovedStandingImprest", "active")">
                <a href="@Url.Action("ApprovedStandingImprest", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Approved</a>
            </li>
            <li class="@Html.RouteIf("TrackStandingImprest", "active")">
                <a href="@Url.Action("TrackStandingImprest", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Tracker</a>
            </li>
        </ul>
    </li>

    <li class="@Html.RouteIf("", "")">
        <a href="#">Imprest Retirement</a>
        <ul>
            @if (User.IsInRole("Standing Imprest Entry"))
            {
                <li class="@Html.RouteIf("StandingImprestExpenses", "active") ">
                    <a href="@Url.Action("StandingImprestExpenses", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Entry</a>
                </li>
            }
            <li class="@Html.RouteIf("ConfirmedStandingImprestExpenses", "active") ">
                <a href="@Url.Action("ConfirmedStandingImprestExpenses", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Confirmed</a>
            </li>
            <li class="@Html.RouteIf("ApprovedStandingImprestExpenses", "active") ">
                <a href="@Url.Action("ApprovedStandingImprestExpenses", "StandingImprests", new { area = "CashManagement" })"><i class="fa fa-external-link"></i> Approved</a>
            </li>
        </ul>
    </li>
}
