@if (User.IsInRole("System Setup"))
{
    <li class="@Html.RouteIf("", "active")">
        <a href="#" title="System Management"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">System Management</span></a>
        <ul>

            @{ Html.RenderPartial("_FundingCategoryMenu"); }

            @{ Html.RenderPartial("_ServiceProviderMenu"); }

            <li class="@Html.RouteIf("MobileAccountList", "active")">
                <a href="@Url.Action("MobileAccountList", "MobileAccounts", new { area = "IFMISTZ" })">Mobile Account</a>
            </li>

            <li class="@Html.RouteIf("InstitutionShortCodeList", "active")">
                <a href="@Url.Action("InstitutionShortCodeList", "InstitutionShortCode", new { area = "IFMISTZ" })">Institution ShortCode List</a>
            </li>

            <li class="@Html.RouteIf("CreateSector", "active")">
                <a href="@Url.Action("CreateSector", "InstitutionSectors", new { area = "IFMISTZ" })">Sector</a>
            </li>
            <li class="@Html.RouteIf("CreateSubSector", "active")">
                <a href="@Url.Action("CreateSubSector", "InstitutionSubSectors", new { area = "IFMISTZ" })">Sub Sector</a>
            </li>
            <li class="@Html.RouteIf("InstitutionList", "active")">
                <a href="@Url.Action("InstitutionList", "Institutions", new { area = "IFMISTZ" })">Institution</a>
            </li>
            <li class="@Html.RouteIf("ExchangeRate", "active")">
                <a href="@Url.Action("ExchangeRate", "InstitutionExchangeRates", new { area = "IFMISTZ" })">Exchange Rate</a>
            </li>
            <li class="@Html.RouteIf("ExchangeRateList", "active")">
                <a href="@Url.Action("ExchangeRateList", "ExchangeRates", new { area = "IFMISTZ" })" title="Dashboard"><span>BOT Exchange Rates</span></a>
            </li>
            @*<li class="@Html.RouteIf("AccountList", "active")">
        <a href="@Url.Action("AccountList", "InstitutionAccounts", new { area = "IFMISTZ" })">Institution Account</a>
        </li>*@

            @if (User.IsInRole("Institution Account Entry"))
            {

                <li class="@Html.RouteIf("PendingAccountList", "active")">
                    <a href="@Url.Action("PendingAccountList", "InstitutionAccounts", new { area = "IFMISTZ" })">Institution Account Entry</a>
                </li>

                <li class="@Html.RouteIf("ApprovedAccountList", "active")">
                    <a href="@Url.Action("ApprovedAccountList", "InstitutionAccounts", new { area = "IFMISTZ" })">Approved List</a>
                </li>

            }

            @if (User.IsInRole("Institution Account Approval"))
            {
                <li class="@Html.RouteIf("confirmedAccountList", "active")">
                    <a href="@Url.Action("confirmedAccountList", "InstitutionAccounts", new { area = "IFMISTZ" })">Institution Account Approval</a>
                </li>

            }

            <li class="@Html.RouteIf("SubLevel", "active")">
                <a href="@Url.Action("SubLevel", "InstitutionSubLevels", new { area = "IFMISTZ" })">Institution SubLevels</a>
            </li>
            <li class="@Html.RouteIf("Banklist", "active")">
                <a href="@Url.Action("Banklist", "Banks", new { area = "IFMISTZ" })" title="Dashboard"><span>Bank</span></a>
            </li>
            <li class="@Html.RouteIf("CurrencyList", "active")">
                <a href="@Url.Action("CurrencyList", "Currencies", new { area = "IFMISTZ" })" title="Dashboard"><span>Currency</span></a>
            </li>
            <li class="@Html.RouteIf("PendingAccount", "active")">
                <a href="@Url.Action("PendingAccount", "Accounts", new { area = "IFMISTZ" })" title="Dashboard"><span>Bank Accounts</span></a>
            </li>

            <li class="@Html.RouteIf("CountryList", "active")">
                <a href="@Url.Action("CountryList", "Countries", new { area = "IFMISTZ" })" title="Dashboard"><span>Countries</span></a>
            </li>
            <li class="@Html.RouteIf("FinancialYearList", "active")">
                <a href="@Url.Action("FinancialYearList", "FinancialYears", new { area = "IFMISTZ" })" title="Dashboard"><span>Financial Year</span></a>
            </li>

            <li class="@Html.RouteIf("ItemClassification", "active")">
                <a href="@Url.Action("ItemClassification", "ItemClassifications", new { area = "IFMISTZ" })" title="Dashboard"><span>Item Classfication</span></a>
            </li>
            <li class="@Html.RouteIf("PaymentOfficeSetup", "active")">
                <a href="@Url.Action("paymentofficelist", "PaymentOfficeSetups", new { area = "IFMISTZ" })" title="Dashboard"><span>Payment Office Setup</span></a>
            </li>
            <li class="@Html.RouteIf("Item", "active")">
                <a href="@Url.Action("Item", "Items", new { area = "IFMISTZ" })" title="Dashboard"><span>Items</span></a>
            </li>
            <li class="@Html.RouteIf("PayeeType", "active")">
                <a href="@Url.Action("PayeeType", "PayeeTypes", new { area = "IFMISTZ" })" title="Dashboard"><span>Payee Type</span></a>
            </li>
            <li class="@Html.RouteIf("PendingConfigList", "active")">
                <a href="@Url.Action("PendingConfigList", "ConfigList", new { area = "IFMISTZ" })" title="Dashboard"><span>Configuration List</span></a>
            </li>
            <li class="@Html.RouteIf("InstitutionConfigList", "active")">
                <a href="@Url.Action("InstitutionConfigList", "InstitutionConfig", new { area = "IFMISTZ" })" title="Dashboard"><span>Institution Configuration</span></a>
            </li>

            <li class="@Html.RouteIf("RestrictionFinancialYearList", "active")">
                <a href="@Url.Action("RestrictionFinancialYearList", "RestrictionFinancialYear", new { area = "IFMISTZ" })" title="Dashboard"><span>Restriction Financial Year</span></a>
            </li>

            @if (User.IsInRole("Loan Type Entry"))
            {
                <li class="@Html.RouteIf("LoanTypeList", "active")">
                    <a href="@Url.Action("LoanTypeList", "LoanTypes", new { area = "IFMISTZ" })">Loan Types</a>
                </li>
            }
            <li class="@Html.RouteIf("InstitutionApprovalLevel", "active")">
                <a href="@Url.Action("InstitutionApprovalLevel", "InstitutionApprovalLevels1", new { area = "IFMISTZ" })">Institution Approval Level</a>
            </li>
            <li class="@Html.RouteIf("Taxes", "active")">
                <a href="@Url.Action("Taxes", "Taxes", new { area = "IFMISTZ" })"> Taxes</a>
            </li>
            <li class="@Html.RouteIf("Uom", "active")">
                <a href="@Url.Action("Uom", "UOMs", new { area = "IFMISTZ" })">Unit of Measure Setup</a>
            </li>
            <li class="@Html.RouteIf("Attachment", "Attachments")">
                <a href="@Url.Action("Attachment", "Attachments", new { area = "IFMISTZ" })"> Attachments</a>
            </li>
            <li class="@Html.RouteIf("Votegroup", "active")">
                <a href="@Url.Action("Votegroup", "VoteGroups", new { area = "IFMISTZ" })"> Vote Group</a>
            </li>
            <li class="@Html.RouteIf("ConsolidationHeaderSetup", "active")">
                <a href="@Url.Action("ConsolidationHeaderSetup", "ConsolidationHeaderSetups", new { area = "IFMISTZ" })">Consolidation Group</a>
            </li>
            <li class="@Html.RouteIf("ConsolidationDetailSetup", "active")">
                <a href="@Url.Action("ConsolidationDetails", "ConsolidationDetailSetups", new { area = "IFMISTZ" })">Consolidation Entity</a>
            </li>
            <li class="@Html.RouteIf("PaymentVoucherDeductionType", "active")">
                <a href="@Url.Action("PaymentVoucherDeductionTypelist", "PaymentVoucherDeductionTypes", new { area = "IFMISTZ" })">PaymentVoucher DeducationType</a>
            </li>
            <li class="@Html.RouteIf("SubWarrantHolderList", "active")">
                <a href="@Url.Action("SubWarrantHolderList", "subwarrantholder", new { area = "IFMISTZ" })">SubWarrant Holder</a>
            </li>

            <li class="@Html.RouteIf("InstitutionSubWarrantList", "active")">
                <a href="@Url.Action("InstitutionSubWarrantList", "InstitutionSubWarrantHolder", new { area = "IFMISTZ" })">Institution SubWarrant Holder</a>
            </li>

            <li class="@Html.RouteIf("MobileAccountList", "active")">
                <a href="@Url.Action("MobileAccountList", "MobileAccounts", new { area = "IFMISTZ" })">Mobile Account List</a>
            </li>


            @if (User.IsInRole("Post Period Entry"))
            {
                <li class="@Html.RouteIf("PendingAllowedPostingList", "active")">
                    <a href="@Url.Action("PendingAllowedPostingList", "AllowedPostingDates", new { area = "IFMISTZ" })">Post Period</a>
                </li>
            }

            @if (User.IsInRole("System Setup"))
            {
                <li class="@Html.RouteIf("CentralPaymentCategoryList", "active") || @Html.RouteIf("CreateCentralPaymentCategory", "active") || @Html.RouteIf("EditCentralPaymentCategory", "active")">
                    <a href="@Url.Action("CentralPaymentCategoryList", "CentralPaymentCategory", new { area = "IFMISTZ" })"> Central Payment Category </a>
                </li>
            }
            @*@if (User.IsInRole("System Setup") || User.IsInRole("System Setup"))
        {*@
            <li class="@Html.RouteIf("SystemModuleList", "active") || @Html.RouteIf("CreateModules", "active") || @Html.RouteIf("EditModule", "active")">
                <a href="@Url.Action("SystemModuleList", "SystemModule", new { area = "IFMISTZ" })"> System Module </a>

            </li>

            <li class="@Html.RouteIf("SystemSubModuleList", "active") || @Html.RouteIf("CreateSystemSubModule", "active") || @Html.RouteIf("EditSystemSubModule", "active")">
                <a href="@Url.Action("SystemSubModuleList", "SystemSubModule", new { area = "IFMISTZ" })"> System Sub Module </a>
            </li>
            @*}*@

            @if (User.IsInRole("Helpdesk Level List"))
            {
                <li class="@Html.RouteIf("LevelsList", "active") || @Html.RouteIf("CreateLevels", "active") || @Html.RouteIf("EditLevel", "active")">
                    <a href="@Url.Action("LevelsList", "Levels", new { area = "IFMISTZ" })"> Levels </a>
                </li>
            }

            @if (User.IsInRole("Helpdesk Ticket Category List"))
            {
                <li class="@Html.RouteIf("TicketCategoryList", "active") || @Html.RouteIf("CreateTicketCategory", "active") || @Html.RouteIf("EditTicketCategory", "active")">
                    <a href="@Url.Action("TicketCategoryList", "TicketCategory", new { area = "IFMISTZ" })">Ticket Category</a>
                </li>
            }

            @if (User.IsInRole("PO User Access"))
            {
                <li class="@Html.RouteIf("UserPOAccessEntry", "active") || @Html.RouteIf("UserPOAccessCreate", "active")">
                    <a href="@Url.Action("UserPOAccessEntry", "UserPOAccess", new { area = "IFMISTZ" })">PO User Access</a>
                </li>
            }

            <li class="@Html.RouteIf("SecurityGuaranteeSetupList", "active")">
                <a href="@Url.Action("SecurityGuaranteeSetupList", "SecurityGuaranteeSetup", new { area = "IFMISTZ" })" title="Dashboard"><span>Security Guarantee</span></a>
            </li>
            <li class="@Html.RouteIf("MuseBiologicalMappingList", "active") || @Html.RouteIf("CreateMuseBiologicalMapping", "active") || @Html.RouteIf("EditMuseBiologicalMapping", "active") || @Html.RouteIf("MappingDetails", "active")">
                <a href="@Url.Action("MuseBiologicalMappingList", "MuseBiologicalMappingSetup", new { area = "IFMISTZ" })" title="Muse Biological Mapping"><span>Muse Biological Mapping</span></a>
            </li>
            @if (User.IsInRole("Salary Deductions Verification"))
            {
                <li class="@Html.RouteIf("AccountsList", "active") || @Html.RouteIf("CreateAccount", "active") || @Html.RouteIf("EditAccount", "active")">
                    <a href="@Url.Action("AccountsList", "BeneficiaryAccount", new { area = "IFMISTZ" })">At Source Bank Accounts</a>
                </li>
            }
            <li class="@Html.RouteIf("", "active")">
                <a href="#" title="Gfs code Management"> <span class="menu-item-parent">Gfs Code Management</span></a>
                <ul>
                    <li class="@Html.RouteIf("NoteActivityCreate", "active") || @Html.RouteIf("NoteActivityEdit", "active")">
                        <a href="@Url.Action("NoteActivityCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Note Activity"><span>Note Activity</span></a>
                    </li>
                    <li class="@Html.RouteIf("NoteSubActivityCreate", "active") || @Html.RouteIf("NoteSubActivityEdit", "active")">
                        <a href="@Url.Action("NoteSubActivityCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Note SubActivity"><span>Note SubActivity</span></a>
                    </li>
                    <li class="@Html.RouteIf("NoteItemsCreate", "active") || @Html.RouteIf("NoteItemsEdit", "active")">
                        <a href="@Url.Action("NoteItemsCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Notes"><span>Notes</span></a>
                    </li>
                    <li class="@Html.RouteIf("NoteItemsRangeCreate", "active") || @Html.RouteIf("NoteItemsRangeEdit", "active")">
                        <a href="@Url.Action("NoteItemsRangeCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="FA Note Item Range"><span>Note Item Range</span></a>
                    </li>
                    <li class="@Html.RouteIf("ChapterSetupCreate", "active") || @Html.RouteIf("ChapterSetupEdit", "active")">
                        <a href="@Url.Action("ChapterSetupCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Chapter"><span>Chapter</span></a>
                    </li>
                    <li class="@Html.RouteIf("SubChapterSetupCreate", "active") || @Html.RouteIf("SubChapterSetupEdit", "active")">
                        <a href="@Url.Action("SubChapterSetupCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Sub Chapter"><span>Sub Chapter</span></a>
                    </li>
                    <li class="@Html.RouteIf("ItemSetupCreate", "active") || @Html.RouteIf("ItemSetupEdit", "active")
                            || @Html.RouteIf("GfsCodeItemLevelTwoEdit", "active")|| @Html.RouteIf("GfsCodeItemLevelThreeEdit", "active")">
                        <a href="@Url.Action("ItemSetupCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Item"><span>Gfs Code Item</span></a>
                    </li>
                    <li class="@Html.RouteIf("GfsCodeQuestionnaire", "active") || @Html.RouteIf("GfsCodeQuestionnaireDetails", "active")">
                        <a href="@Url.Action("GfsCodeQuestionnaire", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Setup"><span>Questionnaire</span></a>
                    </li>
                    <li class="@Html.RouteIf("GfsCodeSetupCreate", "active") || @Html.RouteIf("GfsCodeSetupEdit", "active")">
                        <a href="@Url.Action("GfsCodeSetupCreate", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Setup"><span>Request Gfs Code</span></a>
                    </li>
                    <li class="@Html.RouteIf("GfsCodeProcessedRequest", "active") ">
                        <a href="@Url.Action("GfsCodeProcessedRequest", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Setup"><span>Processed Request</span></a>
                    </li>
                    <li class="@Html.RouteIf("GfsCodePendingRequest", "active") || @Html.RouteIf("GfsCodeBatchDetails", "active")
                        || @Html.RouteIf("GfsCodeConversionHistory", "active")">
                        <a href="@Url.Action("GfsCodePendingRequest", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Setup"><span>Pending Request</span></a>
                    </li>
                    <li class="@Html.RouteIf("GfsCodeSetupVerified", "active")">
                        <a href="@Url.Action("GfsCodeSetupVerified", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Setup"><span>Approved Gfs Code</span></a>
                    </li>

                    <li class="@Html.RouteIf("GfsCodeSetupTracker", "active")">
                        <a href="@Url.Action("GfsCodeSetupTracker", "GfscodeSetup", new { area = "IFMISTZ" })" title="Gfs Code Setup"><span>Gfs Code Tracker</span></a>
                    </li>

                    <li class="@Html.RouteIf("PendingAssetMapping", "active") || @Html.RouteIf("PendingAssetMapping", "active")">
                        <a href="@Url.Action("PendingAssetMapping", "MuseAssetMappingtbls", new { area = "IFMISTZ" })"><span>Asset Mapping List</span></a>
                    </li>

                    <li class="@Html.RouteIf("PendingWorkingCapital", "active") || @Html.RouteIf("PendingWorkingCapital", "active")">
                        <a href="@Url.Action("PendingWorkingCapital", "WorkingCapital", new { area = "IFMISTZ" })"><span>Working Capital List</span></a>
                    </li>
                    @if (User.IsInRole("Consolidation Data Setup"))
                    {
                        <li class="@Html.RouteIf("InitiateTrialBalances", "active")">
                            <a href="@Url.Action("InitiateTrialBalances", "ConsoTransactions", new { area = "Consolidation" })" title="Dashboard"><span>Non MUSE TB</span></a>
                        </li>
                        <li class="@Html.RouteIf("GfsCodeMapping", "active")">
                            <a href="@Url.Action("GfsCodeMapping", "GfsCodeMapping", new { area = "Consolidation" })" title="Dashboard"><span>GfsCode Mapping</span></a>
                        </li>
                    }

                </ul>
            </li>

            <li class="@Html.RouteIf("SystemDocumentList", "active")
            || @Html.RouteIf("CreateSystemDocument", "active")
            || @Html.RouteIf("EditSystemDocument", "active")">
                <a href="@Url.Action("SystemDocumentList", "SystemDocuments", new { area = "" })" title="System Documents"><span>System Documents</span></a>
            </li>


            <li class="@Html.RouteIf("", "")">
                <a href="#"> Notifications  </a>
                <ul>

                    @*<li class="@Html.RouteIf("LoginNotificationList", "active") ">
                    <a href="@Url.Action("LoginNotificationList", "Notification", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Login Notification </a>
                </li>*@

                    <li class="@Html.RouteIf("SystemNotificationList", "active") ">
                        <a href="@Url.Action("SystemNotificationList", "Notification", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> System Notification </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
}
