@if (User.IsInRole("System Setup"))
{
    <li class="@Html.RouteIf("", "")">
        <a href="#">Tools</a>
        <ul>
            <li class="@Html.RouteIf("UnattendedRevenues", "active")">
                <a href="@Url.Action("UnattendedRevenues", "GepgPmtNotfInfoes", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Unattended Revenues</a>
            </li>
            <li class="@Html.RouteIf("PendingPostingLogs", "active")">
                <a href="@Url.Action("PendingPostingLogs", "PostingLogs", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Posting Logs</a>
            </li>
            <li class="@Html.RouteIf("PoStatus3", "active")">
                <a href="#">
                    <i class="fa fa-external-link"></i>
                    <span class="menu-item-parent">PO Status</span>
                </a>
                <ul>
                    @*<li class="@Html.RouteIf("Index", "active")">
                            <a href="@Url.Action("Index", "PaymentOfficeStatus", new { area = "IFMISTZ" }, null)">
                                <i class="fa fa-archive"></i> PO Status
                            </a>
                        </li>
                        <!--<li class="@Html.RouteIf("PoStatus2", "active")">
                            <a href="@Url.Action("PoStatus2", "PaymentOfficeStatus", new { area = "IFMISTZ" }, null)">
                                <i class="fa fa-adn"></i> PO Status 2
                            </a>
                        </li>*@
                    <li class="@Html.RouteIf("PoStatus3", "active")">
                        <a href="@Url.Action("PoStatus3", "PaymentOfficeStatus", new { area = "IFMISTZ" }, null)">
                            PO Status
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
}


