@model IFMIS.Areas.IFMISTZ.Models.TransferSlipVM

<style type="text/css">
    * {
        box-sizing: border-box;
    }

   /* body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }*/

    @@page {
        size: A4;
        margin: 1cm;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: #000;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }

    .panel-title {
        text-align: center;
        text-transform: uppercase;
        padding: 5px;
    }
</style>

<div class="" style="text-align: center">
    <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="150" height="150" />
</div>

<div class="panel-title"><b> THE UNITED REPUBLIC OF TANZANIA </b> </div>
<div class="panel-title"><b> MINISTRY OF FINANCE AND PLANNING </b> </div>
<div class="panel-title"><b> TRANSFER INSTRUCTION SLIP </b> </div>
<br />

<h4>TRANSFER DETAILS</h4>
<hr width="190px" style="float:left;margin-top:-16px" />
<br />

<div class="row">
    <div class="col-md-8" style="text-align:left">
        <div>
            <b>TRANSFER ACCOUNT NO:</b>@Html.DisplayFor(model => model.BankAccountNoFrom)
        </div>
        <div style="padding-top:10px">
            <b>TRANSFER ACCOUNT NAME:</b>@Html.DisplayFor(model => model.BankAccountNameFrom)
        </div>
        <div style="padding-top:10px; padding-bottom: 10px">
            <b>TRANSFER DATE:</b>@DateTime.Now.ToString("dd-MM-yyyy")
        </div>
    </div>
</div>
<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents --->
        <div class="panel-body">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped" style="width: 100%">
                <tr style="text-align:left; padding-left:60px">
                    <th style="white-space:nowrap; padding:4px" >
                        TRANSFER REFERENCE
                    </th>
                    <th style="white-space: nowrap; padding:4px">
                        NO. OF RECORDS
                    </th>
                    <th style="white-space: nowrap; padding:4px">
                        AMOUNT
                    </th>
                    <th style="white-space: nowrap; padding: 4px">
                        Currency
                    </th>
                    <th style="white-space: nowrap; padding: 4px">
                        PAYEE ACCOUNT NO
                    </th>
                    <th style="white-space: nowrap; padding: 4px">
                        PAYEE ACCOUNT NAME
                    </th>
                </tr>

                @{
                    int i = 0;
                    {
                        i++;
                    }
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.TransferRefNum)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(model => model.NoOfTrxs)
                        </td>
                        <td style="text-align: right;white-space:nowrap">
                            @Html.DisplayFor(model => model.TransactionAmount, "_DecimalThousands")
                        </td>
                        <td style="white-space:nowrap;text-align:center">
                            @Html.DisplayFor(model => model.TransactionCurrency)
                        </td>
                        <td style="text-align: right;white-space:nowrap">
                            @Html.DisplayFor(model => model.BankAccountNoTo)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(model => model.BankAccountNameTo)
                        </td>
                    </tr>
                }

            </table>
            <table style="margin-top: 60px; "width:100%">
                <tr>
                    <td style="border: none; padding-left: 60px; padding-top: 20px;">SIGNATURE:</td>
                    @*<td style="border: none; text-align: center; padding-top: 20px;">_______________</td>
                    <td style="border: none; text-align: center; padding-top: 20px;">_______________</td>*@
                </tr>
                <tr>
                    <td style="border: none; padding-left: 60px; padding-top: 10px;">NAME:</td>
                    <td style="border: none; width: 40%; text-align: left; padding-top: 5px;">VERIFIER</td>
                    <td style="border: none; width: 40%; text-align: left; padding-top: 5px;">AUTHORIZER</td>
                </tr>

            </table>

            <table style="margin-top: 60px">
                <tr>
                    <td style="border: none; padding-left: 60px; padding-top: 20px;">SIGNATURE:</td>
                    <td style="border-style: none; text-align: center"></td>
                    <td style="border-style: none; text-align: center"></td>
                </tr>
                <tr>
                    <td style="border: none; padding-left: 60px; padding-top: 10px;">NAME:</td>
                    <td style="border: none; width: 40%; text-align: left; padding-top: 5px;">APPROVAL 1</td>
                    <td style="border: none; width: 40%; text-align: left; padding-top: 5px;">APPROVAL 2</td>
                </tr>

            </table>
            <table style="margin-top: 60px">
                <tr>
                    <td style="border: none; padding-left: 60px; padding-top: 20px;">SIGNATURE:</td>
                    <td style="border-style: none; text-align: center"></td>
                    <td style="border-style: none; text-align: center"></td>
                </tr>
                <tr>
                    <td style="border: none; padding-left: 60px; padding-top: 10px;">NAME:</td>
                    <td style="border: none; width:40%; text-align: left; padding-top: 5px;">BOT VERIFIER</td>
                    <td style="border: none; width: 40%;  text-align: left; padding-top: 5px;">BOT AUTHORIZER</td>
                </tr>
            </table>
        </div>
    </div>
</div>