
    <li class="@Html.RouteIf("","active")">
        <a href="#"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">TSA</span></a>
        <ul>
         
                <li class="@Html.RouteIf("forum","active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Payments</a>
                    <ul>

                      
                            <li class="@Html.RouteIf("PaymentList","active")" style="background:#ffffff">
                                @Html.ActionLink("Verification", "PaymentList", "Payments", new { area = "TSA" }, null)
                            </li>
                        

                     
                            <li class="@Html.RouteIf("TransferList","active")" style="background:#ffffff">
                                @Html.ActionLink("Authorization", "TransferList", "Transfers", new { area = "TSA" }, null)
                            </li>
                        

                      
                            <li class="@Html.RouteIf("SendToBOTList","active")" style="background:#ffffff">
                                @Html.ActionLink("Submission", "SendToBOTList", "Transfers", new { area = "TSA" }, null)
                            </li>
                        
                        @*<li class="@Html.RouteIf("CancelledPayments","active")" style="background:#ffffff">
                                @Html.ActionLink("Cancelled", "CancelledPayments", "Payments", new { area = "TSA" }, null)
                            </li>*@
                        <li class="@Html.RouteIf("QuickSearchPayments","active")" style="background:#ffffff">
                            @Html.ActionLink("Quick search Payments", "QuickSearchPayments", "Payments", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("SettledPayments","active")" style="background:#ffffff">
                            @Html.ActionLink("Search Settlement", "SettledPayments", "Payments", new { area = "TSA" }, null)
                        </li>

                        <li class="@Html.RouteIf("SettlementDetailsByPayStation","active")" style="background:#ffffff">
                            @Html.ActionLink("All Settlements", "SettlementDetailsByPayStation", "Payments", new { area = "TSA" }, null)
                        </li>
                        @*<li class="@Html.RouteIf("TransferSummaryByPayStation","active")" style="background:#ffffff">
                                @Html.ActionLink("Payment status", "TransferSummaryByPayStation", "Transfers", new { area = "TSA" }, null)
                            </li>*@
                        <li class="@Html.RouteIf("PaymentStatus","active")" style="background:#ffffff">
                            @Html.ActionLink("Transfer Status Report", "PaymentStatus", "Transfers", new { area = "TSA" }, null)
                        </li>
                        @*<li class="@Html.RouteIf("forum", "active")">
                                <a href="#"><i class="fa fa-bar-chart-o"></i>Payments Status</a>
                                <ul>
                                    <li class="@Html.RouteIf("CancelledPayments", "active")" style="background:#ffffff">
                                        @Html.ActionLink("Cancelled Payments", "CancelledPayments", "Payments", new { area = "TSA" }, null)
                                    </li>
                                </ul>
                            </li>*@
                        <li class="@Html.RouteIf("forum","active")">
                            <a href="#"><i class="fa fa-print"></i>Reports</a>
                            <ul>
                                <li class="@Html.RouteIf("TsaCashBook", "active")" style="background:#ffffff">
                                    @Html.ActionLink("Cash Book Report", "TsaCashBook", "Reports", new { area = "TSA" }, null)
                                </li>
                                <li class="@Html.RouteIf("TsaTransferDetail", "active")" style="background:#ffffff">
                                    @Html.ActionLink("TSA Transfer Detail", "TsaTransferDetail", "Reports", new { area = "TSA" }, null)
                                </li>
                                <li class="@Html.RouteIf("TsaTransferList", "active")" style="background:#ffffff">
                                    @Html.ActionLink("TSA Transfer List", "TsaTransferList", "Reports", new { area = "TSA" }, null)
                                </li>
                                <li class="@Html.RouteIf("TsaPaylist","active")" style="background:#ffffff">
                                    @Html.ActionLink("TSA Paylist Summary", "TsaPaylist", "Reports", new { area = "TSA" }, null)
                                </li>
                                <li class="@Html.RouteIf("TsaPaylistDetail","active")" style="background:#ffffff">
                                    @Html.ActionLink("TSA Paylist Detail", "TsaPaylistDetail", "Reports", new { area = "TSA" }, null)
                                </li>
                                <li class="@Html.RouteIf("SubTSAFunding", "active")" style="background:#ffffff">
                                    @Html.ActionLink("Sub TSA Funding", "SubTSAFunding", "Reports", new { area = "TSA" }, null)
                                </li>
                                <li class="@Html.RouteIf("TsaRemittanceAdvice", "active")" style="background:#ffffff">
                                    @Html.ActionLink("Remittance Advice", "TsaRemittanceAdvice", "Reports", new { area = "TSA" }, null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            

            @* TSA Unapplied *@
         
                <li class="@Html.RouteIf("forum", "active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Unapplied</a>
                    <ul>
                        @*@if (User.IsInRole("TSA Unapplied Matching"))
                        {
                            <li class="@Html.RouteIf("ManualUnapplieds", "active")" style="background:#ffffff">
                                @Html.ActionLink("Matching", "ManualUnapplieds", "Unapplieds", new { area = "TSA" }, null)
                            </li>
                        }*@
                        <li class="@Html.RouteIf("ProcessedUnapplied", "active")" style="background:#ffffff">
                            @Html.ActionLink("View Unapplied", "ProcessedUnapplied", "Unapplieds", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("ClearedList", "active")" style="background:#ffffff">
                            @Html.ActionLink("Cleared Unapplied", "ClearedList", "Unapplieds", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("PreviousUnapplied", "active")" style="background:#ffffff">
                            @Html.ActionLink("Previous Year Unapplied", "PreviousUnapplied", "Unapplieds", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("UnappliedList", "active")" style="background:#ffffff">
                            @Html.ActionLink("Confirmation", "UnappliedList", "Unapplieds", new { area = "TSA" }, null)
                        </li>


                        <li class="@Html.RouteIf("QuickSearchUnapplied", "active")" style="background:#ffffff">
                            @Html.ActionLink("Quick Search Unapplied", "QuickSearchUnapplied", "Unapplieds", new { area = "TSA" }, null)
                        </li>

                    </ul>
                </li>
            

            @* TSA Transfer *@
        
                <li class="@Html.RouteIf("forum", "active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Bank Transfer</a>
                    <ul>
                       
                            <li class="@Html.RouteIf("InternalTransferList", "active")" style="background:#ffffff">
                                @Html.ActionLink("Entry", "InternalTransferList", "InternalTransfers", new { area = "TSA" }, null)
                            </li>
                       

                       
                            <li class="@Html.RouteIf("VerifyInternalTransfer", "active")" style="background:#ffffff">
                                @Html.ActionLink("Verification", "VerifyInternalTransfer", "InternalTransfers", new { area = "TSA" }, null)
                            </li>
                       

                       
                            <li class="@Html.RouteIf("AuthorizeInternalTransfer", "active")" style="background:#ffffff">
                                @Html.ActionLink("Authorization", "AuthorizeInternalTransfer", "InternalTransfers", new { area = "TSA" }, null)
                            </li>
                        

                       
                            <li class="@Html.RouteIf("SendToBoT", "active")" style="background:#ffffff">
                                @Html.ActionLink("Submission", "SendToBoT", "InternalTransfers", new { area = "TSA" }, null)
                            </li>

                            @*<li class="@Html.RouteIf("SentToBOTSummary", "active")" style="background:#ffffff">
                                    @Html.ActionLink("Authorized Summary", "SentToBOTSummary", "Transfers", new { area = "TSA" }, null)
                                </li>*@

                            <li class="@Html.RouteIf("SentToBOTSummary", "active")" style="background:#ffffff">
                                @Html.ActionLink("Transfer Status", "SentToBOTSummary", "Transfers", new { area = "TSA" }, null)
                            </li>

                            <li class="@Html.RouteIf("AllTransferStatus", "active")" style="background:#ffffff">
                                @Html.ActionLink("All Transfer Status", "AllTransferStatus", "Transfers", new { area = "TSA" }, null)
                            </li>
                        
                            <li class="@Html.RouteIf("CancelledTransfers", "active")" style="background:#ffffff">
                                @Html.ActionLink("Cancelled Transfers", "CancelledTransfers", "Transfers", new { area = "TSA" }, null)
                            </li>
                       
                    </ul>
                </li>

                <li class="@Html.RouteIf("forum", "active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Cash Management</a>
                    <ul>
                        <li class="@Html.RouteIf("SpendingLimitList", "active")">
                            @Html.ActionLink("Spending limits", "SpendingLimitList", "SpendingLimits", new { area = "TSA" }, null)
                        </li>
                        
                        <li class="@Html.RouteIf("ApproveSpendingLimitList", "active")">
                            @Html.ActionLink("Spending Limit Authorization", "ApproveSpendingLimitList", "SpendingLimits", new { area = "TSA" }, null)
                        </li> 
                    </ul>
                </li>
            
         
                <li class="@Html.RouteIf("forum", "active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Reconciliation Process</a>
                    <ul>                      
                            <li class="@Html.RouteIf("ReconcilliationReviewStatus", "active")">
                                <a href="@Url.Action("ReconcilliationReviewStatus", "ReconciliationReview", new { area = "TSA" }, null)"><i class="fa fa-external-link"></i> Reconcilliation Status</a>
                                @*@Html.ActionLink("ReconcilliationStatus", "ReconcilliationReviewStatus", "ReconciliationReview", new { area = "TSA" }, null)*@
                            </li>
                            <li class="@Html.RouteIf("SearchMatched", "active")">
                                @Html.ActionLink("Unmatching", "SearchMatched", "ReconciliationReview", new { area = "TSA" }, null)
                            </li>
                            <li class="@Html.RouteIf("Confirm", "active")">
                                @Html.ActionLink("Confirm Reconciliation", "SearchReconciliation", "ReconciliationReview", new { area = "TSA" }, null)
                            </li>
                    </ul>
                </li>
                <li class="@Html.RouteIf("icons", "active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>Bank Statement</a>
                    <ul>
                      
                            <li class="@Html.RouteIf("BankstatementList", "active" )">
                                @Html.ActionLink("Entry", "BankstatementList", "Bankstatements", new { area = "TSA" }, null)
                            </li>

                            <li class="@Html.RouteIf("RemoveStatement", "active" )">
                                @Html.ActionLink("Remove Bank Statement", "RemoveStatement", "Bankstatements", new { area = "TSA" }, null)
                            </li>
                        

                      
                            <li class="@Html.RouteIf("StatementApproval", "active" )">
                                @Html.ActionLink("Approval Bank Statement", "StatementApproval", "Bankstatements", new { area = "TSA" }, null)
                            </li>
                        
                    </ul>
                </li>

                <li class="@Html.RouteIf("Forum", "active")">
                    <a href="#"><i class="fa fa-print"></i> Reports</a>
                    <ul>
                        <li class="@Html.RouteIf("TsaRecStmt", "active")" style="background:#ffffff">
                            @Html.ActionLink("Reconciliation Statement", "TsaRecStmt", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaBankGlRec", "active")" style="background:#ffffff">
                            @Html.ActionLink("Reconciled Transactions", "TsaBankGlRec", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaBanknotCash", "active")" style="background:#ffffff">
                            @Html.ActionLink("Transactions in Bank not in Cash Book", "TsaBanknotCash", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaCashnotBank", "active")" style="background:#ffffff">
                            @Html.ActionLink("Transactions in Cash Book not in Bank", "TsaCashnotBank", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaBankStmt", "active")" style="background:#ffffff">
                            @Html.ActionLink("Bank Statement", "TsaBankStmt", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaBankStatementList", "active")" style="background:#ffffff">
                            @Html.ActionLink("Bank Statement List", "TsaBankStatementList", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaCashBookReportList", "active")" style="background:#ffffff">
                            @Html.ActionLink("Cash Book List", "TsaCashBookReportList", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaGlList", "active")" style="background:#ffffff">
                            @Html.ActionLink("Gl Transaction Listing", "TsaGlList", "Reports", new { area = "TSA" }, null)
                        </li>
                        <li class="@Html.RouteIf("TsaBankList", "active")" style="background:#ffffff">
                            @Html.ActionLink("Bank Transaction Listing", "TsaBankList", "Reports", new { area = "TSA" }, null)
                        </li>
                    </ul>
                </li>
            
            @* TSA System Setting *@
           
                <li class="@Html.RouteIf("forum", "active")">
                    <a href="#"><i class="fa fa-bar-chart-o"></i>System Settings</a>
                    <ul>
                      
                            <li class="@Html.RouteIf("AccountTypeList", "active")" style="background:#ffffff">
                                @Html.ActionLink("Account Type", "AccountTypeList", "AccountTypes", new { area = "TSA" }, null)
                            </li>
                       

                       
                            <li class="@Html.RouteIf("AccountsList", "active")" style="background:#ffffff">
                                @Html.ActionLink("Account List", "AccountsList", "Accounts", new { area = "TSA" }, null)
                            </li>
                       

                       
                            <li class="@Html.RouteIf("VoteAccountList", "active")" style="background:#ffffff">
                                @Html.ActionLink("Vote Account", "VoteAccountList", "VoteAccounts", new { area = "TSA" }, null)
                            </li>
                       
                            <li class="@Html.RouteIf("PayStationAccountList", "active")" style="background:#ffffff">
                                @Html.ActionLink("Pay Station Account", "PayStationAccountList", "PayStationAccounts", new { area = "TSA" }, null)
                            </li>
                       
                    </ul>
                </li>
            
        </ul>
    </li>

