@model IFMIS.Areas.IFMISTZ.Models.UnbalancedLegalNumberReportVM

<link href="@Server.MapPath("~/Content/css/bootstrap.min.css")" rel="stylesheet" />

<style>
    table {
        border-collapse: collapse;
    }

    table, thead, tr, th, tbody, td, tfoot {
        border: 1px solid black;
    }
</style>

<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px">
    <div style="border-bottom: 1px dotted black; text-align: center">
        <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="100" height="100" />

        <div style="padding-top: 20px">
            United Republic of Tanzania
        </div>
        <div style="padding-top: 10px">
            <b>Unbalanced Legal Number Report for @Model.ServerName Server</b>
        </div>
        <div style="padding-top:10px; padding-bottom: 20px">
            From @Html.DisplayFor(model => model.FyStartDate, "_ShortDateTime") to @DateTime.Now.ToString("dd MMM yyyy")
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-12">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Institution Code</th>
                        <th>Institution Name</th>
                        <th>Unbalanced Trxs</th>
                        <th>Operational Net Change</th>
                        <th>Base Net Change</th>
                    </tr>
                </thead>

                @{
                    int i = 0;
                }
                <tbody>
                    @foreach (var item in Model.UnbalancedLegalNumberVMs.OrderByDescending(a => a.UnbalancedTrx))
                    {
                        i++;
                        <tr style="page-break-inside: avoid">
                            <td>@i</td>
                            <td>@item.InstitutionCode</td>
                            <td>@item.InstitutionName</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.UnbalancedTrx, "_IntThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.OperationalNetChange, "_DecimalThousands")</td>
                            <td style="text-align: right">@Html.DisplayFor(modelItem => item.BaseNetChange, "_DecimalThousands")</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-12" style="text-align: center">
            Mfumo wa Uhasibu Serikalini © @DateTime.Now.Year All Rights Reserved (MUSE)
        </div>
    </div>
</div>
