@if (User.IsInRole("Sub Admin") || User.IsInRole("Super Admin"))
{
    <li class="@Html.RouteIf("", "active")">
        <a href="#" title="User Management"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">User Management</span></a>
        <ul>
            <li class="@Html.RouteIf("Users", "active") ||
				@Html.RouteIf("AddLawsonUser", "active") ||
				@Html.RouteIf("AddMiscUser", "active") ||
				@Html.RouteIf("UserDetails", "active") ||
				@Html.RouteIf("EditUser", "active") ||
                @Html.RouteIf("UserVoteGroups", "active") ||
                @Html.RouteIf("AdminUserPayStations", "active") ||
                @Html.RouteIf("UserRoles", "active") ||
				@Html.RouteIf("AdminResetPassword", "active")">
                <a href="@Url.Action("Users", "Manage", new { area = "" })" title="Users"><span class="menu-item-parent">Users</span></a>
            </li>
            @if (User.IsInRole("Super Admin"))
            {
                <li class="@Html.RouteIf("ApplicationRoles", "active") ||
                @Html.RouteIf("CreateRole", "active") ||
                @Html.RouteIf("EditRole", "active")">
                    <a href="@Url.Action("ApplicationRoles", "ApplicationRoles", new { area = "" })" title="Roles"><span class="menu-item-parent">Roles</span></a>
                </li>
                @*<li>@Html.ActionLink("Roles Admin", "Index", "RolesAdmin")</li>*@
                <li class="@Html.RouteIf("RoleGroupList", "active") ||
                @Html.RouteIf("CreateRoleGroup", "active") ||
                @Html.RouteIf("RoleGroupDetails", "active") ||
                @Html.RouteIf("EditRoleGroup","active")">
                    @Html.ActionLink("Role Groups", "RoleGroupList", "RoleGroups", new { area = "" }, null)
                </li>
                @*<li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>*@
            }

        </ul>
    </li>
}
