@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.ConsolidationGroupViewVM>

@*<option value="notselected" selected="selected"> Select Institution </option>
    @if (ViewBag.WithinInstitutions != null)
    {
        foreach (var item in ViewBag.WithinInstitutions)
        {
            <option value="@item.Value"> @item.Value - @item.Text </option>
        }
    }*@

<option value="" selected="selected"> Select Institution </option>
@foreach (var item in Model)
{
    <option value="@item.InstitutionCode"> @item.InstitutionCode - @item.InstitutionName </option>
}