@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Arrears Detail";
}

<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div style="border:1px solid #ccc;background-color:white">
            <div class="widget-body">
                <div class="tab row-align">
                    <button class="tablinks" onclick="switchTab(event, 'DebtInfo')" id="defaultOpen">Loan Information</button>
                    <button class="tablinks" onclick="switchTab(event, '_Remarks')">Remarks</button>
                    <button class="tablinks" onclick="switchTab(event, 'Historical')">Historical</button>
                </div>
                <div style="height:2px;background-color:#2196F3"></div>
                <div id="DebtInfo" class="tabcontent">
                    <div class="detail-section">
                        <div class="row-align">
                            <div style="max-width:600px">
                                <table>
                                    <tr>
                                        <td class="sect-label">Vendor Name:</td>
                                        <td style="text-align:right">@ViewBag.Loan.VendorName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">CheckNo:</td>
                                        <td style="text-align:right">@ViewBag.Loan.CheckNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Basic Salary:</td>
                                        <td style="text-align:right">@string.Format("{0:#,0.00}", ViewBag.Loan.BasicSalaryAmount ?? 0) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Net Salary:</td>
                                        <td style="text-align:right"> @string.Format("{0:#,0.00}", ViewBag.Loan.NetSalaryAmount ?? 0) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Loan Amount:</td>
                                        <td style="text-align:right"> @string.Format("{0:#,0.00}", ViewBag.Loan.LoanApplAmount ?? 0) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Net Loan Amount:</td>
                                        <td style="text-align:right">@string.Format("{0:#,0.00}", ViewBag.Loan.NetLoanAmount ?? 0) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Service Charge Amount:</td>
                                        <td style="text-align:right">@string.Format("{0:#,0.00}", ViewBag.Loan.ServiceChargeAmount) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Protection Fund Amount:</td>
                                        <td style="text-align:right"> @string.Format("{0:#,0.00}", ViewBag.Loan.ProtectionFundAmount) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Exempted Amount:</td>
                                        <td style="text-align:right">@string.Format("{0:#,0.00}", ViewBag.Loan.ExemptedAmount) TZS</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Bank Name:</td>
                                        <td style="text-align:right">@ViewBag.Loan.BenBankName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Acc No:</td>
                                        <td style="text-align:right">@ViewBag.Loan.BenAcctNum</td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="sect-label">Recovery Period:</td>
                                        <td style="text-align:right">@ViewBag.Loan.RecoveryPeriod</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Loan App. Date:</td>
                                        <td style="text-align:right">@ViewBag.Loan.LoanApplDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Loan Start Date:</td>
                                        <td style="text-align:right">@ViewBag.Loan.LoanStartDedDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Loan End Date:</td>
                                        <td style="text-align:right">@ViewBag.Loan.LoanEndDedDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Loan No:</td>
                                        <td style="text-align:right">@ViewBag.Loan.LoanCtrlNum</td>
                                    </tr>
                                    @if (ViewBag.Loan.AssetRegNo != null)
                                    {
                                        <tr>
                                            <td class="sect-label">Asset RegNo:</td>
                                            <td style="text-align:right">@ViewBag.Loan.AssetRegNo</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Asset Model:</td>
                                            <td style="text-align:right">@ViewBag.Loan.AssetModel</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Asset Certificate Date:</td>
                                            <td style="text-align:right">@ViewBag.Loan.AssetCertificateDate</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Asset Price:</td>
                                            <td style="text-align:right">TZS: @ViewBag.Loan.AssetPrice</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">LotNo:</td>
                                            <td style="text-align:right">@ViewBag.Loan.LotNo</td>
                                        </tr>
                                    }
                                   
                                    <tr>
                                        <td class="sect-label">Vote:</td>
                                        <td style="text-align:right">@ViewBag.Loan.AllocInstitutionCode</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="_Remarks" class="tabcontent">
                    <div class="detail-section">
                        <div class="section-content">
                            <div class="chat-list">
                                @foreach (var item in ViewBag.Remarks)
                                {
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div style="float:right">
                                                <div style="font-weight:900;color:#2196F3">@item.CreatedBy.ToUpper()</div>
                                                <div> <span style="font-weight:900">Level:</span> @item.RemarkLevel</div>
                                                @* <div> <span style="font-weight:900">To:</span></div>*@
                                                <div>
                                                    <span style="font-weight:900">Status:</span>
                                                    @if (item.Status.Contains("Reject"))
                                                    {
                                                        <strong style="color:red">Rejected</strong>                                                    }
                                                    else
                                                    {
                                                        <strong style="color:#2196F3">Confirmed</strong>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="speech-bubble col-sm-8" style="font-size:medium;color:#000">
                                            @item.Remark
                                            <br />
                                            <div style="display:flex;justify-content:space-between">
                                                <div>
                                                    @if (item.AttachmentRef != null)
                                                    {
                                                        <a href="/Uploads/Arrears/@item.AttachmentRef" target="_blank">
                                                            <i class="fa fa-file-pdf-o"></i>
                                                            @item.AttachmentName
                                                        </a>
                                                    }
                                                </div>
                                                <div>
                                                    <i><span style="float:right;font-size:13px">~ @item.CreatedAt.ToString("dd/MM/yyyy")</span></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Historical" class="tabcontent">
                    <div class="detail-section">
                        <div style="padding-left:10px;padding-right:10px;padding-top:20px;">
                            <table id="dt_table" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loan Ctrl No</th>
                                        <th>Vendor Name</th>
                                        <th>Vendor Bank Account</th>
                                        <th>Vendor Bank Name</th>
                                        <th>Loan Amount</th>
                                        <th>Loan StartDate</th>
                                        <th>Loan EndDate</th>
                                        <th>Created At</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var j = 0;}
                                    @foreach (var item in ViewBag.Historical)
                                    {
                                        j++;
                                        <tr>
                                            <td>@j</td>
                                            <td>@item.LoanCtrlNum</td>
                                            <td>@item.VendorName</td>
                                            <td>@item.BenAcctNum</td>
                                            <td>@item.BenBankName</td>
                                            <td>@string.Format("{0:#,0.00}", item.LoanApplAmount)</td>
                                            <td>@item.FLoanStartDedDate</td>
                                            <td>@item.FLoanEndDedDate</td>
                                            <td>@item.FCreatedAt</td>
                                            <td>@item.OverallStatus</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <a class="btn btn-info btn-size" style="margin-right:5px" onclick="window.history.back()">
                        <i class="glyphicon glyphicon-arrow-left ico"></i>Back
                    </a>
                    @*@if (ViewBag.actionLabel == "Confirm")
                    {
                        <a class="btn btn-info btn-size" style="margin-right:5px" onclick="_cancel('@ViewBag.Loan.LoanApplId')">
                            <i class="fa fa-times ico"></i>Cancel
                        </a>
                        <a class="btn btn-info  btn-size" style="margin-right:5px" onclick="_edit('@ViewBag.Loan.LoanApplId')">
                            <i class="fa fa-edit ico"></i>Edit
                        </a>
                    }
                    else
                    {
                            <a class="btn btn-info btn-size" style="margin-right:5px" onclick="_reject('@ViewBag.Loan.LoanApplId','@ViewBag.rejectionStatus')">
                                <i class="fa fa-times ico"></i>Reject
                            </a>
                    }
                    <a class="btn btn-info" onclick="_confirm('@ViewBag.Loan.LoanApplId','@ViewBag.actionStatus')">
                        <i class="fa fa-check"></i>@ViewBag.actionLabel
                    </a>*@
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="viewActionModal" style="left:4%;">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                <div class="widget-body ">

                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <textarea type="text" id="Remarks" style="width:300px" rows="4" cols="50" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Attachment
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="confirmSave()">

                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">

                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/mofJS/custome-tabs.js"></script>
@section pagespecific {
  <script>

     $(function () {
         document.getElementById("defaultOpen").click();
         $("#saveLoader").toggle(false);
     })

     var selectedItemId = 0
     
     function _edit(Id) {
         var url = '@Url.Action("ALSLoanEdit", "ALSLoanApp")'
         window.location.href = `${url}/?Id=${Id}`
     }

      var action = ""
     function _confirm(Id,a) {
         selectedItemId = Id
         actionType = '@ViewBag.actionLabel'
         action = a
         $('#viewActionModal').modal('show');
     }

     function _reject(Id, a) {
         selectedItemId = Id
         actionType = "Reject"
         action = a
         $('#viewActionModal').modal('show');
     }
     function _cancel(Id) {
         selectedItemId = Id
         actionType = "Cancel"
         action = "Cancelled"
         $('#viewActionModal').modal('show');
     }

     function confirmSave() {
         if ($("#Remarks").val() == '') {
             $("#Remarks").attr("style", "border-color: red;");
         } else {
             swal({
                 title: actionType + ' this Application?',
                 buttons: ['NO', 'YES'],
                 dangerMode: true,
             }).then(function (isConfirmed) {
                 if (isConfirmed) {
                     confirmPost()
                 } else {
                     swal("Cancelled", "No change was made");
                 }
             });
         }
     }

     function confirmPost(Ids) {
         $.ajax({
             type: "POST",
             url: '@Url.Action("ALSLoanActions", "ALSLoanApp")',
             data: CreateForm({
                 id: selectedItemId,
                 status: action,
                 level: '@ViewBag.level',
                 remarks: $("#Remarks").val(),
                 file: $("#RemarkAttachment")[0].files[0]
             }),
             contentType: false,
             processData: false,
             success: function (response) {
                 if (response == "Success") {
                     swal("Saved Successfully!", { icon: "success" })
                         .then((e) => window.location.href = '@ViewBag.redirectUrl');
                 }
                 else {
                     swal(response);
                 }
             },
             failure: function (error) {
                 swal(error);
             }
         });
     }

     function CreateForm(form) {
         let _form = new FormData();
         for (let key in form) {
             _form.append(key, form[key])
         }
         return _form
     }
    </script>
}

