@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 8px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .backgroundChange{
    background-color: #80cbc4;
    font-weight: bold;
    color: white
}

    .blink-anim{
    transition: background-color 0.05s ease-in-out;
}
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                     data-widget-custombutton="false" data-widget-colorbutton="false"
                     data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Create Loan Application</h2>

                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-sm-6">
                                    <table style="margin-left: 2%">
                                        <tr>
                                            <td class="form-label">
                                                Vendor Type
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <select style="width:300px" id="vendorType">
                                                        <option value="lawson">Lawson Vendor</option>
                                                        <option value="misc">Misc Vendor</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Vendor Name
                                                <i class="fa fa-times" style="color:white" id="VendorName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" readonly id="VendorName" placeholder="No Vender Selected" style="width:260px" />
                                                    <a class="search-btn" onclick="SearchPayee()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                CheckNo/PayeeCode
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="CheckNo" style="width:300px" disabled/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Acc Number
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="AccNumber" style="width:300px" disabled/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Salary Scale
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="SalaryScale" style="width:300px" disabled/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Net Salary
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="NetSalary" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Gross Salary
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="GrossSalary" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Vote
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="Vote" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Vote Balance
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="VoteBalance" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                       
                                    </table>
                                </div>

                                <div class="col-sm-6">
                                    <table style="margin-left: 2%">
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Birth
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="DateOfBirth" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="lawson">
                                            <td class="form-label">
                                                Months/Years to Retire
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="MonthsToRetire" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                               Loan Type
                                                <i class="fa fa-times" style="color:white" id="LoanDescription_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" readonly id="LoanDescription" placeholder="No Loan Type Selected" style="width:260px"
                                                            />
                                                    <a class="search-btn" onclick="ZoomLoanType()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="loanChargesContainer">
                                            <td class="form-label">
                                               Loan Charges
                                            </td>
                                            <td>
                                                <table style="width:300px;border:1px solid #ccc" id="LoanCharges"></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Max Recovery Period
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="RecoveryPeriod" style="width:300px" disabled class="blink-anim"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                MaxLoan Amount
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="MaxLoanAmount" style="width:300px" disabled class="blink-anim"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Nature
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="LoanNature" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Amount
                                                <i class="fa fa-times" style="color:white" id="LoanAmount_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong class="currency">TZS</strong>
                                                    </span>
                                                    <amount-input type="text" style="width:255px" id="LoanAmount" autocomplete="off" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Recovery Period
                                                <i class="fa fa-times" style="color:white" id="RecoveryPeriod1_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong>Month(s)</strong>
                                                    </span>
                                                    <input type="number" style="width:225px" id="RecoveryPeriod1" onkeyup="validateRecoveryPeriod(this)"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="assetContainer">
                                            <td class="form-label">
                                                Asset
                                                <i class="fa fa-times" style="color:white" id="AssetRegNo_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" readonly id="AssetRegNo" placeholder="No Asset Selected" style="width:260px" />
                                                    <a class="search-btn" onclick="ZoomAsset()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding:20px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <a class="btn btn-info" href='@Url.Action("ALSLoanEntry", "ALSLoanApp")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button type="submit" class="btn btn-info" onclick="saveData()" id="form_submision">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Vendor</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vendor Name</th>
                            <th>Vote</th>
                            <th>Salary Scale</th>
                            <th>Check No</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------- Search Loan Type ----------------->
<div class="modal fade" id="loanModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Loan Type</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox_loan">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_loan">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                            <th>Loan Code</th>
                            <th>Recovery Period</th>
                            <th>Max Loan Amount</th>
                            <th>Loan Nature</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------- Search Loan Asset ----------------->
<div class="modal fade" id="assetModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Asset</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox_asset">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_asset">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mode Of Sale</th>
                            <th> Type</th>
                            <th> Lot No</th>
                            <th> Reg No</th>
                            <th> Desc</th>
                            <th> Quantity</th>
                            <th> Unit Price</th>
                            <th> Total Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------- Search Misc Payee ----------------->
<div class="modal fade" id="miscPayeeModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Payee</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="misc_searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_misc_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Payee Name</th>
                            <th>Account Name</th>
                            <th>Payee Code</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th>Payee Type</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

@section pagespecific {
    <script>

        $("#assetContainer").toggle(false)
        $("#saveLoader").toggle(false)
        $("#loanChargesContainer").toggle(false)

        $("#vendorType").change(function () {
            if (this.value== 'lawson') {
                $(".lawson").toggle(true)
            } else {
                $(".lawson").toggle(false)
            }
        })

        function SearchPayee() {
            if ($("#vendorType").val() == 'lawson') {
                $('#payeeModal').modal('show');
            } else {
                $('#miscPayeeModal').modal('show');
            }
        }

        function ZoomLoanType() {
            $('#loanModal').modal('show');
        }

        function ZoomAsset() {
            $('#assetModal').modal('show');
        }
        var dt_search_asset = $('#dt_search_asset').dataTable();
        $("#dt_search_asset_wrapper .dt-toolbar").remove();
        $("#searchbox_asset").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_asset.fnClearTable();
            } else {
                searchAssetTableUpdate(this.value);
            }
        });

        var dt_search_payee = $('#dt_search_payee').dataTable();
        $("#dt_search_payee_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_payee.fnClearTable();
            } else {
                searchPayeeTableUpdate(this.value);
            }
        });

        var dt_search_misc_payee = $('#dt_search_misc_payee').dataTable();
        $("#dt_search_misc_payee_wrapper .dt-toolbar").remove();
        $("#misc_searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_misc_payee.fnClearTable();
            } else {
                searchMiscPayeeTableUpdate(this.value);
            }
        });

       var dt_search_loan = $('#dt_search_loan').dataTable();
       $("#dt_search_loan_wrapper .dt-toolbar").remove();
       $("#searchbox_loan").on("keyup search input paste cut", function () {
           if (!this.value) {
               dt_search_loan.fnClearTable();
           } else {
               searchLoanTypeTableUpdate(this.value);
           }
       });

       var loanAssets = []
       function searchAssetTableUpdate(search) {
           var url = '@Url.Action("GetLoanAsset", "ALSLoanApp")';
           $.ajax({
               type: "GET",
               url: url,
               data: { search },
               contenttype: "application/json; charset=utf-8",
               datatype: "json",
               success: function (response) {
                   loanAssets = response.data;
                   dt_search_asset.fnClearTable();
                   for (var i = 0; i < loanAssets.length; i++) {
                       dt_search_asset.fnAddData([i + 1,
                          loanAssets[i]["ModeOfSale"],
                          loanAssets[i]["AssetType"] || "-",
                          loanAssets[i]["AssetLotNo"],
                          loanAssets[i]["AssetRegNo"],
                          loanAssets[i]["AssetDesc"],
                          loanAssets[i]["AssetQuantity"],
                          toLabel(loanAssets[i]["AssetUnitPrice"]),
                          toLabel(loanAssets[i]["AssetTotalPrice"]),
                          '<a href="#" onclick="assetClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                       ]);
                   }
               },
               failure: function (error) {
                   swal(error);
               }
           });
       }
       var loanTypes = []
       function searchLoanTypeTableUpdate(search) {
           var url = '@Url.Action("GetLoanType", "ALSLoanApp")';
           $.ajax({
               type: "GET",
               url: url,
               data: { search },
               contenttype: "application/json; charset=utf-8",
               datatype: "json",
               success: function (response) {
                   loanTypes = response.data;
                   dt_search_loan.fnClearTable();
                   for (var i = 0; i < loanTypes.length; i++) {
                       dt_search_loan.fnAddData([i + 1,
                          loanTypes[i]["LoanDescription"],
                          loanTypes[i]["LoanCode"],
                          loanTypes[i]["RecoveryPeriod"],
                          toLabel(loanTypes[i]["MaxLoanAmount"]),
                          loanTypes[i]["LoanNature"],
                          '<a href="#" onclick="loanClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                       ]);
                   }
               },
               failure: function (error) {
                   swal(error);
               }
           });
       }
       var payees = []
        function searchPayeeTableUpdate(search) {
            var url = '@Url.Action("GetPayee", "ALSLoanApp")';
            $.ajax({
                type: "GET",
                url: url,
                data: { search },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    payees = response.data;
                    dt_search_payee.fnClearTable();
                    for (var i = 0; i < payees.length; i++) {
                        dt_search_payee.fnAddData([i + 1,
                           payees[i]["VendorName"],
                           payees[i]["Vote"],
                           payees[i]["SalaryScale"],
                           payees[i]["CheckNo"],
                           payees[i]["BenBankName"],
                           payees[i]["BenAccountNum"],
                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function searchMiscPayeeTableUpdate(search) {
            var url = '@Url.Action("GetPayee", "PaymentVoucher", new { area="IFMISTZ"})';
            $.ajax({
                type: "GET",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    payees = response.data;
                    dt_search_misc_payee.fnClearTable();
                    for (var i = 0; i < payees.length; i++) {
                        dt_search_misc_payee.fnAddData([i + 1,
                           payees[i]["PayeeName"],
                           payees[i]["AccountName"],
                           payees[i]["PayeeCode"],
                           payees[i]["BankName"],
                           payees[i]["Accountnumber"],
                           payees[i]["PayeeType"],
                           payees[i]["Address1"],
                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        var selectedPayeeId = 0
        function payeeClicked(i) {
            if ($("#vendorType").val() == 'lawson') {
                selectedPayeeId = payees[i].VendorID
                $("#VendorName").val(payees[i].VendorName)
                $("#CheckNo").val(payees[i].CheckNo)
                $("#NetSalary").val(toLabel(payees[i].NetSalary))
                $("#SalaryScale").val(payees[i].SalaryScale)
                $("#GrossSalary").val(toLabel(payees[i].GrossSalary))
                $("#Vote").val(payees[i].Vote)
                $("#DateOfBirth").val(payees[i].FBirthDate)
                GetVoteBalance(payees[i].Vote)
                GetVoteName(payees[i].Vote)
                GetRetirementDetails(payees[i].VendorID)
                $("#AccNumber").val(payees[i].BenBankName + " - " + payees[i].BenAccountNum)
                $('#payeeModal').modal('hide');
            } else {
                selectedPayeeId = payees[i].PayeeDetailId
                $("#VendorName").val(payees[i].AccountName)
                $("#CheckNo").val(payees[i].PayeeCode)
                $("#AccNumber").val(payees[i].BankName + " - " + payees[i].Accountnumber)
                $('#miscPayeeModal').modal('hide');
            }
        }

        $("#_LoanAmount").prop('disabled', true)
        $("#RecoveryPeriod1").prop('disabled', true)
        var selectedLoanTypeId = 0
        var PaidTo = ""
        function loanClicked(i) {
            $("#_LoanAmount").prop('disabled', false)
            $("#RecoveryPeriod1").prop('disabled', false)
            selectedLoanTypeId = loanTypes[i].LoanTypeId
            PaidTo = loanTypes[i].PaidTo
            $("#LoanDescription").val(loanTypes[i].LoanDescription)
            $("#RecoveryPeriod").val(loanTypes[i].RecoveryPeriod)
            $("#MaxLoanAmount").val(toLabel(loanTypes[i].MaxLoanAmount))
            $("#LoanNature").val(loanTypes[i].LoanNature)
            $("#LoanType").val(loanTypes[i].LoanCode)
            if (loanTypes[i]["LoanNature"] == "NON CASH") {
                $("#assetContainer").toggle(true)
            } else {
                $("#assetContainer").toggle(false)
            }
            getLoanCharges(loanTypes[i].AgencyCodeId)
            $('#loanModal').modal('hide');
        }

        var selectedLoanAssetId = 0
        function assetClicked(i) {
            selectedLoanAssetId = loanAssets[i].AssetId
            $("#AssetRegNo").val(loanAssets[i].AssetRegNo)
            $('#assetModal').modal('hide');
        }

        let ExemptedPercent = 0
        function getLoanCharges(AgencyCodeId) {
            var url = '@Url.Action("GetLoanCharges", "ALSLoanApp")';
            $.ajax({
                type: "GET",
                url: url,
                data: { AgencyCodeId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#loanChargesContainer").toggle(true)
                    let data = response.data;
                    $("#LoanCharges").html('')
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].LoanChargeType != "Agency Fee") {
                        $("#LoanCharges").append(
                            Tr(data[i].LoanChargeType, data[i].LoanPercentageFee)
                         )
                        }
                        if (data[i].LoanChargeType == "Exemption") {
                            ExemptedPercent = data[i].LoanPercentageFee
                        }
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function Tr(name,percent) {
            return '<tr style="border-bottom:1px solid #ccc">\
                      <td>'+name+'</td>\
                      <td>'+percent+'%</td>\
                   </tr>\
                  '
        }

        function saveData() {
            if (isTheFormValid()) {
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    type: "POST",
                    url:'@Url.Action("ALSLoanCreate", "ALSLoanApp")',
                    data: {
                         vendorId: selectedPayeeId,
                         loanId: selectedLoanTypeId,
                         assetId: selectedLoanAssetId,
                         loanAmount: $("#LoanAmount").val(),
                         recoveryPeriod: $("#RecoveryPeriod1").val(),
                         vendorType: $("#vendorType").val()
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = '@Url.Action("ALSLoanEntry", "ALSLoanApp")';
                                });
                        } else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });
            }
        }


        function _isLoanAmountValid() {
            let ExemptedAmount = ExemptedPercent * toNumber($("#LoanAmount").val())
            let x = toNumber($("#NetSalary").val()) - toNumber($("#GrossSalary").val()) / 3
            let y = (toNumber($("#LoanAmount").val()) - ExemptedAmount) / toNumber($("#RecoveryPeriod").val())
            return x >= y
        }

        function maxLoanAmountValid() {
            let ExemptedAmount = ExemptedPercent * toNumber($("#LoanAmount").val())
            let x = toNumber($("#NetSalary").val()) - toNumber($("#GrossSalary").val()) / 3
            let y = x * toNumber($("#RecoveryPeriod").val())
            return y + ExemptedAmount
        }

        function isTheFormValid() {
            var isNotValid = validateInputsParameters([
                "#VendorName",
                "#LoanDescription",
                "#RecoveryPeriod1",
                "#LoanAmount",
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }

            if ($("#LoanNature").val() == "NON CASH") {
                var isNotValid = validateInputsParameters(["#AssetRegNo"]);
                if (isNotValid) {
                    $(isNotValid + "_1").attr("style", "color: red;");
                    return false
                }
            }

            if (!isLoanAmountValid) {
                $("#LoanAmount_1").attr("style", "color: red;");
                return false
            }

            if (!isRecoveryPeriodValid) {
                $("#RecoveryPeriod1_1").attr("style", "color: red;");
                return false
            }

            if (PaidTo != "MEMBER OF PERLIAMENT" && $("#vendorType").val() == 'lawson' && $("#LoanNature").val() != "NON CASH") {
                if (!_isLoanAmountValid()) {
                    swal({
                        text: "The given employee salary does not qualify for the loan amount provided..!\
                        maximum allowed amount is: TZS " + toLabel(maxLoanAmountValid()),
                        buttons: ["Cancel", "Print Report"],
                    }).then(ok=>{
                        if (ok) {
                            window.open("@Url.Action("PrintRejectionReport", "ALSLoanApp")/?" + GetRejectionReport(),'_blank');
                        }
                    })
                    return false
                }
            }
            return true
        }

        function GetRejectionReport() {
            var MonthlyDeduction = toNumber($("#LoanAmount").val()) / toNumber($("#RecoveryPeriod").val())
            var balance = toNumber($("#NetSalary").val()) - toNumber($("#GrossSalary").val()) / 3
            return $.param({
                CustomerName: $("#VendorName").val(),
                CustomerNumber: $("#CheckNo").val(),
                Vote: $("#Vote").val(),
                GrossSalary: $("#GrossSalary").val(),
                NetSalary: toLabel($("#NetSalary").val()) + " (Tsh)",
                AmountApplied: toLabel($("#LoanAmount").val()) + " (Tsh)",
                LoanDescription: $("#LoanDescription").val(),
                ReceoveryPeriod: $("#RecoveryPeriod").val() + "(Months)",
                MonthlyDeduction: toLabel(MonthlyDeduction) + " (Tsh)",
                SalaryScale: $("#SalaryScale").val(),
                LoanStatus: "Rejected",
                Comment: `This loan has been rejected because it requires a monthly deduction of ${toLabel(MonthlyDeduction)} (Tsh)
                    This leaves a balance of ${toLabel(balance)} (Tsh) which is less than 1/3 of the gross salary Policy
                    guidelines requires the borrower to have a monthly balance that is at least 1/3 of the gross salary.`,
                Recommendation: `${toLabel(maxLoanAmountValid())} (Tsh) Is the maximum amount that the customer can borrow`
            })
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }
        var isRecoveryPeriodValid = false
        var isLoanAmountValid = false
        function validateRecoveryPeriod(target) {
            if (parseInt(target.value) > parseInt($("#RecoveryPeriod").val())) {
                target.style.color = "red"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = '#f7c9c8'

                let $div2blink = $("#RecoveryPeriod");
                setIntervalX(function () {
                    $div2blink.toggleClass("backgroundChange");
                }, 200, 10, $div2blink)
                isRecoveryPeriodValid = false
            } else {
                target.style.color = "black"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = 'white'
                isRecoveryPeriodValid = true
            }
        }

        $("#_LoanAmount").on('keyup', () => validateMaxLoanAmount());

        function validateMaxLoanAmount() {
            var target = document.getElementById("_LoanAmount")
            let $div2blink = $("#MaxLoanAmount");
            if (toNumber($("#_LoanAmount").val()) > toNumber($("#MaxLoanAmount").val())) {
                target.style.color = "red"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = '#f7c9c8'

                setIntervalX(function () {
                    $div2blink.toggleClass("backgroundChange");
                }, 200, 10, $div2blink)
               // $div2blink.addClass("backgroundChange");
                isLoanAmountValid = false
            } else {
                target.style.color = "black"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = 'white'
                $div2blink.removeClass("backgroundChange");
                isLoanAmountValid = true
            }
        }

        function setIntervalX(callback, delay, repetitions,node) {
            var x = 0;
            var intervalID = window.setInterval(function () {
                callback();
                if (++x === repetitions) {
                    window.clearInterval(intervalID);
                    node.removeClass("backgroundChange");
                }
            }, delay);
        }

        function GetVoteBalance(vote) {
            $("#VoteBalance").val("Loading...")
            var url = '@Url.Action("GetVoteBalance", "ALSLoanApp")';
            $.ajax({
                type: "GET",
                url: url,
                data: { vote },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#VoteBalance").val(toLabel(response.data || 0))
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function GetVoteName(vote) {
            var url = '@Url.Action("GetVoteName", "ALSLoanApp")';
            $.ajax({
                type: "GET",
                url: url,
                data: { vote },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response.data) {
                        $("#Vote").val(vote + " - " + response.data.CompanyDesc)
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function GetRetirementDetails(id) {
            $("#MonthsToRetire").val("Loading...")
            var url = '@Url.Action("GetRetirementDetails", "ALSLoanApp")';
            $.ajax({
                type: "GET",
                url: url,
                data: { id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#MonthsToRetire").val(`${response.yearsToRetire} Years / ${response.monthsToRetire} Months`)
                    $("#DateOfBirth").val(`Born on ${$("#DateOfBirth").val()}  and is ${response.age} years old.`)
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
    </script>
}