@{
    ViewBag.Title = "ALS Loan Entry";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .wh-holding {
        color: #008636;
        font-size: 10px;
    }

    .bubble-w {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: plum;
        border: 1px solid red;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div style="display:flex;flex-direction:row;justify-content:space-between">
                                <div>
                                    <a class="btn btn-info" href='@Url.Action("ALSLoanCreate", "ALSLoanApp")'>
                                        <i class="glyphicon glyphicon-plus"></i> Add New
                                    </a>
                                </div>
                                <div>
                                    <div class="search-container">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                            </div>

                            <table id="dt_table" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Vote Code</th>
                                        <th>Vote Name</th>
                                        <th>Application Number</th>
                                        <th>Check Number</th>
                                        <th>Vendor Name</th>
                                        <th>Loan Amount</th>
                                        <th>OverallStatus</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="viewActionModal" style="left:4%;">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                <div class="widget-body ">

                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <textarea type="text" id="Remarks" style="width:300px" rows="4" cols="50" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Attachment
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="confirmSave()">

                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">

                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        var dt_table = $('#dt_table').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_table_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_table.DataTable().search(this.value).draw();
        });

        var data = [];

        function LoadData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetALSLoanAppPending", "ALSLoanApp")',
                data: { status: ['Pending', 'Rejected by Approver'].toString() },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_table.fnAddData([i + 1,
                           data[i]["AllocInstitutionCode"],
                           data[i]["AllocInstitutionName"],
                           data[i]["LoanCtrlNum"],
                           
                            data[i]["CheckNo"],
                            data[i]["VendorName"],

                           toLabel(data[i]["LoanApplAmount"]),
                       
                           data[i]["OverallStatus"].includes("Rejected") ? "Rejected" : data[i]["OverallStatus"],
                           '<div class="btn-group" id="drop-' + i + '">\
                          <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                           </button>\
                         <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "view(' + data[i]["LoanApplId"] + ')">Details</a></li>\
                             <li><a href="#" onclick= "edit(' + data[i]["LoanApplId"] + ')">Edit</a></li>\
                             <li><a href="#" onclick= "cancel(' + i + ')">Cancel</a></li>\
                             <li><a href="#" onclick="confirm(' + i + ')">Confirm</a></li>\
                        </ul>\
                  </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                  ]);
                        $("#saveLoader-" + i + "").toggle(false)
                    }
                },
                failure: function (errmsg) {
                    alert(errmsg);
                }
            });
        }
        LoadData()

        function edit(Id) {
            var url = '@Url.Action("ALSLoanEdit", "ALSLoanApp")'
            window.location.href = `${url}/?Id=${Id}`
        }

        var selectedItemId = 0
        var actionType = ""
        function confirm(i) {
            selectedItemId = data[i].LoanApplId
            actionType = "Confirm"
            $('#viewActionModal').modal('show');
        }

        function cancel(i) {
            selectedItemId = data[i].LoanApplId
            actionType = "Cancel"
            $('#viewActionModal').modal('show');
        }

        function confirmSave() {
            if ($("#Remarks").val() == '') {
                $("#Remarks").attr("style", "border-color: red;");
            } else {
                swal({
                    title: actionType + ' this Application?',
                    buttons: ['NO', 'YES'],
                    dangerMode: true,
                }).then(function (isConfirmed) {
                    if (isConfirmed) {
                        confirmPost()
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }
        }

        function confirmPost(Ids) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ALSLoanActions", "ALSLoanApp")',
                data: CreateForm({
                    id: selectedItemId,
                    status: actionType == "Cancel" ? "Cancelled" : "Confirmed",
                    level: "Data Entry",
                    remarks: $("#Remarks").val(),
                    file: $("#RemarkAttachment")[0].files[0]
                }),
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((e) => window.location.reload());
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function CreateForm(form) {
            let _form = new FormData();
            for (let key in form) {
                _form.append(key, form[key])
            }
            return _form
        }

        const context = {
            detailsUrl: '@Url.Action("ALSLoanDetails", "ALSLoanApp")',
            actionStatus: 'Confirmed',
            level: 'Data Entry',
            actionLabel: 'Confirm',
            redirectUrl: '@Url.Action("ALSLoanEntry", "ALSLoanApp")',
            rejectionStatus: ''
        }

        function view(Id) {
            window.location.href = `${context.detailsUrl}/?Id=${Id}
                &actionStatus=${context.actionStatus}
                &level=${context.level}
                &actionLabel=${context.actionLabel}
                &redirectUrl=${context.redirectUrl}
                &rejectionStatus=${context.rejectionStatus}`
        }
    </script>
}
