@{
    ViewBag.Title = "Working Capital List";
}

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Working Capital List</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div>
                                <a href="@Url.Action("CreateWorkingCapital", "WorkingCapital")" class="btn btn-info">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Add New
                                </a>
                            </div>

                            <hr />
                            <table class="table table-striped table-bordered table-hover table-condensed" id="tblJournalTypes" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Report Code</th>
                                        <th>Activity Code</th>
                                        <th>Activity Name</th>
                                        <th>Sub Activity Code</th>
                                        <th>Sub Activity Name</th>
                                        <th>Note No</th>
                                        <th>Item Description</th>
                                        <th>Item Start</th>
                                        <th>Item End</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts{
    <script>

        $(function () {
            BindDataTable();
        });

        var BindDataTable = function (response) {
            var url = '@Url.Action("GetWorkingCapitalList", "WorkingCapital")';

            $("#tblJournalTypes").DataTable({
                "bServerSide": true,
                "sAjaxSource": url,
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        type: "GET",
                        url: sSource,
                        data: aoData,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "mData":"ReportCode"},
                    { "mData": "ActivityCode" },
                    { "mData": "ActivityName" },
                    { "mData": "SubActivityCode" },
                    { "mData": "SubActivityName" },
                    { "mData": "NoteNo" },
                    { "mData": "ItemDescription" },
                    { "mData":"ItemStart"},
                    { "mData": "ItemEnd" },

                    {
                        "mData": "WorkingCapitalId",
                        "bSortable": false,
                        "render": function (WorkingCapitalId, type, full, meta) {
                            return '<div class="btn-group">\
                        <button type="button" class="btn btn-info btn-xs">\
                            Action\
                        </button>\
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                        <span class="caret" ></span>\
                        <span class="sr-only">Toggle Dropdown</span>\
                        </button>\
                        <ul class="dropdown-menu">\
                        <li><a class="dropdown-item" href="@Url.Action("WorkingCapitalDetails", "WorkingCapital")/' + WorkingCapitalId + '">Details</a><li>\
                        <li><a class="dropdown-item" href="@Url.Action("EditWorkingCapital", "WorkingCapital")/'+ WorkingCapitalId + '">Edit</a><li>\
                        <li><a class="dropdown-item" href="#" onclick="cancelWorkingCapital('+ WorkingCapitalId +')">Cancel</a><li>\
                        </ul>'
                        }
                    },
                ]
            });
        };

        function cancelWorkingCapital(id) {

             swal({
                 title: "Confirmation",
                 text: "Are you sure you want to cancel this record?",
                 buttons: [
                     'No',
                     'Yes'
                 ],
             }).then(function (isConfirm) {
                 if (isConfirm) {
                     $("#divLoader").show();
                     var url = '@Url.Action("CancelWorkingCapital", "WorkingCapital")';
                     $.ajax({
                         type: "POST",
                         url: url,
                         data: { id: id },
                         success: function (response) {

                             if (response == "Success") {
                                 swal("cancelled successfully!", { icon: "success" })
                                     .then((value) => {
                                      window.location.reload();
                                 });
                             } else {
                                 swal({
                                     text: response,
                                     icon: "warning",
                                     button: "OK",
                                 })
                             }
                         },
                         error: function (error) {
                             swal("An error occured while processing your request, contact system support", { icon: "error" });
                         },
                         complete: function () {
                             $("#divLoader").hide();
                         }
                     });
                 }
             });
         };
    </script>
}



