@model IFMIS.Areas.IFMISTZ.Models.DfundExpenditure

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DfundExpenditure</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LegalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImplementorCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImplementorCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImplementorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImplementorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingSourceDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingSourceDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubBudgetClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubBudgetClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GfsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GfsCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GfsCodeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GfsCodeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrxCtrlNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxCtrlNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSentToBus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSentToBus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentToBusAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentToBusAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReceivedByBus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReceivedByBus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedByBusAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedByBusAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusResponse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReceivedByThirdPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReceivedByThirdPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedByThirdPartAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedByThirdPartAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartResponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartResponse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MsgId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MsgId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartStatusDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartStatusDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
