@model IFMIS.Areas.IFMISTZ.Models.InstitutionSubLevel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<!-- widget grid -->

    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget col-sm-8" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-collapsebutton="false" style="top:50px; width:100%;padding-left:10px;padding-right:10px;">


                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                        <h2 style="color:black;">Delete Institution SubLevels.</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        <dl class="dl-horizontal" style="padding-left:20%">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Institution.InstitutionCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Institution.InstitutionCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.InstitutionCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.InstitutionCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.SubLevelCategory)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SubLevelCategory)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.SubLevelCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SubLevelCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.SubLevelDesc)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SubLevelDesc)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.OverallStatus)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.OverallStatus)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.CreatedAt)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.CreatedAt)
                                            </dd>

                                        </dl>

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("SubLevel", "InstitutionSubLevels")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-trash-o"></i>
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>

