@model IFMIS.Areas.IFMISTZ.Models.CreateDummyReceiptVM

<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Create Receipt </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" name="dummyPaymentForm" id="dummyPaymentForm">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.OperationalCurrency)
                                @Html.HiddenFor(model => model.ReceivingBankBic)
                                @Html.HiddenFor(model => model.DrGlAccount)
                                @Html.HiddenFor(model => model.DrGlAccountDesc)
                                @Html.HiddenFor(model => model.FundType)
                                @Html.HiddenFor(model => model.SubBudgetClassDesc)
                                @Html.HiddenFor(model => model.PvNo)
                                @Html.HiddenFor(model => model.ReceiptDate)
                                <input type="hidden" id="GlAccountDesc" />

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReceivingBankAccountNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.ReceivingBankAccountNo, Model.ReceivingBankAccountNos, "Select Bank Account", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ReceivingBankAccountNo, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.ReceivingBankAccountName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ReceivingBankAccountName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.ReceivingBankAccountName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReceivingBankName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ReceivingBankName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.ReceivingBankName, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.ApplyDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ApplyDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ApplyDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReferenceNo, "Reference No", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                        <span class="text-danger" id="spanDuplicateReferenceNo" aria-hidden="true" style="display: none">Reference number already in use</span>
                                    </div>

                                    @Html.LabelFor(model => model.OperationalAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.OperationalAmount, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.OperationalAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.ReceiptType, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.ReceiptType, Model.ReceiptTypes, "Select Receipt Type", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ReceiptType, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" id="divSubBudgetClass" style="display: none">
                                    @Html.LabelFor(model => model.SubBudgetClass, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.SubBudgetClass, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SubBudgetClass, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" id="divPvNo" style="display: none">
                                    @Html.LabelFor(model => model.PvId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.PvId, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PvId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <hr />

                                <div class="alert alert-info" role="alert">
                                    GL Item(s) <span class="badge" id="txtGlItems">0</span>, Total Amount <span class="badge" id="txtTotalAmount">0</span>
                                </div>

                                <hr />
                                <div id="dummyPaymentDetailItems"></div>

                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><b>Add GL Item</b></legend>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Gl Account</label>
                                        <div class="col-md-9">
                                            <input type="hidden" id="GlAccountDesc" />
                                            <input type="hidden" id="SubVote" />
                                            <input type="hidden" id="SubVoteDesc" />
                                            <input type="hidden" id="TR" />
                                            <input type="hidden" id="CostCentre" />
                                            <input type="hidden" id="CostCentreDesc" />
                                            <input type="hidden" id="Facility" />
                                            <input type="hidden" id="FacilityDesc" />
                                            <input type="hidden" id="GfsCode" />
                                            <input type="hidden" id="GfsCodeCategory" />
                                            <input type="hidden" id="GeographicalLocationDesc" />
                                            <input type="hidden" id="TrDesc" />
                                            <input type="hidden" id="ProjectDesc" />
                                            <input type="hidden" id="ServiceOutputDesc" />
                                            <input type="hidden" id="ActivityDesc" />
                                            <input type="hidden" id="FundTypeDesc" />
                                            <input type="hidden" id="CofogDesc" />
                                            <input type="hidden" id="FundingSourceDesc" />
                                            <input type="hidden" id="VoteDesc" />
                                            <input type="text" id="GlAccount" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2" id="lblExpensedAmount">Expensed Amount</label>
                                        <div class="col-md-3">
                                            <input type="text" id="ExpensedAmount" class="form-control" />
                                        </div>
                                        <label class="control-label col-md-2" id="lblReturnedAmount">Returned Amount</label>
                                        <div class="col-md-3">
                                            <input type="text" id="ReturnedAmount" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2" style="padding-left: 13px">
                                            <button class="btn btn-info" type="button" style="float: left" id="btnAddGlItem">
                                                <i class="fa fa-plus"></i>
                                                Add GL Item
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 0px; margin-bottom: 0px">
                                        <div class="col-md-offset-2 col-md-7" id="divAddGlErrorMsg" style="display: none; color: darkred">
                                            <span>You can not continue to add GL items, operational amount is less than total expensed amount!</span>
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button class="btn btn-info" type="button" style="float: left" id="btnSave">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("PendingDummyReceipts","DummyReceipts")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top: 0px; margin-bottom: 0px">
                                        <div class="col-md-offset-2 col-md-7" id="divSaveErrorMsg" style="display: none; color: darkred">
                                            <span style="float: left">In order to save, operational amount must be equal to total expensed amount!</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(function () {
            $("#ExpensedAmount").autoNumeric('init');
            $('#ReturnedAmount').autoNumeric('init');
            // This for dynamic table. Don't know why on load but it works
            var dummyPaymentDetails = [];

            $("#btnAddGlItem").click(function () {

                $("#divLoader").show();
                if ($("#GlAccount").val() == "" || $("#ExpensedAmount").val() == "" || $("#ReturnedAmount").val() == "") {
                    $("#divLoader").hide();
                    swal("Invalid data submission, contact system support.");
                    return false;
                }

                dummyPaymentDetails.push({
                    GlAccount: $('#GlAccount').val(),
                    GlAccountDesc: $('#GlAccountDesc').val(),
                    SubVote: $('#SubVote').val(),
                    SubVoteDesc: $('#SubVoteDesc').val(),
                    TR: $('#TR').val(),
                    CostCentre: $('#CostCentre').val(),
                    CostCentreDesc: $('#CostCentreDesc').val(),
                    Facility: $('#Facility').val(),
                    FacilityDesc: $('#FacilityDesc').val(),
                    GfsCode: $('#GfsCode').val(),
                    GfsCodeCategory: $('#GfsCodeCategory').val(),
                    GeographicalLocationDesc: $('#GeographicalLocationDesc').val(),
                    TrDesc: $('#TrDesc').val(),
                    ProjectDesc: $('#ProjectDesc').val(),
                    ServiceOutputDesc: $('#ServiceOutputDesc').val(),
                    ActivityDesc: $('#ActivityDesc').val(),
                    FundTypeDesc: $('#FundTypeDesc').val(),
                    CofogDesc: $('#CofogDesc').val(),
                    FundingSourceDesc: $('#FundingSourceDesc').val(),
                    VoteDesc: $('#VoteDesc').val(),
                    ExpensedAmount: $('#ExpensedAmount').val(),
                    ReturnedAmount: $('#ReturnedAmount').val(),
                });

                //Clear fields
                $("#GlAccount").select2("val", "");
                $('#GlAccountDesc').val("");
                $('#TR').val("");
                $('#CostCentre').val("");
                $('#CostCentreDesc').val("");
                $('#Facility').val("");
                $('#FacilityDesc').val("");
                $('#GfsCode').val("");
                $('#GfsCodeCategory').val("");
                $('#GeographicalLocationDesc').val("");
                $('#TrDesc').val("");
                $('#ProjectDesc').val("");
                $('#ServiceOutputDesc').val("");
                $('#ActivityDesc').val("");
                $('#FundTypeDesc').val("");
                $('#CofogDesc').val("");
                $('#FundingSourceDesc').val("");
                $('#VoteDesc').val("");
                $("#ExpensedAmount").val("");
                $('#ReturnedAmount').val("");

                GeneratePaymentDetailsTable();

                //function for show added items in table
                function GeneratePaymentDetailsTable() {
                    if (dummyPaymentDetails.length > 0) {
                        var $table = $('<table class="table table-condensed table-stripped table-hover table-bordered"/>');
                        $table.append('<thead>' +
                            '<tr><th colspan="5">GL Items</th>' +
                            '<tr><th>#</th><th style="text-align: center">GL Account</th><th style="text-align: center">Expensed Amount</th><th style="text-align: center">Returned Amount</th><th style="text-align: center">Action</th></tr>' +
                            '</thead>');
                        var $tbody = $('<tbody/>');
                        var totalExpensedAmount = 0;
                        var totalReturnedAmount = 0;
                        var j = 0;
                        $.each(dummyPaymentDetails, function (i, val) {
                            ++j;
                            var expensedAmount = val.ExpensedAmount.replace(/,/g, "");
                            var returnedAmount = val.ReturnedAmount.replace(/,/g, "");
                            totalExpensedAmount = parseFloat(totalExpensedAmount) + parseFloat(expensedAmount);
                            totalReturnedAmount = parseFloat(totalReturnedAmount) + parseFloat(returnedAmount);
                            var $row = $('<tr/>');
                            $row.append($('<td/>').html(j));
                            $row.append($('<td/>').html(val.GlAccount));
                            $row.append($('<td style="text-align: right"/>').html(val.ExpensedAmount));
                            $row.append($('<td style="text-align: right"/>').html(val.ReturnedAmount));
                            //$row.append($('<td style="text-align: center"/>').html('<a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>'));
                            var $remove = $('<a href="#">Remove</a>');
                            $remove.click(function (e) {
                                //debugger
                                e.preventDefault();
                                dummyPaymentDetails.splice(i, 1);
                                GeneratePaymentDetailsTable();
                            });
                            $row.append($('<td/>').html($remove));
                            $tbody.append($row);
                        });
                        var $row1 = $('<tr/>');
                        $row1.append($('<td colspan="2" style="text-align: center"/>').html('<b>Total</b>'));
                        $row1.append($('<td id="totalExpensedAmount" style="text-align: right"/>').html(totalExpensedAmount));
                        $row1.append($('<td id="totalReturnedAmount" style="text-align: right"/>').html(totalReturnedAmount));
                        $row1.append($('<td/>').html(''));
                        $tbody.append($row1);
                        $table.append($tbody);
                        $('#dummyPaymentDetailItems').html($table);
                        $('#totalExpensedAmount').autoNumeric('init');
                        $('#totalReturnedAmount').autoNumeric('init');
                        $('#txtGlItems').html(numeral(dummyPaymentDetails.length).format("0,0"));
                        $('#txtTotalAmount').html(numeral(totalExpensedAmount).format("0,0.00"));
                        var operationalAmount = $("#OperationalAmount").val().replace(/,/g, "") == "" ? 0 : parseFloat($("#OperationalAmount").val().replace(/,/g, ""));
                        if (operationalAmount < totalReturnedAmount) {
                            $("#btnAddGlItem").attr("disabled", true);
                            $("#divAddGlErrorMsg").show();
                        } else {
                            $("#btnAddGlItem").attr("disabled", false);
                            $("#divAddGlErrorMsg").hide();
                        }
                        if (operationalAmount !== totalReturnedAmount) {
                            $("#btnSave").attr("disabled", true);
                            $("#divSaveErrorMsg").show();
                        } else {
                            $("#btnSave").attr("disabled", false);
                            $("#divSaveErrorMsg").hide();
                        }
                    } else {
                        $('#dummyPaymentDetailItems').html('');
                        $("#btnSave").attr("disabled", false);
                        $("#btnAddGlItem").attr("disabled", false);
                        $("#divAddGlErrorMsg").hide();
                        $("#divSaveErrorMsg").hide();
                    }
                }
            });

            $("#btnSave").click(function () {
                $('#btnSave').prop("disabled", true);
                $("#divLoader").show();

                if (!$("#dummyPaymentForm").valid()) {
                    $('#btnSave').prop("disabled", false);
                    $("#divLoader").hide();
                    return false;
                }

                if (dummyPaymentDetails.length == 0) {
                    swal({
                        text: "Please add atleast one GL item in order to save",
                        icon: "warning",
                        button: "OK",
                    });

                    $('#btnSave').prop("disabled", false);
                    $("#divLoader").hide();
                    return false;
                }

                var token = $("[name='__RequestVerificationToken']").val();
                var data = {
                    __RequestVerificationToken: token,
                    BankStatementDetailId: '0',
                    ReferenceNo: $('#ReferenceNo').val().trim(),
                    OperationalAmount: $('#OperationalAmount').val().trim(),
                    OperationalCurrency: $("#OperationalCurrency").val().trim(),
                    ReceivingBankName: $('#ReceivingBankName').val().trim(),
                    ReceivingBankBic: $('#ReceivingBankBic').val().trim(),
                    ReceivingBankAccountNo: $('#ReceivingBankAccountNo').val().trim(),
                    ReceivingBankAccountName: $('#ReceivingBankAccountName').val().trim(),
                    ReceiptDate: $('#ReceiptDate').val(),
                    ApplyDate: $('#ApplyDate').val(),
                    CustomerName: $('#CustomerName').val(),
                    ReceiptType: $('#ReceiptType').val(),
                    FundType: $('#FundType').val(),
                    SubBudgetClass: $('#SubBudgetClass').val(),
                    SubBudgetClassDesc: $('#SubBudgetClassDesc').val(),
                    PvId: $('#PvId').val(),
                    PvNo: $('#PvNo').val(),
                    Remarks: $('#Remarks').val().trim(),
                    DrGlAccount: $('#DrGlAccount').val(),
                    DrGlAccountDesc: $('#DrGlAccountDesc').val(),
                    ReceiptDetails: dummyPaymentDetails
                }

                var url = '@Url.Action("CreateDummyReceipt", "DummyReceipts")';
                $.ajax({
                    url: url,
                    type: "POST",
                    //data: JSON.stringify(data),
                    data: data,
                    dataType: "JSON",
                    //contentType: "application/json",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (response) {
                        //check is successfully save to database
                        if (response == "Success") {
                            //will send status from server side
                            swal({
                                text: "Receipt successfully saved.",
                                icon: "success",
                                button: "OK",
                            }).then(function () {
                                window.location = '@Url.Action("PendingDummyReceipts", "DummyReceipts")';
                            });
                        }
                        else {
                            swal({
                                text: response,
                                icon: "warning",
                                button: "OK",
                            })
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        swal({
                            text: "Error. Please try again..",
                            icon: "error",
                            button: "OK",
                        })
                    },
                    complete: function () {
                        $('#btnSave').prop("disabled", false);
                    }
                });
            });

            // End of dynamic table

            $("#GlAccount").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                placeholder: 'Search Gl Account',
                allowClear: false,
                ajax: {
                    url: '@Url.Action("GetBudgetCoas", "Coas")', // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (term) {
                        return {
                            receiptType: $("#ReceiptType").val(),
                            subBudgetClass: $("#SubBudgetClass").val(),
                            pvId: $("#PvId").val(),
                            term: term
                        };
                    },
                    results: function (data, page) {
                        return { results: data.coas }; // data.CountryList returning json data from Controlle
                    }
                }
            });
        });

        $("#ReferenceNo").on("keyup", function () {
            var referenceNo = $("#ReferenceNo").val();
            var bankAccount = $("#ReceivingBankAccountNo").val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("ValidateCashReceipt", "InstitutionAccounts")',
                data: { referenceNo: referenceNo, bankAccount: bankAccount },
                success: function (data, status, jqXHR) {
                    if (data.duplicate) {
                        $("#spanDuplicateReferenceNo").show();
                        $("#btnSave").prop("disabled", true);
                    }
                    else {
                        $("#spanDuplicateReferenceNo").hide();
                        $("#btnSave").prop("disabled", false);
                    }
                },
                error: function () {
                    swal({
                        text: "Error on accessing receipt details",
                        icon: "error",
                        button: "OK",
                    })
                }
            })
        });

        $('#ReceivingBankAccountNo').on("change", function () {
            var receivingBankAccountNo = $("#ReceivingBankAccountNo").val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInstitutionAccount", "InstitutionAccounts")',
                data: { id: receivingBankAccountNo },
                success: function (data, status, jqXHR) {
                    if (data.duplicate) {
                        swal({
                            text: "Reference number already exist",
                            icon: "warning",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }

                    if (data.success) {
                        $("#OperationalCurrency").val(data.OperationalCurrency);
                        $("#ReceivingBankName").val(data.ReceivingBankName);
                        $("#ReceivingBankBic").val(data.ReceivingBankBic);
                        $("#ReceivingBankAccountNo").val(data.ReceivingBankAccountNo);
                        $("#ReceivingBankAccountName").val(data.ReceivingBankAccountName);
                    } else {
                        swal({
                            text: "Error on accessing bank account details",
                            icon: "warning",
                            button: "OK",
                        })
                    }
                    $("#OperationalAmount").autoNumeric({ aNeg: "-" }).trigger("change");
                },
                error: function () {
                    swal({
                        text: "Error on accessing bank account details",
                        icon: "error",
                        button: "OK",
                    })
                }
            })
        });

        $('#ReceiptType').on("change", function () {

            var receiptType = $("#ReceiptType").val();
            if (receiptType == "Normal Receipt") {
                $("#divSubBudgetClass").show();
                $("#divPvNo").hide();
                $("#lblExpensedAmount").text("Amount");
                $("#ExpensedAmount").prop("readonly", false);
                $("#lblReturnedAmount").hide();
                $("#ReturnedAmount").hide();
                $("#SubBudgetClass").select2({
                    minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                    width: 'resolve',   // to adjust proper width of select2 wrapped elements
                    placeholder: "Select Sub Budget Class",
                    allowClear: false,
                    initSelection: function (element, callback) {
                        var id = $(element).val();
                        if (id !== "") {
                            $.ajax('@Url.Action("GetSelectedSubBudgetClass", "SubBudgetClasses")', {
                                data: { id: id },
                                dataType: "json"
                            }).done(function (data) {
                                callback(data);
                            });
                        }
                    },
                    ajax: {
                        url: '@Url.Action("GetSubBudgetClassesByAccount", "SubBudgetClasses")', // Controller - Select2Demo and Action -AccessRemoteData
                        type: "GET",
                        dataType: 'json',
                        data: function (term) {
                            return {
                                term: term,
                                accountNo: $("#ReceivingBankAccountNo").val()
                            };
                        },
                        results: function (data, page) {
                            return { results: data.subBudgetClasses }; // data.CountryList returning json data from Controlle
                        }
                    },
                });
            } else if (receiptType == "Return Receipt") {
                $("#divSubBudgetClass").hide();
                $("#divPvNo").show();
                $("#lblExpensedAmount").text("Expensed Amount");
                $("#ExpensedAmount").prop("readonly", true);
                $("#lblReturnedAmount").show();
                $("#ReturnedAmount").show();
                $("#PvId").select2({
                    minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                    width: 'resolve',   // to adjust proper width of select2 wrapped elements
                    placeholder: "Select PV No",
                    allowClear: false,
                    initSelection: function (element, callback) {
                        var id = $(element).val();
                        if (id !== "") {
                            $.ajax('@Url.Action("GetSelectedPvNo", "DummyReceipts")', {
                                data: { id: id },
                                dataType: "json"
                            }).done(function (data) {
                                callback(data);
                            });
                        }
                    },
                    ajax: {
                        url: '@Url.Action("GetPvNos", "DummyReceipts")', // Controller - Select2Demo and Action -AccessRemoteData
                        type: "GET",
                        dataType: 'json',
                        data: function (term) {
                            return {
                                term: term
                            };
                        },
                        results: function (data, page) {
                            return { results: data.pvNos }; // data.CountryList returning json data from Controlle
                        }
                    },
                });
            }
        })

        $('#SubBudgetClass').on("change", function () {
            var subBudgetClassCode = $("#SubBudgetClass").val();
            var accountNo = $("#ReceivingBankAccountNo").val();

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSubBudgetClass", "SubBudgetClasses")',
                data: { subBudgetClassCode: subBudgetClassCode, accountNo: accountNo },
                success: function (data, status, jqXHR) {
                    if (data.success) {
                        $("#DrGlAccount").val(data.DrGlAccount);
                        $("#DrGlAccountDesc").val(data.DrGlAccountDesc);
                        $("#FundType").val(data.FundType);
                        $("#SubBudgetClassDesc").val(data.SubBudgetClassDesc);
                    } else if (!data.success) {
                        swal({
                            text: data.response,
                            icon: "error",
                            button: "OK",
                        })
                    } else {
                        swal({
                            text: "Problem on accessing sub budget class details, contact system support",
                            icon: "warning",
                            button: "OK",
                        })
                    }
                },
                error: function () {
                    swal({
                        text: "Error on accessing sub budget class details, contact system support",
                        icon: "error",
                        button: "OK",
                    })
                }
            });
        });

        $('#PvId').on("change", function () {
            var pvId = $("#PvId").val();

            $.ajax({
                type: "GET",
                url: "GetPv",
                data: { id: pvId },
                success: function (data, status, jqXHR) {
                    if (data.success) {
                        $("#DrGlAccount").val(data.DrGlAccount);
                        $("#DrGlAccountDesc").val(data.DrGlAccountDesc);
                        $("#FundType").val(data.FundType);
                        $("#SubBudgetClassDesc").val(data.SubBudgetClassDesc);
                        $("#PvNo").val(data.PvNo);
                    } else if (!data.success) {
                        swal({
                            text: data.response,
                            icon: "error",
                            button: "OK",
                        })
                    } else {
                        swal({
                            text: "Problem on accessing PV details, contact system support",
                            icon: "warning",
                            button: "OK",
                        })
                    }
                },
                error: function () {
                    swal({
                        text: "Error on accessing PV details, contact system support",
                        icon: "error",
                        button: "OK",
                    })
                }
            });
        });

        $('#GlAccount').on("change", function () {
            var glAccount = $("#GlAccount").val();
            var receiptType = $("#ReceiptType").val();
            var pvId = $("#PvId").val();
            var glAccountText = $("#GlAccount").select2("data").text;
            var glAccountTextArray = glAccountText.split("-");
            var refNo = glAccountTextArray[glAccountTextArray.length - 1].trim();
            $("#divLoader").show();

            $.ajax({
                type: "GET",
                url: "GetGlAccount",
                data: { glAccount: glAccount, receiptType: receiptType, pvId: pvId, refNo: refNo },
                success: function (data, status, jqXHR) {
                    if (data.success) {
                        $("#GlAccount").val(data.GlAccount);
                        $("#GlAccountDesc").val(data.GlAccountDesc);
                        $("#SubVote").val(data.SubVote);
                        $("#SubVoteDesc").val(data.SubVoteDesc);
                        $("#TR").val(data.TR);
                        $("#CostCentre").val(data.CostCentre);
                        $("#CostCentreDesc").val(data.CostCentreDesc);
                        $("#Facility").val(data.Facility);
                        $("#FacilityDesc").val(data.FacilityDesc);
                        $('#GfsCode').val(data.GfsCode);
                        $('#GfsCodeCategory').val(data.GfsCodeCategory);
                        $('#GeographicalLocationDesc').val(data.GeographicalLocationDesc);
                        $('#TrDesc').val(data.TrDesc);
                        $('#ProjectDesc').val(data.ProjectDesc);
                        $('#ServiceOutputDesc').val(data.ServiceOutputDesc);
                        $('#ActivityDesc').val(data.ActivityDesc);
                        $('#FundTypeDesc').val(data.FundTypeDesc);
                        $('#CofogDesc').val(data.CofogDesc);
                        $('#FundingSourceDesc').val(data.FundingSourceDesc);
                        $('#VoteDesc').val(data.VoteDesc);
                        $("#ExpensedAmount").val(data.ExpensedAmount);
                    } else {
                        swal({
                            text: "Error on accessing GL account details, contact system support",
                            icon: "warning",
                            button: "OK",
                        })
                    }

                    $("#ExpensedAmount").autoNumeric('set', $("#ExpensedAmount").val());
                },
                error: function () {
                    swal({
                        text: "Error on accessing GL account details, contact system support",
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $("#divLoader").hide();
                }
            });
        });

        $("#ExpensedAmount").keyup(function () {
            var receiptType = $("#ReceiptType").val();
            if (receiptType == "Normal Receipt") {
                $("#ReturnedAmount").val($(this).val());
            }
            //$('#ExpensedAmount').autoNumeric('update', { mDec: '2', vMax: '999999999999.99', aSep: ',', aDec: '.' });
        });

        $("#ReturnedAmount").keyup(function () {
            //$('#ExpensedAmount').autoNumeric('update', { mDec: '2', vMax: '999999999999.99', aSep: ',', aDec: '.' });
        });

    </script>
}
