@model TPPS.Models.HandOver

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HandOver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HandOverByUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverByUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverByFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverByFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverByJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverByJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverByStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverByStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverToUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverToUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverToFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverToFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverToJobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverToJobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandOverToStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandOverToStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminationReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminationReason)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
