@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.InstitutionCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCategory1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCategory1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstitutionCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstitutionCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstitutionCategoryId })
        </td>
    </tr>
}

</table>
