@model IFMIS.Areas.CashManagement.Models.ClosingAccountDetailVM

@{
    ViewBag.Title = "Closing Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Account Details</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Attachment(s) List <span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span></a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Comments<span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span> </a></li>
                                </ul>
                                <br />
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="detail-section">
                                            <div class="row-align">
                                                <div style="max-width:600px">
                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AuthorityReference)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AuthorityReference)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountNumber)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountNumber)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.Purpose)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.Purpose)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CurrencyName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CurrencyName)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CurrencyCode)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CurrencyCode)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CurrencyCountry)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CurrencyCountry)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.BankName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.BankName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.BranchName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.BranchName)
                                                            </td>
                                                        </tr>
                                                       
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.OverallStatus)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.OverallStatus)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.OverallstatusDescription)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.OverallstatusDescription)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.RequestExpireDate)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.RequestExpireDate)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountOwnerCode)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountOwnerCode)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountOwner)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountOwner)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountOperatorName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountOperatorName)
                                                            </td>
                                                        </tr>



                                                    </table>
                                                </div>
                                                <div>

                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.InstitutionCode)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.InstitutionCode)
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.InstitutionName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.InstitutionName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.MsgID)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.MsgID)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.SourceFullName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.SourceFullName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.SourceJobTitle)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.SourceJobTitle)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.SourceRole)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.SourceRole)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.SourceUserName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.SourceUserName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.DestinationRole)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.DestinationRole)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.DestinationFullName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.DestinationFullName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.DestinationJobTitle)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.DestinationJobTitle)
                                                            </td>
                                                        </tr>



                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.TransferAccountNumber)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.TransferAccountNumber)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.TransferAccountName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.TransferAccountName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.TransferBankName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.TransferBankName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.TransferSwiftCode)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.TransferSwiftCode)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.TransferCurrency)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.TransferCurrency)
                                                            </td>
                                                        </tr>



                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.WorkflowName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.WorkflowName)
                                                            </td>
                                                        </tr>

                                                    </table>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Preview Attachment</th>
                                                </tr>
                                            </thead>
                                            @{int i = 0;}
                                            @foreach (var item in Model.GovernmentAttachments)
                                            {
                                                i++;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                    <td><a href="@Url.Action("PreviewAttachment","OpeningAccounts",new { governmentAttachmentId=item.GovernmentAttachmentId })" target="_blank"> <i class="fa fa-file-pdf-o"></i> </a></td>
                                                    @*<td><a href="/Content/uploads/@Html.DisplayFor(modelItem => item.FileName)"><i class="fa fa-file-pdf-o"></i></a></td>*@

                                                </tr>
                                            }
                                        </table>

                                    </div>

                                    <div class="tab-pane" id="tab_3">
                                        <div class="row" style="padding-left: 10px; padding-right: 10px">
                                            <!-- Timeline Content -->
                                            <div class="smart-timeline">
                                                <ul class="smart-timeline-list">
                                                    @foreach (var item in Model.Comments)
                                                    {
                                                        <li>
                                                            <div class="smart-timeline-icon">
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                            <div class="smart-timeline-time">
                                                                <small>@item.CreatedAt</small>
                                                            </div>
                                                            <div class="smart-timeline-content">
                                                                <p>
                                                                    <a href="javascript:void(0);">
                                                                        <strong>@item.OverallStatus </strong>(@item.CreatedBy) to <strong>@item.Destination</strong>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    @item.Remarks
                                                                </p>

                                                                <ul class="list-inline">
                                                                    @if (!string.IsNullOrEmpty(item.FileName))
                                                                    {
                                                                        <li>
                                                                            <a href="@Url.Action("ViewCommentDoc", "ClosingAccounts", new { id = item.CommentId })" target="_blank">
                                                                                <img src="/Content/img/attachment.png" alt="img" width="50">
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <!-- END Timeline Content -->
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-2">
                                                <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>