@model IFMIS.Areas.CashManagement.Models.ClosingAccountDetailVM

@{
    ViewBag.Title = "Opening Account Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Account Details</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Attachment(s) List <span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span></a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Comments<span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span> </a></li>
                                </ul>
                                <br />
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="widget-body " style="padding-top:10px; width:100%;">
                                            <table width="100%">
                                                <tr>
                                                    <td colspan="1">
                                                        <div style="padding-left:5%">

                                                            <dl class="dl-horizontal">
                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.AccountName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.AccountName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.Purpose)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.Purpose)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.CurrencyName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.CurrencyName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.CurrencyCode)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.CurrencyCode)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.CurrencyCountry)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.CurrencyCountry)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.BankName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.BankName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.BranchName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.BranchName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.RegionName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.RegionName)
                                                                </dd>


                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.DistrictName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.DistrictName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.WardName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.WardName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.PostalAddress)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.PostalAddress)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.InstitutionCode)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.InstitutionCode)
                                                                </dd>


                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.InstitutionName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.InstitutionName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.SourceFullName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.SourceFullName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.SourceJobTitle)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.SourceJobTitle)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.SourceRole)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.SourceRole)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.SourceUserName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.SourceUserName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.DestinationRole)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.DestinationRole)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.DestinationFullName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.DestinationFullName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.DestinationJobTitle)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.DestinationJobTitle)
                                                                </dd>


                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.OverallStatus)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.OverallStatus)
                                                                </dd>

                                                            </dl>
                                                        </div>

                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Title</th>
                                                        <th>Description</th>
                                                        <th>Preview Attachment</th>
                                                    </tr>
                                                </thead>
                                                @{int i = 0;}
                                                @foreach (var item in Model.GovernmentAttachments)
                                                {
                                                    i++;
                                                <tr>
                                                <td>@i</td>
                                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                <td><a href="/Content/uploads/@Html.DisplayFor(modelItem => item.FileName)"><i class="fa fa-file-pdf-o"></i></a></td>

                                               </tr>
                                                }
                                            </table>

                                    </div>

                                    <div class="tab-pane" id="tab_3">
                                        <div class="row" style="padding-left: 10px; padding-right: 10px">
                                            <!-- Timeline Content -->
                                            <div class="smart-timeline">
                                                <ul class="smart-timeline-list">
                                                    @foreach (var item in Model.Comments)
                                                    {
                                                        <li>
                                                            <div class="smart-timeline-icon">
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                            <div class="smart-timeline-time">
                                                                <small>@item.CreatedAt</small>
                                                            </div>
                                                            <div class="smart-timeline-content">
                                                                <p>
                                                                    <a href="javascript:void(0);">
                                                                        <strong>@item.OverallStatus </strong>(@item.CreatedBy) to <strong>@item.Destination</strong>
                                                                    </a>
                                                                </p>
                                                                <p>
                                                                    @item.Remarks
                                                                </p>

                                                                <ul class="list-inline">
                                                                    @if (!string.IsNullOrEmpty(item.FileName))
                                                                    {
                                                                        <li>
                                                                            <a href="@Url.Action("ViewCommentDoc", "MEs", new { id = item.CommentId })" target="_blank">
                                                                                <img src="/Content/img/attachment.png" alt="img" width="50">
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <!-- END Timeline Content -->
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-2">
                                                <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>