@model IFMIS.Areas.Coadmis.Models.ReportConfigurationVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addConfigurationFrom" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.HeaderId, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.DropDownList("HeaderId", ViewBag.Headers as SelectList, "Select report header", new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.HeaderId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Preamble, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Preamble, new { @class = "form-control", @rows=7, @cols=50 })
            @Html.ValidationMessageFor(model => model.Preamble, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @rows=7, @cols=50 })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}

<script>
    $(document).ready(function () {
        $("select").select2();
    });
</script>
