@model IFMIS.Areas.IFMISTZ.Models.Country

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 40px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Institution Account Edit</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">
                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">

                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()


                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.CountryId)

                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Country Name:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.CountryName, new { @Class = "input", style = "width:300px;" })
                                                        @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right;">Zip Code:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.ZipCode, new { @Class = "input", style = "width:300px; ", required = "required", autocomplete = "off" })
                                                        @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("CountryList", "Countries")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    </div>