@model IFMIS.Areas.IFMISTZ.Models.CreateBillVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 8px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .backgroundChange {
        background-color: #80cbc4;
        font-weight: bold;
        color: white
    }

    .blink-anim {
        transition: background-color 0.05s ease-in-out;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                     data-widget-custombutton="false" data-widget-colorbutton="false"
                     data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Loan Clearence Entry</h2>

                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-sm-6">
                                    <table style="margin-left: 2%">
                                        <tr>
                                            <td class="form-label">
                                                Customer Name
                                                <i class="fa fa-times" style="color:white" id="VendorName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" readonly id="VendorName" placeholder="No Customer Selected" onclick="SearchPayee()" SearchPayee() style="width:260px" />
                                                    <a class="search-btn" onclick="SearchPayee()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                CheckNo
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="CheckNo" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                LoanCtrlNo
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="LoanCtrlNo" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Description
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="LoanDesc" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-sm-6">
                                    <table style="margin-left: 2%">
                                        <tr>
                                            <td class="form-label">
                                                Loan Code
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="LoanCode" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Approved Amount
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="OriginalAmount" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Change Status
                                            </td>
                                            <td>
                                                @Html.DropDownList("Status", new List<SelectListItem>{
                                                   new SelectListItem{ Text="--Select--", Value = "" },
                                                   new SelectListItem{ Text="Void Loan", Value = "Void" },
                                           }, new { @class = "form-control" })
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding:20px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <a class="btn btn-info" href='@Url.Action("PendingVoid", "VoidLoan")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button type="submit" class="btn btn-info" onclick="saveData()">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- Search Payee ----------------->
<div class="modal fade" id="customersModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Customer</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search" id="searchbox" autocomplete="off">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>LoanApplId</th>
                            <th>Loan CtrlNum</th>
                            <th>Check No</th>
                            <th>Customer Name</th>
                            <th>Loan Code</th>
                            <th>Loan Description</th>
                            <th style="text-align:right">Approved Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>


@section pagespecific {
    <script>

        $("#assetContainer").toggle(false)
        $("#saveLoader").toggle(false)
        $("#loanChargesContainer").toggle(false)

        function SearchPayee() {
            $('#customersModal').modal('show');
        }

        function ZoomLoanType() {
            $('#loanModal').modal('show');
        }

        function ZoomAsset() {
            $('#assetModal').modal('show');
        }
        var dt_search_asset = $('#dt_search_asset').dataTable();
        $("#dt_search_asset_wrapper .dt-toolbar").remove();
        $("#searchbox_asset").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_asset.fnClearTable();
            } else {
                searchAssetTableUpdate(this.value);
            }
        });

        var dt_search_payee = $('#dt_search_payee').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [1] }],
        }
        );
        $("#dt_search_payee_wrapper .dt-toolbar").remove();
       $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_payee.fnClearTable();
            } else {
                searchCustomerTableUpdate(this.value);
            }
       });

       var dt_search_loan = $('#dt_search_loan').dataTable();
       $("#dt_search_loan_wrapper .dt-toolbar").remove();
       $("#searchbox_loan").on("keyup search input paste cut", function () {
           if (!this.value) {
               dt_search_loan.fnClearTable();
           } else {
               searchLoanTypeTableUpdate(this.value);
           }
       });
       var loanAssets = []
       function searchAssetTableUpdate(search) {
           var url = '@Url.Action("GetLoanAsset", "ALSLoanApp")';
           $.ajax({
               type: "GET",
               url: url,
               data: { search },
               contenttype: "application/json; charset=utf-8",
               datatype: "json",
               success: function (response) {
                   loanAssets = response.data;
                   dt_search_asset.fnClearTable();
                   for (var i = 0; i < loanAssets.length; i++) {
                       dt_search_asset.fnAddData([i + 1,
                          loanAssets[i]["ModeOfSale"],
                          loanAssets[i]["AssetType"] || "-",
                          loanAssets[i]["AssetLotNo"],
                          loanAssets[i]["AssetRegNo"],
                          loanAssets[i]["AssetDesc"],
                          loanAssets[i]["AssetQuantity"],
                          toLabel(loanAssets[i]["AssetUnitPrice"]),
                          toLabel(loanAssets[i]["AssetTotalPrice"]),
                          '<a href="#" onclick="assetClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                       ]);
                   }
               },
               failure: function (error) {
                   swal(error);
               }
           });
       }
       var loanTypes = []
       function searchLoanTypeTableUpdate(search) {
           var url = '@Url.Action("GetLoanType", "ALSLoanApp")';
           $.ajax({
               type: "GET",
               url: url,
               data: { search },
               contenttype: "application/json; charset=utf-8",
               datatype: "json",
               success: function (response) {
                   loanTypes = response.data;
                   dt_search_loan.fnClearTable();
                   for (var i = 0; i < loanTypes.length; i++) {
                       dt_search_loan.fnAddData([i + 1,
                          loanTypes[i]["LoanDescription"],
                          loanTypes[i]["LoanType"],
                          loanTypes[i]["RecoveryPeriod"],
                          toLabel(loanTypes[i]["MaxLoanAmount"]),
                          loanTypes[i]["LoanNature"],
                          '<a href="#" onclick="loanClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                       ]);
                   }
               },
               failure: function (error) {
                   swal(error);
               }
           });
       }
       var payees = []
        function searchCustomerTableUpdate(search) {
            var url = '@Url.Action("GetCustomers", "VoidLoan")';
            $.ajax({
                type: "GET",
                url: url,
                data: { search },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    payees = response.data;
                    dt_search_payee.fnClearTable();
                    for (var i = 0; i < payees.length; i++) {
                        dt_search_payee.fnAddData([i + 1,
                           payees[i]["LoanApplId"],
                           payees[i]["LoanCtrlNum"],
                           payees[i]["CheckNo"],
                           payees[i]["VendorName"],
                           payees[i]["LoanCode"],
                           payees[i]["LoanDescr"],
                           '<div align="right">'+toLabel(payees[i]["LoanApprovedAmount"])+'</div>',
                           '<a href="#" onclick="customerClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        var loanApplId = 0
        function customerClicked(i) {
            loanApplId = payees[i].LoanApplId;
            $("#LoanCtrlNo").val(payees[i].LoanCtrlNum);
            $("#VendorName").val(payees[i].VendorName);
            $("#CheckNo").val(payees[i].CheckNo);           
            $("#LoanDesc").val(payees[i].LoanDescr);
            $("#LoanCode").val(payees[i].LoanCode);
            $("#OriginalAmount").val(toLabel(payees[i].LoanApprovedAmount));
            $('#customersModal').modal('hide');
        }

        $("#_LoanAmount").prop('disabled', true)
        $("#RecoveryPeriod1").prop('disabled', true)
        var selectedLoanTypeId = 0
        var PaidTo = ""
        function loanClicked(i) {
            $("#_LoanAmount").prop('disabled', false)
            $("#RecoveryPeriod1").prop('disabled', false)
            selectedLoanTypeId = loanTypes[i].LoanTypeId
            PaidTo = loanTypes[i].PaidTo
            $("#LoanDescription").val(loanTypes[i].LoanDescription)
            $("#RecoveryPeriod").val(loanTypes[i].RecoveryPeriod)
            $("#MaxLoanAmount").val(toLabel(loanTypes[i].MaxLoanAmount))
            $("#LoanNature").val(loanTypes[i].LoanNature)
            $("#LoanType").val(toLabel(loanTypes[i].LoanType))
            if (loanTypes[i]["LoanNature"] == "NONCASH") {
                $("#assetContainer").toggle(true)
            } else {
                $("#assetContainer").toggle(false)
            }
            getLoanCharges(loanTypes[i].AgencyCodeId)
            $('#loanModal').modal('hide');
        }

        var selectedLoanAssetId = 0
        function assetClicked(i) {
            selectedLoanAssetId = loanAssets[i].AssetId
            $("#AssetRegNo").val(loanAssets[i].AssetRegNo)
            $('#assetModal').modal('hide');
        }

        let ExemptedPercent = 0
        function getLoanCharges(AgencyCodeId) {
            var url = '@Url.Action("GetLoanCharges", "ALSLoanApp")';
            $.ajax({
                type: "GET",
                url: url,
                data: { AgencyCodeId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#loanChargesContainer").toggle(true)
                    let data = response.data;
                    $("#LoanCharges").html('')
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].LoanChargeType != "Agency Fee") {
                        $("#LoanCharges").append(
                            Tr(data[i].LoanChargeType, data[i].LoanPercentageFee)
                         )
                        }
                        if (data[i].LoanChargeType == "Exemption") {
                            ExemptedPercent = data[i].LoanPercentageFee
                        }
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function Tr(name,percent) {
            return '<tr style="border-bottom:1px solid #ccc">\
                      <td>'+name+'</td>\
                      <td>'+percent+'%</td>\
                   </tr>\
                  '
        }

        function saveData() {
            if (loanApplId==0) {
                swal("Please select customer");
                return false;
            }
            if (!$("#Status").val()) {
                swal("Please select status");
                return false;
            }
  
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    type: "POST",
                    url:'@Url.Action("SaveVoid", "VoidLoan")',
                    data: {
                         LoanApplId: loanApplId,
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = '@Url.Action("PendingVoid", "VoidLoan")';
                                });
                        } else {
                            $("#form_submision").prop('disabled', false);
                                $("#saveLoader").toggle(false);
                                swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });

        }


        function _isLoanAmountValid() {
            let ExemptedAmount = ExemptedPercent * toNumber($("#LoanAmount").val())
            let x = toNumber($("#NetSalary").val()) - toNumber($("#GrossSalary").val()) / 3
            let y = (toNumber($("#LoanAmount").val()) - ExemptedAmount) / toNumber($("#RecoveryPeriod").val())
            return x >= y
        }

        function isTheFormValid() {
            var isNotValid = validateInputsParameters([
                "#VendorName",
                "#LoanDescription",
                "#RecoveryPeriod1",
                "#LoanAmount",
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }

            if ($("#LoanNature").val() == "NONCASH") {
                var isNotValid = validateInputsParameters(["#AssetRegNo"]);
                if (isNotValid) {
                    $(isNotValid + "_1").attr("style", "color: red;");
                    return false
                }
            }

            if (!isLoanAmountValid) {
                $("#LoanAmount_1").attr("style", "color: red;");
                return false
            }

            if (!isRecoveryPeriodValid) {
                $("#RecoveryPeriod1_1").attr("style", "color: red;");
                return false
            }

            //if (PaidTo != "MEMBER OF PERLIAMENT") {
            //    if (!_isLoanAmountValid()) {
            //        swal("The Given Employee Salary Does not Qualify for the Loan Amount Provided..!")
            //        return false
            //    }
            //}
            return true
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }
        var isRecoveryPeriodValid = false
        var isLoanAmountValid = false
        function validateRecoveryPeriod(target) {
            if (parseInt(target.value) > parseInt($("#RecoveryPeriod").val())) {
                target.style.color = "red"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = '#f7c9c8'

                let $div2blink = $("#RecoveryPeriod");
                setIntervalX(function () {
                    $div2blink.toggleClass("backgroundChange");
                }, 200, 10, $div2blink)
                isRecoveryPeriodValid = false
            } else {
                target.style.color = "black"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = 'white'
                isRecoveryPeriodValid = true
            }
        }

        $("#_LoanAmount").on('keyup', () => validateMaxLoanAmount());

        function validateMaxLoanAmount() {
            var target = document.getElementById("_LoanAmount")
            let $div2blink = $("#MaxLoanAmount");
            if (toNumber($("#_LoanAmount").val()) > toNumber($("#MaxLoanAmount").val())) {
                target.style.color = "red"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = '#f7c9c8'

                setIntervalX(function () {
                    $div2blink.toggleClass("backgroundChange");
                }, 200, 10, $div2blink)
               // $div2blink.addClass("backgroundChange");
                isLoanAmountValid = false
            } else {
                target.style.color = "black"
                target.style.fontWeight = 'bold'
                target.style.backgroundColor = 'white'
                $div2blink.removeClass("backgroundChange");
                isLoanAmountValid = true
            }
        }
        function setIntervalX(callback, delay, repetitions,node) {
            var x = 0;
            var intervalID = window.setInterval(function () {
                callback();
                if (++x === repetitions) {
                    window.clearInterval(intervalID);
                    node.removeClass("backgroundChange");
                }
            }, delay);
        }
            $("#Amount").autoNumeric('init');
    </script>
}