@model IFMIS.Areas.ALS.Models.AuctionSalesDetail
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 250px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }
</style>
<br />

<div id="exTab2" class="container" style="margin-left:0px;margin-top:5px;width:auto">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab"> Auction Details </a>
        </li>
        <li>
            <a href="#2" data-toggle="tab"> Bill Details </a>
        </li>
        <li>
            <a href="#3" data-toggle="tab"> Remarks </a>
        </li>
    </ul>
    <div class="tab-content ">
        <div class="tab-pane active" id="1">
            <!--Default panell contents-->
            <div class="col-md-11" style="margin-top:20px;">
                <div class="form-horizontal">
                    <br />
                    <div class="payee-entry">
                        <div class="entry-label"> Details for Auction </div>
                        <div style="padding-left:20px">
                            <div class="row">
                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <th> Asset Category : </th>
                                            <td id="transferCategory"> @Model.assetCategory </td>
                                        </tr>
                                        <tr>
                                            <th> Asset Class: </th>
                                            <td id="transferType"> @Model.assetClass </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <th> Asset Code: </th>
                                            <td id="transferCategory">
                                                @Model.assetCode
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>  Asset Name: </th>
                                            <td id="transferType"> @Model.assetName </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table>
                                        <tr>
                                            <th>  EmailAddress: </th>
                                            <td id="description"> @Model.emailAddress </td>
                                        </tr>
                                        <tr>
                                            <th>  PhoneNumber : </th>
                                            <td id="institutionFrom">@Model.phoneNumber </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section pagespecific {
    <script type="text/javascript">
    </script>
}
