@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.TransactionStatusVM>

<style>
    .searchContainer {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        /*padding-top:10px;*/
        /*text-align: center;*/
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
<div style="padding:1em;padding-top:1em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    @{
                        int i = 0;
                        // int j = 0;

                    }
                    <div class="well" style="padding-top:20px">
                        <div style="padding-left:10px" class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12">
                        <section id="widget-grid">
                            <div class="row">
                                <article class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false">
                                        <header>
                                        </header>
                                        <div class="widget-body" style="padding-top:10px">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="searchContainer" style="float:right">
                                                        <i class="fa fa-search searchIcon"></i>
                                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                                    </div>
                                                </div>
                                            </div>
                                            <table id="dt_basicGL" class="table table-bordered table-hover table-condensed">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Date</td>
                                                        <td>Matched Date</td>
                                                        <td>Reference</td>
                                                        <td>Related Ref</td>
                                                        <td>Description</td>
                                                        <td>Tran. Type</td>
                                                        <td style="text-align:right">Amount</td>
                                                        <td>Recon. Status</td>
                                                        <td>Cleared Type</td>
                                                        <td>Match Number</td>
                                                        <td style="font-size:11px">Recon. By</td>
                                                        <td>Recon. Type</td>
                                                        <td>Source</td>

                                                    </tr>

                                                </thead>
                                                @foreach (var item in Model)
                                                {
                                                    i++;
                                                    <tr>
                                                        <td>@i</td>

                                                        <td>@string.Format("{0: dd/MM/yyyy}", item.TransactionDate)</td>
                                                        <td>@string.Format("{0: dd/MM/yyyy}", item.MatchedDate)</td>
                                                        <td>@item.LegalNumber</td>
                                                        <td>@item.RelatedNumber</td>
                                                        <td style="font-size:11px">@item.Description</td>
                                                        <td>@item.TransactionType</td>
                                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", item.Amount)</td>
                                                        <td>@item.ReconciliationStatus</td>
                                                        <td>@item.ClearedType</td>
                                                        <td>@item.MatchNo</td>
                                                        <td style="font-size:11px">@item.ReconciledBy</td>
                                                        <td>@item.ReconciliationType</td>
                                                        <td>@item.source</td>

                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </section>
                    </div>
                </div>

            </article>
        </div>
    </section>
</div>



<script>
    var dt_basicGL = $('#dt_basicGL').dataTable({
        scrollY: 400,
        columnDefs: [
            { width: 10, targets: 0 }
        ],
        fixedColumns: true
    });
    $("#dt_basicGL_filter").remove();
    $("#dt_basicGL_length").remove();
    $("#dt_basicGL_wrapper .dt-toolbar").remove();
    $("#searchbox").on("keyup search input paste cut", function () {
        dt_basicGL.DataTable().search(this.value).draw();
    });

</script>

