@model IFMIS.Areas.IFMISTZ.Models.ReconciliationPosted
@{
    ViewBag.Title = "ApprovalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Confirmed Reconciliation Details</h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="well" style="padding-top:20px;width:63%">
                                <table style="width:63%">
                                    <tr>
                                        <td>
                                            <strong>ACCOUNT NUMBER:</strong>
                                            @Model.AccountNumber
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>ACCOUNT NAME  :</strong>
                                            @Model.AccountName
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table class="table table-bordered table-condensed" style="width:63%;">
                                <thead style="background: #F6F6F6;">
                                <th colspan="2">Description</th>
                                <th style="text-align:right;">Amount</th>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td colspan="2">Balance AS Per Bank Statement As At &nbsp;<strong> @string.Format("{0:  dd MMMM,yyyy}", Model.CheckDate)</strong></td>
                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", Model.ClosingBalanceBank)</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">Less:</td>
                                    </tr>

                                    <tr>
                                        <td style="width:5%">1.</td>
                                        <td>Receipt in Bank Not in Cash Book</td>
                                        <td style="text-align:right"><a href="#" onclick="outreceiptBank('@Model.AccountNumber','@Model.CheckDate')" title="Click to View" data-toggle="tooltip"><b class="badge bg-color-green" style="margin-left:10px" id="ReceiptBank">@string.Format("{0:#,0.00}", Model.OutStaReceiptBank) </b></a>
                                        @*<td style="text-align:right">@string.Format("{0:#,0.00}", Model.OutStaReceiptBank)</td>*@

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Unpresented Payments</td>
                                        <td style="text-align:right"><a href="#" onclick="paymentGL('@Model.AccountNumber','@Model.CheckDate')" title="Click to View" data-toggle="tooltip"><b class="badge bg-color-green" style="margin-left:10px" id="PaymentGL">@string.Format("{0:#,0.00}", Model.OutStaPaymentGL) </b></a>
                                        @*<td style="text-align:right">@string.Format("{0:#,0.00}", Model.OutStaPaymentGL)</td>*@
                                            
                                    </tr>

                                    <tr style="background: #F6F6F6;">
                                        <td colspan="2">Total Less</td>
                                        <td style="text-align:right"> <strong id="totalless"></strong>@*@string.Format("{0:#,0.00}", Model.ReceiptBankPaGL)*@</td>
                                    </tr>

                                    <tr>
                                        <td colspan="3">Add:</td>
                                    </tr>

                                    <tr>
                                        <td>1.</td>
                                        <td>Payment in Bank Not in Cash Book</td>
                                        <td style="text-align:right"><a href="#" onclick="paymentBank('@Model.AccountNumber','@Model.CheckDate')" title="Click to View" data-toggle="tooltip"><b class="badge bg-color-green" style="margin-left:10px" id="PaymentBank">@string.Format("{0:#,0.00}", Model.OutStaPaymentBank) </b></a>
                                        @*<td style="text-align:right">@string.Format("{0:#,0.00}", Model.OutStaPaymentBank)</td>*@

                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Receipt in Cash Book Not in Bank</td>
                                        <td style="text-align:right"><a href="#" onclick="receiptGL('@Model.AccountNumber','@Model.CheckDate')" title="Click to View" data-toggle="tooltip"><b class="badge bg-color-green" style="margin-left:10px" id="ReceiptGL">@string.Format("{0:#,0.00}", Model.OutStaReceiptGL) </b></a>
                                        @*<td style="text-align:right">@string.Format("{0:#,0.00}", Model.OutStaReceiptGL)</td>*@

                                    </tr>
                                    <tr style="background: #F6F6F6;">
                                        <td colspan="2">Total Add</td>
                                        <td style="text-align:right">@*@string.Format("{0:#,0.00}", Model.PaBankReceiptGL)*@<strong id="totalAdd"></strong></td>
                                    </tr>

                                    <tr>

                                        <td colspan="2"><strong>Adjusted Bank Balance</strong>(Opening Balance -Total less + Total Add):</td>
                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", Model.AdjustedBalance)</td>
                                    </tr>

                                    <tr>
                                        <td colspan="2"><strong>Balance as Per CashBook:</strong> </td>
                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", Model.ClosingBalanceGL)</td>
                                    </tr>

                                </tbody>
                            </table>
                            <br/>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <a href="@Url.Action("approvallist","Reconcilliation")" class="btn btn-info">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                        Back
                                    </a>
                                </div>
                            </div>

        </div>
    </div>
</div>
</article>
</div>
</section>
</div>
<!-- outreceiptBank -->
<div class="modal fade" id="OutreceiptBank" style="left:4%">
    <div class="modal-dialog modal-lg" style="width:85%;">
        <div class="modal-content">
            <div class="modal-header" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;background-color:#D6DDE7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">
                    Receipt in Bank Not in General Ledger List
                 
                </h3>
            </div>
            <div class="modal-body" id="OutreceiptBankBody" style="padding-top:1px;margin-top:1px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End outreceiptBank -->
<!-- Payment Bank -->
<div class="modal fade" id="paymentBank" style="left:4%">
    <div class="modal-dialog modal-lg" style="width:85%;">
        <div class="modal-content">
            <div class="modal-header" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;background-color:#D6DDE7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">
                    Payment in Bank not in General Ledger List
                </h3>
            </div>
            <div class="modal-body" id="paymentBankBody" style="padding-top:1px;margin-top:1px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Payment Bank -->

<!-- GlOutstanding -->
<div class="modal fade" id="GlOutStanding" style="left:4%">
    <div class="modal-dialog modal-lg" style="width:75%;">
        <div class="modal-content">
            <div class="modal-header" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;background-color:#D6DDE7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">
                    Unpresented Payments List
                </h3>
            </div>
            <div class="modal-body" id="GlOutStandingBody" style="padding-top:1px;margin-top:1px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End GlOutstanding-->
<!-- BankOutstanding -->
<div class="modal fade" id="BankOutStanding" style="left:4%">
    <div class="modal-dialog modal-lg" style="width:75%;">
        <div class="modal-content">
            <div class="modal-header" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;background-color:#D6DDE7">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">
                    Receipt in Cash Book Not in Bank List
                </h3>
            </div>
            <div class="modal-body" id="BankOutStandingBody" style="padding-top:1px;margin-top:1px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--End BankOutstanding-->
@section pagespecific{
    <script>
        $(document).ready(function () {
            debugger
                var TotalAmountLess=0;
                var TotalAmountAdd = 0;

                var receiptBank = $("#ReceiptBank").text();
                receiptBank = parseFloat(receiptBank.split(",").join(""));
                var paymentGL = $('#PaymentGL').text();
                paymentGL = parseFloat(paymentGL.split(",").join(""));
                TotalAmountLess = receiptBank + paymentGL;
                $("#totalless").text(TotalAmountLess.toFixed(2).toLocaleString());

                var paymentBank = $("#PaymentBank").text();
                paymentBank = parseFloat(paymentBank.split(",").join(""));
                var receiptGL = $('#ReceiptGL').text();
                receiptGL = parseFloat(receiptGL.split(",").join(""));
                TotalAmountAdd = paymentBank + receiptGL;
                $("#totalAdd").text(TotalAmountAdd.toLocaleString());
        });

        
        //----Display Receipt Bank Details---//
        var outreceiptBank = function (BankAcct, checkDate) {

            var url = '@Url.Action("OutReceiptBankList", "Reconcilliation")';
            debugger
            $("#OutreceiptBankBody").load(url, { BankAcct: BankAcct, checkDate: checkDate }, function (response, status, xhr) {
                if (status == "error") {
                    if (!$(".modal-header").hasClass("alert-danger")) {
                        $(".modal-header").removeClass("alert-info").addClass("alert-danger");
                    }
                    $("#OutreceiptBankBody").html("Error on accessing this details, contact system support.");
                }
                $("#OutreceiptBank").modal("show");
            });
        };
        //function to reset bootstrap modal popups
        $("#OutreceiptBank").on("hidden.bs.modal", function () {
            $(".modal-header").removeClass("alert-danger").addClass("alert-info");
            $("#OutreceiptBankBody").html("");
        });
        //--End Display Receipt Bank Details---//



        //----Display Receipt Bank Details-444--//
        var paymentBank = function (BankAcct, checkDate) {

            var url = '@Url.Action("OutPaymentBankList", "Reconcilliation")';
            debugger
            $("#paymentBankBody").load(url, { BankAcct: BankAcct, checkDate: checkDate }, function (response, status, xhr) {
                if (status == "error") {
                    if (!$(".modal-header").hasClass("alert-danger")) {
                        $(".modal-header").removeClass("alert-info").addClass("alert-danger");
                    }
                    $("#paymentBankBody").html("Error on accessing this details, contact system support.");
                }
                $("#paymentBank").modal("show");
            });
        };
        //function to reset bootstrap modal popups
        $("#paymentBank").on("hidden.bs.modal", function () {
            $(".modal-header").removeClass("alert-danger").addClass("alert-info");
            $("#paymentBankBody").html("");
        });
        //--End Display Receipt Bank Details---//






        @*//----Display Payment Bank Details---//
        var PaymentBank = function (BankAcct, checkDate) {
            var url = '@Url.Action("OutPaymentBankList", "Reconcilliation")';
            debugger
            $("#PaymentBankBody").load(url, { BankAcct: BankAcct, checkDate: checkDate }, function (response, status, xhr) {
                if (status == "error") {
                    if (!$(".modal-header").hasClass("alert-danger")) {
                        $(".modal-header").removeClass("alert-info").addClass("alert-danger");
                    }
                    $("#PaymentBankBody").html("Error on accessing this details, contact system support.");
                }
                $("#PaymentBank").modal("show");
            });
        };
        //function to reset bootstrap modal popups
        $("#PaymentBank").on("hidden.bs.modal", function () {
            $(".modal-header").removeClass("alert-danger").addClass("alert-info");
            $("#PaymentBankBody").html("");
        });
        //--End Display payment Bank Details---//*@



        //---Display Payment GL Details---//
        var paymentGL = function (BankAcct, checkDate) {
            var url = '@Url.Action("OutPaymentGLList", "Reconcilliation")';
            debugger
            $("#GlOutStandingBody").load(url, { BankAcct: BankAcct, checkDate: checkDate }, function (response, status, xhr) {
                if (status == "error") {
                    if (!$(".modal-header").hasClass("alert-danger")) {
                        $(".modal-header").removeClass("alert-info").addClass("alert-danger");
                    }
                    $("#GlOutStandingBody").html("Error on accessing this details, contact system support.");
                }
                $("#GlOutStanding").modal("show");
            });
        };
        //function to reset bootstrap modal popups
        $("#GlOutStanding").on("hidden.bs.modal", function () {
            $(".modal-header").removeClass("alert-danger").addClass("alert-info");
            $("#GlOutStandingBody").html("");
        });
        //---End Display Payment GL Details---//

        //----Display Receipt GL Details---//
        var receiptGL = function (BankAcct, checkDate) {

            var url = '@Url.Action("OutReceiptGLList", "Reconcilliation")';
            debugger
            $("#BankOutStandingBody").load(url, { BankAcct: BankAcct, checkDate: checkDate }, function (response, status, xhr) {
                if (status == "error") {
                    if (!$(".modal-header").hasClass("alert-danger")) {
                        $(".modal-header").removeClass("alert-info").addClass("alert-danger");
                    }
                    $("#BankOutStandingBody").html("Error on accessing this details, contact system support.");
                }
                $("#BankOutStanding").modal("show");
            });
        };
        //function to reset bootstrap modal popups
        $("#BankOutStanding").on("hidden.bs.modal", function () {
            $(".modal-header").removeClass("alert-danger").addClass("alert-info");
            $("#BankOutStandingBody").html("");
        });
        //--End Display Receipt GL  Details---//

</script>
}