@model IFMIS.Areas.IFMISTZ.Models.SearchMatchedVM
@{
    ViewBag.Title = "Reconciliation Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divLoader"></div>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Search Matched Transaction</h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "unmatching" }))
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.AccountNumber, Model.AccountNumberNameList, "Select Account Number", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MatchNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.TextBoxFor(model => model.MatchNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MatchNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClearType, "Clear Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-5">
                                        @Html.EnumDropDownListFor(model => model.ClearType, "--Select--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ClearType, "", new { @class = "text-danger" })

                                        <br />
                                        <button type="button" class="btn btn-info" onclick="search()">
                                            <span class="glyphicon preview3" aria-hidden="true"></span>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>

                                <!-- Start of div loader-->
                                <div align="center" id="divLoader" style="text-align: center; display: none">
                                    @*<img src="~/Media/Images/loader.gif" width="100" height="100" />*@
                                </div>
                                <!-- End of div loader-->
                            }

                            <hr />
                            <div id="searchResults" style="margin-top: 20px; display: none">

                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        var search = function () {



                debugger
                 let accountNumber = $("#AccountNumber").val()
                 let matchNumber = $("#MatchNumber").val();
                 let clearType = $("#ClearType").val();

                if (accountNumber == "") {
                    swal({
                        icon: "warning",
                        title: "Please Select Account Number !",
                    });
                    return false;
                }
            if (matchNumber == "") {
                    swal({
                        icon: "warning",
                        title: "Please Match Number is Required !",
                    });

                    return false;
                }

              if (clearType == "") {

                    swal({
                        icon: "warning",
                        title: "Please ClearType is Required !",
                    });

                    return false;
                }





            $("#searchbtn").prop('disabled', true);
            $("#divLoader").show();
            var model = $("#unmatching").serialize();
                var url = '@Url.Action("SearchMatched", "Reconcilliation")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: model,
                    success: function (response) {
                        $("#searchResults").show();
                        $("#searchResults").html(response);
                        $("#divLoader").hide();
                        $("#searchbtn").prop('disabled', false);
                    },
                    error: function () {
                        swal('Error has occured. ! contact sysAdmin');
                        $("#divLoader").hide();
                        $("#searchbtn").prop('disabled', false);
                    }, complete: function () {

                        $("#divLoader").hide();
                        $("#searchbtn").prop('disabled', false);

                    }
                });
            }


        var matching = function(){
        swal({
            title: "Unmatching",
            text: "Are you sure you want to unmatching Selected records ? ",
            buttons: [
              'Yes',
              'No'
            ],
            closeOnClickOutside: false,
        }).then(function (isConfirm) {
            if (isConfirm) {
                swal("Cancelled", "No change was made");
            } else {

                uploadStatement();
            }
        });
        $('#confirmModal').modal('hide');
        }

        var uploadStatement = function () {
         

                var bankIds = [];

                $("input:checkbox.checkBox1").each(function () {
                    if ($(this).prop("checked")) {
                        bankIds.push($(this).val());

                    }
                });


                $("input:checkbox.checkBoxBank").each(function () {
                    if ($(this).prop("checked")) {
                        bankIds.push($(this).val());
                    }
                });


                if (bankIds.length <= 0) {
                    swal("Select transaction to Match!");

                    return;
                }


            var url = '@Url.Action("Unmatching", "Reconcilliation")';

            $("#divLoader").show();

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { bankIds: bankIds },
                        success: function (response) {
                            if (response == "Success") {

                                swal("Transaction Unmatched Successfully!", { icon: "success" }).then((e) => {
                                    window.location.reload();
                                });

                            }
                        },
                        error: function (err) {
                            swal(err.statusText);
                        },complete: function () {

                            $("#divLoader").hide();
                            $("#searchbtn").prop('disabled', false);

                        }
                    });
            };
    </script>
}





