@model IFMIS.Areas.IFMISTZ.Models.BankStatementVM
@{
    ViewBag.Title = "Upload Bank Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Import Bank Statement</h2>
                    </header>

                    <div class="widget-body " style="padding-top:10px">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "statementForm" }))
            {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row" style="padding:12px">
                                </div>

                                @*<div class="row" style="padding:12px">
                                    @Html.LabelFor(model => model.bankName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.bankName, Model.bankNameList, "Select Bank Name", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.bankName, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@

                                <div class="row" style="padding:12px">
                                    @Html.LabelFor(model => model.BankAccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.BankAccountNumber, Model.AccountNumberNameList, "Select Account Number", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BankAccountNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row" style="padding:12px">
                                    @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(model => model.FileName, new { type = "file", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">

                                        <div class="col-md-4">
                                            @*<div class="row" style="padding:12px">*@
                                            <div style="padding-left:65%">
                                                <button type="button" class="btn btn-info" onclick="upload()" style="width:100px;  color:black">
                                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                                    Upload

                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Start of div loader-->
                    <div id="divLoader" style="text-align: center; display: none">
                        <img src="~/Media/Images/ajax_loader.gif" />
                    </div>
                </div>
                <!-- End of div loader-->
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>

        $("#saveLoader").toggle(false);

        function searchReco() {
            debugger;
            var bankname = $("#bankName").val();
            var accountNumber = $("#BankAccountNumber").val()
            var filename = $("#FileName").get(0).files;
            if (accountNumber == "" || filename.length == "0") {

                if (accountNumber == "") {
                    swal({

                        icon: "warning",
                        title: "Please Select Account Number !",
                    });
                    //accountNumber.focus();
                    return false;
                }
                if (filename.length == 0) {
                    swal({
                        //text: "Please select Year!",
                        icon: "warning",
                        title: "Please Select file to Upload !",
                    });
                    //bankname.focus();
                    return false;
                }

            } else {

                uploadStatement();
            }
            };

        var uploadStatement = function () {
            if (window.FormData !== undefined) {
                if (!$("#statementForm").valid()) {
                    return false;
                }
                var data = new FormData();
                var file = $("#FileName").get(0).files;

                if (file.length > 0) {
                    data.append("BankAccountNumber", $("#BankAccountNumber").val());
                    data.append("FileName", file[0]);
                }
                var url = '@Url.Action("UploadStatement", "Reconcilliation")';
                $("#saveLoader").toggle(true);
                $.ajax({
                    url: url,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        if (response == "Success") {
                            swal("Uploaded Successfully!", { icon: "success" }).then((e) => {
                                $("#saveLoader").toggle(false);
                                window.location.reload();
                            });

                        } else if (response == "InvalidFormat") {
                            swal("Invalid file format, file format should be MS Excel 2007 !", { icon: "warning" }).then((e) => {
                                $("#saveLoader").toggle(false);
                                window.location.reload();
                            });
                        
                        } else if (response == "InvalidSize") {
                            swal("Invalid file size, file size should be less than 2MB!", { icon: "warning" }).then((e) => {
                                $("#saveLoader").toggle(false);
                                window.location.reload();
                            });

                        } else if (response == "fail") {
                            swal("Bank Statement Already exist", { icon: "warning" }).then((e) => {
                                $("#saveLoader").toggle(false);
                                window.location.reload();
                            });
                        } else {
                            swal(response + " An error has occured, contact system support", { icon: "warning" }).then((e) => {
                                $("#saveLoader").toggle(false);
                                window.location.reload();
                            });
                        };
                    },
                    error: function (err) {
                        swal(err.statusText)
                        $("#saveLoader").toggle(false);
                    }
                });
            };
        };

        function upload() {

            swal({
                title: "Upload",
                text: "Are you sure you want to Upload Bank Statement? ",
                buttons: [
                  'Yes',
                  'No'
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {

                    searchReco();
                }
            });
            $('#confirmModal').modal('hide');
        }
    </script>
}

