@*@model IFMIS.Areas.LoanMod.Models.LoanCollateralVM*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        min-height: 100vh;
        background-color: white;
        margin: 20px;
        border-radius: 10px;
        margin-left: 80px;
        margin-right: 80px;
        padding-bottom: 20px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding-left: 20px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .section-content {
        padding-left: 180px;
        padding-right: 100px;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <section id="widget-grid">
        <div class="card">
            <div class="title"> LOAN APPLICANT DETAILS</div>
            <hr />
            @if (ViewBag.LoanCustomer != null)
            {
                <div class="detail-section">
                    <div class="section-title">Basic Information</div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <table>
                                    @if (ViewBag.LoanApp != null)
                                    {
                                        <tr>
                                            <td class="sect-label">Financial Year</td>
                                            <td>@ViewBag.LoanApp.FinancialYear</td>
                                        </tr>

                                        <tr>
                                            <td class="sect-label">Loan Number</td>
                                            <td>@ViewBag.LoanApp.ApplicationNo</td>
                                        </tr>
                                    }

                                    <tr>
                                        <td class="sect-label">Customer Name</td>
                                        <td>@ViewBag.LoanCustomer.CustomerName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Customer Type</td>
                                        <td>@ViewBag.CustomerType.CustomerName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Physical Address</td>
                                        <td>@ViewBag.LoanCustomer.PhysicalAddress</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Phone Number</td>
                                        <td>@ViewBag.LoanCustomer.PhoneNo</td>
                                    </tr>
                                    @if (ViewBag.LoanCustomer.Email != null)
                                    {
                                        <tr>
                                            <td class="sect-label">Email</td>
                                            <td>@ViewBag.LoanCustomer.Email</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td class="sect-label">Location</td>
                                        <td>@ViewBag.LoanCustomer.CustomerLocation</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Plot Number</td>
                                        <td>@ViewBag.LoanCustomer.PlotNo</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Tin Number</td>
                                        <td>@ViewBag.LoanCustomer.TinNo</td>
                                    </tr>
                                    @if (ViewBag.IndividualCustomer != null)
                                    {
                                        <tr>
                                            <td class="sect-label">Principal Activity</td>
                                            <td>@ViewBag.IndividualCustomer.Occupation</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Date Of Birth</td>
                                            <td>
                                                @Convert.ToDateTime(ViewBag.IndividualCustomer.DateOfBirth).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Marital Status</td>
                                            <td>@ViewBag.IndividualCustomer.MaritalStatus</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Gender</td>
                                            <td>@ViewBag.IndividualCustomer.Gender</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Village</td>
                                            <td>@ViewBag.IndividualCustomer.Village</td>
                                        </tr>
                                        <tr>
                                            <td class="sect-label">Hamlet</td>
                                            <td>@ViewBag.IndividualCustomer.Hamlet</td>
                                        </tr>

                                        @*<tr>
                                                <td class="sect-label">Customer Number</td>
                                                <td>@ViewBag.IndividualCustomer.CustomerNo</td>
                                            </tr>*@
                                        @*<tr>
                                                <td class="sect-label">Photo</td>
                                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.IndividualCustomer.PhotoUrl, PathName = "Application" })" target="_blank"><i class="fa fa-picture-o"></i></a></td>
                                            </tr>*@
                                    if (ViewBag.IndividualCustomer.IndividualAttachmentUrl != null)
                                    {
                                        <tr>
                                            <td class="sect-label">Affidavit</td>
                                            <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.IndividualCustomer.IndividualAttachmentUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                        </tr>
                                    }

                                    if (ViewBag.IndividualCustomer.Fax != null)
                                    {
                                        <tr>
                                            <td class="sect-label">Fax </td>
                                            <td>@ViewBag.IndividualCustomer.Fax</td>
                                        </tr>
                                        }

                                    }
                                    <tr>
                                        <td class="sect-label">Score Card Value Information</td>
                                        <td><a href="@Url.Action("loanAppraisalScoreCardDetails", "LoanApplication",new {Id= ViewBag.LoanApp.LoanApplicationId })">View Score Card Values</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @if (ViewBag.IndividualCustomer != null)
                                {
                                    <img src="~/Media/Loan/Application/@ViewBag.IndividualCustomer.PhotoUrl" class="img-thumbnail" style="width:250px;height:200px" />
                                }
                            </div>

                        </div>
                    </div>
                    @if (ViewBag.IndividualCustomer != null)
                    {
                        if (ViewBag.IndividualCustomer.MaritalStatus.ToUpper() == IFMIS.Libraries.Constants.MARITAL_STATUS_MARRIED.ToUpper())
                        {
                            <div class="section-title">Spouse Information</div>
                            <div class="section-content">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <table>
                                            <tr>
                                                <td class="sect-label">Full Name </td>
                                                <td>@ViewBag.CustomerSpouse.SpouseName</td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">Principal Activity </td>
                                                <td>@ViewBag.CustomerSpouse.Occupation</td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">Date Of Birth</td>
                                                <td>
                                                    @Convert.ToDateTime(ViewBag.CustomerSpouse.DateOfBirth).ToString("dd/MM/yyyy")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">Address </td>
                                                <td>@ViewBag.CustomerSpouse.Address</td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">Location </td>
                                                <td>@ViewBag.CustomerSpouse.Location</td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">Phone Number </td>
                                                <td>@ViewBag.CustomerSpouse.PhoneNo</td>
                                            </tr>
                                            @if (ViewBag.CustomerSpouse.Fax != null)
                                            {
                                                <tr>
                                                    <td class="sect-label">Fax </td>
                                                    <td>@ViewBag.CustomerSpouse.Fax</td>
                                                </tr>
                                            }

                                            @if (ViewBag.CustomerSpouse.Email != null)
                                            {
                                                <tr>
                                                    <td class="sect-label">Email</td>
                                                    <td>@ViewBag.CustomerSpouse.Email</td>
                                                </tr>
                                            }

                                            <tr>
                                                <td class="sect-label">Village</td>
                                                <td>@ViewBag.CustomerSpouse.Village</td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">Hamlet</td>
                                                <td>@ViewBag.CustomerSpouse.Hamlet</td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">Plot Number</td>
                                                <td>@ViewBag.CustomerSpouse.PlotNo</td>
                                            </tr>
                                            @*<tr>
                                                    <td class="sect-label">Photo</td>
                                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = ViewBag.CustomerSpouse.PhotoUrl, PathName = "Application" })" target="_blank"><i class="fa fa-picture-o"></i></a></td>
                                                </tr>*@

                                        </table>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @if (ViewBag.CustomerSpouse != null)
                                        {
                                            <img src="~/Media/Loan/Application/@ViewBag.CustomerSpouse.PhotoUrl" class="img-thumbnail" style="width:250px;height:200px" />
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    }
                    @if (ViewBag.OrganisationCustomer != null)
                    {
                        <div class="section-content">
                            <table>
                                <tr>
                                    <td class="sect-label">Registration Date</td>
                                    <td>
                                        @Convert.ToDateTime(ViewBag.OrganisationCustomer.OrganisationRegistrationDate).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="sect-label">Registration Number</td>
                                    <td>@ViewBag.OrganisationCustomer.OrganisationRegistrationNo</td>
                                </tr>
                                <tr>
                                    <td class="sect-label">Registration Certificate</td>
                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.OrganisationCustomer.RegistrationCertificate, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                                @if (ViewBag.OrganisationCustomer.OrganisationFax != null)
                                {
                                    <tr>
                                        <td class="sect-label">Fax </td>
                                        <td>@ViewBag.OrganisationCustomer.OrganisationFax</td>
                                    </tr>
                                }
                                <tr>
                                    <td class="sect-label">Village</td>
                                    <td>@ViewBag.OrganisationCustomer.OrganisationVillage</td>
                                </tr>
                                <tr>
                                    <td class="sect-label">Hamlet</td>
                                    <td>@ViewBag.OrganisationCustomer.OrganisationHamlet</td>
                                </tr>
                            </table>
                        </div>

                        <hr>
                        if (ViewBag.OrganisationManagement != null)
                        {
                            <div class="section-title">Management Information</div>
                            <div class="section-content">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width:50px">#</th>
                                            <th>Full Name</th>
                                            <th>Title</th>
                                            <th>Contact</th>
                                            <th>Location</th>
                                            <th>Photo</th>
                                            <th>Introduction Letter</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{var i = 0;}
                                        @foreach (var item in ViewBag.OrganisationManagement)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.ManagementFullname</td>
                                                <td>@item.ManagementTitle</td>
                                                <td>@item.ManagementContact</td>
                                                <td>@item.ManagementLocation</td>
                                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = item.ManagementPhotoUrl, PathName = "Application" })" target="_blank"><i class="fa fa-picture-o"></i></a></td>
                                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =item.IntroductionLetterUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                                                }
                                            }
                </div>
                                            }
        </div>
        <div class="card">
            <div class="title"> LOAN APPLICATION DETAILS</div>
            <hr />
            @if (ViewBag.LoanApp != null)
            {
                <div class="section-content">
                    <table>
                        <tr>
                            <td class="sect-label">Loan Purpose</td>
                            <td>@ViewBag.LoanApp.LoanPurpose</td>
                        </tr>
                        <tr>
                            <td class="sect-label">Loan Security Type</td>
                            <td>@ViewBag.LoanSecurityType</td>
                        </tr>
                        <tr>
                            <td class="sect-label">Applied Loan Amount</td>
                            <td>
                                @if (ViewBag.LoanApp.AppliedLoanAmount != null)
                                {
                                    @ViewBag.LoanApp.AppliedLoanAmount.ToString("#,##0.###")
                                }
                                else
                                {
                                    @ViewBag.LoanApp.AppliedLoanAmount
                                }

                            </td>
                        </tr>

                        <tr>
                            <td class="sect-label">Recovery Source</td>
                            <td>@ViewBag.LoanApp.RepaymentSource</td>
                        </tr>
                        @if (ViewBag.LoanApp.LoanDeclaration == IFMIS.Libraries.Constants.PRIVATE)
                        {
                            <tr>
                                <td class="sect-label">Loan Declaration</td>
                                <td>Personal</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="sect-label">Loan Declaration</td>
                                <td>@ViewBag.LoanApp.LoanDeclaration</td>
                            </tr>
                        }


                        @if (ViewBag.LoanApp.LoanDeclarationUrl != null)
                        {
                            <tr>
                                <td class="sect-label">Declaration Attachment</td>
                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.LoanApp.LoanDeclarationUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                            </tr>
                        }


                        @if (ViewBag.LoanApp.LoanDeclarationDate != null)
                        {
                            <tr>
                                <td class="sect-label">Declaration Date</td>
                                <td>@Convert.ToDateTime(ViewBag.LoanApp.LoanDeclarationDate).ToString("dd/MM/yyyy")</td>
                            </tr>
                        }

                        @if (ViewBag.LoanApp.ApplyDate != null)
                        {
                            <tr>
                                <td class="sect-label">Application Date</td>
                                <td>@Convert.ToDateTime(ViewBag.LoanApp.ApplyDate).ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                        @if (ViewBag.LoanApp.ProposedLoanAmount != null)
                        {
                            <tr>
                                <td class="sect-label">Proposed Loan Amount</td>
                                <td>@ViewBag.LoanApp.ProposedLoanAmount.ToString("#,##0.###")</td>
                            </tr>
                        }

                        @if (ViewBag.LoanSubProduct != null)
                        {
                            <tr>
                                <td class="sect-label">Loan Sub Product</td>
                                <td>@ViewBag.LoanSubProduct.SubProductName</td>
                            </tr>
                        }
                        @if (ViewBag.LoanProduct != null)
                        {
                            <tr>
                                <td class="sect-label">Loan Product</td>
                                <td>@ViewBag.LoanProduct.ProductName</td>
                            </tr>
                        }
                    </table>
                </div>
            }
            <hr />
            @if (ViewBag.AttachmentName != null)
            {
                <div class="detail-section">
                    <div class="section-title">Application Attachment</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Document Name</th>
                                    <th>Uploaded Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{var i = 0;}
                                @foreach (var attachName in ViewBag.AttachmentName)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@attachName.AttachmentTitle</td>
                                        <td>@Convert.ToDateTime(attachName.CreatedAt).ToString("dd/MM/yyyy")</td>
                                        <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = attachName.AttachmentName, PathName = "Attachments" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <hr />
            @if (ViewBag.LoanAppraisal != null)
            {
                <div class="detail-section">
                    <div class="section-title">Appraisal Attachment</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <tr>
                                <td>Appraisal Form</td>
                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = ViewBag.LoanAppraisal.AppraisalFormUrl, PathName = "Appraisal" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                            </tr>
                            @if (ViewBag.LoanAppraisal.ValuationReport != null)
                            {
                                <tr>
                                    <td>Valuation Form</td>
                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = ViewBag.LoanAppraisal.ValuationReport, PathName = "Appraisal" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
            <hr />
            @if (ViewBag.LoanEndorsement != null)
            {
                <div class="detail-section">
                    <div class="section-title">Endorsement</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Full Name</th>
                                    <th>Title</th>
                                    <th>Location</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{var i = 0;}
                                @foreach (var item in ViewBag.LoanEndorsement)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.EndorsementFullName</td>
                                        <td>@item.EndorsementTitle</td>
                                        <td>@item.EndorsementLocation</td>
                                        <td>@Convert.ToDateTime(item.EndorsementDate).ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <hr />
            @if (ViewBag.CreditAgreement != null)
            {
                <div class="detail-section">
                    <div class="section-title">Creedit Agreement</div>
                    <div class="section-content">
                        <table>
                            <tr>
                                <td class="sect-label">Registration No</td>
                                <td>@ViewBag.CreditAgreement.RegistrationNo</td>
                            </tr>
                            <tr>
                                <td class="sect-label">Registration Date</td>
                                <td>@ViewBag.CreditAgreement.RegistrationDate</td>
                            </tr>
                            <tr>
                                <td class="sect-label">Remarks</td>
                                <td>@ViewBag.CreditAgreement.Remarks</td>
                            </tr>
                        </table>
                    </div>
                </div>
            }

            @if (ViewBag.LoanCollateral != null)
            {
                <div class="detail-section">
                    <div class="section-title">Collateral Information</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Collateral Type</th>
                                    <th>Registration Number</th>
                                    <th>Plot Number</th>
                                    <th>Village</th>
                                    <th>Hamlet</th>
                                    <th>Collateral Usage</th>
                                    <th>Status</th>
                                    <th>Attachment</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var num = 1;
                                }
                                <tr>
                                    <td>@num</td>
                                    <td>@ViewBag.CollateralTypeName.</td>
                                    <td>@ViewBag.LoanCollateral.CollateralRegistrationNo</td>
                                    <td>@ViewBag.LoanCollateral.CollateralPlotNo</td>
                                    <td>@ViewBag.LoanCollateral.CollateralVillage</td>
                                    <td>@ViewBag.LoanCollateral.CollateralHamlet</td>
                                    <td>@ViewBag.CollateralUsageName</td>
                                    <td>@ViewBag.LoanCollateral.OverallStatus</td>
                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.LoanCollateral.CollateralAttachmentUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                                @if (ViewBag.LoanCollateralList != null)
                                {
                                    foreach (var item in ViewBag.LoanCollateralList)
                                    {
                                        num++;
                                        <tr>
                                            <td>@num</td>
                                            <td>@item.CollateralTypeName</td>
                                            <td>@item.CollateralRegistrationNo</td>
                                            <td>@item.CollateralPlotNo</td>
                                            <td>@item.CollateralVillage</td>
                                            <td>@item.CollateralHamlet</td>
                                            <td>@item.CollateralUsageName</td>
                                            <td>@item.OverallStatus</td>
                                            <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = item.CollateralUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
            }

            @if (ViewBag.SalaryLoanCollateral != null)
            {
                <div class="detail-section">
                    <div class="section-title">Collateral Information</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Collateral Type</th>
                                    <th>Basic Salary</th>
                                    <th>Net Amount</th>
                                    <th>Max Allowed Deduction</th>
                                    <th>Required Deduction</th>
                                    <th>Salary Slip</th>
                                    <th>Retirement Date</th>
                                    <th>Guarantorship</th>
                                    <th>Salaryslip</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@ViewBag.CollateralTypeName.</td>
                                    <td>@ViewBag.SalaryLoanCollateral.BasicSalary.ToString("#,##0.###")</td>
                                    <td>@ViewBag.SalaryLoanCollateral.NetAmount.ToString("#,##0.###")</td>
                                    <td>@ViewBag.SalaryLoanCollateral.MaxAllowedDeduction.ToString("#,##0.###")</td>
                                    <td>@ViewBag.SalaryLoanCollateral.RequiredDeduction.ToString("#,##0.###")</td>
                                    <td>@ViewBag.SalarySlipMonth / @ViewBag.SalarySlipYear</td>
                                    <td>@Convert.ToDateTime(ViewBag.RetirementDate).ToString("dd/MM/yyyy")</td>

                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.SalaryLoanCollateral.GuarantorshipAttachmentUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.SalaryLoanCollateral.SalarySlipAttachmentUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
            }

            @if (ViewBag.GuarantorshipCollateral != null)
            {
                <div class="detail-section">
                    <div class="section-title">Collateral Information</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Collateral Type</th>
                                    <th>Meeting Number</th>
                                    <th>Meeting Date</th>
                                    <th>Agenda Number</th>
                                    <th>District</th>
                                    <th>Attachment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@ViewBag.CollateralTypeName.</td>
                                    <td>@ViewBag.GuarantorshipCollateral.MeetingNo</td>
                                    <td>@ViewBag.GuarantorshipCollateral.MeetingDate</td>
                                    <td>@ViewBag.GuarantorshipCollateral.AgendaNo</td>

                                    @if (ViewBag.DistrictName != null)
                                    {
                                        <td>@ViewBag.DistrictName.DistrictName</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename =ViewBag.GuarantorshipCollateral.GuarantorshipUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr />
            }
            @if (ViewBag.LoanApproval != null)
            {
                <div class="detail-section">
                    <div class="section-title">Meeting Info</div>
                    <div class="section-content">
                        <table>
                            <tr>
                                <td class="sect-label">MeetingNumber</td>
                                <td>@ViewBag.LoanApproval.MeetingNumber</td>
                            </tr>
                            <tr>
                                <td class="sect-label">Agenda No</td>
                                <td>@ViewBag.LoanApproval.MeetingAgendaNo</td>
                            </tr>
                            <tr>
                                <td class="sect-label">Date</td>
                                <td>@ViewBag.LoanApproval.MeetingDate</td>
                            </tr>
                            <tr>
                                <td class="sect-label">Applied Amount</td>
                                <td>@string.Format("{0:#,0.00}", ViewBag.LoanApproval.AppliedLoanAmount)</td>
                            </tr>
                            <tr>
                                <td class="sect-label">Approved Amount</td>
                                <td>@string.Format("{0:#,0.00}", ViewBag.LoanApproval.LoanApprovedAmount)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
            @if (ViewBag.Attachments.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Attachments</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Title</th>
                                    <th>Attachment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.Attachments)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.AttachmentTitle</td>
                                        <td>
                                            <a href="/Content/uploads/@item.AttachmentName" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (ViewBag.MotorReg.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Motor Vehicle</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Reg No</th>
                                    <th>Reg Date</th>
                                    <th>Brand</th>
                                    <th>Capacity</th>
                                    <th>Chasis No</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.MotorReg)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.MotorRegNo</td>
                                        <td>@item.MotorRegDate</td>
                                        <td>@item.MotorBrand</td>
                                        <td>@item.MotorCapacity</td>
                                        <td>@item.MotorChasisNo</td>
                                        <td>@item.MotorDesc</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (ViewBag.LoanPayee.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Loan Payees</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Name</th>
                                    @*<th>Loan Amount</th>*@
                                    <th>Bank</th>
                                    <th>Acc. No</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.LoanPayee)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.PayeeAccountName</td>
                                        @*<td>@string.Format("{0:#,0.00}",item.LoanAmount)</td>*@
                                        <td>@item.PayeeBankName</td>
                                        <td>@item.PayeeBankAccount</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }




            @if (ViewBag.Liquidation.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Loan Liquidation</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Loan Number</th>
                                    <th>Liquidation Category</th>
                                    <th>Overall Status</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.Liquidation)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.LoanNo</td>
                                        <td>@item.CategoryName</td>
                                        <td>@item.OverrallStatus</td>
                                        <td>@item.Comments</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (ViewBag.LoanPaymentVoucher.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Loan Payment</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>RefNo</th>
                                    <th>PayeeName</th>
                                    <th>OperationalAmount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.LoanPaymentVoucher)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.PaymentVoucherId</td>
                                        <td>@item.Payeename</td>
                                        <td>@string.Format("{0:#,0.00}", item.OperationalAmount)</td>
                                        <td>@item.OverallStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            @if (ViewBag.PaymentVoucher.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Paid Vouchers</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>PayeeName</th>
                                    <th>PVNO</th>
                                    <th>OperationalAmount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.PaymentVoucher)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Payeename</td>
                                        <td>@item.PVNo</td>
                                        <td>@string.Format("{0:#,0.00}", item.OperationalAmount)</td>
                                        <td>@item.OverallStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }


            @if (ViewBag.Remarks.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Remarks</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Level</th>
                                    <th>Remarks</th>
                                    <th>Status</th>
                                    <th>Attachment</th>
                                    <th>Created By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.Remarks)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ModuleLevel</td>
                                        <td>@item.Remarks</td>
                                        <td>@item.OverAllStatus</td>
                                        @if (item.Attachment != null)
                                        {
                                            if (item.ModuleLevel == "Application")
                                            {
                                                <td> <a href="~/Media/Loan/Application/@item.Attachment" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                            }
                                            if (item.ModuleLevel == "Appraisal ")
                                            {
                                                <td> <a href="~/Media/Loan/Appraisal/@item.Attachment" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                            }

                                        }
                                        else
                                        {
                                            <td>NILL</td>
                                        }
                                        <td>@item.CreatedBy</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

        </div>

    </section>
</div>