@model IFMIS.Areas.Coadmis.Models.ProffessionalAdvisorVM
<form style="width: 650px;">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProffessionalAdvisorId)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size: smaller" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.TypeofServiceId, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size: smaller" })
            <div class="col-md-4">
                @Html.DropDownList("TypeofServiceId", ViewBag.TypeOfServices as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypeofServiceId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalAddress, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size: smaller" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PhysicalAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhysicalAddress, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size: smaller" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size: smaller" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size: smaller" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.Status, Model.StatusList, "Select status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $("select").select2();
    });

</script>
