@model IFMIS.Areas.ALS.Models.ALSLoanRejectionReportVm
<link href='@Server.MapPath("~/Content/css/bootstrap.min.css")' rel="stylesheet" />
<style>
    table, td, th {
        border: 0;
        text-align: left;
    }
    th{
        width: 300px
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
    }
</style>
<div style="font-family: 'Calibri'; font-size: 15px">
    <div style="text-align: center">
        <img src='@Server.MapPath("~/Media/Images/log20180504093652.png")' width="100" height="100" />

        <div style="padding-top: 20px; font-size: 20px">
            <b>THE UNITED REPUBLIC OF TANZANIA</b>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px; font-size: 20px">
            <b>LOAN REJECTION REPORT</b>
        </div>
    </div>
    <div style="background-color:black;height:1px;width:100%" />
    <div style="padding-top: 10px;padding-bottom:10px">
        <table>
            <tr>
                <th>Customer Name:</th>
                <td>@Model.CustomerName</td>
            </tr>
            <tr>
                <th>Customer Number:</th>
                <td>@Model.CustomerNumber</td>
            </tr>
            <tr>
                <th>Vote:</th>
                <td>@Model.Vote</td>
            </tr>
        </table>
    </div>
    <div style="background-color:black;height:1px;width:100%"/>
    <div style="padding-top:10px;padding-bottom:10px; font-size: 20px">
        <b>LOAN DETAILS</b>
    </div>
    <div style="background-color:black;height:1px;width:100%" />
    <div style="padding-left:50px">
        <table class="tdetails">
            <tr>
                <th>Gross Salary(Tsh)</th>
                <td>@Model.GrossSalary</td>
            </tr>
            <tr>
                <th>Net Salary (Tsh)</th>
                <td>@Model.NetSalary</td>
            </tr>
            <tr>
                <th>Amount Applied(Tsh)</th>
                <td>@Model.AmountApplied</td>
            </tr> 
            <tr>
                <th>Loan Description</th>
                <td>@Model.LoanDescription</td>
            </tr>
            <tr>
                <th>Recovery Period</th>
                <td>@Model.ReceoveryPeriod</td>
            </tr>
            <tr>
                <th>Monthly Deduction(Tsh)</th>
                <td>@Model.MonthlyDeduction</td>
            </tr>
            <tr>
                <th>Salary Scale</th>
                <td>@Model.SalaryScale</td>
            </tr>
            <tr>
                <th>Loan Status</th>
                <td>@Model.LoanStatus</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>@Model.Comment</td>
            </tr>
            <tr>
                <th>Recommendation</th>
                <td>@Model.Recommendation</td>
            </tr>
        </table>
    </div>

    <div style="padding-top:200px">
        <div class="row"style="padding:5px">
            <div class="col-xs-2"></div>
            <div class="col-xs-5"><hr style="border-color:black;width:200px;float:left" /></div>
            <div class="col-xs-5"><hr style="border-color:black;width:200px;float:left" /></div>
        </div>
        <div class="row" style="padding:5px">
            <div class="col-xs-2"></div>
            <div class="col-xs-5">Accounting Officer</div>
            <div class="col-xs-5">Date</div>
        </div>
    </div>
</div>