@{
    ViewBag.Title = "ALS Loan Approve";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .wh-holding {
        color: #008636;
        font-size: 10px;
    }

    .bubble-w {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: plum;
        border: 1px solid red;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div style="display:flex;flex-direction:row;justify-content:space-between">
                                <div></div>
                                <div>
                                    <div class="search-container">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_table" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loan Ctrl No</th>
                                        <th>Vendor Name</th>
                                        <th>Check Number</th>
                                        <th>Vote</th>
                                        <th>Vendor Bank Account</th>
                                        <th>Vendor Bank Name</th>
                                        <th>Loan Nature</th>
                                        <th>Loan Amount</th>
                                        <th>Net Loan</th>
                                        <th>Service Charge</th>
                                        <th>Protection Fund</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="viewActionModal" style="left:4%;">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                <div class="widget-body ">

                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <textarea type="text" id="Remarks" style="width:300px" rows="4" cols="50" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Attachment
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="GetCashBookBalance(this)">

                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">

                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script>
        var dt_table = $('#dt_table').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_table_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_table.DataTable().search(this.value).draw();
        });

        var data = [];

        function LoadData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetALSLoanApp", "ALSLoanApp")',
                data: { status: ['Verified', 'Rejected in Confirmation'].toString() },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_table.fnAddData([i + 1,
                            data[i]["LoanCtrlNum"],
                           data[i]["VendorName"],
                           data[i]["CheckNo"],
                           data[i]["AllocInstitutionCode"],
                           data[i]["BenAcctNum"],
                           data[i]["BenBankName"],
                           data[i]["LoanNature"],
                           toLabel(data[i]["LoanApplAmount"]),
                           toLabel(data[i]["NetLoanAmount"]),
                           toLabel(data[i]["ServiceChargeAmount"]),
                           toLabel(data[i]["ProtectionFundAmount"]),
                           data[i]["OverallStatus"].includes("Rejected") ? "Rejected" : data[i]["OverallStatus"],
                           '<div class="btn-group" id="drop-' + i + '">\
                          <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                           </button>\
                         <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "view(' + data[i].LoanApplId + ')">Details</a></li>\
                             <li><a href="#" onclick= "reject(' + i + ')">Reject</a></li>\
                             <li><a href="#" onclick="confirm(' + i + ')">Approve</a></li>\
                             <li><a href="#" onclick="repaymentSchedule(' + data[i].LoanApplId + ')">Print Repayment Schedule</a></li>\
                        </ul>\
                  </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                  ]);
                        $("#saveLoader-" + i + "").toggle(false)
                    }
                },
                failure: function (errmsg) {
                    swal(errmsg);
                }
            });
        }
        LoadData()
        @*function repaymentSchedule(loanAppId) {
            reportUrl = "@ViewBag.reportUrlName" + "ALS_loanRepayScheduleModRPT.aspx";
            queryString = "loanAppId=" + loanAppId;
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Reports", new {area = "ALS"})',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(reportUrl + response);
                    }
            });
        }*@

        function repaymentSchedule(loanAppId) {
            debugger;
            var queryString = "loanAppId=" + loanAppId;
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Reports")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                success: function (response) {
                    debugger;

                        window.open("../../Areas/ALS/Reports/ALS_loanRepayScheduleModRPT.aspx" + response);
                    }
            });
        }

        var selectedItemId = 0
        var TotalAmount = 0
        var selectedItemIndex = 0
        var actionType = ""
        function confirm(i) {
            selectedItemId = data[i].LoanApplId
            selectedItemIndex = i
            TotalAmount = data[i].NetLoanAmount
            actionType = "Approve"
            $('#viewActionModal').modal('show');
        }

        function reject(i) {
            actionType = "Reject"
            selectedItemId = data[i].LoanApplId
            $('#viewActionModal').modal('show');
        }

        function confirmSave() {
            if ($("#Remarks").val() == '') {
                $("#Remarks").attr("style", "border-color: red;");
            } else {
                swal({
                    title: actionType + ' this Application?',
                    buttons: ['NO', 'YES'],
                    dangerMode: true,
                }).then(function (isConfirmed) {
                    if (isConfirmed) {
                        confirmPost()
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }
        }

        function confirmPost(Ids) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ALSLoanActions", "ALSLoanApp")',
                data: CreateForm({
                    id: selectedItemId,
                    status: actionType == "Reject" ? "Rejected by Approver" : "Approved",
                    level: "Approval",
                    remarks: $("#Remarks").val(),
                    file: $("#RemarkAttachment")[0].files[0]
                }),
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((e) => window.location.reload());
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function CreateForm(form) {
            let _form = new FormData();
            for (let key in form) {
                _form.append(key, form[key])
            }
            return _form
        }

        const context = {
            detailsUrl: '@Url.Action("ALSLoanDetails", "ALSLoanApp")',
            actionStatus: 'Approved',
            level: 'Approval',
            actionLabel: 'Approve',
            redirectUrl: '@Url.Action("ALSLoanApprove", "ALSLoanApp")',
            rejectionStatus: 'Rejected by Approver'
        }

        function view(Id) {
            window.location.href = `${context.detailsUrl}/?Id=${Id}
                &actionStatus=${context.actionStatus}
                &level=${context.level}
                &actionLabel=${context.actionLabel}
                &redirectUrl=${context.redirectUrl}
                &rejectionStatus=${context.rejectionStatus}`
        }

        let CashBookBalance = 0
        let CashCommitment = 0
        let AvailableBalance = 0
        let NewBalance = 0

        function GetCashBookBalance(target) {
            if(actionType != "Reject"){
                $(target).text("Verifying...")
                $(target).prop('disabled', true)
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetCashBookBalance", "PaymentVoucher", new { area="IFMISTZ"})',
                    data: {
                        accountNo: data[selectedItemIndex].BankAccountNum,
                        SBC: data[selectedItemIndex].SubBudgetClass,
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        console.log(response)
                        $(target).prop('disabled', false)
                        $(target).text("Save")
                        if (response.data) {
                            CashBookBalance = response.data.CashBookBalance
                            CashCommitment = response.data.CommittedAmount
                            AvailableBalance = response.data.AvailableBalance
                            NewBalance = AvailableBalance - TotalAmount
                            if (NewBalance >= 0) {
                                balanceAvailable()
                            } else {
                                balanceAvailable()
                              //insufficientBalance()
                            }
                        } else {
                            swal("Oops..! something went wrong..Please contact system admin")
                        }
                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            } else {
                confirmSave();
            }
        }

        function balanceAvailable() {
            swal({
                title: "Verify Selected Item?",
                text: `Acc: ${data[selectedItemIndex].BankAccountNum} SBC:${data[selectedItemIndex].SubBudgetClass}
                       CashBook Balance  : ${CashBookBalance.toLocaleString()}\n
                       Committed Amount  : ${CashCommitment.toLocaleString()}\n
                       Available Balance: ${AvailableBalance.toLocaleString()}\n
                       Amount to be Expensed: ${TotalAmount.toLocaleString()}\n
                       New Balance       : ${NewBalance.toLocaleString()}\n`,
                buttons: ["NO", "YES"],
            }).then((willGenerate) => {
                if (willGenerate) {
                    confirmSave();
                } else {
                    swal("Cancelled");
                }
            });
        }

        function insufficientBalance() {
            swal({
                title: "Payment Exceeds CashBook Balance",
                text: `Acc: ${data[selectedItemIndex].BankAccountNum} SBC:${data[selectedItemIndex].SubBudgetClass}
                       CashBook Balance  : ${CashBookBalance.toLocaleString()}\n
                       Committed Amount  : ${CashCommitment.toLocaleString()}\n
                       Available Balance: ${AvailableBalance.toLocaleString()}\n
                       Amount to be Expensed: ${TotalAmount.toLocaleString()}\n
                       New Balance       : ${NewBalance.toLocaleString()}\n`,
                buttons: "OK",
            })
        }

    </script>
}
