@model RoleViewModel
@{
    ViewBag.Title = "Edit";
}

<div id="content" style="margin: 5px; padding-top: 50px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Edit Role</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SystemSubModuleId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.SystemSubModuleId, Model.SystemSubModuleIds, "Select Sub Module", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SystemSubModuleId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        @Html.CheckBoxFor(model => model.IsAdminRole)
                        @Html.DisplayNameFor(model => model.IsAdminRole)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        @Html.CheckBoxFor(model => model.IsSharedRole)
                        @Html.DisplayNameFor(model => model.IsSharedRole)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Back to List", "ApplicationRoles")
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

