@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.FinancialYear>

<style>
   .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input{
        border: 1px solid lightgray;
        width: 300px;
        height: 35px;
    }
    input[type=search] {
        padding: 4px;
        border: hidden;
        width: 200px;
        height: 30px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Financial Year List</h2>

                    </header>

                    <div class="widget-body">

                        <div style="margin-bottom: 2%">
                            <a class="btn btn-info" href='@Url.Action("Create", "FinancialYears")' style="width:100px;border-radius:1px;color:black">
                                <i class="fa fa-plus"></i>Add New
                            </a>
                        </div>
                        <div class="row" style="width:100%">
                            <div class="col-md-3">
                                <div class="search-container">
                                    <i class="fa fa-search searchIcon"></i>
                                    <input type="search" name="search" placeholder="Search..." id="searchbox">
                                </div>
                            </div>
                            <div style="margin-left: 90%" id="dt_coasegment_wrapper" class="dataTables_wrapper">

                                <select name="pageLenth" id="pageLenth" aria-controls="dt_coasegment" class="form-control">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                        </div>

                    
                       <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table width="100%">
                                <tr>
                                    <td colspan="1">
                                        <table id="dt_financial_year" class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>No.</td>
                                                    <th>Financial Year StartDate</th>
                                                    <th>Financial Year EndDate</th>
                                                    <th>Financial Year</th>
                                                    <th>Financial Year Desc</th>
                                                    <th>Overall Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{ int i = 0;}
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    i++;
                                                    <tr>

                                                        <td>@i</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FinancialYearStartDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FinancialYearEndDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FinancialYearCode)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FinancialYearDesc)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OverallStatus)
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li>
                                                                        <a onclick="edit(
                                                                           '@item.FinancialYearStartDate',
                                                                           '@item.FinancialYearEndDate',
                                                                           '@item.FinancialYearCode',
                                                                           '@item.FinancialYearDesc',
                                                                           '@item.FinancialYearId'
                                                                           )" class="btn-xs edit">
                                                                            <i class="fa fa-edit"></i> Edit
                                                                        </a>
                                                                    </li>
                                                                    @if (item.OverallStatus == "ACTIVE")
                                                                    {
                                                                        <li>
                                                                            <a onclick="deactivate(@item.FinancialYearId)" class="btn-xs edit">
                                                                                <i class="fa fa-edit"></i>  Deactivate
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <a  onclick="activate(@item.FinancialYearId)" class="btn-xs edit">
                                                                                <i class="fa fa-edit"></i>  Activate
                                                                            </a>
                                                                        </li>
                                                                    }

                                                                    <li>
                                                                        <a onclick="Cancel(@item.FinancialYearId)" class="btn-xs edit">
                                                                            <i class="fa fa-trash-o"></i>  Cancel
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    </div>

<!----------- EDIT DIALOG ----------------->
<div class="modal fade" id="editModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Edit Financial Year</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:10px; width:100%;">

                        <table style="width:100%">
                            <tr>
                                <td colspan="1">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" style="text-align:right;">
                                                Financial Year StartDate:
                                                <i class="fa fa-times" style="color:white" id="FinancialYearStartDate_1"></i>
                                            </label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group">
                                                    <div class="input-group date col-md-5">
                                                        <input class="input datepicker" placeholder="Pick Date" style="width:262px;" autocomplete="off" id="FinancialYearStartDate">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" style="text-align:right;">
                                                Financial Year EndDate:
                                                <i class="fa fa-times" style="color:white" id="FinancialYearEndDate_1"></i>
                                            </label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group">
                                                    <div class="input-group date col-md-5">
                                                        <input class="input datepicker" placeholder="Pick Date" style="width:262px;" autocomplete="off" id="FinancialYearEndDate">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" style="text-align:right;">
                                                Financial Year:
                                                <i class="fa fa-times" style="color:white" id="FinancialYearCode_1"></i>
                                            </label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group">
                                                    <input placeholder="Eg.2019" name="FinancialYearCode" id="FinancialYearCode">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" text-align:right;">
                                                Financial Year Desc:
                                                <i class="fa fa-times" style="color:white" id="FinancialYearDesc_1"></i>
                                            </label>
                                            <div class="col-md-8 inputGroupContainer">
                                                <div class="input-group">
                                                    <input name="FinancialYearDesc" id="FinancialYearDesc">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <td colspan="1"></td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" style="width:100px;" onclick="postForm()">
                        <i class="fa fa-edit"></i>Save
                    </button>
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    @section pagespecific {
        <script type="text/javascript">
            var dt_financial_year = $('#dt_financial_year').dataTable();

            $("#dt_financial_year_wrapper .dt-toolbar").remove();

            $("#searchbox").on("keyup search input paste cut", function () {
                dt_financial_year.DataTable().search(this.value).draw();
            });

            function deactivate(FinancialYearId) {
                swal({
                    title: "Are you sure?",
                    text: "Financial Year Status will be changed!",
                    buttons: [
                      'No',
                      'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        changeStatusItemConfirmed(FinancialYearId,"INACTIVE")
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }

            function activate(FinancialYearId) {
                swal({
                    title: "Are you sure?",
                    text: "Financial Year Status will be changed!",
                    buttons: [
                      'No',
                      'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        changeStatusItemConfirmed(FinancialYearId, "ACTIVE")
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }
            /**
            * Send delete signal to the backend
            * param  {Int} i - Id of the selected Item
            */
            function changeStatusItemConfirmed(FinancialYearId, status) {
                var url = '@Url.Action("ChangeStatusFinancialYear", "FinancialYears")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: {
                        overallStatus: status,
                        financialYearId: FinancialYearId
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Changed Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.reload();
                                });
                        }
                        else {
                            swal(response);
                        }

                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            }

            function Delete(FinancialYearId) {
                swal({
                    title: "Are you sure?",
                    text: "Financial Year will be deleted completely!",
                    buttons: [
                      'No',
                      'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        deleteConfirmed(FinancialYearId)
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }

            function deleteConfirmed(FinancialYearId){
                var url = '@Url.Action("DeleteFinancialYear", "FinancialYears")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: {
                        financialYearId: FinancialYearId
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            swal("Deleted Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.reload();
                                });
                        }
                        else {
                            swal(response);
                        }

                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            }

            var financialYearId = 0
            function edit(FinancialYearStartDate, FinancialYearEndDate,
                FinancialYearCode, FinancialYearDesc, FinancialYearId) {
                financialYearId = FinancialYearId;
                $("#FinancialYearStartDate").val(FinancialYearStartDate);
                $("#FinancialYearEndDate").val(FinancialYearEndDate);
                $("#FinancialYearCode").val(FinancialYearCode);
                $("#FinancialYearDesc").val(FinancialYearDesc);
                $("#editModal").modal('show');
            }

            function postForm() {
                var isNotSupplied = validateReportParameters([
                    "#FinancialYearStartDate",
                    "#FinancialYearEndDate",
                    "#FinancialYearCode",
                    "#FinancialYearDesc",
                ]);

                if (isNotSupplied) {
                    $(isNotSupplied + "_1").attr("style", "color:red");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EditFinancialYear", "FinancialYears")',
                        data: {
                            financialYear:{
                                FinancialYearCode: $("#FinancialYearCode").val(),
                                FinancialYearEndDate: $("#FinancialYearEndDate").val(),
                                FinancialYearStartDate: $("#FinancialYearStartDate").val(),
                                FinancialYearDesc: $("#FinancialYearDesc").val(),
                            },
                            financialYearId: financialYearId

                        },
                        success: function (response) {
                            if (response == "Success") {
                                swal("Saved Successful!", { icon: "success" }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                swal(response);
                            }

                        }
                    })
                }
            }

            function validateReportParameters(parameterList) {
                var resetStyle = function (parameterList) {
                    for (var i = 0; i < parameterList.length; i++) {
                        $(parameterList[i] + "_1").attr("style", "color: white");
                    }
                }
                resetStyle(parameterList);

                for (var i = 0; i < parameterList.length; i++) {
                    if (!$(parameterList[i]).val().trim()) {
                        return parameterList[i];
                    }
                }
                return null;
            }

            function Cancel(FinancialYearId) {
                //status = "CANCELLED";
                swal({
                    title: "Are you sure?",
                    text: "Financial Year will be Cancelled!",
                    buttons: [
                      'No',
                      'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        ChangeItemStatus(FinancialYearId, "CANCELLED")
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }

            function ChangeItemStatus(Id, status) {
                var url = '@Url.Action("ChangeStatusFinancialYear", "FinancialYears")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: {
                        overallStatus: status,
                        financialYearId: Id
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Changed Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.reload();
                                });
                        }
                        else {
                            swal(response);
                        }

                    },
                    failure: function (error) {
                        swal(error);
                    }
                });

            }
        </script>
    }
