@model IFMIS.Areas.LoanMod.Models.LoanLiquidationVM
@{
//var image_url = "../../WebImages/" + Model.PhotoUrlFile;
 }
    <div class="widget-body" style="padding-top:0.5px">
        <input type="hidden" value="@ViewBag.LoanApplication.LoanApplicationId" name="LoanApplicationId" id="LoanApplicationId" />
        <div class="row">
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Customer Information</legend>
                    <table>
                        <tr>
                            <th>Customer Type: </th>
                            <td>@ViewBag.customerType</td>
                        </tr>
                        <tr>
                            <th>Customer Name: </th>
                            <td>@ViewBag.customer.CustomerName</td>
                        </tr>
                        <tr>
                            <th>Telephone Number: </th>
                            <td>@ViewBag.customer.PhoneNo</td>
                        </tr>
                        @*<tr>
                                <th>Gender:</th>
                                <td>@ViewBag.customer.Gender</td>
                            </tr>*@
                        <tr>
                            <th>Tin Number:</th>
                            <td>@ViewBag.customer.TinNo</td>
                        </tr>
                        @*<tr>
                                <th>District:</th>
                                <td>@ViewBag.customer.District</td>
                            </tr>*@
                        @*<tr>
                                <th>Region:</th>
                                <td>@ViewBag.customer.Region</td>
                            </tr>*@
                        <tr>
                            <th>PhysicalAddress </th>
                            <td>@ViewBag.customer.PhysicalAddress </td>
                        </tr>
                        @*<tr>
                                <th>OverallStatus </th>
                                <td>@ViewBag.customer.OverallStatus </td>
                            </tr>*@

                        <tr>
                            <th>CustomerLocation</th>
                            <td>@ViewBag.customer.CustomerLocation </td>
                        </tr>
                        <tr>
                            <th>PlotNo</th>
                            <td>@ViewBag.customer.PlotNo </td>
                        </tr>
                        <tr>
                            <th>Status: </th>
                            <td>@ViewBag.customer.Status</td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Loan Application Information</legend>
                    <table>
                        @*<tr>
                                <th>Customer Name: </th>
                                <td>@ViewBag.LoanApplication.CustomerName</td>
                            </tr>*@
                        @*<tr>
                                <th>Telephone Number: </th>
                                <td>@ViewBag.LoanApplication.PhoneNo</td>
                            </tr>*@

                        <tr>
                            <th>Application Number: </th>
                            <td>@ViewBag.LoanApplication.ApplicationNo</td>
                        </tr>
                        <tr>
                            <th>Loan Purpose:</th>
                            <td>@ViewBag.LoanApplication.LoanPurpose</td>
                        </tr>
                        <tr>
                            <th>Applied Amount:</th>
                            <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.AppliedLoanAmount)</td>
                        </tr>
                        @if (ViewBag.LoanApplication.LoanApprovedAmount != null)
                        {
                            <tr>
                                <th>Approved Amount:</th>
                                <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanApprovedAmount)</td>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <th>Approved Amount:</th>
                                <td>0.00</td>
                            </tr>
                        }

                        @if (ViewBag.LoanApplication.DisbursedAmount != null)
                        {
                            <tr>
                                <th>Disbursed Amount:</th>
                                <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.DisbursedAmount)</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th>Approved Amount:</th>
                                <td>0.00</td>
                            </tr>
                        }
                        <tr>
                            <th>Interest Amount </th>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Loan Amount + Interest Amount </th>
                            <td>0.00</td>
                        </tr>

                        <tr>
                            <th>Repayment Amount</th>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Loan Balance</th>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <th>Status: </th>
                            <td>@ViewBag.LoanApplication.OverAllStatus</td>
                        </tr>
                    </table>
                </fieldset>

            </div>
            <div class="col-md-6">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Liquidation Process</legend>
                    <table>
                        <tr>
                            <td class="form-label">
                                Category:
                                <i class="fa fa-times" style="color:white" id="LiquidationCategory1"></i>
                            </td>
                            <td>
                                <select id="LiquidationCategory" style="width:300px">
                                    <option value="Choose Category" selected="selected"></option>
                                    @foreach (var Category in ViewBag.LiquidationCategories)
                                    {<option value='@Category.CategoryName'>@Category.CategoryName</option>}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-label">
                                Remark:
                                <i class="fa fa-times" style="color:white" id="Remark1"></i>
                            </td>
                            <td>
                                <textarea style="width:300px" rows="2" id="Remark" maxlength="350"></textarea><br />
                            </td>
                        </tr>

                        <tr>
                            <td class="form-label">
                                Attachment
                                <i class="fa fa-times" style="color:white" id="Attachment1"></i>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="file" name="Attachment" id="Attachment" class="input" style="width:300px" />
                                </div>
                            </td>
                        </tr>

                    </table>
                    <br />
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <a class="btn btn-info" href='@Url.Action("LiquidationList","LoanLiquidations")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button type="submit" class="btn btn-info" id="btnSave" onclick="attach()">
                                <i class="fa fa-save"></i>Save
                            </button>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>

                                      

