

@{
    ViewBag.Title = "Create Liquidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td class="form-label">
                                                Loan Number:
                                                <i class="fa fa-times" style="color:white" id="Loannumber1"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="LoanNumber" class="form-control" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Customer Type:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="CustomerType" class="form-control" disabled />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Customer Name:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="CustomerName" class="form-control" disabled />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Telephone Number:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="telephone" class="form-control" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                TIN Number:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="TinNo" class="form-control" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Physical Address:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="PhysicalAddress" class="form-control" disabled />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Customer Location:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="CustomerLocation" class="form-control" disabled />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Plot Number:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="PlotNo" class="form-control" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                               Status:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="Status" style="width:300px;" class="form-control" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Category:
                                                <i class="fa fa-times" style="color:white" id="LiquidationCategory1"></i>
                                            </td>
                                            <td>
                                                <select id="LiquidationCategory" style="width:300px">
                                                    <option value="Choose Category" selected="selected"></option>
                                                    @foreach (var Category in ViewBag.LiquidationCategories)
                                                    {<option value='@Category.CategoryName'>@Category.CategoryName</option>}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Remark:
                                                <i class="fa fa-times" style="color:white" id="Remark1"></i>
                                            </td>
                                            <td>
                                                <textarea style="width:300px" rows="2" id="Remark" maxlength="350"></textarea><br />
                                            </td>
                                        </tr>

                                 


                                    </table>
                                </div>
                                <div class="col-lg-6 col-sm-12 ">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Application Number:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="ApplicationNo" class="form-control" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                LoanPurpose:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="LoanPurpose" class="form-control" disabled />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Applied Amount:
                                                <i class="fa fa-times" style="color:white" id="ded1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="AppliedLoanAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>

                                        

                                        <tr>
                                            <td class="form-label">
                                                Approved Amount:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="LoanApprovedAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Disbursed Amount:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="DisbursedAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Interest Amount:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="DisbursedAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Amount + Interest Amount:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="DisbursedAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Repayment Amount:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="DisbursedAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Balance:
                                                <i class="fa fa-times" style="color:white" id=""></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="DisbursedAmount" style="width:252px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td class="form-label">
                                                OverAllStatus:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input type="text" id="OverAllStatus" style="width:300px;" class="form-control" disabled />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Attachment
                                                <i class="fa fa-times" style="color:white" id="Attachment1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="file" name="Attachment" id="Attachment" class="input" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="btn btn-info" href='@Url.Action("LiquidationList","LoanLiquidations")' style="margin-right:5px">
                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                        </a>
                                        <button type="submit" class="btn btn-info" id="btnSave">
                                            <i class="fa fa-save"></i>Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>



@section pagespecific{
    <script>
        $(document).ready(function () {
            var url = '@Url.Action("GetLoanApplication", "LoanLiquidations")';
            debugger;
            $("#LoanNumber").select2({
                minimumInputLength: 2,
                width: 'resolve',
                ajax: {
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: function (searchQuery) {
                        return {
                            searchQuery: searchQuery,
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data.application
                        };
                    }
                }
            });
        });

        $("#LoanNumber").change(function () {
            debugger;
            var id = $(this).val();

            $.ajax({
                type: "get",
                url: '@Url.Action("GetLoanDetails", "LoanLiquidations")' + "/?id=" + id,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    data1 = response.customer;
                    data2 = response.customerType;
                    $("#CustomerType").val(data2.CustomerName);
                    $("#CustomerName").val(data1.CustomerName);
                    $("#telephone").val(data1.PhoneNo);
                    $("#TinNo").val(data1.TinNo);
                    $("#PhysicalAddress").val(data1.PhysicalAddress);
                    $("#CustomerLocation").val(data1.CustomerLocation);
                    $("#PlotNo").val(data1.PlotNo);
                    $("#Status").val(data1.Status);

                    $("#ApplicationNo").val(data.ApplicationNo);
                    $("#LoanPurpose").val(data.LoanPurpose);
                    $("#AppliedLoanAmount").val(data.AppliedLoanAmount.toLocaleString());
                    $("#LoanApprovedAmount").val(data.LoanApprovedAmount.toLocaleString());
                    $("#DisbursedAmount").val(data.DisbursedAmount.toLocaleString());
                    $("#OverAllStatus").val(data.OverAllStatus);
                },

                error: function (response) {
                    swal(response);
                    return false;
                }

            });

        });

        $("#btnSave").click(function () {
            debugger
            var LoanNumber = $("#LoanNumber").val();
            var category = $("#LiquidationCategory").val();
            var remarks = $("#Remark").val();
            var Attachment = $("#Attachment").val();

             if (Attachment != '') {
                var file = document.querySelector("#Attachment");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }
           
            
            if (LoanNumber == '') {
                swal("Loan Number is Required")
                    .then((j) => {
                        $("#LoanNumber").focus();
                        $("#LoanNumber").css({ 'border-color': 'red' });
                    });
            } else if (category == 'Choose Category') {
                swal("Category is Required")
                    .then((j) => {
                        $("#LiquidationCategory").focus();
                        $("#LiquidationCategory").css({ 'border-color': 'red' });
                    });
            } else if (remarks == '') {
                swal("Remarks is Required")
                    .then((j) => {
                        $("#Remark").focus();
                        $("#Remark").css({ 'border-color': 'red' });
                    });
            } else if (Attachment == '') {
                swal("Attachment is Required")
                    .then((j) => {
                        $("#Attachment").focus();
                        $("#Attachment").css({ 'border-color': 'red' });
                    });
            }else {

                $("#LoanNumber").css({ 'border-color': '' });
                $("#LiquidationCategory").css({ 'border-color': '' });
                $("#Remark").css({ 'border-color': '' });
                $("#Attachment").css({ 'border-color': '' });
                
                var form_data = {
                    "Attachment": $("#Attachment").val(),
                    "Remark": $("#Remark").val(),
                    "LiquidationCategoryName": $("#LiquidationCategory").val(),
                    "LoanApplicationId": $("#LoanNumber").val(),
                }
                console.log(form_data);
                var url = '@Url.Action("liquidated", "LoanLiquidations")';
                var urlList = '@Url.Action("LiquidationList", "LoanLiquidations")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            }
            });
     
    </script>
}


