@model IEnumerable<IFMIS.Areas.PAYROLLS.Models.DeductionByVote_vw>

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>
 
<div class="panel panel-default">

    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>

        <div class="panel-title">MINISTRY OF FINANCE AND PLANNING</div>
        <div class="panel-title">DEDUCTIONS SUMMARY BY VOTES</div>
        <div class="panel-title"> @ViewBag.Currentmonth</div>
    </div>


    <br />
    <table class="table table-bordered table-condensed table-striped" style="border-bottom: 1px solid black; width: 100%">
        <colgroup>
            <col class="FirstColumn">
        </colgroup>
        <thead>
            <tr style="background-color:#F5F5F5">
                <td style="display:none">&nbsp;</td>
                <td style="display:none">&nbsp;</td>
                <td style="display:none">&nbsp;</td>
                <td colspan="3" style="text-align:center;"></td>
                <td colspan="3" style="text-align:center;">No.Of Transactions </td>
                <td colspan="3" style="text-align:center;">Total Amount</td>
                <th style="display:none">&nbsp;</th>
            </tr>
            <tr style="background-color:#F5F5F5">
                <td>#</td>
                <td>Vote</td>
                <td>Vote Name</td>
                <td>At Source</td>
                <td>At Employer</td>
                <td>Total</td>
                <td>At Source</td>
                <td>At Employer</td>
                <td>Total</td>
            </tr>
        </thead>

        @{
            int i = 0;
            int numEmpSource = 0, numEmpEmployer = 0, totalNumEmp = 0;
            decimal totalAmountSource = 0, totalAmountEmployer = 0, totalAmount = 0;
        }

        @foreach (var item in Model)
        {

            i++;
            numEmpSource += int.Parse(item.NUM_EMP_AT_SOURCE.ToString());
            numEmpEmployer += int.Parse(item.NUM_EMP_EMPLOYER.ToString());
            totalNumEmp += int.Parse(item.TOTAL_NUM_EMP.ToString());
            totalAmountSource += decimal.Parse(item.TOTAL_AMOUNT_AT_SOURCE.ToString());
            totalAmountEmployer += decimal.Parse(item.TOTAL_AMOUNT_EMPLOYER.ToString());
            totalAmount += decimal.Parse(item.TOTAL_AMOUNT.ToString());
            <tr>
                <td>@i</td>

                <td>
                    @Html.DisplayFor(modelItem => item.VOTE)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.VOTE_DESC)
                </td>

                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.NUM_EMP_AT_SOURCE)
                </td>

                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.NUM_EMP_EMPLOYER)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.TOTAL_NUM_EMP)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT_AT_SOURCE)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT_EMPLOYER)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT)
                </td>
            </tr>
        }

        <tr style="background-color:#ddd6d6">
            <td></td>
            <td></td>
            <td>Grand Total</td>
            <td style="text-align:right;">  @String.Format("{0:N0}", numEmpSource) </td>
            <td style="text-align:right;">  @String.Format("{0:N0}", numEmpEmployer) </td>
            <td style="text-align:right;">  @String.Format("{0:N0}", totalNumEmp) </td>
            <td style="text-align:right;">  @String.Format("{0:#,0.00}", totalAmountSource) </td>
            <td style="text-align:right;">  @String.Format("{0:#,0.00}", totalAmountEmployer) </td>
            <td style="text-align:right;">  @String.Format("{0:#,0.00}", totalAmount) </td>
        </tr>
    </table>
</div>
