@model IEnumerable<IFMIS.Areas.PAYROLLS.Models.EFTExchequerDetailReportView>
 
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>



<div class="panel panel-default">

    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>

        <div class="panel-title">MINISTRY OF FINANCE AND PLANNING</div>
        <div class="panel-title">EXCHEQUER DETAILS REPORT</div>
        <div class="panel-title"> @ViewBag.Currentmonth</div>
    </div>



    <br />

    <table class="table table-bordered table-condensed table-striped" style="border-bottom: 1px solid black; width: 100%">
        @{
            int i = 0;
            string category = "-1";
            int subTotalGovNumEmp = 0, grandTotalGovNumEmp = 0, subTotalParaNumEmp = 0, grandTotalParaNumEmp = 0;
            decimal subTotalGovWagebillAmount = 0, grandTotalGovWagebillAmount = 0, subTotalParaWagebillAmount = 0, grandTotalParaWagebillAmount = 0, subTotalPEIssues = 0, grandTotalPEIssues = 0;
        }

        @foreach (var group in Model.GroupBy(a => a.Category))
        {

            <tr style="color:black">
                <td colspan="10">
                    <b>@group.Key</b>
                </td>
            </tr>

            <tr>
                <td colspan="3"></td>
                <td colspan="2" style="text-align:center;"><strong>PE Estimates</strong></td>
                <td colspan="2" style="text-align:center;"><strong>Government</strong></td>
                <td colspan="2" style="text-align:center;"><strong>Parastatal</strong></td>
            </tr>

            <tr>
                <td><strong>#</strong></td>
                <td><strong>Vote Code</strong></td>
                <td><strong>Vote Name</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>FY</strong></td>
                <td><strong>Employee</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>Employee</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>Total PE Issues</strong></td>
            </tr>

            subTotalGovNumEmp = 0;
            subTotalGovWagebillAmount = 0;
            subTotalParaNumEmp = 0;
            subTotalParaWagebillAmount = 0;
            subTotalPEIssues = 0;

            i = 0;
            
            
            foreach (var item in group)
            {
                i++;
                subTotalGovNumEmp += int.Parse(item.GovNumEmp.ToString());
                grandTotalGovNumEmp += int.Parse(item.GovNumEmp.ToString());
                subTotalGovWagebillAmount += Decimal.Parse(item.GovWagebillAmount.ToString());
                grandTotalGovWagebillAmount += Decimal.Parse(item.GovWagebillAmount.ToString());
                subTotalParaNumEmp += int.Parse(item.ParaNumEmp.ToString());
                grandTotalParaNumEmp += int.Parse(item.ParaNumEmp.ToString());
                subTotalParaWagebillAmount += Decimal.Parse(item.ParaWagebillAmount.ToString());
                grandTotalParaWagebillAmount += Decimal.Parse(item.ParaWagebillAmount.ToString());
                subTotalPEIssues += Decimal.Parse(item.TotalPEIssues.ToString());
                grandTotalPEIssues += Decimal.Parse(item.TotalPEIssues.ToString());

                
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoteCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoteName)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.PEEstimate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinancialYear)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.GovNumEmp)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.GovWagebillAmount)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.ParaNumEmp)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.ParaWagebillAmount)
                    </td>

                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.TotalPEIssues)
                    </td>

                </tr>


            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Sub Total</strong></td>
                <td></td>
                <td style="text-align:right;"><strong>@String.Format("{0:N0}", subTotalGovNumEmp)</strong></td>
                <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", subTotalGovWagebillAmount)</strong></td>
                <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", subTotalParaNumEmp)</strong></td>
                <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", subTotalParaWagebillAmount)</strong></td>
                <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", subTotalPEIssues)</strong></td>
            </tr>
        }

        <tr style="color:#000000">
            <td></td>
            <td></td>
            <td></td>
            <td>Grand Total</td>
            <td></td>
            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandTotalGovNumEmp)</strong></td>
            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandTotalGovWagebillAmount)</strong></td>
            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandTotalParaNumEmp)</strong></td>
            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandTotalParaWagebillAmount)</strong></td>
            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandTotalPEIssues)</strong></td>
        </tr>
    </table>

</div>
