@model IEnumerable<IFMIS.Areas.PAYROLLS.Models.eft_exchequer_detail_min_para_vw>
 
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px inherit;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>



<div class="panel panel-default">

    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>

        <div class="panel-title">MINISTRY OF FINANCE AND PLANNING</div>
        <div class="panel-title">EXCHEQUER DETAILS REPORT - MINISTRIES PARASTALS</div>
        <div class="panel-title"> @ViewBag.Currentmonth</div>
    </div>
    <br />
    <table>
        @{
            int k = 0;
            int SubTotalNumEmployee1 = 0;
            int GrandTotalNumEmployee1 = 0;
            decimal SubTotalAmount1 = 0;
            decimal GrandTotalAmount1 = 0;
        }
        @foreach (var group in Model.GroupBy(a => a.MainVote))
        {
            SubTotalNumEmployee1 = 0;
            SubTotalAmount1 = 0;
            k = 0;


            <tr style="background-color:#F5F5F5">
                <td colspan="5">
                    <b>
                        @group.Key - @group.Select(a => a.MainVoteName).FirstOrDefault()
                    </b>
                </td>
            </tr>

            <tr>
                <td>#</td>
                <td><strong>Vote Code</strong></td>
                <td><strong>Vote Name</strong></td>
                <td style="text-align:right;"><strong>No.Employee </strong></td>
                <td style="text-align:right;"><strong>Total Amount</strong></td>
            </tr>

            foreach (var item in group)
            {
                k++;
                SubTotalNumEmployee1 += int.Parse(item.ParaNumEmp.ToString());
                GrandTotalNumEmployee1 += int.Parse(item.ParaNumEmp.ToString());
                SubTotalAmount1 += decimal.Parse(item.ParaGrossAmount.ToString());
                GrandTotalAmount1 += decimal.Parse(item.ParaGrossAmount.ToString());

                <tr>
                    <td>@k</td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ParaVote)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.R_NAME)
                    </td>

                    <td style="text-align:right;">
                        @String.Format("{0:N0}", item.ParaNumEmp)
                    </td>
                    <td style="text-align:right;">
                        @String.Format("{0:#,0.00}", item.ParaGrossAmount)
                    </td>
                </tr>
            }

            <tr>
                <td></td>
                <td></td>
                <td><strong>Sub Total</strong></td>
                <td style="text-align:right;"><strong>@String.Format("{0:N0}", SubTotalNumEmployee1)</strong></td>
                <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", SubTotalAmount1)</strong></td>
            </tr>
        }
        <tr style="background-color:#ddd6d6">
            <td></td>
            <td></td>
            <td>Grand Total</td>
            <td style="text-align:right;"><strong>@String.Format("{0:N0}", GrandTotalNumEmployee1)</strong></td>
            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", GrandTotalAmount1)</strong></td>
        </tr>
    </table>
</div>
