@model IEnumerable<IFMIS.Areas.PAYROLLS.Models.eft_exchequer_detail_ind_para_vw>
 
<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px inherit;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>



<div class="panel panel-default">

    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>

        <div class="panel-title">MINISTRY OF FINANCE AND PLANNING</div>
        <div class="panel-title">EXCHEQUER DETAILS REPORT - INDEPENEDENT PARASTALS</div>
        <div class="panel-title"> @ViewBag.Currentmonth</div>
    </div>



    <br />
    <table class="display">

        <tbody>

            @{
                int m = 0;
                string Actions = "-1";
                int SubTotalNumEmployee = 0;
                int GrandTotalNumEmployee = 0;
                decimal SubTotalAmount = 0;
                decimal GrandTotalAmount = 0;
            }
            @foreach (var item in Model)
            {
                m++;

                if (Actions != item.MainVote) //Starting a new vote
                {

                    if (Actions != "-1") //Changing votes. Display CouncilSubTotal
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Sub Total</td>
                            <td style="text-align:right;">@String.Format("{0:N0}", SubTotalNumEmployee)</td>
                            <td style="text-align:right;">@String.Format("{0:#,0.00}", SubTotalAmount)</td>
                        </tr>
                        SubTotalNumEmployee = 0;
                        SubTotalAmount = 0;
                        m = 1;
                    }

                    <tr style="background-color:#F5F5F5">
                        <td colspan="5" style="text-align:left;"><b>@item.MainVote-@item.MainVoteName</b></td>
                    </tr>

                    <tr>
                        <td>#</td>
                        <td>Vote</td>
                        <td>Vote Name</td>
                        <td style="text-align:right;">No.Employee </td>
                        <td style="text-align:right;">Total Amount</td>
                    </tr>
                    Actions = item.MainVote;
                }
                SubTotalNumEmployee += int.Parse(item.ParaNumEmp.ToString());
                GrandTotalNumEmployee += int.Parse(item.ParaNumEmp.ToString());
                SubTotalAmount += decimal.Parse(item.ParaGrossAmount.ToString());
                GrandTotalAmount += decimal.Parse(item.ParaGrossAmount.ToString());


                <tr>
                    <td>@m</td>
                    <td>
                        @item.ParaVote
                    </td>
                    <td>
                        @item.R_NAME
                    </td>
                    <td style="text-align:right;">
                        @String.Format("{0:N0}", item.ParaNumEmp)
                    </td>
                    <td style="text-align:right;">
                        @String.Format("{0:#,0.00}", item.ParaGrossAmount)
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>Sub Total</td>
                <td style="text-align:right;">@String.Format("{0:N0}", SubTotalNumEmployee)</td>
                <td style="text-align:right;">@String.Format("{0:#,0.00}", SubTotalAmount)</td>

            </tr>
        </tbody>
        <tr style="background-color:#ddd6d6">
            <td></td>
            <td></td>
            <td>Grand Total</td>
            <td style="text-align:right;"><b>@String.Format("{0:N0}", GrandTotalNumEmployee)</b></td>
            <td style="text-align:right;"><b>@String.Format("{0:#,0.00}", GrandTotalAmount)</b></td>
        </tr>
    </table>

</div>
