@model IEnumerable<IFMIS.Areas.PAYROLLS.Models.DeductionReportSubTreasurySummary_vw>
 
<style type="text/css">
        *
    {
        box-sizing: border-box;
    }
    body
    {
        font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }
    table
    {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }
    td, th
    {
        border: 1px solid;
        padding: 8px;
    }
    .alinearDerecha
    {
        text-align: right;
    }
    .negrita
    {
        font-weight: bold;
    }

    thead { display: table-row-group; }

    tr {page-break-inside: avoid; }

</style>



<div class="panel panel-default">

    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>

        <div class="panel-title">MINISTRY OF FINANCE AND PLANNING</div>
        <div class="panel-title">EMPLOYEES STATUTORY CONTRIBUTIONS AND DEDUCTIONS SUMMARY</div>
        <div class="panel-title">@ViewBag.Currentmonth</div>
    </div>

    <br />

    <table class="table fc-grid" style="width:100%">
        <thead>

            <tr style="background-color:#F5F5F5">
                <td>#</td>
                <td>Payee Name</td>
                <td style="text-align: left">No of Employees</td>
                <td style="text-align: left">Employee Contribution</td>
                <td style="text-align: left">Employer Contribution</td>
                <td style="text-align: left">Total Amount</td>
            </tr>

        </thead>

        <tbody>
            @{
                int j = 0;
                Decimal GRANDTOTAL1 = 0, GRANDTOTAL2 = 0, GRANDTOTAL = 0, GRANDTOTAL3 = 0;
                int GRANDEMPTOTAL = 0;
            }
            @foreach (var item in Model)
            {
                j++;

                GRANDTOTAL = 0;
                GRANDTOTAL1 += Decimal.Parse(item.DED_AMOUNT.ToString());
                GRANDTOTAL2 += Decimal.Parse(item.EMPLOYER_AMOUNT.ToString());
                GRANDTOTAL += Decimal.Parse(item.DED_AMOUNT.ToString()) +
                              Decimal.Parse(item.EMPLOYER_AMOUNT.ToString());

                GRANDTOTAL3 += Decimal.Parse(item.DED_AMOUNT.ToString()) + 
                               Decimal.Parse(item.EMPLOYER_AMOUNT.ToString());

                GRANDEMPTOTAL += int.Parse(item.NUM_EMP.ToString());

                <tr>
                    <td>@j</td>
                    <td>
                            @item.BENINSTITUTION
                    </td>

                    <td style="text-align: right">
                        @String.Format("{0:#,0}", item.NUM_EMP)

                    </td>
                    <td style="text-align: right">
                        @String.Format("{0:#,0.00}", item.DED_AMOUNT)

                    </td>
                    <td style="text-align: right">
                        @String.Format("{0:#,0.00}", item.EMPLOYER_AMOUNT)
                    </td>
                    <td style="text-align: right">
                        @String.Format("{0:#,0.00}", GRANDTOTAL)
                    </td>
                </tr>
            }

        </tbody>

        <tr style="background-color:#ddd6d6">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Grand Total</td>
            <td style="text-align: right">@String.Format("{0:#,0.00}", GRANDTOTAL1) </td>
            <td style="text-align: right">@String.Format("{0:#,0.00}", GRANDTOTAL2) </td>
            <td style="text-align: right">@String.Format("{0:#,0.00}", GRANDTOTAL3) </td>
        </tr>
    </table>
</div>

