<style>
    .scrilll {
        overflow-y: scroll;
    }
</style>
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <nav>
        <div class="scrilll">
            <ul>
                <li class="@Html.RouteIf("Index", "active")">
                    <a href="/"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                </li>

                @*@if (!(User.IsInRole("Gacs Only") || User.IsInRole("Coadmis Only")))
                    {*@
                @{ Html.RenderPartial("_UserManagementMenu"); }

                @{ Html.RenderPartial("_SystemSetupMenu"); }

                <!--Start of Cash Management-->
                @{ Html.RenderPartial("_CashManagementMenu"); }
                <!--End of Cash Management-->
                <!--Start of Purchasing-->
                @{ Html.RenderPartial("_PurchasingModule"); }
                <!--End of Purchasing-->
                <!--Start of Salary-->
                @{ Html.RenderPartial("_SalaryMenu"); }
                <!--End of Salary-->
                <!--Start of Account Payable-->
                @{ Html.RenderPartial("_AccountPayableMenu"); }
                <!--End of Account Payable-->
                <!--Start of Account Receivable-->
                @{ Html.RenderPartial("_RevenueMenu"); }
                <!--End of Account Receivable-->
                <!--Start of General Ledger-->
                @{ Html.RenderPartial("_GeneralLedgerMenu"); }
                <!--End of General Ledger-->
                <!--Start of Reports-->
                @{ Html.RenderPartial("_ReportsMenu"); }
                <!--End of Reports-->
                @*@{ Html.RenderPartial("_SimulationMenu"); }*@

                @*@{ Html.RenderPartial("_EFTMenu"); }*@

                @{ Html.RenderPartial("_HelpDeskMenu"); }

                @{ Html.RenderPartial("_AgitfLoanMenu"); }

                @if (!User.IsInRole("Payroll"))
                {
                    { Html.RenderPartial("_PayrollAside"); }
                }

                @if (User.IsInRole("ALS Loan"))
                {
                    { Html.RenderPartial("_ALSAside"); }
                }

                @{ Html.RenderPartial("_FinalAccountEntry"); }

                @if (User.IsInRole("Consolidation Menu"))
                {
                    { Html.RenderPartial("_ConsolidationMenu"); }
                }

                @if (User.IsInRole("Gacs Only"))
                {
                    { Html.RenderPartial("_GACSAside"); }
                }

                @if (User.IsInRole("Coadmis Only"))
                {
                    { Html.RenderPartial("_COADMISAside"); }
                }

                @{ Html.RenderPartial("_RecurrentPayment"); }

                @{ Html.RenderPartial("_TSAMenu"); }

                @{ Html.RenderPartial("_FacilityCommunityMenu"); }
                               
                <li class="@Html.RouteIf("NotificationList", "active")">
                    <a href="@Url.Action("NotificationList", "Notification", new { area = "IFMISTZ" })"><i class="fa fa-lg fa-fw fa-envelope-o"></i> <span class="menu-item-parent">Notifications <span class="badge badge-danger" style="background-color: red">1</span></span><span></span></a>
                </li>

                <li class="@Html.RouteIf("userprofile", "active") || @Html.RouteIf("changepassword", "active") || @Html.RouteIf("indexpage", "active") || @Html.RouteIf("myhandovers", "active") || @Html.RouteIf("userpaystations", "active")">
                    <a href="@Url.Action("userprofile", "manage", new { area = "" }, null)"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">My Profile</span></a>
                </li>

            </ul>
        </div>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->
