
@model IFMIS.Areas.IFMISTZ.Models.AgencyNoticeDeduction


@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = Model.OverallStatus;
}

<style>
    .searchContainer {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        /*padding-top:10px;*/
        /*text-align: center;*/
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 200px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }


    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
    /*  //tunkete.mwamsojo@hazina.go.tz;*/

</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Agency Notice Details </h2>
                    </header>
                    <div>
                        <div class="table-responsive">
                            @{
                                int i = 0;
                            }

                            <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back
                            </a>

                            <hr class="simple" />
                            <div class="col-md-12">
                                <section id="widget-grid">
                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="widget-body" style="padding-top:10px">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="payee-entry">
                                                            @*<div class="entry-label">Payment Batch Summary</div>*@
                                                            <div style="padding-left:20px;padding-right:20px">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6">
                                                                            <table>

                                                                                <tr>
                                                                                    <td class="sect-label">Institution Code:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.InstitutionCode)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="sect-label">Control Number:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.ControlNumber)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="sect-label">Currency:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.OperationalCurrency)</td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td class="sect-label">Original Voucher No:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.OriginalVoucherNo)</td>
                                                                                </tr>

                                                                                @if (Model.OverallStatus != "Pending")
                                                                                {

                                                                                <tr>
                                                                                    <td class="sect-label"> Paid Voucher:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.PaidVoucherNo)</td>
                                                                                </tr>

                                                                                }


                                                                            </table>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <table>
                                                                                <tr>
                                                                                    <td class="sect-label">Institution Name:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.InstitutionName)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="sect-label">Amount:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.OperationalAmount)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="sect-label"> Overall Status:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.OverallStatus)</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="sect-label"> Reference:</td>
                                                                                    <td style="text-align:right">@Html.DisplayFor(model => model.ReferenceNo)</td>
                                                                                </tr>

                                                                            </table>
                                                                        </div>

                                                                        <hr class="simple" />
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>

                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        

 
       
    </script>

}


