@model IFMIS.Areas.IFMISTZ.Models.InstitutionListVm

@{
    ViewBag.Title = "Reallocation Statements Details";
    ViewBag.Description = "form wizards";
    //Layout = "~/Views/Shared/_Default.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }

</style>


<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Reallocation Statements Details</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Reallocation Type
                                    </div>
                                    <div class="col-md-5">
                                        <select id="ReallocationType" name="ReallocationType" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Reallocation Type --</option>
                                            <option value="ALL">ALL</option>
                                            <option value="ACROSS">BETWEEN</option>
                                            <option value="WITHIN">WITHIN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id ="institutionCodeFrom">
                                    <div class="control-label col-md-2">
                                        Institution From
                                    </div>
                                    <div class="col-md-5">
                                        <select id="InstitutionCodeFrom" name="InstitutionCodeFrom" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Institution --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id ="institutionCodeTo">
                                    <div class="control-label col-md-2">
                                        Institution To
                                    </div>
                                    <div class="col-md-5">
                                        <select id="InstitutionCodeTo" name="InstitutionCodeTo" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Institution --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id ="institutionCode">
                                    <div class="control-label col-md-2">
                                        Institution Code
                                    </div>
                                    <div class="col-md-5">
                                        <select id="InstitutionCode" name="InstitutionCode" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Institution --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Status
                                    </div>
                                    <div class="col-md-3">
                                        <select id="Status" name="Status" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Status --</option>
                                        </select>
                                        @*<select id="Status" name="Status" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Status --</option>
                                            <option value="ALL">ALL</option>
                                            <option value="APPROVED">APPROVED</option>
                                            <option value="CANCELLED">CANCELLED</option>
                                            <option value="CONFIRMED">CONFIRMED</option>
                                            <option value="PENDING">PENDING</option>
                                            <option value="REJECTED">REJECTED</option>
                                            <option value="REVERSED">REVERSED</option>
                                        </select>*@
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Start Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="StartDate" id="StartDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        End Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="EndDate" id="EndDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="ReallocationBetweenStatementRPT()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>

        $("#institutionCodeFrom").css({ "display": "none" });
        $("#institutionCodeTo").css({ "display": "none" });
        $("#institutionCode").css({ "display": "none" });

        var reallocationType;

        //GetVotes();
        function ReallocationBetweenStatementRPT() {
            var InstitutionCodeFrom = $("#InstitutionCodeFrom").val().trim(),
                InstitutionCodeTo = $("#InstitutionCodeTo").val().trim(),
                InstitutionCode = $("#InstitutionCode").val().trim(),
                Status = $("#Status").val().trim(),
                startDate = $("#StartDate").val().trim(),
                endDate = $("#EndDate").val().trim(),
                userId = "@Model.UserId",
                isNotSupplied,url,queryString;

            if (reallocationType === "ALL") {
                url = "@Model.UrlName" + "ALLReallocationDetail.aspx";
                isNotSupplied = validateReportParameters(["#ReallocationType","#InstitutionCode","#Status", "#StartDate", "#EndDate"]),
                queryString = "instCode=" + InstitutionCode + "&status=" + Status + "&start-date=" + startDate + "&end-date=" + endDate + "&userId=" + userId;
                reloadReport(isNotSupplied, queryString, url);

            } else if (reallocationType === "ACROSS") {
                url = "@Model.UrlName" + "ReallocationBetweenDetail.aspx";
                isNotSupplied = validateReportParameters(["#ReallocationType","#InstitutionCodeFrom","#InstitutionCodeTo","#Status","#StartDate", "#EndDate"]),
                    queryString = "instCodeFrom=" + InstitutionCodeFrom + "&instCodeTo=" + InstitutionCodeTo + "&status=" + Status + "&start-date=" + startDate + "&end-date=" + endDate + "&userId=" + userId;
                reloadReport(isNotSupplied, queryString, url);
            }
            else if (reallocationType === "WITHIN") {
                url = "@Model.UrlName" + "ReallocationWithinDetail.aspx";
                isNotSupplied = validateReportParameters(["#ReallocationType","#InstitutionCode","#Status", "#StartDate", "#EndDate"]),
                    queryString = "instCode=" + InstitutionCode + "&status=" + Status + "&start-date=" + startDate + "&end-date=" + endDate + "&userId=" + userId;
                reloadReport(isNotSupplied, queryString, url);
            }
            else {
                isNotSupplied = validateReportParameters(["#ReallocationType", "#Status", "#StartDate", "#EndDate"]);
                if (isNotSupplied) {
                    $(isNotSupplied).attr("style", "border: 1px solid red");
                }
            }
            
        }


        function reloadReport(isNotSupplied, queryString, url) {
            if (isNotSupplied) {
                $(isNotSupplied).attr("style", "border: 1px solid red");
            }
            else {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Report")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(url + response);
                    }
                });
            }

        }


        function validateReportParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i]).attr("style", "border: 1px solid #ccc");
                }
            }
            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        function GetVotes(realocType) {
            if (realocType === "ALL") {
                const url = "GetALLReallocationInstitutions/";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "html",
                    success: function (response) {
                        $("#InstitutionCode").empty();
                        $("#InstitutionCode").append(response);
                    }
                });
            } else if (realocType === "ACROSS") {
                const url = "GetReallocationInstitutionFromAcross/";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "html",
                    success: function (response) {
                        $("#InstitutionCodeFrom").empty();
                        $("#InstitutionCodeFrom").append(response);
                    }
                });
            }
            else {
                const url = "GetReallocationInstitutionWithin/";
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "html",
                    success: function (response) {
                        $("#InstitutionCode").empty();
                        $("#InstitutionCode").append(response);
                    }
                });
            }
        }

        $("#InstitutionCode").change(function () {
            var institutionCode = $(this).val();
            const url = "GetReallocationStatusWithin_ALL/?institutionCode=" + institutionCode + "&reallocationType=" + reallocationType;
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Status").empty();
                    $("#Status").append(response);
                }
            });

        });

        $("#InstitutionCodeTo").change(function () {
            var institutionCodeTo = $(this).val(),
                institutionCodeFrom = $("#InstitutionCodeFrom").val().trim();

            const url = "GetReallocationStatusAcross/?institutionCodeFrom=" + institutionCodeFrom + "&institutionCodeTo=" + institutionCodeTo;
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Status").empty();
                    $("#Status").append(response);
                }
            });
        });


        $("#InstitutionCodeFrom").change(function () {
            var institutionCodeFrom = $(this).val();

            const url = "GetReallocationInstitutionToAcross/?institutionCodeFrom=" + institutionCodeFrom;
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#InstitutionCodeTo").empty();
                    $("#InstitutionCodeTo").append(response);
                }
            });
        });


        $("#ReallocationType").change(function () {

            reallocationType = $(this).val();

            if (reallocationType === "ALL") {
                $("#institutionCodeFrom").css({ "display": "none" });
                $("#institutionCodeTo").css({ "display": "none" });
                $("#institutionCode").css({ "display": "block" });
                GetVotes(reallocationType);
            }

            else if (reallocationType === "ACROSS") {
                $("#institutionCodeFrom").css({ "display": "block" });
                $("#institutionCodeTo").css({ "display": "block" });
                $("#institutionCode").css({ "display": "none" });
                GetVotes(reallocationType);

            }
            else if (reallocationType === "WITHIN"){

                $("#institutionCodeFrom").css({ "display": "none" });
                $("#institutionCodeTo").css({ "display": "none" });
                $("#institutionCode").css({ "display": "block" });
                GetVotes(reallocationType);

            }
            else {
                $("#institutionCodeFrom").css({ "display": "none" });
                $("#institutionCodeTo").css({ "display": "none" });
                $("#institutionCode").css({ "display": "none" });
            }
        });

    </script>
}