@model IFMIS.Areas.IFMISTZ.Models.ContractCeilingVM
@{
    ViewBag.Title = "Manage Ceiling";
}

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid">


        <!-- START ROW -->

        <div>

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header class="margin-top-10">
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Adjust Contract Celing</h2>

                    </header>


                    <div>

                        <div class="widget-body">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>
                            <div class="col-md-10 mt-4">
                                <br/>
                                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitCeiling(this)" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div id="normal-div" class="row">

                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.InstitutionId, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.InstitutionId, Model.InstitutionList, "Select ", new { @class = "form-control select2", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CostCenterName, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                <div class="col-md-8">
                                                    <select id="InstitutionSubLevelId" name="InstitutionSubLevelId" class="form-control select2" required>
                                                        <option value="" selected>Select ...</option>
                                                    </select>

                                                    @Html.ValidationMessageFor(model => model.CostCenter, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                @Html.LabelFor(model => model.FundCategoryId, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.FundCategoryId, Model.FundCategories, "Select ", new { @class = "form-control select2", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.FundCategoryId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">

                                                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(model => model.Currency, Model.CurrencyList, "Select ", new { @class = "form-control select2", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <button type="button"  class="btn btn-info px-5 py-3" style="float: left; margin-left: 5px" onclick="getBalance()">
                                                        Request Balance
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="padding-10">
                                                <div class="form-group margin-top-3">
                                                    <div class="col-md-2">
                                                     </div>
                                                    <div class="col-md-10">
                                                        <span id="aBalance" style="font-size:15px"></span>
                                                    </div>
                                                    </div>
                                                <div id="aBalanceDiv">
                                                    <div class="form-group">

                                                        <label class="control-label   col-md-2">Amount To Decrease</label>
                                                        <div class="col-md-4">
                                                            @Html.EditorFor(modelItem => Model.Amount, new { htmlAttributes = new { @class = "form-control", @min = 0,@id="dAmount"} })

                                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.CeilingDescription, htmlAttributes: new { @class = "control-label col-md-2" })

                                                        <div class="col-md-8">
                                                            @Html.EditorFor(model => model.CeilingDescription, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", rows = "3" } })
                                                            @Html.ValidationMessageFor(model => model.CeilingDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>

                                                <div class="form-group margin-top-10">
                                                    <div class="col-md-10 col-md-offset-2">
                                                        <a href="@Url.Action("AdjustmentCeilings","ContractCeiling")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                                        <button  type="submit" id="save_button" class="btn btn-info" style="margin-right:2px">
                                                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                                        </button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>


                                }
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1 py-4">

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
            </article>

        </div>
    </section>

</div>
@section pagespecific {
    <script>
        $("#InstitutionId").change(function () {
            debugger;
            var id = $(this).val();
            var url = '@Url.Action("GetCostCenters", "ContractCeiling")';
            $.ajax({
            type: "GET",
            url: url,
            data: { id : id },
            success: function (response) {
                $("#normal-div #InstitutionSubLevelId").empty();
                $("#normal-div #InstitutionSubLevelId").append(response);
            }
            })
        });

        //$("#save_button").hide();
        $("#dAmount").keyup(function () {
            var amount = parseInt($("#dAmount").val());
            if (balance < amount) {
                swal("You have exceeded the balance", { icon: "warning" });
                return;
            }
        });
        function SubmitCeiling(formData) {
            $("#save_button").prop('disabled', true);
            
            var url = '@Url.Action("SaveAdjustment", "ContractCeiling")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                    $("#save_button").prop('disabled', false);
                    if (response == "Success") {
                        swal("Data saved successfully", { icon: "success" })
                            .then((value) => {
                                 var url = '@Url.Action("AdjustmentCeilings", "ContractCeiling")';
                                window.location.replace(url);
                               });
                    }
                    else {
                        swal(response);
                    }
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
        $("#Amount").autoNumeric('init');





        var balance = 0;
        var sms = "";
        $("#aBalance").text(sms);
        var showSave = false;
        function getBalance() {
            $("#save_button").prop('disabled', true);
            var url = '@Url.Action("GetBalance", "ContractCeiling")';
            var InstitutionSubLevelId = parseInt($("#InstitutionSubLevelId").val());
            var FundCategoryId = parseInt($("#FundCategoryId").val());
            var Currency = $("#Currency").val();
            if (InstitutionSubLevelId == null || isNaN(InstitutionSubLevelId) || FundCategoryId == null || isNaN(FundCategoryId) || Currency == null) {
                sms = "Invalid request data. All fields are required";
                swal(sms, { icon: "error" });
                return;
            }
            $.ajax({
                type: "post",
                url: url,
                data: { InstitutionSubLevelId, FundCategoryId, Currency },

                success: function (response) {

                    $("#save_button").prop('disabled', false);
                    if (response.response == "Success") {
                        if (response.amount > 0) {
                            balance = parseInt(response.amount);
                            $("#aBalanceDiv").show();
                            sms = "Current Balance is : " + response.amount;
                            $("#aBalance").text(sms);
                        } else {
                            sms = "No enough Balance on this cost center";
                            swal(sms, { icon: "error" });
                        }
                    }
                    else {
                        swal(response.response, { icon: "error" });
                    }

                    
                }
            });
            return false;
        }

    </script>
}


