@model IFMIS.Areas.IFMISTZ.Models.ContractCeilingVM
@{
    ViewBag.Title = "New Ceiling";


}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    .pull-right{
        margin-top:10px;
    }
    ul .header-dropdown-list, .hidden-xs {
        margin-top: 10px;
    }
    #dropSection {
        background: #fafafa;
        border: black dashed 1px;
        height: 50%;
        text-align: center;
        color: #fff;
        padding-top: 12px;
    }

    .active-drop {
        background: #eeeeee !important;
        border: solid 2px blue !important;
        opacity: .5;
        color: black !important;
    }

    .container {
        position: relative;
        height: 50%;
        border: 2px solid #006100;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid">


        <!-- START ROW -->

        <div>

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header class="margin-top-10">
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Create Ceiling </h2>

                    </header>


                    <div>

                        <div class="widget-body">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitCeiling(this)" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">

                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.InstitutionId, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.InstitutionId, Model.InstitutionList, "Select ", new { @class = "form-control select2", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CostCenter, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                    <div class="col-md-10">
                                                        <select id="InstitutionSubLevelId" name="InstitutionSubLevelId" class="form-control select2" required>
                                                            <option value="" selected>Select ...</option>
                                                        </select>

                                                        @Html.ValidationMessageFor(model => model.CostCenter, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">

                                                    @Html.LabelFor(model => model.FundCategoryId, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.DropDownListFor(model => model.FundCategoryId, Model.FundCategories, "Select ", new { @class = "form-control select2", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.FundCategoryId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })

                                                    <div class="col-md-4">
                                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                    </div>

                                                    @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label   col-md-2" })
                                                    <div class="col-md-4">
                                                        @Html.DropDownListFor(model => model.Currency, Model.CurrencyList, "Select ", new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CeilingDescription, htmlAttributes: new { @class = "control-label col-md-2" })

                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.CeilingDescription, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", rows = "3", maxlength = 250 } })
                                                        @Html.ValidationMessageFor(model => model.CeilingDescription, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10 col-md-offset-2">
                                                        <a href="@Url.Action("PendingCeiling","ContractCeiling")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                                        <button type="submit" class="btn btn-info" id="save_button" style="float: left; margin-left: 5px">
                                                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                </div>
                                <div class="col-md-3 border-start border-danger border-3 p-3" style="background-color: #F5F5F5 ">

                                    <div class="align-items-center justify-content-center ">
                                        <div class="mt-1 text-muted text-center">
                                            You may drag and Drop the file to be uploaded or double click to choose file
                                        </div>
                                    </div>

                                    <div style="" class="container text-center border border-4 mt-3 rounded-2 text-muted" id="drop-file-box">
                                        <input type="file" id="file" name="file" class="d-none" />
                                        <div style="">
                                            <div class="vertical-center">
                                                <i class="glyphicon glyphicon-floppy-disk"></i> Drop file here
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-info col-md-12 mt-4 p-2">Upload File</button>
                                </div>

                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1 py-4">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </article>

        </div>
    </section>

</div>
@section pagespecific {
    <script>
   $("#InstitutionId").change(function () {
    var id = $(this).val();
    var url = '@Url.Action("GetCostCenters", "ContractCeiling")';
    $.ajax({
    type: "GET",
    url: url,
    data: { id : id },
    success: function (response) {
        $("#InstitutionSubLevelId").empty();
        $("#InstitutionSubLevelId").append(response);
    }
    })
   });

        function SubmitCeiling(formData) {
               $("#save_button").prop('disabled', true);
            var url = '@Url.Action("SaveCeiling", "ContractCeiling")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                    $("#save_button").prop('disabled', false);
                    if (response == "Success") {
                        swal("Data saved successfully", { icon: "success" })
                            .then((value) => {
                       var url = '@Url.Action("PendingCeiling", "ContractCeiling")';
                               window.location.replace(url);
                               });
                    }
                    else {
                        swal(response);
                    }
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
        $("#Amount").autoNumeric('init');

        $('#drop-file-box').dblclick(function () {
            $('#file').click();
        });
    </script>
}


