@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BulkPayment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentBatch.BatchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayStationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryAccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenDepartmentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankBic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndtoEndID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankingStatusDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettledAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalPaymentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SettledDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnappliedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnappliedDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgEndtoEndID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBSTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBSPayChannel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBSValueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CBSReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MsgID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialYearID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayStationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfDays)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentBatch.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayStationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryAccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenDepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BenDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankBic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndtoEndID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankingStatusDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettledAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalPaymentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettledDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnappliedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnappliedDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgEndtoEndID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBSTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBSPayChannel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBSValueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBSReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MsgID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialYearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayStationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfDays)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BulkPaymentID }) |
                @Html.ActionLink("Details", "Details", new { id=item.BulkPaymentID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BulkPaymentID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
