@model IFMIS.Areas.LoanMod.Models.LoanCase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>LoanCase</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoanApplicationId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanApplicationId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CaseNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CaseNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CaseDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CaseDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameoftheCourt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameoftheCourt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameoftheLawyer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameoftheLawyer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PartiesInvolved)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PartiesInvolved)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LegalCharges)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LegalCharges)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CaseStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CaseStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CaseOpeningDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CaseOpeningDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CaseClosingDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CaseClosingDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reasons)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reasons)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LoanCaseId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
