@model IEnumerable<IFMIS.Areas.Gacs.Models.EntityList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubSectorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoteCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SectorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubSectorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserModified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
