@model IFMIS.Areas.Gacs.Models.EntityListVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> GACS Entities Managaement </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            <h4>@Html.DisplayNameFor(model => model.EntityDescription) </h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Sector)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Sector)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SubSector)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SubSector)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.InstitutionalCode)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.InstitutionalCode)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.VoteCode)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VoteCode)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.EntityCode)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EntityCode)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.EntityDescription)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EntityDescription)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ActiveFlag)
                                </dt>

                                <dd>
                                    @if(Model.ActiveFlag==1)
                                        {
                                    <span>Active</span>
                                          }élse{
                                    <span>InActive</span>
                                    }
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactPerson)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ContactPerson)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ContactNumber)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Region)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Region)
                                </dd>



                            </dl>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <a href="@Url.Action("EntitiesList","EntitiesManagement")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                </div>
                            </div>


                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            //SHOW LOADER ICON
            $(document).ajaxStart(function () {
                $(".loadingImg").show();

            });
            //HIDE LOADER ICON
            $(document).ajaxStop(function () {
                $(".loadingImg").hide();
            });


        $("#SectorID").on("change", function () {
            var sectorId = $(this).val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetSubSectors", "EntitiesManagement")',
                data: { id: sectorId },
                success: function (data, status, jqXHR) {
                    $("#SubSectorID option").remove();
                    $("#SubSectorID").append('<option value="">Select Sub Sector</option>');
                    $.each(data.SubSectors, function (i, subSectors) {
                        $("#SubSectorID").append('<option value="'
                            + subSectors.SubSectorID + '">'
                            + subSectors.SubSectorDescription + '</option>');
                    });
                },
                error: function () {
                    swal({
                        text: "Error on accessing Sub Chapters",
                        icon: "error",
                        button: "OK",
                    })
                }
            })
        })

    </script>
}
