@model IFMIS.Areas.IFMISTZ.Models.TicketVM
@{
    ViewBag.Title = "Preview Ticket";
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }

    .pFontSize {
        font-size: 12px;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Ticket Details </h2>

                    </header>

                    @Html.HiddenFor(model => model.TicketsId)
                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                        <div class="container" style="margin-left:2px;margin-top:5px">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">Ticket Details</a>
                                </li>
                                @*<li><a href="#2" data-toggle="tab">Call History</a> </li>*@
                                <li><a href="#3" data-toggle="tab">Attachment</a> </li>
                                @*<li><a href="#4" data-toggle="tab">Activity</a> </li>*@
                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />
                                            <table class="table  table-hover table-condensed">

                                                <tbody>
                                                    <tr>
                                                        @if (ViewBag.InstitutionCode == IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                        {
                                                        <tr>
                                                            <td style="width:20%">Institution Name</td>
                                                            <td>@Html.DisplayFor(modelItem => Model.InstitutionName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">Institution Code</td>
                                                            <td>@Html.DisplayFor(modelItem => Model.InstitutionCode)</td>
                                                        </tr>
                                                        }

                                                        <tr>
                                                            <td style="width:20%">
                                                                Ticket Number
                                                            </td>
                                                            <td>
                                                                <strong>@Html.DisplayFor(model => model.TicketNumber)</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Title
                                                            </td>
                                                            <td>
                                                                <strong>@Html.DisplayFor(model => model.Title)</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Ticket Detail
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.Description)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Module Name
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.ModuleName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:20%">
                                                                Sub Module Name
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.SubModuleName)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Category Name
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.TicketCategoryName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:20%">
                                                                Fullname
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Phonenumber
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.PhoneNumber)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Email
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.Email)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Priority
                                                            </td>
                                                            @if (Model.Priority == "1")
                                                            {
                                                                <td>NORMAL</td>
                                                            }
                                                            @if (Model.Priority == "2")
                                                            {
                                                                <td>MEDIUM</td>
                                                            }
                                                            @if (Model.Priority == "3")
                                                            {
                                                                <td>HIGH</td>
                                                            }
                                                            @if (Model.Priority == "4")
                                                            {
                                                                <td>URGENT</td>
                                                            }
                                                        </tr>

                                                        <tr>
                                                            <td style="width:20%">
                                                                Status
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.OverAllStatus)

                                                            </td>
                                                        </tr>
                                                        @if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                        {
                                                            if (ViewBag.Description != null && Model.OverAllStatus == IFMIS.Libraries.Constants.RESOLVED && Model.MofpView == IFMIS.Libraries.Constants.YES)
                                                            {
                                                                <tr>
                                                                    <td style="width:20%">Description</td>
                                                                    <td>
                                                                        @ViewBag.Description
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.Description != null)
                                                            {
                                                                <tr>
                                                                    <td style="width:20%">Description</td>
                                                                    <td>
                                                                        @ViewBag.Description
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>
                                                                @Convert.ToDateTime(Model.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")
                                                            </td>
                                                        </tr>



                                                    @if (User.IsInRole("Helpdesk Ticket Assignment"))
                                                    {

                                                        if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                        {
                                                            if (Model.MofpView != IFMIS.Libraries.Constants.YES)
                                                            {
                                                                <tr><td>Assign Support Team</td><td><p><a href="#" data-toggle="modal" data-target="#AssignTickets" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title' class="assign_tickets  btn-xs edit"><i class="fa fa-edit"></i>Assign</a></p></td></tr>
                                                                <tr><td>Foward Ticket</td><td> <p id="decisionList"><a href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber' class="foward_ticket  btn-xs edit">Foward</a></p></td></tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.UserLevelLabel == Model.LevelLabel)
                                                            {
                                                                <tr><td>Assign Support Team</td><td><p><a href="#" data-toggle="modal" data-target="#AssignTickets" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title' class="assign_tickets  btn-xs edit"><i class="fa fa-edit"></i>Assign</a></p></td></tr>

                                                                if (ViewBag.UserLevelLabel != IFMIS.Libraries.Constants.LEVEL_THREE)
                                                                {
                                                                    <tr><td>Foward Ticket</td><td><p id="decisionList"><a href="#" data-toggle="modal" data-id=@Model.TicketsId data-ticket='@Model.TicketNumber' class="foward_ticket  btn-xs edit">Foward </a></p></td></tr>
                                                                }
                                                            }

                                                            if (Model.LevelName != ViewBag.CheckLevel)
                                                            {

                                                                if (Model.MofpView == IFMIS.Libraries.Constants.YES && (Model.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE))
                                                                {

                                                                    if (Model.OverAllStatus == IFMIS.Libraries.Constants.FOWARDED_TO_SUPERVISOR)
                                                                    {
                                                                        <tr><td>Foward Ticket</td><td><p id="decisionList"><a href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber' class="foward_ticket  btn-xs edit">Foward</a></p></td></tr>
                                                                    }
                                                                }

                                                                if ((Model.MofpView != IFMIS.Libraries.Constants.YES) && (Model.InstitutionCode == IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE) && (ViewBag.UserLevelLabel != Model.LevelLabel))
                                                                {
                                                                    if (Model.OverAllStatus == IFMIS.Libraries.Constants.FOWARDED_TO_SUPERVISOR)
                                                                    {
                                                                        <tr><td>Foward Ticket</td><td><p id="decisionList"><a href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber' class="foward_ticket  btn-xs edit">Foward</a></p></td></tr>
                                                                    }
                                                                }
                                                            }

                                                        }

                                                    }

                                                        @if ((User.IsInRole("Helpdesk Assigned Tickets")))
                                                        {
                                                            if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                            {
                                                                if (Model.MofpView != IFMIS.Libraries.Constants.YES)
                                                                {
                                                                    if (Model.OverAllStatus != IFMIS.Libraries.Constants.FOWARDED_TO_SUPERVISOR)
                                                                    {
                                                                        if (Model.OverAllStatus != IFMIS.Libraries.Constants.RESOLVED)
                                                                        {
                                                                            <tr><td>Ticket Remarks</td><td><p><a class="pFontSize activity" href="#" data-toggle="modal" data-target="#Activity" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title'>Remarks</a></p></td></tr>
                                                                        }
                                                                    }
                                                                }

                                                            }
                                                            else
                                                            {
                                                                if (ViewBag.UserLevelLabel == Model.LevelLabel && Model.OverAllStatus != IFMIS.Libraries.Constants.RESOLVED)
                                                                {
                                                                    <tr><td>Ticket Remarks</td><td><p><a class="pFontSize activity" href="#" data-toggle="modal" data-target="#Activity" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title'>Remarks</a></p></td></tr>
                                                                }
                                                            }
                                                        }

                                                        @if (ViewBag.UserWhoInitiate == Model.UserId && Model.OverAllStatus == IFMIS.Libraries.Constants.RESOLVED)
                                                        {
                                                            <tr><td>Ticket Remarks</td><td><p><a class="pFontSize activityStatus" href="#" data-toggle="modal" data-target="#ActivityStatus" data-id=@Model.TicketsId data-ticket_numbers='@Model.TicketNumber' data-actitle='@Model.Title'>Remarks</a></p></td></tr>
                                                        }
                                                      @*<tr><td>Ticket Cancellation</td> <td><a href="#" data-toggle="modal" class="ticketCancellation   delete" data-id=@Model.TicketsId data-lpo='@Model.TicketNumber'><i class="fa fa-trash-o"></i> Cancel</a></td></tr>*@
                                                    </tbody>
                                                </table>

                                                @*@if (User.IsInRole("Helpdesk Ticket Assignee"))
                                                    {*@
                                                @if (ViewBag.ActivityDescription != null)
                                                {
                                                    @*<center><h6>Call History</h6></center>*@
                                                    <table id="dt_ticket_listing" class="table table-bordered table-condensed table-amount">
                                                        <thead>
                                                            <tr>
                                                                <td>#</td>
                                                                <td>User</td>
                                                                <th>Category</th>
                                                                <td style="max-width:60% !important;">Description</td>
                                                                <td>Ticket Status</td>
                                                                <td>Date</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int i = 0;
                                                            }
                                                            @foreach (var item in ViewBag.ActivityDescription)
                                                            {
                                                                var user = @item.CreatedBy;
                                                                i++;
                                                                <tr>
                                                                    <td>@i</td>
                                                                    <td>@user.Replace('.', ' ')</td>
                                                                    <td>
                                                                        @if (@item.CategoryName == @IFMIS.Libraries.Constants.USER)
                                                                        {
                                                                            if (@item.OverAllStatus.ToUpper() == @IFMIS.Libraries.Constants.OPENED || @item.OverAllStatus.ToUpper() == @IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                            {
                                                                                @IFMIS.Libraries.Constants.USER
                                                                            }
                                                                            else
                                                                            {

                                                                                @IFMIS.Libraries.Constants.SUPPORT_TEAM.ToUpper()
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (item.CategoryName == null)
                                                                            {
                                                                                @IFMIS.Libraries.Constants.USER
                                                                            }
                                                                            else
                                                                            {
                                                                                @item.CategoryName.ToUpper()
                                                                            }
                                                                        }
                                                                    </td>

                                                                    <td>@item.Description</td>
                                                                    @if (item.CategoryName == IFMIS.Libraries.Constants.USER)
                                                                    {

                                                                        if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.OPENED || item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper() AT LEVEL 1 </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.FOWARDED.ToUpper())
                                                                            {
                                                                                <td>@item.OverAllStatus.ToUpper() TO LEVEL @item.UserFriendlyStatus </td>
                                                                            }
                                                                            else if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                            {
                                                                                <td>@item.OverAllStatus.ToUpper()</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>@item.OverAllStatus.ToUpper() AT LEVEL @item.UserFriendlyStatus </td>
                                                                            }

                                                                        }
                                                                    }
                                                                    else
                                                                    {

                                                                        if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.FOWARDED.ToUpper())
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper() TO LEVEL @item.UserFriendlyStatus </td>
                                                                        }
                                                                        else if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper()</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper() AT LEVEL @item.UserFriendlyStatus </td>
                                                                        }

                                                                    }

                                                                    <td>@Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                                </tr>
                                                            }

                                                        </tbody>



                                                    </table>
                                                                }
                                                                @*}*@

                                                            </div>

                                                        </div>
                                                    </div>

                                                    @*<div class="tab-pane" id="2">
                                                            <div class="col-md-12" style="margin-top:15px">
                                                                @if (ViewBag.ActivityDescription != null)
                                                                {
                                                                    <div class="smart-timeline">
                                                                        <ul class="smart-timeline-list" style="height:300px !important;overflow-y:scroll">
                                                                            @{ int k = 0;

                                                                                foreach (var item in ViewBag.ActivityDescription)
                                                                                {
                                                                                    k++;
                                                                                    var user = @item.CreatedBy;
                                                                                    <li>
                                                                                        <div class="smart-timeline-icon">
                                                                                            <i class="fa fa-user"></i>
                                                                                        </div>

                                                                                        <div class="smart-timeline-content">
                                                                                            <p>
                                                                                                <a href="javascript:void(0);"><strong>@user.Replace('.', ' ') <br /> @item.OverAllStatus </strong></a> &nbsp;&nbsp; <small>@Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")</small>
                                                                                            </p>
                                                                                            <p>@item.Description</p>
                                                                                        </div>
                                                                                    </li>
                                                                                }

                                                                            }

                                                                        </ul>
                                                                    </div>
                                                                                }
                                                            </div>
                                                        </div>*@

                                                    <div class="tab-pane" id="3" style="width:100%;height:auto">
                                                        <div class="col-md-4" style="margin-top:15px">
                                                            @if (Model.AttachmentName == null)
                                                            {
                                                                <p>Attachment Not Found</p>
                                                            }
                                                            else
                                                            {
                                                                <p><a href="#" onclick="previewAttachment('@Model.AttachmentName')" class="btn-xs edit">View Attachment</a></p>
                                                            }
                                                        </div>
                                                        @if (Model.AttachmentName != null)
                                                        {
                                                            <div class="col-md-8" style="margin-top:15px">
                                                                <div style="border:0px solid #efeaea;width:900px;float:right;margin:10px -10px 0px 0px;">
                                                                    <iframe height="400" id="attachmentImage2" width="100%" height="auto" src="" style="border:0px"></iframe>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    @*<div class="tab-pane" id="4" style="width:100%;height:auto">
                                                            <div style="margin-left:20px">
                                                                @if (User.IsInRole("Helpdesk Ticket Assignment"))
                                                                {

                                                                    if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                                    {
                                                                        if (Model.MofpView != IFMIS.Libraries.Constants.YES)
                                                                        {
                    
                                                                                <p><a class="pFontSize assign_tickets" href="#" data-toggle="modal" data-target="#AssignTickets" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title' >Assign</a></p>
                                                                            
                                                                            <p><a class="pFontSize foward_ticket" href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber'>Foward</a></p>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (ViewBag.UserLevelLabel == Model.LevelLabel)
                                                                        {
                                                                            <p><a class="pFontSize assign_tickets" href="#" data-toggle="modal" data-target="#AssignTickets" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title'>Assign</a></p>
                                                                        }

                                                                        if (ViewBag.UserLevelLabel == Model.LevelLabel && Model.LevelName == ViewBag.CheckLevel && Model.LevelLabel != IFMIS.Libraries.Constants.LEVEL_THREE)
                                                                        {
                                                                            <p><a class="pFontSize foward_ticket" href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber'>Foward</a></p>
                                                                        }

                                                                        if (Model.LevelName == ViewBag.CheckLevel)
                                                                        {

                                                                            if (Model.MofpView == IFMIS.Libraries.Constants.YES && (Model.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE))
                                                                            {

                                                                                if (Model.OverAllStatus == IFMIS.Libraries.Constants.FOWARDED_TO_SUPERVISOR)
                                                                                {
                                                                                    <p><a class="pFontSize foward_ticket" href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber' >Foward</a></p>
                                                                                }
                                                                            }

                                                                            if ((Model.MofpView != IFMIS.Libraries.Constants.YES) && (Model.InstitutionCode == IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE))
                                                                            {

                                                                                if (Model.OverAllStatus == IFMIS.Libraries.Constants.FOWARDED_TO_SUPERVISOR)
                                                                                {
                                                                                    <p><a class="pFontSize foward_ticket" href="#" data-toggle="modal" data-id=@Model.TicketsId data-ttitle='@Model.Title' data-ticket='@Model.TicketNumber' >Foward</a></p>
                                                                                }
                                                                            }
                                                                        }

                                                                    }

                                                                }

                                                                @if (!(User.IsInRole("Helpdesk Ticket Assignment"))) {
                                                                if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                                {
                                                                    if (Model.MofpView != IFMIS.Libraries.Constants.YES)
                                                                    {
                                                                        if (Model.OverAllStatus != IFMIS.Libraries.Constants.FOWARDED_TO_SUPERVISOR)
                                                                        {
                                                                            if (Model.OverAllStatus != IFMIS.Libraries.Constants.RESOLVED)
                                                                            {
                                                                                <p><a class="pFontSize activity" href="#" data-toggle="modal" data-target="#Activity" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title'>Remarks</a></p>
                                                                            }
                                                                            }
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        if (ViewBag.UserLevelLabel == Model.LevelLabel && Model.OverAllStatus != IFMIS.Libraries.Constants.RESOLVED)
                                                                        {
                                                                        <p><a class="pFontSize activity" href="#" data-toggle="modal" data-target="#Activity" data-id=@Model.TicketsId data-ticket_number='@Model.TicketNumber' data-atitle='@Model.Title'>Remarks</a></p>
                                                                        }
                                                                    }
                                                                }

                                                                @if (ViewBag.UserWhoInitiate == Model.UserId && Model.OverAllStatus == IFMIS.Libraries.Constants.RESOLVED)
                                                                {
                                                                    <p><a class="pFontSize activityStatus" href="#" data-toggle="modal" data-target="#ActivityStatus" data-id=@Model.TicketsId data-ticket_numbers='@Model.TicketNumber' data-actitle='@Model.Title'>Remarks</a></p>
                                                                }
                                                            </div>
                                                        </div>*@

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-offset-2">
                                            <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                        </div>
                                    </div>
                                </article>

                            </div>
                        </section>

                    </div>

                    <div class="modal fade" id="AssignTickets">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h4 align="center">Assign Ticket:<span id="ticket_number"></span></h4>
                                </div>

                                <div class="modal-body form-horizontal">
                                    <h5 align="center"><span id="atitle"></span></h5>
                                    <br />
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Remark">Support Team</label>
                                        <div class="col-md-7">
                                            <input type="text" name="SupportTeamId" class="form-control" required id="SupportTeamId" placeholder="Enter Employee's username or checknumber" style="width:300px" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="CheckNumber"> Check Number</label>
                                        <div class="col-md-7">
                                            <input type="text" name="CheckNumber" id="CheckNumber" readonly style="width:300px" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Firstname"> Firstname</label>
                                        <div class="col-md-7">
                                            <input type="text" name="FirstName" id="FirstName" readonly style="width:300px" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Surname"> Surname</label>
                                        <div class="col-md-7">
                                            <input type="text" name="LastName" id="LastName" readonly style="width:300px" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Email"> Email</label>
                                        <div class="col-md-7">
                                            <input type="text" name="Email" id="Email" readonly style="width:300px" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Phonenumber"> Phone Number</label>
                                        <div class="col-md-7">
                                            <input type="text" name="PhoneNumber" id="PhoneNumber" readonly style="width:300px" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                    <button type="submit" class="btn btn-info" id="form_submission">
                                        <i class="fa fa-save"></i>Assign
                                        <img src="~/Content/img/loading.gif" class="assignFormLoader" />
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="FowardTicket">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h4 align="center">Foward Ticket:<span id="tticket_number"></span></h4>
                                </div>

                                <div class="modal-body form-horizontal">
                                    <h5 align="center"><span id="ftitle"></span></h5>
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="TicketNumber" id="TicketNumber" />
                                    <input type="hidden" name="TicketId" id="TicketId" />
                                    <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Firstname"> Description (<span style="font-weight:bold;" id="DescriptionCount">250</span>) </label>
                                        <div class="col-md-7">
                                            <textarea rows="5" id="Description" name="Description" maxlength="250" style="width:300px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                    <button type="submit" class="btn btn-info" id="foward_form_submission">
                                        <i class="fa fa-save"></i>Foward
                                        <img src="~/Content/img/loading.gif" class="saveLoader" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Activity">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h4 align="center">Ticket Remarks</h4>
                                </div>

                                <div class="modal-body form-horizontal">
                                    <br />
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Status"> Status</label>
                                        <div class="col-md-7">
                                            @if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                            {
                                                @Html.DropDownList("Status2", new List<SelectListItem>{
                            new SelectListItem{ Text="--Select ---", Value = "" },
                            new SelectListItem{ Text="IN PROGRESS", Value = "INPROGRESS" },
                            new SelectListItem{ Text="PENDING", Value = "PENDING" },
                            new SelectListItem{ Text="RESOLVE", Value = "RESOLVED" },
                            new SelectListItem{ Text="FOWARD TO SUPERVISOR", Value = "FOWARDED" },
                             }, new { @class = "form-control", style = "width:300px;" })
                                            }
                                            else
                                            {
                                                if (ViewBag.LevelLabel == IFMIS.Libraries.Constants.LEVEL_THREE)
                                                {
                                                    @Html.DropDownList("Status2", new List<SelectListItem>{
                            new SelectListItem{ Text="--Select ---", Value = "" },
                            new SelectListItem{ Text="IN PROGRESS", Value = "INPROGRESS" },
                            new SelectListItem{ Text="PENDING", Value = "PENDING" },
                            new SelectListItem{ Text="RESOLVE", Value = "RESOLVED" }
                             }, new { @class = "form-control", style = "width:300px;" })
                                                }
                                                else
                                                {
                                                    @Html.DropDownList("Status2", new List<SelectListItem>{
                            new SelectListItem{ Text="--Select ---", Value = "" },
                            new SelectListItem{ Text="IN PROGRESS", Value = "INPROGRESS" },
                            new SelectListItem{ Text="PENDING", Value = "PENDING" },
                            new SelectListItem{ Text="RESOLVE", Value = "RESOLVED" },
                            new SelectListItem{ Text="FOWARD TO SUPERVISOR", Value = "FOWARDED" },
                             }, new { @class = "form-control", style = "width:300px;" })

                                                }

                                            }

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Description_"> Description (<span style="font-weight:bold;" id="DescriptionCount2">250</span>) </label>
                                        <div class="col-md-7">
                                            <textarea rows="5" id="Description2" name="Description2" maxlength="250" style="width:300px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                    <button type="submit" class="btn btn-info" id="activity_form_submission">
                                        <i class="fa fa-save"></i>Save
                                        <img src="~/Content/img/loading.gif" class="saveActivityLoader" />
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="ActivityStatus">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h4 align="center">Ticket Remarks</h4>
                                </div>

                                <div class="modal-body form-horizontal">
                                    <br />
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Status"> Status</label>
                                        <div class="col-md-7">
                                            @Html.DropDownList("Status3", new List<SelectListItem>{
                            new SelectListItem{ Text="--Select ---", Value = "" },
                                new SelectListItem{ Text="CLOSE", Value = "Closed" },
                            new SelectListItem{ Text="REOPEN", Value = "Opened" },
                                }, new { @class = "form-control", style = "width:300px;" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="Description_"> Description (<span style="font-weight:bold;" id="DescriptionCount3">250</span>)</label>
                                        <div class="col-md-7">
                                            <textarea rows="5" id="Description3" name="Description3" maxlength="250" style="width:300px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                    <button type="submit" class="btn btn-info" id="form_submission_status">
                                        <i class="fa fa-save"></i>Save
                                        <img src="~/Content/img/loading.gif" id="saveLoaderStatus" />
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                    @section pagespecific{

                        <script>
        // ============ INIT DATA TABLES START =====================
        var dt_ticket_listing = $('#dt_ticket_listing').dataTable();

        $("#dt_ticket_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_ticket_listing.DataTable().search(this.value).draw();
        });

        function previewAttachment(slipfile) {
            var url = '@Url.Content("~/Media/HelpDesk/Tickets/")' + slipfile;
            document.getElementById("attachmentImage2").src = url;
        };


            $(".ticketCancellation").on('click', function () {
                var id = $(this).data('id');
                var lpo = $(this).data('lpo');
                swal({
                    title: 'Cancellation',
                    text: "Do you what to Cancel Ticket   " + lpo + " ?",
                    buttons: [
                        'No',
                        'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        var url = '@Url.Action("CancelTicket", "Tickets")';
                        $.ajax(
            {
                type: "POST",
                url: url,
                data: { id: id },
                success: function (response) {
                    if (response == "Success") {

                        swal("Ticket Cancelled successfully!", { icon: "success" })
                                    .then((value) => {
                                        location.reload();
                                    });
                    }
                    else {

                        swal("Failed to Cancel Ticket" + response);
                    }
                },
                error: function (xhr) {
                    swal(error);
                    $("#divLoader").hide();
                },

            });
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });

            });


            $('#Description').on("keyup", function () {
                var count = $('#Description').val().split('');
                var numChars = 250 - parseInt(count.length);
                $('#DescriptionCount').text(parseInt(numChars));
            });

            $('#Description2').on("keyup", function () {
                var count = $('#Description2').val().split('');
                var numChars = 250 - parseInt(count.length);
                $('#DescriptionCount2').text(parseInt(numChars));
            });

            $('#Description3').on("keyup", function () {
                var count = $('#Description3').val().split('');
                var numChars = 250 - parseInt(count.length);
                $('#DescriptionCount3').text(parseInt(numChars));
            });
            //SHOW LOADER ICON
            $(document).ajaxStart(function () {
                $(".loadingImg").show();

            });
            //HIDE LOADER ICON
            $(document).ajaxStop(function () {
                $(".loadingImg").hide();
            });

            $(document).ready(function () {
                $(".saveLoader").toggle(false);
                $(".assignFormLoader").toggle(false);

            });

            var message = '@TempData["Message"]';
            if (message == "Success") {
                swal("Ticket Saved Successfully!", { icon: "success" })
                                  .then((value) => {
                                      location.reload();
                                  });
            }

            if (message == "Updated") {
                swal("Ticket Updated Successfully!", { icon: "success" })
                                  .then((value) => {
                                      location.reload();
                                  });
            }

            if (message == "Error") {
                swal("Error saving Tickets Entry. Please contact System Administrator", { icon: "warning" })
                                  .then((value) => {
                                      location.reload();
                                  });
            }

            // ********************** INIT DATA TABLES END **********************

            $(".foward_ticket").on('click', function () {
                var id = $(this).data('id');
                var ticket = $(this).data('ticket');
                var title = $(this).data('ttitle');
                swal({
                    title: 'Foward Ticket',
                    text: "Do you want to Foward Ticket: " + ticket + " to Ministry of Finance Support Team?",
                    buttons: [
                      'No',
                      'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        $('#FowardTicket').modal('show');
                        $('#tticket_number').text(ticket);
                        $('#ftitle').text(title);
                        $('#TicketNumber').val(ticket);
                        $('#TicketId').val(id);
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });

            });


            $("#foward_form_submission").click(function () {
                var ticketId = document.getElementById("TicketId").value;
                var Description = document.getElementById("Description").value;
                if (Description == "") {
                    swal("Description is Required.", { icon: "warning" })
                    .then((value) => { });
                    $("#foward_form_submission").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    return
                }
                var form_data = {
                    "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                    "TicketsId": ticketId,
                    "Description": Description
                }

                var url = '@Url.Action("FowardTicket", "Tickets")';
                var urlList = '@Url.Action("TicketsList", "Tickets")';
                $("#foward_form_submission").prop('disabled', true);
                $(".saveLoader").toggle(true);
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#foward_form_submission").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Ticket Fowarded Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#foward_form_submission").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(error);
                    }
                });
            });

            var ticketId = null;
            var SupportTeamId = null;
            $(".assign_tickets").on('click', function () {
                var id = $(this).data('id');
                ticketId = id;
                var ticket_number = $(this).data('ticket_number');
                var title = $(this).data('atitle');
                $("#ticket_number").text(ticket_number);
                $("#atitle").text(title);
                $(".modal-body #Id").val(id);

            });


            $(".assignFormLoader").toggle(false);
            $("#form_submission").click(function () {
                var form_data = {
                    "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                    "SupportTeamId": $("#CheckNumber").val(),
                    "UserId": '@ViewBag.UserId',
                    "TicketsId": '@Model.TicketsId',
                    "Email": $("#Email").val()
                }
                var Email = $("#Email").val();
                if (!Email) {
                    swal("Please Choose Support Team", { icon: "warning" })
                                                            .then((value) => { });
                    $("#form_submission").prop('disabled', false);
                    $(".assignFormLoader").toggle(false);
                    return
                }
                var url = '@Url.Action("AssignTickets", "Tickets")';
                var urlList = '@Url.Action("TicketsList", "Tickets")';
                $("#form_submission").prop('disabled', true);
                $(".assignFormLoader").toggle(true);
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submission").prop('disabled', false);
                        $(".assignFormLoader").toggle(false);
                        if (response == "Success") {
                            swal("Ticket Assigned Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submission").prop('disabled', false);
                        $(".assignFormLoader").toggle(false);
                        swal(error);
                    }
                });
            });

            $(function () {
                var url = null
                if ('@User.IsInRole("Super Admin")' || '@User.IsInRole("Helpdesk Support Assignment")') {
                    url = '@Url.Action("AdminGetAssignedEmployees", "Tickets")';
                } else {
                    url = '@Url.Action("GetAssignedEmployees", "Tickets")';
                }

                $("#SupportTeamId").select2({
                    minimumInputLength: 2,  // minimumInputLength for sending ajax request to server..
                    width: 'resolve',   // to adjust proper width of select2 wrapped elements
                    placeholder: 'Select Employee',
                    ajax: {
                        url: url, // Controller - Select2Demo and Action -AccessRemoteData
                        type: "POST",
                        dataType: 'json',
                        data: function (term) {
                            return {
                                term: term
                            };
                        },
                        results: function (data, page) {
                            return { results: data.employees }; // data.CountryList returning json data from Controlle
                        }
                    }
                });
            });

            $('#SupportTeamId').on("change", function () {
                var employeeId = $("#SupportTeamId").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetEmployee", "Tickets")',
                    data: { id: employeeId },
                    success: function (data, status, jqXHR) {
                        if (data.success) {
                            $("#CheckNumber").val(data.CheckNumber);
                            $("#UserName").val(data.UserName);
                            $("#FirstName").val(data.FirstName);
                            $("#MiddleName").val(data.MiddleName);
                            $("#LastName").val(data.LastName);
                            $("#PhoneNumber").val(data.PhoneNumber);
                            $("#Email").val(data.Email);
                        } else {
                            alert('Error on accessing employee details');
                        }
                    },
                    error: function () {
                        alert("Error on accessing employee details...");
                    }
                })
            });

            $(".saveActivityLoader").toggle(false);
            $("#activity_form_submission").click(function () {
                $("#activity_form_submission").prop('disabled', true);
                $(".saveActivityLoader").toggle(true);
                var form_data = {
                    "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                    "TicketNumber": '@Model.TicketNumber',
                    "Status": $("#Status2").val(),
                    "Description": $("#Description2").val(),
                    "TicketsId": '@Model.TicketsId'
                }

                var Status = $("#Status2").val();
                var Description = $("#Description2").val();
                if (!Status || !Description) {
                    swal("Please Fill the Required Fields", { icon: "warning" })
                                                            .then((value) => { });
                    $("#activity_form_submission").prop('disabled', false);
                    $(".saveActivityLoader").toggle(false);
                    return
                }
                var url = '@Url.Action("Activity", "Tickets")';
                var urlList = '@Url.Action("MyTicketList", "Tickets")';
                $("#activity_form_submission").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            $("#activity_form_submission").prop('disabled', false);
                            $(".saveActivityLoader").toggle(false);
                            swal("Ticket Activity Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#activity_form_submission").prop('disabled', false);
                        $(".saveActivityLoader").toggle(false);
                        swal(error);
                    }
                });
            });

            //start ticket status
            var ticketsId = null;
            var ticketNumbers = null;
            $(".activityStatus").on('click', function () {
                var id = $(this).data('id');
                ticketsId = id;
                ticketNumbers = $(this).data('ticket_numbers');
                var title = $(this).data('actitle');
                $("#ticket_numbers").text(ticketNumbers);
                $("#actitle").text(title);
                $(".modal-body #Id").val(id);

            });


            $("#saveLoaderStatus").toggle(false);
            $("#form_submission_status").click(function () {

                var Status = $("#Status3").val();
                var Description = $("#Description3").val();
                if (!Status) {
                    swal("Status is Required", { icon: "warning" })
                                                            .then((value) => { });
                    $("#form_submission_status").prop('disabled', false);
                    $("#saveLoaderStatus").toggle(false);
                    return
                }

                if (Status == "Opened" && !Description) {
                    swal("Description Field is Required", { icon: "warning" })
                                                            .then((value) => { });
                    $("#form_submission_status").prop('disabled', false);
                    $("#saveLoaderStatus").toggle(false);
                    return
                }

                if (Status == "Closed" && !Description) {
                    Description = 'Closed';
                }

                var form_data = {
                    "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                    "TicketNumber": '@Model.TicketNumber',
                    "Status": $("#Status3").val(),
                    "Description": Description,
                    "TicketsId": '@Model.TicketsId'
                }

                var url = '@Url.Action("TicketStatus", "Tickets")';
                var urlList = '@Url.Action("RegisterTickets", "Tickets")';
                $("#form_submission_status").prop('disabled', true);
                $("#saveLoaderStatus").toggle(true);
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submission_status").prop('disabled', false);
                        $("#saveLoaderStatus").toggle(false);
                        if (response == "Success") {
                            swal("Ticket  " + Status + " Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            $("#saveLoaderStatus").toggle(false);
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submission_status").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        $("#saveLoaderStatus").toggle(false);
                        swal(error);
                    }
                });
            });
            //end ticket status
        // ********************** INIT DATA TABLES END **********************
                        </script>
                    }
