@model IFMIS.Areas.IFMISTZ.Models.TicketVM
@{
    ViewBag.Title = "Preview Ticket";
}
<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Ticket Activities </h2>

                    </header>
                    @Html.HiddenFor(model => model.TicketsId)
                    <div>
                        <div class="row">

                            <div class="col-md-6">
                                <div id="Activity">

                                    <div class="">
                                        <div class="modal-body form-horizontal">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="Status"> Status</label>
                                                <div class="col-md-7">
                                                    @Html.DropDownList("Status", new List<SelectListItem>{
                                                new SelectListItem{ Text="--Select ---", Value = "" },
                                                //new SelectListItem{ Text="IN PROGRESS", Value = "INPROGRESS" },
                                                 new SelectListItem{ Text="PENDING", Value = "PENDING" },
                                                new SelectListItem{ Text="RESOLVE", Value = "RESOLVED" },
                                                 new SelectListItem{ Text="FOWARD", Value = "FOWARDED" },
                                                 }, new { @class = "form-control", style = "width:300px;" })
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="Firstname"> Description</label>
                                                <div class="col-md-7">
                                                    <textarea rows="5" id="Description" name="Description" style="width:300px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                            <button type="submit" class="btn btn-info" id="form_submision">
                                                <i class="fa fa-save"></i>Save

                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table  table-hover table-condensed">

                                    <tbody>
                                        <tr>
                                            @if (ViewBag.InstitutionCode == IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                            {
                                            <tr>
                                                <td style="width:20%">Institution Name</td>
                                                <td>@Html.DisplayFor(modelItem => Model.InstitutionName)</td>
                                            </tr>
                                                <tr>
                                                    <td style="width:20%">Institution Code</td>
                                                    <td>@Html.DisplayFor(modelItem => Model.InstitutionCode)</td>
                                                </tr>
                                            }
                                            </tr>
                                            <tr>
                                                <td style="width:20%">
                                                    Ticket Number
                                                </td>
                                                <td>
                                                    <strong>@Html.DisplayFor(model => model.TicketNumber)</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:20%">
                                                    Title
                                                </td>
                                                <td>
                                                    <strong>@Html.DisplayFor(model => model.Title)</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:20%">
                                                    Description
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.Description)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:20%">
                                                    Priority
                                                </td>
                                                @if (Model.Priority == "1")
                                                {
                                                    <td>NORMAL</td>
                                                }
                                                @if (Model.Priority == "2")
                                                {
                                                    <td>MEDIUM</td>
                                                }
                                                @if (Model.Priority == "3")
                                                {
                                                    <td>HIGH</td>
                                                }
                                                @if (Model.Priority == "4")
                                                {
                                                    <td>URGENT</td>
                                                }
                                            </tr>

                                            <tr>
                                                <td style="width:20%">
                                                    Status
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.OverAllStatus)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Date</td>
                                                <td>
                                                    @Convert.ToDateTime(Model.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Attachment</td>
                                                @if (Model.AttachmentName == null)
                                                {
                                                    <td>NILL</td>
                                                }
                                                else
                                                {
                                                    <td><a href="~/Media/HelpDesk/Tickets/@Model.AttachmentName" target="_blank">Preview</a></td>
                                                }
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-offset-2">
                            <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                        </div>


                    </div>

                </article>

            </div>
        </section>

    </div>
