@model IFMIS.Areas.IFMISTZ.Models.Account

<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Account Delete</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table width="100%">
                                <tr>
                                    <td colspan="1">

                                        <dl class="dl-horizontal" style="margin-left:20%">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.AccountName)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.AccountName)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.AccountNo)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.AccountNo)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.BankName)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.BankName)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.BankBIC)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.BankBIC)
                                            </dd>
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Status)
                                            </dd>

                                        </dl>

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("Account", "Accounts")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>