@model IFMIS.Areas.IFMISTZ.Models.LoanRecovery

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>LoanRecovery</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoanId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoanId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstitutionName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoanCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoanCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoanDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoanDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRecoveryAmtPrincipal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRecoveryAmtPrincipal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MonthlyRecoveryAmtInterest)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyRecoveryAmtInterest)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecoveryDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecoveryDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoanBalance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoanBalance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecoveryStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecoveryStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrGLAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DrGLAccount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrGLAccountDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DrGLAccountDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CrGLAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CrGLAccount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CrGLAccountDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CrGLAccountDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinancialYear)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubLevelCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubLevelCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubLevelCategory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubLevelCategory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubLevelDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubLevelDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PreparedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreparedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PreparedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PreparedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConfirmedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConfirmedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApprovedAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OverAllStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OverAllStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ExchangeRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExchangeRate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LoanRecoveryId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
