@model IFMIS.Areas.IFMISTZ.Models.SubCosting
<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }
        .input[type="number"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }
    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">SubCosting Creation.</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()

                                           
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                             
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">Costing Name:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                           @Html.DropDownList("CostingId", ViewBag.Costing as SelectList, "", new { @Class = "input", style = "width:300px", required = "required" })
                                                          @Html.ValidationMessageFor(model => model.CostingId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">SubCost Code:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.SubCostCode, new { @Class = "input", style = "width:300px; ", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.SubCostCode, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">SubCosting Name:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.SubCostName, new { @Class = "input", style = "width:300px; ", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.SubCostName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">SubCost Description:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.SubCostDesc, new { @Class = "input", style = "width:300px; ", required = "required"})
                                                            @Html.ValidationMessageFor(model => model.SubCostDesc, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">Unit Cost:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.UnitCost, new { @Class = "input", style = "width:300px; ", required="required", type = "text" })
                                                            @Html.ValidationMessageFor(model => model.UnitCost, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href='@Url.Action("SubCosting", "SubCostings")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                                <i class="glyphicon glyphicon-arrow-left"></i>
                                                                Back
                                                            </a>
                                                            <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                                <i class="fa fa-save"></i>
                                                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                }


                                        </td>
                                        <td colspan="1"></td>
                                    </tr>
                                </table>

                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
@section pagespecific{
    <script>

        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);

    if ('@TempData["Success"]' == 'Success') {
        swal("Saved Successfully!", { icon: 'success' })
             .then(Ok=> {
                 window.location.href = '@Url.Action("SubCosting", "SubCostings")';
             });
    } else if ('@TempData["Success"]' == 'No') {

        swal("This SubCosting Exists!!")

    };

        // ===== thousands commer Separator 

        $("#UnitCost").on("keyup input paste", function () {
            $("#UnitCost").val(inputThousandSeparator(this.value))
        })

        var OldVal = 0
        function inputThousandSeparator(NewVal) {
            if (NewVal) {
                try {
                    NewVal = parseFloat(NewVal.split(",").join(""))
                    if (typeof NewVal == 'number' && !Number.isNaN(NewVal)) {
                        OldVal = NewVal;
                        return NewVal.toLocaleString()
                    } else {
                        return OldVal
                    }
                } catch (e) {
                    console.log(e)
                }
            }
        };

    </script>
    }



