@model IFMIS.Areas.IFMISTZ.Models.SubCosting

@{
    ViewBag.Title = "Delete";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget col-sm-8" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-collapsebutton="false" style="top:50px; width:100%;padding-left:10px;padding-right:10px;">


                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>


                        <h5 style="color:black;"> Delete SubCosting</h5>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">
                            <table width="100%">
                                <tr>
                                    <td colspan="1">


                                        <h3 style="color:red;margin-left:25%">Are you sure you want to delete this?</h3>
                                        <dl class="dl-horizontal" style="margin-left:25%">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Costing.CostCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Costing.CostCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.SubCostCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SubCostCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.SubCostName)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SubCostName)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.SubCostDesc)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.SubCostDesc)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.UnitCost)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.UnitCost)
                                            </dd>

                                        </dl>

                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("SubCosting", "SubCostings")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>