
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " Detail";
}
<link href="~/Content/css/exemption-request.css" rel="stylesheet" />
<link href="~/Content/css/custome-tabs.css" rel="stylesheet" />
<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        min-width: 200px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div style="border:1px solid #ccc;background-color:white">
            <div class="widget-body">
                <div class="tab row-align">
                    <div style="width:100%">
                        <button class="tablinks" onclick="switchTab(event, 'DebtInfo')" id="defaultOpen" style="width:100%">Information</button>
                    </div>
                    <div style="width:100%">
                        <button class="tablinks" onclick="switchTab(event, '_Remarks')" style="width:100%">Remarks</button>
                    </div>
                </div>
                <div style="height:2px;background-color:#2196F3"></div>
                <div id="DebtInfo" class="tabcontent">
                    <div class="detail-section">
                        <div class="row-align">
                            <div style="max-width:500px">
                                <table>
                                    <tr>
                                        <td class="sect-label">Financial Institution Code:</td>
                                        <td>@ViewBag.agency.AgencyCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">TIN Number:</td>
                                        <td>@ViewBag.agency.AgencyTinNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Office Telephone:</td>
                                        <td>@ViewBag.agency.OfficeTel</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Overall Status:</td>
                                        <td>@ViewBag.agency.OverallStatus</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Fee Code:</td>
                                        <td>@ViewBag.agency.AgencyFeeCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Code:</td>
                                        <td>@ViewBag.agency.PayeeCode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Bank Account:</td>
                                        <td>@ViewBag.agency.PayeeBankAccount</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee BIC:</td>
                                        <td>@ViewBag.agency.PayeeBIC</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Require Control Number:</td>
                                        <td>@ViewBag.agency.RequireControlNo</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payer Bank Name:</td>
                                        <td>@ViewBag.agency.PayerAccountName</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Cash Account:</td>
                                        <td>@ViewBag.agency.CashAccount</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Expenditure Account:</td>
                                        <td>@ViewBag.agency.ExpenditureGLAccount</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payable Account:</td>
                                        <td>@ViewBag.agency.PayableGLAccount</td>
                                    </tr>


                                </table>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="sect-label">Financial Institution Name:</td>
                                        <td>@ViewBag.agency.AgencyDesc</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Financial Institution Address:</td>
                                        <td>@ViewBag.agency.address</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Financial Institution Status:</td>
                                        <td>@ViewBag.agency.AgencyStatus</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payment Mode:</td>
                                        <td>@ViewBag.agency.PaymentMode</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Percentage Fee:</td>
                                        <td>@ViewBag.agency.PercentageFee</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Name:</td>
                                        <td>@ViewBag.agency.Payeename</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payee Bank Name:</td>
                                        <td>@ViewBag.agency.PayeeBankName</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">SubBudgetClass:</td>
                                        <td>@ViewBag.agency.SubBudgetClass</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Payee Type:</td>
                                        <td>@ViewBag.agency.PayeeType</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Payer Account Number:</td>
                                        <td>@ViewBag.agency.PayerAccountNum</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="_Remarks" class="tabcontent">
                    <div class="detail-section">
                        <div class="section-content">
                            <div class="chat-list">

                            </div>
                        </div>
                    </div>
                </div>
                @* <div id="Historical" class="tabcontent">
                                <div class="detail-section">
                                    <div style="padding-left:10px;padding-right:10px;padding-top:20px;">
                                        <table id="dt_table" class="table table-bordered table-condensed">
                                          <thead>
                        <tr>
                            <th>#</th>
                            <th>Loan Ctrl No</th>
                            <th>Vendor Name</th>
                            <th>Vendor Bank Account</th>
                            <th>Vendor Bank Name</th>
                            <th>Loan Amount</th>
                            <th>Loan StartDate</th>
                            <th>Loan EndDate</th>
                            <th>Created At</th>
                            <th>Status</th>
                        </tr>
                    </thead>*@
                @*<tbody>
                                        @{ var j = 0;}
                                        @foreach (var item in ViewBag.Historical)
                                        {
                                            j++;
                                            <tr>
                                                <td>@j</td>
                                                <td>@item.LoanCtrlNum</td>
                                                <td>@item.VendorName</td>
                                                <td>@item.BenAcctNum</td>
                                                <td>@item.BenBankName</td>
                                                <td>@string.Format("{0:#,0.00}", item.LoanApplAmount)</td>
                                                <td>@item.FLoanStartDedDate</td>
                                                <td>@item.FLoanEndDedDate</td>
                                                <td>@item.FCreatedAt</td>
                                                <td>@item.OverallStatus</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>*@
            </div>
            <hr />
            <div class="row" style="padding-bottom:10px">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <a class="btn btn-info btn-size" style="margin-right:5px" onclick="window.history.back()">
                        <i class="glyphicon glyphicon-arrow-left ico"></i>Back
                    </a>
                    @if (ViewBag.actionLabel == "Confirm")
                    {
                        <a class="btn btn-info btn-size" style="margin-right:5px" onclick="_cancel('@ViewBag.agency.AgencyId')">
                            <i class="fa fa-times ico"></i>Cancel
                        </a>
                        @*<a class="btn btn-info  btn-size" style="margin-right:5px" onclick="_edit('@ViewBag.agency.AgencyId')">
                            <i class="fa fa-edit ico"></i>Edit
                        </a>*@
                    }
                    else
                    {
                        <a class="btn btn-info btn-size" style="margin-right:5px" onclick="_reject('@ViewBag.agency.AgencyId','Rejected')">
                            <i class="fa fa-times ico"></i>Reject
                        </a>
                    }
                    @if (ViewBag.actionLabel == "Confirm")
                    {
                        <a class="btn btn-info" onclick="_confirm('@ViewBag.agency.AgencyId','Confirmed')">
                            <i class="fa fa-check"></i>@ViewBag.actionLabel
                        </a>
                    }
                    else
                    {
                        if (ViewBag.actionLabel == "Approvedinst") { } else {
                        <a class="btn btn-info" onclick="_approve('@ViewBag.agency.AgencyId','Approved')">
                            <i class="fa fa-check"></i>@ViewBag.actionLabel
                        </a>

                        }
                    }

                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="viewActionModal" style="left:4%;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">

                <div class="widget-body ">

                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <textarea type="text" id="Remarks" style="width:300px" rows="2" cols="50" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">

                                    <td class="form-label" style="border:none">

                                        Attachment
                                    </td>
                                    <td style="border:none">

                                        <div class="name-input-container">

                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="confirmSave()">

                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">

                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/mofJS/custome-tabs.js"></script>

@section pagespecific {
    <script>

        $(function () {
            document.getElementById("defaultOpen").click();
            $("#saveLoader").toggle(false);
        })



     var selectedItemId = 0
     var ation = ""

     function _confirm(Id,a) {
         selectedItemId = Id
         actionType = "Confirm"
         action = a
         $('#viewActionModal').modal('show');
        }
    function _approve(Id, a) {
        selectedItemId = Id
        actionType = "Approve"
        action = a
        $('#viewActionModal').modal('show');
    }
     function _reject(Id, a) {
         selectedItemId = Id
         actionType = "Reject"
         action = a
         $('#viewActionModal').modal('show');
     }
        function _cancel(Id) {
         debugger
         selectedItemId = Id
         actionType = "Cancel"
         action = "Cancelled"
         $('#viewActionModal').modal('show');
        }



     function confirmSave() {
         if ($("#Remarks").val() == '') {
             $("#Remarks").attr("style", "border-color: red;");
         } else {
             swal({
                 title: 'Are you sure you want to ' + actionType + ' this agency?',
                 icon: 'warning',
                 buttons: ['NO', 'YES'],
                 dangerMode: true,
             }).then(function (isConfirmed) {
                 if (isConfirmed) {
                     confirmPost()
                 } else {
                     swal("Cancelled", "No change was made");
                 }
             });
         }
     }

        function confirmPost(Ids) {
         debugger
         $.ajax({
             type: "POST",
             url: '@Url.Action("InstitutionStatus", "FinancialInstitution")',
             data: CreateForm({
                 id: selectedItemId,
                 status: action,
                 level: '@ViewBag.level',
                 remarks: $("#Remarks").val(),
                 file: $("#RemarkAttachment")[0].files[0]
             }),
             contentType: false,
             processData: false,
             success: function (response) {
                 if (response == "Success") {
                     swal("Saved Successfully!", { icon: "success" })
                         .then((e) => window.location.href = '@ViewBag.redirectUrl');
                 }
                 else {
                     swal(response);
                 }
             },
             failure: function (error) {
                 swal(error);
             }
         });
     }


        function CreateForm(form) {
            debugger
            let _form = new FormData();
            for (let key in form) {
                _form.append(key, form[key])
            }
            return _form
        }





    </script>
}