
@{
    ViewBag.Title = "Financial Institution List";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 150px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .wh-holding {
        color: #008636;
        font-size: 10px;
    }

    .bubble-w {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: plum;
        border: 1px solid red;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-info" href='@Url.Action("CreateFinancialInstitution", "FinancialInstitution")'>
                                        <i class="glyphicon glyphicon-plus"></i> Add New
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_py15_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Agency Code</th>
                                        <th>Agency Name</th>
                                        <th>TIN Number</th>
                                        <th>Account Number</th>
                                        <th>Account Name</th>
                                        <th>Bank Name</th>
                                        <th>Fee Code</th>
                                        <th>PercentageFee</th>
                                        <th>Overall Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="commentModal" style="left:4%">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Comment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="AgencyId" id="AgencyId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="Title_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <textarea style="width:300px" rows="2" id="Remarks1" maxlength="350"></textarea><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Attachment
                                    <i class="fa fa-times" style="color:white" id="Title_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="Attachment" id="Attachment" class="input" style="width:300px" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="ConfirmForm()" id="confirmedform">
                        <i class="fa fa-times"></i>Confirm
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RejectModal" style="left:4%">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Comment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="AgencyId" id="AgencyId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="Title_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <textarea style="width:300px" rows="2" id="Remarks" maxlength="350"></textarea><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Attachment
                                    <i class="fa fa-times" style="color:white" id="Title_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" id="Attachment" class="input" style="width:300px" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Close</a>
                    <button type="submit" class="btn btn-info" onclick="CancelForm()" id="confirmedform">
                        <i class="fa fa-times"></i>Cancel
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>



@section pagespecific{

    <script>

         const context = {
            detailsUrl: '@Url.Action("Detail", "FinancialInstitution")',
            actionStatus: 'Confirmed',
            level: 'Create',
            actionLabel: 'Confirm',
            redirectUrl: '@Url.Action("FinancialInstitutionList", "FinancialInstitution")',
            rejectionStatus: ''
        }

        function view(Id) {
            window.location.href = `${context.detailsUrl}/?Id=${Id}
                &actionStatus=${context.actionStatus}
                &level=${context.level}
                &actionLabel=${context.actionLabel}
                &redirectUrl=${context.redirectUrl}
                &rejectionStatus=${context.rejectionStatus}`
        }



        // ============ INIT DATA TABLES START =====================
        var dt_py15_listing = $('#dt_py15_listing').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_py15_listing_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_py15_listing.DataTable().search(this.value).draw();
        });

        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("getFinancialInstitutionList", "FinancialInstitution")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_py15_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_py15_listing.fnAddData([i + 1,
                        data[i]["AgencyCode"],
                        data[i]["AgencyDesc"],
                        data[i]["AgencyTinNo"],
                        data[i]["PayeeBankAccount"],
                        data[i]["PayeeAccountName"],
                        data[i]["PayeeBankName"],
                        data[i]["AgencyFeeCode"],
                        data[i]["PercentageFee"],
                        data[i]["OverallStatus"],
                      '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                               <li><a href="@Url.Action("EditFinancialInstitution", "FinancialInstitution")/?Id=' + data[i]["AgencyId"] + '"><i class="glyphicon glyphicon-pencil"></i>Edit</a></li>\
                               <li><a href="#" onclick= "view(' + data[i]["AgencyId"] + ')"><i class="glyphicon glyphicon-eye-open"></i>Details</a></li>\
                               <li><a href="#" onclick="Delete1(' + i + ')"><i class="glyphicon glyphicon-trash"></i>Cancel</a></li>\
                               <li><a href="#" onclick="Confirm(' + i + ')"><i class="glyphicon glyphicon-ok"></i>Confirm</a></li>\
                            </ul>\
                        </div>\ '
                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function Delete1(i) {
            if (i == 'x');
            swal({
                title: "Are you sure?",
                text: "Once Cancelled, you will not be able to recover this !",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    deleteItemConfirmed(data[i]["AgencyId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }

        function deleteItemConfirmed(Id) {
            debugger
            var url = '@Url.Action("Delete", "FinancialInstitution")';
            $.ajax({
                type: "post",
                url: url,
                data: { "agencyId": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Cancelled Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function Confirm(i) {
            debugger
            $("#AgencyId").text(data[i]["AgencyId"]);
            document.getElementById("AgencyId").value = data[i]["AgencyId"];
            $('#commentModal').modal('show');
        }

        $(".saveLoader").toggle(false);
        function ConfirmForm() {
            debugger
            if ($("#Remarks1").val() == '') {
                $("#Remarks1").attr("style", "border-color: red;");
            } else {
                swal({
                    title: 'Are you sure you want to Confirm this Agency?',
                    //icon: 'warning',
                    buttons: ['NO', 'YES'],
                    dangerMode: true,
                }).then(function (isConfirmed) {
                    if (isConfirmed) {
                        ConfirmForm2()
                    } else {
                        swal("Cancelled", "No change was made", { icon: "warning" });
                    }
                });
            }
        }



        function ConfirmForm2() {
            debugger
            var AgencyId = $("#AgencyId").val();
            var Remarks = $("#Remarks1").val();
            var Attachment = $("#Attachment").val();

            if (AgencyId == '' || Remarks == '') {
                var url = '@Url.Action("FinancialInstitutionList", "FinancialInstitution")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (Attachment != '') {

                var file = document.querySelector("#Attachment");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }

            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('AgencyId', AgencyId);
            formData.append('Remarks', Remarks);
            formData.append('Attachment', $("#Attachment")[0].files[0]);

            Confirmed(formData);
        }

        function Confirmed(formData) {
            $(".loadingImg").show();
            $("#confirmedform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("Confirmation", "FinancialInstitution")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#confirmedform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Confirmed successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });

                    } else {
                        $("#confirmedform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        //swal(response)
                        //window.location.reload();

                        swal(response, { icon: "warning" }).then((e) => {
                            window.location.reload();
                        });
                    }
                },
                failure: function (error) {
                    $("#confirmedform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }


        function Delete(i) {
            debugger
            $("#AgencyId").text(data[i]["AgencyId"]);
            document.getElementById("AgencyId").value = data[i]["AgencyId"];
            $('#RejectModal').modal('show');
        }

        $(".saveLoader").toggle(false);
        function CancelForm() {
            if ($("#Remarks1").val() == '') {
                $("#Remarks1").attr("style", "border-color: red;");
            } else {
                swal({
                    title: 'Are you sure you want to Confirm this Agency?',
                    icon: 'warning',
                    buttons: ['NO', 'YES'],
                    dangerMode: true,
                }).then(function (isConfirmed) {
                    if (isConfirmed) {
                        CancelForm2()
                    } else {
                        swal("Cancelled", "No change was made", { icon: "warning" });
                    }
                });
            }
        }
        function CancelForm2() {
            debugger
            var AgencyId = $("#AgencyId").val();
            var Remarks = $("#Remarks").val();
            var Attachment = $("#Attachment").val();

            if (AgencyId == '' || Remarks == '') {
                var url = '@Url.Action("FinancialInstitutionList", "FinancialInstitution")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (Attachment != '') {

                var file = document.querySelector("#Attachment");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }
            debugger
            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('AgencyId', AgencyId);
            formData.append('Remarks', Remarks);
            formData.append('Attachment', $("#Attachment")[0].files[0]);

            deleteConfirmed(formData);
        }

        function deleteConfirmed(formData) {
            $(".loadingImg").show();
            $("#confirmedform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("Delete", "FinancialInstitution")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#confirmedform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Cancelled successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });

                    } else {
                        $("#confirmedform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response)
                    }
                },
                failure: function (error) {
                    $("#confirmedform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }


    </script>
}

