@model IFMIS.Areas.IFMISTZ.Models.InstitutionCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<!-- widget grid -->
<section id="widget-grid" class="">


    <!-- START ROW -->

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget col-sm-8" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-collapsebutton="false" style="top:50px; width:100%;padding-left:10px;padding-right:10px;">


                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                    <h2 style="color:black;">Create Institution Category.</h2>

                </header>
                <div>
                    <div class="widget-body" style="padding-top:10px; width:100%;">
                        <table style="width:100%;">
                            <tr>
                                <td colspan="1">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()

                                  
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Institution Category:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.InstitutionCategory1, new { @Class = "input", style = "width:300px; ", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.InstitutionCategory1, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>


                                            <table style="margin-left:270px;" cellpadding="10">
                                                <tr>

                                                    <td>
                                                        <div>
                                                            <button type="submit" class="btn btn-info action-btn pull-left" style="color:black;width:80px; " id="btn_save_gl_items">
                                                                <i class="fa fa-save">Save</i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td width="10"></td>
                                               
                                                </tr>
                                            </table>



                                    }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>
                    <table class="table-bordered" style="width:100%; line-height:30px;top:20px;text-align:left">
                        <tr style="background-color:gainsboro">
                            <th> No.</th>
                            <th> Institution Category</th>
                           
                            <th> Action </th>
                        </tr>
                        @{int i = 0;}
                        @foreach (var group in ((IEnumerable<IFMIS.Areas.IFMISTZ.Models.InstitutionCategory>)ViewBag.list).GroupBy(a => a.InstitutionCategoryId))
                        {



                            <tbody>
                                @foreach (var item in group)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td> @item.InstitutionCategory1</td>
                                        <td style="text-align:center">

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">

                                                    <li>
                                                        <a href="@Url.Action("Edit", "InstitutionCategories",new {id=item.InstitutionCategoryId })" class="btn-xs edit">
                                                            <i class="fa fa-edit"></i>  Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Details", "InstitutionCategories",new {id=item.InstitutionCategoryId })" class="btn-xs edit">
                                                            <i class="fa fa-edit"></i>  Details
                                                        </a>
                                                    </li>
                                                    @*<li>
                                                          <a href="@Url.Action("Delete", "InstitutionCategories",new {id=item.InstitutionCategoryId })" class="btn-xs edit">
                                                        <i class="fa fa-edit"></i>  Delete
                                                    </a>
                                                </li>*@




                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                    <br />
                    <br />        
                    </div>
                </div>
            </article>
        </div>
    </section>
