@model IFMIS.Areas.IFMISTZ.Models.PayStation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PayStation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institution.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PayStationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
