@model IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM
@{
    ViewBag.Title = "Approve Purchase Order";

}

<style>
    .submit-btn {
        background-color: white;
        color: black;
        border: 1px solid #538AC5;
        border-radius: 12px;
        padding: 3px;
        padding-right: 10px;
    }

    .searchContainer {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .searchIcon {
        padding: 0.5rem;
    }

    .searchBox {
        border: 0;
        /*padding: 0.5rem 0.5rem 0.5rem 0;*/
        padding: 8px;
        flex: 1;
    }

    .searchButton {
        background: #538AC5;
        border: 0;
        color: white;
        /*padding: 0.5rem;*/
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .action-btn {
        width: 100px;
        border-radius: 10px;
    }

    .action-btn2 {
        border-radius: 10px;
    }
</style>
<div id="content">

    <section id="widget-grid">
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

                <header style="background-color:#2196F3">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Purchase Order</h2>
                </header>

                <div>
                    <div class="widget-body " style="padding-top:10px">
                      
                        @if (Model.OverallStatus.ToUpper() != "APPROVED")
                {
    
        <a href="#" data-toggle="modal" data-id=@Model.PurchaseOrderId class="approval btn btn-default btn-flat" style="width:200px;border-radius:10px;background-color:#2196F3;color:white">
           Approve LPO
        </a>
        <br/>
        <br />
                }

                        <table class="table  table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="2">Basic Information</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td style="width:30%">
                                        LPO Number
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PurchaseOrderNo)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                        Description
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PurchaseOrderDesc)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                        LPO Amount
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.PurchaseOrderAmount)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                        VAT
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.Vat)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                        Sub Budget Class
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SubBudgetClass)-@Html.DisplayFor(model => model.SegmentDesc)
                                    </td>
                                </tr>
                                  <tr>
                                    <td style="width:30%">
                                        Currency Used
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                        WithHolding
                                    </td>
                                    <td>
                                        @Model.WithHolding

                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:30%">
                                        Supplier
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SupplierName)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                        Valid Period
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ValidityPeriodDays) Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:30%">
                                       LPO Status
                                    </td>
                                    <td>
                                       <span id="status"> @status</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel-footer">
                            <a href="@Request.UrlReferrer" clas class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                                </span>
                                Back
                            </a>
                        </div>


                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </div>
    </section>
    <section id="widget-grid">
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

                <header style="background-color:#2196F3">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Purchase Order Details </h2>
                </header>

                <div>
                    <div class="widget-body " style="padding-top:10px">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">Item</th>
                                    <th style="text-align:center;width:20%">Item Classification</th>
                                    <th style="text-align:center">UOM</th>
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:center">Unit Price (@Html.DisplayFor(model => model.Currency))</th>
                                    <th style="text-align:center">Total (@Html.DisplayFor(model => model.Currency))</th>
                                </tr>
                            </thead>

                            <tbody>
          @{var i = 0;}
           @foreach (var item in Model.PurchaseOrderDetails) {
i++;
    <tr>
        <td style="text-align:center">
            @i
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.ItemDesc)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.ItemClassification.ClassificationDesc)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.UOM.UomName)
        </td>
        <td style="text-align:center">
           @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td style="text-align:center">
        
            @Html.DisplayFor(modelItem => item.UnitPrice)

        </td>
        <td style="text-align:center">
         
            @Html.DisplayFor(modelItem => item.TotalAmount)
           </td>
      

    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="@Request.UrlReferrer" clas class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                            </span>
                            Back
                        </a>
                    </div>
                </div>
                <!-- end widget div -->

            </div>
        </div>
    </section>
    <section id="widget-grid">
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

                <header style="background-color:#2196F3">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>GI Account Per Item </h2>
                </header>

                <div>
                    <div class="widget-body " style="padding-top:10px">

                    </div>
                    <div class="panel-footer">
                        <a href="@Request.UrlReferrer" clas class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                            </span>
                            Back
                        </a>
                    </div>
                </div>
                <!-- end widget div -->

            </div>
        </div>
    </section>
    <section id="widget-grid">
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

                <header style="background-color:#2196F3">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Summary </h2>
                </header>

                <div>
                    <div class="widget-body " style="padding-top:10px">

                    
                    </div>

                    <!-- end widget div -->
                    <div class="panel-footer">
                        <a href="@Request.UrlReferrer" clas class="btn btn-default">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                            </span>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
</div>



@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/scripts/plugin/fuelux/wizard/wizard.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        
       
        $(".approval").on('click', function () {
            var id = $(this).data('id');
            var r = confirm("Do you what to approve this Local Purchase Order ?");
            if (!r) {
                return;
            }
            var url = '@Url.Action("ApproveLPO", "Procurement")';
            $.ajax(
{
    type: "POST",
    url: url,
    data: { id: id },
    success: function (response) {
        if (response == "Success") {
            alert("Local Purchase Order successfully  approved");
            $("#status").text("Submitted for approval");
            $(".lpo").hide();
            $(".approval").hide();      
        }
        else {
            alert("Failed to submit for approval ,DbException");
        }
    },
    error: function (xhr) {
        //console.log(xhr.responseText);
        alert("An error has occured, contact system support");
        $("#divLoader").hide();
    },

});
        });
    });
</script>

}
