@model IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM
@{
    ViewBag.Title = "Complete Inventory";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Edit Inventory </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p align="left">
                                Inventory Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.InventoryCode</strong></span><br/>
                                Receiving Number:<span><strong>@Model.ReceivingNumber</strong></span><br/>
                                Inventory Desc &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.ItemName</strong></span><br/>
                                Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.Quantity</strong></span><br />
                                UOM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.UOM</strong></span><br />
                                Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.OverallStatus</strong></span><br />
                            </p>
                            <br>
                                @using (Html.BeginForm("EditInventory", "Procurement", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.InventoryDetailId)
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BatchNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-2">
                                                 @Html.EditorFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control", @required = "required", autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.BatchNo, "", new { @class = "text-danger" })
                                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ManufactureDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-2">
                                            
                                                 
                                                    @Html.EditorFor(model => model.ManufactureDate, new { htmlAttributes = new { @class = "form-control", @required = "required", autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ManufactureDate, "", new { @class = "text-danger" })
                                              
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-2">

                                                   @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control", @required = "required", autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                                                
                                            </div>

                                        </div>
                                        <div class="col-md-offset-2">
                                            <a href="@Url.Action("PendingInventories","Procurement")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                            <button type="submit" class="btn btn-info" style="margin-right:2px">
                                                <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                            </button>
                                        </div>
                                    </div>
                                }








</div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            $(document).ready(function () {

                $('#ManufactureDate').datepicker({
                    dateFormat: 'mm/dd/yy',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#ManufactureDate').datepicker('option', 'minDate', selectedDate);
                    }
                });
                $('#ExpireDate').datepicker({
                    dateFormat: 'mm/dd/yy',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#ExpireDate').datepicker('option', 'minDate', selectedDate);
                    }
                });
                          

                        });



    </script>
}


