@model IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM
@{
    ViewBag.Title = "Local Purchase Order Items";
}

<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Local Purchase Order Items </h2>

                    </header>
                    @Html.HiddenFor(model => model.PurchaseOrderId)

                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                        <table class="table  table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td style="width:20%">LPO Number</td>
                                    <td><strong>@Html.DisplayFor(model => model.PurchaseOrderNo)</strong></td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td> @Html.DisplayFor(model => model.PurchaseOrderDesc)</td>

                                </tr>
                                <tr>
                                    <td>Purchase Order Amount</td>
                                    <td>@Html.DisplayFor(model => model.Currency) @Html.DisplayFor(model => model.PurchaseOrderAmount)</td>
                                </tr>
                                <tr>
                                    <td>Total Item value</td>
                                    <td>@Html.DisplayFor(model => model.Currency) @Html.DisplayFor(model => model.GrandTotal)</td>
                                </tr>

                            </tbody>
                        </table>
                        <header>
                            <h2><strong></strong> <i></i></h2>

                            <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                <li class="active">

                                    <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountItems)</span></span> </a>

                                </li>

                            </ul>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <!-- widget body text-->

                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade in active" id="hr1">
                                        <div class="widget-body no-padding">

                                            <br />




                                            <div class="custom-scroll" style="height:150px; overflow-y: scroll;">


                                                @if (Model.PurchaseOrderDetails.Count() > 0)
                                                {
                                                    <table align="center" class="table table-bordered  table-condensed" style="width:97%">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center">#</th>
                                                                <th style="text-align:left">Item</th>
                                                                <th style="text-align:left;width:20%">Item Classification</th>
                                                                <th style="text-align:left">UOM</th>
                                                                <th style="text-align:center">Quantity</th>
                                                                <th style="text-align:right">Unit Price (@Html.DisplayFor(model => model.Currency))</th>
                                                                <th style="text-align:right">Total (@Html.DisplayFor(model => model.Currency))</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @{var i = 0;
                                                                decimal grandTotal = 0;
                                                                var item_total = 0;}
                                                            @foreach (var item in Model.PurchaseOrderDetails)
                                                            {
                                                                grandTotal = grandTotal + Convert.ToDecimal(item.TotalAmount);
                                                                item_total = item_total + (int)item.Quantity;
                                                                i++;
                                                                <tr>
                                                                    <td style="text-align:center">
                                                                        @i
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.ItemClassification.ItemCategory)
                                                                    </td>
                                                                    <td style="text-align:left">
                                                                        @Html.DisplayFor(modelItem => item.UOM)
                                                                    </td>
                                                                    <td style="text-align:center">
                                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                                    </td>
                                                                    <td style="text-align:right">

                                                                        @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                    </td>
                                                                    <td style="text-align:right">

                                                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                                                    </td>

                                                                </tr>

                                                            }

                                                        </tbody>
                                                    </table>
                                                                }

                                            </div>



                                        </div>

                                    </div>

                                </div>

                                <!-- end widget body text-->
                                <!-- widget footer -->
                                <div class="widget-footer text-right">

                                    <span class="onoffswitch-title">
                                        @*<i class="fa fa-check"></i>*@
                                    </span>
                                    @*<span class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-tabs" checked="checked">
                                            <label class="onoffswitch-label" for="show-tabs">
                                                <span class="onoffswitch-inner" data-swchon-text="True" data-swchoff-text="NO"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </span>*@
                                    <div class="col-md-offset-1">
                                        <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                    </div>
                                    <br />
                                    <br />

                                </div>
                                <!-- end widget footer -->

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>



                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->


}




