@model IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM
@{
    ViewBag.Title = "Preview Local Purchase Order";
}

<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Local Purchase Order(LPO) </h2>

                    </header>
                    @Html.HiddenFor(model => model.PurchaseOrderId)

                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                        <table class="table  table-hover table-condensed">

                            <tbody>
                                <tr>
                                    <td style="width:20%">
                                        LPO Number
                                    </td>
                                    <td>
                                        <strong>@Html.DisplayFor(model => model.PurchaseOrderNo)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Description
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PurchaseOrderDesc)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        LPO Amount
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.PurchaseOrderAmount)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Items Value
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.ItemsValues)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        GL Accounts Value
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.ItemCharge)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Sub Budget Class
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SubBudgetClass)-@Html.DisplayFor(model => model.SegmentDesc)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Currency Used
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                    </td>
                                </tr>


                                <tr>
                                    <td style="width:20%">
                                        Supplier
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SupplierName)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Order Date
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(Model.OrderDate).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Delivery Date
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Valid Period
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ValidityPeriodDays) Days
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Status
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.OverallStatus)
                                    </td>
                                </tr>
                                @if (Model.OverallStatus == "Rejected")
                                {
                                    <tr>
                                        <td style="width:20%">
                                            Rejected By
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Rejecter)
                                        </td>
                                    </tr>
                                                  

                                }
                               
                                    @if (Model.RejectionReason != null)
                                    {
                                        <tr>
                                            <td style="width:20%">
                                                Rejection reason
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.RejectionReason)
                                            </td>
                                        </tr>

                                    }
                                
                               
                                    @if (Model.RejectionSolution != null)
                                    {
                                        if (Model.OverallStatus != "Voided")
                                        {
                                               <tr>
                                                  <td style="width:20%">
                                                                    Solution Taken
                                                 </td>
                                                  <td>
                                                  @Html.DisplayFor(model => model.RejectionSolution)
                                                   </td>
                                                 </tr>
                                        }

                                    }
                                  @if (Model.OverallStatus == "Partial" || Model.OverallStatus == "Closed")
                                {
                                    <tr>
                                        <td style="width:20%">
                                            Received Amount
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ReceivedAmount)
                                        </td>
                                    </tr>

                                }
                                @if (Model.OverallStatus == "Partial" || Model.OverallStatus == "Closed")
                                {
                                    decimal balance =(Decimal)(Model.PurchaseOrderAmount - Model.ReceivedAmount);
                                    <tr>
                                        <td style="width:20%">
                                            Remaining Amount
                                        </td>
                                        <td>
                                            @balance.ToString("#,##0")
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                        <header>
                            <h2><strong></strong> <i></i></h2>

                            <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                <li class="active">

                                    <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountItems)</span></span> </a>

                                </li>

                                <li>
                                    <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> GL Accounts List <span class="badge inbox-badge margin-right-13 gl_count" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountGLAccounts)</span></span></a>
                                </li>

                            </ul>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <!-- widget body text-->

                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade in active" id="hr1">
                                        <div class="widget-body no-padding">

                                            <br />
                                            <div class="row" id="item_search">

                                                <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                        <input class="form-control" id="prepend" placeholder="Filter" type="text">
                                                    </div>
                                                </div>


                                            </div>



                                            <div class="custom-scroll" style="height:150px; overflow-y: scroll;">


                                                <table class="table table-bordered table-hover table-condensed" id="items">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:right;width:5%">#</th>
                                                            <th style="text-align:left;width:25%">Class</th>
                                                            <th style="text-align:left">Item</th>

                                                            <th style="text-align:right;width:8%">Quantity</th>

                                                            <th style="text-align:right;width:15%">Total Amount</th>

                                                            <th style="text-align:center;width:8%">Select</th>

                                                        </tr>
                                                    </thead>

                                                    <tbody></tbody>
                                                </table>

                                            </div>



                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="hr2">
                                        <div class="widget-body no-padding">

                                            <br />
                                            <div class="row" id="gl_search">

                                                <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                        <input class="form-control" id="prepend" placeholder="Filter" type="text">
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="custom-scroll" style="height:150px; overflow-y: scroll;">


                                                <table class="table table-bordered table-hover table-condensed" id="gl_Accounts">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:left;width:5%">#</th>

                                                            <th style="text-align:left">Expenditure Line Item</th>

                                                            <th style="text-align:left;width:15%">Funding Reference</th>


                                                            <th style="text-align:right;width:12%">Amount</th>


                                                        </tr>
                                                    </thead>

                                                    <tbody></tbody>
                                                </table>


                                            </div>



                                        </div>

                                        @*<table class="table  table-bordered table-hover table-condensed" align="center" style="padding-right:5px;padding-left:5px;padding-top:10px;width:95%">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:left;width:5%">#</th>

                                                        <th style="text-align:left">Expenditure Line Item</th>

                                                        <th style="text-align:left;width:15%">Funding Reference</th>


                                                        <th style="text-align:right;width:12%">Amount</th>
                                                        <th style="text-align:right;width:12%">Action</th>



                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td style="text-align:right"></td>
                                                        <td style="text-align:left"></td>
                                                        <td></td>

                                                        <td style="text-align:right"></td>



                                                        <td style="text-align:center">

                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-info  btn-xs" style="width:50px;border-radius:1px;"></button>
                                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>

                                                            </div>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>*@
                                    </div>
                                </div>

                                <!-- end widget body text-->
                                <!-- widget footer -->
                                <div class="widget-footer text-right">

                                    <span class="onoffswitch-title">
                                        @*<i class="fa fa-check"></i>*@
                                    </span>
                                    @*<span class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-tabs" checked="checked">
                                            <label class="onoffswitch-label" for="show-tabs">
                                                <span class="onoffswitch-inner" data-swchon-text="True" data-swchoff-text="NO"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </span>*@
                                    <div class="col-md-offset-1">
                                     
                                        <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                     
                                    </div>
                                    <br />
                                    <br />

                                </div>
                                <!-- end widget footer -->

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>



                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            $(document).ready(function () {

                $("#item_search").hide();
                $("#gl_search").hide();
                var id = $("#PurchaseOrderId").val();

                if (id) {
                    var url = '@Url.Action("ItemsList", "Procurement")';
                    $.ajax(
        {
            type: "POST",
            data: { id: id },
            url: url,
            success: function (data) {
                $('#items').empty();
                var number = data.length;
                if (number > 0) {
                    $("#item_search").show();

                    $('<tr><th style="text-align: center">#</th><th>Class</th><th style="text-align: left">Item </th><th style="text-align: center">Quantity</th><th style="text-align: right">Unit Price</th><th style="text-align:right">VAT</th><th style="text-align: right">Total Amount</th><th style="text-align:center;width:5%">Charged</th></tr>').appendTo('#items');
                }
                var j = 0;
                var sum = 0;
                var vat_sum = 0;
                $.each(data, function (i, d) {
                    sum = sum + parseFloat(d.TotalAmount);
                    vat_sum = vat_sum + parseFloat(d.VAT);
                    j++;
                    $('<tr><td align="center">' + j + '</th><td>' + d.ItemCategory + '</td><td>' + d.ItemDescription + '</td><td align="center">' + d.Quantity + '</td><td align="right">' + d.UnitPrice.toLocaleString('en') + '</td><td align="right">' + d.VAT.toLocaleString('en') + '</td><td align="right">' + d.TotalAmount.toLocaleString('en') + '</td><td align="center">' + d.ItemsCharged + '</td></tr>').appendTo('#items');

                });
                if (number > 0) {

                    $('<tr><td align="right" colspan="5">Grand Total</td><td align="right">' + vat_sum.toLocaleString('en') + '</td><td align="right">' + sum.toLocaleString('en') + '</td><td></td></tr>').appendTo('#items');
                }
            },
            error: function (xhr) {
                //console.log(xhr.responseText);
                alert("An error has occured, contact system support");
                $("#divLoader").hide();
            },

        });
                }

                var url = '@Url.Action("GetPurchaseOrderCoa", "Procurement")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: { id: id },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#gl_Accounts').empty();

                        var number = data.length;
                        if (number > 0) {

                            $("#gl_search").show();
                            $('<tr><th style="text-align: center">#</th><th>Expenditure Line Item</th><th style="text-align: left">Item Description</th><th style="text-align: left">Funding Reference</th><th style="text-align: right">Amount</th></tr>').appendTo('#gl_Accounts');

                        }

                        var p = 0;
                        var sum = 0;

                        $.each(data, function (i, d) {
                            sum = sum + parseFloat(d.OperationalAmount);
                            p++;

                            $('<tr><td align="center">' + p + '</th><td>' + d.GlAccount.split("|").join("-") + '</td><td>' + d.GlAccountDesc + '</td><td>' + d.FundingReference + '</td><td align="right">' + d.OperationalAmount.toLocaleString('en') + '</td></tr>').appendTo('#gl_Accounts');

                        });
                        if (number > 0) {
                            $('<tr><td align="right" colspan="4">Total</td><td align="right">' + sum.toLocaleString('en') + '</td></tr>').appendTo('#gl_Accounts');
                        }
                    },
                    failure: function (errmsg) {
                        alert(errmsg);
                    }
                });
                var $rows = $('#lpo tr');
                $('#search').keyup(function () {
                    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                    $rows.show().filter(function () {
                        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text.indexOf(val);
                    }).hide();
                });


                        });

    </script>
}




