@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM>
@{
    ViewBag.Title = "Pending Purchase Order";
}

<style>
    .submit-btn {
        background-color: white;
        color: black;
        border: 1px solid #538AC5;
        border-radius: 12px;
        padding: 3px;
        padding-right: 10px;
    }

    .searchContainer {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .searchIcon {
        padding: 0.5rem;
    }

    .searchBox {
        border: 0;
        /*padding: 0.5rem 0.5rem 0.5rem 0;*/
        padding: 8px;
        flex: 1;
    }

    .searchButton {
        background: #538AC5;
        border: 0;
        color: white;
        /*padding: 0.5rem;*/
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .action-btn {
        width: 100px;
        border-radius: 10px;
    }

    .action-btn2 {
        border-radius: 10px;
    }
</style>
<div id="content">

    <section id="widget-grid">
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

                <header style="background-color:#2196F3">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Pending Purchase Order</h2>
                </header>

                <div>
                    <div class="widget-body " style="padding-top:10px">
                       @if (ViewBag.LPONumber != null)
                       {
                     <H3>Local Purchase Order Created Successfully with LPO NUMBER <strong>ViewBag.LPONumber</strong></H3>
                       }
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:center">#</th>
                                    <th style="text-align:center">LPO NUMBER</th>
                                    <th style="text-align:center;width:20%">Description</th>
                                    <th style="text-align:center">Purchase Order Amount</th>
                                    <th style="text-align:center">LPO Details</th>
                                    <th style="text-align:center">Add Items</th>
                                    <th style="text-align:center">Bind GI Account</th>
                                    <th style="text-align:center">Status</th>
                                    <th style="text-align:center">Action</th>
                                   
                                </tr>
                            </thead>

                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in Model) {
                                    string status = null;
                                    if (item.OverallStatus.ToUpper() == "PENDING")
                                    {
                                        status = "Submitted for approval";
                                    }
                                    else if(item.OverallStatus.ToUpper() == "PROCEEDING") {
                                        status = "Pending";
                                    }
                                    i++;
                                    string lpo_amount = item.Currency+" " + Convert.ToDecimal(item.PurchaseOrderAmount).ToString("#,##0");
                                    string items_amount = item.Currency+" " + Convert.ToDecimal(item.TotalAmount).ToString("#,##0");
                                    <tr>
                                        <td style="text-align:center">
                                            @i
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PurchaseOrderDesc)
                                        </td>
                                        <td style="text-align:center">
                                            @lpo_amount
                                        </td>
                                        <td style="text-align:center">
@if (item.OverallStatus.ToUpper() != "PENDING")
{
    <a href="@Url.Action("PreviewPurchaseOrder", "Procurement",new { })" class="editAdjust btn btn-info btn-xs edit">
        <i class="fa fa-edit"></i>  Edit LPO
    </a>
}

                                            
                                        </td>
                                        <td style="text-align:center">
                                            @if (item.OverallStatus.ToUpper() != "PENDING")
                                            {
                                                <a href="@Url.Action("PreviewPurchaseOrder", "Procurement",new { })" class="editAdjust btn btn-info btn-xs edit">
                                                    <i class="fa fa-edit"></i>  LPO Details
                                                </a>
                                            }
                                            else
                                            {
                         <span class="badge inbox-badge margin-right-13">23</span>

                                            }
                                        </td>
                                        <td style="text-align:center">
                            @if (item.OverallStatus.ToUpper() != "PENDING")
                            {

    <a href="@Url.Action("PreviewPurchaseOrder", "Procurement",new { })" class="editAdjust btn btn-info btn-xs edit">
        <i class="fa fa-edit"></i>   GL Account
    </a>

                            }
                            else
                            {
                      @lpo_amount
                            }
                                        </td>
                                       
                                        <td style="text-align:center">        
                                            @status
                                        </td>         
                                        <td style="text-align:center">
                                            @if (item.OverallStatus.ToUpper() != "PENDING")
                                            {
                                                @Html.ActionLink("Action", "PreviewPurchaseOrder", new { id = item.PurchaseOrderId })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Preview", "PreviewPurchaseOrder", new { id = item.PurchaseOrderId })
                                            }
                                      
                                        </td>
                                    </tr>
}
                            </tbody>
                        </table>
                      
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </div>
    </section>

</div>











@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/scripts/plugin/fuelux/wizard/wizard.min.js"></script>

   
}
