@model IEnumerable<IFMIS.Areas.Gacs.Models.GacsContributors>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gacs Contributors";
    var i = 0;
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Gacs Contributors List </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">


                            <div class="row">

                                <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
                                    <div class="input-group">
                                        <a href="@Url.Action("CreateContributor", "Contributors")" class="btn btn-info" style="width:120px;border-radius:1px;">
                                            <i class="fa fa-plus"></i>Add Contributor
                                        </a>

                                    </div>
                                </div>

                            </div>
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>
                            <table class="table  table-bordered table-hover table-condensed" id="dt_contributors">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContributorID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NoteNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NoteName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContributorName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ContributorCategory)
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model) {
                                        i++;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContributorID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoteNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoteName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContributorName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContributorCategory)
                                        </td>
                                        <td style="text-align:center">

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">

                                                    <li>
                                                        <a href="@Url.Action("EditContributor", "Contributors",new {id=item.ContributorID })" class="btn-xs edit">
                                                            <i class="fa fa-edit"></i>  Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("PreviewContributor", "Contributors",new {id=item.ContributorID })" class="btn-xs edit">
                                                            <i class="fa fa-search-minus"></i>  Edit
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>

                                    </tr>
}

                                </tbody>
                            </table>

                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

<div class="modal fade" id="ComfirmLPO" style="left:4%">

    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="text-align:center"> Confirm Local Purchase Order(LPO)</h3>
                <h4 align="center">LPO Number <span id="lpo_number"></span></h4>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ConfirmReason" }))
            {
            <div class="modal-body form-horizontal">

                <br />

                <input type="hidden" name="Id" id="Id" value="">
                <div class="form-group">

                    <div class="col-md-12">
                        <textarea name="Reason" id="Reason" placeholder="Enter short explanation how you fixed problem of rejection" required rows="4" maxlength="250" class="form-control"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input class="btn btn-info" type="submit" id="btnSubmit" value="Save" />
                @*<input type="submit" value="Submit" class="btn btn-success" id="btnSubmit" />*@

            </div>

            }
        </div>
    </div>
</div>
<div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div width="90%" class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">
                    Preview
                </h4>
            </div>
            <div class="modal-body" id="divModalBody">

            </div>

            <div id="divPaymentStatusLoader" style="text-align:center; display:none">
                <img src="~/assets/img/avatars/ajax_loader.gif" />
            </div>
        </div>
    </div>

</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            //SHOW LOADER ICON
            $(document).ajaxStart(function () {
                $(".loadingImg").show();

            });
            //HIDE LOADER ICON
            $(document).ajaxStop(function () {
                $(".loadingImg").hide();
            });

   
             var cancelEntry = function (id) {
                       swal({
                                    title: 'Confirmation',
                                    text: "Do you want to cancel this entry",
                                    buttons: [
                                      'No',
                                      'Yes'
                                    ],
                                }).then(function (isConfirm) {
                                    if (isConfirm) {
                                var url = '@Url.Action("CancelEntry", "Contributors")';
                                $.ajax(
                    {
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                swal("Cancelled  successfully!", { icon: "success" })
                                             .then((value) => {
                                                location.reload();
                                             });
                            }
                            else {
                                swal(response);
                            }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            swal("An error has occured, contact system support");
                        },

                    });
                                    } else {
                                        swal("Cancelled", "No change was made");
                                    }
                                });
            }
    </script>
}
