@model IFMIS.Areas.Gacs.Models.GacsContributors

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> GACS Contributors </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            <h4>Note ID :@Html.DisplayFor(model => model.NoteID) </h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.NoteNo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NoteNo)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.NoteName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NoteName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContributorName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ContributorName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContributorCategory)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ContributorCategory)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                            </dl>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <a href="@Url.Action("ContributorsList","Contributors")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        </div>
                                    </div>
                                </div>
                   
                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

