@model IFMIS.Areas.IFMISTZ.Models.SearchPayeeVM

@{
    ViewBag.Title = "PaymentStatus";
}
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <section id="widget-grid" class="">
        <section class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Create Payee </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSearch" }))
            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PayeeStatus, "Payee Status", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-5">
                                            @Html.EnumDropDownListFor(model => model.PayeeStatus, "--Select--", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PayeeStatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.start_date, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <i class="fa fa-times" style="color:white" id="StartDate_1"></i>
                                        <div class="col-md-5">
                                            <input id="start_date" name="start_date" class="form-control datepicker" style="width:265px" />
                                            @*<span class="input-group-addon"><i class="fa fa-calendar"></i></span>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.end_date, "End Date", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <i class="fa fa-times" style="color:white" id="EndDate_1"></i>
                                        <div class="col-md-5">
                                            <input id="end_date" name="end_date" class="form-control datepicker" style="width:265px" />
                                            @*<span class="input-group-addon"><i class="fa fa-calendar"></i></span>*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-2">
                                            <input type="button" value="Search" onclick="Search()" />
                                        </div>
                                        <div class="col-md-5" id="divLoader" style="display:none">
                                            <img src="~/Media/Images/ajax_loader.gif" />
                                        </div>
                                    </div>

                                </div>
                            }


                            <div id="searchResults" style="display: none">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>
</div>

@section Scripts{
    <script>

        var Search = function () {

            var model = $("#frmSearch").serialize();

            var url = '@Url.Action("GetPayeeStatus", "Payees")';

            $("#divLoader").show();
            $.ajax({
                type: "post",
                url: url,
                data: model,
                success: function (response) {
                    $("#searchResults").show();
                    $("#searchResults").html(response);
                    $("#divLoader").hide();
                }
            });
        }
        $('#start_date').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#start_date').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#end_date').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#end_date').datepicker('option', 'minDate', selectedDate);
            }
        });
    </script>
}



