@model IFMIS.Areas.IFMISTZ.Models.PayeeDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PayeeDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PayeeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayeeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayeeType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayeeType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bankid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bankid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ARControlCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ARControlCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APControlCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APControlCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BIC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BIC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AccountName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AccountName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Accountnumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Accountnumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Createdby)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Createdby)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PayeeDetailId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
