@model IFMIS.Areas.IFMISTZ.Models.DummySalaryDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DummySalaryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DummySalaryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DummySalaryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrGlAccountCoaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrGlAccountCoaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrGlAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrGlAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrGlAccountDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrGlAccountDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrGlAccountCoaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrGlAccountCoaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrGlAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrGlAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrGlAccountDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrGlAccountDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlAccountCoaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccountCoaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlAccountDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccountDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpensedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpensedAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
