@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 8px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                     data-widget-custombutton="false" data-widget-colorbutton="false"
                     data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Legal Review Attachments</h2>

                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div style="display:flex;justify-content:center;align-content:center">
                                <div>
                                    <table style="margin-left: 2%">
                                        <tr>
                                            <td class="form-label">
                                                Loan Security
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <select id="LoanSecurity" style="width:300px">
                                                        @*@foreach (var item in ViewBag.LoanSecurity)
                                                        {
                                                            <option value="@item.LoanSecurityId">@item.SecurityName</option>
                                                        }*@
                                                        <option value="1">Secured</option>
                                                        <option value="2">UnSecured - Salary</option>
                                                        <option value="2">UnSecured - Guarantorship</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label" style="width:150px">
                                                Customer Type
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <select id="CustomerType" style="width:300px">
                                                        @foreach (var item in ViewBag.CustomerType)
                                                        {
                                                            <option value="@item.CustomerTypeId">@item.CustomerName</option>
                                                        }
                                                        <option value="0">N/A</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Attachment
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <select id="Attachment" style="width:300px">
                                                        <option>Loan agreement</option>
                                                        <option>Mortgage of the right of occupancy</option>
                                                        <option>Personal guarantee</option>
                                                        <option>Spouse consent</option>
                                                        <option>Borrower’s affidavit</option>
                                                        <option>Original Certificate of right of occupancy</option>
                                                        <option>Personal guarantee</option>
                                                        <option>Guarantee from board of Directors or Trustee</option>
                                                        <option>Debentures</option>
                                                        <option>Spouse consent</option>
                                                        <option>Deed of guarantee</option>
                                                        <option>Guarantee from members (leaders in case of SACCOS)</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Is Required
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="checkbox" id="IsRequired"/>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding:20px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <a class="btn btn-info" href='@Url.Action("LoanLegalReviewAttachmentEntry", "LoanLegalReviewAttachment")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button type="submit" class="btn btn-info" onclick="saveData()" id="form_submision">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific{
<script>

        $("#saveLoader").toggle(false)


        function saveData() {
            $("#form_submision").prop('disabled', true);
            $("#saveLoader").toggle(true);
            $.ajax({
                type: "POST",
                url: '@Url.Action("LoanLegalReviewAttachmentCreate", "LoanLegalReviewAttachment")',
                data: {
                    LoanSecurityId: $("#LoanSecurity").val(),
                    LoanSecurityName: $("#LoanSecurity :selected").text(),
                    CustomerTypeId: $("#CustomerType").val(),
                    CustomerTypeName: $("#CustomerType :selected").text(),
                    AttachmentName: $("#Attachment").val(),
                    IsRequired: $("#IsRequired").is(":checked"),
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = '@Url.Action("LoanLegalReviewAttachmentEntry", "LoanLegalReviewAttachment")';
                            });
                    } else {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error);
                }
            });
        }

</script>  
}