@model IFMIS.Areas.IFMISTZ.Models.InventoryVM

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitUOM(this)" }))
     {
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    <div class="form-group">
            @Html.LabelFor(model => model.UomId, htmlAttributes: new { @class = "control-label   col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.UomId, Model.UomList, "Select ", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.UomId, "", new { @class = "text-danger" })
            </div>
       
    </div>
    <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <button type="submit" class="btn btn-info" id="save_button" style="float: left; margin-left: 5px">
                    <i class="glyphicon glyphicon-floppy-disk"></i> Save
                </button>
            </div>
      </div>
    
</div>
     }


<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>



<script type="text/javascript">
    $(".select2").select2();
</script>






