@model IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM

<fieldset class="bordered">
    <legend class="scheduler-border">Inventory Details</legend>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Department &nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.SubVote)-@Html.DisplayFor(model => model.SubVoteName)</div> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Inventory Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.ItemName)</div></div>
    <div class="row">   <div class="col-sm-6 col-md-6 col-lg-6"><strong>Original Quantity&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.Quantity) @Html.DisplayFor(model => model.UOM)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Unit Price&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.UnitPrice) @Html.DisplayFor(model => model.Currency)</div></div>
    <div class="row">   <div class="col-sm-6 col-md-6 col-lg-6"><strong>Allocated&nbsp;&nbsp:</strong>&nbsp;<span id="allocated">@Html.DisplayFor(model => model.Allocated)</span> @Html.DisplayFor(model => model.UOM)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Balance&nbsp;&nbsp:</strong>&nbsp;<span id="balance">@Html.DisplayFor(model => model.Balance)</span> @Html.DisplayFor(model => model.UOM)</div></div>
    <br />
</fieldset>
<br/>
<div class="row">

    <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
        <div class="input-group">       
            <button type="button" class="btn btn-info" style="width:120px;border-radius:1px;" onclick="distribute(@Model.InventoryIssuingId)">
                <i class="fa fa-plus"></i>New Allocation
            </button>
        </div>
    </div>

</div>
<table align="center" class="table  table-bordered table-hover table-condensed" id="dt_inventories" style="width:96%">
    <thead>
        <tr>
            <th style="text-align:right;width:4%"></th>
            <th style="text-align:left">Asset Number</th>
            <th style="text-align:center;width:10%">Quantity</th>
            <th style="text-align:left">UOM</th>
            <th style="text-align:right">Unit Price</th>
            <th style="text-align:right">Total Value</th>
        </tr>
    </thead>
    <tbody>
        @{var i = 1;}
        @foreach (var item in Model.InventoryDistributions)
        {
        <tr>
            <td style="text-align:right">
                @i
            </td>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.AssetNo)
            </td>

            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.UOM)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
        </tr>
            i++;
        }
    </tbody>
</table>

<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>


