@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.InventoryStore>
@{
    ViewBag.Title = "Stock Taking";
}
<style>
    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 30px;
    }

    td {
        height: 35px;
    }

    th {
        background-color: darkgrey;
    }

    table, td, th {
        border: 1px solid black;
    }

    tr {
        page-break-inside: avoid;
    }
</style>
<div id="content">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"></div>

        <div class="panel-body">

            <p align="left"><strong>MUSE</strong></p>
            <div align="center">
                <img src="@Server.MapPath(" ~/Media/Logo/logo.png")" height="100" width="100" /><br />
                <strong>
                    The United Republic Of Tanzania<br />
                    @ViewBag.InstitutionName<br />
                </strong>

            </div>
            <H3 align="center"><strong>Inventories Stock Taking</strong></H3>
            <table align="center" class="table  table-bordered table-hover table-condensed" id="dt_inventories">
                <thead>
                    <tr>
                        <th style="text-align:center;width:4%">No</th>
                        <th style="text-align:left">Inventory Description</th>
                        <th style="text-align:center;">Quantity</th>
                        <th style="text-align:left;">Unit Of Measure</th>
                        <th style="text-align:right">Inventory Value(Tsh)</th>
                        <th style="text-align:center;">Physical Available</th>
                    </tr>
                </thead>

                <tbody>
                    @{var i = 0; decimal total_inventories_value = 0, total_quantity = 0;}
                    @foreach (var item in Model)
                    {
                        i++;
                        total_quantity = total_quantity + (Decimal)item.Quantity;
                        total_inventories_value = total_inventories_value + (Decimal)item.InventoryValue;
                    <tr>
                        <td style="text-align:center">
                            @i
                        </td>
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.InventoryName)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Quantity)

                        </td>
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.UOM)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.InventoryValue)
                        </td>

                        <td style="text-align:right">
                        </td>
                    </tr>
                    }
                <tr>
                    <td colspan="2" style="text-align:right">Total</td>
                    <td style="text-align:right">@total_quantity.ToString("#,##0.00")</td>
                    <td style="text-align:center"></td>
                    <td style="text-align:right">@total_inventories_value.ToString("#,##0.00") </td>
                    <td style="text-align:center"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
