@model IFMIS.Areas.IFMISTZ.Models.InventorySummaryVM
@{

}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        @if (Model.OverallStatus != "Approved")
        {
            if (Model.SourceModule == "LPO")
            {
                <div class="alert alert-block alert-info">
                    <h4 class="alert-heading">LPO-Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                    <p>
                        Receiving is @Html.DisplayFor(model => model.OverallStatus),inventories will be displayed after receiving approved.
                    </p>
                </div>
            }
            else if (Model.SourceModule == "Contract")
            {
                <div class="alert alert-block alert-info">
                    <h4 class="alert-heading">Contract Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                    <p>
                        Receiving is @Html.DisplayFor(model => model.OverallStatus),inventories will be displayed after receiving approved.
                    </p>
                </div>
            }
            else if (Model.SourceModule == "Prepayment")
            {
                <div class="alert alert-block alert-info">
                    <h4 class="alert-heading">Prepayment Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                    <p>
                        Receiving is @Html.DisplayFor(model => model.OverallStatus),inventories will be displayed after receiving approved.
                    </p>
                </div>
            }
        }
    </div>
    @if (Model.OverallStatus == "Approved")
    {
        if (Model.Inventories.Count() > 0)
        {
            if (Model.SourceModule == "LPO")
            {
                <div class="alert alert-block alert-info">
                    <h4 class="alert-heading">LPO-Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>            
                </div>
            }
            else if (Model.SourceModule == "Contract")
            {
                <div class="alert alert-block alert-info">
                    <h4 class="alert-heading">Contract Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                </div>
            }
            else if (Model.SourceModule == "Prepayment")
            {
                <div class="alert alert-block alert-info">
                    <h4 class="alert-heading">Prepayment Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                </div>
            }
            <table class="table  table-bordered table-hover table-condensed" id="dt_load_inventories">
                <thead>
                    <tr>
                        <th style="text-align:right;width:4%"></th>
                        <th style="text-align:left">Inventory Code</th>
                        <th style="text-align:left">Item Card</th>
                        <th style="text-align:left">Item Name</th>
                        <th style="text-align:center">Quantity</th>
                        <th style="text-align:left">UOM</th>
                        <th style="text-align:right">Unit Price(Tsh)</th>
                        <th style="text-align:right">Total Value(Tsh)</th>
                        <th style="text-align:left">Status</th>
                        <th style="text-align:center">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @{var i = 0;}
                    @foreach (var item in Model.Inventories)
                    {
                        i++;
                        <tr>
                            <td style="text-align:right">
                                @i
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(modelItem => item.InventoryCode)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(modelItem => item.ItemCard)
                            </td>
                            <td style="text-align:left">
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>

                            <td style="text-align:left">
                                @Html.DisplayFor(modelItem => item.UOM)

                            </td>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td style="text-align: right">
                                @Html.DisplayFor(modelItem => item.InventoryValue)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.OverallStatus)
                            </td>
                            <td style="text-align:center">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-info  btn-xs" style="width:50px;border-radius:1px;">Action</button>
                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @if(item.OverallStatus=="Pending" || item.OverallStatus == "Incomplete") { 
                                        <li style="text-align:left">
                                            <a href="#" onclick="addEntry(@item.InventoryDetailId)">
                                                <i class="fa fa-edit"></i>Add Information
                                            </a>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="col-lg-12 col-sm-12 col-xs-12">
                @if (Model.OverallStatus != "Approved")
                {
                    if (Model.SourceModule == "LPO")
                    {
                        <div class="alert alert-block alert-info">
                            <h4 class="alert-heading">LPO-Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                            <p>
                                This receiving does not contain inventories.
                            </p>
                        </div>
                    }
                    else if (Model.SourceModule == "Contract")
                    {
                        <div class="alert alert-block alert-info">
                            <h4 class="alert-heading">Contract Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                            <p>
                                This receiving does not contain inventories.
                            </p>
                        </div>
                    }
                    else if (Model.SourceModule == "Prepayment")
                    {
                        <div class="alert alert-block alert-info">
                            <h4 class="alert-heading">Prepayment Number  @Html.DisplayFor(model => model.SourceLegalNumber),Receiving Number @Html.DisplayFor(model => model.LegalNumber) </h4>
                            <p>
                                This receiving does not contain inventories.
                            </p>
                        </div>
                    }
                }
            </div>

        }
    }
</div>

<div class="modal fade" id="edit_form_modal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div width="90%" class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">
                    Invetory Registration
                </h4>
            </div>
            <div class="modal-body" id="edit-form-body">

            </div>

            <div id="divPaymentStatusLoader" style="text-align:center; display:none">
                <img src="~/assets/img/avatars/ajax_loader.gif" />
            </div>
        </div>
    </div>

</div>
<script>
    var dt_load_inventories = $('#dt_load_inventories').dataTable();
    function addEntry(id) {
        var url = '@Url.Action("LoadForm", "Inventories")';
        $("#edit-form-body").load(url, { id: id }, function (response, status, xhr) {
     if (status == "error") {
         $("#edit-form-body").html("Error on loading form, contact technical support.");
     }
         $("#edit_form_modal").modal("show");
    });
    }

</script>