@model IFMIS.Areas.IFMISTZ.Models.InventoryDetail

<style>
    .searchContainer {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        /*padding-top:10px;*/
        /*text-align: center;*/
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .inventory-details {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 200px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
</style>

<div class="inventory-details">
    <div class="entry-label">Details</div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.InventoryCode)</th>
            <td>@Html.DisplayFor(model => model.InventoryCode)</td>
            <th>@Html.DisplayNameFor(model => model.BatchNo)</th>
            <td>@Html.DisplayFor(model => model.BatchNo)</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>@Html.DisplayFor(model => model.ItemClassification.ItemCategory)</td>
            <th>Class</th>
            <td>@Html.DisplayFor(model => model.ItemClassification.ClassificationDesc)</td>
        </tr>
        <tr>
            <th>Item Name</th>
            <td>@Html.DisplayFor(model => model.ItemName)</td>
            <th>Manufacturer</th>
            <td>@Html.DisplayFor(model => model.Manufacturer)</td>
        </tr>

        @if (Model.Model != null || Model.Capacity != null)
        {
            <tr>
                <th>Model</th>
                <td>@Html.DisplayFor(model => model.Model)</td>
                <th>Capacity</th>
                <td>@Html.DisplayFor(model => model.Capacity)</td>
            </tr>
        }

        @if (Model.BodyType != null || Model.ManufactureYear != null)
        {
            <tr>
                <th>Body Type</th>
                <td>@Html.DisplayFor(model => model.BodyType)</td>
                <th>Manufacture Year</th>
                <td>@Html.DisplayFor(model => model.ManufactureYear)</td>
            </tr>
        }

        <tr>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
            <th>@Html.DisplayNameFor(model => model.UOM)</th>
            <td>@Html.DisplayFor(model => model.UOM)</td>
        </tr>

        <tr>
            <th>Unit Cost Price</th>
            <td>@Html.DisplayFor(model => model.UnitPrice) @Html.DisplayFor(model => model.OperationCurrency)</td>
            <th>Total Cost</th>
            <td>@Html.DisplayFor(model => model.InventoryValue) @Html.DisplayFor(model => model.OperationCurrency)</td>
        </tr>
        @if (Model.UnitSalePrice != null)
        {
            <tr>
                <th>Unit Sale Price</th>
                <td>@Html.DisplayFor(model => model.UnitSalePrice)</td>
                <th>Total Sales</th>
                <td>@Html.DisplayFor(model => model.TotalAmount)</td>
            </tr>
        }

        <tr>
            <th>@Html.DisplayNameFor(model => model.Condition)</th>
            <td>@Html.DisplayFor(model => model.Condition)</td>
            <th>@Html.DisplayNameFor(model => model.SourceModule)</th>
            <td>@Html.DisplayFor(model => model.SourceModule)</td>
        </tr>
        <tr>
            <th>Will be Stored ?</th>
            <td>@Html.DisplayFor(model => model.CanExpire)</td>
            <th>Store Name</th>
            <td>@Html.DisplayFor(model => model.Stores.StoreCode) - @Html.DisplayFor(model => model.Stores.StoreName)</td>
        </tr>
        <tr>
            <th>Overall Status</th>
            <td>@Html.DisplayFor(model => model.OverallStatus)</td>
            <th>Can Expire?</th>
            <td>@Html.DisplayFor(model => model.CanExpire)</td>
        </tr>


        @if (Model.CanExpire == "Yes")
        {
            <tr>
                <th>
                    Manufacture Date
                </th>
                <td>
                    @if (Model.ManufactureDate != null)
                    {
                        @Convert.ToDateTime(Model.ManufactureDate).ToString("dd/MM/yyyy")
                    }
                </td>

                <th>Expire Date</th>
                <td>
                    @if (Model.ExpireDate != null)
                    {
                        @Convert.ToDateTime(Model.ExpireDate).ToString("dd/MM/yyyy")
                    }
                </td>
            </tr>

        }
        <tr>
            @if (Model.Description != null)
            {
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Description)</td>
            }
            @if (Model.MonetaryEntry != null)
            {
                <th>Type</th>
                <td>@Html.DisplayFor(model => model.MonetaryEntry)</td>
            }
        </tr>
        <tr>
            @if (Model.CRItemCoa != null)
            {
            <tr><th>Credit Coa </th><td>@Html.DisplayFor(model => model.CRItemCoa)</td> </tr>
        }


            <tr>
                @if (Model.RejectReason != null)
                {
                    <th>Rejection Reason</th>
                    <td>@Html.DisplayFor(model => model.RejectReason) </td>
                }
                @if (Model.SolutionTaken != null)
                {
                    <th>Solution Taken&nbsp;:</th>
                    <td>@Html.DisplayFor(model => model.SolutionTaken) </td>
                }
            </tr>
            @if (Model.ParentInstitutionCode != null)
            {
                <tr>
                    <th>Parent Institution:</th>
                    <td>@Html.DisplayFor(model => model.ParentInstitutionCode) - @Html.DisplayFor(model => model.ParentInstitutionName)</td>
                    <th>SubWarant:</th>
                    <td>@Html.DisplayFor(model => model.SubWarrantCode) - @Html.DisplayFor(model => model.SubWarrantDescription)</td>
                </tr>
            }

        </table>
    </div>

    @if (Model.InventoryCoas.Count() > 0)
    {
        <table border="1" class="table table-bordered table-hover table-condensed" width="100%">
            <tr style="background:#f5f5f5; color:#000000"><th>No</th><th>GL Account</th><th>GL Account Desc</th><th>SBC</th><th>GFS Code</th></tr>

            @{var j = 0;}
            @foreach (var item in Model.InventoryCoas)
            {

                j++;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GLAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GLAccountDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubBudgetClass)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.GfsCode)
                    </td>

                </tr>
            }

        </table>
    }

<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>










