<li class="@Html.RouteIf("icons", "active")">
    <a href="#"> Budget</a>
    <ul>
        <li class="@Html.RouteIf("COFOGSector", "active")">

            <a href="#">COFOG Sector</a>

            <ul>

                @if (User.IsInRole("COFOG Entry"))

                {

                    <li class="@Html.RouteIf("COFOGCompositionCode", "active")">

                        <a href="@Url.Action("COFOGCompositionCode", "COFOGSector", new { area = "IFMISTZ" })">Composition Code</a>

                    </li>

                    <li class="@Html.RouteIf("COFOGExclusionCode", "active")">

                        <a href="@Url.Action("COFOGExclusionCode", "COFOGSector", new { area = "IFMISTZ" })">Exclusion Code</a>

                    </li>

                }

            </ul>

        </li>
        <li class="@Html.RouteIf("BudgetReallocationPercentList", "active")">
            <a href="#">Budget Reallocation Percent</a>
            <ul>
                @if (User.IsInRole("Budget Approval"))
                {
                    <li class="@Html.RouteIf("BudgetReallocationPercentList", "active")">
                        <a href="@Url.Action("BudgetReallocationPercentList", "BudgetReallocations", new { area = "IFMISTZ" })">Entry</a>
                    </li>
                }
            </ul>
        </li>

        <li class="@Html.RouteIf("", "active")">
            <a href="#">Budget Summary</a>
            <ul>
                @*@if (User.IsInRole("Budget Approval"))
                    {*@
                <li class="@Html.RouteIf("StagingBudgets", "active")">
                    <a href="@Url.Action("StagingBudgets", "BudgetSummaries", new { area = "IFMISTZ" })">Staging</a>
                </li>
                <li class="@Html.RouteIf("PendingBudgets", "active")">
                    <a href="@Url.Action("PendingBudgets", "BudgetSummaries", new { area = "IFMISTZ" })">Pending</a>
                </li>
                <li class="@Html.RouteIf("ApprovedBudgets", "active")">
                    <a href="@Url.Action("ApprovedBudgets", "BudgetSummaries", new { area = "IFMISTZ" })">Approved</a>
                </li>
                <li class="@Html.RouteIf("BudgetCancellation", "active")">
                    <a href="@Url.Action("BudgetCancellation", "BudgetSummaries", new { area = "IFMISTZ" })">Cancellation</a>
                </li>
                <li class="@Html.RouteIf("BudgetTrackerV2", "active")">
                    <a href="@Url.Action("BudgetTrackerV2", "BudgetSummaries", new { area = "IFMISTZ" })">Tracker</a>
                </li>
                @*}*@
            </ul>
        </li>

        <li class="@Html.RouteIf("BudgetDetails", "active")">
            <a href="#">Budget Detail</a>
            <ul>
                @if (User.IsInRole("Budget Entry"))
                {
                    <li class="@Html.RouteIf("BudgetDetailsList", "active")">
                        <a href="@Url.Action("BudgetDetailsList", "BudgetDetails", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Entry</a>
                    </li>
                    <li class="@Html.RouteIf("BudgetConfirm", "active")">
                        <a href="@Url.Action("BudgetConfirm", "BudgetDetails", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Confirmation</a>
                    </li>
                }
                @if (User.IsInRole("Budget Approval"))
                {
                    <li class="@Html.RouteIf("BudgetApproval", "active")">
                        <a href="@Url.Action("BudgetApproval", "BudgetDetails", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Approval</a>
                    </li>
                }
                <li class="@Html.RouteIf("Budg", "active")">
                    <a href="@Url.Action("BudgetDetailTracker", "BudgetDetails", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Tracker</a>
                </li>
            </ul>
        </li>
        <li class="@Html.RouteIf("", "active")">
            <a href="#">Budget Ceiling</a>
            <ul>
                @if (User.IsInRole("Budget Entry"))
                {
                    <li class="@Html.RouteIf("Budgetlist", "active")">
                        <a href="@Url.Action("Budgetlist", "BudgetSummaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Ceiling Entry </a>
                    </li>

                }
                @if (User.IsInRole("Budget Approval"))
                {
                    <li class="@Html.RouteIf("ApproveBudget", "active")">
                        <a href="@Url.Action("ApproveBudget", "BudgetSummaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Ceiling Approval</a>
                    </li>
                }

                <li class="@Html.RouteIf("BudgetTracker", "active")">
                    <a href="@Url.Action("BudgetTracker", "BudgetSummaries", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Ceiling Tracker </a>
                </li>

            </ul>
        </li>
        <li class="@Html.RouteIf("BudgetReallocations", "active")">
            <a href="#">Budget Reallocation</a>
            <ul>
                @if (User.IsInRole("Budget Entry"))
                {
                    <li class="@Html.RouteIf("Reallocations", "active")">
                        <a href="@Url.Action("Reallocations", "BudgetReallocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Reallocation Entry</a>
                    </li>
                }
                @if (User.IsInRole("Budget Approval"))
                {
                    <li class="@Html.RouteIf("ReallocationApproval", "active")">
                        <a href="@Url.Action("ReallocationApproval", "BudgetReallocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Reallocation Approval</a>
                    </li>
                }
                <li class="@Html.RouteIf("ReallocationTracker", "active")">
                    <a href="@Url.Action("ReallocationTracker", "BudgetReallocations", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Budget Reallocation Tracker </a>
                </li>
            </ul>
        </li>

        <li class="@Html.RouteIf("BudgetReallocationReversal", "active")">

            <a href="#">Budget Reallocation Reversal</a>

            <ul>

                @if (User.IsInRole("Budget Entry"))
                {

                    <li class="@Html.RouteIf("BudgetReallocationReversalEntry", "active")">

                        <a href="@Url.Action("BudgetReallocationReversalEntry", "BudgetReallocationReversal", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>

                    </li>

                }

                @if (User.IsInRole("Budget Approval"))
                {

                    <li class="@Html.RouteIf("BudgetReallocationReversalApproval", "active")">

                        <a href="@Url.Action("BudgetReallocationReversalApproval", "BudgetReallocationReversal", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>

                    </li>

                }

            </ul>

        </li>


        <li class="@Html.RouteIf("BudgetAdjustment", "active")">
            <a href="#">Budget Adjustment</a>
            <ul>
                @if (User.IsInRole("Budget Adjustment Entry"))
                {
                    <li class="@Html.RouteIf("BudgetAdjustmentEntry", "active")">
                        <a href="@Url.Action("BudgetAdjustmentEntry", "BudgetAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                    </li>
                }
                @if (User.IsInRole("Budget Adjustment Approval"))
                {
                    <li class="@Html.RouteIf("BudgetAdjustmentApprove", "active")">
                        <a href="@Url.Action("BudgetAdjustmentApprove", "BudgetAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                    </li>
                }
            </ul>
        </li>

        <li class="@Html.RouteIf("BudgetCeilingAdjustment", "active")">
            <a href="#">Ceiling Adjustment</a>
            <ul>
                @if (User.IsInRole("Budget Adjustment Entry"))
                {
                    <li class="@Html.RouteIf("BudgetCeilingAdjustmentEntry", "active")">
                        <a href="@Url.Action("BudgetCeilingAdjustmentEntry", "BudgetCeilingAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Entry</a>
                    </li>
                }
                @if (User.IsInRole("Budget Adjustment Approval"))
                {
                    <li class="@Html.RouteIf("BudgetCeilingAdjustmentApproval", "active")">
                        <a href="@Url.Action("BudgetCeilingAdjustmentApproval", "BudgetCeilingAdjustment", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i>Approval</a>
                    </li>
                }

            </ul>
        </li>
    </ul>
</li>
