@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.Account>
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input {
        border: 1px solid lightgray;
        width: 300px;
        height: 35px;
    }

        input[type=search] {
            padding: 4px;
            border: hidden;
            width: 200px;
            height: 30px;
        }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Account List</h2>

                    </header>
                    <div>
                        <div class="row" style="width:100%">

                            <div style="margin-bottom: 2%">
                                <a class="btn btn-info" href='@Url.Action("Create", "Accounts")' style="width:100px;border-radius:1px;color:black">
                                    <i class="fa fa-plus"></i>Add New
                                </a>
                            </div>
                            <div class="row" style="width:100%">
                                <div class="col-md-3">
                                    <div class="search-container">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                                <div style="margin-left: 90%" id="dt_coasegment_wrapper" class="dataTables_wrapper">

                                    <select name="pageLenth" id="pageLenth" aria-controls="dt_coasegment" class="form-control">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>

                            </div>
                          

                        </div>
                        <div class="widget-body">
                            <table id="dt_accounts" class="table table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Account Name</th>
                                        <th>Account Number</th>
                                        <th>Currency</th>
                                        <th>Account Type</th>
                                        <th>Bank Name:</th>
                                        <th>Bank BIC</th>
                                        <th>Account Owner</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{ int i = 0;}
                                <tbody>
                                    @foreach (var item in Model)
                                                {
                                                    i++;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountTypeCode)
                                                    </td>
                                                  
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BankName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BankBIC)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.InstitutionName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Status)
                                                    </td>

                                                    <td style="text-align:center">

                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu">

                                                                <li>
                                                                    <a href="@Url.Action("Edit", "Accounts",new {id=item.AccountId })" class="btn-xs edit">
                                                                        <i class="fa fa-edit"></i>  Edit
                                                                    </a>
                                                                </li>
                                                                @*<li><a href="#" onclick="Cancel(' + id + ')">Cancel</a></li>*@
                                                                <li>
                                                                 
                                                                    <a href="#" onclick="Cancel(@item.AccountId)" class="fa fa-trash-o">
                                                                          Cancel
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">
        var dt_accounts = $('#dt_accounts').dataTable();

        $("#dt_accounts_wrapper .dt-toolbar").remove();
        function actionTemplate(i) {
            return '<div class="btn-group">\
                       <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                          <span class="caret"></span\
                                     <span class="sr-only"></span>\
                         </button>\
                        <ul class="dropdown-menu">\
                    <li><a href="@Url.Action("Edit", "Accounts")/?id=' + data[i]["AccountId"] + '"><i class="glyphicon glyphicon-pencil"></i>Edit</a></li>\
                   <li><a href="#" onclick="Cancel(' + i + ')">Cancel</a></li>\
               </ul>\
          </div>'
        }

        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_accounts.fnClearTable();
            } else {
                searchTableUpdate(this.value);
            }
        });

        function searchTableUpdate(search) {
            var url = '@Url.Action("SearchAccount", "Accounts")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                  dt_accounts.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_accounts.fnAddData([i + 1,
                           data[i]["AccountName"],
                           data[i]["AccountNo"],
                            data[i]["Currency"]["CurrencyCode"],
                           data[i]["AccountTypeCode"],
                           data[i]["BankName"],
                           data[i]["BankBIC"],
                           data[i]["InstitutionName"],
                           data[i]["Status"],
                          actionTemplate(i)
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function Cancel(i) {
            status = "CANCELLED";
            swal({
                title: "Are you sure?",
                text: "Account  will be Cancelled!",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    ChangeItemStatus(i, status);

                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function ChangeItemStatus(i, status) {
            var url = '@Url.Action("ChangeAccountStatus", "Accounts")';
            $.ajax({
                type: "post",
                url: url,
                data: {
                    Status: status,
                    AccountId: i
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Changed Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

    </script>
}
