@model IFMIS.Areas.IFMISTZ.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            @*<div class="nav-tabs-custom">*@
                                @*<ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Account Details</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Attachment(s) List <span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span></a></li>
                                    <li><a href="#tab_3" data-toggle="tab">Comments<span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span> </a></li>
                                </ul>*@
                                <br />
                                <div class="tab-content">
                                    @*<div class="tab-pane active" id="tab_1">
                                        <div class="detail-section">*@
                                            <div class="row-align">
                                                <div style="max-width:600px">
                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.InstitutionCode)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.InstitutionCode)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.InstitutionName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.InstitutionName)
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.IsDFUND)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.IsDFUND)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.IsNRD)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.IsNRD)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.Currency.CurrencyCode)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.Currency.CurrencyCode)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.Currency.CurrencyName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.Currency.CurrencyName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.Currency.Country)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.Currency.Country)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.Status)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.Status)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CancelledBy)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CancelledBy)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CancelledAt)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CancelledAt)
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                <div>

                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountName)
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.AccountNo)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.AccountNo)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.IBAN)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.IBAN)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.BankName)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.BankName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.BankBIC)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.BankBIC)
                                                            </td>
                                                        </tr>





                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CreatedBy)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CreatedBy)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.CreatedAt)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.CreatedAt)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.ModifiedBy)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.ModifiedBy)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">
                                                                <b>@Html.DisplayNameFor(model => model.ModifiedAt)</b>
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(model => model.ModifiedAt)
                                                            </td>
                                                        </tr>

                                                    </table>


                                                </div>
                                            </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-2">
                                                <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@*<div id="content" style="margin: 5px; padding-top: 50px">

        <section id="widget-grid" class="">
            <div class="row">

                <article class="col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                            <h2 style="color:black;">Account Details</h2>

                        </header>
                        <div>
                            <div class="widget-body " style="padding-top:10px; width:100%;">

                                <table width="100%">
                                    <tr>
                                        <td colspan="1">



                                            <div style="padding-left:25%">
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AccountName)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.AccountName)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.AccountNo)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.AccountNo)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Status)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.Status)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.BankName)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.BankName)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.BankBIC)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.BankBIC)
                                                    </dd>



                                                </dl>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("Account", "Accounts")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>
                                        <td colspan="1"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>*@