@model IFMIS.Areas.IFMISTZ.Models.Account

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 40px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>



<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Account</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.AccountId)

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Account Name:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.AccountName, new { @class = "input", style = "width:300px", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Account Number:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.AccountNo, new { @class = "input", style = "width:300px", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">Bank Name:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.DropDownList("BankId", ViewBag.BankName as SelectList, "", new { @Class = "input", style = "width:300px; ", required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">Account Type:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <select id="AccountTypeCode" name="AccountTypeCode" class="input" style="width:300px">
                                                            <option value="Expenditure">Expenditure</option>
                                                            <option value="Revenue">Revenue</option>
                                                            <option value="Deposit">Deposit</option>
                                                            <option value="OwnSource">OwnSource</option>
                                                            <option value="Unapplied">Unapplied</option>
                                                            <option value="TSA">TSA</option>
                                                            <option value="Sub TSA">Sub TSA</option>
                                                            <option value="CF">CF</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">Currency:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.DropDownList("CurrencyId", ViewBag.CurrencyList as SelectList, "", new { @Class = "input", style = "width:300px; ", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">Status:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <select id="Status" name="Status" class="input" style="width:300px">
                                                            <option value="ACTIVE">ACTIVE</option>
                                                            <option value="INACTIVE">INACTIVE</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">Account Owner:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.DropDownList("InstitutionId", ViewBag.Institution as List<SelectListItem>, "", new { @Class = "input", style = "width:300px; ", required = "required" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">IsNRD:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <div class="input-group">
                                                            @Html.CheckBoxFor(m => m.IsNRD)
                                                            @Html.ValidationMessageFor(model => model.IsNRD, "", new { @class = "text-danger" })

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">IsDFUND:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <div class="input-group">
                                                            @Html.CheckBoxFor(m => m.IsDFUND)
                                                            @Html.ValidationMessageFor(model => model.IsDFUND, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">IsShared:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <div class="input-group">
                                                            @Html.CheckBoxFor(m => m.IsShared)
                                                            @Html.ValidationMessageFor(model => model.IsShared, "", new { @class = "text-danger" })

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">IBAN:</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.IBAN, new { @Class = "input", placeholder = "", style = "width:300px; ", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.IBAN, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("accountList", "Accounts")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>


                                        }

<td colspan="1"></td>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>

            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script type="text/javascript">

        $("#AccountTypeCode").val('@ViewBag.accountTypeCode');
    </script>    
 }