@model IFMIS.Areas.IFMISTZ.Models.ManagerialNotificationVM
@{
    ViewBag.Title = "Create User";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }

    .form-group {
        padding-bottom: 10px;
    }

    .col-md-5 {
        margin-bottom: 14px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-user" style="color:black"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                                @Html.AntiForgeryToken()
                                <div class="row setup-content" id="step-1">
                                    <br />
                                    <fieldset>
                                        <div class="form-group">

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Firstname <i class="fa fa-times" style="color:white" id="Firstname_1"></i></label>
                                            <div class="col-md-3">
                                                <input type="text" name="Firstname" id="Firstname" class="form-control" />
                                            </div>
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Lastname<i class="fa fa-times" style="color:white" id="Lastname_1"></i></label>
                                            <div class="col-md-3">
                                                <input type="text" name="Lastname" id="Lastname" class="form-control" />
                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Email<i class="fa fa-times" style="color:white" id="Email_1"></i></label>
                                            <div class="col-md-3">
                                                <input type="text" name="Email" id="Email" class="form-control" />
                                            </div>

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Phonenumber<i class="fa fa-times" style="color:white" id="PhoneNumber_1"></i></label>
                                            <div class="col-md-3">
                                                <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" />
                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Category<i class="fa fa-times" style="color:white" id="Category_1"></i></label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("Category", new List<SelectListItem>{
                                                new SelectListItem{ Text="--Select ---", Value = "" },
                                                new SelectListItem{ Text="EMAIL", Value = "Email" },
                                                new SelectListItem{ Text="SMS", Value = "SMS" },
                                                 new SelectListItem{ Text="EMAIL & SMS", Value = "Email and SMS" }
                                                 }, new { @class = "form-control" })
                                            </div>

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Status</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("Status", new List<SelectListItem>{
                                                new SelectListItem{ Text="--Select ---", Value = "" },
                                                new SelectListItem{ Text="ACTIVE", Value = "Active" },
                                                new SelectListItem{ Text="INACTIVE", Value = "Inactive" },
                                                 }, new { @class = "form-control", @required = "required" })
                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div>
                                        </div>


                                        @if (ViewBag.Institutions != null)
                                        {
                                            <div class="form-group">

                                                <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Institution <i class="fa fa-times" style="color:white" id="Institution_1"></i></label>
                                                <div class="col-md-3">
                                                    <select id="InstitutionId" name="InstitutionId" class="form-control select2">
                                                        <option value="0">Choose Institution</option>
                                                        @foreach (var inst in ViewBag.Institutions)
                                                        {
                                                            <option value='@inst.InstitutionId'>@inst.InstitutionName - @inst.InstitutionCode</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group"><div class="col-md-7"></div></div>
                                            </div>
                                        }

                                    </fieldset>

                                </div>
                                <br />
                                <div class="form-group btnSubmit">
                                    <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"></label>
                                    <div class="col-md-6">
                                        <a class="btn btn-info" href='@Url.Action("ManagerialNotificationList", "ManagerialNotification")' style="margin-right:5px">
                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                        </a>
                                        <button type="submit" name="submit" onclick="saveForm()" class="btn btn-info" id="form_submision">
                                            <i class="fa fa-save"></i>Save
                                            <img src="~/Content/img/loading.gif" class="saveLoader" />
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific{
    <script>
        $(".saveLoader").toggle(false);
        var saveForm = function () {
            var Firstname = $("#Firstname").val();
            var Lastname = $("#Lastname").val();
            var Email = $("#Email").val();
            var PhoneNumber = $("#PhoneNumber").val();
            var Category = $("#Category").val();
            var Status = $("#Status").val();
            var InstitutionId = $("#InstitutionId").val();

            if (Firstname == "") {
                swal("Firstname is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $(".saveLoader").toggle(false);
                return false;
            }
            else if (Lastname == "") {
                swal("Lastname is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $(".saveLoader").toggle(false);
                return false;
            }
            else if (Email == "") {
                swal("Email is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $(".saveLoader").toggle(false);
                return false;
            }
            else if (PhoneNumber == "") {
                swal("Phone Number is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $(".saveLoader").toggle(false);
                return false;
            }

            else if (Category == "") {
                swal("Category is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $(".saveLoader").toggle(false);
                return false;
            }
            else if (Status == "") {
                swal("Status is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $(".saveLoader").toggle(false);
                return false;
            }
            else {
                $("#form_submision").prop('disabled', true);
                $(".saveLoader").toggle(true);
            }

            if (PhoneNumber != null) {
                if (PhoneNumber.toString().length != 10 || PhoneNumber < 0 || PhoneNumber == 0) {
                    swal("Please Enter Valid Phone Number");
                    $("#form_submision").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    return false;
                }
            }

            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('Firstname', Firstname);
            formData.append('Lastname', Lastname);
            formData.append('Email', Email);
            formData.append('PhoneNumber', PhoneNumber);
            formData.append('Category', Category);
            formData.append('Status', Status);
            if (InstitutionId != 0) {
                formData.append('InstitutionId', InstitutionId);
            } else {
                formData.append('InstitutionId', 0);
            }
            postFormData(formData);
        }

        function postFormData(data) {
            $("#form_submision").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("CreateManagerialNotification", "ManagerialNotification")';
            var urlList = '@Url.Action("ManagerialNotificationList", "ManagerialNotification")';
            $.ajax({
                url: url,
                data: data,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#form_submision").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("User Saved Successfully!", { icon: "success" })
                            .then((m) => {
                                window.location.href = urlList;
                            });
                    } else {
                        $("#form_submision").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response)
                    }
                },
                failure: function (error) {
                    $("#form_submision").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal("An Error Occur while Creating User, Please Contact Administrator")
                }
            });
        }       
    </script>
}


