@model IFMIS.Areas.IFMISTZ.Models.FundWithDraw

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>FundWithDraw</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Reference)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reference)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SummaryId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SummaryId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FundSummaryNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FundSummaryNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubBudgetClass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubVoteCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubVoteCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubVoteCodeDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubVoteCodeDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovalStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FundWithDrawId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
