@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundWithDraw>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummaryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundSummaryNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubVoteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubVoteCodeDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummaryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundSummaryNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubVoteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubVoteCodeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FundWithDrawId }) |
                @Html.ActionLink("Details", "Details", new { id=item.FundWithDrawId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FundWithDrawId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
