@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundAllocationWithDraw>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th {
        text-align: center;
    }

    #amountdata {
        text-align: right;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #0480be;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .alert-secondary {
        background-color: lightgrey;
        color: black;
    }
</style>

<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Allocation WithDraw Confirmation </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <table id="dt_basic" class="table table-bordered table-hover table-condensed" width="100%">
                                <thead>
                                    <tr style="text-align:right">
                                        <th data-hide="phone">ID</th>
                                        @*<th style="text-align:left">Department</th>*@
                                        <th data-class="expand" style="text-align:left"> Allocation Reference </th>
                                        <th data-class="expand" style="text-align:left"> Debit Account </th>
                                        <th data-class="expand" style="text-align:left"> Date</th>
                                        <th data-class="expand" style="text-align:right"> Allocated Amount </th>
                                        <th data-hide="phone,tablet" style="text-align:right"> WithDrawn Amount</th>

                                        <th data-hide="phone,tablet"> Action</th>
                                    </tr>
                                </thead>
                                @foreach (var group in ((IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundAllocationWithDraw>)ViewBag.distributionDetails).GroupBy(a => a.InstitutionCode))
                                {
                                    int i = 0;
                                    <tbody>
                                        @foreach (var group1 in group)
                                        {

                                            i++;
                                            <tr>
                                                <td style="text-align:right">@i</td>

                                                <td style="text-align:center">@group1.FundSummaryNum</td>
                                                <td style="text-align:left">@group1.DrGlAccount</td>
                                                <td style="text-align:left">@string.Format("{0:d/M/yyyy}", group1.CreatedAt)</td>
                                                <td style="text-align:right">@string.Format("{0:#,0.00}", group1.BaseAmount)</td>
                                                <td style="text-align:right">@string.Format("{0:#,0.00}", group1.Amount)</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" onclick="Confirm(@group1.FundWithDrawId)"><i class="fa fa-edit"></i> Confirm</a></li>
                                                            @*<li><a href="#" onclick="withdrawsAllocation(@group1.FundWithDrawId)"><i class="fa fa-edit"></i> Edit </a></li>*@
                                                            @if (group1.OverallStatus == "Rejected")
                                                            {
                                                                <li><a href="#" onclick="viewReason('@group1.RejectionReason')"> Vew Reason </a></li>
                                                            }
                                                            <li><a href="#" onclick="Delete(@group1.FundWithDrawId)"><i class="fa fa-trash-o"></i> Cancel </a></li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="modal fade" id="detailsModal">
    x
    <div class="modal-dialog">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">  Edit WithDrawn Amount </h4>

            </div>
            <div class="modal-body">
                <div id="registration-form">
                    @using (Html.BeginForm("SaveAllocationWithDrawEdit", "FundWithDraws", FormMethod.Post))
                    {
                        <table class="table table-striped">
                            <tbody>

                                <tr>
                                    <td colspan="1">
                                        <form class="well form-horizontal">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"></label>
                                                    <div class="col-md-8" style="margin:0px 0px 15px -60px;">
                                                        <input type="hidden" name="allocationId" id="allocationId" class="form-control" />
                                                        @*<input type="hidden" class="form-control" name="summaryId" id="summaryId" />*@
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"> Item Fund Balance</label>
                                                    <div class="col-md-8" style="margin:0px 0px 15px -60px;">
                                                        <input type="text" readonly="" name="FundBalance" id="FundBalance" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"> WithDrawn Amount </label>
                                                    <div class="col-md-8" style="margin:0px 0px 15px -60px;">
                                                        <input class="form-control" onkeyup="ValidateEntry()" name="Amount" id="Amount" type="text" value="">
                                                        <a href="#" id="exceedMsg" style="display:none;color:red">With Drawn Amount Exceed Fund Balance Amount </a>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"></label>
                                                    <div class="col-md-8" style="margin:0px 0px 15px -60px;">
                                                        <button type="submit" style="margin-left:0px" id="savebtn" class="btn btn-info"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>

                                                        @*<a href="../FundDistribution" style="margin-left:30px" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Back  </a>*@
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </form>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="ViewReasonModal">
    x
    <div class="modal-dialog">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">  Rejection Reason </h4>
            </div>
            <div class="modal-body">
                <div id="registration-form">
                    @Html.TextArea("RejectionReason", null, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

        </div>
    </div>
</div>



@section pagespecific {
    <script type="text/javascript">

        function edit() {
            $('#detailsModal').modal('show');
        }

        var ConfirmWithDraw = function (id) {

            $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: "ConfirmAllocationWithDraw",
                data: { ids: id },
                success: function (response) {
                    if (response == "Success") {

                        swal("Confirmed Successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                        //location.hide();
                        $("#divLoader").hide();

                    } else if (response == "DbException") {
                        swal(response + "An error has occured, contact system support");
                        $("#divLoader").hide();
                    }
                },
                error: function (xhr) {
                    //console.log(xhr.responseText);
                    alert("An error has occured, contact system support");
                    $("#divLoader").hide();
                },
            });

        };


        var RejectDistribution = function () {

            $("#rejectModal").modal("show");
            $(".modal-body #ids").val(csvIds);
        };

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {


            /*
              * ACCORDION
              */
            //jquery accordion

            var accordionIcons = {
                header: "fa fa-plus",    // custom icon class
                activeHeader: "fa fa-minus" // custom icon class
            };

            $("#accordion").accordion({
                autoHeight: false,
                heightStyle: "content",
                collapsible: true,
                animate: 300,
                icons: accordionIcons,
                header: "h4",
            })



            $('#tabs').tabs();

            // PAGE RELATED SCRIPTS

            // switch style change
            $('input[name="checkbox-style"]').change(function () {
                //alert($(this).val())
                var $this = $(this);

                if ($this.attr('value') === "switch-1") {
                    $("#switch-1").show();
                    $("#switch-2").hide();
                } else if ($this.attr('value') === "switch-2") {
                    $("#switch-1").hide();
                    $("#switch-2").show();
                }

            });

            // tab - pills toggle
            $('#show-tabs').click(function () {
                var $this = $(this);
                if ($this.prop('checked')) {
                    $("#widget-tab-1").removeClass("nav-pills").addClass("nav-tabs");
                } else {
                    $("#widget-tab-1").removeClass("nav-tabs").addClass("nav-pills");
                }

            });

        });

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        }

                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        });

        function Confirm(i, id) {
            debugger;
            if (i == 'x') i = id;
            swal({
                title: "Are you sure?",
                text: "This process cannot be undone",
                buttons: [
                    'Yes',
                    'No'
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {

                    ConfirmWithDraw(i)
                }
            });
            // $('#confirmModal').modal('hide');
        }


        function reject(i, id) {
            debugger;
            swal({
                title: "Rejection Reason",
                closeOnClickOutside: false,
                content: "input",
                buttons: [
                    'Cancel',
                    'Save'
                ],
            }).then((value) => {
                //'
                debugger;
                var inputValue = `${value}`;
                if (inputValue == "null") {
                    swal("Cancelled");

                }
                else {
                    rejectReasons(i, `${value}`)
                }

            });
        }

        var rejectReasons = function (id, reason) {
            debugger;
            var rejectionReason = reason;

            $("#divLoader").show();

            $.ajax({
                type: "POST",
                url: "RejectDistribution",
                data: { ids: id, reason: rejectionReason },
                success: function (response) {
                    if (response == "Success") {
                        swal("Rejection Successfully Saved", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                        //location.hide();
                        $("#divLoader").hide();

                    } else if (response == "DbException") {
                        swal(response + "An error has occured, contact system support");
                        $("#divLoader").hide();
                    }
                },
                error: function (xhr) {
                    //console.log(xhr.responseText);
                    alert("An error has occured, contact system support");
                    $("#divLoader").hide();
                },
            });

        };



            var withdrawsAllocation = function (did) {
            debugger;
            var allocationId = did;

            var url = '@Url.Action("WithDrawEdit", "FundWithDraws")';

            $.ajax({
                type: "POST",
                url: url,
                data: { id: allocationId },
                success: function (response) {
                    if (response[0] == "Success") {
                        //$(".modal-body #summaryId").val(response[3]);
                        $(".modal-body #allocationId").val(allocationId);
                        $(".modal-body #Amount").val(response[2]);
                        $(".modal-body #FundBalance").val(response[1]);
                        $("#detailsModal").modal("show");  // show modal
                    }
                    else if (response[0] == "DbException") {
                        alert("An error has occured, contact system support" + response[0]);
                        $("#divLoader").hide();
                    }

                    $("#Amount").autoNumeric({ aNeg: "-" }).trigger("change");
                    $("#FundBalance").autoNumeric({ aNeg: "-" }).trigger("change");
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    alert("An error has occured, contact system support");
                    $("#divLoader").hide();
                },

            })
        }



        function Delete(i, id) {
            debugger;
            if (i == 'x') i = id;
            swal({
                title: "Are you sure?",
                text: "Withdraw will be Cancelled",
                buttons: [
                    'Yes',
                    'No'
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {

                    CancelWithDraw(i)
                }
            });
            // $('#confirmModal').modal('hide');
        };

        var CancelWithDraw = function (did) {
            debugger;
            $("#divLoader").show();
            if (did != "") {
                var url = '@Url.Action("DeleteAllocationWithDraw", "FundWithDraws")';
                $.ajax({
                    url: url,
                    data: { id: did },
                    type: "POST",
                    success: function (response) {
                        $("#divLoader").hide();
                            if (response == "Success") {
                                swal("WithDraw Cancelled Successfully!", { icon: "success" })
                       .then((value) => {
                           window.location.reload();
                       });
                            }
                    }, error: function (err) {
                        $("#divLoader").hide();
                        swal(response, { icon: "success" })
                       .then((value) => {
                           window.location.reload();
                       });
                    }

                });
            }
        }

            var viewReason = function (reason) {
                debugger;

                $(".modal-body #RejectionReason").val(reason);
                $("#ViewReasonModal").modal("show");  // show modal

            }
    </script>
}
