@model IFMIS.Areas.IFMISTZ.Models.Receipt

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ReferenceNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReferenceNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LegalNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LegalNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OperationalAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OperationalAmount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OperationalCurrency)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OperationalCurrency)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceivingBankName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceivingBankName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceivingBankAccountNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceivingBankAccountNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceivingBankAccountName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceivingBankAccountName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceiptDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceiptDate, "_ShortDateTime")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DocumentNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DocumentNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CustomerName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CustomerName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceiptType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceiptType)
    </dd>

    @if (Model.ReceiptType == "Return Receipt")
    {
        <dt>
            @Html.DisplayNameFor(model => model.PvNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PvNo)
        </dd>
    }

    <dt>
        @Html.DisplayNameFor(model => model.SubBudgetClass)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SubBudgetClass)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SubBudgetClassDesc)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SubBudgetClassDesc)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DrGlAccount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DrGlAccount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DrGlAccountDesc)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DrGlAccountDesc)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Remarks)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Remarks)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.OverallStatus)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OverallStatus)
    </dd>

    @if (Model.OverallStatus == "REJECTED")
    {
        <dt>
            @Html.DisplayNameFor(model => model.RejectionReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectionReason)
        </dd>
    }
</dl>

<div class="row" style="padding-left: 10px; padding-right: 10px">
    <div class="col-md-12">
        <hr />

        <table class="table table-hover table-condensed table-stripped">
            <thead>
                <tr>
                    <th colspan="4">
                        Receipt Items
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Cr GL Account</th>
                    <th>Cr GL Account Desc</th>
                    <th>Expensed Amount</th>
                </tr>
            </thead>

            @{
                int i = 0;
            }
            <tbody>
                @foreach (var item in Model.ReceiptDetails)
                {
                    i++;
                    <tr>
                        <th>@i</th>
                        <th>@item.CrGlAccount</th>
                        <th>@item.CrGlAccountDesc</th>
                        <th style="text-align: right">@string.Format("{0:N2}", @item.ExpensedAmount)</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>