@model IFMIS.Areas.Coadmis.Models.QuestionnairType


<div class="row setup-content">
    @Html.AntiForgeryToken()
    <form>
        <div class="form-horizontal">
            <div class="col-xs-12">
                @Html.HiddenFor(model => model.QuestionnairTypeId)
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-3">Questionnair Type<span class="redStar">*</span></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.QuestionnairTypeName, new { @Class = "form-control input", @required = "required", style = "width:100%; " })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Working Paper Ref No<span class="redStar">*</span></label>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.WorkingPaperRefNo, new { @Class = "form-control input", @required = "required", style = "width:100%; " })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Description<span class="redStar">*</span></label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.Description, new { @Class = "form-control", @required = "required", @row = 10, @col = 50 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
