@model IFMIS.Areas.IFMISTZ.Models.ImprestJournalTypeView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ImprestJournalTypeView</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeViewId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeViewId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Institutionid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Institutionid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SourceModule)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SourceModule)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SublevelCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SublevelCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubBudgetClass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.costcentre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.costcentre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrGfsCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrGfsCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrCoa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrCoa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrCoaDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrCoaDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrGfsCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrGfsCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrCoa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrCoa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrCoaDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrCoaDesc)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
