@model IFMIS.Areas.PayrollManagement.Models.EmployeeDetailVM
@{
    ViewBag.Title = "Detils";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Employee Preview</h2>
                    </header>
                    <!-- widget div-->
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <div class="widget-body">
                        <div class="form-group" style="padding-top:20px">
                            @Html.LabelFor(model => model.CheckNumber, htmlAttributes: new { @class = "control-label col-md-1", @style = "padding-right: 5px" })
                            <div class="col-md-4" style="padding-left: 5px">
                                @Html.TextBoxFor(model => model.CheckNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CheckNumber, "", new { @class = "text-danger" })
                            </div>
                        </div><br />
                        <div id="amend">


                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>
    </section>
    <!-- end widget grid -->
</div>

@section pagespecific {
    <script type="text/javascript">

       $(document).ready(function (){
            var url = '@Url.Action("GetEmployee", "Employees")';
           $("#CheckNumber").select2({
                minimumInputLength: 4,
                width: 'resolve',
                ajax: {
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: function (searchQuery) {
                        return {
                            searchQuery: searchQuery,
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data.employees
                        };
                    }
                }
            });
        });

        $("#CheckNumber").change(function () {
            debugger
            var employeeId = $("#CheckNumber").val();

            var url = '@Url.Action("GetEmployeePaymentDetails", "PayrollJobs")';

            url += '?employeeId=' + employeeId;
            $.ajax({
                url: url,
                datatype: "json",
                type: "Post",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    $("#amend").html(data);
                },
                error: function (xhr) {
                    swal('Error please contact system admin');
                }
            })
        });

    </script>
}






