@model IFMIS.Areas.RecurrentPayment.Models.LoanVM

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>
<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 5%">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                        <h2 style="color:black;">Add Beneficiary Deduction</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitData(this)", id = "AddDeduction" }))
                                        {
                                            @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BeneficiaryID, "Beneficiary Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.TextBoxFor(model => model.BeneficiaryID, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BeneficiaryCode, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.BeneficiaryCode, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryCode, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.AccountNo, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.AccountNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BeneficiaryCategory, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.BeneficiaryCategory, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryCategory, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.SalaryAmount, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.SalaryAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.SalaryAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BankID, "Institution Name", htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.DropDownListFor(model => model.BankID, Model.Banks, "Select Institution", new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.BankID, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.DedCode, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.DropDownListFor(model => model.DeductionCodeId, new SelectList(""), "Select Ded Code", new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.DedCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PaymentMode, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.PaymentMode, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.DeductionPercent, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.DeductionPercent, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.DeductionPercent, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LoanAmount, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LoanAmount, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.PaybackPeriod, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.PaybackPeriod, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PaybackPeriod, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.MonthlyDeductionAmount, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.MonthlyDeductionAmount, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.MonthlyDeductionAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RegistrationNumber, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
                                                </div>
                                                @Html.LabelFor(model => model.LoanStatus, htmlAttributes: new { @class = "control-label col-md-2", @style = "padding-right: 5px" })
                                                <div class="col-md-3" style="padding-left: 5px">
                                                    @Html.EnumDropDownListFor(model => model.LoanStatus, "--Select--", new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.LoanStatus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn btn-info" id="submit" style="float: left">
                                                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                                                        Save
                                                    </button>

                                                    <a href="@Url.Action("DeductionList")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                                        Back
                                                    </a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts{
    <script>

        $('#LoanAmount').autoNumeric('init');
        $('#MonthlyDeductionAmount').autoNumeric('init');
        //$("#SalaryAmount").autoNumeric({ aNeg: "-" }).trigger("change");
        //$("#StartDate")
        //    .wrap('<div class="input-group">')
        //    .datepicker({
        //        dateFormat: "dd/M/yy",
        //        changeMonth: true,
        //        changeYear: true,
        //        yearRange: "-60:+0",
        //        showOn: "both",
        //        buttonImage: "/Media/Images/calendar.gif",
        //        maxDate: "+0D"
        //    })
        //    .next("button").button({
        //        icons: { primary: "ui-icon-calendar" },
        //        label: "Select a date",
        //        text: false
        //    })
        //    .addClass("btn btn-default")
        //    .wrap('<span class="input-group-btn">')
        //    .find('.ui-button-text')
        //    .css({
        //        'visibility': 'hidden',
        //        'display': 'inline'
        //    });

        $(document).ready(function () {

            var url = '@Url.Action("GetBeneficiaries", "Deductions")';

            $("#BeneficiaryID").select2({
                minimumInputLength: 2, // minimumInputLength for sending ajax request to server
                width: 'resolve', // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: function (searchQuery) {
                        return {
                            searchQuery: searchQuery,
                        };
                    },
                    results: function (data, page) {
                        return { results: data.beneficiaries }; // data.beneficiaries returning json data from Controller
                    }
                }
            });
        });

        $("#DeductionCodeId").change(function () {

            var dedCodeId = $("#DeductionCodeId").val();

            var url = '@Url.Action("GetDeductionCategory", "Deductions")';
            $.ajax({
                type: "POST",
                url: url,
                data: { dedCodeId: dedCodeId },
                success: function (data, status, jqXHR) {
                    if (data == "Contribution") {
                        $("#LoanAmount").prop("readonly", true);
                        $("#PaybackPeriod").prop("readonly", true);
                    } else {
                        $("#LoanAmount").val("");
                        $("#PaybackPeriod").val("");
                        $("#LoanAmount").prop("readonly", false);
                        $("#PaybackPeriod").prop("readonly", false);
                    }
                }
            })
        });

        $("#BeneficiaryID").change(function () {
            var url = '@Url.Action("PopulateEmployeeFields", "Deductions")';
            var beneficiaryId = $("#BeneficiaryID").val();

            $.ajax({
                type: "POST",
                url: url,
                data: { 'beneficiaryId': beneficiaryId },
                success: function (data, status, jqXHR) {
                    if (data.success) {
                        document.getElementById('BeneficiaryCode').value = data.beneficiaryCode;
                        document.getElementById('AccountNo').value = data.accountNo;
                        document.getElementById('BeneficiaryCategory').value = data.beneficiaryCategory;
                        document.getElementById('SalaryAmount').value = data.salaryAmount;
                    } else {
                        alert('This beneficiary does not exist!');
                        document.getElementById('BeneficiaryCode').value = "";
                        document.getElementById('AccountNo').value = "";
                        document.getElementById('BeneficiaryCategory').value = "";
                        document.getElementById('SalaryAmount').value = "";
                    }
                }
            })
        });

        $("#BankID").change(function () {

            var id = $(this).val();

            var url = "GetDeductionCodesPerInstitution/" + id;

            $.ajax({
                type: "POST",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#DeductionCodeId").empty();
                    $("#DeductionCodeId").append(response);
                }
            })
        });

        $("#DeductionCodeId").change(function () {
            var url = '@Url.Action("PopulateDeductionCodeFields", "Deductions")';
            var deductionCodeId = $("#DeductionCodeId").val();

            $.ajax({
                type: "POST",
                url: url,
                data: { 'deductionCodeId': deductionCodeId },
                success: function (data, status, jqXHR) {
                    if (data.success) {

                        document.getElementById('PaymentMode').value = data.paymentMode;
                        document.getElementById('DeductionPercent').value = data.deductionPercent;

                    } else {

                        alert('This deduction code does not exist!');
                        document.getElementById('PaymentMode').value = "";
                        document.getElementById('DeductionPercent').value = "";
                    }
                }
            })
        });

        function SubmitData(formData) {
            debugger;
            if (!$("#AddDeduction").valid()) {
                swal("Please fill required area");
                return false;
            }
            var url = '@Url.Action("AddDeduction", "Deductions")';
            $("#divLoader").show();
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                    $("#divLoader").hide();
                    if (response == "success") {
                        swal("Deduction saved successfully", { icon: "success" })
                        .then((value) => {
                            var url = '@Url.Action("DeductionList", "Deductions")';
                            window.location.replace(url);
                        });
                        //window.location.href = 'Url.Action("DeductionList", "Deductions")';
                    }
                    else if (response == "duplicate") {
                        swal("Deduction Already Exist!", { icon: "warning" });
                    }
                    else if (response == "error") {
                        swal("Error during save, contact system support!", { icon: "warning" });
                    } else {
                        swal(response, { icon: "warning" });
                    }
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
        
    </script>
}
