@model IFMIS.Areas.RecurrentPayment.Models.LoanVM

@{
    ViewBag.Title = "Details";
}
<div>
    <!-- Default panell contents -->
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-condensed table-hover table-responsive table-striped">
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.BeneficiaryName).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BeneficiaryName)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.BeneficiaryCode).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BeneficiaryCode)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.DedCode).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DedCode)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.DedDescription).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.DedDescription)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.SalaryAmount).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.SalaryAmount)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.LoanAmount).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.LoanAmount)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.PaybackPeriod).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PaybackPeriod)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.MonthlyDeductionAmount).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.MonthlyDeductionAmount)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.BalanceAmount).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.BalanceAmount)
                </td>
            </tr>         
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.StartDate).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        @Html.DisplayNameFor(model => model.LoanStatus).ToString().ToUpper()
                    </strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.LoanStatus)
                </td>
            </tr>
        </table>
    </div>
</div>