@model IFMIS.Areas.RecurrentPayment.Models.BeneficiaryAllowance

@{
    ViewBag.Title = "Details";
}

<div id="content">
    <div class="panel panel-default" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style:normal; font-size:15px">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title"> Beneficiary Allow`  ance Details</h3>
        </div>
        <div class="row" style="margin: 15px">
            <table>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.BeneficiaryId)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Beneficiary.BeneficiaryName)
                    </td>
                    <td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.BeneficiaryCode)
                        </strong>
                    <td>

                    <td>
                        @Html.DisplayFor(model => model.Beneficiary.BeneficiaryCode)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.AllowanceListId)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AllowanceList.AllowanceName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.AllowanceList.AllowanceDescription)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AllowanceList.AllowanceDescription)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.AllowanceList.AllowanceAmount)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AllowanceList.AllowanceAmount)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.Status)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.StatusRemarks)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.StatusRemarks)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.StatusBy)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.StatusBy)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayNameFor(model => model.StatusAt)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.StatusAt)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeneficiaryAllowanceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
