@model IFMIS.Areas.LoanMod.Models.LoanAccessorVM
@{
    ViewBag.Title = "Create Loan Appraiser";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }

    .backgroundColor {
        background: #ff0000;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-3 col-lg-3 col-sm-12 "></div>
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                User
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" readonly id="Fullname" placeholder="No User Selected" style="width:260px" />
                                                    <input type="hidden" id="LoanAccessorId" name="LoanAccessorId" />
                                                    <a class="search-btn" onclick="SearchLoanAccessor()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Category
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.DropDownList("Category", new List<SelectListItem>{
                                                        new SelectListItem{ Text="--Select ---", Value = "" },
                                                        new SelectListItem{ Text = IFMIS.Libraries.Constants.LOAN_APPLICATION_OR_APPRAISAL, Value = IFMIS.Libraries.Constants.LOAN_APPLICATION_OR_APPRAISAL },
                                                        new SelectListItem{ Text= IFMIS.Libraries.Constants.LOAN_MONITORING, Value = IFMIS.Libraries.Constants.LOAN_MONITORING },
                                                         }, new { @class = "form-control", @required = "required", style = "width:300px;" })
                                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-info" href='@Url.Action("LoanAccessorList", "Setting")' style="margin-right:5px">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                                <button type="submit" class="btn btn-info" id="form_submission">
                                                    <i class="fa fa-save"></i>Save
                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />

                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-3 col-lg-3 col-sm-12 "></div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>

    <div class="modal fade" id="accessorModal" style="left:4%">

        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content panel-info">


                <div class="modal-header panel-heading">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title"> Search Loan Appraiser</h3>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container submit-btn" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search..." id="searchbox">
                            </div>
                        </div>
                    </div>
                    <table class="table" id="dt_search_loan_accessor">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Firstname</th>
                                <th>Middlename</th>
                                <th>Lastname</th>
                                <th>Check Number</th>
                                <th>Phone Number</th>
                                <th>Designation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--- HIDDEN SECTION -->
    <section id="widget-grid" style="visibility:hidden">
        <div class="row">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

                <header style="background-color:#2196F3">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Loan Appraiser Details</h2>
                </header>

                <div>
                    <div class="widget-body " style="padding-top:10px">
                        <a class="submit-btn" onclick="SearchLoanAccessor()" href="#">
                            <i class="fa fa-search search-icon"></i>
                            Search Appraiser
                        </a>
                        <table id="dt_selected_accessor" class="table table-striped table-bordered table-hover table-condensed" width="100%"></table>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

            //SHOW LOADER ICON
            $(document).ajaxStart(function () {
                $(".loadingImg").show();

            });
            //HIDE LOADER ICON
            $(document).ajaxStop(function () {
                $(".loadingImg").hide();
            });
            $(document).ready(function () {
                $("#dt_search_loan_accessor_wrapper .dt-toolbar").remove();
            });
            var dt_selected_accessor = $('#dt_selected_accessor').dataTable({
                "data": [],
                "columnDefs": [{
                    //"targets": [0, 1],
                    "visible": false
                }],
                "columns": [
                    { title: "User" },
                    { title: "First Name" },
                    { title: "Middle Name" },
                    { title: "Last Name" },
                    { title: "Check Number" },
                    { title: "Phone Number" },
                    { title: "Designation" },
                    { title: "Action" }
                ]
            });



            var dt_search_loan_accessor = $('#dt_search_loan_accessor').dataTable({
                "aoColumnDefs": [],
            });

            $("#searchbox").on("keyup search input paste cut", function () {
                if (!this.value) {
                    dt_search_loan_accessor.fnClearTable();
                } else {
                    searchLoanAccessorTableUpdate(this.value);
                }
            });

            function searchLoanAccessorTableUpdate(search) {
                var url = '@Url.Action("GetUsers", "LoanApplication")';
                $.ajax({
                    type: "get",
                    url: url + "/?search=" + search + "",
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        data = response.data;
                        dt_search_loan_accessor.fnClearTable();
                        for (var i = 0; i < data.length; i++) {
                            dt_search_loan_accessor.fnAddData(
                                [
                                i + 1,
                               data[i]["UserName"],
                               data[i]["FirstName"],
                               data[i]["MiddleName"],
                               data[i]["LastName"],
                               data[i]["CheckNumber"],
                               data[i]["PhoneNumber"],
                               data[i]["Designation"],
                               '<a href="#" onclick="accessorClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                                ]);
                        }
                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            }
            var userName = null;
            function accessorClicked(rowId) {
                var data = dt_search_loan_accessor.DataTable().rows().data();
                var row = data[rowId];
                dt_selected_accessor.fnClearTable();
                $("#LoanAccessorId").val(row[1]);
                $("#Fullname").val(row[1]);
                dt_selected_accessor.fnAddData([row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8]]);
                $("#accessorModal").modal("hide");
                userName = (row[1]);
            }
            // =========== END SEARCH PAYEE ====================

            function SearchLoanAccessor() {
                $('#accessorModal').modal('show');
            }

            $("#saveLoader").toggle(false);
            $("#form_submission").click(function () {
                var data = dt_selected_accessor.DataTable().rows().data();
                var row = data.rows(0).data()[0];
                var UserName = userName;
                var Category = $("#Category").val();

                if (UserName == '' ) {
                    var url = '@Url.Action("CreateLoanAccessor", "Setting")';
                    swal("Please Select User");
                    $("#form_submission").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    return false;
                }

                if (Category == '') {
                    var url = '@Url.Action("CreateLoanAccessor", "Setting")';
                    swal("Please Select Category");
                    $("#form_submission").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    return false;
                }

                var form_data = {
                    "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                    "UserName": UserName,
                    "Category": Category
                }

                var url = '@Url.Action("CreateLoanAccessor", "Setting")';
                var urlList = '@Url.Action("LoanAccessorList", "Setting")';
                $("#form_submission").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submission").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submission").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });
            });
    </script>
}


