@model IFMIS.Areas.LoanMod.Models.CollateralAttachmentVM
@{
    ViewBag.Title = "Edit Collateral Attachment";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            @Html.AntiForgeryToken()
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-lg-3 col-sm-12 "></div>
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>

                                        <tr>
                                            <td class="form-label">
                                                Collateral Type Name
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <select id="CollateralTypeId" style="width:300px" class="form-control select2">
                                                    @foreach (var col in ViewBag.CollateralTypeList)
                                                    {
                                                        if (ViewBag.CollateralTypeId == col.CollateralTypeId)
                                                        {
                                                            <option value='@col.CollateralTypeId' selected>@col.CollateralName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value='@col.CollateralTypeId'>
                                                                @col.CollateralName
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Attachment Name
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="hidden" name="CollateralAttachmentId" value="@ViewBag.CollateralAttachmentId" id="CollateralAttachmentId" />
                                                    @Html.TextBoxFor(model => model.AttachmentName, new { @Class = "input", style = "width:300px; " })
                                                    @Html.ValidationMessageFor(model => model.AttachmentName, "", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Status
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    @Html.DropDownList("Status", new List<SelectListItem>{
                                                new SelectListItem{ Text="--Select ---", Value = "" },
                                                new SelectListItem{ Text="Active", Value = "Active" },
                                                new SelectListItem{ Text="Inactive", Value = "Inactive" },
                                                 }, new { @class = "form-control", style = "width:300px;" })
                                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-info" href='@Url.Action("CollateralAttachmentList", "Setting")' style="margin-right:5px">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                                <button type="submit" class="btn btn-info" id="form_submision">
                                                    <i class="fa fa-save"></i>Update
                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-lg-3 col-sm-12 "></div>
                            </div>

                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        $("#saveLoader").toggle(false);
        $("#form_submision").click(function () {
           var AttachmentName = $("#AttachmentName").val();
            var CollateralTypeId = $("#CollateralTypeId").val();
            var CollateralAttachmentId = $("#CollateralAttachmentId").val();
            var status = $("#Status").val();

            if (AttachmentName == '' || status == '') {
                var url = '@Url.Action("EditCollateralAttachment", "Setting", new { id = ViewBag.CollateralAttachmentId })';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (/^[a-zA-Z0-9\-_\s]*$/.test(AttachmentName) == false) {
                swal("Special Characters for Attachment Name are not allowed");
                return false;
            }


             var form_data = {
            "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
            "AttachmentName": AttachmentName,
            "CollateralTypeId": CollateralTypeId,
            "CollateralAttachmentId": CollateralAttachmentId,
            "Status": status
        }

        var url = '@Url.Action("EditCollateralAttachment", "Setting")';
        var urlList = '@Url.Action("CollateralAttachmentList", "Setting")';
        $("#form_submision").prop('disabled', true);
        $("#saveLoader").toggle(true);
        $.ajax({
            type: "post",
            url: url,
            data: form_data,
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                if (response == "Success") {
                    swal("Updated Successfully!", { icon: "success" })
                        .then((value) => {
                            window.location.href = urlList;
                        });
                }
                else {
                    swal(response);
                }
            },
            failure: function (error) {
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                swal(error);
            }
        });
        });
    </script>
}



