@model IFMIS.Areas.LoanMod.Models.ScoreCardVM
@{
    ViewBag.Title = "Edit Score Card";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            @Html.AntiForgeryToken()
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-lg-3 col-sm-12 "></div>
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        <input type="hidden" name="ScoreCardId" value="@ViewBag.ScoreCardId" id="ScoreCardId" />

                                        <tr>
                                            <td class="form-label">
                                                Security Name
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <select id="LoanSecurityId" style="width:300px" class="form-control select2">
                                                    @foreach (var scoreCard in ViewBag.LoanSecurityList)
                                                    {
                                                        if (ViewBag.LoanSecurityId == scoreCard.LoanSecurityId)
                                                        {
                                                            <option value='@scoreCard.LoanSecurityId' selected>@scoreCard.SecurityName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value='@scoreCard.LoanSecurityId'>
                                                                @scoreCard.SecurityName
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Loan Score Name
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <select id="LoanScoreId" style="width:300px" class="form-control select2">
                                                    @foreach (var scoreCard in ViewBag.LoanScoreList)
                                                    {
                                                        if (ViewBag.LoanScoreId == scoreCard.LoanScoreId)
                                                        {
                                                            <option value='@scoreCard.LoanScoreId' selected>@scoreCard.LoanScoreName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value='@scoreCard.LoanScoreId'>
                                                                @scoreCard.LoanScoreName
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                        @*<tr>
                                                <td class="form-label">
                                                    Description
                                                    <i class="fa fa-times" style="color:white"></i>
                                                </td>
                                                <td>
                                                    @Html.TextArea("ScoreCardDesc", null, new { @class = "form-control", @required = "required", rows = "2", cols = "41", @style = "width:300px;" })

                                                    @Html.ValidationMessageFor(model => model.ScoreCardDesc, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>*@
                                        <tr>
                                            <td class="form-label">
                                                Score (%)
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Score, new { @Class = "input", @required = "required", style = "width:300px; ", type = "number", min = "0" })
                                                @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-info" href='@Url.Action("ScoreCardList", "Setting")' style="margin-right:5px">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                                <button type="submit" class="btn btn-info" id="form_submision">
                                                    <i class="fa fa-save"></i>Update
                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-lg-3 col-sm-12 "></div>
                            </div>

                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
        document.getElementById("LoanScoreId").disabled = true;
        $("#LoanSecurityId").change(function () {
            $(document).ajaxStart(function () {
                $(".loadingImg").hide();
            });
            var loanSecurityId = $(this).val();
            document.getElementById("LoanScoreId").value = "";
            document.getElementById("LoanScoreId").disabled = false;
            getLoanScore(loanSecurityId);
        });

        function getLoanScore(loanSecurityId) {
            var option = [];
            $.ajax({
                url: '@Url.Action("getLoanScore", "Setting")/?loanSecurityId=' + loanSecurityId + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    option.push('<option value="">Select Loan Score Name</option>');
                    data.forEach(d=> {
                        option.push('<option value=' + d["Value"] + '>' + d["Text"] + '</option>');
                    });
                    option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                    $("#LoanScoreId").html(option);
                }
            })
        }

        $("#saveLoader").toggle(false);
        $("#form_submision").click(function () {
            var Score = $("#Score").val();
            var LoanSecurityId = $("#LoanSecurityId").val();
            var LoanScoreId = $("#LoanScoreId").val();
            var ScoreCardId = $("#ScoreCardId").val();
            //var ScoreCardDesc = $("#ScoreCardDesc").val();

            if (Score == '' || LoanSecurityId == 'Select Loan Security'  || LoanScoreId == 'Select Score Card') {
                var url = '@Url.Action("EditScoreCard", "Setting", new { id = ViewBag.ScoreCardId })';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (Score < 0 ) {
                swal("Negative Input is not allowed");
                return false;
            }

            if (Score > 100) {
                swal("Score should not exceed 100%");
                return false;
            }

            //if (/^[a-zA-Z0-9\-_\s]*$/.test(ScoreCardDesc) == false) {
            //    swal("Special Characters for Score card Description are not allowed");
            //    return false;
            //}

            var form_data = {
            "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
            "Score": Score,
            "LoanSecurityId": LoanSecurityId,
            "LoanScoreId": LoanScoreId,
            "ScoreCardId": ScoreCardId
            //"ScoreCardDesc": ScoreCardDesc
        }

        var url = '@Url.Action("EditScoreCard", "Setting")';
        var urlList = '@Url.Action("ScoreCardList", "Setting")';
        $("#form_submision").prop('disabled', true);
        $("#saveLoader").toggle(true);
        $.ajax({
            type: "post",
            url: url,
            data: form_data,
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                if (response == "Success") {
                    swal("Updated Successfully!", { icon: "success" })
                        .then((value) => {
                            window.location.href = urlList;
                        });
                }
                else {
                    swal(response);
                }
            },
            failure: function (error) {
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                swal(error);
            }
        });
        });
    </script>
}



                            