@model IFMIS.Areas.LoanMod.Models.LoanProductVM
@{
    ViewBag.Title = "Loan Product Details";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>

                    </header>


                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                        <table class="table  table-hover table-condensed">

                            <tbody>

                                <tr>
                                    <td style="width:20%">
                                        Product Name
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ProductName)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:20%">
                                        Product Code
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ProductCode)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Description
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ProductDesc)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Recovery Period (In months)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.LoanPeriod)
                                    </td>
                                </tr>
                                @*<tr>
                                        <td style="width:20%">
                                            Grace Period (In months)
                                        </td>
                                        <td>
                                           @Html.DisplayFor(model => model.GracePeriod)
                                        </td>
                                    </tr>*@
                                <tr>
                                    <td style="width:20%">
                                        Maximum Amount (Tsh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MaximumAmount)
                                    </td>
                                </tr>

                                @*<tr>
                                        <td style="width:20%">
                                            Interest Rate (%)
                                        </td>
                                        <td>
                                           @Html.DisplayFor(model => model.InterestRate)
                                        </td>
                                    </tr>*@
                                <tr>
                                    <td style="width:20%">
                                        Interest Payed Upfront
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InterestPaidUpfront)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:20%">
                                        Penalt (%)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PenaltyPercentage)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:20%">
                                        Status
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Status)
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>

                    <div class="col-md-offset-2">
                        <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                    </div>


                </div>
            </article>

        </div>
    </section>

</div>