@model IEnumerable<IFMIS.Areas.Coadmis.DTO.AddMattersVM>
<link href="~/Areas/Coadmis/Contents/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Areas/Coadmis/Contents/css/rowGroup.dataTables.min.css" rel="stylesheet" />
<table id="example" class="display table table-bordered table-condensed table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Reference
            </th>
            <th>
                Work Undertaken
            </th>
            <th>
                Conclusion
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    @{
        int i = 0;
    }
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Reference
                </td>
                <td>
                    @item.Workundertaken
                </td>
                <td>
                    @item.Conclusion
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="viewFndingDetails(@item.PointFowardSignificantMatterId)">
                                    <i class="glyphicon glyphicon-eye-open" aria-hidden="true" aria-hidden="true"></i>
                                    Details
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="editFndingDetails(@item.PointFowardSignificantMatterId)">
                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="deletemattersDetails(@item.PointFowardSignificantMatterId)">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true" aria-hidden="true"></i>
                                    Cancel
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
<script src="~/Areas/Coadmis/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Areas/Coadmis/Scripts/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divLoader").toggle(true);
        debugger

        var t = $('#example').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']]
            ,
            rowGroup: {
                dataSrc: [1]
            },
            columnDefs: [{
                targets: [1],
                visible: false
            }]
            , initComplete: function () {
                $("#divLoader").toggle(false);
            }
        });
        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });

    function viewFndingDetails(id) {
          debugger;
            $("#divLoader").show();
            var url = '@Url.Action("MattersDetails", "AuditCompletion")/' + id;
        $(".modal-title").text("Audit Matters");
        $("#btnSave").hide();
            $("#modal-body").load(url, function () {
                $("#modal").modal({
                    backdrop: "static",
                    keyboard: false
                });
                $("#divLoader").hide();
            });
    };

    function editFndingDetails(id) {
          debugger;
        $("#divLoader").show();
        $("#btnSave").show();
            var url = '@Url.Action("EditMattersDetails", "AuditCompletion")/' + id;
            $(".modal-title").text("Edit Audit Matters");
            $("#modal-body").load(url, function () {
                $("#modal").modal({
                    backdrop: "static",
                    keyboard: false
                });
                $("#divLoader").hide();
            });
        };
</script>