@model  IFMIS.Areas.Coadmis.DTO.AuditCompletionVM

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
        table-layout: auto;
    }

    .fixed {
        table-layout: fixed;
    }

    td, th {
        border: -1px;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    tr {
        page-break-inside: avoid;
    }

    #report {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
        page-break-inside: avoid;
        text-align: justify;
        text-justify: inter-word;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>
        <div class="panel-title" style="margin-top:10px"><b>THE UNITED REPUBLIC OF TANZANIA</b></div>
        <div class="panel-title"><b>@Model.ClientName.ToUpper()</b></div><br />
        <div class="panel-title"><b>AUDIT MATTERS REPORT  FOR FINANCIAL YEAR:@Model.FinancialYear </b></div><br />
        @*<div class="panel-title"><b>@ViewBag.ExpenditureGroup.ToUpper()</b> - @ViewBag.ExpenditureType.ToUpper()</div>*@
        <div class="row" id="report">
            @{
                int i = 0;
                int j = 0;
                int k = 0;
            }
            @foreach (var groups in Model.AddMattersVMs.GroupBy(a => a.Name))
            {
                i++;
                <div>
                    <h3>@i.0 @groups.Key.ToUpper()</h3>
                </div>                
                    foreach (var group1 in groups)
                    {
                       
                        <div>
                            <p><b> Description</b></p>
                           @group1.Description
                        </div>
                        <div>
                            <p><b>Workundertaken</b></p>
                             @group1.Workundertaken
                        </div>
                        <div>
                            <p><b>Conclusion</b></p>
                             @group1.Conclusion
                        </div>
                }
                i = 0;
            }
        </div>
    </div>
</div>

