@model IFMIS.Areas.Coadmis.DTO.AddMattersVM
<div class="col-md-12">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Description):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Reference):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Workundertaken):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workundertaken)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Conclusion):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conclusion)
        </dd>
    </dl>
</div>