@model IFMIS.Areas.Coadmis.DTO.AuditCompletionVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "recommendationsEditForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="form-group">
        @Html.HiddenFor(model => model.FwSummaryFindingId)
        @Html.HiddenFor(model => model.ManagementAuditorCommentId)
        @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AuditableAreaId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.AuditableAreaName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.AuditableAreaId, "", new { @class = "text-danger" })
        </div>      
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FwSummaryFindingId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.FindingName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.FwSummaryFindingId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FindingNatureName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.FindingNatureName, ViewBag.FindingNatureName as SelectList, "Select Finding Nature", new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.FindingNatureName, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.Name, ViewBag.IsMaterial as SelectList, "Select One", new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FindingCategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.FindingCategoryName, ViewBag.FindingCategory as SelectList, "Select Category", new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.FindingCategoryName, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.FindingOpinionBasisName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.DropDownListFor(model => model.FindingOpinionBasisName, ViewBag.OpinionBasis as SelectList, "Select opinion basis", new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.FindingOpinionBasisName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FindingName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.FindingName, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.FindingName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FindingNameDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.FindingNameDescription, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.FindingNameDescription, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Criteria, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Criteria, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.Criteria, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Causes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Causes, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.Causes, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Condition, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Condition, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Consequence, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Consequence, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.Consequence, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Recomendation, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Recomendation, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.Recomendation, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ManagementResponse, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.ManagementResponse, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.ManagementResponse, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AuditorComment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.AuditorComment, new { @class = "form-control", @cols = 10, @rows = 4, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.AuditorComment, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FindingStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.FindingStatusId, ViewBag.FindingStatus as SelectList, "Select status", new { @class = "form-control select2" })
            @Html.ValidationMessageFor(model => model.FindingStatusId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function (){
            $("#FindingStatusId").select2({
                dropdownParent: $("#recommendationsForm")
            });
        });
    </script>
}