@model  IFMIS.Areas.Coadmis.DTO.AuditCompletionVM

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
        table-layout: auto;
    }

    .fixed {
        table-layout: fixed;
    }

    td, th {
        border: -1px;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    tr {
        page-break-inside: avoid;
    }

    #report {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
        page-break-inside: avoid;
        text-align: justify;
        text-justify: inter-word;
    }

    #container {
        display: flex;
        flex-direction: row; /* make main axis horizontal (default setting) */
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>
        <div class="panel-title" style="margin-top:10px"><b>THE UNITED REPUBLIC OF TANZANIA</b></div><br />
        <div class="panel-title"><b>@Model.ClientName.ToUpper()</b></div><br />
        <div class="panel-title"><b>AUDIT DRAFT REPORT  FOR FINANCIAL YEAR:@Model.FinancialYear </b></div><br />
        @*<div class="panel-title"><b>@ViewBag.ExpenditureGroup.ToUpper()</b> - @ViewBag.ExpenditureType.ToUpper()</div>*@
        <div class="row" id="report">
            @{
                int i = 0;
                int j = 0;
                int k = 0;
            }
            @foreach (var group in Model.FindingsTableVMs.GroupBy(a => a.AuditableAreaName))
            {
                i++;
                <div>
                    <h3> @i.0 @group.Key.ToUpper() </h3>
                </div>
                foreach (var groups in group.GroupBy(a => a.FindingName))
                {
                    j++;
                    <div>
                        <h4><Upper>@i.@j @groups.Key</Upper></h4>
                    </div>
                    foreach (var group1 in groups)
                    {
                        k++;
                        <div>
                            <p><b> Criteria</b></p>
                            @group1.Criteria
                        </div>
                        <div>
                            <p><b>Causes</b></p>
                            @group1.Causes
                        </div>
                        <div>
                            <p><b>Condition</b></p>
                            @group1.Condition
                        </div>
                        <div>
                            <p><b>Consequence</b></p>
                            @group1.Consequence
                        </div>
                        <div>
                            <p><b>Recomendation</b></p>
                            @group1.Recommendation
                        </div>
                        <div>
                            <p> <b>Management Response</b></p>
                            @group1.ManagementResponse
                        </div>
                        <div>
                            <p><b>Auditor Comment</b></p>
                            @group1.AuditorComment
                        </div>
                    }
                }
                j = 0;
            }
            <p><b>Financial Statements</b></p>           
            <div class="col-md-10">
                @foreach (var item in Model.FinancialstatementList)
                {                    
                    <div>
                        <p><b>@item.FinancialstatementName</b></p>
                        @Html.Raw(item.FinancialstatementDescription)
                    </div>
                }
            </div>          
        </div>
    </div>
</div>

