@model IFMIS.Areas.Coadmis.DTO.AuditCompletionVM
<div class="col-md-12">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditableAreaName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditableAreaName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.FindingName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FindingName)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.FindingNameDescription):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FindingNameDescription)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Condition):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Criteria):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Criteria)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Causes):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Causes)
        </dd>       
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Consequence):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consequence)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Recomendation):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recomendation)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.ManagementResponse):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagementResponse)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.AuditorComment):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditorComment)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Status):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>