@model IFMIS.Areas.Coadmis.DTO.MgtSummaryResponseVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 30px">
    <div id="divLoader"></div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!----->
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage:<div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i></span>
                        <h2> Add Management Response </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "recommendationsForm", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-horizontal">
                                    @Html.HiddenFor(model => model.MgtSummaryResponseId)
                                    @Html.HiddenFor(model => model.ClientId)
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.FinancialYear, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.FinancialYear, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.FinancialPositionSetupId, htmlAttributes: new { @class = "control-label" })

                                            @Html.DropDownListFor(model => model.FinancialPositionSetupId, ViewBag.AccountingSetup as SelectList, "Select financial statement type", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.FinancialPositionSetupId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.FinancialstatementDescription, htmlAttributes: new { @class = "control-label" })
                                            @Html.TextAreaFor(model => model.FinancialstatementDescription, new { @class = "ckeditor" })
                                            @Html.ValidationMessageFor(model => model.FinancialstatementDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.IncomeandExpenditure, htmlAttributes: new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.IncomeandExpenditure, new { @class = "ckeditor" })
                                                @Html.ValidationMessageFor(model => model.IncomeandExpenditure, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    @*<div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.CashflowStatement, htmlAttributes: new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.CashflowStatement, new { @class = "ckeditor" })
                                                @Html.ValidationMessageFor(model => model.CashflowStatement, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    @*<div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.EquityStatement, htmlAttributes: new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.EquityStatement, new { @class = "ckeditor" })
                                                @Html.ValidationMessageFor(model => model.EquityStatement, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    @*<div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.NoticeAccount, htmlAttributes: new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.NoticeAccount, new { @class = "ckeditor" })
                                                @Html.ValidationMessageFor(model => model.NoticeAccount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    <div class="form-group row" style="float: right;margin-right:20px">
                                        <button class="btn btn-info" id="saveFinding" type="button">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>
                                        <a href="@Url.Action("AuditingEntryList","AuditCompletion")" type="button" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> Back </a>
                                    </div>
                                    <div id="itemList">
                                        @if (ViewBag.FinancialStatement != null)
                                        {
                                            <table class="table  table-bordered table-hover table-condensed" id="dt_currencies">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>

                                                        <th>
                                                            Financial statement
                                                        </th>

                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @{
                                                    int j = 0;
                                                }
                                                <tbody>
                                                    @foreach (var item in ViewBag.FinancialStatement)
                                                    {
                                                        j++;
                                                        <tr>
                                                            <td>
                                                                @j
                                                            </td>

                                                            <td>
                                                                @item.FinancialstatementName
                                                            </td>

                                                            <td>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                        <span class="caret"></span>
                                                                        <span class="sr-only">Toggle Dropdown</span>
                                                                    </button>
                                                                    <ul class="dropdown-menu">
                                                                        <li>
                                                                            <a href="#" onclick="viewDetails(@item.FinancialStatementId)">
                                                                                Details
                                                                            </a>
                                                                        </li>
                                                                        @*<li>
                                                                                <a href="@Url.Action("AddMgtResponse", "AuditCompletion", new { id = item.FinancialStatementId })">
                                                                                    Edit
                                                                                </a>
                                                                            </li>*@
                                                                        <li>
                                                                            <a href="#" onclick="cancelEntry(@item.FinancialStatementId)">
                                                                                Cancel
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!------------------ END ADD ATTACHMENT MODAL --------------->
<!-- Start of modal -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog" style="width: 90%">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div id="modal-body" class="modal-body" style="padding:5px"></div>
            <div class="modal-footer">
                <button class="btn btn-info" id="btnSave">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
                <button class="btn btn-info role-dismiss" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->
@section pagespecific {
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">

        $("#saveFinding").click(function () {
            var FinancialstatementDescription=CKEDITOR.instances['FinancialstatementDescription'].getData();
            var FinancialPositionSetupId= $("#FinancialPositionSetupId").val();

            if (FinancialPositionSetupId == '') {
                swal("Please select financial statement type", { icon: "warning" });
                return false;
            }

            if (FinancialstatementDescription == '') {
                swal("Please add financial statement", { icon: "warning" });

                return false;
            }

            $("#divLoader").show();
            $("#saveFinding").prop('disabled', true);

                var data = JSON.stringify({
                    FinancialstatementDescription: CKEDITOR.instances['FinancialstatementDescription'].getData(),
                    ClientName: $("#ClientName").val(),
                    FinancialPositionSetupId: $("#FinancialPositionSetupId").val(),
                    ClientId: $("#ClientId").val(),
                    MgtSummaryResponseId: $("#MgtSummaryResponseId").val(),
                    FinancialYear: $("#FinancialYear").val(),
                });
                $.when(saveRequestedit(data)).then(function () {
                }).fail(function (err) {
                    console.log(err);
                });

                function saveRequestedit(data) {
                    var url = "@Url.Action("PostFinancialStatement", "AuditCompletion")";
                    var urlredirect = "@Url.Action("AuditingEntryList", "AuditCompletion")";

                    return $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: url,
                        traditional: true,
                        data: data,
                        success: function (response) {
                            $("#saveFinding").prop('disabled', false);
                            $("#divLoader").hide();
                            if (response == "success") {
                                swal("Saved Successfully!", { icon: "success" })
                                    .then((value) => {
                                        window.location.reload();
                                    });
                            } else if (response == "exist") {
                                swal("Financial Statement Exist!", { icon: "info" })
                                    .then((value) => {
                                    });
                            } else {
                                swal(response + "....Failed Save Request")
                            }
                        },
                        error: function (xhr) {
                            swal("An error has occured, contact system support");
                        },
                    });
                }
        });

          var cancelEntry = function (id) {
                       swal({
                                    title: 'Confirmation',
                                    text: "Do you want to cancel this entry",
                                    buttons: [
                                      'No',
                                      'Yes'
                                    ],
                                }).then(function (isConfirm) {
                                    if (isConfirm) {
                                    var url = '@Url.Action("CancelFinancialstatement", "AuditCompletion")';
                                $.ajax({
                                type: "POST",
                                url: url,
                                data: { id: id },
                                success: function (response) {
                                if (response == "Success") {
                                    swal("Cancelled  successfully!", { icon: "success" })
                                                 .then((value) => {
                                                    location.reload();
                                                 });
                                }
                                else {
                                    swal(response);
                                }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            swal("An error has occured, contact system support");
                        },

                    });
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }




    var viewDetails = function (id) {
        $(".modal-title").text("Details");
        $("#btnSaveComment").show();
        $("#btnSave").hide();
        $("#divLoader").show();
        $("#btnSaveAssignment").hide();
        $("#btnSaveComment").hide();

        var url = '@Url.Action("Financialstatementdetails", "AuditCompletion")/' + id;

        $("#modal-body").load(url, function () {
            $("#modal").modal({
                backdrop: "static",
                keyboard: false
            });
            $("#divLoader").hide();
        });
    };

    </script>
}