@model IFMIS.Areas.Coadmis.DTO.AddMattersVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" style="margin: 5px; padding-top: 30px">
    <div id="divLoader"></div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!----->
        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2>Add New</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "recommendationsForm", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.MgtSummaryResponseId)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PointFowardSetupId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.PointFowardSetupId, ViewBag.choose as SelectList, "Select finding matters", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.PointFowardSetupId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @cols = 10, @rows = 2, @style = "resize:both;" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Workundertaken, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Workundertaken, new { @class = "form-control", @cols = 10, @rows = 2, @style = "resize:both;" })
                                        @Html.ValidationMessageFor(model => model.Workundertaken, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Conclusion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Conclusion, new { @class = "form-control", @cols = 10, @rows = 2, @style = "resize:both;" })
                                        @Html.ValidationMessageFor(model => model.Conclusion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info" id="saveFinding" type="button" style="float: right;margin-right:100px">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                </div>
                                <hr/>
                                <div id="itemList">
                                </div>
                                <div class="form-group">
                                    <div style="display: flex; justify-content: end;margin-right:15px;margin-top:5px">
                                        <a href="@Url.Action("auditingentrylist","auditcompletion")" type="button" class="btn btn-info"><i class="glyphicon glyphicon-arrow-left"></i> Back </a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!------------------END ADD ATTACHMENT MODAL--------------->
<!-- Start of modal -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div id="modal-body" class="modal-body" style="padding:5px"></div>
            <div class="modal-footer">
                <button class="btn btn-info" id="btnSave">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
                <button class="btn btn-info role-dismiss" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->
@section pagespecific {
    <script type="text/javascript">

          $(function () {
            $("#btnSave").on("click", function () {

                $("#btnSave").attr("disabled", true);
                debugger
                $.validator.unobtrusive.parse("#recommendationsEditForm");
                if (!$("#recommendationsEditForm").valid()) {
                    $("#btnSave").attr("disabled", false);
                    return false;
                }

            $("#divLoader").show();

            var url = '@Url.Action("SaveEditMatters", "AuditCompletion")';
            var model = $("#recommendationsEditForm").serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: model,
                success: function (response) {
                    $("#divLoader").hide();
                    $("#btnSave").attr("disabled", false);
                    if (response != "exist") {
                        swal({
                            text: "Successfully Saved",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            window.location.reload();
                        });
                    } else {
                        swal({
                            text: "Finding already exist in this Financial year",
                            icon: "warning",
                            button: "OK",
                        })
                    }
                },
                error: function () {
                    $("#btnSave").prop("disabled", false);
                    swal({
                        text: "An error occured while processing your request, please contact system support",
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $("#divLoader").hide();
                    $("#btnSave").prop("disabled", false);
                }
            });
          });
        });

        $(function () {
            $("#saveFinding").on("click", function () {

                $("#saveFinding").attr("disabled", true);
                debugger
                $.validator.unobtrusive.parse("#recommendationsForm");
                if (!$("#recommendationsForm").valid()) {
                    $("#saveFinding").attr("disabled", false);
                    return false;
                }

            $("#divLoader").show();

            var url = '@Url.Action("SaveAddMatters", "AuditCompletion")';
            var model = $("#recommendationsForm").serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: model,
                success: function (response) {
                    $("#saveFinding").attr("disabled", false);
                        $("#divLoader").hide();
                        $("#itemList").html("");
                    $("#itemList").html(response);
                    location.reload();

                },
                error: function () {
                    $("#saveFinding").prop("disabled", false);
                    swal({
                        text: "An error occured while processing your request, please contact system support",
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $("#divLoader").hide();
                    $("#saveFinding").prop("disabled", false);
                }
            });
          });
        });

        $(document).ready(function () {
            getitemList();
        });

        function getitemList() {
            $("#divLoader").show();
              var id = $("#MgtSummaryResponseId").val();
              var url = '@Url.Action("GetAddMatters", "AuditCompletion")';
              url += '?id=' + id;
                $.ajax({
                    type: "POST",
                    url: url,
                    //contentType: "html",
                    success: function (response) {
                        $("#itemList").html("");
                        $("#itemList").html(response);
                    },
                    error: function () {
                        swal({
                            text: "An error occured wile processing your request, please contact system support",
                            icon: "error",
                            button: "Ok",
                        })
                    },
                    complete: function () {
                        $("#divLoader").hide();                       
                    }
                });
        }

     var deletemattersDetails = function (id) {
                        swal({
                            title: 'Confirmation',
                            text: "Do you want to cancel this entry",
                            buttons: [
                                'No',
                                'Yes'
                            ],
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                        var url = '@Url.Action("DeleteMatters", "AuditCompletion")';
                        $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                swal("Cancelled  successfully!", { icon: "success" })
                                             .then((value) => {
                                                location.reload();
                                             });
                            }
                            else {
                                swal(response);
                            }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            swal("An error has occured, contact system support");
                        },
                    });
                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
        }

    </script>


}