@model IFMIS.Areas.Coadmis.DTO.ClientEngagementVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 30px">
    <div id="divLoader"></div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
           You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!----->
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i></span>
                        <h2> Add Management Response </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "fieldWorkForm", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                             <div class="form-horizontal" style="margin-top:20px">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClientInformationId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.ClientInformationId, ViewBag.Client as SelectList, "Select Client", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.ClientInformationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClientTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ClientTypeName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.ClientTypeName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.CategoryLevel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.CategoryLevel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EngagementName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.EngagementName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.EngagementName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Auditable Area", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <a class="search-btn" onclick="addrecommendations()" id="searchbtn" href="#" style="display:block;border:1px solid #ccc;padding:8px">
                                            <i class="fa fa-search search-icon"></i> &nbsp;
                                            Add Mgt Response(s)<strong id="added_items"></strong>
                                        </a>
                                        <input type="hidden" id="totalItems" />
                                    </div>
                                </div>                               
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <a href="@Request.UrlReferrer" style="margin-right:5px" type="button" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    </div>
                                </div>
                              </div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!------------------END ADD ATTACHMENT MODAL--------------->
<!-- Start of modal -->
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"> Details </h4>
            </div>
            <div id="modal-body" class="modal-body" style="padding:5px"></div>
            <div class="modal-footer">
                <button class="btn btn-info" id="btnSave">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
                <button class="btn btn-info role-dismiss" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->
@section pagespecific {
    <script type="text/javascript">
       

        $("#ClientInformationId").change(function () {
            $("#divLoader").show();
            debugger
            var id = $(this).val();
            var url = "GetClientInformation/?id=" + id;
            $.ajax({
                type: "POST",
                url: url,
                contentType: "html",
                success: function (data) {
                    $("#divLoader").hide();
                    $("#ClientTypeName").val(data.clientTypeName);                   
                    $("#CategoryLevel").val(data.categoryLevel);
                    $("#EngagementName").val(data.engagementName);                    
                },
            });
        });

        var addrecommendations = function (id) {    
            $("#divLoader").show();
            var id = $("#ClientInformationId").val();

            if (id == "") {
                $("#divLoader").hide();
                swal("Please select client before adding recomendations", { icon : "warning" });

                return false;
            }

            var url = '@Url.Action("GetAuditableAreaFinding", "AuditCompletion")/' + id;

            $("#modal-body").load(url, function () {
                $("#modal").modal({
                    backdrop: "static",
                    keyboard: false
                });
                $("#divLoader").hide();
            });
        };

        $("#btnSave").on("click", function () {
            debugger;          
            $("#btnSave").prop("disabled", true);
            $.validator.unobtrusive.parse("#recommendationsForm");

            if (!$("#recommendationsForm").valid()) {
                $("#btnSave").attr("disabled", false);

                    return false;
            }

            $("#divLoader").show();

            var url = '@Url.Action("AddRMgtesponse", "AuditCompletion")';
            var urlList = '@Url.Action("Auditingentrylist", "AuditCompletion")';

            var model = $("#recommendationsForm").serialize();

            $.ajax({
                type: "POST",
                url: url,
                data: model,
                success: function (response) {
                    $("#divLoader").hide();
                    if (response == "Success") {
                        swal({
                            text: "Successfully Saved",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            window.location.href = urlList;
                        });
                    } else if (response == "exist") {
                        swal({
                            text: "Record Already Exist",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                        });
                    } else if (response == "invalid status") {
                        swal({
                            text: "Bad Status Selection",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                        });
                    } else if (response == "invalid finding") {
                        swal({
                            text: "Bad Finding Selection",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                        });
                    }
                },
                error: function (){
                    $("#divLoader").hide();
                    $("#saveBtn").prop("disabled", false);
                    swal({
                        text: "An error occured while processing your request, please contact system support",
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $("#divLoader").hide();
                    $("#saveBtn").prop("disabled", false);
                }
            });
        });
    </script>
}