@{
    ViewBag.Title = "Preliminary Analysis Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px;">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            @Html.AntiForgeryToken()
                            <table class="table  table-bordered table-hover table-condensed" id="dataTableList">
                                <thead>
                                    <tr>
                                        <th style="text-align:right;width:4%">#</th>
                                        <th style="text-align:left;">Client Name</th>
                                        <th style="text-align:left;">Financial Year</th>
                                        <th>Is Questionnaire Full Answered</th>
                                        <th style="text-align:right;">Agreed Fee (VAT Inclusive)</th>
                                        <th>Status</th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        $(document).ready(function () {
            BindDataTable();
        });

        var BindDataTable = function (response) {

            $("#dataTableList").DataTable({
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetPreliminaryAnalysisApprovedList", "PreliminaryAnalysis")',
                "iDisplayLength": 10,
                "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        type: "Get",
                        data: aoData,
                        url: sSource,
                        success: fnCallback
                    })
                },
                "aoColumns": [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "mData": "ClientName"},
                    { "mData": "FinancialYearName" },
                    {
                        "mData": "IsQuestionnaireFullAnswered",
                        "render": function (IsQuestionnaireFullAnswered) {
                            var getAnswer = null;
                            if (IsQuestionnaireFullAnswered) {
                                getAnswer = "YES";
                            } else {
                                getAnswer = "NO";
                            }
                            return getAnswer;
                        }
                    },
                    {
                        "mData": "AgreedAmount",
                        "render": function (AgreedAmount, type, full, meta) {
                            var amount = null;
                            if (AgreedAmount == null) {
                                amount = "<p align='right'>0</p>";
                            }
                            else {
                                amount = "<p align='right'>" + AgreedAmount.toLocaleString() + "</p>";
                            }
                            return amount;
                        }
                    },
                    { "mData": "OverallStatus" },
                    {
                        "mData": "PreliminaryAnalysisId",
                        "render": function (PreliminaryAnalysisId, type, full, meta) {
                               return '<div class="btn-group" id="drop">\
                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                <span class="caret"></span\
                                <span class="sr-only"></span>\
                                </button>\
                                <ul class="dropdown-menu dropdown-menu-right">\
                                    <li><a class="dropdown-item" href="@Url.Action("PreliminaryAnalysisDetails", "PreliminaryAnalysis")/?id=' + PreliminaryAnalysisId + '">Details</a></li>\
                                    <li><a class="dropdown-item" href="#" onclick="printLetter(' + PreliminaryAnalysisId + ')">Print Engagement Letter</a></li>\
                                </ul>\
                            </div>\ ';
                        }
                    },
                ]
            });
        }

        function printLetter(AnalysisId) {
            queryString = "AnalysisId=" + AnalysisId + "&ClientId=" + "ALL" + "&Year=" + "ALL";
            reportUrl = "@ViewBag.reportUrlName" + "EngagementLetterRPT.aspx";
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Report")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(reportUrl + response);
                    }
            });
        }

    </script>
}




