@{
    ViewBag.Title = "Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }
</style>


<div id="content" style="margin: 5px; padding-top: 50px">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2 style="color:black;">@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-info" href='@Url.Action("CreateDepartment", "Departments")'>
                                        <i class="glyphicon glyphicon-plus"></i> Add New
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>

                            <table id="departments" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Department Code</th>
                                        <th>Department Name</th>
                                        <th>Company Name</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

            var counter = 1;

            var table = $("#departments").DataTable({
                    ajax: {
                        url: '@Url.Action("GetDepartments", "Departments")',
                        method: "GET",
                        contenttype: "application/json; charset=utf-8"
                    },
                    columns: [
                        {
                            data: "DeptId",
                            render: () => counter++
                        },
                        { data: "DeptCode" },
                        { data: "DeptName" },
                        { data: "Company.CompanyName" },
                        {
                            data: "IsActive",
                            render: data => data ? "Active" : "In Active"
                        },
                        {
                            data: "DeptId",
                            render: function(data) {
                                return '<div class="btn-group">\
                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                            <span class="caret"></span>\
                                            <span class="sr-only">Toggle Dropdown</span>\
                                        </button>\
                                        <ul class="dropdown-menu">\
                                            <li><a href="@Url.Action("EditDepartment", "Departments")/' + data + '"><i class="fa fa-edit"></i> Edit</a></li>\
                                            <li><a href="@Url.Action("DepartmentDetails", "Departments")/' + data + '"><i class="fa fa-sliders"></i> Details</a></li>\
                                            <li><a href="#" id="cancel" cancel-data-id="'+ data +'"><i class="fa fa-remove"></i> Delete</a></li>\
                                        </ul>\
                                        </div>';
                            },
                            className: "text-center"
                        }
                    ]
            });

            $("#departments_wrapper .dt-toolbar").remove();

            $("#search-box").on("keyup search input paste cut", function () {
                $("#departments").DataTable().search(this.value).draw();
                $("#departments_wrapper .dt-toolbar").remove();
            });

            $("#departments").on("click", "#cancel", function() {
                var link = $(this);
                swal({
                    title: "Delete Department?",
                    buttons: [
                        'No',
                        'Yes'
                    ],
                    icon: "warning"
                }).then(function (resp) {
                        if (resp) {
                            $.ajax({
                                url: '@Url.Action("DeleteDepartment", "Departments")',
                                method: "PUT",
                                data: { id: link.attr("cancel-data-id") },
                                success: function (status) {
                                    if (status === "success") {
                                        swal("Deleted Successfully!", { icon: "success" })
                                            .then(() => {
                                                //table.row(link.parents("tr")).remove().draw();
                                                window.location.reload();
                                            });
                                    } else {
                                        swal(status, { icon: "info" });
                                    }

                                },
                                failure: function(error) {
                                    swal(error, { icon: "error" });
                                }
                            });
                        }
                });
                });
        });

    </script>
}