@{ 
      Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Add Meeting Info</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Application No
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <div class="name-input-container">
                                                        <input type="text" disabled id="ApplicationNo" style="width:300px" value="@ViewBag.ApplicationNo"/>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Applicant Name
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" disabled id="ApplicantName" style="width:300px" value="@ViewBag.ApplicantName"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Applied Amount
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" disabled id="AppliedAmount" style="width:300px" value="@string.Format("{0:#,0.00}",ViewBag.AppliedLoanAmount)"/>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-lg-6 col-sm-12" style="padding-left:6%">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Approval Authority.
                                                <i class="fa fa-times" style="color:white" id="LoanApprovalAuthority_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <select style="width:300px" id="LoanApprovalAuthority">
                                                        <option value="msg"> --- Select Approval Authority --- </option>
                                                        @foreach (var ap in ViewBag.LoanApprovalLevels)
                                                        {
                                                            <option value="@ap.MaximumAmount">
                                                                @ap.ApprovalLevelDesc
                                                            </option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Proposed Amount
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" disabled id="ProposedAmount" style="width:300px" value="@string.Format("{0:#,0.00}",ViewBag.ProposedAmount)"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Approved Amount
                                                <i class="fa fa-times" style="color:white" id="_ApprovedAmount_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong class="currency">TZS</strong>
                                                    </span>
                                                    <amount-input id="ApprovedAmount"  style="width:255px" disabled/>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                           <hr />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <a class="btn btn-info" href='@Url.Action("ListLoanAuthorization", "LoanAuthorization")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" onclick="saveForm()">
                                        <i class="fa fa-save"></i>Save
                                        <img src="~/Content/img/loading.gif" id="saveLoader" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    
    <script>
        var dt_zoom = $('#dt_zoom').dataTable();

        $("#dt_zoom_wrapper .dt-toolbar").remove();

        function zoomLoans() {
            $("#zoomModal").modal("show");
        }
        $("#saveLoader").toggle(false);

        function saveForm() {
            if (formIsValid()) {
                if (toNumber($("#_ApprovedAmount").val()) > toNumber(ApprovalLevel)) {
                    swal(`Approved Amount is Invalid for Approval Authority '${$("#LoanApprovalAuthority :selected").text()}'`)
                } else if (toNumber($("#_ApprovedAmount").val()) > toNumber('@ViewBag.ProposedAmount')) {
                    swal("You have Exceeded the Proposed Amount.!")
                }else {
                    var formData = new FormData()
                    formData.append('LoanApprovedAmount', $("#_ApprovedAmount").val());
                    formData.append('LoanApprovalAuthority', $("#LoanApprovalAuthority :selected").text().trim());
                    formData.append('LoanApplicationId', '@ViewBag.Id');
                    postFormData(formData);
                }
            }
        }

        function postFormData(formData) {
            $("#saveForm").prop('disabled', true);
            $("#saveLoader").toggle(true);
            var url = '@Url.Action("CreateLoanApproval", "LoanAuthorization")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#saveForm").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Saved Successfully!",{ icon: "success" })
                            .then((m) => {
                                window.location.href = '@Url.Action("listloanauthorization", "LoanAuthorization")';
                            });
                    } else {
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }

        var ApprovalLevel = 0
        $("#LoanApprovalAuthority").change(function (e) {
            ApprovalLevel = e.target.value
            if (ApprovalLevel != 'msg') {
                $("#_ApprovedAmount").prop('disabled', false)
                $("#ApprovedAmount").prop('disabled', false)
            } else {
                $("#_ApprovedAmount").prop('disabled', true)
                $("#ApprovedAmount").prop('disabled', true)
            }
        })

        $("#ApprovedAmount").on('change keyup search input paste cut', function (e) {
            verifyAmount(e.target.value)
        })
        function verifyAmount(amount) {
            if (toNumber(amount) > toNumber(ApprovalLevel)
                || toNumber(amount) > toNumber('@ViewBag.ProposedAmount')) {
                $("#ApprovedAmount").attr("style", "color: red;");
            } else {
                $("#ApprovedAmount").attr("style", "color: black;");
            }
        }

        function formIsValid() {

            var isNotValid = validateInputs([
                '#_ApprovedAmount',
                '#LoanApprovalAuthority',
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }

            return true
        }

        function validateInputs(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            if ($('#LoanApprovalAuthority').val() == "msg") {
                return parameterList[1]
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }
    </script>
}


