@model IFMIS.Areas.IFMISTZ.Models.AbnormalBankStatementSummary



@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? prevCloseBalance =Model.PrevCloseBalance;
    decimal? openingBalance = Model.OpeningBalance;
    decimal? openingBalanceDiscrepancy = prevCloseBalance - openingBalance;

    decimal? totalDebit = Model.TotalDebit;
    decimal? totalCredit = Model.TotalCredit;
    decimal? closingBalance = Model.ClosingBalance;

    decimal? expectedClosingBalance = openingBalance + totalCredit - totalDebit;
    decimal? closingBalanceDiscrepancy = closingBalance - expectedClosingBalance;
}


<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">


                            <br />
                            <div class="tab-content">

                                <div class="row-align">
                                    <div class="col-md-6" style="max-width:600px">
                                        <table>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.BankAccountNumber)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.BankAccountNumber)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.StatementDate)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.StatementDate)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.BankBic)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.BankBic)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.OpeningBalance)</b>
                                                </td>
                                                <td style="text-align:right">

                                                    @string.Format("{0:N2}", Convert.ToDecimal(Model.OpeningBalance))

                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.TotalCredit)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @string.Format("{0:N2}", Convert.ToDecimal(Model.TotalCredit))
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.PrevCloseBalance)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @string.Format("{0:N2}", Convert.ToDecimal(Model.PrevCloseBalance))
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>Expected Closing Balance</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @string.Format("{0:N2}", Convert.ToDecimal(expectedClosingBalance))
                                                </td>
                                            </tr>




                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.OverallStatus)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.OverallStatus)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.OverallStatusDescription)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.OverallStatusDescription)
                                                </td>
                                            </tr>



                                        </table>
                                    </div>
                                    <div class="col-md-6">

                                        <table>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.BankAccountName)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.BankAccountName)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.BankName)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.BankName)
                                                </td>
                                            </tr>


                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.CurrencyCode)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.CurrencyCode)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.ClosingBalance)</b>
                                                </td>
                                                <td style="text-align:right">

                                                    @string.Format("{0:N2}", Convert.ToDecimal(Model.ClosingBalance))

                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.TotalDebit)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @string.Format("{0:N2}", Convert.ToDecimal(Model.TotalDebit))
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>Opening Balance Discrepancy</b>
                                                </td>
                                                <td style="text-align:right">

                                                    @string.Format("{0:N2}", Convert.ToDecimal(openingBalanceDiscrepancy))
                                                </td>
                                            </tr>


                                            <tr>
                                                <td class="sect-label">
                                                    <b>Closing Balance Discrepancy</b>
                                                </td>
                                                <td style="text-align:right">

                                                    @string.Format("{0:N2}", Convert.ToDecimal(closingBalanceDiscrepancy))
                                                </td>
                                            </tr>


                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.CreatedDateTime)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.CreatedDateTime)
                                                </td>
                                            </tr>


                                            <tr>
                                                <td class="sect-label">
                                                    <b>@Html.DisplayNameFor(model => model.Source)</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.Source)
                                                </td>
                                            </tr>





                                        </table>



                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-2">
                                            <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

