@model IFMIS.Areas.Coadmis.Models.NonAuditServiceVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formRelatedPart", @style = "width: 650px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.TypeOfServiceId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <select id="TypeOfServiceId" name="TypeOfServiceId" class="form-control select2 col-md-12">
                    <option>Select service type</option>
                    @foreach (var service in ViewBag.Services)
                    {
                        <option value="@service.Value">@service.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.TypeOfServiceId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.ThreatApplied, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <select id="ThreatApplied" name="ThreatApplied" class="col-md-12" multiple data-live-search="true">
                    <option>Select threats applied</option>
                    @foreach (var service in ViewBag.ThreatList)
                    {
                        <option value="@service.Value">@service.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ThreatApplied, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.SafeguardRequired, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SafeguardRequired, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SafeguardRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Opinion, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Opinion, new { @class = "form-control", @row = 5, @col = 10 })
                @Html.ValidationMessageFor(model => model.Opinion, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group row">
            @Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", @type="text" })
                @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group row">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Status", ViewBag.Status as SelectList, "Select Status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>*@
    </div>
}
<script>
    $(document).ready(function () {
        $("select").select2();
        $("#Fee").autoNumeric('init');
    });
</script>
