@model IFMIS.Areas.Coadmis.Models.NonAuditServiceVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formService", @style = "width: 650px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NonAuditServiceId)
        <div class="form-group row">
            @Html.LabelFor(model => model.TypeOfServiceId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("TypeOfServiceId", ViewBag.Services as SelectList, "Select services", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.TypeOfServiceId, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group row">
            @Html.LabelFor(model => model.ThreatApplied, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <a class="search-btn" data-toggle="modal" data-target="#AddThreat" id="searchbtn" href="#" style="display:block;border:1px solid #ccc;padding:8px;color:black;">
                    <i class="fa fa-exclamation-circle search-icon"></i>
                    &nbsp; Add Threat(s) <strong id="added_threats"></strong>
                </a>
                @Html.ValidationMessageFor(model => model.ThreatApplied, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group row">
            @Html.LabelFor(model => model.SafeguardRequired, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.SafeguardRequired, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SafeguardRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Opinion, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Opinion, new { @class = "form-control", @row = 5, @col = 10 })
                @Html.ValidationMessageFor(model => model.Opinion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", @type = "text", @id="Fee2" })
                @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Status", ViewBag.Status as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

    <script>
        $(document).ready(function () {
            $("select").select2();
            $("#Fee2").autoNumeric('init');
        });
    </script>
