@model IEnumerable<IFMIS.Areas.Coadmis.Models.Threat>
<div class="form-group row">
    @Html.Label("Add Threat", htmlAttributes: new { @class = "control-label col-md-3" })
    <div class="col-md-8">
        <input type="hidden" name="NonAuditServiceId" id="NonAuditServiceId" value="@ViewBag.NonAuditServiceId" />
        <select id="SelectedThreatApplied" name="SelectedThreatApplied" class="col-md-12" multiple data-live-search="true">
            <option>Select threats applied</option>
            @foreach (var service in ViewBag.ThreatList)
            {
                <option value="@service.Value">@service.Text</option>
            }
        </select>
    </div>
</div>
<div class="form-group row">
    <table class="table table-striped table-bordered table-hover" width="50%">
        <thead>
            <tr>
                <th>#</th>
                <th> Name</th>
                <th>Action</th>
            </tr>
        </thead>
        @{
            int x = 0;
        }
        <tbody>
            @foreach (var item in Model)
            {

                x++;
                <tr>
                    <td>@x</td>
                    <td>@item.Name</td>
                    <td><a href="#" onclick="RemoveSaveThreat(@item.ThreatId)"><i class="fa fa fa-fw  fa-trash-o"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
 </div>
<script>
    $(document).ready(function () {
        $("select").select2();
    });
</script>
