@model IFMIS.Areas.Coadmis.Models.NonAuditServiceVM
@{
    ViewBag.Title = "Non-Audit Service Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="form-horizontal">
                                    <table class="table table-bordered table-responsive">
                                        <tbody>
                                            <tr>
                                                <td><b>Type of Service</b> </td>
                                                <td>@Model.TypeOfService</td>
                                            </tr>
                                            <tr>
                                                <td><b>Safeguard Required</b> </td>
                                                <td>@Model.SafeguardRequired</td>
                                            </tr>
                                            <tr>
                                                <td><b>Safeguard Opinion</b> </td>
                                                <td>@Model.Opinion</td>
                                            </tr>
                                            <tr>
                                                <td><b>Fee</b></td>
                                                <td>@string.Format("{0:#,0.00}", @Model.Fee)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Status</b></td>
                                                <td>@Model.Status</td>
                                            </tr>
                                            <tr>
                                                <td><b>Threats</b></td>
                                                <td>
                                                    @if (ViewBag.Threats.Count > 0)
                                                    {
                                                        <table>
                                                            @foreach (var item in ViewBag.Threats)
                                                            {
                                                                <tr>
                                                                    <td style="border: 1px solid white">
                                                                        @item.Name
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    }
                                                    else
                                                    {
                                                        <p>No threats available</p>
                                                    }
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row" style="margin: 10px">
                                    <div class="col-md-2">
                                        <a class="btn btn-default" href="@Url.Action("FileContent", "PermanentFile")/?id=@Model.PermanentFileId"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script>
    </script>
}
