@model IFMIS.Areas.ALS.Models.PayrollList

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PayrollList</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CheckNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CheckNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Vote)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Vote)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Subvote)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Subvote)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BTCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BTCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VendorName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SalaryScale)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SalaryScale)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateHired)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateHired)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NetSalary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NetSalary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GrossSalary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GrossSalary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayStep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayStep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RecordDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RecordDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmpStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmpStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankShortName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankShortName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
