@model IFMIS.Areas.ALS.Models.PY15Vote
<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Create PY15 Vote </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyCode, "Company Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.CompanyCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.CompanyDesc, "Company Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.CompanyDesc, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompanyDesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyRegion, "Company Region", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.CompanyRegion, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompanyRegion, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.MainVoteCode, "Main Vote Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.MainVoteCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MainVoteCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VoteCode, "Vote Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.VoteCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.VoteCode, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.VoteName, "Vote Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.VoteName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.VoteName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactPersonName, "Contact Person Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ContactPersonName, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.ContactPersonTitle, "Contact Person Title", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.ContactPersonTitle, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ContactPersonTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.officeTel, "Office Telephone No", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.officeTel, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.officeTel, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.mobileTel, "Mobile No", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.mobileTel, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.mobileTel, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VoteSalaryAccount, "Salary Account", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.VoteSalaryAccount, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.VoteSalaryAccount, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.LabelFor(model => model.Py15Flag, "Vote Group", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <select class="form-control" name="Status" id="Status">
                                                <option CASH="selected" value="">---Select---</option>
                                                <option value="1"> Local Government</option>
                                                <option value="2"> Independent</option>
                                                <option value="3"> Ministries</option>
                                                <option value="4"> Agencies</option>
                                            </select>
                                            @Html.ValidationMessageFor(model => model.Py15Flag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-6">
                                            <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                            </a>
                                            <button type="submit" class="btn btn-info" id="btnSave">
                                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Save
                                                <img src="~/Content/img/loading.gif" id="saveLoader" style="display: none" />
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->
                </div>
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
@section Scripts{
    <script>
        $(function () {
            var url = '@Url.Action("SearchAccount", "PY15Vote")';

            $("#VoteSalaryAccount").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (term) {
                        return {
                            term: term
                        };
                    },
                    results: function (data, page) {
                        return { results: data.AccountList }; // data.CountryList returning json data from Controlle
                    }
                }
            });
        });

        $("#VoteSalaryAccount").change(function () {
            var id = $(this).val();

            $.ajax({
                type: "get",
                url: '@Url.Action("GetAccountDetails", "PY15Vote")',
                data: { id: id },
                success: function (response) {
                    $("#BankAccountNum").val(response.AccountNo);

                },
                error: function (response) {
                    swal(response);
                    return false;
                }

            });

        });
    </script>
}
