@model IFMIS.Areas.IFMISTZ.Models.Institution

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }
        .input[type="number"] {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }
    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>



<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Institution</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">



                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {

                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.InstitutionId)
                                        <table style="width:100%;">
                                            <tr>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Institution Code:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="InstitutionCode" id="InstitutionCode" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="width:400px; text-align:left">

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Upload Logo:</label>
                                                        <div class="col-md-9">
                                                            <input style="width:300px" type="file" name="file" class="btn btn-default">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Institution Name:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="InstitutionName" id="InstitutionName" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Zip Code:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="Zip" id="Zip" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Institution Category:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.DropDownList("InstitutionCategory", ViewBag.InstitutionCategory as SelectList, "", new { @Class = "input", style = "width:300px", })
                                                                @Html.ValidationMessageFor(model => model.InstitutionCategory, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Sector:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.DropDownList("SectorCode", ViewBag.Sector as List<SelectListItem>, "", new { @Class = "input", style = "width:300px", })
                                                                @Html.ValidationMessageFor(model => model.SectorCode, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Vote Code:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="VoteCode" id="VoteCode" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td style="width:auto; text-align:left">

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Sub Sector:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <select name="SubSectorCode" id="SubSectorCode" style="width:300px;" class="input" required="required"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Institution Level:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.DropDownList("InstitutionLevel", ViewBag.Institutionlevel as SelectList, "", new { @Class = "input", id = "InstitutionLevel", style = "width:300px", required = "required" })
                                                                @Html.ValidationMessageFor(model => model.InstitutionLevel, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Address:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="Address1" id="Address1" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Level1Code:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level1Code1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level1Code" id="Level1Code" Class="input" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Level1 Description:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level1Desc1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level1Desc" id="Level1Desc" Class="input" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Level2Code:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level2Code1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level2Code" id="Level2Code" Class="input" />

                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">
                                                            Level2 Description:
                                                            <i class="fa fa-times" style="color:white" id="Level2Desc_1"></i>
                                                        </label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level2Desc1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level2Desc" id="Level2Desc" Class="input" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Level3Code:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="Level3Code1" id="Level3Code1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level3Code" id="Level3Code" Class="input" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Level3 Description:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level3Desc1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level3Desc2" id="Level3Desc" Class="input" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Level4Code:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level4Code1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level4Code" id="Level4Code" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Level4 Description:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" id="Level4Desc1" Class="input" style="width:300px; " required="required" />
                                                                <input type="hidden" name="Level4Desc" id="Level4Desc" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>

                                                <td style="width:400px; text-align:left">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">City:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="City" id="City" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td style="width:400px; text-align:right">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Email Address:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="Address3" id="Address3" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td style="width:400px; text-align:left">

                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">
                                                            Acc. Officer(Title):
                                                            <i class="fa fa-times" style="color:white" id="AoTitle_1"></i>
                                                        </label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="AoTitle" id="AoTitle" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:400px; text-align:right">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">Country:</label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.DropDownList("Country", ViewBag.Countries as SelectList, "", new { @Class = "input", style = "width:300px", autocomplete = "off", })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>


                                            </tr>
                                            <tr>
                                                <td style="width:400px; text-align:left">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">
                                                            Telephone No:
                                                            <i class="fa fa-times" style="color:white" id="Telephone_1"></i>
                                                        </label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="Telephone" id="Telephone" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">
                                                            TIN:
                                                            <i class="fa fa-times" style="color:white" id="AoTin_1"></i>
                                                        </label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="AoTin" id="AoTin" Class="input" style="width:300px; " required="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="width:400px; text-align:left">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">
                                                            SpCode:
                                                            <i class="fa fa-times" style="color:white" id="SpCode_1"></i>
                                                        </label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="SpCode" id="SpCode" Class="input" style="width:300px; " placeholder="Eg. SP148 Given by GPG" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">
                                                            Sub SpCode:
                                                            <i class="fa fa-times" style="color:white" id="SubSpCode_1"></i>
                                                        </label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="SubSpCode" id="SubSpCode" Class="input" style="width:300px; " placeholder="Eg.1001 Given by GPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>



                                            <tr>
                                                <td style="width:400px; text-align:left">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">
                                                            Collection Center Code:
                                                            <i class="fa fa-times" style="color:white" id="CollectionCenterCode_1"></i>
                                                        </label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="CollectionCenterCode" id="CollectionCenterCode" Class="input" style="width:300px; " placeholder="Eg. Given by GePG" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">
                                                            Collection Center Name:
                                                            <i class="fa fa-times" style="color:white" id="CollectionCenterName_1"></i>
                                                        </label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="CollectionCenterName" id="CollectionCenterName" Class="input" style="width:300px; " />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                           



                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">Payment Office:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.DropDownList("PaymentOfficeId", ViewBag.paymentoffice as List<SelectListItem>, "", new { @Class = "input", style = "width:300px", autocomplete = "off", required = "required" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" style="text-align:right;">
                                                            SpSystemId:
                                                            <i class="fa fa-times" style="color:white" id="SpSysId_1"></i>
                                                        </label>
                                                        <div class="col-md-9 inputGroupContainer">
                                                            <div class="input-group">
                                                                <input type="text" name="SpSysId" id="SpSysId" Class="input" style="width:300px; " placeholder="Eg.TMUSE Given by GPG" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">ConsolidationFlag:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <div class="input-group">
                                                                    @Html.CheckBoxFor(m => m.ConsolidationFlag)
                                                                    @Html.ValidationMessageFor(model => model.ConsolidationFlag, "", new { @class = "text-danger" })
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">IsST:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                <div class="input-group">
                                                                    @Html.CheckBoxFor(m => m.IsST)
                                                                    @Html.ValidationMessageFor(model => model.IsST, "", new { @class = "text-danger" })

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>

                                                <td style="width:400px; text-align:right">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right;">VoteGroup:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.DropDownList("VoteGroupID", ViewBag.Votegroups as SelectList, "", new { @Class = "input", style = "width:300px", autocomplete = "off", required = "required" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href='@Url.Action("InstitutionList", "Institutions")' class="btn btn-info" style="width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>

                                                    <button type="submit" class="btn btn-info"  id="form_submision" style="width:80px;">
                                                        <i class="fa fa-save"></i>Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        }
                                      
                                      </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>

            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>

        $("#InstitutionCode").val('@ViewBag.instcode');
        $("#InstitutionName").val('@ViewBag.instname');
        $("#InstitutionLevel").val('@ViewBag.instlevel');
        $("#InstitutionCategory").val('@ViewBag.instcategory');
        $("#VoteCode").val('@ViewBag.votecode');
        $("#Level1Code").val('@ViewBag.level1code');
        $("#Level1Desc").val('@ViewBag.level1desc');
        $("#Level2Code").val('@ViewBag.level2code');
        $("#Level2Desc").val('@ViewBag.level2desc');
        $("#Level3Code").val('@ViewBag.level3code');
        $("#Level3Code").val('@ViewBag.level3code');
        $("#Level3Desc").val('@ViewBag.level3desc');
        $("#Level4Code").val('@ViewBag.level4code');
        $("#Level4Code").val('@ViewBag.level4code');
        $("#Level4Desc").val('@ViewBag.level4desc');
        $("#Level1Code1").val('@ViewBag.level1code');
        $("#Level1Desc1").val('@ViewBag.level1desc');
        $("#Level2Code1").val('@ViewBag.level2code');
        $("#Level2Desc1").val('@ViewBag.level2desc');
        $("#Level3Code1").val('@ViewBag.level3code');
        $("#Level3Code1").val('@ViewBag.level3code');
        $("#Level3Desc1").val('@ViewBag.level3desc');
        $("#Level4Code1").val('@ViewBag.level4code');
        $("#Level4Code1").val('@ViewBag.level4code');
        $("#Level4Desc1").val('@ViewBag.level4desc');
        $("#SectorCode").val('@ViewBag.sectorCode');
        $("#SectorDesc").val('@ViewBag.sectordesc');
        $("#SubSectorCode").val('@ViewBag.subsectcode');
        $("#SubSectorDesc").val('@ViewBag.subsectdesc');
        $("#AoTitle").val('@ViewBag.tittle');
        $("#AoTin").val('@ViewBag.tin');
        $("#City").val('@ViewBag.city');
        $("#Zip").val('@ViewBag.zip');
        $("#Country").val('@ViewBag.country');
        $("#Telephone").val('@ViewBag.telephone');
        $("#Address1").val('@ViewBag.address1');
        $("#Address3").val('@ViewBag.email');
        $("#PaymentOfficeId").val('@ViewBag.Poffice');
        $("#SpCode").val('@ViewBag.SpCode');
        $("#SubSpCode").val('@ViewBag.SubSpCode');
        $("#SpSysId").val('@ViewBag.SpSysId');
        $("#VoteGroupID").val('@ViewBag.Votegroup');
        $("#CollectionCenterCode").val('@ViewBag.CollectionCenterCode');
        $("#CollectionCenterName").val('@ViewBag.CollectionCenterName');


        if ('@TempData["Success"]' == 'Success') {
            swal("Saved Successfully!", { icon: 'success' })
                 .then(Ok=> {
                     window.location.href = '@Url.Action("InstitutionList", "Institutions")';
                 });
        } else if ('@TempData["Success"]' == 'No') {

            swal("This Institution exists!!")

        }

        $("#SectorCode").change(function () {

            var code = $(this).val();
            getSubLevelCodes(code);
        });

        getSubLevelCodes($("#SectorCode").val());

        $("#InstitutionLevel").change(function () {
            toggleLevelCode();
        });

        function getSubLevelCodes(code) {
            var option = [];
            $.ajax({
                url: '@Url.Action("GetSectorCode", "Institutions")/?code=' + code + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach(d=> {
                        option.push('<option value=' + d["Value"] + '>' + d["Text"] + '</option>');
                    });
                    option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                    $("#SubSectorCode").html(option);
                }
            })
        }

        function save() {
            debugger
            if (voucherSummaryFormValidation()) {
                commitForm()
            } else {
                swal("Please fill the whole form !!");
            }
        }

        function commitForm() {
            debugger;
            if (voucherSummaryFormValidation()) {
                debugger;
                var formData = new FormData();
                debugger;
                formData.append('file', $('input[type=file]')[0].files[0]);
                formData.append('InstitutionCode', $("#InstitutionCode").val());
                formData.append('InstitutionName', $("#InstitutionName").val());
                formData.append('InstitutionLevel', $("#InstitutionLevel").val());
                formData.append('InstitutionCategory', $("#InstitutionCategory").val());
                formData.append('VoteCode', $("#VoteCode").val());
                formData.append('Level1Code', $("#Level1Code").val());
                formData.append('Level1Desc', $("#Level1Desc1").val());
                formData.append('Level2Code', $("#Level2Code").val());
                formData.append('Level2Desc', $("#Level2Desc").val());
                formData.append('Level3Code', $("#Level3Code").val());
                formData.append('Level3Desc', $("#Level3Desc").val());
                formData.append('Level4Code', $("#Level4Code").val());
                formData.append('Level4Desc', $("#Level4Desc").val());
                formData.append('SectorCode', $("#SectorCode").val());
                formData.append('SectorDesc', $("#SectorDesc").val());
                formData.append('SubSectorCode', $("#SubSectorCode").val());
                formData.append('SubSectorDesc', $("#SubSectorDesc").val());
                formData.append('AoTitle', $("#AoTitle").val());
                formData.append('AoTin', $("#AoTin").val());
                formData.append('City', $("#City").val());
                formData.append('Zip', $("#Zip").val());
                formData.append('Country', $("#Country").val());
                formData.append('Telephone', $("#Telephone").val());
                formData.append('Address1', $("#Address1").val());
                formData.append('Address3', $("#Address3").val());
                formData.append('SpCode', $("#SpCode").val());
                formData.append('SubSpCode', $("#SubSpCode").val());
                formData.append('SpSysId', $("#SpSysId").val());
                formData.append('VoteGroupID', $("#VoteGroupID").val());
                formData.append('ConsolidationFlag', $("#ConsolidationFlag").val());
                formData.append('IsST', $("#IsST").val());
                formData.append('CollectionCenterCode', $("#CollectionCenterCode").val());
                formData.append('CollectionCenterName', $("#CollectionCenterName").val());

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit", "Institutions")',
                    data: formData,
                    contentType: false,
                    processData: false,
                    datatype: 'json',
                    success: function (response) {
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = '@Url.Action("InstitutionList", "Institutions")';
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        swal(error);
                    }
                });

            }
        }
        //console.log(data);

        $("#Level1Code").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 8) {
                $("#Level1Code").val(val.substring(0, 8));
            }
        });
        $("#Level2Code").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 5) {
                $("#Level2Code").val(val.substring(0, 5));
            }
        });


        $("#Level3Code1").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 7) {
                $("#Level2Code").val(val.substring(0, 7));
            }
        });
        $("#Level4Code1").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 4) {
                $("#Level2Code").val(val.substring(0, 4));
            }
        });
        $("#Telephone").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 10) {
                $("#Telephone").val(val.substring(0, 10));
            }
        });

        toggleLevelCode();
        function toggleLevelCode() {
            debugger;
            if ($("#InstitutionLevel").val() == 1) {
                levelcode = $("#InstitutionCode").val();
                $("#Level1Code1").prop('disabled', false);
                $("#Level2Code").val("00000");
                $("#Level2Code1").val("00000");
                $("#Level2Code1").prop('disabled', true);
                $("#Level3Code").val("0000000");
                $("#Level3Code1").val("0000000");
                $("#Level3Code1").prop('disabled', true);
                $("#Level4Code").val("00000000");
                $("#Level4Code1").val("00000000");
                $("#Level1Desc1").prop('disabled', false);
                $("#Level2Desc1").prop('disabled', true);
                $("#Level4Code1").prop('disabled', true);
                $("#Level3Desc1").prop('disabled', true);
                $("#Level4Desc1").prop('disabled', true);
                $("#Level2Desc").val("N/A");
                $("#Level2Desc1").val("N/A");
                $("#Level3Desc").val("N/A");
                $("#Level4Desc").val("N/A");
                $("#Level3Desc1").val("N/A");
                $("#Level4Desc1").val("N/A");

            }
            else if ($("#InstitutionLevel").val() == 2) {
                //$("#Level2Code1").prop('disabled', false);
                $("#Level1Code1").prop('disabled', false);
                $("#Level3Code").val("0000000");
                $("#Level3Code1").val("0000000");
                $("#Level3Code1").prop('disabled', true);
                $("#Level4Code").val("00000000");
                $("#Level4Code1").val("00000000");
                $("#Level4Code1").prop('disabled', true);
                $("#Level3Desc").val("N/A");
                $("#Level4Desc").val("N/A");
                $("#Level3Desc1").val("N/A");
                $("#Level4Desc1").val("N/A");
                //$("#Level2Desc1").prop('disabled', false);
                $("#Level1Desc1").prop('disabled', false);
                $("#Level3Desc1").prop('disabled', true);
                $("#Level4Desc1").prop('disabled', true);
                $("#Level1Code1").on("keyup", function () {
                    $("#Level1Code").val(this.value)
                });
                $("#Level1Desc1").on("keyup", function () {
                    debugger
                    $("#Level1Desc").val(this.value)
                });
                $("#Level2Code1").on("keyup", function () {
                    $("#Level2Code").val(this.value)
                });
                $("#Level2Desc1").on("keyup", function () {
                    $("#Level2Desc").val(this.value)
                });
            }
            else if ($("#InstitutionLevel").val() == 3) {
                $("#Level2Code1").prop('disabled', false);
                $("#Level1Code1").prop('disabled', false);
                $("#Level3Code1").prop('disabled', false);
                $("#Level3Desc1").prop('disabled', false);
                $("#Level4Code").val("00000000");
                $("#Level4Code1").val("00000000");
                $("#Level4Code1").prop('disabled', true);
                $("#Level4Desc").val("N/A");
                $("#Level4Desc1").val("N/A");
                $("#Level2Desc1").prop('disabled', false);
                $("#Level1Desc1").prop('disabled', false);
                $("#Level4Desc1").prop('disabled', true);


                $("#Level1Desc1").on("keyup", function () {
                    $("#Level1Desc").val(this.value)
                });
                $("#Level1Code1").on("keyup", function () {
                    $("#Level1Code").val(this.value)
                });
                $("#Level2Code1").on("keyup", function () {
                    $("#Level2Code").val(this.value)
                });
                $("#Level2Code1").on("keyup", function () {
                    $("#Level2Code").val(this.value)
                });
                $("#Level3Code1").on("keyup", function () {
                    $("#Level3Code").val(this.value)
                });
                $("#Level3Code1").on("keyup", function () {
                    $("#Level3Code").val(this.value)
                });

            } else if ($("#InstitutionLevel").val() == 4) {
                $("#Level4Code1").prop('disabled', false);
                $("#Level3Code1").prop('disabled', false);
                $("#Level2Code").prop('disabled', false);
                $("#Level1Code1").prop('disabled', false);
                $("#Level4Desc1").prop('disabled', false);
                $("#Level3Desc1").prop('disabled', false);
                $("#Level2Desc1").prop('disabled', false);
                $("#Level1Desc1").prop('disabled', false);
                $("#Level2Code1").on("keyup", function () {
                    var lcd = $("#Level2Code1").val();
                    $("#Level2Code").val(lcd);
                    $("#Level2Code1").val(lcd);
                });

                $("#Level4Code1").on("keyup", function () {
                    var level4Code = $("#Level4Code1").val();
                    $("#Level4Code").val(level4Code);
                });
            }

        }
        function voucherSummaryFormValidation() {
            var isNotValid = validateInputsParameters([
                "#InstitutionCode",
                "#InstitutionName",
                "#logo",
                 "#Zip",
                 "#VoteCode",
                 "#Address1",
                 "#City",
                 "#Address3",
                 "#AoTitle",
                  "#Country",
                 "#Telephone",
                 "#AoTin",
                 "#SpCode",
                 "#SubSpCode",
                 "#SpSysId",
                 "#VoteGroupID",
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }
            return true
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val().trim()) {
                    return parameterList[i];
                }
            }
            return null;
        }


    </script>
}
