<div id="content">
    <div class="panel-body">
        <table class="table" id="tblDataList1">
            <thead>
                <tr>
                    <th>
                        SN
                    </th>
                    <th>
                        AllowanceAmount
                    </th>
                    <th>
                        DeductionAmount
                    </th>
                    <th>
                        NetAmount
                    </th>
                    <th>
                        CheckDate
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in (IEnumerable<GEFTP.Models.PayrollCurrentVM>)ViewBag.Payrollprevious)
                {                   
                    i++;
                    <tr>
                        <td align="left">
                           @i
                        </td>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.AllowanceAmount)
                        </td>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.DeductionAmount)
                        </td>
                        <td align="left">
                            @Html.DisplayFor(modelItem => item.NetAmount)
                        </td>
                        <td align="left">
                            <a href="@Url.Action("PayrollSummary", "Payrolls", new {checkDate = item.CheckDate })">
                                @Html.DisplayFor(modelItem => item.CheckDate).ToString()
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Start of modal div -->
<!-- End of modal div-->
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tblDataList1").DataTable({
                "scrollX": false
            });
        });
    </script>
}
