@model IEnumerable<GEFTP.Models.Payroll>

@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="panel panel-default" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style:normal; font-size:15px">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Close Payroll </h3>
        </div>
        <div class="panel-body">
            <div class="well">
                <button type="button" class="btn btn-default btn-flat" onclick="closePayroll(@ViewBag.Id)" id="btnConfirm">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close Payroll
                </button>
            </div>
            <hr/>
            <table class="display" id="tblDataList">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClosedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClosedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    int i = 0;
                    }
                    @foreach (var item in Model)
                   {
                    i++;
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClosedAt)
                            </td>
                            <td>
                                <input type="checkbox" value="@item.PayrollId" class="checkBoxClose">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblDataList").DataTable({
                "scrollX": false
            });
        });

        $(".cbCheckAll").click(function () {
            $(".checkBoxClose").prop('checked',
                $(this).prop('checked'));
        });

        var closePayroll = function () {

            var csvIds = [];

            $("input:checkbox.checkBoxClose").each(function () {
                if ($(this).prop("checked")) {
                    csvIds.push($(this).val());
                }
            });

            if (csvIds.length == 0) {
                alert("No record selected!");
                return;
            }

            var result = confirm("Are you sure you want to Close Payroll?");

            if (!result) {
                return;
            }

            $("#divLoader").show();

            var url = '@Url.Action("CloseMonthlyPayroll", "Payrolls")';

            $.ajax({
                type: "POST",
                url: url,
                data: { ids: csvIds },
                success: function (response) {
                    if (response == "Success") {
                        alert("successfully Closed.");
                        location.reload();
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                },
            });

        };
    </script>
}
