@model IFMIS.Areas.RecurrentPayment.Models.Payroll

@{
    ViewBag.Title = "Payroll Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoader"></div>
<div id="content">
    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> @ViewBag.Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <table class="table table-bordered table-condensed" id="tblDataList">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="text-align: center">
                                            @Html.DisplayNameFor(model => model.PayrollNumEmp)
                                        </th>
                                        <th style="text-align: center">
                                            @Html.DisplayNameFor(model => model.PayrollDate)
                                        </th>
                                        <th style="text-align: center">
                                            @Html.DisplayNameFor(model => model.SalaryAmount)
                                        </th>
                                        <th style="text-align: center">
                                            @Html.DisplayNameFor(model => model.AllowanceAmount)
                                        </th>
                                        <th style="text-align: center">
                                            @Html.DisplayNameFor(model => model.DeductionAmount)
                                        </th>
                                        <th style="text-align: center">
                                            @Html.DisplayNameFor(model => model.NetAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OverallStatus)
                                        </th>
                                        <th>
                                           Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td align="center">
                                            <a href="@Url.Action("ConfirmPayroll", "Payrolls", new { id = Model.PayrollId })">
                                                @Html.DisplayFor(model => model.PayrollNumEmp)
                                            </a>
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(model => model.PayrollDate, "_ShortDateTime")
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(model => model.SalaryAmount)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(model => model.AllowanceAmount)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(model => model.DeductionAmount)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(model => model.NetAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.OverallStatus)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("ConfirmPayroll", "Payrolls", new { id = Model.PayrollId })">
                                                            Details
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                        </div>
                    </div>
                    
                </div>
   
            </article>
        </div>
    </section>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblDataList").DataTable({
                "scrollX": false
            });
        });

        var runPayroll = function () {

            var url = '@Url.Action("RunPayroll", "Payrolls")';

            $("#divLoader").show();

            $.ajax({
                url: url,
                type: "post",
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response == "Success") {
                        alert("Payroll Run Successfully!");
                        $("#divLoader").hide();
                        window.location = '@Url.Action("Index")';
                    } else if (response == "InvalidFormat") {
                        alert("Invalid file format, file format should be MS Excel!");
                        $("#divLoader").hide();
                        location.reload();
                    } else if (response == "InvalidSize") {
                        alert("Invalid file size, file size should be less than 2MB!");
                        $("#divLoader").hide();
                        location.reload();
                    }
                    else {
                        alert("Unknown error, contact system admin!");
                        $("#divLoader").hide();
                        location.reload();
                    };
                },
                error: function (response) {
                    alert(response);
                    $("#divLoader").hide();
                    location.reload();
                }
            });
        };

        var unconfirmPayroll = function (id) {

            var result = confirm("Are you sure you want Unconfirm Payroll.?");

            if (!result) {
                return;
            }

            $("#divLoader").show();

            var url = '@Url.Action("UnconfirmPayroll", "Payrolls")';

            $.ajax({
                type: "POST",
                url: url,
                data: { id: id },
                success: function (response) {
                    if (response == "Success") {
                        $("#divLoader").hide();
                        alert("Payroll Unconfirmed.");
                        location.reload();
                    }
                },
                error: function (err) {
                    $("#divLoader").hide();
                    alert(err.statusText);
                },
            });

        };
    </script>
}
