@model IEnumerable<GEFTP.Models.geftp_confirm_payroll_vw>
@{
    ViewBag.Title = "Index";
}
<div id="content">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title"> Payroll </h3>
        </div>
        <div class="panel-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Current Payroll</a></li>
                    <li><a href="#tab_2" data-toggle="tab"> Previous Payroll </a></li>                   
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <hr />
                        <div class="well">
                            @{if (Model.Count() == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            <a href="#" class="btn btn-success" onclick="runPayroll()">
                                                <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
                                                Run Payroll
                                            </a>
                                        </div>
                                        <div class="col-md-2">
                                            <span id="divLoader" style="display:none">
                                                <img src="~/Media/Images/loader.gif" width="50" height="30" />
                                            </span>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-default btn-flat" disabled>
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        Run Payroll
                                    </button>
                                    <button type="button" class="btn btn-default btn-flat" onclick="undoPayroll()">
                                        <span class="glyphicon glyphicon-cross" aria-hidden="true"></span>
                                        Undo Payroll
                                    </button>
                                }
                            }
                        </div>
                        <table class="table" id="tblDataList">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BeneficiaryCategory)
                                    </th>
                                    <th style="text-align: center">
                                        @Html.DisplayNameFor(model => model.NumEmp)
                                    </th>
                                    <th style="text-align: center">
                                        @Html.DisplayNameFor(model => model.OriginalNetAmount)
                                    </th>
                                    <th style="text-align: center">
                                        @Html.DisplayNameFor(model => model.TotalAllowanceAmount)
                                    </th>
                                    <th style="text-align: center">
                                        @Html.DisplayNameFor(model => model.TotalDeductionAmount)
                                    </th>
                                    <th style="text-align: center">
                                        @Html.DisplayNameFor(model => model.FinalNetAmount)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("PayrollBeneficiaries", "Payrolls", new { benCat = item.BeneficiaryCategory, checkDate = item.CheckDate })">
                                                @Html.DisplayFor(modelItem => item.BeneficiaryCategory)
                                            </a>
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.NumEmp)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.OriginalNetAmount)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.TotalAllowanceAmount)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.TotalDeductionAmount)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.FinalNetAmount)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_2">                  
                             @Html.Partial("_Index")
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start of modal div -->

<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-danger" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">Undo Payroll</h4>
            </div>
            <div class="modal-body">
                <p class="success-message">Are You Want to Undo Payroll?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Ok</button>
                <button class="btn btn-default delete-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal div-->

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tblDataList").DataTable({
                "scrollX": false
            });

            $("#tblDataList1").DataTable({
                "scrollX": false
            });
        });

        var runPayroll = function () {

            var url = '@Url.Action("RunPayroll", "Payrolls")';

            $("#divLoader").show();
            $.ajax({
                url: url,
                type: "post",
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response == "Success") {
                        alert("Payroll Run Successfully!");
                        $("#divLoader").hide();
                        window.location = '@Url.Action("Index")';
                    } else if (response == "InvalidFormat") {
                        alert("Invalid file format, file format should be MS Excel!");
                        $("#divLoader").hide();
                        location.reload();
                    } else if (response == "InvalidSize") {
                        alert("Invalid file size, file size should be less than 2MB!");
                        $("#divLoader").hide();
                        location.reload();
                    }
                    else {
                        alert("Unknown error, contact system admin!");
                        $("#divLoader").hide();
                        location.reload();
                    };
                },
                error: function (response) {
                    alert(response);
                    $("#divLoader").hide();
                    location.reload();
                }
            });
        };

        var undoPayroll = function () {
            debugger
            $("#responseModal").modal('show');

            $(".delete-confirm").click(function () {

                var url = '@Url.Action("UndoPayroll", "Payrolls")';
                $("#divLoader1").show();
                $.ajax({
                    url: url,
                    type: "POST",
                    success: function (response) {
                        if (response) {
                            if (response == "success") {
                                if ($('.modal-header').hasClass('alert-danger')) {
                                    $('.modal-header').removeClass('alert-danger').addClass('alert-success');
                                    //hide ok button as it is not necessary
                                    $('.delete-confirm').css('display', 'none');
                                    $('.delete-cancel').html('Close').click(function () {
                                        location.reload();
                                    });
                                }
                                $('.success-message').html('You Succesfully Undo Payroll!');
                            }
                        }
                    }, error: function (err) {
                        if (!$('.modal-header').hasClass('alert-danger')) {
                            $('.modal-header').removeClass('alert-success').addClass('alert-danger');
                            $('.delete-confirm').css('display', 'none');
                        }
                        $('.success-message').html(err.statusText);
                    }
                });

            });
        };
    </script>
}
