@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PayMaster>
@{
    ViewBag.Title = "PayrollBeneficiaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoader"></div>
<div id="content">
    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> @Request["benCat"] </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div style="margin-bottom:20px">
                                <d iv class="pull-right">
                                    <a href="@Url.Action("PayrollDetailsReport", "Payrolls",new { benCategory = Model.Select(a=>a.BeneficiaryCategory).FirstOrDefault(), checkDate = Model.Select(a=>a.CheckDate).FirstOrDefault()})" class="btn btn-default" target="_blank">
                                        <i class="fa fa-lg fa-fw fa-file-pdf-o"></i>PDF
                                    </a>
                                    <a href="@Url.Action("PayrollBeneficiariesExcel", "Payrolls",new { benCategory = Model.Select(a=>a.BeneficiaryCategory).FirstOrDefault(), checkDate = Model.Select(a=>a.CheckDate).FirstOrDefault()})" class="btn btn-default">
                                        <i class="fa fa-lg fa-fw fa-file-excel-o"></i>EXCEL
                                    </a>
                                    <a href="@Url.Action("PayrollDetails")" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i>
                                        Back
                                    </a>
                                    @*<a href="@Url.Action("PayrollDetails", "Report",new { benCategory = Model.Select(a=>a.BeneficiaryCategory).FirstOrDefault(), checkDate = Model.Select(a=>a.CheckDate).FirstOrDefault()})" style="margin-left:15px" target="_blank"><i class="btn btn-default btn-flat fa fa-lg fa-fw fa-file-pdf-o"></i>PDF </a>*@
                                    @*<a href="@Url.Action("PayrollBeneficiariesExcel", "Payrolls",new { benCategory = Model.Select(a=>a.BeneficiaryCategory).FirstOrDefault(), checkDate = Model.Select(a=>a.CheckDate).FirstOrDefault()})" style="margin-left:15px" target="_blank"><i class="btn btn-default btn-flat fa fa-lg fa-fw fa-fw fa-file-excel-o"></i>EXCEL </a>*@
                                    @* <a href="@Request.UrlReferrer" style="margin-left:15px" target="_blank"><i class="fa fa-lg fa-fw fa-fw fa-backward"></i>GO BACK </a>*@
                                </div>
                                <div>
                                    <strong>Category:</strong>@Request["benCat"]
                                </div>
                                <div>
                                    <strong>Payroll Month:</strong>@ViewBag.CheckDate
                                </div>
                            <br>
                            <table class="table table-bordered table-condensed" id="tblDataList">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BeneficiaryCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BeneficiaryName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BeneficiaryAccountNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BankName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OriginalNetAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalAllowanceAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalDeductionAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FinalNetAmount)
                                        </th>
                                    </tr>
                                </thead>
                                @{
                                    int i = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BeneficiaryCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BeneficiaryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BeneficiaryAccountNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BankName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OriginalNetAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAllowanceAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalDeductionAmount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FinalNetAmount)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <script>
        $(document).ready(function () {
            $("#tblDataList").DataTable({
                "scrollX": false
            });
        });
    </script>
}
