@model IFMIS.Areas.IFMISTZ.Models.BulkPaymentVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Add Beneficiary Payment</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <!-- Left Column -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PaymentBatchID, "PaymentBatchID", htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownList("PaymentBatchID", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.PaymentBatchID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BeneficiaryCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.BeneficiaryCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BeneficiaryName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.BeneficiaryName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.BankName, Model.bankNameList, "Select Bank Name", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BankBic, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.BankBic, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BankBic, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BeneficiaryAccountNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.BeneficiaryAccountNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.BeneficiaryAccountNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumberOfDays, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.NumberOfDays, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.NumberOfDays, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { type = "hidden" } })
                                                    <amount-input style="width:100%; height:33px" type="text" id="amount2" />
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PaymentDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.PaymentDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.PaymentDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        @if (ViewBag.TransactionCurrency != "TZS")
                                        {
                                            <div class="col-md-6">

                                                <!-- Optional Fields -->

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.SortCode, "SortCode(Optional)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.SortCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RoutingNo, "RoutingNo(Optional)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.RoutingNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IBAN, "IBAN(Optional)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.IBAN, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FedWire, "FedWire(Optional)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.FedWire, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IntermediaryBankBic, "IntermediaryBankBic(Optional)", htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-7">
                                                        @Html.EditorFor(model => model.IntermediaryBankBic, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IntermediaryBankName, "IntermediaryBankName(Optional)", htmlAttributes: new { @class = "control-label col-md-5" })
                                                    <div class="col-md-7">
                                                        @Html.EditorFor(model => model.IntermediaryBankName, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.BranchCode, "BranchCode(Optional)", htmlAttributes: new { @class = "control-label col-md-4" })
                                                    <div class="col-md-8">
                                                        @Html.EditorFor(model => model.BranchCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                    <!-- Form Actions -->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <button class="btn btn-info" type="submit" style="float: left">
                                                    <i class="fa fa-save"></i> Save
                                                </button>
                                                <a href="@Url.Action("PaymentBatchList","PaymentBatches")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                    <i class="fa fa-arrow-left"></i> Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific{
    <script>

    $("#_amount2").on("keyup search input paste cut", function () {
      $("#Amount").val(this.value.split(",").join(""));
    });

    $("#Rate").change(function () {
        debugger
        var TotalAmount;
        var numberofDay = $("#NumberOfDays").val();
        var rate = $("#Rate").val();
        TotalAmount = numberofDay * rate;
        $("#_amount2").val(TotalAmount.toLocaleString());
        $("#Amount").val(TotalAmount.toLocaleString());
    });

    $("#NumberOfDays").change(function () {
        debugger
        var TotalAmount;
        var numberofDay = $("#NumberOfDays").val();
        var rate = $("#Rate").val();
        TotalAmount = numberofDay * rate;
        $("#_amount2").val(TotalAmount.toLocaleString());
        $("#Amount").val(TotalAmount.toLocaleString());
    });


    $("#BankName").change(function () {
        var bankName = $("#BankName").val();
        var url = '@Url.Action("GetBankBic", "BulkPayments")';
        $.ajax({
            type: "POST",
            url: url,
            data: { bankName: bankName },
            success: function (data, status, jqXHR) {
                if (data.success) {
                    $("#BankBic").val(data.bankBic);
                }
            },
            error: function (err) {
                alert(err);
            }
        });
    });

    </script>
}
<!-- END MAIN CONTENT -->
<!-- END MAIN CONTENT -->