@model IFMIS.Areas.IFMISTZ.Models.BulkPayment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>BulkPayment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PaymentBatch.BatchNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentBatch.BatchNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayStationID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayStationID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BeneficiaryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BeneficiaryCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BeneficiaryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryAccountNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BeneficiaryAccountNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenDepartmentID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenDepartmentID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenDepartment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenDepartment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankBic)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankBic)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentCategory)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentCategory)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndtoEndID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndtoEndID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankingStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankingStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankingStatusDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankingStatusDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SettledAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SettledAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OriginalPaymentID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OriginalPaymentID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SettledDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SettledDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnappliedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnappliedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnappliedDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnappliedDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OrgEndtoEndID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OrgEndtoEndID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CBSTimeStamp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CBSTimeStamp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CBSPayChannel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CBSPayChannel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CBSValueDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CBSValueDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CBSReference)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CBSReference)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MsgID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MsgID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinancialYearID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinancialYearID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FY)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FY)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BatchNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BatchNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BatchDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BatchDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayStationName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayStationName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumOfDays)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumOfDays)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
