
@{
    ViewBag.Title = "Mobile Payment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    /*input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }*/

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .widget-body {
        position: relative;
    }

    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }

    .backgroundColor {
        background: #ff0000;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>

                        <div style="padding-left:20px;">
                            <a href="@Url.Action("SettledMobilePayment","BulkPayments")" class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back
                            </a>

                        </div>
                        <hr class="simple" />
                        <br />
                        <br />
                        <div class="widget-body">
                            @Html.AntiForgeryToken()
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                            </div>
                            <table id="dt_loanReceived_list" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        @*<th></th>*@
                                        <th>Beneficiary Code</th>
                                        <th>Beneficiary Name</th>
                                        <th>End to EndID</th>
                                        <th>BeneficiaryAccountNo</th>
                                        <th>Bank Bic</th>
                                        <th>BankName</th>
                                        <th style="text-align:left">Amount</th>

                                        <th>OverallStatus</th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        ////HIDE LOADER ICON
        //$(document).ajaxStop(function () {
        //    $(".loadingImg").hide();
        //});



        $(document).ready(function () {
            //$("#loader").text("Loading Please Wait...");
            var id = @ViewBag.Id;

            debugger
            //$("#divLoader").show();
            var url = '@Url.Action("GetMobilePaymentDetails", "BulkPayments")';

            var dt_search_assets = $("#dt_loanReceived_list").DataTable({
                "bServerSide": true,
                "sAjaxSource": url,
                "iDisplayLength": 10,
                "fnServerData": function (sSource, aoData, fnCallback) {
                    // Add the custom 'id' to the aoData array
                    aoData.push({
                        "name": "id", // 'name' is the key you want to use on the server side
                        "value": id,// Replace this with the actual id value
                    });

                    $.ajax({
                        type: "GET",
                        url: sSource,
                        data: aoData,
                        success: fnCallback,
                        complete: function () {
                            $("#divLoader").hide();
                            $(".loadingImg").hide();
                        },
                        error: function (xhr, status, error) {
                            debugger
                            console.log('AJAX Error: ' + status + ' - ' + error);
                            console.log('Response: ' + xhr.responseText);
                        }
                    });
                },
                "aoColumns": [
                        {
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        //{
                        //    "mData": "MobilePaymentDetailID",
                        //    "bSortable": false,
                        //    "render": function (MobilePaymentDetailID, type, full, meta) {
                        //        return '<input type="checkbox" value="' + MobilePaymentDetailID + '" id="row-' + MobilePaymentDetailID + '" onchange="rowChecked(' + MobilePaymentDetailID +')" class="checkBox1"/>'
                        //    }
                        //},
                         { "mData": "BeneficiaryCode" },
                    { "mData": "BeneficiaryName" },
                    { "mData": "EndtoEndID" },
                            { "mData": "BeneficiaryAccountNo" },
                            { "mData": "BankBic" },
                            { "mData": "BankName" },
                        {
                            "mData": "Amount",
                            render: $.fn.dataTable.render.number(',', '.', 2),
                            className: "text-right"
                        },
                   
                    { "mData": "OverallStatus" }
                        //{
                        //    "mData": "SentToBotAt",
                        //    "render": function (data, type, row) {
                        //        // Use Moment.js to format the date
                        //        return moment(data).format('MM/DD/YYYY'); // Change format as needed
                        //    }
                        //},
                        //{
                        //    "mData": "MobilePaymentDetailID",
                        //    "bSortable": false,
                        //    "render": function (MobilePaymentDetailID, type, full, meta) {
                        //        return '<div class="btn-group">' +
                        //            '<button type="button" class="btn btn-info btn-xs">Action</button>' +
                        //            '<button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                        //            '<span class="caret"></span>' +
                        //            '<span class="sr-only">Toggle Dropdown</span>' +
                        //            '</button>' +
                        //            '<ul class="dropdown-menu">' +
                        //            '<li><a href="#" onclick="requestBl(' + MobilePaymentDetailID + ')">Request</a></li>' +
                        //            '</ul>' +
                        //            '</div>';
                        //    }
                        //}
                    ]

                });
        });

        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        /* END BASIC */

        $(".saveLoader").toggle(false);

    </script>
}


