@model IFMIS.Areas.IFMISTZ.Models.TinValidation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TinValidation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCommencement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCommencement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDeRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDeRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxpayerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxpayerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxpayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxpayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vrn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TinValidationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
