@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.TinValidation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCommencement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDeRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxpayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxpayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlockNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vrn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddressId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCommencement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDeRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfEmployees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxpayerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxpayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlotNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vrn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TinValidationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TinValidationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TinValidationId })
        </td>
    </tr>
}

</table>
