@model IFMIS.Areas.IFMISTZ.Models.CreateInstitutionSpVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-info btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Create Institution SP </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="institutionSpForm" id="institutionSpForm">
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.SpCode)
                                    @Html.HiddenFor(model => model.NewSpCode)
                                    @Html.HiddenFor(model => model.SpName)
                                    @Html.HiddenFor(model => model.InstitutionCode)
                                    @Html.HiddenFor(model => model.InstitutionName)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InstitutionId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.InstitutionId, Model.InstitutionIds, "Select Institution", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ServiceProviderId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.ServiceProviderId, Model.ServiceProviderIds, "Select Service Provider", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.ServiceProviderId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-8">
                                                <button class="btn btn-info" type="button" style="float: left" id="btnSave">
                                                    <i class="fa fa-save"></i>
                                                    Save
                                                </button>
                                                <a href="@Url.Action("InstitutionSps","MuseInstitutionMuseSps")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                    <i class="fa fa-arrow-left"></i>
                                                    Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->


@section Scripts{
    <script>

        $("#InstitutionId").on("change", function () {
            $("#divLoader").show();
            var institutionId = $("#InstitutionId").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInstitutionByInstitutionId", "Institutions")',
                data: { id: institutionId },
                success: function (data, status, jqXHR) {
                    if (data.success) {
                        $("#InstitutionCode").val(data.InstitutionCode);
                        $("#InstitutionName").val(data.InstitutionName);
                    } else {
                        swal({
                            text: "Exception on accessing institution details, try again",
                            icon: "warning",
                            button: "OK",
                        }).then(function () {
                            //location.reload();
                        });
                    }
                },
                error: function () {
                    swal({
                        text: "Error on accessing institution details, try again",
                        icon: "error",
                        button: "OK",
                    }).then(function () {
                        //location.reload();
                    });
                },
                complete: function () {
                    $("#divLoader").hide();
                }
            })
        });

        $('#ServiceProviderId').on("change", function () {
            $("#divLoader").show();
            var serviceProviderId = $("#ServiceProviderId").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetServiceProvider", "MuseServiceProviders")',
                data: { id: serviceProviderId },
                success: function (data, status, jqXHR) {
                    if (data.success) {
                        $("#SpCode").val(data.SpCode);
                        $("#NewSpCode").val(data.NewSpCode);
                        $("#SpName").val(data.SpName);
                    } else {
                        swal({
                            text: "Exception on accessing service provider details, try again",
                            icon: "warning",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    }
                },
                error: function () {
                    swal({
                        text: "Error on accessing service provider details, try again",
                        icon: "error",
                        button: "OK",
                    }).then(function () {
                        location.reload();
                    });
                },
                complete: function () {
                    $("#divLoader").hide();
                }
            })
        });

        $("#btnSave").click(function () {

            $('#btnSave').prop("disabled", true);
            $("#divLoader").show();

            if (!$("#institutionSpForm").valid()) {
                $('#btnSave').prop("disabled", false);
                $("#divLoader").hide();
                return false;
            }

            var token = $("[name='__RequestVerificationToken']").val();
            var data = {
                __RequestVerificationToken: token,
                InstitutionId: $('#InstitutionId').val(),
                InstitutionCode: $('#InstitutionCode').val(),
                InstitutionName: $('#InstitutionName').val(),
                ServiceProviderId: $('#ServiceProviderId').val(),
                SpCode: $('#SpCode').val().trim(),
                NewSpCode: $('#NewSpCode').val().trim(),
                SpName: $("#SpName").val().trim(),
                AllowFundReceiving: $("#AllowFundReceiving").prop("checked"),
            }

            var url = '@Url.Action("CreateInstitutionSp", "MuseInstitutionMuseSps")';
            $.ajax({
                url: url,
                type: "POST",
                //data: JSON.stringify(data),
                data: data,
                dataType: "JSON",
                //contentType: "application/json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (response) {
                    //check is successfully save to database
                    if (response == "Success") {
                        //will send status from server side
                        swal({
                            text: "Institution service provider successfully saved.",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            window.location = '@Url.Action("InstitutionSps", "MuseInstitutionMuseSps")';
                        });
                    }
                    else {
                        swal({
                            text: response,
                            icon: "warning",
                            button: "OK",
                        })
                    }
                },
                error: function () {
                    swal({
                        text: "Error on saving institution service provider, try again.",
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $('#btnSave').prop("disabled", false);
                    $("#divLoader").hide();
                }
            });
        });

    </script>
}



