@model IFMIS.Areas.IFMISTZ.Models.ReceivingSummaryVM

@if(Model.PaymentVoucher.OverallStatus=="Missing Voucher"){
<p style="font-family: Arial, Helvetica, sans-serif; width: 100%; border: 5px solid gray; padding: 7px; margin: 7px; "> Missing Corresponding voucher</p>
}
else{

<table class="table  table-bordered table-hover table-condensed">
    
    <thead>
        <tr>
            <th style="text-align:center" colspan="3">Voucher Information</th>
            <th style="text-align:center" colspan="3">LD Information</th>
    
        </tr>
        <tr>
            <th style="text-align:center"> PVNo</th>
            <th style="text-align:center"> Voucher Status</th>
            <th style="text-align:center"> Source</th>
            <th style="text-align:right">LD Amount</th>
            <th style="text-align:center">LD Status</th>
            <th style="text-align:center;">Action</th>
        </tr>
    </thead>

    <tbody>
      
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(model => model.PaymentVoucher.PVNo)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(model => model.PaymentVoucher.OverallStatus)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(model => model.PaymentVoucher.SourceModule)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(model => model.PaymentVoucher.LiquidatedDamageAmount)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(model => model.PaymentVoucher.OverallStatusDesc)
                @if (Model.PaymentVoucher.OverallStatusDesc == "Posted")
                {
                    if (Model.PaymentVoucher.SourceModuleRefNo != null)
                    {
                    <hr />
                    <em>
                        Posted with TranferNum:<strong>@Html.DisplayFor(model => model.PaymentVoucher.SourceModuleRefNo)</strong>
                    </em>
                    }
                }
            </td>
            <td style="text-align:center">
                @if (Model.PaymentVoucher.OverallStatusDesc == "Not Posted")
                {

                    <div class="btn-group" style="text-align:left">
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="postLD(@Model.PaymentVoucher.PaymentVoucherId)">
                                    <i class="fa fa-edit"></i>Repost
                                </a>
                            </li>

                        </ul>
                    </div>
                }
            </td>

        </tr>
                
    </tbody>
</table>
if(Model.PaymentVouchers != null)
    {
<table class="table  table-bordered table-hover table-condensed">
    <caption>Accrual Sub Voucher(s) Payment</caption>
    <thead>
        <tr>
            <th style="text-align:center" colspan="3">Voucher Information</th>
            <th style="text-align:center" colspan="3">LD Information</th>

        </tr>
        <tr>
            <th style="text-align:right;width:4%"></th>
            <th style="text-align:center"> PVNo</th>
            <th style="text-align:center"> Voucher Status</th>
            <th style="text-align:center"> Source</th>
            <th style="text-align:right">LD Amount</th>
            <th style="text-align:center">LD Status</th>
            <th style="text-align:center;">Action</th>
        </tr>
    </thead>

    <tbody>
        @{var i = 0;}
        @foreach (var item in Model.PaymentVouchers)
        {
            i++;

        <tr>
            <td style="text-align:right">
                @i
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.PVNo)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.SourceModule)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.LiquidatedDamageAmount)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.OverallStatusDesc)
                @if (item.OverallStatusDesc == "Posted")
                {
                    if (item.SourceModuleRefNo != null)
                    {
                    <hr/>
                    <em>
                        Posted with TranferNum:<strong>@Html.DisplayFor(modelItem => item.SourceModuleRefNo)</strong>   
                    </em>
                    }
                }
            </td>
            <td style="text-align:center">
                @if (item.OverallStatusDesc == "Not Posted")
                {

                    <div class="btn-group" style="text-align:left">
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" onclick="postLD(@item.PaymentVoucherId)">
                                    <i class="fa fa-edit"></i>Repost
                                </a>
                            </li>

                        </ul>
                    </div>
                }
            </td>

        </tr>
        }
    </tbody>
</table>
    }
}

<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">




</script>
