@model IFMIS.Areas.IFMISTZ.Models.PaymentImprestVM
@{
    ViewBag.Title = "Special Imprest";
    
}
<table class="table  table-hover table-condensed">
    <tbody>
        <tr data-level='1'>
            <th style="width:20%">
                Institution Code
            </th>
            <td>
                @Html.DisplayFor(model => model.InstitutionCode)
            </td>
            <th style="width:20%">
                Exchange Rate
            </th>
            <td>
                @Html.DisplayFor(model => model.ExchangeRate)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Institution Name
            </th>
            <td>
                @Html.DisplayFor(model => model.InstitutionName)
            </td>
            <th style="width:20%">
                Amount
            </th>
            <td>
                @string.Format("{0:#,0.00}", Model.NetOperationalAmount)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                PVNo
            </th>
            <td>
                @Html.DisplayFor(model => model.PVNo)
            </td>
            <th style="width:20%">Status</th>
            <td>@Html.DisplayFor(model => model.OverallStatus)</td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Source Module
            </th>
            <td>
                @Html.DisplayFor(model => model.SourceModule)
            </td>
            <th style="width:20%">
                Apply Date
            </th>
            <td>
                @Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Source Module ReferenceNo
            </th>
            <td>
                @Html.DisplayFor(model => model.SourceModuleReferenceNo)
            </td>
            <th style="width:20%">
                Imprest Type Desc
            </th>
            <td>
                @Html.DisplayFor(model => model.ImprestTypeDesc)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Payment Description
            </th>
            <td>
                @Html.DisplayFor(model => model.PaymentDesc)
            </td>
            <th style="width:20%">
                Narration
            </th>
            <td>
                @Html.DisplayFor(model => model.Narration)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Payee Code
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeCode)
            </td>
            <th style="width:20%">
                Payee Bank Account
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeBankAccount)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Payee Name
            </th>
            <td>
                @Html.DisplayFor(model => model.Payeename)
            </td>
            <th style="width:20%">
                Payee Bank Name
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeBankName)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Operational Currency
            </th>
            <td>
                @Html.DisplayFor(model => model.OperationalCurrency)
            </td>
            <th style="width:20%">
                PayeeBIC
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeBIC)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Base Currency
            </th>
            <td>
                @Html.DisplayFor(model => model.BaseCurrency)
            </td>
            <th style="width:20%"></th>
            <td></td>
        </tr>

    </tbody>
</table>