@model IFMIS.Areas.IFMISTZ.Models.SpecialImprestDetailVM
@{
    ViewBag.Title = "Special Imprest";

}
<table class="table  table-hover table-condensed text-wrap" >
    <tbody>
        <tr data-level='1'>
            <th style="width:20%">
                Institution Code
            </th>
            <td>
                @Html.DisplayFor(model => model.InstitutionCode)
            </td>
            <th style="width:20%">BatchNumber</th>
            <td>@Html.DisplayFor(model => model.BatchNumber)</td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Institution Name
            </th>
            <td>
                @Html.DisplayFor(model => model.InstitutionName)
            </td>
            <th style="width:20%">
                Amount
            </th>
            <td>
                @string.Format("{0:#,0.00}", Model.OperationalAmount)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                PVNo
            </th>
            <td>
                @Html.DisplayFor(model => model.PVNo)
            </td>
            <th style="width:20%">
                Status
            </th>
            <td>
                @string.Format("{0:#,0.00}", Model.OverallStatus)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Source Module
            </th>
            <td>
                @Html.DisplayFor(model => model.SourceModule)
            </td>
            <th style="width:20%">
                Apply Date
            </th>
            <td>
                @Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Source Module ReferenceNo
            </th>
            <td>
                @Html.DisplayFor(model => model.SourceModuleReferenceNo)
            </td>
            <th style="width:20%">
                Imprest Type Desc
            </th>
            <td>
                @Html.DisplayFor(model => model.ImprestTypeDesc)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Payment Description
            </th>
            <td>
                @Html.DisplayFor(model => model.PaymentDesc)
            </td>
            <th style="width:20%">
                Narration
            </th>
            <td>
                @Html.DisplayFor(model => model.Narration)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Payee Code
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeCode)
            </td>
            <th style="width:20%">
                Payee Bank Account
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeBankAccount)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Payee Name
            </th>
            <td>
                @Html.DisplayFor(model => model.Payeename)
            </td>
            <th style="width:20%">
                Payee Bank Name
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeBankName)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Operational Currency
            </th>
            <td>
                @Html.DisplayFor(model => model.OperationalCurrency)
            </td>
            <th style="width:20%">
                PayeeBIC
            </th>
            <td>
                @Html.DisplayFor(model => model.PayeeBIC)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Base Currency
            </th>
            <td>
                @Html.DisplayFor(model => model.BaseCurrency)
            </td>
            <th style="width:20%">
                Exchange Rate
            </th>
            <td>
                @Html.DisplayFor(model => model.Exchangerate)
            </td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Cash Bank GlAccount Desc
            </th>
            <td>
                @Html.DisplayFor(model => model.CashBankGlAccountDesc)
            </td>
            <th style="width:20%">
                Payable Bank SubBudgetClass
            </th>
            <td>@Html.DisplayFor(model => model.PayableBankSubBudgetClass)</td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Cash Bank SubBudgetClass
            </th>
            <td>
                @Html.DisplayFor(model => model.CashBankSubBudgetClass)
            </td>
            <th style="width:20%">
                Payable Bank GlAccount Desc
            </th>
            <td>@Html.DisplayFor(model => model.PayableBankGlAccountDesc)</td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Cash Hand SubBudgetClass
            </th>
            <td>
                @Html.DisplayFor(model => model.CashHandSubBudgetClass)
            </td>
            <th style="width:20%">
                Payable Hand SubBudgetClass
            </th>
            <td colspan="3">@Html.DisplayFor(model => model.PayableHandSubBudgetClass)</td>
        </tr>
        <tr data-level='1'>
            <th style="width:20%">
                Cash Hand GlAccount Desc
            </th>
            <td>
                @Html.DisplayFor(model => model.CashHandGlAccountDesc)
            </td>
            <th style="width:20%">
                Payable Hand GlAccount Desc
            </th>
            <td colspan="3">@Html.DisplayFor(model => model.PayableHandGlAccountDesc)</td>
        </tr>
        <tr>
            <th style="width:20%">
                Payable Hand GlAccount
            </th>
            <td  colspan="3" class="text-wrap">
                @Html.DisplayFor(model => model.PayableHandGlAccount)
            </td>
        </tr>
        <tr>
            <th style="width:20%">
                Payable Bank GlAccount
            </th>
            <td colspan="3">
                @Html.DisplayFor(model => model.PayableBankGlAccount)
            </td>
        </tr>
        <tr>
            <th style="width:20%">
                Cash Bank GlAccount
            </th>
            <td colspan="3">@Html.DisplayFor(model => model.CashBankGlAccount)</td>
        </tr>
        <tr>
            <th style="width:20%">
                Cash Hand GlAccount
            </th>
            <td colspan="3">@Html.DisplayFor(model => model.CashHandGlAccount)</td>
        </tr>
    </tbody>
</table>
