@model IEnumerable<IFMIS.Areas.Consolidation.Models.DisclosureNoteItemSummary>
@{

    ViewBag.Title = "Approved Disclosures";
    var i = 0;
}


<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }
</style>


<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-condensed" id="dt_summary">

                                <thead>
                                    <tr>
                                        <th style="text-align:right">
                                            #
                                        </th>
                                        <th style="text-align:left">
                                            @Html.DisplayNameFor(model => model.DisclosureCategory)
                                        </th>
                                        <th style="text-align:center">
                                            @Html.DisplayNameFor(model => model.NoteNo)
                                        </th>
                                        <th style="text-align:left">
                                            @Html.DisplayNameFor(model => model.NoteDesc)
                                        </th>
                                        <th style="text-align:center">
                                            @Html.DisplayNameFor(model => model.FinancialYear)
                                        </th>
                                        <th style="text-align:center">
                                            @Html.DisplayNameFor(model => model.NumTrx)
                                        </th>
                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.TBAmount)
                                        </th>
                                        <th style="text-align:center">
                                            @Html.DisplayNameFor(model => model.OverallStatus)
                                        </th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td style="text-align:right">
                                                @i
                                            </td>
                                            <td style="text-align:left">
                                                @Html.DisplayFor(modelItem => item.DisclosureCategory)
                                            </td>
                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.NoteNo)
                                            </td>
                                            <td style="text-align:left">
                                                @Html.DisplayFor(modelItem => item.NoteDesc)
                                            </td>
                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.FinancialYear)
                                            </td>
                                            <td style="text-align:center">
                                                <span class="badge inbox-badge margin-right-13" style="background-color:#ccc">
                                                    @Html.DisplayFor(modelItem => item.NumTrx)
                                                </span>
                                            </td>
                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.TBAmount)
                                            </td>
                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.OverallStatus)
                                            </td>

                                            <td style="text-align:center">

                                                <div class="btn-group" style="text-align:left">
                                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="#" onclick="confirmDisclosure(@item.DisclosureNoteItemSummaryId)">
                                                                <i class="fa fa-edit"></i>Reject
                                                            </a>
                                                        </li>
                                                        @if (item.DisclosureCategory == "Biological Assets")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("BiologicalDetails", "ConsolidationDisclosures", new { id = item.DisclosureNoteItemSummaryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Details
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (item.DisclosureCategory == "Currency" || item.DisclosureCategory == "Cash and Cash Equivalents")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("CurrencyDetails", "ConsolidationDisclosures", new { id = item.DisclosureNoteItemSummaryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Details
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (item.DisclosureCategory == "Payables and Accruals" || item.DisclosureCategory == "Liquidity Risk" || item.DisclosureCategory == "Receivables" || item.DisclosureCategory == "Credit Risk")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("AgingDetails", "ConsolidationDisclosures", new { id = item.DisclosureNoteItemSummaryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Details
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (item.DisclosureCategory == "Investment Property" || item.DisclosureCategory == "Equity Investments" || item.DisclosureCategory == "Investments in Associates and Joint Ventures" || item.DisclosureCategory == "Investment in Controlled Entities (Subsidiaries)" || item.DisclosureCategory == "Inventories")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("MovementDetails", "ConsolidationDisclosures", new { id = item.DisclosureNoteItemSummaryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Details
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (item.DisclosureCategory == "Elimination")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("EliminationDetails", "ConsolidationDisclosures", new { id = item.DisclosureNoteItemSummaryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Details
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (item.DisclosureCategory == "Percentage Ownership")
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("OwnershipDetails", "ConsolidationDisclosures", new { id = item.DisclosureNoteItemSummaryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Details
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>


                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        var dt_search_summary = $('#dt_summary').dataTable();
        $("#dt_summary_wrapper .dt-toolbar").remove();
        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_summary").DataTable().search(this.value).draw();
        });


        var confirmDisclosure = function (id) {
             swal({
                        title: 'Rejection',
                        text: "Do you reject this disclosure?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("RejectDisclosures", "ConsolidationDisclosures")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id},
                    success: function (response) {
                        if (response == "Success") {
                            swal("Rejected  successfully!", { icon: "success" })
                                         .then((value) => {
                                             location.reload();
                                         });
                        }
                        else {
                            swal(response, { icon: "warning" });
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        swal("An error has occured, contact system support");

                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        };


        var cancelTransactions = function (id) {
             swal({
                        title: 'Confirmation',
                        text: "Do you cancel,all Note(s) to this TB will be removed ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("CancelTransactions", "ConsoTransactions")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id},
                    success: function (response) {
                        if (response == "Success") {
                            swal("Cancelled  successfully!", { icon: "success" })
                                         .then((value) => {
                                             location.reload();
                                         });
                        }
                        else {
                            swal(response);
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        swal("An error has occured, contact system support");

                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        };



        var validateTransactions = function (id) {
             swal({
                        title: 'Confirmation',
                        text: "Do you validate this TB ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("ValidateTransactions", "ConsoTransactions")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id},
                    success: function (response) {
                        if (response == "Success") {
                            swal("Validated  successfully!", { icon: "success" })
                                         .then((value) => {
                                             location.reload();
                                         });
                        }
                        else {
                            swal(response);
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        swal("An error has occured, contact system support");

                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        };



        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });

    </script>
}
