<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Edit</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table>

                                        <tr>
                                            <td class="form-label">
                                                Institution Name
                                                <i class="fa fa-times" style="color:white" id="InstitutionId1"></i>
                                            </td>
                                            <td>
                                                <select id="InstitutionId" style="width:300px">
                                                    <option value='@ViewBag.institutionName' selected="selected">@ViewBag.institutionName</option>
                                                    @foreach (var institutionList in ViewBag.institutionList)
                                                    {
                                                        <option value='@institutionList.InstitutionId'>@institutionList.InstitutionCodeInstitutionName</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Financial Year
                                                <i class="fa fa-times" style="color:white" id="FinancialYear1"></i>
                                            </td>
                                            <td>
                                                <select id="FinancialYear" style="width:300px">
                                                    <option value='@ViewBag.FinancialYearId' selected="selected">@ViewBag.financialYearCode</option>
                                                    @foreach (var fyearList in ViewBag.financialyearList)
                                                    {
                                                        <option value='@fyearList.FinancialYearId'>@fyearList.FinancialYearCode</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Effective Start Date:  <i class="fa fa-times" style="color:white" id="EffectiveStartDate1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="date" id="EffectiveStartDate" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Effective End Date: <i class="fa fa-times" style="color:white" id="EffectiveEndDate1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="date" id="EffectiveEndDate" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td class="form-label">
                                                Status
                                                <i class="fa fa-times" style="color:white" id="status2"></i>
                                            </td>
                                            <td>
                                                <select id="Status" name="Status" class="input" style="width:300px" required="required">
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">InActive</option>
                                                </select>
                                            </td>
                                        </tr>


                                    </table>
                                </div>
                            </div>

                            <!-- end widget content -->
                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">

                                    <a class="btn btn-info" href='@Url.Action("RestrictionFinancialYearList", "RestrictionFinancialYear")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="form_submision">
                                        <i class="fa fa-save"></i>Save
                                        @*<img src="~/Content/img/loading.gif" id="saveLoader" />*@
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        $("#form_submision").click(function () {

            var institutionName = $("#InstitutionId").val();
            var financialYear = $("#FinancialYear").val();
            var status = $("#Stutus").val();
            var effectiveStartDate = $("#EffectiveStartDate").val();
            var effectiveEndDate = $("#EffectiveEndDate").val();

            if (institutionName == 'Please choose Institution Name') {
                swal("Institution Name is Required")
                    .then((j) => {
                        $("#InstitutionId").focus();
                        $("#InstitutionId").css({ 'border-color': 'red' });

                    });

            } else if (financialYear == 'Please choose Financial Year') {
                swal("FinancialYear is Required")
                    .then((j) => {
                        $("#FinancialYear").focus();
                        $("#FinancialYear").css({ 'border-color': 'red' });

                    });

            } else if (status == 'Please choose Status') {
                swal("Status is Required")
                    .then((j) => {
                        $("#Status").focus();
                        $("#Status").css({ 'border-color': 'red' });

                    });

            } else if (effectiveStartDate == 'Please choose Status') {
                swal("Effective Start Date is Required")
                    .then((j) => {
                        $("#EffectiveStartDate").focus();
                        $("#EffectiveStartDate").css({ 'border-color': 'red' });

                    });

            } else if (effectiveEndDate == 'Please choose Status') {
                swal("Effective End Date is Required")
                    .then((j) => {
                        $("#EffectiveEndDate").focus();
                        $("#EffectiveEndDate").css({ 'border-color': 'red' });

                    });
            }

            else {
                $("#InstitutionId").css({ 'border-color': '' });
                $("#FinancialYear").css({ 'border-color': '' });
                $("#Status").css({ 'border-color': '' });
                $("#EffectiveStartDate").css({ 'border-color': '' });
                $("#EffectiveEndDate").css({ 'border-color': '' });

                var form_data = {
                    "InstitutionId": $("#InstitutionId").val(),
                    "FinancialYearId": $("#FinancialYear").val(),
                    "OverallStatus": $("#Status").val(),
                    "EffectiveStartDate": $("#EffectiveStartDate").val(),
                    "EffectiveEndDate": $("#EffectiveEndDate").val(),
                }

                console.log(form_data);



                var url = '@Url.Action("EditRestrictionFinancialYear", "RestrictionFinancialYear")';
                var urlList = '@Url.Action("RestrictionFinancialYearList", "RestrictionFinancialYear")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { restrictionFinancialYearVM: form_data, RestrictionFinancialYearId:'@ViewBag.restrictionFinancialYearId' },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {

                        swal(error);
                    }
                });

            }

        });

    </script>
}





