@model IFMIS.Areas.RecurrentPayment.Models.BeneficiaryDetailVM

<table class="table table-bordered table-condensed table-condensed table-hover table-responsive table-striped">
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.BeneficiaryCode).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.BeneficiaryCode)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.BeneficiaryCategory).ToString().ToUpper()
            </strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.BeneficiaryCategory)
        </td>
    </tr>

    @if (Model.BeneficiaryCategory == "Contract")
    {
        <tr>
            <td>
                <p><strong>CONTRACT DETAILS</strong></p>
            </td>
            <td>
                @Convert.ToDateTime(Model.ContractStartDate).ToString("dd/MM/yyyy") - @Convert.ToDateTime(Model.ContractEndDate).ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr>
            <td>
                <strong>@Html.DisplayNameFor(model => model.Duration).ToString().ToUpper()</strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Duration)
            </td>
        </tr>
    }

    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.BeneficiaryName).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.BeneficiaryName)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.BankID).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.Bank.BankID)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.AccountNo).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.AccountNo)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.PayStationID).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.PayStationName)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.DepartmentID).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.DepartmentName)
        </td>
    </tr>
    @*<tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.SectionID).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.Section.SectionName)
        </td>
    </tr>*@
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.SalaryScale).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.SalaryScale)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.SalaryAmount).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.SalaryAmount)
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.DOB).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Convert.ToDateTime(Model.DOB).ToString("dd/MM/yyyy")
        </td>
    </tr>
    <tr>
        <td>
            <strong>
                @Html.DisplayNameFor(model => model.PayrollStatus).ToString().ToUpper()
            </strong>
        </td>

        <td>
            @Html.DisplayFor(model => model.PayrollStatus)
        </td>
    </tr>
</table>



