@model IFMIS.Models.EditSystemDocumentVM

@{
    ViewBag.Title = "Edit System Document";
}

<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Edit System Document </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form name="systemDocumentForm" id="systemDocumentForm">
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.SystemDocumentId)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DocumentName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DocumentType, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.DocumentType, Model.DocumentTypes, "Select System Document", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DocumentType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AttachmentName, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            <a href="~/Media/Docs/@Model.AttachmentName" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download</a>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FileName, "Change Attachment", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @type = "file" })
                                            @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button class="btn btn-info" type="button" style="float: left" id="btnSave">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("SystemDocumentList","SystemDocuments")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <script type="text/javascript">
        $("#btnSave").on("click", function () {

        $("#divLoader").show();

        $("#btnSave").attr("disabled", true);
        //$.validator.unobtrusive.parse("#systemDocumentForm");
        //if (!$("#systemDocumentForm").valid()) {
        //    $("#btnSave").attr("disabled", false);
        //    $("#divLoader").hide();

        //    return false;
        //}

        var token = $("[name='__RequestVerificationToken']").val();

        var formData = new FormData();

        formData.append("__RequestVerificationToken", token);
        formData.append("SystemDocumentId", $('#SystemDocumentId').val());
        formData.append("DocumentName", $('#DocumentName').val());
        formData.append("DocumentType", $('#DocumentType').val());
        formData.append("FileName", $("#FileName").get(0).files[0]);

        var url = '@Url.Action("EditSystemDocument", "SystemDocuments")';
        $.ajax({
        url: url,
        type: "POST",
        //data: JSON.stringify(Object.fromEntries(formData)),
        data: formData,
        dataType: "JSON",
        //contentType: 'application/x-www-form-urlencoded; charset=utf-8',
        //cache: false,
        processData: false,
        contentType: false,
        success: function (response) {
                    if (response == "Success") {
                        swal({
                            text: "System document saved successfully!",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            window.location = '@Url.Action("SystemDocumentList", "SystemDocuments")';
                        });
                    } else {
                        swal({
                            text: response,
                            icon: "warning",
                            button: "OK",
                        })
                    }
                },
        error: function () {
                    swal({
                        text: "An error occured while processing your request, please contact system support",
                        icon: "error",
                        button: "OK",
                })
        },
        complete: function () {
            $("#btnSave").attr("disabled", false);
            $("#divLoader").hide();
        }
        });
    })
    </script>
}
