@model IFMIS.Areas.RecurrentPayment.Models.BeneficiaryCodeDateTimeVM

@{
    ViewBag.Title = "SalarySlipReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Salary Slip Report</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="panel-body">
                                @using (Html.BeginForm("SalarySlipReport", "SalarySlips", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.BeneficiaryCode, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.BeneficiaryCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BeneficiaryCode, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.MonthId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.DropDownListFor(model => model.MonthId, ViewBag.Month as SelectList, "Select Month", new { @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.MonthId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-2">
                                                @Html.LabelFor(model => model.FY, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.FY, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FY, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="row" style="margin-left:4px;font:red">

                                            @if (ViewBag.employee == null)
                                            {

                                            }
                                            else if (ViewBag.employee != null)
                                            {
                                                <h3><font color="red">@ViewBag.employee!</font></h3>
                                            }

                                        </div>
                                        <div style="padding-top:6px">
                                            <input type="submit" value="GetSlip" formtarget="_blank" class="btn btn-info" />
                                        </div>
                                    </div>
                                    <div id="searchResults" style="margin-top: 20px; display: none"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts{
    <script type='text/javascript'>
        function myFunction() {
            debugger
            var month = $("#MonthId").val();
            var code = $("#BeneficiaryCode").val();
           
            $.ajax({               
                url: 'SalarySlipReport',
                type: 'POST',
                data: { month: month, checkNo: checkNo,FY: FY},
                dataType: 'json',
                success: function (response) {
                    if (response == "success") {
                        alert("Sorry! Data Available");                       
                    }
                }
            });
        }
    </script>
}
