@model IFMIS.Areas.IFMISTZ.Models.FundAllocationSummary

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 150px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    #tblDetails tr td {
        border: 2px solid lightblue;
        border-collapse: initial;
    }
</style>
<br />
<div class="payee-entry">
    <div class="entry-label"> Allocation Summary </div>
    <div style="padding-left:20px">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Allocation Reference : </th>
                        <td id="fundAllocationSummaryNum"> @Model.FundAllocationSummaryNum </td>
                    </tr>
                    <tr>
                        <th> Funding Source : </th>
                        <td id="fundingSource"> @Model.FundingSource </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Fund Reference No. : </th>
                        <td id="fundingRefNo"> @Model.FundingRefNo</td>
                    </tr>
                    <tr>
                        <th> Fund Type : </th>
                        <td id="fundType"> @Model.FundType </td>
                    </tr>
                </table>
            </div>

            @if (Model.STInstitutionCode != null)
            {
                <div class="col-md-6">
                    <table>
                        <tr>
                            <th> ST Name: </th>
                            <td id="fundingRefNo"> @Model.STInstitutionCode - @Model.STInstitutionName</td>
                        </tr>
                        <tr>
                            <th> Sub Warrant : </th>
                            <td id="fundType"> @Model.SubWarrantHolderCode - @Model.SubWarrantHolderDesc </td>
                        </tr>
                    </table>
                </div>
            }

            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Subvote   </th>
                        <td id="institutionTo"> @Model.SubVoteCode - @Model.SubVoteDesc </td>
                    </tr>
                    <tr>
                        <th> Total Amount: </th>
                        <td id="totalAmount"> @string.Format("{0:#,0.00}", Model.TotalAmount) </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table>

                    <tr>
                        <th>  Overall Status: </th>
                        <td id="overallStatus"> @Model.OverallStatus </td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Allocation Date: </th>
                        <td id="createdAt"> @string.Format("{0:d/M/yyyy}", Model.CreatedAt) </td>
                    </tr>
                    <tr>
                        <th> Allocated By: </th>
                        <td id="createdBy"> @Model.CreatedBy </td>
                    </tr>

                </table>
            </div>
            <div>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr style="font-weight:bold"><td>#</td><td>Item Description </td><td> Allocated Amount </td></tr>
                    </thead>
                        @{
                            int i = 0;

                            foreach (var group in ((IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundAllocations>)ViewBag.allocationDetails).GroupBy(a => a.FundAllocationId))
                            {

                                foreach (var group1 in group)
                                {

                                    i++;
                                    <tr><td> @i </td> <td> @group1.Description </td> <td>  @string.Format("{0:#,0.00}", group1.OperationalAmount)</td> </tr>

                                }
                            }
                        }
                </table>
            </div>

        </div>
    </div>
</div>
<br />
