@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.PayeeDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bankid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARControlCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APControlCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accountnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayeeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bankid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARControlCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APControlCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accountnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PayeeDetailId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PayeeDetailId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PayeeDetailId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
