@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.HelpdeskSupportTeamVM>
@{
    ViewBag.Title = "Support Team List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-users"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                    <div class="col-md-6">

                                        <a class="btn btn-info" href='@Url.Action("CreateSupportTeam", "HelpdeskSupportTeam")'>
                                            <i class="glyphicon glyphicon-plus"></i> Add New
                                        </a>

                                    </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>

                            </div>
                            <table id="dt_support_team_list" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="width:250px !important">Institution</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Designation</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        var dt_support_team_list = $("#dt_support_team_list").dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            },
            "language": {
                "emptyTable": '<span id="loader"><strong>Loading records, please wait...</strong></span>',
                "zeroRecords": "No matching records found"
            },
            "Dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
        });
        $("#dt_support_team_list_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_support_team_list").DataTable().search(this.value).draw();
            $("#dt_support_team_list_wrapper .dt-toolbar").remove();
        });


        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("GetSupportTeamList", "HelpdeskSupportTeam")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                if (data == "" || data == undefined) {
                    document.getElementById("loader").textContent = "Data  not available in our records";
                }
                else {
                dt_support_team_list.fnClearTable();
                for (var i = 0; i < data.length; i++) {

                    var Display = 'display:none;';
                    var category = '';

                    if (data[i]["Category"] == '@IFMIS.Libraries.Constants.USER') {
                        category = '@IFMIS.Libraries.Constants.SUPPORT_TEAM.ToUpper()';
                    } else {
                        category = data[i]["Category"];
                    }

                    dt_support_team_list.fnAddData([i + 1,
                    data[i]["InstitutionName"] + "-"+ data[i]["InstitutionCode"],
                    data[i]["FirstName"] + " " + data[i]["MiddleName"] + " " + data[i]["Surname"],
                    data[i]["Email"],
                    data[i]["PhoneNumber"],
                    data[i]["Designation"],
                        category,
                    data[i]["Status"],
                    '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li ><a href="@Url.Action("EditSupportTeam", "HelpdeskSupportTeam")/?id=' + data[i]["SupportTeamId"] + '">Edit</a></li>\
                                <li><a href="#" onclick="cancelDialog(' + i + ')">Cancel</a></li>\
                            </ul>\
                        </div>\ '
                    ]);
                }
            }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function cancelDialog(i) {
            swal({
                title: 'Cancel Application ?',
                text: "Do you what to Remove Support Team : " + data[i]["Email"] + " This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    cancelSupportTeam(data[i]["SupportTeamId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function cancelSupportTeam(SupportTeamId) {
            var url = '@Url.Action("CancelSupportTeam", "HelpdeskSupportTeam")';
            $.ajax({
                type: "post",
                url: url,
                data: { "id": SupportTeamId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Support Team Cancelled Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal("Error Cancelling Support Team", { icon: "warning" });
                    }

                },
                failure: function (error) {
                    swal("Error Cancelling Support Team", { icon: "warning" });
                }
            });
            $('#confirmModal').modal('hide');
        }
    </script>
}
