@model IFMIS.Areas.Coadmis.Models.Asset

<form>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AssetId)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.AssetCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.AssetCategory, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssetCategory, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCover, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="InsuranceCover" name="InsuranceCover" class="form-control select2">
                    <option value="Yes"> Yes</option>
                    <option value="No"> No</option>
                </select>
                @Html.ValidationMessageFor(model => model.InsuranceCover, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MorgageCharges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="MorgageCharges" name="MorgageCharges" class="form-control select2">
                    <option value="Yes"> Yes</option>
                    <option value="No"> No</option>
                </select>
                @Html.ValidationMessageFor(model => model.MorgageCharges, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ValuationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input id="ValuationDate" name="ValuationDate" class="form-control" />
                @Html.ValidationMessageFor(model => model.ValuationDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CostofAsset, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.CostofAsset, new { @class = "form-control CostofAsset" })
                @*@Html.ValidationMessageFor(model => model.CostofAsset, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("Status", ViewBag.Status as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("select").select2();

        $("#ValuationDate")
            .wrap('<div class="input-group">')
            .datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                showOn: "both",
                buttonImage: '@Url.Content("~/Content/img/calendar.gif")'
                //maxDate: "+0D"
            })
            .next("button").button({
                icons: { primary: "ui-icon-calendar" },
                label: "Select Date",
                text: false
            })
            .addClass("btn btn-default")
            .wrap('<span class="input-group-btn">')
            .find('.ui-button-text')
            .css({
                'visibility': 'hidden',
                'display': 'inline'
            });
    });
    $(".CostofAsset").autoNumeric('init');
</script>