@model IFMIS.Areas.ALS.Models.ALS_Vendor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ALS_Vendor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VendorID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VendorID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VendorName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Vote)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Vote)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Subvote)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Subvote)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BTCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BTCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OfficeTel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OfficeTel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HomeTel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HomeTel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MobileNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostalAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostalAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Region)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Region)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SalaryScale)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SalaryScale)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FileNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FileNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CashAcctCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CashAcctCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VendorTrxTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VendorTrxTypeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NetSalary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NetSalary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GrossSalary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GrossSalary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NetSalaryDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NetSalaryDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NetSalaryOrig)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NetSalaryOrig)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NetSalaryOrigDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NetSalaryOrigDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsPayroll)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsPayroll)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateHired)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateHired)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EmpStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EmpStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayStep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayStep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TinNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TinNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayableGlAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayableGlAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenAccountNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenAccountNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenAccountName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenAccountName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenBankName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenBankName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenBankBic)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenBankBic)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RequireControlNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RequireControlNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ControlNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ControlNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CheckNo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
