@{
    ViewBag.Title = "Vendors";
}

<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Vendor List</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<a href="@Url.Action("CreateVendor","ALS_Vendor")" class="btn btn-info">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add New
                            </a>*@
                            <hr />
                            <table class="table table-striped table-bordered table-hover table-condensed" id="tblUsers" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Vendor Code</th>
                                        <th>Vendor Name</th>
                                        <th>Vote</th>
                                        <th>Net Salary</th>
                                        <th>Salary Scale</th>
                                        <th>Acount Number</th>
                                        <th>Acount Name</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @*<div class="modal-header" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Salary Scale</h4>
            </div>*@
            <div class="modal-body"></div>
            @*<div class="modal-footer">*@
                @*<button class="btn btn-success approve-confirm" onclick="allocateAmount()">Ok</button>*@
                @*<button class="btn btn-default delete-cancel" data-dismiss="modal">Cancel</button>*@
            @*</div>*@
        </div>

    </div>
</div>
@section Scripts{
    <script>

        $(function () {
            BindDataTable();
        });

        var BindDataTable = function (response) {
            var url = '@Url.Action("GetVendorList", "ALS_Vendor")';
            $("#tblUsers").DataTable({
                "bServerSide": true,
                "sAjaxSource": url,
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        type: "GET",
                        url: sSource,
                        data: aoData,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                    {
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "mData": "CheckNo" },
                    { "mData": "VendorName" },
                    { "mData": "Vote" },
                    { "mData": "NetSalary" },
                    { "mData": "SalaryScale" },
                    { "mData": "BenAccountNum" },
                    { "mData": "BenAccountName" },
                    {
                        "mData": "VendorID",
                        "bSortable": false,
                        "render": function (VendorID, type, full, meta) {
                            // console.log(full)
                            @*return '<a href="@Url.Action("UserDetails", "Manage")/' + Id + '"><i class="glyphicon glyphicon-eye-open"></i></a>'*@
                            return '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="@Url.Action("EditVendor", "ALS_Vendor")/' + VendorID + '">Edit</a></li><span>\</span>\
                                <li><a href="@Url.Action("VendorDetails", "ALS_Vendor")/' + VendorID + '">Details</a></li><span>\</span>\
                                @if (!User.IsInRole("Vendor Enty"))
                                 {
                                 <li><a href="#" onclick="showModal(' + VendorID + ')">Edit Salary Scale</a></li>{ <span>\</span> }
                                 }\
                              @if (!User.IsInRole("Vendor Enty"))
                                  {
                                <li><a href="#" onclick="cancelVendor(' + VendorID + ')">Cancel</a></li>{ <span>\</span> }
                                 }\
                            </ul>\
                        </div>'
                        }
                    },
                ]
            });
        };
        var confirmVendor = function (id) {
            swal({
                text: "Are you sure you want to confirm this Vendor?",
                buttons: [
                  "Yes",
                  "No"
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (!isConfirm) {
                    var url = '@Url.Action("ConfirmVendor", "ALS_Vendor")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                swal({
                                    text: "confirmed successfully!",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            }
                            else {
                                swal({
                                    text: response,
                                    icon: "warning",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            }
                        },
                        error: function (response) {
                            swal({
                                text: response,
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                location.reload();
                            });
                        }
                    });
                }
            });
        }

        var showModal = function (VendorID) {

            var url = "UpdateSalaryScale/" + VendorID;

            $(".modal-body").load(url, function () {
                $("#myModal").modal("show");
            });
        };
    </script>
}