
@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BiologicalAssetDistribution>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <a href="@Url.Action("CreateBiologicalAssetDistribution","BiologicalAsset")" class="btn btn-info">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add New
                            </a>
                            <hr class="simple" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Keywords..." id="searchbox">
                                        <button style="background-color:#2196F3;color:white" onclick="searchPayment()">Search</button>
                                    </div>
                                </div>
                            </div>
                            <table id="dt_GovAccount_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Institution Code</th>
                                        <th>Institution Name</th>
                                        <th>Gfs Code</th>
                                        <th>Financial Year</th>
                                        <th>Total Amount</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>



<div class="modal fade" id="commentModal" style="left:4%">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Comment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="GovernmentAccountSummaryId" id="GovernmentAccountSummaryId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="remarks1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <textarea style="width:300px" rows="2" id="remarks" maxlength="350"></textarea><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Attachment
                                    <i class="fa fa-times" style="color:white" id="attachment1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" id="attachment" class="input" style="width:300px" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="ConfirmForm()" id="confirmform">
                        <i class="fa fa-times"></i>Confirm
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Start confirmation modal section-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog" style="width: 40%">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">Opening Account Details</h4>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default" id="btnSaveComment">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
                <button class="btn btn-default role-dismiss" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--End of confirmation modal section-->


@section pagespecific{

    <script>

        var dt_GovAccount_listing = $('#dt_GovAccount_listing').dataTable();
        $("#dt_GovAccount_listing_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_GovAccount_listing.DataTable().search(this.value).draw();
        });

        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("getBiologicalAssetDistributionList", "BiologicalAsset")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                console.log(response);
                data = response.data;
                dt_GovAccount_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_GovAccount_listing.fnAddData([i + 1,
                        data[i]["InstitutionCode"],
                        data[i]["InstitutionName"],
                        data[i]["GfsCode"],
                        data[i]["FinancialYear"],
                        data[i]["TotalAmount"],
                        action(i)
                    ]);
                }

                if (data.length == 0) {
                    $("#loader").text("No matching records found")
                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function action(i) {
            
                return '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="#" onclick="EditBatch(' + data[i]["BiologicalAssetDistributionId"] + ')">Edit</a></li>\
                                <li><a href="#" onclick="CancelBatch(' + i + ')">Cancel</a></li>\
                                <li><a href="#" onclick="ViewDetails(' + data[i]["BiologicalAssetDistributionId"] + ')"> Details</a></li>\
                            </ul>\
                        </div>'
   
         }

        var AddAttachments = function (id) {
            window.location = '@Url.Action("AddAttachments", "BiologicalAsset")/' + id;
        };

        var EditBatch = function (id) {
            $("#divLoader").show();
            window.location = '@Url.Action("EditBatchSummary", "BiologicalAsset")/' + id;
        };


        var ViewDetails = function (id) {
            $("#divLoader").show();
            window.location = '@Url.Action("AccountDetails", "BiologicalAsset")/' + id;
        };

        var CreateAccount = function (id) {
            $("#divLoader").show();
            window.location = '@Url.Action("CreateOpeningAccount", "BiologicalAsset")/' + id;
        };

        var Confirm2 = function (id) {
            debugger;

        $(".modal-title").text("Confirm Opening Account");
        $("#btnSaveComment").show();
        $("#divLoader").show();

        var url = '@Url.Action("AcceptOpeningAccount", "BiologicalAsset")/' + id;

        $("#modal-body").load(url, function () {
            $("#modal").modal({
                backdrop: "static",
                keyboard: false
            });

            $("#divLoader").hide();
        });
    };


        function CancelBatch(i, id) {
            if (i == 'x') i = id;
            var id = data[i]["GovernmentAccountSummaryId"]
            swal({
                title: "Confirm Delete",
                text: "Are you sure you want to delete this record ? ",
                buttons: [
                  'Yes',
                  'No'
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {
                    ConfirmDelete(id);
                }
            });
            $('#confirmModal').modal('hide');
        }


        function ConfirmDelete(id) {
            //debugger
            var url = '@Url.Action("DeleteConfirmed", "BiologicalAsset")';
            $.ajax({
                type: "post",
                url: url,
                data: { id: id },
                success: function (response) {
                    if (response == "Success") {
                        swal("Record Deleted Successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                    } else {
                        swal(response);
                    }
                },
                error: function (xhr) {
                    alert("An error has occured, contact system support");
                    $("#divLoader").hide();
                },
            });
        }


     // ======= Confirmation Start ==================
        function Confirm(i) {
          //debugger
            $("#GovernmentAccountSummaryId").text(data[i]["GovernmentAccountSummaryId"]);
            document.getElementById("GovernmentAccountSummaryId").value = data[i]["GovernmentAccountSummaryId"];
            $('#commentModal').modal('show');
        }

        $(".saveLoader").toggle(false);
        function ConfirmForm() {
           // debugger
            var governmentAccountId = $("#GovernmentAccountSummaryId").val();
            var remarks = $("#remarks").val();
            var attachment = $("#attachment").val();

            if (governmentAccountId == '' || remarks == '') {
                var url = '@Url.Action("GovernmentAccountsList", "BiologicalAsset")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (attachment != '') {

                var file = document.querySelector("#attachment");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }

            postConfirm(governmentAccountId, remarks);
        }

        function postConfirm(governmentAccountId, remarks) {
            //console.log(formData);
            $(".loadingImg").show();
            $("#confirmform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("Confirmation", "BiologicalAsset")';
            $.ajax({
                url: url,
                data: { GovernmentAccountId: governmentAccountId, remarks: remarks },
                type: 'POST',
                //contentType: false,
                //processData: false,
                success: function (response) {
                    $("#confirmform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Confirmed successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });

                    } else {
                        $("#confirmform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response, { icon: "warning" }).then((e) => {
                            window.location.reload();
                        });
                    }
                },
                failure: function (error) {
                    $("#confirmform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }
        // =============== End  Confirmation ===============

    </script>
}

