
@model IFMIS.Areas.IFMISTZ.Models.AllowedPostingDetailsVM

@{
    ViewBag.Title = "Allow Date Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="nav-tabs-custom">

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="widget-body " style="padding-top:10px; width:100%;">
                                            <table width="100%">
                                                <tr>
                                                    <td colspan="1">
                                                        <div style="padding-left:5%">

                                                            <dl class="dl-horizontal">
  
                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.InstitutionCode)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.InstitutionCode)
                                                                </dd>


                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.InstitutionName)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.InstitutionName)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.StartDate)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.StartDate)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.EndDate)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.EndDate)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.EffectiveEndDate)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.EffectiveEndDate)
                                                                </dd>

                                                                <dt>
                                                                    @Html.DisplayNameFor(model => model.OverallStatus)
                                                                </dt>

                                                                <dd>
                                                                    @Html.DisplayFor(model => model.OverallStatus)
                                                                </dd>

                                                            </dl>
                                                        </div>

                                            </table>
                                        </div>
                                    </div>
                                    

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-2">
                                                <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

