@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.AllowedPostingDate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CashManagement/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancelledBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CancelledAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelledBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CancelledAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AllowedPostingDateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AllowedPostingDateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AllowedPostingDateId })
        </td>
    </tr>
}

</table>
