
@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.DeductionLoanVM>

@{
    string imgSrc = "";

    if (Model.Select(a => a.GroupLogo != null).FirstOrDefault())
    {
        imgSrc = "/Media/Images/" + Model.Select(a => a.GroupLogo).FirstOrDefault();
    }
}

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>


<div class="row">
    <div class="col-md-8" style="text-align: center">

        <img src="@Server.MapPath(imgSrc)" width="150" height="150" class="img-responsive" />
        <h2>
            @Model.Select(a => a.GroupName).FirstOrDefault()
        </h2>
        <h3>LOAN BALANCE REPORT</h3>
        <h3>
          @*@Convert.ToDateTime(Model.Select(a => a.CheckDate).FirstOrDefault()).ToShortDateString()*@
            @ViewBag.CheckDate
        </h3>
    </div>
</div>

<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->

        <div class="panel-body">


            <div class="panel-body">
                <table class="table table-bordered table-condensed table-hover table-responsive table-striped" style="font: bold 14px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">


                        @{
                            int i = 0;
                            decimal? totalAmount1 = 0, totalAmount2 = 0;
                            decimal? grandTotalAmount1 = 0, grandTotalAmount2 = 0;
                        }

                        @foreach (var group in Model.GroupBy(a => a.DedCode))
                        {
                            totalAmount1 = 0;
                            totalAmount2 = 0;

                            i = 0;
                        <tr>
                            <td colspan="6">
                                <b>@group.Key - @Model.Where(a => a.DedCode == group.Key).Select(a => a.DedDescription).FirstOrDefault()</b>
                            </td>
                        </tr>

                        <tr>
                            <th style="text-align: center">
                                #
                            </th>
                            <th>Check No</th>
                            <th>Full Name</th>                            
                            <th style="text-align:right">Deduction Amount</th>
                            <th style="text-align:right">Current Balance Amount</th>
                            <th>Check Date</th>
                        </tr>

                            foreach (var item in group)
                            {
                                i++;
                                totalAmount1 += item.DeductionAmount;
                                totalAmount2 += item.CurrentMonthBalanceAmount;


                                grandTotalAmount1 += item.DeductionAmount;
                                grandTotalAmount2 += item.CurrentMonthBalanceAmount;

                                <tr>
                                    <td>@i</td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.BeneficiaryCode)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.BeneficiaryName)
                                    </td>

                                    <td style="text-align: right">
                                        @Html.DisplayFor(modelItem => item.DeductionAmount)
                                    </td>

                                    <td style="text-align: right">
                                        @Html.DisplayFor(modelItem => item.CurrentMonthBalanceAmount)
                                    </td>

                                    <td>@Html.DisplayFor(modelItem => item.CheckDate)</td>
                                </tr>
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align: left">Total</td>                              
                                <td style="text-align: right"><b>@string.Format("{0:#,0.00}", totalAmount1)</b></td>
                                <td style="text-align: right"><b>@string.Format("{0:#,0.00}", totalAmount2)</b></td>
                                <td></td>
                            </tr>
                        }


                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: left">Grand Total</td>
                            <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount1)</b></td>
                            <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount2)</b></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
