

@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentsStatementVM>



@{
    string imgSrc = "";

    if (Model.Select(a => a.GroupLogo != null).FirstOrDefault())
    {
        imgSrc = "/Media/Images/" + Model.Select(a => a.GroupLogo).FirstOrDefault();
    }
}

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>


<div class="row">
    <div class="col-md-8" style="text-align: center">

        <img src="@Server.MapPath(imgSrc)" width="150" height="150" class="img-responsive" />
        <h2>
            @Model.Select(a => a.GroupName).FirstOrDefault()
        </h2>
        <h3>LOAN BALANCE SUMMARY REPORT</h3>
        <h3>
            @ViewBag.CheckDate
        </h3>
    </div>
</div>
<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
       
        <div class="panel-body">

            <div class="panel-body">
                <table class="table">
                    <tr style="background-color: #395870; color: whitesmoke">

                        @{
                            int i = 0, totalnumeEmp =0;
                            decimal? grandTotalAmount1 = 0, grandTotalAmount2 = 0;
                        }


                    <tr>
                        <th style="text-align: center">
                            #
                        </th>
                        <th>DedCode</th>
                        <th>Deduction Description</th>
                        <th>Total # Of Employee</th>
                        <th style="text-align:right">Current Balance Amount</th>
                        <th style="text-align:right">Deduction Amount</th>
                        <th>Check Date</th>
                    </tr>

                        @foreach (var item in Model)
                        {

                            i++;
                            totalnumeEmp += item.NumBeneficiaryCode;
                            grandTotalAmount1 += item.DeductionAmount;
                            grandTotalAmount2 += item.CurrentMonthBalanceAmount;



                                <tr>
                                    <td>@i</td>

                                    <td>@Html.DisplayFor(modelItem => item.DedCode)</td>

                                    <td>
                                            @item.DedDescription
                                    </td>

                                    <td style="text-align: right">
                                        @Html.DisplayFor(modelItem => item.NumBeneficiaryCode)
                                    </td>

                                    <td style="text-align: right">
                                        @string.Format("{0:#,0.00}", item.CurrentMonthBalanceAmount)
                                    </td>

                                    <td style="text-align: right">
                                        @string.Format("{0:#,0.00}", item.DeductionAmount)
                                    </td>

                                    <td>@Html.DisplayFor(modelItem => item.CheckDate)</td>

                                </tr>

                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: left">Grand Total Amount</td>
                            <td style="text-align: right"><b>@string.Format("{0:N0}", totalnumeEmp)</b></td>
                            <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount1)</b></td>
                            <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount2)</b></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</div>
