@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentsStatusReportVM>

@{
    string imgSrc = "";

    if (Model.Select(a=>a.GroupLogo != null).FirstOrDefault())
    {
        imgSrc = "/Media/Images/" + Model.Select(a=>a.GroupLogo).FirstOrDefault();
    }
}

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>

<div class="row">
    <div class="col-md-8" style="text-align: center">

        <img src="@Server.MapPath(imgSrc)" width="150" height="150" class="img-responsive" />
        <h2>
            @Model.Select(a => a.GroupName).FirstOrDefault()
        </h2>
        <h3>@ViewBag.Description -PAYMENT SUMMARY REPORT</h3>
        <h3>
            @Convert.ToDateTime(Model.Select(a=>a.ApprovedAt).FirstOrDefault()).ToShortDateString()
        </h3>
    </div>
</div>

    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>

        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">

            <thead>
                <tr>
                    <th><b>#</b></th>
                    <th><b>Batch No</b></th>
                    <th><b>Batch Description</b></th>
                    <th><b>Payment Category</b></th>
                    <th><b>No. Of Beneficiary</b></th>
                    <th><b>Total Amount</b></th>
                    <th><b>Approved Date</b></th>
                </tr>
            </thead>


            @{
                int i = 0;
            }
            @{
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.BatchNo</td>
                        <td>@item.BatchDesc</td>
                        <td>@item.PaymentCategory</td>
                        <td style="text-align:right">@item.NoOfBen</td>
                        <td style="text-align:right">@String.Format("{0:#,0.00}", item.TotalAmount)</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", item.ApprovedAt)</td>
                     </tr>
                }
            }
        </table>
    </div>



