@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentSummaryDSTS>

@{
    string imgSrc = "";

    if (Model.Select(a => a.GroupLogo != null).FirstOrDefault())
    {
        imgSrc = "/Media/Images/" + Model.Select(a => a.GroupLogo).FirstOrDefault();
    }
}

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>


<div class="row">
    <div class="col-md-8" style="text-align: center">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>
        @*<img src="@Server.MapPath(imgSrc)" width="150" height="150" class="img-responsive" />*@
        <h2>
            MINISTRY OF FINANCE AND PLANNING
        </h2>
        <h3>EXTRA DUTY ALLOWANCE (EDA) - @ViewBag.CheckDate</h3>
    </div>
</div>

<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->

        <table class="table">

            <tbody>
                @{
                    int i = 0;
                    decimal? subTotal = 0, grandTotal = 0;
                }

                @foreach (var group in Model.GroupBy(a => a.PayStationName))
                {

                    <tr style="background-color:#ddd6d6">
                        <td colspan="4">
                            <b>@group.Key</b>
                        </td>
                    </tr>

                    foreach (var group1 in group.GroupBy(a=>a.BenDepartment))
                    {
                    <tr class="group-header" style="background-color:#f7f7f7">
                        <td colspan="4">
                            @group1.Key
                        </td>
                    </tr>
                    <tr class="group-header">
                        <td><b>#</b></td>
                        <td><b>Beneficiary Code</b></td>
                        <td><b>Beneficiary Name</b></td>
                        <td><b>Amount</b></td>
                    </tr>

                        subTotal = 0;
                        grandTotal = 0;
                        i = 0;
                        foreach (var group2 in group1)
                        {
                            i++;


                            subTotal += group2.Amount;
                            grandTotal += group2.Amount;
                        <tr>
                            <td>@i</td>
                            <td>
                                @Html.DisplayFor(modelItem => group2.BeneficiaryCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => group2.BeneficiaryName)
                            </td>
                            <td style="text-align: right">@string.Format("{0:#,0.00}", (group2.Amount))</td>
                        </tr>
                        }
                    <tr>
                        <td colspan="3">Sub Total</td>
                        <td style="text-align: right">@string.Format("{0:#,0.00}",subTotal)</td>
                    </tr>
                    }

                }
            </tbody>
            @*<tr>
                <td colspan="3">Grand Total</td>
                <td style="text-align: right">@string.Format("{0:#,0.00}", grandTotal)</td>
            </tr>*@
        </table>

    </div>
</div>


   