
@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentBatchVerifyApprovalSummaryVM>

@{
    string imgSrc = "";

    if (Model.Select(a => a.GroupLogo != null).FirstOrDefault())
    {
        imgSrc = "/Media/Images/" + Model.Select(a => a.GroupLogo).FirstOrDefault();
    }
}

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>


<div class="row">
    <div class="col-md-8" style="text-align: center">

        <img src="@Server.MapPath(imgSrc)" width="150" height="150" class="img-responsive" />
        <h2>
            @Model.Select(a => a.GroupName).FirstOrDefault()
        </h2>
        <h3>PAYMENT SUMMARY</h3>
        <h3>
            @ViewBag.CheckDate
        </h3>
    </div>
</div>

<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->

        <div class="panel-body">


            <div class="panel-body">
                <table class="table table-bordered table-condensed table-hover table-responsive table-striped" style="font: bold 14px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                    <tr>
                        <th style="text-align:right">#</th>
                        <th>Batch No</th>
                        <th>Batch Description</th>
                        <th>Payment Category</th>
                        <th style="text-align:right">No of Beneficiary</th>
                        <th style="text-align:right">Total Amount</th>
                        <th>Pay Status</th>
                    </tr>

                    @{
                        int i = 0;
                        decimal? totalAmount1 = 0, totalAmount2 = 0;
                    }

                    @foreach (var item in Model)
                    {

                        i++;
                        totalAmount1 += item.NoofBen;
                        totalAmount2 += item.TotalAmount;
                        <tr>
                            <td style="text-align:right;">@i &nbsp;</td>

                            <td>
                                @item.BatchNo
                            </td>
                            <td>
                                @item.BatchDesc
                            </td>
                            <td>
                                @item.PaymentCategory
                            </td>
                            <td style="text-align:right">
                                @String.Format("{0:#,0}", item.NoofBen)
                            </td>

                            <td style="text-align:right">
                                @String.Format("{0:#,0.00}", item.TotalAmount)
                            </td>
                            <td>
                                @item.OverallStatus
                            </td>
                        </tr>
                    }

                    <tr style="">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Grand Total</td>
                        <td style="text-align:right;">  @String.Format("{0:N0}", totalAmount1) </td>
                        <td style="text-align:right;">  @String.Format("{0:#,0.00}", totalAmount2) </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
