
@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.WagebillSummaryVM>

@{
    string imgSrc = "";

    if (Model.Select(a => a.GroupLogo != null).FirstOrDefault())
    {
        imgSrc = "/Media/Images/" + Model.Select(a => a.GroupLogo).FirstOrDefault();
    }
}

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>


<div class="row">
    <div class="col-md-8" style="text-align: center">

        <img src="@Server.MapPath(imgSrc)" width="150" height="150" class="img-responsive" />
        <h2>
            @Model.Select(a => a.GroupName).FirstOrDefault()
        </h2>
        <h3>LOAN BALANCE REPORT</h3>
        <h3>
            @ViewBag.CheckDate
        </h3>
    </div>
</div>

<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->

        <div class="panel-heading">Wagebill Summary</div>
        <div class="panel-body">
            <div class="panel-body">
                <table class="table">
                    <tr style="background-color: #395870; color: whitesmoke">

                        @{
                            int i = 0, TotalnumEmployee = 0, grandNumEmp = 0;
                            decimal? totalAmount1, grandTotalAmount = 0;
                        }

                        @foreach (var group in Model.GroupBy(a => a.PayCategory))
                        {
                            i = 0;
                            totalAmount1 = 0;
                            TotalnumEmployee = 0;

                        <tr>
                            <td colspan="5">
                                <b>@group.Key</b>
                        </tr>

                        <tr style="background-color:#ddd">
                            <th style="text-align: center">
                                #
                            </th>
                            <th>Beneficiary Category</th>
                            <th>Total # Of Employee</th>
                            <th style="text-align:right">Orignal Net Amount</th>
                            <th>Check Date</th>
                        </tr>

                            foreach (var item in group)
                            {
                                i++;
                                totalAmount1 += item.OriginalNetAmount;
                                TotalnumEmployee += item.NumBeneficiaryCode;

                                grandTotalAmount += item.OriginalNetAmount;
                                grandNumEmp += item.NumBeneficiaryCode;

                                <tr>
                                    <td>@i</td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.BeneficiaryCategory)
                                    </td>

                                    <td style="text-align: right">
                                        @Html.DisplayFor(modelItem => item.NumBeneficiaryCode)
                                    </td>

                                    <td style="text-align: right">
                                        @string.Format("{0:#,0.00}",item.OriginalNetAmount)
                                    </td>

                                    <td>@string.Format("{0:dd/MM/yyyy}", item.CheckDate)</td>
                                </tr>
                            }

                            <tr style="background-color:#ccc">
                                <td></td>
                                <td style="text-align: left">Sub Total</td>
                                <td style="text-align: right"><b>@string.Format("{0:N0}", TotalnumEmployee)</b></td>
                                <td style="text-align: right"><b>@string.Format("{0:#,0.00}", totalAmount1)</b></td>
                                <td></td>
                            </tr>
                        }

                        <tr style="background-color:#999">
                            <td></td>
                            <td style="text-align: left">Grand Total</td>
                            <td style="text-align: right"><b>@string.Format("{0:N0}", grandNumEmp)</b></td>
                            <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount)</b></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
