

@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.DeductionLoanSummary_vw>

@{
    ViewBag.Title = "Beneficiaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tr:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        color: #4a4a4d;
        font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
    }

    th,
    td {
        padding: 5px 11px;
        vertical-align: middle;
    }

    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
        width: auto;
    }

        td:first-child {
            border-left: 1px solid #cecfd5;
        }

    thead {
        background: #395870;
        color: #fff;
    }

    tfoot {
        background-color: #b4fabc;
        color: #000000;
    }
</style>


<div id="content">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Loan Balance Report</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            @using (Html.BeginForm(null, null, FormMethod.Get))
                            {
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search..." />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="submit">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>

                                        <div class="pull-right">
                                            <a href="#" onclick="viewdetailreport('All')" style="margin-left:15px" class="btn btn-info" title="Click to Preview All Deduction Detail!"><span class="glyphicon glyphicon-print"></span>Loan Detail</a>
                                            <a href="#" onclick="viewsummaryreport('All')" style="margin-left:15px" class="btn btn-info" title="Click to Preview All Deduction Summary!"><span class="glyphicon glyphicon-print"></span>Loan Summary</a>
                                        </div>

                                    </div>
                                </div><!-- /input-group -->
                            }
                            <br />
                            <br />
                            <div class="panel-body">
                                <table class="table">
                                    <tr style="background-color: #395870; color: whitesmoke">

                                        @{
                                            int i = 0, totalnumeEmp = 0;
                                            decimal? grandTotalAmount1 = 0, grandTotalAmount2 = 0;
                                        }


                                    <tr style="background-color: #395870; color: whitesmoke">
                                        <th style="text-align: center">
                                            #
                                        </th>
                                        <th>DedCode</th>
                                        <th>Deduction Description</th>
                                        <th>Total # Of Employee</th>
                                        <th style="text-align:right">Current Balance Amount</th>
                                        <th style="text-align:right">Deduction Amount</th>
                                        <th>Check Date</th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {

                                        i++;
                                        totalnumeEmp += item.NumBeneficiaryCode;
                                        grandTotalAmount1 += item.DeductionAmount;
                                        grandTotalAmount2 += item.CurrentMonthBalanceAmount;



                                        <tr>
                                            <td>@i</td>

                                            <td>@Html.DisplayFor(modelItem => item.DedCode)</td>

                                            <td>
                                                <a href="DeductionDetail?dedCode=@item.DedDescription">
                                                    @item.DedDescription
                                                </a>
                                            </td>

                                            <td style="text-align: right">
                                                @Html.DisplayFor(modelItem => item.NumBeneficiaryCode)
                                            </td>

                                            <td style="text-align: right">
                                                @string.Format("{0:#,0.00}", item.CurrentMonthBalanceAmount)
                                            </td>

                                            <td style="text-align: right">
                                                @string.Format("{0:#,0.00}", item.DeductionAmount)
                                            </td>

                                            <td>@Html.DisplayFor(modelItem => item.CheckDate)</td>

                                        </tr>

                                    }

                                    <tr style="background-color:#ddd6d6">
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: left">Grand Total Amount</td>
                                        <td style="text-align: right"><b>@string.Format("{0:N0}", totalnumeEmp)</b></td>
                                        <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount1)</b></td>
                                        <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotalAmount2)</b></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts{
    <script>
        function viewdetailreport() {
            debugger;
            window.open("../../Areas/RecurrentPayment/Reports/MissingBenefeciary.aspx?BeneficiaryCode=" + BeneficiaryCode);
        }

        function viewsummaryreport() {
            debugger;
            window.open("../../Areas/RecurrentPayment/Reports/MissingBenefeciary.aspx?BeneficiaryCode=" + BeneficiaryCode);
        }
    </script>
}