@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentSummaryReportCancelled>

@{
    ViewBag.Title = "";
}
<style>
    tr:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        color: #4a4a4d;
        font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
    }

    th,
    td {
        padding: 5px 11px;
        vertical-align: middle;
    }

    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
        width: auto;
    }

        td:first-child {
            border-left: 1px solid #cecfd5;
        }

    thead {
        background: #395870;
        color: #fff;
    }

    tfoot {
        background-color: #b4fabc;
        color: #000000;
    }
</style>

<div id="content">

    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Cancelled - Payment Report</h3>
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <label for="StartDate">Start Date:</label>
                            @Html.TextBox("StartDate")

                            <label for="StartDate">To Date:</label>
                            @Html.TextBox("EndDate")

                            &nbsp; &nbsp;
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default btn-flat btn-sm"
                                    onclick="location.href='@Url.Action("PaymentSummaryCancelled", "Report"
                                                           ,new {id=Model.Select(a=>a.PayStationID).FirstOrDefault()}
                                                           )'">
                                <span class="glyphicon glyphicon-print"></span>
                            </button>
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default btn-flat btn-sm"
                                    onclick="location.href='@Url.Action("PaymentSummaryCancelledExport", "Report"
                                                           ,new {id=Model.Select(a=>a.PayStationID).FirstOrDefault()}
                                                           )'">
                                <span class="glyphicon glyphicon-export"></span>
                            </button>
                        </p>

                    </td>
                </tr>
            </table>
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">

                    <tr style="background-color: #395870; color: whitesmoke">
                        <th>#</th>
                        <th>Batch No</th>
                        <th>Batch Description</th>
                        <th>Payment Category</th>
                        <th>No. Of Beneficiary</th>
                        <th>Total Amount</th>
                        <th>Cancelled At</th>
                    </tr>



                @{
                    int i = 0;
                }
                @{
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.BatchNo</td>
                            <td>@item.BatchDesc</td>
                            <td>@item.PaymentCategory</td>
                            <td>@item.NoOfBen</td>
                            <td style="text-align:right">@String.Format("{0:#,0.00}", item.TotalAmount)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.ApprovedAt)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#StartDate').datepicker();
            $('#EndDate').datepicker();
        });

        function goBack() {

            window.history.back();
        }
    </script>

}