@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentSummaryReport>
@*@model PagedList.IPagedList<GEFTP.Models.PaymentSummaryReport>*@


@{
    ViewBag.Title = "Batch Payment Summary Report";
}

<style>
    tr:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        color: #4a4a4d;
        font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
    }

    th,
    td {
        padding: 5px 11px;
        vertical-align: middle;
    }

    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
        width: auto;
    }

        td:first-child {
            border-left: 1px solid #cecfd5;
        }

    thead {
        background: #395870;
        color: #fff;
    }

    tfoot {
        background-color: #b4fabc;
        color: #000000;
    }
</style>

<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-heading">Batch Payment Summary Report</div>


        <div class="panel-body">
            <br />
            @using (Html.BeginForm(null, null, FormMethod.Get))
            {
                <div class="col-xs-6">
                    <div class="input-group">
                        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                    </div>
                <br /><br />
            }
        @*</div>*@
            @*<div class="panel-body">*@
                <table class="table fc-grid" style="width:100%; font-size:12px">
                    <colgroup>
                        <col class="FirstColumn">
                    </colgroup>

                    <tbody>
                        @{
                            int i = 0;
                            string payStation = "-1";
                            int numBen1 = 0, numBen2 = 0, numBen3 = 0, numBen4 = 0, numBen5 = 0, numBen6 = 0;
                            int grandBen1 = 0, grandBen2 = 0, grandBen3 = 0, grandBen4 = 0, grandBen5 = 0, grandBen6 = 0;
                            decimal totalAmount1 = 0, totalAmount2 = 0, totalAmount3 = 0, totalAmount4 = 0, totalAmount5 = 0, totalAmount6 = 0;
                            decimal grandtotalAmount1 = 0, grandtotalAmount2 = 0, grandtotalAmount3 = 0, grandtotalAmount4 = 0, grandtotalAmount5 = 0, grandtotalAmount6 = 0;
                        }

                        @foreach (var item in Model)
                        {
                            i++;

                            if (payStation != item.PayStationName) //Starting a new vote
                            {

                                if (payStation != "-1") //Changing votes. Display subtotal
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Sub Total</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen1)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount1)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen2)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount2)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen3)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount3)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen4)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount4)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen5)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount5)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen6)</strong></td>
                                        <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount6)</strong></td>
                                    </tr>
                                    numBen1 = 0;
                                    numBen2 = 0;
                                    numBen3 = 0;
                                    numBen4 = 0;
                                    numBen5 = 0;
                                    numBen6 = 0;

                                    totalAmount1 = 0;
                                    totalAmount2 = 0;
                                    totalAmount3 = 0;
                                    totalAmount4 = 0;
                                    totalAmount5 = 0;
                                    totalAmount6 = 0;
                                    //i = 1;
                                }

                                <tr style="color:#000000;text-align:left">
                                    <th colspan="16"><strong>@Html.DisplayFor(modelItem => item.PayStationName)</strong></th>
                                </tr>

                                <tr style="background:#395870; color:#ffffff">
                                    <td colspan="4" style="text-align:center;"></td>
                                    <td colspan="2" style="text-align:center;">Entered</td>
                                    <td colspan="2" style="text-align:center;">Approved</td>
                                    <td colspan="2" style="text-align:center;">Cancelled</td>
                                    <td colspan="2" style="text-align:center;">Sent to BOT</td>
                                    <td colspan="2" style="text-align:center;">Settled</td>
                                    <td colspan="2" style="text-align:center;">Unapplied</td>
                                </tr>

                                <tr style="background:#e0dacf; color:#000000">
                                    <td>#</td>
                                    <td>Batch No</td>
                                    <td>Batch Description</td>
                                    <td>Created At</td>
                                    <td>Ben No.</td>
                                    <td>Total Amount</td>
                                    <td>Ben No.</td>
                                    <td>Total Amount</td>
                                    <td>Ben No.</td>
                                    <td>Total Amount</td>
                                    <td>Ben No.</td>
                                    <td>Total Amount</td>
                                    <td>Ben No.</td>
                                    <td>Total Amount</td>
                                    <td>Ben No.</td>
                                    <td>Total Amount</td>
                                </tr>
                                payStation = item.PayStationName;
                            }
                            //subTotal
                            numBen1 += int.Parse(item.NoOfBen_Entered.ToString());
                            numBen2 += int.Parse(item.NoOfBen_Approved.ToString());
                            numBen3 += int.Parse(item.NoOfBen_Cancelled.ToString());
                            numBen4 += int.Parse(item.NoOfBen_SentToBoT.ToString());
                            numBen5 += int.Parse(item.NoOfBen_Settled.ToString());
                            numBen6 += int.Parse(item.NoOfBen_Unapplied.ToString());

                            totalAmount1 += decimal.Parse(item.TotalAmount_Entered.ToString());
                            totalAmount2 += decimal.Parse(item.TotalAmount_Approved.ToString());
                            totalAmount3 += decimal.Parse(item.TotalAmount_Cancelled.ToString());
                            totalAmount4 += decimal.Parse(item.TotalAmount_SentToBoT.ToString());
                            totalAmount5 += decimal.Parse(item.TotalAmount_Settled.ToString());
                            totalAmount6 += decimal.Parse(item.TotalAmount_Unapplied.ToString());

                            //grandTotal
                            grandBen1 += int.Parse(item.NoOfBen_Entered.ToString());
                            grandBen2 += int.Parse(item.NoOfBen_Approved.ToString());
                            grandBen3 += int.Parse(item.NoOfBen_Cancelled.ToString());
                            grandBen4 += int.Parse(item.NoOfBen_SentToBoT.ToString());
                            grandBen5 += int.Parse(item.NoOfBen_Settled.ToString());
                            grandBen6 += int.Parse(item.NoOfBen_Unapplied.ToString());

                            grandtotalAmount1 += decimal.Parse(item.TotalAmount_Entered.ToString());
                            grandtotalAmount2 += decimal.Parse(item.TotalAmount_Approved.ToString());
                            grandtotalAmount3 += decimal.Parse(item.TotalAmount_Cancelled.ToString());
                            grandtotalAmount4 += decimal.Parse(item.TotalAmount_SentToBoT.ToString());
                            grandtotalAmount5 += decimal.Parse(item.TotalAmount_Settled.ToString());
                            grandtotalAmount6 += decimal.Parse(item.TotalAmount_Unapplied.ToString());
                            <tr>
                                <td>@i</td>

                                <td>
                                    <a href="PaymentDetailBatch?batchNo=@item.BatchNo">
                                        @item.BatchNo
                                    </a>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.BatchDesc)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.NoOfBen_Entered)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount_Entered)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.NoOfBen_Approved)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount_Approved)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.NoOfBen_Cancelled)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount_Cancelled)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.NoOfBen_SentToBoT)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount_SentToBoT)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.NoOfBen_Settled)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount_Settled)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.NoOfBen_Unapplied)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TotalAmount_Unapplied)
                                </td>
                            </tr>
                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Sub Total</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen1)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount1)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen2)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount2)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen3)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount3)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen4)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount4)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen5)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount5)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", numBen6)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", totalAmount6)</strong></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr style="background:#395870; color:#ffffff">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Grand Total</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandBen1)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandtotalAmount1)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandBen2)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandtotalAmount2)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandBen3)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandtotalAmount3)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandBen4)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandtotalAmount4)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandBen5)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandtotalAmount6)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:N0}", grandBen6)</strong></td>
                            <td style="text-align:right;"><strong>@String.Format("{0:#,0.00}", grandtotalAmount6)</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>      
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#StartDate').datepicker();
            $('#EndDate').datepicker();
        });
   
        </script>
}