@model IFMIS.Areas.RecurrentPayment.Models.PaymentsStatusReportVM

@{
    ViewBag.Title = "Upload Payments";
}

<div class="panel panel-default">
    <!-- Default panell contents -->
    <div class="panel-heading">Payment Status Report</div>
    <div class="panel-body">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "paymentForm" }))
            {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row" style="padding:12px">
                    <div class="col-md-4">
                        Payment Status
                        @Html.DropDownListFor(model => model.OverallStatus, Model.OverallStatus, "Select Payment Status", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OverallStatus, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="col-md-2">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>*@


                <div class="row" style="padding:12px">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-flat btn-default" onclick="loadReport()">
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            Load Report
                        </button>
                    </div>

                </div>
            </div>
        }

    </div>

    <!-- Start of div loader-->
    <div id="divLoader" style="text-align: center; display: none">
        <img src="~/Media/Images/ajax_loader.gif" />
    </div>
    <!-- End of div loader-->

</div>

@section Scripts{

    <script>

        var loadReport = function () {

            debugger

            var loadReport = $("#OverallStatus").val();

            var url = "../Report/PaymentSummaryReportApproved?loadReport=" + loadReport;

            $.ajax({

                type: "GET",
                url: location.href = url,
                success: function (response) {

                },
            });
        };

      

    </script>
}

