@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentDetailReport>


<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-heading">Settled Payments -  Employee Details</div>
        <div class="panel-body">
           
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-default btn-flat"
                            onclick="location.href='@Url.Action("SettledEmployeeDetailsPreview", "Report",
                                                   new {
                                                       batchNo = Model.Select(a => a.BatchNo).FirstOrDefault()
                                                   })'">
                        <span class="glyphicon glyphicon-print"></span>
                        Preview
                    </button>
                </div>
            </div>  
            <hr />   
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <tr>
                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneficiaryCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneficiaryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BenDepartment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeneficiaryAccountNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApprovedAt)
                    </th>
                </tr>

                @{
                    int i = 0;
                    decimal? totalAmount = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    totalAmount += item.Amount;

                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeneficiaryCode)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.BeneficiaryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BenDepartment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeneficiaryAccountNo)
                        </td>
                        <td style="text-align: right">
                            @string.Format("{0:#,0.00}",item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedAt)
                        </td>
                    </tr>
                }
                <tr colospan="5">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                  
                    <td>Total Amount</td>
                    <td style="text-align: right"><b>@string.Format("{0:#,0.00}", totalAmount)</b></td>
                    <td></td>
                    </tr>

            </table>
        </div>
        <p>
            <a href="@Request.UrlReferrer">Back</a>
        </p>
    </div>
</div>