
@model IFMIS.Areas.RecurrentPayment.Models.UploadSlipVM

@{
    ViewBag.Title = "Upload Payroll Payment Slip";
}


<!-- MAIN CONTENT -->
<div id="content">

    <div class="panel panel-default">
        <div class="panel-heading">Upload BOT Payment Slip</div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "pensionerPayrollForm" }))
        {
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.PaymentBatchId)
                            <div class="form-group">
                                @Html.LabelFor(model => model.RefNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.RefNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.RefNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NetAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.NetAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.NetAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.FileName, new { type = "file", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start of div loader-->
                <div id="divLoader" style="text-align: center; display: none">
                    <img src="~/Media/Images/ajax_loader.gif" />
                </div>
                <!-- End of div loader-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" value="Upload" class="btn btn-default btn-flat" onclick="uploadData()">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            Upload
                        </button>
                        <a href="@Request.UrlReferrer" class="btn btn-default btn-flat">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- END MAIN CONTENT -->

@section Scripts{

    <script>
        var uploadData = function () {

            if (window.FormData !== undefined) {

                var data = new FormData();
                var file = $("#FileName").get(0).files;

                if (file.length > 0) {
                    data.append("PaymentBatchId", $("#PaymentBatchId").val());
                    data.append("RefNumber", $("#RefNumber").val());
                    data.append("NetAmount", $("#NetAmount").val());
                    data.append("FileName", file[0]);
                }

                var url = '@Url.Action("UploadBOTSlip", "Report")';

                if (!$("#pensionerPayrollForm").valid()) {
                    return false;
                }

                $("#divLoader").show();

                $.ajax({
                    url: url,
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        if (response == "Success") {
                            alert("Successfully uploaded!");
                            $("#divLoader").hide();
                            window.location = '@Url.Action("EFTPayments","EFT")';
                        } else if (response == "InvalidFormat") {
                            alert("Invalid file format, file format should be MS Excel!");
                            $("#divLoader").hide();
                            location.reload();
                        } else if (response == "InvalidSize") {
                            swal("Invalid file size, file size should be less than 2MB!");
                            $("#divLoader").hide();
                            location.reload();
                        } else if (response == "Duplicate") {
                            alert("Duplicate Data!");
                            $("#divLoader").hide();
                            location.reload();
                        }
                        else {
                            alert("Unknown error, contact system admin!");
                            $("#divLoader").hide();
                            location.reload();
                        };
                    },
                    error: function (response) {
                        alert(response);
                        $("#divLoader").hide();
                        location.reload();
                    }
                });
            };
        };
    </script>
}


