@model IFMIS.Areas.IFMISTZ.Models.PendingWithHoldingVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 50px">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2 style="color:black;">Withholding Details</h2>
                    </header>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="widget-body " style="padding-top:10px; width:100%;">
                                <div>
                                    <div class="col-md-12">
                                        <table class="table table-condensed table-bordered table-hover table-responsive">

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.PVNo)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.PVNo)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.PayeeCode)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.PayeeCode)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.Payeename)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.Payeename)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.Narration)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.Narration)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.ServiceAmount)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.ServiceAmount)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.VATOnService)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.VATOnService)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.GoodsAmount)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.GoodsAmount)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.InstitutionCode)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.InstitutionCode)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.InstitutionName)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.InstitutionName)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.OperationalWithHoldingAmount)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.OperationalWithHoldingAmount)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.WithHoldingCoaCode)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.WithHoldingCoaCode)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.WithHoldingCoaDesc)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.WithHoldingCoaDesc)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.OverallStatus)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.OverallStatus)
                                                </td>
                                            </tr>


                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.CreatedBy)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.CreatedBy)
                                                </td>
                                            </tr>
                                      

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.CancelledBy)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.CancelledBy)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.PaidVoucherNo)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.PaidVoucherNo)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.ControlNumber)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.ControlNumber)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.MsgID)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.MsgID)
                                                </td>
                                            </tr>


                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.OriginalPayeeCode)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.OriginalPayeeCode)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.PayeeCodeModifiedBy)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.PayeeCodeModifiedBy)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: right">
                                                    <b>@Html.DisplayNameFor(model => model.PayeeCodeModifiedAt)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.PayeeCodeModifiedAt)
                                                </td>
                                            </tr>
                                        </table>
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-2">
                                                    <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
        </section>
    </div>