@model IFMIS.Areas.IFMISTZ.Models.DeductionByInstitutionVM
@{
    ViewBag.Title = "Deduction Transfer Details";

}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title </h2>

                    </header>

                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                        <div class="container" style="margin-left:2px;margin-top:5px">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">@ViewBag.Title</a>
                                </li>

                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />
                                            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Account From &nbsp;:</strong>@Html.DisplayFor(model => model.PayerBankAccount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Account From Name&nbsp;:</strong>@Html.DisplayFor(model => model.PayerBankName)</div></div>
                                            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Account To &nbsp;:</strong>@Html.DisplayFor(model => model.PayeeBankAccountNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Account To Name&nbsp;:</strong>@Html.DisplayFor(model => model.PayeeAccountName)</div></div>
                                            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Deduction Type &nbsp;:</strong>@Html.DisplayFor(model => model.DeductionType)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Total Deduction Amount&nbsp;:</strong> @string.Format("{0:#,0.00}", Model.TotalDeductionAmount)</div></div>
                                            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Number of Votes &nbsp;:</strong>@Html.DisplayFor(model => model.NumVotes)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Check Date &nbsp;:</strong> @Convert.ToDateTime(Model.CheckDate).ToString("yyyy-MM-dd")</div></div>
                                            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Funding Source &nbsp;:</strong>@Html.DisplayFor(model => model.FundingSource)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Total number of Employees&nbsp;:</strong>@Html.DisplayFor(model => model.TotalNumEmployees)</div></div>
                                            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Payment Mode &nbsp;:</strong>@Html.DisplayFor(model => model.PaymentMode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>@Html.DisplayFor(model => model.OverallStatus)</div></div>


                                            <div class="row">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="search-container" style="float:right">
                                                        <i class="fa fa-search"></i>
                                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                                    </div>
                                                </div>
                                            </div>
                                            <table id="dt_deduction_transfer_list" class="table table-bordered table-condensed table-amount">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <td>Vote Code</td>
                                                        <th>Vote Name</th>
                                                        <th>Number of Employees</th>
                                                        <th style="text-align:right">Deduction Amount</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int m = 0;
                                                    }


                                                    @foreach (var item in Model.DeductionByVotes)
                                                        {
                                                            m++;
                                                    <tr>
                                                        <td>@m</td>
                                                        <td>@item.VoteCode</td>
                                                        <td>@item.VoteName</td>
                                                        <td>@item.NumEmployees</td>
                                                        <td align="right">@string.Format("{0:#,0.00}", item.DeductionAmount)</td>
                                                    </tr>
                                                        }


                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <a href="@Request.UrlReferrer" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </article>

        </div>


    </section>

</div>
@section pagespecific{

    <script>
        var dt_deduction_transfer_list = $("#dt_deduction_transfer_list").dataTable();
        $("#dt_deduction_transfer_list_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_deduction_transfer_list").DataTable().search(this.value).draw();
            $("#dt_deduction_transfer_list_wrapper .dt-toolbar").remove();
        });
    </script>
}








