@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.AdvancePaymentSetup>
@{
    ViewBag.Title = "Pending Assets ";
  var i=0;
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Setup of Maximum Advance Payment </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px">


                            <div class="row">
                                @*@if (Model.Count() == 0)
                                {*@
                                    <div class="col-xs-9 col-sm-3 col-md-2 col-lg-2">

                                        <a href="@Url.Action("Create")" class="btn btn-info" style="width:120px;border-radius:1px;">
                                            <i class="fa fa-plus"></i>Add New
                                        </a>

                                    </div>
                                @*}*@

                            </div>
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>

                            <table class="table  table-bordered table-hover table-condensed" id="dt_adv_payment_setup">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Maximum Advance Payment Percentage
                                        </th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaxPercentage) %
                                        </td>
                                        <td style="text-align:center">
                                            <div class="btn-group">

                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("Edit", "AdvancePaymentSetups",new {id=item.AdvancePaymentSetupId })" class="btn-xs edit">
                                                            <i class="fa fa-edit"></i>  Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="cancelEntry(@item.AdvancePaymentSetupId)">
                                                            <i class="fa fa-edit"></i>Cancel
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>





@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">

        var dt_adv_payment_setup = $('#dt_adv_payment_setup').dataTable();

             var cancelEntry = function (id) {
             swal({
                        title: 'Confirmation',
                        text: "Do you what to cancel this setup ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("CancelEntry", "AdvancePaymentSetups")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id },
                    success: function (response) {
                        if (response == "Success") {
                            swal("Cancelled  successfully!", { icon: "success" })
                                         .then((value) => {
                                                location.reload();
                                         });
                        }
                        else {
                            swal(response);
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        swal("An error has occured, contact system support");

                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        };
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

    </script>

}
      










