@model IFMIS.Areas.IFMISTZ.Models.FundReceivingListVM
@{
    ViewBag.Title = "Receive Exchequer";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }

    .form-group {
        padding-bottom: 10px;
    }
    
    .formLabel{
        font-weight:bold;
    }
    .col-md-5 {
        margin-bottom: 14px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-envelope" style="color:black"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="FundReceivingId" id="FundReceivingId" value="@ViewBag.FundReceivingId" />
                                    <div class="row setup-content" id="step-1">
                                        <br />
                                        <fieldset>

                                            @if (ViewBag.FundReceivingDetails != null)
                                            {

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label formLabel" style="text-align:right">Reference Number</label>
                                                    <div class="col-md-3">
                                                        <span>@ViewBag.FundReceivingDetails.FundingRefNo </span>
                                                    </div>
                                                    <label class="col-md-2 control-label formLabel" style="text-align:right">Sub Budget Class</label>
                                                    <div class="col-md-3">
                                                        <span>@ViewBag.FundReceivingDetails.SubBudgetClass</span>
                                                    </div>
                                                    <div class="form-group"><div class="col-md-2"></div></div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-md-2 control-label formLabel" style="text-align:right">Exchequer Amount</label>
                                                    <div class="col-md-3">
                                                        <span>@string.Format("{0:#,0.00}", @ViewBag.FundReceivingDetails.OperationalAmount)</span>
                                                    </div>

                                                    <label class="col-md-2 control-label formLabel" style="text-align:right">Funding Date</label>
                                                    <div class="col-md-3">
                                                        <span>@string.Format("{0:d/M/yyyy}", @ViewBag.FundReceivingDetails.FundingDate)</span>
                                                    </div>

                                                </div>
                                                    <div class="form-group">
                                                        <div class="form-group"><div class="col-md-2"></div></div>
                                                        <label class="col-md-2 control-label formLabel" style="text-align:right">Component Description</label>
                                                        <div class="col-md-8">
                                                            <span>@ViewBag.FundReceivingDetails.ComponentDesc</span>
                                                        </div>

                                                        <div class="form-group"><div class="col-md-2"></div></div>
                                                    </div>
                                            }
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Institution Name</label>
                                                <div class="col-md-3">
                                                    <select name="InstitutionId" id="InstitutionId" class="form-control" required style="width:250px;max-width:250px;padding:6px;">
                                                        <option value=""> Select Institution </option>
                                                        @foreach (var item in ViewBag.Institution)
                                                        {
                                                            <option value=@item.InstitutionId>@item.InstitutionName - @item.InstitutionCode</option>
                                                        }
                                                    </select>
                                                </div>
                                                <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Amount</label>
                                                <div class="col-md-3">
                                                    <amount-input id="Amount" style="width:250px;max-width:250px;"  class="input" />
                                                </div>
                                                <div class="form-group"><div class="col-md-2"></div></div>
                                            </div>

                                        </fieldset>

                                    </div>
                                    <br />
                                    <div class="form-group btnSubmit">
                                        <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"></label>
                                        <div class="col-md-6">
                                            <a class="btn btn-info" href='@Url.Action("WithHeldInstructionList", "Exchequer")' style="margin-right:5px">
                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                            </a>
                                            <button type="button" class="btn btn-info" id="saveForm" onclick="addExchequerReceiving()">
                                                <i class="fa fa-save"></i>Save
                                                <span id="LoaderText">Please Wait...</span><img src="~/Content/img/loading.gif" id="saveLoaderInstitution" />
                                            </button>
                                        </div>
                                    </div>
                            <br />

                            <table class="table" id="dt_institutions_list">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Institution Name</th>
                                        <th>Vote Code</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>
        $("#saveLoaderInstitution").toggle(false);
        $("#saveForm").prop('disabled', false);
        $("#LoaderText").hide();

        var FundReceivingId = '@ViewBag.FundReceivingId';
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });


        @*function amountCalculation() {
            var operationalAmount = '@ViewBag.FundReceivingDetails.OperationalAmount';
            var balance = '@ViewBag.FundReceivingDetails.Balance';
            var amount = $("#_Amount").val();
            var calculatedAmount = null;
            amount = amount.split(',').join('');
            amount = parseFloat(amount);
            balance = parseFloat(balance);
            operationalAmount = parseFloat(operationalAmount);
            calculatedAmount = operationalAmount - (amount + balance);
            $("#RemainingAmount").text(calculatedAmount.toLocaleString());
        }*@


        $(document).ready(function () {
            updateExchequerTables(FundReceivingId);
            @*var operationalAmount = '@ViewBag.FundReceivingDetails.OperationalAmount';
            var balance = '@ViewBag.FundReceivingDetails.Balance';
            var calculate = null;

            if (operationalAmount == '' || operationalAmount == null) {
                $("#RemainingAmount").text(0);
            } else {
                operationalAmount = parseFloat(operationalAmount);
                balance = parseFloat(balance);
                calculate = operationalAmount - balance;
                $("#RemainingAmount").text(calculate.toLocaleString());
            }*@
        });

        var dt_withheld_instruction_list = $("#dt_withheld_instruction_list").dataTable();
        $("#dt_withheld_instruction_list_wrapper .dt-toolbar").remove();

        var dt_institutions_list = $("#dt_institutions_list").dataTable();
        $("#dt_institutions_list_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_withheld_instruction_list").DataTable().search(this.value).draw();
            $("#dt_withheld_instruction_list_wrapper .dt-toolbar").remove();
        });

        function updateExchequerTables(id) {
            var url = '@Url.Action("GetExchequerReceiving", "Exchequer")';
            var params = { "id": id };
            $.ajax({
                type: "get",
                url: url,
                data: params,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    datalength = data.length;
                    dt_institutions_list.fnClearTable();
                    var balance = 0;
                    var  balance2 = 0;
                    for (var i = 0; i < data.length; i++) {
                        var Display = 'display:none;';
                        if (data[i]["Balance"] == null) {
                            balance2 = 0;
                        }
                        else {
                            balance2 = data[i]["Balance"];
                        }
                        balance = balance2;
                        if (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.PENDING') {
                            Display = '';
                        }
                        dt_institutions_list.fnAddData([i + 1,
                             data[i]["InstitutionName"],
                            data[i]["InstitutionCode"],
                            data[i]["OverallStatus"],
                            data[i]["OperationalAmount"].toLocaleString(),
                           '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul style="' + Display + '" class="dropdown-menu">\
                                 <li><a href="#" onclick="removeExchequer(' + i + ',' + data[i]["WithHeldExchequerId"] + ')">\
                                 <i class="glyphicon glyphicon-trash"></i></a></li>\
                            </ul>\
                        </div>\ '
                        ]);
                    }
                    if (balance != null && balance != 0) {
                        $("#Balance").text(balance.toLocaleString());
                    }
                  
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        function removeExchequer(index, id) {
            //"__RequestVerificationToken":$('[name=__RequestVerificationToken]').val()
            var params = { "id": id };
            var url = '@Url.Action("RemoveExchequerInstitution", "Exchequer")';

            swal({
                title: 'Cancel Selected Exchequer Receiving ?',
                text: "This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "get",
                        url: url,
                        data: params,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response = "Success") {
                                updateExchequerTables(FundReceivingId);
                                swal("Exchequer Receiving Cancelled Successfully!", { icon: "success" });
                                @*var operationalAmount = '@ViewBag.FundReceivingDetails.OperationalAmount';
                                var balance = '@ViewBag.FundReceivingDetails.Balance';
                                var calculate = null;

                                if (operationalAmount == '' || operationalAmount == null) {
                                    $("#RemainingAmount").text(0);
                                } else {
                                    operationalAmount = parseFloat(operationalAmount);
                                    balance = parseFloat(balance);
                                    calculate = operationalAmount - balance;
                                    $("#RemainingAmount").text(calculate.toLocaleString());
                                }*@
                            }
                        },
                        failure: function (response) {
                            alert(response.d);
                        }
                    });
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }


        function addExchequerReceiving() {
            $("#saveLoaderInstitution").toggle(true);
            $("#saveForm").prop('disabled', true);
            $("#LoaderText").show();


            var institutionName = $("#InstitutionId").val();
            var Amount = $("#Amount").val();
            var Amount = $("#Amount").val();
             FundReceivingId = '@ViewBag.FundReceivingId';


            if (institutionName == 'Select Institution' || institutionName == '') {
                swal("Institution Name is Required", { icon: "warning" });
                $("#saveLoaderInstitution").toggle(false);
                $("#saveForm").prop('disabled', false);
                $("#LoaderText").hide();
                return false;
            }
            if (Amount == '') {
                swal("Amount is Required", { icon: "warning" });
                $("#saveLoaderInstitution").toggle(false);
                $("#saveForm").prop('disabled', false);
                $("#LoaderText").hide();
                return false;
            }

            var formData = new FormData();
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('InstitutionId', $("#InstitutionId").val());
            formData.append('Amount', Amount);
            formData.append('FundReceivingId', FundReceivingId);

            var url = '@Url.Action("saveExchequer", "Exchequer")';
            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    switch (response) {
                        case "Success":
                            updateExchequerTables(FundReceivingId);
                            swal("saved Successfully!", { icon: "success" });
                            document.getElementById("Amount").value = "";
                            $('#_Amount').val('');
                            $('#InstitutionId').val('');
                            $('#InstitutionId').change();
                            $("#saveLoaderInstitution").toggle(false);
                            $("#saveForm").prop('disabled', false);
                            $("#LoaderText").hide();
                            break;

                        case "Exists":
                            swal("Exchequer of the Selected Institution Already Exists", { icon: "warning" });
                            $("#saveLoaderInstitution").toggle(false);
                            $("#saveForm").prop('disabled', false);
                            $("#LoaderText").hide();
                            break;

                        case "Exceed":
                            swal("Amount Entered Exceed Exchequer Amount", { icon: "warning" });
                            $("#saveLoaderInstitution").toggle(false);
                            $("#saveForm").prop('disabled', false);
                            $("#LoaderText").hide();
                            break;

                        default:
                            swal("An error Occur on saving Exchequer,Please Contact Administrator", { icon: "warning" });
                            $("#saveLoaderInstitution").toggle(false);
                            $("#saveForm").prop('disabled', false);
                            $("#LoaderText").hide();
                    }
                },
                failure: function (response) {
                    swal(response.d, { icon: "warning" });
                }
            });
        }

    </script>
}


