@model IFMIS.Areas.IFMISTZ.Models.WithHeldExchequerVM

@{
    ViewBag.Title = "Approve Withheld Exchequer List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                            </div>
                            <table id="dt_withheld_instruction_list" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reference No</th>
                                        <th>From Institution Name</th>
                                        <th>Vote Code</th>
                                        <th>To Institution Name</th>
                                        <th>To Vote Code</th>
                                        <th>Allocated Amount</th>
                                        <th>Withdrawal Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="RejectExchequer">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 align="center">Exchequer Rejection</h4>
            </div>

            <div class="modal-body form-horizontal">
                @Html.AntiForgeryToken()
                <input type="hidden" name="WithHeldExchequerId" id="WithHeldExchequerId" />
                <div class="form-group">
                    <label class="control-label col-md-3" for="Description_1"> Remarks (<span style="font-weight:bold;" id="DescriptionCount">250</span>) </label>
                    <div class="col-md-7">
                        <textarea rows="5" id="Description" name="Description" maxlength="250" style="width:300px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-info" id="reject_exchequer_btn">
                    Reject
                    <img src="~/Content/img/loading.gif" class="saveLoader" />
                </button>
            </div>
        </div>
    </div>
</div>

@section pagespecific{

    <script>

        $('#Description').on("keyup", function () {
            var count = $('#Description').val().split('');
            var numChars = 250 - parseInt(count.length);
            $('#DescriptionCount').text(parseInt(numChars));
        });

        $("#saveLoaderInstitution").toggle(false);
        $("#saveForm").prop('disabled', false);
        $("#LoaderText").hide();

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        var dt_withheld_instruction_list = $("#dt_withheld_instruction_list").dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            },
            "language": {
                "emptyTable": '<span id="loader"><strong>Loading records, please wait...</strong></span>',
                "zeroRecords": "No matching records found"
            },
            "Dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
        });
        $("#dt_withheld_instruction_list_wrapper .dt-toolbar").remove();

        var dt_institutions_list = $("#dt_institutions_list").dataTable();
        $("#dt_institutions_list_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_withheld_instruction_list").DataTable().search(this.value).draw();
            $("#dt_withheld_instruction_list_wrapper .dt-toolbar").remove();
        });

        $(document).ready(function () {
            $(".saveLoader").toggle(false);
        });

        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("GetWithHeldExaminedList", "Exchequer")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                if (data == "" || data == undefined) {
                    document.getElementById("loader").textContent = "Data  not available in our records";
                }
                else {
                dt_withheld_instruction_list.fnClearTable();
                for (var i = 0; i < data.length; i++) {

                    var Display = 'display:none;';

                    if ('@User.IsInRole("WithHeld Approve")') {
                        Display = '';
                    }

                    var amount = "<p align='right'>" + toLabel(data[i]["OperationalAmount"]); +"</p>"
                    var allocatedAmount = "<p align='right'>" + toLabel(data[i]["Amount"]); +"</p>"
                    dt_withheld_instruction_list.fnAddData([i + 1,
                    data[i]["FundingRefNo"],
                    data[i]["InstitutionName"],
                    data[i]["FromVoteCode"],
                    data[i]["ToInstitutionName"],
                    data[i]["ToVoteCode"],
                        allocatedAmount,
                    ToJavaScriptDate(data[i]["FundingDate"]),
                    '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                 <li ><a href="@Url.Action("WithHeldDetails", "Exchequer")/?id=' + data[i]["WithHeldExchequerId"] + '">Details</a></li>\
                                 <li style="' + Display + '"><a href="#" onclick="approveDialog(' + i + ')">Approve</a></li>\
                                <li style="' + Display + '"><a href="#" onclick="rejectDialog(' + i + ')">Reject</a></li>\
                            </ul>\
                        </div>\ '
                    ]);
                }
            }
            },
            failure: function (error) {
                swal(error);
            }
        });


        function approveDialog(i) {
            swal({
                title: 'Approve Withheld Exchequer ?',
                text: "Are you sure you want to approve Withheld: " + data[i]["FundingRefNo"] + " This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    approveWithheld(data[i]["WithHeldExchequerId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function approveWithheld(withHeldExchequerId) {
            var url = '@Url.Action("ApproveExchequer", "Exchequer")';
            $.ajax({
                type: "post",
                url: url,
                data: { "withHeldExchequerId": withHeldExchequerId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Approved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response, { icon: "warning" })
                        .then((value) => {
                            window.location.reload();
                        });
                    }

                },
                failure: function (error) {
                    swal("Error Approving Withheld Exchequer", { icon: "warning" })
                    .then((value) => {
                        window.location.reload();
                    });
                }
            });
            $('#confirmModal').modal('hide');
        }

        function rejectDialog(i) {
            var id = data[i]["WithHeldExchequerId"];
            var FundingRefNo = data[i]["FundingRefNo"];
            var compName = data[i]["ComponentName"];
            swal({
                title: 'Exchequer Rejection',
                text: "Do you want to Reject Exchequer: " + FundingRefNo + " of Component: " + compName + "?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isCancelled) {
                if (isCancelled) {
                    $('#RejectExchequer').modal('show');
                    $('#WithHeldExchequerId').val(id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        $("#reject_exchequer_btn").click(function () {
            var withHeldExchequerId = document.getElementById("WithHeldExchequerId").value;
            var Description = document.getElementById("Description").value;
            if (Description == "") {
                swal("Remarks is Required.", { icon: "warning" })
                .then((value) => { });
                $("#reject_exchequer_btn").prop('disabled', false);
                return
            }
            var form_data = {
                "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                "WithHeldExchequerId": withHeldExchequerId,
                "Remarks": Description
            }

            var url = '@Url.Action("RejectExchequer", "Exchequer")';
            var urlList = '@Url.Action("WithHeldExaminedList", "Exchequer")';
            $("#reject_exchequer_btn").prop('disabled', true);
            $(".saveLoader").toggle(true);
            $.ajax({
                type: "post",
                url: url,
                data: form_data,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#reject_exchequer_btn").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Exchequer Rejected Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = urlList;
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#reject_exchequer_btn").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error);
                }
            });
        });
    </script>
}
