@model IFMIS.Areas.IFMISTZ.Models.FundReceivingListVM
@{
    ViewBag.Title = "WithHeld Details";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    .formLabel {
        font-weight: bold;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }

    .form-group {
        padding-bottom: 10px;
    }

    .col-md-5 {
        margin-bottom: 14px;
    }

    .fontWeight{
        font-weight:bold;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table" style="color:black"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row setup-content" id="step-1">
                                <br />
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1 col-sm-1"></div>
                                        <div class="col-md-10 col-lg-10 col-sm-10">
                                            <table class="table  table-hover table-condensed" style="width:80%">

                                                <tbody>
                                                    <tr><td class="fontWeight">Reference Number</td><td>@Model.FundingRefNo</td></tr>
                                                    <tr><td class="fontWeight">Sub Budget Class</td><td>@Model.SubBudgetClass</td></tr>
                                                    <tr><td class="fontWeight">From Institution</td><td>@Model.InstitutionName - @Model.FromVoteCode</td></tr>
                                                    <tr><td class="fontWeight">To Institution</td><td>@Model.ToInstitutionName - @Model.ToVoteCode </td></tr>
                                                    @*<tr><td>Total Exchequer Amount</td><td></td></tr>*@
                                                    <tr><td class="fontWeight">Total Allocated Amount</td><td>@string.Format("{0:#,0.00}", Model.Amount)</td></tr>
                                                    <tr><td class="fontWeight">Allocation Date</td><td>@string.Format("{0:d/M/yyyy}", Model.FundingDate)</td></tr>
                                                    <tr><td></td><td></td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-sm-1"></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-1 col-lg-1 col-sm-1"></div>
                                            <div class="col-md-10 col-lg-10 col-sm-10">
                                                <table class="table" id="dt_onload_exchequer_costs">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Component Name</th>
                                                            <th>Exchequer Amount</th>
                                                            <th>Allocated Amount</th>
                                                            <th>Allocation Date</th>
                                                            @*<th>Status</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            var n = 0;
                                                        }
                                                        @foreach (var item in ViewBag.ExchequerCostReceivings)
                                                        {
                                                            n++;
                                                            <tr>
                                                                <td>@n</td>
                                                                <td>@item.NewComponentName</td>
                                                                <td>@string.Format("{0:#,0.00}", item.OriginalAmount)</td>
                                                                <td>@string.Format("{0:#,0.00}", item.Amount)</td>
                                                                <td>@string.Format("{0:d/M/yyyy}", item.CreatedAt)</td>
                                                                @*<td>@item.OverallStatus</td>*@
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-sm-1"></div>
                                        </div>

                                        <br />
                                        <div class="form-group btnSubmit">
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"></label>
                                            <div class="col-md-6">
                                                @*<a class="btn btn-info" href='@Url.Action("WithHeldInstructionList", "Exchequer")' style="margin-right:5px">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>*@

                                                <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                            </div>
                                        </div>
                                </fieldset>



                            </div>
                           
                        </div>

                    </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });


        var dt_withheld_instruction_list = $("#dt_withheld_instruction_list").dataTable();
        $("#dt_withheld_instruction_list_wrapper .dt-toolbar").remove();

        var dt_institutions_list = $("#dt_institutions_list").dataTable();
        $("#dt_institutions_list_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_withheld_instruction_list").DataTable().search(this.value).draw();
            $("#dt_withheld_instruction_list_wrapper .dt-toolbar").remove();
        });

    </script>
}


