@model IEnumerable <IFMIS.Areas.IFMISTZ.Models.RetirementGlItemVM>
@*<fieldset class="scheduler-border">*@
<legend class="scheduler-border"><u>GL Items:</u></legend>
<table class="table table-bordered table-condensed table-hover table-responsive" id="tblExemptionItems" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Gl Expenditure Account</th>
            <th>Item Description</th>
            <th>Funding Reference</th>
            <th>Issued Amount</th>
            <th>Expensed Amount</th>
        </tr>
    </thead>
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>
                @i
                @Html.HiddenFor(modelItem => item.ImprestDetailId, new { @id = "ImprestDetailId" + i, @Name = "ImprestDetailId" + i })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenditureGlAccount)
                @Html.HiddenFor(modelItem => item.ExpenditureGlAccount, new { @id = "ExpenditureGlAccount" + i, @Name = "ExpenditureGlAccount" + i })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenditureGlAccountDesc)
                @Html.HiddenFor(modelItem => item.ExpenditureGlAccountDesc, new { @id = "ExpenditureGlAccountDesc" + i, @Name = "ExpenditureGlAccountDesc" + i })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundingRef)
                @Html.HiddenFor(modelItem => item.FundingRef, new { @id = "FundingRef" + i, @Name = "FundingRef" + i })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedAmount)
                @Html.HiddenFor(modelItem => item.IssuedAmount, new { @id = "IssuedAmount" + i, @Name = "IssuedAmount" + i })
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.ExpenditureAmount, new { @class = "form-control input-type-no", @id = "ExpenditureAmount" + i, @Name = "ExpenditureAmount" + i, @onkeyup = "ExpenditureAmountOnChange(" + i + ")" })
            </td>
            
        </tr>
    }
</table>
@*</fieldset>*@
@*<script>
    $(function () {
        $(".input-type-no").autoNumeric("init");
    })
</script>*@

