
@model IFMIS.Areas.IFMISTZ.Models.ImprestRetirementDateVM


@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ImprestRetirementId)
        <div class="form-group">
            @Html.LabelFor(model => model.RetirementDate, "Retirement Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RetirementDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.RetirementDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script>
    $(function () {

        $("#RetirementDate")
.wrap('<div class="input-group">')
.datepicker({
    dateFormat: "yy-mm-dd",
    changeMonth: true,
    changeYear: true,
    showOn: "both",
    buttonImage: "../../Media/Images/calendar.gif",
    maxDate: "+0D"
})
.next("button").button({
    icons: { primary: "ui-icon-calendar" },
    label: "Select a date",
    text: false
})
.addClass("btn btn-default")
.wrap('<span class="input-group-btn">')
.find('.ui-button-text')
.css({
    'visibility': 'hidden',
    'display': 'inline'
});

    });
</script>

