@{
    ViewBag.Title = "Community Voucher Approval";
}

<link href="~/Content/css/custom.css" rel="stylesheet" />
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            @{ Html.RenderPartial("_CommVoucherListTable"); }
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@{ Html.RenderPartial("_CommVoucherListDialogs"); }


@section pagespecific{
    <script>
        $(document).ready(function () {
            $("#dt_search_gl_item_wrapper .dt-toolbar").remove();
        });

        var dt_voucher_listing = $('#dt_voucher_listing').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_voucher_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_voucher_listing.DataTable().search(this.value).draw();
        });

        var dt_payee_details = $('#dt_payee_details').dataTable({
            'sDom': 't',
            "autoWidth": false,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "columns": [
                { title: "Payee Name" },
                { title: "Payee code" },
                { title: "Bank Name" },
                { title: "Bank Account No" },
                { title: "Address" }]
        });

        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            "sDom": 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });

   function sourceModule(d) {
            switch (d["SourceModule"]) {
                case "Purchase":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Accrual Payment":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return '<a href="@Url.Action("Purchase", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Contract":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                         case "Accrual Purchase":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                         case "Accrual Contract":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Prepayment":
                    return '<a href="@Url.Action("PreviewPrepayment","Prepayment")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Imprest":
                    return '<a href="@Url.Action("ImprestDetails","Imprest")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Unapplied":
                    return '<a href="@Url.Action("Details","Unapplieds")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "BulkPayment":
                    return '<a href="@Url.Action("PaymentDetails", "PaymentBatches")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Loan":
                    return '<a href="@Url.Action("PreviewLoanTracker","Loan")/' + d["SourceModuleReferenceNo"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "PSAF":
                    return '<a href="@Url.Action("PaymentLoanDetails", "ALSLoanAssignment", new { Area = "ALS" })/?loanNumber=' + d["SourceModuleReferenceNo"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                default:
                    return d["SourceModule"] + withholdingTemplate(d);
            }
        }

        var data = [];
        var globalPayeeId = null;
         $("#loader").text("Loading...")
        $.ajax({
            type: "get",
            url: '@Url.Action("GetCHWPaymentVoucher", "CommunityPaymentBatch")',
            data: { overallStatus: 'CHWExamined' },
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_voucher_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_voucher_listing.fnAddData([i+1,
                        data[i]["PVNo"],
                        data[i]["PayeeAccountName"],
                        data[i]["PayeeBankAccount"],
                        toLabel(data[i]["OperationalAmount"]),
                        data[i]["OperationalCurrency"],
                      /* calculate(data[i]),*/
                       sourceModule(data[i]),
                        data[i]["OverallStatus"],
                        '<a href="#" onclick="viewAttachment(' + i + ')"><i class="fa fa-file-pdf-o"></i></a>',
                       '<div class="btn-group" id="drop-' + i + '">\
                          <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                           </button>\
                         <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "openViewDialog(' + i + ')">View</a></li>\
                             <li><a href="#" onclick="reject(' + i + ')">Reject</a></li>\
                             <li><a href="#" onclick="accept(' + i + ')">Approve</a></li>\
                        </ul>\
                  </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                 ]);
                 $("#saveLoader-" + i + "").toggle(false)
                }
            },
            failure: function (errmsg) {
                alert(errmsg);
            }
        });

        $(".with-holding").toggle(false)
        $(".liquidated-demage").toggle(false)
        $(".rentation").toggle(false)

        function reject(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmRejection(data[i]["PaymentVoucherId"], remark);
                };
            });
            $('#confirmModal').modal('hide');
        }


        function confirmRejection(Id, remark) {
            var url = '@Url.Action("RejectVoucher", "PaymentVoucher")';
            $.ajax({
                type: "post",
                url: url,
                data: { "Id": Id, "Remark": remark },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                        .then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function accept(i) {
            swal({
                title: 'Approve this Voucher?',
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmAcceptance(data[i]["PaymentVoucherId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }


        function confirmAcceptance(i) {
            $.ajax({
                type: "post",
                url: '@Url.Action("ApproveVoucher", "CommunityPaymentBatch")',
                data: { "paymentVoucherId": i },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Approved Successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response).then((e) => {
                            window.location.reload();
                        });
                    }
                },
                failure: function (error) {
                    swal(error).then((e) => {
                        window.location.reload();
                    });
                }
            });
            $('#confirmModal').modal('hide');
        }


       function viewAttachment(i) {
           window.location.href =
               '@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + data[i]["PaymentVoucherId"] + '&&sourceModule='+data[i]["SourceModule"];
        }

        function toNumber(number) {
            number = number || 0
            return parseFloat(number.toString().split(",").join(""))
        }

    </script>
}
