@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.DfundApproval>

<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>D-Fund Approvals </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PaymentRef)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InstitutionCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DepartmentCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.)*@
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrxAmount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PayerName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PayerAcct)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RegionCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PaymentOffice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.XmlData)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApprovalPdf)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MsgId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CancelMsgId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CancelXml)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsCancelled)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OverallStatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsVoided)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VoidedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VoidedAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InstitutionCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BalanceAmount)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaymentRef)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreDtTm)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Currency)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrxAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PayerName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PayerAcct)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RegionCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaymentOffice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.XmlData)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApprovalPdf)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MsgId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CancelMsgId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CancelXml)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsCancelled)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverallStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsVoided)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VoidedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VoidedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InstitutionCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BalanceAmount)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.DfundApprovalId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.DfundApprovalId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.DfundApprovalId })
                                        </td>
                                    </tr>
                                }

                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section Scripts{
    <script>

    </script>
}
