@model IFMIS.Areas.IFMISTZ.Models.DfundApproval

@{
    ViewBag.Title = "Approval Details";
}

<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Approval Details </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab_default-1">
                                        <span class="fa fa-briefcase" aria-hidden="true"></span>
                                        Summary
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_default-2">
                                        <span class="fa fa-paperclip" aria-hidden="true"></span>
                                        Attachments
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_default-3">
                                        <span class="fa fa-comments" aria-hidden="true"></span>
                                        Minutes
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab_default-4">
                                        <span class="fa fa-money" aria-hidden="true"></span>
                                        Payments
                                    </a>
                                </li>

                            </ul>

                            <div class="tab-content" style="padding-top: 10px">
                                <div class="tab-pane fade in active" id="tab_default-1">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.PaymentRef, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.PaymentRef)</b>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.Title)</b>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.Description)</b>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.InstitutionCodeInstitutionName, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.InstitutionCodeInstitutionName)</b>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.DepartmentCodeDepartmentName, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.DepartmentCodeDepartmentName)</b>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.CreatedByName, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.CreatedByName)</b>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.ApprovedByName, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.ApprovedByName)</b>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.SubmittedByName, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.SubmittedByName)</b>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.AssignedToName, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.AssignedToName)</b>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div class='input-group'>
                                                    @Html.EditorFor(model => model.TrxAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    <span class="input-group-addon">
                                                        @Model.Currency
                                                    </span>
                                                </div>
                                                <b>@Html.DisplayNameFor(model => model.TrxAmount)</b>
                                            </div>
                                            <div class="col-md-4">
                                                <div class='input-group'>
                                                    @Html.EditorFor(model => model.BalanceAmount, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    <span class="input-group-addon">
                                                        @Model.Currency
                                                    </span>
                                                </div>
                                                <b>@Html.DisplayNameFor(model => model.BalanceAmount)</b>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.Sender, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.Sender)</b>
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(model => model.CreatedAt, new { @class = "form-control", @readonly = true })
                                                <b>@Html.DisplayNameFor(model => model.CreatedAt)</b>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="tab_default-2">
                                    <div class="tree">
                                        <ul>
                                            <li>
                                                <span><i class="fa fa-lg fa-folder-open"></i></span>
                                                <ul>
                                                    @foreach (var item in Model.DfundApprovalAttachments)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("ViewApprovalDoc", "DfundApprovals", new { id = item.DfundApprovalAttachmentId })" target="_blank">
                                                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                                                @item.AttachmentTitle
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_default-3">
                                    <!-- Timeline Content -->
                                    <div class="smart-timeline">
                                        <ul class="smart-timeline-list">
                                            @foreach (var item in Model.DfundApprovalMinutes.OrderByDescending(a => a.MinuteDate))
                                            {
                                                <li>
                                                    <div class="smart-timeline-icon">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                    <div class="smart-timeline-time">
                                                        <small>@item.MinuteDate</small>
                                                    </div>
                                                    <div class="smart-timeline-content">
                                                        <p>
                                                            <a href="javascript:void(0);">
                                                                <strong>@item.Decision </strong> by (@item.FromUserNames - @item.FromDesignation) to <strong>@item.ToUserNames - @item.ToDesignation</strong>
                                                            </a>
                                                        </p>
                                                        <p>
                                                            @Html.Raw(item.Comments)
                                                        </p>

                                                        <ul class="list-inline">
                                                            @if (!string.IsNullOrEmpty(item.DocumentFlag))
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("ViewCommentDoc", "Transfers", new { id = item.SignedMinuteUrl })" target="_blank">
                                                                        <img src=@Url.Content("~/Content/img/attachment.png") alt="img" width="50">
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <!-- END Timeline Content -->
                                </div>
                                <div class="tab-pane fade" id="tab_default-4">
                                    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                        <tr>
                                            <td>#</td>
                                            <td>Legal No</td>
                                            <td>Source Module</td>
                                            <td>Created By</td>
                                            <td>Created At</td>
                                            <td>Amount</td>
                                            <td>Currency</td>
                                        </tr>
                                        @{ int i = 0; }
                                        @foreach (var item in Model.DfundApprovalDetails
                                            .Where(a => a.OverallStatus == "Approved")
                                            .OrderByDescending(a => a.DfundApprovalDetailId))
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.LegalNumber</td>
                                                <td>@item.SourceModule</td>
                                                <td>@item.CreatedBy</td>
                                                <td>@item.CreatedAt</td>
                                                <td style="text-align: right">@Html.DisplayFor(modelItem => item.OperationalAmount, "_DecimalThousands")</td>
                                                <td>@item.Currency</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>

                            <div class="form-actions" style="text-align: left">
                                <div class="col-md-offset-2">
                                    <a href="@Request.UrlReferrer" class="btn btn-default">
                                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

<div class="modal fade model" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title modal-title" id="lblmodal"></h4>
            </div>
            <div class="modal-body modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-info delete-confirm" id="btnAddHandOver">Save</button>
                <button class="btn btn-info delete-confirm" id="btnRemoveHandOver">Save</button>
                <button class="btn btn-default delete-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $("#TrxAmount").autoNumeric('init');
            $("#BalanceAmount").autoNumeric('init');
        });

    </script>
}
