@model IFMIS.Areas.Coadmis.Models.AreaOfAccount
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formAreaOfAccount", @style = "width: 450px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.AreaOfAccountName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.AreaOfAccountName, new { @class = "form-control", @rows = 3, @cols = 50 } )
                @Html.ValidationMessageFor(model => model.AreaOfAccountName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


