@model IFMIS.Areas.RecurrentPayment.Models.PaylistCurrentBunge
@{
    ViewBag.Title = "PaylistCurrent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoader"></div>
<div id="content">
    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> @ViewBag.Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.VOTE_CODE)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.VOTE_CODE)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.VOTE_DESC)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.VOTE_DESC)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DeptCode)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DeptCode)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.DeptName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DeptName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.EMPLOYEE)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.EMPLOYEE)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.FIRST_NAME)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.FIRST_NAME)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.MIDDLE_NAME)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.MIDDLE_NAME)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.LAST_NAME)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.LAST_NAME)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.BANK_NAME)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BANK_NAME)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BANK_BRANCH)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BANK_BRANCH)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.AccountNo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AccountNo)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.GROSS_AMOUNT)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GROSS_AMOUNT)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.BasicSalary)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BasicSalary)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NetAmountAdjusted)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NetAmountAdjusted)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CURRENT_MONTH)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CURRENT_MONTH)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Remarks)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Remarks)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Arrears)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Arrears)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VerifyStatus)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VerifyStatus)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.VerifyRemarks)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.VerifyRemarks)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Schedule)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Schedule)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PayStep)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PayStep)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PayGrade)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PayGrade)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.DOB)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DOB)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Allowances)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Allowances)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.OverallStatus)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OverallStatus)
                                </dd>
                            </dl>
                            <a href="@Request.UrlReferrer" class="btn btn-info" style="float: left; margin-left: 5px;margin-bottom:10px">
                                <i class="fa fa-arrow-left"></i>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
