@model IFMIS.Areas.IFMISTZ.Models.ReconcTrxInf

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReconcTrxInf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReconcBatchInfo.SpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconcBatchInfo.SpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpBillId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpBillId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillCtrNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillCtrNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pspTrxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pspTrxId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayRefId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayRefId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrxDtTm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxDtTm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CtrAccNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CtrAccNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsdPayChnl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsdPayChnl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PspName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PspName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PspCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PspCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DptCellNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DptCellNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DptEmailAddr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DptEmailAddr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconcRsv1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconcRsv1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconcRsv2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconcRsv2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconcRsv3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconcRsv3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
