@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.ReconcTrxInf>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReconcBatchInfo.SpCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpBillId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillCtrNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pspTrxId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRefId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrxDtTm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CtrAccNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsdPayChnl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PspName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PspCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DptCellNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DptEmailAddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReconcRsv1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReconcRsv2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReconcRsv3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReconcBatchInfo.SpCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpBillId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillCtrNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pspTrxId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRefId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrxDtTm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CtrAccNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsdPayChnl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PspName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PspCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DptCellNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DptEmailAddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReconcRsv1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReconcRsv2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReconcRsv3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReconcTrxInfId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReconcTrxInfId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReconcTrxInfId })
        </td>
    </tr>
}

</table>
