@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.DeductionCode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style:normal; font-size:15px">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title"> Deduction Codes</h3>
    </div>
    <div class="panel-body">
        <div class="well">
            <a href="@Url.Action("Create", "DeductionCodes")" class="btn btn-info">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Deduction Code
            </a>
        </div>
        <hr />
        <table class="display" id="tblDataList">
            <thead>
                <tr>

                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.DedCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DedDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BankId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeductionCategory)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeductionPercent)
                    </th>
                    <th></th>
                </tr>
            <thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DedCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DedDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bank.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeductionCategory).ToString().Replace("_", " ")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeductionPercent)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DeductionCodeId }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.DeductionCodeId }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.DeductionCodeId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblDataList").DataTable({
                "scrollX": false
            });
        });

    </script>
}
