@model IFMIS.Areas.Gacs.Models.gac_note_explorer_SubSummary_Vw

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>gac_note_explorer_SubSummary_Vw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gov_Actual_Exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gov_Actual_Exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSectorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSectorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
