@model IEnumerable<IFMIS.Areas.Gacs.Models.gac_note_explorer_SubSummary_Vw>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gov_Actual_Exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectorDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubSectorDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Note_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gov_Actual_Exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectorDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubSectorDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubSummaryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubSummaryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubSummaryId })
        </td>
    </tr>
}

</table>
