@model IFMIS.Areas.CashManagement.Models.EditClosingAccountVM

@{
    ViewBag.Title = "Edit Closing Account";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>
<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title  </h2>

                    </header>

                    <!-- widget div-->
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form class="form-horizontal" name="closingAccount" id="closingAccount">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.GovernmentAccountId)
                                @Html.HiddenFor(model => model.CurrencyId)
                                @Html.HiddenFor(model => model.CurrencyName)
                                @Html.HiddenFor(model => model.BranchCode)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AccountNumber, "Account Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <select id="AccountNumber" class="form-control select2">
                                            <option value="@ViewBag.BankAccountNumber" selected="selected">@ViewBag.AccountNoAccountName</option>
                                            @foreach (var Accountlist in ViewBag.AccountNumber)
                                            {
                                                <option value='@Accountlist.BankAccountNumber'>
                                                    @Accountlist.AccountNoAccountName
                                                </option>
                                            }
                                        </select>
                                    </div>

                                    @Html.LabelFor(model => model.AccountName, "Account Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrencyCode, "Currency Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.CurrencyCode, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.CurrencyCode, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.AccountCategoryName, "Account Operator", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.AccountCategoryName, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.AccountCategoryName, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BankName, "Bank Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.BranchName, "Branch Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequestExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.RequestExpireDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.RequestExpireDate, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.TransferAccountNumber, "Transfer Account Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <select id="TransferAccountNumber" class="form-control select2">
                                            <option value="@ViewBag.TransferBankAccountNumber" selected="selected">@ViewBag.TransferAccountNoAccountName</option>
                                            @foreach (var TransferAccountlist in ViewBag.AccountNumber)
                                            {
                                                <option value='@TransferAccountlist.BankAccountNumber'>
                                                    @TransferAccountlist.AccountNoAccountName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TransferAccountName, "Transfer Account Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TransferAccountName, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.TransferAccountName, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.TransferBankName, "Transfer Bank Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TransferBankName, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.TransferBankName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TransferSwiftCode, "Transfer Swift Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TransferSwiftCode, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.TransferSwiftCode, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.TransferCurrency, "Transfer Currency", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TransferCurrency, new { htmlAttributes = new { @class = "form-control", @ReadOnly = "Readonly" } })
                                        @Html.ValidationMessageFor(model => model.TransferCurrency, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
            @Html.LabelFor(model => model.Purpose, "Purpose", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                (<span style="font-weight:bold;" id="PurposeCount">300 Characters Remaining</span>)
                @Html.TextAreaFor(model => model.Purpose, new { cols = 120, @rows = 3, htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
            </div>
        </div>*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RegionId, "Region Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <select id="RegionId" class="form-control select2">
                                            <option value="@ViewBag.RegionID" selected="selected">@ViewBag.RegionName</option>
                                            @foreach (var regionlist in ViewBag.RegionList)
                                            {
                                                <option value='@regionlist.RegionId'>
                                                    @regionlist.RegionName
                                                </option>
                                            }
                                        </select>
                                    </div>

                                    @Html.LabelFor(model => model.DistrictId, "District Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <select id="DistrictId" class="form-control select2">
                                            @*<option></option>*@
                                            <option value="@ViewBag.DistrictID" selected="selected">@ViewBag.DistrictName</option>
                                            @foreach (var districtList in ViewBag.districtList)
                                            {
                                                <option value='@districtList.DistrictId'>
                                                    @districtList.DistrictName
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.TelephoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PostalAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.PostalAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PostalAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <button class="btn btn-info" type="button" style="float: left" id="form_submision">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("ClosingAccountsList", "ClosingAccounts" )" class="btn btn-info" style="float: left; margin-left: 5px">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                    </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">

         $("#TransferAccountNumber").change(function () {
           
             var transferAccountNumber = $("#TransferAccountNumber").val();
             var accountNumber = $("#AccountNumber").val();
             if (transferAccountNumber == accountNumber) {


                 $("#TransferAccountName").val("");
                 $("#TransferSwiftCode").val("");
                 $("#TransferBankName").val("");
                 $("#TransferCurrency").val("");

                 swal("Select Another Account Number!", { icon: "warning" })
                     .then((value) => {
                         window.location();
                     });

                 return;
             }

             var transferCurrency = $("#TransferCurrency").val();
             var currencyCode = $("#CurrencyCode").val();

             if (transferCurrency != currencyCode) {

                 swal("Please Select Account Number With same Currency!", { icon: "warning" })
                     .then((value) => {
                         window.location();
                     });

                 return;
             }

            var option1 = [];
            $.ajax({
                url: '@Url.Action("getAccounts", "ClosingAccounts")/?accountNo=' + transferAccountNumber + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#TransferAccountName").val(data.AccName);
                    $("#TransferSwiftCode").val(data.SwiftCode);
                    $("#TransferBankName").val(data.Bank);
                    $("#TransferCurrency").val(data.CurrCode);
                }
            });
         });


        $("#AccountNumber").change(function () {
            var accountNumber = $("#AccountNumber").val();
            var option1 = [];
            $.ajax({
                url: '@Url.Action("getAccounts", "ClosingAccounts")/?accountNo=' + accountNumber + '',
                type: "GET",
                dataType: "json",
                success: function (data) {

                    $("#AccountName").val(data.AccName);
                    $("#AccountName").val(data.AccName);
                    $("#BankId").val(data.BankId);
                    $("#BankName").val(data.Bank);
                    $("#BranchCode").val(data.BranchCode);
                    $("#BranchName").val(data.BranchName);
                    $("#CurrencyId").val(data.CurrId);
                    $("#CurrencyCode").val(data.CurrCode);
                    $("#CurrencyName").val(data.CurrName);
                    $("#AccountCategoryName").val(data.AccountOperatorName);

                }
            });
        });

        @*$("#AccountNumber").change(function () {
            var accountNumber = $("#AccountNumber").val();;
            var option1 = [];
            $.ajax({
                url: '@Url.Action("getAccounts", "ClosingAccounts")/?accountNo=' + accountNumber + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#AccountName").val(data.AccountName);
                    $("#AccountName").val(data.AccountName);
                   /* $("#BankId").val(data.BankId);*/
                    $("#BankName").val(data.Bank);
                    //$("#BranchName").val(data.BranchName);
                    $("#CurrencyId").val(data.CurrencyId);
                    $("#CurrencyCode").val(data.CurrencyCode);
                    $("#CurrencyName").val(data.CurrencyName);
                    $("#AccountCategoryName").val(data.AccountTypeCode);
                }
            });
        });*@
     //====== FORM SUBMISSION =========
        $("#saveLoader").toggle(false);
        $("#form_submision").click(function () {
            debugger
            if (!$("#closingAccount").valid()) {
                $('#form_submision').prop("disabled", false);
                $("#divLoader").hide();
                return false;
            }


            var PhoneNo = $("#TelephoneNumber").val();
            if (PhoneNo != null) {
                if (PhoneNo.substr(0, 1) != "0" && PhoneNo.substr(0, 3) != "255") {
                    swal("Please enter valid Phone Number example 0700000000 or 255700000000", { icon: "warning" });
                    return false;
                }

                if (PhoneNo.substr(0, 1) == "0") {
                    if ((PhoneNo.toString().length != 10 || PhoneNo < 0 || PhoneNo == 0)) {
                        swal("Please enter valid Phone Number example 0700000000 or 255700000000", { icon: "warning" });

                        return false;
                    }
                }

                if (PhoneNo.substr(0, 3) == "255") {
                    if ((PhoneNo.toString().length != 12 || PhoneNo < 0 || PhoneNo == 0)) {
                        swal("Please enter valid Phone Number example 0700000000 or 255700000000", { icon: "warning" });

                        return false;
                    }
                }
            }

            var token = $("[name='__RequestVerificationToken']").val();
            var data = {
                __RequestVerificationToken: token,
                "GovernmentAccountId": $("#GovernmentAccountId").val(),
                "AccountNumber": $("#AccountNumber").val(),
                "AccountName": $("#AccountName").val(),
                "Purpose": $("#AccountCategoryName").val(),
                "CurrencyId": parseInt($("#CurrencyId").val()),
                "CurrencyCode": $("#CurrencyCode").val(),
                "CurrencyName": $("#CurrencyName").val(),
              /*  "BankId": parseInt($("#BankId").val()),*/
                "BankName": $("#BankName").val(),
                "BranchName": $("#BranchName").val(),
                "RegionId": parseInt($("#RegionId").val()),
                "DistrictId": parseInt($("#DistrictId").val()),
                "PostalAddress": $("#PostalAddress").val(),
                "EmailAddress": $("#EmailAddress").val(),
                "TelephoneNumber": $("#TelephoneNumber").val(),
                //"WardId": parseInt($("#WardId").val()),
                "AccountCategoryName": $("#AccountCategoryName").val(),
                //"Location": $("#Location").val(),
                "TransferAccountName": $("#TransferAccountName").val(),
                "TransferAccountNumber": $("#TransferAccountNumber").val(),
                "TransferSwiftCode": $("#TransferSwiftCode").val(),
                "TransferBankName": $("#TransferBankName").val(),
                "TransferCurrency": $("#TransferCurrency").val(),
                "RequestExpireDate": $("#RequestExpireDate").val()
            }

            var url = '@Url.Action("EditClosingAccount", "ClosingAccounts")';
            var urlList = '@Url.Action("ClosingAccountsList", "ClosingAccounts")';
            $("#form_submision").prop('disabled', true);
            $("#saveLoader").toggle(true);
            $.ajax({

                url: url,
                type: "POST",
                data: data,
                dataType: "JSON",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (response) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);

                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = urlList;
                            });
                    }
                    else {
                        swal(response, { icon: "warning" }).then((value) => {window.location.href=ur });
                    }
                },
                failure: function (error) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error);
                }
            });
        });

        $("#RegionId").change(function () {
            debugger
            var url = "@Url.Action("", "GovernmentAccounts")";
            var regionId = $("#RegionId").val();
            console.log(regionId);
            var option = [];
             $.ajax({
                 url: '@Url.Action("GetDistrictList", "GovernmentAccounts")/?regionId=' + regionId + '',
                type: "GET",
                 dataType: "json",
                 success: function (data) {
                     option.push('<option value="">--Select District Name--</option>');
                     data.forEach(d => {
                         option.push('<option value=' + d["Value"] + '>' + d["Text"] + '</option>');
                     });
                     option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                     $("#DistrictId").html(option);

                }
            });
        });

        $("#DistrictId").change(function () {
            var districtId = $("#DistrictId").val();
            console.log(districtId);
            var option = [];
             $.ajax({
                 url: '@Url.Action("GetWardList", "GovernmentAccounts")/?districtId=' + districtId + '',
                type: "GET",
                 dataType: "json",
                 success: function (data) {
                     //$("#WardId").empty();
                     //$("#WardId").append(response);

                     option.push('<option value="">--Select Ward Name--</option>');
                     data.forEach(d => {
                         option.push('<option value=' + d["Value"] + '>' + d["Text"] + '</option>');
                     });
                     option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                     $("#WardId").html(option);
                }
            });
        });

    </script>
}




