@model IFMIS.Areas.IFMISTZ.Models.PrePaymentReceivingSummaryVM
@{
    ViewBag.Title = "Edit Receiving Prepayment";
}
<style type="text/css">
     .loadingImg {
        display: none;
    }
</style>


<div id="content" style="margin: 5px; padding-top: 30px">
    <div align="center">
        <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
    </div>
    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Edit Receiving Prepayment</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                        <table border="0" style="width:350px;">
                            <tr><td>Prepayment Number</td><td><b>@Model.PrePaymentNo</b></td></tr>
                            <tr><td> Receiving Number</td><td><b>@Model.PrePaymentReceivingNumber</b></td></tr>
                            <tr><td>Receiving Items Value</td><td><b>@Convert.ToDecimal(Model.PrePaymentReceivingItemsValue).ToString("#,##0/=")</b></td></tr>
                            <tr><td> Apply Date</td><td><b>@Convert.ToDateTime(Model.OrderDate).ToString("dd/MM/yyyy")</b></td></tr>
                            <tr><td>SupplierName</td><td><b>@Model.SupplierName</b></td></tr>
                            <tr><td>Description</td><td><b>@Model.PrePaymentDesc</b></td></tr>
                        </table>
                        <hr />
                            @using (Html.BeginForm("ReceivingAttachment", "PrePayment", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.PrePaymentReceivingSummaryId)
                                <table class="table table-bordered table-hover table-condensed" style="width:80%">
                                    <thead>
                                        <tr>
                                            <th>Type Of Document</th>
                                            <th style="text-align:center">Ref/No</th>
                                            <th style="text-align:center">Date</th>
                                            <th style="text-align:center">Upload</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:18%">
                                                @Html.EditorFor(modelItem => Model.TypeOfDocument, new { htmlAttributes = new { @class = "form-control", @required = "required", style = "width:170px" } })
                                            </td>
                                            <td align="center">
                                                @Html.EditorFor(modelItem => Model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", style = "width:170px" } })

                                            </td>
                                            <td align="center">
                                                @Html.EditorFor(model => model.InvoiceDate, new { @class = "form-control datepicker", @required = "required", style = "height:30px" })
                                                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
                                            </td>
                                            <td align="center">
                                                <input type="file" class="btn btn-default" id="InvoiceFile" name="InvoiceFile">

                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td style="width:18%">
                                                Delivery Note
                                            </td>
                                            <td align="center">
                                                @Html.EditorFor(modelItem => Model.DeliveryNote, new { htmlAttributes = new { @class = "form-control", @required = "required", style = "width:170px" } })


                                            </td>
                                            <td align="center">
                                                @Html.EditorFor(model => model.DeliveryDate, new { @class = "form-control datepicker", @required = "required", style = "height:30px" })
                                                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                            </td>
                                            <td align="center">
                                                <input type="file" class="btn btn-default" id="DeliveryFile" name="DeliveryFile">

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:18%">
                                                Inspection Report
                                            </td>
                                            <td align="center">
                                                @Html.EditorFor(modelItem => Model.InspectionReportNo, new { htmlAttributes = new { @class = "form-control", @required = "required", style = "width:170px" } })
                                            </td>
                                            <td align="center">
                                                @Html.EditorFor(model => model.InspectionReportDate, new { @class = "form-control datepicker", @required = "required", style = "height:30px" })
                                                @Html.ValidationMessageFor(model => model.InspectionReportDate, "", new { @class = "text-danger" })
                                            </td>
                                            <td align="center">
                                                <input type="file" class="btn btn-default" id="InspectionFile" name="InspectionFile">

                                            </td>
                                        </tr>*@
                                    </tbody>
                                </table>


                                <div class="col-md-offset-1">
                                    <a href="@Url.Action("PrePaymentReceivingList","PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    <button type="submit" class="btn btn-info" style="margin-right:2px">
                                        <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                    </button>
                                </div>
                            }
                        </div>               <br />
                        <br />


                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
            $(document).ready(function () {

                $('#InvoiceDate').datepicker({
                    dateFormat: 'mm/dd/yy',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#InvoiceDate').datepicker('option', 'minDate', selectedDate);
                    }
                });
                $('#DeliveryDate').datepicker({
                    dateFormat: 'mm/dd/yy',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#DeliveryDate').datepicker('option', 'minDate', selectedDate);
                    }
                });
                $('#InspectionReportDate').datepicker({
                    dateFormat: 'mm/dd/yy',
                    prevText: '<i class="fa fa-chevron-left"></i>',
                    nextText: '<i class="fa fa-chevron-right"></i>',
                    onSelect: function (selectedDate) {
                        $('#InspectionReportDate').datepicker('option', 'minDate', selectedDate);
                    }
                });



                        });



    </script>
}