@model IFMIS.Areas.IFMISTZ.Models.PrePaymentVM
@{
    ViewBag.Title = "Preview Prepayment";
}
<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
               
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Prepayment Issue </h2>

                    </header>
                    @Html.HiddenFor(model => model.PrePaymentId)
                   
                <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                    @*<div align="center">
            <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
        </div>*@
                    <table class="table  table-hover table-condensed">

                        <tbody>
                            <tr>
                                <td style="width:20%">
                                    Prepayment Number
                                </td>
                                <td>
                                    <strong>@Html.DisplayFor(model => model.PrePaymentNo)</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    Description
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.PrePaymentDesc)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    Prepayment Amount
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency)
                                    @Html.DisplayFor(model => model.PrePaymentAmount)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    Items Value
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency)
                                    @Html.DisplayFor(model => model.ItemsValues)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    GL Accounts Value
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency)
                                    @Html.DisplayFor(model => model.ItemCharge)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    Sub Budget Class
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.SubBudgetClass)-@Html.DisplayFor(model => model.SegmentDesc)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    Currency Used
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Currency)
                                </td>
                            </tr>


                            <tr>
                                <td style="width:20%">
                                    Supplier
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.SupplierName)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%">
                                    Apply Date
                                </td>
                                <td>
                                    @Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")
                                </td>
                            </tr>


                            <tr>
                                <td style="width:20%">
                                    Status
                                </td>
                                <td>
                                    @if (Model.OverallStatus == "FullReceived" && ViewBag.PrepaymentReceivingSummaryStatus == "Approved")
                                    {
                                        <span>Full Received</span>
                                    }
                                    else if (Model.OverallStatus == "FullReceived" && (ViewBag.PrepaymentReceivingSummaryStatus == "Confirmed" || ViewBag.PrepaymentReceivingSummaryStatus == "Examined"))
                                    {
                                        <span>Receiving Status - @ViewBag.PrepaymentReceivingSummaryStatus </span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.OverallStatus)
                                    }

                                </td>
                            </tr>
                            @if (Model.OverallStatus == "Rejected")
                            {
                                <tr>
                                    <td style="width:20%">
                                        Rejection Reason
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ApprovalStatus)
                                    </td>
                                </tr>
                            }

                            @if (Model.ExaminerRemarks != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Examiner Reason on Issuing
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ExaminerRemarks)
                                    </td>
                                </tr>
                            }

                            @if (Model.JournalCtrlNum != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Journal Control Number
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.JournalCtrlNum)
                                    </td>
                                </tr>
                            }

                            @if (ViewBag.PVNo != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Payment Voucher No
                                    </td>
                                    <td>
                                        @ViewBag.PVNo
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="width:20%">
                                        Payment Voucher No
                                    </td>
                                    <td>
                                        @IFMIS.Libraries.Constants.ON_PROGRESS
                                    </td>
                                </tr>
                            }

                            @if (ViewBag.VoucherStatus != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Payment Voucher Status
                                    </td>
                                    <td>
                                        @ViewBag.VoucherStatus
                                    </td>
                                </tr>
                            }

                            @if (ViewBag.ReceivingNumber != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Prepayment Receiving Number
                                    </td>
                                    <td>
                                        @ViewBag.ReceivingNumber
                                    </td>
                                </tr>
                            }

                            @if (ViewBag.ReceivedAmount != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Total Received Amount
                                    </td>
                                    <td>

                                        @Model.Currency <span id="ReceivedAmountId">@string.Format("{0:#,0.00}", ViewBag.ReceivedAmount)</span>
                                    </td>
                                </tr>
                            }

                            @if (ViewBag.RemainingAmount != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Receiving Remaining Amount
                                    </td>
                                    <td>
                                        @Model.Currency <span id="RemainingAmountId">@string.Format("{0:#,0.00}", ViewBag.RemainingAmount)</span>
                                    </td>
                                </tr>
                            }

                            @if (ViewBag.JournalCtrlNumber != null)
                            {
                                <tr>
                                    <td style="width:20%">
                                        Receiving Journal Control Number
                                    </td>
                                    <td>
                                        @ViewBag.JournalCtrlNumber
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    <span>Attachments</span>
                    <table class="table  table-hover table-condensed" style="border:0px;">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Document Category</th>
                            <th>Attachment</th>
                        </tr>
                        @if (ViewBag.Attachment != null)
                        {
                            foreach (var attach in ViewBag.Attachment)
                            {
                                <tr>
                                    <td>@attach.Title</td>
                                    <td>@attach.Description</td>
                                    <td>Prepayment Issue</td>
                                    <td> <a href="@Url.Action("LoanAttachmentView", "PrePayment", new { Filename = attach.FileName, PathName = "uploads" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                            }
                        }

                        @if (ViewBag.PrePaymentRAttachment != null)
                        {
                            foreach (var item in ViewBag.PrePaymentRAttachment)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>Prepayment Receiving</td>
                                    <td> <a href="@Url.Action("LoanAttachmentView", "PrePayment", new { Filename = item.FileName, PathName = "uploads" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                            }
                        }

                    </table>

                    @if (ViewBag.PrePaymentReceivingAttachment != null)
                    {

                        <span>Attachments</span>
                        <table class="table  table-hover table-condensed" style="border:0px;">
                            <tr>
                                <th>Title</th>
                                <th>Reference Number</th>
                                <th>Document Category</th>
                                <th>Attachment</th>
                            </tr>
                            @foreach (var attach in ViewBag.PrePaymentReceivingAttachment)
                            {
                                <tr>
                                    <td>@attach.DocumentName</td>
                                    <td>@attach.ReferenceNumber</td>
                                    <td>Prepayment Receiving</td>
                                    <td> <a href="@Url.Action("AttachmentView", "PrePayment", new { Filename = attach.FileName, PathName = "~/Media/PrePayment/Receiving" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                </tr>
                            }
                        </table>
                    }

                            <header>
                                <h2><strong></strong> <i></i></h2>

                                <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                    <li class="active">

                                        <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountItems)</span></span> </a>

                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> GL Accounts List <span class="badge inbox-badge margin-right-13 gl_count" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountGLAccounts)</span></span></a>
                                    </li>

                                </ul>

                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <!-- widget body text-->

                                    <div class="tab-content padding-10">
                                        <div class="tab-pane fade in active" id="hr1">
                                            <div class="widget-body no-padding">

                                                <br />

                                                <div class="custom-scroll" style="height:290px; overflow-y: scroll;">
                                                    <table class="table table-bordered table-hover table-condensed" id="items">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:right;width:5%">#</th>
                                                                <th style="text-align:left;width:25%">Class</th>
                                                                <th style="text-align:left">Item</th>

                                                                <th style="text-align:right;width:8%">Quantity</th>

                                                                <th style="text-align:right;width:15%">Total Amount</th>

                                                                <th style="text-align:center;width:8%">Select</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody></tbody>
                                                    </table>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="hr2">
                                            <div class="widget-body no-padding">
                                                <br />

                                                <div class="custom-scroll" style="height:290px; overflow-y: scroll;">

                                                    <table class="table table-bordered table-hover table-condensed" id="gl_Accounts">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:left;width:5%">#</th>

                                                                <th style="text-align:left">Expenditure Line Item</th>

                                                                <th style="text-align:left;width:15%">Funding Reference</th>


                                                                <th style="text-align:right;width:12%">Amount</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- end widget body text-->
                                    <!-- widget footer -->
                                    <div class="widget-footer text-right">

                                        <span class="onoffswitch-title">
                                        </span>
                                    </div>
                                    <!-- end widget footer -->

                                </div>
                                <!-- end widget content -->

                                @if (ViewBag.PrepaymentReceivingDetails != null)
                                {
                                    <span>Received Items List</span>
                                    <div class="custom-scroll" style="height:290px; overflow-y: scroll;">
                                        <table class="table table-bordered table-hover table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Category</th>
                                                    <th>Item</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>VAT</th>
                                                    <th>Amount</th>
                                                    <th>Charged</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{var i = 0;}
                                                @foreach (var receive in ViewBag.PrepaymentReceivingDetails)
                                                {
                                                    i++;
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@receive.ClassificationDesc</td>
                                                        <td>@receive.ItemDescription</td>
                                                        <td>@receive.Quantity</td>
                                                        <td>@receive.UnitPrice</td>
                                                        <td>@receive.VAT</td>
                                                        <td>@receive.Currency @string.Format("{0:#,0.00}", receive.TotalAmount)</td>
                                                        <td>@receive.ItemsCharged</td>
                                                        <td>@receive.OverallStatus</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }

                            </div>
                            <!-- end widget div -->

                        </div>

                        <div class="col-md-offset-2">
                            <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                        </div>

                    </div>
            </article>

        </div>
    </section>

</div>

                @section pagespecific {
                    <!-- PAGE RELATED PLUGIN(S) -->

                    <script type="text/javascript">
                        //SHOW LOADER ICON
                        $(document).ajaxStart(function () {
                            $(".loadingImg").show();

                        });
                        //HIDE LOADER ICON
                        $(document).ajaxStop(function () {
                            $(".loadingImg").hide();
                        });
            $(document).ready(function () {
                $("#item_search").hide();
                $("#gl_search").hide();
                var id = $("#PrePaymentId").val();

                if (id) {
                    var url = '@Url.Action("ItemsList", "PrePayment")';
                    $.ajax(
        {
            type: "POST",
            data: { id: id },
            url: url,
            success: function (data) {
                $('#items').empty();
                var number = data.length;
                if (number > 0) {
                    $("#item_search").show();

                    $('<tr><th style="text-align: center">#</th><th>Category</th><th style="text-align: left">Item </th><th style="text-align: center">Quantity</th><th style="text-align: right">Unit Price</th><th style="text-align:right">VAT</th><th style="text-align: right">Total Amount</th><th style="text-align:center;width:5%">Charged</th></tr>').appendTo('#items');
                }
                var j = 0;
                var sum = 0;
                var vat_sum = 0;
                $.each(data, function (i, d) {
                    sum = sum + parseFloat(d.TotalAmount);
                    vat_sum = vat_sum + parseFloat(d.VAT);
                    j++;
                    $('<tr><td align="center">' + j + '</th><td>' + d.ClassificationDesc + '</td><td>' + d.ItemDescription + '</td><td align="center">' + d.Quantity + '</td><td align="right">' + d.UnitPrice.toLocaleString('en') + '</td><td align="right">' + d.VAT.toLocaleString('en') + '</td><td align="right">' + d.TotalAmount.toLocaleString('en') + '</td><td align="center">' + d.ItemsCharged + '</td></tr>').appendTo('#items');

                });
                if (number > 0) {

                    $('<tr><td align="right" colspan="5">Grand Total</td><td align="right">' + vat_sum.toLocaleString('en') + '</td><td align="right">' + sum.toLocaleString('en') + '</td><td></td></tr>').appendTo('#items');
                }
            },
            error: function (xhr) {
                //console.log(xhr.responseText);
                alert("An error has occured, contact system support");
                $("#divLoader").hide();
            },

        });


                }

                var url = '@Url.Action("GetPrePaymentCoa", "PrePayment")';
                $.ajax({
                    type: "get",
                    url: url,
                    data: { id: id },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#gl_Accounts').empty();

                        var number = data.length;
                        if (number > 0) {

                            $("#gl_search").show();
                            $('<tr><th style="text-align: center">#</th><th>Expenditure Line Item</th><th style="text-align: left">Funding Reference</th><th style="text-align: right">Amount</th></tr>').appendTo('#gl_Accounts');

                        }

                        var p = 0;
                        var sum = 0;

                        $.each(data, function (i, d) {
                            sum = sum + parseFloat(d.OperationalAmount);
                            p++;

                            $('<tr><td align="center">' + p + '</th><td>' + d.GlAccount.split("|").join("-") + '</td><td>' + d.FundingReference + '</td><td align="right">' + d.OperationalAmount.toLocaleString('en') + '</td></tr>').appendTo('#gl_Accounts');

                        });
                        if (number > 0) {
                            $('<tr><td align="right" colspan="3">Total</td><td align="right">' + sum.toLocaleString('en') + '</td></tr>').appendTo('#gl_Accounts');
                        }
                    },
                    failure: function (errmsg) {
                        alert(errmsg);
                    }
                });
                var $rows = $('#lpo tr');
                $('#search').keyup(function () {
                    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                    $rows.show().filter(function () {
                        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text.indexOf(val);
                    }).hide();
                });


                        });

                    </script>
                }


