@model IFMIS.Areas.IFMISTZ.Models.PrePaymentVM
@{
    ViewBag.Title = "Prepayment Receiving Items";
}


<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Prepayment Received Items </h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
                            </div>
                            <br />
                            <br />
                            <div class="row">
                                @using (Html.BeginForm(null, null, FormMethod.Get))
                                {
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div class="input-group"><input class="form-control" id="PrePaymentNumber" data-toggle="modal" data-target="#search_prepayment" name="PrePaymentNumber" autocomplete="off" placeholder="Click here to search Prepayment" onclick="SearchPrepayment()" value='@ViewBag.PrePaymentNumber' type="text" /><span class="input-group-btn"><button class="btn shiny  " id="search" type="submit">Search</button></span></div>
                                </div>
                                }
                                <br />
                                <br />
                                <br />
                                <hr />
                            </div>

                            @if (ViewBag.PrePaymentNumber != null)
                            {
                                if (ViewBag.Invalid == "Yes")
                                {
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                        <div class="col-lg-6 col-sm-6 col-xs-6">

                                            <div class="alert alert-block alert-info">
                                                <a class="close" data-dismiss="alert" href="#">×</a>
                                                <h4 class="alert-heading">Prepayment Receiving</h4>
                                                <p>
                                                    Prepayment of this number does not exist
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    </div>
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PrePaymentReceivingList", "PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                    <br />
                                    <br />
                                }

                                else if (ViewBag.Invalid == "PreviousNotApproved")
                                {
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                        <div class="col-lg-6 col-sm-6 col-xs-6">

                                            <div class="alert alert-block alert-info">
                                                <a class="close" data-dismiss="alert" href="#">×</a>
                                                <h4 class="alert-heading">Prepayment Receiving</h4>
                                                <p>
                                                    Previous Received Prepayment should First be Approved
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    </div>
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PrePaymentReceivingList", "PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                    <br />
                                    <br />
                                }
                                else if (ViewBag.Invalid == "Received")
                                {

                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                        <div class="col-lg-6 col-sm-6 col-xs-6">

                                            <div class="alert alert-block alert-info">
                                                <a class="close" data-dismiss="alert" href="#">×</a>
                                                <h4 class="alert-heading">Prepayment Receiving</h4>
                                                <p>
                                                    Prepayment already full received
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    </div>
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PrePaymentReceivingList", "PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                    <br />
                                    <br />
                                }
                                else if (ViewBag.Invalid == "ProgressReceived")
                                {

                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                        <div class="col-lg-6 col-sm-6 col-xs-6">

                                            <div class="alert alert-block alert-info">
                                                <a class="close" data-dismiss="alert" href="#">×</a>
                                                <h4 class="alert-heading">Prepayment Receiving</h4>
                                                <p>
                                                    Prepayment process is in Progress
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    </div>
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PrePaymentReceivingList", "PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                    <br />
                                    <br />
                                }
                                else if (ViewBag.InvalidReceiveByQuantity == "INVALID")
                                {

                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                        <div class="col-lg-6 col-sm-6 col-xs-6">

                                            <div class="alert alert-block alert-info">
                                                <a class="close" data-dismiss="alert" href="#">×</a>
                                                <h4 class="alert-heading">Prepayment Receiving</h4>
                                                <p>
                                                    This Prepayment Can not Received by Amount
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    </div>
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PrePaymentReceivingList", "PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                    <br />
                                    <br />
                                }

                                else
                                {
                                    @Html.HiddenFor(model => model.CountItems)
                                    @Html.HiddenFor(model => model.PrePaymentId)
                                    int i = 0;

                                    int total_quantity = 0;
                                    decimal total_VAT = 0;
                                    decimal total_amount = 0;

                                    if (Model.ReceiveType == IFMIS.Libraries.Constants.BY_QUANTITY)
                                    {
                                        <table border="0" width="50%">
                                            <tr><td>Prepayment Number</td><td><strong>@Model.PrePaymentNo</strong></td></tr>
                                            <tr><td>Supplier</td><td><strong>@Model.SupplierName</strong></td></tr>
                                            <tr><td>Currency</td><td><strong>@Model.Currency</strong></td></tr>
                                            <tr><td>Apply Date</td><td><strong>@Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")</strong></td></tr>
                                            <tr><td>Description</td><td><strong>@Model.PrePaymentDesc</strong></td></tr>
                                            <tr>
                                                <td>Prepayment Amount</td>

                                                <td>
                                                    <strong>
                                                        @Convert.ToDecimal(Model.PrePaymentAmount).ToString("#,##0.00")
                                                    </strong>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Received Amount</td>

                                                <td>
                                                    <strong>
                                                        @if (Model.ReceivedAmount != null)
                                                        {
                                                            @Convert.ToDecimal(Model.ReceivedAmount).ToString("#,##0.00");
                                                        }
                                                        else
                                                        {
                                                            <span>0.00</span>
                                                        }

                                                    </strong>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Balance</td>

                                                <td>
                                                    <strong>
                                                        @{

                                                            decimal? rcvd = 0;
                                                            decimal? prep = 0;
                                                            decimal? bal = 0;
                                                            decimal? prcnt = 0;
                                                            rcvd = Model.ReceivedAmount;
                                                            prep = Model.PrePaymentAmount;
                                                            bal = prep - rcvd;

                                                            prcnt = (rcvd / prep) * 100;

                                                        }


                                                        @Convert.ToDecimal(bal).ToString("#,##0.00")
                                                    </strong>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Received Percentage</td>
                                                <td>
                                                    <strong>
                                                        @if (prcnt != null)
                                                        {
                                                            <span> @string.Format("{0:0.##}", prcnt)%</span>
                                                        }
                                                        else
                                                        {
                                                            <span>0%</span>
                                                        }

                                                    </strong>
                                                </td>
                                            </tr>



                                        </table>
                                        <br />
                                    }
                                    else
                                    {

                                        ViewBag.Title = "Prepayment Receiving Entry";
                                        decimal? received = 0;
                                        decimal? ppayment = 0;
                                        decimal? balance = 0;
                                        decimal? percentage = 0;
                                        String pp;

                                        <table border="0" style="width:40%;">
                                            <tr><td>Prepayment Number</td><td><strong>@Model.PrePaymentNo</strong></td></tr>
                                            <tr><td>Supplier</td><td><strong>@Model.SupplierName</strong></td></tr>
                                            <tr><td>Currency</td><td><strong>@Model.Currency</strong></td></tr>
                                            <tr><td>Apply Date</td><td><strong>@Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")</strong></td></tr>
                                            <tr><td>Description</td><td><strong>@Model.PrePaymentDesc</strong></td></tr>
                                            <tr>
                                                <td>Prepayment Amount</td>

                                                <td>
                                                    <strong>
                                                        @Convert.ToDecimal(Model.PrePaymentAmount).ToString("#,##0.00")
                                                    </strong>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Received Amount</td>

                                                <td>
                                                    <strong>
                                                        @if (Model.ReceivedAmount != null)
                                                        {
                                                            @Convert.ToDecimal(Model.ReceivedAmount).ToString("#,##0.00");
                                                        }
                                                        else
                                                        {
                                                            <span>0.00</span>
                                                        }

                                                    </strong>

                                                </td>
                                            </tr>


                                            @{
                                                received = Model.ReceivedAmount;
                                                ppayment = Model.PrePaymentAmount;
                                                balance = ppayment - received;
                                                percentage = (received / ppayment) * 100;

                                            }
                                            <tr>
                                                <td>Received Percentage</td>
                                                <td>
                                                    <strong>
                                                        @if (percentage != null)
                                                        {
                                                            <span> @string.Format("{0:0.##}", percentage)%</span>
                                                        }
                                                        else
                                                        {
                                                            <span>0%</span>
                                                        }

                                                    </strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Balance</td>
                                                <td>
                                                    <strong>


                                                        @if (balance != null)
                                                        {
                                                            <span> @Convert.ToDecimal(balance).ToString("#,##0.00")</span>
                                                        }
                                                        else
                                                        {
                                                            <span>0.00</span>
                                                        }

                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                    }

                                    <div class="row">
                                        <div class="col-sm-8 col-lg-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Receiving Type:</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.ReceiveType, Model.ReceiveTypesList, "Select ---", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <br />
                                    <div id="ByQuantity" style="display:none">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ReceivingItems" }))
                                        {
                                            <table class="table  table-bordered table-hover table-condensed">

                                                <thead>
                                                    <tr>
                                                        <th style="text-align:right;width:4%"></th>
                                                        <th style="text-align:center" colspan="6">Prepayment Details</th>

                                                        <th style="text-align:center" colspan="3">Receiving Items</th>

                                                    </tr>
                                                    <tr>
                                                        <th style="text-align:right;width:4%">#</th>
                                                        <th style="text-align:left;width:18%">Item</th>
                                                        <th style="text-align:left;width:15%">Unit Of Measure</th>
                                                        <th style="text-align:right;width:8%">Quantity</th>
                                                        <th style="text-align:right;width:9%">Unit Price</th>
                                                        <th style="text-align:right;width:9%">VAT</th>
                                                        <th style="text-align:right;width:10%">Total Amount</th>
                                                        <th style="text-align:center;width:8%">Quantity</th>
                                                        <th style="text-align:center;width:9%">VAT</th>
                                                        <th style="text-align:center;width:10%">Total Amount</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.PrePaymentDetails)
                                                    {

                                                        i++;
                                                        var item_id = "item" + i;
                                                        var vat_status = "vatstatus" + i;
                                                        var vat = "vat" + i;
                                                        var amount = "amount" + i;
                                                        var price_id = "price" + i;
                                                        int itemQuantity = 0;

                                                        if (item.Quantity == null)
                                                        {
                                                            itemQuantity = 0;
                                                        }
                                                        else
                                                        {
                                                            itemQuantity = (int)item.Quantity;
                                                        }
                                                        //total_quantity = total_quantity + (int)item.Quantity;
                                                        total_quantity = total_quantity + itemQuantity;
                                                        total_VAT = total_VAT + (decimal)item.VAT;
                                                        total_amount = total_amount + (decimal)item.TotalAmount;
                                                        if (item.Quantity > 0)
                                                        {
                                                            <tr>
                                                                <td style="text-align:right">
                                                                    @i
                                                                </td>
                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                </td>
                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.UOM)
                                                                </td>
                                                                <td style="text-align:right">
                                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.VAT)

                                                                </td>
                                                                <td style="text-align:right">
                                                                    @Convert.ToDecimal(item.TotalAmount).ToString("#,##0.00")

                                                                </td>
                                                                <td style="text-align:center">
                                                                    <input type="text" name="" class="quantity form-control" id='@i' value="" max=@item.Quantity min="1" required style="width:60px" />
                                                                    <input type="hidden" id='@item_id' name='@item_id' value='@item.PrePaymentDetailId'>
                                                                    <input type="hidden" id='@vat_status' name='@vat_status' value='@item.VatStatus'>
                                                                    <input type="hidden" id='@price_id' name='@price_id' value=@item.UnitPrice>
                                                                </td>
                                                                <td style="text-align:center">
                                                                    <input type="number" name='@vat' id='@vat' value="" readonly style="width:120px;text-align:right" class="form-control" />
                                                                </td>
                                                                <td style="text-align:center">
                                                                    <input type="number" name='@amount' id='@amount' value="" readonly style="width:120px;text-align:right" class="form-control" />
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    <tr>
                                                        <td colspan="3" style="text-align:right">
                                                            Total
                                                        </td>
                                                        <td style="text-align:right">@total_quantity</td>
                                                        <td style="text-align:right"></td>
                                                        <td style="text-align:right">@total_VAT.ToString("#,##0/=")</td>
                                                        <td style="text-align:right">@total_amount.ToString("#,##0/=")</td>
                                                        <td style="text-align:center">
                                                            <input type="number" name="total_quantity" id="total_quantity" class="form-control" value="" style="width:60px" readonly />
                                                        </td>
                                                        <td style="text-align:center">
                                                            <input type="number" name="" id="total_vat" value="" class="form-control" readonly style="width:120px;text-align:right" />
                                                        </td>
                                                        <td style="text-align:center">
                                                            <input type="number" name="" id="total_amount" value="" class="form-control" readonly style="width:120px;text-align:right" />
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                            <div class="col-md-offset-1">
                                                <a href="@Url.Action("PrePaymentReceivingList","PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                                <button type="submit" id="summary" class="btn btn-info" style="margin-right:2px">
                                                    <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                </button>

                                            </div>

                                        }
                                    </div>
                                    <div id="ByAmount" style="display:none">

                                        <table class="table  table-bordered table-hover table-condensed">

                                            <thead>
                                                <tr>

                                                    <th style="text-align:center" colspan="7">Prepayment Details</th>

                                                </tr>
                                                <tr>
                                                    <th style="text-align:right;width:3%">#</th>
                                                    <th style="text-align:left">Item</th>
                                                    <th style="text-align:left">Unit Of Measure</th>
                                                    <th style="text-align:right">Quantity</th>
                                                    <th style="text-align:right">Unit Price</th>
                                                    <th style="text-align:right">VAT</th>
                                                    <th style="text-align:right">Total Amount</th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var item in Model.PrePaymentDetails)
                                                {

                                                    i++;
                                                    var item_id = "item" + i;
                                                    var vat_status = "vatstatus" + i;
                                                    var vat = "vat" + i;
                                                    var amount = "amount" + i;
                                                    var price_id = "price" + i;

                                                    int itemQuantity = 0;

                                                    if (item.Quantity == null)
                                                    {
                                                        itemQuantity = 0;
                                                    }
                                                    else
                                                    {
                                                        itemQuantity = (int)item.Quantity;
                                                    }

                                                    total_quantity = total_quantity + itemQuantity;
                                                    total_VAT = total_VAT + (decimal)item.VAT;
                                                    total_amount = total_amount + (decimal)item.TotalAmount;
                                                    if (item.Quantity > 0)
                                                    {
                                                        <tr>
                                                            <td style="text-align:right">
                                                                @i
                                                            </td>
                                                            <td style="text-align:left">
                                                                @Html.DisplayFor(modelItem => item.ItemDesc)
                                                            </td>
                                                            <td style="text-align:left">
                                                                @Html.DisplayFor(modelItem => item.UOM)
                                                            </td>
                                                            <td style="text-align:right">
                                                                @Html.DisplayFor(modelItem => item.Quantity)
                                                            </td>
                                                            <td style="text-align:right">

                                                                @Html.DisplayFor(modelItem => item.UnitPrice)

                                                            </td>
                                                            <td style="text-align:right">

                                                                @Html.DisplayFor(modelItem => item.VAT)

                                                            </td>
                                                            <td style="text-align:right">
                                                                @*@Html.DisplayFor(modelItem => item.TotalAmount)*@
                                                                @Convert.ToDecimal(Model.PrePaymentAmount).ToString("#,##0.00")
                                                            </td>

                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-8 col-lg-4">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Enter Amount:</label>
                                                    <div class="col-md-8">
                                                        <amount-input name="receive_amount" id="receive_amount" style="width:100%;height:33px">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <br />

                                        <div class="col-md-offset-1">
                                            <a href="@Url.Action("PrePaymentReceivingList","PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                            <button type="button" id="save_amount" class="btn btn-info" style="margin-right:2px">
                                                <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                                <img src="~/Content/img/loading.gif" class="saveLoader" />
                                            </button>

                                        </div>


                                    </div>
                                }


                            }
                            else
                            {
                                <div class="col-md-offset-1">
                                    <a href="@Url.Action("PrePaymentReceivingList","PrePayment")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                </div>
                                <br />
                                <br />

                            }
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>

</div>

<!----------- Search  Prepayment----------------->
<div class="modal fade" id="search_prepayment" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Prepayment List</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container " style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search..." id="search_lpo">
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <img src="/Media/Images/ajax_loader.gif" class="loadingImg" />
                    </div>
                    <table id="dt_search_prepayment" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Prepayment No</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Previous Received</th>
                                <th>Balance</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        $(document).ready(function () {
            $(".saveLoader").toggle(false);
        });
      //SEARCH PREPAYMENT
            var dt_search_prepayment = $('#dt_search_prepayment').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [] }],
        }
        );
        $("#dt_search_prepayment_wrapper .dt-toolbar").remove();
        $("#search_lpo").on("keyup search input paste cut", function () {
        dt_search_prepayment.DataTable().search(this.value).draw();
        });
        function SearchPrepayment() {
                    var url = '@Url.Action("GetPrepayments", "PrePayment")';
                    $.ajax({
                        type: "get",
                        url: url,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            if (response == "NoPrepayment") {
                              swal("Prepayment not Found");
                            }
                            else {
                                data = response.data;
                                dt_search_prepayment.fnClearTable();
                                for (var i = 0; i < data.length; i++) {

                                    dt_search_prepayment.fnAddData([i + 1,
                                    data[i]["PrePaymentNo"],
                                    data[i]["PrePaymentDesc"],
                                    toLabel(data[i]["PrePaymentAmount"]) + ' ' + data[i]["Currency"],
                                    toLabel(data[i]["ReceivedAmount"]),
                                    toLabel(data[i]["Balance"]),
                                    '<a href="#" onclick="ClickPrepayment(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                                    ]);
                                }
                            }
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
        }
       function ClickPrepayment(rowId) {
        var data = dt_search_prepayment.DataTable().rows().data();
            var row = data[rowId];
            $("#PrePaymentNumber").val(row[1]);
           $("#search_prepayment").modal("hide");
           $('#search').trigger('click');
        }
        //END SEARCH PREPAYMENT

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        $("#saveLoader").toggle(false);

        function validateForm(formObj) {
            $("#summary").prop('disabled', true);
            $("#saveLoader").toggle(true);

            var receive_amount = $("#receive_amount").val();
            var total_amount = $("#total_amount").val();

            if (receive_amount < 0) {
                swal("Amount should be greater than Zero!", { icon: "warning" });
                $("#summary").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }
            else if (receive_amount > total_amount) {
                swal("Amount should not Exceed Total Amount!", { icon: "warning" });
                $("#summary").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }
            else {
                $("#summary").prop('disabled', true);
                $("#saveLoader").toggle(true);
            }

            return true;
        }
        $(document).ready(function () {

            $(function () {
                $("#ReceiveType").change(function (e) {
                    var receiveType = $("#ReceiveType").val();
                    if (receiveType == "ByQuantity") {
                        $("#ByQuantity").show();
                        $("#ByAmount").hide();
                    } else if (receiveType == "ByAmount") {
                        $("#ByAmount").show();
                        $("#ByQuantity").hide();
                    }
                    else {
                        $("#ByQuantity").hide();
                        $("#ByAmount").hide();
                    }
                });

                $("#ReceiveType").click(function (e) {
                    var receiveType = $("#ReceiveType").val();
                    if (receiveType == "ByQuantity") {
                        $("#ByQuantity").show();
                        $("#ByAmount").hide();
                    } else if (receiveType == "ByAmount") {
                        $("#ByAmount").show();
                        $("#ByQuantity").hide();
                    }
                    else {
                        $("#ByQuantity").hide();
                        $("#ByAmount").hide();
                    }
                });

            });
            $(function () { // this will be called when the DOM is ready
                $("#save_amount").click(function () {
                    var receive_amount = parseFloat($("#_receive_amount").val().split(",").join(""));
                    if (receive_amount > 0) {
                        $("#save_amount").prop('disabled', true);
                        var prepayment_id = $("#PrePaymentId").val();
                        var form_data = {
                            "id": prepayment_id,
                            "amount": receive_amount
                        }
                        var url = '@Url.Action("ReceiveByAmount", "PrePayment")';
                        $.ajax(
                        {
                            type: "POST", //HTTP POST Method
                            url: url, // Controller/View
                            data: form_data,
                            success: function (response) {
                                if (response == "Success") {
                                    swal("Items received successfully", { icon: "success" })
                                                   .then((value) => {
                                                       $("#divLoader").hide();
                                                       var url = '@Url.Action("PrepaymentReceivingList", "PrePayment")';
                                                       window.location.replace(url);
                                                   });
                                }
                                else if (response == "Exceed") {
                                    swal("Received Amount can not exceed amount in prepayment");
                                    $("#save_amount").prop('disabled', false);
                                    return false;
                                } else {
                                    $("#save_amount").prop('disabled', false);
                                    return false;
                                    swal("Failed to receive Prepayment");
                                }
                            },
                            error: function (xhr) {
                                swal("An error has occured, contact system support");
                            },

                        });
                    }
                });
            });
            var items_number = $("#CountItems").val();

                $(".quantity").keyup(function () {
                    var max_quantity = 0;
                    var entered_quantity = 0;
                    max_quantity = parseInt($(this).attr('max'));

                    var id = $(this).attr('id');
                    var item_id = "#item" + id;
                    var vat_status_id = "#vatstatus" + id;
                    var amount_id = "#amount" + id;
                    var vat_id = "#vat" + id;
                    var price_id = "#price" + id;
                    var mamb = $(item_id).val()
                    var vat_status = $(vat_status_id).val();
                    var price = parseFloat($(price_id).val());
                    entered_quantity = parseInt($(this).val());
                    var total = entered_quantity * price;
                    var vat_amount = 0;

                    if (entered_quantity < 0 || entered_quantity == 0) {
                        swal("Received quantity can not be Zero or negative", { icon: "warning" })
                                               .then((value) => { });
                        $(this).val("");
                        $(vat_id).val("");
                        $(amount_id).val("");
                    }
                    else if (entered_quantity > max_quantity) {
                        swal("Received quantity can not exceed ordered quantity " + max_quantity, { icon: "warning" })
                                              .then((value) => { });
                        $(this).val("");
                        $(vat_id).val("");
                        $(amount_id).val("");
                    } else {
                        if (vat_status == "Applicable") {
                            vat_amount = total * 0.18;
                            $(vat_id).val(vat_amount);
                            var total_amount = total + vat_amount;
                            $(amount_id).val(total_amount);
                        } else if (vat_status == "Exempted") {
                            $(vat_id).val(vat_amount);
                            $(amount_id).val(total);
                        }
                    }
                    var i = 1;
                    var sum_quantity = 0;
                    var sum_vat = 0;
                    var sum_total = 0;
                    while (i <= items_number) {
                        var col8_id = "#" + i;
                        var col9_id = "#vat" + i;
                        var col10_id = "#amount" + i;
                        var quantity = parseInt($(col8_id).val());
                        var vat = parseFloat($(col9_id).val());
                        var amount = parseFloat($(col10_id).val());
                        if (quantity > 0) {
                            sum_quantity = sum_quantity + quantity;
                            sum_vat = sum_vat + vat;
                            sum_total = sum_total + amount;

                        }
                        i++;
                    }
                    $("#total_quantity").val(sum_quantity);
                    $("#total_vat").val(sum_vat);
                    $("#total_amount").val(sum_total);
                });

                $("#ReceivingItems").on('submit', function (e) {
                    e.preventDefault();
                    var i = 1;
                    var count = 0;
                    var receivingDetails = [];
                    while (i <= items_number) {
                        var col8_id = "#" + i;
                        var col10_id = "#amount" + i;
                        var item_id = "#item" + i;
                        var quantity = parseInt($(col8_id).val());
                        if (quantity > 0) {
                            var amount = parseFloat($(col10_id).val());
                            var itemid = parseInt($(item_id).val());
                            receivingDetails.push({
                                "PrePaymentDetailId": itemid,
                                "Quantity": quantity,
                                "Amount": amount
                            });
                            count++;
                        }
                        i++;
                    }
                    var lpo_id = $("#PrePaymentId").val();

                    var form_data = {
                        "PrePaymentId": lpo_id,
                        "ItemsReceived": receivingDetails
                    }
                    var url = '@Url.Action("ReceiveItems", "PrePayment")';
                    $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: url, // Controller/View
                        data: form_data,
                        success: function (response) {
                            if (response == "Success") {

                                swal("Items received successfully", { icon: "success" })
                                               .then((value) => {
                                                   $("#divLoader").hide();
                                                   var url = '@Url.Action("PrepaymentReceivingList", "PrePayment")';
                                                   window.location.replace(url);
                                               });
                            }
                            else {
                                console.log(response)
                                swal("Failed to receive ,DbException" + response);
                                //$("#divLoader").hide();
                            }
                        },
                        error: function (xhr) {
                            swal("An error has occured, contact system support"+response);
                            $("#divLoader").hide();
                        },
                    });
                });

                        });
    </script>
}


