@model IFMIS.Areas.Payroll.Models.WageBillApprovalStatu

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>WageBillApprovalStatu</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifyStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifyStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VerifiedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VerifiedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovalStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CURRENT_MONTH)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CURRENT_MONTH)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NO_EMPLOYEE_CURR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NO_EMPLOYEE_CURR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BASIC_SAL_CURR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BASIC_SAL_CURR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ALLOWANCE_CURR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ALLOWANCE_CURR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ARREARS_CURR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ARREARS_CURR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GROSS_CURR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GROSS_CURR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NO_EMPLOYEE_PREV)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NO_EMPLOYEE_PREV)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BASIC_SAL_PREV)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BASIC_SAL_PREV)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ALLOWANCE_PREV)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ALLOWANCE_PREV)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ARREARS_PREV)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ARREARS_PREV)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NUM_VOTES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NUM_VOTES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AllowanceNumEmp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AllowanceNumEmp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AllowanceNumVotes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AllowanceNumVotes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArrearsNumEmp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArrearsNumEmp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArrearsNumVotes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArrearsNumVotes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BasicSalaryNumEmp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BasicSalaryNumEmp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BasicSalaryNumVotes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BasicSalaryNumVotes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WagebillEntityID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WagebillEntityID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AdjustmentAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AdjustmentAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinalGrossAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinalGrossAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumVoteAdjusted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumVoteAdjusted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumEmployeeAdjusted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumEmployeeAdjusted)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
