@model IEnumerable<IFMIS.Areas.Payroll.Models.WageBillApprovalStatu>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifyStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CURRENT_MONTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NO_EMPLOYEE_CURR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BASIC_SAL_CURR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALLOWANCE_CURR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARREARS_CURR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GROSS_CURR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NO_EMPLOYEE_PREV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BASIC_SAL_PREV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALLOWANCE_PREV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARREARS_PREV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NUM_VOTES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceNumEmp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceNumVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrearsNumEmp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrearsNumVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalaryNumEmp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicSalaryNumVotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WagebillEntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjustmentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalGrossAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumVoteAdjusted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumEmployeeAdjusted)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CURRENT_MONTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NO_EMPLOYEE_CURR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BASIC_SAL_CURR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALLOWANCE_CURR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARREARS_CURR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GROSS_CURR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NO_EMPLOYEE_PREV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BASIC_SAL_PREV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ALLOWANCE_PREV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ARREARS_PREV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUM_VOTES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowanceNumEmp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowanceNumVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrearsNumEmp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrearsNumVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicSalaryNumEmp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicSalaryNumVotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WagebillEntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjustmentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalGrossAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumVoteAdjusted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumEmployeeAdjusted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.WageBillApprovalStatusID }) |
                @Html.ActionLink("Details", "Details", new { id=item.WageBillApprovalStatusID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.WageBillApprovalStatusID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
