@model IFMIS.Areas.PayrollManagement.Models.EmployeeDetailVM
<table class="table table-striped table-bordered table-condensed" width="100%">
    <thead>
        <tr>
            <td>SN</td>
            <th></th>
            <th>Schedule</th>
            <th>Grade</th>
            <th>Step</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
       @{
           int i = 0;
        }
        @foreach (var item in Model.SalaryScaleList)
            {
            i++;
            <tr>
                <td>@i</td>
                <td><input class="chBox" type="checkbox" id="@item.JobSalaryScaleId" name="list" value="@item.JobSalaryScaleId"/></td>
                <td>@item.Schedule</td>
                <td>@item.Grade</td>
                <td>@item.Step</td>
                <td>@Convert.ToDecimal(item.Amount).ToString("#,##0.00")</td>
            </tr>
        }
    </tbody>
</table>

