@model IFMIS.Areas.PayrollManagement.Models.EmployeeDetailAmendVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Employee Details </h2>
                    </header>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="panel-heading">
                                    @*<h3 class="panel-title"><strong><u> Employee Details </u> </strong></h3>*@
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">Check number</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.CheckNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.CheckNumberOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">TYR Number</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TYRNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.TYRNumberOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">FirstName</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.FirstNameOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">MiddleName</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.MiddleNameOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">LastName</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.LastNameOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">BirthDate</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.BirthDateOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">Gender</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.GenderOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label">Date of Enrollment</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.AppointmentDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.AppointmentDateOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label"> Bank</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.BankNameOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label"> Account</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.AccountNumberOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label"> Job Code</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.JobCodeName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.JobCodeNameOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-1 control-label"> Salary Amount</label>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.SalaryAmount, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.SalaryAmountOld, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <a href="@Url.Action("EmployeeAmendNewList")" class="btn btn-default">
                            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            Back
                        </a>
                        <button onclick="confirmEmployee(@Model.EmployeeAmendId)" value="save" class="btn btn-info">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> </span>
                            Confirm
                        </button>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
    <!-- end widget grid -->
</div>
@section Scripts {
    <script>
          $(document).ready(function (){
            $("#dt_basic").DataTable({

            });
        });

    function confirmEmployee(i, id) {
            debugger;
            if (i == 'x') i = id;
            swal({
                title: "Confirmation!",
                text: "Are you sure you want to Confirm Employee?",
                buttons: [
                  'Yes',
                  'No'
                ],
            }).then(function (isConfirm){
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {
                    confirm(i)
                }
            });
        };

        var confirm = function (id){
            debugger;
            var url = '@Url.Action("ConfirmEmployeeAmend", "Employees")/' + id;
            var url1 = '@Url.Action("EmployeeAmendNewlist", "Employees")/' + id;
            $.ajax({
                type: "POST",
                url: url,
                data: { id: id },
                success: function (response) {
                    if (response == "success") {
                        swal("Employee Confirmed Successfully!",{ icon: "success" }).then((e) =>{
                            window.location.href = url1;
                        });
                    } else if (response == "DbException") {
                        swal("Error on Confirming Employee!", { icon: "error" }).then((e) =>{
                            window.location.reload();
                        });
                    }
                },
                error: function (xhr) {
                    swal("An error has occured, contact system support");
                },
            });
        };
    </script>
}

