@model IEnumerable<IFMIS.Areas.PayrollManagement.Models.Payment>
@{
    ViewBag.Title = "Index";
}
<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i></span>
                        <h2>Payment Details</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!--end widget edit box-->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
                                <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
                                    <div class="uil-default-css">
                                        <img src="~/Content/loader.gif" style="max-width: 150px; max-height: 150px; display: block; margin-left: auto; margin-right: auto;" />
                                    </div>
                                    <div class="loader-text" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
                                </div>
                                <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
                            </div>
                            <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">                               
                            </div>
                            <table id="tblDataList" class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            CheckNumber
                                        </th>
                                        <th>
                                            FullName
                                        </th>
                                        <th>
                                            Account Number
                                        </th>
                                        <th>
                                            Bank
                                        </th>
                                        <th>
                                            Amount
                                        </th>                                 
                                    </tr>
                                </thead>
                                @{
                                    int i = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        
                                        i++;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BeneficiaryCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BeneficiaryName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BeneficiaryAccountNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BankName)
                                        </td>
                                        <td style="text-align:right">
                                            @Convert.ToDecimal(item.Amount).ToString("#,##0")
                                        </td>                                       
                                    </tr>
                                    }
                                </tbody>                              
                            </table>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </div>
            </article>
        </div>
    </section>
    <!-- end widget grid -->
</div>
@section pagespecific {
    <link href="~/Content/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/assets/DataTable/jquery.dataTables.min.js"></script>
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        $(document).ready(function (){
            $("#tblDataList").DataTable();
        });

        function submitPayroll(i){
            debugger;
            if (i == 'x');
            swal({
                title: "Confirmation!",
                text: "Are you sure you want to Submit Payroll?",
                buttons: [
                  'Yes',
                  'No'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {
                    confirm(i)
                }
            });
        };

        var confirm = function (){
            debugger;
            $('#resultLoading').show();
            var url = '@Url.Action("SubmitPayroll", "PayrollJobs")';
            $.ajax({
                type: "POST",
                url: url,
                success: function (response) {
                    if (response == "Success") {
                        swal("Payroll Submited Successfully!",{ icon: "success" }).then((e) =>{
                            window.location.reload();
                        });
                    } else if (response == "DbException") {
                        swal("Error on submiting payroll!", { icon: "error" }).then((e) =>{
                        });
                    }
                },
                error: function (xhr) {
                    swal("An error has occured, contact system support");
                },
            });
        };
    </script>
}

