@model IFMIS.Areas.Gacs.Models.GacsTransactions

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GacsTransactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualPrevTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPrevTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualUpTo1month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualUpTo1month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual1To3month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual1To3month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual3To12month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual3To12month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual1To3Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual1To3Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actual3To5Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual3To5Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualAbove5Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualAbove5Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableForSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableForSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeldForTrading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeldForTrading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgingAdjustment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgingAdjustment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
