@model IFMIS.Areas.Coadmis.Models.EngagementVM
<style>
    
    .widget-body1 {
        margin-left: 140px;
        width: 1050px;
    }


    .tabs-below > .nav-tabs, .tabs-left > .nav-tabs, .tabs-right > .nav-tabs {
        border-bottom: 0;
        border-right: 0;
    }
    .form-horizontal {
        margin-top: 30px;
        margin-left: 17px;
    }
</style>
<div class="widget-body1">
    <div class="row setup-conten">
            <div class="form-horizontal">
                <div class="col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ClientInformationId)
                            <input type="hidden" name="ClientFinancialYear" id="ClientFinancialYear" value="@ViewBag.ClientFinancialYear" />
                            <input type="hidden" name="OverallStatus" id="OverallStatus" value="Pending" />
                            <label class="control-label col-md-2">Module Type<span class="redStar">*</span></label>
                            <div class="col-md-8">
                                @Html.DropDownList("ModuleType", new List<SelectListItem>{
                                  new SelectListItem{ Text="--Select ---", Value = "" },
                                  new SelectListItem{ Text="Background information", Value = "Background information" }
                                   }, new { @class = "form-control select2", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Remarks<span class="redStar">*</span></label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.Remarks, new { maxlength = 2500, @class = "form-control", @rows = 5, @cols = 30 })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8"></div>
                            <button type="submit" class="btn btn-info" id="saveMemorandamBackgrd">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" class="loadingImg" />
                            </button>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <table id="dt_samplebasic" class="table table-striped table-bordered table-hover" width="50%">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:20%">Module Type</th>
                                    <th style="width:60%">Remarks</th>
                                    <th style="width:7%">Action</th>
                                </tr>
                            </thead>
                            @{
                                int j = 0;
                            }
                            <tbody>
                                @if (Model.Memorandamu.Count == 0)
                                {
                                    <tr>
                                        <td colspan="10" style="text-align:center">
                                            <span style="font-style:italic">
                                                No Data of Memorandamu For :
                                                <strong> @Model.EngagementName</strong>
                                            </span>
                                        </td>
                                    </tr>
                                }
                                else
                                {


                                    foreach (var group in Model.Memorandamu)
                                    {
                                        j++;
                                        <tr>
                                            <td>@j</td>
                                            <td>@group.ModuleType</td>
                                            <td>@group.Remarks</td>
                                            <td>
                                                <a href="#" onclick="DeleteMemorandamu(@group.PlanningMemorandamId)"><i class="fa fa fa-fw  fa-trash-o"></i></a>|
                                                <a href="#" onclick="EditMemorandamu(@group.PlanningMemorandamId)"><i class="fa fa fa-fw  fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>
