@model IFMIS.Areas.Coadmis.Models.EngagementVM
<style>
    .form-horizontal {
        margin-top: 30px;
        margin-left: 17px;
    }
</style>

<div class="form-horizontal">
    <div class="col-xs-12">
        <div align="center">
            <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.HiddenFor(model => model.EngagementId)
                <div class="col-md-1"></div>
                <label class="control-label col-md-2">Auditor<span class="redStar">*</span></label>
                <div class="col-md-2">
                    @if (ViewBag.auditor != null)
                    {
                        @Html.DropDownListFor(model => model.AuditorId, ViewBag.auditor as SelectList, "Select Auditor", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.AuditorId, "", new { @class = "text-danger" })

                    }
                    else
                    {
                        @Html.DropDownList("AuditorId", null, "Select Cleint Type", new { @class = "form-control select2" })

                    }
                </div>

                <label class="control-label col-md-2">Member Level<span class="redStar">*</span></label>
                <div class="col-md-2">
                    @if (ViewBag.EngagementRoles != null)
                    {
                        @Html.DropDownListFor(model => model.EngagementRoleId, ViewBag.EngagementRoles as SelectList, "Select Member Role", new { @class = "form-control select2" })
                        @Html.ValidationMessageFor(model => model.EngagementRoleId, "", new { @class = "text-danger" })

                    }
                    else
                    {
                        @Html.DropDownList("EngagementRoleId", null, "Select Member Role", new { @class = "form-control select2" })

                    }
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-info" id="addEngTeamMember">
                        <i class="fa fa-plus"></i> Add
                        <img src="~/Content/img/loading.gif" class="loadingImg" />
                    </button>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table id="dt_ebasic" class="table table-striped table-bordered table-hover" width="50%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Engagement Role</th>
                                @*<th>Declaration</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int x = 0;
                        }
                        <tbody>
                            @if (Enumerable.Count(ViewBag.RegistereEngeddAuditor) == 0)
                            {
                                <tr>
                                    <td colspan="5" style="text-align:center">
                                        <span style="font-style:italic">
                                            No Member Registered for this Engegement:
                                            <strong> @Model.EngagementName</strong>
                                        </span>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in ViewBag.RegistereEngeddAuditor)
                                {

                                    x++;
                                    <tr>
                                        <td>@x</td>
                                        <td>@item.AuditorName</td>
                                        <td>@item.MemberLevel</td>
                                        @*<td><a href="#" onclick="PreviewDeclarationForm()"><i class="fa fa fa-fw fa-paperclip"></i></a></td>*@
                                        <td><a href="#" onclick="RemoveMember(@item.EngagementTeamMemberId)"><i class="fa fa fa-fw  fa-trash-o"></i></a></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>