@model IFMIS.Areas.Coadmis.Models.EngagementVM
@{
    ViewBag.Title = "Engagement Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loadingImg {
        display: none;
    }

    body {
        margin-top: 40px;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #itemUL li {
        margin-left: -40px;
        border-bottom: 1px solid silver;
        height: 26px;
        padding-left: 5px;
        padding-top: 8px;
        cursor: pointer;
    }

    .redStar {
        color: red;
        font-size: 15px;
    }

    .swal-modal .swal-text {
        text-align: center;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <table class="table table-bordered table-striped" style="width:60%">
                                <tbody>
                                    <tr>
                                        <td><strong>Client Name:</strong></td>
                                        <td>@Html.DisplayFor(model => model.ClientName)</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Engagement Name:</strong></td>
                                        <td>@Html.DisplayFor(model => model.EngagementName)</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Engagement Ref:</strong></td>
                                        <td>@Html.DisplayFor(model => model.EngagementRefNo)</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Engagement Duration:</strong></td>
                                        <td>@string.Format("{0:dd/MM/yyyy}", Model.StartDate)~@string.Format("{0:dd/MM/yyyy}", Model.EndDate)</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Engagement Location:</strong></td>
                                        <td>@Html.DisplayFor(model => model.EngagementLocation)</td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6" style="margin-top:10px;margin-bottom:10px">
                            <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-info pull-left">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
    $(document).ajaxStart(function () {
        $(".loadingImg").show();

    });
    </script>
}
