@model IFMIS.Areas.RecurrentPayment.Models.Payment

@{
    ViewBag.Title = "Details";
}


<div class="panel panel-default">
    <!-- Default panell contents -->
    <div class="panel-heading">Payment Details</div>
    <div class="panel-body">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeneficiaryCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeneficiaryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BeneficiaryAccountNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeneficiaryAccountNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BankBic)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankBic)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BankName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaymentDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaymentBatch.PaymentCategory)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaymentBatch.PaymentCategory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Back", "PaymentsPerBatch", "PaymentBatches", new { id = Model.PaymentBatchID }, new { })
        </p>
    </div>

</div>