@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentsBatchSummaryByDepartment_vw>

@{
    ViewBag.Title = "Payment Summary by Department";


}
<style>
    body {
        /*width: 100%;
        margin: 40px auto;*/
        /*font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;*/
        /*color: #444;*/
    }
     dl {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;
    }
    table {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;
    }

    .bordered {
        border: solid #ccc 0px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;
    }

        .bordered tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        .bordered td, .bordered th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 2px;
            text-align: left;
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

            .bordered td:first-child, .bordered th:first-child {
                border-left: none;
            }

            .bordered th:first-child {
                -moz-border-radius: 6px 0 0 0;
                -webkit-border-radius: 6px 0 0 0;
                border-radius: 6px 0 0 0;
            }

            .bordered th:last-child {
                -moz-border-radius: 0 6px 0 0;
                -webkit-border-radius: 0 6px 0 0;
                border-radius: 0 6px 0 0;
            }

            .bordered th:only-child {
                -moz-border-radius: 6px 6px 0 0;
                -webkit-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;
            }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }



    /*----------------------*/

    .zebra td, .zebra th {
        padding: 8px;
        border-bottom: 1px solid #f2f2f2;
    }

    .zebra tbody tr:nth-child(even) {
        background: #f5f5f5;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    }

    .zebra th {
        text-align: left;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        border-bottom: 1px solid #ccc;
        background-color: #eee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
        background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
        background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
        background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
        background-image: -o-linear-gradient(top, #f5f5f5, #eee);
        background-image: linear-gradient(top, #f5f5f5, #eee);
    }

        .zebra th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .zebra th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .zebra th:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .zebra tfoot td {
        border-bottom: 0;
        border-top: 1px solid #fff;
        background-color: #f1f1f1;
    }

        .zebra tfoot td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .zebra tfoot td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

        .zebra tfoot td:only-child {
            -moz-border-radius: 0 0 6px 6px;
            -webkit-border-radius: 0 0 6px 6px border-radius: 0 0 6px 6px;
        }

 

</style>

<!-- START CUSTOM TABS -->
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <div id="divLoader" style="text-align:center; display:none">
                <img src="~/Media/Images/ajax_loader.gif" />
            </div>
            <ul class="nav nav-tabs" style=" font-family: 'trebuchet MS', 'Lucida sans', Arial;font-size: 18px;">
                <li class="active"><a href="#tab_1" data-toggle="tab">PENDING PAYMENTS FOR VERIFICATION</a></li>
            </ul>
            <th class="tab-content" style="width:100%">

                @if (Model.Count() > 0)
                {


                    <div class="tab-pane active" id="tab_1" style="width:100%">

                        <div class="row no-print">
                            @*<div class="row">*@
                            <div class="cke_panel_container" style="width:80%">
                                <div class="col-md-12">

                                    <div>

                                        <br />
                                        @{

                    var ps = ViewBag.Paystation;
                    var pb = ViewBag.Paymentbatch;
                                        }


                                        <dl class="dl-horizontal">
                                            <dt></dt>
                                            <dd></dd>
                                            <dt></dt>
                                            <dd></dd>
                                            <dt>Title:</dt>
                                            <dd>PAYMENTS SUMMARY BY DEPARTENT</dd>
                                            <dt>

                                                PayStation:

                                            </dt>

                                            <dd style="text-align:left">
                                                @ps.PayStationName
                                            </dd>

                                            <dt>
                                                Batch No:
                                            </dt>

                                            <dd>
                                                @pb.BatchNo
                                            </dd>

                                            <dt>
                                                Batch Name:
                                            </dt>

                                            <dd>
                                                @pb.BatchDesc
                                            </dd>

                                            <dt>
                                                Pay Category:
                                            </dt>

                                            <dd>
                                                @pb.PaymentCategory
                                            </dd>

                                        </dl>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- /.box-header -->
                        <div class="box-body" style="padding-left: 0px; padding-right: 0px;">
                            <table class="bordered" id="dvdatatable" style=" padding-top:0px">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="9" style="text-align:left;">
                                            <strong>
                                                Payment Summary:  PBID, int PSID
                                                </strong>

                                                <button style="height:initial; background-color:#0ccb62" id="back" type="button" class="btn btn-sm" onclick="goBack()">
                                                    <span class="glyphicon glyphicon-backward"></span>
                                                    Back
                                                </button>
                                            <button style="height:initial;background-color:#0ccb62" id="excel" type="button" class="btn btn-sm"
                                                    onclick="location.href='@Url.Action("PaymentBatchVerificationDepartmentReport", "Report"
                                                    , new { PBID = Request["PBID"], PSID = Request["PSID"] })'">
                                                <span class="glyphicon glyphicon-print"></span>
                                                Preview
                                            </button>

                                            <button style="height:initial;background-color:#0ccb62" id="excel" type="button" class="btn btn-sm"
                                                    onclick="location.href='@Url.Action("PaymentBatchVerificationDepartmentExcel", "Report"
                                                    , new { PBID = Request["PBID"], PSID = Request["PSID"] })'">
                                                <span class="glyphicon glyphicon-export"></span>
                                                Export
                                            </button>
                                        </th>

                                    </tr>
                                    <tr>
                                        <th style="text-align:right">#</th>
                                        <th>Department</th>
                                        <th>Payment Category</th>
                                        <th style="text-align:right">No of Beneficiary</th>
                                        <th style="text-align:right">Total Amount</th>
                                        <th>Pay Status</th>
                                        <th colspan="2" style="text-align:center;">Actions</th>


                                    </tr>
                                    @{
                    int i = 0;
                    int grandtotalben = 0;
                    decimal grandTotalGrossAmount = 0;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        grandtotalben += int.Parse(item.NoofBen.ToString());
                                        grandTotalGrossAmount += decimal.Parse(item.TotalAmount.ToString());


                                        <tr>
                                            <td style="text-align:right;">@i &nbsp;</td>

                                            <td>
                                                @item.BenDepartment

                                            </td>


                                            <td>
                                                @item.PaymentCategory

                                            </td>
                                            <td style="text-align:right">
                                                @String.Format("{0:#,0}", item.NoofBen)
                                            </td>

                                            <td style="text-align:right">
                                                @String.Format("{0:#,0.00}", item.TotalAmount)
                                            </td>
                                            <td>
                                                @item.OverallStatus

                                            </td>

                                            <td style="text-align:left" width="12">
                                                <button style="height:initial" id="getCancel" type="button" class="btn btn-sm" onclick="CancelFunction('@item.PaystationID','@item.PaymentBatchID','@item.BenDepartmentID')">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                    Cancel
                                            </td>
                                            <td style="text-align:left" width="12">
                                                <button style="height:initial" id="getPreview" type="button" class="btn btn-sm" onclick="PreviewFunction('@item.PaystationID','@item.PaymentBatchID','@item.BenDepartmentID')">
                                                    <span class="glyphicon glyphicon-list"></span>
                                                    Details
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th style="text-align:right">Grand Total</th>
                                        <th style="text-align:right">@String.Format("{0:#,0}", grandtotalben)</th>
                                        <th style="text-align:right">@String.Format("{0:#,0.00}", grandTotalGrossAmount)</th>
                                        <th style="text-align:right"></th>
                                        <th style="text-align:right"></th>
                                        <th style="text-align:right"></th>


                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.tab-pane -->
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        No Pending Payment(s)!
                    </div>
                }


        </div>
</div>
            <!-- /.tab-content -->
        </div>
  



@section Scripts{
    <script>

              
        function CancelFunction(modelvalue, modelvalue1,modelvalue2) {
            alert("your model value: " + modelvalue + "-" + modelvalue1+ "-" + modelvalue2);
            var msg = confirm("Do you want to Cancel Payment Department: " + modelvalue2 + " ?");
            if (msg == true) {
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: "CancelDepartmentPayments?PBID=" + modelvalue1 + "&PSID=" + modelvalue + "&DPID=" + modelvalue2,
                })
                        .done(function (response) {
                            if (response == "Success") {
                                alert("Payment Batch No: " + modelvalue2 + "  Cancelled Successfully!");
                                $("#divLoader").hide();
                                window.location.href = "PaymentBatchConfirmationDepartment?PBID="+ modelvalue1 + "&PSID=" + modelvalue;
                            }
                        });
            } else {
                alert("Payment for Department: " + modelvalue2 + "  not Cancelled!");
                window.location.href = "PaymentBatchConfirmation?PBID=" + modelvalue1 + "&PSID=" + modelvalue;
            }
        }


        function PreviewFunction(modelvalue, modelvalue1,modelvalue2) {
           
            window.location.href = "PaymentBatchVerificationDetails?PBID=" + modelvalue1 + "&PSID=" + modelvalue + "&DPID=" + modelvalue2;
          
            
        }

        function goBack() {
            window.history.back();
        }

    </script>
}