@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.Payment>

@{
    ViewBag.Title = "Payment Details";


}
<style>
    body {
        /*width: 100%;
        margin: 40px auto;*/
        /*font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;*/
        /*color: #444;*/
    }
     dl {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;
    }
    table {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;
    }

    .bordered {
        border: solid #ccc 0px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;
    }

        .bordered tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        .bordered td, .bordered th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 2px;
            text-align: left;
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

            .bordered td:first-child, .bordered th:first-child {
                border-left: none;
            }

            .bordered th:first-child {
                -moz-border-radius: 6px 0 0 0;
                -webkit-border-radius: 6px 0 0 0;
                border-radius: 6px 0 0 0;
            }

            .bordered th:last-child {
                -moz-border-radius: 0 6px 0 0;
                -webkit-border-radius: 0 6px 0 0;
                border-radius: 0 6px 0 0;
            }

            .bordered th:only-child {
                -moz-border-radius: 6px 6px 0 0;
                -webkit-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;
            }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }



    /*----------------------*/

    .zebra td, .zebra th {
        padding: 8px;
        border-bottom: 1px solid #f2f2f2;
    }

    .zebra tbody tr:nth-child(even) {
        background: #f5f5f5;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    }

    .zebra th {
        text-align: left;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        border-bottom: 1px solid #ccc;
        background-color: #eee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
        background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
        background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
        background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
        background-image: -o-linear-gradient(top, #f5f5f5, #eee);
        background-image: linear-gradient(top, #f5f5f5, #eee);
    }

        .zebra th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .zebra th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .zebra th:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .zebra tfoot td {
        border-bottom: 0;
        border-top: 1px solid #fff;
        background-color: #f1f1f1;
    }

        .zebra tfoot td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .zebra tfoot td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

        .zebra tfoot td:only-child {
            -moz-border-radius: 0 0 6px 6px;
            -webkit-border-radius: 0 0 6px 6px border-radius: 0 0 6px 6px;
        }

 

</style>

<!-- START CUSTOM TABS -->
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <div id="divLoader" style="text-align:center; display:none">
                <img src="~/Media/Images/ajax_loader.gif" />
            </div>
            <ul class="nav nav-tabs" style=" font-family: 'trebuchet MS', 'Lucida sans', Arial;font-size: 18px;">
                <li class="active"><a href="#tab_1" data-toggle="tab">APPROVED PAYMENTS</a></li>
            </ul>
            
            <th class="tab-content" style="width:100%">

                @if (Model.Count() > 0)
                {


                    <div class="tab-pane active" id="tab_1" style="width:100%">

                        <div class="row no-print">
                            @*<div class="row">*@
                            <div class="cke_panel_container" style="width:80%">
                                <div class="col-md-12">

                                    <div>

                                        <br />
                                        @{
                    var dp = ViewBag.Department;
                    var ps = ViewBag.Paystation;
                    var pb = ViewBag.Paymentbatch;

                                        }


                                        <dl class="dl-horizontal">
                                            <dt></dt>
                                            <dd></dd>
                                            <dt></dt>
                                            <dd></dd>
                                            <dt>Title:</dt>
                                            <dd>PAYMENT DETAILS</dd>
                                            <dt>

                                                PayStation:

                                            </dt>

                                            <dd style="text-align:left">
                                                @ps.PayStationName
                                            </dd>

                                            <dt>
                                                Batch No:
                                            </dt>

                                            <dd>
                                                @pb.BatchNo
                                            </dd>

                                            <dt>
                                                Batch Name:
                                            </dt>

                                            <dd>
                                                @pb.BatchDesc
                                            </dd>

                                            <dt>
                                                Department:
                                            </dt>

                                            <dd>
                                                @dp.DeptName
                                            </dd>
                                            <dt>
                                                Pay Category:
                                            </dt>

                                            <dd>
                                                @pb.PaymentCategory
                                            </dd>

                                        </dl>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <!-- /.box-header -->
                        <div class="box-body" style="padding-left: 0px; padding-right: 0px">
                            <table class="bordered" id="dvdatatable">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="10" style="text-align:left;">
                                            <strong>
                                                Payment Details:
                                                </strong>

                                                <button style="height:initial; background-color:#0ccb62" id="back" type="button" class="btn btn-sm" onclick="goBack()">
                                                    <span class="glyphicon glyphicon-backward"></span>
                                                    Back
                                                </button>
                                                <button style="height:initial;background-color:#0ccb62" id="excel" type="button" class="btn btn-sm"
                                                        onclick="location.href='@Url.Action("PaymentBatchApprovedDetailsReport", "Report",
                                                    new{PBID = Request["PBID"],PSID =Request["PSID"],DPID =Request["DPID"]})'">
                                                    <span class="glyphicon glyphicon-print"></span>
                                                    Preview
                                                </button>

                                                <button style="height:initial;background-color:#0ccb62" id="excel" type="button" class="btn btn-sm"
                                                        onclick="location.href='@Url.Action("PaymentBatchApprovedDetailsExcel", "Report",
                                                    new{PBID = Request["PBID"],PSID =Request["PSID"],DPID =Request["DPID"]})'">
                                                    <span class="glyphicon glyphicon-print"></span>
                                                    Excel
                                                </button>
                                        </th>

                                    </tr>
                                    <tr>
                                        <th style="text-align:right">#</th>
                                        <th>Beneficiary#</th>
                                        <th>Beneficiary Name</th>
                                        <th>Bank Account</th>
                                        <th>Bank Name</th>
                                        <th>Payment Description</th>
                                        <th style="text-align:right">Amount</th>
                                        <th>Pay Status</th>
                                        <th colspan="2" style="text-align:center;">Actions</th>


                                    </tr>
                                    @{
                    int i = 0;

                    decimal grandTotalGrossAmount = 0;


                                    }

                                    @foreach (var item in Model)
                                    {
                                        i++;



                                        grandTotalGrossAmount += decimal.Parse(item.Amount.ToString());


                                        <tr>
                                            <td style="text-align:right;">@i &nbsp;</td>

                                            <td>
                                                @item.BeneficiaryCode

                                            </td>

                                            <td>
                                                @item.BeneficiaryName

                                            </td>

                                            <td>
                                                @item.BeneficiaryAccountNo

                                            </td>

                                            <td>
                                                @item.BankName

                                            </td>

                                            <td>
                                                @item.PaymentDescription

                                            </td>


                                            <td style="text-align:right">
                                                @String.Format("{0:#,0.00}", item.Amount)
                                            </td>
                                            <td>
                                                @item.OverallStatus

                                            </td>

                                            <td style="text-align:left" width="12">
                                                <button style="height:initial" id="getCancel" type="button" class="btn btn-sm" onclick="CancelFunction('@item.PayStationID','@item.PaymentBatchID','@item.PaymentID','@item.BenDepartmentID','@item.BeneficiaryName')">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                    Cancel
                                            </td>
                                            <td style="text-align:left" width="12">
                                                <button style="height:initial" id="getPreview" type="button" class="btn btn-sm" onclick="CancelFunction1('@item.PayStationID','@item.PaymentBatchID','@item.BenDepartmentID')">
                                                    <span class="glyphicon glyphicon-list"></span>
                                                    Preview
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th style="text-align:right">Grand Total</th>
                                        <th style="text-align:right">@String.Format("{0:#,0.00}", grandTotalGrossAmount)</th>
                                        <th style="text-align:right"></th>
                                        <th style="text-align:right"></th>
                                        <th style="text-align:right"></th>

                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.tab-pane -->
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        No Pending Payment(s)!
                    </div>
                }



</div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->

   
    
</div>
<!-- /.row -->
<!-- END CUSTOM TABS -->



@section Scripts{
    <script>

              
        function CancelFunction(modelvalue, modelvalue1,modelvalue2,modelvalue3,modelvalue4) {
            //alert("your model value: " + modelvalue + "-" + modelvalue1);
            var msg = confirm("Do you want to Cancel Payment for: " + modelvalue4 + " ?");
            if (msg == true) {
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: "CancelDetailsApprovalPayments?PYID=" + modelvalue2 + "&PBID=" + modelvalue1 + "&PSID=" + modelvalue,
                })
                        .done(function (response) {
                            if (response == "Success") {
                                alert("Payment for: " + modelvalue4 + "  Cancelled Successfully!");
                                $("#divLoader").hide();
                                window.location.href = "PaymentBatchApprovalDetails?PBID=" + modelvalue1 + "&PSID=" + modelvalue + "&DPID=" + modelvalue3;
                            }
                        });
            } else {
                alert("Payment for: " + modelvalue4 + "  not Cancelled!");
                window.location.href = "PaymentBatchApprovalDetails?PBID=" + modelvalue1 + "&PSID=" + modelvalue + "&DPID=" + modelvalue3;
          
            }
        }

        function goBack() {
            window.history.back();
        }

    </script>
}