@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.PaymentsBatchVerifyApprovalSummary_vw>

@{
    ViewBag.Title = "Cancelled Payments";


}
<style>
    /*body {
        width: 100%;
        margin: 40px auto;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 14px;
        color: #444;
    }*/
    dl {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;
    }

    table {
        *border-collapse: collapse; /* IE7 and lower */
        border-spacing: 0;
        width: 100%;
        font-family: 'trebuchet MS', 'Lucida sans', Arial;
        font-size: 13px;
    }

    .bordered {
        border: solid #ccc 0px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 1px #ccc;
        -moz-box-shadow: 0 1px 1px #ccc;
        box-shadow: 0 1px 1px #ccc;
    }

        .bordered tr:hover {
            background: #fbf8e9;
            -o-transition: all 0.1s ease-in-out;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        .bordered td, .bordered th {
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 2px;
            text-align: left;
        }

        .bordered th {
            background-color: #dce9f9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
            background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
            background-image: linear-gradient(top, #ebf3fc, #dce9f9);
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
            border-top: none;
            text-shadow: 0 1px 0 rgba(255,255,255,.5);
        }

            .bordered td:first-child, .bordered th:first-child {
                border-left: none;
            }

            .bordered th:first-child {
                -moz-border-radius: 6px 0 0 0;
                -webkit-border-radius: 6px 0 0 0;
                border-radius: 6px 0 0 0;
            }

            .bordered th:last-child {
                -moz-border-radius: 0 6px 0 0;
                -webkit-border-radius: 0 6px 0 0;
                border-radius: 0 6px 0 0;
            }

            .bordered th:only-child {
                -moz-border-radius: 6px 6px 0 0;
                -webkit-border-radius: 6px 6px 0 0;
                border-radius: 6px 6px 0 0;
            }

        .bordered tr:last-child td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .bordered tr:last-child td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }



    /*----------------------*/

    .zebra td, .zebra th {
        padding: 8px;
        border-bottom: 1px solid #f2f2f2;
    }

    .zebra tbody tr:nth-child(even) {
        background: #f5f5f5;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    }

    .zebra th {
        text-align: left;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        border-bottom: 1px solid #ccc;
        background-color: #eee;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
        background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
        background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
        background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
        background-image: -o-linear-gradient(top, #f5f5f5, #eee);
        background-image: linear-gradient(top, #f5f5f5, #eee);
    }

        .zebra th:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .zebra th:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .zebra th:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .zebra tfoot td {
        border-bottom: 0;
        border-top: 1px solid #fff;
        background-color: #f1f1f1;
    }

        .zebra tfoot td:first-child {
            -moz-border-radius: 0 0 0 6px;
            -webkit-border-radius: 0 0 0 6px;
            border-radius: 0 0 0 6px;
        }

        .zebra tfoot td:last-child {
            -moz-border-radius: 0 0 6px 0;
            -webkit-border-radius: 0 0 6px 0;
            border-radius: 0 0 6px 0;
        }

        .zebra tfoot td:only-child {
            -moz-border-radius: 0 0 6px 6px;
            -webkit-border-radius: 0 0 6px 6px border-radius: 0 0 6px 6px;
        }
</style>

<!-- START CUSTOM TABS -->
<div class="row">
    <div class="col-md-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <div id="divLoader" style="text-align:center; display:none">
                <img src="~/Media/Images/ajax_loader.gif" />
            </div>
            <ul class="nav nav-tabs" style="font-family: 'trebuchet MS', 'Lucida sans', Arial; font-size: 18px;">
                <li class="active"><a href="#tab_1" data-toggle="tab">CANCELLED PAYMENTS</a></li>
            </ul>
            <div class="tab-content" style="width:100%">

                @if (Model.Count() > 0)
                {

                    <div class="tab-pane active" id="tab_1" style="width:100%">

                        <!-- /.box-header -->
                        <div class="box-body" style="padding-left: 0px; padding-right: 0px">
                            <table class="bordered" id="dvdatatable">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="10" style="text-align:left;">
                                            <strong>
                                                Payment Summary:
                                            </strong>
                                            <button style="background-color: #0ccb62; margin-top:1px; margin-bottom:1px" id="excel" type="button" class="btn btn-flat btn-sm"
                                                    onclick="location.href='@Url.Action("PaymentBatchVerifyCancelledReport", "Report")'">
                                                <span class="glyphicon glyphicon-print"></span>
                                                Preview
                                            </button>

                                            <button style="background-color: #0ccb62; margin-top:1px; margin-bottom:1px" id="excel" type="button" class="btn btn-flat btn-sm"
                                                    onclick="location.href='@Url.Action("PaymentBatchVerifyCancelledExcel", "Report")'">
                                                <span class="glyphicon glyphicon-export"></span>
                                                Export
                                            </button>
                                        </th>

                                    </tr>
                                    @{
                                        int i = 0;
                                        string voteCode = "-1";
                                        int subtotalben = 0, grandtotalben = 0;
                                        decimal subTotalGrossAmount = 0;
                                        decimal grandTotalGrossAmount = 0;
                                    }

                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        if (voteCode != item.PayStationName) //Starting a new vote
                                        {

                                            if (voteCode != "-1")
                                            {
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td style="text-align:right"><strong>Sub Total</strong></td>
                                                    <td style="text-align:right"><strong>@String.Format("{0:#,0}", subtotalben)</strong></td>
                                                    <td style="text-align:right"><strong>@String.Format("{0:#,0.00}", subTotalGrossAmount)</strong></td>
                                                    <td colspan="3"></td>
                                                </tr>

                                                subTotalGrossAmount = 0;

                                                i = 1;
                                            }
                                            <tr>
                                                <th colspan="10" style="text-align:left;"> <strong>Pay Station: @item.PayStationName </strong></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align:right">#</th>
                                                <th>Batch No</th>
                                                <th>Batch Description</th>
                                                <th>Payment Category</th>
                                                <th style="text-align:right">No of Beneficiary</th>
                                                <th style="text-align:right">Total Amount</th>
                                                <th>Pay Status</th>
                                                <th colspan="2" style="text-align:center;">Actions</th>
                                            </tr>
                                            voteCode = item.PayStationName;
                                        }

                                        subtotalben += int.Parse(item.NoofBen.ToString());
                                        grandtotalben += int.Parse(item.NoofBen.ToString());
                                        subTotalGrossAmount += decimal.Parse(item.TotalAmount.ToString());
                                        grandTotalGrossAmount += decimal.Parse(item.TotalAmount.ToString());


                                        <tr>
                                            <td style="text-align:right;">@i &nbsp;</td>

                                            <td>
                                                @item.BatchNo

                                            </td>
                                            <td>
                                                @item.BatchDesc

                                            </td>
                                            <td>
                                                @item.PaymentCategory

                                            </td>
                                            <td style="text-align:right">
                                                @String.Format("{0:#,0}", item.NoofBen)
                                            </td>

                                            <td style="text-align:right">
                                                @String.Format("{0:#,0.00}", item.TotalAmount)
                                            </td>

                                            @if (item.OverallStatus == "Cancelled1")
                                            {
                                                <td>
                                                    Cancelled
                                                </td>
                                            }
                                            else if (item.OverallStatus == "Cancelled2")
                                            {
                                                <td>
                                                    Cancelled at Approval
                                                </td>
                                            }

                                            <td style="text-align:center">
                                                <button id="getPreview" type="button" class="btn btn-flat btn-sm" onclick="PreviewFunction('@item.PaystationID','@item.PaymentBatchID','@item.BatchNo')">
                                                    <span class="glyphicon glyphicon-list"></span>
                                                    Details
                                                </button>
                                            </td>
                                            <td style="text-align:center">
                                                <a href="@Url.Action("ExportPaymentsToExcel", "Payments", new { id = item.PaymentBatchID })" class="btn btn-flat btn-sm" style="background-color: #DDDDDD; color: black">
                                                    <span class="glyphicon glyphicon-export"></span>
                                                    Export Payments
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                    <tr style="background: #fff;color: #000000;">
                                        <td colspan="3"></td>
                                        <td style="text-align:right"><strong>Sub Total</strong></td>
                                        <td style="text-align:right"><strong>@String.Format("{0:#,0}", subtotalben)</strong></td>
                                        <td style="text-align:right"><strong>@String.Format("{0:#,0.00}", subTotalGrossAmount)</strong></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3"></th>
                                        <th style="text-align:right">Grand Total</th>
                                        <th style="text-align:right">@String.Format("{0:#,0}", grandtotalben)</th>
                                        <th style="text-align:right">@String.Format("{0:#,0.00}", grandTotalGrossAmount)</th>
                                        <th colspan="3"></th>
                                    </tr>
                                </tfoot>

                            </table>

                        </div>
                        <!-- /.box-body -->

                    </div>
                <!-- /.tab-pane -->

                                        }
                                        else
                                        {
                                            <div class="alert alert-success" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Success:</span>
                                                No Cancelled Payment(s)!
                                            </div>
                                        }



            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->



</div>
<!-- /.row -->
<!-- END CUSTOM TABS -->



@section Scripts{
    <script>

        function ReConfirmFunction(modelvalue, modelvalue1, modelvalue2) {
            //alert("your model value: " + modelvalue + "-" + modelvalue1);
            var msg = confirm("Do you want to ReVerify Payment Batch No: " + modelvalue2 + " ?");
            if (msg == true) {
                $("#divLoader").show();
                $.ajax({
                    type: "POST",
                    url: "ReVerifyPayments?PBID=" + modelvalue1 + "&PSID=" + modelvalue,
                })
                        .done(function (response) {
                            if (response == "Success") {
                                alert("Payment Batch No: " + modelvalue2 + "  Verified Successfully!");
                                $("#divLoader").hide();
                                window.location.href = "PaymentBatchVerifyCancelled";
                            }
                        });
            } else {
                alert("Payment Batch No: " + modelvalue2 + "  Not Verified!");
                window.location.href = "PaymentBatchVerifyCancelled";
            }

        }

        function PreviewFunction(modelvalue, modelvalue1) {

            $("#divLoader").show();
            window.location.href = "PaymentBatchVerifyCancelledDepartment?PaymentBatchID=" + modelvalue1 + "&pstationID=" + modelvalue;
            $("#divLoader").hide();

        }



    </script>
}