@*@model IFMIS.Areas.LoanMod.Models.LoanCollateralVM*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        min-height: 100vh;
        background-color: white;
        margin: 20px;
        border-radius: 2px;
        margin: 40px;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding-left: 20px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .section-content {
        padding-left: 180px;
        padding-right: 100px;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <section id="widget-grid">
        <div class="card">
            @if (ViewBag.FA != null)
            {
                <div class="detail-section">
                    <div class="section-title">Force Account Information</div>
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <table>
                                    <tr>
                                        <td class="sect-label">Project Number</td>
                                        <td>@ViewBag.FA.ProjectNumber </td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Project Description</td>
                                        <td>@ViewBag.FA.ProjectDescription</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label"> Project Estimated Amount</td>
                                        <td>@ViewBag.FA.EstimatedProjectAmount</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Amount Committed</td>
                                        <td>@ViewBag.FA.AmountCommitted</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Project Manager</td>
                                        <td>@ViewBag.FA.ProjectManager</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Commencement Date</td>
                                        <td>@ViewBag.FA.CommencementDate</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">ExpiryDate</td>
                                        <td>@ViewBag.FA.ExpiryDate</td>
                                    </tr>

                                    <tr>
                                        <td class="sect-label">Fund Category</td>
                                        <td>@ViewBag.FA.FundCategory</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">Fund Category</td>
                                        <td>@ViewBag.FA.OverallStatus</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">CreatedAt</td>
                                        <td>@ViewBag.FA.CreatedAt</td>
                                    </tr>
                                    <tr>
                                        <td class="sect-label">CreatedBy</td>
                                        <td>@ViewBag.FA.CreatedBy</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br />
            @if (ViewBag.Voucher.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Paid Vouchers</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>PayeeName</th>
                                    <th>PVNO</th>
                                    <th>OperationalAmount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.Voucher)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Payeename</td>
                                        <td>@item.PVNo</td>
                                        <td>@string.Format("{0:#,0.00}", item.OperationalAmount)</td>
                                        <td>@item.OverallStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @if (ViewBag.imprest.Count != 0)
            {
                <div class="detail-section">
                    <div class="section-title">Paid Imprest</div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>PayeeName</th>
                                    <th>ImprestNo</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;}
                                @foreach (var item in ViewBag.imprest)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.PayeeName</td>
                                        <td>@item.ImprestNo</td>
                                        <td>@string.Format("{0:#,0.00}", item.OperationalAmount)</td>
                                        <td>@item.OverallStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </section>
</div>