@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=text], input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }
</style>
<div id="content" style="margin: 5px; margin-top: 30px">

    <section id="widget-grid" class="">

        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Force Account Payment</h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div style="display:flex; justify-content: space-evenly">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="form-label">Cost Centre</td>
                                            <td>
                                                <div class="input-group">
                                                    <select id="CostCentre" style="width:300px"></select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Fund Category
                                                <i class="fa fa-times" style="color:white" id="FundCategory_1"></i>
                                            </td>
                                            <td>
                                                <select id="FundCategory" style="width:300px"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Project Manager
                                                <i class="fa fa-times" style="color:white" id="ProjectManager_1"></i>
                                            </td>
                                            <td>
                                                <input style="width:300px" type="text" id="ProjectManager">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Project Number
                                                <i class="fa fa-times" style="color:white" id="ProjectNumber_1"></i>
                                            </td>
                                            <td>
                                                <input style="width:300px" type="text" id="ProjectNumber">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Project Description
                                                <i class="fa fa-times" style="color:white" id="ProjectDescription_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <textarea style="width:300px" id="ProjectDescription"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Estimated Amount
                                                <i class="fa fa-times" style="color:white" id="_EstimatedAmount_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong>TZS</strong>
                                                    </span>
                                                    <amount-input type="text" style="width:250px"   id="EstimatedAmount"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Expiry Date
                                                <i class="fa fa-times" style="color:white" id="ExpiryDate_1"></i>
                                            </td>
                                            <td>
                                                <div class="flatpickr date-group" style="display:flex">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:262px;padding-left:10px;border:none"
                                                           autocomplete="off" id="ExpiryDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:35px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Commencement Date
                                                <i class="fa fa-times" style="color:white" id="CommencementDate_1"></i>
                                            </td>
                                            <td>
                                                <div class="flatpickr date-group" style="display:flex">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:262px;padding-left:10px;border:none"
                                                           autocomplete="off" id="CommencementDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:35px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:10px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button class="btn btn-info" id="form_submision">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>


            </article>

        </div>
    </section>
</div>

@section pagespecific {
    <script>
        $("#saveLoader").toggle(false);
        var isSubmitted = false

        $("#form_submision").click(function () {
            if (FormIsValid()) {
                Save();
            }
        });

        function Save() {
            try {
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit", "ForceAccountPayment")',
                    data: {
                        CostCentre: $("#CostCentre").val(),
                        ProjectDescription: $("#ProjectDescription").val(),
                        EstimatedProjectAmount: $("#_EstimatedAmount").val(),
                        ProjectManager: $("#ProjectManager").val(),
                        ProjectNumber: $("#ProjectNumber").val(),
                        ExpiryDate: $("#ExpiryDate").val(),
                        CommencementDate: $("#CommencementDate").val() ,
                        FundCategory: $("#FundCategory").val(),
                        ForceAccountPaymentRegistrationId: '@ViewBag.Id'
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                     window.location.href = `@Url.Action("List", "ForceAccountPayment")`
                                });
                        } else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });
            } catch (e) {
                swal("Error Saving. Please consult system administrator!");
            }
        }

        function GetCostCenters() {
            $.ajax({
                type: "GET",
                url:'@Url.Action("GetCostCenters", "ForceAccountPayment")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    let items = response.data.map(d => ({
                        value: d.SubLevelCode,
                        text: `${d.SubLevelCode}-${d.SubLevelDesc}`
                    }))
                    addToDropDown(items, "CostCentre");
                    GetFundCategory();
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        GetCostCenters();

        function GetFundCategory() {
            $.ajax({
                type: "GET",
                url:'@Url.Action("GetFundCategory", "ForceAccountPayment")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    let items = response.data.map(d => ({
                        value: d.FundingCategoryName,
                        text: d.FundingCategoryName
                    }))
                    addToDropDown(items, "FundCategory");
                    GetFormData();
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        function addToDropDown(items, selectId) {
            var select = document.getElementById(selectId)
            select.innerText = ""
            items.forEach(item=> {
                let option = document.createElement('option')
                option.value = item.value
                option.text = item.text
                select.appendChild(option);
            });
        }


        function FormIsValid() {
            var isNotValid = validateInputsParameters([
                "#ProjectManager",
                "#ProjectNumber",
                "#ProjectDescription",
                "#_EstimatedAmount",
                "#ExpiryDate",
                "#CommencementDate"
            ]);
            console.log(isNotValid)
            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }
            return true
        }


        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }


        function GetFormData() {
            $.ajax({
                type: "GET",
                url:'@Url.Action("GetOneRecord", "ForceAccountPayment")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                data: { id: '@ViewBag.Id' },
                success: function (response) {
                    console.log(response)
                    var d = response.data;
                    $("#CostCentre").val(d.CostCentre);
                    $("#ProjectDescription").val(d.ProjectDescription);
                    $("#_EstimatedAmount").val(toLabel(d.EstimatedProjectAmount));
                    $("#EstimatedAmount").val(toLabel(d.EstimatedProjectAmount));
                    $("#ProjectManager").val(d.ProjectManager);
                    $("#ProjectNumber").val(d.ProjectNumber);
                    $("#ExpiryDate").val(d.ExpiryDateFormatted);
                    $("#CommencementDate").val(d.CommencementDateFormatted);
                    $("#FundCategory").val(d.FundCategory);
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
    </script>
}