@model IFMIS.Areas.Gacs.Models.EliminationListVM
@{
    ViewBag.Title = "Un Posting Elimination List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="form-group" style="padding-top: 30px; padding-left:15px">
                                <div class="row">


                                    <div class="col-md-2">
                                        <select id="FinancialYear" class="form-control select2">
                                            <option value="Select Financial Year" selected="selected">--Select Financial Year--</option>
                                            @foreach (var financiallist in ViewBag.financialList)
                                            {
                                            <option value='@financiallist.fiscal_year'>
                                                @financiallist.fiscal_year
                                            </option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-1">
                                        <button type="submit" class="btn action-btn btn btn-info" id="submit" onclick="loadEliminationDetails()">
                                            <i class="fa fa-save"></i>
                                            Search
                                        </button>
                                    </div>

                                    <div class="col-md-1">
                                        <button class="btn btn-info" id="unpostingAllEliminate" onclick="unpostingAllEliminate()">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Unpost Elimination
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <hr />

                            <table id="dt_trxsummary" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Financial Year</th>
                                        <th>Entity Code</th>
                                        <th>Entity Description</th>
                                        <th style="text-align:right">Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific{
    <script>
        var dt_trxsummary = $('#dt_trxsummary').dataTable({
            "language": {
                "emptyTable": '<strong id="loader">No matching records found...</strong>',
                "zeroRecords": "No matching records found"
            }
        });
        $("dt_trxsummary_wrapper .dt-toolbar").remove();


        debugger;
        var data = []
        function loadEliminationDetails() {
            $("#loader").text("Loading...")
            var financialYear = $("#FinancialYear").val();
            var url = '@Url.Action("GetPostingEliminationByInstSummary", "Eliminations")';
            $.ajax({
                type: "get",
                url: url,
                data: {financialYear: financialYear },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    console.log(data);
                    dt_trxsummary.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        var Id = data[i]["institutionCode"]
                        dt_trxsummary.fnAddData([i + 1,
                            data[i]["financialYear"],
                            data[i]["institutionCode"],
                            data[i]["entityName"],
                            data[i]["totalAmount"].toLocaleString(),
                              '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                              <li><a href="#" onclick="view(' + i + ')">View Detail</a></li>\
                              <li><a href="#" onclick="unpostingByInstitution(' + i + ')">UnPost Elimination</a></li>\
                            </ul>\
                        </div>'
                        ]);
                    }

                    if (data.length == 0) {
                        $("#loader").text("No matching records found")
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }




        function unpostingByInstitution(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                title: 'UnPosting',
                text: "Are you sure you want to UnPosting this elimination",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    unpostingElimination(data[i]["institutionCode"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function unpostingElimination(institutionCode) {
            var url = '@Url.Action("UnpostingEliminationByInstitution", "Eliminations")'
            $.ajax({
                type: "post",
                url: url,
                data: { institutionCode },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("UnPosting Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }



        function unpostingAllEliminate() {

            swal({
                title: 'UnPosting Elimination',
                text: "Are you sure you want to UnPosting All elimination",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    UnPostAllElimination();
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }


        function UnPostAllElimination() {
            var url = '@Url.Action("UnpostingAllElimination", "Eliminations")'
            $.ajax({
                type: "post",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("UnPosting Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        var checkedRows = [];
        function rowChecked(rowId) {
            debugger;
            console.log(rowId)
            if ($("#row-" + rowId).is(":checked")) {
                checkedRows.push(rowId);
            } else {
                remove(checkedRows, rowId);

            }

        }

        function checkAll() {
            debugger;
            checkedRows = [];
            if ($("#checkall").is(":checked")) {
                for (var i = 0; i < data.length; i++) {
                    var Id = data[i]["institutionCode"]
                    checkedRows.push(Id);
                    $("#row-" + Id).prop('checked', true);
                }
            } else {
                for (var i = 0; i < data.length; i++) {
                    var Id = data[i]["institutionCode"]
                    $("#row-" + Id).prop('checked', false);
                }
            }
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }


    </script>
}
