@model IEnumerable<IFMIS.Areas.LoanMod.Models.LoanMonitoringVM>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Change Status </h2>
                    </header>
                    <div>

                        <hr class="simple" />
                        <div class="table-responsive">
                            @{
                                int i = 0;
                                int j = 0;
                                decimal? totalAmount = 0;
                                decimal? operationalAmountGL = 0;
                            }

                            <div class="col-md-12">
                                <section id="widget-grid">
                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">

                                            <div class="widget-body" style="padding-top:10px">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <fieldset class="scheduler-border">
                                                            <legend class="scheduler-border">Customer Information</legend>
                                                            <table>
                                                                <tr>
                                                                    <th>Customer Type: </th>
                                                                    <td>@ViewBag.customerType</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Customer Name: </th>
                                                                    <td>@ViewBag.customer.CustomerName</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Telephone Number: </th>
                                                                    <td>@ViewBag.customer.PhoneNo</td>
                                                                </tr>
                                                                @*<tr>
                                                                        <th>Gender:</th>
                                                                        <td>@ViewBag.customer.Gender</td>
                                                                    </tr>*@
                                                                <tr>
                                                                    <th>Tin Number:</th>
                                                                    <td>@ViewBag.customer.TinNo</td>
                                                                </tr>
                                                                @*<tr>
                                                                        <th>District:</th>
                                                                        <td>@ViewBag.customer.District</td>
                                                                    </tr>*@
                                                                @*<tr>
                                                                        <th>Region:</th>
                                                                        <td>@ViewBag.customer.Region</td>
                                                                    </tr>*@
                                                                <tr>
                                                                    <th>PhysicalAddress </th>
                                                                    <td>@ViewBag.customer.PhysicalAddress </td>
                                                                </tr>
                                                                @*<tr>
                                                                        <th>OverallStatus </th>
                                                                        <td>@ViewBag.customer.OverallStatus </td>
                                                                    </tr>*@

                                                                <tr>
                                                                    <th>CustomerLocation</th>
                                                                    <td>@ViewBag.customer.CustomerLocation </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>PlotNo</th>
                                                                    <td>@ViewBag.customer.PlotNo </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Status: </th>
                                                                    <td>@ViewBag.customer.Status</td>
                                                                </tr>
                                                            </table>
                                                        </fieldset>
                                                        <fieldset class="scheduler-border">
                                                            <legend class="scheduler-border">Loan Application Information</legend>
                                                            <table>
                                                                @*<tr>
                                                                        <th>Customer Name: </th>
                                                                        <td>@ViewBag.LoanApplication.CustomerName</td>
                                                                    </tr>*@
                                                                @*<tr>
                                                                        <th>Telephone Number: </th>
                                                                        <td>@ViewBag.LoanApplication.PhoneNo</td>
                                                                    </tr>*@

                                                                <tr>
                                                                    <th>Application Number: </th>
                                                                    <td>@ViewBag.LoanApplication.ApplicationNo</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Loan Purpose:</th>
                                                                    <td>@ViewBag.LoanApplication.LoanPurpose</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Applied Amount:</th>
                                                                    <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.AppliedLoanAmount)</td>
                                                                </tr>
                                                                @if (ViewBag.LoanApplication.LoanApprovedAmount != null)
                                                                {
                                                                    <tr>
                                                                        <th>Approved Amount:</th>
                                                                        <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanApprovedAmount)</td>
                                                                    </tr>

                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <th>Approved Amount:</th>
                                                                        <td>0.00</td>
                                                                    </tr>
                                                                }

                                                                @if (ViewBag.LoanApplication.DisbursedAmount != null)
                                                                {
                                                                    <tr>
                                                                        <th>Disbursed Amount:</th>
                                                                        <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.DisbursedAmount)</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <th>Approved Amount:</th>
                                                                        <td>0.00</td>
                                                                    </tr>
                                                                }

                                                                @if (ViewBag.LoanApplication.TotalInterestAmount != null)
                                                                {
                                                                    <tr>
                                                                        <th>Interest Amount:</th>
                                                                        <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.TotalInterestAmount)</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <th>Interest Amount:</th>
                                                                        <td>0.00</td>
                                                                    </tr>
                                                                }

                                                                @*<tr>
                                                                        <th>Interest Amount </th>
                                                                        <td> </td>
                                                                    </tr>*@

                                                                @if (ViewBag.LoanApplication.BillAmount != null)
                                                                {
                                                                    <tr>
                                                                        <th>Loan Amount + Interest Amount:</th>
                                                                        <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.BillAmount)</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <th>Loan Amount + Interest Amount:</th>
                                                                        <td>0.00</td>
                                                                    </tr>
                                                                }

                                                                @if (ViewBag.LoanApplication.TotalAmountPaid != null)
                                                                {
                                                                    <tr>
                                                                        <th>Total Amount Paid:</th>
                                                                        <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.TotalAmountPaid)</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <th>Total Amount Paid:</th>
                                                                        <td>0.00</td>
                                                                    </tr>
                                                                }


                                                                @if (ViewBag.LoanApplication.LoanBalance != null)
                                                                {
                                                                    <tr>
                                                                        <th>Loan Balance:</th>
                                                                        <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanBalance)</td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <th>Loan Balance:</th>
                                                                        <td>0.00</td>
                                                                    </tr>
                                                                }


                                                                <tr>
                                                                    <th>Status: </th>
                                                                    <td>@ViewBag.LoanApplication.OverAllStatus</td>
                                                                </tr>
                                                            </table>
                                                        </fieldset>

                                                    </div>
                                                    <div class="col-md-6">

                                                        <fieldset class="scheduler-border">
                                                            <legend class="scheduler-border">Change Status</legend>
                                                            <table>


                                                                <tr>
                                                                    <td class="form-label">
                                                                        Life Status:
                                                                        <i class="fa fa-times" style="color:white" id="LifeStatus1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <select id="LifeStatus" style="width:300px">
                                                                            <option value="Choose Status" selected="selected">@ViewBag.LifeStatusNormal</option>
                                                                            @foreach (var Lifestatus in ViewBag.LifeStatus)
                                                                            {
                                                                                <option value='@Lifestatus.Name'>@Lifestatus.Name</option>
                                                                            }
                                                                        </select>
                                                                    </td>
                                                                </tr>

                                                                <tr id="Deseased">
                                                                    <td class="form-label">
                                                                        Estate Administrator:
                                                                        <i class="fa fa-times" style="color:white" id="EstateAdministrator1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <input id="EstateAdministrator" style="width:300px;" type="text">
                                                                    </td>
                                                                </tr>

                                                                <tr id="Bankruptcy">
                                                                    <td class="form-label">
                                                                        Liquidator:
                                                                        <i class="fa fa-times" style="color:white" id="Liquidator1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <input id="Liquidator" style="width:300px;" type="text">
                                                                    </td>
                                                                </tr>

                                                                <tr id="both1">
                                                                    <td class="form-label">
                                                                        Address:
                                                                        <i class="fa fa-times" style="color:white" id="Address1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <input id="Address" style="width:300px;" type="text">
                                                                    </td>
                                                                </tr>

                                                                <tr id="both2">
                                                                    <td class="form-label">
                                                                        Phone Number:
                                                                        <i class="fa fa-times" style="color:white" id="Phone1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <input id="Phone" style="width:300px;" type="text">
                                                                    </td>
                                                                </tr>

                                                                <tr id="both3">
                                                                    <td class="form-label">
                                                                        Attachment
                                                                        <i class="fa fa-times" style="color:white" id="Attachment1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input type="file" name="Attachment1" id="Attachment1" class="input" style="width:300px" />
                                                                        </div>
                                                                    </td>

                                                                </tr>

                                                                <tr>
                                                                    <td class="form-label">
                                                                        Monitoring Status:
                                                                        <i class="fa fa-times" style="color:white" id="Status1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <select id="Status" style="width:300px">
                                                                            <option value="Please choose Status" selected="selected"></option>
                                                                            @foreach (var status in ViewBag.Status)
                                                                            {
                                                                                <option value='@status.LoanStatusName'>@status.LoanStatusName</option>
                                                                            }
                                                                        </select>
                                                                    </td>
                                                                </tr>


                                                                <tr id="Reschedule1">
                                                                    <td class="form-label">
                                                                        Rescheduling Type:
                                                                        <i class="fa fa-times" style="color:white" id="ReschedulingTypeName1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <select id="ReschedulingTypeName" style="width:300px">
                                                                            <option value="Please choose Status" selected="selected">Select Status</option>
                                                                            @foreach (var rescheduleType in ViewBag.RescheduleType)
                                                                            {
                                                                                <option value='@rescheduleType.ReschedulingTypeCode'>@rescheduleType.ReschedulingTypeName</option>
                                                                            }
                                                                        </select>
                                                                    </td>
                                                                </tr>

                                                                <tr id="Reschedule2">
                                                                    <td class="form-label">
                                                                        Start Date:
                                                                        <i class="fa fa-times" style="color:white" id="StartDate1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <div class="flatpickr3 date-group">
                                                                            <input type="text" placeholder="Select Date.."
                                                                                   data-input
                                                                                   style="width:262px;padding-left:10px;border:none"
                                                                                   autocomplete="off" id="StartDate">
                                                                            <a class="input-button" title="open" data-toggle href="#">
                                                                                <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr id="Reschedule3">
                                                                    <td class="form-label">
                                                                        Repayment Period(In Month):
                                                                        <i class="fa fa-times" style="color:white" id="RepaymentPeriod1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <input id="RepaymentPeriod" style="width:300px;" type="text">
                                                                    </td>
                                                                </tr>

                                                                <tr id="Reschedule4">
                                                                    <td class="form-label">
                                                                        Repayment Frequency:
                                                                        <i class="fa fa-times" style="color:white" id="RepaymentFrequency1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <select id="RepaymentFrequency" style="width:300px">
                                                                            <option value="Please choose frequency" selected="selected">Select Frequency</option>
                                                                            <option value="Monthly">Monthly</option>
                                                                            <option value="Quartely">Quartely</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>

                                                                @*<tr id="auctioneer1">
                                                                        <td class="form-label">
                                                                            Start Date:
                                                                            <i class="fa fa-times" style="color:white" id="audatestart1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <div class="flatpickr date-group">
                                                                                <input type="text" placeholder="Select Date.."
                                                                                       data-input
                                                                                       style="width:262px;padding-left:10px;border:none"
                                                                                       autocomplete="off" id="audatestart">
                                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                                    <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>*@


                                                                @*<tr id="auctioneer2">
                                                                        <td class="form-label">
                                                                            End Date:
                                                                            <i class="fa fa-times" style="color:white" id="audateend1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <div class="flatpickr date-group">
                                                                                <input type="text" placeholder="Select Date.."
                                                                                       data-input
                                                                                       style="width:262px;padding-left:10px;border:none"
                                                                                       autocomplete="off" id="audateend">
                                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                                    <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>*@


                                                                @*<tr id="auctioneer3">
                                                                        <td class="form-label">
                                                                            Date of auction:
                                                                            <i class="fa fa-times" style="color:white" id="dateauction1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <div class="flatpickr date-group">
                                                                                <input type="text" placeholder="Select Date.."
                                                                                       data-input
                                                                                       style="width:262px;padding-left:10px;border:none"
                                                                                       autocomplete="off" id="dateauction">
                                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                                    <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>*@

                                                                @*<tr id="auctioneer4">
                                                                        <td class="form-label">
                                                                            Name of Auctioneer:
                                                                            <i class="fa fa-times" style="color:white" id="nameAuctioner1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <input id="nameAuctioner" style="width:300px;" type="text">
                                                                        </td>
                                                                    </tr>

                                                                    <tr id="debtCollector1">
                                                                        <td class="form-label">
                                                                            Name of Debt Collector:
                                                                            <i class="fa fa-times" style="color:white" id="namedebtcollector1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <input id="namedebtcollector" style="width:300px;" type="text">
                                                                        </td>
                                                                    </tr>


                                                                    <tr id="auctioneer5">
                                                                        <td class="form-label">
                                                                            Rate of Payment:
                                                                            <i class="fa fa-times" style="color:white" id="rateofPayment1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <input id="rateofPayment" style="width:300px;" type="text">
                                                                        </td>
                                                                    </tr>*@

                                                                @*<tr id="case1">
                                                                        <td class="form-label">
                                                                            Case Description
                                                                            <i class="fa fa-times" style="color:white;" id="casedescription1"></i>
                                                                        </td>
                                                                        <td>
                                                                            <textarea style="width:300px" rows="2" id="casedescription" maxlength="350"></textarea><br />
                                                                        </td>
                                                                    </tr>*@
                                                                <tr>
                                                                    <td class="form-label">
                                                                        Reasons:
                                                                        <i class="fa fa-times" style="color:white" id="Reasons1"></i>
                                                                    </td>
                                                                    <td>
                                                                        <textarea style="width:300px" rows="2" id="Reason" maxlength="350"></textarea><br />
                                                                    </td>
                                                                </tr>

                                                                @*<tr>
                                                                        <td class="form-label">
                                                                            Attachment
                                                                            <i class="fa fa-times" style="color:white" id="Attachment"></i>
                                                                        </td>
                                                                        <td>

                                                                            <input id="Attachment" type="file" multiple="multiple">
                                                                            <div id="divFiles"></div>
                                                                        </td>
                                                                    </tr>*@

                                                            </table>
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-10">
                                                                    <a class="btn btn-info" href='@Url.Action("LoanMonitoringList","LoanMonitoring")' style="margin-right:5px">
                                                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                                    </a>
                                                                    <button type="submit" class="btn btn-info" id="btnSave">
                                                                        <i class="fa fa-save"></i>Save

                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>
        $('#Reschedule1').toggle(false)
        $('#Reschedule2').toggle(false)
        $('#Reschedule3').toggle(false)
        $('#Reschedule4').toggle(false)
        $('#auctioneer1').toggle(false)
        $('#auctioneer2').toggle(false)
        $('#auctioneer3').toggle(false)
        $('#auctioneer4').toggle(false)
        $('#auctioneer5').toggle(false)
        $('#debtCollector1').toggle(false)
        $('#case1').toggle(false)

        $('#Deseased').toggle(false)
        $('#Bankruptcy').toggle(false)
        $('#both1').toggle(false)
        $('#both2').toggle(false)
        $('#both3').toggle(false)

        $("#LifeStatus").change(function () {
            var lifestatus = $("#LifeStatus").val();
            if (lifestatus == "Deseased") {
                $('#Deseased').toggle(true)
                $('#both1').toggle(true)
                $('#both2').toggle(true)
                $('#both3').toggle(true)
                $('#Bankruptcy').toggle(false)
                $("#EstateAdministrator").val("")
                $("#Liquidator").val("")
                $("#Phone").val("")
                $("#Address").val("")

            } else if (lifestatus == "Bankruptcy") {
                $('#Bankruptcy').toggle(true)
                $('#both1').toggle(true)
                $('#both2').toggle(true)
                $('#both3').toggle(true)
                $('#Deseased').toggle(false)
                $("#EstateAdministrator").val("")
                $("#Liquidator").val("")
                $("#Phone").val("")
                $("#Address").val("")
            } else {
                $('#Deseased').toggle(false)
                $('#Bankruptcy').toggle(false)
                $('#both1').toggle(false)
                $('#both2').toggle(false)
                $('#both3').toggle(false)
                $("#EstateAdministrator").val("")
                $("#Liquidator").val("")
                $("#Phone").val("")
                $("#Address").val("")
            }
        });


        $("#Status").change(function () {
            var status = $("#Status").val();
            if (status == "Reschedule") {
                $('#Reschedule1').toggle(true)
                $('#Reschedule2').toggle(false)
                $('#Reschedule3').toggle(false)
                $('#Reschedule4').toggle(false)
                $('#auctioneer1').toggle(false)
                $('#auctioneer2').toggle(false)
                $('#auctioneer3').toggle(false)
                $('#auctioneer4').toggle(false)
                $('#auctioneer5').toggle(false)
                $('#debtCollector1').toggle(false)
                $('#case1').toggle(false)
            } else if (status == "Auction") {
                // $('#Reschedule2').toggle(true)
                $('#auctioneer1').toggle(true)
                $('#auctioneer2').toggle(true)
                $('#auctioneer3').toggle(true)
                $('#auctioneer4').toggle(true)
                $('#auctioneer5').toggle(true)
                $('#Reschedule1').toggle(false)
                $('#Reschedule2').toggle(false)
                $('#Reschedule3').toggle(false)
                $('#Reschedule4').toggle(false)
                $('#debtCollector1').toggle(false)
                $('#case1').toggle(false)
            } else if (status == "Debt Collector") {
                $('#debtCollector1').toggle(true)
                $('#auctioneer1').toggle(true)
                $('#auctioneer2').toggle(true)
                $('#auctioneer3').toggle(false)
                $('#auctioneer4').toggle(false)
                $('#auctioneer5').toggle(true)
                $('#Reschedule1').toggle(false)
                $('#Reschedule2').toggle(false)
                $('#Reschedule3').toggle(false)
                $('#Reschedule4').toggle(false)
            } else if (status == "Legal") {
                $('#Reschedule1').toggle(false)
                $('#Reschedule2').toggle(false)
                $('#Reschedule3').toggle(false)
                $('#Reschedule4').toggle(false)
                $('#auctioneer1').toggle(false)
                $('#auctioneer2').toggle(false)
                $('#auctioneer3').toggle(false)
                $('#auctioneer4').toggle(false)
                $('#auctioneer5').toggle(false)
                $('#debtCollector1').toggle(false)
                $('#case1').toggle(true)
             } else if (status == "Normal") {
                    $('#Reschedule1').toggle(false)
                    $('#Reschedule2').toggle(false)
                    $('#Reschedule3').toggle(false)
                    $('#Reschedule4').toggle(false)
                    $('#auctioneer1').toggle(false)
                    $('#auctioneer2').toggle(false)
                    $('#auctioneer3').toggle(false)
                    $('#auctioneer4').toggle(false)
                    $('#auctioneer5').toggle(false)
                    $('#debtCollector1').toggle(false)
                    $('#case1').toggle(false)
                //} else if (status == "Life Status") {
                //    $('#Reschedule1').toggle(false)
                //    $('#Reschedule2').toggle(false)
                //    $('#auctioneer1').toggle(false)
                //    $('#auctioneer2').toggle(false)
                //    $('#auctioneer3').toggle(false)
                //    $('#auctioneer4').toggle(false)
                //    $('#auctioneer5').toggle(false)
                //    $('#debtCollector1').toggle(false)
                //    $('#case1').toggle(false)
                //}
            }
        });



        $("#ReschedulingTypeName").change(function () {
            var status = $("#ReschedulingTypeName").val();
            if (status == "ShiftRepayment") {
                $('#Reschedule2').toggle(true)
                $('#Reschedule3').toggle(false)
                $('#Reschedule4').toggle(false)
                $('#auctioneer1').toggle(false)
                $('#auctioneer2').toggle(false)
                $('#auctioneer3').toggle(false)
                $('#auctioneer4').toggle(false)
                $('#auctioneer5').toggle(false)
                $('#debtCollector1').toggle(false)
                $('#case1').toggle(false)
            } else {
                $('#Reschedule2').toggle(true)
                $('#Reschedule3').toggle(true)
                $('#Reschedule4').toggle(true)
                $('#auctioneer1').toggle(false)
                $('#auctioneer2').toggle(false)
                $('#auctioneer3').toggle(false)
                $('#auctioneer4').toggle(false)
                $('#auctioneer5').toggle(false)
                $('#debtCollector1').toggle(false)
                $('#case1').toggle(false)
            }
        });
        //Save button click function
        $("#btnSave").click(function () {

            var form_data = {
                "LifeStatus": $("#LifeStatus").val(),
                "Status": $("#Status").val(),
                "StartDate": $("#StartDate").val(),
                "LoanReschedulingType": $("#ReschedulingTypeName").val(),
                "RepaymentPeriod": $("#RepaymentPeriod").val(),
                "RepaymentFrequency": $("#RepaymentFrequency").val(),
                "Reason": $("#Reason").val(),

                "EstateAdministrator": $("#EstateAdministrator").val(),
                "Liquidator": $("#Liquidator").val(),
                "Phone": $("#Phone").val(),
                "Address": $("#Address").val(),

                "LoanApplicationId": '@ViewBag.LoanApplication.LoanApplicationId',
                "ApplicationNo": '@ViewBag.LoanApplication.ApplicationNo',
                "LoanPurpose": '@ViewBag.LoanApplication.LoanPurpose',
                "LoanApprovedAmount": '@ViewBag.LoanApplication.LoanApprovedAmount',
                "LoanCustomerId": '@ViewBag.LoanApplication.LoanCustomerId',
                "CustomerName": '@ViewBag.LoanApplication.CustomerName'
            }
            console.log(form_data);
            var url = '@Url.Action("ChangeStatus", "LoanMonitoring")';
            var urlList = '@Url.Action("LoanMonitoringList", "LoanMonitoring")';
            $.ajax({
                type: "post",
                url: url,
                data: form_data,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = urlList;
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        });

    </script>

}
