@model IFMIS.Areas.RecurrentPayment.Models.BOTPaymentSlipVM
<style type="text/css">
    .tbl table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div class="row">
    <div class="col-md-8" style="text-align: center">
		 <img style="width: 150px; height: 150px" src=@Server.MapPath("~/Media/Images/nembo_taifa.jpg") class="img-responsive" />
        <h2>
            @Model.GroupName
        </h2>
        <h3>
            PAYMENT INSTRUCTION SLIP
        </h3>
    </div>
</div>

<div style="padding-top: 100px">
    <table style="border: 1px solid #000000; border-collapse: collapse; width: 100%">
        <tr>
            <th colspan="4" style="text-align: left">
                PREFUNDING DETAILS
            </th>
        </tr>
        <tr>
            <th>
                REFERENCE
            </th>
            <th>
                AMOUNT FUNDED
            </th>
            <th>
                AMOUNT UTILISED
            </th>
            <th>
                AVAILABLE AMOUNT
            </th>
        </tr>

        <tr>
            <td>
                <center>@Model.PaymentReference</center>
            </td>
            <td style="text-align: right">
                @string.Format("{0:n}", Model.AmountFunded)
            </td>
            <td style="text-align: right">
                @string.Format("{0:n}", Model.AmountUtilised)
            </td>
            <td style="text-align: right">
                @string.Format("{0:n}", Model.AvailableAmount)
            </td>
        </tr>
    </table>
</div>

<div style="padding-top: 100px">
    <table style="border: 1px solid #000000; border-collapse: collapse; width: 100%; padding-top: 200px">
        <tr>
            <th colspan="4" style="text-align: left">
                PAYMENT DETAILS
            </th>
        </tr>
        <tr>
            <th>
                PAYMENT DATE
            </th>
            <th>
                PAYMENT TYPE
            </th>
            <th>
                NO. RECORDS
            </th>
            <th>
                AMOUNT
            </th>
        </tr>

        <tr>
            <td>
                <center>@Model.PaymentDate.ToString("dd-MM-yyyy")</center>
            </td>
            <td>
                <center>@Model.PaymentType</center> 
            </td>
            <td style="text-align: right">
                @string.Format("{0:N0}", Model.NumOfTrxs)
            </td>
            <td style="text-align: right">
                @string.Format("{0:N2}", Model.Amount)
            </td>
        </tr>
    </table>

    <div style="padding-top: 200px">
        <table style="border-style: none">
            <tr>
                <td style="border-style: none">SIGNATURE:</td>
                @if (Model.VoteCode != "21")
                {
                    <td style="border-style: none; padding-left: 50px">
                        ____________________________
                    </td>
                }
                <td style="border-style: none; padding-left: 20px">
                    ____________________________
                </td>
                <td style="border-style: none; padding-left: 20px">
                    ____________________________
                </td>
            </tr>
            <tr>
                <td style="border-style: none">NAME:</td>
                @if (Model.VoteCode != "21")
                {
                    <td style="border-style: none; padding-left: 50px; text-align: center">
                        @Model.Originator
                    </td>
                }
                <td style="border-style: none; padding-left: 20px; text-align: center">
                    @Model.Verifier
                </td>
                <td style="border-style: none; padding-left: 20px; text-align: center">
                    @Model.Approver
                </td>
            </tr>
            <tr>
                <td style="border-style: none"></td>
                @if (Model.VoteCode != "21")
                {
                    <td style="border-style: none; padding-left: 50px; text-align: center">
                        ORIGINATOR
                    </td>
                }
                <td style="border-style: none; padding-left: 20px; text-align: center">
                    VERIFIER
                </td>
                <td style="border-style: none; padding-left: 20px; text-align: center">
                    AUTHORIZER
                </td>
            </tr>
        </table>
    </div>

    <div style="padding-top: 200px">
        <table style="border-style: none">
            <tr>
                <td style="border-style: none">SIGNATURE:</td>
                <td style="border-style: none; padding-left: 50px">
                    ____________________________
                </td>
                <td style="border-style: none; padding-left: 20px">
                    ____________________________
                </td>
                <td style="border-style: none; padding-left: 20px">
                    ____________________________
                </td>
            </tr>
            <tr>
                <td style="border-style: none; padding-top: 30px">NAME:</td>
                <td style="border-style: none; padding-left: 50px; padding-top: 30px; text-align: center">
                    ____________________________
                </td>
                <td style="border-style: none; padding-left: 20px; padding-top: 30px; text-align: center">
                    ____________________________
                </td>
                <td style="border-style: none; padding-left: 20px; padding-top: 30px; text-align: center">
                    ____________________________
                </td>
            </tr>
            <tr>
                <td style="border-style: none"></td>
                <td style="border-style: none; padding-left: 50px; text-align: center">
                    BOT ORIGINATOR
                </td>
                <td style="border-style: none; padding-left: 20px; text-align: center">
                    BOT VERIFIER
                </td>
                <td style="border-style: none; padding-left: 20px; text-align: center">
                    BOT AUTHORIZER
                </td>
            </tr>
        </table>
    </div>
</div>
