@model IFMIS.Areas.IFMISTZ.Models.TraPayee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TraPayee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TraPayeeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TraPayeeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TraPayeeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TraPayeeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TraPayeeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
