@model IFMIS.Areas.PayrollManagement.Models.Company
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; margin-top:30px">

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Company Details</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(c => c.CompanyName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.CompanyName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.CompanyCode)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.CompanyCode)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.RegNo)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.RegNo)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.POBox)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.POBox)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.City)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.City)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.Website)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.Website)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.Email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.Email)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.Telephone)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.Telephone)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.Fax)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.Fax)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.CreatedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.CreatedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(c => c.CreatedDate)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(c => c.CreatedDate, "_ShortDateTime")
                                    </dd>
                                    @if (Model.ModifiedDate.HasValue)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(c => c.ModifiedBy)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(c => c.ModifiedBy)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(c => c.ModifiedDate)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(c => c.ModifiedDate, "_ShortDateTime")
                                        </dd>
                                    }
                                </dl>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1">
                                        <a href="@Request.UrlReferrer" class="btn btn-info" style="float: left; margin-left: 74px">
                                            <i class="fa fa-arrow-left"></i>
                                            Back
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
