@{
    ViewBag.Title = "Create Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input {
        height: 36px;
    }

    input.error {
        border: 1px solid red;
    }

    label.error {
        color: red;
    }
</style>
<!-- MAIN CONTENT -->
<div id="divLoader"></div>
<div id="content" style="margin: 5px; margin-top:30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form id="addCompany" class="form-horizontal">
                                <table style="width: 80%;">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Company Name
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="CompanyName" name="CompanyName" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Company Code
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="CompanyCode" name="CompanyCode" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Reg Number
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="RegNo" name="RegNo" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Website
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="Website" name="Website" placeholder="http://www.xyz.com" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Postal Code
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="POBox" name="POBox" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    City
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="City" name="City" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Telephone
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="Telephone" name="Telephone" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Fax Mail
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="Fax" name="Fax" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Email Address
                                                </label>
                                                <div class="col-md-8">
                                                    <input id="Email" name="Email" placeholder="demo@server.com" class="form-control padding-10 input" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <a href="@Url.Action("CompanyList", "Companies")" class="btn btn-info" style="float: left; margin-left: 69px;">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                            <button class="btn btn-info" type="submit" style="float: left; margin-left: 5px;">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    @Scripts.Render("~/Scripts/libs/jquery.validate.min.js")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        $(document).ready(function(){
            var vm = {};

            var validator = $("#addCompany").validate({
                rules:{
                    CompanyName: { required: true, maxlength: 50 },
                    CompanyCode: { required: true, maxlength: 30 },
                    RegNo: { required: true, maxlength: 20 },
                    Website: { maxlength: 50, url: true },
                    POBox: { digits: true },
                    City: { required: true, maxlength: 50 },
                    Telephone: { digits: true, maxlength: 25 },
                    Fax: { digits: true, maxlength: 25 },
                    Email: { email: true, maxlength: 50 }
                },
                messages: {
                    CompanyName: {
                        maxlength: "This field should not exceed {0} characters."
                    },

                    CompanyCode: {
                        maxlength: "This field should not exceed {0} characters."
                    },

                    RegNo: {
                        maxlength: "This field should not exceed {0} characters."
                    },

                    Website: {
                        maxlength: "This field should not exceed {0} characters.",
                        url: "This field requires a valid URL."
                    },

                    POBox: {
                        digits: "This field requires digits only."
                    },

                    City: {
                        maxlength: "This field should not exceed {0} characters."
                    },

                    Telephone: {
                        digits: "This field requires digits only.",
                        maxlength: "This field should not exceed {0} characters."
                    },

                    Fax: {
                        digits: "This field requires digits only.",
                        maxlength: "This field should not exceed {0} characters."
                    },

                    Email: {
                        email: "This field requires valid email address.",
                        maxlength: "This field should not exceed {0} characters."
                    }

                },
                submitHandler: function(){
                    vm.CompanyName = $("#CompanyName").val().trim().toUpperCase();
                    vm.CompanyCode = $("#CompanyCode").val().trim().toUpperCase();
                    vm.RegNo = $("#RegNo").val().trim().toUpperCase();
                    vm.Website = $("#Website").val().trim();
                    vm.POBox = $("#POBox").val().trim();
                    vm.City = $("#City").val().trim().toUpperCase();
                    vm.Telephone = $("#Telephone").val().trim();
                    vm.Fax = $("#Fax").val().trim();
                    vm.Email = $("#Email").val().trim();
                    vm.IsActive = true;
                    //vm.City = $("#InstitutionCode").val().trim();

                    $("#divLoader").show();

                    $.ajax({
                        url: '@Url.Action("CreateCompany", "Companies")',
                        method: "POST",
                        data: vm,
                        success: function (response) {
                            $("#divLoader").hide();
                            if (response === "success") {
                                swal("Saved Successfully!", { icon: "success" })
                                    .then(() => {
                                        vm = {};
                                        validator.resetForm();
                                        window.location.href = '@Url.Action("CompanyList", "Companies")';
                                    });
                            } else {
                                swal(response, { icon: "info" });
                            }
                        },
                        failure: function(error) {
                            swal(error, { icon: "error" });
                        }
                    });

                    return false;
                }
            });
        });
    </script>
}
