@model IFMIS.Areas.PayrollManagement.Models.Company
@{
    ViewBag.Title = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input {
        height: 36px;
    }

    input.error {
        border: 1px solid red;
    }

    label.error {
        color: red;
    }
</style>
<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; margin-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="form" class="form-horizontal">
                                <table style="width: 80%;">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.HiddenFor(c => c.CompanyId)
                                                @Html.LabelFor(c => c.CompanyName, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.CompanyName, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.CompanyCode, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.CompanyCode, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.RegNo, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.RegNo, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Website, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.Website, new { @class = "form-control padding-10 input", placeholder = "http://www.xyz.com" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.POBox, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.POBox, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.City, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.City, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Telephone, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.Telephone, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Fax, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.Fax, new { @class = "form-control padding-10 input" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(c => c.Email, new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control padding-10 input", placeholder = "demo@server.com" })
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="control-label col-md-4"></label>
                                                <div class="col-md-8">
                                                    @Html.CheckBoxFor(c => c.IsActive) Is Active?
                                                </div>
                                            </div>
                                        </td>
                                        @Html.HiddenFor(c => c.CompanyId)
                                    </tr>
                                </table>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <a href="@Url.Action("CompanyList", "Companies")" class="btn btn-info" style="float: left; margin-left: 69px;">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                            <button class="btn btn-info" type="button" onclick="addPaymentcode()" style="float: left; margin-left: 5px;">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>
     var addPaymentcode = function () {
     
     var url = '@Url.Action("UpdateCompany", "Companies")';
     var url1 = '@Url.Action("CompanyList", "Companies")'
     var model = $("#form").serialize();
     $.ajax({
         type: "POST",
         url: url,
         data: model,
         success: function (response) {
             if (response == "success") {
                 swal("Saved Successfully!", { icon: "success" })
                     .then((value) => {
                         window.location.href = url1;
                     })
             } else if (response == "exist") {
                 swal("Already Exist!", { icon: "warning" })
                    .then((value) => {
                        location.reload();
                    })
             }
             else {
                 swal("Error on Saving!", { icon: "error" })
                     .then((value) => {
                         location.reload();
                     })
             }
         },
         error: function (response) {
             swal("Error on Saving!")
             location.reload();
         }
     });
 };
</script>
}
