@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.ManualMatchedVM>

                            @if (Model.Count() > 0)
                            {
                                <div class="table-responsive">
                                    @{
                                        int i = 0;
                                        decimal? totalAmount = 0;
                                        decimal? totalAmountBank = 0;
                                        decimal? operationalAmountGL = 0;
                                    }

                                    <table style="width:50%">
                                        <tr>
                                            <td>
                                                <strong>ACCOUNT NUMBER:</strong>
                                                @Model.Select(a => a.BankAccount).FirstOrDefault()
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>ACCOUNT NAME  :</strong>
                                                @Model.Select(a => a.AccountNameGL).FirstOrDefault()
                                            </td>
                                        </tr>
                                    </table>
                                    <br />
                                    @foreach (var group in Model.GroupBy(a => a.TransactionType))
                                    {
                                        @*<div class="group-header">
                                           
                                            <span class="h2">@group.Key</span>

                                        </div>*@

                                        <div class="group-header">
                                            @if (group.Key.Trim() == "CR")
                    {
                                                <span class="h3">Payment</span>
                                                @*<span class="badge bg-success">@group.Count()</span>*@
                                            }
                                            else if (group.Key.Trim() == "DR")
                                            {
                                                <span class="h3">Receipt</span>
                                                @*<span class="badge bg-success">@group.Count()</span>*@
                                            }

                                        </div>

                                        <table class="table table-bordered table-condensed">
                                            <thead>
                                                <tr style="background:#f5f5f5; color:#000000">
                                                    <th colspan="5" style="text-align:center"><b>GL</b></th>
                                                    <th colspan="5" style="text-align:center"><b>Bank Statement</b></th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    @*<th>Account Number</th>*@
                                                    <th>Date</th>
                                                    <th>Legal Number</th>
                                                    <th>Document Number</th>
                                                    <th>Description</th>
                                                    @*<th style="text-align:right">Base Amount</th>*@
                                                    <th style="text-align:right">Operational Amount</th>
                                                    @*<th>Account Number</th>*@
                                                    <th>Date</th>
                                                    <th>Bank Reference</th>
                                                    <th>Related Ref</th>
                                                    <th style="text-align:right">Amount</th>
                                                    <th>Match Number</th>
                                                </tr>

                                                @foreach (var item in group)
                                                {

                                                    i++;
                                                    totalAmount += item.BaseAmountGL;
                                                    totalAmountBank += item.AmountBank;
                                                    operationalAmountGL += item.OperationalAmountGL;

                                                    <tr>
                                                        @*<td>@item.BankAccountGL</td>*@
                                                        <td>@string.Format("{0: dd/MM/yyyy}", item.TransactionDate)</td>
                                                        <td>@item.LegalNumber</td>
                                                        <td>@item.DocumentNo</td>
                                                        <td>@item.DescriptionGL</td>
                                                        @*<td style="text-align:right">@string.Format("{0:#,0.00}", item.BaseAmountGL)</td>*@
                                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", item.OperationalAmountGL)</td>
                                                        @*<td>@item.BankAccount</td>*@
                                                        <td>@string.Format("{0: dd/MM/yyyy}", item.BankDate)</td>
                                                        <td>@item.RefBank</td>
                                                        <td>@item.RelatedRefBank</td>
                                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", item.AmountBank)</td>
                                                        <td>@item.MatchNo</td>
                                                    </tr>
                                                }
                                              
                                            </tbody>
                                            <tfoot>
                                                <tr style="background:#f5f5f5; color:#000000">
                                                        <td colspan="4" style="text-align:right">Total</td>
                                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", operationalAmountGL)</td>
                                                        <td colspan="3" style="text-align:right">Total</td>
                                                        <td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", totalAmountBank)</td>
                                                        <td></td>
                                                    </tr>
                                            </tfoot>

                                        </table>
                                    }
                                </div>

                                        }
                                        else
                                        {
                                            <p class="alert alert-info">

                                                No Matched

                                            </p>

                                        }

                       
