
@model IFMIS.Areas.IFMISTZ.Models.OutStandingVM
@{
    ViewBag.Title = "Reconciliation Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
 
     .searchContainer {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

   

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        /*padding-top:10px;*/
        /*text-align: center;*/
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    table {
        margin: 0 auto;
        width: 100%;
      /*  clear: both;
        border-collapse: collapse;*/
        table-layout: fixed;
 
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>General Ledger to Bank Manual Matching </h2>
                    </header>
                    <div>
                        <div class="table-responsive">
                            @{
                                int i = 0;
                                int j = 0;
                                decimal? totalAmount = 0;
                                decimal? operationalAmountGL = 0;
                            }
                           
                            <div class="well" style="padding-top:20px">
                                <div style="padding-left:10px" class="row">
                                    <div class="col-md-0"></div>
                                    <div class="col-md-6">

                                        @*<a href="@Url.Action("ReconcilliationStatus","Reconcilliation")" class="btn btn-info">
                                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                            Back
                                        </a>*@
                                        <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back
                                        </a>

                                        <button type="button" id="matchbtn2" class="btn btn-info" style="text-align:left" onclick="matching()">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            Match
                                        </button>
                                    </div>
                                    <strong id="match">No Transaction(s) Selected to Match</strong>
                                </div>
                            </div>
                                <br />
                            <div class="col-md-6">
                                <section id="widget-grid">
                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false"  data-widget-fullscreenbutton="false">
                                                <header>
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    <h2>General Ledger Outstanding List </h2>
                                                </header>
                                                <div class="widget-body" style="padding-top:10px">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div id="infoPanel">
                                                                <div class="info-box">
                                                                    <label>Total:</label>
                                                                    <strong id="totalAmountSelectedGL">No Item(s) Selected</strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="searchContainer" style="float:right">
                                                                <i class="fa fa-search searchIcon"></i>
                                                                <input type="search" name="search" placeholder="Search..." id="searchbox">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table id="dt_basicGL" class="table table-bordered table-hover table-condensed table-responsive" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:5%">@*<input type="checkbox" class="cbCheckAll1">*@</th>
                                                                <th style="width:13%">Date</th>
                                                                <th>Legal Number</th>
                                                                <th>Document No.</th>
                                                                <th>Description</th>
                                                                <th style="text-align:right">Amount</th>
                                                            </tr>
                                                        </thead>
                                                        @foreach (var item in Model.GLOutoStandingList)
                                                        {
                                                    <tr>
                                                        <td><input type="checkbox" value="@item.GeneralLadgeID" id="row2-@i" onchange="rowChecked2(@i)" class="checkBox1"></td>
                                                        <td style="font-size:11px">@string.Format("{0: dd/MM/yyyy}", item.TransactionDate)</td>
                                                        <td style="font-size:11px">@item.LegalNumber</td>
                                                        <td style="font-size:11px">@item.DocumentNo</td>
                                                        <td style="font-size:10px">@item.DescriptionGL</td>
                                                        @*<td style="text-align:right">@string.Format("{0:#,0.00}", item.OperationalAmountGL)</td>*@
                                                        @*<td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", item.OperationalAmountGL)</td>*@
                                                        <td style="text-align:right">@string.Format("{0:#,#.00}", item.OperationalAmountGL)</td>
                                                    </tr>
                                                            i++;
                                                        }

                                                    </table>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>

                            <div class="col-md-6">
                                <section id="widget-grid">
                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false"  data-widget-fullscreenbutton="false">
                                                <header>
                                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                    <h2>Bank Outstanding List </h2>
                                                </header>
                                                <div class="widget-body" style="padding-top:10px">
                                                    <div class="row">

                                                        <div class="col-md-5">
                                                            <div id="infoPanel">
                                                                <div class="info-box">
                                                                    <label>Total:</label>
                                                                    <strong id="totalAmountSelectedBank">No Item(s) Selected</strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="searchContainer" style="float:right">
                                                                <i class="fa fa-search searchIcon"></i>
                                                                <input type="search" name="search" placeholder="Search..." id="searchboxBank">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table id="dt_basicBank" class="table table-bordered table-hover table-condensed table-responsive" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:5%">@*<input type="checkbox" class="cbCheckAll">*@</th>
                                                                <th style="width:13%">Date</th>
                                                                <th style="width:25%">Bank Ref.</th>
                                                                <th style="width:25%">Related Ref.</th>
                                                                <th>Description</th>
                                                                <th style="text-align:right">Amount</th>
                                                            </tr>
                                                        </thead>

                                                        @foreach (var item2 in Model.BankOutoStandingList)
                                                        {

                                                            <tr>
                                                                <td><input type="checkbox" value="@item2.BankStatementID" id="row-@j" onchange="rowChecked(@j)" class="checkBoxBank"></td>
                                                                <td style="font-size:11px">@string.Format("{0: dd/MM/yyyy}", item2.StatementDate)</td>
                                                                <td style="font-size:10px">@item2.BankReference</td>
                                                                <td style="font-size:10px">@item2.RelatedReference</td>
                                                                <td style="font-size:9px">@item2.TransactionDescription</td>
                                                                @*<td style="text-align:right">@string.Format("{0:#,#.00;(#,#.00)}", item2.Amount)</td>*@
                                                                <td style="text-align:right;font-size:11px">@string.Format("{0:#,#.00}", item2.Amount)</td>
                                                            </tr>
                                                            j++;
                                                        }

                                                    </table>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>

                          
                            </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="lblmodal">Matching</h4>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure you want to match the transaction.?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info delete-confirm">Ok</button>
                <button class="btn btn-info delete-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section pagespecific{
    <script>
        $("#matchbtn2").attr('disabled', true);

        var dt_basicBank = $('#dt_basicBank').dataTable({
            scrollY: 400,
            paging: false
        });
        $("#dt_basicBank_filter").remove();
        $("#dt_basicBank_wrapper .dt-toolbar").remove();
        $("#searchboxBank").on("keyup search input paste cut", function () {
            dt_basicBank.DataTable().search(this.value).draw();
        });


        var dt_basicGL = $('#dt_basicGL').dataTable({
            scrollY: 400,
            paging: false
        });
        $("#dt_basicGL_filter").remove();
        $("#dt_basicGL_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_basicGL.DataTable().search(this.value).draw();
        });

        $(document).ready(function () {

            $('#CheckDate').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#CheckDate').datepicker('option', selectedDate);
                }
            });
        });
        var checkedRows = [];
        var checkedRows2 = [];
        var search = function () {
            checkedRows = [];
           checkedRows2 = [];
            var AccountNumber = $("#BankAccount").val();
            var chkDate = $("#CheckDate").val();
            var url = '@Url.Action("OutStandingList", "Reconcilliation")';
            $.ajax({
                type: "post",
                url: url,
                data: { AccountNumber: AccountNumber, chkDate: chkDate },
                success: function (response) {
                    $("#searchResults").show();
                    $("#searchResults").html(response);
                }
            });
        };


        $(document).on("click", ".cbCheckAll1", function () {
            $(".checkBox1").prop('checked',
              $(this).prop('checked'));
        });

        $(document).on("click", ".cbCheckAll", function () {
            $(".checkBoxBank").prop('checked',
              $(this).prop('checked'));
        });


        var matching = function () {
            var cashIds = [];
            var generalLadgeid = 0;

            $("input:checkbox.checkBox1").each(function () {
                if ($(this).prop("checked")) {
                    generalLadgeid = $(this).val().split(",")[0];
                    cashIds.push(generalLadgeid);
                }
            });

            var bankIds = [];
            $("input:checkbox.checkBoxBank").each(function () {
                if ($(this).prop("checked")) {
                    bankIds.push($(this).val());
                }
            });

            if (cashIds.length <= 0 && bankIds.length <= 0) {
                alert("Select transaction to Match!");

                return;
            }

            $("#responseModal").modal('show');
            $(".delete-confirm").click(function () {
                var url = '@Url.Action("GlBankMatching", "Reconcilliation")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { cashIds: cashIds, bankIds: bankIds },
                    success: function (response) {
                        if (response == "Success") {
                            if ($('.modal-header').hasClass('alert-info')) {
                                $('.delete-confirm').css('display', 'none');
                                $('.delete-cancel').html('Close').click(function () {
                                    location.reload();
                                });
                            }
                            $('.success-message').html('Matched successfully');


                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    },
                });
            })
            };


        $(document).ready(function () {
            var responsiveHelper_dt_basicBank = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };
        })


        function rowChecked(rowId) {
            debugger
            if ($("#row-" + rowId).is(":checked")) {
                checkedRows.push(rowId);
            } else {
                remove(checkedRows, rowId);
            }
            console.log(checkedRows);
            toggleGenerateButton();
            match();
        }



        function checkAll(rowId) {
            debugger
            var data = dt_basicGL.DataTable().rows().data();
            if ($("#row2-" + rowId).is(":checked")) {
                for (var i = 0; i < data.length; i++) {
                    if (i !== rowId)
                        $("#row2-" + i).prop('disabled', true);
                }
                var row = data.rows(rowId).data()[0];
                $("#totalAmountSelectedGL").text(row[5].toLocaleString());
                match();

            } else {
                for (var i = 0; i < data.length; i++) {
                    $("#row2-" + i).prop('disabled', false);
                }
                $("#totalAmountSelectedGL").text(" ");
                match();
            }
     
        }

        $("#matchbtn2").attr('disabled', true);
        function match() {
            debugger
            var x = $("#totalAmountSelectedGL").text();
            var y = $("#totalAmountSelectedBank").text();

            x = parseFloat(x.split(",").join(""));
            y = parseFloat(y.split(",").join(""));

            if (x == y && y != 0) {
                $("#match").text("Matched Amount");
                $("#matchbtn2").attr('disabled', false);
            } else {

                $("#matchbtn2").attr('disabled', true);
                $("#match").text("Unmatched Amount");
            }
        }

        function toggleGenerateButton() {

            var TotalAmount = 0;
            if (checkedRows.length > 0) {
                var data = dt_basicBank.DataTable().rows().data();
                checkedRows.forEach(rowId=> {
                    var row = data.rows(rowId).data()[0];
                    //TotalAmount = TotalAmount + parseFloat(row[4].split(",").join("").split(")").join("").split("(").join(""));
                    TotalAmount = TotalAmount + parseFloat(row[5].split(",").join(""));
                    console.log(row[5]);
                });

               $("#totalAmountSelectedBank").text(TotalAmount.toLocaleString());
            } else {

                $("#totalAmountSelectedBank").text(0);
            }
        }
        //=====END BANK====//

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

        function rowChecked2(rowId) {
            debugger
            if ($("#row2-" + rowId).is(":checked")) {
                checkedRows2.push(rowId);
            } else {
                remove2(checkedRows2, rowId);
            }
            console.log(checkedRows2);
            generateButton();
            match();
        }


        function generateButton() {

            var TotalAmount = 0;
            if (checkedRows2.length > 0) {
                var data = dt_basicGL.DataTable().rows().data();
                checkedRows2.forEach(rowId=> {
                    var row = data.rows(rowId).data()[0];
                    //TotalAmount = TotalAmount + parseFloat(row[4].split(",").join("").split(")").join("").split("(").join(""));
                    TotalAmount = TotalAmount + parseFloat(row[5].split(",").join(""));
                    console.log(row[5]);
                });

                $("#totalAmountSelectedGL").text(TotalAmount.toLocaleString());
            } else {

                $("#totalAmountSelectedGL").text(0);
            }
        }
        //=====END BANK====//

        function remove2(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }


    </script>

}
