@model IFMIS.Areas.IFMISTZ.Models.InventoryDetail
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Inventory Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Inventory Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InventoryCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Batch Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.BatchNo)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>T ype&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ItemClassification.ItemCategory)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ItemClassification.ClassificationDesc)</div></div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Item Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ItemName)</div>
        @if (Model.Manufacturer != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6">
                <strong>Manufacturer &nbsp;:</strong>
                @Html.DisplayFor(model => model.Manufacturer)
            </div>
        }

    </div>
    @if (Model.Model != null || Model.Capacity != null)
    {
        <div class="row">

            @if (Model.Model != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Model &nbsp;:</strong>
                    @Html.DisplayFor(model => model.Model)
                </div>
            }
            @if (Model.Capacity != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Capacity &nbsp;:</strong>
                    @Html.DisplayFor(model => model.Capacity)
                </div>
            }

        </div>

    }

    @if (Model.BodyType != null || Model.ManufactureYear != null)
    {
        <div class="row">

            @if (Model.BodyType != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Body Type &nbsp;:</strong>
                    @Html.DisplayFor(model => model.BodyType)
                </div>
            }
            @if (Model.ManufactureYear != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Manufacture Year &nbsp;:</strong>
                    @Html.DisplayFor(model => model.ManufactureYear)
                </div>
            }

        </div>

    }
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Quantity&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Quantity)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>UOM&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.UOM)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Unit Cost Price&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.UnitPrice) @Html.DisplayFor(model => model.OperationCurrency)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Total Cost&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InventoryValue) @Html.DisplayFor(model => model.OperationCurrency)</div></div>
    @if (Model.UnitSalePrice != null)
    {
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Unit Sale Price&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.UnitSalePrice) @Html.DisplayFor(model => model.Currency)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Total Sales&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.TotalAmount) @Html.DisplayFor(model => model.Currency)</div></div>
    }
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div>
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Source&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SourceModule)</div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong> Will be Stored ?&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.CanExpire) </div>

        @if (Model.Stores != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Store Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Stores.StoreCode) - @Html.DisplayFor(model => model.Stores.StoreName) </div>
        }

    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Overall Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div>
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Can Expire?&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.CanExpire) </div>
    </div>

    @if (Model.CanExpire == "Yes")
    {
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <strong>Manufacture Date&nbsp;:</strong>
                @if (Model.ManufactureDate != null)
                {
                    @Convert.ToDateTime(Model.ManufactureDate).ToString("dd/MM/yyyy")
                }
            </div><div class="col-sm-6 col-md-6 col-lg-6">
                <strong>Expire Date&nbsp;:</strong>&nbsp;
                @if (Model.ExpireDate != null)
                {
                    @Convert.ToDateTime(Model.ExpireDate).ToString("dd/MM/yyyy")
                }
            </div>
        </div>

    }
    <div class="row">
        @if (Model.Description != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Description &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Description) </div>
        }
        @*<div class="col-sm-6 col-md-6 col-lg-6"><strong>Ledger Folio&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.LedgerFolio)</div>*@
    </div>
    <div class="row">
        @if (Model.RejectReason != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectReason) </div>
        }
        @if (Model.SolutionTaken != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SolutionTaken) </div>
        }
    </div>
    @if (Model.InventoryCoas.Count() >0)
    {
<table border="1" class="table table-bordered table-hover table-condensed" width="100%">
    <tr style="background:#f5f5f5; color:#000000"><th>No</th><th>GL Account</th><th>GL Account Desc</th><th>SBC</th><th>GFS Code</th></tr>

        @{var j = 0;}
        @foreach (var item in Model.InventoryCoas)
        {

            j++;
        <tr>
            <td style="text-align:center">@j</td>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccountDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClass)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.GfsCode)
            </td>

        </tr>
    }
        
    </table>
    }
</fieldset>

<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>










