@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM>
<p>
    Item Card:<strong>@Model.Select(a => a.ItemCard).FirstOrDefault()</strong><br />
    Total Quantity (Inventories for Sale):<strong>@Model.Select(a => a.BalanceQuantity).Sum()</strong>
</p>
<table class="table  table-bordered table-hover table-condensed" id="dt_inventories">
    <thead>
        <tr>
            <th style="text-align:right;width:4%"></th>
            <th style="text-align:left">Legal number</th>
            <th style="text-align:left">Inventory Name</th>
            <th style="text-align:left">UOM</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:right">Unit Cost Price</th>
            <th style="text-align:right">Total Cost</th>
            <th style="text-align:right">Unit Sale Price</th>
            <th style="text-align:right">Total Value</th>
            <th style="text-align:left">Source</th>

        </tr>
    </thead>

    <tbody>
        @{var i = 0;}
        @foreach (var item in Model)
        {
            i++;
            decimal? total_amount = item.BalanceQuantity * item.UnitPrice;
            decimal? total_amount_for_sale = item.BalanceQuantity * item.UnitPrice;
        <tr>
            <td style="text-align:right">
                @i
            </td>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.InventoryCode)
            </td>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.UOM)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.BalanceQuantity)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.UnitPrice)   @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td style="text-align:right">
                @Convert.ToDecimal(total_amount).ToString("#,##0/=")   @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.UnitSalePrice)   @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td style="text-align:right">
                @Convert.ToDecimal(total_amount_for_sale).ToString("#,##0/=")   @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td style="text-align:left">

                @Html.DisplayFor(modelItem => item.SourceModule)

            </td>

        </tr>
        }
    </tbody>
</table>

<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>




















