@model IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM
@{
    ViewBag.Title = "Complete Inventory";
    int i = 0;
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Preview inventory issuing</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p align="left">
                                Inventory Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.InventoryCode)</strong></span><br />
                                Item Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.ItemName)</strong></span><br />
                                Quanity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.Quantity)</strong></span><br />
                                Unit of Measure &nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.UOM)</strong></span><br />
                                Unit Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;::<span><strong>@Html.DisplayFor(model => model.UnitPrice) @Html.DisplayFor(model => model.Currency)</strong></span><br />
                                Value &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.InventoryValue) @Html.DisplayFor(model => model.Currency)</strong></span><br />
                                Batch Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.BatchNo)</strong></span><br />
                                Manufacture Date :<span><strong>@Convert.ToDateTime(Model.ManufactureDate).ToString("dd/MM/yyyy")</strong></span><br />
                                Expire Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Convert.ToDateTime(Model.ExpireDate).ToString("dd/MM/yyyy")</strong></span><br />
                                Overall Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.OverallStatus)</strong></span><br />
                                Issued At &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Convert.ToDateTime(Model.IssuedAt).ToString("dd/MM/yyyy")</strong></span><br />
                            </p>

                        </div>
                       @if (Model.InstitutionLevel == 1)
                       {
                        <table class="table  table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:center;width:4%">#</th>
                                    <th style="text-align:left">Main Vote</th>
                                    <th style="text-align:left">Sub Vote</th>
                                    <th style="text-align:left">Sub Vote Description</th>
                                    <th style="text-align:center">Requested</th>
                                    <th style="text-align:center">Issued</th>
                                    <th style="text-align:right">Inventory Value</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.InventoryIssuings)
                                {
                                i++;
                                <tr>
                                    <td style="text-align:center">@i</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MainVote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubVote)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubVoteName)

                                    </td>

                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.RequestedQuantity)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.IssuedQuantity)

                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.InventoryValue)     @Html.DisplayFor(modelItem => item.Currency)

                                    </td>


                                </tr>
                                }
                                <tr><td colspan="5" style="text-align:right"><strong>Total</strong></td><td style="text-align:center"><strong>@Html.DisplayFor(model => model.Quantity)</strong></td><td style="text-align:right"><strong><strong>@Html.DisplayFor(model => model.InventoryValue) @Html.DisplayFor(model => model.Currency)</strong></strong></td></tr>
                            </tbody>
                        </table>

                       }
                       else
                       {
                        <table class="table  table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:center;width:4%">#</th>
                                    <th style="text-align:left">Main Vote </th>
                                    <th style="text-align:left">Sub Vote</th>
                                    <th style="text-align:left">Sub Vote Description</th>
                                    <th style="text-align:left">Cost Centre</th>
                                    <th style="text-align:left">Cost Centre Description</th>
                                    <th style="text-align:center">Requested</th>
                                    <th style="text-align:center">Issued</th>
                                    <th style="text-align:right">Inventory Value</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.InventoryIssuings)
                                {
                                i++;
                                <tr>
                                    <td style="text-align:center">@i</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MainVote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubVote)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SubVoteName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CostCentre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CostCentreDesc)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.RequestedQuantity)
                                    </td>
                                    <td style="text-align:center">
                                        @Html.DisplayFor(modelItem => item.IssuedQuantity)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.InventoryValue)  @Html.DisplayFor(modelItem => item.Currency)
                                    </td>


                                </tr>
                                }
                                <tr><td colspan="7" style="text-align:right"><strong>Total</strong></td><td style="text-align:center"><strong>@Html.DisplayFor(model => model.Quantity)</strong></td><td style="text-align:right"><strong><strong>@Html.DisplayFor(model => model.InventoryValue) @Html.DisplayFor(model => model.Currency)</strong></strong></td></tr>
                            </tbody>
                        </table>

                       }
                               
                            <div class="col-md-offset-1">
                                @if (ViewBag.tracker == null)
                                {
                                    if (Model.OverallStatus.ToUpper() == "PENDING" || Model.OverallStatus == "Rejected")
                                    {
                                        <a href="@Url.Action("IssueInventories","Inventories")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    }
                                    else if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                                    {
                                        <a href="@Url.Action("IssuingApproval","Inventories")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    }
                                    else
                                    {
                                        <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    }
                                }
                                else
                                {
                                    <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                }
                              
                             </div>
                       
                        <br />
                        <br />


                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->


}










