@model IFMIS.Areas.Gacs.Models.GlobalPeriod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GlobalPeriod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fiscal_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiscal_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.period_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.period_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.period_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.period_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.period_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.period_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closed_flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closed_flag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
