@model IEnumerable<AddRoleToUserVM>

<form class="form-horizontal" id="assignRoleForm">
    <div class="form-group">
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Type to seach role..." />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped" id="tblAssignRole">
                <tr>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        if (i++ % 5 == 0)
                        {
                        @:</tr><tr>
                        }

                        <td>
                            <input type="checkbox" name="IsAssigned" value="@item.RoleName" @(Html.Raw(item.IsAssigned ? "checked=\"checked\"" : "")) />
                            @item.RoleName
                        </td>

                        @*@Html.EditorFor(modelItem => item.IsAssigned)*@




                        @*<input type="checkbox" name="SelectedRoles" value="@item.IsAssigned" class="checkbox-inline" />
                        @Html.Label(item.RoleName, new { @class = "control-label" })*@
                    }
                </tr>
            </table>
        </div>
    </div>
</form>