@model UserPayStationVM
<!-- MAIN CONTENT -->

<div id="divLoader"></div>
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> User Pay Stations </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.FirstName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.FirstName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.MiddleName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.MiddleName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.LastName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.LastName)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.UserName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.VoteCode)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.VoteCode)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.VoteName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.VoteName)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Email)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.PhoneNumber)
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <fieldset>
                                <legend>Manage User Pay Stations</legend>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="InstitutionId" id="InstitutionId" class="form-control" placeholder="Select Institution" onchange="changeInstitution()" />
                                    </div>
                                </div>
                            </fieldset>

                            <hr />

                            <table id="tblUserPayStations" class="table table-bordered table-striped table-condensed table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Institution Code</th>
                                        <th>Institution Name</th>
                                        <th>Pay Station Code</th>
                                        <th>Pay Station Desc</th>
                                        <th>Is Default?</th>
                                    </tr>
                                </thead>
                                @{
                                    int j = 0;
                                }
                                @for (int i = 0; i < Model.AssignedUserPayStationVMs.Count; i++)
                                {
                                    j++;
                                    <tr>
                                        <td>
                                            @j
                                            <input type="hidden" name="AssignedUserPayStationVMs[@i].UserPayStationId" value="@Model.AssignedUserPayStationVMs[i].UserPayStationId" />
                                        </td>
                                        <td>
                                            @Model.AssignedUserPayStationVMs[i].InstitutionCode
                                        </td>
                                        <td>
                                            @Model.AssignedUserPayStationVMs[i].InstitutionName
                                        </td>
                                        <td>
                                            @Model.AssignedUserPayStationVMs[i].PayStationCode
                                        </td>
                                        <td>
                                            @Model.AssignedUserPayStationVMs[i].PayStationDesc
                                        </td>
                                        <td>
                                            <input type="radio" name="DefaultUserPayStation" value="@Model.AssignedUserPayStationVMs[i].UserPayStationId" checked="@(Model.AssignedUserPayStationVMs[i].IsDefault.ToString() == "True")" onchange="changeDefaultPayStation('@Model.AssignedUserPayStationVMs[i].UserPayStationId')" />
                                        </td>
                                    </tr>

                                }
                            </table>

                            <hr />

                            <a href="@Url.Action("Users")" class="btn btn-info">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back
                            </a>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<!-- Start of Aproval modal -->
<div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">Manage User Pay Stations</h4>
            </div>
            <div class="modal-body" id="divModalBody" style="padding-top: 0px"></div>
            <div class="modal-footer">
                <button class="btn btn-info role-save" onclick="saveUserPayStations()">Save</button>
                <button class="btn btn-default role-cancel" data-dismiss="modal" onclick="location.reload()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Aproval modal -->

@section scripts{
    <script>

        $(function () {
            var url = '@Url.Action("GetInstitutions", "Manage")';

            $("#InstitutionId").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (term) {
                        return {
                            term: term
                        };
                    },
                    results: function (data, page) {
                        return { results: data.institutions }; // data.CountryList returning json data from Controlle
                    }
                }
            });

            $("#tblUserPayStations").DataTable({});
        });

        function changeInstitution() {
            var institutionId = $("#InstitutionId").val();

            var url = '@Url.Action("GetUserPayStations", "Manage")?userId=@Model.UserId&institutionId=' + institutionId;

            $("#divLoader").show();
            $("#divModalBody").load(url, function (response, status, xhr) {
            $("#divModal").modal("show");
            $("#divLoader").hide();
            });
        };

        var saveUserPayStations = function () {

            $("#divLoader").show();
            var selectedIds = [];
            var unSelectedIds = [];

            $("input:checkbox").each(function () {
                if ($(this).prop("checked")) {
                    selectedIds.push($(this).val());
                } else {
                    unSelectedIds.push($(this).val());
                }
            });

            var defaultPayStationId = $('input[name="DefaultPayStationId"]:checked').val();

            if (typeof defaultPayStationId === "undefined") {
                defaultPayStationId = 0;
            }

            var token = $("[name='__RequestVerificationToken']").val();

            var url = '@Url.Action("AdminUserPayStations", "Manage")';

            $.ajax({
            type: "POST",
            url: url,
            data: {
                __RequestVerificationToken: token,
                userId: "@Model.UserId",
                selectedIds: selectedIds,
                unSelectedIds: unSelectedIds,
                defaultPayStationId: defaultPayStationId,
                originalDefaultPayStationId: $("#OriginalDefaultPayStationId").val()
            },
            success: function(response) {
                if (response == "Success")
                {
                swal({
                text: "User pay stations management process successfully completed!",
                icon: "success",
                button: "OK",
                }).then(function() {
                    //location.reload();

                    changeInstitution();
                });
                }
                else
                {
                swal({
                text: response,
                icon: "warning",
                button: "OK",
            })
            }
            },
            error: function() {
                    swal({
                    text: "An error occured while processing your request, please contact system support",
                    icon: "error",
                    button: "OK",
                })
            },
            complete: function() {
                $("#divLoader").hide();
                $("#btnSave").prop("disabled", false);
                    }
                });
        };

        var changeDefaultPayStation = function (id) {
            $("#divLoader").show();
            var userId = '@Model.UserId';

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeDefaultUserPayStation", "Manage")',
                data: { userId: userId, payStationId: id },
                success: function (response) {
                    if (response == "Success") {
                        swal({
                            text: "Paystation successfully changed.",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    } else {
                        swal({
                            text: "Error on changing paystation, contact system support.",
                            icon: "warning",
                            button: "OK",
                        })
                    }
                },
                error: function (err) {
                    swal({
                        text: err.statusText,
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $("#divLoader").hide();
                }
            });
        };

    </script>
}