@model UserRoleVM

@{
    ViewBag.Title = "User Roles";
}

<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>User Groups </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.FirstName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.MiddleName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.MiddleName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.LastName)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.UserName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.VoteCode)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.VoteCode)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.VoteName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.VoteName)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.Email)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.ApplicationUser.Designation)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ApplicationUser.Designation)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <hr />

                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        @{int itemCount = 0;}
                                        <ul style="float: left; padding-right:50px">
                                            @foreach (var item in Model.UserRoles
                                                .Where(a => a.Selected == true)
                                                .OrderBy(a => a.Text))
                                            {
                                                itemCount++;
                                                <li>
                                                    @Html.CheckBoxFor(model => item.Selected, new { @value = item.Value })
                                                    @Html.Label(item.Text)
                                                </li>
                                                if (Model.UserRoles.Count() > 10 && itemCount == (int)(Model.UserRoles.Count() / 2))
                                                {
                                                    @Html.Raw("</ul><ul style=\"float: left; padding-right:50px\">");
                                                }
                                            }
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button class="btn btn-info" type="button" style="float: left" id="btnSave">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("Users","Manage")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section Scripts{
    <script>

        $("#btnSave").click(function () {

            $("#divLoader").show();
            var selectedIds = [];
            var unSelectedIds = [];

            $("input:checkbox").each(function () {
                if ($(this).prop("checked")) {
                    selectedIds.push($(this).val());
                } else {
                    unSelectedIds.push($(this).val());
                }
            });

            var token = $("[name='__RequestVerificationToken']").val();

            var url = '@Url.Action("UserRoles", "Manage")';

            $.ajax({
            type: "POST",
            url: url,
            data: {
                __RequestVerificationToken: token,
                userId: "@Model.ApplicationUser.Id",
                selectedIds: selectedIds,
                unSelectedIds: unSelectedIds
            },
            success: function(response) {
                if (response == "Success")
                {
                swal({
                text: "User roles management successfully completed!",
                icon: "success",
                button: "OK",
                }).then(function() {
                location.reload();
                });
                }
                else
                {
                swal({
                text: response,
                icon: "warning",
                button: "OK",
            })
            }
            },
            error: function() {
                    swal({
                    text: "An error occured while processing your request, please contact system support",
                    icon: "error",
                    button: "OK",
                })
            },
            complete: function() {
                $("#divLoader").hide();
                $("#btnSave").prop("disabled", false);
                    }
                });
        });

    </script>
}
