@model IFMIS.Areas.IFMISTZ.Models.DeductionByInstitutionVM
@{
    ViewBag.Title = "Unpaid Salary Details";
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title </h2>

                    </header>

                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                        <div class="container" style="margin-left:2px;margin-top:5px">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">Summary</a>
                                </li>
                                <li>
                                    <a href="#2" data-toggle="tab">Details</a>
                                </li>

                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />
                                            <table class="table  table-hover table-condensed">

                                                <tbody>
                                                    <tr>

                                                    <tr>
                                                        <td style="width:20%">
                                                            Account From
                                                        </td>
                                                        <td>
                                                            @Model.PayerBankAccount
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:20%">
                                                            Account From Name
                                                        </td>
                                                        <td>
                                                            @Model.PayerBankName
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:20%">
                                                            Account To
                                                        </td>
                                                        <td>
                                                            @Model.PayeeBankAccountNo
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:20%">
                                                            Account To Name
                                                        </td>
                                                        <td>
                                                            @Model.PayeeAccountName
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width:20%">
                                                            At Source Type
                                                        </td>
                                                        <td>
                                                            @Model.DeductionType
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width:20%">
                                                            Total Number of Transactions
                                                        </td>

                                                        <td>@Model.TotalNumEmployees</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width:20%">
                                                            Total  Amount
                                                        </td>
                                                        <td>
                                                            @string.Format("{0:#,0.00}", Model.TotalDeductionAmount)
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td style="width:20%">
                                                            Number of Votes
                                                        </td>
                                                        <td>
                                                            @Model.NumVotes
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width:20%">
                                                            Check Date
                                                        </td>
                                                        <td>
                                                            @Convert.ToDateTime(Model.CheckDate).ToString("dd/MM/yyyy")
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:20%">
                                                            Funding Source
                                                        </td>
                                                        <td>
                                                            @Model.FundingSource
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width:20%">
                                                            Payment Mode
                                                        </td>
                                                        <td>
                                                            @Model.PaymentMode

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Status</td>
                                                        <td>@Model.OverallStatus</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane" id="2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />

                                            <div class="row">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-6">
                                                    <div class="search-container" style="float:right">
                                                        <i class="fa fa-search"></i>
                                                        <input type="search" name="search" placeholder="Search..." id="search-box2">
                                                    </div>
                                                </div>
                                            </div>
                                            <table id="dt_unpaid_salary_list" class="table table-bordered table-condensed table-amount">
                                                <thead>
                                                    <tr>
                                                        <td>#</td>
                                                        <th>Vote Code</th>
                                                        <th>Vote Name</th>
                                                        <th>Number of Transactions</th>
                                                        <th>Total Amount</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int n = 0;
                                                    }
                                                    @if (ViewBag.DeductionByVote != null)
                                                    {

                                                        foreach (var item in ViewBag.DeductionByVote)
                                                        {
                                                            n++;
                                                            <tr>
                                                                <td>@n</td>
                                                                <td>@item.VoteCode</td>
                                                                <td>@item.VoteName</td>
                                                                <td>@item.TotalNumEmployees</td>
                                                                <td style="text-align:right">@string.Format("{0:#,0.00}", item.TotalDeductionAmount)</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                            <span class="caret"></span>
                                                                            <span class="sr-only">Toggle Dropdown</span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li>
                                                                                <a href="@Url.Action("UnpaidSalaryDetail", "UnpaidSalary",new {voteCode=item.VoteCode,checkDate = item.CheckDate, deductionByInstitutionId = item.DeductionByInstitutionId })" class="btn-xs edit">
                                                                                    <i class="fa fa-eye"></i>  Details
                                                                                </a>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }

                                                    }

                                                </tbody>
                                                @if (Model.TotalDeductionAmount != null)
                                                {
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="4"></td>

                                                            <td><b> <span colspan="4" style="float:right;color:black;">Total Amount:&nbsp;&nbsp; @string.Format("{0:#,0.00}", Model.TotalDeductionAmount)/=</span></b></td>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-offset-2">
                        <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                    </div>

                </div>
            </article>

        </div>


    </section>

</div>
@section pagespecific{

    <script>

        var dt_unpaid_salary_list = $("#dt_unpaid_salary_list").dataTable({ "pageLength": 250 });
        $("#dt_unpaid_salary_list_wrapper .dt-toolbar").remove();

        $("#search-box2").on("keyup search input paste cut", function () {
            $("#dt_unpaid_salary_list").DataTable().search(this.value).draw();
            $("#dt_unpaid_salary_list_wrapper .dt-toolbar").remove();
        });
    </script>
}








