@model IEnumerable<IFMIS.Areas.Gacs.Models.GacsTransactions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualPrevTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualUpTo1month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual1To3month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual3To12month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual1To3Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual3To5Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualAbove5Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableForSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeldForTrading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgingAdjustment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualPrevTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualUpTo1month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual1To3month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual3To12month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual1To3Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual3To5Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualAbove5Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AvailableForSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeldForTrading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgingAdjustment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrxID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrxID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrxID })
        </td>
    </tr>
}

</table>
