@model IFMIS.Areas.IFMISTZ.Models.Costing

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Costings Details</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table width="100%">
                                <tr>
                                    <td colspan="1">



                                        <div>
                                            <dl class="dl-horizontal" style="margin-left:20%">
                                                <dt>@Html.DisplayNameFor(model => model.Institution.InstitutionCode)</dt>
                                                <dd>@Html.DisplayFor(model => model.Institution.InstitutionCode)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.CostCode)</dt>
                                                <dd>@Html.DisplayFor(model => model.CostCode)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.CostName)</dt>
                                                <dd>@Html.DisplayFor(model => model.CostName)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.CostDesc)</dt>
                                                <dd>@Html.DisplayFor(model => model.CostDesc)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.UOM)</dt>
                                                <dd>@Html.DisplayFor(model => model.UOM)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.FinancialYearId)</dt>
                                                <dd>@Html.DisplayFor(model => model.FinancialYearId)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.CurrencyId)</dt>
                                                <dd>@Html.DisplayFor(model => model.CurrencyId)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.BillValidDays)</dt>
                                                <dd>@Html.DisplayFor(model => model.BillValidDays)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.SubBudgetClass)</dt>
                                                <dd>@Html.DisplayFor(model => model.SubBudgetClass)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.IsMainSource)</dt>
                                                <dd>@Html.DisplayFor(model => model.IsMainSource)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.SpCode)</dt>
                                                <dd>@Html.DisplayFor(model => model.SpCode)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.NewSpCode)</dt>
                                                <dd>@Html.DisplayFor(model => model.NewSpCode)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.GLAccountReceivable)</dt>
                                                <dd>@Html.DisplayFor(model => model.GLAccountReceivable)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.GLAccountRevenue)</dt>
                                                <dd>@Html.DisplayFor(model => model.GLAccountRevenue)</dd>

                                            </dl>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href='@Url.Action("Costing", "Costings")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>