@model IFMIS.Areas.IFMISTZ.Models.InstitutionExchangeRate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    <style > .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Exchange Rates.</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.InstitutionExchangeRateId)

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Operational Currency:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.DropDownList("OperationalCurrencyId", ViewBag.currencyList as SelectList, "", new { @Class = "input", style = "width:300px; ", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.OperationalCurrencyId, "", new { @Class = "input", style = "width:300px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Base Currency :</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        <input id="baseCurrencyCode" type="text" disabled="disabled" value="@ViewBag.baseCurrency.CurrencyCodeCurrencyName" Class="input" , style="width:300px;" , />
                                                        <input id="BaseCurrencyId" name="BaseCurrencyId" type="hidden" value="@ViewBag.baseCurrency.CurrencyId" Class="input" , style="width:300px;" , />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Operational Exchange Rate:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.OperationalExchangeRate, new { @Class = "input", style = "width:300px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.OperationalExchangeRate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Exchange Date:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        <table>
                                                            <tr>
                                                                <td></td>
                                                                <td>
                                                                    <div class="flatpickr date-group">
                                                                        <input type="text" id="ExchangeRateDate" name="ExchangeRateDate" placeholder="Select Date.."
                                                                               data-input
                                                                               style="width:258px;border:none;height:20px"
                                                                               autocomplete="off" id="ExchangeRateDate">
                                                                        <a class="input-button" title="open" data-toggle href="#">
                                                                            <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("ExchangeRate", "InstitutionExchangeRates")' class="btn btn-info"  style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                   
                    </div>
                </div>
            </article>
        </div>
    </section>
    </div>
@section pagespecific {
    <script type="text/javascript">

        $("#OperationalCurrencyId").val('@ViewBag.operationalCurrency');
        $("#OperationalExchangeRate").val('@ViewBag.Exchangerate');
        $("#ExchangeRateDate").val('@ViewBag.date ');
      

</script>
}