@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.DummySalaryDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DummySalaryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrGlAccountCoaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrGlAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrGlAccountDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrGlAccountCoaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrGlAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrGlAccountDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlAccountCoaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlAccountDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpensedAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DummySalaryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrGlAccountCoaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrGlAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrGlAccountDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrGlAccountCoaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrGlAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrGlAccountDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlAccountCoaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlAccountDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpensedAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DummySalaryDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DummySalaryDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DummySalaryDetailId })
        </td>
    </tr>
}

</table>
