
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>


    <section id="widget-grid" class="">
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <div class="widget-body">

                        <!-- Submission History Table -->
                        <table id="dt_basic_Qn" class="table table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Institution Name</th>
                                    <th>Submission Date</th>
                                    <th>Status</th>
                                    <th style="width:50px">Action</th>
                                </tr>
                            </thead>
                            @{ int i = 0; }

                           @if (ViewBag.SubmissionQns != null)
                           {
                                <tbody>
                                    @foreach (var item in (IEnumerable<IFMIS.Areas.IFMISTZ.Models.QuestionnaireSubmission>)ViewBag.SubmissionQns)
                                    {
                                        i++;
                                         <tr>
                                        <td>@i</td>
                                        <td style="text-align:left">@item.Institution.InstitutionName</td>
                                        @*<td style="text-align:left"></td>*@
                                        <td style="text-align:left">@item.SubmissionDate.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                        <td style="text-align:left">@item.Status</td>
                                        <td style="text-align:left">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" onclick="viewSubmission(@item.Id)" class="btn-xs edit">
                                                            <i class="fa fa-eye"></i> View Details
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick="attendRequest(@item.Id)" class="btn-xs edit">
                                                            <i class="fa fa-bookmark-o"></i> Attend Request
                                                        </a>
                                                    </li>
                                                
                                                    @if (!string.IsNullOrEmpty(item.AttachmentPath))
                                                     {
                                                        <li>
                                                            <a href="@Url.Content(item.AttachmentPath)" target="_blank" class="btn-xs edit">
                                                                <i class="fa fa-file"></i> View Attachment
                                                            </a>
                                                        </li>
                                                     }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                           }
                        </table>

                    </div>
                </div>
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
</div>


<!-- END MAIN CONTENT -->
<!--Start of delete confirmation modal section-->

@section Scripts{
    <script>
        // Your existing DataTable code
        

         
    </script>
}


