@model IFMIS.Areas.IFMISTZ.Models.ItemSetupLevel2
@{
    ViewBag.Title = "Edit Gfs Code Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: left;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edi Item Level Two</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div style="padding-left:17%">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.ItemSetupLevel2Id)
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Item Level One:</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("GfsCodeItemId", ViewBag.gfsCodeItem as SelectList, "Select Item Level One", new { @class = "form-control  select2", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.ItemLevel1Code, "", new { @class = "text-danger", style = "width:300px;" })
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Item Level Two Name:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.ItemLevel2Name, new { @class = "input", style = "width:360px; padding:10px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.ItemLevel2Name, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Item Level Two No:</label>
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <strong>
                                                                    @Html.TextBox("ItemLevel1CombineCode", null, new { @style = "border: none;width:30px", disabled = "disabled" })
                                                                </strong>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.ItemLevel2No, new { @class = "input", style = "width:230px;", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.ItemLevel2No, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div style="margin-left:50%">
                                                        <a href='@Url.Action("ItemSetupCreate", "GfscodeSetup")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                            <i class="fa fa-save"></i>
                                                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script type="text/javascript">
        if ('@TempData["Success"]' == 'Success') {
            swal("Successfully Saved", { icon: 'success'})
        } else if ('@TempData["Success"]' == 'No') {
            swal("No changes has been Made!!", { icon: 'warning'})
                .then(Ok => {
                    window.location.href = '@Url.Action("GfsCodeItemLevelTwoEdit/" + TempData["ItemSetupLevel2Id"], "GfscodeSetup")';
                });
        } else if ('@TempData["Success"]' == 'Name Existing'){
            swal("Sub Chapter Name Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("GfsCodeItemLevelTwoEdit/" + TempData["ItemSetupLevel2Id"], "GfscodeSetup")';
                });
        }else if ('@TempData["Success"]' == 'Code Exist'){
            swal("Combined Code Number Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("GfsCodeItemLevelTwoEdit/" + TempData["ItemSetupLevel2Id"], "GfscodeSetup")';
                });
        };


        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);
    </script>
}
