@model IFMIS.Areas.IFMISTZ.Models.FANoteItemrange
@{
    ViewBag.Title = "Edit Note Item Range";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: left;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Note Item Range</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div class="form-horizontal">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.FinalAccountItemrangesId)
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Note Item:</label>
                                                    <div class="col-md-8">
                                                        @Html.DropDownList("FinalAccountItemsId", null, htmlAttributes: new { @class = "form-control  select2", style = "width:300px; ", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.FinalAccountItemsId, "", new { @class = "text-danger", style = "width:300px;",  })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Item Start:</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.ItemStart, new { @Class = "input", style = "width:280px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.ItemStart, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Item End:</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.ItemEnd, new { @Class = "input", style = "width:280px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.ItemEnd, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Classification:</label>
                                                    <div class="col-md-3">
                                                        @Html.DropDownList("ClassificationId", new SelectList(new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text = "1", Value = "1"},
                                                                new SelectListItem { Text = "2", Value = "2"},
                                                                new SelectListItem { Text = "3", Value = "3"},
                                                                new SelectListItem { Text = "4", Value = "4"}
                                                            }, "Value", "Text"), "Select Classification", new { @class = "form-control  select2" })
                                                        @Html.ValidationMessageFor(model => model.ClassificationId, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Status:</label>
                                                    <div class="col-md-3">
                                                        @Html.DropDownList("ActiveFlag", new SelectList(new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text = "Active", Value = "true"},
                                                                new SelectListItem { Text = "InActive", Value = "false"}}, "Value", "Text"), "Select Status", new { @class = "form-control  select2" })
                                                        @Html.ValidationMessageFor(model => model.ActiveFlag, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div style="margin-left:50%">
                                                        <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                            <i class="fa fa-save"></i>
                                                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>
                        
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        if ('@TempData["Success"]' == 'Success') {
            swal("Successfully Saved", { icon: 'success'})
        } else if ('@TempData["Success"]' == 'No') {
            swal("Already Created!!", { icon: 'warning'})
                .then(Ok => {
                    window.location.href = '@Url.Action("NoteItemsRangeCreate", "GfscodeSetup")';
                });
        } else if ('@TempData["Success"]' == 'Exist'){
            swal("Item Range Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("NoteItemsRangeCreate", "GfscodeSetup")';
                });
        };

        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);


        
    </script>
}
