@model IFMIS.Areas.IFMISTZ.Models.FANoteItem
@{
    ViewBag.Title = "Edit Note Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: left;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Note Item</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div class="form-horizontal">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model=>model.FinalAccountItemsId)
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Sub Activity:</label>
                                                    <div class="col-md-4">
                                                        @Html.DropDownList("SubActivityCode", ViewBag.NotSubActivity as SelectList, "Select Sub Activity", new { @class = "form-control  select2", style = "width:370px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.SubActivityCode, "", new { @class = "text-danger", style = "width:300px;" })
                                                    </div>

                                                    <label class="col-md-2 control-label">Item Description:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.ItemDescription, new { @class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">NoteNo:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.NoteNo, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.NoteNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">x_factor:</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.x_factor, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.x_factor, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">IFRSNote No:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.IFRSNoteNo, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.IFRSNoteNo, "", new { @class = "text-danger" })
                                                    </div>

                                                    <label class="col-md-2 control-label">IFRSNote Desc:</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.IFRSNoteDesc, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.IFRSNoteDesc, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Summary Note No:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.SummaryNoteNo, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.SummaryNoteNo, "", new { @class = "text-danger" })
                                                    </div>
                                                   
                                                    <label class="col-md-2 control-label">Summary Note Name:</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.SummaryNoteName, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.SummaryNoteName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Sort Order:</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.SortOrder, new { @Class = "input", style = "width:370px;", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div style="margin-left:50%">
                                                        <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                            <i class="fa fa-save"></i>
                                                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>
                        
                        <br />
                        <br />
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        if ('@TempData["Success"]' == 'Success') {
            swal("Successfully Saved", { icon: 'success'})
        } else if ('@TempData["Success"]' == 'No') {
            swal("Already Created!!", { icon: 'warning'})
                .then(Ok => {
                    window.location.href = '@Url.Action("NoteItemsCreate", "GfscodeSetup")';
                });
        } else if ('@TempData["Success"]' == 'Exist'){
            swal("Chapter Number Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("NoteItemsCreate", "GfscodeSetup")';
                });
        };

        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);


        
    </script>
}
