@model IFMIS.Areas.IFMISTZ.Models.SubChapter
@{
    ViewBag.Title = "Edit Sub Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: left;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Sub Chapter</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div style="padding-left:17%">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model=>model.SubChapterId)
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" style="text-align:right;">Chapter:</label>
                                                    <div class="col-md-9 inputGroupContainer">
                                                        <div class="input-group col-md-6">
                                                            @Html.DropDownList("ChapterId", null, htmlAttributes: new { @class = "form-control  select2", style = "width:300px; " })
                                                            @Html.ValidationMessageFor(model => model.ChapterId, "", new { @Class = "input", style = "width:300px;" })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" style="text-align:right;">Sub Chapter Name:</label>
                                                    <div class="col-md-9 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.SubChapterName, new { @class = "form-control select2", style = "width:370px;padding: 10px;", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.SubChapterName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" style="text-align:right;">Sub Chapter No:</label>
                                                    <div class="col-md-9 inputGroupContainer">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <strong>
                                                                    @Html.TextBox("ChapterNo", null, new { @style = "border: none;width:15px", disabled = "disabled" })
                                                                    @*@Html.TextBox(model => model.ChapterNo, null, new { disabled = "disabled", style = "width:10px" })*@
                                                                </strong>
                                                            </span>
                                                            @Html.TextBoxFor(model => model.SubChapterNo, new { @Class = "input", style = "width:330px;", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.SubChapterNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div style="margin-left:50%">
                                                        <a href='@Url.Action("SubChapterSetupCreate", "GfscodeSetup")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                            <i class="fa fa-save"></i>
                                                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                            Update
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>
                        
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific{
    <script type="text/javascript">

        if ('@TempData["Success"]' == 'Success') {
            swal("Successfully Saved", { icon: 'success'})
        } else if ('@TempData["Success"]' == 'No') {
            swal("No changes has been Made!!", { icon: 'warning'})
                .then(Ok => {
                    window.location.href = '@Url.Action("SubChapterSetupEdit/" + TempData["SubChapterId"], "GfscodeSetup")';
                });
        } else if ('@TempData["Success"]' == 'Exist'){
            swal("Sub Chapter Number Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("SubChapterSetupEdit/" + TempData["SubChapterId"], "GfscodeSetup")';
                });
        } else if ('@TempData["Success"]' == 'Name Existing'){
            swal("Sub Chapter Name Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("SubChapterSetupEdit/" + TempData["SubChapterId"], "GfscodeSetup")';
                });
        }else if ('@TempData["Success"]' == 'Code Exist'){
            swal("Combined Code Number Already in Used!!", { icon: 'warning' })
                .then(Ok => {
                    window.location.href = '@Url.Action("SubChapterSetupEdit/" + TempData["SubChapterId"], "GfscodeSetup")';
                });
        };




        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);

        $("#ChapterId").change(function () {
            debugger;
            $("#divLoader").toggle(true);
            $("#saveLoader").toggle(true);
            var chapter = $(this).val();

             var url = '@Url.Action("GetPrexSubNumber", "GfscodeSetup")';
                url += '?chapter=' + chapter;

            $.ajax({
                type: "POST",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#saveLoader").toggle(false);
                    console.log('resp',response)
                    $("#ChapterNo").val(response);
                },
                complete: function () {
                    $("#divLoader").hide();
                }
            })
        });
    </script>
    }
