<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <article class="col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Create Payment Voucher</h2>
                </header>
                <div class="widget-body">
                    <div class="row" style="padding:1% 5% 0 5%;">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <table>
                                <tr>
                                    <td class="form-label">
                                        Account Name
                                        <i class="fa fa-times" style="color:white" id="AccountName_1"></i>
                                    </td>
                                    <td>
                                        <div class="name-input-container">
                                            <input type="text" readonly id="AccountName" placeholder="No Payee Selected" style="width:260px" />
                                            <a class="search-btn" onclick="SearchPayee()"
                                               href="#" style="float:right">
                                                <i class="fa fa-search search-icon"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Payee Name
                                    </td>
                                    <td>
                                        <div class="name-input-container">
                                            <input type="text" disabled id="PayeeName" placeholder="No Payee Selected" style="width:300px" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Payee Type
                                        <i class="fa fa-times" style="color:white;" id="PayeeType_1"></i>
                                    </td>
                                    <td>
                                        <select id="PayeeType" style="width:300px">
                                            @foreach (var PayeeType in ViewBag.PayeeTypesList)
                                            {
                                                <option value='@PayeeType.PayeeTypeCode'>@PayeeType.PayeeTypeCode</option>
                                            }
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Payment in Respect Of
                                        <i class="fa fa-times" style="color:white;" id="Comments_1"></i>
                                    </td>
                                    <td>
                                        <textarea style="width:300px" rows="3" id="Comments" maxlength="250"></textarea><br />
                                        (Remained characters: <i id="maxchars_c">250</i>)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Voucher Reference
                                        <i class="fa fa-times" style="color:white" id="InvoiceNo_1"></i>
                                    </td>
                                    <td>
                                        <input style="width:300px" type="text" id="InvoiceNo" placeholder="Optional">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Short Description
                                        <i class="fa fa-times" style="color:white" id="PaymentDescription_1"></i>
                                    </td>
                                    <td>
                                        <textarea rows="3" id="PaymentDescription" style="width:300px;" maxlength="80"></textarea><br />
                                        (Remained characters: <i id="maxchars">80</i>)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Control Number
                                        <i class="fa fa-times" style="color:white" id="ControlNumber_1"></i>
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="contolNumberCheckbox">
                                        <input id="ControlNumber"
                                               style="width:265px;"
                                               type="number">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Misc Deduction Amount
                                        <i class="fa fa-times" style="color:white" id="MiscDeduction_1"></i>
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="MiscDeductionCheckbox">
                                        <amount-input id="MiscDeduction" style="width:265px;" />
                                    </td>
                                </tr>
                                <tr class="MiscDeduction">
                                    <td class="form-label">
                                        Misc Ded. Description
                                        <i class="fa fa-times" style="color:white" id="MiscDeductionDescription_1"></i>
                                    </td>
                                    <td>
                                        <textarea rows="2" id="MiscDeductionDescription" style="width:300px;" maxlength="80"></textarea>
                                    </td>
                                </tr>
                                <tr class="MiscDeduction">
                                    <td class="form-label">
                                        Misc Ded. Payee
                                        <i class="fa fa-times" style="color:white" id="MiscDeductionPayee_1"></i>
                                    </td>
                                    <td>
                                        <div class="name-input-container">
                                            <input type="text" readonly id="MiscDeductionPayee" placeholder="No Payee Selected" style="width:260px" />
                                            <a class="search-btn" onclick="SearchPayee('MiscDeduction')"
                                               href="#" style="float:right">
                                                <i class="fa fa-search search-icon"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-lg-6 col-sm-12" style="padding-left:6%">
                            <table>
                                <tr>
                                    <td class="form-label">
                                        Is Accrual Voucher?
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px;" id="IsAccrualVoucher">
                                        <input id="_IsAccrualVoucher" style="width:265px;font-weight:bold" type="text" disabled value="NO">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Is Embassy Payment?
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="IsEmbassyPayment">
                                        <input id="_IsEmbassyPayment" style="width:265px;font-weight:bold" type="text" disabled value="NO">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Is St Payment?
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="IsStPayment">
                                        <input id="_IsStPayment" style="width:265px;font-weight:bold" type="text" disabled value="NO">
                                    </td>
                                </tr>
                                <tr class="IsStPayment">
                                    <td class="form-label">
                                        Parent Institution
                                        <i class="fa fa-times" style="color:white" id="ParentInstitution_1"></i>
                                    </td>
                                    <td>
                                        <select id="ParentInstitution" style="width:300px"></select>
                                    </td>

                                </tr>
                                <tr class="IsStPayment">
                                    <td class="form-label">
                                        SubWarrant
                                        <i class="fa fa-times" style="color:white" id="SubWarrant_1"></i>
                                    </td>
                                    <td>
                                        <select id="SubWarrant" style="width:300px"></select>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Sub Budget Class
                                        <i class="fa fa-times" style="color:white" id="SubBudgetClass_1"></i>
                                    </td>
                                    <td>
                                        <select id="SubBudgetClass" style="width:300px">
                                            <option value="Please choose sub budget class" selected="selected">Please choose sub budget class</option>
                                            @foreach (var subBudgetClass in ViewBag.subBudgetClassList)
                                            {
                                                <option value='@subBudgetClass.SubBudgetClass;
                                                              @subBudgetClass.OperationalCurrencyCode;
                                                              @subBudgetClass.OperationalExchangeRate;
                                                              @subBudgetClass.BaseCurrencyCode'>
                                                    @subBudgetClass.SubBudgetClassSubBudgetClassDesc
                                                </option>
}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Total Amount
                                        <i class="fa fa-times" style="color:white" id="_total_voucher_amount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input id="total_voucher_amount" onkeyup="clearVochaDetailsTable()" style="width:255px" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        With holding
                                        <i class="fa fa-times" style="color:white" id="WithHolding_1"></i>
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="WithHoldingCheckbox">
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Withholding Amount
                                    </td>
                                    <td>
                                        <pre id="WithHoldingAmount">0</pre>
                                        (Service)x5% + (Goods)x2% <span id="other_w"></span>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Non-Rechargeable Amount(eg. VAT)
                                        <i class="fa fa-times" style="color:white" id="VATOnService_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="VATOnService" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Service
                                        <i class="fa fa-times" style="color:white" id="ServiceAmount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="ServiceAmount" onkeyup="computeWithHoldTotal()" />

                                        </div>
                                    </td>
                                </tr>

                                <tr class="with-holding">
                                    <td class="form-label">
                                        Goods
                                        <i class="fa fa-times" style="color:white" id="GoodsAmount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="GoodsAmount" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Other
                                        <i class="fa fa-times" style="color:white" id="Other_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="checkbox" id="Other" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="other">
                                    <td class="form-label">
                                        Amount
                                        <i class="fa fa-times" style="color:white" id="OtherWithholdingAmount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="OtherWithholdingAmount" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="other">
                                    <td class="form-label">
                                        Percent
                                        <i class="fa fa-times" style="color:white" id="OtherWithholdingPercent_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong>(%)</strong>
                                            </span>
                                            <percent-input type="text" style="width:250px" id="OtherWithholdingPercent" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Total Amount
                                    </td>
                                    <td><input class="with-holding" value="0" type="text" style="width:300px" id="WithHoldingTotalAmount" disabled></td>
                                </tr>
                                <tr id="applydateContaner">
                                    <td class="form-label">
                                        Apply Date
                                        <i class="fa fa-times" style="color:white" id="ApplyDate_1"></i>
                                    </td>
                                    <td>
                                        <div class="flatpickrApplydate date-group">
                                            <input type="text" placeholder="Select Date.."
                                                   data-input
                                                   style="width:262px;padding-left:10px;border:none"
                                                   autocomplete="off" id="ApplyDate">
                                            <a class="input-button" title="open" data-toggle href="#">
                                                <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Invoice Date
                                        <i class="fa fa-times" style="color:white" id="InvoiceDate_1"></i>
                                    </td>
                                    <td>
                                        <div class="flatpickr date-group">
                                            <input type="text" placeholder="Select Date.."
                                                   data-input
                                                   style="width:262px;padding-left:10px;border:none"
                                                   autocomplete="off" id="InvoiceDate">
                                            <a class="input-button" title="open" data-toggle href="#">
                                                <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Payment Method
                                        <i class="fa fa-times" style="color:white" id="PaymentMethod_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <select id="PaymentMethod" style="width:300px">
                                                  @if (ViewBag.isEmbassy)
                                                {
                                                    <option value="Cheque">Cheque</option>
                                                }
                                                else
                                                {
                                                    <option value="EFT">EFT</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">GL Items</td>
                                    <td>
                                        <a class="search-btn" onclick="SearchGl()" href="#" style="display:block;width:300px">
                                            <i class="fa fa-search search-icon"></i>
                                            Search...
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="padding-top:5px">

                        <table id="dt_voucher_detail" class="table table-striped table-bordered
                                       table-hover table-condensed" width="100%"></table>
                        <div style="padding-bottom:10px" id="infoPanel">
                            <div class="info-box">No GL Items Selected</div>
                        </div>
                    </div>
                    <!-- end widget content -->
                    <div style="float:right;padding-bottom:10px">
                        <strong>TOTAL AMOUNT (<strong class="currency">TZS</strong>): </strong>
                        <strong id="total_amount">0.00</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <button class="btn btn-info" href='@Url.Action("pendingvoucher", "PaymentVoucher")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </button>
                            <button type="submit" class="btn btn-info" id="form_submision">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </article>

    </section>
</div>

<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Payee</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PaymentId</th>
                            <th>BIC</th>
                            <th>CtrlNum</th>
                            <th>Payee Name</th>
                            <th>Account Name</th>
                            <th>Payee Code</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th>Payee Type</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

<!----------- Search GL Items ----------------->
<div class="modal fade" id="glItemsModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Gl Item(s)</h3>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="padding:5px">Total Voucher Amount</td>
                        <td style="padding:5px">
                            <input type="text" disabled id="total_voucher_amount2">
                        </td>

                        <td style="padding:5px">Total Line Amount</td>
                        <td style="padding:5px">
                            <input value="0" type="text" disabled id="total_line_amount">
                        </td>

                        <td style="padding:5px">Difference</td>
                        <td style="padding:5px">
                            <input value="0" type="text" disabled id="difference">
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="row-align" style="padding-top:1%;padding-bottom:1%">
                        <div>
                            Currency: <strong class="currency"></strong>
                        </div>
                        <div class="search-container " style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox2">
                        </div>
                    </div>
                    <table id="dt_search_gl_item" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Expenditure Line Item</th>
                                <th>Item Description</th>
                                <th id="BalanceTitle">Fund Balance</th>
                                <th id="FundingRef">Funding Reference</th>
                                <th>SubLevelCode</th>
                                <th>Expense Amount</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" id="btn_save_gl_items">
                        <i class="fa fa-save"></i>Save
                    </button>
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- HIDDEN SECTION -->
<table id="dt_selected_payee" class="table" style="visibility:hidden"></table>

@section pagespecific{
    <script>
        $(document).ready(function () {
            $("#dt_search_gl_item_wrapper .dt-toolbar").remove();
            $("#dt_selected_payee_wrapper .dt-toolbar").remove();
            $("#dt_selected_payee_wrapper .dt-toolbar-footer").remove();
            $("#dt_search_payee_wrapper .dt-toolbar").remove();
            $("#dt_voucher_detail_wrapper .dt-toolbar").remove();
            $("#dt_voucher_detail_wrapper .dt-toolbar-footer").remove();
            $(".with-holding").toggle(false)
            $(".other").toggle(false)
        });

        OtherIsProvided = false;
        $("#Other").change(function () {
            $(".other").toggle(this.checked);
            $("#_OtherWithholdingAmount").val(0)
            $("#_OtherWithholdingPercent").trigger('keyup')
            $("#_OtherWithholdingAmount").trigger('keyup')
            $("#_OtherWithholdingPercent").val(0)

            if (this.checked) {
                $("#other_w").text("+ 0x0%");
            }
            OtherIsProvided = this.checked;
        });

        WithHoldingIsProvided = false;
        $("#WithHoldingCheckbox").change(function () {
            $(".with-holding").toggle(this.checked);
            if (!this.checked) {
                //$(".other").toggle(this.checked);
                //$("#")
             }
            WithHoldingIsProvided = this.checked;
        });

        // ============= SHOW PAYEE ===============
        var dt_selected_payee = $('#dt_selected_payee').dataTable({
            "data": [],
            "columnDefs": [{
                "targets": [0, 1],
                "visible": false
            }],
            "columns": [
                { title: "Payee DetailId" },
                { title: "Payee BIC" },
                { title: "Payee Name" },
                { title: "Account Name" },
                { title: "Payee Code" },
                { title: "Bank Name" },
                { title: "Payee Type" },
                { title: "Bank Account No" },
                { title: "Address" }
            ]
        });

        //Date.prototype.toDateInputValue = (function () {
        //    var local = new Date(this);
        //    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        //    return local.toJSON().slice(0, 10);
        //});


        $(function () {
            $(".flatpickrApplydate").flatpickr({
                enableTime: false,
                dateFormat: "Y-m-d",
                wrap: true,
            });
            @*$('#ApplyDate').val("@ViewBag.ApplyDate");
            $('#InvoiceDate').val("@ViewBag.ApplyDate");*@
        });

        var dt_search_payee = $('#dt_search_payee').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [1, 2, 3] }],
        });

        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_payee.fnClearTable();
            } else {
                searchPayeeTableUpdate(this.value);
            }
        });

        function searchPayeeTableUpdate(search) {
            var url = '@Url.Action("GetPayee", "PaymentVoucher")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_search_payee.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_search_payee.fnAddData([i + 1,
                           data[i]["PayeeDetailId"],
                           data[i]["BIC"],
                           data[i]["RequireControlNum"],
                           data[i]["PayeeName"],
                           data[i]["AccountName"],
                           data[i]["PayeeCode"],
                           data[i]["BankName"],
                           data[i]["Accountnumber"],
                           data[i]["PayeeType"],
                           data[i]["Address1"],
                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        var miscDedeductionPayeeId = 0
        function payeeClicked(rowId) {
            var data = dt_search_payee.DataTable().rows().data();
            var row = data[rowId];

            if (payeeSearchMod == "MiscDeduction") {
                miscDedeductionPayeeId = row[1]
                $("#MiscDeductionPayee").val(row[5]);
            } else {
                dt_selected_payee.fnClearTable();
                dt_selected_payee.fnAddData([row[1], row[2], row[4], row[5], row[7], row[6], row[8], row[9], row[10]]);
                $("#PayeeName").val(row[4]);
                $("#AccountName").val(row[5]);
                $('#PayeeType option')
                .filter(function () {
                    $(this).removeAttr("selected");
                });
                $('#PayeeType option')
                .filter(function () {
                    return $.trim($(this).text().trim().toLowerCase()) == row[9].trim().toLowerCase();
                }).attr('selected', 'selected');
            }

            $("#payeeModal").modal("hide");
        }
        // =========== END SEARCH PAYEE ====================


        // =========== START VOUCHER DETAILS ===============
        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "SubLevelCode" },
                { title: "Expense Amount" }
            ]
        });

        // =========== END VOUCHER DETAILS ====================
        var payeeSearchMod = ''
        function SearchPayee(mode) {
            payeeSearchMod = mode
            $('#payeeModal').modal('show');
        }

        ///========== SEARCH GL =====
        var dt_search_gl_item = $('#dt_search_gl_item').dataTable({
            "language": {
                "emptyTable": '<strong id="loader" style="color:green">No matching records found</strong>',
                "zeroRecords": "No matching records found"
            },
        });

        $("#searchbox2").on("keyup search input paste cut", function () {
            dt_search_gl_item.DataTable().search(this.value).draw();
        });

        var SubBudgetClassOld = $("#SubBudgetClass").val();

        $("#SubBudgetClass").change(function () {
            var _data = dt_voucher_detail.DataTable().rows().data();
            if (_data.length > 0) {
                confirmSubBudgetClassChange(SubBudgetClassOld, $(this).val());
            }
            //else {
            //    updateSearchGITable($(this).val());
            //}
            SubBudgetClassOld = $(this).val();
            var subBudgetClassList = SubBudgetClassOld.split(";");
            var subBudgetClass = subBudgetClassList[0].trim();
            $(".currency").text(subBudgetClassList[1].trim());
        });

        let data = []

        function updateSearchGITable(subBudgetClassList) {
            dt_search_gl_item.fnClearTable();
            $("#loader").text("Loading Please Wait...")
            subBudgetClassList = subBudgetClassList.split(";");
            var subBudgetClass = subBudgetClassList[0].trim();
            var url = '@Url.Action("GetFundbalance", "PaymentVoucher")';

            var fundBalanceParams = {
                subBudgetClass,
                instCode: $("#IsStPayment").is(":checked") ? $("#ParentInstitution").val().split("-")[0].trim() : "UNKNOWN",
                subWarrantCode: $("#IsStPayment").is(":checked") ? $("#SubWarrant").val().split("-")[0].trim() : "UNKNOWN",
                applyDate: $("#ApplyDate").val(),
                JournalTypeCode: $("#IsEmbassyPayment").is(":checked") ? "PVE" : "UNKNOWN",
                IsAccrualVoucher: $("#IsAccrualVoucher").is(":checked")
            };

            $(".currency").text(subBudgetClassList[1].trim());

            $.ajax({
                type: "post",
                url: url,
                data: fundBalanceParams,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    updateGLSearchTable(data)
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        $('#dt_search_gl_item').on('draw.dt', function () {
            Object.keys(selectedItems).forEach(Id=>{
                $("#_Id-"+Id+"").val(toLabel(selectedItems[Id].Amount))
                $("#Id-"+Id+"").val(toLabel(selectedItems[Id].Amount))
            })
        });

        function updateGLSearchTable(data) {
            dt_search_gl_item.fnClearTable();
            for (var i = 0; i < data.length; i++) {
                var Id = data[i].FundBalanceViewId
                if ($("#IsAccrualVoucher").is(":checked")) {
                    dt_search_gl_item
                        .fnAddData([i + 1,
                                    data[i]["GlAccount"].split("|").join("-"),
                                    data[i]["GlAccountDesc"],
                                    toLabel(data[i]["BudgetBalance"]|| 0),
                                    'NA',
                                    data[i]["SublevelCode"],
                                    '<amount-input placeholder="Amount" id="Id-' + Id + '" onkeyup="amountChanged(' + Id + ')" />'
                    ]);
                } else {
                    dt_search_gl_item
                        .fnAddData([i + 1,
                                    data[i]["GlAccount"].split("|").join("-"),
                                    data[i]["GlAccountDesc"],
                                    toLabel(data[i]["FundBalance"]),
                                    data[i]["FundingRefNo"],
                                    data[i]["SublevelCode"],
                                    '<amount-input placeholder="Amount" id="Id-' + Id + '" onkeyup="amountChanged(' + Id + ')" />'
                    ]);
                }

            }

            if (data.length == 0) {
                $("#loader").text("No Matching Record Found")
            } else {
                $("#loader").text("")
            }
        }

        var TotalAmountOld = toNumber($("#_total_voucher_amount").val());
        function clearVochaDetailsTable() {
            var _data = dt_voucher_detail.DataTable().rows().data();

            if (_data.length > 0) {
                confirmTotalAmountChange(TotalAmountOld, toNumber($("#_total_voucher_amount").val()));
            }
            TotalAmountOld = $("#_total_voucher_amount").val();
        }


        function resetVochaDetailsTable() {
            $("#total_amount").text("0.00");
            dt_voucher_detail.fnClearTable();
        }

        function SearchGl() {
            if (voucherSummaryFormValidation()) {
                $('#total_voucher_amount2').val(toLabel($('#_total_voucher_amount').val()));
                computeTotalAmount();
                updateSearchGITable($("#SubBudgetClass").val());
                $('#glItemsModal').modal('show');
            }
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

        var form_data_status = [];
        var all_amounts = {};
        var selectedItems = {}
        function amountChanged(Id) {
            var Amount = toNumber($("#_Id-" + Id).val()||"0");
            var row = data.filter(a=>a.FundBalanceViewId == Id)[0]
            if (Amount > 0) {
                selectedItems[Id] = { ...row, Amount };
                if(toNumber(row.FundBalance)>=Amount){
                    $("#_Id-" + Id).css({ 'color': 'black' });
                    remove(form_data_status, Id);
                    computeTotalAmount();
                }else{
                    form_data_status.push(Id);
                    $("#_Id-" + Id).css({ 'color': 'red' });
                }
            }else{
                delete selectedItems[Id]
            }
        }

        function computeTotalAmount() {
            var total_amount = 0;
            var difference = 0;
            Object.keys(selectedItems).forEach(Id=>{
                total_amount += selectedItems[Id].Amount
            })
            try {
                difference = toNumber($('#_total_voucher_amount').val()).toFixed(2) - toNumber(total_amount).toFixed(2);
                $('#difference').val(toLabel(difference));
                if (difference < 0) {
                    $("#difference").css({ 'color': 'red' });
                } else {
                    $("#difference").css({ 'color': 'black' });
                }
            } catch (e) { }
            $("#total_line_amount").val(toLabel(total_amount));
        }

        $("#btn_save_gl_items").click(function () {
            var total_amount = 0;
            var difference = 0;
  
            if (form_data_status.length == 0) {
                dt_voucher_detail.fnClearTable();
                $("#total_amount").text("0.00");
                Object.keys(selectedItems).forEach(Id => {
                    if (selectedItems[Id].GlAccount) {
                        total_amount += selectedItems[Id].Amount
                        dt_voucher_detail.fnAddData([
                            selectedItems[Id].GlAccount,
                            selectedItems[Id].GlAccountDesc,
                            selectedItems[Id].FundingRefNo,
                            selectedItems[Id].SublevelCode,
                            toLabel(selectedItems[Id].Amount)
                        ]);
                    }
                })     
                $("#total_amount").text(toLabel(total_amount));
                difference = toNumber($('#_total_voucher_amount').val()).toFixed(2) - toNumber(total_amount).toFixed(2);
                if (difference < 0) {
                    swal("Difference Cannot be negative..");
                    dt_voucher_detail.fnClearTable();
                } else {
                    $('#glItemsModal').modal('hide');
                }
            } else {
                swal("Item has insufficient fund balance....");
            }
            toggleTableInfo();
        });

      
        toggleTableInfo();
        function toggleTableInfo() {
            var data = dt_voucher_detail.DataTable().rows().data();
            if (data.length > 0) {
                $("#dt_voucher_detail").toggle(true);
                $("#infoPanel").toggle(false);
            } else {
                $("#dt_voucher_detail").toggle(false);
                $("#infoPanel").toggle(true);
            }
        }


        $("#saveLoader").toggle(false);
        var isSubmitted = false
        $("#form_submision").click(function () {
            var difference = toNumber($("#_total_voucher_amount").val())
                - toNumber($("#WithHoldingTotalAmount").val());
            if (toNumber($("#difference").val()) != 0) {
                swal("Difference Must be Zero.");

            } else if (WithHoldingIsProvided && difference != 0) {
                swal("'Withholding Total' must be equal to 'Total Amount'")
            } else {
                if (voucherSummaryFormValidation()) {
                    //controlNumberIsProvided = false // ADD THIS
                    if(controlNumberIsProvided){
                        validateContolNumber()
                    }else{
                        saveVoucherInformation()
                    }
                } else {
                    swal("Please Fill all the Voucher Details");
                }
            }
        });

        function validateContolNumber(){
            var url = '@Url.Action("ValidateControlNumber", "PaymentVoucher")';
            var ctrlNo = $("#ControlNumber").val();
            $.ajax({
                type: "GET",
                url: url,
                data: { ctrlNo },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if(response.error){
                        swal(response.error)
                    }else if(response.data.Message == "Valid"){
                        var data = dt_selected_payee.DataTable().rows().data();
                        var row = data.rows(0).data()[0];
                        var payerAccount = row[6].toLocaleLowerCase()
                        if (!response.data.xmlResponse.toLocaleLowerCase().includes(payerAccount)) {
                            try {
                                var jsonObject = JSON.parse(response.data.jsonResponse)
                                console.log(jsonObject.Gepg.gepgBillAccQryResp.BillAccDtl.AccDtl)
                                var bankAccs = jsonObject.Gepg.gepgBillAccQryResp.BillAccDtl.AccDtl || []
                                var msg = ""
                                if (Array.isArray(bankAccs)) {
                                    bankAccs.forEach(acc=> {
                                        msg += `BankName: ${acc.PspName}
                                           AccountName: ${acc.CtrAccName}
                                           AccNumber: ${acc.CtrAccNum}
                                           ____________________________________________________\n`
                                    })
                                } else if (typeof bankAccs === 'object') {
                                    msg += `BankName: ${bankAccs.PspName}
                                        AccountName: ${bankAccs.CtrAccName}
                                            AccNumber: ${bankAccs.CtrAccNum}
                                           ____________________________________________________\n`
                                } else {
                                    msg = "NO ACCOUNTS!"
                                }
                              
                                swal(`The given control number (${ctrlNo}) is invalid for this beneficiary account :${payerAccount}\n
                                     VALID ACCOUNTS FOR THIS CONTROL NUMBER:
                                     ____________________________________________________
                                    ${msg}`)
                            } catch (err) {
                                console.log(err)
                                swal(`The given control number (${ctrlNo}) is invalid for this beneficiary account :${payerAccount}`)
                            }
                        }else{
                            if(response.data.BillPayOpt=="PART"){
                                saveVoucherInformation()
                            }else{
                                if(response.data.BillAmt == toNumber($("#_total_voucher_amount").val())){
                                    saveVoucherInformation()
                                }else{
                                    swal("This bill should be paid in full: Bill Amount ("+toLabel(response.data.BillAmt)+")")
                                }
                            }
                        }
                    }else{
                        swal("Invalid Control Number")
                    }  
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function saveVoucherInformation(){
            try {

                var data = dt_selected_payee.DataTable().rows().data();
                var row = data.rows(0).data()[0];
                var subBudgetClassList = $("#SubBudgetClass").val().split(";");
                var subBudgetClass = subBudgetClassList[0].trim();
                var exchangeRate = subBudgetClassList[2].trim();
                var baseCurrencyCode = subBudgetClassList[3].trim();
                var operationalCurrencyCode = subBudgetClassList[1].trim();
                var baseAmount = toNumber($("#_total_voucher_amount").val()) * toNumber(exchangeRate);

                var voucherDetails = []
                var voucherDetailsData = dt_voucher_detail.DataTable().rows().data();

                for (var i = 0; i < voucherDetailsData.length; i++) {
                    var _row = voucherDetailsData.rows(i).data()[0];
                    var baseAmountDetail = toNumber(_row[4]) * toNumber(exchangeRate);
                    if (baseAmountDetail > 0) {
                        voucherDetails.push({
                            "ExpenditureLineItem": _row[0].split("-").join("|"),
                            "ItemDescription": _row[1],
                            "FundingReference": _row[2],
                            "ExpenseAmount": _row[4],
                            "baseAmountDetail": baseAmountDetail,
                            SublevelCode: _row[3]
                        })
                    }
                }

                var form_data = {
                    "PayeeDetailId": row[0],
                    "PayeeName": row[2],
                    "PayeeAccountName": row[3],
                    "PayeeCode": row[5],
                    "PayeeBIC": row[1],
                    "BankName": row[4],
                    "PayeeType": $("#PayeeType").val(),
                    "BankAccountNo": row[6],
                    "Address": row[8],
                    "PaymentDescription": $("#PaymentDescription").val(),
                    "InvoiceNo": $("#InvoiceNo").val(),
                    "Comments": $("#Comments").val(),
                    "SubBudgetClass": subBudgetClass,
                    "OperationalAmount": toNumber($("#_total_voucher_amount").val()),
                    "BaseAmount": baseAmount,
                    "ExchangeRate": exchangeRate,
                    "OperationalCurrencyCode": operationalCurrencyCode,
                    "BaseCurrencyCode": baseCurrencyCode,
                    "ApplyDate": $("#ApplyDate").val(),
                    "InvoiceDate": $("#InvoiceDate").val(),
                    "PaymentMethod": $("#PaymentMethod").val(),
                    "VoucherDetails": voucherDetails,
                    IsAccrualVoucher: $("#IsAccrualVoucher").is(":checked"),
                    hasWithHolding: WithHoldingIsProvided,
                    ServiceAmount: $("#_ServiceAmount").val() ? $("#_ServiceAmount").val() : 0,
                    VATOnService: $("#_VATOnService").val() ? $("#_VATOnService").val() : 0,
                    GoodsAmount: $("#_GoodsAmount").val() ? $("#_GoodsAmount").val() : 0,
                    OtherWithholdingAmount: $("#_OtherWithholdingAmount").val() ? $("#_OtherWithholdingAmount").val() : 0,
                    OtherWithholdingPercent: $("#_OtherWithholdingPercent").val() ? $("#_OtherWithholdingPercent").val() : 0,
                    VATOnGoods: 0,
                    OperationalWithHoldingAmount: $("#WithHoldingAmount").text() ? toNumber($("#WithHoldingAmount").text()) : 0,
                    BaseWithHoldingAmount: $("#WithHoldingAmount").text() ? toNumber($("#WithHoldingAmount").text()) * exchangeRate : 0,
                    IsStPayment: $("#IsStPayment").is(":checked"),
                    ParentInstitutionCode: $("#ParentInstitution").val() ? $("#ParentInstitution").val().split("-")[0].trim() : '',
                    ParentInstitutionName: $("#ParentInstitution").val() ? $("#ParentInstitution").val().split("-")[1].trim() : '',
                    SubWarrantCode: $("#SubWarrant").val() ? $("#SubWarrant").val().split("-")[0].trim() : '',
                    SubWarrantDescription: $("#SubWarrant").val() ? $("#SubWarrant").val().split("-")[1].trim() : '',
                    ControlNumber: $("#ControlNumber").val()
                }

                if(MiscDeductionIsProvided){
                    form_data.MiscDeduction = $("#MiscDeduction").val()
                    form_data.MiscDeductionDescription = $("#MiscDeductionDescription").val()
                    form_data.MiscDeductionPayeeDetailsId = miscDedeductionPayeeId
                    form_data.MiscDeductionPayeeName = $("#MiscDeductionPayee").val()
                }

                //if(controlNumberIsProvided){
                //    form_data.ControlNumber= $("#ControlNumber").val()
                //}

                //form_data.ControlNumber= $("#ControlNumber").val()

                if (voucherDetails.length == 0) {
                    swal("No GL Items Selected")
                } else {
                    var url = '@Url.Action("CreateVoucher", "PaymentVoucher")';
                    var urlList = '@Url.Action("PendingVoucher", "PaymentVoucher")';
                    $("#form_submision").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    if (!isSubmitted) {
                        isSubmitted = true
                        $.ajax({
                            type: "post",
                            url: url,
                            data: form_data,
                            contenttype: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (response) {
                                isSubmitted = false
                                $("#form_submision").prop('disabled', false);
                                $("#saveLoader").toggle(false);
                                if (response == "Success") {
                                    swal("Saved Successfully!", { icon: "success" })
                                        .then((value) => {
                                            window.location.href = urlList;
                                        });
                                }
                                else {
                                    $("#form_submision").prop('disabled', false);
                                    $("#saveLoader").toggle(false);
                                    swal(response);
                                }
                            },
                            failure: function (error) {
                                $("#form_submision").prop('disabled', false);
                                $("#saveLoader").toggle(false);
                                swal(error);
                            }
                        });
                    }
                }
            } catch (e) {
                console.log(e)
                swal("Error submitting Voucher Entry. Please consult system administrator!");
            }
        }

        var controlNumberIsProvided = false;
        function voucherSummaryFormValidation() {
            $("#SubBudgetClass_1").attr("style", "color: white;");
            $("#ControlNumber_1").attr("style", "color: white;");
            $("#MiscDeduction_1").attr("style", "color: white;");
            $("#MiscDeductionDescription_1").attr("style", "color: white;");
            $("#MiscDeductionPayee_1").attr("style", "color: white;");

            if (controlNumberIsProvided) {
                var reg = new RegExp(/^[0-9]*$/);
                if ($("#ControlNumber").val().trim() == "" || !reg.test($("#ControlNumber").val())) {
                    $("#ControlNumber_1").attr("style", "color: red;");
                    return false
                }
            }

            if (MiscDeductionIsProvided) {
                if (!$("#_MiscDeduction").val()) {
                    $("#MiscDeduction_1").attr("style", "color: red;");
                    return false
                }

                if (!$("#MiscDeductionDescription").val()) {
                    $("#MiscDeductionDescription_1").attr("style", "color: red;");
                    return false
                }
                if (!$("#MiscDeductionPayee").val()) {
                    $("#MiscDeductionPayee_1").attr("style", "color: red;");
                    return false
                }

                if (toNumber($("#_MiscDeduction").val()) > toNumber($("#_total_voucher_amount").val())) {
                    swal("Misc Deduction exceeds voucher amount.")
                    return false
                }

                var amount = toNumber($("#_total_voucher_amount").val()) - toNumber($("#_MiscDeduction").val()) - WITHHOLDING_AMOUNT;
                if (amount < 10000) {
                    swal("[Voucher Amount - Misc Deduction Amount] should not be less than 10,000")
                    return false
                }
            }

            var isNotValid = validateInputsParameters([
                "#AccountName",
                "#Comments",
                "#PaymentDescription",
                "#_total_voucher_amount",
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }


            if ($("#SubBudgetClass").val().trim() == "Please choose sub budget class") {
                $("#SubBudgetClass_1").attr("style", "color: red;");
                return false
            }


            if (OtherIsProvided) {
                if (!$("#_OtherWithholdingAmount").val()) {
                    $("#OtherWithholdingAmount_1").attr("style", "color: red;");
                    return false
                }
                if (!$("#_OtherWithholdingPercent").val()) {
                    $("#OtherWithholdingPercent_1").attr("style", "color: red;");
                    return false
                }
            }

            return true
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        $("#contolNumberCheckbox").change(function () {
            $('#ControlNumber').toggle(this.checked);
            controlNumberIsProvided = this.checked;
        });
        $('#ControlNumber').toggle(false);

        MiscDeductionIsProvided = false;
        $("#MiscDeductionCheckbox").change(function () {
            $('#MiscDeduction').toggle(this.checked);
            $('.MiscDeduction').toggle(this.checked);
            MiscDeductionIsProvided = this.checked;
        });

        $('#MiscDeduction').toggle(false);
        $('.MiscDeduction').toggle(false);
        function confirmTotalAmountChange(oldVal, newVal) {
            swal({
                title: 'Change Total Amount?',
                text: "All the GL Items will be Cleared",
                buttons: [
                  'Cancel',
                  'Proceed'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#_total_voucher_amount").val(newVal);
                    dt_voucher_detail.fnClearTable();
                    $("#total_amount").load(location.href + " #total_amount");
                    $("#total_line_amount").val(0);

                    all_amounts = {};
                    updateSearchGITable($("#SubBudgetClass").val());
                    computeTotalAmount();

                    swal({
                        title: 'Success',
                        icon: 'success'
                    });
                } else {
                    $("#_total_voucher_amount").val(toLabel(oldVal));
                    TotalAmountOld = oldVal;
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function confirmSubBudgetClassChange(oldVal, newVal) {
            swal({
                title: 'Change Sub Budget Class?',
                text: "All the GL Items will be Cleared",
                buttons: [
                  'Cancel',
                  'Proceed'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    dt_voucher_detail.fnClearTable();
                    $("#total_amount").load(location.href + " #total_amount");
                    $("#total_line_amount").val(0);
                    all_amounts = {};
                    updateSearchGITable(newVal);
                    computeTotalAmount();
                    swal({
                        title: 'Success',
                        icon: 'success'
                    });
                } else {
                    $("#SubBudgetClass").val(oldVal).prop('selected', true);
                    SubBudgetClassOld = $("#SubBudgetClass").val();
                    swal("Cancelled", "No change was made");
                }
            });
        }

        var WITHHOLDING_AMOUNT = 0
        function computeWithHoldTotal() {
            var ServiceAmount = $("#_ServiceAmount").val() ? $("#_ServiceAmount").val() : 0;
            var VATOnService = $("#_VATOnService").val() ? $("#_VATOnService").val() : 0;
            var GoodsAmount = $("#_GoodsAmount").val() ? $("#_GoodsAmount").val() : 0;
            var OtherWithholdingAmount = $("#_OtherWithholdingAmount").val() ? $("#_OtherWithholdingAmount").val() : 0;
            var OtherWithholdingPercent = $("#_OtherWithholdingPercent").val() ? $("#_OtherWithholdingPercent").val() : 0;

            var VATOnGoods =  0;

            var total = toNumber(ServiceAmount)
                + toNumber(VATOnGoods)
                + toNumber(VATOnService)
                + toNumber(GoodsAmount)
                + toNumber(OtherWithholdingAmount);


            var withHoldingAmount = toNumber(ServiceAmount) * 0.05
                + toNumber(GoodsAmount) * 0.02 + toNumber(OtherWithholdingAmount) * toNumber(OtherWithholdingPercent)/100;
            WITHHOLDING_AMOUNT = withHoldingAmount
            $("#WithHoldingAmount").text(toLabel(withHoldingAmount))
            $("#WithHoldingTotalAmount").val(toLabel(total))
            totalAmount = toNumber($("#_total_voucher_amount").val());
            totalAmount = totalAmount ? totalAmount : 0;
            if (total.toFixed(2) > totalAmount.toFixed(2)) {
                $("#WithHoldingTotalAmount").attr("style", "color: red;width:300px");
            } else {
                $("#WithHoldingTotalAmount").attr("style", "color: black;width:300px");
            }

            $("#other_w").text("+ " + OtherWithholdingAmount + "x" + OtherWithholdingPercent + "%");
        }

        var OldDescVal = ""
        $("#PaymentDescription").on("keyup", function (e) {

            $("#maxchars").text(80 - this.value.length)
            if(this.value){
                var reg = new RegExp(/[0-9a-zA-Z ]/);
                if (!reg.test(this.value.substr(-1))) {
                    $("#PaymentDescription").val(OldDescVal)
                } else {
                    OldDescVal = this.value
                }
            }
        });

        $("#Comments").on("keyup", function (e) {
            $("#maxchars_c").text(250 - this.value.length)
        });

        $('#PaymentDescription').bind('copy paste cut', function (e) {
            e.preventDefault();
            swal('Paste option is disabled !!');
        });
        function toLabel(number) {
            number = number || 0
            return number.toLocaleString(undefined, {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2
            })
        }

        function toNumber(number) {
            number = number || 0
            return parseFloat(number.toString().split(",").join(""))
        }

        $("#applydateContaner").toggle(false)
        $("#IsAccrualVoucher").change((e) => {
            $("#_IsAccrualVoucher").val(e.target.checked ? "YES" : "NO")
            $("#BalanceTitle").text(e.target.checked ? "Budget Balance" : "Fund Balance")
            //updateGLSearchTable(data)
            $("#FundingRef").text(e.target.checked?"-":"Funding Reference")
            if (e.target.checked) {
                $("#applydateContaner").toggle(true)
            } else {
                $("#applydateContaner").toggle(false)
            }
        })

        $(".IsStPayment").toggle(false)
        $("#IsStPayment").change((e) => {
            $("#_IsStPayment").val(e.target.checked ? "YES" : "NO")
            if (e.target.checked) {
                $(".IsStPayment").toggle(true)
                $("#applydateContaner").toggle(true)
                GetParentInstitutions();
            } else {
                $(".IsStPayment").toggle(false)
                $("#applydateContaner").toggle(false)
            }
        })

        $("#IsEmbassyPayment").change((e) => {
            $("#_IsEmbassyPayment").val(e.target.checked ? "YES" : "NO")
        })
        function GetParentInstitutions() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetParentInstitutions", "PaymentVoucher")",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                if (response.data) {
                    let dropDown = document.getElementById("ParentInstitution")
                    dropDown.innerHTML = ''
                    response.data.forEach(v=> {
                        let option = document.createElement('option')
                        option.value = `${v.ParentInstitutionCode}-${v.ParentInstitutionName}`
                        option.innerHTML = `${v.ParentInstitutionCode}-${v.ParentInstitutionName}`
                        dropDown.appendChild(option)
                    })
                    $("#ParentInstitution").trigger("change")
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
        }

        $("#ParentInstitution").change(function () {
            GetSubWarrants(this.value.split("-")[0].trim())
        });

        function GetSubWarrants(institutionCode) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetSubWarrants", "PaymentVoucher")",
                data: { institutionCode },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                if (response.data) {
                    let dropDown = document.getElementById("SubWarrant")
                    dropDown.innerHTML = ''
                    response.data.forEach(v=> {
                        let option = document.createElement('option')
                        option.value = `${v.SubWarrantCode}-${v.SubWarrantDescription}`
                        option.innerHTML = `${v.SubWarrantCode}-${v.SubWarrantDescription}`
                        dropDown.appendChild(option)
                    })
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
        }
    </script>
}


