@{
    ViewBag.Title = "Generate Payment";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 5px;
        padding-left: 5px;
        display: flex;
        justify-content:space-between;
        flex-wrap:nowrap;
        flex-direction:row;
    }
    .searchIcon{
        margin-top: 5px;
    }
    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    table td:nth-child(7) {
        text-align: right;
    }
    .total-amount{
        float: right;
    }
    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }
    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .row-align{
        display: flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:space-between;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row-align">
                                <div>
                                    <button class="btn btn-info" id="generate" onclick="GetCashBookBalance(this)">
                                        <i class="fa fa-file-text-o"></i> <span id="Generate">Generate</span>
                                    </button>
                                </div>
                                <div>
                                    <strong>Acc: </strong> 
                                    <select id="bankAccounts" style="width:120px;background-color:#ECF3F8" class="filters"></select>
                                 </div>
                                <div>
                                    <strong>SBC: </strong>
                                    <select id="SBC" style="background-color:#ECF3F8" class="filters">
                                    </select>
                                </div>
                                <div>
                                    <strong>Pay.Method: </strong>
                                    <select id="paymentMethod" style="background-color:#ECF3F8" class="filters">
                                        <option value="EFT" >EFT</option>
                                        <option value="Cheque">Cheque</option>
                                    </select>
                                </div>
                                <div>
                                    <div id="infoPanel">
                                        <div class="info-box"><strong id="selectedItems">No Item(s) Selected</strong></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="search-container">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_voucher_listing" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Legal Number</th>
                                        <th>Payee Name</th>
                                        <th>Payee Account Name</th>
                                        <th>Payee Bank Account</th>
                                        <th>Payee Bank Name</th>
                                        <th>Amount</th>
                                        <th>DEDUCTIONS</th>
                                        <th>Source Module</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- Edit Pending Voucher ----------------->
<div class="modal fade" id="editModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Edit Pending Voucher</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:10px">
                        <table class="table table-striped">
                            <tr>
                                <td colspan="1">
                                    <form class="well form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Payment in Respect Of</label>
                                                <div class="col-md-8 inputGroupContainer" style="padding-bottom:15px">
                                                    <div class="input-group">
                                                        <textarea rows="3" style="width:230px;" id="Comments"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Invoice No</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <input style="width:230px" type="text" id="InvoiceNo" placeholder="Optional">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Control Number</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <input id="ControlNumber" style="width:230px;padding-bottom:33px" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </td>
                                <td colspan="1">
                                    <form class="well form-horizontal">
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Short Description</label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <textarea rows="3" id="PaymentDescription"
                                                                  style="width:230px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Apply Date</label>
                                                <div class="col-md-4 inputGroupContainer">
                                                    <div class="input-group"><input type="date" required id="ApplyDate" /></div>
                                                </div>
                                                <div class="col-md-4" style="padding:10px;left:30px">
                                                    (<strong id="ApplyDateOld"></strong>)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Invoice Date</label>
                                                <div class="col-md-4 inputGroupContainer">
                                                    <div class="input-group">
                                                        <input type="date" required id="InvoiceDate" />
                                                        <input type="hidden" required id="PaymentVoucherId" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4" style="padding:10px;left:30px">
                                                    (<strong id="InvoiceDateOld"></strong>)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Payment Method</label>
                                                <div class="col-md-8 inputGroupContainer" style="padding-bottom:2px">
                                                    <div class="input-group">
                                                        <select id="PaymentMethod">
                                                            <option>EFT</option>
                                                            <option>Cheque</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn action-btn" onclick="postEditFormData()"
                            style="background-color:#2196F3;color:white;width:100px;">
                        Save
                    </button>
                    <button class="btn action-btn" data-dismiss="modal" style="width:100px;">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Voucher Information</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Payee Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1. Payee Name: </th>
                                                <td id="_Payeename"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Payee Code:</th>
                                                <td id="_PayeeCode"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>3. Payee Bank Name:</th>
                                                <td id="_PayeeBankName"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Payee Address:</th>
                                                <td id="_PayeeAddress"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Voucher Entries</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>1. Description: </th>
                                                <td id="Description1"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Comments:</th>
                                                <td id="Comments1"></td>
                                            </tr>
                                            <tr>
                                                <th>3. Apply Date:</th>
                                                <td id="ApplyDate1"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>4. Payment Method:</th>
                                                <td id="PaymentMethod1"></td>
                                            </tr>
                                            <tr>
                                                <th>5. Control Number:</th>
                                                <td id="ControlNumber1"></td>
                                            </tr>
                                            <tr>
                                                <th>6. Sub Budget Class:</th>
                                                <td id="SubBudgetClass1"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry with-holding">
                            <div class="entry-label1">With-holding Entries</div>
                            <div style="padding-left:20px">
                                <table>
                                    <tr>
                                        <th>Service Fee: </th>
                                        <td id="ServiceAmount1"></td>
                                        <th style="padding:10px">VAT:</th>
                                        <td style="padding:10px" id="VATOnService1"></td>
                                        <th style="padding:10px">Goods Amount:</th>
                                        <td style="padding:10px" id="GoodsAmount1"></td>
                                        <th style="padding:10px">Other:</th>
                                        <td style="padding:10px" id="Other1"></td>
                                        <td style="padding:10px" id="OtherPercent1"></td>
                                        <th style="padding:10px">Total Withholding Amount:</th>
                                        <td style="padding:10px" id="TotalWithholdingAmount1"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry liquidated-demage">
                            <div class="entry-label1">Liquidated Demage</div>
                            <div style="padding-left:20px">
                                <table>
                                    <tr>
                                        <th>Amount: </th>
                                        <td id="LiquidatedDemageAmount"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry rentation">
                            <div class="entry-label1">Rentation Details</div>
                            <div style="padding-left:20px">
                                <table>
                                    <tr>
                                        <th style="padding:10px">Amount: </th>
                                        <td style="padding:10px" id="RetentionAmount"></td>
                                        <th style="padding:10px">TransfertType: </th>
                                        <td style="padding:10px" id="TransfertType"></td>
                                    </tr>
                                    <tr>
                                        <th style="padding:10px">SubBudgetClassTo: </th>
                                        <td style="padding:10px" id="SubBudgetClassTo"></td>
                                        <th style="padding:10px">BankAccountTo: </th>
                                        <td style="padding:10px" id="BankAccountTo"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />

                        <table id="dt_voucher_detail" class="table table-striped table-bordered table-hover table-condensed table-view-details"></table>
                        <div class="total-amount">TOTAL <strong id="totalAmount">0.00</strong></div>
                        <table>
                            <tr>
                                <td><strong style="color:#2196F3">Status:</strong> <label id="statusId">-</label></td>
                                <td><strong style="color:#2196F3;padding-left:5px">Remarks:</strong> <label id="reasonId">-</label></td>
                            </tr>
                        </table>
                     </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script>
        var dt_voucher_listing = $('#dt_voucher_listing').dataTable({
            "language": {
                "emptyTable": '<strong id="loader">Loading...</strong>',
                "zeroRecords": "Please Choose Acc"
            }
        });
        $("#loader").text("Please Choose Bank Acc");
        $("#dt_voucher_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_voucher_listing.DataTable().search(this.value).draw();
        });

        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            'sDom': 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });

 function sourceModule(d) {
            switch (d["SourceModule"]) {
                case "Purchase":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Contract":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                         case "Accrual Purchase":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                         case "Accrual Contract":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Prepayment":
                    return '<a href="@Url.Action("PreviewPrepayment","Prepayment")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Imprest":
                    return '<a href="@Url.Action("ImprestDetails","Imprest")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "BulkPayment":
                    return '<a href="@Url.Action("PaymentDetails", "PaymentBatches")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Loan":
                    return '<a href="@Url.Action("PreviewLoanTracker","Loan")/' + d["SourceModuleReferenceNo"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                default:
                    return d["SourceModule"] + withholdingTemplate(d);
            }
        }

        var data = [];
        var globalPayeeId = null;
        function LoadTableData() {
            let bankAccounts = []
            let SBC = []
            $("#generate").attr('disabled', true);
            $.ajax({
                type: "get",
                url: '@Url.Action("GetPaymentVoucherGenerate", "PaymentVoucher")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    for (var i = 0; i < data.length; i++) {
                        if (!bankAccounts.includes(data[i].PayerBankAccount)) {
                            bankAccounts.push(data[i].PayerBankAccount);
                        }
                        if (!SBC.includes(data[i].SubBudgetClass)) {
                            SBC.push(data[i].SubBudgetClass)
                        }
                    }
                    createBankAccountsFilter(bankAccounts);
                    createSBCFilter(SBC);
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        LoadTableData()

        $(".with-holding").toggle(false)
        $(".liquidated-demage").toggle(false)
        $(".rentation").toggle(false)

        function openViewDialog(pvId) {
            var selectedData = data.filter(a=>a.PaymentVoucherId == pvId)[0]
            $("#_Payeename").text(selectedData["Payeename"]);
            $("#_PayeeCode").text(selectedData["PayeeCode"]);
            $("#_PayeeBankName").text(selectedData["PayeeBankName"]);
            $("#_PayeeAddress").text(selectedData["PayeeAddress"]);

            if (selectedData["hasWithHolding"]) {
                $(".with-holding").toggle(true)
            } else {
                $(".with-holding").toggle(false)
            }

            if (selectedData["LiquidatedDemageAmount"] != null) {
                $(".liquidated-demage").toggle(true)
                $("#LiquidatedDemageAmount").text(toLabel(selectedData["LiquidatedDemageAmount"]));
            } else {
                $(".liquidated-demage").toggle(false)
            }

            if (selectedData["RetentionAmount"] != null) {
                $(".rentation").toggle(true)
                $("#TransfertType").text(toLabel(selectedData["TransfertType"]));
                $("#SubBudgetClassTo").text(toLabel(selectedData["SubBudgetClassTo"]));
                $("#BankAccountTo").text(toLabel(selectedData["BankAccountTo"]));
                $("#RetentionAmount").text(toLabel(selectedData["RetentionAmount"]));
            } else {
                $(".rentation").toggle(false)
            }

            dt_voucher_detail.fnClearTable();
            var totalAmount = 0;
            selectedData["VoucherDetails"].forEach(row => {
                dt_voucher_detail.fnAddData([
                    row["DrGlAccount"].split("|").join("-"),
                    row["DrGlAccountDesc"],
                    row["FundingReferenceNo"],
                    toLabel(row["OperationalAmount"]),
                ]);
                totalAmount = totalAmount + parseFloat(row["OperationalAmount"]);
            });

            $("#totalAmount").text(toLabel(totalAmount));
            $("#Description1").text(selectedData["PaymentDesc"]);
            $("#reasonId").text(selectedData["OverallStatusDesc"] ? selectedData["OverallStatusDesc"] : "-");
            $("#statusId").text(selectedData["OverallStatus"]);
            $("#InvoiceNo1").text(selectedData["InvoiceNo"]);
            $("#total_voucher_amount1").val(selectedData["OperationalAmount"]);
            $("#ApplyDate1").text(selectedData["ApplyDateFormatted"]);
            $("#Comments1").text(selectedData["Narration"]);
            $("#PaymentMethod1").text(selectedData["PaymentMethod"]);
            $("#ControlNumber1").text(selectedData["ControlNumber"] ? selectedData["ControlNumber"] : "-");
            $("#SubBudgetClass1").text(selectedData["SubBudgetClass"]);

            $("#ServiceAmount1").text(selectedData["ServiceAmount"] ? toLabel(selectedData["ServiceAmount"]) : 0);
            $("#VATOnService1").text(selectedData["VATOnService"] ? toLabel(selectedData["VATOnService"]) : 0);
            $("#GoodsAmount1").text(selectedData["GoodsAmount"] ? toLabel(selectedData["GoodsAmount"]) : 0);
            $("#VATOnGoods1").text(selectedData["VATOnGoods"] ? toLabel(selectedData["VATOnGoods"]) : 0);
            $("#Other1").text(selectedData["OtherWithholdingAmount"] ? toLabel(selectedData["OtherWithholdingAmount"]) : 0);
            $("#OtherPercent1").text(selectedData["OtherWithholdingPercent"] ? selectedData["OtherWithholdingPercent"] + "%" : "0%");
            $("#TotalWithholdingAmount1").text(selectedData["OperationalWithHoldingAmount"] ? toLabel(selectedData["OperationalWithHoldingAmount"]) : 0);

            $('#confirmModal').modal('show');

        }

        var checkedRows = [];
        function rowChecked(pvId) {
            if ($("#row-" + pvId).is(":checked")) {
                checkedRows.push(pvId);
            } else {
                remove(checkedRows, pvId);
            }
            toggleGenerateButton();
        }

        function checkAll() {
            checkedRows = [];
            if ($("#checkall").is(":checked")) {
                for (var i = 0; i < data.length; i++) {
                    checkedRows.push(i);
                    $("#row-" + i).prop('checked', true);
                }
            } else {
                for (var i = 0; i < data.length; i++) {
                    $("#row-" + i).prop('checked', false);
                }
            }
            toggleGenerateButton();
        }

        $("#generate").attr('disabled', true);

        var TotalAmount = 0;
        function toggleGenerateButton() {
            TotalAmount = 0;
            if (checkedRows.length > 0) {
                checkedRows.forEach(pvId=> {
                    var row = data.filter(a=>a.PaymentVoucherId == pvId)[0];
                    TotalAmount = TotalAmount + toNumber(row.NetOperationalAmount) - toNumber(row.AdvancePayment);
                });
                $("#generate").attr('disabled', false);
                $("#selectedItems").text(checkedRows.length + " Item(s) Selected ~ Total: " + toLabel(TotalAmount));
            } else {
                $("#generate").attr('disabled', true);
                $("#selectedItems").text("No Item(s) Selected");
            }
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

        let CashBookBalance = 0
        let CashCommitment = 0
        let AvailableBalance = 0
        let NewBalance = 0

        function GetCashBookBalance(target) {
            $(target).prop('disabled', true)
            $("#Generate").text("Verifying...")
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCashBookBalance", "PaymentVoucher")',
                data: {
                    accountNo: $("#bankAccounts").val(),
                    SBC: $("#SBC").val()
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                      $(target).prop('disabled', false)
                    $("#Generate").text("Generate")
                    if (response.data && response.status == "Success") {
                        CashBookBalance = response.data.CashBookBalance
                        CashCommitment = response.data.CommittedAmount
                        AvailableBalance = response.data.AvailableBalance
                        NewBalance = AvailableBalance.toFixed(2) - TotalAmount.toFixed(2)
                        if (NewBalance>=0) {
                            generateVoucher1()
                        } else {
                            generateVoucher()
                        }
                    } else {
                        swal(response.status)
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
       
        var called = false
        function generateVoucher1() {
            swal({
                title: "Generate Selected Item(s)?",
                text: `Acc: ${$("#bankAccounts").val()} SBC:${$("#SBC").val()}
                       CashBook Balance  : ${CashBookBalance.toLocaleString()}\n
                       Committed Amount  : ${CashCommitment.toLocaleString()}\n
                       Available Balance: ${AvailableBalance.toLocaleString()}\n
                       Amount to be Expensed: ${TotalAmount.toLocaleString()}\n
                       New Balance       : ${NewBalance.toLocaleString()}\n`,
                buttons: ["NO", "YES"],
            }).then((willGenerate) => {
                if (!called) {
                    if (willGenerate) {
                        postGeneratedVoucher();
                    } else {
                        swal("Cancelled");
                    }
                    called = true
                }
            });
        }

        function generateVoucher() {
            swal({
                title: "Payment Exceeds CashBook Balance",
                text: `Acc: ${$("#bankAccounts").val()} SBC:${$("#SBC").val()}
                       CashBook Balance  : ${CashBookBalance.toLocaleString()}\n
                       Committed Amount  : ${CashCommitment.toLocaleString()}\n
                       Available Balance: ${AvailableBalance.toLocaleString()}\n
                       Amount to be Expensed: ${TotalAmount.toLocaleString()}\n
                       New Balance       : ${NewBalance.toLocaleString()}\n`,
                buttons: "OK",
            })
        }

        function postGeneratedVoucher() {
            var url = '@Url.Action("GeneratePayment", "PaymentVoucher")';
            $.ajax({
                type: "post",
                url: url,
                data: { "paymentVoucherIds": checkedRows },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == 'Success') {
                        swal("Generated successfully!", { icon: "success" })
                        .then((e) => {
                            window.location.reload();
                        });
                    } else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function reject(PaymentVoucherId) {
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    confirmRejection(PaymentVoucherId, remark);
                };
            });
            $('#confirmModal').modal('hide');
        }

        function confirmRejection(Id, Remark) {
            var url = '@Url.Action("RejectVoucher", "PaymentVoucher")';
            $.ajax({
                type: "post",
                url: url,
                data: { Id, Remark },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function viewAttachment(pvId) {
            var pv = data.filter(a=>a.PaymentVoucherId == pvId)[0]
           window.location.href =
               '@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + pvId + '&&sourceModule=' + pv.SourceModule;
        }

        function createBankAccountsFilter(bankAccounts) {
            var optionsList = [];
            var bankAccSelect = document.getElementById("bankAccounts")
            bankAccounts.forEach(bankAcc => {
                let option = document.createElement('option')
                option.value = bankAcc
                option.text = bankAcc
                bankAccSelect.appendChild(option);
            });
            $("#bankAccounts").trigger('change');
        }

        function createSBCFilter(SBCs) {
            var optionsList = [];
            var sbcSelect = document.getElementById("SBC")
            SBCs.forEach(sbc => {
                let option = document.createElement('option')
                option.value = sbc
                option.text = sbc
                sbcSelect.appendChild(option);
            });
            $("#SBC").trigger('change');
        }

        $(".filters").change(function () {
            filterTableData()
            checkedRows = [];
            toggleGenerateButton();
        })

        function filterTableData() {
            let _data = data
                .filter((row) => row.PayerBankAccount == $("#bankAccounts").val()
                 && row.PaymentMethod == $("#paymentMethod").val()
                 && row.SubBudgetClass == $("#SBC").val())
            displayData(_data)
        }

        function displayData(_data) {
            dt_voucher_listing.fnClearTable();
            for (var i = 0; i < _data.length; i++) {
                var pvId = _data[i].PaymentVoucherId
                dt_voucher_listing.fnAddData([i + 1,
                _data[i]["PVNo"],
                _data[i]["Payeename"],
                _data[i]["PayeeAccountName"],
                _data[i]["PayeeBankAccount"],
                _data[i]["PayeeBankName"],
                toLabel(_data[i]["OperationalAmount"]),
                   calculate(_data[i]),
                   sourceModule(_data[i]),
                    '<a href="#" onclick="viewAttachment(' + pvId + ')"><i class="fa fa-file-pdf-o"></i></a>\
                             <a href = "#" onclick = "openViewDialog(' + pvId + ')" > View</i></a>\
                             <a href="#" onclick="reject(' + pvId + ')">Reject</a>',
                    '<input  type="checkbox" id="row-' + pvId + '" onchange="rowChecked(' + pvId + ')"/>'
                ]);
            }
            if (_data.length == 0) {
                $("#loader").text("No matching records found")
            }
        }
    </script>
}
