@model IFMIS.Areas.IFMISTZ.Models.PaymentOfficeSetup


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 5%">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Payment Office Creation.</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div style="padding-left:10%">

                                                @Html.AntiForgeryToken()


                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="width:450px">
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Payment Office Code:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.PaymentOfficeCode, new { @Class = "input", style = "width:300px;", required = "required" })
                                                                        @Html.ValidationMessageFor(model => model.PaymentOfficeCode, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                          <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Payment Office Description:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextAreaFor(model => model.PaymentOfficeDescription, new { @Class = "input", style = "width:300px; ", cols = "10", rows = "2", required = "required" })
                                                                        @Html.ValidationMessageFor(model => model.PaymentOfficeDescription, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                         </tr>
                                                         <tr>
                                                          <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Contact Name One:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.ContactName1, new { @Class = "input", style = "width:300px; ", required = "required" })
                                                                        @Html.ValidationMessageFor(model => model.ContactName1, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Contact Number One:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.ContactNumber1, new { @Class = "input", style = "width:300px; ", placeholder = "Eg. 0755200500", required = "required", type = "number" })
                                                                        @Html.ValidationMessageFor(model => model.ContactNumber1, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Contact Name Two:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.ContactName2, new { @Class = "input", style = "width:300px; " })
                                                                        @Html.ValidationMessageFor(model => model.ContactName2, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Contact Number Two:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.ContactNumber2, new { @Class = "input", style = "width:300px; ", placeholder = "Eg. 0755200500", type = "number" })
                                                                        @Html.ValidationMessageFor(model => model.ContactNumber2, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Contact Name Three:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.ContactName3, new { @Class = "input", style = "width:300px; " })
                                                                        @Html.ValidationMessageFor(model => model.ContactName3, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Contact Number Three:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.ContactNumber3, new { @Class = "input", style = "width:300px; ",placeholder = "Eg. 0755200500", type = "number" })
                                                                        @Html.ValidationMessageFor(model => model.ContactNumber3, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" style="text-align:right;">Notification Amount:</label>
                                                                <div class="col-md-8 inputGroupContainer">
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(model => model.NotificationAmount, new { @Class = "input", style = "width:300px; ", required = "required"})
                                                                        @Html.ValidationMessageFor(model => model.NotificationAmount, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                          
                                                        </td>
                                                    </tr>
                                                </table>
                                               
                                                </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <a href='@Url.Action("PaymentOfficeSetup", "PaymentOfficeSetups")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                                                    Back
                                                                </a>
                                                                <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                                    <i class="fa fa-save"></i>
                                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                                    Save
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                        }

                                    </td>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
@section pagespecific{
    <script>

        $("#ContactNumber1").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 10) {
                $("#ContactNumber1").val(val.substring(0, 10));
            }
        });
        $("#ContactNumber2").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 10) {
                $("#ContactNumber2").val(val.substring(0, 10));
            }
        });
        $("#ContactNumber3").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 10) {
                $("#ContactNumber3").val(val.substring(0, 10));
            }
        });

    $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);

        if ('@TempData["Success"]' == 'Success') {
        swal("Saved Successfully!", { icon: 'success' })
        .then(Ok=> {
        window.location.href = '@Url.Action("PaymentOfficeSetup", "PaymentOfficeSetups")';
        });
        } else if ('@TempData["Success"]' == 'No') {

        swal("This Payment Office already Created!!")

        };
        // ===== thousands commer Separator 

        $("#NotificationAmount").on("keyup input paste", function () {
            $("#NotificationAmount").val(inputThousandSeparator(this.value))
        })

        var OldVal = 0
        function inputThousandSeparator(NewVal) {
            if (NewVal) {
                try {
                    NewVal = parseFloat(NewVal.split(",").join(""))
                    if (typeof NewVal == 'number' && !Number.isNaN(NewVal)) {
                        OldVal = NewVal;
                        return NewVal.toLocaleString()
                    } else {
                        return OldVal
                    }
                } catch (e) {
                    console.log(e)
                }
            }
        };
    </script>
    }
