@using IFMIS.Libraries
@model IFMIS.Areas.Geras.Models.ExchequerSummaryVM
<link href=@Server.MapPath("~/Content/css/bootstrap.min.css") rel="stylesheet" />
<div style="font-size: medium">
    <div>
        <div class="row" style="padding-top: 5px">
            <center><h4>MINISTRY OF FINANCE</h4></center>
        </div>
        <div class="row">
            <div class="col-xs-offset-5 col-xs-3">
                <img style="width: 130px; height: 126px" src=@Server.MapPath("~/Media/Images/nembo_taifa.jpg") />
            </div>

            <div class="col-xs-offset-2 col-xs-2">
                <b>T.F.N 765</b>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            @*<div class="panel-title" style="text-align: center">THE UNITED REPUBLIC OF TANZANIA</div>*@
            <div class="panel-title" style="text-align: center; margin-top: 10px"><strong>TRANSFER INSTRUCTION SLIP</strong></div>
        </div>

        <div class="row">
            <div class="col-xs-9">
                <p>
                    <strong>Ref. NO. @Model.ExchequerRef</strong><br /><br />
                    THE BANK OF TANZANIA,<br />
                    P.O.BOX 2303,<br />
                    DODOMA.
                </p>
            </div>
            <div class="col-xs-3">
                <p>The Treasury Building,</p>
                <p>18 Jakaya Kikwete Road,</p>
                <p>P.O.BOX 2802,</p>
                <p><strong>40468 DODOMA,</strong></p>
                <p><strong>@DateTime.Now.ToString("dd/MM/yyyy")</strong></p>
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="col-xs-12" style="padding-left:140px !important">
                @{
                    var warrantNo = Model.ExchequerRef.Split('/').Last();
                }
                <strong>EXCHEQUER ISSUES WARRANT No @warrantNo OF FINANCIAL YEAR: @Model.FinancialYearName.</strong>
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="col-xs-12">
                1. You are hereby authorised to debit the Consolidated Fund Account No 9921172901 and to credit the Paymaster
                General's Expenditure Accounts as specified herein below with the amount shown against them.
            </div>
            <div class="col-xs-12" style="padding-top: 50px">
                2. The number shown on this Warrant should be quoted on the debit advice as the Authority.
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="col-xs-12">
                For the smooth performance of Government functions and provision of social services the above funds
                need to be transferred without delay
            </div>
        </div>

        <div class="row" style="text-align: center; padding-top: 50px">
            <div class="col-xs-12">
                ......................................................<br /><br />
                <strong> For: PERMANENT SECRETARY - TREASURY</strong>
            </div>
        </div>

        <div class="row" style="padding-top: 50px">
            <div class="col-xs-12">
                * Insert "SUPPLY", "DEVELOPMENT" or "CONSOLIDATED FUND SERVICES"
            </div>
        </div>

        <div class="row" style="padding-top: 50px">
            <div class="col-xs-12">
                <table class="table" border="1" style="border:thin">
                    <tr>
                        <td>A/C No</td>
                        <td>Description</td>
                        <td>Amount (TZS)</td>
                    </tr>
                    <tr>
                        <td>@Model.CrAccountNo</td>
                        <td>@Model.CrAccountName</td>
                        <td>
                            @if (Model.Amount != 0)
                            {
                                <span>@string.Format("{0:#,0.00}", Model.Amount)</span>
                            }
                            else
                            {
                                <span>@Model.Amount</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 200px">@Model.CrAccountNo</td>
                        <td style="padding-top: 200px">@Model.CrAccountName</td>
                        <td style="padding-top: 200px">
                            @if (Model.Amount != 0)
                            {
                                <span>@string.Format("{0:#,0.00}", Model.Amount)</span>
                            }
                            else
                            {
                                <span>@Model.Amount</span>
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
