@{
    ViewBag.Title = "Exchequer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        resize: none;
        width: 100%;
        background-color: white !important;
    }
</style>
<div id="content" style="margin: 5px;">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            @*--------------------BEGINNING OF STEP ONE-------------------------*@
                            <div class="form-horizontal">
                                <div class="row setup-content" id="step-1">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <div class="form-horizontal">
                                                <h5>Exchequer Reference:<b>@ViewBag.ExchequerSummary.ExchequerRef</b> For @ViewBag.ExchequerSummary.CheckDate.ToString("Y")</h5>
                                                <table style="height:50px">
                                                    <tr style="font-size:14px"><td>Exchequer Category:</td><td>@ViewBag.ExchequerSummary.ExchequerCategory</td></tr>
                                                    <tr style="font-size:14px"><td>Exchequer Type:</td><td>@ViewBag.ExchequerType</td></tr>
                                                    <tr style="font-size:14px">
                                                        <td>Total Amount:</td>
                                                        <td>
                                                            @if (ViewBag.ExchequerSummary.Amount != 0)
                                                            {
                                                                <span>TZS:@string.Format("{0:#,0.00}", ViewBag.ExchequerSummary.Amount)</span>
                                                            }
                                                            else
                                                            {
                                                                <span>TZS:@ViewBag.ExchequerSummary.Amount</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr style="font-size:14px">
                                                        <td>Rejection Reasons:</td>
                                                        <td>
                                                            <div class="col-md-12">
                                                                @{
                                                                    int m = 0;
                                                                }
                                                                @if (ViewBag.RejectionReasonList != null)
                                                                {
                                                                    foreach (var item in ViewBag.RejectionReasonList)
                                                                    {
                                                                        m++;
                                                                        <span>@m.  @item.Remarks by @item.CreatedBy on  @item.CreatedAt</span><br />
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span>NILL</span>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <hr />
                                                <div class="col-xs-12">
                                                    <table class="table  table-bordered table-hover table-condensed" id="dataTableList">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:right;width:4%">Serial Number</th>
                                                                <th style="text-align:left;">Component</th>
                                                                <th style="text-align:left;">Component Description</th>
                                                                <th>Main Vote</th>
                                                                <th>Vote Name</th>
                                                                <th>Project Name</th>
                                                                <th>Amount (TZS)</th>
                                                            </tr>
                                                        </thead>
                                                        @{
                                                            int n = 0;
                                                        }
                                                        <tbody>
                                                            @if (ViewBag.RequirementDetailsList != null)
                                                            {
                                                                foreach (var item in ViewBag.RequirementDetailsList)
                                                                {
                                                                    n++;
                                                                    <tr>
                                                                        <td> @n </td>
                                                                        <td> @item.ComponentName </td>
                                                                        <td> @item.ComponentDesc </td>
                                                                        <td> @item.MainVoteCode - @item.MainVoteName </td>
                                                                        <td> @item.VoteCode - @item.VoteName </td>
                                                                        @if (!String.IsNullOrEmpty(item.ProjectName))
                                                                        {
                                                                            <td> @item.ProjectCode - @item.ProjectName </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>NOT FOUND</td>
                                                                        }
                                                                        <td>
                                                                            @if (item.Amount != 0)
                                                                            {
                                                                                <span>@string.Format("{0:#,0.00}", item.Amount)</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>@item.Amount</span>
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <a onclick="history.back()" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a><br /><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*--------------------END OF STEP ONE--------------------*@
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        $("#dataTableList").DataTable({});
    </script>
}
