@model IFMIS.Areas.IFMISTZ.Models.ImprestJournalTypeView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ImprestJournalTypeView</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeViewId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeViewId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Institutionid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Institutionid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SourceModule)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SourceModule)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SublevelCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SublevelCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubBudgetClass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.costcentre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.costcentre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.activity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.activity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrGfsCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrGfsCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrCoa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrCoa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrCoaDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrCoaDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrGfsCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrGfsCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrCoa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrCoa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrCoaDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrCoaDesc)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
