@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.ImprestJournalTypeView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeViewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institutionid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceModule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SublevelCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.costcentre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrGfsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrCoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrCoaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrGfsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrCoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrCoaDesc)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeViewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institutionid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceModule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SublevelCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costcentre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrGfsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrCoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrCoaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrGfsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrCoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrCoaDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
