@model IFMIS.Areas.IFMISTZ.Models.UnpaidInstruction

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .widget-body {
        position: relative;
    }

    .total-amount {
        float: right;
    }

    .widget-body {
        position: relative;
    }

    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }
</style>
<br/>
<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">

        @*<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <!-- Button trigger modal -->
                <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
            </div>*@
    </div>
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Summary(Net Salaries and Deductions) Details</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->

                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_payment_list" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                                <thead>
                                    <tr style="background-color: #f5f5f5; color:black">
                                        <th> </th>
                                        <th></th>
                                        <th colspan="2" style="text-align:center">Net Salaries Deductions</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr style="background-color: #f5f5f5; color:black">
                                        <th style="text-align:center"> ReferenceId </th>
                                        <th style="text-align:right">Net Salary Amount</th>
                                        <th style="text-align:right">At Source</th>
                                        <th style="text-align:right">At Employer</th>
                                        <th style="text-align:right">Total Amount</th>
                                        <th style="text-align:center">OverallStatus</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => model.ReferenceId)
                                        </td>
                                        <td style="text-align:right">
                                            <a href="@Url.Action("UnpaidSalarySummary", "UnpaidSalary",new {referenceId=Model.ReferenceId })">
                                                @Html.DisplayFor(model => model.TotalNetAmount)
                                            </a>
                                        </td>
                                        <td style="text-align:right">
                                            <a href="@Url.Action("UnpaidSalarySummary", "UnpaidSalary",new {referenceId=Model.ReferenceId })">
                                                @Html.DisplayFor(model => model.TotalAtSourceAmount)
                                            </a>
                                        </td>
                                        <td style="text-align:right">
                                            <a href="@Url.Action("UnpaidSalarySummary", "UnpaidSalary",new {referenceId=Model.ReferenceId })">
                                                @Html.DisplayFor(model => model.TotalAtEmployerAmount)
                                            </a>
                                        </td>
                                        <td style="text-align:right">
                                            <a href="@Url.Action("UnpaidSalarySummary", "UnpaidSalary",new {referenceId=Model.ReferenceId })">
                                                @Html.DisplayFor(model => model.TotalOverallAmount)
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(model => model.OverallStatus)
                                        </td>



                                    </tr>


                                </tbody>
                            </table>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <a href="@Url.Action("TranferUnpaid","UnpaidSalary")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>

@section Scripts{
    <script>
        var dt_payment_list = $("#dt_payment_list").dataTable();
        $("#dt_payment_list_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_payment_list").DataTable().search(this.value).draw();
            $("#dt_payment_list_wrapper .dt-toolbar").remove();
        });

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });

    </script>
}


