@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.SalaryUnapplied>

<style>
    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 10px;
    }
    /*td {
            height: 25px;
        }*/
    th {
        background-color: darkgrey;
    }

    table, td, th {
        border: 1px solid black;
    }

    tr {
        page-break-inside: avoid;
    }
</style>
<div align="center">

    <img src="@Server.MapPath(" ~/Media/Images/log20180504093652.png")" width="120" height="120" /><br />
    <strong>
        THE UNITED REPUBLIC OF TANZANIA<br />
        MINISTRY OF FINANCE AND PLANNING<br />
        CONFIRMED UNAPPLIED LIST<br />
    </strong>
</div>

<table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="100%">
    <thead>
        <tr style="background-color: #f5f5f5; color:black">
            <th>#</th>
            <th> Beneficiary Name </th>
            <th> Description </th>
            <th> BankAccount </th>
            <th>Reason</th>
            <th> ControlNumber </th>
            <th> Unapplied Date</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @{
                                        int i = 0;
                                        decimal? totalAmount = 0;
                                        decimal? totalNetAmount = 0;

        }
        @foreach (var item in Model)
                                    {
                                        i++;
                                        totalAmount += item.GrossAmount;
                                        totalNetAmount += item.TrxAmount;
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.BenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDesc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BenAcct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankingStatusDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnappliedAt)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.TrxAmount)
            </td>

        </tr>
                                    }

    </tbody>
    <tfoot>
        <tr style="background:#f5f5f5; color:#000000">
            <td style="text-align: right" colspan="7"><b>Total Amount</b></td>
            <td style="text-align: right"><b>@string.Format("{0:#,0.00}", totalNetAmount)</b></td>
            @*<td style="text-align: right"><b>@string.Format("{0:#,0.00}", totalAmount)</b></td>*@

        </tr>
    </tfoot>
</table>
