@model IFMIS.Areas.IFMISTZ.Models.Unapplied

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; ">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Unapplied Details </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div>
                                <dl class="dl-horizontal">
                                    <dt>
                                      VendorCode
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.VendorCode)
                                    </dd>

                                    <dt>
                                        Beneficiary Name
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BenName)
                                    </dd>

                                    <dt>
                                        Beneficiary Account
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BenAcct)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.UnappliedAccount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.UnappliedAccount)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TrxAmount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TrxAmount)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.EndToEndId)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.EndToEndId)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.BenBic)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BenBic)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.BankName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BankName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.PaymentDesc)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PaymentDesc)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.PaymentDate)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PaymentDate)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.BankingStatus)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BankingStatus)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.BankingStatusDesc)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BankingStatusDesc)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.InstitutionCode)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.InstitutionCode)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.InstitutionName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.InstitutionName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.OverallStatus)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.OverallStatus)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ConfirmedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ConfirmedAt)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ConfirmedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ConfirmedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ExpenditureType)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ExpenditureType)
                                    </dd>

                                    
                                    <dt>
                                        @Html.DisplayNameFor(model => model.CashBookStatus)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CashBookStatus)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.FinancialYear)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FinancialYear)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.InstitutionId)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.InstitutionId)
                                    </dd>

                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.UnappliedRef)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.UnappliedRef)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.RelatedRef)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.RelatedRef)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.BankRef)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BankRef)
                                    </dd>*@

                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.BankRelatedRef)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BankRelatedRef)
                                    </dd>*@
                                    <dt>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CreatedAt)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.UnappliedPayStationId)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.UnappliedPayStationId)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.FundingSourceAcct)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FundingSourceAcct)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.UnappliedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.UnappliedAt)
                                    </dd>

                                </dl>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-10">
                                            <a href="@Request.UrlReferrer" style="margin-right:-10px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

                       
