@model IEnumerable<IFMIS.Models.FileUploadedDatum>
<link href='@Server.MapPath("~/Content/css/bootstrap.min.css")' rel="stylesheet" />
<style>
    table, td, th {
        border: 1px solid black;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<div style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px">
    <div style="text-align: center">
        <img src='@Server.MapPath("~/Media/Images/log20180504093652.png")' width="200" height="200" />
        <div style="padding-top: 10px;padding-bottom: 10px">
            <b>BULKY FUND TRANSFER DETAILS</b>
        </div>
    </div>

    <br />
    <div>
        <table>
            <thead>
                <tr>
                    <th>INSTITUTION NAME</th>
                    <th>APPLY DATE</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @{decimal? total = 0;}
                @foreach (var item in Model.OrderByDescending(a => a.FileUploadedDataId))
                {
                    i++;
                    total += @item.Amount;
                    <tr>
                        <td>@item.InstitutionNameTo</td>
                        <td>@item.ApplyDate</td>
                        <td>@string.Format("{0:#,#.00}", @item.Amount)</td>
                    </tr>
                }
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>@string.Format("{0:#,#.00}", total)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="padding-top:100px"></div>
</div>