@model IEnumerable<IFMIS.Areas.Consolidation.Models.ConsoEliminationItem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportSubCategId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GfsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GfsDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminNoteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminNoteDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminGfsCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminGfsDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminEntityCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminEntityDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportSubCategId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GfsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GfsDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminNoteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminNoteDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminGfsCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminGfsDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminEntityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminEntityDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.gacsEliminationId }) |
                @Html.ActionLink("Details", "Details", new { id=item.gacsEliminationId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.gacsEliminationId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
