@model GEFTP.Models.Minister

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Minister</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HasCheckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCheckNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeneficiaryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryScale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeneficiaryCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeneficiaryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeneficiaryTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVoided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVoided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoidedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoidedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoidedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoidedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopPayRemark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopPayRemark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
