@model IFMIS.Areas.IFMISTZ.Models.InstitutionAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Institution Account Details</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">
                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">
                                        <div>

                                            <dl class="dl-horizontal" style="margin-left:25%">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AccountNumber)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.AccountNumber)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AccountName)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.AccountName)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AccountType)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.AccountType)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.BIC)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.BIC)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.BankName)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.BankName)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Currency)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Currency)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.SubBudgetClass)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.SubBudgetClass)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionCode)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionCode)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionName)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionName)
                                                </dd>
                                                <dt>
                                                    <label for="GlAccount">Cash Account</label>
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.GlAccount)
                                                </dd>
                                                <dt>
                                                    <label for="GlAccount">GlAccount Description</label>
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.GlAccountDesc)
                                                </dd>
                                                <dt>
                                                    <label for="GlAccount">Receiving GlAccount</label>
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.ReceivingGlAccount)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.OverallStatus)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.OverallStatus)
                                                </dd>

                                                @if (Model.AccountType == "TSA")
                                                {

                                                    <dt>@Html.DisplayNameFor(model => model.SubTSAAccountNumber)</dt>
                                                    <dd>@Html.DisplayFor(model => model.SubTSAAccountNumber)</dd>

                                                    <dt>@Html.DisplayNameFor(model => model.SubTSAGlAccount)</dt>
                                                    <dd>@Html.DisplayFor(model => model.SubTSAGlAccount)</dd>
                                                }



                                                @if (Model.AccountType != "Revenue" || Model.AccountType != "OwnSource" || Model.AccountType != "CF" || Model.AccountType != "Unapplied")
                                                {

                                                    <dt>@Html.DisplayNameFor(model => model.UnnappliedAccountNumber)</dt>
                                                    <dd>@Html.DisplayFor(model => model.UnnappliedAccountNumber)</dd>

                                                    <dt>@Html.DisplayNameFor(model => model.UnnappliedAccountName)</dt>
                                                    <dd>@Html.DisplayFor(model => model.UnnappliedAccountName)</dd>

                                                    <dt>@Html.DisplayNameFor(model => model.UnnappliedBankName)</dt>
                                                    <dd>@Html.DisplayFor(model => model.UnnappliedBankName)</dd>

                                                }


                                                <dt>
                                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.CreatedBy)
                                                </dd>

                                                <dt>@Html.DisplayNameFor(model => model.ModifiedBy)</dt>
                                                <dd>@Html.DisplayFor(model => model.ModifiedBy)</dd>

                                                <dt>@Html.DisplayNameFor(model => model.CancelledBy)</dt>
                                                <dd>@Html.DisplayFor(model => model.CancelledBy)</dd>



                                            </dl>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href='@Url.Action("AccountList", "InstitutionAccounts")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    </div>