@model IFMIS.Areas.IFMISTZ.Models.BillPrintoutVM

<link href="@Server.MapPath("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 18px">
    <div style="border-bottom: 1px dotted black; text-align: center">
        <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="100" height="100" />

        <div style="padding-top: 20px">
            United Republic of Tanzania
        </div>
        <div style="padding-top: 10px">
            <b>@Model.InstitutionName</b>
        </div>
        <div style="padding-top:10px; padding-bottom: 20px">
            Government Bill
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">

            <div class="row" style="padding-top: 20px">
                <div class="col-xs-4">Control Number</div>
                <div class="col-xs-offset-1 col-xs-4" style="padding-left: 35px">:@Model.PayCntrNum</div>
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xs-4">Payment Ref</div>
                <div class="col-xs-offset-1 col-xs-3" style="padding-left: 35px">:@Model.PaymentRef</div>
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xs-4">Service Provider Code</div>
                <div class="col-xs-offset-1 col-xs-3" style="padding-left: 35px">:@Model.SpCode</div>
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xs-4">Payer Name</div>
                <div class="col-xs-offset-1 col-xs-7" style="padding-left: 35px">:@Model.PyrName</div>
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xs-4">Payer Phone</div>
                <div class="col-xs-offset-1 col-xs-7" style="padding-left: 35px">:@Model.PyrPhone</div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row" style="padding-top: 20px">
                <img src="data:image/bmp;base64,@Model.QrCode" width="200" height="200" />
                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 10px"><b>SCAN & PAY by MPESA or TIGO PESA APPs</b></p>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px; padding-bottom: 10px">
        <div class="col-xs-3">Bill Description</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.BillDescription</div>
    </div>

    <div style="padding-top: 20px; padding-bottom: 20px; border-top: 1px solid black; border-bottom: 1px solid black">
        @{
            var hasVat = Model.HasVat;
            if (hasVat == null)
            {
                hasVat = false;
            }

            var billAmount = (bool)hasVat ? Model.NetAmount : Model.BillAmount;
        }
        <div class="row">
            <div class="col-xs-3">Billed Item (1)</div>
            <div class="col-xs-offset-1 col-xs-4">:@Model.BillSubDescription.ToUpperInvariant().ToString()</div>
            <div class="col-xs-offset-1 col-xs-2" style="text-align: right">:@string.Format("{0:N2}", Convert.ToDecimal(billAmount))</div>
        </div>

        @if ((bool)hasVat)
        {
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">:VAT Amount</div>
                <div class="col-xs-offset-1 col-xs-2" style="text-align: right">:@string.Format("{0:N2}", Convert.ToDecimal(Model.VatAmount))</div>
            </div>
        }

    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-offset-4 col-xs-4">Total Billed Amount</div>
        <div class="col-xs-offset-1 col-xs-3">:@string.Format("{0:N2}", Convert.ToDecimal(Model.BillAmount)) (@Model.Currency)</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Amount in Words</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PaidAmountDesc</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Expires on</div>
        <div class="col-xs-offset-1 col-xs-7">:@Convert.ToDateTime(Model.ExpireOn).ToString("dd-MMM-yyyy")</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Printed By</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PrintedBy</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Printed on</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PrintedOn.ToString("dd-MMM-yyyy")</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Signature</div>
        <div class="col-xs-offset-1 col-xs-5" style="border-bottom:1px solid black; padding-top: 25px"></div>
    </div>

    <div class="row" style="padding-top: 100px">
        <div class="col-xs-6">
            <b>Jinsi ya Kulipa</b><br />
            1. Kupitia Benki: Fika tawi lolote au wakala wa benki ya CRDB, NMB, BOT. Namba ya kumbukumbu
            <b>@Model.PayCntrNum</b><br />
            2. Kupitia mitandao ya simu:
            <ol>
                <li>Ingia kwenye menyu ya mtandao husika</li>
                <li>Chagua 4 (Lipa Bill)</li>
                <li>Chagua 5 (Malipo ya Serikali)</li>
                <li>Ingiza <b>@Model.PayCntrNum</b> kama namba ya kumbukumbu</li>
            </ol>
        </div>
        <div class="col-xs-6">
            <b>How to Pay</b><br />
            1. Via Bank: Visit any branch or bank agent of CRDB, NMB, BOT. Reference Number
            <b>@Model.PayCntrNum</b><br />
            2. Via Mobile Network Operators (MNO):
            <ol>
                <li>Enter to the respective USSD Menu of MNO</li>
                <li>Select 4 (Make Payment)</li>
                <li>Select 5 (Government Payments)</li>
                <li>Enter <b>@Model.PayCntrNum</b> as reference number</li>
            </ol>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-12" style="text-align: center; font: bold 16px arial, verdana">
            Government Payment Gateway © @DateTime.Now.Year All Rights Reserved (GePG)
        </div>
    </div>
</div>