@model IFMIS.Areas.IFMISTZ.Models.GepgPmtSpReceiptVM

<link href="@Server.MapPath("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px">
    <div style="border-bottom: 1px dotted black; text-align: center">
        <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="100" height="100" />

        <div style="padding-top: 10px">
            Jamuhuri ya Muungano wa Tanzania
        </div>
        <div style="padding-top: 10px">
            United Republic of Tanzania
        </div>
        <div style="padding-top: 10px">
            <b>@Model.InstitutionName</b>
        </div>
        <div style="padding-top: 10px">
            Exchequer Receipts
        </div>
        <div style="padding-top:10px">
            Stakabadhi ya Malipo ya Serikali
        </div>

    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Receipt No</div>
        <div class="col-xs-offset-1 col-xs-4">:@Model.PspReceiptNumber</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Received From</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PyrName</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Amount</div>
        <div class="col-xs-offset-1 col-xs-7">:@string.Format("{0:N2}", Convert.ToDecimal(Model.PaidAmt)) (@Model.Ccy)</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Amount in Words</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PaidAmountDesc</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Outstanding Balance</div>
        <div class="col-xs-offset-1 col-xs-7">:@string.Format("{0:N2}", Convert.ToDecimal(Model.BalanceAmt)) (@Model.Ccy)</div>
    </div>

    <div class="row" style="padding-top: 20px; border-bottom: 1px solid black">
        <div class="col-xs-3">In Respect of</div>
        <div class="col-xs-offset-1 col-xs-6"><b>Item Description(s)</b></div>
        <div class="col-xs-2"><b>Item Amount</b></div>
    </div>

    <div class="row col-xs-offset-4" style="padding-top: 20px; border-bottom: 1px solid black">
        <div class="col-xs-9">:@Model.PaidInRespectOf</div>
        <div class="col-xs-2">@string.Format("{0:N2}", Convert.ToDecimal(Model.PaidAmt))</div>
    </div>

    <div class="row col-xs-offset-6" style="padding-top: 20px; border-bottom: 1px solid black">
        <div class="col-xs-7">Total Billed Amount</div>
        <div class="col-xs-4">@string.Format("{0:N2}", Convert.ToDecimal(Model.PaidAmt)) (@Model.Ccy)</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Bill Reference</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PayRefId</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Payment Control Number</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.PayCtrNum</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Payment Date</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.TrxDtTm.ToString("dd-MM-yyyy")</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Issued By</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.IssuedBy</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Date Issued</div>
        <div class="col-xs-offset-1 col-xs-7">:@Model.IssuedAt.ToString("dd-MM-yyyy")</div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-3">Signature</div>
        <div class="col-xs-offset-1 col-xs-5" style="border-bottom:1px solid black; padding-top: 25px"></div>
    </div>
</div>
