@{
    ViewBag.Title = "Confirmed Fund Withdraw List";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }
</style>

<!--Main contenteditable start here-->
<div id="content" style="margin: 5px;">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <!--Widget content start-->
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="search-container" style="float:right">
                                    <i class="fa fa-search"></i>
                                    <input type="search" name="search" placeholder="Search Allocatin .." id="search-box">
                                </div>
                            </div>
                        </div>

                        <table id="datatable" class="table table-bordered table-hover table-condensed">
                            <thead style="border-bottom: 1px solid white;">
                                <tr>
                                    <th>#</th>
                                    <th>Funding Ref No.</th>
                                    <th>Transcation No.</th>
                                    <th>Funding Source</th>
                                    <th>Vote Details</th>
                                    <th>Balance Amount (TZs)</th>
                                    <th>Total Withdraw Amount (TZs)</th>
                                    <th>Status</th>
                                    <th style="width:30px">Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="5"><p align="right"><strong>Total</strong></p></td>
                                    <td colspan="1"><p align="right"><b><input type="text" id="AllocAmount" style="border: 0px none;text-indent:1px;" /></b></p></td>
                                    <td colspan="2"><p align="right"><b><input type="text" id="sumAmount" style="border: 0px none;text-indent:1px;" /></b></p></td>

                                </tr>
                            </tfoot>
                        </table>
                       
                    </div>
                    <!--Widget End-->
                </div>
            </article>
        </div>
    </section>
</div>
<!--Main Content End Here-->
<!--Remark-->
<div class="modal fade" id="remarkDialog" style="left:4%;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remark and Comments</h3>
            </div>
            <div class="modal-body">
                <div class="widget-body ">
                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            @*@Html.HiddenFor(model => model.FundWithdrawSummaryId)*@
                            <input type="hidden" id="FundWithdrawSummaryId" name="FundWithdrawSummaryId" readonly="readonly" />
                            <table>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">
                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <textarea type="text" id="Remarks" style="width:300px" rows="2" maxlength="350" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">Attachment</td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="SaveRemark()">
                        <i class="fa fa-save ico"></i>Save
                    </button>

                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Rejection block Start Here-->
<div class="modal fade" id="remarkDialogRejection" style="left:4%;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remark and Comments</h3>
            </div>
            <div class="modal-body">
                <div class="widget-body ">
                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            @*@Html.HiddenFor(model => model.FundWithdrawSummaryId)*@
                            @*<input type="hidden" id="FundWithdrawSummaryId" name="FundWithdrawSummaryId" readonly="readonly" />*@
                            <table>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">
                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_2"></i>
                                    </td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <textarea type="text" id="RemarksRejection" style="width:300px" rows="2" maxlength="350" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">Attachment</td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <input type="file" class="col-sm-8" id="RemarkAttachmentRejection" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info btn-size" style="width:100px;" onclick="SaveRemarkRejection()">
                        <i class="fa fa-save ico"></i>Save
                    </button>

                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        var datatable = $("#datatable").dataTable();
        $("#datatable_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#datatable").DataTable().search(this.value).draw();
            $("#datatable_wrapper .dt-toolbar").remove();
        });

        var totalAllocAmount = 0;
        var totalAmount = 0;
        var overallStatus = "";
        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("GetConfirmedWithdrawList", "FundWithdraw")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                console.log("Test", data);
                datatable.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    totalAllocAmount += parseFloat(data[i]["BalanceAmount"]);
                    totalAmount += parseFloat(data[i]["WithdrawAmount"]);
                    if (data[i]["OverallStatus"] == "RejectedAtApprove") {
                        overallStatus = "Rejected";
                    }
                    else {
                        overallStatus = data[i]["OverallStatus"];
                    }
                    datatable.fnAddData(
                        [i + 1,
                       data[i]["FundingRefNo"],
                        data[i]["TransactionCtrlNo"],
                        data[i]["FundDetails"],
                        data[i]["VoteDetails"],
                        //"<p align='right'>" +toLabel(data[i]["TotalAllocationAmount"]) +"</p>",
                        "<p align='right'>" +toLabel(data[i]["BalanceAmount"]) +"</p>",
                        "<p  align='right'>" + toLabel(data[i]["WithdrawAmount"])+ "</p>",
                        //data[i]["OverallStatus"],
                        overallStatus,
                        '<div class="btn-group id="drop-' + i + '">\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                            </button>\
                             <ul class="dropdown-menu">\
                                  <li><a href="@Url.Action("FundVoteWithdrawDetails", "FundWithdraw")/?id=' + data[i]["FundWithdrawSummaryId"] + '">Details</a></li>\
                                 <li><a href="#" onclick ="RejectFundWithdraw('+ i +')">Reject</a></li>\
                                 <li><a href="#" onclick ="VerifyFundWithdraw('+ data[i]["FundWithdrawSummaryId"] +')">Verify</a></li>\
                            </ul>\
                        </div>'
                    ]);
                }

                document.getElementById("AllocAmount").value = toLabel(totalAllocAmount);
                document.getElementById("sumAmount").value = toLabel(totalAmount);
            },
            failure: function (error) {
                swal(error);
            }
        });

         function Delete(i) {
            if (i == 'x');
            swal({
                title: "Are you sure?",
                text: "Once Deleted, you will not be able to recover this !",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    deleteSelectedItem(data[i]["FundAllocSummaryId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }

         function deleteSelectedItem(Id) {
            var url = '@Url.Action("Delete", "FundWithdraw")';
            $.ajax({
                type: "post",
                url: url,
                data: { "FundAllocSummaryId": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Deleted Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

         ///Function for Rejected Withdraw---start here
         var FWdrawSummaryId = null;
        function RejectFundWithdraw(id) {
            swal({
                title: "Reject Fund Withdraw?",
                text: "Are you sure?",
                buttons: [
                    'No',
                    'Yes'
                ]
            }).then(function (isConfirm) {
                if (isConfirm) {
                    // $('#remarkDialogRejection #FundWithdrawSummaryId').val(id);
                    FWdrawSummaryId = data[id]["FundWithdrawSummaryId"];
                    $('#remarkDialogRejection').modal('show');
                    //ConfirmWithdrawData(id)
                } else {
                    swal("Cancel", "No changes was made");
                }
            });
        }

        function SaveRemarkRejection() {
            if ($("#RemarksRejection").val() == "") {
                $("#RemarksRejection").attr("style", "border-color: red;");
            }
            else {
                var id = $("#FundWithdrawSummaryId").val();
                RejectedVWithdrawData(id);
            }
        }

        function SaveRemarkRejection(id) {
            var url = '@Url.Action("RejectVFundWithdrawDetails", "FundWithdraw")';
            $.ajax({
                type: "post",
                url: url,
                 data: CreateForm({
                    id: FWdrawSummaryId,
                    remarks: $("#RemarksRejection").val(),
                    file: $("#RemarkAttachmentRejection")[0].files[0]
                 }),
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == "Success") {
                        swal("Rejected Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        ///Function for Verify the Withdraw---start here
        function VerifyFundWithdraw(id) {
            swal({
                title: "Verification",
                text: "Are you sure?",
                buttons: [
                    'No',
                    'Yes'
                ]
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $('#remarkDialog').modal('show');
                     $('#remarkDialog #FundWithdrawSummaryId').val(id);
                    //ConfirmWithdrawData(id)
                } else {
                    swal("Cancel", "No changes was made");
                }
            });
        }

        function SaveRemark() {
            if ($("#Remarks").val() == "") {
                $("#Remarks").attr("style", "border-color: red;");
            }
            else {
                var id = $("#FundWithdrawSummaryId").val();
                VerifyWithdrawData(id);
            }
        }

        function VerifyWithdrawData(id) {
            var url = '@Url.Action("VerifyFundWithdrawDetails", "FundWithdraw")';
            $.ajax({
                type: "post",
                url: url,
                 data: CreateForm({
                    id: id,
                    remarks: $("#Remarks").val(),
                    file: $("#RemarkAttachment")[0].files[0]
                 }),
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == "Success") {
                        swal("Verified Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

         function CreateForm(form) {
            let _form = new FormData();
            for (let key in form) {
                _form.append(key, form[key])
            }
            return _form
        }
        ///End here
    </script>
}
<!--Page Script to load DataTable START HERE-->
