
@model IFMIS.Areas.ALS.Models.AllocationTrackerVm
@{
    ViewBag.Title = "Withdraw Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<!--Main Content start Here-->
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <!--Start of Widget Div here-->
                    <div>
                        <div class="widget-body">
                            @*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formAddRequest" }))
                                {*@
                            <div class="panel-body">
                                <form name="trackForm" id="trackForm" class="form-horizontal">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.OverallStatus, htmlAttributes: new { @class = "control-label required" })
                                            @Html.DropDownListFor(model => model.OverallStatus, Model.OverallStatue, "---Select Status---", new { @class = "form-control select2", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.OverallStatus, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.SearchKeyword, htmlAttributes: new { @class = "control-label" })
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="SearchKeyword" placeholder="Search for...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" onclick="trackProforma()">Search</button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.SearchKeyword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <hr />
                            <div id="searchResults" style="margin-top: 20px; display: none"></div>

                        </div>
                        <!--End of Widget content-->
                        <!--Modal start here-->
                        <!--Modal  end here-->
                    </div>
                    <!--Widget Div end here-->
                    <br />
                </div>
            </article>
        </div>
    </section>
</div>
<!--End Main Content here -->
@section Scripts{
    <script>

        $(function () {

            $("#StartDate")
                .wrap('<div class="input-group">')
                .datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                    showOn: "both",
                    buttonImage: "../../Media/Images/calendar.gif",
                    maxDate: "+0D"
                })
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    //label: "Select a date",
                    text: false
                })
                .addClass("btn btn-default")
                .wrap('<span class="input-group-btn">')
                .find('.ui-button-text')
                .css({
                    'visibility': 'hidden',
                    'display': 'inline'
                });

            $("#EndDate")
                .wrap('<div class="input-group">')
                .datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                    showOn: "both",
                    buttonImage: "../../Media/Images/calendar.gif",

                    maxDate: "+0D"
                })
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    //label: "Select a date",
                    text: false
                })
                .addClass("btn btn-default")
                .wrap('<span class="input-group-btn">')
                .find('.ui-button-text')
                .css({
                    'visibility': 'hidden',
                    'display': 'inline'
                });
        });

         var trackProforma = function () {

            var url = '@Url.Action("GetWithdrawStatus", "FundWithdraw")';
            var model = $("#trackForm").serialize();

            $.ajax({
                type: "get",
                url: url,
                data: model,
                success: function (response) {
                    $("#searchResults").show();
                    $("#searchResults").html(response);
                }
            });
         }

    </script>
}