@model IFMIS.Areas.Coadmis.Models.AccountingPolicy
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formAccountingPolicy", @style = "width: 700px;" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AccountingPolicyId)
    <div class="form-group row">
        @Html.LabelFor(model => model.AreaOfAccountId, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.DropDownList("AreaOfAccountId", ViewBag.AccountAreas as SelectList, "Select area of account", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AreaOfAccountId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.AccountingPolicyName, new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.AccountingPolicyName, new { @class = "form-control", @rows = 5, @cols = 50 })
            @Html.ValidationMessageFor(model => model.AccountingPolicyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.AuditorComment, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.AuditorComment, new { @class = "form-control", @rows = 5, @cols = 50 })
            @Html.ValidationMessageFor(model => model.AuditorComment, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-8">
            @Html.DropDownList("Status", ViewBag.Status as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}


<script>
    $(document).ready(function () {
        $("select").select2();
    });

</script>