@model IFMIS.Areas.Coadmis.Models.CategoryType
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCategoryType", @style = "width: 500px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            @Html.LabelFor(model => model.CategoryTypeName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.CategoryTypeName, new { @class = "form-control"} )
                @Html.ValidationMessageFor(model => model.CategoryTypeName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control"} )
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}


