@{

    ViewBag.Title = "System Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .divLabel {
        font-weight: bold;
        width: 20%;
    }

    body {
        padding: 10px;
    }

    #exTab2 {
        padding: 0px 0px 0px 0px;
    }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }


    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #d7ccc8;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #d7ccc8;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }

    .tab-pane {
    }
</style>

<div id="content" style="margin: 5px;">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i></span>
                        <h2> @ViewBag.Title</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div id="exTab2" class="container" style="margin-left:2px;margin-top:5px;width:100%">
                                <div class="tab-content">
                                        <div class="col-md-12" style="margin-top:15px">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <br />
                                                    <div class="tree smart-form" style="float:left;height: 500px;overflow-y:scroll">
                                                        <ul>
                                                            <li style="border:0px">
                                                                <span><i class="fa fa-lg fa-folder-open" style="border:0px"></i>Document(s) &nbsp;&nbsp; </span>
                                                                <ul>
                                                                    @if (ViewBag.DocumentList != null)
                                                                    {
                                                                        foreach (var item in ViewBag.DocumentList)
                                                                        {
                                                                            <li>
                                                                                <a href="#" onclick="previewAttachment('@item.FileName')"><i class="fa fa-fw fa-file-text"></i> @item.DocumentName </a>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                             
                                                <div class="col-md-9">
                                                    <div style="border:0px solid #efeaea;width:100%;float:right;margin:10px -10px 0px 0px">
                                                        <iframe height="500" id="attachmentImage2" width="100%" src="" style="border:0px"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                           
                                </div>
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </div>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>

@section Scripts {
    <script>
        @*$(".saveCancelLoader").toggle(false);
        function cancelAppraisal() {
            swal({
                text: "Cancel Appraisal?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    var url = '@Url.Action("cancelProjectAppraisal", "ProjectAppraisal")';
                    var urlList = '@Url.Action("ProjectAppraisalList", "ProjectAppraisal")';
                    $("#btnCancel").prop('disabled', true);
                    $(".saveCancelLoader").toggle(true);
                    $.ajax({
                        type: "post",
                        url: url,
                        data: { "id": '@Model.ProjectAppraisalId', "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val() },
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            $("#btnCancel").prop('disabled', true);
                            $(".saveCancelLoader").toggle(true);
                            if (response == "Success") {
                                swal("Appraisal Cancelled Successfully", { icon: "success" })
                                    .then((m) => {
                                        window.location.replace(urlList);
                                    });
                            } else {
                                $("#btnCancel").prop('disabled', false);
                                $(".saveCancelLoader").toggle(false);
                                swal("Error in Cancelling Appraisal" + ": " + response, { icon: "warning" });
                            }
                        },
                        failure: function (error) {
                            $("#btnCancel").prop('disabled', false);
                            $(".saveCancelLoader").toggle(false);
                            swal(failureMessage, { icon: "warning" });
                        }
                    });
                } else {
                    swal("Cancelled", "No change was made");
                    $("#btnCancel").prop('disabled', false);
                    $(".saveCancelLoader").toggle(false);
                }
            });
        }

        function cancelForm(formData) {
            $("#btnCancel").prop('disabled', true);
            $(".saveCancelLoader").toggle(true);
            var url = '@Url.Action("cancelProjectAppraisal", "ProjectAppraisal")';
            var urlList = '@Url.Action("ProjectAppraisalList", "ProjectAppraisal")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#btnCancel").prop('disabled', true);
                    $(".saveCancelLoader").toggle(true);
                    if (response == "Success") {
                        swal(successMessage, { icon: "success" })
                            .then((m) => {
                                window.location.replace(urlList);
                            });
                    } else {
                        $("#btnCancel").prop('disabled', false);
                        $(".saveCancelLoader").toggle(false);
                        swal(failureMessage + ": " + response, { icon: "warning" });
                    }
                },
                failure: function (error) {
                    $("#btnCancel").prop('disabled', false);
                    $(".saveCancelLoader").toggle(false);
                    swal(failureMessage, { icon: "warning" });
                }
            });
        }*@

        var option = [];

        function previewAttachment(slipfile) {
            var url = '@Url.Content("~/Media/Docs/")' + slipfile;
            document.getElementById("attachmentImage2").src = url;
        };
    </script>
}
