@model IFMIS.Areas.IFMISTZ.Models.Receipt

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Receipt</h4>
        <hr />
        <dl class="dl-horizontal">  
            <dt>
                @Html.DisplayNameFor(model => model.ReferenceNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReferenceNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseCurrency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseCurrency)
            </dd>   
    
            <dt>
                @Html.DisplayNameFor(model => model.OperationalAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OperationalAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OperationalCurrency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OperationalCurrency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CurrentExchangeRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CurrentExchangeRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BudgetExchangeRate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BudgetExchangeRate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceiptDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApprovedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PostedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceivingBankAccountNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceivingBankAccountNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceivingBankName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceivingBankName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReceivingBankBIC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReceivingBankBIC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrGlAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrGlAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrGlAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrGlAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReversalRef)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReversalRef)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReversalFlag)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReversalFlag)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
