@model IEnumerable<IFMIS.Areas.LoanMod.Models.LoanApplicationVM>
@{
    ViewBag.Title = "Appraisal Assessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .widget-body {
        position: relative;
    }

    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                            </div>
                            <table id="dt_appraisal_list" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Application No</th>
                                        <th>Customer Fullname</th>
                                        <th>Applied Amount</th>
                                        @*<th>Registration Date</th>
                                            <th>Application Date</th>*@
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div class="modal fade" id="AppraisalExamination">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 align="center">Loan Application:<span id="ApplicationNo1"></span></h4>
            </div>
            <div class="modal-body form-horizontal">
                <center> <span>Fullname: <span id="CustomerName1"></span> Tin No: <span id="TinNo1"></span></span></center>
                <input type="hidden" name="ApplicationNo3" id="ApplicationNo3" />
                <br />
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="control-label col-md-3" for="Remarks"> Remarks</label>
                    <div class="col-md-7">
                        <textarea rows="5" id="Remarks1" required name="Remarks1" style="width:300px;"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="Attachment"> Attachment</label>
                    <div class="col-md-7">
                        <input type="file" name="Attachment1" id="Attachment1" class="input" style="width:300px" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>

                <button type="submit" class="btn btn-info" onclick="examineAppraisalForm()" id="examineAppraisal">
                    <i class="glyphicon glyphicon-arrow-right"></i>Save
                    <img src="~/Content/img/loading.gif" class="saveLoader" />
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExaminationRejection">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 align="center">Loan Application:<span id="ApplicationNo2"></span></h4>
            </div>
            <input type="hidden" name="ApplicationNo4" id="ApplicationNo4" />
            <div class="modal-body form-horizontal">
                <center> <span>Fullname: <span id="CustomerName2"></span> Tin No: <span id="TinNo2"></span></span></center>
                <br />
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="control-label col-md-3" for="Remarks"> Remarks</label>
                    <div class="col-md-7">
                        <textarea rows="5" id="Remarks2" required name="Remarks2" style="width:300px;"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="Attachment"> Attachment</label>
                    <div class="col-md-7">
                        <input type="file" name="Attachment2" id="Attachment2" class="input" style="width:300px" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>

                <button type="submit" class="btn btn-info" onclick="rejectionExamineApplicationForm()" id="confirmAppraisal">
                    <i class="glyphicon glyphicon-arrow-right"></i>Save
                    <img src="~/Content/img/loading.gif" class="saveLoader" />
                </button>

            </div>
        </div>
    </div>
</div>


@section pagespecific{

    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        /* BASIC ;*/
        var responsiveHelper_dt_loan = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };
        /*BEGINNING DATA TABLE*/
        /*END DATA TABLE*/
        var dt_appraisal_list = $('#dt_appraisal_list').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        //$("#dt_appraisal_list_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_appraisal_list.DataTable().search(this.value).draw();
        });


        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
        }

        var data = [];
        var LoanApplicationId = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetAssignedAssessmentList", "LoanAppraisal")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_appraisal_list.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    var displayConfirm = 'display:none;';

                    var unSecuredUrl = 'display:none;';
                    var unSecuredEditedUrl = 'display:none;';

                    var securedUrl = 'display:none;';
                    var securedEditedUrl = 'display:none;';

                    var securedSecondEditedUrl = 'display:none;';

                    var displayCancel = null;
                    var displayAppraisalForm = null;
                    var loanSecurityName = data[i]["LoanSecurityName"];

                    if (loanSecurityName === '@IFMIS.Libraries.Constants.SECURED.Trim().ToUpper()') {
                       
                        if (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.APPRAISAL_EVALUATION_ASSIGNMENT') {
                            unSecuredUrl = 'display:none;';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = 'display:none;';
                            securedEditedUrl = 'display:none;';
                            securedSecondEditedUrl = '';
                        }

                        if (data[i]["IsRejected"] == '@IFMIS.Libraries.Constants.FALSE') {
                            unSecuredUrl = 'display:none;';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = 'display:none;';
                            securedEditedUrl = '';
                            securedSecondEditedUrl = 'display:none;';
                        }

                        if (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.APPRAISAL_PENDING') {
                            displayConfirm = '';
                            unSecuredUrl = 'display:none;';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = 'display:none;';
                            securedEditedUrl = '';
                            securedSecondEditedUrl = 'display:none;';
                        }


                        if (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.APPRAISAL_PENDING' && data[i]["ProposedLoanAmount"] != 0 && data[i]["AppraisalForm"] != '' && data[i]["AppraisalForm"] != 'NULL' && data[i]["ValuationForm"] != '' && data[i]["ValuationForm"] != 'NULL' && data[i]["ForcedValuePercentage"] != 0) {
                            displayConfirm = '';
                            unSecuredUrl = 'display:none;';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = 'display:none;';
                            securedEditedUrl = 'display:none;';
                            securedSecondEditedUrl = '';
                        }

                        if (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.ASSIGNED' || data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.APPRAISAL_INITIAL') {
                            displayConfirm = 'display:none;';
                            unSecuredUrl = 'display:none;';
                            securedUrl = '';
                            unSecuredEditedUrl = 'display:none;';
                            securedEditedUrl = 'display:none;';
                            securedSecondEditedUrl = 'display:none;';
                        }
                    } else {
                        
                        if (data[i]["IsRejected"] == '@IFMIS.Libraries.Constants.FALSE') {
                            unSecuredUrl = 'display:none;';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = '';
                            securedEditedUrl = 'display:none;';
                            securedSecondEditedUrl = 'display:none;';
                        }

                        if (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.APPRAISAL_PENDING') {
                            displayConfirm = '';
                            unSecuredUrl = 'display:none;';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = '';
                            securedEditedUrl = 'display:none;';
                            securedSecondEditedUrl = 'display:none;';
                        }
                        if ((data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.ASSIGNED') || (data[i]["OverallStatus"] == '@IFMIS.Libraries.Constants.APPRAISAL_INITIAL')) {
                            displayConfirm = 'display:none;';
                            unSecuredUrl = '';
                            securedUrl = 'display:none;';
                            unSecuredEditedUrl = 'display:none;';
                            securedEditedUrl = 'display:none;';
                            securedSecondEditedUrl = 'display:none;';
                        }
                    }

                    var amount = data[i]["AppliedLoanAmount"];
                    if (amount != null) {
                        amount = "<p align='right'>" + toLabel(data[i]["AppliedLoanAmount"]); +"</p>"
                    } else {
                        amount = "<p align='right'>" + data[i]["AppliedLoanAmount"]; +"</p>"
                    }

                    dt_appraisal_list.fnAddData([i + 1,
                       data[i]["ApplicationNo"],
                       data[i]["CustomerName"],
                       amount,
                       data[i]["OverallStatus"],
                      '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                 <li><a href="@Url.Action("ViewLoanDetails", "ViewLoanApplication")/?Id=' + data[i]["LoanApplicationId"] + '">View</a></li>\
                                   <li style="' + displayAppraisalForm + '"><a target="_blank" href="@Url.Action("PrintSiteVisitForm", "LoanReport", new { area = "LoanMod" })/?customerId=' + data[i]["LoanCustomerId"] + '&&loanSecurityId=' + data[i]["LoanSecurityId"] + '">Print Appraisal Form</a></li>\
                                 <li style="' + unSecuredUrl + '"><a href="@Url.Action("CreateUnSecuredLoanAppraisalDetails", "LoanAppraisal")/?application=' + data[i]["ApplicationNo"] + '">Appraisal Form</a></li>\
                                 <li style="' + unSecuredEditedUrl + '"><a href="@Url.Action("EditUnSecuredLoanAppraisalDetails", "LoanAppraisal")/?application=' + data[i]["ApplicationNo"] + '">Edit Appraisal Form</a></li>\
                                 <li style="' + securedUrl + '"><a href="@Url.Action("CreateLoanAppraisalDetails", "LoanAppraisal")/?application=' + data[i]["ApplicationNo"] + '">Appraisal Form</a></li>\
                                 <li style="' + securedEditedUrl + '"><a href="@Url.Action("EditLoanAppraisalDetails", "LoanAppraisal")/?application=' + data[i]["ApplicationNo"] + '">Edit Appraisal Form</a></li>\
                                 <li style="' + securedSecondEditedUrl + '"><a href="@Url.Action("EditSecondLoanAppraisalDetails", "LoanAppraisal")/?application=' + data[i]["ApplicationNo"] + '">Edit Appraisal Form</a></li>\
                                 <li style="'+ displayConfirm + '"><a href="#" onclick="confirmDialog(' + i + ')">Confirm</a></li>\
                                 <li style="' + displayCancel + '"><a href="#" onclick="cancelDialog(' + i + ')">Cancel</a></li>\
                                  <li><a href="#" onclick="rejectDialog(' + i + ')">Reject</a></li>\
                            </ul>\
                        </div>\ '
                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        /* END BASIC */
        function examineAppraisal(i) {
            $("#ApplicationNo1").text(data[i]["ApplicationNo"]);
            $("#TinNo1").text(data[i]["TinNo"]);
            $("#CustomerName1").text(data[i]["CustomerName"]);
            $("#ApplicationNo3").text(data[i]["ApplicationNo"]);
            document.getElementById("ApplicationNo3").value = data[i]["ApplicationNo"];
            $('#AppraisalExamination').modal('show');
        }


        $(".saveLoader").toggle(false);
        /*START EXAMINE LOAN APPRAISAL EXAMINATION*/
        function examineAppraisalForm() {
            var LoanApplicationNo = $("#ApplicationNo3").val();
            var Remarks = $("#Remarks1").val();
            var Attachment = $("#Attachment1").val();

            if (LoanApplicationNo == '' || Remarks == '') {
                var url = '@Url.Action("ExamineLoanAppraisal", "LoanAppraisal")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (Attachment != '') {

                var file = document.querySelector("#Attachment1");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }

            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('ModuleName', LoanApplicationNo);
            formData.append('Remarks', Remarks);
            formData.append('Attachment', $("#Attachment1")[0].files[0]);

            postFormData(formData);
        }

        function postFormData(formData) {
            $(".loadingImg").show();
            $("#examineAppraisal").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("ExamineLoanAppraisal", "LoanAppraisal")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (resultData) {
                    $("#examineAppraisal").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (resultData.response == "Success") {
                        swal("Loan Appraisal Examined Successfully!", { icon: "success" })
                            .then((m) => {
                                location.reload();
                            });
                    } else {
                        $("#examineAppraisal").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(resultData.response)
                    }
                },
                failure: function (error) {
                    $("#examineAppraisal").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }
        /*END EXAMINE LOAN APPRAISAL EXAMINATION*/
        /*START REJECT LOAN APPRAISAL EXAMINATION*/
        function rejectionExamineApplicationForm() {
            var LoanApplicationNo = $("#ApplicationNo4").val();
            var Remarks = $("#Remarks2").val();
            var Attachment = $("#Attachment2").val();

            if (LoanApplicationNo == '' || Remarks == '') {
                var url = '@Url.Action("ExamineLoanAppraisal", "LoanAppraisal")';
                swal("Please Fill All the required Fields");
                return false;
            }

            if (Attachment != '') {

                var file = document.querySelector("#Attachment2");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format)");
                    return false;
                }
            }

            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('ModuleName', LoanApplicationNo);
            formData.append('Remarks', Remarks);
            formData.append('Attachment', $("#Attachment2")[0].files[0]);

            postFormData(formData);
        }

        function postFormData(formData) {
            $(".loadingImg").show();
            $("#confirmAppraisal").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("RejectExamineLoanAppraisal", "LoanAppraisal")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (resultData) {
                    $("#confirmAppraisal").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (resultData.response == "Success") {
                        swal("Loan Appraisal Rejected Successfully!", { icon: "success" })
                            .then((m) => {
                                location.reload();
                            });
                    } else {
                        $("#confirmAppraisal").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(resultData.response)
                    }
                },
                failure: function (error) {
                    $("#confirmAppraisal").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }
        /*END REJECT LOAN APPRAISAL EXAMINATION*/
        @*if ('@TempData["successMessage"]' == "success") {
            swal("Appraisal Saved Successfully!", { icon: "success" });
        }*@

        function confirmDialog(i) {
            swal({
                title: 'Confirm Appraisal ?',
                text: "This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmLoanAppraisal(data[i]["ApplicationNo"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function cancelDialog(i) {
            swal({
                title: 'Cancel Appraisal ?',
                text: "This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    cancelLoanAppraisal(data[i]["ApplicationNo"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

     function rejectDialog(i) {
            swal({
                title: 'Reject Appraisal ?',
                text: "This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    rejectLoanAppraisal(data[i]["ApplicationNo"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }
        /**
        * Send confirm signal to the backend
        * param  {Int} i - Id of the selected Item
        */
        function confirmLoanAppraisal(ApplicationNo) {
            var url = '@Url.Action("ConfirmAppraisal", "LoanAppraisal")';
            $.ajax({
                type: "post",
                url: url,
                data: { "ApplicationNo": ApplicationNo },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Confirmed Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response)
                         .then((value) => {
                             window.location.href = '@Request.Url.ToString()';
                         });
                    }

                },
                failure: function (error) {
                    swal(error)
                         .then((value) => {
                             window.location.href = '@Request.Url.ToString()';
                         });
                }
            });
            $('#confirmModal').modal('hide');
        }


        function cancelLoanAppraisal(ApplicationNo) {
            var url = '@Url.Action("CancelAppraisal", "LoanAppraisal")';
            $.ajax({
                type: "post",
                url: url,
                data: { "ApplicationNo": ApplicationNo },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Cancelled Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response)
                         .then((value) => {
                             window.location.href = '@Request.Url.ToString()';
                         });
                    }

                },
                failure: function (error) {
                    swal(error)
                         .then((value) => {
                             window.location.href = '@Request.Url.ToString()';
                         });
                }
            });
            $('#confirmModal').modal('hide');
        }

  function rejectLoanAppraisal(ApplicationNo) {
            var url = '@Url.Action("RejectEntryAppraisal", "LoanAppraisal")';
            $.ajax({
                type: "post",
                url: url,
                data: { "ApplicationNo": ApplicationNo },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Rejected Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response)
                         .then((value) => {
                             window.location.href = '@Request.Url.ToString()';
                         });
                    }

                },
                failure: function (error) {
                    swal(error)
                         .then((value) => {
                             window.location.href = '@Request.Url.ToString()';
                         });
                }
            });
            $('#confirmModal').modal('hide');
        }
        function printSiteVisitForm(i) {
            var loanSecurityId = data[i]["LoanSecurityId"],
                customerId = data[i]["LoanCustomerId"],
                reportUrl = "@ViewBag.reportUrlName" + "PrintSiteVisitForm.aspx",
                queryString = "loancategory=" + loanSecurityId + "&customerid=" + customerId;
                $.ajax({
                        type: "GET",
                        url: '@Url.Action("ParameterEncryption", "LoanReport", new {area = "LoanMod"})',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: { "query": queryString },
                        success: function (response) {
                            window.open(reportUrl + response);
                        }
                });
        }
    </script>
}

