@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.PayStation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Institution.InstitutionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubLevelCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubLevelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubLevelDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Institution.InstitutionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubLevelCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubLevelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubLevelDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayStationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayStationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayStationId })
        </td>
    </tr>
}

</table>
