@model IFMIS.Areas.ALS.Models.ALSOperLoan
@{
    ViewBag.Title = "Loan Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Loan Details</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">Attachment(s) List <span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span></a></li>
                                    @*<li><a href="#tab_3" data-toggle="tab">Comments<span class="badge bg-color-grey inbox-badge"> @ViewBag.countattachment </span> </a></li>*@
                                </ul>
                                <br />
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">

                                        <div class="detail-section">
                                            <div class="row-align">
                                                <div style="max-width:600px">
                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">Applicant Category:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.ApplicantCategory)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Vendor Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.VendorName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Check Number:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.CheckNo)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Basic Salary:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.BasicSalaryAmount, "_DecimalThousands") </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Net Salary:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.NetSalaryAmount, "_DecimalThousands") </td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">One Third Basic Salary:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.OneThirdBasicSalary, "_DecimalThousands")</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Pay Grade:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.PayGrade)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Max Scale Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.MaxScaleAmount, "_DecimalThousands")</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Bank Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.BenBankName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Benificiary Account No:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.BenAcctNum) </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Benificiary Swift Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.BenBankBic) </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Vote:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.AllocInstitutionCode)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Vote Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.AllocInstitutionName)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Schedule:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Schedule)</td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">Loan Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.LoanCode)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Loan Description:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.LoanDescr)</td>
                                                        </tr>

                                                    </table>
                                                </div>
                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">Application Number:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.LoanCtrlNum)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Application Type:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.ApplicationType)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Application Date:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.LoanApplDate, "_ShortDateTime")</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Applied Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.LoanApplAmount, "_DecimalThousands") </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Approved Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.LoanApprovedAmount, "_DecimalThousands") </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Net Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.NetLoanAmount, "_DecimalThousands") </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Monthly Recovery Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.MonthlyRecoveryAmt, "_DecimalThousands") </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Service Charge Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.ServiceChargeAmount, "_DecimalThousands") </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Protection Fund Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.ProtectionFundAmount, "_DecimalThousands") </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Exempted Amount:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.ExemptedAmount, "_DecimalThousands") </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Recovery Period:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.RecoveryPeriod)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Loan Start Date:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.LoanStartDedDate, "_ShortDateTime")</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Loan End Date:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.LoanEndDedDate, "_ShortDateTime")</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Batch Number:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.BatchNumber)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Amount to Be Paid:</td>
                                                            <td style="text-align:right">TZS @Html.DisplayFor(model => model.AmountToBePaid, "_DecimalThousands") </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Submitted By:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.SubmittedBy)</td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        @*<table class="table table-condensed table-bordered table-hover table-responsive" style="align-content:center">
                                            <tr>
                                                <td class="sect-label">S/No</td>
                                                <td class="sect-label">Attachment Type</td>
                                                <td class="sect-label">Action</td>

                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Contract Letter</td>
                                                <td style="text-align:right"> <a target="_blank" href="@Url.Action("PreviewOtherAttachment","ALSLoanAssignment",new { loanAppid=Model.LoanApplId,attachmentType="Contract"})"><i class="fa fa-print"></i>Preview</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Repayment Schedule</td>
                                                <td style="text-align:right"> <a target="_blank" href="@Url.Action("PreviewOtherAttachment","ALSLoanAssignment",new { loanAppid=Model.LoanApplId,attachmentType="Contract"})"><i class="fa fa-print"></i>Preview</a> </td>
                                            </tr>
                                        </table>*@

                                        <table id="dt_table" class="table table-bordered table-condensed table-amount">
                                            <thead>
                                                <tr>
                                                    <th>S/No.</th>
                                                    <th>Attachment Type</th>
                                                    <th>File</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>1</td>
                                                <td>Cover Letter</td>
                                                
                                                <td>

                                                @if (ViewBag.coverletter != null) { 

                                                <a target="_blank" href="@Url.Action("PreviewCoverLetter","ALSLoanAssignment",new { alsLoanSummaryID=Model.ALSLoanSummaryID})"><i class="fa fa-file-pdf-o"></i></a>
                                                    }
                                                    else {<p>No Cover letter to preview</p> }
                                                </td>
                                                @*<td><a target="_blank" href="@Url.Action("PreviewCoverLetter","ALSLoanAssignment",new { alsLoanSummaryID=Model.ALSLoanSummaryID})"><i class="fa fa-print"></i>Preview</a></td>*@
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Contract Letter</td>
                                                string.IsNullOrEmpty
                                                <td>
                                                    @if (!(string.IsNullOrEmpty(Model.ContractLetter)))
                                                    {<a target="_blank" href="@Url.Action("PreviewOtherAttachment","ALSLoanAssignment",new { loanAppid=Model.LoanApplId,attachmentType="Contract"})"><i class="fa fa-file-pdf-o"></i></a> }
                                                    else
                                                    {<p>No Contract letter to preview</p>}
                                                </td>
                                                @*<td><a target="_blank" href="@Url.Action("PreviewOtherAttachment","ALSLoanAssignment",new { loanAppid=Model.LoanApplId,attachmentType="Contract"})"><i class="fa fa-print"></i>Preview</a></td>*@

                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Repayment Schedule</td>
                                                <td>
                                                    @if (!(string.IsNullOrEmpty(Model.RepaymentSchedule)))
                                                    {<a target="_blank" href="@Url.Action("PreviewOtherAttachment", "ALSLoanAssignment", new { loanAppid = Model.LoanApplId, attachmentType = "RepaymentSchedule" })"><i class="fa fa-file-pdf-o"></i></a>
                                                    }
                                                    else{<p>No repayment schedule to preview</p>}

                                                </td>
                                                @*<td><a target="_blank" href="@Url.Action("PreviewOtherAttachment","ALSLoanAssignment",new { loanAppid=Model.LoanApplId,attachmentType="RepaymentSchedule"})"><i class="fa fa-print"></i>Preview</a></td>*@
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-2">
                                                <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script>
        var dt_table = $('#dt_table').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

      $("#dt_table_wrapper .dt-toolbar").remove();

    </script>
}