@model IEnumerable<IFMIS.Areas.ALS.Models.ALSOperLoanVm>
@{
    ViewBag.Title = "Loan Application Re-Assignment ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    /*input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }*/

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .widget-body {
        position: relative;
    }

    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }

    .backgroundColor {
        background: #ff0000;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="row">
                            <div style="padding-left:20px;padding-right:20px">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <select name="UserId" id="UserId" required class="form-control select2">
                                            @if (ViewBag.LoanOfficerList != null)
                                            {
                                                <option value="NULL">Select Loan officer</option>
                                                foreach (var loan in ViewBag.LoanOfficerList)
                                                {
                                                    if (loan.HasCheckNumber)
                                                    {
                                                        <option value='@loan.Id'>@loan.CheckNumber - @loan.UserName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value='@loan.Id'>@loan.UserName</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-info AssignBtn" id="Assign" onclick="AssignLoanOfficer()">
                                            Assign
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        @*<a class="btn btn-info" onclick="window.history.back()">
                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                        </a>*@
                                    </div>
                                </div>
                                </div>
                            </div>
                     
                            <br />
                            <div class="widget-body">
                                @Html.AntiForgeryToken()
                                <div align="center">
                                    <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                                </div>
                                <table id="dt_loanReceived_list" class="table table-bordered table-condensed table-amount">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th><input type="checkbox" onchange="checkAll()" id="checkall" /></th>
                                            <th>Application Number</th>
                                            <th>Check Number</th>
                                            <th>Applicant Name</th>
                                            <th style="text-align:left">Loan Amount</th>
                                            <th>Assigned To</th>
                                            <th>OverallStatus</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                </div>
            </article>
        </div>
    </section>
</div>



@section pagespecific{

    <script>


        var details = function (id) {
            $("#divLoader").show();
            window.location = '@Url.Action("MoreLoanDetails", "ALSLoanAssignment")/' + id;
        };

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });


        $(".AssignBtn").attr('disabled', true);

        /* BASIC ;*/
        var responsiveHelper_dt_loan = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };
        /*BEGINNING DATA TABLE*/
        /*END DATA TABLE*/
        var dt_loanReceived_list = $('#dt_loanReceived_list').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            },
            //"Dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
            //    "t" +
            //    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
        });

        dt_loanReceived_list.on('draw.dt', function () {
            checkedRows.forEach(v => {
                $(`#row-${v.rowId}`).prop("checked", true)
            })
        })

          var data = [];
          var LoanApplId = null;
          $.ajax({
              type: "get",
              url: '@Url.Action("GetReAssignLoanApplication", "ALSLoanAssignment")',
              contenttype: "application/json; charset=utf-8",
              datatype: "json",
              success: function (response) {
                  data = response.data;
                  console.log(data);
                  dt_loanReceived_list.fnClearTable();
                  for (var i = 0; i < data.length; i++) {
                      var id = data[i].LoanApplId;
                      dt_loanReceived_list.fnAddData([i + 1,
                          '<input  type="checkbox" id="row-' + id + '" onchange="rowChecked(' + id + ')"/>',
                          data[i]["LoanCtrlNum"],
                          data[i]["CheckNo"],
                          data[i]["VendorName"],
                          toLabel(data[i]["LoanApprovedAmount"]),
                          data[i]["AsignedName"],
                          data[i]["OverallStatus"],


                          action(i)
                      ]);
                  }
              },
              failure: function (error) {
                  swal(error);
              }
          });


        function action(i) {

            
            return '<div class="btn-group" id="drop-' + i + '">\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                <span class="caret"></span\
                                    <span class="sr-only"></span>\
                            </button>\
                        <ul class="dropdown-menu">\
                                <li><a href="@Url.Action("MoreLoanDetails", "ALSLoanAssignment")/?Id=' + data[i]["LoanApplId"] + '">Details</a></li>\
                        </ul>\
                    </div>\ '
            
        }


        var checkedRows = [];
        function rowChecked(rowId) {
            debugger
            if ($("#row-" + rowId).is(":checked")) {
                checkedRows.push(rowId);
            } else {
                remove(checkedRows, rowId);
            }
            toggleAssignButton();
        }

        function checkAll() {
            debugger
            checkedRows = [];
            if ($("#checkall").is(":checked")) {
                for (var i = 0; i < data.length; i++) {
                    var Id = data[i].LoanApplId;
                    checkedRows.push(Id);
                    $("#row-" + Id).prop('checked', true);
                }
            } else {
                for (var i = 0; i < data.length; i++) {
                    var Id = data[i].LoanApplId;
                    $("#row-" + Id).prop('checked', false);
                }
            }
            toggleAssignButton();
        }



        function toggleAssignButton() {
            if (checkedRows.length) {
                $("#Assign").attr('disabled', false);
            } else {
                $("#Assign").attr('disabled', true);
            }
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

        var userId = null;
        var LoanAppIds = [];
        function AssignLoanOfficer() {
            debugger;
            userId = document.getElementById("UserId").value;
            if (userId == "NULL") {
                swal("Please Select Loan Officer First", { icon: "warning" });
                return false;
            }

            swal({
                text: "Assign Selected Application(s)?",
                buttons: ["NO", "YES"],
            }).then((assign) => {
                if (assign) {
                    postAssignLoanOfficer();
                } else {
                    swal("Cancelled");
                }
            });
        }

        function postAssignLoanOfficer() {
            debugger

            checkedRows.forEach(rowId => {

                LoanAppIds.push(rowId);
            });

            console.log(LoanAppIds);

            var url = '@Url.Action("AssignLoanToOfficer", "ALSLoanAssignment")';
            $.ajax({
                type: "post",
                url: url,
                data: { "LoanAppIds": checkedRows, "UserId": userId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == 'Success') {
                        swal("Loan(s) Assigned successfully!", { icon: "success" })
                            .then((e) => {
                            window.location.reload()
                        });
                    } else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        /* END BASIC */

        $(".saveLoader").toggle(false);

    </script>
}
