@model IFMIS.Areas.Consolidation.Models.ConsoTrialBalanceRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ConsolidationRequest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinancialYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatusDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatusDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ConsolidationRequestId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
