@{
    ViewBag.Title = "Loan Tracker";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
   .loadingImg {
        display: none;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <center><img src="~/Media/Images/ajax_loader.gif" class="loadingImg" /></center>
                            <div class="row">
                                <div class="col-md-2">
                                    <select style="width:150px" id="overallstatus">
                                        <option value="Pending">Pending(In Confirmation Office)</option>
                                        <option value="Confirmed">Confirmed(Waiting for Examination)</option>
                                        <option value="Examined">Examined(Waiting for Approval)</option>
                                        <option value="Approved">Approved(Waiting for Generation)</option>
                                        <option value="Rejected">Rejected</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <table>
                                        <tr>
                                            <td>From</td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:120px;border:none;height:20px"
                                                           autocomplete="off" id="FromDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table>
                                        <tr>
                                            <td>To</td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:120px;border:none;height:20px"
                                                           autocomplete="off" id="ToDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Keywords..." id="searchbox">
                                        <button style="background-color:#2196F3;color:white" onclick="searchPayment()">Search</button>
                                    </div>
                                </div>
                            </div>

                            <table id="dt_voucher_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>PV Number</th>
                                        <th>Loan Number</th>
                                        <th>Payee Name</th>
                                        <th>Payee Bank Account</th>
                                        <th>Payee Bank Name</th>
                                        <th>Amount</th>
                                        <th>Recovered Amount</th>
                                        <th>Recovered Status</th>
                                        <th>Recovered Period(months)</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Voucher Information</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="payee-entry">
                            <div class="entry-label">Payee Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1. Payee Name: </th>
                                                <td id="_Payeename"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Payee Code:</th>
                                                <td id="_PayeeCode"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>3. Payee Bank Name:</th>
                                                <td id="_PayeeBankName"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Payee Address:</th>
                                                <td id="_PayeeAddress"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Voucher Entries</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>1. Description: </th>
                                                <td id="Description1"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Comments:</th>
                                                <td id="Comments1"></td>
                                            </tr>
                                            <tr>
                                                <th>3. Apply Date:</th>
                                                <td id="ApplyDate1"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>4. Payment Method:</th>
                                                <td id="PaymentMethod1"></td>
                                            </tr>
                                            <tr>
                                                <th>5. Control Number:</th>
                                                <td id="ControlNumber1"></td>
                                            </tr>
                                            <tr>
                                                <th>6. Sub Budget Class:</th>
                                                <td id="SubBudgetClass1"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <table id="dt_voucher_detail" class="table table-striped table-bordered table-hover table-condensed table-view-details" width="100%"></table>
                        <div class="total-amount">TOTAL <strong id="totalAmount">0.00</strong></div>
                        <table>
                            <tr>
                                <td><strong style="color:#2196F3">Status:</strong> <label id="statusId">-</label></td>
                                <td><strong style="color:#2196F3">Remarks:</strong> <label id="reasonId">-</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{

    <script>
        // ============ INIT DATA TABLES START =====================
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        var dt_voucher_listing = $('#dt_voucher_listing').dataTable({
            "language": {
                "emptyTable": '<strong id="loader">Loading...</strong>',
                "zeroRecords": "No matching records found"
            }
        });


        $("#dt_voucher_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            //dt_voucher_listing.DataTable().search(this.value).draw();
        });

        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            "sDom": 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });
        // ********************** INIT DATA TABLES END **********************


        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        var globalPayeeId = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetLoan", "LoanTracker")' + "/?OverrallStatus=Pending&&FromDate=" + $('#FromDate').val() + "&&ToDate=" + $('#ToDate').val() + "&&keywords=0",
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_voucher_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    var url = null;
                    var url1 = '@Url.Action("PreviewLoan", "LoanRecoveries")/' + data[i]["LoanNo"] + '';
                    var url2 = '@Url.Action("PreviewLoanTracker", "Loan")/' + data[i]["LoanNo"] + '';
                    if (data[i]["RecoveryStatus"] == "Partial" || data[i]["RecoveryStatus"] == "Full") {
                        url = url1;
                    } else {
                        url = url2;
                    }
                    dt_voucher_listing.fnAddData([i + 1,
                     data[i]["PVNo"],
                     data[i]["LoanNo"], 
                     data[i]["PayeeName"],
                     data[i]["PayeeBankAccount"],
                     data[i]["PayeeBankName"],
                     data[i]["AmountDue"],
                     data[i]["TotalDeductedAmount"],
                      data[i]["RecoveryStatus"],
                      data[i]["RecoveryPeriod"],
                     data[i]["OverAllStatus"],
                         '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="' + url + '" ><i class="fa fa-eye"></i>View</a></li>\
                            </ul>\
                        </div>'
                    ]);
                }

                if(data.length == 0){
                    $("#loader").text("No matching records found")
                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function searchPayment() {
            $("#loader").text("Loading...")
            $.ajax({
                type: "get",
                url: '@Url.Action("GetLoan", "LoanTracker")' + "/?OverrallStatus=" + $("#overallstatus").val() + "&&FromDate=" + $('#FromDate').val() + "&&ToDate=" + $('#ToDate').val() + "&&keywords=" + $('#searchbox').val() + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    console.log(response)
                    data = response.data;
                    dt_voucher_listing.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        var url = null;
                        var url1 = '@Url.Action("PreviewLoan", "LoanRecoveries")/' + data[i]["LoanNo"] + '';
                        var url2 = '@Url.Action("PreviewLoanTracker", "Loan")/' + data[i]["LoanNo"] + '';
                        if (data[i]["RecoveryStatus"] == "Partial" || data[i]["RecoveryStatus"] == "Full") {
                            url = url1;
                        } else {
                            url = url2;
                        }
                        dt_voucher_listing.fnAddData([i + 1,
                             data[i]["PVNo"],
                             data[i]["LoanNo"],
                             data[i]["PayeeName"],
                             data[i]["PayeeBankAccount"],
                             data[i]["PayeeBankName"],
                             data[i]["AmountDue"],
                             data[i]["TotalDeductedAmount"],
                              data[i]["RecoveryStatus"],
                              data[i]["RecoveryPeriod"],
                             data[i]["OverAllStatus"],
                             '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                 <li><a href="' + url + '" ><i class="fa fa-eye"></i>View</a></li>\
                            </ul>\
                        </div>'
                        ]);
                    }
                    if (data.length == 0) {
                        $("#loader").text("No matching records found")
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        // *************** LOAD TABLE DATA END *********************


        // =============== OPEN VIEW DIALOG START ==================
        /**
        * Show View Dialog
        * param  {Int} i - Id of the selected Item
        */
        function openViewDialog(i) {
            globalPayeeId = i;

            $("#_Payeename").text(data[i]["PayeeName"]);
            $("#_PayeeCode").text(data[i]["PayeeCode"]);
            $("#_PayeeBankName").text(data[i]["PayeeBankName"]);
            $("#_PayeeAddress").text(data[i]["PayeeAddress"]);


            dt_voucher_detail.fnClearTable();
            var totalAmount = 0;
           /* data[i]["VoucherDetails"].forEach(row => {
                dt_voucher_detail.fnAddData([
                    row["DrGlAccount"].split("|").join("-"),
                    row["DrGlAccountDesc"],
                    row["FundingReferenceNo"],
                    row["OperationalAmount"].toLocaleString() + ".00",
                ]);
                totalAmount = totalAmount + parseFloat(row["OperationalAmount"]);
            });*/

            $("#totalAmount").text(totalAmount.toLocaleString()+".00");
            $("#Description1").text(data[i]["PaymentDesc"]);
            $("#reasonId").text(data[i]["OverallStatusDesc"] ? data[i]["OverallStatusDesc"] : "-");
            $("#statusId").text(data[i]["OverallStatus"]);
            $("#InvoiceNo1").text(data[i]["InvoiceNo"]);
            $("#total_voucher_amount1").val(data[i]["OperationalAmount"]);
            $("#ApplyDate1").text(data[i]["ApplyDateFormatted"]);
            $("#Comments1").text(data[i]["Narration"]);
            $("#PaymentMethod1").text(data[i]["PaymentMethod"]);
            $("#ControlNumber1").text(data[i]["ControlNumber"] ? data[i]["ControlNumber"] : "-");
            $("#SubBudgetClass1").text(data[i]["SubBudgetClass"]);
            $('#confirmModal').modal('show');

        }
        // *************** END SHOW VIEW DIALOG ********************
    </script>
}
