@model IFMIS.Areas.Coadmis.Models.FieldWorkSchedule
@using (Html.BeginForm("UpdateSchedule", "FieldWorks", FormMethod.Post, new { id = "fieldWorkForm", enctype = "multipart/form-data" }))
 {
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(a=>a.FieldWorkScheduleId)
    <div class="form-group">
        @Html.Label("Auditable Item", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.AuditableAreaItem, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Previous Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.PreviousAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>

        @Html.Label("Current Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.CurrentAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("AdjustMent", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <select class="form-control select2" name="IsMaterial" id="ismaterial2">
                <option value="@Model.AdjustMent"> @Model.AdjustMent </option>
                <option value="Add"> Add </option>
                <option value="Less"> Less </option>
            </select>
        </div>

        @Html.Label("Adjusted Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.AdjustmentAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Finding Description", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.FindingNameDescription, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Condition", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Condition, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Criteria", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Criteria, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Causes", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Causes, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Implications (Consequence)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Consequence, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Recommendation", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Recommendation, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">

            <i class="fa fa-asterisk" style="color:white;width:5px;height:5px" id="errorProjectDesc"></i>
        </label>
        <div class="col-md-8">
            @*<a class="btn btn-info" href="#" type="submit">
                    <i class="glyphicon glyphicon-floppy-disk"></i> Save
                </a>*@
            <button type="submit" class="btn btn-info">Save</button>
            <button class="btn btn-default role-dismiss" data-dismiss="modal">Close</button>

        </div>

    </div>
    <br />

</div>
 }

<script>

    $("#FindingNature2").change(function () {
        $("#opBasisClass2").empty();
            debugger
            var id = $(this).val();

            var url = '@Url.Action("GetFindingCategory", "FieldWorks")';
            var params = { "findingnatureId": id };

            $.ajax({
                type: "POST",
                url: url,
                data: params,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    console.log(response);
                    $("#opBasisClass2").empty();
                    $("#opBasisClass2").append(response);
                }
            })
        });

        $("#ismaterial2").change(function () {
            var ismaterial = $("#ismaterial2").val();
            if (ismaterial == "Yes") {
                $("#basisOptions2").show();
            }
            else {
                $("#basisOptions2").hide();
            }
        });

    $("#opBasisClass2").change(function () {
            debugger
            var id = $(this).val();
            var url = '@Url.Action("GetFindingOpinionBasis", "FieldWorks")';
             var params = { "findingcategoryId": id };
            $.ajax({
                type: "POST",
                url: url,
                data: params,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    console.log(response);
                    $("#opbasis2").empty();
                    $("#opbasis2").append(response);
                }
            })
        });



</script>