@model IFMIS.Areas.Coadmis.DTO.FieldWorkVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div id="divLoader"></div>
    <br />
    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!----->
        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                        <h2> Field Works Details</h2>

                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <table style="border:1px solid #ffffff;width:500px;height:250px;margin-left:7px">
                                    <tr style="border-bottom:1px dashed #cecbcb;padding-bottom:2em">
                                        <td style="font-weight:bold"> Reference Number :</td>
                                        <td> @Model.ReferenceNo </td>
                                    </tr>
                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Engagement Name : </td>
                                        <td> @Model.EngagementName </td>
                                    </tr>
                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Client Name : </td>
                                        <td> @Model.ClientName </td>
                                    </tr>
                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Audit Financial Year : </td>
                                        <td> @Model.FinancialYear </td>
                                    </tr>
                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Prepared By : </td>
                                        <td> @Model.CreatedBy </td>
                                    </tr>
                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Prepared Date : </td>
                                        <td> @string.Format("{0:d/M/yyyy}", Model.CreatedAt) </td>
                                    </tr>
                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Status : </td>
                                        <td> @Model.Status </td>
                                    </tr>

                                    <tr style="border-bottom:1px dashed #cecbcb">
                                        <td style="font-weight:bold"> Audit Opinion : </td>
                                        <td> @Model.AuditOpinion </td>
                                    </tr>

                                    @if (Model.StartDate != null)
                                    {
                                        <tr style="border-bottom:1px dashed #cecbcb">
                                            <td style="font-weight:bold">Exit Meeting Start Date : </td>
                                            <td> @Model.StartDate </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #cecbcb">
                                            <td style="font-weight:bold">Exit Meeting End Date  : </td>
                                            <td> @string.Format("{0:d/M/yyyy}", Model.EndDate) </td>
                                        </tr>
                                        <tr style="border-bottom:1px dashed #cecbcb">
                                            <td style="font-weight:bold"> Attachmment : </td>
                                            <td>
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                                @*@Model.FileName*@
                                            </td>
                                        </tr>
                                    }
                                </table>
                                <br/>
                                <table id="dt_basic" class="table table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>
                                                Auditable Area
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 0;
                                            foreach (var item in Model.FieldWorkSummaries)
                                            {
                                                i++;
                                                <tr style="color:#2084ea">
                                                    <td>
                                                        @item.AuditableArea
                                                        <div class="btn-group" style="float:right">
                                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu" style="white-space:nowrap">
                                                                @if (item.Status == "Pending")
                                                                {
                                                                    <li> <a href="../AddWorkingPaper/?fieldWorkId=@item.FieldWorkSummaryId" class="fa fa-plus-square-o" style="margin-left:30px;cursor:pointer"> Add Work Paper </a> </li>
                                                                    <li> <a href="../CreateFieldWork/?fieldWorkId=@item.FieldWorkSummaryId" class="fa fa-pencil-square-o" style="margin-left:30px;cursor:pointer" onclick="EditArea(@item.FieldWorkSummaryId)"> Edit </a> </li>
                                                                }
                                                                <li> <a href="../FieldWorkDetails/?fieldWorkId=@item.FieldWorkSummaryId" class="fa fa-eye" style="margin-left: 30px;cursor: pointer"> Details </a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                                <div class="form-actions row" style="margin: 10px">
                                    <div class="col-md-1">
                                        @if (Model.Status == "Pending")
                                        {
                                            <a class="btn btn-default" href='@Url.Action("PendingFieldWork", "FieldWorks")'><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                                        }

                                        @if (Model.Status == "Confirmed")
                                        {
                                            <a class="btn btn-default" href='@Url.Action("confirmedfieldwork", "FieldWorks")'><i class="glyphicon glyphicon-arrow-left"></i> Back</a>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                </div>
    </section>
</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        $(document).ready(function () {
            //  $('#hide-menu > span > a').trigger('click');
        });

        //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        //    localStorage.setItem('lastTab', $(this).attr('href'));
        //});
        //var lastTab = localStorage.getItem('lastTab');

        //if (lastTab) {
        //    $('[href="' + lastTab + '"]').tab('show');
        //    if (lastTab == "#tab-r2") {
        //        getAdvisors();
        //    }

        //    if (lastTab == "#tab-r3") {
        //        getPersonnels()
        //    }

        //    if (lastTab == "#tab-r4") {
        //        getRegulations();
        //    }

        //    if (lastTab == "#tab-r5") {
        //        getRelated();
        //    }

        //    if (lastTab == "#tab-r6") {
        //        getPolicies();
        //    }

        //    if (lastTab == "#tab-r7") {
        //        getEstimates();
        //    }

        //    if (lastTab == "#tab-r8") {
        //        getService();
        //    }

        //    if (lastTab == "#tab-r9") {
        //        getControl();
        //    }

        //    if (lastTab == "#tab-r10") {
        //        getAssets();
        //    }

        //    if (lastTab == "#tab-r11") {
        //        getContracts();
        //    }

        //    if (lastTab == "#tab-r12") {
        //        getAttachments();
        //    }
        //}

        //**** Starting Banker process ****

        //**** End Banker process ****


        //**** Start Proffessional Advisor process ****

    </script>
}
