@model IFMIS.Areas.IFMISTZ.Models.InstitutionListVm

@{
    ViewBag.Title = "Consolidated Expenditure By Category List Report Parameters";
    ViewBag.Description = "form wizards";
    //Layout = "~/Views/Shared/_Default.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Institution Code
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.InstitutionCode, Model.InstitutionCodeList, "-- Select Institution --", new { @class = "select2 form-control padding-left-10" })
                                        @Html.ValidationMessageFor(model => model.InstitutionCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="control-label col-md-2">
                                        Sub Institution Code
                                    </div>
                                    <div class="col-md-5">
                                        <select id="SubInstitutionCode" name="SubInstitutionCode" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Sub Institution Code --</option>
                                        </select>
                                    </div>
                                </div>*@
                                @*<div class="form-group">
                                    <div class="control-label col-md-2">
                                        Cost Centre
                                    </div>
                                    <div class="col-md-3">
                                        <select id="CostCenter" name="CostCenter" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Cost Centre --</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Fund Category
                                    </div>
                                    <div class="col-md-3">
                                        <select id="FundCategoryId" name="FundCategoryId" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Fund Category --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Currency
                                    </div>
                                    <div class="col-md-3">
                                        <select id="Currency" name="Currency" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Currency --</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="control-label col-md-2">
                                        Period
                                    </div>
                                    <div class="col-md-3">
                                        <select id="Period" name="Period" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Period --</option>
                                            <option value="Month">Monthly</option>
                                            <option value="Quarter">Quarterly</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Required Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="RequiredDate" id="RequiredDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="ContractRegister()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>
        GetFundCategories();

        function ContractRegister() {
            var entityCode = $("#InstitutionCode").val().trim(),
               /* subInstitutionCode = "ALL",*/
                /*costCenter = "ALL",*/
                fundCategoryId = $("#FundCategoryId").val().trim(),
                requiredDate = $("#RequiredDate").val().trim(),
                currency = $("#Currency").val().trim(),
               /* period = $("#Period").val().trim(),*/
                url = "@Model.UrlName" + "ConsoExpenditureByCategoryRPT.aspx";

            var isNotSupplied = validateReportParameters(["#InstitutionCode", "#RequiredDate", "#FundCategoryId", "#Currency"]),
                queryString = "inst-code=" + entityCode + "&required-date=" + requiredDate  + "&fundCategoryId=" + fundCategoryId + "&currency=" + currency;

            if (isNotSupplied)
                $(isNotSupplied).attr("style", "border: 1px solid red");
            else
            {
                $.ajax({
                        type: "GET",
                        url: '@Url.Action("ParameterEncryption", "Report")',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: { "query": queryString },
                        success: function (response) {
                            window.open(url + response);
                        }
                });
            }
        }

        function validateReportParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i]).attr("style", "border: 1px solid #ccc");
                }
            }
            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    console.log(parameterList[i]);
                    return parameterList[i];
                }
            }
            return null;
        }

        function GetFundCategories() {
            const url = "GetFundCategories/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#FundCategoryId").empty();
                    $("#FundCategoryId").append(response);
                }
            });
        }

        $("#InstitutionCode").change(function () {
            var entityCode = $(this).val(),
                url2 = "GetInstitutionBudgetCurrency/?entityCode=" + entityCode;

            $.ajax({
                type: "GET",
                url: url2,
                contentType: "html",
                success: function (response) {
                    $("#Currency").empty();
                    $("#Currency").append(response);
                }
            });

        });

        //$("#SubInstitutionCode").change(function () {
        //    var SubInstitutionCode = $(this).val(),
        //        entityCode = $("#InstitutionCode").val();
        //    var url = "GetCostCentres/?institutionCode=" + entityCode + "&SubInstitutionCode=" + SubInstitutionCode;

        //    $.ajax({
        //        type: "GET",
        //        url: url,
        //        contentType: "html",
        //        success: function (response) {
        //            $("#CostCenter").empty();
        //            $("#CostCenter").append(response);
        //        }
        //    });
        //});

    </script>
}