@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.Bill>

@{
    ViewBag.Title = "Bills";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateBill")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoaIdReceivable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GLAccountReceivable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoaIdRevenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GLAccountRevenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialPeriodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalTypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationalCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentExchangeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetExchangeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivingBankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivingBankAcount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubInstitutionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubLevelCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubLevelCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubLevelDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreparedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreparedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Printedy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrintedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoaIdReceivable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GLAccountReceivable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoaIdRevenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GLAccountRevenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancialPeriodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancialYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationalCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentExchangeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetExchangeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivingBankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivingBankAcount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubInstitutionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubLevelCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubLevelCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubLevelDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreparedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printedy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillId })
        </td>
    </tr>
}

</table>
