@model IFMISTZ.Areas.IFMIS.Models.Bill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostingDetailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostingDetailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoaIdReceivable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoaIdReceivable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLAccountReceivable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLAccountReceivable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoaIdRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoaIdRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GLAccountRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GLAccountRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialPeriodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialPeriodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionAccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivingBankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivingBankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivingBankAcount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivingBankAcount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubInstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubInstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Printedy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printedy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
