@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundTransferSummary>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    th {
        text-align: center;
    }

    #amountdata {
        text-align: right;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #0480be;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .alert-secondary {
        background-color: lightgrey;
        color: black;
    }
</style>

<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Fund Transfer Approval</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">



                            <table id="dt_basic" class="table table-bordered table-hover table-condensed" width="100%">
                                <thead>
                                    <tr style="text-align:right;white-space:nowrap">
                                        <th></th>
                                        <th data-hide="phone">Transfer Type</th>
                                        <th style="text-align:left">Transfer Category</th>
                                        <th data-class="expand" style="text-align:left"> Institution From </th>
                                        <th data-class="expand" style="text-align:left"> Institution To </th>
                                        <th data-class="expand" style="text-align:right"> Transfered Amount </th>

                                        <th data-class="expand" style="text-align:left">Transfer Date</th>
                                        <th data-hide="phone,tablet" style="text-align:center"> OverallStatus </th>
                                        <th></th>
                                        <th data-hide="phone,tablet"> Action</th>
                                    </tr>
                                </thead>
                                @foreach (var group in ((IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundTransferSummary>)ViewBag.transferDetails).GroupBy(a => a.InstitutionCodeFrom))
                                {
                                    int i = 0;
                                    <tbody>
                                        @foreach (var item in group.Where(a=>a.TransferSlipFilePath == null && a.TransferType != "Own Source" && (a.OverallStatus == "Confirmed" || a.ApprovalStatus == "Approved" )))
                                        {

                                            i++;
                                            <tr>
                                                <td style="text-align:right">@i</td>
                                                <td>@item.TransferType</td>
                                                <td>@item.TransferCategory</td>
                                                <td style="text-align:left;white-space:nowrap">
                                                    @item.InstitutionCodeFrom - @item.InstitutionNameFrom
                                                </td>
                                                <td style="text-align:left">@item.InstitutionCodeTo - @item.InstitutionNameTo</td>
                                                <td style="text-align:right">@string.Format("{0:#,0.00}", item.TotalBaseAmount)</td>
                                                <td style="text-align:center">@string.Format("{0:d/M/yyyy}", item.CreatedAt)</td>

                                                <td style="text-align:center">@item.OverallStatus</td>
                                                <td> 
                                                    @if (item.TransferSlipFilePath != null)
                                                    {
                                                        <a href="#" onclick=preview("@item.TransferSlipFilePath")><i> Preview Slip </i></a>
                                                    }
                                                    else
                                                    {
                                                        <p>No Slip Attached </p>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        
                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            @if (@item.OverallStatus == "Confirmed")
                                                            {
                                                                <li><a href="#" onclick="Approve(@item.FundTransferSummaryId)"><i class="fa fa-edit"></i> Approve</a></li>
                                                                <li><a href="#" onclick="reject(@item.FundTransferSummaryId)"><i class="fa fa-trash-o"></i> Reject </a></li>
                                                            }
                                                            @if (@item.OverallStatus == "Approved" && item.TransferCategory == "Bank")
                                                            {
                                                                <li><a href="#" onclick="Print(@item.FundTransferSummaryId)"><i class="fa fa-print"></i> Print Slip </a></li>
                                                                <li><a href="#" onclick="attachSlip(@item.FundTransferSummaryId)"><i class="fa fa-paperclip"></i>   Attach Slip </a></li>
                                                            }

                                                            <li><a href="#" onclick="transferDetails(@item.FundTransferSummaryId)"><i class="fa fa-list"></i>   Details </a></li>

                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                </table>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title" id="lblmodal">Approve</h4>
                </div>
                <div class="modal-body">
                    <p class="success-message">Are you sure you want to Approve? </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info delete-confirm">Ok</button>
                    <button class="btn btn-info delete-cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <!----------- ATTACH SLIP DIALOG ----------------->
    <div class="modal fade" id="attachFileModal">
        <div class="modal-dialog">
            <div class="modal-content panel-info">
                <div class="modal-header panel-heading">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Attach Transfer Slip</h3>
                </div>

                <div class="modal-body">
                    <input type="file" name="file" id="file" accept=".pdf" />
                    <input type="hidden" id="transferSummaryid" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" onclick="uploadFile()" style="width:100px;" id="form_submision">
                        <i class="fa fa-save"></i>Save
                       
                    </button>
                    <button class="btn btn-info"
                            data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>

            </div>
        </div>
    </div>


    <!----------- VIEW SLIP DIALOG ----------------->
    <div class="modal fade" id="viewSlipModal">
        <div class="modal-dialog">
            <div class="modal-content panel-info">
                <div class="modal-header panel-heading">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Transfer Slip</h3>
                </div>

                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button class="btn btn-info"
                            data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>

            </div>
        </div>
    </div>



    <!----------- VIEW DIALOG ----------------->
    <div class="modal fade" id="detailsModal" style="left:4%">

        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content panel-info">
                <div class="modal-header panel-heading">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Transfer Details</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="widget-body" id="transferDetail_body">

                        </div>
                    </div>
                    <div class="modal-footer">
                        @*<button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="accept('x')">
                                <i class="fa fa-check"></i>Accept
                            </button>
                            <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="reject('x')">
                                <i class="fa  fa-times-circle"></i> Reject
                            </button>*@
                        <button class="btn btn-info btn-150" id="btncancel" data-dismiss="modal" style="width:100px;">
                            <i class="fa fa-times"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="slipModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Transfer Details</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body" id="transferSlip_body" style="height:auto">

                        <div id="detailID"><iframe height="700" id="slipImage" width="100%" src=""></iframe></div>

                    </div>
                </div>

                <div class="modal-footer">
                    @*<button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="accept('x')">
                            <i class="fa fa-check"></i>Accept
                        </button>
                        <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="reject('x')">
                            <i class="fa  fa-times-circle"></i> Reject
                        </button>*@<button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="accept('x')">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="reject('x')">
                        <i class="fa  fa-times-circle"></i>
                    </button>
                    <button class="btn btn-info btn-150" id="btncancel" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



    @section pagespecific {
        <script type="text/javascript">

            function edit() {
                $('#detailsModal').modal('show');
            }

            var ApproveTransfer = function (id) {
                debugger;
                $("#divLoader").show();

                $.ajax({
                    type: "POST",
                    url: "ApproveTransfer",
                    data: { ids: id },
                    success: function (response) {
                        if (response == "Success") {
                            swal("Approved Successfully!", { icon: "success" }).then((e) => {
                                window.location.reload();
                            });
                            $("#divLoader").hide();

                        } else if (response == "DbException") {
                            alert("An error has occured, contact system support");
                            $("#divLoader").hide();
                        }
                        else
                        {
                            alert(response);
                            $("#divLoader").hide();
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        alert("An error has occured, contact system support");
                        $("#divLoader").hide();
                    },
                });


            };


            var RejectDistribution = function () {

                $("#rejectModal").modal("show");
                $(".modal-body #ids").val(csvIds);
            };

            // DO NOT REMOVE : GLOBAL FUNCTIONS!

            $(document).ready(function () {


                /*
                  * ACCORDION
                  */
                //jquery accordion

                var accordionIcons = {
                    header: "fa fa-plus",    // custom icon class
                    activeHeader: "fa fa-minus" // custom icon class
                };

                $("#accordion").accordion({
                    autoHeight: false,
                    heightStyle: "content",
                    collapsible: true,
                    animate: 300,
                    icons: accordionIcons,
                    header: "h4",
                })



                $('#tabs').tabs();

                // PAGE RELATED SCRIPTS

                // switch style change
                $('input[name="checkbox-style"]').change(function () {
                    //alert($(this).val())
                    var $this = $(this);

                    if ($this.attr('value') === "switch-1") {
                        $("#switch-1").show();
                        $("#switch-2").hide();
                    } else if ($this.attr('value') === "switch-2") {
                        $("#switch-1").hide();
                        $("#switch-2").show();
                    }

                });

                // tab - pills toggle
                $('#show-tabs').click(function () {
                    var $this = $(this);
                    if ($this.prop('checked')) {
                        $("#widget-tab-1").removeClass("nav-pills").addClass("nav-tabs");
                    } else {
                        $("#widget-tab-1").removeClass("nav-tabs").addClass("nav-pills");
                    }

                });

            });

            $(document).ready(function () {

                /* // DOM Position key index //

                l - Length changing (dropdown)
                f - Filtering input (search)
                t - The Table! (datatable)
                i - Information (records)
                p - Pagination (paging)
                r - pRocessing
                < and > - div elements
                <"#id" and > - div with an id
                <"class" and > - div with a class
                <"#id.class" and > - div with an id and class

                Also see: http://legacy.datatables.net/usage/features
                */

                /* BASIC ;*/
                var responsiveHelper_dt_basic = undefined;
                var responsiveHelper_datatable_fixed_column = undefined;
                var responsiveHelper_datatable_col_reorder = undefined;
                var responsiveHelper_datatable_tabletools = undefined;

                var breakpointDefinition = {
                    tablet: 1024,
                    phone: 480
                };

                $('#dt_basic').dataTable({
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_dt_basic) {
                            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_dt_basic.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_dt_basic.respond();
                    }
                });

                /* END BASIC */

                /* COLUMN FILTER  */
                var otable = $('#datatable_fixed_column').DataTable({
                    //"bFilter": false,
                    //"bInfo": false,
                    //"bLengthChange": false
                    //"bAutoWidth": false,
                    //"bPaginate": false,
                    //"bStateSave": true // saves sort state using localStorage
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_datatable_fixed_column) {
                            responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_datatable_fixed_column.respond();
                    }

                });

                // custom toolbar
                $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

                // Apply the filter
                $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                    otable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();

                });
                /* END COLUMN FILTER */

                /* COLUMN SHOW - HIDE */
                $('#datatable_col_reorder').dataTable({
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_datatable_col_reorder) {
                            responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_datatable_col_reorder.respond();
                    }
                });

                /* END COLUMN SHOW - HIDE */

                /* TABLETOOLS */
                $('#datatable_tabletools').dataTable({

                    // Tabletools options:
                    //   https://datatables.net/extensions/tabletools/button_options
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "oTableTools": {
                        "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                           {
                               "sExtends": "pdf",
                               "sTitle": "SmartAdmin_PDF",
                               "sPdfMessage": "SmartAdmin PDF Export",
                               "sPdfSize": "letter"
                           }

                        ],
                        "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                    },
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_datatable_tabletools) {
                            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_datatable_tabletools.respond();
                    }
                });

                /* END TABLETOOLS */

            });



            function Approve(i, id) {
                debugger;
                if (i == 'x') i = id;
                swal({
                    title: "Are you sure?",
                    text: "This process cannot be undone",
                    buttons: [
                      'Yes',
                      'No'
                    ],
                    closeOnClickOutside: false,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal("Cancelled", "No change was made");
                    } else {

                        ApproveTransfer(i)
                    }
                });
                $('#confirmModal').modal('hide');
            };




            function printSlip(id) {
                debugger;
                swal('view slip');
                // paymentNumber = data[i]["PaymentNo"];
                //entityCode = paymentNumber.split("D")[0];


                ///window.open("../../Areas/IFMISTZ/Reports/PaymentSummaryRPT.aspx?inst-code=" + entityCode + "&&payment-number=" + paymentNumber);
            };


            function attachSlip(i) {
                debugger;
                var transferSummaryId = i;
                $('#transferSummaryid').val(transferSummaryId)
                $('#attachFileModal').modal('show');
            };


            $("#saveLoader").toggle(false);
            function uploadFile() {
                debugger;
                swal({
                    text: "Confirm To Attach Slip ?",
                    buttons: ["Cancel", "Confirm"],
                }).then((confirmed) => {
                    if (confirmed) {
                        uploadFilesConfirmed();
                    } else {
                        swal("Cancelled");
                    }
                });
            };

            function uploadFilesConfirmed() {
                debugger;
                var formData = new FormData();
                var transferSummaryId = $('#transferSummaryid').val();
                formData.append('transferSummaryId', transferSummaryId);
                formData.append('file', $('input[type=file]')[0].files[0]);
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    url: '@Url.Action("AttachSlip", "FundTransfers")',
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Slip Attached successfull!", { icon: "success" })
                              .then((e) => {
                                  $('#attachFileModal').modal('hide');
                                  window.location.reload();
                              });
                        } else {
                            swal(response)
                             .then((e) => {
                                 $('#attachFileModal').modal('hide');
                                 window.location.reload();
                             });
                        }

                    },
                    failure: function (error) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error)
                         .then((e) => {
                             $('#attachFileModal').modal('hide');
                             window.location.reload();
                         });
                    }
                });
            };



            var Print = function (id) {
                debugger;
                var Id = id;
                window.location.href = '@Url.Action("PrintTransfer", "FundTransfers")?transferSummaryId=' + Id;
            };



            //----Display Transfer Details---//
            var transferDetails = function (id) {
                debugger
                var url = '@Url.Action("TransferDetails", "FundTransfers")';
                $("#transferDetail_body").load(url, { id: id }, function (response, status, xhr) {
                    if (status == "error") {
                        $("#transferDetail_body").html(status + " Error on accessing this details, contact system support.");
                    }
                    $("#detailsModal").modal("show");
                });
            };
            //function to reset bootstrap modal popups
            $("#detailsModal").on("hidden.bs.modal", function () {
                $(".modal-header").removeClass("alert-danger").addClass("alert-info");
                $("#detailsModal").html("");
            });
            //--End Display Transfer Details---//

            $("#btncancel").click(function (e) {
                window.location.reload();
            });



            function reject(i, id) {
                debugger;
                swal({
                    title: "Rejection Reason",
                    closeOnClickOutside: false,
                    content: "input",
                    buttons: [
                      'Cancel',
                      'Save'
                    ],
                }).then((value) => {
                    //'
                    debugger;
                    var inputValue = `${value}`;
                    if (inputValue == "null") {
                        swal("Cancelled");

                    }
                    else {
                        rejectReasons(i, `${value}`)
                    }

                });
            }

            var rejectReasons = function (id, reason) {
                debugger;
                var rejectionReason = reason;

                $("#divLoader").show();

                $.ajax({
                    type: "POST",
                    url: "RejectTransfer",
                    data: { ids: id, reason: rejectionReason },
                    success: function (response) {
                        if (response == "Success") {
                            swal("Rejection Successfully Saved", { icon: "success" }).then((e) => {
                                window.location.reload();
                            });
                            //location.hide();
                            $("#divLoader").hide();

                        } else if (response == "DbException") {
                            swal(response + "An error has occured, contact system support");
                            $("#divLoader").hide();
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        alert("An error has occured, contact system support");
                        $("#divLoader").hide();
                    },
                });

            };


            function preview(slipfile) {
                debugger;
                var url = '@Url.Content("~/Media/TransferSlips/")'+ slipfile;

                document.getElementById("slipImage").src = url;
                $('#detailID').dialog({
                    autoOpen: true,
                    width: 900,
                    height: 700,
                    position: 'center',
                    resizable: true,
                    draggable: true
                });
            };

        </script>
    }
