@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundTransfer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransferCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionIdFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCodeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionNameFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionIdTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCodeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionNameTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBudgetClassFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBudgetClassTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCurrencyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalCurrencyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrGlAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrGlAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransferCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionIdFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionCodeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionNameFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionIdTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionCodeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionNameTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClassFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClassTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseCurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalCurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrGlAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrGlAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FundTransferId }) |
                @Html.ActionLink("Details", "Details", new { id=item.FundTransferId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FundTransferId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
