@model IFMIS.Areas.IFMISTZ.Models.Unapplied

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Unapplied</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VendorCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VendorCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenAcct)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenAcct)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnappliedAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnappliedAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrxAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrxAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndToEndId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndToEndId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BenBic)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BenBic)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankingStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankingStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankingStatusDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankingStatusDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TransferId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TransferId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ConfirmedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExpenditureType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExpenditureType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsOpened)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsOpened)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PaymentRef)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PaymentRef)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CashBookStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CashBookStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinancialYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClearedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClearedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ClearedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ClearedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OldBankingStatusDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OldBankingStatusDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnappliedRef)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnappliedRef)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RelatedRef)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RelatedRef)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankRef)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankRef)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankRelatedRef)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankRelatedRef)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OverallStatusDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OverallStatusDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnappliedPayStationId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnappliedPayStationId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FundingSourceAcct)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FundingSourceAcct)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnappliedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnappliedAt)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
