@model IFMIS.Areas.RecurrentPayment.Models.AllowanceList

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="panel panel-default" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-style:normal; font-size:15px">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title"> Allowance Details</h3>
        </div>
        <div class="row" style="margin: 15px">
            <h4>Are you sure you want to delete this?</h4>
                <hr />
                <table class="dl-horizontal">
                    <tr>
                    <td><strong>
                        @Html.DisplayNameFor(model => model.AllowanceName)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AllowanceName)
                    </td>
                        </tr>
                    <tr>
                    <td><strong>
                        @Html.DisplayNameFor(model => model.AllowanceDescription)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AllowanceDescription)
                    </td>
                    </tr>
                    <tr>
                    <td><strong>
                        @Html.DisplayNameFor(model => model.AllowanceAmount)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.AllowanceAmount)
                    </td></tr>
                    <tr>

                    <td><strong>
                        @Html.DisplayNameFor(model => model.IsActive)
                        </strong>
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsActive)
                    </td>
                        </tr>
                    </table>
                    </div>
            </div>
        </div>

        <div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            <a href="@Url.Action("Index","AllowanceLists")" class="btn btn-default btn-flat">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                Back
                            </a>
                        </div>
                    }
            </div>
