@model IEnumerable<IFMIS.Areas.Consolidation.Models.ConsoTransactionSummaryVM>
@{
 var i=0;
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }
</style>

<hr />
<div class="row">

    <div class="col-md-3 col-md-offset-9">
        <div class="search-container" style="float:right">
            <i class="fa fa-search"></i>
            <input type="search" name="search" placeholder="Search..." id="search-box">
        </div>
    </div>
</div>
<table class="table table-bordered table-hover table-condensed" id="dt_disclosures">

    <thead>
        <tr>
            <th style="text-align:center;width:4%">#</th>
            <th style="text-align:left">DisclosureType</th>
            <th style="text-align:center">@Html.DisplayNameFor(model => model.Note)</th>
            <th style="text-align:right">@Html.DisplayNameFor(model => model.TotalDRAmount)</th>
            <th style="text-align:right">@Html.DisplayNameFor(model => model.TotalCRAmount)</th>
            <th style="text-align:right">@Html.DisplayNameFor(model => model.DifferenceAmount)</th>
            <th style="text-align:right">@Html.DisplayNameFor(model => model.TotalDisclosuresAmount)</th>
            <th style="text-align:center">@Html.DisplayNameFor(model => model.OverallStatus)</th>
            <th style="text-align:center">Action</th>

        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model){
        i++;
        <tr>
            <td style="text-align:center">@i</td>
            <td style="text-align:left">
                @if(item.IsAgingNote==true && item.IsCashEquivalentNote==true){
                <strong>Aging and Cash Equivalent</strong>
                }
                else if(item.IsAgingNote==true){
                <strong>Aging </strong>
                }
                else if(item.IsBiologicalNote==true){
                <strong>Biological</strong>
                 }
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.TotalDRAmount)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.TotalCRAmount)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.DifferenceAmount)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.TotalDisclosuresAmount)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td style="text-align:center">

                <div class="btn-group" style="text-align:left">
                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("DisclosuresEntry", "ConsoTransactions",new {id=item.ConsoTransactionSummaryId,noteId=item.NoteId})" class="btn-xs edit">
                                <i class="fa fa-edit"></i>  Disclosures
                            </a>
                            @if (item.IsCashEquivalentNote == true)
                            {
                                <a href="@Url.Action("Currencies", "ConsoTransactions",new {id=item.ConsoTransactionSummaryId,noteId=item.NoteId})" class="btn-xs edit">
                                    <i class="fa fa-edit"></i>  Currencies
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    var dt_disclosures_data = $('#dt_disclosures').dataTable();
    $("#dt_disclosures_wrapper .dt-toolbar").remove();
    $("#search-box").on("keyup search input paste cut", function () {
        $("#dt_disclosures").DataTable().search(this.value).draw();
    });

</script>
