@model IFMIS.Areas.IFMISTZ.Models.Billing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RtrRespFlg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RtrRespFlg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpSysId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpSysId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiscAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiscAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillExprDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillExprDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyrId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyrId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillGenDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillGenDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillGenBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillGenBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillApprBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillApprBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyrCellNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyrCellNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyrEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyrEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ccy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ccy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillEqvAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillEqvAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillPayOpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillPayOpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillItemRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillItemRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseItemRefOnPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseItemRefOnPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillItemAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillItemAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillItemEqvAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillItemEqvAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillItemMiscAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillItemMiscAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GfsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GfsCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
