
@{
    ViewBag.Title = "Examine Loan";
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 150px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @*<a class="btn btn-info" href='@Url.Action("CreateLoan", "Loan")'>
                                            <i class="glyphicon glyphicon-plus"></i> Add New
                                        </a>*@
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_config_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loan No</th>
                                        <th>Payee Code</th>
                                        <th>Payee Name</th>
                                        <th>Loan Code</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Loan Information</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="payee-entry">
                            <div class="entry-label">Payee Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1. Payee Name: </th>
                                                <td id="payeeName"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Payee Code:</th>
                                                <td id="payeeCode"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>3. Payee Bank Name:</th>
                                                <td id="payeeBankName"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Payee Address:</th>
                                                <td id="payeeAddress"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Loan Entries</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>1. Description: </th>
                                                <td id="description"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Apply Date:</th>
                                                <td id="ApplyDate1"></td>
                                            </tr>
                                            <tr>
                                                <th>3. Recovery Status:</th>
                                                <td id="RecStatus"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Loan Code:</th>
                                                <td id="LoanType1"></td>
                                            </tr>

                                            <tr>
                                                <th>5. OverallStatus:</th>
                                                <td id="loanStatus"></td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>6. Sub Budget Class:</th>
                                                <td id="SubBudgetClass1"></td>
                                            </tr>
                                            <tr>
                                                <th>7. Monthly Deduction:</th>
                                                <td id="MonthlyDed"></td>
                                            </tr>
                                            <tr>
                                                <th>8. Financial Year: </th>
                                                <td id="FinYear"></td>
                                            </tr>
                                            <tr>
                                                <th>9. Amount Due:</th>
                                                <td id="AmntDue"></td>
                                            </tr>
                                            <tr>
                                                <th>10. Remarks:</th>
                                                <td id="remarks"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                        <table id="dt_selected_beneficiary" class="table table-striped table-bordered table-hover table-condensed table-view-details" width="100%"></table>
                        <div class="total-amount">TOTAL <strong id="totalAmount">0.00</strong></div>
                        @*<table>
                                <tr>
                                    <td><strong style="color:#2196F3">Status:</strong> <label id="statusId">-</label></td>
                                    <td><strong style="color:#2196F3">Remarks:</strong> <label id="reasonId">-</label></td>
                                </tr>
                            </table>*@
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Rejection Reason</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button value="Save" class="btn btn-info pull-left"><i class="fa fa-save"></i> Save </button>
                <button class="btn btn-default delete-cancel pull-left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



@section pagespecific{

    <script>
        // ============ INIT DATA TABLES START =====================

        var dt_config_listing = $('#dt_config_listing').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_config_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_config_listing.DataTable().search(this.value).draw();
        });

        var dt_selected_beneficiary = $('#dt_selected_beneficiary').dataTable({
            "sDom": 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Beneficiary Name" },
                { title: "Beneficiary Code" },
                { title: "Account Number" },
                { title: "Bank Name" },
                { title: "Amount" }
            ]
        });
        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("GetExamineLoans", "Loan")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_config_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_config_listing.fnAddData([i + 1,
                       data[i]["LoanNo"],
                       data[i]["PayeeCode"],
                       data[i]["PayeeName"],
                       data[i]["LoanTypeDesc"],
                       //data[i]["OperationalAmount"],
                       toLabel(data[i]["OperationalAmount"]),
                       data[i]["OverAllStatus"],

                      '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                 <li><a href="#" onclick="openViewDialog(' + i + ')"><i class="glyphicon glyphicon-eye-open"></i>Preview</a></li>\
                                 <li><a href="#" onclick="examine(' + i + ')"><i class="glyphicon glyphicon-edit"></i>Examine</a></li>\
                                 <li><a href="@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + data[i]["LoanId"] + '&&sourceModule= + @IFMIS.Libraries.Constants.SOURCE_MODULE_LOAN + "><i class="glyphicon glyphicon-eye-open"></i>View  Attachment</a></li>\
                                 <li><a href="#" onclick="reject(' + data[i]["LoanId"] + ')"><i class="glyphicon glyphicon-trash"></i>Rejected</a></li>\
                            </ul>\
                        </div>\ '
                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });


        function examine(i) {
            var lpo = data[i]["LoanNo"]
            if (i == 'x');
            swal({
                title: 'Examine Loan',
                text: "Do you what to Examine Loan   " + lpo + " ?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    Examine(data[i]["LoanId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }


        function Examine(Id) {
            debugger
            var url = '@Url.Action("ExamineLoan", "Loan")';
            $.ajax({
                type: "post",
                url: url,
                data: { "id": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {

                        swal("Examined successfully!", { icon: "success" })
                              .then((value) => {
                                  location.reload();
                              });
                    }
                    else {
                        swal("Failed to Examine " + response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function reject(i, id) {

            swal({
                title: "Rejection Reason",
                closeOnClickOutside: false,
                content: "input",
                buttons: [
                  'Cancel',
                  'Save'
                ],
            }).then((value) => {
                var inputValue = `${value}`;
                if (inputValue == "null") {
                    swal("Cancelled");
                }
                else {

                    rejectReasons(i, `${value}`)
                }
            });
        }


        var rejectReasons = function (id, reason) {
            debugger;
            var rejectionReason = reason;
            $.ajax({
                type: "POST",
                url: "RejectLoan",
                data: { loanId: id, remark: rejectionReason },
                success: function (response) {
                    if (response == "Success") {
                        swal("Rejection Successfully Saved", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });

                    } else if (response == "DbException") {
                        swal(response + "An error has occured, contact system support");
                    }
                },
                error: function (xhr) {

                    alert("An error has occured, contact system support");
                    $("#divLoader").hide();
                },
            });
        };


        function openViewDialog(i) {
            globalPayeeId = i;
            $("#payeeName").text(data[i]["PayeeName"]);
            $("#payeeCode").text(data[i]["PayeeCode"]);
            $("#payeeBankName").text(data[i]["PayeeBankName"]);
            $("#payeeAddress").text(data[i]["PayeeAddress"]);
            $("#description").text(data[i]["Description"]);
            $("#ApplyDate1").text(data[i]["ApplyDateFormatted"]);
            $("#RecStatus").text(data[i]["RecoveryStatus"]);
            $("#LoanType1").text(data[i]["LoanTypeDesc"]);
            $("#SubBudgetClass1").text(data[i]["SubBudgetClass"]);
            $("#MonthlyDed").text(data[i]["MonthlyDeduction"]);
            $("#FinYear").text(data[i]["FinancialYear"]);
            $("#AmntDue").text(data[i]["AmountDue"]);
            $("#loanStatus").text(data[i]["OverAllStatus"]);
            $("#remarks").text(data[i]["Remark"]);

            dt_selected_beneficiary.fnClearTable();
            var TotalAmount = 0;
            var LoanBeneficiaryIds = [];
            dt_selected_beneficiary.fnClearTable();
            data[i]["LoanBeneficiaryList"].forEach(row => {
                dt_selected_beneficiary.fnAddData([
                    row["PayeeName"],
                    row["PayeeCode"],
                    row["Accountnumber"],
                    row["BankName"],
                    row["OperationalAmount"],
                ]);

                TotalAmount = TotalAmount + parseFloat(row["OperationalAmount"]);
                LoanBeneficiaryIds.push(row["LoanBeneficiaryId"]);
            });

            $("#totalAmount").text(TotalAmount.toLocaleString() + ".00");

            $('#confirmModal').modal('show');
        }
        // *************** END SHOW VIEW DIALOG ********************

    </script>
}


