@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundReceivingVM>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    th {
        text-align: right;
    }

    #amountdata {
        text-align: right;
    }
</style>

<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
            <header>
                <h2> Fund Distribution </h2>
            </header>
            <div>
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body">
                    <div class="padding-10">

                        <ul class="nav nav-tabs tabs-pull-left">
                            <li class="active">
                                <a href="#a1" data-toggle="tab">Recurrent Funding - OC </a>
                            </li>
                            <li>
                                <a href="#a2" data-toggle="tab"> Development Funding </a>
                            </li>
                            <li>
                                <a href="#a2" data-toggle="tab"> Recurrent Funding - PE </a>
                            </li>
                            <li class="pull-right">
                                <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
                            </li>
                        </ul>

                        <div class="tab-content padding-top-10">
                            <div class="tab-pane fade in active" id="a1">

                                <div class="row">

                                    <br />
                                    <!-- NEW WIDGET START -->
                                    <article class="col-sm-12 col-md-12 col-lg-12">
                                        <!-- Widget ID (each widget will need unique ID)-->
                                        <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-2" data-widget-editbutton="false">
                                            <header style="background-color:#2196F3;color:#ffffff">
                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                <h2> Recurrent Funding Summary - OC </h2>
                                            </header>
                                            <!-- widget div-->
                                            <div>
                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->
                                                <!-- widget content -->
                                                <div class="widget-body no-padding">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead class="bordered-palegreen">
                                                                <tr>
                                                                    <th>Budget Class </th>
                                                                    <th> Total Budget </th>
                                                                    <th>
                                                                        Total Issued Amount
                                                                    </th>
                                                                    <th>
                                                                        Total Distributed Amount
                                                                    </th>

                                                                    <th>
                                                                        Undistributed Balancce
                                                                    </th>

                                                                    <th> Budget Balance </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="text-align:right">
                                                                    <td> OC </td>
                                                                    <td> @string.Format("{0:#,0.00}", ViewBag.TotalBudgetOC) </td>
                                                                    <td> @string.Format("{0:#,0.00}", ViewBag.IssuedOC) </td>
                                                                    <td> @string.Format("{0:#,0.00}", ViewBag.distributedOC)</td>
                                                                    <td>
                                                                        @{
                                                                            decimal? undistributedOC = @ViewBag.IssuedOC - @ViewBag.distributedOC;
                                                                        }
                                                                        @string.Format("{0:#,0.00}", undistributedOC)
                                                                    </td>
                                                                    <td>
                                                                        @{
                                                                            decimal? budgetBalanceOC = @ViewBag.TotalBudgetOC - @ViewBag.IssuedOC;
                                                                        }
                                                                        @string.Format("{0:#,0.00}", budgetBalanceOC)

                                                                    </td>
                                                                </tr>
                                                                <tr style="text-align:right">
                                                                    <td> Own Source </td>
                                                                    <td>  @string.Format("{0:#,0.00}", ViewBag.TotalBudgetRecOwnSource)  </td>
                                                                    <td> @string.Format("{0:#,0.00}", ViewBag.IssuedOwnSource) </td>
                                                                    <td> @string.Format("{0:#,0.00}", ViewBag.distributedOwnSource) </td>
                                                                    <td>
                                                                        @{
                                                                            decimal? undistributedOwnSource = @ViewBag.IssuedOwnSource - @ViewBag.distributedOwnSource;
                                                                        }
                                                                        @string.Format("{0:#,0.00}", undistributedOwnSource)
                                                                    </td>
                                                                    <td>
                                                                        @{
                                                                            decimal? budgetBalanceOwnSOurce = @ViewBag.TotalBudgetRecOwnSource - @ViewBag.IssuedOwnSource;
                                                                        }
                                                                        @string.Format("{0:#,0.00}", budgetBalanceOwnSOurce)
                                                                    </td>
                                                                </tr>
                                                                <tr style="font-weight:bold;text-align:right">
                                                                    <td> Total </td>
                                                                    <td>
                                                                        @{
                                                                            decimal? totalBudgetclass;
                                                                            decimal? totalBudgetOC = @ViewBag.TotalBudgetOC;
                                                                            decimal? totalRecOwnSource = @ViewBag.TotalBudgetRecOwnSource;
                                                                            totalBudgetclass = totalBudgetOC + totalRecOwnSource;
                                                                        }
                                                                        @string.Format("{0:#,0.00}", totalBudgetclass)
                                                                    </td>

                                                                    <td>
                                                                        @{
                                                                            decimal? totalIssuedAmount;
                                                                            decimal? totalIssuedOC = @ViewBag.IssuedOC;
                                                                            decimal? totalIssuedOwnSource = @ViewBag.IssuedOwnSource;
                                                                            totalIssuedAmount = totalIssuedOC + totalIssuedOwnSource;

                                                                        }
                                                                        @string.Format("{0:#,0.00}", totalIssuedAmount)
                                                                    </td>

                                                                    <td>
                                                                        @{
                                                                            decimal? totalDistributeddAmount;
                                                                            decimal? totalDistributedOC = @ViewBag.distributedOC;
                                                                            decimal? totalDistributedOwnSource = @ViewBag.distributedOwnSource;
                                                                            totalDistributeddAmount = totalDistributedOC + totalDistributedOwnSource;

                                                                        }
                                                                        @string.Format("{0:#,0.00}", totalDistributeddAmount)
                                                                    </td>

                                                                    <td>
                                                                        @{
                                                                            decimal? totalUndistributedBalance;
                                                                            decimal? totalUndistributedOC = @ViewBag.IssuedOC - @ViewBag.distributedOC;
                                                                            decimal? totalUndistributedOwnSource = @ViewBag.IssuedOwnSource - @ViewBag.distributedOwnSource;
                                                                            totalUndistributedBalance = totalUndistributedOC + totalUndistributedOwnSource;

                                                                        }
                                                                        @string.Format("{0:#,0.00}", totalUndistributedBalance)
                                                                    </td>



                                                                    <td>
                                                                        @{
                                                                            decimal? totalbudgetBalance;
                                                                            decimal? totalbudgetBalanceOC = @ViewBag.TotalBudgetOC - @ViewBag.IssuedOC;
                                                                            decimal? totalbudgetBalanceOwnSource = @ViewBag.TotalBudgetRecOwnSource - @ViewBag.IssuedOwnSource;
                                                                            totalbudgetBalance = totalbudgetBalanceOC + totalbudgetBalanceOwnSource;

                                                                        }
                                                                        @string.Format("{0:#,0.00}", totalbudgetBalance)
                                                                    </td>

                                                                </tr>


                                                            </tbody>

                                                        </table>


                                                    </div>

                                                </div>

                                                <!-- end widget content -->


                                            </div>

                                            <!-- end widget div -->


                                        </div>

                                        <!-- end widget -->


                                    </article>

                                    <!-- WIDGET END -->
                                    <!-- NEW WIDGET START -->

                                    <article class="col-sm-12 col-md-12 col-lg-12">
                                        <!-- Widget ID (each widget will need unique ID)-->
                                        <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-2" data-widget-editbutton="false">
                                            <header style="background-color:#2196F3;color:#ffffff">
                                                <span class="widget-icon"> <i class="fa fa-file-text-o"></i> </span>
                                                <h2> OC Details for Distribution </h2>
                                            </header>
                                            <!-- widget div-->
                                            <div>
                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->
                                                <!-- widget content -->
                                                <div class="widget-body no-padding">
                                                    <div class="well well-sm well-light">
                                                        <div id="accordion">
                                                            @foreach (var group in Model.Where(a => a.BudgetClass != "PE").GroupBy(a => a.BudgetClass))
                                                            {
                                                                int i = 0;
                                                                int? badgeCount = group.Where(a => a.BudgetClass == group.Key).Count();

                                                                <div>
                                                                    <h4> @group.Where(a => a.BudgetClass == group.Key).Select(a => a.BudgetClass).FirstOrDefault() <b class="badge" style="margin-left:25px"> @badgeCount </b> </h4>
                                                                    <div class="padding-10">

                                                                        <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-3" data-widget-editbutton="false">
                                                                            <!-- widget options:
                                                                            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                                                            data-widget-colorbutton="false"
                                                                            data-widget-editbutton="false"
                                                                            data-widget-togglebutton="false"
                                                                            data-widget-deletebutton="false"
                                                                            data-widget-fullscreenbutton="false"
                                                                            data-widget-custombutton="false"
                                                                            data-widget-collapsed="true"
                                                                            data-widget-sortable="false"

                                                                            -->
                                                                            <header>
                                                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                                                <h2> </h2>

                                                                            </header>

                                                                            <!-- widget div-->
                                                                            <div>

                                                                                <!-- widget edit box -->
                                                                                <div class="jarviswidget-editbox">
                                                                                    <!-- This area used as dropdown edit box -->

                                                                                </div>
                                                                                <!-- end widget edit box -->
                                                                                <!-- widget content -->
                                                                                <div class="widget-body no-padding">
                                                                                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                                                                                        <thead>
                                                                                            <tr style="text-align:left">
                                                                                                <th data-hide="phone">ID</th>
                                                                                                <th data-class="expand">@Html.DisplayNameFor(model => model.FundingRefNo)</th>
                                                                                                <th>@Html.DisplayNameFor(model => model.ComponentName) </th>
                                                                                                <th data-hide="phone">@Html.DisplayNameFor(model => model.FundingDate)</th>
                                                                                                <th data-hide="phone,tablet"> @Html.DisplayNameFor(model => model.OperationalAmount)</th>
                                                                                                <th data-hide="phone,tablet">Distributed Amount</th>
                                                                                                <th data-hide="phone,tablet">Available Amount</th>
                                                                                                <th data-hide="phone,tablet">Action</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var group1 in group)
                                                                                            {

                                                                                                //decimal? distributedAmount = ((IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundReceivingVM>)ViewBag.fundDetails).Where(a => a.FundReceivingId == group1.FundReceivingId).Select(a => a.OperationalAmount);
                                                                                                i++;
                                                                                                <tr>
                                                                                                    <td>@i</td>
                                                                                                    <td>@group1.FundingRefNo</td>
                                                                                                    <td>
                                                                                                        @group1.ComponentName
                                                                                                    </td>
                                                                                                    <td style="text-wrap:none;">@string.Format("{0:d/M/yyyy}", group1.FundingDate)</td>
                                                                                                    <td>@string.Format("{0:#,0.00}", group1.BaseAmount)</td>
                                                                                                    <td>
                                                                                                        @{
                                                                                                            decimal? oa = 0;
                                                                                                            if (group1.DistributionOperationalAmount == null)
                                                                                                            {
                                                                                                                oa = oa;
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                oa = group1.DistributionOperationalAmount;
                                                                                                            }
                                                                                                        }
                                                                                                        @string.Format("{0:#,0.00}", oa)

                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @{
                                                                                                            decimal? balance = 0;
                                                                                                            if (group1.DistributionOperationalAmount == null)
                                                                                                            {
                                                                                                                balance = balance;
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                balance = group1.BaseAmount - group1.DistributionOperationalAmount;
                                                                                                            }
                                                                                                        }
                                                                                                        @string.Format("{0:#,0.00}", balance)
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        @Html.ActionLink("Distribute", "FundCompDistribution", new { id = @group1.FundReceivingId, @balanceAmount = @group1.BaseAmount }, new { @class = "btn btn-info fa fa-shopping-cart" })
                                                                                                        @*<a href="../FundAllocations/FundCompDistribution" class="btn btn-info"><span class="fa fa-shopping-cart"></span> &nbsp;&nbsp; Distribute</a>*@
                                                                                                    </td>
                                                                                                </tr>
                                                                                                            }
                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                                <!-- end widget content -->

                                                                            </div>
                                                                            <!-- end widget div -->

                                                                        </div>


                                                                    </div>
                                                                </div>

                                                                                                            }

                                                        </div>

                                                    </div>
                                                </div>
                                                <!-- end widget content -->

                                            </div>
                                            <!-- end widget div -->

                                        </div>
                                        <!-- end widget -->

                                    </article>
                                    <!-- WIDGET END -->


                                </div>

                            </div>
                            <div class="tab-pane fade" id="a2">

                            </div><!-- end tab -->
                        </div>

                    </div>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        <!-- end widget -->





    </div>
</div>

@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {


            /*
              * ACCORDION
              */
            //jquery accordion

            var accordionIcons = {
                header: "fa fa-plus",    // custom icon class
                activeHeader: "fa fa-minus" // custom icon class
            };

            $("#accordion").accordion({
                autoHeight: false,
                heightStyle: "content",
                collapsible: true,
                animate: 300,
                icons: accordionIcons,
                header: "h4",
            })



            $('#tabs').tabs();

            // PAGE RELATED SCRIPTS

            // switch style change
            $('input[name="checkbox-style"]').change(function () {
                //alert($(this).val())
                var $this = $(this);

                if ($this.attr('value') === "switch-1") {
                    $("#switch-1").show();
                    $("#switch-2").hide();
                } else if ($this.attr('value') === "switch-2") {
                    $("#switch-1").hide();
                    $("#switch-2").show();
                }

            });

            // tab - pills toggle
            $('#show-tabs').click(function () {
                var $this = $(this);
                if ($this.prop('checked')) {
                    $("#widget-tab-1").removeClass("nav-pills").addClass("nav-tabs");
                } else {
                    $("#widget-tab-1").removeClass("nav-tabs").addClass("nav-pills");
                }

            });

        });

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                    "copy",
                    "csv",
                    "xls",
                       {
                           "sExtends": "pdf",
                           "sTitle": "SmartAdmin_PDF",
                           "sPdfMessage": "SmartAdmin PDF Export",
                           "sPdfSize": "letter"
                       },
                       {
                           "sExtends": "print",
                           "sMessage": "List of Recurrent Componet Details <i>(press Esc to close)</i>"
                       }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        })






    </script>
}
