@model IFMIS.Areas.IFMISTZ.Models.PaymentScheduleVM
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm(null,null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitSummary(this)" }))
          {
        @Html.AntiForgeryToken()

        <div class="col-md-12">


                <fieldset>
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ContractId)
                            @Html.LabelFor(model => model.FinancialYear, htmlAttributes: new { @class = "control-label   col-md-2" })
                            <div class="col-md-3">
                               @Html.EditorFor(model => model.FinancialYear, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @Readonly = "readonly"} })
                               @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger" })


                            </div>
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", rows = "2", maxlength = 250 } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.Deliverable, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.Deliverable, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", rows = "2", maxlength = 250 } })
                                @Html.ValidationMessageFor(model => model.Deliverable, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </fieldset>
      


        </div>


        <div class="col-md-offset-2">
            <a href="#step-1" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
            <button type="button" id="submit_pay_schedule" class="btn btn-info" style="margin-right:2px">
                <i class="glyphicon glyphicon-floppy-disk"></i> Save
            </button>

            <button class="btn btn-info nextBtn" type="button">Next &nbsp;<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
        </div>
        }
        <div align="center">
            <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
        </div>
        <br />
        <br />
        <div id="contract-summary">
            <table align="center" class="table table-hover table-condensed" style="width:80%">
                <tr>
                    <td>Currency &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractAmount)</td>
                    <td style="padding-top:8px;height:30px">Contract Amount &nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Currency)</td>
                    <td>Payment  &nbsp;&nbsp;&nbsp; <span id="payment_number"></span></td>
                    <td>Balance &nbsp;&nbsp;&nbsp;<span id="payment_balance"></span></td>
                    <td><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> View Details</a></td>
                </tr>
            </table>
        </div>

        <div id="collapse1" class="panel-collapse collapse">
            <table align="center" class="table table-bordered table-hover table-condensed" id="paymentSchedule" style="width:80%">
            </table>

        </div>



    </div>
</div>
