@model IFMIS.Areas.IFMISTZ.Models.PaymentScheduleVM

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @id = "editForm", onsubmit = "return UpdatePaymentSchedule(this)" }))
{
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.PaymentScheduleId)
<div class="form-horizontal">

    <div class="form-group">

        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", rows = "2", maxlength = 250 } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.Deliverable, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Deliverable, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", rows = "2", maxlength = 250 } })
            @Html.ValidationMessageFor(model => model.Deliverable, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">@Html.DisplayFor(model => model.Currency)</span>
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="save_payment" class="btn btn-info" style="margin-left: 5px">
            <i class="glyphicon glyphicon-floppy-disk"></i> Save
        </button>
        <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
    </div>

</div>
}
<div align="center">
    <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
</div>
<br />



<script>

    $("#editForm #Amount").autoNumeric('init');
   
</script>