@model IFMIS.Areas.IFMISTZ.Models.ContractVM
<div class="col-xs-12">

    <div class="col-md-12">
        <form id="add_item">
            <fieldset>
                <div class="form-horizontal">

                    <div class="form-group">

                        @Html.LabelFor(model => model.ItemCategory, htmlAttributes: new { @class = "control-label   col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.ItemCategory, Model.ItemCategoriesList, "Select ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ItemCategory, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Quantity", htmlAttributes: new { @class = "control-label   col-md-2" })
                        <div class="col-md-3">
                            <input type="text" name="Quantity" id="Quantity" value="" class="form-control" autocomplete="off">
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Class", htmlAttributes: new { @class = "control-label   col-md-2" })
                        <div class="col-md-3">
                            <select name="ItemClassificationId" id="ItemClassificationId" class="form-control"></select>
                            @Html.ValidationMessageFor(model => model.ItemClassificationId, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Unit Price", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.ItemDesc, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", maxlength = 50 } })
                            @Html.ValidationMessageFor(model => model.ItemDesc, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Overhead", htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="col-md-3">
                            @Html.EditorFor(model => model.OverheadPercentage, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Percentage" } })
                            @Html.ValidationMessageFor(model => model.OverheadPercentage, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.UOM, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(model => model.UOM, Model.UOMList, "Select ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UOM, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("Total Amount", htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="col-md-3">
                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.VatStatus, htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="col-md-3">

                            <input type="checkbox" name="VatStatus" value="Applicable" id="VatStatus">
                            <input id="VatApplicable" name="VatApplicable" style="width:40px;font-weight:bold" type="text" readonly value="NO">

                        </div>
                        @Html.LabelFor(model => model.PaymentScheduleId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            <select name="PaymentScheduleId" id="PaymentScheduleId" class="form-control"></select>
                            @Html.ValidationMessageFor(model => model.PaymentScheduleId, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="col-md-offset-2">
        <a href="#step-2" style="margin-right:5px" class="btn btn-info pull-left btn-prev"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

        <button type="button" id="contract_item" class="btn btn-info" style="margin-right:2px">
            <i class="glyphicon glyphicon-floppy-disk"></i> Save
        </button>

        <button type="button" id="finish" class="btn btn-info" style="margin-right:2px">
            <i class="glyphicon glyphicon-floppy-disk"></i> Finish and Exit
        </button>
    </div>
    <div align="center">
        <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
    </div>
    <br />
    <div class="widget-body no-padding">

        <br />
        <div class="row">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">

            </div>

            <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                <strong>
                    <span>Currency:<span class="currency"></span></span>
                    &nbsp;&nbsp;
                    <span>Contract Amount:<span class="display_amount"></span></span>
                    &nbsp;&nbsp;
                    <span>Balance:<span id="items_balance"></span></span>
                    &nbsp;&nbsp;
                </strong>
            </div>

        </div>

        <table align="center" class="table table-bordered table-hover table-condensed" id="items" style="width:90%">
        </table>





    </div>




</div>
