@model IFMIS.Areas.IFMISTZ.Models.Search
@{
    ViewBag.Title = "Contract Variation";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">


                    <header>
                        <h2><strong>Contract Variation </strong> <i></i></h2>

                        <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                            <li class="active">

                                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Search Contract<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@ViewBag.count_search</span></span> </a>

                            </li>

                            <li>
                                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Pending Variation <span class="badge inbox-badge margin-right-13 gl_count" style="background-color:#2196F3">@ViewBag.count_pending</span></span></a>
                            </li>

                        </ul>

                    </header>

                    <div>
                        <div class="tab-content padding-10">
                            <div class="tab-pane fade  @ViewBag.Search" id="hr1">
                                <div class="widget-body " style="padding-top:10px;width:100%">
                                    @using (Html.BeginForm(null, null, FormMethod.Get))
                                    {

                                        <div class="form-horizontal">
                                            <div class="col-xs-12">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            @Html.DropDownListFor(model => model.VariationStatus, new List<SelectListItem>{
                                                new SelectListItem{ Text="Approved", Value = "Approved" },
                                        }, "Select Status", new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.VariationStatus, "", new { @class = "text-danger", @required = "required" })
                                                        </div>
                                                        <label class="col-md-1 control-label">From</label>
                                                        <div class="col-md-2">

                                                            <div class="input-group">
                                                                <div class="flatpickr date-group">
                                                                    <input type="text" placeholder="Select Date.."
                                                                           data-input
                                                                           value='@Model.StartDate'
                                                                           class="form-control"
                                                                           style="width:87px;padding-left:10px;border:none"
                                                                           autocomplete="off" name="StartDate" id="StartDate" required>
                                                                    <a class="input-button" title="open" data-toggle href="#">
                                                                        <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <label class="col-md-1 control-label">To</label>
                                                        <div class="col-md-2">
                                                            <div class="input-group">
                                                                <div class="flatpickr date-group">
                                                                    <input type="text" placeholder="Select Date.."
                                                                           data-input
                                                                           value='@Model.EndDate'
                                                                           class="form-control"
                                                                           style="width:87px;padding-left:10px;border:none"
                                                                           autocomplete="off" name="EndDate" id="EndDate" required>
                                                                    <a class="input-button" title="open" data-toggle href="#">
                                                                        <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-offset-1 col-md-3">
                                                            <div class="input-group"><input class="form-control" id="Keyword" name="Keyword" placeholder="Contract Reg Number" value='@Model.Keyword' type="text" autocomplete="off" /><span class="input-group-btn"><button class="btn" style="background-color:#2196F3;color:white" id="search" type="submit">Search</button></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <hr />
                                    <div align="center">
                                        <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                                    </div>
                                    <table align="center" class="table  table-bordered table-hover table-condensed" id="dt_contact" style="width:97%">
                                        <thead>
                                            <tr>
                                                <th style="text-align:right"></th>
                                                <th style="text-align:left;width:10%">Contract Reg#</th>
                                                <th style="text-align:left">Contract Number</th>
                                                <th style="text-align:left">Supplier</th>
                                                <th style="text-align:left">Contract Description</th>
                                                <th style="text-align:left">Currency</th>
                                                <th style="text-align:right">Contract Amount</th>
                                                <th style="text-align:left">Lot</th>
                                                <th style="text-align:left">Status</th>
                                                <th style="text-align:left">CreatedAt</th>
                                                <th style="text-align:center">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{var i = 0;}
                                            @foreach (var item in ViewBag.ContractList)
                                            {
                                                i++;

                                                <tr>
                                                    <td style="text-align:right">
                                                        @i
                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.ContractNo
                                                    </td>
                                                    <td>
                                                        @item.ContractNumber
                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.Payeename
                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.ContractDescription

                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.Currency
                                                    </td>

                                                    <td style="text-align:right">


                                                        @item.ContractAmount


                                                    </td>
                                                    <td align="center">

                                                        @if (item.Lotted)
                                                        {
                                                            <span>@item.LotNo</span>
                                                        }
                                                        else
                                                        {
                                                            <span>NA</span>
                                                        }

                                                    </td>
                                                    <td>

                                                        Approved

                                                    </td>
                                                    <td>
                                                        @item.CreatedAt.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td style="text-align:center">

                                                        <div class="btn-group">

                                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu">

                                                                <li>
                                                                    <a href="@Url.Action("ContractPreview", "Contract" ,new {id=item.ContractId})" class="btn-xs edit">
                                                                        <i class="fa fa-search-minus"></i>  Preview
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("ManageVariation", "Contract" ,new {id = item.ContractId})" class="btn-xs edit">
                                                                        <i class="fa fa-edit"></i>  Variation
                                                                    </a>
                                                                </li>


                                                            </ul>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>


                            <div class="tab-pane fade @ViewBag.Pending" id="hr2">
                                <div class="widget-body no-padding">
                                    <br />
                                    <br />
                                    <br />
                                    <table align="center" class="table  table-bordered table-hover table-condensed" id="dt_variation" style="width:97%">
                                        <thead>
                                            <tr>
                                                <th style="text-align:right"></th>
                                                <th style="text-align:left;width:10%">Contract Reg#</th>
                                                <th style="text-align:left">Contract Number</th>
                                                <th style="text-align:left">Supplier</th>
                                                <th style="text-align:left">Contract Description</th>
                                                <th style="text-align:left">Currency</th>
                                                <th style="text-align:right">Prev Amount</th>
                                                <th style="text-align:right">New Amount</th>
                                                <th style="text-align:left">Lot</th>
                                                <th style="text-align:left">EndDate</th>
                                                <th style="text-align:left">CreatedAt</th>
                                                <th style="text-align:center">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{var j = 0;}
                                            @foreach (var item in ViewBag.VariationList)
                                            {
                                                j++;
                                                <tr>
                                                    <td style="text-align:right">
                                                        @j
                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.ContractNo
                                                    </td>
                                                    <td>
                                                        @item.ContractNumber
                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.Payeename
                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.ContractDescription

                                                    </td>
                                                    <td style="text-align:left">
                                                        @item.Currency
                                                    </td>

                                                    <td style="text-align:right">
                                                        @Convert.ToDecimal(item.PreviousAmount).ToString("#,##0/=")
                                                    </td>
                                                    <td style="text-align:right">
                                                        @Convert.ToDecimal(item.ContractAmount).ToString("#,##0/=") <br />
                                                    </td>
                                                    <td align="center">

                                                        @if (item.Lotted)
                                                        {
                                                            <span>@item.LotNo</span>
                                                        }
                                                        else
                                                        {
                                                            <span>NA</span>
                                                        }

                                                    </td>

                                                    <td>

                                                        @item.ContractEndDate.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @item.CreatedAt.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td style="text-align:center">

                                                        <div class="btn-group">

                                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="@Url.Action("AttachmentEntry", "PaymentVoucherAttachments",new {groupId=item.ContractId,sourceModule="ContractVariation" })" class="btn-xs edit">
                                                                        <i class="fa fa-edit"></i>  Attachments
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("ContractPreview", "Contract" ,new {id=item.ContractId})" class="btn-xs edit">
                                                                        <i class="fa fa-search-minus"></i>  Preview
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="@Url.Action("ManageVariation", "Contract" ,new {id = item.ContractId})" class="btn-xs edit">
                                                                        <i class="fa fa-edit"></i>  Edit
                                                                    </a>
                                                                </li>
                                                                @if (item.OverallStatus == "Rejected")
                                                                {

                                                                    <li><a href="#" onclick="confirmRejected(@item.ContractId,'@item.ContractNo')" class="btn-xs edit"><i class="fa fa-edit"></i> Confirm</a></li>

                                                   
                                                                }
                                                                else
                                                                {

                                                                    <li><a href="#" data-toggle="modal" data-id=@item.ContractId data-contract='@item.ContractNo' class="contractConfirm  btn-xs edit"><i class="fa fa-edit"></i> Confirm</a></li>

                                                                }


                                                            </ul>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>





                                </div>


                            </div>








                        </div>




                    </div>


                </div>
            </article>

        </div>
    </section>
</div>
<div class="modal fade" id="ComfirmContract" style="left:4%">

    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="text-align:center"> Confirm Contract</h3>
                <h4 align="center">Contract Reg# <span id="contract_number"></span></h4>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ConfirmReason" }))
            {
                <div class="modal-body form-horizontal">

                    <br />

                    <input type="hidden" name="Id" id="Id" value="">
                    <div class="form-group">

                        <div class="col-md-12">
                            <textarea name="Reason" id="Reason" placeholder="Enter short explanation how you fixed problem of rejection" required rows="4" class="form-control"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <input class="btn btn-info" type="submit" id="btnSubmit" value="Save" />
                    @*<input type="submit" value="Submit" class="btn btn-success" id="btnSubmit" />*@

                </div>

            }
        </div>
    </div>
</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            $(document).ready(function () {
                /* // DOM Position key index //
         l - Length changing (dropdown)
         f - Filtering input (search)
         t - The Table! (datatable)
         i - Information (records)
         p - Pagination (paging)
         r - pRocessing
         < and > - div elements
         <"#id" and > - div with an id
         <"class" and > - div with a class
         <"#id.class" and > - div with an id and class
         Also see: http://legacy.datatables.net/usage/features
         */
                /* BASIC ;*/
                var responsiveHelper_dt_contact = undefined;
                var responsiveHelper_dt_variation = undefined;
                var responsiveHelper_datatable_fixed_column = undefined;
                var responsiveHelper_datatable_col_reorder = undefined;
                var responsiveHelper_datatable_tabletools = undefined;

                var breakpointDefinition = {
                    tablet: 1024,
                    phone: 480
                };

                $('#dt_contact').dataTable({
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_dt_contact) {
                            responsiveHelper_dt_contact = new ResponsiveDatatablesHelper($('#dt_contact'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_dt_contact.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_dt_contact.respond();
                    }
                });


                $('#dt_variation').dataTable({
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_dt_variation) {
                            responsiveHelper_dt_variation = new ResponsiveDatatablesHelper($('#dt_variation'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_dt_variation.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_dt_variation.respond();
                    }
                });

                /* END BASIC */

                /* COLUMN FILTER  */
                var otable = $('#datatable_fixed_column').DataTable({
                    //"bFilter": false,
                    //"bInfo": false,
                    //"bLengthChange": false
                    //"bAutoWidth": false,
                    //"bPaginate": false,
                    //"bStateSave": true // saves sort state using localStorage
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_datatable_fixed_column) {
                            responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_datatable_fixed_column.respond();
                    }
                });

                // custom toolbar
                $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

                // Apply the filter
                $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {
                    otable
                        .column($(this).parent().index() + ':visible')
                        .search(this.value)
                        .draw();
                });
                /* END COLUMN FILTER */

                /* COLUMN SHOW - HIDE */
                $('#datatable_col_reorder').dataTable({
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_datatable_col_reorder) {
                            responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_datatable_col_reorder.respond();
                    }
                });

                /* END COLUMN SHOW - HIDE */

                /* TABLETOOLS */
                $('#datatable_tabletools').dataTable({

                    // Tabletools options:
                    //   https://datatables.net/extensions/tabletools/button_options
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                            "t" +
                            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "oTableTools": {
                        "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                           {
                               "sExtends": "pdf",
                               "sTitle": "SmartAdmin_PDF",
                               "sPdfMessage": "SmartAdmin PDF Export",
                               "sPdfSize": "letter"
                           },
                           {
                               "sExtends": "print",
                               "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                           }
                        ],
                        "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                    },
                    "autoWidth": true,
                    "preDrawCallback": function () {
                        // Initialize the responsive datatables helper once.
                        if (!responsiveHelper_datatable_tabletools) {
                            responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_datatable_tabletools.respond();
                    }
                });
                /* END TABLETOOLS */
                var result = '@(ViewBag.Message)';
                if (result == "NoMatching") {

                    swal("No any matching Contract");

                }
                //$('#StartDate').datepicker({
                //    dateFormat: 'mm/dd/yy',
                //    prevText: '<i class="fa fa-chevron-left"></i>',
                //    nextText: '<i class="fa fa-chevron-right"></i>',
                //    onSelect: function (selectedDate) {
                //        $('#StartDate').datepicker('option', 'minDate', selectedDate);
                //    }
                //});
                //$('#EndDate').datepicker({
                //    dateFormat: 'mm/dd/yy',
                //    prevText: '<i class="fa fa-chevron-left"></i>',
                //    nextText: '<i class="fa fa-chevron-right"></i>',
                //    onSelect: function (selectedDate) {
                //        $('#EndDate').datepicker('option', 'minDate', selectedDate);
                //    }
                //});

                $(".contractConfirm").on('click', function () {
                    var id = $(this).data('id');
                    var contract_number = $(this).data('contract');
                    swal({
                        title: 'Confirmation',
                        text: "Do you what to confirm Contract   " + contract_number + " ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("ConfirmVariation", "Contract")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id },
                    success: function (result) {
                        if (result == "Success") {

                            swal("Confirmed successfully!", { icon: "success" })
                                      .then((value) => {
                                         var url = '@Url.Action("ContractVariation", "Contract")';
                                                    var new_url = url + "?status=Pending";
                                                    window.location.replace(new_url);
                                      });


                        } else if (result == "NoAttachment") {
                          swal("Please attach variation approval document");
                        }
                       else if (result.response == "PaymentSchedule") {
                      swal("Failed to confirm ,Please enter Payment Schedule(s) with total value of "+toLabel(result.amount)+" equals to Contract Amount,currently you have entered Payment Schedule(s) with value of "+toLabel(result.schedule));
                          }
                        else if (result.response == "TotalItems") {
                        swal("Failed to confirm ,Please enter items with total value of "+toLabel(result.schedule)+" equals to total Contract Amount,currently you have entered items with value of "+toLabel(result.items_amount));
                          }
                        else {

                            swal("Failed to confirm ,DbException");
                        }
                    },
                    error: function (xhr) {
                        swal(error);
                        $("#divLoader").hide();
                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

                });

                 $("#ConfirmReason").on('submit', function (e) {
                    e.preventDefault();

                    swal({
                        title: 'Confirmation',
                        text: "Do you confirm this Contract ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("ConfirmRejVariation", "Contract")';
                            var id = $("#Id").val();
                            var reason = $("#Reason").val();
                            var formData = {
                                "Id": id,
                                "Reason": reason
                            }
                            $('#ComfirmContract').modal('hide');
                            $.ajax(
                        {
                            type: "POST",
                            url: url,
                            data: formData,
                            success: function (result) {
                                if (result == "Success") {

                                    swal("Contract Confirmed  successfully!", { icon: "success" })
                                              .then((value) => {
                                                var url = '@Url.Action("ContractVariation", "Contract")';
                                                    var new_url = url + "?status=Pending";
                                                    window.location.replace(new_url);
                                              });


                                }
                                else if (result == "NoAttachment") {
                                      swal("Please attach variation approval document");
                                }
                                  else if (result.response == "PaymentSchedule") {
                                  swal("Failed to confirm ,Please enter Payment Schedule(s) with total value of "+toLabel(result.amount)+" equals to Contract Amount,currently you have entered Payment Schedule(s) with value of "+toLabel(result.schedule));
                                    }
                                  else if (result.response == "TotalItems") {
                                  swal("Failed to confirm ,Please enter items with total value of "+toLabel(result.schedule)+" equals to total Contract Amount,currently you have entered items with value of "+toLabel(result.items_amount));
                                             }
                                else {

                                    swal("Failed to reject ,DbException");
                                }
                            },
                            error: function (xhr) {
                                swal(error);

                            },

                        });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });
                });

                        });
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

         var confirmRejected = function (id, contract) {
                     $("#contract_number").text(contract);
                    $(".modal-body #Id").val(id);
                     $('#ComfirmContract').modal('show');
             };

    </script>
}
