@model IFMIS.Areas.IFMISTZ.Models.ContractVM
@{
    ViewBag.Title = "Preview Contract";
    var i = 0;
    var j = 0;
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Preview Contract </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p align="left">
                                Contract Number &nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.ContractNumber</strong></span><br />
                                Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.ContractDescription</strong></span><br />
                                Currency &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.OperationalCurrency</strong></span><br />
                                Contract Start Date :<span><strong>@Convert.ToDateTime(Model.ContractStartDate).ToString("dd/MM/yyyy")</strong></span><br />
                                Contract End Date &nbsp;:<span><strong>@Convert.ToDateTime(Model.ContractEndDate).ToString("dd/MM/yyyy")</strong></span><br />
                                Contract Amount &nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.ContractAmount)</strong></span><br />
                                GL Account(s)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Convert.ToDecimal(Model.ContractCoas.Select(a => a.OperationalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></span><br />
                                Balance &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Convert.ToDecimal(Model.ContractAmount - Model.ContractCoas.Select(a => a.OperationalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></span><br />
                            </p>
                      
                            <br>

                            <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                                <header>
                                    <h2><strong></strong> <i></i></h2>

                                    <ul id="widget-tab-1" class="nav nav-tabs pull-right">
                                        <li>

                                            <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Lots List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ContractLots.Count()</span></span> </a>

                                        </li>
                                        <li class="active">

                                            <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ItemsList.Count()</span></span> </a>

                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#hr3"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> GL Accounts List <span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ContractCoas.Count()</span></span></a>
                                        </li>

                                    </ul>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <!-- widget body text-->

                                        <div class="tab-content padding-10">
                                            <div class="tab-pane fade" id="hr1">
                                                <div class="widget-body no-padding">

                                                    <br/>
                                                    <br/>



                                                    <div class="custom-scroll" style="height:200px; overflow-y: scroll;">
                                                        @if (Model.ContractLots.Count() > 0)
                                                        {
                                                            <table align="center" class="table table-bordered table-hover table-condensed" style="width:97%">
                                                                <tr>
                                                                    <th style="text-align: center">#</th>
                                                                    <th style="text-align: left">Lot Number </th>
                                                                    <th style="text-align: left">Description</th>
                                                                    <th style="text-align: left">Procurement Method</th>
                                                                    <th style="text-align: right">Amount</th>

                                                                </tr>
                                                                <tbody>

                                                                    @foreach (var item in Model.ContractLots)
                                                                    {
                                                                        i++;
                                                                        <tr>
                                                                            <td style="text-align: center">@i</td>

                                                                            <td>@item.LotNumber</td>
                                                                            <td>@item.LotDescription</td>
                                                                            <td>@item.ProcurementMethod</td>
                                                                            <td style="text-align: right">@Convert.ToDecimal(item.Amount).ToString("#,##0/=") </td>
                                                                        </tr>

                                                                    }


                                                                </tbody>
                                                                <tr><td colspan="4" style="text-align: right"><strong>Total</strong></td><td style="text-align: right"><strong>@Model.ContractLots.Select(a => a.Amount).DefaultIfEmpty(0).Sum().ToString("#,##0/=")</strong></td></tr>
                                                            </table>

                                                        }



                                                    </div>



                                                </div>

                                            </div>

                                            <div class="tab-pane fade in active" id="hr2">
                                                <div class="widget-body no-padding">

                                                    <br />
                                                    <br />
                                                   



                                                    <div class="custom-scroll" style="height:200px; overflow-y: scroll;">
                                                        @if (Model.ItemsList.Count() > 0)
                                                        {
                                                            <table align="center" class="table table-bordered table-hover table-condensed" style="width:97%">
                                                                <tr>
                                                                    <th style="text-align: center">#</th>
                                                                    <th style="text-align: left">Lot </th>
                                                                    <th style="text-align: left">Item </th>
                                                                    <th style="text-align: center">Quantity</th>
                                                                    <th style="text-align: left">UOM</th>
                                                                    <th style="text-align: right">Unit Price</th>
                                                                    <th style="text-align:right">VAT</th>
                                                                    <th style="text-align: right">Total Amount</th>
                                                                </tr>
                                                                <tbody>

                                                                    @foreach (var item in Model.ItemsList)
                                                                    {
                                                                        i++;
                                                                        <tr>
                                                                            <td style="text-align: center">@i</td>
                                                                            <td>@item.Lot - @item.LotDescription</td>
                                                                            <td>@item.ItemDesc</td>
                                                                            <td style="text-align: center">@item.Quantity</td>
                                                                            <td>@item.UOM</td>
                                                                            <td style="text-align: right">@Convert.ToDecimal(item.UnitPrice).ToString("#,##0/=") </td>
                                                                            <td style="text-align: right">@Convert.ToDecimal(item.VAT).ToString("#,##0/=")</td>
                                                                            <td style="text-align: right">@item.TotalAmount.ToString("#,##0/=")</td>
                                                                        </tr>

                                                                    }


                                                                </tbody>
                                                                <tr><td colspan="7" style="text-align: right"><strong>Total</strong></td><td style="text-align: right"><strong>@Model.ItemsList.Select(a => a.TotalAmount).DefaultIfEmpty(0).Sum().ToString("#,##0/=")</strong></td></tr>
                                                            </table>

                                                        }



                                                    </div>



                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="hr3">
                                                <div class="widget-body no-padding">

                                                    <br />



                                                    <div class="custom-scroll" style="height:200px; overflow-y: scroll;">

                                                        @if (Model.ContractCoas.Count() > 0)
                                                        {
                                                            <table align="center" class="table table-bordered table-hover table-condensed" style="width:97%">

                                                                <tr>
                                                                    <th style="text-align: center">#</th>
                                                                    <th>Expenditure Line Item</th>
                                                                    <th style="text-align: left">Funding Reference</th>
                                                                    <th style="text-align: right">Amount</th>
                                                                </tr>
                                                                <tbody>
                                                                    @foreach (var item in Model.ContractCoas)
                                                                    {
                                                                        j++;
                                                                        <tr><td align="center">@j</td><td>@item.GlAccount</td><td>@item.FundingReference</td><td align="right">@item.OperationalAmount</td></tr>
                                                                    }
                                                                    <tr><td colspan="3" style="text-align: right"><strong>Total</strong></td><td style="text-align: right"><strong>@Convert.ToDecimal(Model.ContractCoas.Select(a => a.OperationalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></td></tr>
                                                                </tbody>
                                                            </table>
                                                        }

                                                    </div>



                                                </div>

                                            </div>
                                        </div>

                                        <!-- end widget body text-->
                                        <!-- widget footer -->
                                        <div class="widget-footer text-right">

                                            <span class="onoffswitch-title">

                                            </span>


                                        </div>
                                        <!-- end widget footer -->

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>
                        

                            <div class="col-md-offset-1">
                                <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>                               
                            </div>
                            <br />
                            <br />
                            <br />







                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
   
}












