
@{
    ViewBag.Title = "Edit Payment Office";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td class="form-label">
                                                Payment Office Code:
                                                <i class="fa fa-times" style="color:white" id="paymentOfficeCode1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="paymentOfficeCode" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Contact Name One:
                                                <i class="fa fa-times" style="color:white" id="contactNamea1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="contactName1" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Contact Name Two:
                                                <i class="fa fa-times" style="color:white" id="contactNamea2"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="contactName2" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                Contact Name Three:
                                                <i class="fa fa-times" style="color:white" id="contactNamea3"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="contactName3" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Notification Amount:
                                                <i class="fa fa-times" style="color:white" id="notificationAmount1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="notificationAmount" style="width:253px" required />
                                                </div>
                                            </td>
                                        </tr>


                                    </table>
                                </div>

                                <div class="col-lg-6 col-sm-12 ">
                                    <table>

                                        <tr>
                                            <td class="form-label">
                                                Payment Office Description
                                                <i class="fa fa-times" style="color:white" id="PaymentOfficeDescription1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="PaymentOfficeDescription" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Contact Number One:
                                                <i class="fa fa-times" style="color:white" id="contactNumbera1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="ContactNumber1" placeholder="Eg. 0755200500" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Contact Number Two:
                                                <i class="fa fa-times" style="color:white" id="contactNumbera2"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="ContactNumber2" placeholder="Eg. 0755200500" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Contact Number Three:
                                                <i class="fa fa-times" style="color:white" id="contactNumbera3"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" id="ContactNumber3" placeholder="Eg. 0755200500" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                BOT Region:
                                                <i class="fa fa-times" style="color:white" id="botRegion1"></i>
                                            </td>
                                            <td>
                                                <select id="BotRegionCode" style="width:300px">
                                                    <option value="Please choose region" selected="selected"></option>
                                                    @foreach (var region in ViewBag.RegionList)
                                                    {
                                                        <option value='@region.BotRegionCode'>@region.BotRegionName</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>



                            <div class="form-actions">
                                <div class="row">

                                    <div class="col-md-4">
                                        <a class="btn btn-info" href='@Url.Action("PaymentOfficeList", "PaymentOfficeSetups")' style="margin-right:5px">
                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                        </a>
                                        <button type="submit" class="btn btn-info" id="form_submit">
                                            <i class="fa fa-save"></i>Save
                                          
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>
        preLoadData();
        // =========== save ==================
    
        $("#form_submit").click(function () {
            debugger
            var paymentOfficeCode = $("#paymentOfficeCode").val();
            var paymentOfficeDescription = $("#PaymentOfficeDescription").val();
            var contactName1 = $("#contactName1").val();
            var contactNumber1 = $("#ContactNumber1").val();
            var notificationAmount = $("#notificationAmount").val();
            var botRegion = $("#BotRegionCode").val();


            if (paymentOfficeCode == ''|| paymentOfficeDescription=='' || contactName1 == ''|| contactNumber1 == '' || botRegion == '' || notificationAmount == '') {
                swal("Please Fill All the required Fields");
                return false;
            }

            var form_data = {

                "PaymentOfficeCode": $("#paymentOfficeCode").val(),
                "PaymentOfficeDescription": $("#PaymentOfficeDescription").val(),
                "ContactName1": $("#contactName1").val(),
                "ContactNumber1": $("#ContactNumber1").val(),
                "ContactName2": $("#contactName2").val(),
                "ContactNumber2": $("#ContactNumber2").val(),
                "ContactName3": $("#contactName3").val(),
                "ContactNumber3": $("#ContactNumber3").val(),
                "BotRegionCode": $('#BotRegionCode').val(),
                "NotificationAmount": $('#notificationAmount').val()

            }
            console.log(form_data);

                var url = '@Url.Action("EditPaymentOffice", "PaymentOfficeSetups")';
                var urlList = '@Url.Action("PaymentOfficeList", "PaymentOfficeSetups")';
                $("#form_submit").prop('disabled', true);
                $("#saveLoader").toggle(true);

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { paymentOfficeVM: form_data,Id:@ViewBag.paymentOfficeid },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submit").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submit").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });

        });


        function preLoadData() {

            $("#paymentOfficeCode").val('@ViewBag.paymentOffice.PaymentOfficeCode');
            $("#PaymentOfficeDescription").val('@ViewBag.paymentOffice.PaymentOfficeDescription');
            $("#contactName1").val('@ViewBag.paymentOffice.ContactName1');
            $("#ContactNumber1").val('@ViewBag.paymentOffice.ContactNumber1');
            $("#contactName2").val('@ViewBag.paymentOffice.ContactName2');
            $("#ContactNumber2").val('@ViewBag.paymentOffice.ContactNumber2');
            $("#contactName3").val('@ViewBag.paymentOffice.ContactName3');
            $("#ContactNumber3").val('@ViewBag.paymentOffice.ContactNumber3');
            $('#BotRegionCode').val('@ViewBag.paymentOffice.BotRegionCode');
            $('#notificationAmount').val('@ViewBag.paymentOffice.NotificationAmount');

        }
    </script>
}



