
@{
    ViewBag.Title = "Payment Office Submission Status";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 5px;
        padding-left: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .searchIcon {
        margin-top: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    table td:nth-child(7) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .row-align {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body" style="padding-top:10px">
                            <div class="row-align">
                                <div>
                                    <button class="btn btn-info" id="ChangeStatusBtn" onclick="ChangeOfficeStatus(this)">
                                        <i class="fa fa-file-text-o"></i> <span id="ChangeStatusText">Activate</span>
                                    </button>
                                </div>
                                <div>
                                    <strong>Office Status: </strong>
                                    <select id="PaymentOfficeStatus" style="background-color:#ECF3F8" class="filters">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                                <div>
                                    <div class="search-container">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_paymentOffice" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Payment Office Code</th>
                                        <th>Payment Office Description</th>
                                        <th>Contact Name</th>
                                        <th>Contact Number</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>

        var dt_paymentOffice = $('#dt_paymentOffice').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_paymentOffice_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_paymentOffice.DataTable().search(this.value).draw();
        });


        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("getPaymentOfficeList", "PaymentOfficeSubmissionStatus")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                $("#PaymentOfficeStatus").trigger('change');
            },
            failure: function (error) {
                swal(error);
            }
        });

        $(".filters").change(function () {
            if ($("#PaymentOfficeStatus").val() == "Active") {
                $("#ChangeStatusText").text("Deactivate");
            }
            else {
                $("#ChangeStatusText").text("Activate");
            }
            filterTableData();
            checkedRows = [];
        })

        function filterTableData() {
            let _data = data.filter((row) => row.Status == $("#PaymentOfficeStatus").val());
            displayData(_data)
        }

        function displayData(_data) {
            dt_paymentOffice.fnClearTable();
            for (var i = 0; i < _data.length; i++) {
                var PaymentOfficeSubmissionStatusId = _data[i].PaymentOfficeSubmissionStatusId
                    dt_paymentOffice.fnAddData([i + 1,
                    _data[i]["PaymentOfficeCode"],
                    _data[i]["PaymentOfficeDescription"],
                    _data[i]["ContactName1"],
                    _data[i]["ContactNumber1"],
                    _data[i]["Status"],
                        '<input  type="checkbox" id="row-' + PaymentOfficeSubmissionStatusId + '" onchange="rowChecked(' + PaymentOfficeSubmissionStatusId + ')"/>'
                    ]);
            }
        }

        var checkedRows = [];
        function rowChecked(PaymentOfficeSubmissionStatusId) {
            if ($("#row-" + PaymentOfficeSubmissionStatusId).is(":checked")) {
                checkedRows.push(PaymentOfficeSubmissionStatusId);
            } else {
                remove(checkedRows, PaymentOfficeSubmissionStatusId);
            }
        }

        function ChangeOfficeStatus() {
            var url = '@Url.Action("ChangeOfficeStatus", "PaymentOfficeSubmissionStatus")';
            $.ajax({
                type: "post",
                url: url,
                data: { "paymentOfficeSubmissionStatusIds": checkedRows, "paymentOfficeStatus": $("#PaymentOfficeStatus").val() },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == 'Success') {
                        swal("Office status changed successfully!", { icon: "success" })
                        .then((e) => {
                            window.location.reload();
                        });
                    } else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function DeActivateOffice(i) {
            if (data[i]["Status"] == "Inactive")
                swal("Cancelled", "Payment Office is already inactive");
            if (i == 'x');
            swal({
                title: "Are you sure?",
                text: "You are about to Deactivate this payment office",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    DeactivationConfirmed(data[i]["PaymentOfficeId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }

        function ActivateOffice(i) {
            if (data[i]["Status"] == "Inactive")
                swal("Cancelled", "Payment Office is already Active");
            if (i == 'x');
            swal({
                title: "Are you sure?",
                text: "You are about to Activate this payment office",
                buttons: [
                    'No',
                    'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    ActivationConfirmed(data[i]["PaymentOfficeId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }

        function DeactivationConfirmed(Id) {
            debugger
            var url = '@Url.Action("DeactivatePaymentOffice", "PaymentOfficeSubmissionStatus")';
            $.ajax({
                type: "post",
                url: url,
                data: { "PaymentOfficeId": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Deactivated Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function ActivationConfirmed(Id) {
            debugger
            var url = '@Url.Action("ActivatePaymentOffice", "PaymentOfficeSubmissionStatus")';
            $.ajax({
                type: "post",
                url: url,
                data: { "PaymentOfficeId": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Cancelled Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

    </script>
}


