@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.Currency>
<style>
  .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
    }

</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Currencies</h2>

                    </header>
                    <div>
                        <div class="row" style="width:100%">

                            <div style="margin-bottom: 2%">
                                <a class="btn btn-info" href='@Url.Action("Create", "Currencies")' style="width:100px;border-radius:1px;color:black">
                                    <i class="fa fa-plus"></i>Add New
                                </a>
                            </div>
                            <div class="row" style="width:100%">
                                <div class="col-md-3">
                                    <div class="search-container">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                                <div style="margin-left: 90%" id="dt_coasegment_wrapper" class="dataTables_wrapper">

                                    <select name="pageLenth" id="pageLenth" aria-controls="dt_coasegment" class="form-control">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>

                            </div>
                          

                        </div>
                
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">


                                        <table id="dt_currency" class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Country</th>
                                                    <th>Currency Code</th>
                                                    <th>Currency Name</th>
                                                    <th>Currency Digital Code:</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{ int i = 0;}
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    i++;
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CountryName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CurrencyCode)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CurrencyName)</td>
                                                        <td align="right" width="150px">@Html.DisplayFor(modelItem => item.CurrencyDigitalCode)</td>
                                                        @*<td>@Html.DisplayFor(modelItem => item.Country.CountryName)</td>*@

                                                        <td style="text-align:center">
                                                        <div class="btn-group">
                                                               <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                      <li>
                                                                        <a href="@Url.Action("Edit", "Currencies",new {id=item.CurrencyId })" class="btn-xs edit">
                                                                            <i class="fa fa-edit"></i>  Edit
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="@Url.Action("Details", "Currencies", new {id=item.CurrencyId })" class="btn-xs edit">
                                                                            <i class="fa fa-edit"></i>  Details
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                       <a href="#" Onclick="Cancel(@item.CurrencyId)" class="btn-xs edit">
                                                                                <i class="fa fa-trash-o"></i>  Cancel
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>

            </article>
        </div>
    </section>
    </div>
    @section pagespecific {
        <script type="text/javascript">
            var dt_currency = $('#dt_currency').dataTable();

            $("#dt_currency_wrapper .dt-toolbar").remove();

            $("#searchbox").on("keyup search input paste cut", function () {
                dt_currency.DataTable().search(this.value).draw();
            });


            function Cancel(i) {
                status = "Cancelled";
                swal({
                    title: "Are you sure?",
                    text: "Currency  will be Cancelled!",
                    buttons: [
                      'No',
                      'Yes'
                    ],
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        ChangeItemStatus(i, status);

                    } else {
                        swal("Cancelled", "No change was made");
                    }
                });
            }

            function ChangeItemStatus(i, status) {
                var url = '@Url.Action("ChangeAccountStatus", "Currencies")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: {
                        Status: status,
                        CurrencyId: i
                    },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Changed Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.reload();
                                });
                        }
                        else {
                            swal(response);
                        }

                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            }




        </script>
    }
