@model IFMIS.Areas.IFMISTZ.Models.OwnSource

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OwnSource</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JournalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OwnSourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
