@model IFMIS.Areas.Consolidation.Models.ConsoAdjustementReason
@{
    ViewBag.Title = "Create Adjustment Category";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .custom-table-border td, th {
        border: 1px solid #ccc;
        text-align: left;
        padding: 5px;
    }

    .custom-table-border th {
        text-align: center;
    }

    .custom-table {
        border-collapse: collapse;
        border-spacing: 5px;
        border: 1px solid #ddd;
        width: 100%;
    }

        .custom-table td:nth-child(2) {
            text-align: right;
            width: 150px;
        }

        .custom-table td:nth-child(3) {
            text-align: right;
            width: 150px;
        }

    .center {
        margin-left: 25%;
    }

    .center2 {
        margin-left: 22%;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Adjustment Category</h2>
                    </header>
                    <div class="widget-body">
                        <table class="center">
                            <tr>
                                <td class="form-label">Category</td>
                                <td>
                                    @Html.EditorFor(model => model.AdjustmentReason, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">Debit GfsCode StartItem</td>
                                <td>
                                    @Html.EditorFor(model => model.DrGfsCodeStartItem, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">Debit GfsCode EndItem</td>
                                <td>
                                    @Html.EditorFor(model => model.DrGfsCodeEndItem, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">Credit GfsCode StartItem</td>
                                <td>
                                    @Html.EditorFor(model => model.CrGfsCodeStartItem, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">Credit GfsCode EndItem</td>
                                <td>
                                    @Html.EditorFor(model => model.CrGfsCodeEndItem, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">IsGoT</td>
                                <td>
                                    @Html.DropDownList("IsGoT", null, htmlAttributes: new { @class = "form-control select2" })
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="row" style="padding-bottom:20px;text-align:center">
                        @*<div class="col-md-2"></div>*@
                        <div>

                            <a class="btn btn-info" href='@Url.Action("AdjustmentReason", "AdjustmentReasonSetup")' style="margin-right:5px">
                                <i class="fa fa-arrow-left"></i>Back
                            </a>
                            <button type="submit" class="btn btn-info" id="form_submision"
                                    onclick="savereason()">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>
        $(document).ready(function () {
            //getJournalType();
            $("#saveLoader").toggle(false);
            $("#table_crdr2Container").toggle(false)
        });

        function savereason() {
            debugger
            if (!$("#IsGoT").val() || !$("#AdjustmentReason").val() || !$("#CrGfsCodeEndItem").val() || !$("#CrGfsCodeStartItem").val() || !$("#DrGfsCodeEndItem").val() || !$("#DrGfsCodeStartItem").val()) {
                 swal("Please fill all field!");
            } else {
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);

                var url = '@Url.Action("SaveCreateAdjustmentReason", "AdjustmentReasonSetup")';

                form_data = {
                    AdjustmentReason: $("#AdjustmentReason").val(),
                    CrGfsCodeEndItem: $("#CrGfsCodeEndItem").val(),
                    CrGfsCodeStartItem: $("#CrGfsCodeStartItem").val(),
                    DrGfsCodeEndItem: $("#DrGfsCodeEndItem").val(),
                    DrGfsCodeStartItem: $("#DrGfsCodeStartItem").val(),
                    IsGoT: $("#IsGoT").val(),
                    Status:"Active"
                }

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = '@Url.Action("AdjustmentReason", "AdjustmentReasonSetup")'
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submision").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });

            }

        }

    </script>
}




