@model IEnumerable<IFMIS.Areas.BillMod.Models.AdvanceBill>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillGeneratedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillGeneratedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GFSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillPayOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillGeneratedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillGeneratedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GFSCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillPayOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ControlNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.AdvanceBillId }) |
                @Html.ActionLink("Details", "Details", new { id=item.AdvanceBillId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AdvanceBillId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
