@model IFMIS.Areas.IFMISTZ.Models.DummyPayment

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ReferenceNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReferenceNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LegalNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LegalNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OperationalAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OperationalAmount, "_DecimalThousands")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OperationalCurrency)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OperationalCurrency)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ApplyDate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApplyDate, "_ShortDateTime")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceivingBankName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceivingBankName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceivingBankAccountNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceivingBankAccountNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.ReceivingBankAccountName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ReceivingBankAccountName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DrGlAccount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DrGlAccount)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DrGlAccountDesc)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DrGlAccountDesc)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Remarks)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Remarks)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SubBudgetClassCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SubBudgetClassCode)
    </dd>
</dl>

<hr />

<table class="table table-condensed table-stripped table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>GL Account</th>
            <th>Funding Ref No</th>
            <th>Expensed Amount</th>
        </tr>
    </thead>

    @{
        int i = 0;
    }
    <tbody>
        @foreach (var item in Model.DummyPaymentDetails)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@item.GlAccountGlAccountDesc</td>
                <td>@item.FundingRefNo</td>
                <td style="text-align: right">@string.Format("{0:N2}", @item.ExpensedAmount)</td>
            </tr>
        }
        <tr>
            <td colspan="3" style="text-align: center"><b>Total</b></td>
            <td style="text-align: right">@string.Format("{0:N2}", @Model.DummyPaymentDetails.Sum(a => a.ExpensedAmount))</td>
        </tr>
    </tbody>
</table>
