@model IFMIS.Areas.IFMISTZ.Models.PrePaymentVM
@{
    ViewBag.Title = "Edit Prepayment";
}
<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    
    <div class="row">
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                   
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Prepayment Received </h2>

                    </header>
                    @Html.HiddenFor(model => model.PrePaymentId)
                    @Html.HiddenFor(model => model.ReceivingSummaryId)
                    @{ decimal balance = (Decimal)Model.PrePaymentAmount - (Decimal)Model.ReceivingItemsValue;}
                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                        <table class="table  table-hover table-condensed" border="0">

                            <tbody>
                                <tr>
                                    <td style="width:18%">
                                        Prepayment Number
                                    </td>
                                    <td>
                                        <strong>
                                            <a href="@Url.Action("PrePaymentModuleRpTv", "Report", new { id = Model.PrePaymentNo, area = "IFMISTZ" })" target="_blank">@Html.DisplayFor(model => model.PrePaymentNo)</a>
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Receiving Number
                                    </td>
                                    <td>
                                        <strong>
                                            @Model.ReceivingNumber
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Supplier
                                    </td>
                                    <td>
                                        <strong>
                                            @Model.SupplierName
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Prepayment Amount
                                    </td>
                                    <td>
                                        <strong>
                                            @Model.Currency  @Convert.ToDecimal(Model.PrePaymentAmount).ToString("#,##0/=")
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Received Item(s) Value
                                    </td>
                                    <td>
                                        <strong>
                                            @Model.Currency @Convert.ToDecimal(Model.ReceivingItemsValue).ToString("#,##0/=")
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Balance
                                    </td>
                                    <td>
                                        <strong>
                                            @Model.Currency @balance.ToString("#,##0/=")
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Apply Date
                                    </td>
                                    <td>
                                        <strong>
                                            @Convert.ToDateTime(Model.ApplyDate).ToString("dd/MM/yyyy")
                                        </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:18%">
                                        Description
                                    </td>
                                    <td>
                                        <strong>
                                            @Model.PrePaymentDesc
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @if (ViewBag.ReceivingSummary != null)
                        {
                            <table class="table  table-hover table-condensed" border="0">
                                <tr>
                                    <th>#</th>
                                    <th>Total Amount</th>
                                    <th>Received Amount</th>
                                    <th>Remaining Amount</th>
                                    <th>Overallstatus</th>
                                    <th>Date</th>
                                </tr>
                                <tbody>
                                    @{var i = 0;}
                                    @foreach (var item in ViewBag.ReceivingSummary)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.PrePaymentAmount</td>
                                            <td>@item.ReceivedAmount</td>
                                            <td>@item.RemainingAmount</td>
                                            <td>@item.OverallStatus</td>
                                            <td>@item.CreatedAt</td>
                                        </tr>
                                    }
                                   
                                </tbody>
                                </table>
                                }

                       
                           <span>Attachments</span>
                            <table class="table  table-hover table-condensed" style="border:0px;">
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Attachment</th>
                                </tr>
                                @if (ViewBag.IssueAttachment != null)
                                {
                                    foreach (var attach in ViewBag.IssueAttachment)
                                    {
                                        <tr>
                                            <td>@attach.Title</td>
                                            <td>@attach.Description</td>
                                            <td> <a href="@Url.Action("LoanAttachmentView", "PrePayment", new { Filename = attach.FileName, PathName = "uploads" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                        </tr>
                                    }
                                }

                               @if (ViewBag.Attachment != null)
                               {
                                foreach (var attach in ViewBag.Attachment)
                                {
                                    <tr>
                                        <td>@attach.Title</td>
                                        <td>@attach.Description</td>
                                        <td> <a href="@Url.Action("LoanAttachmentView", "PrePayment", new { Filename = attach.FileName, PathName = "uploads" })" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                    </tr>
                                }
                                }

                            </table>

                            @if (Model.prePaymentReceiveDocuments != null)
                            {
                                <table class="table  table-hover table-condensed" border="0">
                                    <tr>
                                        <th>#</th>
                                        <th>Document Name</th>
                                        <th>Reference Number</th>
                                        <th>Received Date</th>
                                        <th>Attachment</th>
                                    </tr>
                                    <tbody>
                                        @{
                                            var n = 1;
                                        }
                                        @foreach (var attachment in Model.prePaymentReceiveDocuments)
                                        {
                                            <tr>
                                                <td>@n</td>
                                                <td>@attachment.DocumentName</td>
                                                <td>@attachment.ReferenceNumber</td>
                                                <th>@Convert.ToDateTime(attachment.ReceivingDate).ToString("dd/MM/yyyy")</th>
                                                <td><a href="~/Media/PrePayment/Receiving/@attachment.FileName" target="_blank">Download</a></td>
                                            </tr>

                                            n++;
                                        }
                                    </tbody>
                                </table>
                                }

                                <header>
                                    <h2><strong></strong> <i></i></h2>

                                    <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                        <li class="active">

                                            <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet">Received Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountItems)</span></span> </a>

                                        </li>

                                        <li>
                                            <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> GL Accounts List <span class="badge inbox-badge margin-right-13 gl_count" style="background-color:#2196F3">@Html.DisplayFor(model => model.CountGLAccounts)</span></span></a>
                                        </li>

                                    </ul>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <!-- widget body text-->

                                        <div class="tab-content padding-10">
                                            <div class="tab-pane fade in active" id="hr1">
                                                <div class="widget-body no-padding">

                                                    <br />
                                                    @*<div class="row" id="item_search">

                                                            <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                                    <input class="form-control" id="prepend" placeholder="Search" type="text">
                                                                </div>
                                                            </div>


                                                        </div>*@



                                                    <div class="custom-scroll" style="height:290px; overflow-y: scroll;">


                                                        <table class="table table-bordered table-hover table-condensed" id="items">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:right;width:5%">#</th>
                                                                    <th style="text-align:left;width:25%">Class</th>
                                                                    <th style="text-align:left">Item</th>
                                                                    <th style="text-align:left">UOM</th>

                                                                    <th style="text-align:right;width:8%">Quantity</th>

                                                                    <th style="text-align:right;width:15%">Total Amount</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody></tbody>
                                                        </table>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="hr2">
                                                <div class="widget-body no-padding">

                                                    <br />
                                                    <div class="row" id="gl_search">

                                                        <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                                <input class="form-control" id="prepend" placeholder="Search" type="text">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="custom-scroll" style="height:290px; overflow-y: scroll;">

                                                        <table class="table table-bordered table-hover table-condensed" id="gl_Accounts">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:left;width:5%">#</th>

                                                                    <th style="text-align:left">Expenditure Line Item</th>

                                                                    <th style="text-align:left;width:15%">Funding Reference</th>

                                                                    <th style="text-align:right;width:12%">Amount</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody></tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- end widget body text-->
                                        <!-- widget footer -->
                                        <div class="widget-footer text-right">
                                            <span class="onoffswitch-title">
                                            </span>

                                        </div>
                                        <!-- end widget footer -->

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->
                                <div class="col-md-offset-2">
                                    <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
            $(document).ready(function () {

                $("#item_search").hide();
                $("#gl_search").hide();
                var id = $("#PrePaymentId").val();
                var rid = $("#ReceivingSummaryId").val();
                if (rid) {
                    var url = '@Url.Action("ReceivedItemsList", "PrePayment")';
                    $.ajax(
        {
            type: "POST",
            data: { id: rid },
            url: url,
            success: function (data) {
                $('#items').empty();
                var number = data.length;
                if (number > 0) {
                    $("#item_search").show();

                    $('<tr><th style="text-align: center">#</th><th style="text-align: left">Item </th><th style="text-align: center">Quantity</th><th style="text-align: right">Unit Price</th><th style="text-align: right">Total Amount</th></tr>').appendTo('#items');
                }
                var j = 0;
                var sum = 0;

                $.each(data, function (i, d) {
                    sum = sum + parseFloat(d.TotalAmount);

                    j++;
                    $('<tr><td align="center">' + j + '</th><td>' + d.ItemDescription + '</td><td align="center">' + d.Quantity + '</td><td align="right">' + d.UnitPrice.toLocaleString('en') + '</td><td align="right">' + d.TotalAmount.toLocaleString('en') + '</td></tr>').appendTo('#items');

                });
                if (number > 0) {

                    $('<tr><td align="right" colspan="4">Grand Total</td><td align="right">' + sum.toLocaleString('en') + '</td></tr>').appendTo('#items');
                }
            },
            error: function (xhr) {
                //console.log(xhr.responseText);
                alert("An error has occured, contact system support");
                $("#divLoader").hide();
            },

        });
                }

                var url = '@Url.Action("GetPrePaymentCoa", "PrePayment")';
                $.ajax({
                    type: "post",
                    url: url,
                    data: { id: id },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#gl_Accounts').empty();

                        var number = data.length;
                        if (number > 0) {

                            $("#gl_search").show();
                            $('<tr><th style="text-align: center">#</th><th>Expenditure Line Item</th><th style="text-align: left">Funding Reference</th><th style="text-align: right">Amount</th></tr>').appendTo('#gl_Accounts');

                        }

                        var p = 0;
                        var sum = 0;

                        $.each(data, function (i, d) {
                            sum = sum + parseFloat(d.OperationalAmount);
                            p++;

                            $('<tr><td align="center">' + p + '</th><td>' + d.GlAccount.split("|").join("-") + '</td><td>' + d.FundingReference + '</td><td align="right">' + d.OperationalAmount.toLocaleString('en') + '</td></tr>').appendTo('#gl_Accounts');

                        });
                        if (number > 0) {
                            $('<tr><td align="right" colspan="3">Total</td><td align="right">' + sum.toLocaleString('en') + '</td></tr>').appendTo('#gl_Accounts');
                        }
                    },
                    failure: function (errmsg) {
                        alert(errmsg);
                    }
                });
                var $rows = $('#lpo tr');
                $('#search').keyup(function () {
                    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                    $rows.show().filter(function () {
                        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text.indexOf(val);
                    }).hide();
                });


                        });

    </script>
}


