@model IFMIS.Areas.IFMISTZ.Models.SubCosting

@{
    ViewBag.Title = "Details";
}


<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">SubCosting Details</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">
                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">
                                        <div>
                                            <dl class="dl-horizontal" style="padding-left:25%">
                                                <dt>
                                                    <label for="Costing.CostCode">Cost Code:</label>
                                                 
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Costing.CostCode)
                                                </dd>

                                                <dt>
                                                    <label for="SubCostCode">SubCost Code:</label>
                                                   
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.SubCostCode)
                                                </dd>

                                                <dt>
                                                    <label for="SubCostName">SubCost Name:</label>
                                                  
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.SubCostName)
                                                </dd>

                                                <dt>
                                                    <label for="SubCostDesc">SubCost Description:</label>
                                               
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.SubCostDesc)
                                                </dd>

                                                <dt>
                                                    <label for="UnitCost">Unit Cost:</label>
                                               
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.UnitCost)
                                                </dd>

                                            </dl>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href='@Url.Action("SubCosting", "SubCostings")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>