@model IFMIS.Areas.IFMISTZ.Models.ContractVM
@{

}

<fieldset class="scheduler-border">
    <legend class="scheduler-border"> Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Legal Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.LegalNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Desription&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PaymentDescription)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PaymentAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Balance&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainingAmount)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Account Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeAccountName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Account Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeBankAccount)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Bank Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeBankName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>
    @if (Model.ParentInstitutionCode != null)
    {
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Parent Institution&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ParentInstitutionCode) - @Html.DisplayFor(model => model.ParentInstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>SubWarant&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SubWarrantCode) - @Html.DisplayFor(model => model.SubWarrantDescription)</div></div>
    }
    <div class="row">
        @if (Model.RejectionReason != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>
        }
        @if (Model.RejectionSolution != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
        }
    </div>
</fieldset>
@if (Model.PVNo != null)
{
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Voucher Details</legend>
        <div class="row">
            @if (Model.PVNo != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Voucher Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PVNo)
                </div>
            }
            @if (Model.VoucherStatus != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Voucher Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.VoucherStatus)
                </div>
            }
        </div>

    </fieldset>
}



<div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

    <header>
        <h2><strong></strong> <i></i></h2>

        <ul id="widget-tab-1" class="nav nav-tabs pull-right">
            <li class="active">

                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> GL Account(s)<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ReceivingCoas.Count()</span></span> </a>

            </li>
        </ul>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <!-- widget body text-->

            <div class="tab-content padding-10">

                <div class="tab-pane fade in active" id="hr1">
                    <div class="widget-body no-padding">

                        <br />




                        <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                            @if (Model.ReceivingCoas.Count() > 0)
                            {
                                <table class="table table-bordered table-hover table-condensed" id="items_charge" style="width:100%">
                                    <thead>
                                        <tr style="width:5%">
                                            <th>#</th>
                                            <th style="text-align:left">GL Account</th>
                                            <th style="text-align:left">GL Account Desc</th>
                                            <th style="text-align:left">Funding Reference</th>
                                            <th style="text-align:right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.ReceivingCoas.Count(); i++)
                                        {
                                            var j = i + 1;
                                            <tr>
                                                <td style="text-align:center">@j</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].GLAccount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].GLAccountDesc)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].FundingReference)
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].ExpenseAmount)
                                                </td>

                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="4" style="text-align:right"><strong>Total</strong></td>
                                            <td style="text-align:right"><strong>@Convert.ToDecimal(Model.ReceivingCoas.Select(a => a.ExpenseAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                        </tr>

                                    </tbody>
                                </table>
                            }

                        </div>



                    </div>

                </div>

            </div>

            <!-- end widget body text-->
            <!-- widget footer -->
            <!-- end widget footer -->

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>










