@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.SummaryDeductionsVoteVM>
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 250px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }
</style>
<div id="exTab2" class="container" style="margin-left:0px;margin-top:5px;width:auto">
    <div class="tab-content">
        <header>
            <h2>@ViewBag.Title</h2>
        </header>
        <table id="dt_NetSalaryDetails_list" class="table table-striped table-bordered table-hover table-condensed table-condensed" width="100%">
            @{

             Decimal SubNET = 0;
            }

            <thead>
                <tr>
                    <th>#</th>
                    <th>Vote Code</th>
                    <th>Vote Name</th>
                    <th>No of Employees</th>
                    <th style="text-align:right"> Amount</th>

                </tr>
            </thead>
            @{
                       int i = 0;
            }
            <tbody>

                @foreach (var item in Model)
                 {
                     i++;
                 SubNET += Decimal.Parse(item.TotalAmount.ToString());

                <tr>
                    <td>@i</td>
                    <td>@item.VoteCode</td>
                    <td>@item.VoteDesc</td>
                    <td>@item.NoofEmployees</td>
                    <td style="text-align:right">@Convert.ToDecimal(item.TotalAmount).ToString("#,##0")</td>
                </tr>
                  }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" style="text-align:right">TOTAL</th>
                    <th style="text-align:right">@String.Format("{0:#,0.00}", SubNET)</th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>

@section pagespecific {
    <script type="text/javascript">

        var dt_NetSalaryDetails_list = $('#dt_NetSalaryDetails_list').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            },
            //"Dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
            //    "t" +
            //    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
        });

    </script>
}
