@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.UnpaidEmployeeDetailVM>

<style type="text/css">
        *
    {
        box-sizing: border-box;
    }
    body
    {
        font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }
    table
    {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }
    td, th
    {
        border: 1px solid;
        padding: 8px;
    }
    .alinearDerecha
    {
        text-align: right;
    }
    .negrita
    {
        font-weight: bold;
    }

    thead { display: table-row-group; }

    tr {page-break-inside: avoid; }

</style>



<div class="panel panel-default">

    <div class="panel-heading font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;" style="text-align: center; padding-top:1px; padding-bottom:1px;margin-top:auto">
        <div class="" style="text-align: center ">
            <img src="@Server.MapPath("~/Media/Images/log.png")" />
        </div>

        <div class="panel-title">MINISTRY OF FINANCE</div>
        <div class="panel-title">STOP PAY SALARIES SUMMARY</div>
        @*<div class="panel-title">@ViewBag.Currentmonth</div>*@
    </div>

    <br />

    <table id="example" class="display" cellspacing="0" width="100%">
        <colgroup>
            <col class="FirstColumn">
        </colgroup>
        <thead>
            <tr style="background-color:#F5F5F5">
                <td style="display:none">&nbsp;</td>
                <td style="display:none">&nbsp;</td>
                <td style="display:none">&nbsp;</td>
                <td colspan="3" style="text-align:center;"></td>
                <td colspan="2" style="text-align:center;">Net Pay Amount</td>
                <td colspan="2" style="text-align:center;">Net Adjustment</td>
                <td colspan="2" style="text-align:center;">Deduction Amount</td>
                <td colspan="1" style="text-align:center;">Total Amount</td>
                <th style="display:none">&nbsp;</th>
            </tr>
            <tr style="background-color:#F5F5F5">
                <td>#</td>
                <td>Vote</td>
                <td>Vote Name</td>
                <td style="text-align:center">No.Employees</td>
                <td style="text-align:center">Amount</td>
                <td style="text-align:center">No.Employees</td>
                <td style="text-align:center">Amount</td>
                <td style="text-align:center">No.Transactions</td>
                <td style="text-align:center">Amount</td>
                <td style="text-align:center">Total Amount</td>

            </tr>
        </thead>

        <tbody>

            @{
                int i = 0;
                int NET_E = 0, ADJ_E = 0, DED_E = 0;
                decimal NET_A = 0, ADJ_A = 0, DED_A = 0, TOTAL = 0, GTOTAL = 0;
            }
            @foreach (var item in Model)
            {
                i++;
                TOTAL = 0;
                NET_E += int.Parse(item.NetAmount.ToString());
                ADJ_E += int.Parse(item.AtEmployer.ToString());
                DED_E += int.Parse(item.AtSource.ToString());
                NET_A += decimal.Parse(item.NetAmount.ToString());
                ADJ_A += decimal.Parse(item.AtEmployer.ToString());
                DED_A += decimal.Parse(item.AtSource.ToString());

                TOTAL += decimal.Parse(item.NetAmount.ToString()) +
                         decimal.Parse(item.AtEmployer.ToString())
                         + decimal.Parse(item.AtSource.ToString());
                <tr>
                    <td>@i</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoteCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoteName)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.NetAmount)
                    </td>
                    <td style="text-align:right">

                        @String.Format("{0:#,0.00}", item.AtSource)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.AtEmployer)
                    </td>
                    <td style="text-align:right">

                        @String.Format("{0:#,0.00}", item.NetAmount)
                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.AtSource)
                    </td>
                    <td style="text-align:right">

                        @String.Format("{0:#,0.00}", item.AtEmployer)
                    </td>
                    <td style="text-align:right">
                        @String.Format("{0:#,0.00}", TOTAL)
                    </td>
                </tr>
            }

            @{
                GTOTAL = NET_A + ADJ_A + DED_A;
            }
            <tr style="background-color:#ddd6d6">
                <td></td>
                <td></td>
                <td>Grand Total</td>
                <td style="text-align:right;">  @String.Format("{0:N0}", NET_E) </td>
                <td style="text-align:right;">  @String.Format("{0:#,0.00}", NET_A) </td>
                <td style="text-align:right;">  @String.Format("{0:N0}", ADJ_E) </td>
                <td style="text-align:right;">  @String.Format("{0:#,0.00}", ADJ_A) </td>
                <td style="text-align:right;">  @String.Format("{0:N0}", DED_E) </td>
                <td style="text-align:right;">  @String.Format("{0:#,0.00}", DED_A) </td>
                <td style="text-align:right;">  @String.Format("{0:#,0.00}", GTOTAL) </td>
            </tr>
    </table>



</div>

