@model IFMIS.Areas.IFMISTZ.Models.InventoryItemCard
@{
    ViewBag.Title = "Edit Item Card";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Edit Item card </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return EditItemCard(this)" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.InventoryItemCardId)
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control", @required = "required", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OrderLevel, htmlAttributes: new { @class = "control-label col-md-3" })

                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.OrderLevel, new { htmlAttributes = new { @class = "form-control", @min = "0", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UOM, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.UOM, Model.UOMList, "Select ", new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.UOM, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-offset-2">
                                        <a href="@Url.Action("ItemCardsList","ItemCards")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        <button type="submit" class="btn btn-info" style="margin-right:2px">
                                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                        </button>
                                    </div>
                                </div>
                            }


                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>





                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

       // =========== Start Save Item Card====================
        function EditItemCard(formData) {
            var url = '@Url.Action("SaveEditItemCard", "ItemCards")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                    if (response == "Success") {
                          swal("Item card updated successfully ", { icon: "Success" })
                                    .then((value) => {
                                       var url = '@Url.Action("ItemCardsList", "ItemCards")';
                                        window.location.replace(url);
                                });
                    }
                    else {
                        swal("Failed  due to DbException");
                    }
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
         // =========== End Save Item card ====================

            //SHOW LOADER ICON
    $(document).ajaxStart(function () {
        $(".loadingImg").show();

    });
    //HIDE LOADER ICON
    $(document).ajaxStop(function () {
        $(".loadingImg").hide();
    });
    </script>
}




