@model IFMIS.Areas.IFMISTZ.Models.InstitutionApprovalLevel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .input[type="number"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 5%">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Edit Institution Approval Level</h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div style="padding-left:18%">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.InstitutionApprovalLevelId)

                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" style="text-align:right">Approval Level:</label>
                                                    <div class="col-md-9 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.ApprovalLevel, new { @Class = "input", style = "width:300px; ", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.ApprovalLevel, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" style="text-align:right">Maximum Amount:</label>
                                                    <div class="col-md-9 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(model => model.MaxAmount, new { @Class = "input", style = "width:300px; ", type = "number", required = "required" })
                                                            @Html.ValidationMessageFor(model => model.MaxAmount, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <a href='@Url.Action("InstitutionApprovalLevel", "InstitutionApprovalLevels1")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </div>

            </article>
        </div>
    </section>
</div>
@section pagespecific{

    <script>

        if ('@TempData["Success"]' == 'Success') {
            swal("Saved Successfully!", { icon: 'success' })
                 .then(Ok=> {
                     window.location.href = '@Url.Action("InstitutionApprovalLevel", "InstitutionApprovalLevels1")';
                 });
        } else if ('@TempData["Success"]' == 'No') {

            swal("This Institution Approval Level already Created!!")

        };
    </script>
}

