@model IFMIS.Areas.Gacs.Models.gac_note_explorer_Detail_Vw

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gac_note_explorer_Detail_Vw</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gov_Actual_Exp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gov_Actual_Exp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSectorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSectorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gfs_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gfs_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gfs_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gfs_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubSummaryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
