@model IFMIS.Areas.IFMISTZ.Models.LoanType
@{
    ViewBag.Title = "Loan Type Details";
}
<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Loan Type </h2>

                    </header>
                    @Html.HiddenFor(model => model.LoanTypeId)

                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                        @*<div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
                            </div>*@
                        <table class="table  table-hover table-condensed">

                            <tbody>
                                <tr>
                                    <td style="width:20%">
                                        Loan Code
                                    </td>
                                    <td>
                                        <strong>@Html.DisplayFor(model => model.LoanCode)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Description
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.LoanTypeDesc)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                       Recovery Period (In months)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.RecoveryPeriod)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                       Maximum Amount (Tsh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.MaxAmount)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:20%">
                                      Interest Code
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InterestCode)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:20%">
                                       Interest Rate (%)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InterestRate)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                       Receivable Accounts 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.DrGLAccountDesc)<br />
                                        @Html.DisplayFor(model => model.DrGLAccount)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                        Loan Control Accounts
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.CrGLAccountDesc)<br />
                                        @Html.DisplayFor(model => model.CrGLAccount)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:20%">
                                       Receivable Interest Accounts
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InterestGLAccountDesc)<br />
                                        @Html.DisplayFor(model => model.InterestGLAccount)
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:20%">
                                         Interest Revenue Account
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.InterestRevenueDesc)<br />
                                        @Html.DisplayFor(model => model.InterestRevenue)
                                    </td>
                                </tr>


                                <tr>
                                    <td style="width:20%">
                                        Status
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.OverAllStatus)
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>

                    <div class="col-md-offset-2">
                        <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
                        //SHOW LOADER ICON
                        $(document).ajaxStart(function () {
                            $(".loadingImg").show();

                        });
                        //HIDE LOADER ICON
                        $(document).ajaxStop(function () {
                            $(".loadingImg").hide();
                        });

    </script>
}


