<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Edit</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table>

                                        <tr>
                                            <td class="form-label">
                                                Institution Name
                                                <i class="fa fa-times" style="color:white" id="InstitutionId1"></i>
                                            </td>
                                            <td>
                                                <select id="InstitutionId" style="width:300px">
                                                    <option value='@ViewBag.Institutionid' selected="selected">@ViewBag.institutionName</option>
                                                    @foreach (var institutionList in ViewBag.institutionList)
                                                    {
                                                        <option value='@institutionList.InstitutionId'>@institutionList.InstitutionCodeInstitutionName</option>
                                                    }

                                                </select>

                                            </td>
                                        </tr>

                                        
                                        <tr>
                                            <td class="form-label">
                                                Account Name 
                                            </td>
                                        <td>
                                            <div class="name-input-container">
                                                <input type="text" readonly id="AccountName" value="@ViewBag.accountName" style="width:260px" />
                                                <a class="search-btn" onclick="SearchPayee()"
                                                   href="#">
                                                    <i class="fa fa-search search-icon"></i>
                                                </a>
                                            </div>
                                        </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Payee Name
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" disabled id="PayeeName" value="@ViewBag.payeename" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Category
                                                <i class="fa fa-times" style="color:white" id="category2"></i>
                                            </td>
                                            <td>
                                                <select id="category" style="width:300px">
                                                    <option value="@ViewBag.category" selected="selected">@ViewBag.category</option>
                                                    @foreach (var payeecategoryList in ViewBag.payeecategory)
                                                    {
                                                        <option value='@payeecategoryList.CategoryName'>@payeecategoryList.CategoryName</option>
                                                    }
                                                </select>

                                            </td>
                                        </tr>
                                        



                                    </table>
                                </div>

                            </div>

                            <!-- end widget content -->
                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">


                                    <a class="btn btn-info" href='@Url.Action("InstitutionPayeeList", "InstitutionPayeeConfig")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="form_submision">
                                        <i class="fa fa-save"></i>Save
                                        @*<img src="~/Content/img/loading.gif" id="saveLoader" />*@
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">


            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Payee</h3>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container " style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PaymentId</th>
                            <th>BIC</th>
                            <th>CtrlNum</th>
                            <th>Payee Name</th>
                            <th>Account Name</th>
                            <th>Payee Code</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th>Payee Type</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

<table id="dt_selected_payee" class="table" style="visibility:hidden"></table>
@section pagespecific{
    <script>
        $(document).ready(function () {
      
            $("#dt_selected_payee_wrapper .dt-toolbar").remove();
            $("#dt_selected_payee_wrapper .dt-toolbar-footer").remove();
            $("#dt_search_payee_wrapper .dt-toolbar").remove();
        
        
        });

        function SearchPayee() {
            $('#payeeModal').modal('show');
        }
        // ============= SHOW PAYEE===============
        var dt_selected_payee = $('#dt_selected_payee').dataTable({
            "data": [],
            "columnDefs": [{
                "targets": [0, 1],
                "visible": false
            }],
            "columns": [
                { title: "Payee DetailId" },
                { title: "Payee BIC" },
                { title: "Payee Name" },
                { title: "Account Name" },
                { title: "Payee Code" },
                { title: "Bank Name" },
                { title: "Payee Type" },
                { title: "Bank Account No" },
                { title: "Address" }
            ]
        });


        // ============= SEARCH PAYEEE ===========


        // ============= SEARCH PAYEEE ===========

        var dt_search_payee = $('#dt_search_payee').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [1, 2, 3] }],
        });

        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_payee.fnClearTable();
            } else {
                searchPayeeTableUpdate(this.value);
            }
        });

        function searchPayeeTableUpdate(search) {
            var url = '@Url.Action("GetPayee", "PaymentVoucher")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_search_payee.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_search_payee.fnAddData([i + 1,
                           data[i]["PayeeDetailId"],
                           data[i]["BIC"],
                           data[i]["RequireControlNum"],
                           data[i]["PayeeName"],
                           data[i]["AccountName"],
                           data[i]["PayeeCode"],
                           data[i]["BankName"],
                           data[i]["Accountnumber"],
                           data[i]["PayeeType"],
                           data[i]["Address1"],
                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function payeeClicked(rowId) {
            debugger
            var data = dt_search_payee.DataTable().rows().data();
            var row = data[rowId];
            dt_selected_payee.fnClearTable();
            $("#PayeeName").val(row[4]);
            $("#AccountName").val(row[5]);
            dt_selected_payee.fnAddData([
                row[1],
                row[2],
                row[4],
                row[5],
                row[7],
                row[6],
                row[8],
                row[9],
                row[10],
            ]);

            $("#payeeModal").modal("hide");
        }
        // =========== END SEARCH PAYEE ====================

  
        $("#form_submision").click(function () {

            debugger
            var data = dt_selected_payee.DataTable().rows().data();
            var row = data.rows(0).data()[0];

            var institutionName = $("#InstitutionId").val();
            if (institutionName == 'Please choose Institution Name') {
                swal("Institution Name is Required")
                    .then((j) =>{
                        $("#InstitutionId").focus();
                        $("#InstitutionId").css({ 'border-color': 'red' });

                    });
                 }

            else {
                $("#InstitutionId").css({ 'border-color': '' });
                //$("#ConfigName").css({ 'border-color': '' });
                console.log(row);

                var form_data = {}

                if(data.length>0){
                    var form_data = {
                        "InstitutionId": $("#InstitutionId").val(),
                        "Category": $("#category").val(),
                        "PayeeId": row[0],
                        "BIC": row[1],
                        "PayeeName": row[2],
                        "AccountName": row[3],
                        "BankName": row[4],
                        "PayeeCode": row[5],
                        "Accountnumber": row[6],
                        "PayeeType": row[7],
                        "Address": row[8],
                    }

                    } else {
                    var form_data = {
                    
                        "InstitutionId": $("#InstitutionId").val(),
                        "Category": $("#category").val(),
                        //"PayeeId": row[0],
                        //"BIC": row[1],
                        //"PayeeName": row[2],
                        //"AccountName": row[3],
                        //"BankName": row[4],
                        //"PayeeCode": row[5],
                        //"Accountnumber": row[6],
                        //"PayeeType": row[7],
                        //"Address": row[8],
                    }

                }

                console.log(form_data);

                var url = '@Url.Action("Edit", "InstitutionPayeeConfig")';
                var urlList = '@Url.Action("InstitutionPayeeList", "InstitutionPayeeConfig")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { institutionConfigVM: form_data, InstitutionConfigId: '@ViewBag.InstitutionConfigId' },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {

                        swal(error);
                    }
                });
     
            }

        });

    </script>
}




