@model DFund.Models.ExchangeRate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExchangeRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRateDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRateDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUYING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUYING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURRENCY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURRENCY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SELLING)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SELLING)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRADE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRADE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExchangeRateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
