@model IEnumerable<IFMIS.Areas.ALS.Models.AgencyClaimSummaryVM>

@{
    // Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }
</style>

<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Agencies Claims List</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            <div class="row">
                                <div class="col-sm-4 col-md-3 col-lg-3 col-md-offset-1">
                                    @Html.DropDownList("CheckDate", ViewBag.CheckDateList as SelectList, "Select Check Date", new { @class = "form-control" })
                                </div>

                                <div class="col-sm-4 col-md-3 col-lg-3 col-md-offset-3">
                                    <a href="#" onclick="assignClaims()" class="btn btn-info" style="border-radius:1px;">
                                        <i class="fa fa-edit"></i>Assign Officer
                                    </a>
                                </div>

                            </div>



                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-condensed" id="dt_claims">
                                <thead>

                                    <tr>
                                        <th style="text-align:right">
                                            #
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AgencyCode)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.AgencyName)
                                        </th>

                                        <th style="text-align:center">
                                            @Html.DisplayNameFor(model => model.NumTrx)
                                        </th>

                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.TotalClaimedAmount)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.OverallStatus)
                                        </th>
                                        <th>
                                            <input type="checkbox" class="cbCheckAllItems" />
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td style="text-align:right">
                                                @i
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyCode)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgencyName)
                                            </td>

                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.NumTrx)
                                            </td>

                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.TotalClaimedAmount)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.OverallStatus)
                                            </td>
                                            <td style="text-align: center">
                                                <input type="checkbox" class="checkItem" id=@item.AgencyClaimSummaryId>
                                            </td>

                                            <td style="text-align:center">

                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="@Url.Action("AgencyClaimDetail", "ALSReconciliation",new {id=item.AgencyClaimSummaryId })" class="btn-xs edit">
                                                                <i class="fa fa-edit"></i>  Details
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

<div class="modal fade" id="assignModal">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#b3e5fc;">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title"> Assign Officer  </h3>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form" }))
                    {
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <strong>Officer Name</strong>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownList("UserId", ViewBag.UserList as SelectList, "Select---", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="assignForm()" id="assignform">
                        <i class="fa fa-times"></i>Assign
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        var dt_claims = $('#dt_claims').dataTable();
        $("#dt_claims_wrapper .dt-toolbar").remove();
        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_claims").DataTable().search(this.value).draw();
        });

        //CHECK ALL ITEMS
        $(document).on('click', '.cbCheckAllItems', function () {
            $(".checkItem").prop('checked',
                $(this).prop('checked'));
        });
        var claimsIds = [];
        var assignClaims = function () {
            claimsIds = [];
            $("input:checkbox.checkItem").each(function () {
                if ($(this).prop("checked")) {
                    claimsIds.push($(this).attr('id'));
                }

            });

            if (claimsIds.length == 0) {

                swal("Please select at least one claim!", { icon: "info" });
                return;
            }
            else {
                $('#assignModal').modal('show');

            }
        }

        var assignForm = function () {
            var userId = $("#UserId").val();
            if (!userId) {
                swal("Please select officer!", { icon: "info" });
                return
            }
                  swal({
                        title: 'Confirmation',
                        text: "Do you assign salary deduction claims to this Officer ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                          var url = '@Url.Action("AssignOfficer", "ALSReconciliation")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { userId: userId, ids: claimsIds },
                    success: function (response) {
                        if (response == "Success") {

                            swal("Claim(s) assigned successfully", { icon: "success" })
                                      .then((value) => {
                                          location.reload();
                                      });


                        }
                        else {

                            swal("Failed to reconcile ,DbException");
                        }
                    },
                    error: function (xhr) {
                        swal(error);
                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        }


        $("#CheckDate").change(function () {
            var checkDate = $(this).val();
            if (checkDate) {
                GetAgencyClaims(checkDate);
            }

        });
        function GetAgencyClaims(checkDate) {
                    $.ajax({
                type: "GET",
                url: "@Url.Action("GetAgenciesClaims", "ALSReconciliation")",
                data: { checkDate },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                if (response.data) {
                  data = response.data;
                                dt_claims.fnClearTable();
                                for (var i = 0; i < data.length; i++) {
                                    dt_claims.fnAddData([i + 1,
                                    data[i]["AgencyCode"],
                                    data[i]["AgencyName"],
                                    '<div align="center">' + data[i]["NumTrx"] + '</div>',
                                    '<div align="right">' + toLabel(data[i]["TotalClaimedAmount"]) + '</div>',
                                     data[i]["OverallStatus"],
                                        '<div align="center"><input type="checkbox" class="checkItem" id='+ data[i]["AgencyClaimSummaryId"] +'></div>',
                                    '<div align="center"><div class="btn-group">\
                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                         <span class="caret"></span\
                                             <span class="sr-only"></span>\
                                    </button>\
                                    <ul class="dropdown-menu">\
                                    <li><a href="@Url.Action("AgencyClaimDetail", "ALSReconciliation")/?id=' + data[i]["AgencyClaimSummaryId"] + '"><i class="fa fa-edit"></i>Details</a></li>\
                                       </ul>\
                                </div> </div>'
                                    ]);
                                }
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
        }

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });

    </script>
}