@model IEnumerable<IFMIS.Areas.ALS.Models.AgencyClaimSummaryVM>

@{
    // Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Agency Claims Details</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            <div>
                                <div>
                                    <div class="col-md-2"><strong>Agency Code</strong></div><div class="col-md-10">:@Model.Select(a => a.AgencyCode).First()</div>
                                    <div class="col-md-2"><strong>Agency Name</strong></div><div class="col-md-10">:@Model.Select(a => a.AgencyName).First()</div>
                                    <div class="col-md-2"><strong>Check Date</strong></div><div class="col-md-10">:@Convert.ToDateTime(Model.Select(a => a.CheckDate).First()).ToString("yyyy-MM-dd")</div>
                                </div>
                            </div>

                            <table class="table table-bordered table-hover table-condensed" id="dt_summary">
                                <thead>

                                    <tr>
                                        <th style="text-align:right">
                                            #
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DeductionCode)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.DeductionName)
                                        </th>

                                        <th style="text-align:center">
                                            @Html.DisplayNameFor(model => model.NumTrx)
                                        </th>

                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.TotalClaimedAmount)
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td style="text-align:right">
                                                @i
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeductionCode)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeductionName)
                                            </td>

                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.NumTrx)
                                            </td>

                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.TotalClaimedAmount)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="4" style="text-align:right"><strong>Total</strong></th>
                                        <th style="text-align:right"><strong>@Convert.ToDecimal(Model.Select(a => a.TotalClaimedAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00")</strong></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        @if (Model.Select(a => a.OverallStatus).First() == "Pending")
                                        {
                                            <a href="@Url.Action("AgenciesClaims", "ALSReconciliation")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("AssignedClaims", "ALSReconciliation")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

