@model IFMIS.Areas.ALS.Models.AlsReconciliationDetail

@{
    // Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br/>
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Employee Deduction Detail</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
   
                            <table class="table table-bordered table-hover table-condensed" id="dt_deductions">

                                <tbody>

                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.CheckNumber)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.CheckNumber)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.FullName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.CheckDate)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.CheckDate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.DeductionCode)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.DeductionCode)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.DeductionName)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.DeductionName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.PayrollAmount)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.PayrollAmount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.ClaimedAmount)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.ClaimedAmount)
                                        </td>
                                    </tr>
                                    @if(Model.UnclaimedAmount > 0){
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.UnclaimedAmount)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.UnclaimedAmount)
                                        </td>
                                    </tr>
                                    }
                                    @if(Model.MissingAmount > 0){
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.MissingAmount)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.MissingAmount)
                                        </td>
                                    </tr>
                                    }
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.ReconciledAmount)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.ReconciledAmount)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.ALSLoanBalance)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.ALSLoanBalance)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.AgencyLoanBalance)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.AgencyLoanBalance)
                                        </td>
                                    </tr>

                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.VoteDesc)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.Vote)-@Html.DisplayFor(model => model.VoteDesc)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:30%">
                                            @Html.DisplayNameFor(model => model.AgencyName)
                                        </th>
                                        <td>
                                            @Html.DisplayFor(model => model.AgencyCode)-@Html.DisplayFor(model => model.AgencyName)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        @if(Model.UnclaimedAmount > 0){
                                        <a href="@Url.Action("UnderClaimed","ALSReconciliation",new {id=Model.AlsReconciliationSummaryId })" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        }
                                        else{
                                        <a href="@Url.Action("OverClaimed","ALSReconciliation",new {id=Model.AlsReconciliationSummaryId })" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>
