@model IEnumerable<IFMIS.Areas.ALS.Models.AlsReconciliationDetail>

@{
    // Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }
  
</style>


<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br/>
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Over Claimed Salary Deductions List</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Check Date :</strong>@Convert.ToDateTime(Model.Select(a => a.CheckDate).First()).ToString("yyyy-MM-dd")
                                </div>
                                <div class="col-md-4" style="align-content:end">
                                    <a href="@Url.Action("Export","ALSReconciliation",new {id=Model.Select(a=>a.AlsReconciliationSummaryId).First() ,category="OverClaimed"})" class="btn btn-info" style="border-radius:1px;" target="_blank">
                                        <i class="fa fa-download"></i>Export
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-condensed" id="dt_deductions">
                                <thead>
                                    <tr>
                                        <th style="text-align:right">
                                            #
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CheckNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DeductionName)
                                        </th>
                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.PayrollAmount)
                                        </th>

                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.ClaimedAmount)
                                        </th>
                                        <th style="text-align:right">
                                            @Html.DisplayNameFor(model => model.MissingAmount)
                                        </th>

                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;

                                        <tr>
                                            <td style="text-align:right">
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CheckNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeductionCode)-@Html.DisplayFor(modelItem => item.DeductionName)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.PayrollAmount)
                                            </td>
                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.ClaimedAmount)
                                            </td>

                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.MissingAmount)
                                            </td>
                                            <td style="text-align:center">

                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="@Url.Action("EmployeeReconciledDetail", "ALSReconciliation",new {id=item.AlsReconciliationDetailId })" class="btn-xs edit">
                                                                <i class="fa fa-edit"></i>  Details
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        <a href="@Url.Action("ReconciledList","ALSReconciliation")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        var dt_deductions = $('#dt_deductions').dataTable();
        $("#dt_deductions_wrapper .dt-toolbar").remove();
        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_deductions").DataTable().search(this.value).draw();
        });

   
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });

    </script>
}