@model IFMIS.Areas.ALS.Models.UnreconsciledPaymentSummaryVM

@{
    // Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }
</style>

<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Payment Details</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">


                            <div class="row">
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.AgencyCode)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.AgencyCode)</div>
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.AgencyName)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.AgencyName)</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Payee)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.Payee)</div>
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.PaymentType)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.PaymentType)</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.TrxNo)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.TrxNo)</div>
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.TotalAmount)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.TotalAmount)</div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.CheckDate)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.CheckDate)</div>
                                <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.OverallStatus)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.OverallStatus)</div>
                            </div>
                            @if (Model.Payee == "Agency")
                            {
                                <div class="row">
                                    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.PayeeAccountName)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.PayeeAccountName)</div>
                                    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.PayeeAccountNumber)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.PayeeAccountNumber)</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.PayeeBankName)</strong></div><div class="col-md-4">:@Html.DisplayFor(model => model.PayeeBankName)</div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-condensed" id="dt_claims">
                                <thead>

                                    <tr>
                                        <th style="text-align:right">
                                            #
                                        </th>
                                        <th>
                                            CheckNumber
                                        </th>

                                        <th>
                                            Full Name
                                        </th>
                                        <th>
                                            Vote
                                        </th>
                                        @if (Model.Payee == "Employees")
                                        {
                                            <th>
                                                AccountNo
                                            </th>
                                            <th>
                                                Bank
                                            </th>

                                        }
                                        <th style="text-align:right">
                                            Amount
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ReconsciliationDetailsList)
                                    {
                                        i++;

                                        <tr>
                                            <td style="text-align:right">
                                                @i
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CheckNumber)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>

                                            <td>
                                                @if (!String.IsNullOrEmpty(item.VoteDesc))
                                                {
                                                    @Html.DisplayFor(modelItem => item.Vote)
                                                    <span>-</span>
                                                    @Html.DisplayFor(modelItem => item.VoteDesc)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Vote)
                                                }
                                            </td>
                                            @if (Model.Payee == "Employees")
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BankName)
                                                </td>
                                            }
                                            <td style="text-align:right">
                                                @Html.DisplayFor(modelItem => item.UnclaimedAmount)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1">
                                        <a class="btn btn-info" style="float:left;margin-left:5px" onclick="window.history.back()"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                    </div>
                                </div>
                            </div>

                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        var dt_claims = $('#dt_claims').dataTable();
        $("#dt_claims_wrapper .dt-toolbar").remove();
        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_claims").DataTable().search(this.value).draw();
        });

    </script>
}


