@model IFMIS.Areas.Coadmis.Models.InternalControl

<form>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessAreaId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-sm-8">
                @Html.DropDownList("BusinessAreaId", ViewBag.BusinessAreas as SelectList, "Select business area", new { @class = "form-control select2" })
                @Html.ValidationMessageFor(model => model.BusinessAreaId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ControlName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.ControlName, new { @class = "form-control", @row = 5, @col = 10 })
                @Html.ValidationMessageFor(model => model.ControlName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CommentOnDesignControl, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.CommentOnDesignControl, new { @class = "form-control", @row = 5, @col = 10 })
                @Html.ValidationMessageFor(model => model.CommentOnDesignControl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-sm-8">
                @Html.DropDownList("Status", ViewBag.Status as SelectList, "Select status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("select").select2();
    });

</script>