@{
    ViewBag.Title = "Approve Net Salary";
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search], input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-info confirmBtn"  onclick="confirm()">
                                        <i class="fa fa-check"></i> Approve
                                        <img src="~/Content/img/loading.gif" id="confirmLoader"  />
                                    </button>
                                    <button class="btn btn-info confirmBtn" onclick="reject()" >
                                        <i class="fa fa-ban"></i> Reject
                                        <img src="~/Content/img/loading.gif" id="rejectLoader" />
                                    </button>
                                    <a class="btn btn-info" href="@Url.Action("AtSourceVotePayments","NetSalary", new { status="Confirmed"})">
                                        <i class="fa fa-file-text"></i> Vote Payments
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_table" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width:20px">#</th>
                                        <th>Batch No</th>
                                        <th style="text-align:right">NumTrx</th>
                                        <th style="text-align:right">Amount(TZS)</th>
                                        <th>Check Date</th>
                                        <th>Status</th>
                                        <th style="width:10px"></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="2" style="text-align:right">TOTAL</th>
                                        <th style="text-align:right" id="NumTrx"></th>
                                        <th style="text-align:right" id="TotalAmount"></th>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>
        var dt_table = $('#dt_table').dataTable({
            "pageLength": 20,
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });



        $("#dt_table_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_table.DataTable().search(this.value).draw();
        });

        var data = [];
        var TotalAmount = 0
        var NumTrx = 0
        function loadData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetNetSalaryPaymets", "NetSalary")',
                contenttype: "application/json; charset=utf-8",
                data: {
                    status: ['Confirmed'].toString()
                },
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        TotalAmount += data[i]["TotalAmount"];
                        NumTrx += data[i]["NumTrx"];
                        dt_table.fnAddData([i + 1,
                           data[i]["BatchNo"],
                           '<div style="text-align:right">' + data[i]["NumTrx"].toLocaleString() + '</div>',
                           '<div style="text-align:right">' + toLabel(data[i]["TotalAmount"]) + '</div>',
                           data[i]["FCreatedAt"],
                           data[i]["OverallStatus"],
                           '<div class="btn-group" id="drop-' + i + '">\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                 <span class="sr-only"></span>\
                           </button>\
                           <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "openViewDialog(' + i + ')">Details</a></li>\
                           </ul>\
                           </div>\
                           <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                        ]);
                        $("#saveLoader-" + i + "").toggle(false)
                    }
                    $("#TotalAmount").text(toLabel(TotalAmount));
                    $("#NumTrx").text(NumTrx.toLocaleString());
                    if(data.length){
                        $(".confirmBtn").prop('disabled', false)
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        loadData();

        function confirm() {
            swal({
                title: 'Approve this list?',
                buttons: ['NO','YES'],
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    confirmAcceptance();
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }
        $("#confirmLoader").toggle(false)
        $(".confirmBtn").prop('disabled', true)
        var ids = "121,122,123,124,125,126,127,128,129,130,131,132"
            //"100,101, 102, 103, 104, 105,106,107";

        function confirmAcceptance() {
            $(".confirmBtn").prop('disabled', true)
            $("#confirmLoader").toggle(true)
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActionsNetSalary", "NetSalary")',
                data: {
                    ids: data.map(v=>v.AtSourcePaymentSummaryId).toString(),
                    toStatus: 'Approved'
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $(".confirmBtn").prop('disabled', false)
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        $("#confirmLoader").toggle(false)
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }

        function reject() {
            swal({
                title: 'Reject this list?',
                buttons: ['NO', 'YES'],
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    confirmRejection();
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }
        $("#rejectLoader").toggle(false)
        function confirmRejection() {
            $("#confirmBtn").prop('disabled', true)
            $("#rejectLoader").toggle(true)
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActionsNetSalary", "NetSalary")',
                data: {
                    toStatus: 'Rejected',
                    fromStatus: 'Confirmed'
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#confirmBtn").prop('disabled', false)
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((e) => {
                                window.location.reload();
                            });
                    }
                    else {
                        $("#rejectLoader").toggle(false)
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }

       //=============== DETAILS
        var dt_view = $('#dt_view').dataTable({
            "data": [],
            "columnDefs": [{
                "visible": false
            }],
            "columns": [
           {title: "#" },
           { title: "Vote" },
           { title: "Num Trx" },
           { title: "Total Amount" },
           ]
        });

        $("#dt_view_wrapper .dt-toolbar").remove();

        $("#searchboxView").on("keyup search input paste cut", function () {
            dt_view.DataTable().search(this.value).draw();
        });

        function openViewDialog(i) {
            viewData(data[i]["AtSourcePaymentSummaryId"]);
            $("#viewModal").modal("show");
        }

        function viewData(Id) {
            $.ajax({
                type: "get",
                url: '@Url.Action("GetNetSalaryDetails", "NetSalary")',
                data: { Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    d = response.data;
                    dt_view.fnClearTable();
                    for (var i = 0; i < d.length; i++) {
                        dt_view.fnAddData([i+1,
                            d[i]['MainVoteCode']+" - "+d[i]["MainVoteName"],
                           d[i]["NumTrx"],
                           toLabel(d[i]["TotalAmount"]),
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
    </script>
}
