
@{
    ViewBag.Title = "Adjustment Transaction";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .custom-table-border td, th {
        border: 1px solid #ccc;
        text-align: left;
        padding: 5px;
    }

    .custom-table-border th {
        text-align: center;
    }

    .custom-table {
        border-collapse: collapse;
        border-spacing: 5px;
        border: 1px solid #ddd;
        width: 100%;
    }

        .custom-table td:nth-child(2) {
            text-align: right;
            width: 150px;
        }

        .custom-table td:nth-child(3) {
            text-align: right;
            width: 150px;
        }

    .center {
        margin-left: 25%;
    }

    .center2 {
        margin-left: 22%;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Transaction Adjustment</h2>
                    </header>
                    <div class="widget-body">
                        <table class="center">
                            <tr>
                                <td class="form-label">Adjust Type</td>
                                <td>
                                    <select id="AdjustType" style="width:300px" class="form-control select2">
                                        <option value="">Select Type</option>
                                        <option value="Consolidation Adjustment">Consolidation Adjustment</option>
                                        <option value="Transaction Reversal">Transaction Reversal</option>
                                        @*<option value="Journal Adjustment">Journal Adjustment</option>
                    <option value="Subwarrant Adjustment">Subwarrant Adjustment</option>
                    <option value="Account Journal Adjustment">Account Journal Adjustment</option>*@
                                    </select>
                                </td>
                            </tr>
                            @*<tr id="JournalCodeContainer">
            <td class="form-label">
                Journal Code<i class="fa fa-times" style="color:white" id="JournalCode_1"></i>
            </td>
            <td>
                <select id="JournalCode" style="width:300px"></select>
            </td>
        </tr>*@
                            <tr class="JournalAdjustmentContainer">
                                <td class="form-label">
                                    Apply Date
                                    <i class="fa fa-times" style="color:white" id="ApplyDate_1"></i>
                                </td>
                                <td>
                                    <div class="flatpickr date-group" style="display:flex">
                                        <input type="text" placeholder="Select Date"
                                               data-input
                                               style="width:262px;border:none"
                                               autocomplete="off" id="ApplyDate">
                                        <a class="input-button" title="open" data-toggle href="#">
                                            <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr class="JournalAdjustmentContainer">
                                <td class="form-label">Adjustment Category</td>
                                <td>
                                    @Html.DropDownList("Reason", null, "Select Category", htmlAttributes: new { @class = "form-control select2" })

                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Description
                                    <i class="fa fa-times" style="color:white" id="Description_1"></i>
                                </td>
                                <td>
                                    <textarea rows="2" id="Description" style="width:300px;"></textarea>
                                </td>
                            </tr>
                            <tr class="trxReversal">
                                <td class="form-label">
                                    Legal Number
                                    <i class="fa fa-times" style="color:white" id="LegalNumber_1"></i>
                                </td>
                                <td>
                                    <a class="search-btn" onclick="searchLegalNumber()"
                                       href="#" style="display:block;width:300px" id="LegalNumberLabel">
                                        <i class="fa fa-search search-icon"></i>
                                        Search
                                    </a>
                                    <input type="hidden" id="LegalNumber" />
                                </td>
                            </tr>
                            <tr class="trxReversal">
                                <td class="form-label">
                                    Reason
                                </td>
                                <td>
                                    <input style="width:300px" type="text" id="RReason" disabled>
                                </td>
                            </tr>
                            <tr class="trxReversal">
                                <td class="form-label">
                                    Journal Number
                                </td>
                                <td>
                                    <input style="width:300px" type="text" id="JournalNumber" disabled>
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer">
                                <td class="form-label">
                                    Dr Account
                                    <i class="fa fa-times" style="color:white" id="CrGLAccount_0_1"></i>
                                </td>
                                <td>
                                    <a class="search-btn" onclick="openSearchGL(1)"
                                       href="#" style="display:block;width:300px" id="CrGLAccountLabel_0">
                                        <i class="fa fa-search search-icon"></i>
                                        Search
                                    </a>
                                    <input type="hidden" id="CrGLAccount_0" />
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer" id="Drist">
                                <td class="form-label">
                                    Dr Institution
                                    <i class="fa fa-times" style="color:white" id="CrGLAccount_0_1"></i>
                                </td>
                                <td>
                                    <a class="search-btn" onclick="openSearchInstitution(1)"
                                       href="#" style="display:block;width:300px" id="CrGLAccountLabel_0">
                                        <i class="fa fa-search search-icon"></i>
                                        Search
                                    </a>
                                    <input type="hidden" id="CrGLAccount_0" />
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer">
                                <td class="form-label">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="DrInstitution" type="text" style="width:300px"
                                               placeholder="Dr Institution" readonly>
                                        <input id="DrInstitutionCode" type="hidden">
                                        <input id="DrInstitutionName" type="hidden">
                                    </div>
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer" >
                                <td class="form-label">
                                    Cr Account
                                    <i class="fa fa-times" style="color:white" id="DrGLAccount_0_1"></i>
                                </td>
                                <td>
                                    <a class="search-btn" onclick="openSearchGL(0)"
                                       href="#" style="display:block;width:300px" id="DrGLAccountLabel_0">
                                        <i class="fa fa-search search-icon"></i>
                                        Search
                                    </a>
                                    <input type="hidden" id="DrGLAccount_0" />
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer" id="Crist">
                                <td class="form-label">
                                    Cr Institution
                                    <i class="fa fa-times" style="color:white" id="DrGLAccount_0_1"></i>
                                </td>
                                <td>
                                    <a class="search-btn" onclick="openSearchInstitution(0)"
                                       href="#" style="display:block;width:300px" id="DrGLAccountLabel_0">
                                        <i class="fa fa-search search-icon"></i>
                                        Search 
                                    </a>
                                    <input type="hidden" id="DrGLAccount_0" />
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer">
                                <td class="form-label">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="CrInstitution" type="text" style="width:300px"
                                               placeholder="Cr Institution" readonly>
                                        <input id="CrInstitutionCode" type="hidden">
                                        <input id="CrInstitutionName" type="hidden">
                                    </div>
                                </td>
                            </tr>
                            <tr class="JournalAdjustmentContainer">
                                <td class="form-label">
                                    Document Number
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input id="DocumentNumber" type="text" style="width:300px"
                                               placeholder="Optional">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="padding:20px;padding-left:40px;padding-right:40px" id="table_crdrContainer">
                            <table class="custom-table-border custom-table">
                                <thead>
                                    <tr style="background-color:#D1D1D1">
                                        <th> GfsCode</th>
                                        <th> DR</th>
                                        <th> CR</th>
                                    </tr>
                                </thead>
                                <tbody id="table_crdr"></tbody>
                            </table>
                        </div>
                        <div style="padding:20px;padding-left:40px;padding-right:40px" id="table_crdr2Container">
                            <table class="custom-table-border custom-table">
                                <thead>
                                    <tr style="background-color:#D1D1D1">
                                        <th> GfsCode</th>
                                        <th> GfsCode Description</th>
                                        <th> DR</th>
                                        <th> CR</th>
                                    </tr>
                                </thead>
                                <tbody id="table_crdr2"></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:20px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">

                            <a class="btn btn-info" href='@Url.Action("PendingAdjustment", "ConsoAdjustment")' style="margin-right:5px">
                                <i class="fa fa-arrow-left"></i>Back
                            </a>
                            <button type="submit" class="btn btn-info" id="form_submision"
                                    onclick="commitTransactionReversal()">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- Search Payment ----------------->
<div class="modal fade" id="legalItemModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Search Payment to Reverse</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row" style="padding-top:1%;">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Legal Number" id="searchbox">
                                <button style="background-color:#2196F3;color:white" onclick="searchPayment()">Search</button>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="search-container submit-btn" style="float:right">
                                    <i class="fa fa-search search-icon"></i>
                                    <input type="search" name="search" placeholder="Search..." id="searchbox">
                                </div>
                                <button>Search</button>
                            </div>*@
                    </div>
                    <table id="dt_payment" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Legal Number</th>
                                <th>Instistution Name</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Confirm Date</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-info">
                            <i class="fa fa-save"></i>Save
                        </button>*@
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- Search GL Items ----------------->
<div class="modal fade" id="glItemsModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Gl Item(s)</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container submit-btn" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search" id="searchbox_">
                            </div>
                        </div>
                    </div>
                    <table id="dt_search_gl_item" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>GfsCode</th>
                                <th>GfsCode Description</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-info" onclick="saveGlItems()">
                        <i class="fa fa-save"></i>Save
                    </button>*@
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- Search Institution ----------------->
<div class="modal fade" id="institutionItemsModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Institution</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container submit-btn" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search" id="searchbox_">
                            </div>
                        </div>
                    </div>
                    <table id="dt_search_institution_item" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>GfsCode</th>
                                <th>GfsCode Description</th>
                                <th>Institution Code</th>
                                <th>Institution Name</th>
                                <th>TB Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-info" onclick="saveGlItems()">
                        <i class="fa fa-save"></i>Save
                    </button>*@
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{
    <script>
        $(document).ready(function () {
            //getJournalType();
            $("#saveLoader").toggle(false);
            $("#table_crdr2Container").toggle(false)
        });

        var CR_ids = [];
        var DR_ids = [];

        var CR_values = {};
        var DR_values = {};

        var journalCodes = [];
        var journalCodesList = [];
        function getJournalType() {
            $.ajax({
                type: "get",
                url: '@Url.Action("GetJournalType", "TransactionAdjustment")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    d = response.data;
                    for (var i = 0; i < d.length; i++) {
                        if (!journalCodesList.includes(d[i]["JournalCode"])) {
                            journalCodesList.push(d[i]["JournalCodeDesc"]);
                            journalCodes.push({
                                code: d[i]["JournalCode"],
                                desc: d[i]["JournalCodeDesc"]
                            });
                        }
                    }
                    createJournalCodeFilter(journalCodes);
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function createJournalCodeFilter(journalCodes) {
            var optionsList = [];
            optionsList.push('<option value="0" selected="selected">Please choose Journal Code</option>');
            journalCodes.forEach(code => {
                optionsList.push('<option value=' + code.code + '>' + code.code + ' - ' + code.desc + '</option>');
            });
            var options = optionsList.toString();
            options = options.replace("]", "");
            options = options.replace("[", "");
            options = options.replace(",", "");
            $("#JournalCode").html(options);
        }

        var globalJournalTypeCode = "";
        function searchLegalNumber() {
            //if ($("#JournalCode").val() != "0") {
            globalJournalTypeCode = "CA";//$("#JournalCode").val();
                $('#legalItemModal').modal('show');
            //} else {
            //    swal("Please choose Journal Code");
            //}
        }

        //var dt_payment = $('#dt_payment').dataTable();
        var dt_payment = $('#dt_payment').dataTable({
            "language": {
                "emptyTable": '<strong id="loader">Provide Legal number then click search</strong>',
                "zeroRecords": ""
            }
        });
        $("#dt_payment_wrapper .dt-toolbar").remove();
        //$("#searchbox").on("keyup search input paste cut", function () {
        //    if (!this.value) {
        //        dt_payment.fnClearTable();
        //    } else {
        //        loadPaymentDetails(this.value);
        //    }
        //});

        function searchPayment() {
            debugger
            var legalNo = $("#searchbox").val()
            dt_payment.fnClearTable();
            if (!legalNo.trim()) {
                swal("Please provide legal number")
            } else {
                loadPaymentDetails(legalNo.trim());
            }
        }

        var data = [];
        var legalNumberArray = [];
        var legalNumberArrayDrCr = [];

        function loadPaymentDetails(search) {
            debugger
            $("#loader").text("Loading please wait...")
            var url = '@Url.Action("GetPayement", "ConsoAdjustment")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    debugger
                    data = response.data;
                    dt_payment.fnClearTable();
                    legalNumberArray = [];
                    legalNumberArrayDrCr = [];

                    for (var i = 0; i < data.length; i++) {
                        if (!legalNumberArray.includes(data[i]["LegalNumber"])) {

                            //compute = getDrCrAccounts(data, data[i]["LegalNumber"])
                            legalNumberArrayDrCr[i] = data[i]["AdjustementAmount"];

                            dt_payment.fnAddData([i + 1,
                              data[i]["LegalNumber"],
                              data[i]["InstitutionName"],
                              data[i]["AdjustmentReasonDesc"],
                              data[i]["AdjustementAmount"].toLocaleString(),
                              data[i]["ApprovedAtFormatted"],
                              '<a href="#" onclick="paymentClicked(' + i + ')"><i class="fa fa-plus"></i></a>'
                            ])
                            legalNumberArray.push(data[i]["LegalNumber"])
                        }
                    }

                    if (data.length == 0) {
                        $("#loader").text("No matching records found")
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function getDrCrAccounts(data, legalNumber) {
            var Amount = 0

            for (var i = 0; i < data.length; i++) {
                if (data[i]["LegalNumber"] == legalNumber
                    && data[i]["TransactionType"] == "DR") {
                    Amount += parseFloat(data[i]["OperationalAmount"]);
                }
            }
            return { amount: Amount }
        }

        var paymentVoucherId = 0
        var TotarCr = 0;
        var TotalDr = 0;

        function paymentClicked(i) {
            debugger
            TotarCr = 0;
            TotalDr = 0;

            if (data[i]["ReconcilliationStatus"] == "Matched") {
                swal("Reconcilled Payment Cannot be reversed!")
            } else {
                //paymentVoucherId = data[i]["GeneralLedgerId"];
                var DrCr = [];
                var consoAdj = [];
                for (var j = 0; j < data[i]["ConsoAdjustementDetails"].length; j++) {

                    //if (data[i]["LegalNumber"] == data[j]["LegalNumber"]) {
                    consoAdj = data[i]["ConsoAdjustementDetails"];
                    if (consoAdj[j]["TransactionType"] == "CR") {
                        DrCr.push(
                            '<tr>\
                            <td>' + consoAdj[j]["GfsCode"] + '</td>\
                                <td>-</td>\
                                <td>' + consoAdj[j]["AdjustmentAmount"].toLocaleString() + '</td>\
                        </tr>')
                        TotarCr += parseFloat(consoAdj[j]["AdjustmentAmount"])
                    } else {
                        DrCr.push(
                            '<tr>\
                            <td>' + consoAdj[j]["GfsCode"] + '</td>\
                            <td>' + parseFloat(consoAdj[j]["AdjustmentAmount"]).toLocaleString() + '</td>\
                            <td>-</td>\
                        </tr>')
                        TotalDr += parseFloat(consoAdj[j]["AdjustmentAmount"])
                    }

                    //}

                }

                DrCr.push('<tr>\
                          <td style="border-bottom-color:white;border-left-color:white;text-align:right;" ><strong>TOTAL</strong></td>\
                          <td><strong id="TotalDr"></strong></td>\
                          <td><strong id="TotarCr"></strong></td>\
                      </tr>')



                DrCr = DrCr.toString().replace("]", "").replace("[", "")
                DrCr = DrCr.split(",").join("")
                $("#table_crdr").html(DrCr);
                $("#TotalDr").text(TotalDr.toLocaleString() + ".00/=")
                $("#TotarCr").text(TotarCr.toLocaleString() + ".00/=")
                $("#LegalNumberLabel").text(data[i]["LegalNumber"])
                $("#LegalNumber").val(data[i]["LegalNumber"])
                $("#RReason").val(data[i]["AdjustmentReason"])
                //$("#JournalNumber").val(data[i]["TransactionJournalNumber"])
                DocumentNo = data[i].DocumentNum
                $('#legalItemModal').modal('hide')
            }
        }

        function commitTransactionReversal() {
            if (voucherSummaryFormValidation()) {
                if ($("#AdjustType").val() != "Transaction Reversal") {
                    if (parseFloat($("#cr_amount").text())
                        != parseFloat($("#dr_amount").text())
                        || parseFloat($("#dr_amount").text()) == 0
                        ) {
                        swal("Unbalanced or Zero DR/CR Amounts");
                    } else if (
                        $("#DrInstitutionCode").val() == "" ||
                        $("#CrInstitutionCode").val() == ""
                    ) {
                        swal("Please make sure you have set DR and Cr Institution");
                    }
                    else {
                        //if (dr_status.length > 0 || cr_status.length > 0) {
                        //    swal("You have exceeded fund balance or expenditure amount.");
                        //} else {
                            saveTransactionReversal()
                        //}
                    }
                } else {
                    saveTransactionReversal()
                    //CheckTransactionReverseStatus()
                }
            } else {
                swal("Please provide all the missing details.")
            }
        }

        function CheckTransactionReverseStatus() {
            $("#form_submision").prop('disabled', true);
            var url = '@Url.Action("CheckTransactionReverseStatus", "TransactionAdjustment")';
            $.ajax({
                type: "get",
                url: url + "/?LegalNumber=" + $("#LegalNumber").val(),
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#form_submision").prop('disabled', false);
                    data = response.data
                    if (data.length > 0) {
                        data = data[0]
                        if (data["Payment"] == "NO" && data["Voucher"] == "NO") {
                            saveTransactionReversal()
                        } else {
                            if (data["Payment"] != "NO") {
                                swal(data["Payment"])
                            } else if (data["Voucher"] != "NO") {
                                swal(data["Voucher"])
                            }
                        }
                    } else {
                        saveTransactionReversal()
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        var isSaved = false
        var DocumentNo = ""
        function saveTransactionReversal() {
            if (isSaved) return;
            isSaved = true
            var form_data = {}
            var url = ""

            $("#form_submision").prop('disabled', true);

            if ($("#AdjustType").val() == "Transaction Reversal") {
                url = '@Url.Action("ReverseTransaction", "ConsoAdjustment")'
                form_data = {
                    AdjustType: $("#AdjustType").val(),
                    JournalCode: "CONSO",
                    Reason: $("#RReason").val(),
                    Description: $("#Description").val(),
                    LegalNumber: $("#LegalNumber").val(),
                    JournalNumber: $("#JournalNumber").val(),
                    PaymentJournalCode: $("#JournalCode").val(),
                    DocumentNo: DocumentNo
                }
            } else if ($("#AdjustType").val() == "Consolidation Adjustment") {
                url = '@Url.Action("ConsolidationAdjustment", "ConsoAdjustment")'
                form_data = {
                    AdjustType: $("#AdjustType").val(),
                    JournalCode: "CONSO",
                    Reason: $("#Reason").val(),
                    Description: $("#Description").val(),
                    DocumentNumber: $("#DocumentNumber").val(),
                    ApplyDate: $("#ApplyDate").val(),
                    AmountToReceive: $("#dr_amount").text(),
                    DrInstitutionCode: $("#DrInstitutionCode").val(),
                    DrInstitutionName: $("#DrInstitutionName").val(),
                    CrInstitutionCode: $("#CrInstitutionCode").val(),
                    CrInstitutionName: $("#CrInstitutionName").val(),
                    GlItemsList: glItemsList
                }

            }else{
                url = '@Url.Action("JournalAdjustment", "ConsoAdjustment")'
                form_data = {
                    AdjustType: $("#AdjustType").val(),
                    JournalCode: $("#AdjustType").val() == "Account Journal Adjustment"?"AJ":"GJ",
                    Reason: $("#Reason").val(),
                    Description: $("#Description").val(),
                    DocumentNumber: $("#DocumentNumber").val(),
                    ApplyDate: $("#ApplyDate").val(),
                    AmountToReceive: $("#dr_amount").text(),
                    GlItemsList: glItemsList
                }
            }

            $.ajax({
                type: "post",
                url: url,
                data: form_data,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = '@Url.Action("PendingAdjustment", "ConsoAdjustment")'
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error);
                }
            });
        }

        function voucherSummaryFormValidation() {
            $("#JournalCode_1").attr("style", "color: white;");
            var isNotValid = false;
            if ($("#AdjustType").val() == "Transaction Reversal") {
                //if ($("#JournalCode").val().trim() == "0") {
                //    $("#JournalCode_1").attr("style", "color: red;");
                //    return false
                //}
                isNotValid = validateInputsParameters([
                "#LegalNumber",
                "#Description",
                ]);
            } else {
                isNotValid = validateInputsParameters([
                 "#Description",
                 "#ApplyDate"
                ]);
            }

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }
            return true
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val().trim()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        $(".SubWarrant").toggle(false)
        $("#AdjustType").change(function () {
            if (this.value.includes("Consolidation Adjustment")) {
                $("#table_crdr2Container").toggle(true)
                $("#table_crdrContainer").toggle(false)
            } else {
                $("#table_crdr2Container").toggle(false)
                $("#table_crdrContainer").toggle(true)
            }
            if (this.value == "Account Journal Adjustment") {
                $(".SBCCont").toggle(false)
                loadJournalAdjustmentDetails('AJ')
            } else {
                $(".SBCCont").toggle(true)
            }

            if (this.value.includes("Subwarrant")) {
                $(".SubWarrant").toggle(true)
            } else {
                $(".SubWarrant").toggle(false)
            }
            dt_search_gl_item.fnClearTable();
        });

        $("#JournalCode").change(function () {
            dt_payment.fnClearTable()
        });

        $(".trxReversal").toggle(false)
        $(".JournalAdjustmentContainer").toggle(true)
        $("#JournalCodeContainer").toggle(false)
        $("#AdjustType").change(function () {
            if (this.value.includes("Consolidation Adjustment")) {
                $("#TransanctionReversalContainer").toggle(false)
                $(".JournalAdjustmentContainer").toggle(true)
                $("#JournalCodeContainer").toggle(false)
                $(".trxReversal").toggle(false)
            } else {
                $("#TransanctionReversalContainer").toggle(true)
                $(".JournalAdjustmentContainer").toggle(false)
                $("#JournalCodeContainer").toggle(true)
                $(".trxReversal").toggle(true)
            }
            $("#SubBudgetClass").val('Please choose sub budget class')
        });

        $(".exchange-rate").toggle(false)
        $("#SubBudgetClass").change(function () {
            var SBC = $("#SubBudgetClass").val();
            if (SBC != "Please choose sub budget class") {
                $(".currency").text(SBC.split('-')[1]);
                if (SBC.split('-')[1] === "TZS") {
                    $(".exchange-rate").toggle(false)
                } else {
                    $(".exchange-rate").toggle(true)
                }
            }
        });

        $("#Reason").change(function () {
            var reason = $("#Reason").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("IsGots", "ConsoAdjustment")',
                data: {
                    reason: reason
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    debugger
                    var status = response.data;
                    if (status != "Error") {

                        if (status) {
                            var ist = "00170000-Government of Tanzania";
                            document.getElementById("DrInstitutionCode").value = "00170000";
                            document.getElementById("DrInstitutionName").value = "Government of Tanzania";
                            document.getElementById("DrInstitution").value = ist;
                            document.getElementById("CrInstitutionCode").value = "00170000";
                            document.getElementById("CrInstitutionName").value = "Government of Tanzania";
                            document.getElementById("CrInstitution").value = ist;
                            $("#Crist").toggle(false);
                            $("#Drist").toggle(false);
                            Crist
                        } else {
                            document.getElementById("DrInstitutionCode").value = "";
                            document.getElementById("DrInstitutionName").value = "";
                            document.getElementById("DrInstitution").value = "";
                            document.getElementById("CrInstitutionCode").value = "";
                            document.getElementById("CrInstitutionName").value = "";
                            document.getElementById("CrInstitution").value = "";
                            $("#Crist").toggle(true);
                            $("#Drist").toggle(true);
                        }

                    } else {
                        //$("#loader").text("Something went wrong, please contact system administrator!");
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });

        });

        var dt_search_gl_item = $('#dt_search_gl_item').dataTable({
            "language": {
                "emptyTable": "<strong id='loader'>No data available in table</strong>"
            }
        });
        $("#dt_search_gl_item_wrapper .dt-toolbar").remove();
        $("#searchbox_").on("keyup search input paste cut", function () {
            dt_search_gl_item.DataTable().search(this.value).draw();
        });

        var dt_search_institution_item = $('#dt_search_institution_item').dataTable({
            "language": {
                "emptyTable": "<strong id='loader'>No data available in table</strong>"
            }
        });
        $("#dt_search_institution_item_wrapper .dt-toolbar").remove();
        $("#searchbox_").on("keyup search input paste cut", function () {
            dt_search_institution_item.DataTable().search(this.value).draw();
        });

        var _data = [];

        var accountType = 0
        function openSearchGL(type) {
            //debugger
            if (!$("#ApplyDate").val()) {
                swal("Please choose apply date")
                return
            }

            if (!$("#Reason").val()) {
                swal("Please choose adjustment category")
                return
            }
            //loadGlItems()
            accountType = type;
            $("#glItemsModal").modal('show');
            loadJournalAdjustmentDetails();

        }

        function openSearchInstitution(type) {
            debugger
            if (!$("#ApplyDate").val()) {
                swal("Please choose apply date")
                return
            }
            var gfscode = "";

            if (type == 1) {
                if (DR_ids.length == 0) {
                    swal("Please choose Dr Account")
                    return
                }
                 gfscode = DR_ids[0]["GfsCode"];

            }
            else if (type == 0) {
                if (CR_ids.length == 0) {
                    swal("Please choose Cr Account")
                    return
                }
                gfscode = CR_ids[0]["GfsCode"];

            }

            accountType = type;
            $("#institutionItemsModal").modal('show');
            loadInstitutionDetails(gfscode);

        }

        //function loadGlItems() {
        //    //debugger
        //    loadJournalAdjustmentDetails();
        //    //if ($("#AdjustType").val() == 'Account Journal Adjustment') {
        //    //    loadJournalAdjustmentDetails('AJ')
        //    //} else if ($("#AdjustType").val() == 'Journal Adjustment') {
        //    //    loadJournalAdjustmentDetails('GJ')
        //    //} else if ($("#AdjustType").val() == 'Subwarrant Adjustment') {
        //    //    loadJournalAdjustmentDetails('SW')
        //    //}
        //}

        function loadJournalAdjustmentDetails1() {
            debugger
            dt_search_gl_item.fnClearTable();
            $("#dt_search_gl_item #loader").text("Loading please wait...");
            var reason = $("#Reason").val();
            var type = accountType == 1 ? "DR" : "CR";
            $('#dt_search_gl_item').DataTable({
                processing: true,  // Show processing indicator
                serverSide: true,  // Enable server-side processing
                ajax: {
                    url: '@Url.Action("GetGfsCode1", "ConsoAdjustment")',
                    type: 'GET',
                    data: function (d) {
                        d.type = type;  // Pass additional parameters
                        d.reason = reason;
                    }
                },
                columns: [
                    { data: null, render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1; // Serial number
                    }},
                    { data: "GfsCode" },
                    { data: "GfsCodeDescr" },
                    { data: null, render: function (data, type, row) {
                        return `<a href="#" onclick="glItemClicked('${row.GfsCode}')"><i class="fa fa-plus"></i></a>`;
                    }}
                ]
            });
        }

        function loadJournalAdjustmentDetails() {
            debugger
            dt_search_gl_item.fnClearTable();
            $("#dt_search_gl_item #loader").text("Loading please wait...");
            var reason = $("#Reason").val();
            var type = accountType == 1 ? "DR" : "CR";
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetGfsCode", "ConsoAdjustment")',
                data: {
                    type: type,
                    reason: reason
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    debugger
                    var status = response.data.Status;
                    _data = response.data.Data;
                    if (status == "Success") {
                        if (_data.length > 0) {
                            for (var i = 0; i < _data.length; i++) {
                                dt_search_gl_item.fnAddData([i + 1,
                                _data[i]["GfsCode"],
                                _data[i]["GfsCodeDescr"],
                                '<a href="#" onclick="glItemClicked(' + i + ')"><i class="fa fa-plus"></i></a>'
                                ]);
                            }
                        }
                        else {
                            $("#loader").text("No data found...");
                        }
                    } else {
                        $("#loader").text("Something went wrong, please contact system administrator!");
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function loadInstitutionDetails(gfscode) {
             debugger
            dt_search_institution_item.fnClearTable();
            $("#dt_search_institution_item #loader").text("Loading please wait...");
            var applydate = $("#ApplyDate").val()
            //var type = accountType == 1 ? "DR" : "CR";
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInstitution", "ConsoAdjustment")',
                data: {
                    applydate: applydate,
                    gfscode: gfscode
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    debugger
                    var status = response.data.Status;
                    _data = response.data.InstitutionGfsCode;
                    if (status == "Success") {
                        if (_data.length > 0) {
                            for (var i = 0; i < _data.length; i++) {
                                dt_search_institution_item.fnAddData([i + 1,
                                _data[i]["GFSCode"],
                                _data[i]["GFSCodeDesc"],
                                _data[i]["InstitutionCode"],
                                _data[i]["InstitutionName"],
                                _data[i]["TBAmount"],
                                '<a href="#" onclick="instItemClicked(' + i + ')"><i class="fa fa-plus"></i></a>'
                                ]);
                            }
                        }
                        else {
                            $("#dt_search_institution_item #loader").text("No data found...");
                        }
                    } else {
                        $("#dt_search_institution_item #loader").text("Something went wrong, please contact system administrator!");
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        function glItemClicked(i) {
            debugger
            if (!checkForDuplicateGLAccount(i)) {
                swal("this GfsCode exists..!!")
            } else {
                if (accountType == 0) {
                    CR_ids.push(_data[i])
                } else {
                    DR_ids.push(_data[i])
                }
                updateTableGlAccJournalAdjustment()
            }
        }

        function instItemClicked(i) {
            debugger
            $("#institutionItemsModal").modal('hide')
            if (accountType == 1) {
                DR_ids.forEach(d => {
                    if (d["GfsCode"] == _data[i]["GFSCode"]) {
                        debugger
                        //isValid = false
                        var ist = _data[i]["InstitutionCode"] + "- " + _data[i]["InstitutionName"];
                        document.getElementById("DrInstitutionCode").value = _data[i]["InstitutionCode"];
                        document.getElementById("DrInstitutionName").value = _data[i]["InstitutionName"];
                        document.getElementById("DrInstitution").value = ist;

                    }
                });
            } else if (accountType == 0) {
                CR_ids.forEach(d => {
                    if (d["GfsCode"] == _data[i]["GFSCode"]) {
                        debugger
                        //isValid = false
                        var ist = _data[i]["InstitutionCode"] + "- " + _data[i]["InstitutionName"];
                        document.getElementById("CrInstitutionCode").value = _data[i]["InstitutionCode"];
                        document.getElementById("CrInstitutionName").value = _data[i]["InstitutionName"];
                        document.getElementById("CrInstitution").value = ist;

                    }
                });
            }

        }

        function checkForDuplicateGLAccount(i) {
            var isValid = true
            CR_ids.concat(DR_ids).forEach(d=> {
                if (d["GfsCode"] == _data[i]["GfsCode"]) {
                    isValid = false
                }
            });
            return isValid
        }

        function removeGlAccCr(j) {
            swal({
                title: "Remove this Item?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    CR_ids.splice(j, 1)
                    updateTableGlAccJournalAdjustment()
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function removeGlAccDr(j) {
            swal({
                title: "Remove this Item?",
                buttons: ['No','Yes'],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    DR_ids.splice(j, 1)
                    updateTableGlAccJournalAdjustment()
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function updateTableGlAccJournalAdjustment() {
            debugger
            var DrCr = [];
            for (var j = 0; j < DR_ids.length; j++) {
                DrCr.push(
                     '<tr>\
                            <td><a href="#" onclick="removeGlAccDr('+ j + ')">' + DR_ids[j]["GfsCode"] + '</a></td>\
                             <td>' + DR_ids[j]["GfsCodeDescr"] + '</td>\
                             <td><amount-input onkeyup="computeTotalAmounts()" id="IdDr-' + j + '"/></td>\
                            <td>-</td>\
                      </tr>')
            }

            for (var j = 0; j < CR_ids.length; j++) {
                DrCr.push(
                     '<tr>\
                           <td><a href="#" onclick="removeGlAccCr('+ j + ')">' + CR_ids[j]["GfsCode"] + '</a></td>\
                            <td>' + CR_ids[j]["GfsCodeDescr"] + '</td>\
                            <td>-</td>\
                            <td><amount-input onkeyup="computeTotalAmounts()" id="IdCr-' + j + '"/></td>\
                      </tr>')
            }

            DrCr.push('<tr>\
                        <td colspan="2" style="border-bottom-color:white;border-left-color:white;text-align:right;"><strong>TOTAL</strong></td>\
                        <td><strong id="dr_amount">0</strong></td>\
                        <td><strong id="cr_amount">0</strong></td>\
                      </tr>')

            DrCr = DrCr.toString().replace("]", "").replace("[", "")
            DrCr = DrCr.split(",").join("")
            $("#table_crdr2").html(DrCr);
            $("#glItemsModal").modal('hide')
        }

        var glItemsList = []
        var dr_status = [];
        var cr_status = [];

        function computeTotalAmounts() {
            debugger
            var TotalCr = 0;
            var TotalDr = 0;
            glItemsList = [];

            for (var j = 0; j < DR_ids.length; j++) {
                var val = $("#_IdDr-" + j + "").val() ? $("#_IdDr-" + j + "").val().split(",").join("") : 0
                TotalDr += parseFloat(val)

                if (val > 0) {
                    glItemsList.push({
                        GfsCode: DR_ids[j]["GfsCode"],
                        GFSCodeDesc: DR_ids[j]["GfsCodeDescr"],
                        Amount: val,
                        TrxType: "DR",
                        //FundingRefNo: DR_ids[j]["FundingRefNo"],
                        //SubLevelCode: DR_ids[j]["SublevelCode"],
                        //ParentInstitutionCode: DR_ids[j]["ParentInstitutionCode"],
                        //ParentInstitutionName: DR_ids[j]["ParentInstitutionName"],
                        DrGfsCode: DR_ids[j]["GfsCode"],
                    })
                }

                //if ($("#AdjustType").val() != "Account Journal Adjustment") {
                //    if (DR_ids[j]["GlAccount"][69] == '2' || DR_ids[j]["GlAccount"][69] == '3') {
                //        if (val > DR_ids[j]["FundBalance"]) {
                //            $("#_IdDr-" + j + "").css({ 'color': 'red' });
                //            dr_status.push(j)
                //        } else {
                //            $("#_IdDr-" + j + "").css({ 'color': 'black' });
                //            remove(dr_status, j)
                //        }
                //    } else if (DR_ids[j]["GlAccount"][69] == '1') {
                //        if (val > DR_ids[j]["ExpenditureToDate"]) {
                //            $("#_IdDr-" + j + "").css({ 'color': 'red' });
                //            dr_status.push(j)
                //        } else {
                //            $("#_IdDr-" + j + "").css({ 'color': 'black' });
                //            remove(dr_status, j)
                //        }
                //    }
                //}
            }

            for (var j = 0; j < CR_ids.length; j++) {
                var val = $("#_IdCr-" + j + "").val() ? $("#_IdCr-" + j + "").val().split(",").join("") : 0
                TotalCr += parseFloat(val)

                if (val > 0) {
                    glItemsList.push({
                        GfsCode: CR_ids[j]["GfsCode"],
                        GFSCodeDesc: CR_ids[j]["GfsCodeDescr"],
                        Amount: val,
                        TrxType: "CR",
                        //FundingRefNo: CR_ids[j]["FundingRefNo"],
                        //SubLevelCode: CR_ids[j]["SublevelCode"],
                        //ParentInstitutionCode: CR_ids[j]["ParentInstitutionCode"],
                        //ParentInstitutionName: CR_ids[j]["ParentInstitutionName"],
                        DrGfsCode: DR_ids[j]["DrGfsCode"],
                    })
                }

                //if ($("#AdjustType").val() != "Account Journal Adjustment") {
                //    if (CR_ids[j]["GlAccount"][69] == '2' || CR_ids[j]["GlAccount"][69] == '3') {
                //        if (val > CR_ids[j]["ExpenditureToDate"]) {
                //            $("#_IdCr-" + j + "").css({ 'color': 'red' });
                //            cr_status.push(j)
                //        } else {
                //            $("#_IdCr-" + j + "").css({ 'color': 'black' });
                //            remove(cr_status, j)
                //        }
                //    }
                //}
            }

            $("#cr_amount").text(TotalCr.toLocaleString());
            $("#dr_amount").text(TotalDr.toLocaleString());
        }

        var form_data_status = [];

        function saveGlItems() {
            if (form_data_status.length > 0) {
                swal("Insufficient balance!")
            } else {
                saveGlItemsProceed()
            }
        }

        function saveGlItemsProceed() {
            var _data1 = dt_search_gl_item.DataTable().rows().data();
            var DrCr = [];
            var TotalCr = 0;
            var TotalDr = 0;

            DR_ids.forEach(Id => {
                var row = _data1.rows(Id).data()[0]
                if (parseFloat($("#_Id-" + Id + "").val().split(",").join("")) > 0) {
                    DrCr.push(
                         '<tr>\
                            <td>' + row[1] + '</td>\
                             <td>' + row[3] + '</td>\
                             <td>' + row[4] + '</td>\
                             <td>' + $("#_Id-" + Id + "").val() + '</td>\
                            <td>-</td>\
                         </tr>')
                    TotalDr += parseFloat($("#_Id-" + Id + "").val().split(",").join(""))
                }
            })

            CR_ids.forEach(Id => {
                var row = _data1.rows(Id).data()[0]
                if (parseFloat($("#_Id-" + Id + "").val().split(",").join("")) > 0) {
                    DrCr.push(
                         '<tr>\
                              <td>' + row[1] + '</td>\
                              <td>' + row[3] + '</td>\
                              <td>' + row[4] + '</td>\
                             <td>-</td>\
                             <td>' + $("#_Id-" + Id + "").val() + '</td>\
                         </tr>')
                    TotalCr += parseFloat($("#_Id-" + Id + "").val().split(",").join(""))
                }
            })

            if (TotalDr > 0 || TotalCr > 0) {
                DrCr.push('<tr>\
                        <td colspan="3" style="border-bottom-color:white;border-left-color:white;text-align:right;"><strong>TOTAL</strong></td>\
                        <td><strong>' + TotalDr.toLocaleString() + '</strong></td>\
                        <td><strong>' + TotalCr.toLocaleString() + '</strong></td>\
                      </tr>')

                DrCr = DrCr.toString().replace("]", "").replace("[", "")
                DrCr = DrCr.split(",").join("")
                $("#table_crdr2").html(DrCr);
            }
            $("#glItemsModal").modal('hide')
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

    </script>
}




