
@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.PaymentVoucher>

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }
</style>

@*@Html.Partial("_ReportHeader")*@
<div class="row">
    <div style="padding-top:10px;padding-bottom:10px; text-align:center">GOVERNMENT OF TANZANIA</div>
    <div class="col-md-8" style="text-align: center">
        <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="150" height="150" class="img-responsive" />

        <h4>@ViewBag.ReportTitle</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-8" style="text-align:left">
        <div>
           <b> Payee Name:</b> @ViewBag.PayeeName
        </div>
        <div style="padding-top: 10px">
            <b>Payee Code:</b> @ViewBag.PayeeCode
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px">
            <b>Date:</b> @DateTime.Now.ToString("dd/ MM /yyyy")
        </div>
    </div>
</div>
<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-body">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                @*<thead>
                    <tr style="background-color: #f5f5f5; color:black">
                        <td colspan="7"><b>Payee Code</b> </td>
                        <td style="text-align:right"><b>Total Amount</b></td>
                    </tr>
                </thead>*@
                <tbody>
                    @{
                        int i = 0;

                        decimal? grandTotal = 0;
                        decimal? totalAmount = 0;

                    }
                   
                        <tr style="background:#f5f5f5; color:#000000">
                            <th>#</th>
                            <th>Voucher Number</th>
                            <th>Account Number</th>
                            <th>Bank Name</th>
                            <th>Overall Status</th>
                            <th>Payement Description</th>
                            <th>Institution Name</th>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            grandTotal += item.OperationalAmount;
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PVNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayeeBankAccount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PayeeBankName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OverallStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Narration)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstitutionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt, "_ShortDateTime")
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.OperationalAmount)
                                </td>
                            </tr>

                    }
                </tbody>
                <tfoot>
                    <tr style="background:#f5f5f5; color:#000000">
                        <td style="text-align: right" colspan="8"><b>Total Amount</b></td>
                        <td style="text-align: right"><b>@string.Format("{0:#,0.00}", grandTotal)</b></td>
                    </tr>
                </tfoot>

            </table>

        </div>
    </div>
</div>


