@model IFMIS.Areas.IFMISTZ.Models.CreatePayeeVM

<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Create Payee </h2>
                    </header>
                    <div>
                        <div>Note: All Fields are Mandatory</div>
                    </div>

                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                        @Html.LabelFor(model => model.IdTypeId, "Payee Code Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.IdTypeId, Model.IdTypeIds, "---select---", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdTypeId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                            @Html.LabelFor(model => model.PayeeCode, "Payee Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.PayeeCode, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PayeeCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        @Html.LabelFor(model => model.PayeeName, "Payee Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.PayeeName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PayeeName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                            @Html.LabelFor(model => model.PayeeTypeCode, "Payee Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("PayeeTypeCode", new SelectList(ViewBag.PayeeTypesList, "PayeeTypeCode", "PayeeTypeCode"),"---select---", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.PayeeTypeCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber1, "Mobile Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.PhoneNumber1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber1, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                            @Html.LabelFor(model => model.Address1, "Address", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        @Html.LabelFor(model => model.IsGovernmentEntity, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">
                                        <select class="form-control" name="IsGovernmentEntity" id="IsGovernmentEntity">
                                            <option selected="selected" value="">---Select---</option>
                                            <option value="true"> Yes</option>
                                            <option value="false"> No</option>
                                        </select>
                                      @*  @Html.EditorFor(model => model.IsGovernmentEntity, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.IsGovernmentEntity, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                            @Html.LabelFor(model => model.Accountnumber, "Account Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.Accountnumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Accountnumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                    <div class="form-group">
                                            @Html.LabelFor(model => model.Bankid, "Bank Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("Bankid", new SelectList(ViewBag.Banks, "Bankid", "BankName"), "---select---",new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Bankid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.RequireControlNum, "Require Control Number?", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-3">
                                                <select class="form-control" name="RequireControlNum" id="RequireControlNum">
                                                    <option selected="selected" value="">---Select---</option>
                                                    <option value="true"> Yes</option>
                                                    <option value="false"> No</option>
                                                </select>
                                                @*@Html.EditorFor(model => model.RequireControlNum, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.RequireControlNum, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.FileName, "Attachment", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-3">*@
                                        @*<div class="col-md-offset-2 col-md-3">*@
                                        @*@Html.TextBoxFor(model => model.FileName, new { type = "file", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-info" type="submit" style="float: left">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("PayeeList","Payees")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<style type="text/css">
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>