@model IFMIS.Areas.IFMISTZ.Models.PayeeListVM

@{
    ViewBag.Title = "Details";
}
<<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Payee Details </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">


                            <div>
                                <dl class="dl-horizontal table-stripped">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PayeeCode)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PayeeCode)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.TIN)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.TIN)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.PayeeName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PayeeName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.PayeeShortName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PayeeShortName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.PhoneNumber1)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PhoneNumber1)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.PhoneNumber2)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PhoneNumber2)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Address1)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Address1)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Address2)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Address2)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.IsGovernmentEntity)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.IsGovernmentEntity)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.City)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.City)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Country)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Country)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Fax)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Fax)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Telephone)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Telephone)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Zip)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Zip)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.EmailAddress)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.EmailAddress)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.BIC)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BIC)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.BankName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.BankName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.AccountNumber)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.AccountNumber)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.AccountName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AccountName)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.OverallStatus)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.OverallStatus)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CreatedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CreatedAt)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.UpdatedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.UpdatedAt)
                                    </dd>
                                </dl>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<div class="col-md-2">
                                            </div>*@
                                        <div class="col-md-10">
                                            <a href="@Request.UrlReferrer" style="margin-right:-10px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


