@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.ContractVariation>
@{var i = 0;}
@if(Model !=null){
foreach (var item in Model)
  {
    i++;
<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Variation Number :@i </legend>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation type&nbsp;:</strong>&nbsp; @Html.DisplayFor(modelItem => item.VariationType)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation reason&nbsp;:</strong>&nbsp;    @Html.DisplayFor(modelItem => item.VariationReason)</div>
    </div>
    @if (item.VariationType == "By Increasing Amount")
        {
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Amount increased&nbsp;:</strong>&nbsp; @Html.DisplayFor(modelItem => item.VariationAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation at&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy") </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <strong>More details link&nbsp;:</strong>&nbsp;
            <a href="@Url.Action("PreviewVariation", "ContractVariation",new {id=item.ContractVariationId })" class="btn-xs edit" target="_blank">
                More Details
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <strong>Attachment link&nbsp;:</strong>&nbsp;
            <a href="@Url.Action("AttachmentView", "PaymentVoucherAttachments",new {groupId=item.ContractVariationId,sourceModule="VariationEntry" })" class="btn-xs edit" target="_blank">
                Attachments
            </a>
        </div>
    </div>
        }else if (item.VariationType == "By Decreasing Amount"){
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Amount decreased&nbsp;:</strong>&nbsp; @Html.DisplayFor(modelItem => item.VariationAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation at&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy") </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <strong>More details link&nbsp;:</strong>&nbsp;
            <a href="@Url.Action("PreviewVariation", "ContractVariation",new {id=item.ContractVariationId })" class="btn-xs edit" target="_blank">
                More Details
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <strong>Attachment link&nbsp;:</strong>&nbsp;
            <a href="@Url.Action("AttachmentView", "PaymentVoucherAttachments",new {groupId=item.ContractVariationId,sourceModule="VariationEntry" })" class="btn-xs edit" target="_blank">
                Attachments
            </a>
        </div>
    </div>

        }else{
    <div class="row">
        @if(item.PreviousStartDate !=null){
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Previous start date&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.PreviousStartDate).ToString("dd/MM/yyyy") </div>
         }
        @if(item.PreviousEndDate !=null){
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Previous end date&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.PreviousEndDate).ToString("dd/MM/yyyy") </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>New start date&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.NewStartDate).ToString("dd/MM/yyyy") </div>
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>New end date&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.NewEndDate).ToString("dd/MM/yyyy") </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation at&nbsp;:</strong>&nbsp; @Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy") </div>
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>&nbsp; @Html.DisplayFor(modelItem => item.OverallStatus)</div>
    </div>
            }
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>&nbsp; @Html.DisplayFor(modelItem => item.OverallStatus)</div>
    </div>

</fieldset>
}
}
















