@model IFMIS.Areas.Gacs.Models.gac_data_trxdet_u

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gac_data_trxdet_u</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransCtrlNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransCtrlNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GFSCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GFSCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassificationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassificationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EliminationFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EliminationFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EliminationFlagWithin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EliminationFlagWithin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EliminationFlagOutside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EliminationFlagOutside)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBudget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reallocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reallocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualDr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualDr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualCr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualCr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVoided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVoided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoidedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoidedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoidedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoidedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
