@model IEnumerable<IFMIS.Areas.Gacs.Models.gac_data_trxdet_u>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransCtrlNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GFSCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassificationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EliminationFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EliminationFlagWithin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EliminationFlagOutside)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reallocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualDr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualCr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosedFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVoided)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoidedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoidedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransCtrlNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GFSCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassificationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EliminationFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EliminationFlagWithin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EliminationFlagOutside)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBudget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reallocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualDr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualCr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosedFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVoided)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoidedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoidedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
