@model IEnumerable<IFMIS.Areas.LoanMod.Models.LoanApplicationVM>
@{
    ViewBag.Title = "Loan Application Assignment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

      .widget-body {
        position: relative;
    }

    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                            </div>

                            <table class="table  table-bordered table-hover table-condensed" id="dt_loan">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Application No</th>
                                        <th>Assigned To</th>
                                        <th>Duration (Days)</th>
                                        <th>Customer Name</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Customer Type</th>
                                        <th>Applied Amount</th>
                                        <th>Loan Product</th>
                                        <th>Ward</th>
                                        <th>Application Date</th>
                                        <th>Assigned Date</th>
                                        <th>OverallStatus</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@Html.DisplayFor(modelItem => item.ApplicationNo)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                                                @{
                                                    var date11 = String.Format("{0:M/d/yyyy}", DateTime.Now);
                                                    var date22 = String.Format("{0:M/d/yyyy}", item.CreatedAt);
                                                    var date1 = @Convert.ToDateTime(DateTime.Now).Date;
                                                    var date2 = @Convert.ToDateTime(item.CreatedAt).Date;
                                                    TimeSpan value = date1.Subtract(date2);
                                                }
                                                @if (value.Days == 0)
                                                {
                                                    <td><b>NILL</b></td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;font-weight:bold"><b>@value.Days </b></td>
                                                }
                                                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                                <td>@Html.DisplayFor(modelItem => item.CustomerTypeName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.AppliedLoanAmount)</td>
                                                <td>@Html.DisplayFor(modelItem => item.LoanSubProductName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.WardName)</td>
                                                <td>@Convert.ToDateTime(item.ApplyDate).ToString("dd/MM/yyyy") </td>
                                                <td>@Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy") </td>
                                                @if (item.OverallStatus == IFMIS.Libraries.Constants.ASSIGNED)
                                                {
                                                    <td>@IFMIS.Libraries.Constants.APPROVED</td>
                                                }

                                                <td style="text-align:center">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li id="decisionList"><a href="#" data-toggle="modal" data-id=@item.LoanApplicationAssignmentId data-loannum='@item.ApplicationNo' data-fullname='@item.Fullname' class="cancelLoanApplicationAssignment  btn-xs edit">Cancel</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                                        }
                                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        /* BASIC ;*/
        var responsiveHelper_dt_loan = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $('#dt_loan').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_loan) {
                    responsiveHelper_dt_loan = new ResponsiveDatatablesHelper($('#dt_loan'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_loan.createExpandIcon(nRow);
            },
            "drawCallback": function (oLoanApplications) {
                responsiveHelper_dt_loan.respond();
            }
        });

        /* END BASIC */


        $(".cancelLoanApplicationAssignment").on('click', function () {
            var id = $(this).data('id');
            var loannum = $(this).data('loannum');
            var fullname = $(this).data('fullname');
            swal({
                title: 'Loan Application Assignment Cancellation',
                text: "Do you what to Cancel Assignment for Loan: " + loannum + " Assigned To: " + fullname + " ?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    var url = '@Url.Action("CancelLoanApplicationAssignment", "LoanApplication")';
                    document.getElementById("decisionList").style.display = "none";
                    $.ajax(
        {
            type: "POST",
            url: url,
            data: { id: id },
            success: function (response) {
                document.getElementById("decisionList").style.display = "block";
                if (response == "Success") {

                    swal("Cancelled successfully!", { icon: "success" })
                              .then((value) => {
                                  location.reload();
                              });


                }
                else {

                    swal("Failed to Cancel Loan Application");
                }
            },
            error: function (xhr) {
                swal(error);
                $("#divLoader").hide();
            },

        });
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        });

    </script>
}
