@model IEnumerable<IFMIS.Areas.LoanMod.Models.LoanApplicationVM>
@{
    ViewBag.Title = "Loan Officer Assignment ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

       .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    /*input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }*/

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .widget-body {
        position: relative;
    }

    .loadingImg {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 50%;
    }

    .backgroundColor {
        background: #ff0000;
    }
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <select name="LoanAppraiserId" id="LoanAppraiserId" required class="form-control select2">
                                        @if (ViewBag.LoanAccessorList != null)
                                        {
                                            <option value="NULL">Select Appraiser</option>
                                            foreach (var appraiser in ViewBag.LoanAccessorList)
                                            {
                                                if (appraiser.CheckNumber != "")
                                                {
                                                    <option value='@appraiser.LoanAccessorId'>@appraiser.Fullname - @appraiser.CheckNumber</option>
                                                }
                                                else
                                                {
                                                    <option value='@appraiser.LoanAccessorId'>@appraiser.Fullname - @appraiser.Email</option>
                                                }

                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-info AssignBtn" id="Assign" onclick="AssignLoanOfficer()">
                                        Assign Loan Application(s)
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="widget-body">
                            @Html.AntiForgeryToken()
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" id="ImageLoader" />
                            </div>
                            <table id="dt_appraisal_list" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        @*<th><input type="checkbox" onchange="checkAll()" id="checkall" /></th>*@
                                        <th></th>
                                        <th>Application No</th>
                                        <th>Customer Name</th>
                                        <th>Applied Amount</th>
                                        <th>Registration Date</th>
                                        <th>Application Date</th>
                                        <th>OverallStatus</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div class="modal fade" id="payeeModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">


            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Appraiser</h3>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container submit-btn" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Loan Appraiser Id</th>
                            <th>Fullname</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Check Number</th>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

@section pagespecific{

    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
            document.getElementById("ImageLoader").style.marginLeft = "auto";
            document.getElementById("ImageLoader").style.marginRight = "auto";
            document.getElementById("ImageLoader").style.position = "absolute";
            document.getElementById("ImageLoader").style.top = "50%";
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        
        $(".AssignBtn").attr('disabled', true);

        /* BASIC ;*/
        var responsiveHelper_dt_loan = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };
        /*BEGINNING DATA TABLE*/
        /*END DATA TABLE*/
        var dt_appraisal_list = $('#dt_appraisal_list').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            },
            //"Dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
            //    "t" +
            //    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
        });

        var checkedRows = [];
        function rowChecked(rowId) {
            if ($("#row-" + rowId).is(":checked")) {
                checkedRows.push(rowId);
            } else {
                remove(checkedRows, rowId);
            }
            toggleAssignButton();
        }

        function checkAll() {
            checkedRows = [];
            if ($("#checkall").is(":checked")) {
                for (var i = 0; i < w_data.length; i++) {
                    var Id = w_data[i].a.LoanApplicationId
                    checkedRows.push(Id);
                    $("#row-" + Id).prop('checked', true);
                }
            } else {
                for (var i = 0; i < w_data.length; i++) {
                    var Id = w_data[i].a.LoanApplicationId
                    $("#row-" + Id).prop('checked', false);
                }
            }
            toggleConfirmButton();
        }

        function toggleAssignButton() {
            if (checkedRows.length > 0) {
                var data = dt_appraisal_list.DataTable().rows().data();
                checkedRows.forEach(rowId=> {
                    var row = data.rows(rowId).data()[0];
                });
                $("#Assign").attr('disabled', false);
            } else {
                $("#Assign").attr('disabled', true);
            }
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

        var LoanAppraiserId = null;
        var LoanApplicationIds = [];
        function AssignLoanOfficer() {
             LoanAppraiserId = document.getElementById("LoanAppraiserId").value;
            if (LoanAppraiserId == "NULL") {
                swal("Please Select Appraiser First", { icon: "warning" });
                return false;
            }

            swal({
                text: "Assign Selected Application(s)?",
                buttons: ["NO", "YES"],
            }).then((assign) => {
                if (assign) {
                    postAssignLoanOfficer();
                } else {
                    swal("Cancelled");
                }
            });
        }

        function postAssignLoanOfficer() {
            checkedRows.forEach(rowId => {
                LoanApplicationIds.push(data[rowId]['LoanApplicationId']);
            });

            var url = '@Url.Action("AssignApplicationToOfficer", "LoanApplication")';
            $.ajax({
                type: "post",
                url: url,
                data: { "LoanApplicationIds": LoanApplicationIds, "__RequestVerificationToken": $("[name=__RequestVerificationToken]").val(), "LoanAppraiserId": LoanAppraiserId, "Stage": "@IFMIS.Libraries.Constants.APPLICATION" },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == 'Success') {
                        swal("Application(s) Assigned successfully!", { icon: "success" })
                        .then((e) => {
                            window.location.href = '@Url.Action("LoanOfficerAssignmentList", "LoanApplication")';
                        });
                    } else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        var data = [];
        var LoanApplicationId = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetLoanOfficerAssignmentList", "LoanApplication")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_appraisal_list.fnClearTable();
                for (var i = 0; i < data.length; i++) {

                    if (data[i]["ApplicationDate"] != "" && data[i]["ApplicationDate"] != null) {
                        applicationDate = ToJavaScriptDate(data[i]["ApplicationDate"]);
                    }
                    else {
                        applicationDate = "NULL";
                    }

                    var amount = data[i]["AppliedLoanAmount"];
                    if (amount != null) {
                        amount = "<p align='right'>" + toLabel(data[i]["AppliedLoanAmount"]); +"</p>"
                    } else {
                        amount = "<p align='right'>" + data[i]["AppliedLoanAmount"]; +"</p>"
                    }

                    dt_appraisal_list.fnAddData([i + 1,
                       '<input  type="checkbox" id="row-' + i + '" onchange="rowChecked(' + i + ')"/>',
                       data[i]["ApplicationNo"],
                       data[i]["CustomerName"],
                       amount,
                       ToJavaScriptDate(data[i]["CreatedAtDate"]),
                       applicationDate,
                       data[i]["OverallStatus"],
                      '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                 <li><a href="@Url.Action("ViewLoanDetails", "ViewLoanApplication")/?Id=' + data[i]["LoanApplicationId"] + '">View</a></li>\
                            </ul>\
                        </div>\ '
                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        /* END BASIC */

        $(".saveLoader").toggle(false);

    </script>
}
