@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        min-height: 100vh;
        background-color: white;
        margin: 20px;
        border-radius: 10px;
        margin-left: 80px;
        margin-right: 80px;
        padding-bottom: 20px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding-left: 20px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .section-content {
        padding-left: 180px;
        padding-right: 100px;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <section id="widget-grid">

        <div class="card">
            <div class="title"> LOAN SCORE CARD DETAILS FOR CUSTOMER:  @ViewBag.LoanCustomerName.CustomerName (@ViewBag.LoanApplicationNo.ApplicationNo)
            <br />
            @if (ViewBag.ScoreGrade != null)
            {
                <span>Score Grade: @ViewBag.ScoreGrade.ScoreGrade</span>
            }
          </div>
            @if (ViewBag.ScoreCardDetailLists != null)
            {
                <div class="detail-section">
                    <div class="section-title"></div>
                    <div class="section-content">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50px">#</th>
                                    <th>Description</th>
                                    <th>Min Value</th>
                                    <th>Max Value</th>
                                    <th>Score Value</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{var i = 0;}
                                @foreach (var item in ViewBag.ScoreCardDetailLists)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.ScoreDesc</td>
                                        <td>@item.ScoreDetailMinVal</td>
                                        <td>@item.ScoreDetailMaxVal</td>
                                        <td><b>@item.Score</b></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
                else
                {

                    <div class="row">
                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                        <div class="col-lg-6 col-sm-6 col-xs-6">

                            <div class="alert alert-block alert-info">
                                <a class="close" data-dismiss="alert" href="#">×</a>
                                <h4 class="alert-heading">Score Card Information</h4>
                                <center><span>Information not Available</span></center>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                    </div>

                }
            <div class="col-md-offset-2">
                <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

            </div>

        </div>

    </section>
</div>