@model IFMIS.Areas.LoanMod.Models.LoanApplicationVM
@{
    ViewBag.Title = "Loan Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    body {
        margin-top: 40px;
    }

    .stepwizard-step p {
        margin-top: 10px;
    }

    .stepwizard-row {
        display: table-row;
    }

    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }

    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
    }

    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .loadingImg {
        display: none;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #itemUL li {
        margin-left: -40px;
        border-bottom: 1px solid silver;
        height: 26px;
        padding-left: 5px;
        padding-top: 8px;
        cursor: pointer;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>

                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <fieldset class="scheduler-border localLeaderInformation applicationInfo" style="width:100%;">
                                <legend class="scheduler-border"><b>Applicant Information</b></legend>
                                @*BEGINNING OF APPLICANT INFORMATION*@
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="col-md-7">
                                                <table class="table  table-hover table-condensed">
                                                    <tr>
                                                        <td><strong>Customer Type</strong></td>
                                                        <td>
                                                            @foreach (var customerType in ViewBag.CustomerTypeList)
                                                            {
                                                                if (ViewBag.CustomerTypeLabel == customerType.Label)
                                                                {
                                                                    @customerType.CustomerName
                                                                }

                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr><td><strong>Full Name</strong></td><td>@Model.CustomerName</td></tr>
                                                    <tr><td><strong>Gender</strong></td><td>@Model.Gender</td></tr>
                                                    <tr><td><strong>Principal Activity</strong></td><td>@Model.Occupation</td></tr>
                                                    <tr><td><strong>Date Of Birth</strong></td><td>@Convert.ToDateTime(ViewBag.DateOfBirth).ToString("dd/MM/yyyy")</td></tr>
                                                    <tr><td><strong>Physical Address</strong></td><td>@Model.PhysicalAddress</td></tr>
                                                    <tr><td><strong>Phone Number</strong></td><td>@Model.PhoneNo</td></tr>
                                                    <tr><td><strong>Fax</strong></td><td>@Model.Fax</td></tr>
                                                    <tr><td><strong>Plot Number</strong></td><td>@Model.PlotNo</td></tr>
                                                    <tr><td><strong>Marital Status</strong></td><td>@Model.MaritalStatus</td></tr>
                                                    @*<tr><td><strong>Applicant Photo</strong></td><td><a href="#" data-toggle="modal" data-target="#ApplicantPhoto" class="btn-xs edit">View Applicant Photo</a></td></tr>*@
                                                </table>
                                            </div>
                                            <div class="col-md-5">
                                                <a href="#" data-toggle="modal" data-target="#ApplicantPhoto" class="btn-xs edit">
                                                    <img src="~/Media/Loan/Application/@ViewBag.IndividualPhotoUrl" class="img-thumbnail" style="width:250px;height:200px" />
                                                </a>
                                            </div>
                                                
                                            </div>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Tin Number</strong></td><td>@Model.TinNo</td></tr>
                                            <tr><td><strong>Email</strong></td><td>@Model.Email</td></tr>
                                            <tr><td><strong>Project Location</strong></td><td>@Model.Location</td></tr>
                                            <tr><td><strong>Project Region</strong></td>
                                            <td>
                                                @foreach (var region in ViewBag.PreviewRegionList)
                                                {
                                                    if (ViewBag.RegionId == region.RegionId)
                                                    {
                                                        @region.RegionName
                                                    }
                 
                                                }
                                            </td>
                                            </tr>
                                            <tr><td><strong>Project District</strong></td>
                                            <td>
                                                @foreach (var district in ViewBag.PreviewDistrictList)
                                                {
                                                    if (ViewBag.DistrictId == district.DistrictId)
                                                    {
                                                        @district.DistrictName
                                                    }
                                                }
                                            </td>
                                            </tr>
                                            @*<tr><td><strong>Project Division</strong></td>
                                            <td>
                                                @foreach (var division in ViewBag.PreviewDivisionList)
                                                {
                                                    if (ViewBag.DivisionId == division.DivisionId)
                                                    {
                                                        @division.DivisionName
                                                    }
                                                }
                                            </td>
                                            </tr>*@
                                            <tr><td><strong>Project Ward</strong></td><td>@ViewBag.Ward</td></tr>
                                            <tr><td><strong>Village / Street</strong></td><td>@Model.Village</td></tr>
                                            <tr><td><strong>Hamlet</strong></td><td>@Model.Hamlet</td></tr>
                                            <tr><td><strong>Title</strong></td>
                                            <td>
                                                @if (ViewBag.LoanApplicationId != 0 && ViewBag.MaritalStatus != "Married")
                                                {
                                                    <a href="#" data-toggle="modal" data-target=".IndividualAttachmentUrl" class="btn-xs edit">View Attachment</a>
                                                }

                                            </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                @* END OF APPLICANT INFORMATION*@
                            </fieldset>

                            <fieldset class="scheduler-border spouseInfo" style="width:100%;">
                                <legend class="scheduler-border"><b>Spouse Information</b></legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="col-md-7">
                                                <table class="table  table-hover table-condensed">
                                                    <tr><td><strong>Full Name</strong></td><td>@Model.SpouseName</td></tr>
                                                    <tr><td><strong>Principal Activity</strong></td><td>@Model.SpouseOccupation</td></tr>
                                                    <tr><td><strong>Date Of Birth</strong></td><td>@Convert.ToDateTime(ViewBag.SpouseDateOfBirth).ToString("dd/MM/yyyy")</td></tr>
                                                    <tr><td><strong>Physical Address</strong></td><td>@Model.SpousePhysicalAddress</td></tr>
                                                    <tr><td><strong>Phone Number</strong></td><td>@Model.SpousePhoneNumber</td></tr>
                                                </table>
                                             </div>
                                            <div class="col-md-5">
                                                <a href="#" data-toggle="modal" data-target="#SpousePhoto" class="btn-xs edit">
                                                    <img src="~/Media/Loan/Application/@ViewBag.SpousePhotoUrl" class="img-thumbnail" style="width:250px;height:200px" />
                                                </a>
                                            </div>
                                            </div>
                                           
                                        </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            @*<tr><td><strong>Spouse Photo</strong></td><td><a href="#" data-toggle="modal" data-target="#SpousePhoto" class="btn-xs edit">View Spouse Photo</a></td></tr>*@
                                            <tr><td><strong>Plot Number</strong></td><td>@Model.PlotNo</td></tr>
                                            <tr><td><strong>Location</strong></td><td>@Model.SpouseLocation</td></tr>
                                            <tr><td><strong>Email</strong></td><td>@Model.SpouseEmail</td></tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="scheduler-border institutionInfo" style="width:100%;">
                                <legend class="scheduler-border"><b>Organisation Information</b></legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Full Name</strong></td><td>@Model.OrganisationFullname</td></tr>
                                            <tr><td><strong>Registration Date</strong></td><td>@Convert.ToDateTime(ViewBag.OrganisationRegistrationDate).ToString("dd/MM/yyyy")</td></tr>
                                            <tr><td><strong>Physical Address</strong></td><td>@Model.OrganisationPhysicalAddress</td></tr>
                                            <tr><td><strong>Location</strong></td><td>@Model.OrganisationLocation</td></tr>
                                            <tr><td><strong>Phone Number</strong></td><td>@Model.OrganisationPhoneNumber</td></tr>
                                            <tr><td><strong>Fax</strong></td><td>@Model.OrganisationFax</td></tr>
                                            <tr><td><strong>Tin Number</strong></td><td>@Model.TinNo</td></tr>
                                            <tr><td><strong>Plot Number</strong></td><td>@Model.PlotNo</td></tr>
                                            <tr><td><strong>Registration Number</strong></td><td>@Model.OrganisationRegistrationNo</td></tr>
                                            
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Region</strong></td>
                                            <td>
                                                @foreach (var region in ViewBag.PreviewRegionList)
                                                {
                                                    if (ViewBag.RegionId == region.RegionId)
                                                    {
                                                       @region.RegionName
                                                    }
                                                }
                                            </td>
                                            </tr>
                                            <tr><td><strong>District</strong></td>
                                            <td>
                                                @foreach (var district in ViewBag.PreviewDistrictList)
                                                {
                                                    if (ViewBag.DistrictId == district.DistrictId)
                                                    {
                                                       @district.DistrictName
                                                    }

                                                }
                                            </td>
                                            </tr>
                                            @*<tr><td><strong>Division</strong></td>
                                            <td>
                                                @foreach (var division in ViewBag.PreviewDivisionList)
                                                {
                                                    if (ViewBag.DivisionId == division.DivisionId)
                                                    {
                                                       @division.DivisionName
                                                    }

                                                }
                                            </td>
                                            </tr>*@
                                            <tr><td><strong>Ward</strong></td><td>@ViewBag.Ward</td></tr>
                                            <tr><td><strong>Village</strong></td><td>@Model.OrganisationVillage</td></tr>
                                            <tr><td><strong>Hamlet</strong></td><td>@Model.OrganisationHamlet</td></tr>
                                            <tr><td><strong>Email</strong></td><td>@Model.OrganisationEmail</td></tr>
                                            <tr>
                                                <td><strong>Registration Certificate</strong></td>
                                                <td>
                                                    <a href="#" data-toggle="modal" data-target=".RegistrationCertificate" class="btn-xs edit">View Attachment</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            @if (ViewBag.LoanApplicationId != 0) { 
                            <fieldset class="scheduler-border" style="width:100%;">
                                <legend class="scheduler-border"><b>Loan Information</b></legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Purpose</strong></td><td>@Model.LoanPurpose</td></tr>
                                            <tr><td><strong>Product</strong></td><td>@ViewBag.LoanProductName</td></tr>
                                            <tr><td><strong>Sub Product</strong></td><td>@ViewBag.LoanSubProductName</td></tr>
                                            <tr><td><strong>Declaration</strong></td><td>@Model.LoanDeclaration</td></tr>
                                            @if ((ViewBag.LoanApplicationId != 0) && (ViewBag.LoanPurpose != null) && (ViewBag.LoanDeclaration != "Private")) { 
                                            <tr class="loanDeclarationInfo"><td><strong>Declaration Date</strong></td><td>@Convert.ToDateTime(ViewBag.LoanDeclarationDate).ToString("dd/MM/yyyy")</td></tr>
                                            <tr class="loanDeclarationInfo"><td><strong>Declaration Attachment</strong></td><td><a href="#" data-toggle="modal" data-target=".LoanDeclarationUrl" class="btn-xs edit">View Attachment</a></td></tr>
                                           }
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Applied Amount</strong></td><td>@Model.AppliedLoanAmount</td></tr>
                                            <tr><td><strong>Application Date</strong></td><td>@Convert.ToDateTime(ViewBag.ApplyDate).ToString("dd/MM/yyyy")</td></tr>
                                            <tr><td><strong>Recovery Source</strong></td><td>@Model.RepaymentSource</td></tr>
                                        </table>
                                    </div>

                                    <table class="table  table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Payee Code</th>
                                                <th>Payee Name</th>
                                                <th>Payee Bank Account</th>
                                                <th>Payee Bank Name</th>
                                                <th>Payee Account Name</th>
                                                <th>Payee Address</th>
                                                <th>Payee BIC</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @if (ViewBag.LoanPayee != null)
                                            {
                                                foreach (var payee in ViewBag.LoanPayee)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td>@payee.PayeeCode</td>
                                                        <td>@payee.PayeeName</td>
                                                        <td>@payee.PayeeBankAccount</td>
                                                        <td>@payee.PayeeBankName</td>
                                                        <td>@payee.PayeeAccountName</td>
                                                        <td>@payee.PayeeAddress</td>
                                                        <td>@payee.PayeeBIC</td>
                                                    </tr>
                                                }

                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </fieldset>
                            }
                            @if (ViewBag.Stage == 5) {
                            <fieldset class="scheduler-border normalCollateral" style="width:100%;">
                                <legend class="scheduler-border"><b>Collateral Information</b></legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Collateral type</strong></td>
                                            <td>
                                                @foreach (var collateralType in ViewBag.CollateralTypeList)
                                                {
                                                    if (ViewBag.CollateralTypeId == collateralType.CollateralTypeId)
                                                    {
                                                        @collateralType.CollateralName
                                                    }

                                                }
                                            </td>
                                            </tr>
                                            <tr><td><strong>Registration Number</strong></td><td>@Model.CollateralRegistrationNo</td></tr>
                                            <tr><td><strong>Plot Number</strong></td><td>@Model.CollateralPlotNo</td></tr>
                                            <tr><td><strong>Region</strong></td>
                                            <td>
                                                @foreach (var region in ViewBag.PreviewRegionList)
                                                {
                                                    if (ViewBag.RegionId == region.RegionId)
                                                    {
                                                        @region.RegionName
                                                    }
                                                }
                                            </td>
                                            </tr>
                                            <tr><td><strong>District</strong></td>
                                            <td>
                                                @foreach (var district in ViewBag.PreviewDistrictList)
                                                {
                                                    if (ViewBag.DistrictId == district.DistrictId)
                                                    {
                                                     @district.DistrictName
                                                    }

                                                }
                                            </td>
                                            </tr>
                                            @*<tr><td><strong>Division</strong></td>
                                            <td>
                                                @foreach (var division in ViewBag.PreviewDivisionList)
                                                {
                                                    if (ViewBag.DivisionId == division.DivisionId)
                                                    {
                                                       @division.DivisionName
                                                    }
                                                }
                                            </td>
                                            </tr>*@
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Ward</strong></td><td>@ViewBag.Ward</td></tr>
                                            <tr><td><strong>Collateral Usage</strong></td><td>@ViewBag.CollateralUsage</td></tr>
                                            <tr><td><strong>Village</strong></td><td>@Model.CollateralVillage</td></tr>
                                            <tr><td><strong>Hamlet</strong></td><td>@Model.CollateralHamlet</td></tr>
                                            <tr><td><strong>Attachment</strong></td><td><a href="#" data-toggle="modal" data-target=".CollateralAttachmentUrl" class="btn-xs edit">View Attachment</a></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                        
                            }

                            @if(ViewBag.Endorsement != null) {
                            <fieldset class="scheduler-border" style="width:100%;">
                                <legend class="scheduler-border"><b>Endorsement Information</b></legend>

                                <div class="col-md-12">
                                            <table class="table  table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Fullname</th>
                                                        <th>Title</th>
                                                        <th>Date</th>
                                                        <th>Location</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in ViewBag.Endorsement)
                                                {
                                                    <tr>
                                                        <td>@item.EndorsementFullName</td>
                                                        <td>@item.EndorsementTitle</td>
                                                        <td>@Convert.ToDateTime(item.EndorsementDate).ToString("dd/MM/yyyy")</td>
                                                        <td>@item.EndorsementLocation</td>
                                                    </tr>
                                                }

                                            </table>
                                </div>
                            </fieldset>
                            }

                            @if(ViewBag.Management != null) {
                            <fieldset class="scheduler-border management" style="width:100%;">
                                <legend class="scheduler-border"><b>Management Information</b></legend>

                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Fullname</th>
                                                <th>Title</th>
                                                <th>Contact</th>
                                                <th>Location</th>
                                                <th>Photo</th>
                                                <th>Introduction Letter</th>
                                            </tr>
                                        </thead>
                                        
                                        @foreach (var item in ViewBag.Management)
                                        {
                                            <tr>
                                                <td>@item.ManagementFullname</td>
                                                <td>@item.ManagementTitle</td>
                                                <td>@item.ManagementContact</td>
                                                <td>@item.ManagementLocation</td>
                                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = item.ManagementPhotoUrl, PathName = "Application" })" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></td>
                                                <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = item.IntroductionLetterUrl, PathName = "Application" })" target="_blank"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            </fieldset>
                            }
                            @if (ViewBag.Stage == 7)
                            {
                            <fieldset class="scheduler-border guarantorshipCollateral" style="width:100%;">
                                <legend class="scheduler-border"><b>Guarantorship Information</b></legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Meeting Number</strong></td><td>@Model.MeetingNo</td></tr>
                                            <tr><td><strong>Meeting Date</strong></td>
                                            <td>
                                            @if (ViewBag.LoanApplicationId != 0 && ViewBag.MeetingDate != "0")
                                            {
                                                @Convert.ToDateTime(ViewBag.MeetingDate).ToString("dd/MM/yyyy")
                                            }
                                               
                                                </td></tr>
                                            <tr><td><strong>Region</strong></td>
                                            <td>
                                                @foreach (var region in ViewBag.PreviewRegionList)
                                                {
                                                    if (ViewBag.RegionId == region.RegionId)
                                                    {
                                                       @region.RegionName
                                                    }
                                                }
                                            </td>
                                            </tr>
                                           
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr>
                                                <td><strong>District</strong></td>
                                                <td>
                                                    @foreach (var district in ViewBag.PreviewDistrictList)
                                                    {
                                                        if (ViewBag.DistrictId == district.DistrictId)
                                                        {
                                                            @district.DistrictName
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            <tr><td><strong>Attachment</strong></td><td><a href="#" data-toggle="modal" data-target=".GuarantorshipUrl" class="btn-xs edit">View Attachment</a></td></tr>
                                            <tr><td><strong>Agenda Number</strong></td><td>@Model.AgendaNo</td></tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            }
                            @if (ViewBag.Stage == 6)
                            {
                            <fieldset class="scheduler-border salaryCollateral" style="width:100%;">
                                <legend class="scheduler-border"><b>Collateral Information</b></legend>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Basic Salary</strong></td><td>@Model.BasicSalary</td></tr>
                                            <tr><td><strong>Net Amount</strong></td><td>@Model.NetAmount</td></tr>
                                            <tr><td><strong>Maximum Allowed Deduction</strong></td><td>@Model.MaxAllowedDeduction</td></tr>
                                            <tr><td><strong>Required Deduction</strong></td><td>@Model.RequiredDeduction</td></tr>

                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table  table-hover table-condensed">
                                            <tr><td><strong>Salary Slip</strong></td>
                                            <td>
                                                @Html.DropDownList("SalarySlipMonth", new List<SelectListItem>{
                                                            new SelectListItem{ Text="January", Value = "1" },
                                                            new SelectListItem{ Text="February", Value = "2" },
                                                            new SelectListItem{ Text="March", Value = "3" },
                                                            new SelectListItem{ Text="April", Value = "4" },
                                                            new SelectListItem{ Text="May", Value = "5" },
                                                            new SelectListItem{ Text="June", Value = "6" },
                                                            new SelectListItem{ Text="July", Value = "7" },
                                                            new SelectListItem{ Text="August", Value = "8" },
                                                            new SelectListItem{ Text="September", Value = "9" },
                                                            new SelectListItem{ Text="October", Value = "10" },
                                                            new SelectListItem{ Text="November", Value = "11" },
                                                            new SelectListItem{ Text="December", Value = "12" },
                                                             }, new { @required = "required", @disabled = "disabled", style = "width:35% !important", id = "SalarySlipMonth", onchange = "maritalStatusChange()" })
                                               @Model.SalarySlipYear
                                            </td>
                                            </tr>
                                            <tr><td><strong>Retirement Date</strong></td><td>@Convert.ToDateTime(ViewBag.RetirementDate).ToString("dd/MM/yyyy")</td></tr>
                                            <tr><td><strong>Salary Slip Attachment</strong></td><td><a href="#" data-toggle="modal" data-target=".SalarySlipAttachmentUrl" class="btn-xs edit">View Attachment</a></td></tr>
                                            <tr><td><strong>Guarantor Attachment</strong></td><td><a href="#" data-toggle="modal" data-target=".GuarantorAttachmentUrl" class="btn-xs edit">View Attachment</a></td></tr>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            }
                            @if (ViewBag.Stage == 5 || ViewBag.Stage == 6 || ViewBag.Stage == 7)
                            {
                            <fieldset class="scheduler-border" style="width:100%;">
                                <legend class="scheduler-border"><b>Attachments</b></legend>

                                <div class="col-md-12">
                                    
                                    <table class="table  table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    Preview Attachment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.LoanApplicationId != 0 && ViewBag.AttachmentName != null)
                                            {
                                                foreach (var attach in ViewBag.AttachmentName)
                                                {
                                                    <tr>
                                                        <td>@attach.AttachmentTitle</td>
                                                        @*<td><a href="@Url.Action("LoanAttachment", "LoanApplication", new { Filename = attach.AttachmentName, PathName = "Attachments" })" target="_blank">View Attachment<i class="fa fa-eye"></i></a></td>*@
                                                        <td><a href="@Url.Action("LoanAttachmentView", "LoanApplication", new { Filename = attach.AttachmentName, PathName = "Attachments" })" target="_blank"><i class="fa fa-picture-o fa-2x"></i></a></td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>

</div>

<div class="modal fade" id="ApplicantPhoto">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 align="center">Applicant Photo</h4>
            </div>

            <div class="modal-body form-horizontal">
                @if (ViewBag.IndividualPhotoUrl != null)
                {
                    <img src="~/Media/Loan/Application/@ViewBag.IndividualPhotoUrl" class="img-thumbnail" style="width:100%;height:100%" />
                }
                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SpousePhoto">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 align="center">Spouse Photo</h4>
            </div>

            <div class="modal-body form-horizontal">
                @if (ViewBag.SpousePhotoUrl != null)
                {
                    <img src="~/Media/Loan/Application/@ViewBag.SpousePhotoUrl" class="img-thumbnail" style="width:100%;height:100%" />
                }
                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade RegistrationCertificate">
    <div class="modal-dialog">
        <div class="modal-body ">
            @if (ViewBag.RegistrationCertificate != null)
            {
                <iframe id="RegistrationCertificate"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="Registration Certificate Attachment"
                        src="~/Media/Loan/Application/@ViewBag.RegistrationCertificate"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>
<div class="modal fade LoanDeclarationUrl">
    <div class="modal-dialog">
        <div class="modal-body ">

            @if (ViewBag.LoanDeclarationUrl != null && ViewBag.LoanDeclaration != "Private" && ViewBag.LoanPurpose != null)
            {
                <iframe id="LoanDeclarationUrl"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="Loan Declaration Attachment"
                        src="~/Media/Loan/Application/@ViewBag.LoanDeclarationUrl"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>

<div class="modal fade CollateralAttachmentUrl">
    <div class="modal-dialog">
        <div class="modal-body ">

            @if (ViewBag.Stage == 5 && ViewBag.CollateralAttachmentUrl != null)
            {
                <iframe id="CollateralAttachmentUrl"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="Collateral Attachment"
                        src="~/Media/Loan/Application/@ViewBag.CollateralAttachmentUrl"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>
<div class="modal fade IndividualAttachmentUrl">
    <div class="modal-dialog">
        <div class="modal-body ">

            @if (ViewBag.IndividualAttachmentUrl != null)
            {
                <iframe id="IndividualAttachmentUrl"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="Title"
                        src="~/Media/Loan/Application/@ViewBag.IndividualAttachmentUrl"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>

<div class="modal fade SalarySlipAttachmentUrl">
    <div class="modal-dialog">
        <div class="modal-body ">

            @if (ViewBag.Stage == 6 && ViewBag.SalarySlipAttachmentUrl != null)
            {
                <iframe id="SalarySlipAttachmentUrl"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="SalarySlip Attachment"
                        src="~/Media/Loan/Application/@ViewBag.SalarySlipAttachmentUrl"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>

<div class="modal fade GuarantorAttachmentUrl">
    <div class="modal-dialog">
        <div class="modal-body ">

            @if (ViewBag.Stage == 6 && ViewBag.GuarantorAttachmentUrl != null)
            {
                <iframe id="GuarantorAttachmentUrl"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="SalarySlip Attachment"
                        src="~/Media/Loan/Application/@ViewBag.GuarantorAttachmentUrl"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>

<div class="modal fade GuarantorshipUrl">
    <div class="modal-dialog">
        <div class="modal-body ">

            @if (ViewBag.Stage == 7 && ViewBag.GuarantorshipUrl != null)
            {
                <iframe id="GuarantorshipUrl"
                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                        title="Collateral Attachment"
                        src="~/Media/Loan/Application/@ViewBag.GuarantorshipUrl"
                        frameborder="1"
                        scrolling="auto"
                        height="600px"
                        width="800px"></iframe>
            }

        </div>
    </div>
</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
            //START OF CODE
            $(document).ready(function(){
                if ('@ViewBag.MaritalStatus' == "Married") {
                    $("#CustomerTypeHolder").show();
                    $(".spouseInfo").show();
                    $(".titleAttachment").hide();
                }else{
                    $(".spouseInfo").hide();
                    $(".titleAttachment").show();
                }
            });

            if ('@ViewBag.LoanApplicationId' != 0 && '@ViewBag.LoanDeclaration' != null && '@ViewBag.LoanDeclaration' != "Private") {
                $(".loanDeclarationInfo").show();
            }


            if ('@ViewBag.LoanApplicationId' != 0 && ('@ViewBag.CustomerTypeLabel' == "INDIVIDUAL" || '@ViewBag.CustomerTypeLabel' == "CIVIL SERVANT") ) {
                $(".applicationInfo").show();
                $(".btnSaveBack").show();
                $(".institutionInfo").hide();
            }

            if ('@ViewBag.LoanApplicationId' != 0 &&  ('@ViewBag.CustomerTypeLabel' != "INDIVIDUAL" && '@ViewBag.CustomerTypeLabel' != "CIVIL SERVANT")) {
                $(".institutionInfo").show();
                $(".applicationInfo").hide();
                $(".management").show();
                $("#managementInfo").show();
                $(".btnSaveBack").show();
            }

            if ('@ViewBag.Stage' == 5) {
                $(".normalCollateral").show();
                $(".salaryCollateral").hide();
                $(".guarantorshipCollateral").hide();
            }

            if ('@ViewBag.Stage' == 6) {
                $(".salaryCollateral").show();
                $(".normalCollateral").hide();
                $(".collateralUsage").hide();
                $(".guarantorshipCollateral").hide();
            }

            if ('@ViewBag.Stage' == 7) {
                $(".salaryCollateral").hide();
                $(".normalCollateral").hide();
                $(".collateralUsage").show();
                $(".guarantorshipCollateral").show();
            }

    </script>
}
