@model IFMIS.Areas.IFMISTZ.Models.FundDistributionSummary

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .total-amount {
        float: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 150px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }
    #tblDetails tr td{
    border:2px solid lightblue;
    border-collapse:initial;
    }
</style>
<br />
<div class="payee-entry">
    <div class="entry-label"> Distribution Summary </div>
    <div style="padding-left:20px">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Distribution Reference : </th>
                        <td id="fundAllocationSummaryNum"> @Model.FundDistributionSummaryNum </td>
                    </tr>
                    <tr>
                        <th> Funding Source : </th>
                        <td id="fundingSource"> @Model.FundingSource </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Fund Reference No. : </th>
                        <td id="fundingRefNo"> @Model.FundingRefNo</td>
                    </tr>
                    <tr>
                        <th> Fund Type : </th>
                        <td id="fundType"> @Model.FundType </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Subvote   </th>
                        <td id="institutionTo"> @Model.SubVoteCode - @Model.SubVoteCodeDesc </td>
                    </tr>
                    <tr>
                        <th> Total Amount: </th>
                        <td id="totalAmount"> @Model.TotalAmount </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                   
                    <tr>
                        <th>  Overall Status: </th>
                        <td id="overallStatus"> @Model.OverallStatus </td>
                    </tr>
                    
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Distribution Date: </th>
                        <td id="createdAt"> @string.Format("{0:d/M/yyyy}", Model.CreatedAt) </td>
                    </tr>
                    <tr>
                        <th> Created By: </th>
                        <td id="createdBy"> @Model.CreatedBy </td>
                    </tr>
                    
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <th> Description </th>
                        <td id="createdAt"> @string.Format("{0:d/M/yyyy}", Model.Description) </td>
                    </tr>
                    <tr>
                        <th>  </th>
                        <td id="createdBy"> </td>
                    </tr>

                </table>
            </div>
           
        </div>
    </div>
</div>
<br />

@foreach (var group in ((IEnumerable<IFMIS.Areas.IFMISTZ.Models.FundDistributions>)ViewBag.distributionDetails).GroupBy(a => a.FundDistributionSummaryId))
{
int i = 0;
decimal? totalAmount = 0;
    <table class="table table-bordered" id="tblDetails">
        
        @foreach (var groups in group.GroupBy(a => a.FundDistributionSummaryId))
        {

        <tr style="text-align:center;font-weight:bold">
            <td></td>
            <td>Debit GL Account </td>
            <td>Credit GL Account </td>
            <td> Amount </td>
        </tr>

        foreach (var group1 in groups)
        {
        i++;
        <tr>
            <td> @i </td>
            <td> @group1.DrGlAccount </td>
            <td> @group1.CrGlAccount </td>
            <td> @group1.BaseAmount </td>
            @*<td> @group1.BaseAmount </td>*@
        </tr>
          totalAmount = totalAmount + @group1.BaseAmount;
        }

        }
        
        <tr><td colspan="3" style="text-align:right;font-weight:bold">Total Amount</td><td>@totalAmount</td></tr>
        </table>
       }
        
