@model IFMIS.Areas.IFMISTZ.Models.BudgetSummary

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BudgetSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institution.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalType.JournalTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalType.JournalTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubBudgetClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubBudgetClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubBudgetClassDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubBudgetClassDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrencyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalCurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalCurrencyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaystationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaystationId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
