@model IEnumerable<IFMIS.Areas.PAYROLLS.Models.WageBillParaDetailsVM>

    @{
    //ViewBag.Title = "Wagebill Summary - " + ViewBag.CurrentMonth;
    ViewBag.Title = "Wagebill Details ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <style>
        .info-box {
            padding: 8px;
            background-color: #ECF3F8;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>

    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <div id="content" style="margin: 5px; padding-top: 50px">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Para Details</h2>
                        </header>
                        <div>
                            <div class="widget-body " style="padding-top:10px;width:100%">

                                <div style="display: flex; justify-content:space-between">
                                    <div class="info-box">
                                        <strong>MAIN VOTE: @ViewBag.Vote</strong>
                                    </div>
                                    <div class="info-box">
                                        <strong>CHECK DATE: @ViewBag.CheckDate</strong>
                                    </div>
                                    <div>
                                        <div class="search-container" style="float:right">
                                            <i class="fa fa-search searchIcon"></i>
                                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                                        </div>
                                    </div>
                                </div>
                                <table class="table  table-bordered table-hover table-condensed" id="dt_salaries">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            @*
                                            <th>Main Vote</th>*@
                                            <th>Para Vote</th>
                                            <th>Para Num of Employee</th>
                                            <th>Para Gross Amount</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{var i = 0;}
                                        @foreach (var item in Model)
                                        {
                                        i++;
                                        <tr>
                                            <td style="text-align:right">
                                                @i
                                            </td>
                                            @*
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MainVote)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ParaVote)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ParaNumEmp)
                                            </td>
                                            <td>
                                                @string.Format("{0:#,0.00}", item.ParaGrossAmount)
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-10">
                                                <a href="@Request.UrlReferrer.AbsoluteUri.ToString().Split('?')[0]?checkDate=@ViewBag.CheckDate" style="margin-right:-10px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>

    @section pagespecific {
    <script type="text/javascript">
        var dt_salaries = $('#dt_salaries').dataTable()
        $("#dt_salaries_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_salaries.DataTable().search(this.value).draw();
        });
    </script>
    }




