<table id="dt_trendAnalysisBasic" class="table table-striped table-bordered table-hover" width="50%">
    <thead>
        <tr>
            <th>#</th>
            <th>Risk Name</th>
            <th>Risk Category</th>
            <th>Risk Ranking</th>
            <th>Auditable Area Affected</th>
            <th>Action</th>
        </tr>
    </thead>
    @{
        int za = 0;
    }
<tbody>
    @if (ViewBag.RiskListObserved.Count == 0)
    {
        <tr>
            <td colspan="7" style="text-align:center">
                <span style="font-style:italic">
                    No Risk Identified:
                </span>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in ViewBag.RiskListObserved)
        {
            za++;
            <tr>
                <td>@za</td>
                <td>@item.RiskName</td>
                <td>@item.RiskCategory</td>
                <td>@item.RiskRanking</td>
                <td>
                    <ul>
                        @foreach (var itemx in @item.NewAuditableAreaName)
                        {
                            <li>
                                @itemx
                            </li>


                        }
                    </ul>

                </td>
                <td><a href="#" onclick="AddRemoveRisk(@item.RiskAssessedId)"><i class="fa fa fa-fw fa-trash-o"></i></a></td>
            </tr>
        }
    }
    </tbody>
</table>