@model IFMIS.Areas.Coadmis.Models.EngagementVM
@{
    ViewBag.Title = "Create Planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .loadingImg {
        display: none;
    }

    body {
        margin-top: 40px;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #itemUL li {
        margin-left: -40px;
        border-bottom: 1px solid silver;
        height: 26px;
        padding-left: 5px;
        padding-top: 8px;
        cursor: pointer;
    }

    .redStar {
        color: red;
        font-size: 15px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div class="row setup-content">

                                <form>
                                    @Html.HiddenFor(model => model.ClientInformationId)
                                    <div class="form-horizontal">
                                        <div class="col-xs-12">
                                            <div align="center">
                                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">Engagement Name<span class="redStar">*</span></label>
                                                    <div class="col-md-8">
                                                        @if (ViewBag.EngagementsList != null)
                                                        {
                                                            @Html.DropDownListFor(model => model.EngagementId, ViewBag.EngagementsList as SelectList, "Select Engagement", new { @class = "form-control select2" })
                                                            @Html.ValidationMessageFor(model => model.EngagementId, "", new { @class = "text-danger" })

                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownList("EngagementId", null, "Select Engagement Type", new { @class = "form-control select2" })

                                                        }
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Client Financial Year</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="ClientYearEnd" placeholder="dd/mm/YYYY" readonly autocomplete="off" class="form-control datepicker" required name="ClientYearEnd" />

                                                    </div>

                                                    <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Client Name</label>
                                                    <div class="col-md-3">
                                                        @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Start Date<i class="fa fa-times" style="color:white" id="ProjectStartDate_1"></i><span class="redStar">*</span></label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="StartDate" placeholder="dd/mm/YYYY" readonly autocomplete="off" class="form-control datepicker" required name="ProjectStartDate" />
                                                    </div>

                                                    <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">End Date<i class="fa fa-times" style="color:white" id="ProjectEndDate_1"></i><span class="redStar">*</span></label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="EndDate" placeholder="dd/mm/YYYY" readonly autocomplete="off" class="form-control datepicker" required name="ProjectEndDate" />

                                                    </div>
                                                    <div class="form-group"><div class="col-md-2"></div></div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <a href="@Url.Action("PlanningEngagementList", "PlanningEngagement")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    <button type="submit" class="btn btn-info" id="savePlanningEngagement">
                                        <i class="fa fa-save"></i>Save
                                        <img src="~/Content/img/loading.gif" class="loadingImg" />
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>

        </div>
    </section>
</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        $("#EngagementId").change(function () {
            debugger;
            var clientId = $("#EngagementId").val();
            document.getElementById('ClientYearEnd').value = "";
            document.getElementById('EndDate').value = "";
            document.getElementById('StartDate').value = "";
            if (!(clientId == null)) {
                if (!(clientId == "")) {
                    $("#divLoader").show();

                    var url = '@Url.Action("GetEngagementData", "PlanningEngagement")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: clientId },
                        success: function (data, status, jqXHR) {
                            $("#divLoader").hide();
                            if (data.success) {
                                //var clientDate = ToJavaScriptDate(data.ClientYearEndDate);
                                var endDate = ToJavaScriptDate(data.EndDate);
                                var startDate = ToJavaScriptDate(data.startDate);
                                document.getElementById('ClientYearEnd').value = data.ClientYearEndDate;
                                document.getElementById('StartDate').value = startDate;
                                document.getElementById('EndDate').value = endDate;
                                document.getElementById('ClientName').value = data.ClientName;
                                document.getElementById('ClientInformationId').value = data.ClientId;

                            } else {
                                swal("Please Add Client Financial Year End", { icon: "warning" });
                                document.getElementById('ClientYearEnd').value = "";
                                $("#saveEngagementForm").prop('disabled', true);
                            }
                        }
                    });
                }
            }

        });

        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        


       

        $("#saveLoader").toggle(false);
        $("#savePlanningEngagement").click(function () {
            debugger;
            var engagementId = $("#EngagementId").val();
            var engagementName = $("#EngagementId option:selected").text();
            var clientYearEnd = $("#ClientYearEnd").val();
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var clientName = $("#ClientName").val();
            var clientId = $("#ClientInformationId").val();

            if (engagementId == '' || clientYearEnd == '' || clientName == '' || startDate == '' || endDate == '' || clientYearEnd =="undefined") {
                swal("Please Fill All the required Fields", {icon: "warning"});
                return false;
            }
           

            var formdata = new FormData();
            formdata.append("__RequestVerificationToken", $('[name=__RequestVerificationToken]').val());
            formdata.append("EngagementId", engagementId);
            formdata.append("EngagementName", engagementName);
            formdata.append("ClientFinancialYear", clientYearEnd);
            formdata.append("StartDate", startDate);
            formdata.append("EndDate", endDate);
            formdata.append("ClientName", clientName);
            formdata.append("ClientInformationId", clientId);


            for (const value of formdata.values()) {
                console.log(value);
            }

            var url = '@Url.Action("SaveEntryPlanning", "PlanningEngagement")';
            var urlList = '@Url.Action("PlanningEngagementList", "PlanningEngagement")';
            $("#savePlanningEngagement").prop('disabled', true);
            $("#saveLoader").toggle(true);

            $.ajax({
                url: url,
                data: formdata,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#savePlanningEngagement").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = urlList;
                            });
                    } else if (response =="Duplicate") {
                        swal("Duplicate record for the same Client!", { icon: "warning" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#savePlanningEngagement").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error);
                }
            });
        })
    </script>
}

