@model IEnumerable<IFMIS.Areas.Coadmis.Models.EngagementVM>
@{
    ViewBag.Title = "Planning Phase List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }

    ul.timeline {
        list-style-type: none;
        position: relative;
    }

        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }

        ul.timeline > li {
            margin: 20px 0;
            padding-left: 20px;
        }

            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #22c0e8;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">

                            <table id="dt_application_list" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ref Number</th>
                                        <th>Engagement Name</th>
                                        <th>Client Name</th>
                                        <th>Client Year End</th>
                                        <th>Duration</th>
                                        <th>Status</th>
                                        <th style="width:30px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!-- Dialog for Confirmed or Reject-->
                            <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
                                <div class="modal-dialog" style="width: 60%">
                                    <div class="modal-content">
                                        <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Remark </h4>
                                        </div>
                                        <div id="modal-body" class="modal-body" style="padding:5px"></div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" id="btnConfirm">Save</button>
                                            <button class="btn btn-default" id="btnReject">Save</button>
                                            <button class="btn btn-default role-dismiss" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---End of the modal-->
                            <!-- Dialog for Display Details-->
                            <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
                                <div class="modal-dialog" style="width: 60%">
                                    <div class="modal-content">
                                        <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Remarks </h4>.
                                            
                                        </div>
                                        <div id="modal-bodyi" class="modal-body" style="padding:5px"></div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default role-dismiss" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---End of the modal-->
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });


        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                var mm = dt.getMonth() + 1;
                var dd = dt.getDate();
                if (mm <10) {
                    mm = "0" + mm;

                }
                if (dd <10) {
                    dd = "0" + dd;
                }
                return dd+ "/" + (mm) + "/" + dt.getFullYear();
            }
        }
        /* BASIC ;*/
        var responsiveHelper_dt_application_list = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };
        /*BEGINNING DATA TABLE*/
        /*END DATA TABLE*/
        var dt_application_list = $('#dt_application_list').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            },
            "Dom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
        });


        //$("#dt_application_list_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_application_list.DataTable().search(this.value).draw();
        });

        var data = [];
        var LoanProductId = null;
        var applicationDate = null;
        var engagementLevel = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetReviewPlanningList", "PlanningEngagement")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_application_list.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_application_list.fnAddData(
                        [i + 1,
                        data[i]["PlanningRefNo"],
                        data[i]["EngagementName"],
                        data[i]["ClientName"],
                        data[i]["ClientFinancialYear"],
                        ToJavaScriptDate(data[i]["StartDate"]) + '~' + ToJavaScriptDate(data[i]["EndDate"]),
                        data[i]["OverallStatus"],
                        actionCondition(data[i]["OverallStatus"], data[i]["PlanningEngagementId"], data[i]["ClientFinancialYear"], i)

                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });


        function actionCondition(status, planningEngagmentId,clientFy, i) {
            if (status == "Confirmed") {
                return '<div class="btn-group id="drop-' + i + '">\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                            </button>\
                            <ul class="dropdown-menu dropdown-left-manual">\
                                <li><a href="@Url.Action("CreatePlanningEngagement", "PlanningEngagement")/?id=' + planningEngagmentId + "&&clientYearEnd=" + clientFy + '">Preview Planning</a></li>\
                                <li><a onClick="Confirm('+ planningEngagmentId + ')" href="#">Review</a></li>\
                                <li><a onClick="Reject('+ planningEngagmentId + ')" href="#">Reject</a></li>\
                                <li> <a href="#" onclick="DetailsDisplay(' + planningEngagmentId + ')">Remarks</a></li >\
                            </ul>\
                        </div>'
            }
        }

         function Confirm(id) {
            $(".modal-title").text("Confirm Planning");
            $("#btnReject").hide();
            $("#btnConfirm").show();
            var stage = "Planning";

            var url ='@Url.Action("ConfirmPlanningEngagement", "PlanningEngagement")';
            var url = url + "?id=" + id + '&stage=' + stage;
            $("#modal-body").load(url, function () {
                $("#modal").modal({
                    backdrop: "static",
                    keyboard: false
                });
            });
        }
        function Reject(id) {
            debugger;
            $(".modal-title").text("Reject Planning");
            $("#btnReject").hide();
            $("#btnConfirm").show();
            var stage = "Reject";

            var url ='@Url.Action("ConfirmPlanningEngagement", "PlanningEngagement")';
            var url = url + "?id=" + id + '&stage=' + stage;
            $("#modal-body").load(url, function () {
                $("#modal").modal({
                    backdrop: "static",
                    keyboard: false
                });
            });
        }

         $("#btnConfirm").on("click", function () {
             $.validator.unobtrusive.parse("#commentForm");
            //if (!$("#btnConfirm").valid()) {
            //    return false;
            //}
             debugger;
             var remark = $('#Remarks').val();
             if (remark == null || remark =="") {
                 swal({
                     text: "Please Remark is required", icon: "warning"
                 });
                 return true;
             }

            $("#btnConfirm").prop("disabled", true);

            var formData = new FormData();

            formData.append("ModuleId", $('#ModuleId').val());
            formData.append("ModuleName", $('#ModuleName').val());
             formData.append("OverallStatus", $('#OverallStatus').val());
            formData.append("Remarks", $('#Remarks').val());
             formData.append("ModuleLevel", $('#ModuleLevel').val());
             formData.append("Source", $('#Source').val());
             formData.append("Destination", $('#Destination').val());

            var url ='@Url.Action("SaveComments", "PlanningEngagement")';

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                            if (response == "Success") {
                                swal({
                                    text: "Comment Save successfuly!",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            } else {
                                swal({
                                    text: "An error occured while processing your request, please contact system support",
                                    icon: "warning",
                                    button: "OK",
                                })
                            }
                        },
                error: function () {
                    swal({
                        text: "An error occured while processing your request, please contact system support",
                        icon: "error",
                        button: "OK",
                    })
                },
                complete: function () {
                    $("#btnConfirm").prop("disabled", false);
                }
            });
        });

        function DetailsDisplay(id) {
            $(".modal-title").text("Remarks");
            $("#btnReject").hide();
            $("#btnConfirm").hide();
            var url ='@Url.Action("GetCommentPlanningEngagement", "PlanningEngagement")';
            var url = url + "?id=" + id;
            $("#modal-body").load(url, function () {
                $("#modal").modal({
                    backdrop: "static",
                    keyboard: false
                });
            });
        }

    </script>
}
