@model IFMIS.Areas.Coadmis.Models.RelatedPart
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formRelatedPart", @style = "width: 650px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RelatedPartId)
        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.RelationshipId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("RelationshipId", ViewBag.Relationships as SelectList, "Select relationship", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RelationshipId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.RelatedTransaction, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.RelatedTransaction, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RelatedTransaction, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("Status", ViewBag.Status as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("select").select2();
    });

</script>
