@model IFMIS.Areas.ALS.Models.ALSLoanCharge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ALSLoanCharge</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LoanChargeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanChargeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanChargeDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanChargeDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanPercentageFee)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanPercentageFee)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SuBudgetClass)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuBudgetClass)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankAccountNum)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankAccountNum)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LoanChargeType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LoanChargeType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgencyCodeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgencyCodeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AgencyCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AgencyCode)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
