

@{
    ViewBag.Title = "Reviewed Fund Allocation List";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }
</style>

<!--Main contenteditable start here-->
<div id="content" style="margin: 5px;">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <!--Widget content start-->
                    <div class="widget-body">
                        <div class="row">
                 
                            <div class="col-md-12">
                                <div class="search-container" style="float:right">
                                    <i class="fa fa-search"></i>
                                    <input type="search" name="search" placeholder="Search Allocatin .." id="search-box">
                                </div>
                            </div>
                        </div>

                        <table id="datatable" class="table table-bordered table-hover table-condensed">
                            <thead style="border-bottom: 1px solid white;">
                                <tr>
                                    <th>#</th>
                                    <th>Funding Ref No.</th>
                                    <th>Allocation Ref No.</th>
                                    <th>Funding Source</th>
                                    <th>Allocated Vote Detail</th>
                                    <th>Total Allocated Amount(TZs)</th>
                                    <th>Status</th>
                                    <th style="width:30px">Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="5"><p align="right"><strong>Total</strong></p></td>
                                    <td colspan="3"><p align="right"><b><input type="text" id="sumAmount" style="border: 0px none;text-indent:1px;" /></b></p></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!--Widget End-->
                </div>
            </article>
        </div>
    </section>
</div>
<!--Main Content End Here-->
<!--Modal for Confirm Button-->
<div class="modal fade" id="remarkDialog" style="left:4%;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Remark and Comments</h3>
            </div>
            <div class="modal-body">
                <div class="widget-body ">
                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">
                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_1"></i>
                                    </td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <textarea type="text" id="Remarks" style="width:300px" rows="2" maxlength="350" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">Attachment</td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <input type="file" class="col-sm-8" id="RemarkAttachment" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-size" style="width:100px;" onclick="SaveRemark()">
                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Here-->
<!--Reject Block start here-->
<div class="modal fade" id="remarkDialogRejection" style="left:4%;">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Comments For Rejection</h3>
            </div>
            <div class="modal-body">
                <div class="widget-body ">
                    <div style="display:flex;justify-content:center;align-content:center">
                        <div>
                            <table>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">
                                        Remarks
                                        <i class="fa fa-times" style="color:white" id="Remarks_2"></i>
                                    </td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <textarea type="text" id="RemarksRejection" style="width:300px" rows="2" maxlength="350" /></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td class="form-label" style="border:none">Attachment</td>
                                    <td style="border:none">
                                        <div class="name-input-container">
                                            <input type="file" class="col-sm-8" id="RemarkAttachmentRejection" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-size" style="width:100px;" onclick="SaveRemarkReject()">
                        <i class="fa fa-save ico"></i>Save
                    </button>
                    <button class="btn btn-info btn-size" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times ico"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End here-->
@section Scripts {
    <script>

        var datatable = $("#datatable").dataTable();
        $("#datatable_wrapper .dt-toolbar").remove();

        $("#search-box").on("keyup search input paste cut", function () {
            $("#datatable").DataTable().search(this.value).draw();
            $("#datatable_wrapper .dt-toolbar").remove();
        });

        var totalAmount =0;
        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("GetReviewdFundAllocatinList", "FundAllocation")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                console.log("Test", data);
                datatable.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                     totalAmount += parseFloat(data[i]["TotalAllocationAmount"]);
                    datatable.fnAddData(
                        [i + 1,
                         data[i]["FundingRefNo"],
                        data[i]["TransactionCtrlNo"],
                        data[i]["FundDetails"],
                        data[i]["AllocVoteDetail"],
                        "<p align='right'>" + toLabel(data[i]["TotalAllocationAmount"]) + "</p>",
                        //toLabel(data[i]["OperationalAmount"]),
                        //data[i]["SubBudgetClass"],
                        //data[i]["FundingSource"],
                        //data[i]["TotalAllocatedAmount"],
                        //data[i]["AllocationType"],
                        ///data[i]["LoginInstitutionCode"] +' - '+ data[i]["LoginInstitutionName"],

                        data[i]["OverallStatus"],
                        '<div class="btn-group id="drop-' + i + '">\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                            </button>\
                             <ul class="dropdown-menu">\
                                  <li><a href="@Url.Action("FundAllocationDetails", "FundAllocation")/?id=' + data[i]["FundAllocSummaryId"] + '">Details</a></li>\
                                   <li><a href="#" onclick="RejectFund(' + i + ')">Reject</a></li>\
                                   <li><a href="#" onclick="ApprovalFund(' + i + ')">Authorize</a></li>\
                            </ul>\
                        </div>'
                    ]);
                }
                document.getElementById("sumAmount").value = toLabel(totalAmount);
            },
            failure: function (error) {
                swal(error);
            }
        });

         function Delete(i) {
            if (i == 'x');
            swal({
                title: "Are you sure?",
                text: "Once Deleted, you will not be able to recover this !",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    deleteSelectedItem(data[i]["FundAllocSummaryId"])
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
            $('#confirmModal').modal('hide');
        }

         function deleteSelectedItem(Id) {
            var url = '@Url.Action("Delete", "FundAllocation")';
            $.ajax({
                type: "post",
                url: url,
                data: { "FundAllocSummaryId": Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Deleted Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

         //Reject Block  after Verify
        var FAllocationSummaryId = null;
        function RejectFund(id) {
            swal({
                title: "Reject Fund Allocation?",
                text: "Are You Sure?",
                buttons: [
                    'No',
                    'Yes'
                ],
            }).then(function (isCofirm) {
                if (isCofirm) {
                    FAllocationSummaryId = data[id]["FundAllocSummaryId"];
                    $('#remarkDialogRejection').modal('show');
                }
                else {
                    swal("Cancelled", "You have not Reject Fund Allocation");
                }
            });
            //$$(".modal-title").modal('hide');
        }

        function SaveRemarkReject() {
              if ($("#RemarksRejection").val() == '') {
                  $("#RemarksRejection").attr("style", "border-color: red;");
              }
              else {
                  var id = $("#FundAllocSummaryId").val();
                  rejectRemarkDataSaveFn(id);
              }
        }

        function rejectRemarkDataSaveFn(id) {

            var url = '@Url.Action("RejectByAuthorizerFundAllocation", "FundAllocation")';
            var url1 = '@Url.Action("ReviewedFundAllocatinList", "FundAllocation")';
            $.ajax({
                 type: "POST",
                 url: url,
                 data: CreateForm({
                     id: FAllocationSummaryId,
                     remarks: $("#RemarksRejection").val(),
                     file: $("#RemarkAttachmentRejection")[0].files[0]
                 }),
                 contentType: false,
                 processData: false,
                 success: function (response) {
                     if (response == "Success") {
                         swal("Saved Successfully!", { icon: "success" })
                             .then((e) => window.location.href = url1
                             );
                     }
                     else {
                         swal(response);
                     }
                 },
                 failure: function (error) {
                     swal(error);
                 }
            });
        }
        ///Block Rejection End here

        //Approval  after Verify
        var FundAllocationSummaryId = null;
        function ApprovalFund(id) {
            swal({
                title: "Authorize the Fund Allocation?",
                text: "Are You Sure?",
                buttons: [
                    'No',
                    'Yes'
                ],
            }).then(function (isCofirm) {
                if (isCofirm) {
                    FundAllocationSummaryId = data[id]["FundAllocSummaryId"];
                    $('#remarkDialog').modal('show');
                }
                else {
                    swal("Cancelled", "You have not Review the Fund Allocation");
                }
            });
            //$$(".modal-title").modal('hide');
        }

        function SaveRemark() {
              if ($("#Remarks").val() == '') {
                  $("#Remarks").attr("style", "border-color: red;");
              }
              else {
                  var id = $("#FundAllocSummaryId").val();
                  remarkDataSaveFn(id);
              }
        }

        function remarkDataSaveFn(id) {


            var url = '@Url.Action("AuthorizedFundAllocationDetails", "FundAllocation")';
            var url1 = '@Url.Action("ReviewedFundAllocatinList", "FundAllocation")';
            $.ajax({
                 type: "POST",
                 url: url,
                 data: CreateForm({
                     id: FundAllocationSummaryId,
                     remarks: $("#Remarks").val(),
                     file: $("#RemarkAttachment")[0].files[0]
                 }),
                 contentType: false,
                 processData: false,
                 success: function (response) {
                     if (response == "Success") {
                         swal("Saved Successfully!", { icon: "success" })
                             .then((e) => window.location.href = url1
                             );
                     }
                     else {
                         swal(response);
                     }
                 },
                 failure: function (error) {
                     swal(error);
                 }
            });
        }

        function CreateForm(form) {
            let _form = new FormData();
            for (let key in form) {
                _form.append(key, form[key])
            }
            return _form
        }
    </script>
}
<!--Page Script to load DataTable START HERE-->
