@model IFMIS.Areas.IFMISTZ.Models.ReceivedAssetsVM
@if (Model.RejectionReason != null || Model.SolutionTaken != null)
{
    <div class="row">
        @if (Model.RejectionReason != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

        }
        @if (Model.SolutionTaken != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SolutionTaken)</div>
        }
    </div>
}
@if (Model.AssetClass.ClassName == "Equipment and Machine")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Name</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Building</th>
                <th style="text-align:center">Floor</th>
                <th style="text-align:center">Room</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Building)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Floor)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Room)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.AssetClass.ClassName == "Furniture and Fixtures")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Name</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Building</th>
                <th style="text-align:center">Floor</th>
                <th style="text-align:center">Room</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Building)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Floor)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Room)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.AssetClass.ClassName == "Motor Vehicles,Cycles and Plants")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Model</th>
                <th>BodyType</th>
                <th style="text-align:center">YOM</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetModel)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].BodyType)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].YearOfManufacture)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else if (Model.AssetClass.ClassName == "Ships,Boats and Ferries")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Model</th>
                <th>BodyType</th>
                <th style="text-align:center">YOM</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetModel)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].BodyType)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].YearOfManufacture)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else if (Model.AssetClass.ClassName == "Air Craft")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Model</th>
                <th>BodyType</th>
                <th style="text-align:center">YOM</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetModel)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].BodyType)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].YearOfManufacture)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else if (Model.AssetClass.ClassName == "Land")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Title Deed No</th>
                <th style="text-align:left">Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Size</th>
                <th>Usage</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Size)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Usage)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.AssetClass.ClassName == "Buildings")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th style="text-align:center">NumberOfStorey</th>
                <th style="text-align:center">PlotNumber</th>
                <th>Usage</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].NumberOfStorey)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].PlotNumber)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Usage)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>


}
else if (Model.AssetClass.ClassName == "Infrastructures")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Type</th>
                <th>LoadLength</th>
                <th>From</th>
                <th>To</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Type)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RoadLength)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RoadFrom)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RoadTo)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else if (Model.AssetClass.ClassName == "Structures and Systems")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>LoadLength</th>
                <th>From</th>
                <th>To</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RoadLength)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RoadFrom)


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RoadTo)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else if (Model.AssetClass.ClassName == "Biological Assets")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Identification No</th>
                <th style="text-align:left">Asset Description</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th style="text-align:center">Sex</th>
                <th style="text-align:center">Age</th>
                <th style="text-align:center">Quantity</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Sex)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].BiologicalAssetAge)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Quantity)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.AssetClass.ClassName == "Books and Gowns")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Name</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                @if (Model.AssetClass.TypeName == "Books")
                {
                    <th>Author</th>
                }
                    <th>Building</th>
                    <th style="text-align:center">Floor</th>
                    <th style="text-align:center">Room</th>
                    <th style="text-align:center">Rel</th>
                </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
            <tr>
                <td style="text-align:center">@j</td>
                <td style="width:4%">

                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                </td>
                <td>

                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                </td>

                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                </td>
                @if (Model.AssetClass.TypeName == "Books")
                {
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Author)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].Building)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].Floor)


                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].Room)


                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                </td>
            </tr>
            }
        </tbody>
    </table>
}
else if (Model.AssetClass.ClassName == "Intangible")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Name</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Location</th>
                <th>Quantity</th>
                <th style="text-align:center">No of Users</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Location)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Quantity)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].UsersNo)


                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.AssetClass.ClassName == "Valuable")
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Name</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Location</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Location)


                    </td>

                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else 
{
    <table class="table  table-bordered table-hover table-condensed" id="dt_preview_assets" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:center;width:4%">#</th>
                <th style="width:4%">ID</th>
                <th>Asset ID</th>
                <th style="text-align:left">Asset Name</th>
                <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                <th>Department</th>
                <th>Location</th>
                <th style="text-align:center">Rel</th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
            {
                var j = i + 1;
                <tr>
                    <td style="text-align:center">@j</td>
                    <td style="width:4%">

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                    </td>

                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelCode) @Html.DisplayFor(modelItem => Model.AssetDetails[i].InstitutionSubLevel.SubLevelDesc)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].Location)


                    </td>

                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].RemainEconomicLife)


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>







