@model IFMIS.Areas.IFMISTZ.Models.ReceivedAssetsVM
@{
    ViewBag.Title = "Edit Assets";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Asset(s) Disposal </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                            @if (Model.InstitutionLevel == 1)
                            {
                                <form id="form1">
                                    <fieldset>
                                        <legend>Choose sub vote & asset class</legend>
                                        <div class="form-group">
                                            <div class="row">


                                                <label class="col-md-1 control-label"><strong>Sub Vote:</strong></label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(model => model.SubVote, Model.SubVoteList, "Select Sub Vote", new { @class = "form-control", @required = "required" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-1 control-label"><strong>Asset Class:</strong></label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("ClassId", ViewBag.ClassesList as SelectList, "Select ", new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            }
                            else
                            {
                                <form id="form2">
                                    <fieldset>
                                        <legend>Choose cost center & asset class</legend>
                                        <div class="form-group">
                                            <div class="row">

                                                <label class="col-md-1 control-label"><strong>Cost Center:</strong></label>
                                                <div class="col-md-4">
                                                    @Html.DropDownListFor(model => model.CostCentre, Model.CostCenterList, "Select Cost Center", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-1 control-label"><strong>Asset Class:</strong></label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("ClassId", ViewBag.ClassesList as SelectList, "Select ", new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            }





                        </div>





                            </div>


                </div>
            </article>

        </div>
    </section>

</div>





@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
  
        $(document).ready(function () {

         $("#form1 #SubVote").change(function (e) {                  
                    var sub_vote = $(this).val();
                     var classId =  $("#form1 #ClassId").val();                    
                       if (classId) {

                           var formData = {
                            "ClassId": classId,
                            "SubVote": sub_vote
                        }
                       }
                    @*var url = '@Url.Action("GetDistricts", "Assets")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: regionId },
                        success: function (data) {
                            $('#edit_form #DistrictId').empty();
                            $('<option value="">Select...</option>').appendTo('#edit_form #DistrictId');
                            $.each(data, function (i, d) {
                                $('<option value="' + d.DistrictId + '">' + d.DistrictName + '</option>').appendTo('#edit_form #DistrictId');
                            });
                        }
                    });*@


                });     
                $("#form1 #ClassId").change(function (e) {
                   
                    var classId = $(this).val();
                     var sub_vote = $("#form1 #SubVote").val();
                    if (sub_vote) {
                        var formData = {
                            "ClassId": classId,
                            "SubVote": sub_vote
                        }
                    }
                
                    @*var url = '@Url.Action("GetDistricts", "Assets")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: regionId },
                        success: function (data) {
                            $('#edit_form #DistrictId').empty();
                            $('<option value="">Select...</option>').appendTo('#edit_form #DistrictId');
                            $.each(data, function (i, d) {
                                $('<option value="' + d.DistrictId + '">' + d.DistrictName + '</option>').appendTo('#edit_form #DistrictId');
                            });
                        }
                    });*@


                });

                   $("#form2 #CostCentre").change(function (e) {                  
                       var cost_centre = $(this).val();
                        var classId =  $("#form2 #ClassId").val();                    
                       if (classId) {
                             var formData = {
                            "ClassId": classId,
                            "CostCentre": cost_centre
                        }
                       }
                    @*var url = '@Url.Action("GetDistricts", "Assets")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: regionId },
                        success: function (data) {
                            $('#edit_form #DistrictId').empty();
                            $('<option value="">Select...</option>').appendTo('#edit_form #DistrictId');
                            $.each(data, function (i, d) {
                                $('<option value="' + d.DistrictId + '">' + d.DistrictName + '</option>').appendTo('#edit_form #DistrictId');
                            });
                        }
                    });*@


                });     
                $("#form2 #ClassId").change(function (e) {                
                    var classId = $(this).val();
                    var cost_centre = $("#form2 #CostCentre").val();
                    if (cost_centre) {
                        var formData = {
                            "ClassId": classId,
                            "CostCentre": cost_centre
                        }
                    }
                    @*var url = '@Url.Action("GetDistricts", "Assets")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: regionId },
                        success: function (data) {
                            $('#edit_form #DistrictId').empty();
                            $('<option value="">Select...</option>').appendTo('#edit_form #DistrictId');
                            $.each(data, function (i, d) {
                                $('<option value="' + d.DistrictId + '">' + d.DistrictName + '</option>').appendTo('#edit_form #DistrictId');
                            });
                        }
                    });*@


                });



                        });

              //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
    </script>
}




