@model IFMIS.Areas.IFMISTZ.Models.ReceivedAssetsVM
@{
    ViewBag.Title = "Edit Assets";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Asset(s) Information </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p align="left">

                                <div align="center">
                                    <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                                </div>
                                Asset Batch Code &nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetsCode</strong></span><br />
                                @if (Model.ReceivingNumber != null)
                                {
                                    <span>Receiving Number &nbsp;&nbsp;:<strong>@Model.ReceivingNumber</strong></span><br />
                                }
                                Asset Class &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetClass</strong></span><br />
                                Asset(s) Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetName</strong></span><br />
                                Assets Value &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.AssetsValue) @Html.DisplayFor(model => model.Currency)</strong></span><br />
                                Number Of Asset(s) :<span><strong>@Model.Quantity</strong></span><br />
                                Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.OverallStatus</strong></span><br />
                            </p>
                            <input type="hidden" id="InstitutionLevel" value='@Model.InstitutionLevel'>
                            <br>

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ReceivedAssetsId)
                            <div class="form-horizontal">

                                <table class="table  table-bordered table-hover table-condensed" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;width:4%">#</th>
                                            <th style="text-align:left">Asset Description</th>
                                            <th style="text-align:right">ID</th>
                                            <th style="text-align:center">Asset ID</th>
                                            <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>

                                            <th style="text-align:center">Overall Status</th>
                                            <th style="text-align:center;width:14%" colspan="2">Action</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @for (var i = 0; i < Model.AssetDetails.Count(); i++)
                                        {
                                            var j = i + 1;
                                            <tr>
                                                <td style="text-align:center">@j</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                                                </td>
                                                <td style="text-align:right">

                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                                                </td>
                                                <td style="text-align:center">

                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                                                </td>

                                                <td style="text-align:center">
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].OverallStatus)


                                                </td>
                                                <td style="text-align:center">
                                               <a href="#" onclick="addInformation(@Model.AssetDetails[i].AssetDetailId)"><i class="fa fa-edit">Edit</i></a>
                                                </td>
                                                <td style="text-align:center">
                                                    @if (Model.AssetDetails[i].OverallStatus == "Complete")
                                                    {
                                                       <a href="#" onclick="previewAsset(@Model.AssetDetails[i].AssetDetailId)"><i class="fa fa-eye">Preview</i></a>

                                                    }
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div class="col-md-offset-1">
                                    <a href="@Url.Action("PendingAssets","Assets")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                </div>
                                <br />
                                <br />
                                <br />
                            </div>









                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

<div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog modal-lg" style="width:80%;">
        <div width="90%" class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">
                    Preview
                </h4>
            </div>
            <div class="modal-body" id="divModalBody">

            </div>

            <div id="divPaymentStatusLoader" style="text-align:center; display:none">
                <img src="~/assets/img/avatars/ajax_loader.gif" />
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="divModal2" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog modal-lg" style="width:70%;">
        <div width="90%" class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="lblmodal">
                    Add information to to an  Asset
                </h4>
            </div>
            <div class="modal-body" id="divModalBody2">

            </div>

            <div id="divPaymentStatusLoader" style="text-align:center; display:none">
                <img src="~/assets/img/avatars/ajax_loader.gif" />
            </div>
        </div>
    </div>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        function SubmitFurnsEquips(formData) {
            $("#btnSubmit").prop('disabled', true);
            var url = '@Url.Action("SaveFurnEquip", "Assets")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved successfully", { icon: "success" })
                                        .then((value) => {
                               $('#edit_asset').modal('hide');
                               location.reload();
                                         });
                    }
                    else if (response == "Exist") {
                        $("#btnSubmit").prop('disabled', false);
                        swal("Can not save because another asset use this Asset ID");
                    }

                    else {
                        $("#btnSubmit").prop('disabled', false);
                        swal(response);
                    }
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }

             function SubmitAWithEngine(formData) {
            $("#btnSubmit").prop('disabled', true);
                 var url = '@Url.Action("SaveAssetWithEngine", "Assets")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                   
                    if (response == "Success") {
                        swal("Saved successfully", { icon: "success" })
                                        .then((value) => {
                               $('#edit_asset').modal('hide');
                               location.reload();
                                         });
                    }
                    else if (response == "Exist") {
                        $("#btnSubmit").prop('disabled', false);
                        swal("Can not save because another asset use this Reg Number");
                    }
                    else {
                        $("#btnSubmit").prop('disabled', false);
                         swal(response);
                    }
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
              function SubmitLand(formData) {
            $("#btnSubmit").prop('disabled', true);
            var url = '@Url.Action("SaveLand", "Assets")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved successfully", { icon: "success" })
                                        .then((value) => {
                               $('#edit_asset').modal('hide');
                               location.reload();
                                         });
                    }
                    else if (response == "Exist") {
                        $("#btnSubmit").prop('disabled', false);
                        swal("Can not save because another asset use this Title Deed No");
                    }
                    else {
                        $("#btnSubmit").prop('disabled', false);
                         swal(response);
                    }
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
                function SubmitBuilding(formData) {
            $("#btnSubmit").prop('disabled', true);
            var url = '@Url.Action("SaveBuilding", "Assets")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                   
                    if (response == "Success") {
                        swal("Saved successfully", { icon: "success" })
                                        .then((value) => {
                               $('#edit_asset').modal('hide');
                               location.reload();
                                         });
                    }
                    else if (response == "Exist") {
                        $("#btnSubmit").prop('disabled', false);
                        swal("Can not save because another asset use this Building ID");
                    }
                    else {
                        $("#btnSubmit").prop('disabled', false);
                        swal(response);
                    }
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
                function SubmitInfrastructure(formData) {
            $("#btnSubmit").prop('disabled', true);
            var url = '@Url.Action("SaveInfrastructure", "Assets")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved successfully", { icon: "success" })
                                        .then((value) => {
                               $('#edit_asset').modal('hide');
                               location.reload();
                                         });
                    }
                    else if (response == "Exist") {
                        $("#btnSubmit").prop('disabled', false);
                        swal("Can not save because another asset use this Asset ID");
                    }

                    else {
                        $("#btnSubmit").prop('disabled', false);
                          swal(response);
                    }
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
           function SubmitBiologicalAsset(formData) {
            $("#btnSubmit").prop('disabled', true);
            var url = '@Url.Action("SaveBiologicalAsset", "Assets")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                   
                    if (response == "Success") {
                        swal("Saved successfully", { icon: "success" })
                                        .then((value) => {
                                            $('#edit_asset').modal('hide');
                                            location.reload();
                                        });
                    }
                    else if (response == "Exist") {
                        $("#btnSubmit").prop('disabled', false);
                        swal("Can not save because another asset use this Identification No");
                    }
                    else {
                        $("#btnSubmit").prop('disabled', false);
                        swal(response);
                    }
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        var previewAsset = function (id) {
          var url = '@Url.Action("PreviewFurnEquip", "Assets")';
            $("#divModalBody").load(url, { id: id }, function (response, status, xhr) {
                if (status == "error") {
                    $("#divModalBody").html("Error on accessing this details, contact system support.");
                }
                $("#divModal").modal("show");
            });
        }
            var addInformation = function (id) {
          var url = '@Url.Action("AddInformationForm", "Assets")';
            $("#divModalBody2").load(url, { id: id }, function (response, status, xhr) {
                if (status == "error") {
                    $("#divModalBody2").html("Error on accessing this details, contact system support.");
                }
                $("#divModalBody2 #RemainEconomicLife").autoNumeric('init');
                $("#divModal2").modal("show");
            });
        }
       
        $(document).on('change', '#divModalBody2 #RegionId', function () {
            var regionId = $(this).val();
                    var url = '@Url.Action("GetDistricts", "Assets")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: regionId },
                        success: function (data) {
                            $('#divModalBody2 #DistrictId').empty();
                            $('<option value="">Select...</option>').appendTo('#divModalBody2 #DistrictId');
                            $.each(data, function (i, d) {
                                $('<option value="' + d.DistrictId + '">' + d.DistrictName + '</option>').appendTo('#divModalBody2 #DistrictId');
                            });
                        }
                    });
        });
        //$(document).on('change', '#divModalBody2 #RegionId', function () {
        //});
    </script>
}




