@model IEnumerable<IFMIS.Models.SystemSubModuleVM>

@{
    ViewBag.Title = "System Sub Module List";
}

<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (User.IsInRole("Helpdesk Module Entry") || User.IsInRole("System Setup"))
                                    {
                                        <a class="btn btn-info" href='@Url.Action("CreateSystemSubModule", "SystemSubModule")'>
                                            <i class="glyphicon glyphicon-plus"></i> Add New
                                        </a>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_system_sub_module" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Module Name</th>
                                        <th>Sub Module Name</th>
                                        <th>Status</th>
                                        @if (User.IsInRole("Helpdesk Module Entry") || User.IsInRole("System Setup"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>
         //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        // ============ INIT DATA TABLES START =====================
        var dt_system_sub_module = $('#dt_system_sub_module').dataTable();

        $("#dt_system_sub_module_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_system_sub_module.DataTable().search(this.value).draw();
        });


        // ********************** INIT DATA TABLES END **********************

        $(".moduleCancellation").on('click', function () {
            var id = $(this).data('id');
            var submodname = $(this).data('submodname');
            alert(id);
            swal({
                title: 'Cancellation of System Sub Module',
                text: "Do you what to Cancel System Sub Module   " + submodname + " ?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    var url = '@Url.Action("CancelSystemSubModule", "SystemSubModule")';
                    $.ajax(
        {
            type: "POST",
            url: url,
            data: { id: id },
            success: function (response) {
                if (response == "Success") {

                    swal("system Sub Module Cancelled successfully!", { icon: "success" })
                              .then((value) => {
                                  location.reload();
                              });

                }
                else {

                    swal("Failed to Cancel System Sub Module"+response);
                }
            },
            error: function (xhr) {
                swal(error);
                $("#divLoader").hide();
            },

        });
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        });

        function ToJavaScriptDate(value) {
            if (value != null && value != '') {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            }
        }

        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("GetSysSubModuleList", "SystemSubModule")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_system_sub_module.fnClearTable();
                for (var i = 0; i < data.length; i++) {

                    dt_system_sub_module.fnAddData([i + 1,
                       data[i]["ModuleName"],
                       data[i]["SubModuleName"],
                       data[i]["Status"],
                       '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li ><a href="@Url.Action("EditSystemSubModule", "SystemSubModule")/?id=' + data[i]["SystemSubModuleId"] + '">Edit</a></li>\
                                <li><a href="#" onclick="cancelDialog(' + i + ')">Cancel</a></li>\
                            </ul>\
                        </div>\ '
                    ]);

                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function cancelDialog(i) {
            swal({
                title: 'System Sub Module Cancellation ?',
                text: "Do you want to Cancel System Sub Module : " + data[i]["SubModuleName"] + " This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    cancelSystemSubModule(data[i]["SystemSubModuleId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function cancelSystemSubModule(systemSubModuleId) {
            var url = '@Url.Action("CancelSystemSubModule", "SystemSubModule")';
            $.ajax({
                type: "post",
                url: url,
                data: { "id": systemSubModuleId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("System Sub Module Cancelled successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        //swal(response);
                        swal("Error Cancelling System Sub Module Name", { icon: "warning" });
                    }

                },
                failure: function (error) {
                    //swal(error);
                    swal("Error Cancelling System Sub Module Name", { icon: "warning" });
                }
            });
            $('#confirmModal').modal('hide');
        }
    </script>
}

