@model IFMIS.Areas.Coadmis.Models.Attachment
<form style="width: 650px;">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AttachmentTypeId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.DropDownList("AttachmentTypeId", ViewBag.AttachmentTypes as SelectList, "Select attachment type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AttachmentTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @type = "file", @accept = ".pdf,.xlsx,.doc" })
                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("select").select2();
    });

</script>

