@model IFMIS.Areas.Coadmis.Models.PermanentFileVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPermanentFile", @style = "width: 650px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PermanentFileId)
        @Html.HiddenFor(model => model.ClientInformationId)

        <div class="form-group row">
            @Html.LabelFor(model => model.PermanentFileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.PermanentFileName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermanentFileName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.ClientInformationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(model => model.ClientInformationId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("select").select2();
    });

</script>