@model IFMIS.Areas.IFMISTZ.Models.PaymentBatch
<link href='@Server.MapPath("~/Content/css/bootstrap.min.css")' rel="stylesheet" />
<style>
    table, td, th {
        border: 1px solid black;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<div style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px">
    <div style="text-align: center">
        <img src='@Server.MapPath("~/Media/Images/log20180504093652.png")' width="200" height="200" />

        <div style="padding-top: 20px">
            <b>@Model.InstitutionName.ToUpper()</b>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px">
            <b>PAYMENT INSTRUCTION SLIP</b>
        </div>
    </div>

    <br />
    <div>
        <table>
            <thead>
              
                <tr>
                    <th>Date</th>
                    <th>FUNDING REFERENCE</th>
                    <th>BATCH NUMBER</th>
                    <th>BATCH DESCRIPTION</th>
                    <th>NO.OF TRANSACTIONS</th>
                    <th>TOTAL AMOUNT</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.Date</td>
                    <td>@Model.PVNo</td>
                    <td>@Model.BatchNo</td>
                    <td>@Model.BatchDesc</td>
                    <td>@Model.NoTrx</td>
                    <td>@string.Format("{0:#,#.00}",Model.OperationalAmount)</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div style="padding-top:100px">
        <div class="row" style="padding:5px">
            <div class="col-xs-4">SIGNATURE:</div>
            <div class="col-xs-4"><hr style="border-color:black;width:200px;float:left"/></div>
            <div class="col-xs-4"><hr style="border-color:black;width:200px;float:left" /></div>
        </div>
        <div class="row"style="padding:5px">
            <div class="col-xs-4">NAME:</div>
            <div class="col-xs-4">@Model.VerifiedBy</div>
            <div class="col-xs-4">@Model.ApprovedBy</div>
        </div>
        @*<div class="row"style="padding:5px">
            <div class="col-xs-4"></div>
            <div class="col-xs-4"><hr style="border-color:black;width:200px;float:left" /></div>
            <div class="col-xs-4"><hr style="border-color:black;width:200px;float:left" /></div>
        </div>*@
        <div class="row"style="padding:5px">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">VERIFIER</div>
            <div class="col-xs-4">AUTHORIZER</div>
        </div>
    </div>

    <div style="padding-top:100px">
        <div class="row">
            <div class="col-xs-4"><strong>ACCOUNTING OFFICER:</strong></div>
        </div>
        <br/>
        <div class="row" style="padding:5px">
            <div class="col-xs-4">SIGNATURE:</div>
            <div class="col-xs-4"><hr style="border-color:black;width:200px;float:left" /></div>
        </div>
        <div class="row" style="padding:5px">
            <div class="col-xs-4">NAME:</div>
            <div class="col-xs-4"><hr style="border-color:black;width:200px;float:left" /></div>
        </div>
    </div>

   
</div>