@model IFMIS.Areas.Coadmis.Models.AccountEstimateItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountEstimateItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountEstimateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountEstimateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountEstimateItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
