@model IFMIS.Areas.IFMISTZ.Models.COA
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 40px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Import COA</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <table width="100%">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm("uploadcoa", "COAs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">Select COA Institution:</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("InstitutionCode", ViewBag.inst as List<SelectListItem>, "--Select Institution Name--", new { @class = "select2 form-control padding-left-10 width:20px", style = "width:150px; ", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.InstitutionCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <br />


                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right">Import Excel File:</label>
                                                <div class="col-md-4">
                                                    <input name="postedFile" type="file" class="btn btn-default" id="postedFile" required="required">
                                                </div>
                                            </div>

                                            <br />
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div style="padding-left:65%">
                                                            <button type="submit" class="btn btn-info action-btn pull-left"
                                                                    style="width:100px;  color:black"
                                                                    id="btn_save_gl_items">
                                                                <i class="fa fa-file"></i>
                                                                Import
                                                            </button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            if (ViewBag.Error != null)
                                            {
                                                <div class="form-group">
                                                    <br />
                                                    <p><strong>Importation Errors:</strong></p>

                                                    @{

                                                        string[] errorList = ViewBag.Error.ToString().Split('+');

                                                        foreach (string errorMessage in errorList)
                                                        {
                                                            <p>@errorMessage</p>
                                                        }

                                                    }


                                                </div>
                                            }
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific{
    <script>

                if ('@TempData["Success"]' == 'Success') {
                    swal("Imported Successfully!", { icon: 'success' })
                         .then(Ok=> {
                             window.location.href = '@Url.Action("CoaList", "COAs")';
                         });
                } else if ('@TempData["Success"]' == 'No') {

                    swal("This COA  Exists!!")

        };


    </script>
}
