@model IFMIS.Areas.IFMISTZ.Models.ExchequerRequestVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Exchequer Requests </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.GlAccount)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.GlAccount)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.GlAccountDesc)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.GlAccountDesc)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ExpenditureAmount)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ExpenditureAmount, "_DecimalThousands")
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.MainVote)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.MainVote)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ChildVote)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ChildVote)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ActivityId)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ActivityId)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.SubVote)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.SubVote)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Project)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.FundType)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.FundType)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.FundSource)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.FundSource)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ComponentName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ComponentName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.TransactionDesc)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.TransactionDesc)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.OverallStatus)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.OverallStatus)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.MsgId)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.MsgId)
                                        </dd>
                                    </dl>
                                    <hr />
                                    <table id="dt_basic" class="table table-condensed table-stripped table-hover table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Parent Institution Code</th>
                                                <th>Parent Institution Name</th>
                                                <th>Operational Currency</th>
                                                <th>OperationalAmount</th>
                                                <th>Base Currency</th>
                                                <th>Base Amount</th>
                                                <th>Amount</th>
                                                <th>Funding Source</th>
                                                <th>Funding Source Desc</th>
                                                <th>Sub Budget Class</th>
                                                <th>Vote Code</th>
                                                <th>Vote Desc</th>
                                                <th>GFS Code</th>
                                                <th>GFS Code Desc</th>
                                                <th>Gl Account</th>
                                                <th>Gl Account Desc</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model.DfundSummaries.OrderByDescending(a => a.DfundExpenditureSummaryId))
                                            {
                                                i++;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.ParentInstitutionCode</td>
                                                    <td>@item.ParentInstitutionName</td>
                                                    <td>@item.OperationalCurrency</td>
                                                    <td style="text-align: right">@Html.DisplayFor(model => item.OperationalAmount, "_DecimalThousands")</td>
                                                    <td>@item.BaseCurrency</td>
                                                    <td style="text-align: right">@Html.DisplayFor(model => item.BaseAmount, "_DecimalThousands")</td>
                                                    <td style="text-align: right">@Html.DisplayFor(model => item.Amount, "_DecimalThousands")</td>
                                                    <td>@item.FundingSource</td>
                                                    <td>@item.FundingSourceDesc</td>
                                                    <td>@item.SubBudgetClass</td>
                                                    <td>@item.VoteCode</td>
                                                    <td>@item.VoteDesc</td>
                                                    <td>@item.GFSCode</td>
                                                    <td>@item.GFSCodeDescription</td>
                                                    <td>@item.GlAccount</td>
                                                    <td>@item.GlAccountDesc</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            @if (Model.OverallStatus == "Pending")
                                                            {
                                                                <ul class="dropdown-menu">
                                                                    <li><a href="#" onclick="cancelDfundSummaries(@item.DfundExpenditureSummaryId)">Cancel</a></li>
                                                                </ul>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dt_basic').DataTable({
                "scrollX": true
            });
        });

        var cancelDfundSummaries = function (id) {
            swal({
                text: "Are you sure you want to cancel?",
                buttons: [
                  "Yes",
                  "No"
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (!isConfirm) {
                    var url = '@Url.Action("CancelDfundExpenditure", "ExchequerRequests")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                swal({
                                    text: "Cancelled successfully!",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            }
                            else {
                                swal({
                                    text: response,
                                    icon: "error",
                                    button: "OK",
                                }).then(function () {
                                    location.reload();
                                });
                            }
                        },
                        error: function (response) {
                            swal({
                                text: response,
                                icon: "error",
                                button: "OK",
                            }).then(function () {
                                location.reload();
                            });
                        }
                    });
                }
            });
        }
    </script>
}