@model IFMIS.Areas.IFMISTZ.Models.InstitutionPayee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InstitutionPayee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PayeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstitutionPayeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
