@model IFMIS.Areas.PayrollManagement.Models.ReportViewModel
@{
    ViewBag.Title = "Cash Pay List Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<style>
    input.error,
    select.error {
        border: 1px solid red;
    }

    label.error {
        color: red;
    }
</style>
<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body" style="margin-top: 10px">
                            <form class="form-horizontal" id="frmCashPayList" method="post">

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        WorkStation
                                    </div>
                                    <div class="col-md-4">
                                        <select id="Workstations" name="Workstations" class="select2 form-control padding-left-10">
                                            @if (Model.Workstations.Count() > 1)
                                            {
                                                <option value="">-- Select WorkStation --</option>
                                                <option value="000">ALL</option>
                                                foreach (var item in Model.Workstations)
                                                {
                                                    <option value='@item.WorkstationCode'> @item.WorkstationCode - @item.WorkstationName </option>
                                                }
                                            }

                                            else
                                            {
                                                <option value="">-- Select WorkStation --</option>
                                                if (Model.Workstations.Count() != 0)
                                                {
                                                    foreach (var item in Model.Workstations)
                                                    {
                                                        <option value="@item.WorkstationCode"> @item.WorkstationCode - @item.WorkstationName </option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Department
                                    </div>
                                    <div class="col-md-4">
                                        <select id="Departments" name="Departments" class="select2 form-control padding-left-10">
                                            @if (Model.Departments.Count() > 1)
                                            {
                                                <option value="">-- Select Department --</option>
                                                <option value="000">ALL</option>
                                                foreach (var item in Model.Departments)
                                                {
                                                    <option value='@item.DeptCode'> @item.DeptCode - @item.DeptName </option>
                                                }
                                            }

                                            else
                                            {
                                                <option value="">-- Select Department --</option>
                                                if (Model.Departments.Count() != 0)
                                                {
                                                    foreach (var item in Model.Departments)
                                                    {
                                                        <option value="@item.DeptCode"> @item.DeptCode - @item.DeptName </option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Year
                                    </div>
                                    <div class="col-md-2">
                                        <input id="Year" name="Year" class="form-control padding-left-10" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Month
                                    </div>
                                    <div class="col-md-2">
                                        <select id="Month" name="Month" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Month -- </option>
                                            <option value=1> January </option>
                                            <option value=2> February </option>
                                            <option value=3> March </option>
                                            <option value=4> April </option>
                                            <option value=5> May </option>
                                            <option value=6> June </option>
                                            <option value=7> July </option>
                                            <option value=8> August </option>
                                            <option value=9> September </option>
                                            <option value=10> October </option>
                                            <option value=11> November </option>
                                            <option value=12> December </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-1">
                                            <button class="btn btn-info" type="submit" id="btnViewReport" style="float: left; margin-left: 105px;">
                                                <i class="fa fa-save"></i>
                                                View Report
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    @Scripts.Render("~/Scripts/libs/jquery.validate.min.js")
    <script>
        $(document).ready(function () {

            $("#frmCashPayList").validate({
                rules: {
                    Departments: { required: true },
                    Workstations: { required: true },
                    Month: { required: true },
                    Year: { required: true, digits: true, maxlength: 4 }
                },
                messages: {
                    Year: {
                        maxlength: "This field should not exceed {0} characters."
                    }
                },
                submitHandler: function () {
                    var department = $("#Departments").val().trim(),
                        workstation = $("#Workstations").val().trim(),
                        month = $("#Month").val().trim(),
                        year = $("#Year").val().trim(),
                        queryString = "month=" + month + "&year=" + year + "&dept-code=" + department + "&station-code=" + workstation;

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("ParameterEncryption", "Reports")',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: { "query": queryString },
                        success: function (response) {
                            window.open("../Reports/CashPayList.aspx" + response);
                        }
                    });

                    return false;
                }
            });
        });
    </script>
}
