@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BudgetReallocationrequest>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Institution.VoteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaustationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLAccountFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLAccountTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReallocationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldFlag)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Institution.VoteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaustationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccountFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccountTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReallocationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldFlag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ReallocationRequestID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ReallocationRequestID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ReallocationRequestID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
