@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BudgetCeilingView>

<style>
    #jarviswidget .header {
        background: blueviolet;
    }

    .submit-btn {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 3px;
        padding-right: 10px;
    }


    .dataTables_filter {
        display: none;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Budget Ceiling Adjustment Entry</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="searchContainer submit-btn" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="datatable_tabletools" class="table table-bordered table-condensed">
                                <thead>
                                    <tr style="text-align:left">
                                        <th data-hide="phone">S/N</th>
                                        <th data-hide="phone,tablet">Legal Number</th>
                                        <th data-hide="phone,tablet">Budget Type</th>
                                        <th data-hide="phone,tablet">Sub Budget Class</th>
                                        <th data-hide="phone,tablet">Fund Source</th>
                                        <th data-hide="phone,tablet">Ceiling Amount</th>
                                        <th data-hide="phone,tablet">Budget Balance</th>
                                        <th data-hide="phone,tablet">Adjustment Amount</th>
                                        <th data-hide="phone,tablet">Adjustment Status</th>
                                        <th data-hide="phone,tablet">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int cnt = 0;
                                        foreach (var item in Model)
                                        {
                                            cnt = cnt + 1;
                                            decimal? opamt = 0;

                                            <tr>
                                                <td>@cnt</td>
                                                <td>@item.LegalNumber</td>
                                                <td>@item.BudgetJournalCodeDesc</td>
                                                <td>@item.SubBudgetClass - @item.SubBudgetClassDesc</td>
                                                <td>@item.FundingSource - @item.FundingSourceDesc</td>
                                                <td align="right">@string.Format("{0:#,0.00}", item.OperationalAmount)</td>
                                                <td align="right">@string.Format("{0:#,0.00}", @item.BudgetBalance)</td>
                                                <td align="right">@string.Format("{0:#,0.00}", @item.AdjustedOperationalAmount)</td>
                                                <td>@item.AdjustedStatus</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret">
                                                            </span>
                                                            <span class="sr-only"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" onclick="Approve(@item.BudgetSummaryId)">Approve</a></li>
                                                            <li><a href="#" onclick="Reject(@item.BudgetSummaryId)">Reject</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="lblmodal">Confirm</h4>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure you want to Confirm this record ? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info delete-confirm">Ok</button>
                <button class="btn btn-info delete-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!----------- Edit DIALOG ----------------->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="lblmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-info" style="font:bold 16px Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Enter a new amount</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <select id="ajustType">
                            <option value="+">Dr(+)</option>
                            <option value="-">Cr(-)</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <amount-input id="amount"></amount-input>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info" style="float:left" onclick="editItemConfirmed()">
                            <i class="fa fa-save"></i>Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info delete-cancel" style="float:left" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
@section pagespecific{
    <script>
        var data = [];
        var globalId = null;

        function Approve(id) {
            swal({
                title: 'Approve this Adjustment?',
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    approved(id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function approved(id) {
            var url = '@Url.Action("BudgetCeilingAdjustmentApproval", "BudgetCeilingAdjustment")';
            $.ajax({
                type: "post",
                url: url,
                data: { "budgetSummaryId": id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Approved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        function Reject(id) {
            swal({
                title: 'Reject this Budget?',
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    rejected(id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function rejected(id) {
            var url = '@Url.Action("RejectCeilingAdjustment", "BudgetCeilingAdjustment")';
            $.ajax({
                type: "post",
                url: url,
                data: { "budgetSummaryId": id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Rejected Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        var datatable_tabletools = $('#datatable_tabletools').dataTable({
            "autoWidth": true,
            "searching": true, // MATCH YOUR DATA TABLE PROPERTIES WITH THESE
            "bPaginate": false,
            "info": true,
        });

        // GRAB THIS==================================
        $("#searchbox").on("keyup search input paste cut", function () {
            datatable_tabletools.DataTable().search(this.value).draw();
        });


        // **************** CONFIRM END **************************
    </script>
}


