@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.DfundExpenditureSummary>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentInstitutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentInstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundingSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FundingSourceDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBudgetClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoteDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GFSCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GFSCodeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentInstitutionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentInstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplementorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplementorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundingSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FundingSourceDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBudgetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GFSCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GFSCodeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DfundExpenditureSummaryId }) |
                @Html.ActionLink("Details", "Details", new { id=item.DfundExpenditureSummaryId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DfundExpenditureSummaryId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
