@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.Receipt>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentExchangeRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BudgetExchangeRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingBankAccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingBankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingBankBIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrGlAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrGlAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReversalRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReversalFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentExchangeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetExchangeRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalTypeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingBankAccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingBankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingBankBIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrGlAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrGlAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReversalRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReversalFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ReceiptId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ReceiptId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ReceiptId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
