@model IFMIS.Areas.IFMISTZ.Models.GeneralLedger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GeneralLedger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SequencyNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequencyNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FundingRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FundingRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalSourceModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalSourceModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalSourceRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalSourceRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionJournalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionJournalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalNetChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalNetChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseNetChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseNetChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversalRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversalRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversalFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversalFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReconciled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReconciled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciliationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciliationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClearedType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClearedType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciledBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciledBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GeneralLedgerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
