@model IFMIS.Areas.IFMISTZ.Models.FundTransfer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>FundTransfer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TransferCategory)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TransferCategory)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionIdFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionIdFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCodeFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCodeFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionNameFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionNameFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionIdTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionIdTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCodeTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCodeTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionNameTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionNameTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClassFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubBudgetClassFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClassTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubBudgetClassTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OperationalAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OperationalAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseCurrencyId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseCurrencyId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseAmount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseAmount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BaseCurrency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BaseCurrency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OperationalCurrencyId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OperationalCurrencyId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OperationalCurrency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OperationalCurrency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FinancialYear)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankAccountFrom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankAccountFrom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BankAccountTo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BankAccountTo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DrGlAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DrGlAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CrGlAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CrGlAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.JournalTypeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.JournalTypeCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
