@model IFMIS.Areas.IFMISTZ.Models.Institution

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2 style="color:black;">Institution Details</h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table width="100%">
                                <tr>
                                    <td colspan="1">
                                        <div>
                                            <dl class="dl-horizontal" style="margin-left:25%">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.VoteCode)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.VoteCode)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionCode)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionCode)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionName)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionName)
                                                </dd>
                                               
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionLevel)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionLevel)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionCategory)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionCategory)
                                                </dd>
                                              
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.SectorDesc)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.SectorDesc)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.SubSectorDesc)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.SubSectorDesc)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level1Code)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level1Code)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level1Desc)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level1Desc)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level2Code)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level2Code)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level2Desc)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level2Desc)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level3Code)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level3Code)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level3Desc)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level3Desc)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level4Code)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level4Code)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Level4Desc)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Level4Desc)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.City)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.City)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Country)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Country)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.AoTin)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.AoTin)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Telephone)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Telephone)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Zip)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Zip)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Address1)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Address1)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Address3)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Address3)
                                                </dd>



                                            </dl>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href='@Url.Action("InstitutionList", "Institutions")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>