@model IFMIS.Areas.IFMISTZ.Models.Institution

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">Details</a></li>
                                </ul>
                                <br />
                                <div class="tab-content">
                              
                                        <div class="detail-section">
                                            <div class="row-align">
                                                <div style="max-width:600px">
                                                    <table>

                                                        <tr>
                                                            <td class="sect-label">Institution Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.InstitutionCode)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="sect-label">Institution Category:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.InstitutionCategory)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Sector Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.SectorCode)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Sp Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.SpCode)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level1 Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level1Code)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level2 Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level2Code)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level4 Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level3Code)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level4 Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level4Code)</td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">Address:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Address1)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">City:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.City)</td>
                                                        </tr>


                                                        <tr>
                                                            <td class="sect-label">AoTitle:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.AoTitle) </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Collection Center Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.CollectionCenterCode)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Payment Office:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.PaymentOfficeId)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Created At:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.CreatedAt, "_ShortDateTime")</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Is DFUND:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.IsDFUND)</td>
                                                        </tr>

                                                        @if (Model.IsDFUND == true)
                                                        {

                                                            <tr>
                                                                <td class="sect-label">Implementor Code:</td>
                                                                <td style="text-align:right">@Html.DisplayFor(model => model.ImplementorCode)</td>
                                                            </tr>

                                                            <tr>
                                                                <td class="sect-label">Project Code:</td>
                                                                <td style="text-align:right">@Html.DisplayFor(model => model.ProjectCode)</td>
                                                            </tr>

                                                        }

                                                        </table>
                                                </div>
                                                <div>
                                                    <table>
                                                        <tr>
                                                            <td class="sect-label">Institution Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.InstitutionName)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Vote Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.VoteCode)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Sub Sector Code:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.SubSectorCode)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Sub SpCode:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.SubSpCode) </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level1 Description:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level1Desc)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level2 Description:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level2Desc)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level3 Description:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level3Desc)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Level4 Description:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Level4Desc)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">E-Mail:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Address3)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Country:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.Country)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">TIN:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.AoTin)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Collection Center Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.CollectionCenterName)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Institution Level:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.InstitutionLevel)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Created By:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.CreatedBy)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Consolidation Flag:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.ConsolidationFlag)</td>
                                                        </tr>

                                                        @if (Model.IsDFUND == true) { 
                                                        <tr>
                                                            <td class="sect-label">Implementor Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.ImplementorName)</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="sect-label">Project Name:</td>
                                                            <td style="text-align:right">@Html.DisplayFor(model => model.ProjectName)</td>
                                                        </tr>
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                     
                                
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href='@Url.Action("InstitutionList", "Institutions")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                                    Back
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    
                                  
                                </div>
                            </div>
                        </div>
            </article>
        </div>
    </section>
</div>