@model IFMIS.Areas.IFMISTZ.Models.CentralPaymentCategory
@{
    ViewBag.Title = "Edit Central Payment Category";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">

                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-lg-2 col-sm-12 "></div>
                                <div class="col-md-8 col-lg-8 col-sm-12 ">
                                    <table>
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td class="form-label">
                                                Category Name <i class="fa fa-times" style="color:white" id="CategoryName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.CategoryName, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Sub Budget Class <i class="fa fa-times" style="color:white" id="SubBudgetClass_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @if (ViewBag.SubBudgetClassList != null)
                                                    {
                                                        <select id="SubBudgetClass" class="form-control select2" style="width:300px;max-width:300px;">
                                                            @foreach (var item in ViewBag.SubBudgetClassList)
                                                            {
                                                                if (ViewBag.SubBudgetClass == item.SubBudgetClass)
                                                                {
                                                                    <option value='@item.SubBudgetClass' selected>
                                                                        @item.SubBudgetClass - @item.SubBudgetClassDesc
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value='@item.SubBudgetClass'>
                                                                        @item.SubBudgetClass - @item.SubBudgetClassDesc
                                                                    </option>
                                                                }
                                                            }
                                                        </select>
                                                    }
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payer Account Name <i class="fa fa-times" style="color:white" id="PayerAccountName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.PayerAccountName, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payer Account No <i class="fa fa-times" style="color:white" id="PayerAccountNo_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.PayerAccountNo, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payee Account Name <i class="fa fa-times" style="color:white" id="PayeeAccountName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.PayeeAccountName, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payee BIC <i class="fa fa-times" style="color:white" id="PayeeBIC_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.PayeeBIC, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Payee Bank Name <i class="fa fa-times" style="color:white" id="PayeeBankName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.PayeeBankName, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                Payee Account No <i class="fa fa-times" style="color:white" id="PayeeAccountNo_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    @Html.TextBoxFor(model => model.PayeeAccountNo, new { @Class = "input", @required = "required", style = "width:300px; " })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-info" href='@Url.Action("CentralPaymentCategoryList", "CentralPaymentCategory")' style="margin-right:5px">
                                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                </a>
                                                <button type="submit" class="btn btn-info" id="form_submision">
                                                    <i class="fa fa-save"></i>Update
                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-lg-2 col-sm-12 "></div>

                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        $("#saveLoader").toggle(false);
        $("#form_submision").click(function () {
            var PayerAccountName = $("#PayerAccountName").val();
            var SubBudgetClass = $("#SubBudgetClass").val();
            var PayerAccountNo = $("#PayerAccountNo").val();
            var PayeeAccountName = $("#PayeeAccountName").val();
            var PayeeBIC = $("#PayeeBIC").val();
            var PayeeBankName = $("#PayeeBankName").val();
            var PayeeAccountNo = $("#PayeeAccountNo").val();
            var CategoryName = $("#CategoryName").val();

            if (FormValidation()) {
                try {

                    var form_data = {
                        "__RequestVerificationToken": $('[name=__RequestVerificationToken]').val(),
                        "CentralPaymentCategoryId": '@ViewBag.CentralPaymentCategoryId',
                        "PayerAccountName": $("#PayerAccountName").val(),
                         "SubBudgetClass": $("#SubBudgetClass").val(),
                        "PayerAccountNo": $("#PayerAccountNo").val(),
                        "PayeeAccountName": $("#PayeeAccountName").val(),
                        "PayeeBIC": $("#PayeeBIC").val(),
                        "PayeeBankName": $("#PayeeBankName").val(),
                        "PayeeAccountNo": $("#PayeeAccountNo").val(),
                        "CategoryName": $("#CategoryName").val()
                    }

                    var url = '@Url.Action("Edit", "CentralPaymentCategory")';
                    var urlList = '@Url.Action("CentralPaymentCategoryList", "CentralPaymentCategory")';
                    $("#form_submision").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    $.ajax({
                        type: "post",
                        url: url,
                        data: form_data,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            $("#form_submision").prop('disabled', false);
                            $("#saveLoader").toggle(false);
                            if (response == "Success") {
                                swal("Updated Successfully!", { icon: "success" })
                                    .then((value) => {
                                        window.location.href = urlList;
                                    });
                            }
                            else {
                                swal(response);
                            }
                        },
                        failure: function (error) {
                            $("#form_submision").prop('disabled', false);
                            $("#saveLoader").toggle(false);
                            swal(error);
                        }
                    });

                } catch (e) {
                    swal("Error Saving. Please consult system administrator!");
                }
            }
        });

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        function FormValidation() {
            var isNotValid = validateInputsParameters([
                 "#CategoryName",
                  "#SubBudgetClass",
                 "#PayerAccountName",
                "#PayerAccountNo",
                "#PayeeAccountName",
                "#PayeeBIC",
                "#PayeeBankName",
                "#PayeeAccountNo"
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                swal(isNotValid + " is Required", { icon: "warning" });
                $(".saveLoader").toggle(false);
                return false;
            }
            return true;
        }
    </script>
}
