<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Edit Store</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Store Code:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td><input type="text" id="storeCode" style="width:300px" value="@ViewBag.StoreCode" /> </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Store Name:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td><input type="text" id="storeName" style="width:300px" value="@ViewBag.StoreName" /></td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Phone:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td><input type="text" id="Phone" style="width:300px" value="@ViewBag.Phone" /></td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Address:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td><input type="text" id="Address" style="width:300px" value="@ViewBag.Address" /></td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Region Name:
                                                <i class="fa fa-times" style="color:white" id="Region2"></i>
                                            </td>
                                            <td>
                                                <select id="RegionName" style="width:300px">
                                                    <option value="@ViewBag.RegionID" selected="selected">@ViewBag.RegionName</option>
                                                    @foreach (var regionList in ViewBag.RegionList)
                                                    {
                                                        <option value='@regionList.RegionId'>@regionList.RegionName</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                District Name:
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <select id="DistrictName" style="width:300px">
                                                    <option value="@ViewBag.districtId" selected="selected">@ViewBag.DistrictName</option>
                                                    @foreach (var districtList in ViewBag.districtList)
                                                    {
                                                        <option value='@districtList.DistrictId'>@districtList.DistrictName</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">

                                    <a class="btn btn-info" href='@Url.Action("StoreList", "Store")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="btnSave">
                                        <i class="fa fa-save"></i>Save
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        $("#RegionName").change(function () {
            debugger
            var regionId = $("#RegionName").val();
            var url = '@Url.Action("GetDistrictList", "Store")';

            $.ajax({
                type: "POST",
                url: url,
                data: { regionId: regionId },
                success: function (response) {
                    $("#DistrictName").empty();
                    $("#DistrictName").append(response);
                }
            })
        });


        $("#btnSave").click(function () {
            debugger;
            var storeName = $("#storeName").val();
            var storeCode = $("#storeCode").val();
            var regionName = $("#RegionName").val();
            var districtName = $("#DistrictName").val();

            if (storeName == '') {
                swal("Store Name is Required")
                    .then((j) => {
                        $("#storeName").focus();
                        $("#storeName").css({ 'border-color': 'red' });
                    });

            } else if (storeCode == '') {
                swal("Store Code is Required")
                    .then((j) => {
                        $("#storeCode").focus();
                        $("#storeCode").css({ 'border-color': 'red' });
                    });
            }
            else if (regionName == 'Please choose Region') {
                swal("Region is Required")
                    .then((j) => {
                        $("#RegionName").focus();
                        $("#RegionName").css({ 'border-color': 'red' });
                    });
            }
            else if (districtName == 'Please choose District') {
                swal("District is Required")
                    .then((j) => {
                        $("#DistrictName").focus();
                        $("#DistrictName").css({ 'border-color': 'red' });
                    });
            }
            else {
                $("#storeName").css({ 'border-color': '' });
                $("#storeCode").css({ 'border-color': '' });
                $("#RegionName").css({ 'border-color': '' });
                $("#DistrictName").css({ 'border-color': '' });

                var form_data = {
                    "StoreName": $("#storeName").val(),
                    "StoreCode": $("#storeCode").val(),
                    "RegionId": $("#RegionName").val(),
                    "DistrictId": $("#DistrictName").val(),
                    "Address": $("#Address").val(),
                    "Phone": $("#Phone").val(),
                }

                var url = '@Url.Action("EditStore", "Store")';
                var urlList = '@Url.Action("StoreList", "Store")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { vm: form_data, storeId: '@ViewBag.storeId' },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
            }
        });
    </script>
}

