@model IFMIS.Areas.Gacs.Models.gac_data_trx_v

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>gac_data_trx_v</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTransaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
