@model IFMIS.Areas.Gacs.Models.gac_data_trx_v

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gac_data_trx_v</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTransaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTransaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
