@model IFMIS.Areas.IFMISTZ.Models.PaymentSummary
@{
    Layout = null;
}
<style>
    @@page {
        size: A4;
        margin: 1cm;
    }

    .custom-table {
        width: 100%;
        border-collapse: collapse;
    }

        .custom-table th,
        .custom-table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        .custom-table th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .custom-table td {
            background-color: #ffffff;
        }

    .field-name {
        font-size: 11px;
    }

    .text-container {
        text-align: center;
    }

        .text-container p {
            text-align: justify;
        }

    .signature-line {
        margin: 0 auto;
        width: 200px;
        border-bottom: 1px solid #000;
        margin-bottom: 5px;
    }

    .signature-section img {
        display: block;
        margin: 0 auto;
        height: 5px;
        max-width: 20px;
        object-fit: contain;
        text-align: center;
    }

    .custm-table, .custm-table td {
        border: none !important;
        border-collapse: collapse;
    }

</style>

<!--PERMIT SUMMARY-->
<div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 12px">
    <div style="font-size: 12px">
        <div style="padding-top: 10px">
            <div style="text-align: center"><strong>THE UNITED REPUBLIC OF TANZANIA</strong></div>
            <div style="text-align: center;"><img src="@ViewBag.logoImageBase64" alt="Logo" style="width:100px;height:100px"></div>
            <div style="text-align: center; margin-top: 10px; text-transform: uppercase;"><strong>@Model.InstitutionCode - @Model.InstitutionName </strong></div>
            <div style="text-align: center; margin-top: 10px"><strong>PAYMENT INSTRUCTION SLIP</strong></div>
        </div>
    </div>

    <div style="width: 100%; overflow: hidden; margin-bottom: 15px">
        <br>
        <!-- Left side details -->
        <div style="float: left; width: 100%; margin: 0px">
            <table class="custm-table" style="border-collapse: collapse; width: 40%; border: none;">
                <tr class="field-name">
                    <td style="border: none;"><strong>PAYER ACCOUNT NUMBER</strong></td>
                    <td style="border: none; text-align:left;">
                        : @Model.PayerBankAccount
                    </td>
                </tr>
                <tr class="field-name">
                    <td style="border: none;"><strong>PAYER ACCOUNT NAME</strong></td>
                    <td style="border: none; text-align:left;">
                        : @Model.PayerBankName
                    </td>
                </tr>
                <tr class="field-name">
                    <td style="border: none;"><strong>PAYMENT DATE</strong></td>
                    <td style="border: none; text-align:left;">
                        : @Convert.ToDateTime(Model.CreatedAt).ToString("dd MMMM yyyy")
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="width: 100%; margin-bottom: 15px;font-size: 12px">
        <br>
        <table class="custom-table" style="margin-bottom: 30px">
            <tr class="field-name">
                <td><b>PAYMENT NUMBER</b></td>
                <td><b>NO. OF RECORDS</b></td>
                <td style="text-align:left"><b>ACCOUNT CATEGORY</b></td>
                <td style="text-align:left"><b>PAYMENT METHOD</b></td>
                <td style="text-align:right"><b>AMOUNT(TZS)</b></td>
                <td style="text-align:right"><b>TRANS AMOUNT(TZS)</b></td>
            </tr>
            <tr class="field-name">
                <td>@Model.PaymentNo</td>
                <td style="text-align:center">@Model.NumTrx</td>
                <td style="text-align:right">@Model.PayerAccountType</td>
                <td style="text-align:right">@Model.PaymentMethod</td>
                <td style="text-align:right">@string.Format("{0:#,0.00}", Model.BaseAmount)</td>
                <td style="text-align:right">@string.Format("{0:#,0.00}", Model.TransactionAmount)</td>
            </tr>
            <tr class="field-name">
                <td style="border: none;" colspan="3"></td>
                <td style="text-align:right"><b>Total Amount</b></td>
                <td style="text-align:right"><b>@string.Format("{0:#,0.00}", Model.BaseAmount)</b></td>
                <td style="text-align:right"><b>@string.Format("{0:#,0.00}", Model.TransactionAmount)</b></td>
            </tr>
        </table>
    </div>

        <!-- Proceedings, Recommendations, and Approval Sections -->
    <div style="width: 100%; margin-bottom: 15px; font-size: 12px">
        <br>
        <br>
        <h4 style="font-size: 12px">IMPLEMENTING AGENT:</h4>
        <table width="100%">
            <tr style="padding-top: 20px;">
                <td style="width:50%">
                    <div class="signature-section">
                        <p id="Verification" style="text-align:left">verifierOfficer</p>
                    </div>
                </td>
                <td style="width:50%">
                    <div class="signature-section">
                        <p id="Verification" style="text-align:left">approverOfficer</p>
                    </div>
                </td>
            </tr>


        </table>
    </div>

        
    </div>

   
