@{
    ViewBag.Title = "Examine";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search], input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }
    .table-view-details td:nth-child(4) {
        text-align: right;
    }
    .total-amount{
        float: right;
    }
    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

        .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }
       .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }
    .wh-holding{
        color:#008636;
        font-size:10px;
    }
    .bubble-w{
        width:5px;
        height:5px;
        border-radius:100%;
        background-color:plum;
        border:1px solid red;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_voucher_listing" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Legal Number</th>
                                        <th>Payee Name</th>
                                        <th>Payee Account Name</th>
                                        <th>Payee Bank Account</th>
                                        <th>Payee Bank Name</th>
                                        <th>Amount</th>
                                        <th>CALCULATIONS</th>
                                        <th>Source Module</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Voucher Information</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Payee Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1. Payee Name: </th>
                                                <td id="_Payeename"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Payee Code:</th>
                                                <td id="_PayeeCode"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>3. Payee Bank Name:</th>
                                                <td id="_PayeeBankName"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Payee Address:</th>
                                                <td id="_PayeeAddress"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Voucher Entries</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>1. Description: </th>
                                                <td id="Description1"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Comments:</th>
                                                <td id="Comments1"></td>
                                            </tr>
                                            <tr>
                                                <th>3. Apply Date:</th>
                                                <td id="ApplyDate1"></td>
                                            </tr>
                                            <tr>
                                                <th>AOApproval Ref:</th>
                                                <td id="AOApprovalRef"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>4. Payment Method:</th>
                                                <td id="PaymentMethod1"></td>
                                            </tr>
                                            <tr>
                                                <th>5. Control Number:</th>
                                                <td id="ControlNumber1"></td>
                                            </tr>
                                            <tr>
                                                <th>6. Sub Budget Class:</th>
                                                <td id="SubBudgetClass1"></td>
                                            </tr>
                                            <tr>
                                                <th>DfundRef:</th>
                                                <td id="DfundApprovalRef"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry with-holding">
                            <div class="entry-label1">With-holding Entries</div>
                            <div style="padding-left:20px">
                                <table>
                                    <tr>
                                        <th>Service Fee: </th>
                                        <td id="ServiceAmount1"></td>
                                        <th style="padding:10px">VAT:</th>
                                        <td style="padding:10px" id="VATOnService1"></td>
                                        <th style="padding:10px">Goods Amount:</th>
                                        <td style="padding:10px" id="GoodsAmount1"></td>
                                        <th style="padding:10px">Other:</th>
                                        <td style="padding:10px" id="Other1"></td>
                                        <td style="padding:10px" id="OtherPercent1"></td>
                                        <th style="padding:10px">Total Withholding Amount:</th>
                                        <td style="padding:10px" id="TotalWithholdingAmount1"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry liquidated-demage">
                            <div class="entry-label1">Liquidated Demage</div>
                            <div style="padding-left:20px">
                                <table>
                                    <tr>
                                        <th>Amount: </th>
                                        <td id="LiquidatedDemageAmount"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry rentation">
                            <div class="entry-label1">Rentation Details</div>
                            <div style="padding-left:20px">
                                <table>
                                    <tr>
                                        <th style="padding:10px">Amount: </th>
                                        <td style="padding:10px" id="RetentionAmount"></td>
                                        <th style="padding:10px">TransfertType: </th>
                                        <td style="padding:10px" id="TransfertType"></td>
                                    </tr>
                                    <tr>
                                        <th style="padding:10px">SubBudgetClassTo: </th>
                                        <td style="padding:10px" id="SubBudgetClassTo"></td>
                                        <th style="padding:10px">BankAccountTo: </th>
                                        <td style="padding:10px" id="BankAccountTo"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <table id="dt_voucher_detail" class="table table-striped table-bordered table-hover table-condensed table-view-details"></table>
                        <div class="total-amount">TOTAL <strong id="totalAmount">0.00</strong></div>
                        <table>
                            <tr>
                                <td><strong style="color:#2196F3">Status:</strong> <label id="statusId">-</label></td>
                                <td><strong style="color:#2196F3">Remarks:</strong> <label id="reasonId">-</label></td>
                            </tr>
                        </table>
                     </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="accept('x')">
                        <i class="fa fa-check"></i>Examine
                    </button>
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="reject('x')">
                        <i class="fa  fa-times-circle"></i> Reject
                    </button>
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific{

    <script>

        // ============ INIT DATA TABLES START =====================

        var dt_voucher_listing = $('#dt_voucher_listing').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_voucher_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_voucher_listing.DataTable().search(this.value).draw();
        });

        var dt_payee_details = $('#dt_payee_details').dataTable({
            'sDom': 't',
            "autoWidth": false,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "columns": [
                { title: "Payee Name" },
                { title: "Payee code" },
                { title: "Bank Name" },
                { title: "Bank Account No" },
                { title: "Address" }]
        });

        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            'sDom': 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });

        function sourceModule(d) {
            switch (d["SourceModule"]) {
                case "Purchase":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                 case "Accrual Payment":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return '<a href="@Url.Action("Purchase", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                case "Contract":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return d["SourceModuleReferenceNo"].includes("PO") ?
                        '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d) :
                        '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Accrual Purchase":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return '<a href="@Url.Action("PreviewReceiving","Procurement")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Accrual Contract":
                    if (!d["SourceModuleReferenceNo"]) {
                        return d["SourceModule"];
                    } else {
                        return '<a href="@Url.Action("PreviewReceiving", "Contract")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    }
                    break;
                case "Prepayment":
                    return '<a href="@Url.Action("PreviewPrepayment","Prepayment")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Imprest":
                    return '<a href="@Url.Action("ImprestDetails","Imprest")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Unapplied":
                    return '<a href="@Url.Action("Details","Unapplieds")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "BulkPayment":
                    return '<a href="@Url.Action("PaymentDetails", "PaymentBatches")/' + d["OtherSourceId"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "Loan":
                    return '<a href="@Url.Action("PreviewLoanTracker","Loan")/' + d["SourceModuleReferenceNo"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                    break;
                case "PSAF":
                    return '<a href="@Url.Action("PaymentLoanDetails", "ALSLoanAssignment", new { Area = "ALS" })/?loanNumber=' + d["SourceModuleReferenceNo"] + '">' + d["SourceModule"] + '</a>' + withholdingTemplate(d);
                default:
                    return d["SourceModule"] + withholdingTemplate(d);
            }
        }

        var data = [];
        var globalPayeeId = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetPaymentVoucher", "PaymentVoucher")' + "/?overallStatus=Confirmed",
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_voucher_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_voucher_listing.fnAddData([i+1,
                       data[i]["PVNo"],
                       data[i]["Payeename"],
                       data[i]["PayeeAccountName"],
                       data[i]["PayeeBankAccount"],
                       data[i]["PayeeBankName"],
                       toLabel(data[i]["OperationalAmount"]),
                       calculate(data[i]),
                        sourceModule(data[i]),
                         data[i]["OverallStatus"],
                       '<a href="#" onclick="viewAttachment('+i+')"><i class="fa fa-file-pdf-o"></i></a>',
                       '<div class="btn-group" id="drop-' + i + '">\
                          <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                           </button>\
                         <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "openViewDialog(' + i + ')">View</a></li>\
                             <li><a href="#" onclick="reject(' + i + ')">Reject</a></li>\
                             <li><a href="#" onclick="accept(' + i + ')">Examine</a></li>\
                        </ul>\
                  </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                  ]);
                    $("#saveLoader-" + i + "").toggle(false)
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
        // *************** LOAD TABLE DATA END *********************


        // =============== OPEN VIEW DIALOG START ==================

        /**
         * Display the View model Dialog
         * param  {Int} i - Id of the selected Item
        */
        $(".with-holding").toggle(false)
        $(".liquidated-demage").toggle(false)
        $(".rentation").toggle(false)

        function openViewDialog(i) {
            globalPayeeId = i;

            console.log(data[i])
            $("#_Payeename").text(data[i]["Payeename"]);
            $("#_PayeeCode").text(data[i]["PayeeCode"]);
            $("#_PayeeBankName").text(data[i]["PayeeBankName"]);
            $("#_PayeeAddress").text(data[i]["PayeeAddress"]);

            if (data[i]["hasWithHolding"]) {
                $(".with-holding").toggle(true)
            } else {
                $(".with-holding").toggle(false)
            }

            if (data[i]["LiquidatedDemageAmount"] != null) {
                $(".liquidated-demage").toggle(true)
                $("#LiquidatedDemageAmount").text(toLabel(data[i]["LiquidatedDemageAmount"]));
            } else {
                $(".liquidated-demage").toggle(false)
            }

            if (data[i]["RetentionAmount"] != null) {
                $(".rentation").toggle(true)
                $("#TransfertType").text(toLabel(data[i]["TransfertType"]));
                $("#SubBudgetClassTo").text(toLabel(data[i]["SubBudgetClassTo"]));
                $("#BankAccountTo").text(toLabel(data[i]["BankAccountTo"]));
                $("#RetentionAmount").text(toLabel(data[i]["RetentionAmount"]));
            } else {
                $(".rentation").toggle(false)
            }

            dt_voucher_detail.fnClearTable();
            var totalAmount = 0;
            data[i]["VoucherDetails"].forEach(row => {
                dt_voucher_detail.fnAddData([
                    row["DrGlAccount"].split("|").join("-"),
                    row["DrGlAccountDesc"],
                    row["FundingReferenceNo"],
                    toLabel(row["OperationalAmount"]),
                ]);
                totalAmount = totalAmount + parseFloat(row["OperationalAmount"]);
            });

            $("#totalAmount").text(toLabel(totalAmount));
            $("#Description1").text(data[i]["PaymentDesc"]);
            $("#reasonId").text(data[i]["OverallStatusDesc"] ? data[i]["OverallStatusDesc"] : "-");
            $("#statusId").text(data[i]["OverallStatus"]);
            $("#InvoiceNo1").text(data[i]["InvoiceNo"]);
            $("#total_voucher_amount1").val(data[i]["OperationalAmount"]);
            $("#ApplyDate1").text(data[i]["ApplyDateFormatted"]);
            $("#Comments1").text(data[i]["Narration"]);
            $("#PaymentMethod1").text(data[i]["PaymentMethod"]);
            $("#ControlNumber1").text(data[i]["ControlNumber"] ? data[i]["ControlNumber"] : "-");
            $("#SubBudgetClass1").text(data[i]["SubBudgetClass"]);

            $("#ServiceAmount1").text(data[i]["ServiceAmount"] ? toLabel(data[i]["ServiceAmount"]) : 0);
            $("#VATOnService1").text(data[i]["VATOnService"] ? toLabel(data[i]["VATOnService"]) : 0);
            $("#GoodsAmount1").text(data[i]["GoodsAmount"] ? toLabel(data[i]["GoodsAmount"]) : 0);
            $("#VATOnGoods1").text(data[i]["VATOnGoods"] ? toLabel(data[i]["VATOnGoods"]) : 0);
            $("#Other1").text(data[i]["OtherWithholdingAmount"] ? toLabel(data[i]["OtherWithholdingAmount"]) : 0);
            $("#OtherPercent1").text(data[i]["OtherWithholdingPercent"] ? data[i]["OtherWithholdingPercent"] + "%" : "0%");
            $("#TotalWithholdingAmount1").text(data[i]["OperationalWithHoldingAmount"] ? toLabel(data[i]["OperationalWithHoldingAmount"]) : 0);


            if (data[i].AOApprovalId) {
                $("#AOApprovalRef").html(dataLink(data[i]["AOApprovalRef"]), data[i].AOApprovalId,);
            }

            if (data[i].DfundApprovalId) {
                $("#DfundApprovalRef").html(dataLink(data[i]["DfundApprovalRef"], data[i].DfundApprovalId));
            }

            $('#confirmModal').modal('show');

        }

        function openLink(id) {
        var url = `@Url.Action("EofficeDetails", "DFundApprovals")/${id}`
            window.open(url, '_blank');
        }

       function dataLink(value, id) { return `<a href="#" onclick="openLink(${id})"><strong>${value}</strong></a>`}


        function reject(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmRejection(data[i]["PaymentVoucherId"], remark);
                };
            });
            $('#confirmModal').modal('hide');
        }

        /**
         * Send Rejection signal to the backend
         * param  {Int} i - Id of the selected Item
         */
        function confirmRejection(Id, remark) {
            var url = '@Url.Action("RejectVoucher", "PaymentVoucher")';
            $.ajax({
                type: "post",
                url: url,
                data: { "Id": Id, "Remark": remark },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved Successfully!", {icon:"success"}).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        //********************* REJECT END *************************


        //=================== ACCEPT START =========================
        /**
        * Show Accept Dialog
        * param  {Int} i - Id of the selected Item
        */
        function accept(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                title: 'Mark this Voucher as Examined?',
                buttons: [
                  'NO',
                  'YES'
                ],
                dangerMode: true,
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmAcceptance(data[i]["PaymentVoucherId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        /**
        * Send Acceptance signal to the backend
        * param  {Int} i - Id of the selected Item
        */
        function confirmAcceptance(i) {
            $.ajax({
                type: "post",
                url: '@Url.Action("ExamineVoucher", "PaymentVoucher")',
                data: { "paymentVoucherId": i },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Confirmed Successfully!", {icon:"success"}).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
            $('#confirmModal').modal('hide');
        }

       function viewAttachment(i) {
           window.location.href =
               '@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + data[i]["PaymentVoucherId"] + '&&sourceModule='+data[i]["SourceModule"];
        }
        // **************** ACCEPT END **************************
    </script>
}
