@model IFMIS.Areas.Coadmis.DTO.ClientInformationVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create Client";
    var i = 0;
}
<div id="divLoader">
</div>
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Client Information </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <table class="table table-bordered table-striped" style="width:60%">
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.ClientName)</td>
                                        <td>@Model.ClientName</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.ClientTypeName)</td>
                                        <td>@Model.ClientTypeName</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.CategoryName)</td>
                                        <td>@Model.CategoryName</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.CategoryLevel)</td>
                                        <td>@Model.CategoryLevel</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.ClientCode)</td>
                                        <td>@Model.ClientCode</td>
                                    </tr>
                                    <tr>
                                        <td>Client Address</td>
                                        <td>@Model.ClientAddress</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.NumberOfBranches)</td>
                                        <td>@Model.NumberOfBranches</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.RegistrationNumber)</td>
                                        <td>@Model.RegistrationNumber</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.VATNumber)</td>
                                        <td>@Model.VATNumber</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.CommonBond)</td>
                                        <td>@Model.CommonBond</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.MainPlaceOfBusiness)</td>
                                        <td>@Model.MainPlaceOfBusiness</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.EmailAddress)</td>
                                        <td>@Model.EmailAddress</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.TINnumber)</td>
                                        <td>@Html.DisplayFor(model => model.TINnumber)</td>
                                    </tr>
                                    <tr>
                                        <td>Registration Date</td>
                                        <td>
                                            @string.Format("{0:d/M/yyyy}", @Model.RegistrationDate)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.FinancialYearStart)</td>
                                        <td>
                                            @string.Format("{0:dd/MMMM}", @Model.FinancialYearStart)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.FinancialYearEnd)</td>
                                        <td>
                                            @string.Format("{0:dd/MMMM}", @Model.FinancialYearEnd)
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td>@Html.DisplayNameFor(model => model.AccountingPeriodDsply)</td>
                                            <td>
                                                @string.Format("{0:dd/MMMM}", @Model.AccountingPeriod)
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td>Audit Due Date</td>
                                        <td>@string.Format("{0:dd/MMMM}", Model.AuditDueDate)</td>
                                    </tr>
                                    <tr>
                                        <td> @Html.DisplayNameFor(model => model.OperationalStatus)</td>
                                        <td>
                                            @Html.DisplayFor(model => model.OperationalStatus)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.RegionName)</td>
                                        <td>
                                            @Html.DisplayFor(model => model.RegionName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.DistrictName)</td>
                                        <td>
                                            @Html.DisplayFor(model => model.DistrictName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Ward)</td>
                                        <td>
                                            @Html.DisplayFor(model => model.Ward)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Specify)</td>
                                        <td>
                                            @Html.DisplayFor(model => model.Specify)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6" style="margin-top:10px;margin-bottom:10px">
                            <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-info pull-left">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Back
                            </a>
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </div>
            </article>
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">
        $(function () {
            if ($("#RequireSpecification").val() == true) {
                $("#Specifyreasons").show();
            } else {
                $("#Specifyreasons").hide();
            }
            });

        $(function () {
          $("#btnSave").on("click", function () {
            $("#btnSave").attr("disabled", true);
            $.validator.unobtrusive.parse("#form");
            if (!$("#form").valid()) {
                    $("#btnSave").attr("disabled", false);
                    return false;
                }

                $("#divLoader").show();

                var token = $("[name='__RequestVerificationToken']").val();

                var formData = new FormData();

              formData.append("__RequestVerificationToken", token);
              formData.append("ClientName", $('#ClientName').val());
              formData.append("ClientTypeId", $('#ClientTypeId').val());
              formData.append("ClientCategoryId", $('#ClientCategoryId').val());
              formData.append("CategoryLevel", $('#CategoryLevel').val());
              formData.append("RegistrationNumber", $('#RegistrationNumber').val());
              formData.append("RequireSpecification", $('#RequireSpecification').val());
              formData.append("ClientAddress", $('#ClientAddress').val());
              formData.append("OperationstatusId", $('#OperationstatusId').val());
              formData.append("RegistrationDate", $('#RegistrationDate').val());
              formData.append("TINnumber", $('#TINnumber').val());
              formData.append("VATNumber", $('#VATNumber').val());
              formData.append("CommonBond", $('#CommonBond').val());
              formData.append("EmailAddress", $('#EmailAddress').val());
              formData.append("MainPlaceOfBusiness", $('#MainPlaceOfBusiness').val());
              formData.append("AssociateCompanyId", $('#AssociateCompanyId').val());
              formData.append("Specify", $('#Specify').val());
              formData.append("OperationstatusId", $('#OperationstatusId').val());
              formData.append("NumberOfBranches", $('#NumberOfBranches').val());
              formData.append("ClientCategoryId", $('#ClientCategoryId').val());
              formData.append("RegionId", $('#RegionId').val());
              formData.append("DistrictId", $('#DistrictId').val());
              formData.append("WardId", $('#WardId').val());
              formData.append("CategoryLevel", $('#CategoryLevel').val());
              formData.append("AccountingPeriod", $('#AccountingPeriod').val());

                var url = '@Url.Action("CreateClientInformation", "ClientInformations")';
                $.ajax({
                url: url,
                type: "POST",
                //data: JSON.stringify(Object.fromEntries(formData)),
                data: formData,
                dataType: "JSON",
                //contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                //cache: false,
                processData: false,
                contentType: false,
                success: function (response) {
                            if (response == "Success") {
                                swal({
                                    text: "Client saved successfully!",
                                    icon: "success",
                                    button: "OK",
                                }).then(function () {
                                    window.location = '@Url.Action("ClientInformationlist", "ClientInformations")';
                                });
                            } else {
                                swal({
                                    text: response,
                                    icon: "warning",
                                    button: "OK",
                                })
                            }
                        },
                error: function () {
                            swal({
                                text: "An error occured while processing your request, please contact system support",
                                icon: "error",
                                button: "OK",
                        })
                },
                complete: function () {
                    $("#btnSave").attr("disabled", false);
                    $("#divLoader").hide();
                }
                });
            })
            //End of dynamic table
        });

         $("#RegionId").change(function() {
            debugger
            var regionId = $(this).val();

            var url = '@Url.Action("GetDistrict", "ClientInformations")';
            var params = { "regionId": regionId };

            $.ajax({
                type: "POST",
                url: url,
                data: params,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function(response) {
                    console.log(response);
                    $("#DistrictId").empty();
                    $("#DistrictId").append(response);
                }
            })
         });

        $("#DistrictId").change(function() {
            debugger
            var districtId = $(this).val();

            var url = '@Url.Action("GetWard", "ClientInformations")';
            var params = { "districtId": districtId };

            $.ajax({
                type: "POST",
                url: url,
                data: params,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function(response) {
                    console.log(response);
                    $("#WardId").empty();
                    $("#WardId").append(response);
                }
            })
        });

        $('#Specify').on("keyup", function () {
            var count = $('#Specify').val().split('');
            var numChars = 500 - parseInt(count.length);
            $('#SpecifyCount').text(parseInt(numChars) + "Characters Remaining");

            if (numChars == 0) {
                $("#Specify").addClass("input-has-exceeded");
            } else {
                $("#Specify").removeClass("input-has-exceeded");
            }
        });

        $("#ClientCategoryId").change(function() {

            var id = $("#ClientCategoryId").val();
            var url = '@Url.Action("GetClientCategories", "ClientInformations")';

            $.ajax({
                type: "GET",
                url: url,
                data: { id: id },
                success: function(data, status, jqXHR) {
                    if (data.success) {
                        $("#CategoryLevel").val(data.CategoryLevel);
                    } else {
                        swal({
                            text: "An error occurred while processing your request, contact system support",
                            icon: "warning",
                            button: "OK",
                        })
                    };
                },
                error: function() {
                    swal({
                        text: "An error occurred while processing your request, contact system support",
                        icon: "error",
                        button: "OK",
                    });
                }
            });
         });

        $("#AssociateCompanyId").change(function () {
            debugger
            var associateCompanyId = $("#AssociateCompanyId").val();
            if (associateCompanyId == "1") {
                $("#RequireSpecification").val(true);
                $("#Specifyreasons").show();
            } else {
                $("#RequireSpecification").val(false);
                $("#Specifyreasons").hide();
            }
        });

    </script>
}
