@{
    ViewBag.Title = "Payment Office Tracker";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 120px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <select style="width:150px" id="overallstatus">
                                        <option value="Sent To PO">Pending</option>
                                        <option value="Verified in Payment Office">Verified</option>
                                        <option value="Approved in Payment Office">Approved</option>
                                        <option value="Rejected in Payment Office Submission">Rejected</option>
                                        <option value="All">All</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <table>
                                        <tr>
                                            <td>From</td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:120px;border:none;height:20px"
                                                           autocomplete="off" id="FromDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-3">
                                    <table>
                                        <tr>
                                            <td>To</td>
                                            <td>
                                                <div class="flatpickr date-group">
                                                    <input type="text" placeholder="Select Date.."
                                                           data-input
                                                           style="width:120px;border:none;height:20px"
                                                           autocomplete="off" id="ToDate">
                                                    <a class="input-button" title="open" data-toggle href="#">
                                                        <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-4">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Keywords..." id="searchbox">
                                        <button style="background-color:#2196F3;color:white" onclick="searchPayment()">Search</button>
                                    </div>
                                </div>
                            </div>

                            <table id="dt_voucher_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Payment No</th>
                                        <th>Num Trx</th>
                                        <th>Total Amount</th>
                                        <th>Payer Bank Account</th>
                                        <th>Payment Method</th>
                                        <th>Generated At</th>
                                        <th>Overall Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="viewModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Voucher Information</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="payee-entry">
                            <div class="entry-label">Institution Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-4">
                                        <table>
                                            <tr>
                                                <th>Institution Name: </th>
                                                <td id="_InstitutionName"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        <table>
                                            <tr>
                                                <th>InstitutionCode:</th>
                                                <td id="_InstitutionCode"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        @*<table>
                                            <tr>
                                                <th>Vote:</th>
                                                <td id="_Vote"></td>
                                            </tr>
                                        </table>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="search-container" style="float:right">
                                    <i class="fa fa-search searchIcon"></i>
                                    <input type="search" name="search" placeholder="Search..." id="searchboxView">
                                </div>
                            </div>
                        </div>
                        <table id="dt_view" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Legal Number</th>
                                    <th>Payee Name</th>
                                    <th>Description</th>
                                    <th>Payee Bank Account</th>
                                    <th>Payee Bank Name</th>
                                    <th>Paying Bank</th>
                                    <th>Paying Account</th>
                                    <th>Amount</th>
                                    <th>Source Module</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{

    <script>

        var dt_voucher_listing = $('#dt_voucher_listing').dataTable({
            "language": {
                "emptyTable": '<strong id="loader">Loading...</strong>',
                "zeroRecords": "No matching records found"
            }
        });


        $("#dt_voucher_listing_wrapper .dt-toolbar").remove();

       
        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            "sDom": 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });

        var data = [];
        function viewAttachment(i) {
            window.location.href =
                '@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + data[i]["PaymentSummaryId"] + '&&sourceModule=PaymentSummary';
        }
        var globalPayeeId = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetPaymentSummary", "PaymentOfficeTracker")' + "/?OverrallStatus=Pending&&FromDate=" + $('#FromDate').val() + "&&ToDate=" + $('#ToDate').val() + "&&keywords=0",
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_voucher_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_voucher_listing.fnAddData([i + 1,
                           data[i]["PaymentNo"],
                           data[i]["NumTrx"],
                           toLabel(data[i]["OperationalAmount"]),
                           data[i]["PayerBankAccount"],
                           data[i]["PaymentMethod"],
                           data[i]["CreatedAtFormatted"],
                           data[i]["OverallStatus"],
                         '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="#" onclick= "openViewDialog(' + i + ')">View</a></li>\
                                <li><a href="/Content/uploads/' + data[i]["PaymentSlipFilePath"] + '">View Slip</a></li>\
                                <li><a href="#" onclick="viewAttachment(' + i + ')">Additional Attachments</a></li>\
                            </ul>\
                        </div>'
                    ]);
                }

                if(data.length == 0){
                    $("#loader").text("No matching records found")
                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function searchPayment() {
            $("#loader").text("Loading...")
            $.ajax({
                type: "get",
                url: '@Url.Action("GetPaymentSummary", "PaymentOfficeTracker")' + "/?OverrallStatus=" + $("#overallstatus").val() + "&&FromDate=" + $('#FromDate').val() + "&&ToDate=" + $('#ToDate').val() + "&&keywords=" + $('#searchbox').val() + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_voucher_listing.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_voucher_listing.fnAddData([i + 1,
                           data[i]["PaymentNo"],
                           data[i]["NumTrx"],
                           toLabel(data[i]["OperationalAmount"]),
                           data[i]["PayerBankAccount"],
                           data[i]["PaymentMethod"],
                           data[i]["CreatedAtFormatted"],
                           data[i]["OverallStatus"],
                             '<div class="btn-group">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                 <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="#" onclick= "openViewDialog(' + i + ')">View</a></li>\
                                <li><a href="/Content/uploads/' + data[i]["PaymentSlipFilePath"] + '">View Slip</a></li>\
                                <li><a href="#" onclick="viewAttachment(' + i + ')">Additional Attachments</a></li>\
                            </ul>\
                        </div>'
                        ]);
                    }
                    if (data.length == 0) {
                        $("#loader").text("No matching records found")
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        var dt_view = $('#dt_view').dataTable();
        $("#searchboxView").on("keyup search input paste cut", function () {
            dt_view.DataTable().search(this.value).draw();
        });

        $("#dt_view_wrapper .dt-toolbar").remove();
        function openViewDialog(i) {
            $("#_InstitutionName").text(data[i]["InstitutionName"])
            $("#_InstitutionCode").text(data[i]["InstitutionCode"])
            viewData(data[i]["PaymentSummaryId"]);
            $("#viewModal").modal("show");
        }

        function viewData(Id) {
            $.ajax({
                type: "get",
                url: '@Url.Action("GetPaymentVouchers", "PaymentOfficeTracker")' + "/?id=" + Id + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    d = response.data;
                    dt_view.fnClearTable();
                    for (var i = 0; i < d.length; i++) {
                        dt_view.fnAddData([i + 1,
                           d[i]["PVNo"],
                           d[i]["Payeename"],
                           d[i]["PaymentDesc"],
                           d[i]["PayeeBankAccount"],
                           d[i]["PayeeBankName"],
                           d[i]["PayerBankName"],
                           d[i]["PayerBankAccount"],
                           toLabel(d[i]["OperationalAmount"]),
                           d[i]["SourceModule"],
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
    </script>
}
