@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.LoanRecovery>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRecoveryAmtPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRecoveryAmtInterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecoveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecoveryStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrGLAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrGLAccountDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrGLAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrGLAccountDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinancialYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLevelCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLevelCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLevelDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverAllStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeRate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRecoveryAmtPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRecoveryAmtInterest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecoveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecoveryStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrGLAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrGLAccountDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrGLAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrGLAccountDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinancialYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLevelCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLevelCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubLevelDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverAllStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeRate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.LoanRecoveryId }) |
                @Html.ActionLink("Details", "Details", new { id=item.LoanRecoveryId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LoanRecoveryId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
