@model IFMIS.Areas.IFMISTZ.Models.LoanVM
@{
    ViewBag.Title = "Loan Recovery Items";
    decimal? amount = 0;
    decimal? amount2 = 0;
    decimal? deduct = 0;
}

<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>


<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Loan Recovery Items </h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
                            </div>
                            <br />
                            <br />
                            @*@using (Html.BeginForm("LoanReceivingItems", "LoanRecoveries", FormMethod.Post))
                            {
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.LoanNo, new { @Class = "form-control", id = "LoanNo", style = "width:300px;", autocomplete = "off", required = "required", placeholder = "Click here to search Loan", onclick = "SearchLoan()" })

                                        <span class="input-group-btn">
                                            <button class="btn shiny  " id="search" type="submit">Search</button>
                                        </span>
                                    </div>
                                </div>
                            }*@

                             @using (Html.BeginForm("LoanReceivingItems", "LoanRecoveries", FormMethod.Post))
                                {
                                    <div class="col-lg-4 col-sm-4 col-xs-4">
                                        <div class="input-group">
                                         <input class="form-control" id="LoanNo" data-toggle="modal" data-target="#search_loan" name="LoanNo" autocomplete="off" placeholder="Click here to search Loan" onclick="SearchLoan()" value='' type="text" />
                                            <span class="input-group-btn">
                                                <button class="btn shiny  " id="search" type="submit">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                }
                            <br />
                            <br />
                            <br />
                            <br />

                            @if (TempData["MessageLoanError"] != null)
                            {

                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">

                                        <div class="alert alert-block alert-info">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">Loan Recovery</h4>
                                            <p>
                                                @TempData["MessageLoanError"]
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                </div>
                            }
                            @if (TempData["MessageLoanSuccess"] != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <div class="alert alert-block alert-info">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">Loan Recovery</h4>
                                            <p>
                                                @TempData["MessageLoanSuccess"]
                                            </p>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                </div>
                            }

                            @if (TempData["MessageFailure"] != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">

                                        <div class="alert alert-block alert-info">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">Loan Recovery</h4>
                                            <p>
                                                @TempData["MessageFailure"]
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                </div>
                            }

                            @if (TempData["MessageSuccess"] != null)
                            {

                                <div class="row">
                                    <div class="col-md-12">

                                        @*@using (Html.BeginForm("ReceivingLoanItems", "LoanRecoveries", FormMethod.Post, new { id = "frmForm", onsubmit = "return validateForm(this);" }))
                                            {*@

                                        @*@Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.LoanId)
                                            <table>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <div class="flatpickr date-group">
                                                            <input type="text" placeholder="Select Date.." data-input style="width:100px;border:none;height:20px" required autocomplete="off" id="RecoveryDate" name="RecoveryDate">
                                                            <a class="input-button" title="open" data-toggle href="#">
                                                                <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;Recovery Amount</td>
                                                    <td>
                                                        <amount-input id="LoanBalance" name="LoanBalance" required style="width:100%;height:30px" />
                                                    </td>
                                                    <td> Account Number</td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.AccountNumber, (SelectList)ViewBag.BankAccountNumber, "Choose Account Number", new { @class = "form-control", @required = "required" })
                                                    </td>
                                                    <td>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <button type="submit" name="submit" class="btn btn-info" onclick="saveLoan()" id="form_submission">
                                                            <img src="~/Content/img/loading.gif" class="saveLoader" /> Save
                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>*@


                                        <div class="row" style="padding:1% 5% 0 1%;">
                                            @*<div class="col-md-2 col-lg-2 col-sm-2"></div>*@
                                            <div class="col-md-8 col-lg-8 col-sm-12 ">
                                                @Html.AntiForgeryToken()
                                                @Html.HiddenFor(model => model.LoanId)
                                                <table style="height:250px;">
                                                    <tr>
                                                        <td class="form-label">
                                                            Recovery Date
                                                        </td>
                                                        <td>
                                                            <div class="flatpickr date-group">
                                                                <input type="text" placeholder="Select Date.." data-input style="width:330px;border:none;height:20px" autocomplete="off" id="RecoveryDate" name="RecoveryDate" value="@ViewBag.RecoveryDate">
                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                    <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Recovery Amount</td>
                                                        <td>
                                                            @*<input type="number" name="LoanBalance" value="@ViewBag.LoanAmount" id="LoanBalance" min="0" style="width:230px;" required class="form-control" />*@
                                                            <amount-input id="LoanBalance" name="LoanBalance" required style="width:100%;height:30px" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> Account Number</td>
                                                        <td>
                                                            @Html.DropDownListFor(m => m.AccountNumber, (SelectList)ViewBag.BankAccountNumber, "Choose Account Number", new { @class = "form-control", @required = "required" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <button type="submit" name="submit" class="btn btn-info" onclick="saveLoan()" id="form_submission">
                                                                <img src="~/Content/img/loading.gif" class="saveLoader" /> Save
                                                            </button>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4"></div>
                                        </div>
                                        @*}*@
                                        <hr />
                                        <div>
                                            <div class="row">
                                                <p>&nbsp;&nbsp;&nbsp; <b>Recovery Basic Information</b></p>
                                                <div class="col-md-12">
                                                    <table class="table  table-hover table-condensed">

                                                        <tbody>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Customer Name
                                                                </td>
                                                                <td>@Model.PayeeName</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Customer Code
                                                                </td>
                                                                <td>@Model.PayeeCode</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Loan Code
                                                                </td>
                                                                <td>@Model.LoanNo</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Description
                                                                </td>
                                                                <td>@Model.Description</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Loan Balance
                                                                </td>
                                                                <td>@string.Format("{0:#,0.00}", Model.AmountDue)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Monthly Charge
                                                                </td>
                                                                <td>@string.Format("{0:#,0.00}", Model.MonthlyDeduction)</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Total Paid Amount
                                                                </td>
                                                                <td>@string.Format("{0:#,0.00}", Model.TotalDeductedAmount)</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Remaining Amount
                                                                </td>

                                                                <td>
                                                                    @{
                                                                        amount = Model.AmountDue;
                                                                        amount2 = Model.TotalDeductedAmount;
                                                                        deduct = amount - amount2;
                                                                    }

                                                                    @string.Format("{0:#,0.00}", deduct)
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Recovery Status
                                                                </td>
                                                                <td>@Model.RecoveryStatus</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Recovery Period (in Months)
                                                                </td>
                                                                <td>@Model.RecoveryPeriod</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Interest Rate (in %)
                                                                </td>
                                                                <td>@Model.InterestRate</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            }
                            <div class="col-md-offset-1">
                                <a href="@Url.Action("LoanRecoveriesList","LoanRecoveries")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                            </div>
                            <br />

                        </div>

                        <br />
                        <br />

                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-----------BEGIN SEARCH LOAN----------------->
    <div class="modal fade" id="search_loan" style="left:4%">

        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content panel-info">
                <div class="modal-header panel-heading">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Loan List</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row" style="padding-top:1%;padding-bottom:1%">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="search-container " style="float:right">
                                    <i class="fa fa-search search-icon"></i>
                                    <input type="search" name="search" placeholder="Search..." id="search_lpo">
                                </div>
                            </div>
                        </div>
                        <div align="center">
                            <img src="/Media/Images/ajax_loader.gif" class="loadingImg" />
                        </div>
                        <table id="dt_search_loan" class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Loan No</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    @*<th>Description</th>*@
                                    <th>Amount</th>
                                    <th>Interest Rate</th>
                                    <th>Previous Received</th>
                                    <th>Balance</th>
                                    <th>Voucher No</th>
                                    <th>Recovery Period</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" data-dismiss="modal">
                            <i class="fa  fa-times"></i>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end search Loan Recovery--->
</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        //SEARCH LOAN
        var dt_search_loan = $('#dt_search_loan').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [] }],
            "language": {
                "emptyTable": '<strong id="loader">Loading data Please wait.....</strong>',
                "zeroRecords": "No matching records found"
            }
        }
        );
        $("#dt_search_loan_wrapper .dt-toolbar").remove();
        $("#search_lpo").on("keyup search input paste cut", function () {
            dt_search_loan.DataTable().search(this.value).draw();
        });
                function SearchLoan() {
                    var url = '@Url.Action("GetLoans", "LoanRecoveries")';
                    $.ajax({
                        type: "get",
                        url: url,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            if (response == "NoLoan") {
                             document.getElementById("loader").textContent = "Data  not available in our records";
                              swal("Loan not Found");
                            }
                            else {
                                data = response.data;
                                dt_search_loan.fnClearTable();
                                for (var i = 0; i < data.length; i++) {
                                    dt_search_loan.fnAddData([i + 1,
                                    data[i]["LoanNo"],
                                    data[i]["PayeeName"],
                                    data[i]["PayeeCode"],
                                    //data[i]["LoanTypeDesc"],
                                    toLabel(data[i]["OperationalAmount"]),
                                    data[i]["InterestRate"],
                                    toLabel(data[i]["TotalDeductedAmount"]),
                                    toLabel(data[i]["AmountDue"]),
                                    data[i]["PVNo"],
                                    data[i]["RecoveryPeriod"],
                                    '<a href="#" onclick="ClickToSelectLoan(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                                    ]);
                                }
                            }
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
        }
        function ClickToSelectLoan(rowId) {
        var data = dt_search_loan.DataTable().rows().data();
            var row = data[rowId];
            $("#LoanNo").val(row[1]);
           $("#search_loan").modal("hide");
           $('#search').trigger('click');
        }
        //END SEARCH LOAN
        $(".saveLoader").toggle(false);
        $("#form_submission").prop('disabled', false);

        function saveLoan() {
            $(".saveLoader").toggle(true);
            $("#form_submission").prop('disabled', true);
            var AccountNumber = $("#AccountNumber").val();
            var LoanBalance = $("#LoanBalance").val();
            var RecoveryDate = $("#RecoveryDate").val();
            var LoanId = $("#LoanId").val();

            if (RecoveryDate == '') {
                swal("Recovery Date is Required");
                $(".saveLoader").toggle(false);
                $("#form_submission").prop('disabled', false);
                return false;
            }
            if (LoanBalance == '') {
                swal("Loan Balance is Required");
                $(".saveLoader").toggle(false);
                $("#form_submission").prop('disabled', false);
                return false;
            }

            if (AccountNumber == '') {
                swal("Account Number is Required");
                $(".saveLoader").toggle(false);
                $("#form_submission").prop('disabled', false);
                return false;
            }

            if (LoanBalance < 0 || LoanBalance == 0) {
                swal("Recovery Amount should not be Zero or Negative");
                $(".saveLoader").toggle(false);
                $("#form_submission").prop('disabled', false);
                return false;
            }

            var formDataObj = new FormData()
            formDataObj.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formDataObj.append('AccountNumber', AccountNumber);
            formDataObj.append('LoanBalance', LoanBalance);
            formDataObj.append('RecoveryDate', RecoveryDate);
            formDataObj.append('LoanId', LoanId);

            var url = '@Url.Action("ReceivingLoanItemsData", "LoanRecoveries")';
            $.ajax({
                type: "POST",
                url: url,
                data: formDataObj,
                contentType: false,
                processData: false,
                success: function (response) {
                    switch (response) {
                        case "Success":
                            swal("Loan Recovered Successfully!", { icon: "success" })
                           .then((m) => {
                               var url = '@Url.Action("LoanRecoveriesList", "LoanRecoveries")';
                               window.location.replace(url);
                           });
                            $(".saveLoader").toggle(false);
                            $("#form_submission").prop('disabled', false);
                            break;

                        default:
                            swal(response, { icon: "warning" });
                            $(".saveLoader").toggle(false);
                            $("#form_submission").prop('disabled', false);
                    }
                },
                failure: function (response) {
                    swal(response.d, { icon: "warning" });
                    $(".saveLoader").toggle(false);
                    $("#form_submission").prop('disabled', false);
                }
            });

        }
        /*function validateForm(formObj) {

            if (formObj.RecoveryDate.value == '' || formObj.LoanBalance.value == '' || formObj.AccountNumber.value == '') {
                swal("Please Fill All the Fields");
                return false;
            }
            $(".loadingImg").show();
            formObj.submit.disabled = true;
            formObj.submit.value = 'Please Wait...';
            successMessage = true;
            return true;

        }*/

        var getLoanNumber = function (loanNo) {
            $.ajax({
                url: '@Url.Action("LoanRecovery", "LoanRecoveries")',
                type: "GET",
                dataType: "json",
                id: $("#LoanNo"),
                success: function (response) {
                    if (response == "Success") {
                        //swal("Saved Successfully!", { icon: "success" })
                        // .then((value) => {
                        window.location.href = '@Url.Action("LoanReceivingItems", "LoanRecoveries")';
                        // });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            })
        }

        function commitForm() {
            var loanNo = $("#loanNo").val();
            getLoanNumber(loanNo);
        };

    </script>
}


