@model IFMIS.Areas.IFMISTZ.Models.LoanVM
@{
    ViewBag.Title = "Loan Recovery Items";
    decimal? amount = 0;
    decimal? amount2 = 0;
    decimal? deduct = 0;
}

<style type="text/css">
    .loadingImg {
        display: none;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Loan Recovery Items </h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" />
                            </div>
                            <br />
                            <br />



                            @using (Html.BeginForm("LoanReceivingItems", "LoanRecoveries", FormMethod.Post))
                            {
                                <div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.LoanNo, new { @Class = "form-control", id = "LoanNo", style = "width:300px;", autocomplete = "off", required = "required", placeholder = "Enter Loan Number" })

                                        <span class="input-group-btn">
                                            <button class="btn shiny  " id="search" type="submit">Search</button>
                                        </span>
                                    </div>
                                </div>
                            }
                            <br />
                            <br />
                            <br />
                            <br />

                            @if (TempData["MessageLoanError"] != null)
                            {

                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">

                                        <div class="alert alert-block alert-info">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">Loan Recovery</h4>
                                            <p>
                                                @TempData["MessageLoanError"]
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                </div>


                            }
                            @if (TempData["MessageLoanSuccess"] != null)
                            {


                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">
                                        <div class="alert alert-block alert-info">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">Loan Recovery</h4>
                                            <p>
                                                @TempData["MessageLoanSuccess"]
                                            </p>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                </div>


                            }

                            @if (TempData["MessageFailure"] != null)
                            {
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6">

                                        <div class="alert alert-block alert-info">
                                            <a class="close" data-dismiss="alert" href="#">×</a>
                                            <h4 class="alert-heading">Loan Recovery</h4>
                                            <p>
                                                @TempData["MessageFailure"]
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-xs-3"></div>
                                </div>
                            }

                            @if (TempData["MessageSuccess"] != null)
                            {

                                <div class="row">
                                    <div class="col-md-12">

                                        @using (Html.BeginForm("ReceivingLoanItems", "LoanRecoveries", FormMethod.Post, new { id = "frmForm" }))
                                        {

                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.LoanId)
                                            <table>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <div class="flatpickr date-group">
                                                            <input type="text" placeholder="Select Date.." data-input style="width:100px;border:none;height:20px" autocomplete="off" id="RecoveryDate" name="RecoveryDate">
                                                            <a class="input-button" title="open" data-toggle href="#">
                                                                <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>&nbsp;&nbsp;&nbsp;Recovery Amount</td>
                                                    <td>
                                                        <input type="number" name="LoanBalance" id="LoanBalance" min="0" style="width:230px;" required class="form-control" />

                                                    </td>
                                                    <td> Account Number</td>
                                                    <td>
                                                        @Html.DropDownListFor(m => m.AccountNumber, (SelectList)ViewBag.BankAccountNumber, "Choose Account Number", new { @class = "form-control", @required = "required" })
                                                    </td>
                                                    <td>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <button type="submit" class="btn btn-info" id="form_submision">
                                                            <i class="fa fa-save"></i>Save

                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>
                                        }
                                        <hr />
                                        <div>
                                            <div class="row">
                                                <p>&nbsp;&nbsp;&nbsp; Recovery Basic Information</p>
                                                <div class="col-md-12">
                                                    <table class="table  table-hover table-condensed">

                                                        <tbody>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Customer Name
                                                                </td>
                                                                <td>@Model.PayeeName</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Customer Code
                                                                </td>
                                                                <td>@Model.PayeeCode</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Loan Code
                                                                </td>
                                                                <td>@Model.LoanNo</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Description
                                                                </td>
                                                                <td>@Model.Description</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Loan Balance
                                                                </td>
                                                                <td>@Model.AmountDue</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Monthly Charge
                                                                </td>
                                                                <td>@Model.MonthlyDeduction</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Total Paid Amount
                                                                </td>
                                                                <td>@Model.TotalDeductedAmount</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width:18%">
                                                                    Remaining Amount
                                                                </td>

                                                                <td>
                                                                    @{
                                                                        amount = Model.AmountDue;
                                                                        amount2 = Model.TotalDeductedAmount;
                                                                        deduct = amount - amount2;
                                                                    }
                                                                    @deduct
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Recovery Status
                                                                </td>
                                                                <td>@Model.RecoveryStatus</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Recovery Period (in Months)
                                                                </td>
                                                                <td>@Model.RecoveryPeriod</td>
                                                            </tr>

                                                            <tr>
                                                                <td style="width:18%">
                                                                    Interest Rate (in %)
                                                                </td>
                                                                <td>@Model.InterestRate</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>

                                                                        }
                            <div class="col-md-offset-1">
                                <a href="@Url.Action(" LoanRecoveriesList","LoanRecoveries")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                            </div>
                            <br />

                        </div>

                        <br />
                        <br />

                    </div>
                </div>
            </article>
        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

        ////SHOW LOADER ICON
        //$(document).ajaxStart(function () {
        //    $(".loadingImg").show();

        //});
        ////HIDE LOADER ICON
        //$(document).ajaxStop(function () {
        //    $(".loadingImg").hide();
        //});

        var getLoanNumber = function (loanNo) {
            $.ajax({
                url: '@Url.Action("LoanRecovery", "LoanRecoveries")',
                type: "GET",
                dataType: "json",
                id: $("#LoanNo"),
                success: function (response) {
                    if (response == "Success") {
                        //swal("Saved Successfully!", { icon: "success" })
                        // .then((value) => {
                        window.location.href = '@Url.Action("ReceivingItems", "LoanRecoveries")';
                        // });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            })
        }

        function commitForm() {
            var loanNo = $("#loanNo").val();
            getLoanNumber(loanNo);
        };


    </script>
}


