@model IFMIS.Areas.IFMISTZ.Models.FacilityRevenueSummaryVM
@{
    ViewBag.Title = "Facility Revenue Details";
}


<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }
</style>

<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>SP Code</strong>
                                </div>
                                <div class="col-md-3">
                                    :@Html.DisplayFor(model => model.SpCode)
                                </div>
                                <div class="col-md-3">
                                    <strong>SP Name</strong>
                                </div>
                                <div class="col-md-3">
                                    :@Html.DisplayFor(model => model.SpName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Sub SP Code</strong>
                                </div>
                                <div class="col-md-3">
                                    :@Html.DisplayFor(model => model.SubSpCode)
                                </div>
                                <div class="col-md-3">
                                    <strong>Sub SP Name</strong>
                                </div>
                                <div class="col-md-3">
                                    :@Html.DisplayFor(model => model.SubSpName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <strong>Total Amount</strong>
                                </div>
                                <div class="col-md-3">
                                    :@Html.DisplayFor(model => model.PaidAmt)
                                </div>
                      
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search"></i>
                                        <input type="search" name="search" placeholder="Search..." id="search-box">
                                    </div>
                                </div>
                            </div>
                            <table class="table  table-bordered table-hover table-condensed" id="dt_facilities">
                                <thead>
                                    <tr>
                                        <th style="text-align:right;width:4%"></th>
                                        <th style="text-align:left"> Description</th>
                                        <th style="text-align:center">GFS Code</th>
                                        <th style="text-align:right">Amount</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{var i = 0;}
                                    @foreach (var item in Model.FacilityRevenueDetails)
                                    {
                                        ++i;

                                    <tr>
                                        <td style="text-align:right">
                                            @i
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.GfsCodeDesc)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.GfsCode)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.PaidAmount)
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                        <a href="@Url.Action("RevenueDetails","RevenueTransfer",,new {id=Model.FacilityRevenueId})" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>



@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        var dt_facilities = $('#dt_facilities').dataTable();
        $("#dt_facilities_wrapper .dt-toolbar").remove();
        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_facilities").DataTable().search(this.value).draw();
        });

    </script>
}







