@model IFMIS.Areas.IFMISTZ.Models.ReceivingSummaryVM
@{

}
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Receiving Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SupplierName)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Receiving Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ReceivingNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Currency&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Currency) </div><div class="col-sm-6 col-md-6 col-lg-6"><strong>SBC&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SubBudgetClass)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ReceivedAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Created At&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.CreatedAt).ToString("dd/MM/yyyy")</div>
        @if (Model.Accrual == "YES")
        {
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Accrual LPO&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Accrual)</div>
        }
    </div>
    @if (Model.ProjectNumber != null)
    {
        <div class="row"> <div class="col-sm-8 col-md-8 col-lg-8"><strong>Force Account Project Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ProjectNumber) </div></div>
    }
    @if (Model.OverallStatus == "Rejected" || Model.Rejecter == "Payment Office")
    {
        if (Model.RejectionReason != null)
        {<div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejected By&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Rejecter)</div>
                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

            </div>
        }
    }
    @if (Model.OverallStatus.ToUpper() == "CONFIRMED")
    {
        if (Model.RejectionSolution != null)
        {
            <div class="row">
                @if (Model.RejectionReason != null)
                {
                    <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

                }
                @if (Model.RejectionSolution != null)
                {
                    <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
                }
            </div>
        }
    }
    @if (Model.OverallStatus.ToUpper() == "EXAMINED")
    {

        if (Model.Rejecter == "Approver")
        {
            <div class="row">
                @if (Model.RejectionReason != null)
                {
                    <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>
                }
                @if (Model.RejectionSolution != null)
                {
                    <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
                }
            </div>
        }

    }
    @if (Model.ParentInstitutionCode != null)
    {
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Parent Institution:</strong>&nbsp;@Html.DisplayFor(model => model.ParentInstitutionCode) - @Html.DisplayFor(model => model.ParentInstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>SubWarant:</strong>&nbsp;@Html.DisplayFor(model => model.SubWarrantCode) - @Html.DisplayFor(model => model.SubWarrantDescription)</div></div>
    }

</fieldset>
  @if (Model.PVNo != null)
  {
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Voucher Details</legend>
    <div class="row">
        @if (Model.PVNo != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6">
                <strong>Voucher Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PVNo)
            </div>
        }
        @if (Model.VoucherStatus != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6">
                <strong>Voucher Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.VoucherStatus)
            </div>
        }
    </div>
    <div class="row">
        @if (Model.SubLevelCode != null)
        {
            <div class="col-sm-6 col-md-6 col-lg-6">
                <strong>Cost Center&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.SubLevelCode)
            </div>
        }

    </div>
</fieldset>
}


<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Attachments</legend>
    <div class="row">
        @if (Model.InvoiceNumber != null)
        {
        <div class="col-sm-3 col-md-3 col-lg-3">
            <strong>Invoice Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InvoiceNumber)
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <strong>Date&&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.InvoiceDate).ToString("dd/MM/yyyy")
        </div>
        }
        <div class="col-sm-6 col-md-6 col-lg-6">
            @if (Model.InvoiceFileName != null)
            {
            <a href="@Url.Action("InvoiceAttachment","Procurement",new {Filename=Model.InvoiceFileName})">Download</a>
            }
        </div>
    </div>
    <div class="row">
        @if (Model.DeliveryNote != null)
        {
        <div class="col-sm-3 col-md-3 col-lg-3">
            <strong>Delivery Note&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.DeliveryNote)
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <strong>Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
        </div>
        }
        @if (Model.DeliveryFileName != null)
        {
        <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="@Url.Action("DeliveryAttachment","Procurement",new {Filename=Model.DeliveryFileName })">Download</a>
        </div>
        }
    </div>
    <div class="row">
        @if (Model.InspectionReportNo != null)
        {
        <div class="col-sm-3 col-md-3 col-lg-3">
            <strong>Inspection/Report&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InspectionReportNo)
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <strong>Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.InspectionReportDate).ToString("dd/MM/yyyy")
        </div>
        }
        @if (Model.InspReportFileName != null)
        {
        <div class="col-sm-6 col-md-6 col-lg-6">
            <a href="@Url.Action("InspectionAttachment","Procurement",new {Filename=Model.InspReportFileName })">Download</a>
        </div>
        }
    </div>

</fieldset>



<div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

    <header>
        <h2><strong></strong> <i></i></h2>

        <ul id="widget-tab-1" class="nav nav-tabs pull-right">

            <li class="active">

                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ReceivingList.Count()</span></span> </a>

            </li>
            <li>

                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> GL Account(s)<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ReceivingCoas.Count()</span></span> </a>

            </li>
        </ul>

    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->
        <!-- widget content -->
        <div class="widget-body no-padding">

            <!-- widget body text-->

            <div class="tab-content padding-10">
                <div class="tab-pane fade in active" id="hr1">
                    <div class="widget-body no-padding">

                        <br />




                        <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                            @if (Model.ReceivingList.Count() > 0)
                            {
                            <table align="center" class="table table-bordered  table-condensed" style="width:97%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">#</th>
                                        <th style="text-align:left">Item</th>
                                        <th style="text-align:left">Category</th>
                                        <th style="text-align:left">Class</th>
                                        <th style="text-align:left">UOM</th>
                                        <th style="text-align:center">Quantity</th>
                                        <th style="text-align:right">Unit Price (@Html.DisplayFor(model => model.Currency))</th>
                                        <th style="text-align:right">Total (@Html.DisplayFor(model => model.Currency))</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @{var i = 0;
                                    decimal grandTotal = 0;
                                    var item_total = 0;}
                                    @foreach (var item in Model.ReceivingList)
                                    {
                                    grandTotal = grandTotal + Convert.ToDecimal(item.Amount);
                                    item_total = item_total + (int)item.ReceivedQuantity;
                                    i++;
                                    <tr>
                                        <td style="text-align:center">
                                            @i
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.ItemDesc)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.ItemClassification.ItemCategory)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.ItemClassification.ClassificationDesc)
                                        </td>
                                        <td style="text-align:left">
                                            @Html.DisplayFor(modelItem => item.UOM)
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.ReceivedQuantity)
                                        </td>
                                        <td style="text-align:right">

                                            @Html.DisplayFor(modelItem => item.UnitPrice)

                                        </td>
                                        <td style="text-align:right">

                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>

                                    </tr>

                                    }
                                <tr>
                                    <td colspan="3" style="text-align:right"><strong>Total</strong></td>
                                    <td style="text-align:center"><strong>@Convert.ToDecimal(Model.ReceivingList.Select(a => a.ReceivedQuantity).DefaultIfEmpty(0).Sum())</strong></td>
                                    <td></td>
                                    <td style="text-align:right"><strong>@Convert.ToDecimal(Model.ReceivingList.Select(a => a.Amount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            }



                        </div>



                    </div>

                </div>
                <div class="tab-pane fade in" id="hr2">
                    <div class="widget-body no-padding">

                        <br />




                        <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                            @if (Model.ReceivingCoas.Count() > 0)
                            {
                            <table class="table table-bordered table-hover table-condensed" id="items_charge" style="width:100%">
                                <thead>
                                    <tr style="width:5%">
                                        <th>#</th>
                                        <th style="text-align:left">GL Account</th>
                                        <th style="text-align:left">GL Account Desc</th>
                                        <th style="text-align:left">Funding Reference</th>
                                        <th style="text-align:right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.ReceivingCoas.Count(); i++)
                                    {
                                    var j = i + 1;
                                    <tr>
                                        <td style="text-align:center">@j</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].GLAccount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].GLAccountDesc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].FundingReference)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].ExpenseAmount)
                                        </td>

                                    </tr>
                                    }
                                    <tr>
                                        <td colspan="4" style="text-align:right"><strong>Total</strong></td>
                                        <td style="text-align:right"><strong>@Convert.ToDecimal(Model.ReceivingCoas.Select(a => a.ExpenseAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong></td>
                                    </tr>

                                </tbody>
                            </table>
                            }

                        </div>



                    </div>

                </div>

            </div>

            <!-- end widget body text-->
            <!-- widget footer -->
            <!-- end widget footer -->

        </div>
        <!-- end widget content -->

    </div>
    <!-- end widget div -->

</div>
<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>










