@model IFMIS.Areas.IFMISTZ.Models.PurchaseSummaryVM
<div style="text-align:right;background-color:lightgrey;padding-right:20px">
    @Html.DisplayNameFor(model => model.TotalItemAmount): <strong>@Html.DisplayFor(model => model.TotalItemAmount)</strong><br />
    @Html.DisplayNameFor(model => model.Balance): <strong>@Html.DisplayFor(model => model.Balance)</strong><br />
</div>
@if (Model.PurchaseItemsList.Count() > 0)
{
    var i = 0;
    <div class="accordion-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Category</th>
                    <th scope="col">Class</th>
                    <th style="text-align: center">Quantity</th>
                    <th scope="col" style="text-align: center">UOM</th>
                    <th scope="col" style="text-align: right">Unit Price</th>
                    <th scope="col" style="text-align:right">VAT</th>
                    <th scope="col" style="text-align:right">Total Amount</th>
                    <th scope="col" style="text-align:center;width:8%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PurchaseItemsList)
                {
                    i++;


                    <tr>
                        <td align="center">
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemClass)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.UOM)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.VAT)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td style="text-align: center">
                            <div class="btn-group">
                                <button type="button" class="btn  btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li style="text-align:left"><a href="#" onclick="editPurchaseItem(@item.PurchaseOrderDetailId)"><i class="fa fa-edit"></i> Edit</a></li>
                                    <li style="text-align:left"><a href="#" onclick="cancelItem(@item.PurchaseOrderDetailId)"><i class="fa fa-trash-o"></i> Cancel</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>



                }
                <tr>
                    <td colspan="8" style="text-align:right">
                        <strong>Total</strong>
                    </td>
                    <td style="text-align:right">
                        <strong>@Convert.ToDecimal(Model.PurchaseItemsList.Select(a => a.TotalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0.00/=")</strong>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
}
