@model IFMIS.Areas.IFMISTZ.Models.PurchaseOrderVM
@{
    ViewBag.Title = "Edit Purchase Order";
    var i = 0;
    var k = 0;
    var m = 0;
    var n = 0;
    decimal gl_total1 = 0;
    decimal gl_total2 = 0;
}
<style>
    tr:not([data-level='2']) {
        cursor: pointer;
    }

    tr.expanded .sign:after {
        /*content: "-";*/
        content: url(/ifmis/Content/img/budget/Minus3.png);
    }

    tr.folded .sign:after {
        /*content: "+";*/
        content: url(/ifmis/Content/img/budget/Collapse2.png);
        /*background:url('../Media/Images/Collapse1.png');*/
        /*background: url('../Media/Images/details_open.png');*/
        cursor: pointer;
    }

    td:first-child {
        padding: inherit;
    }

    /*  */


    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
        width: auto;
    }
</style>


<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Local Purchase Order(LPO) </h2>

                    </header>
                    @Html.HiddenFor(model => model.PurchaseOrderId)

                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                        <table class="table  table-hover table-condensed">

                            <tbody>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        LPO Number
                                    </td>
                                    <td>
                                        <strong>@Html.DisplayFor(model => model.PurchaseOrderNo)</strong>
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Description
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.PurchaseOrderDesc)
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        LPO Amount
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.PurchaseOrderAmount)
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Items Value
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.ItemsValues)
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        GL Accounts Value
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                        @Html.DisplayFor(model => model.ItemCharge)
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Sub Budget Class
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SubBudgetClass)-@Html.DisplayFor(model => model.SegmentDesc)
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Currency Used
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.Currency)
                                    </td>
                                </tr>


                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Supplier
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SupplierName)
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Order Date
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(Model.OrderDate).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Delivery Date
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Valid Period
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.ValidityPeriodDays) Days
                                    </td>
                                </tr>
                                <tr data-level='1'>
                                    <td style="width:20%">
                                        Status
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.OverallStatus)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div align="center">
                            <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                        </div>
                        <header>
                            <h2><strong></strong> <i></i></h2>

                            <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                <li class="active">

                                    <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Pending List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.PurchaseOrderDetails.Where(a => a.Status.ToUpper() == "PENDING").Count()</span></span> </a>

                                </li>
                                <li>
                                    <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-up"></i> <span class="hidden-mobile hidden-tablet"> Examined List <span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.PurchaseOrderDetails.Where(a => a.Status.ToUpper() != "PENDING").Count()</span></span></a>
                                </li>

                            </ul>

                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <!-- widget body text-->

                                <div class="tab-content padding-10">
                                    <div class="tab-pane fade in active" id="hr1">
                                        <div class="widget-body no-padding">

                                            <br />



                                            @*<div class="custom-scroll" style="height:150px; overflow-y: scroll;">*@

                                            @if (Model.ItemsList.Count() > 0)
                                            {


                                                <table align="center" class="table table-bordered  table-condensed" style="width:97%">
                                                    <tr data-level='1' style="background:#f5f5f5; color:#000000">

                                                        <th style="text-align: center;width:3%">#</th>
                                                        <th colspan="8" style="text-align: left">GL Account </th>

                                                    </tr>

                                                    <tbody>


                                                        @foreach (var group in Model.ItemsList.GroupBy(a => a.PurchaseOrderCoaId))
                                                        {
                                                            i++;
                                                            var j = 0;
                                                            gl_total1 = gl_total1 + Convert.ToDecimal(group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.OperationalAmount).FirstOrDefault());
                                                            <tr data-level='1' style="background:#f5f5f5; color:#000000">
                                                                <td align="center" style="width:3%">@i</td>
                                                                <td style="text-align: left" colspan="8"><span class="sign"></span>&nbsp;&nbsp;&nbsp;@group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.GlAccount).FirstOrDefault() - @group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.GlAccountDesc).FirstOrDefault() -Funding Reference : @group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.FundingReference).FirstOrDefault() <strong><span style="float:right;">@group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.OperationalAmount).FirstOrDefault()</span></strong></td>

                                                            </tr>
                                                            <tr data-level='2'>
                                                                <th style="text-align: center" colspan="2"></th>
                                                                <th style="text-align: left" colspan="6">Item </th>

                                                                <th style="text-align:right;width:10%">Unit Price</th>


                                                            </tr>
                                                            foreach (var item in group)
                                                            {

                                                                j++;
                                                                <tr data-level='2'>
                                                                    <td></td>
                                                                    <td style="text-align:center">
                                                                        @j
                                                                    </td>
                                                                    <td style="text-align:left" colspan="6">
                                                                        @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                    </td>

                                                                    <td style="text-align:right">

                                                                        @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                    </td>

                                                                </tr>

                                                            }
                                                        }
                                                        <tr data-level='1' style="background:#f5f5f5; color:#000000">

                                                            <th colspan="9" style="text-align: right">Total : @gl_total1.ToString("#,##0/=") </th>

                                                        </tr>
                                                        <tr data-level='1'>

                                                            <th colspan="9" style="text-align: left">
                                                                &nbsp;
                                                                <div class="row">
                                                                    <div class="col-sm-8"></div>
                                                                    <div class="col-sm-2">
                                                                        <button type="button" class="btn btn-info" id="verify_items">
                                                                            <i class="fa fa-thumbs-up"></i> <span class="hidden-mobile">Verify item(s) charge</span>
                                                                        </button>

                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <button type="button" class="btn btn-info" id="reject_items">
                                                                            <i class="fa fa-thumbs-down"></i> <span class="hidden-mobile">Reject verification</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </th>

                                                        </tr>
                                                        <tr data-level='1' style="background:#f5f5f5; color:#000000">

                                                            <th style="text-align: center;width:3%">#</th>
                                                            <th colspan="8" style="text-align: left"> &nbsp;&nbsp;&nbsp;<input type="checkbox" class="cbCheckAllItems" /></th>

                                                        </tr>
                                                        <tr data-level='1' style="background:#f5f5f5; color:#000000">
                                                            <th style="text-align: center" colspan="2"></th>
                                                            <th style="text-align: left">Item </th>

                                                            <th style="text-align: left">UOM</th>
                                                            <th style="text-align: right">Quantity</th>
                                                            <th style="text-align: right">Unit Price</th>
                                                            <th style="text-align:right">VAT</th>
                                                            <th style="text-align: right">Total Amount</th>
                                                            <th style="text-align:center;width:5%">Select</th>

                                                        </tr>
                                                        @foreach (var item in Model.PurchaseOrderDetails.Where(a => a.Status.ToUpper() == "PENDING"))
                                                        {

                                                            k++;
                                                            <tr data-level='1'>
                                                                <td></td>
                                                                <td style="text-align:center">
                                                                    @k
                                                                </td>
                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                </td>

                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.UOM)
                                                                </td>
                                                                <td style="text-align:right">
                                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.VAT)

                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                                </td>
                                                                <td style="text-align: center"><input type="checkbox" value='@item.TotalAmount' class="checkItem" id='@item.PurchaseOrderDetailId'></td>
                                                            </tr>

                                                        }
                                                        <tr data-level='1'>
                                                            <td colspan="7" style="text-align: right"><strong>Total</strong></td>
                                                            <td  style="text-align: right"><strong>@Convert.ToDecimal(Model.PurchaseOrderDetails.Where(a => a.Status.ToUpper() == "PENDING").Select(a => a.TotalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></td>
                                                            <td></td>
                                                        </tr>
</tbody>
                                                </table>

                                            }

                                            @*</div>*@



                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="hr2">
                                        <div class="widget-body no-padding">
                                            <br/>
                                           
                                            @if (Model.ExaminedList.Count() > 0)
                                            {


                                                <table align="center" class="table table-bordered  table-condensed" style="width:97%">
                                                    <tr data-level='1' style="background:#f5f5f5; color:#000000">

                                                        <th style="text-align: center;width:3%">#</th>
                                                        <th colspan="8" style="text-align: left">GL Account </th>

                                                    </tr>

                                                    <tbody>


                                                        @foreach (var group in Model.ExaminedList.GroupBy(a => a.PurchaseOrderCoaId))
                                                        {
                                                            m++;
                                                            var j = 0;
                                                            gl_total2 = gl_total2 + Convert.ToDecimal(group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.OperationalAmount).FirstOrDefault());
                                                            <tr data-level='1' style="background:#f5f5f5; color:#000000">
                                                                <td align="center" style="width:3%">@m</td>
                                                                <td style="text-align: left" colspan="8"><span class="sign"></span>&nbsp;&nbsp;&nbsp;@group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.GlAccount).FirstOrDefault() - @group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.GlAccountDesc).FirstOrDefault() -Funding Reference : @group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.FundingReference).FirstOrDefault() <strong><span style="float:right;">@group.Where(a => a.PurchaseOrderCoaId == group.Key).Select(a => a.OperationalAmount).FirstOrDefault()</span></strong></td>

                                                            </tr>
                                                            <tr data-level='2'>
                                                                <th style="text-align: center" colspan="2"></th>
                                                                <th style="text-align: left" colspan="6">Item </th>

                                                                <th style="text-align:right;width:10%">Unit Price</th>


                                                            </tr>
                                                            foreach (var item in group)
                                                            {

                                                                j++;
                                                                <tr data-level='2'>
                                                                    <td></td>
                                                                    <td style="text-align:center">
                                                                        @j
                                                                    </td>
                                                                    <td style="text-align:left" colspan="6">
                                                                        @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                    </td>

                                                                    <td style="text-align:right">

                                                                        @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                    </td>

                                                                </tr>

                                                            }
                                                        }
                                                        <tr data-level='1' style="background:#f5f5f5; color:#000000">

                                                            <th colspan="9" style="text-align: right">Total: @gl_total2.ToString("#,##0/=") </th>

                                                        </tr>
                                                        <tr data-level='1'>

                                                            <th colspan="9" style="text-align: left">
                                                                &nbsp;
                 
                                                            </th>

                                                        </tr>
                    
                                                        <tr data-level='1' style="background:#f5f5f5; color:#000000">
                                                            <th style="text-align: center" colspan="2"></th>
                                                            <th style="text-align: left">Item </th>

                                                            <th style="text-align: left">UOM</th>
                                                            <th style="text-align: right">Quantity</th>
                                                            <th style="text-align: right">Unit Price</th>
                                                            <th style="text-align:right">VAT</th>
                                                            <th style="text-align: right">Total Amount</th>
                                                            <th style="text-align:left">Description</th>

                                                        </tr>
                                                        @foreach (var item in Model.PurchaseOrderDetails.Where(a => a.Status.ToUpper() != "PENDING"))
                                                        {

                                                            n++;
                                                            <tr data-level='1'>
                                                                <td></td>
                                                                <td style="text-align:center">
                                                                    @n
                                                                </td>
                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                </td>

                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.UOM)
                                                                </td>
                                                                <td style="text-align:right">
                                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.VAT)

                                                                </td>
                                                                <td style="text-align:right">

                                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                                </td>
                                                                <td style="text-align:left">
                                                                    @Html.DisplayFor(modelItem => item.Status)
                                                                </td>
                                                            </tr>

                                                        }
                                                        <tr data-level='1'>
                                                            <td colspan="7" style="text-align: right"><strong>Total</strong></td>
                                                            <td style="text-align: right"><strong>@Convert.ToDecimal(Model.PurchaseOrderDetails.Where(a => a.Status.ToUpper() != "PENDING").Select(a => a.TotalAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            }
                                        </div>

                                    </div>




                                        </div>

                                        <!-- end widget body text-->
                                        <!-- widget footer -->
                                        <div class="widget-footer text-right">

                                            <span class="onoffswitch-title">
                                                @*<i class="fa fa-check"></i>*@
                                            </span>

                                            <div class="col-md-offset-1">
                                               <a href="@Url.Action("LPOExamination","Procurement")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                            </div>
                                            <br />
                                            <br />

                                        </div>
                                        <!-- end widget footer -->

                                    </div>
                                    <!-- end widget content -->

                                </div>

                        <!-- end widget div -->

                    </div>



                </div>
            </article>

        </div>
    </section>

</div>
<!----------- Reject Verification----------------->
<div class="modal fade" id="rejectModal" style="left:4%">

    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Reject Verification</h3>

            </div>
            <div class="modal-body">
                <p align="left">
                    Item(s) :<strong><span id="items"></span></strong>;
                    Costs &nbsp;&nbsp;:<strong><span id="costs"></span></strong>
                </p>
                <div class="row">
                <div class="form-group">
                   
                    <div class="col-md-12">
                        <textarea name="Reason" id="Reason" placeholder="Rejection reason" required rows="4" class="form-control"></textarea>
                    </div>
                </div>
             </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="btn_save_rejection">
                    <i class="fa fa-save"></i>Save
                </button>
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Cancel
                </button>
            </div>
        </div>
    </div>
</div>
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            $(document).ready(function () {
                $(".cbCheckAllItems").click(function () {
                    $(".checkItem").prop('checked',
                        $(this).prop('checked'));
                });
                $(function () { // this will be called when the DOM is ready
                    $("#verify_items").click(function () {
                        var itemIds = [];
                        var sum = 0;
                        $("input:checkbox.checkItem").each(function () {
                            if ($(this).prop("checked")) {
                                itemIds.push($(this).attr('id'));
                                sum = sum + parseFloat($(this).val());
                                //alert($(this).attr('id'));
                                //$(this).hide();
                            }

                        });

                        if (itemIds.length == 0) {

                            swal("No Item Selected!");
                            return;
                        }
                        else {
                            var id = $("#PurchaseOrderId").val();                           
                            swal({
                                title: 'Confirmation',
                                text: "Do you what to Verify item(s)  : " + itemIds.length + "  Costs :" + sum.toLocaleString('en') + " ?",
                                buttons: [
                                  'No',
                                  'Yes'
                                ],
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    var url = '@Url.Action("VerifyItems", "Procurement")';
                                    var form_data = {
                                        "id": id,
                                        "ItemIds": itemIds
                                    }
                                    $.ajax(
                        {
                            type: "POST",
                            url: url,
                            data: form_data,
                            success: function (response) {
                                if (response == "Success") {

                                    swal("Items verified successfully!", { icon: "success" })
                                              .then((value) => {
                                                  location.reload();
                                              });


                                }
                                else {

                                    swal("Failed to verify ,DbException");
                                }
                            },
                            error: function (xhr) {
                                swal(error);
                                $("#divLoader").hide();
                            },

                        });
                                } else {
                                    swal("Cancelled", "No change was made");
                                }
                            });



                        }
                    });
                });
                $(function () { // this will be called when the DOM is ready
                    $("#reject_items").click(function () {
                        var itemIds = [];
                        var sum = 0;
                        $("input:checkbox.checkItem").each(function () {
                            if ($(this).prop("checked")) {
                                itemIds.push($(this).val());
                                sum = sum + parseFloat($(this).val());
                                //alert($(this).attr('id'));
                                //$(this).hide();
                            }

                        });

                        if (itemIds.length == 0) {

                            swal("No Item Selected!");
                            return;
                        }
                        else {
                            $("#items").text(itemIds.length);
                            $("#costs").text(sum.toLocaleString('en'));
                            $("#rejectModal").modal();
                        }
                    });
                });
                
                $(function () { // this will be called when the DOM is ready
                    $("#btn_save_rejection").click(function () {
                    
                        var itemIds = [];
                        $("input:checkbox.checkItem").each(function () {
                            if ($(this).prop("checked")) {
                                itemIds.push($(this).attr('id'));
                            }
                        });
                        var id = $("#PurchaseOrderId").val();
                        var reason = $("#Reason").val();
                        if (reason) {
                            $('#rejectModal').modal('hide');
                            var form_data = {
                                "id": id,
                                "ItemIds": itemIds,
                                "Reason": reason
                            }
                            var url = '@Url.Action("RejectVerifyItems", "Procurement")';

                            $.ajax(
                           {
                               type: "POST",
                               url: url,
                               data: form_data,
                               success: function (response) {
                                   if (response == "Success") {

                                       swal("Items rejected successfully!", { icon: "success" })
                                                 .then((value) => {
                                                     location.reload();
                                                 });


                                   }
                                   else {

                                       swal("Failed to verify ,DbException");
                                   }
                               },
                               error: function (xhr) {
                                   swal(error);
                                   $("#divLoader").hide();
                               },

                           });
                        } else {
                            swal("Enter rejection reason");
                        }
                       
                    });
                });
                $("tbody > tr:not([data-level='1'])").hide();
                $("tbody > tr:not([data-level='2'])").addClass("expandable sign folded");
                $("tbody > tr")
                    .css("padding-left", function (index) {
                        return 10 * parseInt($(this).data("level"), 10) + "px";
                    });

                function range(lowEnd, highEnd) {
                    // assert lowEnd >= 0 and highEnd < 100
                    var validation = (lowEnd <= highEnd) && (lowEnd >= 0) && (highEnd < 10000);
                    if (!(validation)) {
                        console.assert(validation,
                                       'Function "range" received unlikely values: ' +
                                       lowEnd + ' and ' + highEnd + "...");
                    } else {
                        var arr = [];
                        while (lowEnd <= highEnd) {
                            arr.push(lowEnd++);
                        }
                        return arr;
                    }
                }

                function name_range(fun, lowEnd, highEnd) {
                    var arr = range(lowEnd, highEnd);
                    jQuery.each(arr, function (index, value) {
                        arr[index] = fun(value);
                    });
                    return arr;
                }

                function create_selector(level) {
                    return "[data-level='" + level + "']";
                }

                $("tr.expandable").click(function () {
                    var this_level = parseInt($(this).data("level"), 10);
                    var this_level_selector = create_selector(this_level);
                    var next_level_selector = create_selector(this_level + 1);
                    var next_or_lower = name_range(create_selector,
                    this_level + 1, 10); // TODO: find last level
                    var this_or_higher = name_range(create_selector, 0, this_level);
                    var node = $(this).nextUntil(this_or_higher.join(","));
                    // different behaviour according to state (expanded / folded):
                    if ($(this).hasClass("expanded")) {
                        $(node).filter(next_or_lower.join(",")).hide();
                        $(node).not("expanded").removeClass("expanded").addClass('folded');
                        $(this).removeClass("expanded").addClass('folded');


                    } else {
                        $(node).filter(next_level_selector).show();
                        $(this).addClass("expanded").removeClass('folded');


                    }
                });


                        });

    </script>
}


