@model IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM
@{
    ViewBag.Title = "Complete Inventory";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Edit Inventory </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <table class="table  table-hover table-condensed" border="0">

                                <tbody>
                                    <tr>
                                        <td style="width:18%">
                                            LPO Number
                                        </td>
                                        <td>
                                            <strong>
                                                <a href="@Url.Action("PurchaseOrderModuleRpTv","Report",new {id=Model.PurchaseOrderNo,area = "IFMISTZ"})" target="_blank">@Html.DisplayFor(model => model.PurchaseOrderNo)</a>                
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Inventory Code
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.InventoryCode)</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Receiving Number
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.ReceivingNumber)</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Inventory Desc
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.ItemName)</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Quantity
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.Quantity)</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                           Unit of Measure
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.UOM)</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Batch Number
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.BatchNo)</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Manufacture Date
                                        </td>
                                        <td>
                                            <strong>
                                                @if (Model.ManufactureDate != null)
                                                {
                                                    @Convert.ToDateTime(Model.ManufactureDate).ToString("dd/MM/yyyy")
                                                }</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Expire Date
                                        </td>
                                        <td>
                                            <strong>
                                                @if (Model.ExpireDate != null)
                                                {
                                                    @Convert.ToDateTime(Model.ExpireDate).ToString("dd/MM/yyyy")
                                                }
                                            </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:18%">
                                            Status
                                        </td>
                                        <td>
                                            <strong>@Html.DisplayFor(model => model.OverallStatus)</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-offset-1">
                            <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                        </div>

                        <br/>
                        <br />
                     

                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

 
}






