@{
    ViewBag.Title = "Verify Net Salary";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .status-pending {
    }

    .status-approved {
        font-weight: bold;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_voucher_listing" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Funding Ref</th>
                                        <th>Msg Id</th>
                                        <th>Num Trx</th>
                                        <th>Total Amount</th>
                                        <th>Payer Bank Account</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="3" style="text-align:right">TOTAL</th>
                                        <th style="text-align:right" id="NumTrx"></th>
                                        <th style="text-align:right" id="TotalAmount"></th>
                                        <td colspan="3"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- ATTACH SLIP DIALOG ----------------->
<div class="modal fade" id="attachFileModal">
    <div class="modal-dialog">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Attach Payment Slip</h3>
            </div>

            <div class="modal-body">
                <input type="file" name="file" id="file" accept=".pdf" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" onclick="uploadFile()" style="width:100px;" id="form_submision">
                    <i class="fa fa-save"></i>Save
                    <img src="/Content/img/loading.gif" id="saveLoader" />
                </button>
                <button class="btn btn-info"
                        data-dismiss="modal" style="width:100px;">
                    <i class="fa fa-times"></i>Close
                </button>
            </div>

        </div>
    </div>
</div>

<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="viewModal" style="left:4%">

    <div class="modal-dialog" style="width:95%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Payment Vouchers</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <div class="search-container" style="float:right">
                                    <i class="fa fa-search searchIcon"></i>
                                    <input type="search" name="search" placeholder="Search..." id="searchboxView">
                                </div>
                            </div>
                        </div>
                        <table id="dt_view" class="table table-bordered table-condensed"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------- END VIEW DIALOG ---------------------->

@section pagespecific{
    <script>
        // ============ INIT DATA TABLES START =====================

        var dt_voucher_listing = $('#dt_voucher_listing').dataTable({
            "pageLength": 20,
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_voucher_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_voucher_listing.DataTable().search(this.value).draw();
        });

        var dt_payee_details = $('#dt_payee_details').dataTable({
            "sDom": 't',
            "autoWidth": false,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "columns": [
                { title: "Payee Name" },
                { title: "Payee code" },
                { title: "Bank Name" },
                { title: "Bank Account No" },
                { title: "Address" }]
        });

        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            "sDom": 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });
        // ********************** INIT DATA TABLES END **********************


        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        var globalPayeeId = null;
        var TotalAmount = 0
        var NumTrx = 0
        function loadPaymentData() {

            statusTemplate = function (status) {
                return '<div class="status-approved">' + status + '</div>'
            }

            actionTemplate = function (i) {
                return '<div class="btn-group" id="drop-' + i + '">\
                         <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                           <span class="caret"></span\
                            <span class="sr-only"></span>\
                         </button>\
                         <ul class="dropdown-menu">\
                           <li><a href="#" onclick="verify(' + i + ')">Verify</a></li>\
                         </ul>\
                      </div>\
                      <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
            }

            $.ajax({
                type: "get",
                url: '@Url.Action("GetPaymets", "NetSalary")',
                data:{
                    status: 'Pending in Net Salary'
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_voucher_listing.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        TotalAmount += data[i]["OperationalAmount"];
                        NumTrx += data[i]["NumTrx"]
                        dt_voucher_listing.fnAddData([i+1,
                           data[i]["FundingRef"],
                           data[i]["MsgId"],
                           data[i]["NumTrx"],
                           toLabel(data[i]["OperationalAmount"]),
                           data[i]["PayerBankAccount"],
                           "Pending",
                           actionTemplate(i)
                        ]);
                        $("#saveLoader-" + i + "").toggle(false)
                    }
                    $("#TotalAmount").text(toLabel(TotalAmount));
                    $("#NumTrx").text(NumTrx.toLocaleString());
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        loadPaymentData();


        var PaymentFileId = null;
        function attachSlip(i) {
            PaymentFileId = data[i]["PaymentFileId"];
            $('#attachFileModal').modal('show');
        }

        $("#saveLoader").toggle(false);
        function uploadFile() {
            var formData = new FormData();
            formData.append('PaymentFileId', PaymentFileId);
            formData.append('file', $('input[type=file]')[0].files[0]);
            $("#form_submision").prop('disabled', true);
            $("#saveLoader").toggle(true);
            $.ajax({
                url: '@Url.Action("AttachSlip", "PaymentOffice")',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Attached successfully!")
                          .then((m) => {
                              $('#attachFileModal').modal('hide');
                              window.location.reload();
                          });
                    } else {
                        swal(response)
                         .then((m) => {
                             $('#attachFileModal').modal('hide');
                             window.location.reload();
                         });
                    }
                },
                failure: function (error) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error)
                     .then((m) => {
                         $('#attachFileModal').modal('hide');
                         window.location.reload();
                     });
                }
            });
        }

        /**
        * Send confirm signal to the backend
        * param  {Int} i - Id of the selected Item
        */
        function confirmPendingVoucher(i) {
            var url = '@Url.Action("ConfirmVoucher", "PaymentVoucher")';
            $.ajax({
                type: "post",
                url: url,
                data: { "PaymentVoucherId": i },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Confirmed Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
            $('#confirmModal').modal('hide');
        }

        function approve(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                title: 'Approve this Payment File?',
                text: "This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmPayment(data[i]["PaymentFileId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function confirmPayment(id) {
            var url = '@Url.Action("ApprovePaymentFile", "PaymentOffice")';
            $.ajax({
                type: "post",
                url: url,
                data: { "paymentFileId": id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Approved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        function submitFileDialog(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                title: 'Submit this Payment File?',
                text: "This process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    submitFile(data[i]["PaymentFileId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function submitFile(id) {
            var url = '@Url.Action("SubmitPaymentFile", "PaymentOffice")';
            $.ajax({
                type: "post",
                url: url,
                data: { "paymentFileId": id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("File Submitted Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response).then((value) => {
                            window.location.reload();
                        });
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        /**
        * Show Rejection Dialog
        * param  {Int} i - Id of the selected Item
        */
        function reject(i) {
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmRejection(data[i]["PaymentFileId"], remark);
                };
            });
        }

     /**
      * Send Rejection signal to the backend
      * param  {Int} i - Id of the selected Item
     */

        function confirmRejection(Id, remark) {
            var url = '@Url.Action("RejectPaymentFileSubmission", "PaymentOffice")';
            $.ajax({
                type: "post",
                url: url,
                data: { "paymentFileId": Id, "remark": remark },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                        .then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }



        function verify(i) {
            swal({
                title: 'Verify this list?',
                buttons: ['NO', 'YES'],
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    verifyAcceptance(data[i].PaymentFileId);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function verifyAcceptance(Id) {
            $("#confirmBtn").prop('disabled', true)
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActionsNetSalaryPaymentFile", "NetSalary")',
                data: {
                    status: 'Verified in Net Salary',
                    Id
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#confirmBtn").prop('disabled', false)
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((e) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }

        //=============== DETAILS
        var dt_view = $('#dt_view').dataTable({
            "data": [],
            "columnDefs": [{
                "visible": false
            }],
            "columns": [
           {title: "#" },
           { title: "Vote" },
           { title: "Num Trx" },
           { title: "Total Amount" },
           ]
        });

        $("#dt_view_wrapper .dt-toolbar").remove();

        $("#searchboxView").on("keyup search input paste cut", function () {
            dt_view.DataTable().search(this.value).draw();
        });

        function openViewDialog(i) {
            viewData(data[i]["AtSourcePaymentSummaryId"]);
            $("#viewModal").modal("show");
        }

        function viewData(Id) {
            $.ajax({
                type: "get",
                url: '@Url.Action("GetNetSalaryDetails", "NetSalary")',
                data: { Id },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    d = response.data;
                    dt_view.fnClearTable();
                    for (var i = 0; i < d.length; i++) {
                        dt_view.fnAddData([i+1,
                           d[i]['MainVoteCode']+" - "+d[i]["MainVoteName"],
                           d[i]["NumTrx"],
                           toLabel(d[i]["TotalAmount"]),
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
    </script>
}
