@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BudgetReallocationPercent>

<style>
    #jarviswidget .header {
        background: blueviolet;
    }

    .submit-btn {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 3px;
        padding-right: 10px;
    }


    .dataTables_filter {
        display: none;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    /*table, th, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
        border-color: gray;
        /*border-collapse: separate;*
        border-spacing: 0;
        color: #4a4a4d;
        font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 40%;
        padding: 5px 11px;
        vertical-align: middle;
    }

        tr:not([data-level='2']) {
            cursor: pointer;
        }

        tr.expanded .sign:after {
            content: url(/ifmis/Content/img/budget/Minus3.png);
        }

        tr.folded .sign:after {
            content: url(/ifmis/Content/img/budget/Collapse2.png);
            cursor: pointer;
        }

        td:first-child {
            padding: inherit;
        }

    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
        width: auto;
    }


    thead {
        background: #395870;
        color: #fff;
        font-weight: bold;
    }

    tfoot {
        background: #395870;
        color: #fff;
        font-weight: bold;
    }*/
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Budget Reallocation Percent</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">

                            <div class="row">
                                <div class="col-md-6">

                                    <a class="btn btn-info" href='@Url.Action("CreateBudgetReallocationPercent", "BudgetReallocations")'>
                                        <i class="glyphicon glyphicon-plus"></i> Add New
                                    </a>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="searchContainer submit-btn" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <table id="datatable_tabletools" class="table table-bordered table-condensed">
                                <thead>
                                    <tr style="text-align:left">
                                        <th></th>
                                        <th data-hide="phone,tablet"><b>Intitution Name</b></th>
                                        <th data-hide="phone,tablet"><b>Institution Code</b></th>
                                        <th data-hide="phone,tablet"><b>Reallocation Type</b></th>
                                        <th data-hide="phone,tablet"><b>Financial Year</b></th>
                                        <th data-hide="phone,tablet"><b>Budget Reallocation(%)</b></th>
                                        <th data-hide="phone,tablet"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int cnt = 0;}
                                    @foreach (var sbc in Model)
                                    {
                                        cnt = cnt + 1;
                                    <tr>
                                        <td>@cnt</td>
                                        <td>@sbc.InstitutionName</td>
                                        <td>@sbc.InstitutionCode</td>
                                        <td>@sbc.ReallocationType</td>
                                        <td>@sbc.FinancialYear</td>
                                        <td>@sbc.ReallocationPercent</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret">
                                                    </span>
                                                    <span class="sr-only"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Edit", "EditBudgetReallocationPercent", new { id = sbc.BudgetReallocationPercentId })</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{

    <script>
        var datatable_tabletools = $('#datatable_tabletools').dataTable();
        $("#datatable_tabletools_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            datatable_tabletools.DataTable().search(this.value).draw();
        });
    </script>
}
