@model IFMIS.Areas.IFMISTZ.Models.Attachment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 5%">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Attachment Creation.</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                        <div style="padding-left:17%">
                                            @Html.AntiForgeryToken()


                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Attachment Name:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.AttachmentName, new { @Class = "input", style = "width:300px; ", required = "required", })
                                                        @Html.ValidationMessageFor(model => model.AttachmentName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Attachment Category:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        <select name="AttachmentCat" id="AttachmentCat" Class="input" style="width:300px; " required="required">
                                                            <option value="Payment">Payment</option>
                                                            <option value="Imprest">Imprest</option>
                                                            <option value="Contract">Contract</option>
                                                            <option value="LPO">LPO</option>
                                                        </select>
                                                        @*@Html.TextBoxFor(model => model.AttachmentCat, new { @Class = "input", style = "width:300px; ", required = "required", })
                                                        @Html.ValidationMessageFor(model => model.AttachmentCat, "", new { @class = "text-danger" })*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right;">Attachment Description:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextAreaFor(model => model.AttachmentDesc, new { @Class = "input", style = "width:300px; ", required = "required", })
                                                        @Html.ValidationMessageFor(model => model.AttachmentDesc, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <a href='@Url.Action("Attachment", "Attachments")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>
                                                    <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                        <i class="fa fa-save"></i>
                                                        <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>


                                        }

                                    </td>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>
            </article>
        </div>
    </section>

</div>

    @section pagespecific{
<script>

    $("form").submit(function () {
        $("#saveLoader").toggle(true);
        $('#submit').attr("disabled", true);
    });

    $("#saveLoader").toggle(false);
    $("#submit").prop('disabled', false);

    if ('@TempData["Success"]' == 'Success') {
        swal("Saved Successfully!", { icon: 'success' })
             .then(Ok=> {
                 window.location.href = '@Url.Action("Attachment", "Attachments")';
             });
    } else if ('@TempData["Success"]' == 'No') {

        swal("This Attachment Name already Created!!")

    };

</script>
    }