@model IFMIS.Areas.IFMISTZ.Models.DeductionByInstitutionVM


<style>
    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 30px;
    }
    /*td {
            height: 25px;
        }*/
    th {
        background-color: darkgrey;
    }

    table, td, th {
        border: 1px solid black;
    }

    tr {
        page-break-inside: avoid;
    }
</style>
<div align="center">

    <img src="@Server.MapPath(" ~/Media/Images/log20180504093652.png")" width="120" height="120" /><br />
                                                                                                   <strong>
                                                                                                       THE UNITED REPUBLIC OF TANZANIA<br />
                                                                                                       MINISTRY OF FINANCE<br />
                                                                                                       SALARY DEDUCTION PAYMENT<br />                                                                                                  </strong>
</div>
<P>
    <strong>Deduction Type:</strong>@Html.DisplayFor(model => model.DeductionType)&nbsp;&nbsp;&nbsp;<strong>Funding Source:</strong>@Html.DisplayFor(model => model.FundingSource)
    &nbsp;&nbsp;&nbsp;<strong>Check Date:</strong> @Convert.ToDateTime(Model.CheckDate).ToString("dd-MM-yyyy")&nbsp;&nbsp;&nbsp;<strong>Payment Mode:</strong>@Html.DisplayFor(model => model.PaymentMode)
    &nbsp;&nbsp;&nbsp;<strong>Status:</strong>@Html.DisplayFor(model => model.OverallStatus)
    @if (Model.ControlNumber != null)
    {
    <strong>Control Number:</strong>@Html.DisplayFor(model => model.ControlNumber)
    }
</P>

    <table>
        <thead>
            <tr>
                <th style="text-align:left">No</th>
                <th style="text-align:left;width:10%">Vote Code</th>
                <th style="text-align:left">Vote Name</th>
                <th style="text-align:left">Tin Number</th>
                <th style="text-align:right">Amount</th>
                <th style="text-align:right;width:7%">Employees</th>
            </tr>
        </thead>
        <tbody>
            @{
                int m = 0;
            }


            @foreach (var item in Model.DeductionByVotes)
            {
                m++;
            <tr>
                <td>@m</td>
                <td>@item.VoteCode</td>
                <td>@item.VoteName</td>
                <td>@item.TinNumber</td>
                <td align="right">@string.Format("{0:#,0.00}", item.DeductionAmount)</td>
                <td align="right">@item.NumEmployees</td>
            </tr>
            }


        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" style="text-align:right">TOTAL</th>
                <th style="text-align:right">
                    @string.Format("{0:#,0.00}", Model.TotalDeductionAmount)
                </th>
                <th style="text-align:right">
                    @Model.TotalNumEmployees
                </th>
            </tr>
        </tfoot>
    </table>







