@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.VoteDetail>
@{
  var i = 0;
}

<style>
    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
        font-size: 15px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 30px;
    }
    /*td {
            height: 25px;
        }*/
    th {
        background-color: darkgrey;
    }

    table, td, th {
        border: 1px solid black;
    }

    tr {
        page-break-inside: avoid;
    }
</style>
<div align="center">

    <img src="@Server.MapPath(" ~/Media/Images/log20180504093652.png")" width="120" height="120" /><br />
    <strong>
        THE UNITED REPUBLIC OF TANZANIA<br />
        MINISTRY OF FINANCE <br />
         TIN NUMBERS TO VOTES<br />
    </strong>
</div>

<table>
    <thead>
        <tr>
            <th>
                #
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.VoteCode)
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.VoteName)
            </th>
            <th style="text-align:left;width:25%">
                @Html.DisplayNameFor(model => model.TinNumber)
            </th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.OrderBy(a=>a.VoteName))
            {
        i=i+1;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinNumber)
            </td>
        </tr>
            }


    </tbody>
</table>







