@model  IFMIS.Areas.IFMISTZ.Models.TrackBulkPaymentVM

@{
    ViewBag.Title = "Payment Details";
}

<div align="center">
    <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
</div>
@if (Model.BulkPayments != null)
{

    <table class="table table-bordered table-condensed">
        <caption><h3>First Payment</h3></caption>
        <thead>
            <tr>
                <td>Payee Name</td>
                <th>Account Number</th>
                <th>Bank BIC</th>
                <th style="text-align:right">Amount</th>
                <th>Status</th>
                <th>Status Description</th>
                <th>EndToEndId</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.BulkPayments.Where(a => a.PaymentCategory == "Original"))
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiaryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeneficiaryAccountNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankBic)
                    </td>
                    <td align="right">@string.Format("{0:#,0.00}", item.Amount)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OverallStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SettledDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndtoEndID)
                    </td>
                </tr>
            }


        </tbody>
    </table>
    if (Model.SalaryUnapplied != null)
    {
        <table class="table table-bordered table-condensed" width="100%">
            <caption><h3>Unapplied feed back for payment  above</h3></caption>
            <thead>
                <tr>
                    <th> Beneficiary Name </th>
                    <th> Beneficiary Account </th>
                    <th> Description </th>
                    <th> ControlNumber </th>
                    <th> Unapplied Date</th>
                    <th>Description</th>
                    <th>OverallStatus</th>
                    <th>Amount</th>
                    <th>EndToEndId</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td>
                        @Model.SalaryUnapplied.BenName
                    </td>
                    <td>
                        @Model.SalaryUnapplied.BenAcct
                    </td>
                    <td>
                        @Model.SalaryUnapplied.PaymentDesc
                    </td>
                    <td>
                        @Model.SalaryUnapplied.ControlNumber
                    </td>
                    <td>
                        @Model.SalaryUnapplied.UnappliedAt
                    </td>
                    <td>
                        @Model.SalaryUnapplied.BankingStatusDesc
                    </td>
                    <td>
                        @string.Format("{0:#,0.00}", Model.SalaryUnapplied.OverallStatus)
                    </td>
                    <td style="text-align:right">
                        @Model.SalaryUnapplied.TrxAmount
                    </td>
                    <td>
                        @Model.SalaryUnapplied.EndToEndId
                    </td>

                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div style="padding-bottom:10px" id="infoPanel">
            <div class="info-box">No unapplied feed back for payment  above</div>
        </div>
    }
    if (Model.BulkPayments.Any(a => a.PaymentCategory == "NewPayment"))
    {
        <table class="table table-bordered table-condensed table-amount">
            <caption><h3>Second Payment</h3></caption>
            <thead>
                <tr>
                    <td>Payee Name</td>
                    <th>Account Number</th>
                    <th>Bank BIC</th>
                    <th style="text-align:right">Amount</th>
                    <th>Status</th>
                    <th>Status Description</th>
                    <th>New EndToEndId</th>
                    <th style="text-align:center">Action</th>

                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model.BulkPayments.Where(a => a.PaymentCategory == "NewPayment"))
                {

                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.BeneficiaryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeneficiaryAccountNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankBic)
                        </td>
                        <td align="right">@string.Format("{0:#,0.00}", item.Amount)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OverallStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SettledDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndtoEndID)
                        </td>
                        <td align="center">
                            @if (item.OverallStatus == "")
                            {
                                <div class="btn-group">

                                    <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" onclick="trackUnapplied(@item.BulkPaymentID)">
                                                <i class="fa fa-edit"></i>Detail
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            }
                            else
                            {
                                <em>NA</em>
                            }
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    }
    else
    {
        <div style="padding-bottom:10px" id="infoPanel">
            <div class="info-box">No new  second payment</div>
        </div>
    }
}
else
{
    <div style="padding-bottom:10px" id="infoPanel">
        <div class="info-box">No unapplied details</div>
    </div>
}
<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>





