@{
    ViewBag.Title = "Employer Contribution Verification";
}
<link href="~/Content/css/custom.css" rel="stylesheet" />
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_table" class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Claim Ref</th>
                                        <th>Check Date</th>
                                        <th>ContributionCode</th>
                                        <th>Batches</th>
                                        <th>NumTrx</th>
                                        <th>TotalAmount</th>
                                        <th>ReconciliationStatus</th>
                                        @*<th>Status</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{

    <script>
        const select = document.createElement('select');
        select.setAttribute("id","PayeeDetailId")
        function GetPayee() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPSSSFPayee", "SalaryDeductionPayment")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    response.data.forEach(option => {
                        const opt = document.createElement('option');
                        opt.value = option.PayeeDetailId;
                        opt.textContent = `${option.Accountnumber} - ${option.AccountName}`;
                        select.appendChild(opt);
                    });
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        GetPayee()

        function AddPayee(id) {
            swal({
                content: select,
                buttons: ["CANCEL", "SAVE"],
            }).then((value) => {
                if (value) {
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("UpdatePsssfPayee", "SalaryDeductionPayment")',
                        data: { id, payeeDetailId: $("#PayeeDetailId").val() },
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            if (response == "Success") {
                                swal("Saved Successfully!", { icon: "success" }).then(_ => window.location.reload());
                            }else {swal(response);}
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
                }
            });
        }


        var dt_table = $('#dt_table').dataTable();
        $("#dt_table_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_table.DataTable().search(this.value).draw();
        });

        var data = [];

        function loadData() {
            $.ajax({
            type: "GET",
            url: '@Url.Action("GetPendingPsssfContributions", "SalaryDeductionPayment")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            data: { status: "Pending,Rejected by Authorizer"},
            success: function (response) {
                data = response.data;
                dt_table.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    var id = data[i].Id
                    dt_table.fnAddData([i+1,
                        data[i].ClaimRef,
                        data[i].CheckDateFormatted,
                        data[i].ContributionCode,
                        data[i].ReceivedBatches,
                        data[i].NumTrx,
                        toLabel(data[i].TotalEmployerContribution),
                        `${data[i].ReconciliationStatus || 'Pending'}`,
                       `<div class="btn-group" id="drop-${id}">\
                          <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span><span class="sr-only"></span>\
                           </button>\
                         <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "viewDetails(${id})">Details</a></li>\
                             <li><a href="#" onclick="reject(${id})">Reject</a></li>\
                             <li><a href="#" onclick="AddPayee(${id})">${data[i].PayeeDetailId ? 'Update Payee' :'Add Payee'}</a></li>\
                             <li><a href="#" onclick="confirm(${id})">Verify</a></li>\
                        </ul>\
                  </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-${id}" class="loading-gif"/>`
                    ]);
                    $("#saveLoader-" + id + "").toggle(false)
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
        }
        // <li><a href="#" onclick="reconcile(${id})">Reconcile</a></li>\
        loadData()

        function reject(id) {
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    $("#saveLoader-" + id + "").toggle(true)
                    $("#drop-" + id + "").toggle(false)
                    rejected(id, remark);
                };
            });
            $('#confirmModal').modal('hide');
        }


        function rejected(id, remarks) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ActionPsssfContributions", "SalaryDeductionPayment")',
                data: { id, status: "Cancelled", remarks, amount: 0 },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Rejected Successfully!", {icon:"success"}).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function confirm(id) {
            swal({
                title: 'Are you sure?',
                buttons: ['NO','YES'],
                dangerMode: true,
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    $("#saveLoader-" + id + "").toggle(true)
                    $("#drop-" + id + "").toggle(false)
                    confirmed(id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function confirmed(id) {
            $.ajax({
                type: "post",
                url: '@Url.Action("ActionPsssfContributions", "SalaryDeductionPayment")',
                data: { id, status: "Verified", amount: 0 },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Confirmed Successfully!", {icon:"success"}).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }
                    $("#saveLoader-" + id).toggle(false)
                    $("#drop-" + id).toggle(true)
                },
                failure: function (error) {
                    swal(error);
                }
            });
            $('#confirmModal').modal('hide');
        }
        function viewDetails(id) {
            url = '@Url.Action("PsssfContributionDetails", "SalaryDeductionPayment")';
            window.location.href = `${url}/?id=${id}`
        }

        function reconcile(id) {
            swal({
                title: 'Are you sure?',
                buttons: ['NO', 'YES'],
                dangerMode: true,
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    $("#saveLoader-" + id + "").toggle(true)
                    $("#drop-" + id + "").toggle(false)
                    reconciled(id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }


        function reconciled(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReconcilePsssfContribution", "SalaryDeductionPayment")',
                data: { id, status: "Verified", amount: 0 },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Reconciliation started successfully!", {icon:"success"}).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
            $('#confirmModal').modal('hide');
        }
    </script>
}
