@model IFMIS.Areas.IFMISTZ.Models.ReceivingSummaryVM
@{
    ViewBag.Title = "Preview Receiving";
               string retention_ptg = null;
                                if (Model.RetentionPercentage != null)
                                {
                                    retention_ptg = Model.RetentionPercentage.ToString() + "%";
                                }
                                else
                                {
                                    retention_ptg = "NA";
                                }
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Receiving Attachments</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                           
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border">Receiving Details</legend>
                                <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Reg #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractNumber)</div></div>
                                <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Receiving Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ReceivingNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
                                <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Currency&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Currency) </div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.SupplierName)</div></div>
                                <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Receiving Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ReceivedAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <strong>Advance Payment&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;
                                        @if (Model.AdvancePayment != null)
                                        {
                                            @Html.DisplayFor(model => model.AdvancePayment)
                                        }
                                        else
                                        {
                                            <span>NA</span>
                                        }
                                    </div><div class="col-sm-6 col-md-6 col-lg-6"><strong>SBC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.SubBudgetClass)</div>
                                </div>
                                @if (Model.RetentionPercentage != null || Model.LiquidatedDamageAmount != null)
                                {
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <strong>Retention&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@retention_ptg
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <strong>Liquidated Damage&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.LiquidatedDamageAmount)
                                        </div>
                                    </div>

                                }
                                @if (Model.RetentionPercentage != null)
                                {
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Transfer Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.RetentionBy)</div>
                                        @if (Model.RetentionBy == "InternalTransfer")
                                        {
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <strong>SBC To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.SubBudgetClassTo)
                                            </div>
                                        }
                                        else
                                        {

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <strong>Bank Account To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.AccountName)
                                            </div>

                                        }

                                    </div>
                                }

                                @if (Model.OverallStatus == "Rejected")
                                {
                                    if (Model.RejectionReason != null)
                                    {<div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejected By&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Rejecter)</div>
                                            <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

                                        </div>
                                    }
                                }
                                @if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                                {
                                    if (Model.RejectionSolution != null)
                                    {
                                        <div class="row">
                                            @if (Model.RejectionReason != null)
                                            {
                                                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

                                            }
                                            @if (Model.RejectionSolution != null)
                                            {
                                                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
                                            }
                                        </div>
                                    }
                                }
                                @if (Model.OverallStatus.ToUpper() == "EXAMINED")
                                {

                                    if (Model.Rejecter == "Approver")
                                    {
                                        <div class="row">
                                            @if (Model.RejectionReason != null)
                                            {
                                                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>
                                            }
                                            @if (Model.RejectionSolution != null)
                                            {
                                                <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
                                            }
                                        </div>
                                    }

                                }

                            </fieldset>



                            <fieldset class="scheduler-border" id="contract_details">
                                <legend class="scheduler-border">Attachments</legend>
                                <div id="contract_data">
                                    <div class="row">
                                        @if (Model.InvoiceNumber != null)
                                        {
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <strong>Invoice Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.InvoiceNumber)
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <strong>Date&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Convert.ToDateTime(Model.InvoiceDate).ToString("dd/MM/yyyy")
                                            </div>
                                        }
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            @if (Model.InvoiceFileName != null)
                                            {
                                                <a href="@Url.Action("InvoiceAttachment", "Contract", new { Filename = Model.InvoiceFileName })">Download</a>
                                            }
                                        </div>
                                    </div>
                                    @if (Model.ContractType == "Goods" || Model.ContractType == "Services & Goods" || Model.ContractType == "Works" || Model.ContractType == "Services")
                                    {
                                        if (Model.ContractType != "Works")
                                        {
                                            <div class="row">
                                                @if (Model.DeliveryNote != null)
                                                {
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <strong>Delivery Note&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.DeliveryNote)
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <strong>Date&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Convert.ToDateTime(Model.DeliveryDate).ToString("dd/MM/yyyy")
                                                    </div>
                                                }
                                                @if (Model.DeliveryFileName != null)
                                                {
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <a href="@Url.Action("DeliveryAttachment","Contract",new {Filename=Model.DeliveryFileName})">Download</a>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        if (Model.ContractType == "Works")
                                        {
                                            <div class="row">
                                                @if (Model.InspectionReportNo != null)
                                                {
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <strong>Payment Certificate&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.InspectionReportNo)
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <strong>Date&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Convert.ToDateTime(Model.InspectionReportDate).ToString("dd/MM/yyyy")
                                                    </div>
                                                }
                                                @if (Model.InspReportFileName != null)
                                                {
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <a href="@Url.Action("InspectionAttachment","Contract",new {Filename=Model.InspReportFileName})">Download</a>
                                                    </div>
                                                }
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="row">
                                                @if (Model.InspectionReportNo != null)
                                                {
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <strong>Inspection/Report&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.InspectionReportNo)
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                                        <strong>Date&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Convert.ToDateTime(Model.InspectionReportDate).ToString("dd/MM/yyyy")
                                                    </div>
                                                }
                                                @if (Model.InspReportFileName != null)
                                                {
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <a href="@Url.Action("InspectionAttachment","Contract",new {Filename=Model.InspReportFileName})">Download</a>
                                                    </div>
                                                }
                                            </div>


                                        }

                                    }
                                    else if (Model.ContractType == "Consuntancy")
                                    {
                                        <div class="row">
                                            @if (Model.InspectionReportNo != null)
                                            {
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <strong>Inspection/Report&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.InspectionReportNo)
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <strong>Date&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Convert.ToDateTime(Model.InspectionReportDate).ToString("dd/MM/yyyy")
                                                </div>
                                            }
                                            @if (Model.InspReportFileName != null)
                                            {
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <a href="@Url.Action("InspectionAttachment","Contract",new {Filename=Model.InspReportFileName})">Download</a>
                                                </div>
                                            }
                                        </div>

                                    }
                                    @if (Model.PerformanceBondFile != null)
                                    {
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <strong>Performance Quarantee&nbsp;:</strong>&nbsp;&nbsp;&nbsp;<a href="@Url.Action("PerformanceQuarantee","Contract",new {Filename=Model.PerformanceBondFile})">Download</a>
                                            </div>
                                        </div>
                                    }
                                    <div class="row">

                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <strong>Other Attachments&nbsp;:</strong>&nbsp;
                                            <a href="@Url.Action("AttachmentView", "PaymentVoucherAttachments",new {groupId=Model.ContractId,sourceModule="Contract" })" target="_blank">
                                                Preview
                                            </a>
                                        </div>


                                    </div>
                                </div>
                            </fieldset>


                            <br>
                            <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                                <header>
                                    <h2><strong></strong> <i></i></h2>

                                    <ul id="widget-tab-1" class="nav nav-tabs pull-right">

                                        <li class="active">

                                            <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> Items List<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ReceivingList.Count()</span></span> </a>

                                        </li>
                                        <li>

                                            <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-arrow-circle-o-down"></i> <span class="hidden-mobile hidden-tablet"> GL Account(s)<span class="badge inbox-badge margin-right-13" style="background-color:#2196F3">@Model.ReceivingCoas.Count()</span></span> </a>

                                        </li>
                                    </ul>

                                </header>

                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->

                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">

                                        <!-- widget body text-->

                                        <div class="tab-content padding-10">
                                            <div class="tab-pane fade in active" id="hr1">
                                                <div class="widget-body no-padding">

                                                    <br />




                                                    <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                                                        @if (Model.ReceivingList.Count() > 0)
                                                        {
                                                            <table align="center" class="table table-bordered  table-condensed" style="width:97%">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align:center">#</th>
                                                                        <th style="text-align:left">Item</th>
                                                                        <th style="text-align:left">UOM</th>
                                                                        <th style="text-align:center">Quantity</th>
                                                                        <th style="text-align:right">Unit Price (@Html.DisplayFor(model => model.Currency))</th>
                                                                        <th style="text-align:right">Total (@Html.DisplayFor(model => model.Currency))</th>

                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    @{var i = 0;
                                                                        decimal grandTotal = 0;
                                                                        var item_total = 0;}
                                                                    @foreach (var item in Model.ReceivingList)
                                                                    {
                                                                        grandTotal = grandTotal + Convert.ToDecimal(item.Amount);
                                                                        item_total = item_total + (int)item.ReceivedQuantity;
                                                                        i++;
                                                                        <tr>
                                                                            <td style="text-align:center">
                                                                                @i
                                                                            </td>
                                                                            <td style="text-align:left">
                                                                                @Html.DisplayFor(modelItem => item.ItemDesc)
                                                                            </td>

                                                                            <td style="text-align:left">
                                                                                @Html.DisplayFor(modelItem => item.UOM)
                                                                            </td>
                                                                            <td style="text-align:center">
                                                                                @Html.DisplayFor(modelItem => item.ReceivedQuantity)
                                                                            </td>
                                                                            <td style="text-align:right">

                                                                                @Html.DisplayFor(modelItem => item.UnitPrice)

                                                                            </td>
                                                                            <td style="text-align:right">

                                                                                @Html.DisplayFor(modelItem => item.Amount)
                                                                            </td>

                                                                        </tr>

                                                                    }

                                                                </tbody>
                                                            </table>
                                                        }



                                                    </div>



                                                </div>

                                            </div>
                                            <div class="tab-pane fade in" id="hr2">
                                                <div class="widget-body no-padding">
                                  

                                                    <div class="custom-scroll" style="height:130px; overflow-y: scroll;">
                                                        @if (Model.ReceivingCoas.Count() > 0)
                                                        {
                                                            <table class="table table-bordered table-hover table-condensed" id="items_charge" style="width:100%">
                                                                <thead>
                                                                    <tr style="width:5%">
                                                                        <th>#</th>
                                                                        <th style="text-align:left">GL Account</th>
                                                                        <th style="text-align:left">GL Account Desc</th>
                                                                        <th style="text-align:left">Funding Reference</th>
                                                                        <th style="text-align:right">Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (var i = 0; i < Model.ReceivingCoas.Count(); i++)
                                                                    {
                                                                        var j = i + 1;
                                                                        <tr>
                                                                            <td style="text-align:center">@j</td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].GLAccount)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].GLAccountDesc)
                                                                            </td>
                                                                            <td>
                                                                                @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].FundingReference)
                                                                            </td>
                                                                            <td style="text-align:right">
                                                                                @Html.DisplayFor(modelItem => Model.ReceivingCoas[i].ExpenseAmount)
                                                                            </td>

                                                                        </tr>
                                                                    }
                                                                    <tr>
                                                                        <td colspan="4" style="text-align:right"><strong>Total</strong></td>
                                                                        <td style="text-align:right"><strong>@Convert.ToDecimal(Model.ReceivingCoas.Select(a => a.ExpenseAmount).DefaultIfEmpty(0).Sum()).ToString("#,##0/=")</strong></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        }

                                                    </div>



                                                </div>

                                            </div>

                                        </div>

                                        <!-- end widget body text-->
                                        <!-- widget footer -->
                                        <!-- end widget footer -->

                                    </div>
                                    <!-- end widget content -->

                                </div>
                                <!-- end widget div -->

                            </div>

                        </div>
                        <div class="col-md-offset-1">
                            @if (Model.OverallStatus.ToUpper() == "PENDING" || Model.OverallStatus == "Rejected")
                            {
                                <a href="@Url.Action("PendingReceiving","Contract")"  class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                            }
                            else if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                            {
                                <a href="@Url.Action("ExamineReceiving","Contract")"  class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                            }
                            else if (Model.OverallStatus.ToUpper() == "EXAMINED")
                            {
                                <a href="@Url.Action("ReceivingApproval","Contract")" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                            }
                            else
                            {
                                <a href="@Request.UrlReferrer"  class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                            }
                        </div>
                        <br />
                        <br />
                        <br />
                     
                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
   
}








