@model IFMIS.Areas.IFMISTZ.Models.MuseBiologicalMapping
@{
    ViewBag.Title = "Create Muse Biological Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: left;
    }
</style>
<!-- widget grid -->
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Create Muse Biological Mapping</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                <table style="width:100%;">
                                    <tr>
                                        <td colspan="1">
                                            <div class="form-horizontal" style="text-align: center">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">GFS Description:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.GFSDescription, new { @Class = "form-control", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.GFSDescription, "", new { @class = "text-danger", style = "width:300px;" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Fair Value:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.FairValue, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.FairValue, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Value Physical:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.ValuePhysical, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.ValuePhysical, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Regenaration Increase:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.RegenarationIncrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.RegenarationIncrease, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Monetary Increase:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.MonetaryIncrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.MonetaryIncrease, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">NonMonetary Increase:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.NonMonetaryIncrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.NonMonetaryIncrease, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Sales Decrease:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.SalesDecrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.SalesDecrease, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Harvest Decrease:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.HarvestDecrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.HarvestDecrease, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Distribution Decrease:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.DistributionDecrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.DistributionDecrease, "", new { @class = "text-danger" })
                                                    </div>
                                                    <label class="col-md-2 control-label">Degeneration Decrease:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.DegenerationDecrease, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.DegenerationDecrease, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">Other Changes:</label>
                                                    <div class="col-md-4">
                                                        @Html.TextBoxFor(model => model.OtherChanges, new { @Class = "form-control", style = "width:200px", required = "required" })
                                                        @Html.ValidationMessageFor(model => model.OtherChanges, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td colspan="1"></td>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6">

                                        <a class="btn btn-info" href='@Url.Action("MuseBiologicalMappingList", "MuseBiologicalMappingSetup")' style="margin-right:5px">
                                            <i class="fa fa-arrow-left"></i>Back
                                        </a>
                                        <button type="submit" class="btn btn-info" id="submit">
                                            <i class="fa fa-save"></i>Save
                                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        if ('@TempData["Success"]' == 'Success') {
            swal("Successfully Saved", { icon: 'success' })
                .then(Ok => {
                    window.location.href = '@Url.Action("MuseBiologicalMappingList", "MuseBiologicalMappingSetup")';
                });
        } else if ('@TempData["Success"]' == 'Error') {
            swal("Something went wrong, please contact system administrator!", { icon: 'warning'})
                .then(Ok => {
                    window.location.href = '@Url.Action("CreateMuseBiologicalMapping", "MuseBiologicalMappingSetup")';
                });
        } else if ('@TempData["Success"]' == 'Duplicate') {
            swal("Muse Biological Mapping already exist!", { icon: 'warning'})
                .then(Ok => {
                    window.location.href = '@Url.Action("CreateMuseBiologicalMapping", "MuseBiologicalMappingSetup")';
                });
        };

        $("form").submit(function () {
            if (
                !$("#GFSDescription").val() ||
                !$("#FairValue").val() ||
                !$("#ValuePhysical").val() ||
                !$("#RegenarationIncrease").val() ||
                !$("#MonetaryIncrease").val() ||
                !$("#NonMonetaryIncrease").val() ||
                !$("#SalesDecrease").val() ||
                !$("#HarvestDecrease").val() ||
                !$("#DistributionDecrease").val() ||
                !$("#OtherChanges").val()
            ) {
                return false;
            }

            var regex = new RegExp("^[0-9]{8}$");
            if (
                regex.test($("#FairValue").val()) == false ||
                regex.test($("#ValuePhysical").val()) == false ||
                regex.test($("#RegenarationIncrease").val()) == false ||
                regex.test($("#DegenerationDecrease").val()) == false ||
                regex.test($("#MonetaryIncrease").val()) == false ||
                regex.test($("#NonMonetaryIncrease").val()) == false ||
                regex.test($("#SalesDecrease").val()) == false ||
                regex.test($("#HarvestDecrease").val()) == false ||
                regex.test($("#DistributionDecrease").val()) == false ||
                regex.test($("#OtherChanges").val()) == false
            ) {
                swal("All GfsCode must be 8 numbers", { icon: "warning" });
                return false;
            }

            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);

    </script>
}
