@model IFMIS.Areas.IFMISTZ.Models.MuseBiologicalMapping

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .title {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    }

    .detail-section {
        padding: 10px;
    }

    .section-title {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sect-label {
        width: 250px;
        font-size: 15px;
        font-weight: 600;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 5px;
        text-align: left;
        border-bottom: 1px dashed #ccc;
    }

    .row-align {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .row-align-1 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .speech-bubble {
        position: relative;
        background: #efebe9;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-right-color: #efebe9;
            border-left: 0;
            margin-top: -9px;
            margin-left: -9px;
        }

    .speech-bubble-r {
        position: relative;
        background: #eeeeee;
        border-radius: .4em;
        color: white;
        padding: 10px;
    }

        .speech-bubble-r:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 9px solid transparent;
            border-left-color: #eeeeee;
            border-right: 0;
            margin-top: -9px;
            margin-right: -9px;
        }

    .chart-box {
        padding: 8px;
        border-radius: 5px;
        min-height: 150px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <br />
                            <div class="tab-content">
                                <div class="row-align">
                                    <div style="max-width:600px">
                                        <table>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>GFS Description</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.GFSDescription)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>Fair Value</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.FairValue)
                                                </td>
                                            </tr>


                                            <tr>
                                                <td class="sect-label">
                                                    <b>Value Physical</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.ValuePhysical)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>Regenaration Increase</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.RegenarationIncrease)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>Degeneration Decrease</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.DegenerationDecrease)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>Monetary Increase</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.MonetaryIncrease)
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>

                                        <table>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>NonMonetary Increase</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.NonMonetaryIncrease)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>Sales Decrease</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.SalesDecrease)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>Harvest Decrease</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.HarvestDecrease)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="sect-label">
                                                    <b>Distribution Decrease</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.DistributionDecrease)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="sect-label">
                                                    <b>Other Changes</b>
                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(model => model.OtherChanges)
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-2">
                                            <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
