@model IFMIS.Areas.IFMISTZ.Models.InvoiceSummary

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvoiceSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InvoiceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractLPONumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractLPONumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBudgetedInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBudgetedInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeDetailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeDetailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payeename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payeename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeBankAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeBankAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeBankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeBankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeBIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeBIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayeeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayeeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentChannel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentChannel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaystationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaystationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
