@model IFMIS.Areas.IFMISTZ.Models.AssetDetail
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Asset Details</legend>
        @if (Model.AssetClass.ClassName == "Furnitures/Equipments" || Model.AssetClass.ClassName == "Furniture/Equipments")
        {
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset ID&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetNo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>ID &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetDetailId)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Value&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetValue) @Html.DisplayFor(model => model.Currency)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Name &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.InstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Vote&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.VoteCode)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Code &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelCode)-@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelDesc)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Region &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Region.RegionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>District&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.District.DistrictName)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Building &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Building)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Floor&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Floor)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Room &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Room)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Remaining Economic Life(Rel)&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainEconomicLife)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Remark &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Remark)</div></div>
        }
        else if (Model.AssetClass.ClassName == "Motor Vehicle/Motor Cycle/Plants & Machinery")
        {
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset ID&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetNo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>ID &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetDetailId)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Value&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetValue) @Html.DisplayFor(model => model.Currency)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Name &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.InstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Vote&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.VoteCode)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Code &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelCode)-@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelDesc)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Region &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Region.RegionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>District&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.District.DistrictName)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Model &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetModel)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Body Type&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.BodyType)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Capacity &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Capacity)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Engine Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.EngineNumber)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Chasis Number &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ChasisNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Year Of Manufacture&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.YearOfManufacture)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Location &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Location)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Remaining Economic Life(Rel)&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainEconomicLife)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Remark &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Remark)</div></div>
        }
        else if (Model.AssetClass.ClassName == "Land")
        {
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset ID&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetNo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>ID &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetDetailId)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Value&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetValue) @Html.DisplayFor(model => model.Currency)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Name &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.InstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Vote&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.VoteCode)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Code &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelCode)-@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelDesc)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Region &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Region.RegionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>District&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.District.DistrictName)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Size &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Size)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Surveyed Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.SurveyedStatus)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Right Of Occupancy &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RightOfOccupancy)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>End Right Of Occupancy&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.EndRightOfOccupancy)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Usage &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Usage)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Remaining Economic Life(Rel)&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainEconomicLife)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Remark &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Remark)</div></div>
        }
        else if (Model.AssetClass.ClassName == "Buildings")
        {
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset ID&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetNo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>ID &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetDetailId)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Value&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetValue) @Html.DisplayFor(model => model.Currency)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Name &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.InstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Vote&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.VoteCode)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Code &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelCode)-@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelDesc)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Region &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Region.RegionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>District&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.District.DistrictName)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Number Of Storey &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.NumberOfStorey)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Plot Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PlotNumber)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Usage &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Usage)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Remaining Economic Life(Rel)&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainEconomicLife)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Remark &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Remark)</div></div>
        }
        else if (Model.AssetClass.ClassName == "Roads")
        {
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset ID&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetNo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>ID &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetDetailId)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Value&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetValue) @Html.DisplayFor(model => model.Currency)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Name &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.InstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Vote&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.VoteCode)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Code &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelCode)-@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelDesc)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Region &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Region.RegionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>District&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.District.DistrictName)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Road Type &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Type)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Road Length&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RoadLength)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Road From &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RoadFrom)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Road To&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RoadTo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Remaining Economic Life(Rel)&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainEconomicLife)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Remark &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Remark)</div></div>
        }
        else if (Model.AssetClass.ClassName == "Biological Assets")
        {
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset ID&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetNo)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>ID &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetDetailId)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Value&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetValue) @Html.DisplayFor(model => model.Currency)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Asset Class &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.AssetClass.TypeName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Condition&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Condition)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Name &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.InstitutionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Vote&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Institution.VoteCode)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Institution Code &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionCode)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Department&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelCode)-@Html.DisplayFor(model => model.InstitutionSubLevel.SubLevelDesc)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Region &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Region.RegionName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>District&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.District.DistrictName)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Sex &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Sex)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Age&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.BiologicalAssetAge)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Quantity &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Quantity)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Remaining Economic Life(Rel)&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RemainEconomicLife)</div></div>
            <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Remark &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Remark)</div></div>
        }

    </fieldset>
        <div class="modal-footer">

            <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
        </div>










