@model IFMIS.Areas.IFMISTZ.Models.ReceivedAssetsVM
@{
    ViewBag.Title = "Preview Assets";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Asset(s) Information </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p align="left">
                                Asset Batch Code &nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetsCode</strong></span><br />
                                @if (Model.ReceivingNumber != null)
                                {
                                <span>Receiving Number &nbsp; &nbsp;:</span><span><strong>@Model.ReceivingNumber</strong></span><br />
                                }
                                Asset Class &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetClass</strong></span><br />
                                Asset(s) Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetName</strong></span><br />
                                Assets Value &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.AssetsValue) @Html.DisplayFor(model => model.Currency)</strong></span><br />
                                Number Of Asset(s) :<span><strong>@Model.Quantity</strong></span><br />
                                Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.OverallStatus</strong></span><br />
                            </p>
                            <input type="hidden" id="InstitutionLevel" value='@Model.InstitutionLevel'>
                            <br>

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ReceivedAssetsId)
                            <div class="form-horizontal">

                                <table class="table  table-bordered table-hover table-condensed" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;width:4%">#</th>
                                            <th style="text-align:left">Asset Description </th>
                                            <th style="text-align:right">ID</th>
                                            <th style="text-align:center">Asset ID</th>
                                            <th style="text-align:right">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                                            <th style="text-align:left">Main Vote</th>
                                            <th style="text-align:left">Sub Vote</th>
                                            <th style="text-align:center">Action</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @for (var i = 0; i < Model.AssetDetails.Count(); i++)
                                        {
                                            var j = i + 1;
                                            <tr>
                                                <td style="text-align:center">@j</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)

                                                </td>
                                                <td style="text-align:right">

                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetDetailId)

                                                </td>
                                                <td style="text-align:center">

                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetNo)

                                                </td>
                                                <td style="text-align:right">
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                                                </td>
                                                <td style="text-align:left">
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].MainVote)

                                                </td>
                                                <td style="text-align:left">
                                                    @Html.DisplayFor(modelItem => Model.AssetDetails[i].SubVote)

                                                </td>
                                                <td style="text-align:center">
                                                   
                                                        <a href="#" data-toggle="modal" data-target="#preview_asset" data-id='@Model.AssetDetails[i].AssetDetailId' data-status='@Model.AssetDetails[i].OverallStatus' data-asset_no='@Model.AssetDetails[i].AssetNo' data-condition='@Model.AssetDetails[i].Condition' data-sub_vote='@Model.AssetDetails[i].SubVote' data-main_vote='@Model.AssetDetails[i].MainVote' data-region_id='@Model.AssetDetails[i].RegionId' data-district_id='@Model.AssetDetails[i].DistrictId' data-type='@Model.AssetDetails[i].Type' data-length='@Model.AssetDetails[i].RoadLength' data-infra_from='@Model.AssetDetails[i].RoadFrom' data-infra_to='@Model.AssetDetails[i].RoadTo' data-rel='@Model.AssetDetails[i].Rel' data-remark='@Model.AssetDetails[i].Remark' class="preview_asset  btn-xs edit"><i class="fa fa-eye"></i>Preview</a>

                                                    
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div class="col-md-offset-1">
                                    <a href="@Url.Action("ApproveAssets","Assets")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                </div>
                                <br />
                                <br />
                                <br />
                            </div>









                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

<div class="modal fade" id="preview_asset" style="left:4%">

    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="text-align:center">Preview Asset - @Model.AssetClass</h3>

            </div>
            <div align="center">
                <img src="/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none"/>
            </div>

            <div class="modal-body form-horizontal">
                <div id="preview">

                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong>ID:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="AssetID" id="AssetID" readonly class="form-control">
                                </div>
                                <label class="col-md-2 control-label"><strong>Asset ID:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="AssetNo" id="AssetNo" readonly class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong>Condition:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="Condition" id="Condition" readonly class="form-control" autocomplete="off">
                                </div>
                                <label class="col-md-2 control-label"><strong>Asset Class:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="AssetClass" id="AssetClass" value='@Model.AssetClass' class="form-control" readonly autocomplete="off">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong> Vote:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="MainVote" id="MainVote" readonly class="form-control" autocomplete="off">
                                </div>
                                <label class="col-md-2 control-label"><strong>Department:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="SubVote" id="SubVote" readonly class="form-control" autocomplete="off">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong>Region:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="Region" id="Region" readonly class="form-control" autocomplete="off">
                                </div>
                                <label class="col-md-2 control-label"><strong>District:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="District" id="District" readonly class="form-control" autocomplete="off">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong>Type:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="Type" id="Type" class="form-control" autocomplete="off">
                                </div>
                                <label class="col-md-2 control-label"><strong>Length:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="Length" id="Length" required class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong>From:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="LengthFrom" id="LengthFrom" class="form-control" autocomplete="off">
                                </div>
                                <label class="col-md-2 control-label"><strong>To:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="LengthTo" id="LengthTo" required class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-lg-10">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><strong>Remark:</strong></label>
                                <div class="col-md-4">
                                    <textarea name="Remark" id="Remark" rows="3" required class="form-control"></textarea>
                                </div>
                                <label class="col-md-2 control-label"><strong>Rel:</strong></label>
                                <div class="col-md-4">
                                    <input type="text" name="Rel" id="Rel" readonly class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>

            </div>

        </div>
    </div>
</div>


@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
     
            $(document).ready(function () {
           
                $(".preview_asset").on('click', function () {

                    var id = $(this).data('id');
                    var status = $(this).data('status');
                    $("#preview #AssetID").val(id);
                    if (status == "Complete") {
                        var asset_no = $(this).data('asset_no');
                        $("#preview #AssetNo").val(asset_no);
                        var condition = $(this).data('condition');
                        $("#preview #Condition").val(condition);
                        var sub_vote = $(this).data('sub_vote');
                        $("#preview #SubVote").val(sub_vote);
                        var main_vote = $(this).data('main_vote');
                        $("#preview #MainVote").val(main_vote);
                        var cost_center = $(this).data('cost_center');
                        $("#preview #CostCentre").val(cost_center);
                        var regionId = $(this).data('region_id');
                        $("#preview #RegionId").val(regionId);
                        var type = $(this).data('type');
                        $("#preview #Type").val(type);
                        var length = $(this).data('length');
                        $("#preview #Length").val(length);
                        var infra_from = $(this).data('infra_from');
                        $("#preview #LengthFrom").val(infra_from);
                        var infra_to = $(this).data('infra_to');
                        $("#preview #LengthTo").val(infra_to);
                        var rel = $(this).data('rel');
                        $("#preview #Rel").val(rel);
                        var remark = $(this).data('remark');
                        $("#preview #Remark").val(remark);
                        var district_id = $(this).data('district_id');

                        var url = '@Url.Action("GetRegion", "Assets")';
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { id: district_id },
                            success: function (data) {
                                $("#preview #Region").val(data.Region);
                                $("#preview #District").val(data.District);

                            }
                        });

                    }

                });

                $("#edit_form #RegionId").change(function (e) {

                    var regionId = $(this).val();
                    var url = '@Url.Action("GetDistricts", "Assets")';
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { id: regionId },
                        success: function (data) {
                            $('#edit_form #DistrictId').empty();
                            $('<option value="">Select...</option>').appendTo('#edit_form #DistrictId');
                            $.each(data, function (i, d) {
                                $('<option value="' + d.DistrictId + '">' + d.DistrictName + '</option>').appendTo('#edit_form #DistrictId');
                            });
                        }
                    });


                });
                            $(".lpoConfirm").on('click', function () {
                                var id = $(this).data('id');
                                var lpo = $(this).data('lpo');
                                var r = confirm("Do you what to confirm Local Purchase Order   " + lpo + " ?");
                                if (!r) {
                                    return;
                                }
                                var url = '@Url.Action("ConfirmLPO", "Procurement")';
                                $.ajax(
                    {
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                alert("Confirmed successfully");
                                location.reload();
                            }
                            else {
                                alert("Failed to confirm ,DbException");
                            }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            alert("An error has occured, contact system support");
                            $("#divLoader").hide();
                        },

                    });
                            });
                            $(".lpoCancel").on('click', function () {
                                var id = $(this).data('id');
                                var lpo = $(this).data('lpo');
                                var r = confirm("Do you what to cancel Local Purchase Order   " + lpo + " ?");
                                if (!r) {
                                    return;
                                }
                                var url = '@Url.Action("CancelLPO", "Procurement")';
                                $.ajax(
                    {
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                alert("Cancelled successfully");
                                location.reload();
                            }
                            else {
                                alert("Failed to cancel ,DbException");
                            }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            alert("An error has occured, contact system support");
                            $("#divLoader").hide();
                        },

                    });
                            });

                $(".rejected_lpo").on('click', function () {
                    var reason = $(this).data('reason');
                    var lpo = $(this).data('lpo');
                    $("#lpo_number").text(lpo);
                    $("#reason").text(reason);



                });

                var $rows = $('#lpo tr');
                $('#search').keyup(function () {
                    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                    $rows.show().filter(function () {
                        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text.indexOf(val);
                    }).hide();
                });


                        });

        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

            //function myFunction() {
            //    // Declare variables
            //    var input, filter, table, tr, td, i, txtValue;
            //    input = document.getElementById("lpo_search");
            //    filter = input.value.toUpperCase();
            //    table = document.getElementById("lpo");
            //    tr = table.getElementsByTagName("tr");

            //    // Loop through all table rows, and hide those who don't match the search query
            //    for (i = 0; i < tr.length; i++) {
            //        td = tr[i].getElementsByTagName("td")[2];
            //        if (td) {
            //            txtValue = td.textContent || td.innerText;
            //            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            //                tr[i].style.display = "";
            //            } else {
            //                tr[i].style.display = "none";
            //            }
            //        }
            //    }
            //}
    </script>
}




