@model IFMIS.Areas.IFMISTZ.Models.ReceivedMotorMachineryVM
@{
    ViewBag.Title = "Edit Motors Machinery";
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Asset(s) Information </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p align="left">
                                Asset Batch Code &nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetsCode</strong></span><br />
                                Receiving Number &nbsp;&nbsp;:<span><strong>@Model.ReceivingNumber</strong></span><br />
                                Asset(s) Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.AssetName</strong></span><br />
                                Assets Value &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Html.DisplayFor(model => model.AssetsValue) @Html.DisplayFor(model => model.Currency)</strong></span><br />
                                Number Of Asset(s) :<span><strong>@Model.Quantity</strong></span><br />
                                Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<span><strong>@Model.OverallStatus</strong></span><br />
                            </p>
                            <br>
                            @using (Html.BeginForm("ModifyMotorsMachinery", "Assets", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ReceivedAssetsId)
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BatchNo, htmlAttributes: new { @class = "control-label col-md-1" })
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.BatchNo, new { @class = "form-control", @required = "required", @autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.BatchNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table  table-bordered table-hover table-condensed" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;width:3%">#</th>
                                                <th style="text-align:left;width:10%">Asset Name</th>
                                                <th style="text-align:right;width:8%">Asset value-@Html.DisplayFor(model => model.Currency)</th>
                                                <th style="text-align:left;width:9%">Serial Number</th>
                                                <th style="text-align:left;width:10%">model</th>
                                                <th style="text-align:left;width:10%">Body Type</th>
                                                <th style="text-align:left;width:10%">Capacity</th>
                                                <th style="text-align:left;width:10%">EngineNumber</th>
                                                <th style="text-align:left;width:10%">ChasisNumber</th>
                                                <th style="text-align:left;width:10%">Year Of Manufacture</th>
                                                <th style="text-align:left;width:10%">Condition</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @for (var i = 0; i < Model.AssetDetails.Count(); i++)
                                            {
                                                var j = i + 1;
                                                <tr>
                                                    <td style="text-align:center">@j</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetName)
                                                       
                                                    </td>
                                                    <td style="text-align:right">
                                                        @Html.DisplayFor(modelItem => Model.AssetDetails[i].AssetValue)

                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].SerialNo, new { style = "width:100px", @required = "required", @autocomplete = "off" })
                                                        @Html.HiddenFor(modelItem => Model.AssetDetails[i].AssetDetailId)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].Model, new { style = "width:100px", @autocomplete = "off" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].BodyType, new { style = "width:100px", @autocomplete = "off" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].Capacity, new { style = "width:100px", @autocomplete = "off" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].EngineNo, new { style = "width:100px", @autocomplete = "off" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].ChasisNo, new { style = "width:100px", @autocomplete = "off" })
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(modelItem => Model.AssetDetails[i].YearOfManufacture, new { style = "width:60px", @required = "required", @autocomplete = "off" })
                                                    </td>
                                                    <td>

                                                        @Html.DropDownListFor(modelItem => Model.AssetDetails[i].Condition, new List<SelectListItem>{
                                                                                   new SelectListItem{ Text=Model.AssetDetails[i].Condition, Value = Model.AssetDetails[i].Condition },
                                                new SelectListItem{ Text="GOOD", Value = "GOOD" },
                                                 new SelectListItem{ Text="SERVICEABLE", Value = "SERVICEABLE" },

                                                 }, new { @class = "form-control", @required = "required", style = "height:27px" })


                                                    </td>



                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("PendingAssets","Assets")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        <button type="submit" class="btn btn-info" style="margin-right:2px">
                                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                                        </button>
                                    </div>
                                </div>
                            }








                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">

            $(document).ready(function () {


                            $(".lpoConfirm").on('click', function () {
                                var id = $(this).data('id');
                                var lpo = $(this).data('lpo');
                                var r = confirm("Do you what to confirm Local Purchase Order   " + lpo + " ?");
                                if (!r) {
                                    return;
                                }
                                var url = '@Url.Action("ConfirmLPO", "Procurement")';
                                $.ajax(
                    {
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                alert("Confirmed successfully");
                                location.reload();
                            }
                            else {
                                alert("Failed to confirm ,DbException");
                            }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            alert("An error has occured, contact system support");
                            $("#divLoader").hide();
                        },

                    });
                            });
                            $(".lpoCancel").on('click', function () {
                                var id = $(this).data('id');
                                var lpo = $(this).data('lpo');
                                var r = confirm("Do you what to cancel Local Purchase Order   " + lpo + " ?");
                                if (!r) {
                                    return;
                                }
                                var url = '@Url.Action("CancelLPO", "Procurement")';
                                $.ajax(
                    {
                        type: "POST",
                        url: url,
                        data: { id: id },
                        success: function (response) {
                            if (response == "Success") {
                                alert("Cancelled successfully");
                                location.reload();
                            }
                            else {
                                alert("Failed to cancel ,DbException");
                            }
                        },
                        error: function (xhr) {
                            //console.log(xhr.responseText);
                            alert("An error has occured, contact system support");
                            $("#divLoader").hide();
                        },

                    });
                            });

                $(".rejected_lpo").on('click', function () {
                    var reason = $(this).data('reason');
                    var lpo = $(this).data('lpo');
                    $("#lpo_number").text(lpo);
                    $("#reason").text(reason);



                });

                var $rows = $('#lpo tr');
                $('#search').keyup(function () {
                    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

                    $rows.show().filter(function () {
                        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                        return !~text.indexOf(val);
                    }).hide();
                });


                        });



            //function myFunction() {
            //    // Declare variables
            //    var input, filter, table, tr, td, i, txtValue;
            //    input = document.getElementById("lpo_search");
            //    filter = input.value.toUpperCase();
            //    table = document.getElementById("lpo");
            //    tr = table.getElementsByTagName("tr");

            //    // Loop through all table rows, and hide those who don't match the search query
            //    for (i = 0; i < tr.length; i++) {
            //        td = tr[i].getElementsByTagName("td")[2];
            //        if (td) {
            //            txtValue = td.textContent || td.innerText;
            //            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            //                tr[i].style.display = "";
            //            } else {
            //                tr[i].style.display = "none";
            //            }
            //        }
            //    }
            //}
    </script>
}




