@model IFMIS.Areas.IFMISTZ.Models.PaymentSlipFormVm
<link href='@Server.MapPath("~/Content/css/bootstrap.min.css")' rel="stylesheet" />
<style>
    .custom {
        line-height: 1.6;
        padding-left: 30px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
<div style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 16px">
    <div style="text-align: center">
        <img src="@Model.LogoImageBase64" style="width: 110px" />
        <div style="padding-top: 20px">
            <b>@Model.InstitutionName.ToUpper()</b>
        </div>
        <div style="padding-top: 10px;padding-bottom: 10px">
            <b>PAYMENT INSTRUCTION SLIP</b>
        </div>
    </div>

    <div class="row" style="padding-top: 12px">
        <div>
            <table class="table table-condensed table-stripped table-hover table-bordered" style="font-size: 13px">
                <thead>
                    <tr>
                        <th>Date</th>
                        @if (Model.IsDfundFlag == true)
                        {
                            <th>DFUND REFERENCE</th>
                        }
                        else
                        {
                            <th>FUNDING REFERENCE</th>
                        }

                        <th>BATCH NUMBER</th>
                        <th>BATCH DESCRIPTION</th>
                        <th>NO.OF TRANSACTIONS</th>
                        <th>TOTAL AMOUNT</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.Date</td>
                        @if (Model.IsDfundFlag == true)
                        {
                            <td>@Model.DfundPaymentReference</td>
                        }
                        else
                        {
                            <td>@Model.PVNo</td>
                        }

                        <td>@Model.BatchNo</td>
                        <td>@Model.BatchDesc</td>
                        <td>@Model.NoTrx</td>
                        <td>@string.Format("{0:#,#.00}", Model.OperationalAmount)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="padding-top:10px">
        <table style="border: none; width: 100%; border-collapse: collapse;">
            <tr>
                <td style="border: none; padding: 15px; vertical-align: middle;"></td>
                <td style="border: none; padding: 15px; vertical-align: middle;"></td>
            </tr>
            <tr>
                <td style="border: none; padding: 15px;"></td>
                <td style="border: none; padding: 15px; vertical-align: middle;">
                    verifierInstOfficer
                </td>
                <td style="border: none; padding: 15px; vertical-align: middle;">
                    approverInstOfficer
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height: 40px; border: none;"></td>
            </tr>
            <tr>
                <td style="border: none; padding: 15px;"></td>
                <td style="border: none; padding: 15px; vertical-align: middle;">
                    <strong>VERIFIER</strong>
                </td>
                <td style="border: none; padding: 15px; vertical-align: middle;">
                    <strong>AUTHORIZER</strong>
                </td>
            </tr>
        </table>
    </div>

    @if (ViewBag.RequiredThirdSignature == true)
    {
        <div style="padding-top:10px">
            <table style="border: none; width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="border: none; padding: 15px; vertical-align: middle;"></td>
                </tr>
                <tr>
                    <td style="border: none; padding: 15px; vertical-align: middle;">
                        authorizerInstOfficer
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="height: 40px; border: none;"></td>
                </tr>
                <tr>
                    @*@if (ViewBag.institutioncategory == "Ministry" || ViewBag.institutioncategory == "Region"
                         || ViewBag.institutioncategory == "Sub Treasury Offices" || ViewBag.institutioncategory == "Independent Government Department")
                        {
                             <td style="border: none; padding: 15px; vertical-align: middle;">
                                 <strong>CHIEF ACCOUNTANT</strong>
                             </td>
                         }
                         else {
                             <td style="border: none; padding: 15px; vertical-align: middle;">
                                 <strong>ACCOUNTING OFFICER</strong>
                             </td>
                         }*@


                    <td style="border: none; padding: 15px; vertical-align: middle;">
                        <strong>ACCOUNTING OFFICER</strong>
                    </td>
                </tr>
            </table>
        </div>
    }    
</div>