
@{
    ViewBag.Title = "Payment Batch Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">

                                <div class="col-md-3">

                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-12">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Keywords..." id="searchbox">
                                        <button style="background-color:#2196F3;color:white" onclick="searchPayment()">Search</button>
                                    </div>
                                </div>
                            </div>
                            <table id="dt_Loan_listing" class="table table-bordered table-condensed table-amount">
                                <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Batch Number</th>
                                        <th>Batch Description</th>
                                        <th>Institution Code</th>
                                        <th>Payment Category</th>
                                        <th style="text-align: center">Number of Transaction</th>
                                        <th style="text-align: center">Transaction Currency</th>
                                        <th style="text-align: center">Total Batch Amount</th>
                                        <th style="text-align: center">Overall Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                            <!-- Start of div loader-->
                            <div align="center" id="divLoader" style="text-align: center; display: none">
                                @*<img src="~/Media/Images/loader.gif" width="100" height="100" />*@
                            </div>
                            <!-- End of div loader-->

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="attachmentModal" style="left:4%">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Attachment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="PaymentBatchID" id="PaymentBatchID" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Attachment
                                    <i class="fa fa-times" style="color:white" id="Title_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="Attachment" id="Attachment" class="input" style="width:300px" />
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="UploadForm()" id="uploadform">
                        <i class="fa fa-times"></i>Upload
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="RejectModal" style="left:4%">
    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Reject</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="PaymentBatchID" id="PaymentBatchID" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">
                            <tr>
                                <td class="form-label">
                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="Title"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <textarea style="width:300px" rows="2" id="Remarks" maxlength="350"></textarea><br />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="RejectForm()" id="rejectform">
                        <i class="fa fa-times"></i>Reject
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


@section pagespecific{

    <script>

        var dt_Loan_listing = $('#dt_Loan_listing').dataTable();
        $("#dt_Loan_listing_wrapper .dt-toolbar").remove();
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_Loan_listing.DataTable().search(this.value).draw();
        });

        var data = [];
        $.ajax({
            type: "get",
            url: '@Url.Action("getSubmissionList", "PaymentBatches")',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                console.log('response', data);
                dt_Loan_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_Loan_listing.fnAddData([i + 1,
                       data[i]["BatchNo"],
                       data[i]["BatchDesc"],
                       data[i]["InstitutionCode"],
                       data[i]["PaymentCategory"],
                        data[i]["NoTrx"],
                        data[i]["TransactionCurrency"],
                       toLabel(data[i]["TotalAmount"]),
                       data[i]["OverallStatus"],
                       action(i, data[i]["OverallStatus"], data[i]["UploadSlip"], data[i]["IsDigitalSign"])
                    ]);
                    $("#saveLoader-" + i + "").toggle(false)
                }

                if (data.length == 0) {
                    $("#loader").text("No matching records found")
                }
            },
            failure: function (error) {
                swal(error);
            }
        });

        function action(i, overallStatus, uploadslip, IsDigitalSign) {

            if (IsDigitalSign == true) {
                  return '<div class="btn-group" id="drop-' + i + '">\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                               <span class="caret"></span\
                                   <span class="sr-only"></span>\
                           </button>\
                          <ul class="dropdown-menu">\
                              <li><a href="@Url.Action("SubmissionPaymentOfficeDetails","PaymentBatches")/?id=' + data[i]["PaymentBatchID"] + '">Details</a></li>\
                              <li><a href="#" onclick="viewAttachment(' + i + ')">View Attachment</a></li>\
                              <li><a href="#" onclick="previewSignedSlip(' + data[i]["PaymentBatchID"] + ')" > Preview Slip</a></li>\
                              <li><a href="#" onclick= "sentTopayment(' + data[i]["PaymentBatchID"] + ')">Send To Payment Office</a></li>\
                              <li><a href="#" onclick="Reject(' + i + ')">Reject</a></li>\
                          </ul>\
                      </div>\
                <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
            }
            else {

                if (overallStatus == "Approved" && uploadslip != "Slip Uploaded") {
                    return '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="@Url.Action("SubmissionPaymentOfficeDetails","PaymentBatches")/?id=' + data[i]["PaymentBatchID"] + '">Details</a></li>\
                                <li><a href="#" onclick="viewAttachment(' + i + ')">View Attachment</a></li>\
                                <li><a href="@Url.Action("PrintPaymentSlip","PaymentBatches")/?id=' + data[i]["PaymentBatchID"] + '" target="_blank">Print Slip</a></li>\
                                <li><a href="#" onclick="uploaded(' + i + ')">Upload</a></li>\
                                <li><a href="#" onclick="Reject(' + i + ')">Reject</a></li>\
                            </ul>\
                        </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                }
                if (overallStatus == "Slip Uploaded" || overallStatus == "Rejected in Payment Office" || overallStatus == "Rejected in Payment Voucher") {
                    return '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="@Url.Action("SubmissionPaymentOfficeDetails","PaymentBatches")/?id=' + data[i]["PaymentBatchID"] + '">Details</a></li>\
                                <li><a href="#" onclick="viewAttachment(' + i + ')">View Attachment</a></li>\
                                <li><a href="#" onclick="uploaded(' + i + ')">ReUpload</a></li>\
                                <li><a href="@Url.Action("DownloadPaymentSummary","PaymentBatches")/?id=' + data[i]["PaymentBatchID"] + '" target="_blank">Priview Slip</a></li>\
                                <li><a href="#" onclick= "sentTopayment(' + data[i]["PaymentBatchID"] + ')">Send To Payment Office</a></li>\
                                <li><a href="#" onclick="Reject(' + i + ')">Reject</a></li>\
                            </ul>\
                        </div>\
                  <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                }
            }
        }


        function SendtoPaymentOffice(id) {
            var url = '@Url.Action("SendtoPaymentOffice", "PaymentBatches")';
            $.ajax({
                type: "post",
                url: url,
                data: { id: id },
                success: function (response) {
                    if (response == "Success") {
                        swal("Sent Successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                    } else if (response == "DbException") {
                        swal(response + "An error has occured, contact system support");
                    } else {

                        swal(response, { icon: "warning" }).then((e) => {
                            window.location.reload();
                        });
                    }
                },
                error: function (xhr) {
                    swal("An error has occured, contact system support", {icon: "error"});
                    $("#divLoader").hide();
                },
            });
        }

        function sentTopayment(i, id) {
            debugger;
            if (i == 'x') i = id;
            swal({
                title: "Send",
                text: "Are you sure you want to Send the File to Payment Office? ",
                buttons: [
                  'Yes',
                  'No'
                ],
                closeOnClickOutside: false,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {

                    SendtoPaymentOffice(i);
                }
            });
            $('#confirmModal').modal('hide');
        }


        function uploaded(i) {

            $("#PaymentBatchID").text(data[i]["PaymentBatchID"]);
            document.getElementById("PaymentBatchID").value = data[i]["PaymentBatchID"];
            $('#attachmentModal').modal('show');
        }

        $(".saveLoader").toggle(false);
        function UploadForm() {

            var PaymentBatchID = $("#PaymentBatchID").val();
            var Attachment = $("#Attachment").val();

            if (PaymentBatchID == '') {
                var url = '@Url.Action("SubmissionPaymentOffice", "PaymentBatches")';
                swal("Please Fill All the required Fields");
                return false;
            }
            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('PaymentBatchID', PaymentBatchID);
            formData.append('FileName', $("#Attachment")[0].files[0]);
            uploadattachment(formData);
        }

        function uploadattachment(formData) {
            $(".loadingImg").show();
            $("#uploadform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("AttachmentPOSlip", "PaymentBatches")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#uploadform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Uploaded Successfully!", { icon: "success" }).then((e) => {
                            $("#divLoader").hide();
                            window.location.href = '@Url.Action("SubmissionPaymentOffice", "PaymentBatches")';
                        });
                    }
                    else {
                        $("#uploadform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response, { icon: "warning" }).then((e) => {
                            $("#saveLoader").toggle(false);
                            window.location.href = '@Url.Action("SubmissionPaymentOffice", "PaymentBatches")';
                        });
                    };

                },
                failure: function (error) {
                    $("#uploadform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }


        function Reject(i) {
            $("#PaymentBatchID").text(data[i]["PaymentBatchID"]);
            document.getElementById("PaymentBatchID").value = data[i]["PaymentBatchID"];
            $('#RejectModal').modal('show');
        }
        $(".saveLoader").toggle(false);


        function RejectForm() {

            var PaymentBatchID = $("#PaymentBatchID").val();
            var Remarks = $("#Remarks").val();

            if (PaymentBatchID == '' || Remarks == '') {
                var url = '@Url.Action("SubmissionPaymentOffice", "PaymentBatches")';
                swal("Please Fill All the required Fields");
                return false;
            }
            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('PaymentBatchID', PaymentBatchID);
            formData.append('RejectedReason', Remarks);
            rejected(formData);
        }

        function rejected(formData) {
            $(".loadingImg").show();
            $("#rejectform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("RejectSubmission", "PaymentBatches")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#rejectedform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Rejected successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                    } else {
                        $("#rejectform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response)
                    }
                },
                failure: function (error) {
                    $("#rejectform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error)
                }
            });
        }

        function viewAttachment(i) {
            window.location.href =
                '@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + data[i]["PaymentBatchID"] + '&&sourceModule=' + "bulkpayment";
        }

        function previewSignedSlip(id) {
            debugger;
             var url = '@Url.Action("ViewSubmittedInsSignedSlip", "PaymentBatches")/?id=' + id;
             window.open(url, '_blank');
        }

        
    </script>
}