@model IFMIS.Areas.Consolidation.Models.ConsoBudgetImportVM
@{
    ViewBag.Title = "Importation";
    var i = 0;
}
<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <br />
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <p>
                                @Html.DisplayNameFor(model => model.FinancialYear) :<strong>@Html.DisplayFor(model => model.FinancialYear)</strong>
                                <span style="float:right"> <a href="~/Media/Templates/Consolidation/Budget-Importation.xlsx">&nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>Empty Template</a></span>

                            </p>

                            @if (!Model.BudgetSummaryDetails.Any(a => a.OverallStatus == "Processed"))
                            {
                                if (!Model.BudgetSummaryDetails.Any(a => a.OverallStatus == "Pending"))
                                {
                                <div class="row">

                                    <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">
                                        <a href="#" onclick="uploagFile(@Model.FinancialYear)" class="btn btn-info" style="width:120px;border-radius:1px;">
                                            <i class="fa fa-file"></i>Upload File
                                        </a>
                                    </div>

                                </div>
                                }
                            }
                            <table class="table table-bordered table-hover table-condensed" id="dt_summary">
                                <thead>
                                    <tr>
                                        <th style="text-align:right">
                                            #
                                        </th>

                                        <th style="text-align:center">
                                            NumTrx
                                        </th>
                                        <th style="text-align:right">
                                            Total Amount
                                        </th>
                                        <th style="text-align:right">
                                            Matched Amount
                                        </th>
                                        <th style="text-align:right">
                                            Missing Amount
                                        </th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BudgetSummaryDetails)
                                    {
                                        i++;

                                    <tr>
                                        <td style="text-align:right">
                                            @i
                                        </td>
                                        <td style="text-align:center">
                                            @Html.DisplayFor(modelItem => item.TrxNo)
                                        </td>

                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.TotalAmount)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.ValidAmount)
                                        </td>
                                        <td style="text-align:right">
                                            @Html.DisplayFor(modelItem => item.MissingAmount)
                                        </td>
                                        <td style="text-align:center">

                                            <div class="btn-group" style="text-align:left">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("ImportationDetails", "ConsoBudget",new {id=Model.ConsoBudgetSummaryId,type="All",import="import"})" class="btn-xs edit">
                                                            <i class="fa fa-edit"></i>  Details
                                                        </a>
                                                    </li>
                                                    @if (item.OverallStatus == "Pending")
                                                    {
                                                        <li>
                                                            <a href="#" onclick="processEntry(@Model.ConsoBudgetSummaryId)">
                                                                <i class="fa fa-edit"></i>Save
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" onclick="cancelEntry(@Model.ConsoBudgetSummaryId)">
                                                                <i class="fa fa-edit"></i>Cancell
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>



                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-1">
                                        <a href="@Url.Action("PendingBudget","ConsoBudget")" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>





                </div>



            </article>

        </div>
    </section>

</div>
<div class="modal fade" id="uploadModal" style="left:4%">

    <div class="modal-dialog" style="width:35%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 align="center">Financial Year  <span id="fy"></span></h4>
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitFile(this)" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ConsoBudgetSummaryId)
        <div class="modal-body form-horizontal">

            <br />
            <div class="form-group">
                @Html.Label("Excel", htmlAttributes: new { @class = "control-label col-md-4", @style = "text-align:right" })

                <div class="col-md-8">
                    <input type="file" class="form-control btn btn-default" id="UploadFile" name="UploadFile" required="required">

                </div>
            </div>

        </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <input class="btn btn-info" type="submit" id="save_button" value="Save" />
            </div>

            }
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        var dt_search_summary = $('#dt_summary').dataTable();
        $("#dt_summary_wrapper .dt-toolbar").remove();
        $("#search-box").on("keyup search input paste cut", function () {
            $("#dt_summary").DataTable().search(this.value).draw();
        });

        function SubmitFile(formData) {
             $("#save_button").prop('disabled', true);
            var url = '@Url.Action("SaveImportation", "ConsoBudget")';
            var ajaxConfig = {
                type: "post",
                url: url,
                data: new FormData(formData),
                success: function (response) {
                      $("#save_button").prop('disabled', false);
                    if (response == "Success") {
                        swal("Data imported  successfully", { icon: "Success" })
                                    .then((value) => {
                                        location.reload();
                                });
                    }
                    else {
                        swal(response);
                    }
                }
            }

            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }

        var uploagFile = function (fy) {
            $("#fy").text(fy);
            $('#uploadModal').modal('show');

        };

        var processEntry = function (id) {
             swal({
                        title: 'Confirmation',
                        text: "Do you save this imported data ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("ProcessEntry", "ConsoBudget")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id},
                    success: function (response) {
                        if (response == "Success") {
                            swal("Data saved successfully!", { icon: "success" })
                                         .then((value) => {
                                             var url = '@Url.Action("PendingBudget", "ConsoBudget")';
                                             window.location.replace(url);
                                         });
                        }
                        else {
                            swal(response);
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        swal("An error has occured, contact system support");

                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        };


        var cancelEntry = function (id) {
             swal({
                        title: 'Confirmation',
                        text: "Do you cancel this  ?",
                        buttons: [
                          'No',
                          'Yes'
                        ],
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            var url = '@Url.Action("CancelImportation", "ConsoBudget")';
                            $.ajax(
                {
                    type: "POST",
                    url: url,
                    data: { id: id},
                    success: function (response) {
                        if (response == "Success") {
                            swal("Cancelled  successfully!", { icon: "success" })
                                         .then((value) => {
                                             location.reload();
                                         });
                        }
                        else {
                            swal(response);
                        }
                    },
                    error: function (xhr) {
                        //console.log(xhr.responseText);
                        swal("An error has occured, contact system support");

                    },

                });
                        } else {
                            swal("Cancelled", "No change was made");
                        }
                    });

        };
        $("#TotalAmount").autoNumeric('init');
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $("#divLoader").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $("#divLoader").hide();
        });
    </script>
}