@model IFMIS.Areas.IFMISTZ.Models.FundTransferSummaryVM

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 0px solid;
        padding: 8px;
        border-style: none;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }

    .panel-title {
        text-align: center;
        text-transform: uppercase;
        padding: 5px;
    }
</style>

<div class="" style="text-align: center ">
    <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="150" height="150" />

</div>

<div class="panel-title"><b> THE UNITED REPUBLIC OF TANZANIA </b> </div>
<div class="panel-title"><b> @Model.InstitutionCodeFrom - @Model.InstitutionNameFrom </b> </div> <br />
<div class="panel-title"><b> BANK FUND TRANSFER REQUEST </b> </div> <br />
<br />
<div class="row">
    <div class="col-md-8" style="text-align:left">
        <div>
            <b>Branch Manager ,</b> <br />
            @ViewBag.NameofBankFrom <br />
            @ViewBag.bankNameFrom <br />
            
        </div>
        <div style="padding-top: 10px">
            <b>SIR/ MADAM, </b><br /> <br />
            RE: FUND TRANSFERRED FROM <b>@ViewBag.bankNameFrom</b> TO <b> @ViewBag.bankNameTo </b> A/C
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px">
            @*<b> Please transfer TZS ONE HUNDRED TWENTY-FIVE THOUSAND AND ZERO CENTS ONLY as per details below </b> <br />*@
        </div>
    </div>
</div>
<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-body">
            <br />
            <table style="border:0px;">
                <tr style="border-bottom:1px solid black">

                    <th style="white-space:nowrap">
                        Fund Transfer No
                    </th>
                    <th style="white-space:nowrap">
                        From Bank A/c No.
                    </th>

                    <th style="white-space:nowrap">
                        To Bank A/c No.
                    </th>

                    <th style="white-space:nowrap;text-align:right">
                        Amount in (TZS)
                    </th>


                </tr>

                @{
                    int i = 0;
                    {
                        i++;
                    }
                    <tr>
                        <td style="text-align:center">
                            @Model.TransferRefNum
                        </td>

                        <td style="text-align:center;white-space:nowrap">
                            @Model.BankAccountFrom
                        </td>
                        <td style="white-space:nowrap;text-align:center">
                            @ViewBag.BankAccountTo
                        </td>
                        <td style="white-space:nowrap;text-align:right">

                            @String.Format("{0:#,0.00}", Model.TotalBaseAmount)

                        </td>
                    </tr>
                }

            </table>
            <table style="margin-top: 100px">
                <tr><td colspan="6" style="border-style: none"> Authorized Signatories and Stamp: </td></tr>
                <tr>
                    <td style="border-style: none;">Name of Signatory Category A: </td>
                    <td style="border-style: none; text-align: center">_______________</td>
                    <td style="border-style: none; text-align: center"> 1.&nbsp;Signature </td>
                    <td style="border-style: none; text-align: center">_______________</td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none;">Name of Signatory Category B: </td>
                    <td style="border-style: none; text-align: center">_______________</td>
                    <td style="border-style: none; text-align: center"> 2.&nbsp; Signature </td>
                    <td style="border-style: none; text-align: center">_______________</td>
                </tr>


            </table>


        </div>
    </div>
</div>


