@model IFMIS.Areas.IFMISTZ.Models.FundTransferSummaryVM

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px;
    }

    td, th {
        border: 1px solid;
        padding: 8px;
    }

    .alinearDerecha {
        text-align: right;
    }

    .negrita {
        font-weight: bold;
    }

    thead {
        display: table-row-group;
    }

    tr {
        page-break-inside: avoid;
    }

    .panel-title {
        text-align: center;
        text-transform: uppercase;
        padding: 5px;
    }
</style>

<div class="" style="text-align: center ">
    <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="150" height="150" />

</div>

<div class="panel-title"><b> THE UNITED REPUBLIC OF TANZANIA </b> </div>
<div class="panel-title"><b> @Model.InstitutionCodeFrom - @Model.InstitutionNameFrom </b> </div>
<div class="panel-title"><b> TRANSFER INSTRUCTION SLIP </b> </div>
<br />


<h4>TRANSFER DETAILS </h4>
<hr width="190px" style="float:left;margin-top:-16px" />
<br />

<div class="row">
    <div class="col-md-8" style="text-align:left">
        <div>
            <b>TRANSFER ACCOUNT NO  : </b>  @ViewBag.bankAccountFrom
        </div>
        <div style="padding-top: 10px">
            <b>TRANSFER ACCOUNT NAME :</b>  @ViewBag.bankNameFrom
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px">
            <b>  TRANSFER DATE : </b>  @string.Format("{0:d/M/yyyy}", Model.CreatedAt)
        </div>
    </div>
</div>
<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-body">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                <tr>

                    <th style="white-space:nowrap">
                        TRANSFER REFERENCE
                    </th>
                    <th style="white-space:nowrap">
                        NO. OF RECORDS
                    </th>

                    <th style="white-space:nowrap">
                        AMOUNT
                    </th>

                    <th style="white-space:nowrap">
                        PAYEE ACCOUNT NO.
                    </th>
                    <th style="white-space:nowrap">
                        PAYEE ACCOUNT NAME
                    </th>

                    <th style="white-space:nowrap">
                        TRANSFER TYPE
                    </th>

                </tr>

                @{
                    int i = 0;
                    {
                        i++;
                    }
                    <tr>
                        <td>
                            @Model.TransferRefNum
                        </td>
                        <td style="text-align: center">
                            @ViewBag.numTxrs

                        </td>
                        <td style="text-align: right;white-space:nowrap">
                            @String.Format("{0:#,0.00}", Model.TotalBaseAmount)
                        </td>
                        <td style="text-align: right;white-space:nowrap">
                            @Model.BankAccountTo
                        </td>
                        <td style="white-space:nowrap">
                            @ViewBag.bankNameTo
                        </td>
                        <td style="white-space:nowrap;text-align:center">
                            @Model.TransferType
                        </td>
                    </tr>
                }

            </table>
            <table style="margin-top: 100px">
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px">SIGNATURE:</td>
                    <td style="border-style: none; text-align: center">_______________</td>
                    <td style="border-style: none; text-align: center">_______________</td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px">NAME:</td>
                    <td style="border-style: none; text-align: center">@Model.ConfirmedBy</td>
                    <td style="border-style: none; text-align: center">@Model.ApprovedBy</td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px"></td>
                    <td style="border-style: none; text-align: center"></td>
                    <td style="border-style: none; text-align: center"></td>
                </tr>

                <tr style="border-spacing: 0px">
                    <td style="border-style: none; padding-left: 100px"></td>
                    <td style="border-style: none; text-align: center">VERIFIER</td>
                    <td style="border-style: none; text-align: center">AUTHORIZER</td>
                </tr>
            </table>

          
            <table style="margin-top: 100px">
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px">SIGNATURE   :</td>
                    <td style="border-style: none; text-align: center">_______________</td>
                    <td style="border-style: none; text-align: center">_______________</td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px"></td>
                    <td style="border-style: none; text-align: center"></td>
                    <td style="border-style: none; text-align: center"></td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px"></td>
                    <td style="border-style: none; text-align: center"></td>
                    <td style="border-style: none; text-align: center"></td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px"></td>
                    <td style="border-style: none; text-align: center"></td>
                    <td style="border-style: none; text-align: center"></td>
                </tr>
                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px">NAME   :</td>
                    <td style="border-style: none; text-align: center">________________</td>
                    <td style="border-style: none; text-align: center">________________</td>
                </tr>

                <tr style="border-spacing: 10px">
                    <td style="border-style: none; padding-left: 100px"></td>
                    <td style="border-style: none; text-align: center">BOT VERIFIER</td>
                    <td style="border-style: none; text-align: center">BOT AUTHORIZER</td>
                </tr>
            </table>

        </div>
    </div>
</div>


