@model IFMIS.Areas.IFMISTZ.Models.OwnSourceVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    th {
        text-align: center;
    }

    #amountdata {
        text-align: right;
    }

    .modal-header {
        padding: 9px 15px;
        border-bottom: 1px solid #eee;
        background-color: #0480be;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .alert-secondary {
        background-color: lightgrey;
        color: black;
    }
</style>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <!-- widget grid -->
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left:-13px">

            <section id="widget-grid" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Own Source Importation </h2>
                        </header>

                        <div>
                            <div class="widget-body " style="padding-top:10px">
                                <br />

                                <div class="row">
                                    <div>
                                        <h4> <a href="@Url.Action("DownloadSampleFormart", "OwnSources" )" style="margin:130px;"><i class="fa fa-download" aria-hidden="true"></i> Download Template Format. </a> </h4>
                                    </div>
                                    <hr />
                                </div>


                                @using (Html.BeginForm("CreateOwnSourceTemp", "OwnSources", FormMethod.Post, new { enctype = "multipart/form-data", id = "Form" }))
                                {
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">
                                                Customer Name
                                                <i class="fa fa-asterisk" style="color:white" id="errorReference"></i>
                                            </label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="customerName" id="customerName" />
                                                @*@Html.TextBoxFor(model => model.FundingRefNo, new { @class = "form-control", @placeholder = "Search Distribution Reference No." })*@
                                            </div>

                                            <label class="col-md-2 control-label">
                                                Upload File
                                                <i class="fa fa-asterisk" style="color:white" id="errorFundReference"></i>
                                            </label>
                                            <div class="col-md-5">
                                                @Html.TextBoxFor(model => model.FileName, new { type = "file", @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <!--<div class="form-group" id="filename">
                                            @Html.Label("Customer Name", htmlAttributes: new { @class = "control-label col-md-1" })

                                            <div class="col-md-5">
                                                <input type="text" class="form-control" name="customerName" id="customerName" />
                                            </div>
                                        </div>
                                        <div class="form-group" id="filename">
                                            @Html.Label("Upload File", htmlAttributes: new { @class = "control-label col-md-1" })

                                            <div class="col-md-5">
                                                @Html.TextBoxFor(model => model.FileName, new { type = "file", @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })-->
                                        @*<input type="file" required="required" class="form-control" style="width:400px" />*@
                                        <!--</div>
                                        </div>-->
                                        <br />

                                    </fieldset>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-10">
                                                    <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                    <button class="btn btn-info" id="form_submision" type="submit" style="float: left">
                                                        <i class="fa fa-upload"></i>
                                                        Upload
                                                    </button>
                                                    @*<input type="submit" id="uploadOwnSource" style="margin:0px 0px 0px 0px;" value="Upload" class="btn btn-info" />*@

                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                }
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                </div>
            </section>

        </article>
        <!-- WIDGET END -->


    </div>

</div>






@section pagespecific {
    <script type="text/javascript">

        $("#uploadOwnSource").click(function () {
            $("#loader").show();
        });

        function getUrlVars() {
            debugger;
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }


        $(document).ready(function () {
            debugger;

            var urlvalue = getUrlVars()["importresponse"];

            if (urlvalue != undefined) {
                if (urlvalue == "Success") {
                    swal("Data Successfully Imported  ", { icon: "success" })
                        .then((value) => {
                            window.location.href = '@Url.Action("PendingOwnSource", "OwnSources")';
                        });
                }
                else {
                    var res = urlvalue.substr(0, 685);
                    swal(decodeURIComponent(urlvalue), { icon: "warning" })
                        .then((value) => {
                            window.location.reload;
                        });
                }
            }
        });



    </script>
}



