@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.OwnSource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JournalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JournalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GlAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmedAt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnSourceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnSourceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnSourceId })
        </td>
    </tr>
}

</table>
