@model IFMIS.Areas.IFMISTZ.Models.JournalType

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 5%">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">JournalType Creation.</h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">

                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                        {
                                            <div style="padding-left:3%">
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align:right">Journal Type Code:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                        <div class="input-group">
                                                            @Html.DropDownList("JournalTypeSummaryId", ViewBag.JournalSummaryId as List<SelectListItem>, "", new { @Class = "input", style = "width:300px", required="required" })
                                                            @Html.ValidationMessageFor(model => model.JournalTypeSummaryId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">JournalType Description:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.TextAreaFor(model => model.JournalTypeDesc, new { style = "width:300px; ", required = "required" })
                                                                @Html.ValidationMessageFor(model => model.JournalTypeDesc, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">Debit GFS From:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.TextBoxFor(model => model.DrGfsFrom, new { @Class = "input", style = "width:300px; ", required = "required", Type = "number" })
                                                                @Html.ValidationMessageFor(model => model.DrGfsFrom, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">Debit GFS To:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.TextBoxFor(model => model.DrGfsTo, new { @Class = "input", style = "width:300px; ", required = "required", Type = "number" })
                                                                @Html.ValidationMessageFor(model => model.DrGfsTo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">Credit GFS From:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.TextBoxFor(model => model.CrGfsFrom, new { @Class = "input", style = "width:300px; ", required = "required", Type = "number" })
                                                                @Html.ValidationMessageFor(model => model.CrGfsFrom, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">Credit GFS To:</label>
                                                        <div class="col-md-8 inputGroupContainer">
                                                            <div class="input-group">
                                                                @Html.TextBoxFor(model => model.CrGfsTo, new { @Class = "input", style = "width:300px; ", required = "required", Type="number"})
                                                                @Html.ValidationMessageFor(model => model.CrGfsTo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="form-group">
                                                        <label class="col-md-4 control-label" style="text-align:right">Source Module:</label>
                                                    <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.DropDownList("SourceModule", new List<SelectListItem>
                                                            {
                                                            new SelectListItem{ Text="--Select--", Value = "" },
                                                            new SelectListItem{ Text="AP", Value = "AP" },
                                                            new SelectListItem{ Text="AR", Value = "AR" },
                                                            new SelectListItem{ Text="CM", Value = "CM" },
                                                            new SelectListItem{ Text="GL", Value = "GL" },
                                                            }, new { @Class = "input", style = "width:300px;" })
                                                        @Html.ValidationMessageFor(model => model.SourceModule, "", new { @class = "text-danger" })
                                                    </div>
                                                     </div>
                                                    </div>*@
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <a href='@Url.Action("JornalTypelist", "JournalTypes")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                                                    Back
                                                                </a>
                                                                <button type="submit" class="btn action-btn btn btn-info" id="submit">
                                                                    <i class="fa fa-save"></i>
                                                                    <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                                    Save
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        }
                                        </td>
                                        <td colspan="1"></td>
                                    </tr>
                                </table>

                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
@section pagespecific{

    <script type="text/javascript">

        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);

        if ('@TempData["Success"]' == 'Success') {
            swal("Saved Successfully!", { icon: 'success' })
                 .then(Ok=> {
                     window.location.href = '@Url.Action("JornalTypelist", "JournalTypes")';
                 });
        } else if ('@TempData["Success"]' == 'No') {

            swal("This Journal Type already Created!!")

        };


        $("#DrGfsFrom").on("keyup input paste cut", function () {
                var val = this.value
                if (val.length > 8) {
                    $("#DrGfsFrom").val(val.substring(0, 8));
                }
  });
        $("#DrGfsTo").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 8) {
                $("#DrGfsTo").val(val.substring(0, 8));
            }
        });
        $("#CrGfsFrom").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 8) {
                $("#CrGfsFrom").val(val.substring(0, 8));
            }
        });
        $("#CrGfsTo").on("keyup input paste cut", function () {
            var val = this.value
            if (val.length > 8) {
                $("#CrGfsTo").val(val.substring(0, 8));
            }
        });
  </script>
    }