@model IFMIS.Areas.Coadmis.Models.KeyPersonnelVM
@{
    ViewBag.Title = "Key Personnel Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="form-horizontal">
                                    <table class="table table-bordered table-responsive">
                                        <tbody>
                                            <tr>
                                                <td><b>Full Name</b></td>
                                                <td>@Model.FirstName @Model.LastName</td>
                                            </tr>
                                            <tr>
                                                <td><b>Phone Number</b> </td>
                                                <td>@Model.PhoneNumber</td>
                                            </tr>
                                            <tr>
                                                <td><b>Nationality</b> </td>
                                                <td>@Model.Nationality</td>
                                            </tr>
                                            <tr>
                                                <td><b>Nida Number</b> </td>
                                                <td>@Model.NIDANo</td>
                                            </tr>
                                            <tr>
                                                <td><b>Date Of Birth</b> </td>
                                                <td>@string.Format("{0:dd/MM/yyyy}", @Model.DateOfBirth)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Category Type</b></td>
                                                <td>@Model.CategoryType</td>
                                            </tr>
                                            <tr>
                                                <td><b>Position</b> </td>
                                                <td>@Model.Position</td>
                                            </tr>
                                            <tr>
                                                <td><b>Start Date</b></td>
                                                <td>@string.Format("{0:dd/MM/yyyy}", @Model.StartDate)</td>
                                            </tr>
                                            <tr>
                                                <td><b>End Date</b></td>
                                                <td>@string.Format("{0:dd/MM/yyyy}", @Model.EndDate)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Operational Status</b></td>
                                                <td>@Model.OperationalStatus</td>
                                            </tr>
                                            <tr>
                                                <td><b>Operational Description</b></td>
                                                <td>@Model.OperationalDescription</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-actions row" style="margin: 10px">
                                    <div class="row" style="margin: 10px">
                                        <div class="col-md-2">
                                            <a class="btn btn-default" href="@Url.Action("FileContent", "PermanentFile")/?id=@Model.PermanentFileId"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script>
    </script>
}
