@model IFMIS.Areas.IFMISTZ.Models.DummySalary

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DummySalary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubLevelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubLevelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetAmountAdjusted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetAmountAdjusted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetBaseAmountAdjusted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetBaseAmountAdjusted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDepartments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDepartments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubBudgetClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubBudgetClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperetionalCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperetionalCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseCurrency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaminedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaminedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaminedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaminedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RejectedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RejectedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PVNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PVNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversedFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversedFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReversedRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReversedRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalCtrlNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalCtrlNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlQueueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlQueueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
