@model IFMIS.Areas.IFMISTZ.Models.DummySalary

@{
    ViewBag.Title = "Details";
}

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <div class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Dummy Details </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">


                            <div>
                                <dl class="dl-horizontal table-stripped">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.LegalNumber)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.LegalNumber)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.ReferenceNo)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ReferenceNo)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.PaymentCategory)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.PaymentCategory)
                                    </dd>
                                    <dt>
                                       Amount
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.NetAmount)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.InstitutionAccount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.InstitutionAccount)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.ApplyDate)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ApplyDate)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.SubBudgetClass)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.SubBudgetClass)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.OverallStatus)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.OverallStatus)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CreatedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.CreatedAt)
                                    </dd>

                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.ConfirmedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ConfirmedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ConfirmedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ConfirmedAt)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ExaminedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ExaminedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ExaminedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ExaminedAt)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ApprovedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ApprovedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ApprovedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ApprovedAt)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.RejectReason)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.RejectReason)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.RejectedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.RejectedBy)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.RejectedAt)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.RejectedAt)
                                    </dd>*@

                                    <dt>
                                        @Html.DisplayNameFor(model => model.GlStatus)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.GlStatus)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div>
                            
                            <div>
                                <div colspan="5"><strong>GL Information:</strong></div>
                            </div>
                        </div>
                        <div class="widget-body">
                            <hr class="simple" />
                            <table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                                <thead>
                                    <tr style="background-color: #f5f5f5; color:black">
                                        <th>#</th>
                                        <th>Gl Account</th>
                                        <th>Gl Account Description</th>
                                        <th>Funding Reference</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.DummySalaryDetails)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DrGlAccount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DrGlAccountDesc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FundingRef)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpensedAmount)
                                        </td>
                                    </tr>
                                                }
                            </table>
                        </div>
                        <!-- end widget content -->
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<div class="col-md-2">
                                        </div>*@
                                    <div class="col-md-10">
                                        <a href="@Request.UrlReferrer" style="margin-right:-10px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
