
@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.TicketCategory>

@{
    ViewBag.Title = "Ticket Categories List";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (User.IsInRole("Helpdesk Ticket Category List"))
                                    {
                                        <a class="btn btn-info" href='@Url.Action("CreateTicketcategory", "TicketCategory")'>
                                            <i class="glyphicon glyphicon-plus"></i> Add New
                                        </a>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_Loan_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        @if (User.IsInRole("Helpdesk Ticket Category List"))
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <center><img src="~/Media/Images/ajax_loader.gif" class="loadingImg" /></center>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.DisplayFor(modelItem => item.TicketCategoryName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            @if (User.IsInRole("Helpdesk Ticket Category List"))
                                            {
                                                <td style="text-align:center">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                                            <span class="caret"></span>
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="@Url.Action("EditTicketCategory", "TicketCategory", new { id = item.TicketCategoryId })" class="btn-xs edit">
                                                                    <i class="fa fa-edit"></i>  Edit
                                                                </a>
                                                            </li>

                                                            <li><a href="#" data-toggle="modal" class="categoryCancellation   delete" data-id=@item.TicketCategoryId data-lpo='@item.TicketCategoryName'><i class="fa fa-trash-o"></i> Cancel</a></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{

    <script>
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

        // ============ INIT DATA TABLES START =====================
        var dt_Loan_listing = $('#dt_Loan_listing').dataTable();

        $("#dt_Loan_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_Loan_listing.DataTable().search(this.value).draw();
        });


        // ********************** INIT DATA TABLES END **********************

        $(".categoryCancellation").on('click', function () {
            var id = $(this).data('id');
            var lpo = $(this).data('lpo');
            swal({
                title: 'Cancellation',
                text: "Do you what to Cancel Ticket Category  " + lpo + " ?",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    var url = '@Url.Action("CancelTicketCategory", "TicketCategory")';
                    $.ajax(
        {
            type: "POST",
            url: url,
            data: { id: id },
            success: function (response) {
                if (response == "Success") {

                    swal("Ticket Category  Cancelled successfully!", { icon: "success" })
                              .then((value) => {
                                  location.reload();
                              });

                }
                else {

                    swal("Failed to confirm ,DbException"+response);
                }
            },
            error: function (xhr) {
                swal(error);
                $("#divLoader").hide();
            },

        });
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        });

    </script>
}
