<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Create</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                SubWarrant Code
                                                <i class="fa fa-times" style="color:white" id="SubWarrantCode1"></i>
                                            </td>
                                            <td>
                                                <input id="SubWarrantCode" style="width:300px;" type="text" value="@ViewBag.SubWarrantHolder.SubWarrantCode">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                SubWarrant Description
                                                <i class="fa fa-times" style="color:white" id="SubWarrantDescription1"></i>
                                            </td>
                                            <td>
                                                <input id="SubWarrantDescription" style="width:300px;" type="text" value="@ViewBag.SubWarrantHolder.SubWarrantDescription">
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                            <!-- end widget content -->
                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">

                                    <a class="btn btn-info" href='@Url.Action("SubWarrantHolderList", "SubWarrantHolder")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="btnSave">
                                        <i class="fa fa-save"></i>Save
                                        @*<img src="~/Content/img/loading.gif" id="saveLoader" />*@
                                    </button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        $("#btnSave").click(function () {

            var subWarrantCode = $("#SubWarrantCode").val();
            var subWarrantDescription = $("#SubWarrantDescription").val();


            if (subWarrantCode == '') {
                swal("Sub Warrant Code is Required")
                    .then((j) => {
                        $("#SubWarrantCode").focus();
                        $("#SubWarrantCode").css({ 'border-color': 'red' });

                    });


            } else if (subWarrantDescription == '') {
                swal("Sub Warrant Description is Required")
                    .then((j) => {
                        $("#SubWarrantDescription").focus();
                        $("#SubWarrantDescription").css({ 'border-color': 'red' });

                    });
            }

            else {
                $("#SubWarrantCode").css({ 'border-color': '' });
                $("#SubWarrantDescription").css({ 'border-color': '' });

                var form_data = {
                    "SubWarrantCode": $("#SubWarrantCode").val(),
                    "SubWarrantDescription": $("#SubWarrantDescription").val(),
                }

                var url = '@Url.Action("EditSubWarrantHolder", "SubWarrantHolder")';
                var urlList = '@Url.Action("SubWarrantHolderList", "SubWarrantHolder")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { subWarrantHolderVM: form_data, subWarrantID: '@ViewBag.SubWarrantID' },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {

                        swal(error);
                    }
                });
            }

        });

    </script>
}




