@{
    ViewBag.Title = "Approve Authorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/loan-authorization.css" rel="stylesheet" />
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <main-table />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
<script src="~/Scripts/mofJS/loan-authorization.js?ts = @DateTime.Now.Ticks.ToString()"></script>
<view-dialog-actions />
<view-dialog />
<attach-dialog />
<script>
        loadMainData({
            caller: 'Approve',
            actionStatus: 'Approved in Loan Auth.',
            rejectionStatus: 'Rejected by Loan Auth. Approver',
            dataUrl: '@Url.Action("GetLoanApplications", "LoanAuthorization")',
            actionsUrl: '@Url.Action("ActionsLoanAuthorization", "LoanAuthorization")',
            getStatus: {
                status1: 'Examined in Loan Auth.',
                status2: 'Rejected by Legal Reviewer'
            },
            remarksUrl: '@Url.Action("GetLoanRemarks", "LoanAuthorization")',
            attachmentsUrl: '@Url.Action("GetAttachments", "LoanAuthorization")',
            allAttachmentsUrl: '@Url.Action("GetAllAttachments", "LoanAuthorization")',
            attachUrl: '@Url.Action("UploadFile", "LoanAuthorization")',
            deleteAttachmentUrl: '@Url.Action("RemoveFile", "LoanAuthorization")',
            meetingInfoUrl: '@Url.Action("GetLoanApproval", "LoanAuthorization")',
            level: 'Loan Auth. Approve',
            ViewUrl: '@Url.Action("ViewLoanDetails", "ViewLoanApplication")'
        });

    var dt_view_attachments = $('#dt_view_attachments').dataTable()
    $("#dt_view_attachments_wrapper .dt-toolbar").remove();

    var dt_attach = $('#dt_attach').dataTable()
    $("#dt_attach_wrapper .dt-toolbar").remove();

    $("#saveLoader1").toggle(false)

    var dt_view_remarks = $("#dt_view_remarks").dataTable();
    $("#dt_view_remarks_wrapper .dt-toolbar").remove();

    function printOfferLatter(Id) {

      var loanApplicationId = Id,
           reportUrl = "@ViewBag.reportUrlName" + "PrintLoanOfferLetter.aspx",
           queryString = "applicationid=" + loanApplicationId;
        $.ajax({
                type: "GET",
                url: '@Url.Action("ParameterEncryption", "LoanReport", new {area = "LoanMod"})',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                data: { "query": queryString },
                success: function (response) {
                    window.open(reportUrl + response);
                }
        });
    }
</script>
}
