@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .info-box {
        padding: 8px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 200px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">

    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Add Batch Information</h2>

                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox1" style="width:200px">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_table" class="table table-striped table-bordered table-hover table-condensed" width="100%"></table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- Form ----------------->
<div class="modal fade" id="formModal" style="left:4%">

    <div class="modal-dialog" style="width:50%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add Meeting Info</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div  style="padding-left:6%">
                        <table>
                            <tr>
                                <td class="form-label">
                                    Meeting No
                                    <i class="fa fa-times" style="color:white" id="MeetingNo_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="MeetingNo" style="width:300px"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Meeting Date
                                    <i class="fa fa-times" style="color:white" id="MeetingDate_1"></i>
                                </td>
                                <td>
                                    <div class="flatpickr date-group">
                                        <input type="text" placeholder="Select Date.."
                                               data-input
                                               style="width:262px;padding-left:10px;border:none"
                                               autocomplete="off" id="MeetingDate">
                                        <a class="input-button" title="open" data-toggle href="#">
                                            <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Agender No.
                                    <i class="fa fa-times" style="color:white" id="AgenderNo_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="AgenderNo" style="width:300px" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Approval Attachment
                                    <i class="fa fa-times" style="color:white" id="ApprovalAttachment_1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" style="width:300px" id="ApprovalAttachment" accept=".pdf" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
      
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" onclick="saveForm()" id="saveForm">
                        <i class="fa fa-save"></i><img src="/Content/img/loading.gif" id="saveLoader" class="loading-gif" />Save
                    </button>
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{
    <script>

        var dt_table = $('#dt_table').dataTable({
            "data": [],
            "columnDefs": [{
                "targets": [1],
                "visible": false
            }],
            "columns": [
           {
               "className": 'details-control',
               "orderable": false,
               "data": null,
               "defaultContent": ''
           },
           { title: "Id" },
           { title: "Batch No" },
           { title: "Applied Amount" },
           { title: "Num Applications" },
           { title: "Created At" },
           { title: "" }
            ]
        });
        $("#dt_table_wrapper .dt-toolbar").remove();

        var LoanBatchSummaryId = 0;
        function actionTypes(i) {
            LoanBatchSummaryId =  w_data[i].LoanBatchSummaryId
            return '<div class="btn-group">\
                           <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                            </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="#" onclick="addMeetingInfo(' + i + ')">Add Meeting Info</a></li>\
                                <li><a href="#" onclick="unGenerate(' + i + ')">Un-Generate</a></li>\
                            </ul>\
                  </div>';
        }

        function addMeetingInfo(i){
            $("#formModal").modal('show')
        }
        var w_data = []
        function LoadData() {
            $("#loader").text("Loading...")
            var url = '@Url.Action("GetBatchInfo", "LoanAuthorization")';
            $.ajax({
                type: "GET",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    w_data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < w_data.length; i++) {
                        dt_table.fnAddData([i + 1,
                         w_data[i].LoanBatchSummaryId,
                         w_data[i].BatchNo,
                         w_data[i].AppliedAmount,
                         w_data[i].NumApplications,
                         w_data[i].FCreatedAt,
                         actionTypes(i)
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        LoadData();

        function generateBatch() {
            swal({
                text: "Generate Batch for Selected Applications(s)?",
                buttons: ["NO", "YES"],
            }).then((willGenerate) => {
                if (willGenerate) {
                    postGeneratedBatch();
                } else {
                    swal("Cancelled");
                }
            });
        }

        function saveForm() {
            if (formIsValid()) {
                var formData = new FormData()
                formData.append('MeetingAgendaNo', $("#MeetingNo").val());
                formData.append('MeetingDate', $("#MeetingDate").val());
                formData.append('MeetingNumber', $("#AgenderNo").val());
                formData.append('LoanBatchSummaryId', LoanBatchSummaryId)
                formData.append('ApprovalAttachmentUrl', $("#ApprovalAttachment")[0].files[0]);
                postFormData(formData);
            }
        }

        $("#saveForm").prop('disabled', false);
        $("#saveLoader").toggle(false);

        function postFormData(formData) {
            $("#saveForm").prop('disabled', true);
            $("#saveLoader").toggle(true);
            var url = '@Url.Action("CreateBatchMeetingInfo", "LoanAuthorization")';
            $.ajax({
                url: url,
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#saveForm").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((m) => {
                                window.location.reload();
                            });
                    } else {
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }

        function formIsValid() {

            var isNotValid = validateInputs([
                '#MeetingNo',
                '#MeetingDate',
                '#AgenderNo',
                '#ApprovalAttachment',
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }

            return true
        }

        function validateInputs(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        function unGenerate(i) {
            swal({
                title: 'Un Generate this Batch?',
                buttons: ['NO','YES'],
                dangerMode: true,
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    unGeneratePost(i);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function unGeneratePost(i) {
            var url = '@Url.Action("UnGenerateBatch", "LoanAuthorization")';
            var Id = w_data[i].LoanBatchSummaryId
            $.ajax({
                url: url,
                data: {Id},
                type: 'POST',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((m) => {
                                window.location.reload();
                            });
                    } else {
                        swal(response)
                    }
                },
                failure: function (error) {
                    swal(error)
                }
            });
        }



        function initTableLoanTable(i) {
            window["dt_view_loan" + i]
                = $('#dt_view_loan' + i)
           .dataTable({
               "sDom": 't',
               "columns": [
                   { title: "#" },
                   { title: "ApplicationNo" },
                   { title: "Customer Name" },
                   { title: "Applied Loan Amount" },
                   { title: "Loan Purpose" },
                   { title: "Repayment Source" },
                   { title: "FCreatedAt" },
                   { title: "" },
               ]
           });
            $("#dt_view_loan" + i + "_wrapper .dt-toolbar").remove();
        }

        $('#dt_table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt_table.DataTable().row(tr);
            var format = function (i) {
                return '<table id="dt_view_loan' + i + '" class="table table-bordered table-condensed"></table>';
            }

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                row.child(format(row.data()[0])).show();
                initTableLoanTable(row.data()[0]);
                tr.addClass('shown');
                //console.log(w_data[row.data()[0] - 1])
                getLoanInformation(row.data()[0], w_data[row.data()[0] - 1]["BatchNo"]);
            }
        });
        var d = [];
        function getLoanInformation(rowId, BatchNo) {
            $.ajax({
                type: "get",
                url:  '@Url.Action("GetBatchedLoanApplications", "LoanAuthorization")',
                data: { BatchNo },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    d = response.data;
                    console.log(d)
                    window["dt_view_loan" + rowId]
                        .fnClearTable();
                    for (var i = 0; i < d.length; i++) {
                        window["dt_view_loan" + rowId]
                            .fnAddData([i + 1,
                                d[i].a["ApplicationNo"],
                                d[i].b["CustomerName"],
                                toLabel(d[i].a["AppliedLoanAmount"]),
                                d[i].a["LoanPurpose"],
                                d[i].a["RepaymentSource"],
                                d[i].a["FCreatedAt"],
                                '<a href="#" onclick="view(' + d[i].a["LoanApplicationId"] + ')">View</a>'
                               ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        function view(Id) {
            let url = '@Url.Action("ViewLoanDetails", "ViewLoanApplication")'
            window.location.href = `${url}/${Id}`;
        }
    </script>
}
