@{
    ViewBag.Title = "Legal Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/loan-authorization.css" rel="stylesheet" />
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <main-table />
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div class="modal fade" id="legalModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">

        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">

                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Credit Agreement</h3>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-6">

                        <div style="padding-left:5%;padding-right:1%">

                            <table style="margin-left: 2%">

                                <tr>

                                    <td class="form-label">

                                        Registration No
                                        <i class="fa fa-times" style="color:white" id="RegistrationNo_1"></i>
                                    </td>
                                    <td>

                                        <div class="name-input-container">

                                            <input type="text" style="width:300px" id="RegistrationNo" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="form-label">

                                        Registration Date
                                        <i class="fa fa-times" style="color:white" id="RegistrationDate_1"></i>
                                    </td>
                                    <td>

                                        <div class="flatpickr date-group">

                                            <input type="text" placeholder="Select Date.."
                                                   data-input
                                                   style="width:260px;padding-left:10px;border:none"
                                                   autocomplete="off" id="RegistrationDate">
                                            <a class="input-button" title="open" data-toggle href="#">

                                                <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <table>

                            <tr>

                                <td class="form-label">

                                    Remarks
                                    <i class="fa fa-times" style="color:white" id="Remarks1_1"></i>
                                </td>
                                <td>
                                    <div class="name-input-container">
                                        <textarea type="text" id="Remarks1" style="width:200px" rows="4" cols="50" ></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br />
                <label style="padding-left:2%"> Attachments </label>
                <table class="table" id="dt_legal" style="width:70%;position:relative;left:10%">
                    <tbody>
                        <tr>
                            <td>

                                <div class="name-input-container">
                                    <select id="Attachment" style="padding:6px;width:300px"></select>
                                </div>
                            </td>
                            <td>
                                <div class="name-input-container">
                                    <input type="file" id="AttachmentFile" style="padding:6px;">
                                </div>
                            </td>
                            <td>

                                <div class="name-input-container">
                                    <button class="btn btn-info" onclick="uploadAttachments(this)">
                                        <i class="fa  fa-save"></i>Save Attachment
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" id="dt_display_attachements" style="width:70%;position:relative;left:10%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Attachment</th>
                            <th>File</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">

                <button class="btn btn-info" onclick="saveLegalInfo()" id="saveForm">

                    <i class="fa  fa-save"></i>Submit
                </button>
                <button class="btn btn-info" data-dismiss="modal">

                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
<script src="~/Scripts/mofJS/loan-authorization.js?ts = @DateTime.Now.Ticks.ToString()"></script>
<view-dialog-actions />
<view-dialog />
<legal-dialog />
<script>
        loadMainData({
            caller: 'Legal Review',
            actionStatus: 'Legal Reviewed',
            rejectionStatus: 'Rejected by Legal Reviewer',
            dataUrl: '@Url.Action("GetLoanApplications", "LoanAuthorization")',
            actionsUrl: '@Url.Action("ActionsLoanAuthorization", "LoanAuthorization")',
            getStatus: {
                status1: 'Approved in Loan Auth.',
                status2: 'Rejected in Loan Disbursement Entry',
            },
            remarksUrl: '@Url.Action("GetLoanRemarks", "LoanAuthorization")',
            attachmentsUrl: '@Url.Action("GetAttachments", "LoanAuthorization")',
            allAttachmentsUrl: '@Url.Action("GetAllAttachments", "LoanAuthorization")',
            attachUrl: '@Url.Action("LegalDetails", "LoanAuthorization")',
            //attachUrl: '@Url.Action("UploadFile", "LoanAuthorization")',
            deleteAttachmentUrl: '@Url.Action("RemoveFile", "LoanAuthorization")',
            meetingInfoUrl: '@Url.Action("GetLoanApproval", "LoanAuthorization")',
            level: 'Legal Review',
            ViewUrl: '@Url.Action("ViewLoanDetails", "ViewLoanApplication")'
        });
    var dt_attach = $('#dt_attach').dataTable()
    $("#dt_attach_wrapper .dt-toolbar").remove();

    $("#saveLoader1").toggle(false)

    var dt_view_remarks = $("#dt_view_remarks").dataTable();
    $("#dt_view_remarks_wrapper .dt-toolbar").remove();

    var dt_view_attachments = $("#dt_view_attachments").dataTable();
    $("#dt_view_attachments_wrapper .dt-toolbar").remove();

    var dt_display_attachements = $("#dt_display_attachements").dataTable();
    $("#dt_display_attachements_wrapper .dt-toolbar").remove();

    var uploadedAttachments = []
    var requiredAttachments = []
    function loanLegalAttachments(Id) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRequiredAttachemnts", "LoanLegalReviewAttachment")",
            data: { Id },
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                console.log(response)
                if (response.error) {
                    swal(response.error)
                } else {
                    var select = document.getElementById("Attachment")
                    select.innerHTML = ""
                    requiredAttachments = response.data
                    response.data.forEach(v=> {
                        var option = document.createElement("option")
                        option.text = `${v.AttachmentName} ${v.IsRequired?"":"(optional)"}`
                        option.value = v.AttachmentName
                        select.appendChild(option)
                    })
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
    }

    function uploadAttachments(target) {
        var find = uploadedAttachments.filter(v=>v.Title == $("#Attachment").val())
        if (find.length >0) {
            swal("The file is already attached.!")
        } else if ($("#AttachmentFile").val()) {
            console.log($("#AttachmentFile")[0].files[0])
            $(target).prop("disabled", true)
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadAttachment", "LoanAuthorization")',
                data: CreateForm({ file: $("#AttachmentFile")[0].files[0] }),
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log({ response})
                    $(target).prop("disabled", false)
                    if (response.data == "Success") {
                        uploadedAttachments.push({
                            downloadUrl: response.downloadUrl,
                            Title: $("#Attachment").val(),
                            IsRequired: !$("#Attachment :selected").text().includes("(optional)")
                        })
                        dispalAttachments()
                    } else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        } else {
            swal("Please select a file to save.!")
        }
    }

    function dispalAttachments() {
        dt_display_attachements.fnClearTable()
        uploadedAttachments.forEach((v,i)=> {
            dt_display_attachements.fnAddData([
                i + 1,
                v.Title,
                '<a href="/Content/uploads/' + v.downloadUrl + '" target="_blank"><i class="fa fa-file-pdf-o"></i></a>',
               '<a href="#" onclick="removeAttachment(' + i + ')"><i class="fa fa-trash-o"></i></a>',
            ])
        })
    }

    function removeAttachment(i) {
        uploadedAttachments.splice(i,1)
        dispalAttachments()
    }

    function CreateForm(form) {
        let _form = new FormData();
        for (let key in form) {
            _form.append(key, form[key])
        }
        return _form
    }
</script>
}
