@model IFMIS.Areas.IFMISTZ.Models.Bank

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Bank Details</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">

                            <table width="100%">
                                <tr>
                                    <td colspan="1">

                                        <div style="padding-left:25%">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.BIC)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.BIC)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.BankName)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.BankName)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.DetailsOfCharges)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.DetailsOfCharges)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.City)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.City)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Country)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Country)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Fax)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Fax)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Telephone)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Telephone)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Zip)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Zip)
                                                </dd>

                                                <dt>
                                                    @*@Html.DisplayNameFor(model => model.EmailAddress)*@
                                                    <label for="Address"><b>Email Address:</b></label>
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Address1)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.Address2)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.Address2)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.OverallStatus)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.OverallStatus)
                                                </dd>

                                            </dl>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href='@Url.Action("Banklist", "Banks")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                                        Back
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>