@model IFMIS.Areas.IFMISTZ.Models.Costing

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>


                        <h2 style="color:black;"> Delete Costing</h2>

                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">
                            <table width="100%">
                                <tr>
                                    <td colspan="1">



                                        <dl class="dl-horizontal" style="margin-left:20%">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.Institution.InstitutionCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.Institution.InstitutionCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.CostCode)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.CostCode)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.CostName)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.CostName)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.CostDesc)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.CostDesc)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.UOM)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.UOM)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.FinancialYearId)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.FinancialYearId)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.CurrencyId)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.CurrencyId)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.BillExpireType)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.BillExpireType)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.BillValidDays)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.BillValidDays)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.IsCostKnown)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.IsCostKnown)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.IsMainSource)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.IsMainSource)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.GLAccountReceivable)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.GLAccountReceivable)
                                            </dd>

                                            <dt>
                                                @Html.DisplayNameFor(model => model.GLAccountRevenue)
                                            </dt>

                                            <dd>
                                                @Html.DisplayFor(model => model.GLAccountRevenue)
                                            </dd>

                                        </dl>
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("Costing", "Costings")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>