@model IFMIS.Areas.LoanMod.Models.TitleDischargeVM
@{
//var image_url = "../../WebImages/" + Model.PhotoUrlFile;
 }
@if (ViewBag.LoanApplication != null) {
    <div class="widget-body" style="padding-top:0.5px">
        <input type="hidden" value="@ViewBag.LoanApplication.LoanApplicationId" name="LoanApplicationId" id="LoanApplicationId" />
        <div class="row">
            <div class="col-md-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Discharge Process</legend>
                    @if (ViewBag.CollateralListCount > 0)
                    {
                    <table class="table table-bordered table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Type Id</th>
                                <th>Plot No</th>
                                <th>Registration No</th>
                                <th>File</th>
                                <th>OverallStatus</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.CollateralList)
                            {

                                <tr style="white-space:nowrap">
                                    <td>@item.CollateralTypeId</td>
                                    <td>@item.CollateralPlotNo</td>
                                    <td>@item.CollateralRegistrationNo</td>
                                    <td><a href="~/Media/Loan/Application/@item.CollateralAttachmentUrl" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                    <td>@item.OverallStatus</td>
                                    <td>
                                        <a href="#" onclick="Discharged(@item.LoanCollateralId,'@item.OverallStatus')">Discharge</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }else
                    {

                    }
                    @if (ViewBag.MotorRegistrationCount > 0)
                    {
                    <table class="table table-bordered table-condensed table-hover table-responsive">
                        <thead>

                            <tr>
                                <th>Motor Reg. No</th>
                                <th>MotorReg Date</th>
                                <th>Motor Brand</th>
                                <th>Motor Chasis No</th>
                                <th>File</th>
                                <th>Motor Capacity</th>
                                <th>Overall Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in ViewBag.MotorRegistration)
                            {

                                <tr style="white-space:nowrap">
                                    <td>@item.MotorRegNo</td>
                                    <td>@item.MotorRegDate</td>
                                    <td>@item.MotorBrand</td>
                                    <td>@item.MotorChasisNo</td>
                                    <td><a href="~/Content/uploads/@item.MotorVehicleCard" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                    <td>@item.MotorCapacity</td>
                                    <td>@item.OverallStatus</td>
                                    <td>
                                        <a href="#" onclick="Discharged(@item.MotorRegistrationId,'@item.OverallStatus')">Discharge</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }else
                    {

                    }
                    @*<table class="table table-bordered table-condensed table-hover table-responsive">
                <thead>

                    <tr>
                        <th>Type Id</th>
                        <th>Plot No</th>
                        <th>Registration No</th>
                        <th>File</th>
                        <th>OverallStatus</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.GuarantorshipCollateral)
                    {
                        //i++;
                        <tr style="white-space:nowrap">

                            <td>@item.CollateralTypeId</td>
                            <td>@item.CollateralPlotNo</td>
                            <td>@item.CollateralRegistrationNo</td>
                            <td><a href="~/Media/Loan/Application/@item.CollateralAttachmentUrl" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                            <td>@item.OverallStatus</td>
                            <td>
                                <a href="#" onclick="Discharged(@item.LoanCollateralId)">Discharge</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
                    <br />
                    <div class="row">
                        <div class="col-md-0"></div>
                        <div class="col-md-3">
                            <a class="btn btn-info" href='@Url.Action("TitleDischargeList","TitleDischarges")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                        </div>
                    </div>

                </fieldset>

                </div>
                <div class="col-md-6">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Customer Information</legend>
                        <table>
                            <tr>
                                <th>Customer Type: </th>
                                <td>@ViewBag.customerType</td>
                            </tr>
                            <tr>
                                <th>Customer Name: </th>
                                <td>@ViewBag.customer.CustomerName</td>
                            </tr>
                            <tr>
                                <th>Telephone Number: </th>
                                <td>@ViewBag.customer.PhoneNo</td>
                            </tr>
                            @*<tr>
                            <th>Gender:</th>
                            <td>@ViewBag.customer.Gender</td>
                            </tr>*@
                            <tr>
                                <th>Tin Number:</th>
                                <td>@ViewBag.customer.TinNo</td>
                            </tr>
                            @*<tr>
                            <th>District:</th>
                            <td>@ViewBag.customer.District</td>
                        </tr>*@
                            @*<tr>
                            <th>Region:</th>
                            <td>@ViewBag.customer.Region</td>
                        </tr>*@
                            <tr>
                                <th>PhysicalAddress </th>
                                <td>@ViewBag.customer.PhysicalAddress </td>
                            </tr>
                            @*<tr>
                            <th>OverallStatus </th>
                            <td>@ViewBag.customer.OverallStatus </td>
                        </tr>*@

                            <tr>
                                <th>CustomerLocation</th>
                                <td>@ViewBag.customer.CustomerLocation </td>
                            </tr>
                            <tr>
                                <th>PlotNo</th>
                                <td>@ViewBag.customer.PlotNo </td>
                            </tr>
                            <tr>
                                <th>Status: </th>
                                <td>@ViewBag.customer.Status</td>
                            </tr>
                        </table>
                        <br/>
                    
                        <div class="row">
                            <div class="col-md-0"></div>
                            <div class="col-md-3">
                                <a class="btn btn-info" href='@Url.Action("TitleDischargeList","TitleDischarges")' style="margin-right:5px">
                                    <i class="glyphicon glyphicon-arrow-left"></i>Back
                                </a>
                            </div>
                        </div>

                    </fieldset>
                    

                </div>
                <div class="col-md-6">

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Loan Application Information</legend>
                        <table>
              
                            <tr>
                                <th>Application Number: </th>
                                <td>@ViewBag.LoanApplication.ApplicationNo</td>
                            </tr>
                            <tr>
                                <th>Loan Purpose:</th>
                                <td>@ViewBag.LoanApplication.LoanPurpose</td>
                            </tr>
                           
                            @if (ViewBag.LoanApplication.AppliedLoanAmount != null)
                            {
                                <tr>
                                    <th>AppliedLoanAmount:</th>
                                    <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.AppliedLoanAmount)</td>
                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <th>AppliedLoanAmount:</th>
                                    <td>0.00</td>
                                </tr>
                            }

                            @if (ViewBag.LoanApplication.LoanApprovedAmount != null)
                            {
                                <tr>
                                    <th>Approved Amount:</th>
                                    <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanApprovedAmount)</td>
                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <th>Approved Amount:</th>
                                    <td>0.00</td>
                                </tr>
                            }

                            @if (ViewBag.LoanApplication.DisbursedAmount != null)
                            {
                                <tr>
                                    <th>Disbursed Amount:</th>
                                    <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.DisbursedAmount)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Disbursed Amount:</th>
                                    <td>0.00</td>
                                </tr>
                            }

                            @if (ViewBag.LoanApplication.TotalInterestAmount != null)
                            {
                                <tr>
                                    <th>Interest Amount:</th>
                                    <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.TotalInterestAmount)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Interest Amount:</th>
                                    <td>0.00</td>
                                </tr>
                            }


                            @if (ViewBag.LoanApplication.BillAmount != null)
                            {
                                <tr>
                                    <th>Loan Amount + Interest Amount:</th>
                                    <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.BillAmount)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Loan Amount + Interest Amount:</th>
                                    <td>0.00</td>
                                </tr>
                            }

                            @if (ViewBag.LoanApplication.TotalAmountPaid != null)
                            {
                                <tr>
                                    <th>Total Amount Paid:</th>
                                    <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.TotalAmountPaid)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Total Amount Paid:</th>
                                    <td>0.00</td>
                                </tr>
                            }


                            @if (ViewBag.LoanApplication.LoanBalance != null)
                            {
                                <tr>
                                    <th>Loan Balance:</th>
                                    <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanBalance)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>Loan Balance:</th>
                                    <td>0.00</td>
                                </tr>
                            }


                            <tr>
                                <th>Status: </th>
                                <td>@ViewBag.LoanApplication.OverAllStatus</td>
                            </tr>
                        </table>
                    </fieldset>
                    
                </div>
            </div>
    </div>
}

                                      

