@{
    ViewBag.Title = "Title Discharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Title Discharge</h2>
                    </header>
                    <div>
                        <hr class="simple" />
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <section id="widget-grid">
                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="widget-body" style="padding-top:10px; min-height: 50px">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2">Loan Number:</label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="LoanApplication" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <hr class="simple" />
                        <hr />

                        @*@if (ViewBag.LoanApplication != null)
                        {
                            if (ViewBag.Status1 = "Active")
                                {
                                    @Html.Partial("_AddTitleDischarge");
                                }
                                else if (ViewBag.Status2 = "Invalid")
                                {
                                    <div class="alert alert-warning">
                                        <strong>Info!</strong> has been suspended!.
                                    </div>

                                }

                        }*@
                        <div id="Loanapp">
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="DischargeModal" style="left:4%">
    <div class="modal-dialog" style="width:42%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Title Discharge</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="LoanApplicationId" id="LoanApplicationId" />
                        <input type="hidden" name="LoanCollateralId" id="LoanCollateralId" />
                        <input type="hidden" name="MotorRegistrationId" id="MotorRegistrationId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">

                            <tr>
                                <td class="form-label">
                                    Recipient ID:
                                    <i class="fa fa-times" style="color:white" id="RecipientID1"></i>
                                </td>
                                <td>
                                   <select id="RecipientID" style="width:300px">
                                <option value="Choose Category" selected="selected"></option>
                                @foreach (var Recipient in ViewBag.idtype)
                                {
                                   <option value='@Recipient.IdTypeDesc'>@Recipient.IdTypeDesc</option>}
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Recipient ID Number:
                                    <i class="fa fa-times" style="color:white" id="RecipientIDNumber1"></i>
                                </td>
                                <td>
                                    <input id="RecipientIDNumber" style="width:300px;" type="text">
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="form-label">
                                    Attach Copy of ID
                                    <i class="fa fa-times" style="color:white" id="Identificationfile1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="Identificationfile" id="Identificationfile" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Recepient Name:
                                    <i class="fa fa-times" style="color:white" id="RecepientName1"></i>
                                </td>
                                <td>
                                    <input id="RecepientName" style="width:300px;" type="text">
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Recepient Address:
                                    <i class="fa fa-times" style="color:white" id="RecipientAddress1"></i>
                                </td>
                                <td>
                                    <input id="RecipientAddress" style="width:300px;" type="text">
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Recipient Phone:
                                    <i class="fa fa-times" style="color:white" id="RecipientPhone1"></i>
                                </td>
                                <td>
                                    <input id="RecipientPhone" style="width:300px;" type="text">
                                </td>
                            </tr>
                     

                            <tr>
                                <td class="form-label">
                                    Ownership:
                                    <i class="fa fa-times" style="color:white" id="OwnershipStatus1"></i>
                                </td>
                                <td>
                                    <select id="OwnershipStatus" style="width:300px">
                                        <option value="Choose Category" selected="selected"></option>
                                        @foreach (var Ownership in ViewBag.owner)
                                        {<option value='@Ownership.Name'>@Ownership.Name</option>}
                                    </select>
                                </td>
                            </tr>

                            <tr id="Power">
                                <td class="form-label">
                                    Power of Attorney
                                    <i class="fa fa-times" style="color:white" id="PowerAttorney1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="PoweAttorney" id="PowerAttorney" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>


                            <tr>
                            <td class="form-label">
                                Discharge Date:
                                <i class="fa fa-times" style="color:white" id="DischargeDate1"></i>
                            </td>
                            <td>
                                <div class="flatpickr date-group">
                                    <input type="text" placeholder="Select Date.."
                                           data-input
                                           style="width:262px;padding-left:10px;border:none"
                                           autocomplete="off" id="DischargeDate">
                                    <a class="input-button" title="open" data-toggle href="#">
                                        <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                    </a>
                                </div>
                            </td>

                           </tr>


                            <tr>
                                <td class="form-label">
                                    Discharge Category:
                                    <i class="fa fa-times" style="color:white" id="DischargeCategory1"></i>
                                </td>
                                <td>
                                    <select id="DischargeCategory" style="width:300px">
                                        <option value="" selected="selected">Choose Category</option>
                                        @foreach (var category in ViewBag.category)
                                        {<option value='@category.CategoryName'>@category.CategoryName</option>}
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Discharge Nature:
                                    <i class="fa fa-times" style="color:white" id="DischargeNature1"></i>
                                </td>
                                <td>
                                    <select id="DischargeNature" style="width:300px">
                                        <option value="" selected="selected">Choose Nature</option>
                                        @foreach (var nature in ViewBag.nature)
                                        {<option value='@nature.Nature'>@nature.Nature</option>}
                                    </select>
                                </td>
                            </tr>

                            <tr id="SaleCertf">
                                <td class="form-label">
                                    Sale Certfificate
                                    <i class="fa fa-times" style="color:white" id="saleCertficate1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="saleCertficate" id="saleCertficate" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>

                            <tr id="LiquidationCert">
                                <td class="form-label">
                                    Liquidation Certficate.
                                    <i class="fa fa-times" style="color:white" id="LiquidationCertficate1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="LiquidationCertficate" id="LiquidationCertficate" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>

                            
                            <tr>
                                <td class="form-label">
                                    Remark:
                                    <i class="fa fa-times" style="color:white" id="Remark1"></i>
                                </td>
                                <td>
                                    <textarea style="width:300px" rows="2" id="Remark" maxlength="350"></textarea><br />
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="DischargeSave()" id="dischargedform">
                        <i class="fa fa-times"></i>Save
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

@section pagespecific{
    <script>
        $('#LiquidationCert').toggle(false)
        $('#SaleCertf').toggle(false)
        $('#Power').toggle(false)
        $("#DischargeNature").change(function () {
            var Nature = $("#DischargeNature").val();
            if (Nature == "Liquidation") {
                $('#LiquidationCert').toggle(true)
                $('#SaleCertf').toggle(false)
                $("#saleCertficate").val('')

            } else if (Nature == "Auction") {
                $('#SaleCertf').toggle(true)
                $('#LiquidationCert').toggle(false)
                $("#LiquidationCertficate").val('')
            } else {
                $('#SaleCertf').toggle(false)
                $('#LiquidationCert').toggle(false)
                $("#LiquidationCertficate").val('')
                $("#saleCertficate").val('')

            }
        });


        $("#OwnershipStatus").change(function () {
            var Nature = $("#OwnershipStatus").val();
            if (Nature == "Other") {
                $('#Power').toggle(true)
            } else {
                $('#Power').toggle(false)
           
                $("#PowerAttorney").val('')
            }
        });

        $(document).ready(function () {
            var url = '@Url.Action("GetLoanApplication", "TitleDischarges")';
            debugger;
            $("#LoanApplication").select2({
                minimumInputLength: 3,
                width: 'resolve',
                ajax: {
                    url: url,
                    type: "POST",
                    dataType: 'json',
                    data: function (searchQuery) {
                        return {
                            searchQuery: searchQuery,
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: data.application
                        };
                    }
                }
            });
        });

        $("#LoanApplication").change(function () {
            debugger
            var LoanApplication = $("#LoanApplication").val();
            var url = '@Url.Action("GetTitle", "TitleDischarges")';
            url += '?LoanApplication=' + LoanApplication;
            $.ajax({
                url: url,
                datatype: "json",
                type: "Post",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    $("#Loanapp").html(data);
                },
                error: function (xhr) {
                    swal('Error please contact system admin');
                }
            })
        });

        function attach() {
            debugger
            var form_data = {
                "Attachment": $("#Attachment").val(),
                "Remark": $("#Remark").val(),
                "LiquidationCategoryName": $("#LiquidationCategory").val(),
                "LoanApplicationId": $("#LoanApplicationId").val(),
            }
            console.log(form_data);
            var url = '@Url.Action("liquidated", "TitleDischarges")';
            var urlList = '@Url.Action("LiquidationList", "TitleDischarges")';
            $.ajax({
                type: "post",
                url: url,
                data: form_data,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = urlList;
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function Discharged(id, overallstatus) {
            debugger
            $("#LoanCollateralId").text(id);
            document.getElementById("LoanCollateralId").value = id;

            $("#MotorRegistrationId").text(id);
            document.getElementById("MotorRegistrationId").value = id;
            if (overallstatus == "Pending") {
                $('#DischargeModal').modal('show');
            } else {
                swal("The Collateral is in Discharge Process")
                return false;
            }
            //$('#DischargeModal').modal('show');
           
        }
        $(".saveLoader").toggle(false);

        function DischargeSave() {
            debugger
            var LoanCollateralId = $("#LoanCollateralId").val();
            var MotorRegistrationId = $("#MotorRegistrationId").val();
            var Remark = $("#Remark").val();
            var LiquidationCert = $("#LiquidationCertficate").val();
            var idfile = $("#Identificationfile").val();
            var saleCert = $("#saleCertficate").val();
            var power = $("#PowerAttorney").val();
            var category = $("#DischargeCategory").val();
            var nature = $("#DischargeNature").val();
            var owner = $("#OwnershipStatus").val();
            var RecipientID= $("#RecipientID").val();
            var RecipientIDNumber = $("#RecipientIDNumber").val();
            var RecepientName= $("#RecepientName").val();
            var RecipientAddress = $("#RecipientAddress").val();
            
            if (category == "Title" && LoanCollateralId == '') {
                swal("Please Fill All the required Fields");
                return false;
            }
            if (category == "Motor" && MotorRegistrationId == '') {
                swal("Please Fill All the required Fields");
                return false;
            }
            if (Remark == ''
                || nature == ''
                || category == ''
                || RecipientID == ''
                || RecepientName==''
                || owner == ''
                || RecipientIDNumber=='') {
                swal("Please Fill All the required Fields");
                return false;
            }

            if (idfile == '') {
                swal("Please Attach Copy of Identification Card");
                return false;
            }

            if (owner == "Other" && power == '') {
                swal("Please Attach Copy of Power Attoney");
                return false;
            }

            if (nature == "Liquidation" && LiquidationCert == '') {
                swal("Please Attach Copy of Liquidation Certificate");
                return false;
            }

            if (nature == "Auction" && saleCert == '') {
                swal("Please Attach Copy of Sales Certificate");
                return false;
            }

            if (saleCert != '') {
                var file = document.querySelector("#saleCertficate");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                    return false;
                }
            }

            if (idfile != '') {
                var file = document.querySelector("#Identificationfile");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                    return false;
                }
            }

            if (LiquidationCert != '') {
                var file = document.querySelector("#LiquidationCertficate");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                    return false;
                }
            }


            if (power != '') {
                var file = document.querySelector("#PowerAttorney");
                if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                    swal("Please Upload Attachment in PDF Format!", { icon: "warning" });   
                    return false;
                }
            }

            let formData = new FormData();
            formData.append('LoanApplicationId', $("#LoanApplicationId").val());
            formData.append('LoanCollateralId', $("#LoanCollateralId").val());
            formData.append('MotorRegistrationId', $("#MotorRegistrationId").val());
            formData.append('Identificationfile', $("#Identificationfile")[0].files[0]);
            formData.append('Remark', $("#Remark").val());
            formData.append('TitleId', $("#TitleId").val());
            formData.append('TitleCategory', $("#DischargeCategory").val());
            formData.append('DischargeNature', $("#DischargeNature").val());
            formData.append('RecipientID', $("#RecipientID").val());
            formData.append('RecipientIDNumber', $("#RecipientIDNumber").val());
            formData.append('RecepientName',$("#RecepientName").val());
            formData.append('RecipientAddress', $("#RecipientAddress").val());
            formData.append('RecipientPhone', $("#RecipientPhone").val());
            formData.append('OwnershipStatus', $("#OwnershipStatus").val());
            formData.append('DischargeDate', $("#DischargeDate").val());
            formData.append('Comments', $("#Remark").val());
            formData.append('LiquidationCertficate', $("#LiquidationCertficate")[0].files[0]);
            formData.append('saleCertficate', $("#saleCertficate")[0].files[0]);
            formData.append('PowerAttorney', $("#PowerAttorney")[0].files[0]);

            $(".loadingImg").show();
            $("#dischargedform").prop('disabled', true);
            $(".saveLoader").toggle(true);
            var url = '@Url.Action("Discharge", "TitleDischarges")';
            var urlList = '@Url.Action("TitleDischargeList", "TitleDischarges")';
            $.ajax({
                type: "post",
                url: url,
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#dischargedform").prop('disabled', true);
                    $(".saveLoader").toggle(true);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = urlList;
                            });
                    }
                    else {
                        $("#dischargedform").prop('disabled', false);
                        $(".saveLoader").toggle(false);
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#dischargedform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(error);
                }
            });
        }


    </script>
}

