@{
    ViewBag.Title = "Title Discharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Title Discharge</h2>
                    </header>
                    <div>
                        <hr class="simple" />
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <section id="widget-grid">
                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="widget-body" style="padding-top:10px; min-height: 50px">
                                                <div class="row">
                                                    @*<div class="form-group">
                                                            <label class="control-label col-md-2">Loan Number:</label>
                                                            <div class="col-md-4">
                                                                <input type="text" id="LoanApplication" class="form-control" />
                                                            </div>
                                                        </div>*@

                                                    <div class="widget-body" style="padding-top:0.5px">
                                                        <input type="hidden" value="@ViewBag.LoanApplication.LoanApplicationId" name="LoanApplicationId" id="LoanApplicationId" />
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Discharge Process</legend>
                                                                    @if (ViewBag.CollateralListCount > 0)
                                                                    {
                                                                        <table class="table table-bordered table-condensed table-hover table-responsive">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Type Id</th>
                                                                                    <th>Plot No</th>
                                                                                    <th>Registration No</th>
                                                                                    <th>File</th>
                                                                                    <th>OverallStatus</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                @foreach (var item in ViewBag.CollateralList)
                                                                                {

                                                                                    <tr style="white-space:nowrap">
                                                                                        <td>@item.CollateralTypeId</td>
                                                                                        <td>@item.CollateralPlotNo</td>
                                                                                        <td>@item.CollateralRegistrationNo</td>
                                                                                        <td><a href="~/Media/Loan/Application/@item.CollateralAttachmentUrl" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                                                                        <td>@item.OverallStatus</td>
                                                                                        <td>
                                                                                            <a href="#" onclick="Discharged(@item.LoanCollateralId,'@item.OverallStatus')">Discharge</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    }
                                                                    else
                                                                    {

                                                                    }
                                                                    @if (ViewBag.MotorRegistrationCount > 0)
                                                                    {
                                                                        <table class="table table-bordered table-condensed table-hover table-responsive">
                                                                            <thead>

                                                                                <tr>
                                                                                    <th>Motor Reg. No</th>
                                                                                    <th>MotorReg Date</th>
                                                                                    <th>Motor Brand</th>
                                                                                    <th>Motor Chasis No</th>
                                                                                    <th>File</th>
                                                                                    <th>Motor Capacity</th>
                                                                                    <th>Overall Status</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>

                                                                                @foreach (var item in ViewBag.MotorRegistration)
                                                                                {

                                                                                    <tr style="white-space:nowrap">
                                                                                        <td>@item.MotorRegNo</td>
                                                                                        <td>@item.MotorRegDate</td>
                                                                                        <td>@item.MotorBrand</td>
                                                                                        <td>@item.MotorChasisNo</td>
                                                                                        <td><a href="~/Content/uploads/@item.MotorVehicleCard" target="_blank"><i class="fa fa-file-pdf-o"></i></a></td>
                                                                                        <td>@item.MotorCapacity</td>
                                                                                        <td>@item.OverallStatus</td>
                                                                                        <td>
                                                                                            <a href="#" onclick="Discharged(@item.MotorRegistrationId,'@item.OverallStatus')">Discharge</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    }
                                                                    else
                                                                    {

                                                                    }

                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-md-0"></div>
                                                                        <div class="col-md-3">
                                                                            <a class="btn btn-info" href='@Url.Action("TitleDischargeList","TitleDischarges")' style="margin-right:5px">
                                                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Customer Information</legend>
                                                                    <table>
                                                                        <tr>
                                                                            <th>Customer Type: </th>
                                                                            <td>@ViewBag.customerType</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Customer Name: </th>
                                                                            <td>@ViewBag.customer.CustomerName</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Telephone Number: </th>
                                                                            <td>@ViewBag.customer.PhoneNo</td>
                                                                        </tr>
                                                                        @*<tr>
                                                                                <th>Gender:</th>
                                                                                <td>@ViewBag.customer.Gender</td>
                                                                            </tr>*@
                                                                        <tr>
                                                                            <th>Tin Number:</th>
                                                                            <td>@ViewBag.customer.TinNo</td>
                                                                        </tr>
                                                                        @*<tr>
                                                                                <th>District:</th>
                                                                                <td>@ViewBag.customer.District</td>
                                                                            </tr>*@
                                                                        @*<tr>
                                                                                <th>Region:</th>
                                                                                <td>@ViewBag.customer.Region</td>
                                                                            </tr>*@
                                                                        <tr>
                                                                            <th>PhysicalAddress </th>
                                                                            <td>@ViewBag.customer.PhysicalAddress </td>
                                                                        </tr>
                                                                        @*<tr>
                                                                                <th>OverallStatus </th>
                                                                                <td>@ViewBag.customer.OverallStatus </td>
                                                                            </tr>*@

                                                                        <tr>
                                                                            <th>CustomerLocation</th>
                                                                            <td>@ViewBag.customer.CustomerLocation </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>PlotNo</th>
                                                                            <td>@ViewBag.customer.PlotNo </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Status: </th>
                                                                            <td>@ViewBag.customer.Status</td>
                                                                        </tr>
                                                                    </table>
                                                                    <br />

                                                                    <div class="row">
                                                                        <div class="col-md-0"></div>
                                                                        <div class="col-md-3">
                                                                            <a class="btn btn-info" href='@Url.Action("TitleDischargeList","TitleDischarges")' style="margin-right:5px">
                                                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                                            </a>
                                                                        </div>
                                                                    </div>

                                                                </fieldset>


                                                            </div>
                                                            <div class="col-md-6">

                                                                <fieldset class="scheduler-border">
                                                                    <legend class="scheduler-border">Loan Application Information</legend>
                                                                    <table>

                                                                        <tr>
                                                                            <th>Application Number: </th>
                                                                            <td>@ViewBag.LoanApplication.ApplicationNo</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>Loan Purpose:</th>
                                                                            <td>@ViewBag.LoanApplication.LoanPurpose</td>
                                                                        </tr>

                                                                        @if (ViewBag.LoanApplication.AppliedLoanAmount != null)
                                                                        {
                                                                            <tr>
                                                                                <th>AppliedLoanAmount:</th>
                                                                                <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.AppliedLoanAmount)</td>
                                                                            </tr>

                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>AppliedLoanAmount:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }

                                                                        @if (ViewBag.LoanApplication.LoanApprovedAmount != null)
                                                                        {
                                                                            <tr>
                                                                                <th>Approved Amount:</th>
                                                                                <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanApprovedAmount)</td>
                                                                            </tr>

                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>Approved Amount:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }

                                                                        @if (ViewBag.LoanApplication.DisbursedAmount != null)
                                                                        {
                                                                            <tr>
                                                                                <th>Disbursed Amount:</th>
                                                                                <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.DisbursedAmount)</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>Disbursed Amount:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }

                                                                        @if (ViewBag.LoanApplication.TotalInterestAmount != null)
                                                                        {
                                                                            <tr>
                                                                                <th>Interest Amount:</th>
                                                                                <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.TotalInterestAmount)</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>Interest Amount:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }


                                                                        @if (ViewBag.LoanApplication.BillAmount != null)
                                                                        {
                                                                            <tr>
                                                                                <th>Loan Amount + Interest Amount:</th>
                                                                                <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.BillAmount)</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>Loan Amount + Interest Amount:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }

                                                                        @if (ViewBag.LoanApplication.TotalAmountPaid != null)
                                                                        {
                                                                            <tr>
                                                                                <th>Total Amount Paid:</th>
                                                                                <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.TotalAmountPaid)</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>Total Amount Paid:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }


                                                                        @if (ViewBag.LoanApplication.LoanBalance != null)
                                                                        {
                                                                            <tr>
                                                                                <th>Loan Balance:</th>
                                                                                <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanBalance)</td>
                                                                            </tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr>
                                                                                <th>Loan Balance:</th>
                                                                                <td>0.00</td>
                                                                            </tr>
                                                                        }


                                                                        <tr>
                                                                            <th>Status: </th>
                                                                            <td>@ViewBag.LoanApplication.OverAllStatus</td>
                                                                        </tr>
                                                                    </table>
                                                                </fieldset>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="DischargeModal" style="left:4%">
    <div class="modal-dialog" style="width:42%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Title Discharge</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:2px">
                        <input type="hidden" name="LoanApplicationId" id="LoanApplicationId" />
                        <input type="hidden" name="LoanCollateralId" id="LoanCollateralId" />
                        <input type="hidden" name="MotorRegistrationId" id="MotorRegistrationId" />
                        @Html.AntiForgeryToken()
                        <table style="margin-left:5%">

                            <tr>
                                <td class="form-label">
                                    Recipient ID:
                                    <i class="fa fa-times" style="color:white" id="RecipientID1"></i>
                                </td>
                                <td>
                                    <select id="RecipientID" style="width:300px">
                                        <option value="Choose Category" selected="selected"></option>
                                        @foreach (var Recipient in ViewBag.idtype)
                                        {
                                            <option value='@Recipient.IdTypeDesc'>@Recipient.IdTypeDesc</option>}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label">
                                    Recipient ID Number:
                                    <i class="fa fa-times" style="color:white" id="RecipientIDNumber1"></i>
                                </td>
                                <td>
                                    <input id="RecipientIDNumber" style="width:300px;" type="text">
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Attach Copy of ID
                                    <i class="fa fa-times" style="color:white" id="Identificationfile1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="Identificationfile" id="Identificationfile" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Recepient Name:
                                    <i class="fa fa-times" style="color:white" id="RecepientName1"></i>
                                </td>
                                <td>
                                    <input id="RecepientName" style="width:300px;" type="text">
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Recepient Address:
                                    <i class="fa fa-times" style="color:white" id="RecipientAddress1"></i>
                                </td>
                                <td>
                                    <input id="RecipientAddress" style="width:300px;" type="text">
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Recipient Phone:
                                    <i class="fa fa-times" style="color:white" id="RecipientPhone1"></i>
                                </td>
                                <td>
                                    <input id="RecipientPhone" style="width:300px;" type="text">
                                </td>
                            </tr>


                            <tr>
                                <td class="form-label">
                                    Ownership:
                                    <i class="fa fa-times" style="color:white" id="OwnershipStatus1"></i>
                                </td>
                                <td>
                                    <select id="OwnershipStatus" style="width:300px">
                                        <option value="Choose Category" selected="selected"></option>
                                        @foreach (var Ownership in ViewBag.owner)
                                        {
                                        <option value='@Ownership.Name'>@Ownership.Name</option>}
                                    </select>
                                </td>
                            </tr>

                            <tr id="Power">
                                <td class="form-label">
                                    Power of Attorney
                                    <i class="fa fa-times" style="color:white" id="PowerAttorney1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="PoweAttorney" id="PowerAttorney" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td class="form-label">
                                    Discharge Date:
                                    <i class="fa fa-times" style="color:white" id="DischargeDate1"></i>
                                </td>
                                <td>
                                    <div class="flatpickr date-group">
                                        <input type="text" placeholder="Select Date.."
                                               data-input
                                               style="width:262px;padding-left:10px;border:none"
                                               autocomplete="off" id="DischargeDate">
                                        <a class="input-button" title="open" data-toggle href="#">
                                            <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                        </a>
                                    </div>
                                </td>

                            </tr>


                            <tr>
                                <td class="form-label">
                                    Discharge Category:
                                    <i class="fa fa-times" style="color:white" id="DischargeCategory1"></i>
                                </td>
                                <td>
                                    <select id="DischargeCategory" style="width:300px">
                                        <option value="" selected="selected">Choose Category</option>
                                        @foreach (var category in ViewBag.category)
                                        {
                                        <option value='@category.CategoryName'>@category.CategoryName</option>}
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="form-label">
                                    Discharge Nature:
                                    <i class="fa fa-times" style="color:white" id="DischargeNature1"></i>
                                </td>
                                <td>
                                    <select id="DischargeNature" style="width:300px">
                                        <option value="" selected="selected">Choose Nature</option>
                                        @foreach (var nature in ViewBag.nature)
                                        {
                                        <option value='@nature.Nature'>@nature.Nature</option>}
                                    </select>
                                </td>
                            </tr>

                            <tr id="SaleCertf">
                                <td class="form-label">
                                    Sale Certfificate
                                    <i class="fa fa-times" style="color:white" id="saleCertficate1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="saleCertficate" id="saleCertficate" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>

                            <tr id="LiquidationCert">
                                <td class="form-label">
                                    Liquidation Certficate.
                                    <i class="fa fa-times" style="color:white" id="LiquidationCertficate1"></i>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="file" name="LiquidationCertficate" id="LiquidationCertficate" class="input" style="width:300px" />
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td class="form-label">
                                    Remark:
                                    <i class="fa fa-times" style="color:white" id="Remark1"></i>
                                </td>
                                <td>
                                    <textarea style="width:300px" rows="2" id="Remark" maxlength="350"></textarea><br />
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-info" onclick="DischargeSave()" id="dischargedform">
                        <i class="fa fa-times"></i>Save
                        <img src="/Content/img/loading.gif" class="saveLoader" />
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

@section pagespecific{
<script>
    debugger
    //if ($("#OwnershipStatus").val() == "Other") {
    //    $('#Power').toggle(true)
    //}
    //if ($("#DischargeNature").val() == "Liquidation") {
    //    $('#LiquidationCert').toggle(true)
    //}
    //if ($("#DischargeNature").val() == "Auction") {
    //    $('#SaleCertf').toggle(true)
    //}

    $('#LiquidationCert').toggle(false)
    $('#SaleCertf').toggle(false)
    $('#Power').toggle(false)
    $("#DischargeNature").change(function () {
        var Nature = $("#DischargeNature").val();
        if (Nature == "Liquidation") {
            $('#LiquidationCert').toggle(true)
            $('#SaleCertf').toggle(false)
            $("#saleCertficate").val('')

        } else if (Nature == "Auction") {
            $('#SaleCertf').toggle(true)
            $('#LiquidationCert').toggle(false)
            $("#LiquidationCertficate").val('')
        } else {
            $('#SaleCertf').toggle(false)
            $('#LiquidationCert').toggle(false)
            $("#LiquidationCertficate").val('')
            $("#saleCertficate").val('')

        }
    });


    $("#OwnershipStatus").change(function () {
        var Nature = $("#OwnershipStatus").val();
        if (Nature == "Other") {
            $('#Power').toggle(true)
        } else {
            $('#Power').toggle(false)

            $("#PowerAttorney").val('')
        }
    });

    function Discharged(id, overallstatus) {
     debugger
      if (overallstatus == "Awaiting Confirmation in Title Discharge") {
          $(".saveLoader").toggle(false);
      $.ajax({
                type: "get",
                url: '@Url.Action("GetDisachargeInfo", "TitleDischarges")' + "/?id=" + id,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    $("#LoanApplicationId").val(data.LoanApplicationId);
                    $("#LoanCollateralId").val(data.TitleId);
                    $("#MotorRegistrationId").val(data.TitleId);
                    $("#DischargeCategory").val(data.TitleCategory);
                    $("#DischargeNature").val(data.DischargeNature);
                    $("#RecipientID").val(data.RecipientID);
                    $("#RecipientIDNumber").val(data.RecipientIDNumber);
                    $("#Remark").val(data.Comments);
                    $("#RecepientName").val(data.RecepientName);
                    $("#RecipientAddress").val(data.RecipientAddress);
                    $("#RecipientPhone").val(data.RecipientPhone);
                    $("#OwnershipStatus").val(data.OwnershipStatus);
                    $("#DischargeDate").val(data.DischargeDate);
                    $("#LiquidationCertficate").val(data.LiquidationCertficate);
                    $("#saleCertficate").val(data.saleCertficate);
                    $("#PowerAttorney").val(data.PowerAttorney);

                },
                failure: function (error) {
                    swal(error);
                }
            });
          $('#DischargeModal').modal('show');

      } else {
          swal("The Collateral is in Discharge Process")
          return false;
      }
    }

    function DischargeSave() {
        debugger
        var LoanCollateralId = $("#LoanCollateralId").val();
        var MotorRegistrationId = $("#MotorRegistrationId").val();
        var Remark = $("#Remark").val();
        var LiquidationCert = $("#LiquidationCertficate").val();
        var idfile = $("#Identificationfile").val();
        var saleCert = $("#saleCertficate").val();
        var power = $("#PowerAttorney").val();
        var category = $("#DischargeCategory").val();
        var nature = $("#DischargeNature").val();
        var owner = $("#OwnershipStatus").val();
        var RecipientID = $("#RecipientID").val();
        var RecipientIDNumber = $("#RecipientIDNumber").val();
        var RecepientName = $("#RecepientName").val();
        var RecipientAddress = $("#RecipientAddress").val();



        if (category == "Title" && LoanCollateralId == '') {
            swal("Please Fill All the required Fields");
            return false;
        }
        if (category == "Motor" && MotorRegistrationId == '') {
            swal("Please Fill All the required Fields");
            return false;
        }
        if (Remark == ''
            || nature == ''
            || category == ''
            || RecipientID == ''
            || RecepientName == ''
            || owner == ''
            || RecipientIDNumber == '') {
            swal("Please Fill All the required Fields");
            return false;
        }

        if (idfile == '') {
            swal("Please Attach Copy of Identification Card");
            return false;
        }

        if (owner == "Other" && power == '') {
            swal("Please Attach Copy of Power Attoney");
            return false;
        }

        if (nature == "Liquidation" && LiquidationCert == '') {
            swal("Please Attach Copy of Liquidation Certificate");
            return false;
        }

        if (nature == "Auction" && saleCert == '') {
            swal("Please Attach Copy of Sales Certificate");
            return false;
        }

        if (saleCert != '') {
            var file = document.querySelector("#saleCertficate");
            if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                return false;
            }
        }

        if (idfile != '') {
            var file = document.querySelector("#Identificationfile");
            if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                return false;
            }
        }

        if (LiquidationCert != '') {
            var file = document.querySelector("#LiquidationCertficate");
            if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                return false;
            }
        }


        if (power != '') {
            var file = document.querySelector("#PowerAttorney");
            if (/\.(pdf)$/i.test(file.files[0].name) === false) {
                swal("Please Upload Attachment in PDF Format!", { icon: "warning" });
                return false;
            }
        }

        let formData = new FormData();
        formData.append('LoanApplicationId', $("#LoanApplicationId").val());
        formData.append('LoanCollateralId', $("#LoanCollateralId").val());
        formData.append('MotorRegistrationId', $("#MotorRegistrationId").val());
        formData.append('Identificationfile', $("#Identificationfile")[0].files[0]);
        formData.append('Remark', $("#Remark").val());
        formData.append('TitleId', $("#TitleId").val());
        formData.append('TitleCategory', $("#DischargeCategory").val());
        formData.append('DischargeNature', $("#DischargeNature").val());
        formData.append('RecipientID', $("#RecipientID").val());
        formData.append('RecipientIDNumber', $("#RecipientIDNumber").val());
        formData.append('RecepientName', $("#RecepientName").val());
        formData.append('RecipientAddress', $("#RecipientAddress").val());
        formData.append('RecipientPhone', $("#RecipientPhone").val());
        formData.append('OwnershipStatus', $("#OwnershipStatus").val());
        formData.append('DischargeDate', $("#DischargeDate").val());
        formData.append('Comments', $("#Remark").val());
        formData.append('LiquidationCertficate', $("#LiquidationCertficate")[0].files[0]);
        formData.append('saleCertficate', $("#saleCertficate")[0].files[0]);
        formData.append('PowerAttorney', $("#PowerAttorney")[0].files[0]);

        $(".loadingImg").show();
        $("#dischargedform").prop('disabled', true);
        $(".saveLoader").toggle(true);
        var url = '@Url.Action("EditDischarge", "TitleDischarges")';
        var urlList = '@Url.Action("TitleDischargeList", "TitleDischarges")';
        $.ajax({
            type: "post",
            url: url,
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                $("#dischargedform").prop('disabled', true);
                $(".saveLoader").toggle(true);
                if (response == "Success") {
                    swal("Saved Successfully!", { icon: "success" })
                        .then((value) => {
                            window.location.href = urlList;
                        });
                }
                else {
                    $("#dischargedform").prop('disabled', false);
                    $(".saveLoader").toggle(false);
                    swal(response);
                }
            },
            failure: function (error) {
                $("#dischargedform").prop('disabled', false);
                $(".saveLoader").toggle(false);
                swal(error);
            }
        });
    }
</script>
}