@model IFMIS.Areas.IFMISTZ.Models.DFundSource

@{
    ViewBag.Title = "Delete";
    // Layout = "~/Views/Shared/_Aside.cshtml";
}


<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .input[type="number"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Delete DFundSource </h2>

                    </header>
                    <div>
                        <div class="widget-body" style="padding-top:10px; width:100%;">
                            <table style="width:100%;">
                                <tr>
                                    <td colspan="1">
                                       
                                        <div>

                                        
                                            <dl class="dl-horizontal" style="margin-left:25%">

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.DFundSourceCode)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.DFundSourceCode)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.DFundSourceDesc)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.DFundSourceDesc)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.GlAccount)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.GlAccount)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.GlAccountDesc)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.GlAccountDesc)
                                                </dd>

                                                <dt>
                                                    @Html.DisplayNameFor(model => model.InstitutionId)
                                                </dt>

                                                <dd>
                                                    @Html.DisplayFor(model => model.InstitutionId)
                                                </dd>

                                            

                                            </dl>

                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <a href='@Url.Action("DFundSourcelist", "DFundSources")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                                <i class="glyphicon glyphicon-arrow-left"></i>
                                                                Back
                                                            </a>
                                                            <button type="submit" class="btn action-btn btn btn-info">
                                                                <i class="fa fa-save"></i>
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>