@model IFMIS.Areas.IFMISTZ.Models.DFundSource

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>DFundSource</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DFundSourceCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DFundSourceCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DFundSourceDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DFundSourceDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GlAccount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GlAccount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GlAccountDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GlAccountDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.InstitutionCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.InstitutionCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.DFundSourceId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
