
@model IFMIS.Areas.ALS.Models.CreateLoanTypeVM
<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

            <!-- PAGE HEADER -->
            <!--
            <i class="fa-fw fa fa-pencil-square-o"></i>
            Payments
            <span>
            >
            Bills
            </span>
            -->
            </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Add New Loan Type </h2>

                    </header>

                    <!-- widget div-->

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">

                        <form method="post" class="form-horizontal" name="retirementForm" id="retirementForm">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoanCode, "Loan Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.LoanCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoanCode, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.LoanDescription, "Loan Description", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.LoanDescription, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoanDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BankAccountNum, "Bank Account No", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.BankAccountNum, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BankAccountNum, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.BankAccountName, "Bank Account Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.BankAccountName, new { htmlAttributes = new { @class = "form-control",@readonly=true } })
                                    @Html.ValidationMessageFor(model => model.BankAccountName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AgencyCode, "Agency Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.AgencyCode, ViewBag.AgencyCode as SelectList, "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AgencyCode, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.RecoveryPeriod, "Recovery Period", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.RecoveryPeriod, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RecoveryPeriod, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MaxLoanAmount, "Maximum Loan Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.MaxLoanAmount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MaxLoanAmount, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.PaidTo, "Paid To", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <select class="form-control" name="PaidTo" id="PaidTo">
                                        <option CASH="selected" value="">---Select---</option>
                                        <option value="Employee"> Employee</option>
                                        <option value="Member of Parliament(MP)"> Member of Parliament(MP)</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.PaidTo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoanNature, "Loan Nature", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <select class="form-control" name="LoanNature" id="LoanNature">
                                        <option CASH="selected" value="">---Select---</option>
                                        <option value="CASH"> CASH</option>
                                        <option value="NON CASH"> NON CASH</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.LoanNature, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.RecoveryMode, "Recovery Mode", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    <select class="form-control" name="RecoveryMode" id="RecoveryMode">
                                        <option CASH="selected" value="">---Select---</option>
                                        <option value="Salary"> Salary</option>
                                        <option value="Cash"> Cash</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.PaidTo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OriginCode, "Original Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.OriginCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OriginCode, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.DeductionVoteCode, "Deduction Vote Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.DeductionVoteCode, ViewBag.DeductionVoteCode as SelectList, "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DeductionVoteCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubBudgetClass, "Su bBudget Class", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.SubBudgetClass, ViewBag.SubBudgetClassList as SelectList, "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SubBudgetClass, "", new { @class = "text-danger" })
                                </div>
                              @Html.LabelFor(model => model.LoanCodeStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <select class="form-control" name="LoanCodeStatus" id="LoanCodeStatus">
                                    <option CASH="selected" value="">---Select---</option>
                                    <option value="ACTIVE"> ACTIVE</option>
                                    <option value="INACTIVE"> INACTIVE</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.LoanCodeStatus, "", new { @class = "text-danger" })
                            </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.GlCashAccountCode, "Gl Cash Account Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3 inputGroupContainer">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.GlCashAccountCode, new { @Class = "input", style = "width:300px; ", type = "hidden" })
                                        @** @Html.ValidationMessageFor(model => model.GlAccount, "", new { @class = "text-danger" })*@
                                        <a class="search-btn" onclick="SearchGl(1)" href="#" style="display:block;width:722px" id="GlAccount2">
                                            <i class="fa fa-search search-icon"></i>
                                            Search...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReceivingGlAccount,"Receiving Gl Account", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3 inputGroupContainer">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.ReceivingGlAccount, new { @Class = "input", style = "width:300px; ", type = "hidden" })
                                        <a class="search-btn" onclick="SearchGl(2)" href="#" style="display:block;width:722px" id="ReceivingGlAccount2">
                                            <i class="fa fa-search search-icon"></i>
                                            Search...
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6">
                                    <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="btnSave">
                                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>Save
                                        <img src="~/Content/img/loading.gif" id="saveLoader" style="display: none" />
                                    </button>
                                </div>
                            </div>

                        </form>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!----------- Search GL Items ----------------->
<div class="modal fade" id="glItemsModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Gl Item</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container submit-btn" style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search..." id="searchbox2">
                            </div>
                        </div>
                    </div>
                    <table id="dt_search_gl_item" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>GLAccount String</th>
                                <th>GLAccount Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    @*<button type="submit" class="btn btn-info" id="btn_save_gl_items">
                            <i class="fa fa-save"></i>Save
                        </button>*@
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
       
        $(function () {
            var url = '@Url.Action("SearchAccount", "ALS_LoanTypes")';

            $("#BankAccountNum").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (term) {
                        return {
                            term: term
                        };
                    },
                    results: function (data, page) {
                        return { results: data.AccountList }; // data.CountryList returning json data from Controlle
                    }
                }
            });
        });

        $("#BankAccountNum").change(function () {
            var id = $(this).val();

            $.ajax({
                type: "get",
                url: '@Url.Action("GetAccountDetails", "ALS_LoanTypes")',
                data: { id: id },
                success: function (response) {
                    $("#BankAccountNum").val(response.AccountNo);
                    $("#BankAccountName").val(response.AccountName);

                },
                error: function (response) {
                    swal(response);
                    return false;
                }

            });

        });

        $(document).ready(function () {
            $("#GlCashAccountCode").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "@Url.Action("GetGlAccounts", "ALS_LoanTypes")",
                        type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.value };
                        }))

                    }
                })
        },
            messages: {
            noResults: "",
            results: function (count) {
                return count + (count > 1 ? ' results' : ' result ') + ' found';
            }
            }
        });
        })

        var dt_search_gl_item = $('#dt_search_gl_item').dataTable();
        $("#dt_search_gl_item_wrapper .dt-toolbar").remove();

        $("#searchbox2").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_gl_item.fnClearTable();
            } else {
                SearchGlAccount(this.value);
            }
        });

        var searchCode = 0;
        function SearchGl(code) {
            searchCode = code;
            $('#glItemsModal').modal('show');
        }


        var data = [];
        function SearchGlAccount(search){
            var url = '@Url.Action("GetGlAccount", "ALS_LoanTypes")/?search='+search+'';

            $.ajax({
                type: "get",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    //=== UPDATE SEARCH GI TABLE ====
                    data = response.data;
                    dt_search_gl_item.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_search_gl_item.fnAddData([i,
                           data[i]["GlAccount"].split("|").join("-"),
                           data[i]["GlAccountDesc"],
                          '<a href="#" onclick="getcoa(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function getcoa(rowId) {
            var data = dt_search_gl_item.DataTable().rows().data();
            var row = data[rowId];

            if (searchCode == 1) {
                $("#GlAccount2").html(row[1]);
                $("#GlCashAccountCode").val(row[1]);
            }
            if (searchCode == 2) {
                $("#ReceivingGlAccount2").html(row[1]);
                $("#ReceivingGlAccount").val(row[1]);
            }
            if (searchCode == 3) {
                $("#RevenueGlAccount3").html(row[1]);
                $("#RevenueGlAccount").val(row[1]);
            }
            $('#glItemsModal').modal('hide');
        }

    </script>
}