@model IFMIS.Areas.IFMISTZ.Models.ContractVM
@{
    var i = 0;
    decimal? sum = 0;
}
<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Advance Payment Details</legend>
    <div id="contract_data">
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Identification Number&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ReceivingNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong> Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PaymentAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.SupplierName)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Currency&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.Currency)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Payment Description &nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PaymentDescription)</div><div class="col-sm-6 col-md-6 col-lg-6"></div></div>
        @if (Model.OverallStatus == "Rejected" || Model.Rejecter == "Payment Office")
        {
            if (Model.RejectionReason != null)
            {<div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejected By&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Rejecter)</div>
                    <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

                </div>
            }
        }
        @if (Model.OverallStatus.ToUpper() == "CONFIRMED")
        {
            if (Model.RejectionSolution != null)
            {
                <div class="row">
                    @if (Model.RejectionReason != null)
                    {
                        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>

                    }
                    @if (Model.RejectionSolution != null)
                    {
                        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
                    }
                </div>
            }
        }
        @if (Model.OverallStatus.ToUpper() == "EXAMINED")
        {

            if (Model.Rejecter == "Approver")
            {
                <div class="row">
                    @if (Model.RejectionReason != null)
                    {
                        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div>
                    }
                    @if (Model.RejectionSolution != null)
                    {
                        <div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div>
                    }
                </div>
            }

        }
    </div>
</fieldset>



<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Contract Details</legend>
    <div id="contract_data">
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Reg #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractNumber)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Amount&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Sub Budget Class&nbsp;:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.SubBudgetClass)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp:</strong>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.ContractName)</div><div class="col-sm-6 col-md-6 col-lg-6"></div></div>

    </div>
</fieldset>
@if (Model.PVNo != null)
{
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Voucher Details</legend>
        <div class="row">
            @if (Model.PVNo != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Voucher Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.PVNo)
                </div>
            }
            @if (Model.VoucherStatus != null)
            {
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <strong>Voucher Status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.VoucherStatus)
                </div>
            }
        </div>

    </fieldset>
}

<div style="padding-top:5px">

    <table id="selected_gls" class="table table-bordered table-hover table-condensed" width="100%">
        <tr style="background:#f5f5f5; color:#000000"><th style="text-align: center;width:5%">No</th><th>Expenditure Line Item</th><th>Item Description</th><th>Funding Reference</th><th style="text-align:right;width:12%">Amount</th></tr>
        @foreach (var item in Model.ReceivingCoas)
        {
            i++;
            sum = sum + item.ExpenseAmount;
            <tr><td align="center">@i</td><td>@item.GLAccount<td>@item.GLAccountDesc </td><td>@item.FundingReference </td><td align="right"> @Convert.ToDecimal(item.ExpenseAmount).ToString("#,##0/=")</td></tr>
        }
        <tr><td colspan="4" align="right"><strong>Total</strong></td><td align="right"><strong> @Convert.ToDecimal(sum).ToString("#,##0/=") </strong></td></tr>
    </table>

</div>




<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>










