@model IFMIS.Areas.LoanMod.Models.CreateLoanFeeVM
@{
    ViewBag.Title = "Edit Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <input type="hidden" value="@ViewBag.LoanPaymentId" name="LoanPaymentId" id="LoanPaymentId" />
                            @*<div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td class="form-label">
                                                Payee Name
                                                <i class="fa fa-times" style="color:white" id="PayeeName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" readonly id="PayeeName" placeholder="No Payee Selected" style="width:260px" />
                                                    <a class="search-btn" onclick="SearchPayee()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">Loan</td>
                                            <td>
                                                <a class="search-btn" onclick="SearchLoan()"
                                                   href="#" style="display:block;width:300px">
                                                    <i class="fa fa-search search-icon"></i>
                                                    Search...
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-lg-6 col-sm-12 ">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Fee Category:
                                                <i class="fa fa-times" style="color:white" id="Fee1"></i>
                                            </td>
                                            <td>
                                                <select id="FeeCat" style="width:300px">
                                                    <option value="Please choose fee" selected="selected"></option>
                                                    @foreach (var fee in ViewBag.feeCategory)
                                                    {
                                                        <option value='@fee.FeeName'>@fee.FeeName</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Amount
                                                <i class="fa fa-times" style="color:white" id="total_bill_amount1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="total_bill_amount" style="width:300px" required />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>*@

                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-6 col-lg-6 col-sm-12 ">
                                    <table>
                                        @Html.AntiForgeryToken()
                                        <tr>
                                            <td class="form-label">
                                                Payee Name
                                                <i class="fa fa-times" style="color:white" id="PayeeName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" readonly id="PayeeName" placeholder="No Payee Selected" style="width:260px" />
                                                    <a class="search-btn" onclick="SearchPayee()"
                                                       href="#" style="float:right">
                                                        <i class="fa fa-search search-icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Amount
                                                <i class="fa fa-times" style="color:white" id="total_bill_amount1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong id="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" id="total_bill_amount" style="width:252px" required />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Search Loan
                                                <i class="fa fa-times" style="color:white" id="Loan_1"></i>
                                            </td>
                                            <td>
                                                <a class="search-btn" onclick="SearchLoan()"
                                                   href="#" style="display:block;width:300px">
                                                    <i class="fa fa-search search-icon"></i>
                                                    Search...
                                                </a>
                                            </td>
                                        </tr>

                                    </table>
                                </div>

                                <div class="col-lg-6 col-sm-12 ">
                                    <table>
                                        <tr>
                                            <td class="form-label">
                                                Fee Category:
                                                <i class="fa fa-times" style="color:white" id="Fee1"></i>
                                            </td>
                                            <td>
                                                <select id="FeeCat" style="width:300px">
                                                    <option value="Please choose fee" selected="selected"></option>
                                                    @foreach (var fee in ViewBag.feeCategory)
                                                    {
                                                        <option value='@fee.FeeName'>@fee.FeeName</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Payment Description
                                                <i class="fa fa-times" style="color:white" id="PaymentDescription_1"></i>
                                            </td>
                                            <td>
                                                <textarea rows="2" id="PaymentDescription" style="width:300px;" maxlength="80"></textarea><br />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div style="padding-top:5px">
                                <table id="dt_loanDetails" class="table table-striped table-bordered table-hover table-condensed" width="100%"></table>
                                <div style="padding-bottom:10px" id="infoPanel">
                                    <div class="info-box">No Loan Selected</div>
                                </div>
                            </div>
                            <div style="float:right;padding-bottom:10px">
                                <strong>TOTAL AMOUNT (<strong id="currency2">TZS</strong>): </strong>
                                <strong id="total_amount">0.00</strong>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <a class="btn btn-info" href='@Url.Action("PaymentList", "LoanPayments")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="form_submit">
                                        <i class="fa fa-save"></i>Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Payee</h3>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container submit-btn" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PaymentId</th>
                            <th>BIC</th>
                            <th>Payee Name</th>
                            <th>Payee Code</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th>Payee Type</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loanModal" style="left:4%">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Loan Application</h3>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container submit-btn" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox2">
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td style="padding:5px">Bill Amount</td>
                        <td style="padding:5px">
                            <input type="text" disabled id="bill_Amount">
                        </td>

                        <td style="padding:5px">Total Loan Amount</td>
                        <td style="padding:5px">
                            <input value="0" type="text" disabled id="total_loan_amount">
                        </td>

                        <td style="padding:5px">Difference</td>
                        <td style="padding:5px">
                            <input value="0" type="text" disabled id="difference" style="width:250px">
                        </td>
                    </tr>
                </table>
                <table class="table" id="dt_search_loan">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>LoanApplicationId</th>
                            <th>ApplicationNo</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info" id="btn_save">
                    <i class="fa fa-save"></i>Save
                </button>
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Cancel
                </button>
            </div>
        </div>
    </div>
</div>




<!--- HIDDEN SECTION -->
<section id="widget-grid" style="visibility:hidden">
    <div class="row">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">

            <header style="background-color:#2196F3">
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Payee Details</h2>
            </header>

            <div>
                <div class="widget-body " style="padding-top:10px">
                    <a class="submit-btn" onclick="SearchPayee()" href="#">
                        <i class="fa fa-search search-icon"></i>
                        Search Payee
                    </a>
                    <table id="dt_selected_payee" class="table table-striped table-bordered table-hover table-condensed" width="100%"></table>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
    </div>
</section>

@section pagespecific{
    <script>
        searchLoanTableUpdate()
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();
        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });
        $(document).ready(function () {
            $("#dt_search_payee_wrapper .dt-toolbar").remove();
            $("#dt_search_loan_wrapper .dt-toolbar").remove();
            $("#dt_loanDetails_wrapper .dt-toolbar").remove();
            $("#dt_loanDetails_wrapper .dt-toolbar-footer").remove();

            LoadData();
        });

        function SearchPayee() {
            $('#payeeModal').modal('show');
        }


        // ============= SHOW PAYEE===============
        var dt_selected_payee = $('#dt_selected_payee').dataTable({
            "data": [],
            "columnDefs": [{
                "targets": [0, 1],
                "visible": false
            }],
            "columns": [
                { title: "Payee DetailId" },
                { title: "Payee BIC" },
                { title: "Payee Name" },
                { title: "Payee Code" },
                { title: "Bank Name" },
                { title: "Payee Type" },
                { title: "Bank Account No" },
                { title: "Address" }
            ]
        });

        var dt_loanDetails = $('#dt_loanDetails').dataTable({
            "data2": [],
            "columns": [
                { title: "LoanApplicationId" },
                { title: "ApplicationNo" },
                { title: "Amount" }

            ]
        });

        // ============= SEARCH PAYEEE ===========

        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });

        var dt_search_payee = $('#dt_search_payee').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [1, 2] }],
        });

        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_payee.fnClearTable();
            } else {
                searchPayeeTableUpdate(this.value);
            }
        });

        function searchPayeeTableUpdate(search) {
            var url = '@Url.Action("GetPayee", "LoanPayments")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_search_payee.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_search_payee.fnAddData([i + 1,
                           data[i]["PayeeDetailId"],
                           data[i]["BIC"],
                           data[i]["AccountName"],
                           data[i]["PayeeCode"],
                           data[i]["BankName"],
                           data[i]["Accountnumber"],
                           data[i]["PayeeType"],
                           data[i]["Address1"],
                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        var isValidPayee = false;
        function payeeClicked(rowId) {
            var data = dt_search_payee.DataTable().rows().data();
            var row = data[rowId];
            dt_selected_payee.fnClearTable();
            $("#PayeeName").val("Verifying...");
            dt_selected_payee.fnAddData([row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8]]);
            $("#payeeModal").modal("hide");
            $("#PayeeName").val(row[3]);

        }
        // =========== END SEARCH PAYEE ====================


        function SearchLoan() {

            var billAmount = $('#total_bill_amount').val();
            var feeCategory = $("#FeeCat").val();
            var PayeeName = $("#PayeeName").val();
            var PaymentDescription = $("#PaymentDescription").val();

            if (billAmount == '' || feeCategory == '' || PayeeName == '' || PaymentDescription == '') {
                swal("Please Fill All the required Fields");
                return false;
            } else {
                $('#bill_Amount').val(billAmount);
                $('#loanModal').modal('show');
            }
         
            //var billAmount = $('#total_bill_amount').val();
            //$('#bill_Amount').val(billAmount);
            //$('#loanModal').modal('show');
        }

        // ============= SEARCH Loan ===========

        var dt_search_loan = $('#dt_search_loan').dataTable();

        $("#searchbox2").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_loan.fnClearTable();
            } else {
                searchLoanTableUpdate(this.value);
            }
        });

        function searchLoanTableUpdate() {
            var url = '@Url.Action("GetLoanApplication", "LoanPayments")';
            $.ajax({
                type: "get",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data2 = response.data;
                    dt_search_loan.fnClearTable();
                    for (var i = 0; i < data2.length; i++) {
                        dt_search_loan.fnAddData([i + 1,
                           data2[i]["LoanApplicationId"],
                           data2[i]["ApplicationNo"],
                            '<input type="number" placeholder="Amount" id="Id-' + i + '" onkeyup="amountChanged(' + i + ')"/>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }



        function toggleTableInfo() {
            var data = dt_loanDetails.DataTable().rows().data();
            if (data.length > 0) {
                $("#dt_loanDetails").toggle(true);
                $("#infoPanel").toggle(false);
            } else {
                $("#dt_loanDetails").toggle(false);
                $("#infoPanel").toggle(true);
            }
        }

        function remove(array, val) {
            var found = array.indexOf(val);
            while (found !== -1) {
                array.splice(found, 1);
                found = array.indexOf(val);
            }
        }

        var form_data_status = [];
        var all_amounts = {};
        function amountChanged(i) {
            debugger
            var data = dt_search_loan.DataTable().rows().data();
            var row = data.rows(i).data()[0]
            var entered_amount = parseFloat($("#Id-" + i).val());
            all_amounts["Id-" + i] = $("#Id-" + i).val();
            $("#Id-" + i).css({ 'color': 'black' });
            remove(form_data_status, i);
            computeTotalAmount();
        }


        function computeTotalAmount() {
            debugger
            var total_amount = 0;
            var difference = 0;
            var amount = "";
            var data = dt_search_loan.DataTable().rows().data();
            var obj = [];

            for (var i = 0; i < data.length; i++) {
                var amount = all_amounts["Id-" + i];

                if (amount == undefined) {
                    amount = "";
                }
                if (amount.trim()) {
                    total_amount = parseFloat(total_amount) + parseFloat(amount);
                }
            }
            try {

                difference = parseFloat($('#total_bill_amount').val()) - parseFloat(total_amount);
                $('#difference').val(difference);
                if (difference < 0) {
                    $("#difference").css({ 'color': 'red' });
                } else {
                    $("#difference").css({ 'color': 'black' });
                }
            } catch (e) { }
            $("#total_loan_amount").val(total_amount);
        }


        $("#btn_save").click(function () {
            debugger


            var total_amount = 0;
            var difference = 0;
            var data = dt_search_loan.DataTable().rows().data();
            if (form_data_status.length == 0) {
                var obj = [];
                dt_loanDetails.fnClearTable();
                $("#total_amount").text("0.00");
                for (var i = 0; i < data.length; i++) {

                    var amount = all_amounts["Id-" + i];
                    if (amount == undefined) {
                        amount = "";
                    }
                    if (amount.trim()) {
                        var row = data.rows(i).data()[0];
                        if (parseFloat(amount) > 0) {
                            //console.log(typeof(amount))
                            dt_loanDetails.fnAddData([row[1], row[2], amount]);
                        }
                        total_amount = parseFloat(total_amount) + parseFloat(amount);
                        $("#total_amount").text(total_amount.toLocaleString());
                    }
                }

                difference = parseFloat($('#total_bill_amount').val()) - parseFloat(total_amount);
                if (difference < 0) {
                    swal("Difference Cannot be negative..");
                    dt_loanDetails.fnClearTable();
                } else {
                    $('#loanModal').modal('hide');
                }
            } else {
                swal("Item has insufficient fund balance....");
            }
            toggleTableInfo();
        });


        // =========== FORM SUBMISSION ==================
        $("#saveLoader").toggle(false);
        $("#form_submit").click(function () {

            var BillAmount = $("#total_bill_amount").val();
            var feeCategory = $("#FeeCat").val();
            var PayeeName = $("#PayeeName").val();
            var amount = $("#total_amount").val();
            var PaymentDescription = $("#PaymentDescription").val();
            if (BillAmount == '' || feeCategory == '' || PayeeName == '' || PaymentDescription == '') {
                swal("Please Fill All the required Fields");
                return false;
            }

            var data = dt_selected_payee.DataTable().rows().data();
            var row = data.rows(0).data()[0];

            var FeeDetails = []
            var FeeDetailsData = dt_loanDetails.DataTable().rows().data();

            for (var i = 0; i < FeeDetailsData.length; i++) {
                var _row = FeeDetailsData.rows(i).data()[0];
                var AmountDetail = parseFloat(_row[2].split(",").join(""));
                if (AmountDetail > 0) {
                    FeeDetails.push({
                        "LoanApplicationId": _row[0],
                        "ApplicationNo": _row[1],
                        "BillAmount": AmountDetail,
                    })
                }
            }
        debugger
         var form_data = {}
            if(data.length>0){
                var form_data = {
                "LoanPaymentId":'@ViewBag.LoanPaymentId',
                "PayeeDetailId": row[0],
                "PayeeName": row[2],
                "PayeeCode": row[3],
                "PayeeBIC": row[1],
                "BankName": row[4],
                "PayeeType": $("#PayeeType").val(),
                "BankAccountNo": row[5],
                "OperationalAmount": $('#total_bill_amount').val(),
                "FeeCategory": $('#FeeCat').val(),
                "PaymentDescription": $('#PaymentDescription').val(),
                "FeeDetails": FeeDetails
                }

            } else {
                var form_data = {
                "LoanPaymentId":'@ViewBag.LoanPaymentId',
                "PayeeDetailId":'@ViewBag.LoanPayment.PayeeDetailId',
                "PayeeName":'@ViewBag.LoanPayment.PayeeName',
                "PayeeCode":'@ViewBag.LoanPayment.PayeeCode',
                "PayeeBIC":'@ViewBag.LoanPayment.PayeeBIC',
                "BankName":'@ViewBag.LoanPayment.BankName',
                "PayeeType": $("#PayeeType").val(),
                "BankAccountNo": '@ViewBag.LoanPayment.BankAccountNo',
                "OperationalAmount": $('#total_bill_amount').val(),
                "PaymentDescription": $('#PaymentDescription').val(),
                "FeeCategory": $('#FeeCat').val(),
                "FeeDetails": FeeDetails
                }
            }
            console.log(form_data);

            if (FeeDetails.length == 0) {
                swal("No Loan Items Selected")
            } else {
                var url = '@Url.Action("EditPayment", "LoanPayments")';
                var urlList = '@Url.Action("PaymentList", "LoanPayments")';
                $("#form_submit").prop('disabled', true);
                $("#saveLoader").toggle(true);
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#form_submit").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {
                        $("#form_submit").prop('disabled', false);
                        $("#saveLoader").toggle(false);
                        swal(error);
                    }
                });
            }

        });

        function LoadData() {

            $("#PaymentDescription").val('@ViewBag.LoanPayment.PaymentDescription')
            $("#PayeeName").val('@ViewBag.LoanPayment.PayeeName')
            $("#FeeCat").val('@ViewBag.LoanPayment.FeeCategory')
            $("#total_bill_amount").val('@ViewBag.LoanPayment.OperationalAmount')
            $("#total_amount").text('@ViewBag.LoanPayment.OperationalAmount')

            var url = '@Url.Action("GetLoanDetails", "LoanPayments")';
            $.ajax({
                type: "get",
                url: url + "/?id=@ViewBag.LoanPaymentId",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    console.log(data)
                    dt_loanDetails.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_loanDetails.fnAddData([
                           data[i]["LoanApplicationId"],
                           data[i]["ApplicationNo"],
                           data[i]["BillAmount"].toLocaleString(),
                        ]);
                    }
                    toggleTableInfo();
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

    </script>
}


