@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Amend Deduction(s)";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input[type=text], input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .form-label {
        text-align: right;
    }
</style>
<div id="divLoader"></div>
<div id="content" style="margin: 5px; padding-top: 5%">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i></span>
                        <h2 style="color:black;">@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px">

                            <table style="margin-left: 25%">
                                <tr>
                                    <td class="form-label">
                                        Check Number
                                        <i class="fa fa-times" style="color:white" id="SearchDeduction_1"></i>
                                    </td>
                                    <td>
                                        <div class="search-container">
                                            <i class="fa fa-search searchIcon"></i>
                                            <input type="search" name="search" placeholder="Check No..." id="searchbox">
                                            <button style="background-color:#2196F3;color:white;float:right" onclick="searchDeduction()">Search</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Employee
                                        <i class="fa fa-times" style="color:white" id="Employee_1"></i>
                                    </td>
                                    <td>
                                        <div class="name-input-container">
                                            <input type="text" disabled id="Employee" style="width:300px" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        CheckNo
                                        <i class="fa fa-times" style="color:white" id="CheckNo_1"></i>
                                    </td>
                                    <td>
                                        <input id="CheckNo" disabled style="width:300px" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Deduction Code
                                        <i class="fa fa-times" style="color:white" id="DeductionCode_1"></i>
                                    </td>
                                    <td>
                                        <select style="width:300px" id="DeductionCode" disabled>
                                            @foreach (var d in ViewBag.DeductionCodes)
                                            {
                                                <option value="@d.DeductionCodeId">@d.DeductionIdentifier - @d.DeductionCodeDescription</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Balance Amount
                                        <i class="fa fa-times" style="color:white" id="BalanceAmount_1"></i>
                                    </td>
                                    <td>
                                        <amount-input disabled id="BalanceAmount" style="width:300px" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Deduction Amount
                                        <i class="fa fa-times" style="color:white" id="DeductionAmount_1"></i>
                                    </td>
                                    <td>
                                        <amount-input disabled id="DeductionAmount" style="width:300px" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        To Balance Amount
                                        <i class="fa fa-times" style="color:white" id="InitialBalance2_2"></i>
                                    </td>
                                    <td>
                                        <amount-input id="InitialBalance2" style="width:300px" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        To Deduction Amount
                                        <i class="fa fa-times" style="color:white" id="DeductionAmount2_2"></i>
                                    </td>
                                    <td>
                                        <amount-input id="DeductionAmount2" style="width:300px" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Reason
                                        <i class="fa fa-times" style="color:white" id="Reason_1"></i>
                                    </td>
                                    <td>
                                        <textarea id="Reason" style="width:300px" type="text"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                       Status
                                    </td>
                                    <td>
                                        <select style="width:300px" id="StatusName">
                                            @foreach (var d in ViewBag.Status)
                                            {
                                                <option value="@d.StatusName">@d.StatusName</option>
                                            }
                                        </select>
                                        @*<input id="Activate" checked type="checkbox">*@
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:10px;padding-left:500px">
                        <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                        </a>
                        <button class="btn btn-info" id="form_submision">
                            <i class="fa fa-save"></i>Save
                        </button>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Search Employee</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container " style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PaymentId</th>
                            <th>CheckNo</th>
                            <th>FirstName</th>
                            <th>Middle Name</th>
                            <th>LastName</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------- Search Deduction ----------------->
<div class="modal fade" id="deductionModal" style="left:4%">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Employee Deduction(s)</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container " style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table id="dt_table" class="table table-bordered table-condensed table-amount">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employee Name</th>
                            <th>Check Number</th>
                            <th>Deduction Code</th>
                            <th>Balance</th>
                            <th>Deduction Amount</th>
                            <th>Reason</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
@section pagespecific {
    <script>
        $("#saveLoader").toggle(false);
        var payeeId = 0
        var deductionId = 0
        var isSubmitted = false

        var dt_search_payee = $('#dt_search_payee').dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [1] }],
        });
        $("#dt_search_payee_wrapper .dt-toolbar").remove();

        var dt_table = $('#dt_table').dataTable();
        $("#dt_table_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_search_payee.fnClearTable();
            } else {
                searchPayeeTableUpdate(this.value);
            }
        });

        function searchPayeeTableUpdate(search) {
            var url = '@Url.Action("GetPayee", "Deduction")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_search_payee.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_search_payee.fnAddData([i + 1,
                           data[i]["EmployeeId"],
                           data[i]["CheckNumber"],
                           data[i]["FirstName"],
                           data[i]["MiddleName"],
                           data[i]["LastName"],
                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        function payeeClicked(rowId) {
            var data = dt_search_payee.DataTable().rows().data();
            var row = data[rowId];
            payeeId = row[1];
            $("#Employee").val(row[3] + " " + row[4] + " " + row[5]);
            $("#CheckNo").val(row[2]);
            $("#payeeModal").modal("hide");
        }

        $("#form_submision").click(function () {
            if (voucherSummaryFormValidation()) {
                try {
                    var form_data = {
                        "InitialBalance": $("#BalanceAmount").val(),
                        "DeductionAmount": $("#DeductionAmount").val(),
                        "DeductionCodeId": $("#DeductionCode").val(),
                        "DeductionAmount2": $("#_DeductionAmount2").val(),
                        "InitialBalance2": $("#_InitialBalance2").val(),
                        "EmployeeId": payeeId,
                        "Reason": $("#Reason").val(),
                        "DeductionId": deductionId,
                        "Status": $("#StatusName").val(),
                    }

                    console.log(form_data)

                    var url = '@Url.Action("AmendDeduction", "Deduction")';

                    $("#form_submision").prop('disabled', true);
                    $("#saveLoader").toggle(true);
                    if (!isSubmitted) {
                        isSubmitted = true
                        $.ajax({
                            type: "post",
                            url: url,
                            data: form_data,
                            contenttype: "application/json; charset=utf-8",
                            datatype: "json",
                            success: function (response) {
                                isSubmitted = false
                                $("#form_submision").prop('disabled', false);
                                $("#saveLoader").toggle(false);
                                if (response == "Success") {
                                    swal("Saved Successfully!", { icon: "success" })
                                        .then((value) => {
                                             window.location.href = '@Url.Action("AmendDeduction", "Deduction")';
                                        });
                                } else if (response == "lessAmount") {
                                    swal(" Deduction Amount should be  less than balance amount!!", { icon: "info" })
                                        .then((value) => {

                                        });
                                }
                                else {
                                    swal(response);
                                }
                            },
                            failure: function (error){
                                $("#form_submision").prop('disabled', false);
                                $("#saveLoader").toggle(false);
                                swal(error);
                            }
                        });
                    }
                } catch (e) {
                    swal("Error Saving. Please consult system administrator!");
                }
            }

        });

        function SearchEmployee() {
            $('#payeeModal').modal('show');
        }

        function voucherSummaryFormValidation(){
            var isNotValid = validateInputsParameters([
                "#Employee",
                "#DeductionCode",
                "#BalanceAmount",
                "#DeductionAmount",
                "#Reason"
            ]);
            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }
            return true
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++){
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        function searchDeduction() {
            if ($('#searchbox').val() == '') {
                swal("Please provide Check Number!", { icon: "info" })
                    .then((value) => {

                    })
            } else {
                _search()
            }
        }

        var data = [];
        function _search(){
            $("#divLoader").toggle(true);
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDeductions2", "Deduction")',
                data: { status: 'All', keywords: $('#searchbox').val() },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#divLoader").toggle(false);
                    data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_table.fnAddData([i + 1,
                            data[i]["FirstName"] + " " + data[i]["MiddleName"] + " " + data[i]["LastName"],
                            data[i]["CheckNumber"],
                            data[i]["DeductionCodeDescription"],
                            data[i]["LoanBalanceAmount"].toLocaleString(),
                            data[i]["InstallmentAmount"].toLocaleString(),
                            data[i]["Reason"],
                            data[i]["StatusName"],
                            '<a href="#" onclick="deductionClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                        ]);
                    }
                    if (data.length == 0){
                        $("#loader").text("No matching records found")
                    }
                    $('#deductionModal').modal('show');
                },
                failure: function (error){
                    swal(error);
                }
            });
        }

        function deductionClicked(i) {
            $("#_BalanceAmount").val(data[i]['LoanBalanceAmount'].toLocaleString())
            $("#_DeductionAmount").val(data[i]['InstallmentAmount'].toLocaleString())
            $("#_InitialBalance2").val(data[i]['LoanBalanceAmount'].toLocaleString())
            $("#_DeductionAmount2").val(data[i]['InstallmentAmount'].toLocaleString())
            $("#BalanceAmount").val(data[i]['LoanBalanceAmount'].toLocaleString())
            $("#_LoanAmount").val(data[i]['LoanAmount'].toLocaleString())
            $("#DeductionAmount").val(data[i]['InstallmentAmount'].toLocaleString())
            $("#DeductionCode").val(data[i]['DeductionCodeId'])
            $("#Reason").val(data[i].Reason);
            $("#CheckNo").val(data[i].CheckNumber)
            $("#StatusName").val(data[i].StatusName)
            $("#Employee").val(data[i]["FirstName"] + " " + data[i]["MiddleName"] + " " + data[i]["LastName"])
            payeeId = data[i].EmployeeId;
            deductionId = data[i].EmployeeDeductionId;
            var dedcoeded = data[i]["DeductionType"];
            $('#deductionModal').modal('hide');
            deductiondisable(dedcoeded);
        }

        function deductiondisable(dedcoeded) {
            if (dedcoeded != 'D') {
                $("#_InitialBalance2").prop("disabled", true);
            } else {
                $("#_InitialBalance2").prop("disabled", false);
            }
        }
    </script>
}