@model IFMIS.Areas.LoanMod.Models.LoanRecoveriesVM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ApplicationNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ApplicationNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LoanNo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LoanNo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BeneficiaryName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BeneficiaryName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BillAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BillAmount, "_DecimalThousands")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.PaidAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaidAmount, "_DecimalThousands")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BalanceAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.BalanceAmount, "_DecimalThousands")
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Currency)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Currency)
    </dd>

</dl>

<div class="row" style="padding-left: 10px; padding-right: 10px">
    <div class="col-md-12">
        <hr />

        <table class="table table-hover table-condensed table-stripped table-bordered table-responsive">
            <thead>
                <tr>
                    <th colspan="9">
                        Recoveries
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Bank Name</th>
                    <th>Bank Account No</th>
                    <th>Trx Id</th>
                    <th>Trx Ref No</th>
                    <th>Trx Date</th>
                    <th>Bill Id</th>
                    <th>Control No</th>
                    <th>Paid Amount</th>
                </tr>
            </thead>

            @{
                int i = 0;
            }
            <tbody>
                @foreach (var item in Model.GepgPmtSpInfos.OrderBy(a => a.TrxDtTm))
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.PspName</td>
                        <td>@item.CtrAccNum</td>
                        <td>@item.TrxId</td>
                        <td>@item.PspReceiptNumber</td>
                        <td>@item.TrxDtTm</td>
                        <td>@item.BillId</td>
                        <td>@item.PayCtrNum</td>
                        <td style="text-align: right">@string.Format("{0:N2}", @item.PaidAmt)</td>
                    </tr>
                }
                <tr style="font-weight: bold">
                    <td colspan="8" style="text-align: center">
                        Total
                    </td>
                    <td style="text-align: right">
                        @string.Format("{0:N2}", Model.GepgPmtSpInfos.Sum(a => a.PaidAmt))
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>