@model IFMIS.Areas.IFMISTZ.Models.BudgetSummary
<style>
    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .searchContainer {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
    }

    .searchIcon {
        padding: 0.5rem;
    }

    .searchBox {
        border: 0;
        /*padding: 0.5rem 0.5rem 0.5rem 0;*/
        padding: 8px;
        flex: 1;
    }

    .searchButton {
        background: #538AC5;
        border: 0;
        color: white;
        /*padding: 0.5rem;*/
        padding: 8px;
        border-radius: 0;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    .action-btn {
        width: 100px;
        /*background-color:#2196F3;*/
        color: white;
    }

    .action-btn2 {
        border-radius: 10px;
    }

    .swal-button--confirm {
        background-color: #4CAF50 !important;
    }

    .swal-button--cancel {
        background-color: #F44336 !important;
        color: #fff !important;
    }

    .swal-title {
        font-size: 20px !important;
    }

    .swal-text {
        font-size: 15px !important;
    }

    .swal-icon {
        width: 66px !important;
        height: 70px !important;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Add New Budget Ceiling</h2>
                    </header>
                    <div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="widget-body " style="padding-top:10px">
                                @if (ViewBag.Error != null)
                                {
                                    <div class="well form-horizontal">
                                        <div class="form-group">
                                            <h3 style="color:red">@ViewBag.Error</h3>
                                        </div>
                                    </div>
                                }

                                <table class="table table-striped">
                                    <tr>
                                        <td colspan="1">

                                            <fieldset>
                                                <div class="well form-horizontal">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Budget Type</label>
                                                        <div class="col-md-6">
                                                            <select id="JournalTypeCode" name="JournalTypeCode" class="form-control" required>
                                                                <option value="" selected="selected">Please Select</option>
                                                                @foreach (var jrn in ViewBag.JournalTypeCode)
                                                                {
                                                                    <option value='@jrn.JournalCode'>
                                                                        @jrn.JournalCodeDesc
                                                                    </option>}
                                                            </select>

                                                            @Html.ValidationMessageFor(model => model.JournalTypeCode, "", new { @class = "text-danger" })
                                                            @Html.HiddenFor(model => model.Book, new { htmlAttributes = new { @style = "width:230px;", @id = "Book" } })
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Financial Year</label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("FinancialYear", null, "Select Financial Year", new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.FinancialYear, "", new { @class = "text-danger", })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Sub Budget Class</label>
                                                        <div class="col-md-6">
                                                            <select id="SubBudgetClass" name="SubBudgetClass" class="form-control" required>
                                                                <option value="" selected="selected">Please Select SubBudgetClass</option>
                                                                @foreach (var sbc in ViewBag.SubBudgetClass)
                                                                {
                                                                    <option value='@sbc.SegmentCode'>
                                                                        @sbc.SegmentCode-@sbc.SegmentDesc
                                                                    </option>}
                                                            </select>
                                                            @Html.ValidationMessageFor(model => model.SubBudgetClass, "", new { @class = "text-danger", })

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Amount</label>
                                                        <div class="col-md-6">
                                                            @Html.EditorFor(model => model.OperationalAmount, new { htmlAttributes = new { @class = "form-control",  @required = "required", @autocomplete = "off" } })
                                                            @Html.ValidationMessageFor(model => model.OperationalAmount, "", new { @class = "text-danger", })
                                                           
                                                        </div>
                                                    </div>

                                                </div>
                                            </fieldset>
                                        </td>
                                        <td colspan="1">

                                            <fieldset>
                                                <div class="well form-horizontal">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Funding Source</label>
                                                        <div class="col-md-6">
                                                            <select id="FundingSource" name="FundingSource" class="form-control" required>
                                                                <option value="" selected="selected">Please Select Funding Source</option>
                                                                @foreach (var sbc in ViewBag.FundingSource)
                                                                {
                                                                    <option value='@sbc.SegmentCode'>
                                                                        @sbc.SegmentCode-@sbc.SegmentDesc
                                                                    </option>}
                                                            </select>
                                                            @Html.ValidationMessageFor(model => model.FundingSource, "", new { @class = "text-danger", })

                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="_ExchangeRate">
                                                        <label class="control-label col-md-4">Exchange Rate</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" name="ExchangeRate" id="ExchangeRate" value="1" required />
                                                            @Html.ValidationMessageFor(model => model.ExchangeRate, "", new { @class = "text-danger", })
                                                        </div>
                                                    </div>
                                                    @*<div class="form-group">
                                                        <label class="control-label col-md-4">Currency</label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("OperationalCurrency", null, new { @class = "form-control", @required = "required" })
                                                            @Html.ValidationMessageFor(model => model.OperationalCurrency, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>*@
                                                    @*<div class="form-group">
                                                        <label class="control-label col-md-4">Transaction Type</label>
                                                        <div class="col-md-6">
                                                            <select id="dbcrInd" name="dbcrInd" class="form-control" required>
                                                                <option value="DR" selected="selected">DR</option>
                                                                <option value="CR">CR</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                </div>
                                            </fieldset> 
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-actions">
                                    <div class="row">
                                        <div clss="col-md-4">

                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-info" style="float:left; margin-right:5px" href="@Url.Action("BudgetList", "budgetsummaries")">
                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                            </a>
                                            <button type="submit" class="btn btn-info" id="form_submision" style="float:left">
                                                <i class="fa fa-save"></i>Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    
    
    <script type="text/javascript">
        $('#OperationalAmount').autoNumeric('init');

        $(document).ready(function () {
            $("#Book").attr('value', 'BUDGET');


        });
        function addcommas(x) {
            //remove commas
            retVal = x ? parseFloat(x.replace(/,/g, '')) : 0;
            //apply formatting
            return retVal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        $("#FundingSource").change(function () {
            //debugger
            console.log($(this).val())
        });
        $("#FinancialYear").change(function () {
            console.log($(this).val())
            $('#ApplyDate').val()
        });

        $('#ApplyDate').datepicker({
            dateFormat: 'mm/dd/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#ApplyDate').datepicker('option', 'maxDate', selectedDate);
            }
        });

        $("#OperationalAmount1").on("keyup input paste cut", function () {
            $("#OperationalAmount").val(this.value.split(",").join(""))
            $("#OperationalAmount1").val(inputThousandSeparator(this.value))
        })

        var OldVal = 0
        function inputThousandSeparator(NewVal) {
            if (NewVal) {
                try {
                    NewVal = parseFloat(NewVal.split(",").join(""))
                    if (typeof NewVal == 'number'
                        && !Number.isNaN(NewVal)) {
                        OldVal = NewVal;
                        return NewVal.toLocaleString()
                    } else {
                        return OldVal
                    }
                } catch (e) {
                    console.log(e)
                }
            }
        }

        $("#_ExchangeRate").toggle(false)
        $("#SubBudgetClass").change(function () {
            $("#_ExchangeRate").toggle(false)
            $.ajax({
                type: "GET",
                data: { SBC: $(this).val()},
                url: '@Url.Action("GetCurrency", "BudgetSummaries")' ,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response.Currency != 'TZS') {
                        $("#_ExchangeRate").toggle(true)
                        $("#ExchangeRate").val('')
                    } else {
                        $("#_ExchangeRate").toggle(false)
                        $("#ExchangeRate").val(1)
                    }
                },
                failure: (error) => swal(error)
            });
        })
</script>

}