@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BudgetSummary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Institution.InstitutionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalType.JournalTypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBudgetClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubBudgetClassDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseCurrencyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationalCurrencyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationalCurrency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalTypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaystationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Institution.InstitutionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalType.JournalTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinancialYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegalNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBudgetClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubBudgetClassDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseCurrencyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationalCurrencyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationalCurrency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaystationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BudgetSummaryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BudgetSummaryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BudgetSummaryId })
        </td>
    </tr>
}

</table>
