@model IFMIS.Areas.IFMISTZ.Models.Ticket
@{
    ViewBag.Title = "Edit Ticket";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .loadingImg {
        display: none;
    }

    .form-group {
        padding-bottom: 10px;
    }

    .col-md-5 {
        margin-bottom: 14px;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-envelope" style="color:black"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateForm(this);" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="UserId" id="UserId" value="@ViewBag.UserId" />
                                <input type="hidden" name="TicketsId" id="TicketsId" value="@ViewBag.TicketsId" />
                                <input type="hidden" name="Status" id="Status" value="Active" />
                                <div class="row setup-content" id="step-1">
                                    <br />
                                    <fieldset>
                                        <div class="form-group">

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Module Name <i class="fa fa-times" style="color:white" id="ModuleId_1"></i></label>
                                            <div class="col-md-3">
                                                <select id="ModuleId" name="ModuleId" class="form-control" onchange="SystemSubModule()">
                                                    @if (ViewBag.Modules != null)
                                                    {
                                                        <option>Select System Module</option>
                                                        foreach (var module in ViewBag.Modules)
                                                        {
                                                            if (ViewBag.ModuleId == module.SystemModuleId)
                                                            {
                                                                <option value='@module.SystemModuleId' selected>@module.ModuleName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value='@module.SystemModuleId'>@module.ModuleName</option>
                                                            }
                                                        }
                                                    }
                                                    }

                                                </select>
                                            </div>
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Sub Module Name<i class="fa fa-times" style="color:white" id="SystemSubModuleId_1"></i></label>
                                            <div class="col-md-3">
                                                <select id="SystemSubModuleId" name="SystemSubModuleId" class="form-control">
                                                    @if (ViewBag.Modules != null)
                                                    {
                                                        <option value="">Select System Sub Module</option>
                                                        foreach (var sbmodule in ViewBag.SystemSubModules)
                                                        {
                                                            if (ViewBag.SystemSubModuleId == sbmodule.SystemSubModuleId)
                                                            {
                                                                <option value='@sbmodule.SystemSubModuleId' selected>@sbmodule.SubModuleName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value='@sbmodule.SystemSubModuleId'>@sbmodule.SubModuleName</option>
                                                            }
                                                        }
                                                    }
                                                    }

                                                </select>
                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Title<i class="fa fa-times" style="color:white" id="Title_1"></i></label>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(model => model.Title, new { @required = "required", @class = "form-control", maxlength = "150" })
                                            </div>

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Priority<i class="fa fa-times" style="color:white" id="Priority_1"></i></label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("Priority", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="--Select ---", Value = "" },
                                                    new SelectListItem{ Text="Normal", Value = "1" },
                                                    new SelectListItem{ Text="Medium", Value = "2" },
                                                   new SelectListItem{ Text="High", Value = "3" },
                                                   new SelectListItem{ Text="Urgent", Value = "4" }
                                                    }, new { @class = "form-control" })

                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Category Name<i class="fa fa-times" style="color:white" id="TicketCategoryId_1"></i></label>
                                            <div class="col-md-3">
                                                <select id="TicketCategoryId" name="TicketCategoryId" class="form-control">
                                                    @if (ViewBag.Categories != null)
                                                    {
                                                        <option>Select Ticket Category</option>
                                                        foreach (var category in ViewBag.Categories)
                                                        {
                                                            if (ViewBag.TicketCategoryId == category.TicketCategoryId)
                                                            {
                                                                <option value='@category.TicketCategoryId' selected>@category.TicketCategoryName</option>
                                                            }
                                                            else
                                                            {

                                                                <option value='@category.TicketCategoryId'>@category.TicketCategoryName</option>
                                                            }
                                                        }
                                                    }
                                                    }

                                                </select>
                                            </div>

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"> Attachment</label>
                                            <div class="col-md-3">
                                                @if (ViewBag.AttachmentName != null)
                                                {
                                                    @Html.TextBoxFor(model => model.AttachmentName, new { type = "file" })
                                                    <a href="#" data-toggle="modal" data-target=".AttachmentName" class="btn-xs edit">View Attachment</a>
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(model => model.AttachmentName, new { @Class = "form-control", type = "file" })
                                                }
                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div>
                                        </div>


                                        <div class="form-group">

                                            <label class="col-md-2 control-label" style="font-weight:normal;text-align:right">Description<i class="fa fa-times" style="color:white" id="Description_1"></i>(<span style="font-weight:bold;" id="DescriptionCount">250</span>)</label>
                                            <div class="col-md-8">
                                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", maxlength = 250, rows = "3" })
                                            </div>
                                            <div class="form-group"><div class="col-md-2"></div></div><br />
                                        </div>


                                    </fieldset>

                                </div>
                                    <br />
                                    <div class="form-group btnSubmit">
                                        <label class="col-md-2 control-label" style="font-weight:normal;text-align:right"></label>
                                        <div class="col-md-6">
                                            <a class="btn btn-info" href='@Url.Action("RegisterTickets", "Tickets")' style="margin-right:5px">
                                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                                            </a>
                                            <button type="submit" name="submit" class="btn btn-info" id="form_submision">
                                                <i class="fa fa-save"></i>Update
                                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                                            </button>
                                        </div>
                                    </div>
                            }

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<div class="modal fade AttachmentName">
    <div class="modal-dialog">
        @if (ViewBag.AttachmentName != null)
        {
            if (ViewBag.AttachmentType == "pdf")
            {
                <div class="modal-body ">
                    <iframe id="AttachmentName"
                            style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                            title="Title"
                            src="~/Media/HelpDesk/Tickets/@ViewBag.AttachmentName"
                            frameborder="1"
                            scrolling="auto"
                            height="600px"
                            width="800px"></iframe>
                </div>
            }
            else
            {
                <img src="~/Media/Helpdesk/Tickets/@ViewBag.AttachmentName" class="img-thumbnail" style="width:100%;height:100%" />
                <div class="modal-footer">
                    <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                </div>
            }
        }
    </div>
</div>



@section pagespecific{
    <script>
        $("#saveLoader").toggle(false);

        @*var SystemSubModuleId = null;

        var option = [];
        $.ajax({
            url: '@Url.Action("GetSingleSystemSubModule", "Tickets")/?moduleId=' + '@ViewBag.ModuleId',
            type: "GET",
            dataType: "json",
            success: function (data) {
                SystemSubModuleId = data.data;
            }
        })

        $.ajax({
            url: '@Url.Action("GetSystemSubModuleList", "Tickets")/?moduleId=' + '@ViewBag.ModuleId',
            type: "GET",
            dataType: "json",
            success: function (data) {
                option.push('<option value="">Select System Sub Module</option>');
                data.data.forEach(d=> {
                    if (SystemSubModuleId == d["SystemSubModuleId"]) {
                        option.push('<option value=' + d["SystemSubModuleId"] + ' selected>' + d["SubModuleName"] + '</option>');
                    }
                    else {
                        option.push('<option value=' + d["SystemSubModuleId"] + '>' + d["SubModuleName"] + '</option>');
                    }

                });
                option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                $("#SystemSubModuleId").html(option);
            }
        })*@

        $(document).ready(function () {
                var count = $('#Description').val().split('');
                var numChars = 250 - parseInt(count.length);
                $('#DescriptionCount').text(parseInt(numChars));
        })

        $('#Description').on("keyup", function () {
            var count = $('#Description').val().split('');
            var numChars = 250 - parseInt(count.length);
            $('#DescriptionCount').text(parseInt(numChars));
        });

        function SystemSubModule() {
            $('#SystemSubModuleId').val('');
            $('#SystemSubModuleId').change();

            document.getElementById("SystemSubModuleId").disabled = false;

            var option = [];
            var moduleId = $("#ModuleId").val();
            if (moduleId != "Select System Sub Module" && moduleId != "") {
                $.ajax({
                    url: '@Url.Action("GetSystemSubModuleList", "Tickets")/?moduleId=' + moduleId,
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        option.push('<option value="">Select System Sub Module</option>');
                        data.data.forEach(d=> {
                            option.push('<option value=' + d["SystemSubModuleId"] + '>' + d["SubModuleName"] + '</option>');
                        });
                        option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                        $("#SystemSubModuleId").html(option);
                    }
                })
            }
        }

        function validateForm(formObj) {
            $("#form_submision").prop('disabled', true);
            $("#saveLoader").toggle(true);

            var ModuleId = $("#ModuleId").val();
            var Description = $("#Description").val();
            //var Status = $("#Status").val();
            var TicketCategoryId = $("#TicketCategoryId").val();
            var Priority = $("#Priority").val();
            var Title = $("#Title").val();
            var AttachmentName = $("#AttachmentName").val();

            if (AttachmentName != '') {
                var file = document.querySelector("#AttachmentName");
                if (/\.(jpe?g|png|gif|pdf)$/i.test(file.files[0].name) === false) {
                    swal("Attachment should be either Image of File in PDF Format");
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    return false;
                } else {
                    if (/\.(jpe?g|png|gif)$/i.test(file.files[0].name) === true) {
                        return true;
                    }

                    if (/\.(pdf)$/i.test(file.files[0].name) === true) {
                        return true;
                    }
                }
            }

            if (ModuleId == "" || ModuleId == "Select System Module") {
                swal("Module Name is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }
            else if (TicketCategoryId == "" || TicketCategoryId == "Select Ticket Category") {
                swal("Category Name is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }
            else if (Title == "") {
                swal("Title is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }
            else if (Priority == "") {
                swal("Priority is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }
            /*else if (Status == "") {
                swal("Status is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            }*/
            else if (Description == "") {
                swal("Description is required!", { icon: "warning" });
                $("#form_submision").prop('disabled', false);
                $("#saveLoader").toggle(false);
                return false;
            } else {
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);
            }
            successMessage = true;
            return true;
        }

        var message = '@TempData["Message"]';
        if (message == "Success") {
            swal("Ticket Updated Successfully!", { icon: "success" })
                              .then((value) => {
                                  location.reload();
                              });
        }

        if (message == "Error") {
            swal("Error saving Tickets Entry. Please contact System Administrator", { icon: "warning" })
                              .then((value) => {
                                  location.reload();
                              });
        }


    </script>
}


