@model IFMIS.Areas.IFMISTZ.Models.TicketVM
@{
    ViewBag.Title = "Preview Ticket";
}
<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(6) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<!-- MAIN CONTENT -->

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Ticket Details </h2>

                    </header>

                    @Html.HiddenFor(model => model.TicketsId)
                    <div class="jarviswidget" id="wid-id-12" data-widget-colorbutton="false" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">

                        <div class="container" style="margin-left:2px;margin-top:5px">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#1" data-toggle="tab">Ticket Details</a>
                                </li>
                                @*<li><a href="#2" data-toggle="tab">Call History</a> </li>*@
                                <li><a href="#3" data-toggle="tab">Attachment</a> </li>

                            </ul>
                            <div class="tab-content">

                                <div class="tab-pane active" id="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br />
                                            <table class="table  table-hover table-condensed">

                                                <tbody>
                                                    <tr>
                                                        @if (ViewBag.InstitutionCode == IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                        {
                                                        <tr>
                                                            <td style="width:20%">Institution Name</td>
                                                            <td>@Html.DisplayFor(modelItem => Model.InstitutionName)</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">Institution Code</td>
                                                            <td>@Html.DisplayFor(modelItem => Model.InstitutionCode)</td>
                                                        </tr>
                                                        }

                                                        <tr>
                                                            <td style="width:20%">
                                                                Ticket Number
                                                            </td>
                                                            <td>
                                                                <strong>@Html.DisplayFor(model => model.TicketNumber)</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Title
                                                            </td>
                                                            <td>
                                                                <strong>@Html.DisplayFor(model => model.Title)</strong>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Ticket Detail
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.Description)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Module Name
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.ModuleName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:20%">
                                                                Sub Module Name
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.SubModuleName)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Category Name
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.TicketCategoryName)
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="width:20%">
                                                                Fullname
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.MiddleName) @Html.DisplayFor(model => model.LastName)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Phonenumber
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.PhoneNumber)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Email
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.Email)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:20%">
                                                                Priority
                                                            </td>
                                                            @if (Model.Priority == "1")
                                                            {
                                                                <td>NORMAL</td>
                                                            }
                                                            @if (Model.Priority == "2")
                                                            {
                                                                <td>MEDIUM</td>
                                                            }
                                                            @if (Model.Priority == "3")
                                                            {
                                                                <td>HIGH</td>
                                                            }
                                                            @if (Model.Priority == "4")
                                                            {
                                                                <td>URGENT</td>
                                                            }
                                                        </tr>

                                                        <tr>
                                                            <td style="width:20%">
                                                                Status
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => model.OverAllStatus)

                                                            </td>
                                                        </tr>
                                                        @if (ViewBag.InstitutionCode != IFMIS.Libraries.Constants.MOFP_INSTITUTION_CODE)
                                                        {
                                                            if (ViewBag.Description != null && Model.OverAllStatus == IFMIS.Libraries.Constants.RESOLVED && Model.MofpView == IFMIS.Libraries.Constants.YES)
                                                            {
                                                                <tr>
                                                                    <td style="width:20%">Description</td>
                                                                    <td>
                                                                        @ViewBag.Description
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.Description != null)
                                                            {
                                                                <tr>
                                                                    <td style="width:20%">Description</td>
                                                                    <td>
                                                                        @ViewBag.Description
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        <tr>
                                                            <td>Date</td>
                                                            <td>
                                                                @Convert.ToDateTime(Model.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>


                                                @*@if (User.IsInRole("Helpdesk Ticket Assignee"))
                                                    {*@
                                                @if (ViewBag.ActivityDescription != null)
                                                {
                                                    @*<center><h6>Call History</h6></center>*@
                                                    <table id="dt_ticket_listing" class="table table-bordered table-condensed table-amount">
                                                        <thead>
                                                            <tr>
                                                                <td>#</td>
                                                                <td>User</td>
                                                                <th>Category</th>
                                                                <td>Description</td>
                                                                <td>Ticket Status</td>
                                                                <td>Date</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int i = 0;
                                                            }
                                                            @foreach (var item in ViewBag.ActivityDescription)
                                                            {
                                                                var user = @item.CreatedBy;
                                                                i++;
                                                                <tr>
                                                                    <td>@i</td>
                                                                    <td>@user.Replace('.', ' ') </td>
                                                                    <td>
                                                                        @if (item.CategoryName == IFMIS.Libraries.Constants.USER)
                                                                        {
                                                                            if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.OPENED || item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                            {
                                                                                @IFMIS.Libraries.Constants.USER
                                                                            }
                                                                            else
                                                                            {

                                                                                @IFMIS.Libraries.Constants.SUPPORT_TEAM.ToUpper()
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (item.CategoryName == null)
                                                                            {
                                                                                @IFMIS.Libraries.Constants.USER
                                                                            }
                                                                            else
                                                                            {
                                                                                @item.CategoryName.ToUpper()
                                                                            }

                                                                        }
                                                                    </td>

                                                                    <td>@item.Description</td>
                                                                    @if (item.CategoryName == IFMIS.Libraries.Constants.USER)
                                                                    {

                                                                        if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.OPENED || item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper() || item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.ASSIGNED.ToUpper())
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper() AT LEVEL @item.UserFriendlyStatus </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.FOWARDED.ToUpper())
                                                                            {
                                                                                <td>@item.OverAllStatus.ToUpper() TO LEVEL @item.UserFriendlyStatus </td>
                                                                            }
                                                                            else if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                            {
                                                                                <td>@item.OverAllStatus.ToUpper()</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>@item.OverAllStatus.ToUpper() AT LEVEL @item.UserFriendlyStatus </td>
                                                                            }

                                                                        }
                                                                    }
                                                                    else
                                                                    {

                                                                        if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.FOWARDED.ToUpper())
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper() TO LEVEL @item.UserFriendlyStatus </td>
                                                                        }
                                                                        else if (item.OverAllStatus.ToUpper() == IFMIS.Libraries.Constants.CLOSED.ToUpper())
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper()</td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td>@item.OverAllStatus.ToUpper() AT LEVEL @item.UserFriendlyStatus </td>
                                                                        }

                                                                    }

                                                                    <td>@Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                                }
                                                                @*}*@

                                                            </div>

                                                        </div>
                                                    </div>

                                                    @*<div class="tab-pane" id="2">
                                                            <div class="col-md-12" style="margin-top:15px">
                                                                @if (ViewBag.ActivityDescription != null)
                                                                {
                                                                <div class="smart-timeline">
                                                                    <ul class="smart-timeline-list" style="height:300px !important;overflow-y:scroll">
                                                                        @{ int k = 0;

                                                                                foreach (var item in ViewBag.ActivityDescription)
                                                                                {
                                                                                    k++;
                                                                                    var user = @item.CreatedBy;
                                                                                <li>
                                                                                    <div class="smart-timeline-icon">
                                                                                        <i class="fa fa-user"></i>
                                                                                    </div>

                                                                                    <div class="smart-timeline-content">
                                                                                        <p>
                                                                                            <a href="javascript:void(0);"><strong>@user.Replace('.', ' ') <br /> @item.OverAllStatus </strong></a> &nbsp;&nbsp; <small>@Convert.ToDateTime(item.CreatedAt).ToString("dd/MM/yyyy HH:mm:ss")</small>
                                                                                        </p>
                                                                                        <p>@item.Description</p>
                                                                                    </div>
                                                                                </li>
                                                                                }

                                                                        }

                                                                    </ul>
                                                                </div>
                                                                }
                                                            </div>
                                                        </div>*@

                                                    <div class="tab-pane" id="3" style="width:100%;height:auto">
                                                        <div class="col-md-4" style="margin-top:15px">
                                                            @if (Model.AttachmentName == null)
                                                            {
                                                                <p>Attachment Not Found</p>
                                                            }
                                                            else
                                                            {
                                                                <p><a href="#" onclick="previewAttachment('@Model.AttachmentName')" class="btn-xs edit">View Attachment</a></p>
                                                            }
                                                        </div>
                                                        @if (Model.AttachmentName != null)
                                                        {
                                                            <div class="col-md-8" style="margin-top:15px">
                                                                <div style="border:0px solid #efeaea;width:900px;float:right;margin:10px -10px 0px 0px;">
                                                                    <iframe height="400" id="attachmentImage2" width="100%" height="auto" src="" style="border:0px"></iframe>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-offset-2">
                                            <a href="@Request.UrlReferrer" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>

                                        </div>

                                    </div>
                                </article>

                            </div>

                            <div class="modal fade AttachmentName">
                                <div class="modal-dialog">
                                    @if (ViewBag.TicketAttachment != null)
                                    {
                                        if (ViewBag.AttachmentType == "pdf")
                                        {
                                            <div class="modal-body ">
                                                <iframe id="AttachmentName"
                                                        style="border:1px solid #666CCC;margin-left:auto;margin-right:auto"
                                                        title="Title"
                                                        src="~/Media/HelpDesk/Tickets/@ViewBag.TicketAttachment"
                                                        frameborder="1"
                                                        scrolling="auto"
                                                        height="600px"
                                                        width="800px"></iframe>
                                            </div>
                                        }
                                        else
                                        {
                                            <img src="~/Media/Helpdesk/Tickets/@ViewBag.TicketAttachment" class="img-thumbnail" style="width:100%;height:100%" />
                                            <div class="modal-footer">
                                                <a href="#" class="btn btn-info" data-dismiss="modal">Cancel</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </section>

                    </div>
                    @section pagespecific{

                        <script>
        var dt_ticket_listing = $('#dt_ticket_listing').dataTable();

        $("#dt_ticket_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_ticket_listing.DataTable().search(this.value).draw();
        });

        function previewAttachment(slipfile) {
            var url = '@Url.Content("~/Media/HelpDesk/Tickets/")' + slipfile;
            document.getElementById("attachmentImage2").src = url;
        };
                        </script>
                    }








