@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=text], input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>

    <section id="widget-grid" class="">

        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>BackLog Entry</h2>

                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <table style="margin-left: 25%">
                                <tr>
                                    <td class="form-label">
                                        SubBudget Class
                                        <i class="fa fa-times" style="color:white" id="SubBudgetClass_1"></i>
                                    </td>
                                    <td>
                                        <select id="SubBudgetClass" style="width:300px">
                                            @foreach (var subBudgetClass in ViewBag.subBudgetClassList)
                                            {
                                                <option value='@subBudgetClass.SubBudgetClass;
                                                              @subBudgetClass.OperationalCurrencyCode;
                                                              @subBudgetClass.OperationalExchangeRate;
                                                              @subBudgetClass.BaseCurrencyCode'>
                                                    @subBudgetClass.SubBudgetClassSubBudgetClassDesc
                                                </option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Institution Account
                                        <i class="fa fa-times" style="color:white" id="InstitutionAccount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="InstitutionAccountLabel" style="width:300px" disabled type="text"/>
                                        </div>
                                        <div class="input-group" id="account">
                                            <select id="InstitutionAccount" style="width:300px" disabled>
                                                @foreach (var item in ViewBag.accountsList)
                                                {
                                                    <option value="@item.InstitutionAccountId">@item.AccountNumber-@item.AccountName-@item.SubBudgetClass</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        ApplyDate
                                        <i class="fa fa-times" style="color:white" id="ApplyDate_1"></i>
                                    </td>
                                    <td>
                                        <div class="flatpickr date-group">
                                            <input type="text" placeholder="Select Date.."
                                                   data-input
                                                   style="width:262px;padding-left:10px;border:none"
                                                   autocomplete="off" id="ApplyDate">
                                            <a class="input-button" title="open" data-toggle href="#">
                                                <span class="input-group-addon" style="height:35px"><i class="fa fa-calendar"></i></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Financial Year
                                        <i class="fa fa-times" style="color:white" id="FinancialYear_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <select id="FinancialYear" style="width:300px">
                                                @foreach (var item in ViewBag.FinancialYearList)
                                                {
                                                    <option value="@item.FinancialYearCode">@item.FinancialYearDesc</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Attach Excel
                                        <i class="fa fa-times" style="color:white" id="AttachExcel_1"></i>
                                    </td>
                                    <td>
                                        <input id="AttachExcel" style="width:300px" type="file"
                                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Empty Template
                                        <i class="fa fa-times" style="color:white" id="AttachExcel_1"></i>
                                    </td>
                                    <td>
                                        <a href="~/Uploads/BackLogTemplate/BackLogEmptyTemplate.xlsx"><i class="glyphicon glyphicon-download-alt"></i>Download</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Sample Data
                                        <i class="fa fa-times" style="color:white" id="AttachExcel_1"></i>
                                    </td>
                                    <td>
                                        <a href="~/Uploads/BackLogTemplate/BackLogSampleDataTemplate.xlsx"><i class="glyphicon glyphicon-download-alt"></i>Download</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom:10px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <a class="btn btn-info" style="margin-right:5px" onclick="window.history.back()">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button class="btn btn-info" id="form_submision">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>


            </article>

        </div>
    </section>
</div>

@section pagespecific {
    <script>
        $("#saveLoader").toggle(false);
        $("#account").toggle(false);
        var isSubmitted = false

        $("#SubBudgetClass").change(function () {
            var sub = "-"+this.value.split(";")[0];
            console.log(sub)
            var institutionAccountId = $('#InstitutionAccount option').filter(function () { return $(this).html().includes(sub); }).val();

            $("#InstitutionAccount").val(institutionAccountId);
            $("#InstitutionAccountLabel")
                .val($("#InstitutionAccount :selected").text());
        });

        $("#SubBudgetClass").trigger('change');

        $("#form_submision").click(function () {
            if ($("#AttachExcel").val() == '' || $("#InstitutionAccount").val() == '') {
                swal("File and Institution Account is Required..!!");
            } else {

                    try {

                        var formData = new FormData();
                        var subBudgetClassList = $("#SubBudgetClass").val().split(";");
                        formData.append('ApplyDate', $("#ApplyDate").val());
                        formData.append('InstitutionAccountId', $("#InstitutionAccount").val());
                        formData.append('SubBudgetClass', subBudgetClassList[0].trim());
                        formData.append('FinancialYear', $("#FinancialYear").val());
                        formData.append('exchangeRate', subBudgetClassList[2].trim());
                        formData.append('baseCurrencyCode', subBudgetClassList[3].trim());
                        formData.append('operationalCurrencyCode',subBudgetClassList[1].trim());
                        formData.append('file', $('input[type=file]')[0].files[0]);

                            var url = '@Url.Action("BackLogCreate", "BackLog")';
                            var urlList = '@Url.Action("BackLogList", "BackLog")';
                            $("#form_submision").prop('disabled', true);
                            $("#saveLoader").toggle(true);
                            if (!isSubmitted) {
                                isSubmitted = true
                                $.ajax({
                                    type: "post",
                                    url: url,
                                    data: formData,
                                    contentType: false,
                                    processData: false,
                                    success: function (response) {
                                        isSubmitted = false
                                        $("#form_submision").prop('disabled', false);
                                        $("#saveLoader").toggle(false);
                                        if (response == "Success") {
                                            swal("Saved Successfully!", { icon: "success" })
                                                .then((value) => {
                                                    window.location.href = urlList;
                                                });
                                        }
                                        else {
                                            swal(response);
                                        }
                                    },
                                    failure: function (error) {
                                        $("#form_submision").prop('disabled', false);
                                        $("#saveLoader").toggle(false);
                                        swal(error);
                                    }
                                });
                            }
                    } catch (e) {
                        swal("Error Saving. Please consult system administrator!");
                    }
                
            }
        });

        
    </script>
}