@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.InstitutionPayee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstitutionPayeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstitutionPayeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstitutionPayeeId })
        </td>
    </tr>
}

</table>
