@{
    ViewBag.Title = "Add Auction Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 2% 0 2%;">
                                <div class="widget-body" style="padding-top:5px">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border">Customer Information</legend>
                                                <table>
                                                    <tr>
                                                        <th>Customer Type: </th>
                                                        <td>@ViewBag.customerType</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Customer Name: </th>
                                                        <td>@ViewBag.customer.CustomerName</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Telephone Number: </th>
                                                        <td>@ViewBag.customer.PhoneNo</td>
                                                    </tr>
                                                    @*<tr>
                                                            <th>Gender:</th>
                                                            <td>@ViewBag.customer.Gender</td>
                                                        </tr>*@
                                                    <tr>
                                                        <th>Tin Number:</th>
                                                        <td>@ViewBag.customer.TinNo</td>
                                                    </tr>
                                                    @*<tr>
                                                            <th>District:</th>
                                                            <td>@ViewBag.customer.District</td>
                                                        </tr>*@
                                                    @*<tr>
                                                            <th>Region:</th>
                                                            <td>@ViewBag.customer.Region</td>
                                                        </tr>*@
                                                    <tr>
                                                        <th>PhysicalAddress </th>
                                                        <td>@ViewBag.customer.PhysicalAddress </td>
                                                    </tr>
                                                    @*<tr>
                                                            <th>OverallStatus </th>
                                                            <td>@ViewBag.customer.OverallStatus </td>
                                                        </tr>*@

                                                    <tr>
                                                        <th>CustomerLocation</th>
                                                        <td>@ViewBag.customer.CustomerLocation </td>
                                                    </tr>
                                                    <tr>
                                                        <th>PlotNo</th>
                                                        <td>@ViewBag.customer.PlotNo </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status: </th>
                                                        <td>@ViewBag.customer.Status</td>
                                                    </tr>
                                                </table>
                                            </fieldset>

                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border">Loan Application Information</legend>
                                                <table>
                                                    <tr>
                                                        <th>Application Number: </th>
                                                        <td>@ViewBag.LoanApplication.ApplicationNo</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Loan Purpose:</th>
                                                        <td>@ViewBag.LoanApplication.LoanPurpose</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Applied Amount:</th>
                                                        <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.AppliedLoanAmount)</td>
                                                    </tr>
                                                    @if (ViewBag.LoanApplication.LoanApprovedAmount != null)
                                                    {
                                                        <tr>
                                                            <th>Approved Amount:</th>
                                                            <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanApprovedAmount)</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <th>Approved Amount:</th>
                                                            <td>0.00</td>
                                                        </tr>
                                                    }
                                                    @if (ViewBag.LoanApplication.DisbursedAmount != null)
                                                    {
                                                        <tr>
                                                            <th>Disbursed Amount:</th>
                                                            <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.DisbursedAmount)</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <th>Disbursed Amount:</th>
                                                            <td>0.00</td>
                                                        </tr>
                                                    }




                                                    @*<tr>
                                                        <th>Approved Amount:</th>
                                                        <td>@string.Format("{0:#,0.00}", ViewBag.LoanApplication.LoanApprovedAmount)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Disbursed Amount:</th>
                                                        <td> @string.Format("{0:#,0.00}", ViewBag.LoanApplication.DisbursedAmount)</td>
                                                    </tr>*@

                                                    <tr>
                                                        <th>Interest Amount </th>
                                                        <td> </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Loan Amount + Interest Amount </th>
                                                        <td> </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Repayment Amount</th>
                                                        <td> </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Loan Balance</th>
                                                        <td> </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status: </th>
                                                        <td>@ViewBag.LoanApplication.OverAllStatus</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Reasons: </th>
                                                        <td>@ViewBag.LoanApplication.Reasons</td>
                                                    </tr>

                                                </table>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">

                                            <fieldset class="scheduler-border">
                                                <legend class="scheduler-border">Add Auction Information</legend>
                                                <table>
                                                    <tr id="auctioneer1">
                                                        <td class="form-label">
                                                            Start Date:
                                                            <i class="fa fa-times" style="color:white" id="audatestart1"></i>
                                                        </td>
                                                        <td>
                                                            <div class="flatpickr date-group">
                                                                <input type="text" placeholder="Select Date.."
                                                                       data-input
                                                                       style="width:262px;padding-left:10px;border:none"
                                                                       autocomplete="off" id="StartDate">
                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                    <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>


                                                    <tr id="auctioneer2">
                                                        <td class="form-label">
                                                            End Date:
                                                            <i class="fa fa-times" style="color:white" id="audateend1"></i>
                                                        </td>
                                                        <td>
                                                            <div class="flatpickr date-group">
                                                                <input type="text" placeholder="Select Date.."
                                                                       data-input
                                                                       style="width:262px;padding-left:10px;border:none"
                                                                       autocomplete="off" id="EndDate">
                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                    <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>


                                                    <tr id="auctioneer3">
                                                        <td class="form-label">
                                                            Date of auction:
                                                            <i class="fa fa-times" style="color:white" id="dateauction1"></i>
                                                        </td>
                                                        <td>
                                                            <div class="flatpickr date-group">
                                                                <input type="text" placeholder="Select Date.."
                                                                       data-input
                                                                       style="width:262px;padding-left:10px;border:none"
                                                                       autocomplete="off" id="DateAuction">
                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                    <span class="input-group-addon" style="height:32px"><i class="fa fa-calendar"></i></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr id="auctioneer4">
                                                        <td class="form-label">
                                                            Name of Auctioneer:
                                                            <i class="fa fa-times" style="color:white" id="nameAuctioner1"></i>
                                                        </td>
                                                        <td>
                                                            <input id="NameAuctioneer" style="width:300px;" type="text">
                                                        </td>
                                                    </tr>


                                                    <tr id="auctioneer5">
                                                        <td class="form-label">
                                                            Rate of Payment:
                                                            <i class="fa fa-times" style="color:white" id="rateofPayment1"></i>
                                                        </td>
                                                        <td>
                                                            <input id="RateofPayment" style="width:300px;" type="text">
                                                        </td>
                                                    </tr>

                                                   <tr id="Remarks">
                                                        <td class="form-label">
                                                            Remark:
                                                            <i class="fa fa-times" style="color:white;" id="Remark1"></i>
                                                        </td>
                                                        <td>
                                                            <textarea style="width:300px" rows="2" id="Remark" maxlength="350"></textarea><br />
                                                        </td>
                                                    </tr>

                                                </table>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9">
                                                        <a class="btn btn-info" href='@Url.Action("AuctionList","Auctions")' style="margin-right:5px">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                                        </a>
                                                        <button type="submit" class="btn btn-info" id="btnSave">
                                                            <i class="fa fa-save"></i>Save
                                                        </button>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>
    

        $("#btnSave").click(function () {
            debugger
            var auctineer = $("#NameAuctineer").val();
            var dateAuction = $("#DateAuction").val();
            var rate = $("#RateofPayment").val();
            if (auctineer == '') {
                swal("Auctioneer is Required")
                    .then((j) => {
                        $("#NameAuctineer").focus();
                        $("#NameAuctineer").css({ 'border-color': 'red' });
                    });
            } else if (dateAuction == '') {
                swal("Date of Auction is Required")
                    .then((j) => {
                        $("#DateAuction").focus();
                        $("#DateAuction").css({ 'border-color': 'red' });
                    });
            } else if (rate == '') {
                swal("Rate of Payment is Required")
                    .then((j) => {
                        $("#RateofPayment").focus();
                        $("#RateofPayment").css({ 'border-color': 'red' });
                    });
            }
            else {

                $("#NameAuctineer").css({ 'border-color': '' });
                $("#DateAuction").css({ 'border-color': '' });
                $("#RateofPayment").css({ 'border-color': '' });

                var form_data = {
                    "StartDate": $("#StartDate").val(),
                    "EndDate": $("#EndDate").val(),
                    "DateAuction": $("#DateAuction").val(),
                    "NameAuctineer": $("#NameAuctioneer").val(),
                    "Rate": $("#RateofPayment").val(),
                    "Remark": $("#Remark").val(),
                    "LoanApplicationId": '@ViewBag.LoanApplicationId',
                }

                var url = '@Url.Action("AddAuctionInfo", "Auctions")';
                var urlList = '@Url.Action("AuctionList", "Auctions")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    data: { vm: form_data, LoanApplicationId: '@ViewBag.LoanApplicationId' },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {

                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        } else if (response == "Duplicate") {
                            swal("Duplicate information!", { icon: "warning" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {

                        swal(error);
                    }
                });
            }

        });



    </script>
}
