@model IFMIS.Areas.IFMISTZ.Models.DirectFund

<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ReferenceNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReferenceNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LegalNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LegalNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OperationalAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OperationalAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OperationalCurrency)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OperationalCurrency)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplyDate, "_ShortDateTime")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceivingBankName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceivingBankName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceivingBankAccountNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceivingBankAccountNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReceivingBankAccountName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReceivingBankAccountName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrGlAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DrGlAccount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DrGlAccountDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DrGlAccountDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClassCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubBudgetClassCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubBudgetClassDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubBudgetClassDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundingSourceCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FundingSourceCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundingSourceDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FundingSourceDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CrGlAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CrGlAccount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CrGlAccountDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CrGlAccountDesc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FundType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FundType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OverallStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OverallStatus)
            </dd>

            @if (Model.OverallStatus == "REJECTED")
            {
                <dt>
                    @Html.DisplayNameFor(model => model.RejectionReason)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RejectionReason)
                </dd>
            }
        </dl>

        <hr />

        <table class="table table-condensed table-stripped table-hover table-bordered table-responsive">
            <thead>
                <tr>
                    <th colspan="5">
                        GL Items
                    </th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Gl Account</th>
                    <th>Gl Account Desc</th>
                    <th>Allocated Amount</th>
                    <th>Expensed Amount</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model.DirectFundDetails.OrderByDescending(a => a.DirectFundDetailId))
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.GlAccount</td>
                        <td>@item.GlAccountDesc</td>
                        <td style="text-align: right">@Html.DisplayFor(model => item.AllocatedAmount, "_DecimalThousands")</td>
                        <td style="text-align: right">@Html.DisplayFor(model => item.ExpensedAmount, "_DecimalThousands")</td>
                    </tr>
                }
                @*<tr>
                        <td colspan="2" style="text-align: center"><b>Total</b></td>
                        <td style="text-align: right">@Html.DisplayFor(model => model.TotalAllocatedAmount, "_DecimalThousands")</td>
                        <td style="text-align: right">@Html.DisplayFor(model => model.TotalExpensedAmount, "_DecimalThousands")</td>
                        <td></td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>