@model IFMIS.Areas.Coadmis.Models.AuditableArea
@{
    ViewBag.Title = "Add Auditable Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .loadingImg {
        display: none;
    }
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #itemUL li {
        margin-left: -40px;
        border-bottom: 1px solid silver;
        height: 26px;
        padding-left: 5px;
        padding-top: 8px;
        cursor: pointer;
    }

    .redStar {
        color: red;
        font-size: 15px;
    }
</style>
<div id="content" style="margin: 5px;">
    <div class="row"></div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> @ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div class="row setup-content">
                                @Html.AntiForgeryToken()
                                <form>
                                    <div class="form-horizontal">
                                        <div class="col-xs-12">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">Name<span class="redStar">*</span></label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Name, new { @Class = "input", @required = "required", style = "width:100%; ", @maxlength = "255" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-2">Status<span class="redStar">*</span></label>
                                                    <div class="col-md-3">
                                                        @Html.DropDownList("Status", new List<SelectListItem>{
                                                          new SelectListItem{ Text="--Select ---", Value = "" },
                                                          new SelectListItem{ Text="Active", Value = "Active" },
                                                          new SelectListItem{ Text="Inactive", Value = "Inactive" },
                                                           }, new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                    </div>

                                                    <label class="control-label col-md-2">Category<span class="redStar">*</span></label>
                                                    <div class="col-md-3">
                                                        @Html.DropDownList("Category", new List<SelectListItem>{
                                                          new SelectListItem{ Text="--Select ---", Value = "" },
                                                          new SelectListItem{ Text="Financial", Value = "Financial" },
                                                          new SelectListItem{ Text="Non Financial", Value = "Non Financial" },
                                                           }, new { @class = "form-control", @required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>

                                                <div class="form-group">

                                                    <label class="control-label col-md-2"> Code<span class="redStar">*</span></label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.AuditableAreaCode, new { @Class = "input", @type = "number", @min = "0", @required = "required", style = "width:100%; " })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <a href="@Url.Action("AuditableAreaList", "AuditableArea")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                    <button type="submit" class="btn btn-info" onclick="saveAditableAreaForm()" id="saveAuditableAreaBtn">
                                        <i class="fa fa-save"></i>Save
                                        <img src="~/Content/img/loading.gif" class="loadingImg" />
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });


        function saveAditableAreaForm() {
            var errorMessage = [];
            var name = $("#Name").val();
            var status = $("#Status").val();
            var category = $("#Category").val();
            var code = $("#AuditableAreaCode").val();

            if (name == '' || status == '' || category == '' || code=='' ){
              if (name == '') {
                 errorMessage.push("Name");
                }

                if (status == '') {
                    errorMessage.push("Status");
                }

                if (category == '') {
                    errorMessage.push("Category");
                }

             if (code == '') {
                errorMessage.push("Auditable Area Code");
            }

           
            swal("Please fill the correct values for fields: " + errorMessage);
            $(".loadingImg").toggle(false);
              $("#saveAuditableAreaBtn").prop('disabled', false);
                return false;
            }
            else{
            var formData = new FormData()
            formData.append('__RequestVerificationToken', $('[name=__RequestVerificationToken]').val());
            formData.append('Name', name);
            formData.append('Category', category);
            formData.append('AuditableAreaCode', code);
            formData.append('Status', status);
            postFormData(formData);
            }
        }

    function postFormData(formData) {
        url = '@Url.Action("SaveAuditableArea", "AuditableArea")';

        $("#saveAuditableAreaBtn").prop('disabled', true);
        $(".loadingImg").toggle(true);
        $.ajax({
            url: url,
            data: formData,
            type: 'POST',
            contentType: false,
            processData: false,
            success: function (response) {
                $("#saveAuditableAreaBtn").prop('disabled', true);
                $(".loadingImg").toggle(true);
                if (response == "Success") {
                    swal("Saved Successfully!", { icon: "success" })
                        .then((m) => {
                           var url = '@Url.Action("AuditableAreaList", "AuditableArea")';
                           window.location.replace(url);
                        });
                } else {
                    $("#saveAuditableAreaBtn").prop('disabled', false);
                    $(".loadingImg").toggle(false);
                    swal(response)
                }
            },
            failure: function (error) {
                $("#saveAuditableAreaBtn").prop('disabled', false);
                $(".loadingImg").toggle(false);
                swal("An error occured: ",response)
            }
        });
    }

    </script>
}




