@model IFMIS.Areas.CashManagement.Models.StandingImprest

<link href="@Server.MapPath("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
<div>

    <div style="font-family: Arial, Helvetica, sans-serif; font-size: 18px">

        <div class="row" style="padding-top: 10px">
            <div style="text-align: center"><strong>THE UNITED REPUBLIC OF TANZANIA</strong></div>
            <div style="text-align: center; margin-top: 10px">MINISTRY OF FINANCE AND PLANNING</div>
        </div>

        <div class="row" style="padding-top: 30px; font-size: 16px">
            <div class="col-xs-5">
                Anuani ya Simu: Hazina Dodoma<br />
                Simu Nambari: 2963101,<br />
                @*Fax: 255-26-2963109,<br />
                Email Address: ps@mof.go.tz<br />
                Website: www.mof.go.tz<br />*@
                (Mawasiliano yote ya kiofisi yaandikwe kwa<br />
                Katibu Mkuu Hazina<br />
                na sio kwa mtu binafsi).<br />
                <b>Unapojibu tafadhali taja:</b>
            </div>
            <div class="col-xs-offset-0 col-xs-4">
                <img src="@Server.MapPath("~/Media/Images/log.png")" />
            </div>
            <div class="col-xs-3">
                Mji wa Serikali - Mtumba,<br />
                Mtaa wa Hazina,<br />
                S.L.P 2802<br />
                <strong>40468 DODOMA</strong><br />
                TANZANIA<br />
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="col-xs-4">
                <strong>Ref. No. @Model.ReferenceNo</strong>
            </div>
            <div class="col-xs-offset-5 col-xs-3">
                <p>
                    <strong>@DateTime.Now.ToString("dd MMMM, yyyy")</strong>
                </p>
            </div>
        </div>

        @if (Model.VoteCode == "21" || Model.VoteCode == "23" || Model.VoteCode == "50")
        {
            if (Model.VoteCode != Model.VoteName)
            {
                <div class="row" style="padding-top: 20px">
                    <div class="col-xs-12">
                        <p>@Model.VoteCode,</p>
                        <p>@Model.VoteName,</p>
                        <p>P.O.Box @Model.WorkflowName</p>
                        <p><strong>@Model.WorkflowName</strong></p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row" style="padding-top: 20px">
                <div class="col-xs-12">
                    @Model.DestinationRole,<br />
                    @Model.DestinationRole,<br />
                    P.O.Box @Model.DestinationJobTitle<br />
                    <strong>@Model.DestinationJobTitle</strong><br />
                </div>
            </div>
        }
        <div class="row" style="padding-top: 20px">
            <div class="col-xs-12">
                <strong>RE: @Model.SourceFullName</strong>
            </div>
        </div>

        <div class="row" style="padding-top: 20px">
            <div class="col-xs-12">
                <p style="text-indent: 50px">
                    Reference is made to the above subject and your @Model.SourceUserName.ToLower()
                    request with reference <strong>@Model.SourceUserName</strong> made through the system on
                    <strong>@Html.DisplayFor(model => model.CreatedAt, "_LongDateTime")</strong>.
                </p>
            </div>
            <div class="col-xs-12" style="padding-top: 10px">
                <p style="text-indent: 50px">
                    This notification serves as confirmation that,
                    your fund request to
                    @if (Model.InstitutionCode == "Transfer Request")
                    {
                        <span>
                            transfer <strong>@Model.OperationalCurrency. @Html.DisplayFor(model => model.OperationalAmount, "_DecimalThousands")</strong>
                            for the project @Model.OperationalCurrency funded by @Model.DestinationJobTitle - @Model.SourceUserName,
                            from A/C <strong>@Model.BaseCurrency</strong> @Model.ConfirmedBy to A/C <strong>@Model.DestinationJobTitle</strong> @Model.FinancialYear Bank,
                        </span>
                    }
                    else if (Model.DestinationJobTitle == "Expenditure Request")
                    {
                        <span>
                            spend <strong>@Model.DestinationJobTitle. @Html.DisplayFor(model => model.OperationalAmount)</strong>
                            for the project @Model.DestinationJobTitle funded by @Model.DestinationFullName - @Model.DestinationFullName,
                            from A/C <strong>@Model.DestinationJobTitle</strong>,
                            @*from A/C <strong>@Model.PayerAccount</strong> @Model.PayerBankName,*@
                        </span>
                    }
                    else
                    {
                        <span>
                            pay @Model.DestinationUserName <strong>@Model.SourceUserName. @Html.DisplayFor(model => model.OperationalAmount, "_DecimalThousands") </strong>
                            for the project @Model.DestinationUserName funded by @Model.WorkflowName - @Model.DestinationFullName,
                        </span>
                    }
                    has been approved. Please note that, this approval will be used to the said amount only.
                    Subsequent fund requests are subjected to full utilization of this funds and feedbacks on the task performed.
                </p>
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col-xs-12">
                <p style="text-indent: 50px">
                    Thank you for your cooperation.
                </p>
            </div>
        </div>

        <div class="row" style="text-align: center; padding-top: 30px">
            <div class="col-xs-12">
                <p>@Model.DestinationFullName</p>
                <strong>@Model.SourceUserName</strong>
            </div>
        </div>

        @if (Model.VoteCode != "21" || Model.VoteCode != "23" || Model.VoteCode != "50")
        {
            if (Model.SourceUserName != Model.DestinationUserName)
            {
                <div class="row" style="padding-top: 30px">
                    <div class="col-xs-1">
                        C.C:
                    </div>
                    <div class="col-xs-11">
                        @Model.DestinationJobTitle,<br />
                        @Model.DestinationJobTitle<br />
                        P.O.Box @Model.InstitutionCode,<br />
                        @Model.DestinationJobTitle.<br />
                    </div>
                </div>
            }
        }

        @if (Model.BaseCurrency == "TANZTZTX" || string.IsNullOrEmpty(Model.ConfirmedBy))
        {
            <div class="row" style="padding-top: 30px">
                <div class="col-xs-1">
                    C.C:
                </div>
                <div class="col-xs-11">
                    Governor,<br />
                    Bank of Tanzania<br />
                    P.O.Box 2939,<br />
                    11884 Dar es Salaam.<br />
                </div>
            </div>
        }

        @*<div style="padding-top: 30px; text-align: center">
                <img src="@Server.MapPath("~/Content/img/SENSA-LOGO-2022-4.png")" width="100" height="100" />
            </div>

            <div style="padding-top: 10px; text-align: center">
                <h6>Jiandae kuhesabiwa Siku ya Jumanne tarehe 23 Agosti, 2022</h6>
            </div>*@

    </div>
</div>
