
@{
    ViewBag.Title = "Client List Reports";
    ViewBag.Description = "form wizards";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>


<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Client List Reports Parameters</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group" id="ClientSearch">
                                    <div class="control-label col-md-2">
                                        Client Type
                                    </div>
                                    <div class="col-md-5">
                                        <select name="ClientType" id="ClientType" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Client Type -- </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="YearName">
                                    <div class="control-label col-md-2">
                                        Client Category
                                    </div>
                                    <div class="col-md-5">
                                        <select name="ClientCategory" id="ClientCategory" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Client Category -- </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="YearName">
                                    <div class="control-label col-md-2">
                                        Region
                                    </div>
                                    <div class="col-md-5">
                                        <select name="Region" id="Region" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Region -- </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="YearName">
                                    <div class="control-label col-md-2">
                                        Report Type
                                    </div>
                                    <div class="col-md-5">
                                        <select name="ListBy" id="ListBy" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Report Type -- </option>
                                            <option value="RegisteredClients"> Registered Clients </option>
                                            <option value="ClientsAuditDueDate"> Clients Audit Due Date </option>
                                            <option value="ClientsSubmmitedDraft"> Clients Submmited Draft </option>
                                            <option value="ClientsAllocatedtoAuditor"> Clients Allocated to Auditor </option>
                                            <option value="ClientsUnallocated"> Clients Unallocated </option>
                                            <option value="ClientsAudited"> Clients Audited </option>
                                            <option value="EngagementSubmittedForReview"> Clients Engagement Submitted for Review </option>
                                            <option value="ClientEngagementAllocatedToAuditor"> Clients Engagement Allocated to Auditor </option>
                                            <option value="ClientEngagementReviewed"> Clients Engagement Reviewed </option>
                                            <option value="ClientEngagementReallocated"> Clients Engagement Reallocated </option>
                                            <option value="ClientEngagementApprovalSubmitted"> Clients Engagement Submitted for Approval </option>
                                            <option value="AnnualAuditPlan"> Clients Annual Audit Plan </option>
                                            <option value="ClientEngagementAllocatedToPSList"> Clients Engagement Allocated to PS </option>
                                            <option value="ClientEngagementSentToRCASList"> Clients Engagement Sent to RCAS </option>
                                            <option value="ClientAuditedReportDispatchedList"> Dispatched Clients Audited Report </option>
                                            <option value="ClientAuditedOpinionList"> Clients Audited Opinion </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Start Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="StartDate" id="StartDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        End Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="EndDate" id="EndDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="ClientRegisterRPT()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>
        getClientType();
        getRegion();
        function ClientRegisterRPT() {
            var clientType = $("#ClientType").val(),
                clientCategory = $("#ClientCategory").val(),
                region = $("#Region").val(),
                listBy = $("#ListBy").val(),
                startDate = $("#StartDate").val().trim(),
                endDate = $("#EndDate").val().trim(),
                url = "";

            if (listBy === "RegisteredClients") {
                url = "@ViewBag.UrlName" + "ClientRegisteredListRPT.aspx";
            }
            if (listBy ==="ClientsAuditDueDate") {
                url = "@ViewBag.UrlName" + "ClientDueDateListRPT.aspx";
            }
            if (listBy ==="ClientsSubmmitedDraft") {
                url = "@ViewBag.UrlName" + "ClientSubmittedDraftListRPT.aspx";
            }
            if (listBy ==="ClientsAllocatedtoAuditor") {
                url = "@ViewBag.UrlName" + "ClientAllocatedToAuditorListRPT.aspx";
            }
            if (listBy ==="ClientsUnallocated") {
                url = "@ViewBag.UrlName" + "ClientUnallocatedListRPT.aspx";
            }
            if (listBy === "ClientsAudited") {
                url = "@ViewBag.UrlName" + "ClientAuditedListRPT.aspx";
            }
            if (listBy === "EngagementSubmittedForReview") {
                url = "@ViewBag.UrlName" + "ClientEngagementSubmittedListRPT.aspx";
            }
            if (listBy === "ClientEngagementAllocatedToAuditor") {
                url = "@ViewBag.UrlName" + "ClientEngagementAllocatedToAuditorListRPT.aspx";
            }
            if (listBy === "ClientEngagementReviewedList") {
                url = "@ViewBag.UrlName" + "ClientEngagementReviewedListRPT.aspx";
            }
            if (listBy === "ClientEngagementReallocatedList") {
                url = "@ViewBag.UrlName" + "ClientEngagementReallocatedListRPT.aspx";
            }
            if (listBy === "ClientEngagementApprovalSubmittedList") {
                url = "@ViewBag.UrlName" + "ClientEngagementApprovalSubmittedListRPT.aspx";
            }
            if (listBy === "AnnualAuditPlan") {
                url = "@ViewBag.UrlName" + "AnnualAuditPlanListRPT.aspx";
            }
            if (listBy === "ClientEngagementAllocatedToPSList") {
                url = "@ViewBag.UrlName" + "ClientEngagementAllocatedToPSListRPT.aspx";
            }
            if (listBy === "ClientEngagementSentToRCASList") {
                url = "@ViewBag.UrlName" + "ClientEngagementSentToRCASListRPT.aspx";
            }
            if (listBy === "ClientAuditedReportDispatchedList") {
                url = "@ViewBag.UrlName" + "ClientAuditedReportDispatchedListRPT.aspx";
            }
            if (listBy === "ClientAuditedOpinionList") {
                url = "@ViewBag.UrlName" + "ClientAuditedOpinionListRPT.aspx";
            }

            var isNotSupplied = validateReportParameters(["#ClientType", "#ClientCategory", "#Region", "#ListBy", "#StartDate", "#EndDate"]);

            if (isNotSupplied)
                $(isNotSupplied).attr("style", "border: 1px solid red");
            else
            {
                var queryString = "clientTypeId=" + clientType + "&clientCategoryId=" + clientCategory + "&regionId=" + region + "&startDate=" + startDate + "&endDate=" + endDate;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Report")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(url + response);
                    }
                });
            }
        }


        $("#ClientType").change(function () {
            var ClientTypeId = $(this).val();
            var url = "GetClientCategory/?ClientTypeId=" + ClientTypeId;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#ClientCategory").empty();
                    $("#ClientCategory").append(response);
                }
            });
        });


        function validateReportParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i]).attr("style", "border: 1px solid #ccc");
                }
            }
            resetStyle(parameterList);

            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val().trim()) {
                    return parameterList[i];
                }
            }
            return null;
        }


        function getClientType() {
            var url = "GetClientType/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#ClientType").empty();
                    $("#ClientType").append(response);
                }
            });
        }
        function getRegion() {
            var url = "GetRegions/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Region").empty();
                    $("#Region").append(response);
                }
            });
        }


    </script>
}