@model IFMIS.Areas.IFMISTZ.Models.GepgPmtNotfInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GepgPmtNotfInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubSpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubSpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollCentreCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollCentreCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollCentreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollCentreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpSysId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpSysId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillCtrNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillCtrNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillGenDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillGenDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillExprDt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillExprDt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpBillId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpBillId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayCtrNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayCtrNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillEqvAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillEqvAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillMiscAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillMiscAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillPayOpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillPayOpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ccy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ccy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CcyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CcyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrxDtTm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrxDtTm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsdPayChnl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsdPayChnl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PspCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PspCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PspName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PspName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PspTrxId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PspTrxId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollAccNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollAccNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CtrAccNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CtrAccNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayRefId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayRefId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyrName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyrName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PyrCellNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PyrCellNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VoteCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VoteCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlAccountReceivable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlAccountReceivable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalTypeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalTypeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JournalTrxNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalTrxNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlQueueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlQueueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XmlData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XmlData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSentToMuse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSentToMuse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GepgPmtNotfInfoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
