@model IFMIS.Areas.IFMISTZ.Models.InstitutionSubLevel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }

    th {
        text-align: center;
    }
</style>
<!-- widget grid -->
<section id="widget-grid" class="">


    <!-- START ROW -->

    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget col-sm-8" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-collapsebutton="false" style="top:50px; width:100%;padding-left:10px;padding-right:10px;">


                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                    <h2 style="color:black;">InstitutionSubLevel Creation.</h2>

                </header>
                <div>
                    <div class="widget-body" style="padding-top:10px; width:100%;">
                     
                        <table style="width:100%;">
                            <tr>
                                <td colspan="1">
                                   
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()
                                         @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div style="padding-left:17%">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right">Institution Category:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        <select id="category" name="InstitutionCat" , style="width:300px; " Class="input" required="required">
                                                            <option value="1">VOTE</option>
                                                            <option value="2">AGENCY</option>
                                                            <option value="3">COUNCIL</option>
                                                            <option value="4">INDEPENDENT</option>
                                                            <option value="5">LOCAL GOVERNMENT AUTHORITY</option>
                                                            <option value="6">SUB TREASURY OFFICES</option>
                                                            <option value="7">Embassy/Commission</option>
                                                        </select>
                                                        @*@Html.DropDownList("InstitutionCode", ViewBag.InstitutionCode as SelectList, "", new { @Class = "input", style = "width:300px;" })*@
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right">Institution:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        <select id="instcat" style="width:300px;" name="InstitutionId" class="input" required="required"></select>
                                                        @*@Html.DropDownList("InstitutionCode", ViewBag.InstitutionCode as SelectList, "", new { @Class = "input", style = "width:300px;" })*@
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right">SubLevel Category:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">

                                                        <select id="subLevelCode" name="SubLevelCategory" style="width:300px;" class="input" required="required"></select>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label" style="text-align:right">SubLevel Code:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        <select id="SubLevelCategory" name="SubLevelCode" style="width:300px;" class="input" required="required"></select>
                                                        @*@Html.DropDownList("SubLevelCode", ViewBag.sublevelcode as SelectList, "", new { @Class = "input", style = "width:300px;" })*@
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-3 control-label" name="SubLevelDesc" style="text-align:right">SubLevel Description:</label>
                                                <div class="col-md-9 inputGroupContainer">
                                                    <div class="input-group">
                                                        @Html.TextAreaFor(model => model.SubLevelDesc, new { id = "desc", @Class = "input", rows = "3", style = "width:300px;", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <a href='@Url.Action("SubLevel", "InstitutionSubLevels")' class="btn btn-info" style="   width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button type="submit" name="submit" id="submit" class="btn action-btn btn btn-info">
                                                            <i class="fa fa-save"></i>
                                                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                     </td>
                                <td colspan="1"></td>
                            </tr>
                        </table>

                    </div>
                  
                </div>
            </div>
        </article>
    </div>
</section>

@section pagespecific{

    <script>

        if ('@TempData["Success"]' == 'Success') {
            swal("Saved Successfully!", { icon: 'success' })
                 .then(Ok=> {
                     window.location.href = '@Url.Action("SubLevel", "InstitutionSubLevels")';
                 });
        } else if ('@TempData["Success"]' == 'No') {

            swal("This Sub Level already Created!!")

        };

        $("form").submit(function () {
            $("#saveLoader").toggle(true);
            $('#submit').attr("disabled", true);
        });

        $("#saveLoader").toggle(false);
        $("#submit").prop('disabled', false);


        function getinstitutioncat(code) {
            var option = [];
            $.ajax({
                url: '@Url.Action("GetInstitution", "InstitutionSubLevels")/?code=' + code + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach(d=> {      
                        option.push('<option value=' + d["Value"] + '>'+ d["Text"] + '</option>');
                    });
                    option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                    $("#instcat").html(option);
                }
            })
        }
        function GetSublevelcat(code) {
            var option = [];
            var value = 0;
            $.ajax({
                url: '@Url.Action("GetSublevel", "InstitutionSubLevels")/?code=' + code + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach(d=> {
                        value = d["Value"];
                        option.push('<option value=' + d["Value"] + '>' + d["Text"] + '</option>');
                    });
                    option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                    $("#subLevelCode").html(option);
                    if (data.length==1 || data.length==4 || data.length==5) {
                        var name = $("#subLevelCode :selected").text();
                        getSubLevelCodes(name);
                    }

                    var name = $("#subLevelCode :selected").text();
                    getSubLevelCodes(name);
                    console.log(name)
                }
            })
        }

      

        $("#category").change(function () {
            var code = $(this).val();
            getinstitutioncat(code);
            GetSublevelcat(code);
        });

        function init() {
            var code = $("#category").val();
            getinstitutioncat(code);
            GetSublevelcat(code);
        }
        init();

        $("#subLevelCode").change(function () {
            var name = $("#subLevelCode :selected").text();
            getSubLevelCodes(name);
           $("#desc").val($("#SubLevelCategory option:selected").text().split("-")[1]);
        });

        $("#SubLevelCategory").change(function () {
            //var name = $("#subLevelCode :selected").text();
           $("#desc").val($("#SubLevelCategory option:selected").text().split("-")[1]);
        });
    



        // getSubLevelCodes(3);
        function getSubLevelCodes(name) {
            var option = [];
            $.ajax({
                url: '@Url.Action("GetSubLevelCode", "InstitutionSubLevels")/?name=' + name + '',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    data.forEach(d=> {
                        option.push('<option value=' + d["Value"] + '>' + d["Text"] + '</option>');
                    });
                    option = option.toString().replace(",", "").replace("[", "").replace("]", "");
                    $("#SubLevelCategory").html(option);
                    $("#desc").val($("#SubLevelCategory option:selected").text().split("-")[1]);
                }
            })
        }



        //});

    </script>
}

