@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.DeductionCurrentBunge>
@{
    ViewBag.Title = "Deduction Current";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divLoader"></div>
<div id="content">
    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> @ViewBag.Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <a style="margin-bottom:20px" onclick="importDeductions()" class="btn btn-info">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Import
                            </a>
                            <table class="table table-bordered table-condensed" id="tblDataList">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Employee
                                        </th>
                                        <th>
                                            First Name
                                        </th>
                                        <th>
                                            Middle Name
                                        </th>
                                        <th>
                                            Last Name
                                        </th>
                                        <th>
                                            Ded Code Description
                                        </th>
                                        <th style="text-align: right">
                                            Ded Amount
                                        </th>
                                        <th style="text-align: right">
                                            Balance Mount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMPLOYEE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FIRST_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MIDDLE_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LAST_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DED_CODE_DESC)
                                            </td>
                                            <td style="text-align: right">
                                                @Html.DisplayFor(modelItem => item.DED_AMOUNT)
                                            </td>
                                            <td style="text-align: right">
                                                @Html.DisplayFor(modelItem => item.BALANCE_AMOUNT)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tblDataList").DataTable({
                "scrollX": false
            });
        });

        var importDeductions = function () {

            var url = '@Url.Action("ImportDeduction", "DeductionCurrents")';

            $("#divLoader").show();

            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    $("#divLoader").hide();
                    if (response == "success") {
                        swal({
                            text: "Deductions successfully imported!",
                            icon: "success",
                            button: "OK",
                        }).then(function () {
                            location.reload();
                        });
                    } else if (response == "not exist") {
                        swal({
                            text: "No Deductions for this month yet!",
                            icon: "info",
                            button: "OK",
                        }).then(function () {                 
                        });
                    }
                    else {
                        swal({
                            text: "Unknown error, contact system admin!",
                            icon: "info",
                            button: "OK",
                        }).then(function () {
                        });                  
                    };
                },
                error: function (response) {
                    $("#divLoader").hide();
                    swal({
                        text: "Unknown error, contact system admin!",
                        icon: "info",
                        button: "OK",
                    }).then(function () {
                    });
                }
            });
        };

    </script>
}
