@model IEnumerable<GEFTP.Models.DeductionCurrent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoteDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.DedCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DedCodeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DedAmountEmployer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxWages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WageAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalanceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualBalanceAmount)
        </th>       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.DedCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DedCodeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DedAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DedAmountEmployer)
        </td>        
    </tr>
}

</table>
