@{
    ViewBag.Title = " Imprest Retirement Examination";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search], input[type=text] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    td {
        padding: 5px;
    }
      .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_imprest_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Imprest No</th>
                                        <th>Retirement No</th>
                                        <th>Payee Code</th>
                                        <th>Payee Name</th>
                                        <th>Impres Type</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">

    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Imprest Information</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="payee-entry">
                            <div class="entry-label">Payee Details</div>
                            <div style="padding-left:20px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>1. Payee Name: </th>
                                                <td id="_Payeename"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Payee Code:</th>
                                                <td id="_PayeeCode"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table>
                                            <tr>
                                                <th>3. Payee Bank Name:</th>
                                                <td id="_PayeeBankName"></td>
                                            </tr>
                                            <tr>
                                                <th>4. Payee Address:</th>
                                                <td id="_PayeeAddress"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="payee-entry">
                            <div class="entry-label">Imprest Entries</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>1. Description: </th>
                                                <td id="Description1"></td>
                                            </tr>
                                            <tr>
                                                <th>2. Apply Date:</th>
                                                <td id="ApplyDate1"></td>
                                            </tr>
                                            <tr>
                                                <th>3. Retirement Date:</th>
                                                <td id="RetirementDate1"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="padding-left:20px">
                                        <table>
                                            <tr>
                                                <th>4. Imprest Type:</th>
                                                <td id="ImprestType1"></td>
                                            </tr>
                                            <tr>
                                                <th>5. Sub Budget Class:</th>
                                                <td id="SubBudgetClass1"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <table id="dt_voucher_detail2" class="table table-striped table-bordered table-hover table-condensed" width="100%"></table>
                        <div class="total-amount">TOTAL <strong id="totalAmount">0.00</strong></div>
                        <table>
                            <tr>
                                <td><strong style="color:#2196F3">Status:</strong> <i id="statusId">-</i></td>
                            </tr>
                        </table>
                        <table id="dt_imprest_item" class="table table-striped table-bordered table-hover table-condensed table-view-details" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="9" style="text-align:center">Imprest Items</th>
                                </tr>
                                <tr>
                                    <th rowspan="2">#</th>
                                    <th rowspan="2">Item Name</th>
                                    <th rowspan="2">Item Desc</th>
                                    <th colspan="3" style="text-align:center">Imprest</th>
                                    <th colspan="3" style="text-align:center">Retirement</th>
                                </tr>
                                <tr>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                    <th>Total price</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                    <th>Total price</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="accept('x')">
                        <i class="fa fa-check"></i>Accept
                    </button>
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;" onclick="reject('x')">
                        <i class="fa  fa-times-circle"></i> Reject
                    </button>
                    <button class="btn btn-info btn-150" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section pagespecific{
    <script>
        // ============ INIT DATA TABLES START =====================
        var dt_imprest_listing = $('#dt_imprest_listing').dataTable({
            "fnDrawCallback": function (oSettings) {
                $(".loading-gif").toggle(false)
            }
        });

        $("#dt_imprest_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_imprest_listing.DataTable().search(this.value).draw();
        });

        var dt_payee_details = $('#dt_payee_details').dataTable({
            'sDom': 't',
            "autoWidth": false,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "columns": [
                { title: "Payee Name" },
                { title: "Payee code" },
                { title: "Bank Name" },
                { title: "Bank Account No" },
                { title: "Address" }]
        });

        var dt_imprest_item = $('#dt_imprest_item').dataTable({
            'sDom': 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": []
        });

        var dt_voucher_detail = $('#dt_voucher_detail').dataTable({
            'sDom': 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "Expenditure Line Item" },
                { title: "Item Description" },
                { title: "Funding Reference" },
                { title: "Expense Amount" }
            ]
        });
        var dt_voucher_detail2 = $('#dt_voucher_detail2').dataTable({
            'sDom': 't',
            "autoWidth": true,
            "searching": false,
            "bPaginate": false,
            "info": false,
            "data": [],
            "columns": [
                { title: "#" },
               // { title: "Retirement Date" },
                { title: "Expenditure Gl Account" },
                { title: "Cash Receipt Gl Account" },
                { title: "Cash ReceiptBank Account" },
                { title: "Receivable Gl Account" },
                { title: "DepositRef" },
                { title: "Expenditure Amount" },
                //{ title: "Cash Receipt Amount" },
                { title: "Receivable Amount" },
                { title: "ImprestRetirementType" },
            ]
        });
        // ********************** INIT DATA TABLES END **********************


        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        var globalPayeeId = null;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetRetiredImprestExaminer", "ImprestRetirement")/?retirementStatus=Confirmed',
            contenttype: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                data = response.data;
                console.log(data);
                dt_imprest_listing.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    dt_imprest_listing.fnAddData([i,
                        data[i]["ImprestNo"],
                        data[i]["RetirementNo"],
                       data[i]["PayeeCode"],
                       data[i]["PayeeName"],
                       data[i]["ImprestTypeDesc"],
                       data[i]["OperationalAmount"].toLocaleString(),
                       data[i]["RetirementStatus"],
                        '<div class="btn-group" id="drop-' + i + '">\
                          <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                           </button>\
                         <ul class="dropdown-menu">\
                             <li><a href="#" onclick= "openViewDialog(' + i + ')">Details</a></li>\
                             <li><a href="#" onclick="viewAttachment(' + i + ')">View Attachment</a></li>\
                             <li><a href="#" onclick="reject(' + i + ')">Reject</a></li>\
                             <li><a href="#" onclick="accept(' + i + ')">Examine</a></li>\
                        </ul>\
                  </div>\
                   <img src="/Content/img/loading.gif" id="saveLoader-' + i + '" class="loading-gif"/>'
                    ]);
                    $("#saveLoader-" + i + "").toggle(false)
                }
            },
            failure: function (error) {
                swal(error);
            }
        });


        // =============== OPEN VIEW DIALOG START ==================
        /**
        * Show View Dialog
        * param  {Int} i - Id of the selected Item
        */
        function openViewDialog(i) {
            globalPayeeId = i;

            var ids = data[i]["ImprestId"];
            var impresttype = data[i]["ImprestTypeDesc"];

            if (impresttype == "Micro Value") {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("GetImprestRetirementItems", "ImprestRetirement")',
                    data: { id: ids },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        itemdata = response.data;
                        if (itemdata.length > 0) {
                            dt_imprest_item.fnClearTable();
                            var totalPrice = 0, totalRetirementPrice = 0;
                            for (var j = 0; j < itemdata.length; j++) {
                                totalPrice += itemdata[j]["TotalAmount"];
                                totalRetirementPrice += itemdata[j]["RetirementTotalAmount"];
                                dt_imprest_item.fnAddData([
                                    j + 1,
                                    itemdata[j]["ItemName"],
                                    itemdata[j]["ItemDescription"],
                                    itemdata[j]["Quantity"],
                                    itemdata[j]["UnitPrice"].toLocaleString(),
                                    itemdata[j]["TotalAmount"].toLocaleString(),
                                    itemdata[j]["RetirementQuantity"],
                                    itemdata[j]["RetirementUnitPrice"].toLocaleString(),
                                    itemdata[j]["RetirementTotalAmount"].toLocaleString()
                                ]);
                            }
                            var footerRow = $('<tr>');

                            // Add footer cells with calculated values
                            footerRow.append('<td></td>');
                            footerRow.append('<td colspan="4">Total</td>');
                            footerRow.append('<td>' + totalPrice.toLocaleString() + '</td>');
                            footerRow.append('<td></td>');
                            footerRow.append('<td></td>');
                            footerRow.append('<td>' + totalRetirementPrice.toLocaleString() + '</td>');

                            // Append the footer row to the DataTable
                            $('#dt_imprest_item tbody').append(footerRow);
                            $("#dt_imprest_item").show();
                        }
                        else {
                            $("#dt_imprest_item").hide();
                        }

                    },
                    failure: function (error) {
                        swal(error);
                    }
                });
                $("#_Payeename").text(data[i]["PayeeName"]);
                $("#_PayeeCode").text(data[i]["PayeeCode"]);
                $("#_PayeeBankName").text(data[i]["PayeeBankName"]);
                $("#_PayeeAddress").text(data[i]["PayeeAddress"]);

                dt_voucher_detail.fnClearTable();
                var TotalAmount = 0;
                var imprestDetailsIds = [];
                dt_voucher_detail.fnClearTable();
                data[i]["ImprestDetails"].forEach(row => {
                    dt_voucher_detail.fnAddData([
                        row["ExpenditureGlAccount"].split("|").join("-"),
                        row["ExpenditureGlAccountDesc"],
                        row["FundingRef"],
                        row["IssuedAmount"].toLocaleString(),
                    ]);
                    TotalAmount = TotalAmount + parseFloat(row["IssuedAmount"]);
                    imprestDetailsIds.push(row["ImprestDetailId"]);
                });

                loadImprestRetiredDetails(imprestDetailsIds);
                $("#Description1").text(data[i]["Description"]);
                $("#totalAmount").text(TotalAmount.toLocaleString() + ".00");
                $("#reasonId").text(data[i]["Remark"] ? data[i]["Remark"] : "-");
                $("#statusId").text("Overal:- " + data[i]["OverallStatus"] + " | Retirement:- " + data[i]["RetirementStatus"]);
                $("#InvoiceNo1").text(data[i]["InvoiceNo"]);
                $("#total_voucher_amount1").val(data[i]["OperationalAmount"]);
                $("#RetirementDate1").text(data[i]["RetirementDateFormatted"]);
                $("#ApplyDate1").text(data[i]["ApplyDateFormatted"]);
                $("#ImprestType1").text(data[i]["ImprestTypeDesc"]);
                $("#SubBudgetClass1").text(data[i]["SubBudgetClass"]);
                $('#confirmModal').modal('show');
            }
            else {
                $("#dt_imprest_item").hide();
                $("#_Payeename").text(data[i]["PayeeName"]);
                $("#_PayeeCode").text(data[i]["PayeeCode"]);
                $("#_PayeeBankName").text(data[i]["PayeeBankName"]);
                $("#_PayeeAddress").text(data[i]["PayeeAddress"]);

                dt_voucher_detail.fnClearTable();
                var TotalAmount = 0;
                var imprestDetailsIds = [];
                dt_voucher_detail.fnClearTable();
                data[i]["ImprestDetails"].forEach(row => {
                    dt_voucher_detail.fnAddData([
                        row["ExpenditureGlAccount"].split("|").join("-"),
                        row["ExpenditureGlAccountDesc"],
                        row["FundingRef"],
                        row["IssuedAmount"].toLocaleString(),
                    ]);
                    TotalAmount = TotalAmount + parseFloat(row["IssuedAmount"]);
                    imprestDetailsIds.push(row["ImprestDetailId"]);
                });

                loadImprestRetiredDetails(imprestDetailsIds);
                $("#Description1").text(data[i]["Description"]);
                $("#totalAmount").text(TotalAmount.toLocaleString() + ".00");
                $("#reasonId").text(data[i]["Remark"] ? data[i]["Remark"] : "-");
                $("#statusId").text("Overal:- " + data[i]["OverallStatus"] + " | Retirement:- " + data[i]["RetirementStatus"]);
                $("#InvoiceNo1").text(data[i]["InvoiceNo"]);
                $("#total_voucher_amount1").val(data[i]["OperationalAmount"]);
                $("#RetirementDate1").text(data[i]["RetirementDateFormatted"]);
                $("#ApplyDate1").text(data[i]["ApplyDateFormatted"]);
                $("#ImprestType1").text(data[i]["ImprestTypeDesc"]);
                $("#SubBudgetClass1").text(data[i]["SubBudgetClass"]);
                $('#confirmModal').modal('show');
            }

        }

        function loadImprestRetiredDetails(Ids) {
            var url = '@Url.Action("GetRetiredImprestDetails", "ImprestRetirement")';
            $.ajax({
                type: "post",
                url: url,
                data: { "imprestDetialIds": Ids},
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    d = response.data;
                    console.log(d);
                    dt_voucher_detail2.fnClearTable();
                    for (var i = 0; i < d.length; i++) {
                        dt_voucher_detail2.fnAddData([i,
                          // d[i]["RetirementDate"],
                           d[i]["ExpenditureGlAccount"].split("|").join("-"),
                           d[i]["CashReceiptGlAccount"].split("|").join("-"),
                           d[i]["CashReceiptBankAccount"].split("|").join("-"),
                           d[i]["ReceivableGlAccount"].split("|").join("-"),
                           d[i]["DepositRef"],
                           d[i]["ExpenditureAmount"],
                           //d[i]["CashReceiptAmount"],
                           //d[i]["CashReceiptAmount"],
                           //d[i]["ExpenditureAmount"],
                           d[i]["ReceivableAmount"],
                           d[i]["ImprestRetirementType"],
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }


        // *************** END SHOW VIEW DIALOG ********************

        //======================== REJECT START ==============================
        /**
        * Show Rejection Dialog
        * param  {Int} i - Id of the selected Item
        */
        function reject(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmRejection(data[i]["ImprestId"], remark);
                };
            });
            $('#confirmModal').modal('hide');
        }

        /**
         * Send Rejection signal to the backend
         * param  {Int} i - Id of the selected Item
         */
        function confirmRejection(Id, remark) {
            var url = '@Url.Action("RejectRetiredImprestExaminer", "ImprestRetirement")';
            $.ajax({
                type: "post",
                url: url,
                data: { "ImprestId": Id, "Remark": remark },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: 'success' }).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        //********************* REJECT END *************************


        //=================== ACCEPT START =========================
        /**
        * Show Accept Dialog
        * param  {Int} i - Id of the selected Item
        */
        function accept(i) {
            if (i == 'x') i = globalPayeeId;
            swal({
                title: 'Mark this Imprest as Examined?',
                text: "This Process cannot be undone",
                buttons: [
                  'No',
                  'Yes'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $("#saveLoader-" + i + "").toggle(true)
                    $("#drop-" + i + "").toggle(false)
                    confirmAcceptance(data[i]["ImprestId"]);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        /**
        * Send Acceptance signal to the backend
        * param  {Int} i - Id of the selected Item
        */
        function confirmAcceptance(i) {
            $.ajax({
                type: "post",
                url: '@Url.Action("ExamineRetiredImprest", "ImprestRetirement")',
                data: { "ImprestId": i },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Examined Successfully!",{icon: 'success'}).then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal("An error occured while processing your request, contact system support");
                }
            });
            $('#confirmModal').modal('hide');
        }
        // **************** ACCEPT END **************************

        function viewAttachment(i) {
            window.location.href =
                '@Url.Action("AttachmentView", "PaymentVoucherAttachments")/?groupId=' + data[i]["ImprestId"] + '&&sourceModule=' + "Imprest";
        }
    </script>
}
