@model IFMIS.Areas.IFMISTZ.Models.ChangeBankAccountVM
@{
    ViewBag.Title = "Entry Change Bank Account";
}

<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Change Bank Account</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div align="center">
                                <img src="/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <input type="hidden" id="ContractId" name="ContractId" value="">
                            <input type="hidden" id="PurchaseOrderId" name="PurchaseOrderId" value="">
                            <input type="hidden" id="PayeeCode" name="PayeeCode" value="">
                            <input type="hidden" id="BankAccount" name="BankAccount" value="">
                            <input type="hidden" id="PayeeDetailId" name="PayeeDetailId" value="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SourceModule, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownList("SourceModule", new List<SelectListItem>{
                                new SelectListItem{ Text="--Select--", Value = "" },
                                new SelectListItem{ Text="Contract", Value = "Contract" },
                                new SelectListItem{ Text="Local Purchase Order", Value = "LPO" },
                        }, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(model => model.ChangeDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.ChangeDescription, new { htmlAttributes = new { @class = "form-control", @required = "required", @autocomplete = "off", @maxlength = 250, @placeholder = "Reason for change" } })
                                    @Html.ValidationMessageFor(model => model.ChangeDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" id="contract_field" style="display:none">
                                <label class="col-md-2 control-label">Contract</label>
                                <div class="col-md-3">
                                    <div class="input-group">

                                        <span class="input-group-addon" onclick="SearchContract()"><i class="fa fa-search"></i></span>
                                        @Html.EditorFor(model => model.ContractNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search", autocomplete = "off", @onclick = "SearchContract()" } })
                                        @Html.ValidationMessageFor(model => model.ContractNo, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <label class="col-md-2 control-label">New Bank Account<sup></sup></label>
                                <div class="col-md-3">
                                    <div class="input-group">

                                        <span class="input-group-addon" onclick="SearchPayee()"><i class="fa fa-search"></i></span>
                                        @Html.EditorFor(model => model.NewBankName, new { htmlAttributes = new { @class = "form-control new_bank", @placeholder = "Search ", autocomplete = "off", @onclick = "SearchPayee()" } })
                                        @Html.ValidationMessageFor(model => model.NewBankName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="lpo_field" style="display:none">
                                <label class="col-md-2 control-label">Local Purchase Order</label>
                                <div class="col-md-3">
                                    <div class="input-group">

                                        <span class="input-group-addon" onclick="SearchLPO()"><i class="fa fa-search"></i></span>
                                        @Html.EditorFor(model => model.PurchaseOrderNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Search", autocomplete = "off", @onclick = "SearchLPO()" } })
                                        @Html.ValidationMessageFor(model => model.PurchaseOrderNo, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <label class="col-md-2 control-label"><sup>New Bank Account</sup></label>
                                <div class="col-md-3">
                                    <div class="input-group">

                                        <span class="input-group-addon" onclick="SearchPayee()"><i class="fa fa-search"></i></span>
                                        @Html.EditorFor(model => model.NewBankName, new { htmlAttributes = new { @class = "form-control new_bank", @placeholder = "Search", autocomplete = "off", @onclick = "SearchPayee()" } })
                                        @Html.ValidationMessageFor(model => model.NewBankName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                        </div>
                            }

                            <fieldset class="scheduler-border" style="display:none" id="contract_details">
                                <legend class="scheduler-border">Contract Details</legend>
                                <div id="contract_data">

                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border" style="display:none" id="new_account_details">
                                <legend class="scheduler-border">New Bank Account Details</legend>
                                <div id="account_data">

                                </div>
                            </fieldset>

                            <fieldset class="scheduler-border" style="display:none" id="lpo_details">
                                <legend class="scheduler-border">Local Purchase Order Details</legend>
                                <div id="lpo_data">

                                </div>
                            </fieldset>
                            <fieldset class="scheduler-border" style="display:none" id="new_account_details1">
                                <legend class="scheduler-border">New Bank Account Details</legend>
                                <div id="account_data1">

                                </div>
                            </fieldset>
                            <div class="col-md-offset-1">


                                <a href="@Url.Action("PendingAccountChange","ChangePayee")" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                &nbsp;
                                <button type="button" disabled class="btn btn-info" id="form_submision">
                                    <i class="fa fa-save"></i>Save
                                </button>
                            </div>
                            <br />
                            <br />
                            <br />







                        </div>





                    </div>


                </div>
            </article>

        </div>
    </section>

</div>
<!----------- Search  Contract----------------->
<div class="modal fade" id="search_contracts" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Contracts List</h3>
            </div>
            <div class="modal-body">

                <div>


                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container " style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search..." id="search_contract">
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <img src="/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                    </div>
                    <table id="dt_search_contract" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Contract Id</th>
                                <th>Contract</th>
                                <th>Bank Name</th>
                                <th>Payee Code</th>
                                <th>Currency</th>
                                <th>Bank Account Name</th>
                                <th>Bank Account</th>
                                <th>Contract Reg#</th>
                                <th>Contract Number</th>
                                <th>Contract Amount</th>
                                <th> Payee Name</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- Search  Local Purchase Order----------------->
<div class="modal fade" id="search_lpos" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Local Purchase Orders List</h3>
            </div>
            <div class="modal-body">

                <div>


                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container " style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search..." id="search_lpo">
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <img src="/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                    </div>
                    <table id="dt_search_lpo" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Purchase Order Id</th>
                                <th>Bank Name</th>
                                <th>Payee Code</th>
                                <th>Currency</th>
                                <th>Bank Account Name</th>
                                <th>Bank Account</th>
                                <th>Purchase Order No</th>
                                <th>Description</th>
                                <th>LPO Amount</th>
                                <th> Payee Name</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">


            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Payee Bank Account</h3>

            </div>
            <div class="modal-body">

                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PaymentId</th>
                            <th>BIC</th>
                            <th>Payee Name</th>
                            <th>Payee Code</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th>Payee Type</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------- Search Payee ----------------->
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        $("#SourceModule").change(function () {
            $(".new_bank").val("");
             $("#PayeeDetailId").val("");
            
                      $("#form_submision").prop('disabled', true);
                     var module = $(this).val();
                  if ($(this).val() == "Contract") {
                      $("#contract_field").show();
                      $("#lpo_field").hide();
                       $("#lpo_details").hide();
                       $("#new_account_details1").hide();
                      var contract_id = $("#ContractId").val();
                      if (contract_id) {
                          $("#contract_details").show();
                      }
                 

                  }
                  else if ($(this).val() == "LPO") {
                          $("#contract_field").hide();
                          $("#lpo_field").show();
                          $("#contract_details").hide();
                          $("#new_account_details").hide();
                        var lpo_id = $("#PurchaseOrderId").val();
                      if (lpo_id) {
                          $("#lpo_details").show();
                      }
                   

                  }
                  else {
                            $("#contract_field").hide();
                            $("#lpo_field").hide();
                            $("#contract_details").hide();
                            $("#new_account_details").hide();
                            $("#lpo_details").hide();
                            $("#new_account_details1").hide();
                  }
                  });
    // SEARCH CONTRACT
        var selectedContract = [];
        var glItemsCharges = [];
        var sum_total = 0;
                var dt_search_contract = $('#dt_search_contract').dataTable({
                    "aoColumnDefs": [{ "bVisible": false, "aTargets": [1, 2, 3,4,5,6,7] }],
                }
                );
                $("#dt_search_contract_wrapper .dt-toolbar").remove();
               $("#search_contract").on("keyup search input paste cut", function () {
                dt_search_contract.DataTable().search(this.value).draw();
               });



           var dt_search_payee = $('#dt_search_payee').dataTable({
               "aoColumnDefs": [{ "bVisible": false, "aTargets": [1, 2] }],
           });
             $("#dt_search_payee_wrapper .dt-toolbar").remove();


        function SearchContract() {
            $('#search_contracts').modal('show');
                    var url = '@Url.Action("GetContracts", "ChangePayee")';
                    $.ajax({
                        type: "get",
                        url: url,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            if (response == "NoContract") {
                              swal("No any contract satisfy to change Payee Bank Account");
                            }
                            else if (response == "DbException") {
                              swal("Db Exception,Please contact technical supporter ");
                            }
                            else {
                                data = response.data;
                                dt_search_contract.fnClearTable();
                                for (var i = 0; i < data.length; i++) {

                                    dt_search_contract.fnAddData([i + 1,
                                    data[i]["ContractId"],
                                    data[i]["ContractName"],
                                    data[i]["PayeeBankName"],
                                    data[i]["PayeeCode"],
                                    data[i]["Currency"],
                                    data[i]["PayeeAccountName"],
                                    data[i]["PayeeBankAccount"],
                                    data[i]["ContractNo"],
                                    data[i]["ContractNumber"],
                                    toLabel(data[i]["ContractAmount"]),
                                    data[i]["Payeename"],
                                    '<a href="#" onclick="contractClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                                    ]);
                                }
                            }
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
                 }
        function contractClicked(rowId) {
        var data = dt_search_contract.DataTable().rows().data();
            var row = data[rowId];
            $("#ContractId").val(row[1]);
            $("#ContractNo").val(row[8]);
            $("#PayeeCode").val(row[4]);
            $("#BankAccount").val(row[7]);
            $("#contract_details").show();
            $('#contract_data').empty();
            $('<div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number&nbsp;:</strong>&nbsp;' + row[9] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;' + row[4] + '</div></div>').appendTo('#contract_data');
            $('<div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Amount&nbsp;:</strong>&nbsp;' + toLabel(row[10]) + '/='+row[5]+'</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Bank&nbsp:</strong>&nbsp;' + row[3] + '</div></div>').appendTo('#contract_data');
            $('<div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Name&nbsp:</strong>&nbsp;' + row[2] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Account Name&nbsp;&nbsp:</strong>&nbsp;' + row[6] + '</div></div>').appendTo('#contract_data');
            $('<div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp:</strong>&nbsp;' + row[11] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Bank Account&nbsp;:</strong>&nbsp;' + row[7] + '</div></div>').appendTo('#contract_data');
            $("#search_contracts").modal("hide");
    }
    //END SEARCH CONTRACT

        //SEARCH BANK ACCOUNT
        function SearchPayee() {
            var payee_code = $("#PayeeCode").val();
            if (!payee_code) {
                var module = $("#SourceModule").val();
                if (module == "Contract") {
                 swal("Please select Contract first");
                } else {
                 swal("Please select Local Purchase Order first");
                }

                return false;
            }
            $('#payeeModal').modal('show');
            var form_data = {"payeeCode":payee_code}
                  var url = '@Url.Action("GetPayee", "ChangePayee")';
                            $.ajax({
                                type: "get",
                                url: url,
                                data:form_data,
                                contenttype: "application/json; charset=utf-8",
                                datatype: "json",
                                success: function (response) {
                                    data = response.data;
                                    dt_search_payee.fnClearTable();
                                    for (var i = 0; i < data.length; i++) {
                                        dt_search_payee.fnAddData([i+1,
                                           data[i]["PayeeDetailId"],
                                           data[i]["BIC"],
                                           data[i]["AccountName"],
                                           data[i]["PayeeCode"],
                                           data[i]["BankName"],
                                           data[i]["Accountnumber"],
                                           data[i]["PayeeType"],
                                           data[i]["Address1"],
                                           '<a href="#" onclick="payeeClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                                        ]);
                                    }
                                },
                                failure: function (error) {
                                    swal(error);
                                }
                            });

        }
                function payeeClicked(rowId) {
                            var data = dt_search_payee.DataTable().rows().data();
                            var row = data[rowId];
                            $("#PayeeDetailId").val(row[1]);
                    var bank_account = $("#BankAccount").val();
                    if (row[6] != bank_account) {
                        $("#form_submision").prop('disabled', false);
                        var module = $("#SourceModule").val();
                        if (module == "Contract") {
                            $("#new_account_details").show();
                            $('#account_data').empty();
                            $('<div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>New Bank Name&nbsp;:</strong>&nbsp;' + row[5] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>New Account Name&nbsp:</strong>&nbsp;' + row[3] + '</div></div>').appendTo('#account_data');
                            $('<div class="row"><div class="col-sm-6 col-md-6 col-lg-6"><strong>New Account Number&nbsp:</strong>&nbsp;' + row[6] + '</div></div>').appendTo('#account_data');
                        }
                        else {
                            $("#new_account_details1").show();
                            $('#account_data1').empty();
                            $('<div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>New Bank Name&nbsp;:</strong>&nbsp;' + row[5] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>New Account Name&nbsp:</strong>&nbsp;' + row[3] + '</div></div>').appendTo('#account_data1');
                            $('<div class="row"><div class="col-sm-6 col-md-6 col-lg-6"><strong>New Account Number&nbsp:</strong>&nbsp;' + row[6] + '</div></div>').appendTo('#account_data1');
                        

                        }
                            $(".new_bank").val(row[6]);
                        $("#payeeModal").modal("hide");
                    } else {
                        swal("This currently assigned,Please choose different Bank Account !!!");
                    }


                        }
        //END SEARCH BANK ACCOUNT

        //SEARCH LOCAL PURCHASE ORDER
                  var dt_search_lpo = $('#dt_search_lpo').dataTable({
                    "aoColumnDefs": [{ "bVisible": false, "aTargets": [1, 2, 3,4,5,6] }],
                }
                );
                $("#dt_search_lpo_wrapper .dt-toolbar").remove();
               $("#search_lpo").on("keyup search input paste cut", function () {
                dt_search_lpo.DataTable().search(this.value).draw();
               });
        function SearchLPO() {
            $('#search_lpos').modal('show');
                    var url = '@Url.Action("GetPurchaseOrders", "ChangePayee")';
                    $.ajax({
                        type: "get",
                        url: url,
                        contenttype: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (response) {
                            if (response == "NoLPO") {
                              swal("No any Local Purchase Order satisfy to change Payee Bank Account");
                            }
                            else if (response == "DbException") {
                              swal("Db Exception,Please contact technical supporter ");
                            }
                            else {
                                data = response.data;
                                dt_search_lpo.fnClearTable();
                                for (var i = 0; i < data.length; i++) {

                                    dt_search_lpo.fnAddData([i + 1,
                                    data[i]["PurchaseOrderId"],
                                    data[i]["PayeeBankName"],
                                    data[i]["PayeeCode"],
                                    data[i]["Currency"],
                                    data[i]["PayeeAccountName"],
                                    data[i]["PayeeBankAccount"],
                                    data[i]["PurchaseOrderNo"],
                                    data[i]["PurchaseOrderDesc"],
                                    toLabel(data[i]["PurchaseOrderAmount"]),
                                    data[i]["Payeename"],
                                    '<a href="#" onclick="lpoClicked(' + i + ')"><i class="glyphicon glyphicon-plus-sign"></i></a>'
                                    ]);
                                }
                            }
                        },
                        failure: function (error) {
                            swal(error);
                        }
                    });
        }

     function lpoClicked(rowId) {
        var data = dt_search_lpo.DataTable().rows().data();
            var row = data[rowId];
            $("#PurchaseOrderId").val(row[1]);
            $("#PayeeCode").val(row[3]);
            $("#PurchaseOrderNo").val(row[7]);      
            $("#BankAccount").val(row[6]);
            $("#lpo_details").show();
            $('#lpo_data').empty();
            $('<div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Number&nbsp;:</strong>&nbsp;' + row[7] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;' + row[3] + '</div></div>').appendTo('#lpo_data');
            $('<div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Amount&nbsp;:</strong>&nbsp;' + toLabel(row[9]) + '/='+row[4]+'</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Bank&nbsp:</strong>&nbsp;' + row[2] + '</div></div>').appendTo('#lpo_data');
            $('<div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Description&nbsp:</strong>&nbsp;' + row[8] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Account Name&nbsp;&nbsp:</strong>&nbsp;' + row[5] + '</div></div>').appendTo('#lpo_data');
            $('<div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp:</strong>&nbsp;' + row[10] + '</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Bank Account&nbsp;:</strong>&nbsp;' + row[6] + '</div></div>').appendTo('#lpo_data');
            $("#search_lpos").modal("hide");
    }
        //END SEARCH LOCAL PURCHASE ORDER

        //=============SEARCH GL ACCOUNTS ==================
        var dt_search_gl_item = $('#dt_search_gl_item').dataTable();
            $("#dt_search_gl_item_wrapper .dt-toolbar").remove();
        $("#search_gl").on("keyup search input paste cut", function () {
            $("#search_exp_line").val("");
            dt_search_gl_item.DataTable().search(this.value).draw();
        });


        $(document).ready(function () {
  
           $("#form_submision").click(function () {
   
               var description = $("#ChangeDescription").val();
               if (!description) {
                swal("Please Enter Description!!!!");
                return false;
               }
               var id = 0;
               var module = $("#SourceModule").val();
               if (module == "Contract") {
                   id=$("#ContractId").val();
               } else {
                        id=$("#PurchaseOrderId").val();
               }
                var payeeDetailId=$("#PayeeDetailId").val();
          
                           var form_data = {
                           "SourceId": id,
                           "SourceModule": module,
                           "ChangeDescription": description,
                           "PayeeDetailId":payeeDetailId
                           }
                   $("#form_submision").prop('disabled', true);
               var url = '@Url.Action("SaveBankAccount", "ChangePayee")';
                        $.ajax(
                {
                type: "POST",
                url: url,
                data: form_data,
                success: function (response) {
                   $("#form_submision").prop('disabled', false);
                    if (response == "Success") {
                             swal("Account change saved successfully", { icon: "Success" })
                                    .then((value) => {
                                        var url = '@Url.Action("PendingAccountChange", "ChangePayee")';
                                        window.location.replace(url);
                                    });
                    } else if (response == "Progress") {
                        
                        swal("Still on progress to be changed,Please make sure the previous entered change is approved or cancelled.");
                    }             
                    else {

                        swal("An error has occured DbException,contact technical supporter");

                    }
                },
                error: function (xhr) {
                        $("#form_submision").prop('disabled', false);
                    swal("An error has occured, contact system support");

                },

            });
                   

           });


    });

        $('#PaymentDescription').bind('copy paste cut', function (e) {
            e.preventDefault();
            swal('Paste option is disabled !!');
        });
        $("#PaymentDescription").on('keypress', function (event) {
            var regex = new RegExp("^[0-9a-zA-Z \b]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });
    //SHOW LOADER ICON
    $(document).ajaxStart(function () {
        $(".loadingImg").show();

    });
    //HIDE LOADER ICON
    $(document).ajaxStop(function () {
        $(".loadingImg").hide();
    });

    </script>
}







