@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.VATReceivableVM>
@{
    ViewBag.Title = "VAT Net Payments";

}
<table class="table  table-hover table-condensed">
    <tbody>
        <tr data-level='1'>
            <th>
                Institution Code
            </th>
            <th>
                Institution Name
            </th>
            <th>
                LegalNumber
            </th>
            <th>
                ExchangeRate
            </th>
            <th>
                Check Date
            </th>
            <th>
                Amount
            </th>
        </tr>
        
        @foreach (var item in Model)
        { 
            <tr data-level='1'>
                <td>
                    @item.InstitutionCode
                </td>
                <td>
                    @item.InstitutionName
                </td>
                <td>
                    @item.LegalNumber
                </td>
                <td>
                    @item.ExchangeRate
                </td>
                <td>
                    @Convert.ToDateTime(item.CheckDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @string.Format("{0:#,0.00}", item.VatOperationalAmount)
                </td>
            </tr>
        }
    <tr data-level='1'>
        <th colspan="5">
            Total
        </th>
        <th colspan="5">
            @string.Format("{0:#,0.00}", ViewBag.sumAmoumt)
        </th>
    </tr>
    </tbody>
</table>