@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.VATNetPayment>

@{
    ViewBag.Title = "Examine VAT Net Payment";
}

<div id="divLoader"></div>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Examine VAT Net Payment</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                                <thead>
                                    <tr style="background-color: #f5f5f5; color:black">
                                        <th>#</th>
                                        <th>
                                            InstitutionCode
                                        </th>
                                        <th>
                                            InstitutionName
                                        </th>
                                        <th>
                                            LegalNumber
                                        </th>
                                        <th>
                                            PaymentDesc
                                        </th>
                                        <th>
                                            CheckDate
                                        </th>
                                        <th>
                                            VatOperationalAmount
                                        </th>
                                        <th>
                                            VatBaseAmount
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                @{int i = 0;
                                    //string[] PaymentImprest = new string[20];
                                }

                                @foreach (var item in Model)
                                {
                                    i++;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InstitutionCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InstitutionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LegalNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(NetOperationalAmount => item.PaymentDesc) of  @Convert.ToDateTime(item.CheckDate).ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(item.CheckDate).ToString("dd/MM/yyyy")
                                        </td>
                                        <td style="text-align:right">
                                            @string.Format("{0:#,0.00}", item.VatNetOperationalAmount)
                                        </td>
                                        <td style="text-align:right">
                                            @string.Format("{0:#,0.00}", item.VatNetBaseAmount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OverallStatus)
                                        </td>
                                        <td style="text-align: center">
                                            <!-- Split button -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    @*<li><a href="@Url.Action("Pendingdetails", "SpecialImprest",new {PVNo=item.PVNo })">Detail</a></li>*@
                                                    <li><a href="#" onclick="OpenDialog(`@item.VATNetPaymentId`)">Detail</a></li>
                                                    <li><a href="#" onclick="OpenDialogAssess(`@item.VATNetPaymentId`)">View Assessment</a></li>
                                                    <li><a href="#" onclick="Examinemprest(`@item.VATNetPaymentId`)">Examine</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="VATNetDetails" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">VAT Net Payment</h3>

            </div>
            <div class="modal-body" id="divModalBody">

            </div>
            <div class="modal-footer">

                <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                    <i class="fa fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AssessmentDetails" style="left:4%">

    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Details of Assessment</h3>

            </div>
            <div class="modal-body" id="ModalBody">

            </div>
            <div class="modal-footer">

                <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                    <i class="fa fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            /* // DOM Position key index //

            l - Length changing (dropdown)
            f - Filtering input (search)
            t - The Table! (datatable)
            i - Information (records)
            p - Pagination (paging)
            r - pRocessing
            < and > - div elements
            <"#id" and > - div with an id
            <"class" and > - div with a class
            <"#id.class" and > - div with an id and class

            Also see: http://legacy.datatables.net/usage/features
            */

            /* BASIC ;*/
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $('#dt_basic').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            /* END BASIC */

            /* COLUMN FILTER  */
            var otable = $('#datatable_fixed_column').DataTable({
                //"bFilter": false,
                //"bInfo": false,
                //"bLengthChange": false
                //"bAutoWidth": false,
                //"bPaginate": false,
                //"bStateSave": true // saves sort state using localStorage
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_fixed_column) {
                        responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_fixed_column.respond();
                }

            });

            // custom toolbar
            $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

            // Apply the filter
            $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });
            /* END COLUMN FILTER */

            /* COLUMN SHOW - HIDE */
            $('#datatable_col_reorder').dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_col_reorder) {
                        responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_col_reorder.respond();
                }
            });

            /* END COLUMN SHOW - HIDE */

            /* TABLETOOLS */
            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        {
                            "sExtends": "pdf",
                            "sTitle": "SmartAdmin_PDF",
                            "sPdfMessage": "SmartAdmin PDF Export",
                            "sPdfSize": "letter"
                        },
                        {
                            "sExtends": "print",
                            "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                        }
                    ],
                    "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
                },
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
            });

            /* END TABLETOOLS */

        });

        function OpenDialogAssess(VATNetPaymentId) {
            debugger
            var url = '@Url.Action("Assessment", "NetVatPay")';
            // Access item properties directly
            $("#divLoader").show();

            //var newdate = new Date(dates);
            //var formted = new Date(dates.getFullYear(), dates.getMonth(), dates.getDate());

            $("#ModalBody").load(url, { VATNetPaymentId: VATNetPaymentId }, function (response, status, xhr) {
                $("#divLoader").hide();
                $("#AssessmentDetails").modal("show");
                 if (status == "error") {
                     $("#ModalBody").html("Error on accessing this details, contact system support.");
                 }

            });

            // Use the retrieved data to populate the dialog content
            // ... (populate dialog elements with data)
        }

        function OpenDialog(VATNetPaymentId) {
            debugger
            var url = '@Url.Action("Details", "NetVatPay")';
            // Access item properties directly
            $("#divLoader").show();

            $("#divModalBody").load(url, { VATNetPaymentId: VATNetPaymentId }, function (response, status, xhr) {
                $("#divLoader").hide();
                $("#VATNetDetails").modal("show");
                 if (status == "error") {
                     $("#divModalBody").html("Error on accessing this details, contact system support.");
                 }

            });

            // Use the retrieved data to populate the dialog content
            // ... (populate dialog elements with data)
        }

        var Examinemprest = function (VATNetPaymentId) {
            debugger
            var url = '@Url.Action("NetVatStatus", "NetVatPay")';
            //var Code = Code.toString();
            //var PVNo = Code.slice(2);
            //var PVNo = Code;

            swal({
                title: 'Examine',
                text: "Are you sure you want to Examine this Entry?",
                buttons: [
                    'No',
                    'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    //pageLoading("true");
                    $("#divLoader").show();
                    $.ajax(
                    {
                    type: "POST",
                    url: url,
                    data: { VATNetPaymentId: VATNetPaymentId, status: "examine" },
                    success: function (response) {
                          debugger
                        //pageLoading("false");
                        $("#divLoader").hide();
                        if (response == "Success") {
                            swal("Examine successfully!", { icon: "success" })
                                        .then((value) => {
                                            location.reload();
                                        });
                        }
                        else {
                            swal(response, { icon: "warning" });
                        }
                    },
                    error: function (xhr) {
                        //pageLoading("false");
                        $("#divLoader").hide();
                        console.log('errorResp', xhr.responseText)
                        swal(xhr, { icon: "warning" });
                    },

                });
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

    </script>
}

