@model IFMIS.Areas.IFMISTZ.Models.MuseServiceProvider
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Create MUSE Service Provider</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table align="center">
                                        <tr>
                                            <td class="form-label">
                                                Server Name:
                                                <i class="fa fa-times" style="color:white" id="ServerId_1"></i>
                                            </td>
                                            <td>
                                                <select id="ServerId" style="width:300px">
                                                    <option value="Please choose Server Name" selected="selected">Please choose Server Name</option>
                                                    @foreach (var serverList in ViewBag.Server)
                                                    {
                                                        <option value='@serverList.MuseServerId'>@serverList.ServerName</option>
                                                    }
                                                </select>

                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                Sp Code
                                                <i class="fa fa-times" style="color:white" id="SpCode_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" name="SpCode" id="SpCode" placeholder="Enter SpCode" value="SP" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                Sp Code Name
                                                <i class="fa fa-times" style="color:white" id="SpName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" name="SpName" id="SpName" placeholder="Enter SpCode Name"  style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="form-label">
                                                New Sp Code
                                                <i class="fa fa-times" style="color:white" id="NewSpCode_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container submit-btn">
                                                    <input type="text" name="NewSpCode" id="NewSpCode" placeholder="Enter New SpCode" value="SP99" style="width:300px" />
                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                            <br />
                            <div class="form-actions">
                                <div class="row">

                                    <div class="col-md-8">

                                        <a class="btn btn-info" href='@Url.Action("ServiceProviderList", "MuseServiceProviders")' style="margin-right:5px">
                                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                                        </a>
                                        <button type="submit" class="btn btn-info" id="btnSave">
                                            <i class="fa fa-save"></i>Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>


        $("#btnSave").click(function () {

            var serverName = $("#ServerId").val();
            var spCode = $("#SpCode").val();
            var spCodeName = $("#SpName").val();
            var newSpCode = $("#NewSpCode").val();

            if (serverName == 'Please choose Server Name') {
                swal("Server Name is Required")
                    .then((j) =>{
                        $("#ServerId").focus();
                        $("#ServerId").css({ 'border-color': 'red' });

                    });

            } else if (spCode == 'SP') {
                swal("sp code is Required")
                    .then((j) => {
                        $("#SpCode").focus();
                        $("#SpCode").css({ 'border-color': 'red' });

                    });

            } else if (spCodeName == '') {
                swal("sp code Name  is Required")
                    .then((j) => {
                        $("#SpName").focus();
                        $("#SpName").css({ 'border-color': 'red' });

                    });

            } else if (newSpCode == 'SP99') {
                swal("New sp code is Required")
                    .then((j) => {
                        $("#NewSpCode").focus();
                        $("#NewSpCode").css({ 'border-color': 'red' });

                    });

            }

            else {
                $("#ServerId").css({ 'border-color': '' });
                $("#SpCode").css({ 'border-color': '' });
                $("#SpName").css({ 'border-color': '' });
                $("#NewSpCode").css({ 'border-color': '' });

                var form_data = {

                    "ServerId": $("#ServerId").val(),
                    "SpCode": $("#SpCode").val(),
                    "SpName": $("#SpName").val(),
                    "NewSpCode": $("#NewSpCode").val(),

                }


                console.log(form_data);

                var url = '@Url.Action("CreateServiceProvider", "MuseServiceProviders")';
                var urlList = '@Url.Action("ServiceProviderList", "MuseServiceProviders")';

                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        } else if (response == "Duplicate") {
                            swal("Duplicate Configuration!", { icon: "warning" })
                                .then((value) => {
                                    window.location.href = url;
                                });
                        }
                        else {
                            swal(response);
                        }
                    },
                    failure: function (error) {

                        swal(error);
                    }
                });
            }

        });

    </script>
}
