@model IFMIS.Areas.Coadmis.DTO.AuditorCommentVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "commentForm" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.HiddenFor(model => model.ModuleId)
            @Html.HiddenFor(model => model.ModuleName)
            @Html.HiddenFor(model => model.OverallStatus)
            @Html.HiddenFor(model => model.Source)
            @Html.HiddenFor(model => model.Destination)
            @Html.HiddenFor(model => model.StepNo)
            @Html.HiddenFor(model => model.IsRejected)
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @cols = 10, @rows = 2, @style = "resize:both;" })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}
