@model IFMIS.Areas.Coadmis.Models.RejectionCommentVM
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "commentForm" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ModuleId)
    @Html.HiddenFor(model => model.ModuleName)
    @Html.HiddenFor(model => model.RejectionStatus)
    @Html.HiddenFor(model => model.RejectionSource)
    @Html.HiddenFor(model => model.RejectTo)
    @Html.HiddenFor(model => model.IsRejected)
    <div class="form-group">
        @Html.LabelFor(model => model.AuditorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.AuditorId, Model.RejectTos, "Select Person", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AuditorId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @*(<span style="font-weight:bold;" id="RemarkCount">500 Characters Remaining</span>)*@
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}
<script>
    $(document).ready(function () {
        $("#AuditorId").select2({
            dropdownParent: $("#commentForm")
        });
    });
</script>