@model IFMIS.Areas.Coadmis.DTO.AuditorMnagementCommentVM
<style>
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "commentForm" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ModuleId)
    @Html.HiddenFor(model => model.ModuleName)
    @Html.HiddenFor(model => model.ModuleLevel)
    @Html.HiddenFor(model => model.OverallStatus)
    @Html.HiddenFor(model => model.Source)
    @*@Html.HiddenFor(model => model.Destination)*@
    @Html.HiddenFor(model => model.StepNo)
    @Html.HiddenFor(model => model.IsRejected)
    @Html.HiddenFor(model => model.Ids)
    <div class="form-group">
        @Html.LabelFor(model => model.AuditorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.AuditorId, Model.AssignedTos, "Select Person", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AuditorId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Name, ViewBag.Roles as SelectList, "Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AuditOpinionId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.AuditOpinionId, ViewBag.AuditOpinions as SelectList, "Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AuditOpinionId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @type = "file" })
            @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
}
<script>  
    $(document).ready(function () {
        $("#Name").select2({
            dropdownParent: $("#form-modal")
        });

        $("#AuditorId").select2({
            dropdownParent: $("#form-modal")
        });

        $("#AuditOpinionId").select2({
            dropdownParent: $("#form-modal")
        });
    });
</script>


