<div class="panel-body">
    <div>
        <ul class="timeline">
            @foreach (var item in ViewBag.Comment)
            {
                <li>

                    <p>Destination:<strong> @item.Destination</strong></p>
                    <a href="#">Prepared By: <strong>@item.CreatedBy</strong></a>
                    <a href="#" class="float-right">@item.CreatedAt</a>
                    <p>@item.Remarks</p>

                    @if (!(item.FileName == null || item.FileName == ""))
                    {
                        <a href="@Url.Action("ViewCommentDoc", "Inspections", new { fileName = item.ManagementResponseAttachment })" target="_blank">
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            Preview
                        </a>
                    }
                    <p>Status:<strong>@item.OverallStatus</strong></p>
                  
                </li>
            }
        </ul>
        
    </div>
</div>