<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <article class="col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Create PO User Access</h2>
                </header>
                <div class="widget-body">
                    <table>
                        <tr>
                            <td style="width:100px"></td>
                            <td class="form-label">
                                User Name
                                <i class="fa fa-times" style="color:white" id="UserName_1"></i>
                            </td>
                            <td>
                                <div class="name-input-container">
                                    <input type="text" readonly id="UserName" placeholder="No User Selected" style="width:260px" />
                                    <a class="search-btn" onclick="SearchUser()"
                                       href="#" style="float:right">
                                        <i class="fa fa-search search-icon"></i>
                                    </a>
                                </div>
                            </td>
                            <td style="width:100px"></td>
                            <td class="form-label">
                                Account Number
                                <i class="fa fa-times" style="color:white" id="AccountNumber_1"></i>
                            </td>
                            <td>
                                <div class="name-input-container">
                                    <input type="text" readonly id="AccountNumber" placeholder="No Account Selected" style="width:260px" />
                                    <a class="search-btn" onclick="SearchAccount()"
                                       href="#" style="float:right">
                                        <i class="fa fa-search search-icon"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-6" style="padding-bottom:10px">
                        <a class="btn btn-info" href='@Url.Action("UserPOAccessEntry", "UserPOAccess")' style="margin-right:5px">
                            <i class="glyphicon glyphicon-arrow-left"></i>Back
                        </a>
                        <button id="saveBtn" class="btn btn-info" onclick="createUserPOAccount()">
                            <i class="fa fa-save"></i>Save
                            <img src="~/Content/img/loading.gif" id="saveLoader" />
                        </button>
                    </div>
                </div>
            </div>
        </article>

    </section>
</div>

<!----------- Search User ----------------->
<div class="modal fade" id="userModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Search User</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>VoteName</th>
                            <th>VoteCode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------- Search Account ----------------->
<div class="modal fade" id="accountModal" style="left:4%">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Search Account</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox1">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Account Name</th>
                            <th>Account Number</th>
                            <th>Institution Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

@section pagespecific{
    <script>
        var dt_table = $('#dt_table').dataTable();

        $("#dt_table_wrapper .dt-toolbar").remove();

        var dt_table1 = $('#dt_table1').dataTable();
        $("#dt_table1_wrapper .dt-toolbar").remove();


        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_table.fnClearTable();
            } else {
                if (this.value.length > 3) {
                    searchUser(this.value);
                }
            }
        });

        $("#searchbox1").on("keyup search input paste cut", function () {
            dt_table1.DataTable().search(this.value).draw();
        });

        var data = []

        function searchUser(userName) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetUsers", "UserPOAccess")',
                data: { userName },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_table.fnAddData([i + 1,
                           data[i]["UserName"],
                           data[i]["VoteName"],
                           data[i]["VoteCode"],
                           `<a href="#" onclick="payeeClicked('${data[i].Id}')"><i class="glyphicon glyphicon-plus-sign"></i></a>`
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

        var accounts = []
        function searchAccount() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetInstitutionAccounts", "UserPOAccess")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    accounts = response.data;
                    console.log(accounts)
                    dt_table1.fnClearTable();
                    for (var i = 0; i < accounts.length; i++) {
                        dt_table1.fnAddData([i + 1,
                           accounts[i]["AccountNumber"],
                           accounts[i]["AccountName"],
                           accounts[i]["InstitutionCode"],
                           `<a href="#" onclick="accountClicked('${accounts[i].InstitutionAccountId}')"><i class="glyphicon glyphicon-plus-sign"></i></a>`
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        searchAccount()
        function SearchUser() {
            $('#userModal').modal('show');
        }

        function SearchAccount() {
            $('#accountModal').modal('show');
        }

        var selectedUser = null
        function payeeClicked(Id) {
            $('#userModal').modal('hide');
            selectedUser = data.filter(a=>a.Id == Id)[0]
            $("#UserName").val(selectedUser.UserName);
        }

        var selectedAccount = null
        function accountClicked(Id) {
            $('#accountModal').modal('hide');
            selectedAccount = accounts.filter(a=>a.InstitutionAccountId == Id)[0]
            $("#AccountNumber").val(selectedAccount.AccountNumber);
        }

        $("#saveLoader").toggle(false);

        function createUserPOAccount() {
            if (selectedUser && selectedAccount) {
                createUserPOAccountPOST({
                    userId: selectedUser.Id,
                    userName: selectedUser.UserName,
                    instAccountId: selectedAccount.InstitutionAccountId
                })
            } else {
                swal("All fields are required..!")
            }
        }

        function createUserPOAccountPOST(form) {
            $("#saveBtn").prop('disabled', false);
            $("#saveLoader").toggle(true);
            console.log(form)
            $.ajax({
                type: "POST",
                url: '@Url.Action("UserPOAccessCreate", "UserPOAccess")',
                data: form,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#saveBtn").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.href = '@Url.Action("UserPOAccessEntry", "UserPOAccess")';
                            });
                    } else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#saveBtn").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error);
                }
            });
        }

    </script>
}


