@{
    ViewBag.Title = "Coa Segment";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    textarea {
        border: 1px solid #ccc;
    }


    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                                <div style="margin-bottom: 2%">
                                    <a class="btn btn-info" href='@Url.Action("CreateCoaSegment", "CoaSegments")'>
                                        <i class="glyphicon glyphicon-plus"></i> Add New
                                    </a>
                                </div>
                            <div class="row" style="width:100%">
                                <div class="col-md-3">
                                    <div class="search-container" >
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            <div style="margin-left: 90%" id="dt_coasegment_wrapper" class="dataTables_wrapper">
                              
                              <select name="pageLenth" id="pageLenth" aria-controls="dt_coasegment" class="form-control">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    </select>
                             </div>
                              
                            </div>

                            <table id="dt_coasegment" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Segment Code</th>
                                        <th>Segment Name</th>
                                        <th>Segment Desc</th>
                                        <th>Segment No</th>
                                        <th>Segment Length</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!----------- EDIT DIALOG ----------------->
<div class="modal fade" id="editModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Edit Coa Segment</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:10px">
                        <div class="row" style="padding:0% 5% 0 5%;">
                            <div class="col-md-6 col-lg-6 col-sm-12" style="padding:1% 0 1% 25%">
                                <table>
                                    <tr>
                                        <td class="form-label">
                                            COA Version
                                            <i class="fa fa-times" style="color:white" id="COAVersion_1"></i>
                                        </td>
                                        <td>
                                            <select id="COAVersion" style="width:300px">
                                                @foreach (var version in ViewBag.versions)
                                                {
                                                    <option value='@version.CoaVersionId'> @version.CoaName</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">
                                            COA Segment Name
                                            <i class="fa fa-times" style="color:white" id="COASegmentName_1"></i>
                                        </td>
                                        <td>
                                            <select id="COASegmentName" style="width:300px">
                                                @foreach (var param in ViewBag.segmentParams)
                                                {
                                                    <option value='@param.SegmentParameterId'> @param.SegmentName</option>
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">
                                            COA Segment Code
                                            <i class="fa fa-times" style="color:white" id="COASegmentCode_1"></i>
                                        </td>
                                        <td>
                                            <input style="width:300px" type="text" id="COASegmentCode" >
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">
                                            Segment Description
                                            <i class="fa fa-times" style="color:white" id="SegmentDescription_1"></i>
                                        </td>
                                        <td>
                                            <textarea style="width:300px" type="text" id="SegmentDescription"></textarea>
                                        </td>
                                    </tr>
                                </table>
                                <br />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" onclick="save()" style="width:100px;">
                        <i class="fa fa-save"></i>Save
                    </button>
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{

    <script>
        // ============ INIT DATA TABLES START =====================
 

         var dt_coasegment = $('#dt_coasegment').dataTable();

       $("#dt_coasegment_wrapper .dt-toolbar").remove();
       
        $("#searchbox").on("keyup search input paste cut", function () {
            if (!this.value) {
                dt_coasegment.fnClearTable();
            } else {
                searchTableUpdate(this.value);
            }
        });
      $("#pageLenth").on("keyup search input paste cut", function () {


              if (!this.value) {
                searchpage(10);
            } else {
                searchpage(this.value);
            }
          } );

        function searchTableUpdate(search) {
            var url = '@Url.Action("SearchCoaSegment", "CoaSegments")';
            $.ajax({
                type: "get",
                url: url + "/?search=" + search + "",
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    dt_coasegment.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_coasegment.fnAddData([i + 1,
                           data[i]["SegmentCode"],
                           data[i]["SegmentName"],
                           data[i]["SegmentDesc"],
                           data[i]["SegmentNo"],
                           data[i]["SegmentLength"],
                           actionTemplate(i)
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        // ====================== LOAD TABLE DATA START =====================
        var data = [];
        function loadTableData() {
            $.ajax({
                type: "get",
                url: '@Url.Action("GetCoaSegment", "CoaSegments")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    console.log(data);
                    dt_coasegment.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_coasegment.fnAddData([i + 1,
                           data[i]["SegmentCode"],
                           data[i]["SegmentName"],
                           data[i]["SegmentDesc"],
                           data[i]["SegmentNo"],
                           data[i]["SegmentLength"],
                           actionTemplate(i)
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        loadTableData();



        function actionTemplate(i) {
            return '<div class="btn-group">\
                       <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                          <span class="caret"></span\
                                     <span class="sr-only"></span>\
                         </button>\
                        <ul class="dropdown-menu">\
                      <li><a href="#" onclick="edit(' + i + ')">Edit</a></li>\
                      <li><a href="#" onclick="Cancel(' + i + ')">Cancel</a></li>\
                   </ul>\
          </div>'
        }

        function Cancel(i) {
       
            var id = data[i]["CoaSegmentId"];

            status = "Cancelled";
            swal({
                title: "Are you sure?",
                text: "CoaSegment will be Cancelled!",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    ChangeItemStatus(id, status);

                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function ChangeItemStatus(id, status) {
            var url = '@Url.Action("ChangeStatus", "CoaSegments")';
            $.ajax({
                type: "post",
                url: url,
                data: {
                    Status: status,
                    CoaSegmentId: id
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {

                    if (response == "Success") {
                        swal("Changed Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }

                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
    

        var globalCoaId = 0;
        function edit(i) {
            globalCoaId = i;
            $("#COASegmentCode").val(data[i]["SegmentCode"]);
            $("#SegmentDescription").val(data[i]["SegmentDesc"]);
            $("#COAVersion").val(data[i]["CoaVersionId"]);
            $("#COASegmentName").val(data[i]["SegmentParameterId"]);
            validateInputsParameters(["#COASegmentCode", "#SegmentDescription"])
            $("#editModal").modal('show');
        }

      function save() {
            if (voucherSummaryFormValidation()) {
                commitForm()
            } else {
                swal("Please fix form Errors")
            }
        }

        function commitForm() {
            $.ajax({
                type: "post",
                url: '@Url.Action("EditCoaSegment", "CoaSegments")',
                data: {
                    segmentId: data[globalCoaId]["CoaSegmentId"],
                    createCoaSegmentVm:{
                        cOAVersionId: $("#COAVersion").val(),
                        cOASegmentId: $("#COASegmentName").val(),
                        cOASegmentCode: $("#COASegmentCode").val(),
                        segmentDescription: $("#SegmentDescription").val(),
                    }
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" })
                            .then((value) => {
                                window.location.reload();
                            });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    $("#form_submision").prop('disabled', false);
                    $("#saveLoader").toggle(false);
                    swal(error);
                }
            });
        }

        function voucherSummaryFormValidation() {
            var isNotValid = validateInputsParameters([
                "#COASegmentCode",
                "#SegmentDescription",
            ]);

            if (isNotValid) {
                $(isNotValid + "_1").attr("style", "color: red;");
                return false
            }
            return true
        }

        function validateInputsParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i] + "_1").attr("style", "color: white;");
                }
            }

            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val().trim()) {
                    return parameterList[i];
                }
            }
            return null;
        }
    </script>
}
