@model IFMIS.Areas.RecurrentPayment.Models.PaymentBatch

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaymentBatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundingRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundingRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundingBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundingBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundingAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundingAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundedAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundedAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundedAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundedAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundedBankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundedBankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrefundedBIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrefundedBIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceBIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceBIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountFunded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountFunded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoTrx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoTrx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceBankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceBankName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
