@model IFMIS.Areas.IFMISTZ.Models.RetentionVM

@if (Model.ReservedRetention.Count() > 0)
{

    <table class="table  table-bordered table-hover table-condensed" id="dt_retention">
        <caption><strong>Reserved Retention for ContactNo :@Html.DisplayFor(model => model.ContractNo)</strong></caption>
        <thead>
            <tr>
                <th style="text-align:right;width:3%">#</th>
                <th style="text-align:left;">
                    ReceivingNumber
                </th>
                <th style="text-align:right">
                    RetentionAmount(@Html.DisplayFor(model => model.Currency))
                </th>
                <th style="text-align:left">
                    VoucherNumber
                </th>
                <th style="text-align:left">
                    VoucherStatus
                </th>
                <th style="text-align:left">
                    TransferRefNum
                </th>
                <th style="text-align:left">
                    TransferStatus
                </th>
                <th style="text-align:center;width:6%">Action</th>

            </tr>
        </thead>

        <tbody>
            @{var i = 0;}
            @foreach (var item in Model.ReservedRetention)
            {
                i++;

                <tr>
                    <td style="text-align:right">
                        @i
                    </td>
                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.ReceivingNumber)

                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.RetentionAmount)
                    </td>
                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.VoucherNumber)
                    </td>

                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.VoucherStatus)
                    </td>
                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.TransferRefNum)
                    </td>

                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.TransferStatus)
                    </td>

                    <td style="text-align:left">
                        @if (item.Repost)
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li><a href="#" onclick="repostTransfer(@item.Id,@item.SourceId)" class="btn-xs edit"><i class="fa fa-edit"></i> Repost</a></li>
                                </ul>
                            </div>
                        }
                    </td>

                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2" style="text-align:right">TOTAL RESERVED RETENTION</th>
                <th style="text-align:right">
                    <strong>
                        @Html.DisplayFor(model => model.TotalReservedAmount)
                    </strong>
                </th>
                <th colspan="5"></th>
            </tr>
        </tfoot>
    </table>

    if (Model.RetentionPayments.Count() > 0)
    {
        <table class="table  table-bordered table-hover table-condensed" id="dt_payment">
            <caption><strong>Retention Payment</strong></caption>
            <thead>
                <tr>
                    <th style="text-align:right;width:3%">#</th>
                    <th style="text-align:left;">
                        Legal Number
                    </th>
                    <th style="text-align:right">
                        AmountPaid(@Html.DisplayFor(model => model.Currency))
                    </th>
                    <th style="text-align:left">
                        Payee Name
                    </th>
                    <th style="text-align:left">
                        Status
                    </th>
                    <th style="text-align:left">
                        Created At
                    </th>
                    <th style="text-align:left">
                        Voucher Number
                    </th>
  
                </tr>
            </thead>

            <tbody>
                @{var j = 0;}
                @foreach (var item in Model.RetentionPayments)
                {
                    j++;

                    <tr>
                        <td style="text-align:right">
                            @j
                        </td>
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.LegalNumber)

                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.OperationAmount)
                        </td>
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.PayeeName)
                        </td>

                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.OverallStatus)
                        </td>
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>

                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.PVNo)
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2" style="text-align:right">TOTAL PAID</th>
                    <th style="text-align:right">
                        <strong>
                            @Html.DisplayFor(model => model.TotalPaidAmount)
                        </strong>
                    </th>
                    <th colspan="4"></th>
                </tr>
                <tr>
                    <th colspan="2" style="text-align:right">BALANCE</th>
                    <th style="text-align:right">
                        <strong>
                            @Html.DisplayFor(model => model.Balance)
                        </strong>
                    </th>
                    <th colspan="4"></th>
                </tr>
            </tfoot>
        </table>
    }

}
else
{
    <h3>No retention reserved to this Contract</h3>
}



