@model IEnumerable<IFMIS.Areas.ALS.Models.LoanClearanceTrackerVM>
    <table id="dt_basic" class="table table-striped table-bordered table-hover table-condensed" width="100%">
        <thead>
            <tr style="background-color: #f5f5f5; color:black">
                <th>#</th>
                <th>Check Number</th>
                <th>Full Name</th>
                <th>Loan Number</th>
                <th>Bill Amount(TZS)</th>
                <th>Amount Paid(TZS)</th>
                <th>Outstanding Amount (TZS)</th>
                <th>Clearance Type</th>
                <th>Status</th>
                <th style="width:30px">Actions</th>
            </tr>
        </thead>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(modelItem => item.CheckNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.LoanNumber)</td>

                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.BillAmount, "_DecimalThousands")
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.AmountPaid, "_DecimalThousands")
                </td>
                <td style="text-align: right">
                    @Html.DisplayFor(modelItem => item.OutstandingAmount, "_DecimalThousands")
                </td>

                <td>@Html.DisplayFor(modelItem => item.ClearanceType)</td>
                <td>@Html.DisplayFor(modelItem => item.OverallStatus)</td>

            
                <td style="text-align:center">

                    <div class="btn-group">
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" style="width:40px;border-radius:1px;" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">

                            <li>
                                @if (item.ClearanceType == "By Control Number")
                                {
                                    <a href="@Url.Action("LoanClearancesDetails", "LoanClearances", new { id = item.LoanClearanceId })" class="btn-xs edit">
                                        <i class="fa fa-edit"></i>  Details
                                    </a>
                                }
                             </li>
                        </ul>
                    </div>
                </td>


            </tr>
        }
        </table>


<script>
    $(function () {
        $("#dt_basic").DataTable({

        })
    })
</script>
