@model IFMIS.Areas.ALS.Models.LoanClearanceVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 8px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    input {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    td {
        padding: 5px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .ico {
        margin-right: 5px;
    }

    .btn-size {
        width: 90px;
    }

    .backgroundChange {
        background-color: #80cbc4;
        font-weight: bold;
        color: white
    }

    .blink-anim {
        transition: background-color 0.05s ease-in-out;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false"
                     data-widget-custombutton="false" data-widget-colorbutton="false"
                     data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Loan Clearence Entry</h2>

                    </header>

                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <div class="row">
                                @*<div class="col-lg-3 col-sm-3 col-xs-3">
                                    <div class="input-group"><input class="form-control" id="checkNumber" name="checkNumber" type="text" autocomplete="off" /><span class="input-group-btn"><button class="btn shiny  " id="search" onclick="SearchCustomer()">Search</button></span></div>
                                </div>*@
                                <div class="col-sm-6">

                                    <table style="margin-left: 2%">
                                        <tr>
                                            <td class="form-label">
                                                Loan Type

                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.LoanCode, Model.LoansList, "Select ---", new { @class = "form-control select2" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Customer Name
                                                <i class="fa fa-times" style="color:white" id="VendorName_1"></i>
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="VendorName" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                LoanCtrlNo
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="LoanCtrlNo" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Original Amount
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="OriginalAmount" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Loan Balance
                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <input type="text" id="LoanBalance" style="width:300px" disabled />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-sm-6">
                                    <table style="margin-left: 2%">
                                        <tr>
                                            <td class="form-label">
                                                CheckNo

                                            </td>
                                            <td>
                                                <div class="name-input-container">
                                                    <div class="input-group"><input class="form-control" id="CheckNo" name="checkNumber" placeholder="Check Number" type="text" autocomplete="off" /><span class="input-group-btn"><button class="btn shiny  " id="search" onclick="SearchCustomer()">Search</button></span></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Amount
                                                <i class="fa fa-times" style="color:white" id="Amount_1"></i>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <strong class="currency">TZS</strong>
                                                    </span>
                                                    <input type="text" style="width:255px" name="Amount" id="Amount" autocomplete="off">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="form-label">
                                                Clearance By
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                @Html.DropDownList("ClearanceType", new List<SelectListItem>{
                                                        new SelectListItem{ Text="--Select--", Value = "" },
                                                        new SelectListItem{ Text="Bank Slip", Value = "Bank Slip" },
                                                }, new { @class = "form-control" })
                                            </td>
                                        </tr>
                                        <tr id="bank_clearance">
                                            <td class="form-label">
                                                Reference Number
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" name="ReferenceNo" id="ReferenceNo" placeholder="Receipt number">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Apply Date
                                                <i class="fa fa-times" style="color:white"></i>
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ApplyDate, new { htmlAttributes = new { @class = "form-control" } })
                                            </td>
                                        </tr>
                                    </table>
                                    <div align="center">
                                        <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="padding:20px">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <a class="btn btn-info" href='@Url.Action("PendingClearances", "LoanClearances")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </a>
                            <button type="button" id="form_submision" class="btn btn-info" onclick="saveData()">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific {
    <script>
        $("#saveLoader").toggle(false)
        var loanApplId = 0;
        var clearance = null;
        function saveData() {
            if (loanApplId==0) {
                swal("Please select customer");
                return false;
            }
            if (!$("#Amount").val()) {
                swal("Please enter amount");
                return false;
            }
            var clearance = $("#ClearanceType").val();

            if (!clearance) {
                swal("Please select clearance type");
                return false;
            }
                var referenceNo=$("#ReferenceNo").val();

                if (!referenceNo) {
                    swal("Please enter Reference Number");
                    return false;
            }

            var applyDate = $("#ApplyDate").val();

            if (!applyDate) {
                swal("Please Select Date");
                return false;
            }
                $("#form_submision").prop('disabled', true);
                $("#saveLoader").toggle(true);

            var amount = parseFloat($("#Amount").val().split(",").join(""));
            var loanCode = $("#LoanCode").val();
            if (loanCode == "") {
                swal("Please select Loan Type" + loanCode);
                return;
            }
                var form_data = {
                    "LoanApplId": loanApplId,
                    "Amount": amount,
                    "ReferenceNo": referenceNo,
                    "ApplyDate": applyDate,
                    "LoanCode": loanCode
                }

                      var url = '@Url.Action("SaveData", "LoanClearances")';
                                    $.ajax(
                                {
                                    type: "POST",
                                    url: url,
                                    data: form_data,
                                    success: function (response) {
                                    if (response == "Success") {
                                        swal("Saved Successfully!", { icon: "success" })
                                            .then((value) => {
                                                window.location.href = '@Url.Action("PendingClearances", "LoanClearances")';
                                            });
                                    } else {
                                      $("#form_submision").prop('disabled', false);
                                        swal(response);
                                    }
                            },
                            error: function (xhr) {
                                $("#form_submision").prop('disabled', false);
                                swal("An error has occured, contact system supporter");

                            },

                        });

            
           

        }


        $("#Amount").autoNumeric('init');
      
        function SearchCustomer() {
            var checkNo = $("#CheckNo").val();
            var loanCode = $("#LoanCode").val();
            if (loanCode=="") {
                swal("Please select Loan Type" + loanCode);
                return;
            }

            if (checkNo) {
                  var url = '@Url.Action("GetCustomer", "LoanClearances")';
            $.ajax({
                type: "GET",
                url: url,
                data: { checkNo, loanCode },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (result) {
                    if (result.response == "Success") {
                        loanApplId = result.data.LoanApplId;
                        $("#LoanCtrlNo").val(result.data.LoanCtrlNum);
                        $("#VendorName").val(result.data.VendorName);
                        $("#CheckNo").val(result.data.CheckNo);
                        $("#LoanCode").val(result.data.LoanCode);
                        $("#OriginalAmount").val(toLabel(result.data.LoanApprovedAmount));
                        $("#LoanBalance").val(toLabel(result.data.LoanBalance));
                        if (result.data.RecoveryMode == "SALARY") {
                            $("#Amount").val(toLabel(result.data.LoanBalance));
                           /* $("#Amount").prop('readonly', true);*/
                        } else {
                           /* $("#Amount").prop('readonly', false);*/
                        }
                    }
                    else {
                        swal(result.data);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });

            } else {
                swal("Ënter Check Number");
            }

        }
        //SHOW LOADER ICON
        $(document).ajaxStart(function () {
            $(".loadingImg").show();

        });
        //HIDE LOADER ICON
        $(document).ajaxStop(function () {
            $(".loadingImg").hide();
        });

    </script>
}